<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2012-01-26 18:30:00
</td>
<td align="right">
   31.68
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Fri: 2012-01-27 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 15:00:00
</td>
<td align="right">
  369.62
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   -3.62
</td>
<td>
Fri: 2012-01-27 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 15:05:00
</td>
<td align="right">
  368.50
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   -3.00
</td>
<td>
Fri: 2012-01-27 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 15:10:00
</td>
<td align="right">
  368.61
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   -3.17
</td>
<td>
Fri: 2012-01-27 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 15:15:00
</td>
<td align="right">
  367.87
</td>
<td align="right">
 -.93
</td>
<td>
Sell
</td>
<td align="right">
   -2.80
</td>
<td>
Fri: 2012-01-27 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 15:20:00
</td>
<td align="right">
  366.02
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   -1.36
</td>
<td>
Fri: 2012-01-27 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 15:25:00
</td>
<td align="right">
  366.36
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   -1.87
</td>
<td>
Fri: 2012-01-27 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 15:30:00
</td>
<td align="right">
  367.27
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
   -2.67
</td>
<td>
Fri: 2012-01-27 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 15:35:00
</td>
<td align="right">
  367.63
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
   -3.53
</td>
<td>
Fri: 2012-01-27 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 15:40:00
</td>
<td align="right">
  366.72
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   -2.44
</td>
<td>
Fri: 2012-01-27 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 15:45:00
</td>
<td align="right">
  366.74
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   -2.42
</td>
<td>
Fri: 2012-01-27 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 15:55:00
</td>
<td align="right">
  366.00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   -1.54
</td>
<td>
Fri: 2012-01-27 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 16:10:00
</td>
<td align="right">
  365.44
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   -1.34
</td>
<td>
Fri: 2012-01-27 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 16:15:00
</td>
<td align="right">
  365.07
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
   -1.54
</td>
<td>
Fri: 2012-01-27 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 16:30:00
</td>
<td align="right">
  364.60
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   -1.35
</td>
<td>
Fri: 2012-01-27 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 16:45:00
</td>
<td align="right">
  364.32
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   -1.16
</td>
<td>
Fri: 2012-01-27 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 18:05:00
</td>
<td align="right">
  365.90
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.99
</td>
<td>
Fri: 2012-01-27 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 18:10:00
</td>
<td align="right">
  365.50
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.71
</td>
<td>
Fri: 2012-01-27 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 18:15:00
</td>
<td align="right">
  365.34
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Fri: 2012-01-27 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 18:25:00
</td>
<td align="right">
  365.05
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Fri: 2012-01-27 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 18:30:00
</td>
<td align="right">
  365.05
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Fri: 2012-01-27 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 18:45:00
</td>
<td align="right">
  364.49
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .41
</td>
<td>
Fri: 2012-01-27 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 18:50:00
</td>
<td align="right">
  365.24
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.53
</td>
<td>
Fri: 2012-01-27 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 18:55:00
</td>
<td align="right">
  365.05
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Fri: 2012-01-27 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 19:15:00
</td>
<td align="right">
  365.20
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Fri: 2012-01-27 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 19:35:00
</td>
<td align="right">
  364.41
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    2.17
</td>
<td>
Fri: 2012-01-27 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 19:45:00
</td>
<td align="right">
  364.90
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    1.37
</td>
<td>
Fri: 2012-01-27 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 19:50:00
</td>
<td align="right">
  364.71
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .95
</td>
<td>
Fri: 2012-01-27 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-26 19:55:00
</td>
<td align="right">
  364.82
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    1.37
</td>
<td>
Fri: 2012-01-27 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-01-26 15:20:00
</td>
<td align="right">
   45.90
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Fri: 2012-01-27 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-01-26 15:25:00
</td>
<td align="right">
   45.91
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Fri: 2012-01-27 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-01-26 15:35:00
</td>
<td align="right">
   45.75
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Fri: 2012-01-27 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-01-26 15:50:00
</td>
<td align="right">
   45.77
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Fri: 2012-01-27 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-01-26 16:10:00
</td>
<td align="right">
   45.70
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Fri: 2012-01-27 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-01-26 16:15:00
</td>
<td align="right">
   45.73
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Fri: 2012-01-27 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-01-26 16:50:00
</td>
<td align="right">
   45.81
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Fri: 2012-01-27 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-01-26 17:05:00
</td>
<td align="right">
   45.73
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2012-01-27 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-01-26 17:30:00
</td>
<td align="right">
   45.67
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Fri: 2012-01-27 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-01-26 17:40:00
</td>
<td align="right">
   45.70
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Fri: 2012-01-27 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-01-26 17:45:00
</td>
<td align="right">
   45.65
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Fri: 2012-01-27 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-01-26 17:55:00
</td>
<td align="right">
   45.75
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Fri: 2012-01-27 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-01-26 18:05:00
</td>
<td align="right">
   45.75
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Fri: 2012-01-27 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-26 15:05:00
</td>
<td align="right">
  127.88
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.33
</td>
<td>
Fri: 2012-01-27 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-26 16:30:00
</td>
<td align="right">
  127.69
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Fri: 2012-01-27 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-26 16:35:00
</td>
<td align="right">
  127.66
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Fri: 2012-01-27 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-26 18:20:00
</td>
<td align="right">
   65.52
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.95
</td>
<td>
Fri: 2012-01-27 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-26 18:40:00
</td>
<td align="right">
   65.30
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.50
</td>
<td>
Fri: 2012-01-27 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-26 18:50:00
</td>
<td align="right">
   65.28
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Fri: 2012-01-27 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-26 19:40:00
</td>
<td align="right">
   64.80
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2012-01-27 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-26 20:00:00
</td>
<td align="right">
   65.20
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-26 20:05:00
</td>
<td align="right">
   65.15
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-26 20:30:00
</td>
<td align="right">
   64.78
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-26 20:35:00
</td>
<td align="right">
   64.80
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-26 20:40:00
</td>
<td align="right">
   64.82
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-26 15:10:00
</td>
<td align="right">
  116.90
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.71
</td>
<td>
Fri: 2012-01-27 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-26 15:30:00
</td>
<td align="right">
  115.40
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .69
</td>
<td>
Fri: 2012-01-27 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-26 15:35:00
</td>
<td align="right">
  115.72
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Fri: 2012-01-27 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-26 15:40:00
</td>
<td align="right">
  116.36
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.46
</td>
<td>
Fri: 2012-01-27 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-26 16:05:00
</td>
<td align="right">
  116.09
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.72
</td>
<td>
Fri: 2012-01-27 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-26 16:20:00
</td>
<td align="right">
  115.30
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Fri: 2012-01-27 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-26 16:25:00
</td>
<td align="right">
  115.21
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Fri: 2012-01-27 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-26 16:45:00
</td>
<td align="right">
  115.33
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Fri: 2012-01-27 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-26 16:55:00
</td>
<td align="right">
  116.15
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.60
</td>
<td>
Fri: 2012-01-27 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-26 17:00:00
</td>
<td align="right">
  115.51
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Fri: 2012-01-27 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-26 17:05:00
</td>
<td align="right">
  115.37
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .67
</td>
<td>
Fri: 2012-01-27 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-26 17:10:00
</td>
<td align="right">
  115.44
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .79
</td>
<td>
Fri: 2012-01-27 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-26 17:15:00
</td>
<td align="right">
  115.38
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .84
</td>
<td>
Fri: 2012-01-27 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-26 17:50:00
</td>
<td align="right">
  115.44
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    1.92
</td>
<td>
Fri: 2012-01-27 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-26 17:55:00
</td>
<td align="right">
  115.55
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    1.66
</td>
<td>
Fri: 2012-01-27 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-26 19:00:00
</td>
<td align="right">
  117.18
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   -1.89
</td>
<td>
Fri: 2012-01-27 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-26 19:55:00
</td>
<td align="right">
  114.99
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    1.04
</td>
<td>
Fri: 2012-01-27 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-26 20:30:00
</td>
<td align="right">
  115.21
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-26 20:40:00
</td>
<td align="right">
  115.69
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-26 20:50:00
</td>
<td align="right">
  115.94
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-01-26 16:30:00
</td>
<td align="right">
   68.64
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Fri: 2012-01-27 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-01-26 20:10:00
</td>
<td align="right">
   76.19
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-01-26 20:25:00
</td>
<td align="right">
   76.20
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-01-26 20:30:00
</td>
<td align="right">
   76.18
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-01-26 20:35:00
</td>
<td align="right">
   76.18
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-01-26 20:40:00
</td>
<td align="right">
   76.29
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-01-26 15:25:00
</td>
<td align="right">
   76.01
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Fri: 2012-01-27 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-01-26 16:25:00
</td>
<td align="right">
   75.89
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Fri: 2012-01-27 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-01-26 17:55:00
</td>
<td align="right">
   75.90
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Fri: 2012-01-27 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-01-26 18:05:00
</td>
<td align="right">
   75.90
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Fri: 2012-01-27 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-01-26 15:45:00
</td>
<td align="right">
   48.63
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Fri: 2012-01-27 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-01-26 15:55:00
</td>
<td align="right">
   48.66
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Fri: 2012-01-27 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-01-26 16:00:00
</td>
<td align="right">
   48.65
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Fri: 2012-01-27 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2012-01-26 19:25:00
</td>
<td align="right">
   31.54
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Fri: 2012-01-27 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2012-01-26 19:35:00
</td>
<td align="right">
   31.51
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Fri: 2012-01-27 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-01-26 15:20:00
</td>
<td align="right">
   79.16
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.44
</td>
<td>
Fri: 2012-01-27 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-01-26 15:25:00
</td>
<td align="right">
   79.10
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.49
</td>
<td>
Fri: 2012-01-27 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-01-26 15:30:00
</td>
<td align="right">
   79.14
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.48
</td>
<td>
Fri: 2012-01-27 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-01-26 15:35:00
</td>
<td align="right">
   79.15
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.53
</td>
<td>
Fri: 2012-01-27 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-01-26 15:40:00
</td>
<td align="right">
   79.13
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.70
</td>
<td>
Fri: 2012-01-27 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-01-26 16:00:00
</td>
<td align="right">
   78.98
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.54
</td>
<td>
Fri: 2012-01-27 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-01-26 16:05:00
</td>
<td align="right">
   78.80
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Fri: 2012-01-27 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-26 20:20:00
</td>
<td align="right">
  126.80
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-26 20:25:00
</td>
<td align="right">
  126.69
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-26 20:40:00
</td>
<td align="right">
  127.03
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-26 20:50:00
</td>
<td align="right">
  126.96
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-26 20:55:00
</td>
<td align="right">
  127.07
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-01-26 15:00:00
</td>
<td align="right">
   94.73
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.74
</td>
<td>
Fri: 2012-01-27 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-01-26 15:25:00
</td>
<td align="right">
   94.17
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Fri: 2012-01-27 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-01-26 15:35:00
</td>
<td align="right">
   94.04
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    1.09
</td>
<td>
Fri: 2012-01-27 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-01-26 15:45:00
</td>
<td align="right">
   94.04
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .46
</td>
<td>
Fri: 2012-01-27 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-01-26 20:25:00
</td>
<td align="right">
   48.89
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 15:30:00
</td>
<td align="right">
   59.29
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Fri: 2012-01-27 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 16:00:00
</td>
<td align="right">
   59.15
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Fri: 2012-01-27 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 16:10:00
</td>
<td align="right">
   59.31
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2012-01-27 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 16:15:00
</td>
<td align="right">
   59.37
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2012-01-27 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 16:20:00
</td>
<td align="right">
   59.35
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2012-01-27 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 18:40:00
</td>
<td align="right">
   59.29
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2012-01-27 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 18:45:00
</td>
<td align="right">
   59.35
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Fri: 2012-01-27 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 18:50:00
</td>
<td align="right">
   59.37
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Fri: 2012-01-27 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 19:00:00
</td>
<td align="right">
   59.38
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Fri: 2012-01-27 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 19:05:00
</td>
<td align="right">
   59.37
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Fri: 2012-01-27 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 19:10:00
</td>
<td align="right">
   59.36
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Fri: 2012-01-27 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 19:15:00
</td>
<td align="right">
   59.31
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Fri: 2012-01-27 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 19:20:00
</td>
<td align="right">
   59.33
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Fri: 2012-01-27 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 19:25:00
</td>
<td align="right">
   59.35
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Fri: 2012-01-27 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 19:30:00
</td>
<td align="right">
   59.42
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Fri: 2012-01-27 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 19:55:00
</td>
<td align="right">
   59.34
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Fri: 2012-01-27 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 20:10:00
</td>
<td align="right">
   59.31
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 20:15:00
</td>
<td align="right">
   59.32
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 20:20:00
</td>
<td align="right">
   59.30
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 20:25:00
</td>
<td align="right">
   59.23
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 20:40:00
</td>
<td align="right">
   59.34
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-26 20:55:00
</td>
<td align="right">
   59.32
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-01-26 15:45:00
</td>
<td align="right">
   43.99
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Fri: 2012-01-27 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-01-26 17:55:00
</td>
<td align="right">
   44.26
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Fri: 2012-01-27 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-01-26 19:20:00
</td>
<td align="right">
   44.00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Fri: 2012-01-27 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-01-26 20:20:00
</td>
<td align="right">
   43.97
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-01-26 20:25:00
</td>
<td align="right">
   43.93
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-01-26 20:50:00
</td>
<td align="right">
   44.12
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2012-01-26 15:05:00
</td>
<td align="right">
  126.63
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.62
</td>
<td>
Fri: 2012-01-27 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2012-01-26 15:35:00
</td>
<td align="right">
  125.55
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .45
</td>
<td>
Fri: 2012-01-27 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2012-01-26 15:55:00
</td>
<td align="right">
  125.68
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Fri: 2012-01-27 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2012-01-26 16:15:00
</td>
<td align="right">
  126.25
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   -1.14
</td>
<td>
Fri: 2012-01-27 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2012-01-26 16:20:00
</td>
<td align="right">
  126.15
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.70
</td>
<td>
Fri: 2012-01-27 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2012-01-26 16:40:00
</td>
<td align="right">
  125.75
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Fri: 2012-01-27 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2012-01-26 16:45:00
</td>
<td align="right">
  125.70
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.39
</td>
<td>
Fri: 2012-01-27 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2012-01-26 16:50:00
</td>
<td align="right">
  125.74
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Fri: 2012-01-27 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2012-01-26 20:45:00
</td>
<td align="right">
  124.25
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-01-26 15:45:00
</td>
<td align="right">
   68.03
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .39
</td>
<td>
Fri: 2012-01-27 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-01-26 15:55:00
</td>
<td align="right">
   68.20
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Fri: 2012-01-27 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-01-26 16:45:00
</td>
<td align="right">
   68.42
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Fri: 2012-01-27 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-01-26 16:55:00
</td>
<td align="right">
   68.38
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Fri: 2012-01-27 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-01-26 17:00:00
</td>
<td align="right">
   68.30
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Fri: 2012-01-27 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-01-26 17:10:00
</td>
<td align="right">
   68.33
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Fri: 2012-01-27 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-01-26 17:35:00
</td>
<td align="right">
   68.30
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Fri: 2012-01-27 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-01-26 19:20:00
</td>
<td align="right">
   68.29
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Fri: 2012-01-27 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-01-26 19:25:00
</td>
<td align="right">
   68.29
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Fri: 2012-01-27 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-01-26 20:20:00
</td>
<td align="right">
   68.25
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-01-26 20:25:00
</td>
<td align="right">
   68.25
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-01-26 20:30:00
</td>
<td align="right">
   68.29
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-01-26 20:35:00
</td>
<td align="right">
   68.32
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2012-01-26 16:35:00
</td>
<td align="right">
   47.39
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Fri: 2012-01-27 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2012-01-26 16:55:00
</td>
<td align="right">
   47.36
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Fri: 2012-01-27 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2012-01-26 17:55:00
</td>
<td align="right">
   47.69
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Fri: 2012-01-27 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2012-01-26 18:00:00
</td>
<td align="right">
   47.73
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Fri: 2012-01-27 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2012-01-26 18:10:00
</td>
<td align="right">
   47.77
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Fri: 2012-01-27 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2012-01-26 19:45:00
</td>
<td align="right">
   47.76
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .46
</td>
<td>
Fri: 2012-01-27 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2012-01-26 19:55:00
</td>
<td align="right">
   47.78
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .57
</td>
<td>
Fri: 2012-01-27 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-26 15:10:00
</td>
<td align="right">
  101.95
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Fri: 2012-01-27 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-26 15:25:00
</td>
<td align="right">
  101.99
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.44
</td>
<td>
Fri: 2012-01-27 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-26 15:35:00
</td>
<td align="right">
  101.57
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Fri: 2012-01-27 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-26 15:40:00
</td>
<td align="right">
  101.60
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Fri: 2012-01-27 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-26 15:50:00
</td>
<td align="right">
  101.59
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Fri: 2012-01-27 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-26 16:10:00
</td>
<td align="right">
  101.68
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Fri: 2012-01-27 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-26 16:50:00
</td>
<td align="right">
  101.67
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Fri: 2012-01-27 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-26 16:55:00
</td>
<td align="right">
  101.65
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Fri: 2012-01-27 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-01-26 19:35:00
</td>
<td align="right">
   54.52
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Fri: 2012-01-27 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-01-26 17:40:00
</td>
<td align="right">
   61.06
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Fri: 2012-01-27 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-01-26 17:45:00
</td>
<td align="right">
   61.11
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Fri: 2012-01-27 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-01-26 17:50:00
</td>
<td align="right">
   61.09
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Fri: 2012-01-27 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-01-26 18:15:00
</td>
<td align="right">
   61.07
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Fri: 2012-01-27 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-01-26 15:05:00
</td>
<td align="right">
   87.32
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Fri: 2012-01-27 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-01-26 16:45:00
</td>
<td align="right">
   87.24
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2012-01-27 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-01-26 16:55:00
</td>
<td align="right">
   87.21
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2012-01-27 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-01-26 19:00:00
</td>
<td align="right">
   87.11
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Fri: 2012-01-27 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-01-26 19:50:00
</td>
<td align="right">
   86.99
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Fri: 2012-01-27 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-01-26 20:00:00
</td>
<td align="right">
   86.79
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-01-26 20:05:00
</td>
<td align="right">
   86.79
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-01-26 20:10:00
</td>
<td align="right">
   86.83
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-01-26 20:30:00
</td>
<td align="right">
   86.72
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-01-26 20:35:00
</td>
<td align="right">
   86.82
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-01-26 20:50:00
</td>
<td align="right">
   86.81
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-01-26 20:55:00
</td>
<td align="right">
   86.78
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-26 16:15:00
</td>
<td align="right">
   62.35
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Fri: 2012-01-27 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-26 16:20:00
</td>
<td align="right">
   62.36
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Fri: 2012-01-27 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-26 17:05:00
</td>
<td align="right">
   62.30
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Fri: 2012-01-27 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-26 17:10:00
</td>
<td align="right">
   62.35
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Fri: 2012-01-27 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-26 17:25:00
</td>
<td align="right">
   62.22
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Fri: 2012-01-27 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-26 17:40:00
</td>
<td align="right">
   62.32
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Fri: 2012-01-27 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-26 18:40:00
</td>
<td align="right">
   62.37
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Fri: 2012-01-27 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-26 18:45:00
</td>
<td align="right">
   62.42
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Fri: 2012-01-27 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-26 18:55:00
</td>
<td align="right">
   62.44
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Fri: 2012-01-27 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-26 19:30:00
</td>
<td align="right">
   62.33
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Fri: 2012-01-27 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-26 19:40:00
</td>
<td align="right">
   62.31
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Fri: 2012-01-27 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-26 19:45:00
</td>
<td align="right">
   62.36
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2012-01-27 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-26 19:50:00
</td>
<td align="right">
   62.38
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Fri: 2012-01-27 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-26 19:55:00
</td>
<td align="right">
   62.30
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Fri: 2012-01-27 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-26 20:00:00
</td>
<td align="right">
   62.30
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-26 20:10:00
</td>
<td align="right">
   62.30
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-26 20:55:00
</td>
<td align="right">
   62.47
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-01-27 20:55
</td>
</tr>
</table>
<br />