<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-08-06 18:10:00
</td>
<td align="right">
   45.20
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-08-07 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 14:00:00
</td>
<td align="right">
  234.70
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-08-07 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 14:10:00
</td>
<td align="right">
  234.20
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Tue: 2012-08-07 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 14:15:00
</td>
<td align="right">
  234.50
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-08-07 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 14:20:00
</td>
<td align="right">
  234.21
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .63
</td>
<td>
Tue: 2012-08-07 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 14:25:00
</td>
<td align="right">
  234.28
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Tue: 2012-08-07 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 14:30:00
</td>
<td align="right">
  234.18
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .76
</td>
<td>
Tue: 2012-08-07 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 14:35:00
</td>
<td align="right">
  234.12
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .89
</td>
<td>
Tue: 2012-08-07 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 14:40:00
</td>
<td align="right">
  234.32
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .62
</td>
<td>
Tue: 2012-08-07 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 14:45:00
</td>
<td align="right">
  234.50
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .73
</td>
<td>
Tue: 2012-08-07 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 15:10:00
</td>
<td align="right">
  234.67
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .33
</td>
<td>
Tue: 2012-08-07 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 15:15:00
</td>
<td align="right">
  234.52
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Tue: 2012-08-07 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 16:00:00
</td>
<td align="right">
  234.76
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Tue: 2012-08-07 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 16:05:00
</td>
<td align="right">
  234.75
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-08-07 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 17:05:00
</td>
<td align="right">
  234.80
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2012-08-07 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 17:40:00
</td>
<td align="right">
  234.63
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-08-07 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 17:45:00
</td>
<td align="right">
  234.62
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-08-07 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 17:55:00
</td>
<td align="right">
  234.75
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Tue: 2012-08-07 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 18:00:00
</td>
<td align="right">
  234.80
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Tue: 2012-08-07 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 18:05:00
</td>
<td align="right">
  234.61
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2012-08-07 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 18:20:00
</td>
<td align="right">
  234.76
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.35
</td>
<td>
Tue: 2012-08-07 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 18:25:00
</td>
<td align="right">
  234.73
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Tue: 2012-08-07 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 18:35:00
</td>
<td align="right">
  234.69
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-08-07 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 18:40:00
</td>
<td align="right">
  234.72
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-08-07 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 18:45:00
</td>
<td align="right">
  234.61
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-08-07 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 18:50:00
</td>
<td align="right">
  234.57
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2012-08-07 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 18:55:00
</td>
<td align="right">
  234.50
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.54
</td>
<td>
Tue: 2012-08-07 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 19:00:00
</td>
<td align="right">
  234.55
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 19:05:00
</td>
<td align="right">
  234.38
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 19:10:00
</td>
<td align="right">
  234.53
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 19:15:00
</td>
<td align="right">
  234.31
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 19:20:00
</td>
<td align="right">
  234.41
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 19:25:00
</td>
<td align="right">
  234.43
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 19:30:00
</td>
<td align="right">
  234.75
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 19:35:00
</td>
<td align="right">
  234.72
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 19:40:00
</td>
<td align="right">
  234.63
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 19:45:00
</td>
<td align="right">
  234.51
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 19:50:00
</td>
<td align="right">
  234.39
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-06 19:55:00
</td>
<td align="right">
  233.96
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 15:00:00
</td>
<td align="right">
   27.37
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-08-07 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 15:05:00
</td>
<td align="right">
   27.43
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2012-08-07 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 15:10:00
</td>
<td align="right">
   27.36
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2012-08-07 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 15:15:00
</td>
<td align="right">
   27.31
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2012-08-07 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 15:20:00
</td>
<td align="right">
   27.33
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2012-08-07 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 15:25:00
</td>
<td align="right">
   27.30
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-08-07 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 15:30:00
</td>
<td align="right">
   27.32
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-08-07 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 15:35:00
</td>
<td align="right">
   27.25
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-08-07 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 15:40:00
</td>
<td align="right">
   27.30
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-08-07 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 15:45:00
</td>
<td align="right">
   27.28
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2012-08-07 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 15:50:00
</td>
<td align="right">
   27.27
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-08-07 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 15:55:00
</td>
<td align="right">
   27.25
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-08-07 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 16:00:00
</td>
<td align="right">
   27.25
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2012-08-07 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 16:05:00
</td>
<td align="right">
   27.22
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-08-07 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 16:30:00
</td>
<td align="right">
   27.23
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-08-07 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 16:40:00
</td>
<td align="right">
   27.27
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-08-07 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 16:50:00
</td>
<td align="right">
   27.24
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-08-07 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 16:55:00
</td>
<td align="right">
   27.25
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2012-08-07 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 17:10:00
</td>
<td align="right">
   27.23
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-08-07 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 17:15:00
</td>
<td align="right">
   27.22
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-08-07 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 18:05:00
</td>
<td align="right">
   27.23
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-08-07 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 18:10:00
</td>
<td align="right">
   27.24
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-08-07 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 18:15:00
</td>
<td align="right">
   27.24
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-08-07 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 18:20:00
</td>
<td align="right">
   27.22
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-08-07 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 18:25:00
</td>
<td align="right">
   27.24
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-08-07 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 18:30:00
</td>
<td align="right">
   27.26
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-08-07 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 18:35:00
</td>
<td align="right">
   27.24
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-08-07 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 18:40:00
</td>
<td align="right">
   27.23
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2012-08-07 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 18:45:00
</td>
<td align="right">
   27.23
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-08-07 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 18:50:00
</td>
<td align="right">
   27.22
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-08-07 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 18:55:00
</td>
<td align="right">
   27.25
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-08-07 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 19:00:00
</td>
<td align="right">
   27.22
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 19:05:00
</td>
<td align="right">
   27.25
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 19:10:00
</td>
<td align="right">
   27.24
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 19:15:00
</td>
<td align="right">
   27.23
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 19:20:00
</td>
<td align="right">
   27.25
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 19:25:00
</td>
<td align="right">
   27.30
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 19:30:00
</td>
<td align="right">
   27.30
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 19:35:00
</td>
<td align="right">
   27.37
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 19:40:00
</td>
<td align="right">
   27.33
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 19:45:00
</td>
<td align="right">
   27.30
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 19:50:00
</td>
<td align="right">
   27.31
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-08-06 19:55:00
</td>
<td align="right">
   27.25
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-08-06 14:05:00
</td>
<td align="right">
  296.08
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Tue: 2012-08-07 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-08-06 14:10:00
</td>
<td align="right">
  295.90
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.93
</td>
<td>
Tue: 2012-08-07 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-08-06 14:15:00
</td>
<td align="right">
  296.10
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   -1.01
</td>
<td>
Tue: 2012-08-07 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-08-06 14:30:00
</td>
<td align="right">
  295.93
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.50
</td>
<td>
Tue: 2012-08-07 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-08-06 15:15:00
</td>
<td align="right">
   99.63
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.63
</td>
<td>
Tue: 2012-08-07 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-08-06 15:20:00
</td>
<td align="right">
   99.45
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.50
</td>
<td>
Tue: 2012-08-07 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-08-06 15:35:00
</td>
<td align="right">
   99.37
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.40
</td>
<td>
Tue: 2012-08-07 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 14:25:00
</td>
<td align="right">
  111.70
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-08-07 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 14:30:00
</td>
<td align="right">
  111.83
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-08-07 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 14:35:00
</td>
<td align="right">
  111.90
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-08-07 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 14:40:00
</td>
<td align="right">
  111.87
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-08-07 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 14:45:00
</td>
<td align="right">
  111.85
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-08-07 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 14:55:00
</td>
<td align="right">
  111.87
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-08-07 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 15:00:00
</td>
<td align="right">
  111.84
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-08-07 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 17:30:00
</td>
<td align="right">
  111.98
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2012-08-07 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 17:35:00
</td>
<td align="right">
  111.96
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-08-07 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 17:40:00
</td>
<td align="right">
  111.99
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-08-07 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 17:45:00
</td>
<td align="right">
  111.93
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-08-07 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 17:55:00
</td>
<td align="right">
  111.87
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-08-07 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 18:00:00
</td>
<td align="right">
  111.94
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-08-07 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 18:05:00
</td>
<td align="right">
  111.93
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-08-07 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 18:10:00
</td>
<td align="right">
  111.95
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2012-08-07 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 18:15:00
</td>
<td align="right">
  111.93
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-08-07 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 18:20:00
</td>
<td align="right">
  111.92
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2012-08-07 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 18:25:00
</td>
<td align="right">
  111.95
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2012-08-07 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 18:30:00
</td>
<td align="right">
  111.91
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-08-07 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 18:35:00
</td>
<td align="right">
  111.96
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2012-08-07 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 18:40:00
</td>
<td align="right">
  111.93
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2012-08-07 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 18:45:00
</td>
<td align="right">
  112.00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Tue: 2012-08-07 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 18:50:00
</td>
<td align="right">
  111.95
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2012-08-07 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 18:55:00
</td>
<td align="right">
  111.89
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.51
</td>
<td>
Tue: 2012-08-07 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 19:00:00
</td>
<td align="right">
  111.91
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 19:10:00
</td>
<td align="right">
  111.87
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 19:25:00
</td>
<td align="right">
  111.88
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-08-06 19:30:00
</td>
<td align="right">
  111.90
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 18:25:00
</td>
<td align="right">
   72.98
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-08-07 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 19:45:00
</td>
<td align="right">
   72.81
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 15:05:00
</td>
<td align="right">
   91.86
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2012-08-07 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 15:10:00
</td>
<td align="right">
   91.81
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-08-07 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 15:15:00
</td>
<td align="right">
   91.79
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2012-08-07 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 15:20:00
</td>
<td align="right">
   91.77
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2012-08-07 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 15:25:00
</td>
<td align="right">
   91.73
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2012-08-07 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 15:30:00
</td>
<td align="right">
   91.72
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-08-07 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 15:35:00
</td>
<td align="right">
   91.76
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-08-07 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 15:40:00
</td>
<td align="right">
   91.72
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-08-07 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 15:45:00
</td>
<td align="right">
   91.74
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-08-07 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 15:55:00
</td>
<td align="right">
   91.69
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2012-08-07 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 16:00:00
</td>
<td align="right">
   91.73
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-08-07 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 16:05:00
</td>
<td align="right">
   91.72
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-08-07 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 16:10:00
</td>
<td align="right">
   91.75
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2012-08-07 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 16:15:00
</td>
<td align="right">
   91.71
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-08-07 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 16:20:00
</td>
<td align="right">
   91.72
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-08-07 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 16:25:00
</td>
<td align="right">
   91.66
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2012-08-07 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 16:30:00
</td>
<td align="right">
   91.70
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2012-08-07 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 16:35:00
</td>
<td align="right">
   91.76
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-08-07 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 16:45:00
</td>
<td align="right">
   91.78
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2012-08-07 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 16:50:00
</td>
<td align="right">
   91.84
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2012-08-07 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 16:55:00
</td>
<td align="right">
   91.79
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-08-07 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 17:00:00
</td>
<td align="right">
   91.78
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-08-07 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 17:05:00
</td>
<td align="right">
   91.81
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2012-08-07 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 17:15:00
</td>
<td align="right">
   91.85
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2012-08-07 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 17:25:00
</td>
<td align="right">
   91.83
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-08-07 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 17:30:00
</td>
<td align="right">
   91.81
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-08-07 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 17:35:00
</td>
<td align="right">
   91.70
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-08-07 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 17:40:00
</td>
<td align="right">
   91.72
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-08-07 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 17:45:00
</td>
<td align="right">
   91.70
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-08-07 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 17:50:00
</td>
<td align="right">
   91.67
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-08-07 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 17:55:00
</td>
<td align="right">
   91.70
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-08-07 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 18:00:00
</td>
<td align="right">
   91.69
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2012-08-07 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 18:05:00
</td>
<td align="right">
   91.67
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-08-07 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 18:10:00
</td>
<td align="right">
   91.70
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-08-07 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 18:15:00
</td>
<td align="right">
   91.68
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-08-07 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 18:20:00
</td>
<td align="right">
   91.71
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-08-07 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 18:25:00
</td>
<td align="right">
   91.74
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-08-07 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 18:30:00
</td>
<td align="right">
   91.72
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-08-07 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 18:35:00
</td>
<td align="right">
   91.74
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-08-07 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 18:40:00
</td>
<td align="right">
   91.73
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2012-08-07 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 18:45:00
</td>
<td align="right">
   91.70
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2012-08-07 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 19:15:00
</td>
<td align="right">
   91.70
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 19:20:00
</td>
<td align="right">
   91.69
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 19:25:00
</td>
<td align="right">
   91.68
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 19:30:00
</td>
<td align="right">
   91.76
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 19:35:00
</td>
<td align="right">
   91.71
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 19:40:00
</td>
<td align="right">
   91.68
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 19:45:00
</td>
<td align="right">
   91.59
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-08-06 19:50:00
</td>
<td align="right">
   91.63
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-08-06 14:00:00
</td>
<td align="right">
   40.38
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2012-08-07 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-08-06 14:05:00
</td>
<td align="right">
   40.33
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2012-08-07 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-08-06 14:30:00
</td>
<td align="right">
   40.37
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-08-07 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-08-06 15:10:00
</td>
<td align="right">
   40.33
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2012-08-07 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-08-06 15:15:00
</td>
<td align="right">
   40.33
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2012-08-07 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-08-06 15:20:00
</td>
<td align="right">
   40.30
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Tue: 2012-08-07 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-08-06 15:25:00
</td>
<td align="right">
   40.34
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Tue: 2012-08-07 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-08-06 15:35:00
</td>
<td align="right">
   40.33
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .27
</td>
<td>
Tue: 2012-08-07 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 15:30:00
</td>
<td align="right">
   97.48
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-08-07 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 15:35:00
</td>
<td align="right">
   97.50
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-08-07 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 15:50:00
</td>
<td align="right">
   97.36
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Tue: 2012-08-07 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 15:55:00
</td>
<td align="right">
   97.48
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .43
</td>
<td>
Tue: 2012-08-07 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 16:05:00
</td>
<td align="right">
   97.50
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .39
</td>
<td>
Tue: 2012-08-07 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 16:10:00
</td>
<td align="right">
   97.49
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .53
</td>
<td>
Tue: 2012-08-07 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 16:15:00
</td>
<td align="right">
   97.43
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .76
</td>
<td>
Tue: 2012-08-07 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 16:20:00
</td>
<td align="right">
   97.47
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .91
</td>
<td>
Tue: 2012-08-07 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 16:25:00
</td>
<td align="right">
   97.64
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .80
</td>
<td>
Tue: 2012-08-07 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 16:30:00
</td>
<td align="right">
   97.61
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .96
</td>
<td>
Tue: 2012-08-07 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 16:35:00
</td>
<td align="right">
   97.53
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .90
</td>
<td>
Tue: 2012-08-07 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 16:40:00
</td>
<td align="right">
   97.45
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .92
</td>
<td>
Tue: 2012-08-07 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 16:45:00
</td>
<td align="right">
   97.51
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .95
</td>
<td>
Tue: 2012-08-07 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 16:50:00
</td>
<td align="right">
   97.64
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .88
</td>
<td>
Tue: 2012-08-07 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 16:55:00
</td>
<td align="right">
   97.91
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .44
</td>
<td>
Tue: 2012-08-07 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 17:00:00
</td>
<td align="right">
   97.82
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .48
</td>
<td>
Tue: 2012-08-07 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 17:05:00
</td>
<td align="right">
   97.89
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .45
</td>
<td>
Tue: 2012-08-07 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 17:10:00
</td>
<td align="right">
   98.02
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Tue: 2012-08-07 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 17:15:00
</td>
<td align="right">
   98.19
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2012-08-07 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 17:20:00
</td>
<td align="right">
   98.38
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-08-07 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 17:25:00
</td>
<td align="right">
   98.44
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2012-08-07 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 17:30:00
</td>
<td align="right">
   98.57
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Tue: 2012-08-07 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 17:35:00
</td>
<td align="right">
   98.43
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2012-08-07 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 17:40:00
</td>
<td align="right">
   98.37
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2012-08-07 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 17:45:00
</td>
<td align="right">
   98.46
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2012-08-07 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 17:50:00
</td>
<td align="right">
   98.52
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2012-08-07 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 17:55:00
</td>
<td align="right">
   98.35
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2012-08-07 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 18:00:00
</td>
<td align="right">
   98.30
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Tue: 2012-08-07 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 18:05:00
</td>
<td align="right">
   98.34
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Tue: 2012-08-07 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 18:10:00
</td>
<td align="right">
   98.28
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Tue: 2012-08-07 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 18:15:00
</td>
<td align="right">
   98.34
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-08-07 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 18:20:00
</td>
<td align="right">
   98.29
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Tue: 2012-08-07 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 18:25:00
</td>
<td align="right">
   98.33
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-08-07 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 18:30:00
</td>
<td align="right">
   98.31
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-08-07 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 18:35:00
</td>
<td align="right">
   98.28
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-08-07 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 18:40:00
</td>
<td align="right">
   98.26
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-08-07 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 18:45:00
</td>
<td align="right">
   98.39
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Tue: 2012-08-07 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 18:50:00
</td>
<td align="right">
   98.47
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.45
</td>
<td>
Tue: 2012-08-07 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 18:55:00
</td>
<td align="right">
   98.51
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.70
</td>
<td>
Tue: 2012-08-07 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 19:00:00
</td>
<td align="right">
   98.54
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 19:05:00
</td>
<td align="right">
   98.56
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 19:10:00
</td>
<td align="right">
   98.56
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 19:15:00
</td>
<td align="right">
   98.40
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 19:20:00
</td>
<td align="right">
   98.55
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 19:25:00
</td>
<td align="right">
   98.47
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 19:30:00
</td>
<td align="right">
   98.25
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 19:35:00
</td>
<td align="right">
   98.25
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 19:40:00
</td>
<td align="right">
   98.26
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 19:45:00
</td>
<td align="right">
   98.17
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 19:50:00
</td>
<td align="right">
   98.02
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-08-06 19:55:00
</td>
<td align="right">
   97.81
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-08-06 18:10:00
</td>
<td align="right">
   98.33
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2012-08-07 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-08-06 18:20:00
</td>
<td align="right">
   98.30
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-08-07 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 14:05:00
</td>
<td align="right">
   56.19
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-08-07 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 14:10:00
</td>
<td align="right">
   56.15
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2012-08-07 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 14:15:00
</td>
<td align="right">
   56.12
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-08-07 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 14:20:00
</td>
<td align="right">
   56.15
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2012-08-07 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 15:20:00
</td>
<td align="right">
   56.23
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-08-07 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 15:25:00
</td>
<td align="right">
   56.18
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-08-07 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 15:30:00
</td>
<td align="right">
   56.20
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-08-07 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 15:35:00
</td>
<td align="right">
   56.17
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2012-08-07 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 15:40:00
</td>
<td align="right">
   56.18
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2012-08-07 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 15:45:00
</td>
<td align="right">
   56.18
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-08-07 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 15:50:00
</td>
<td align="right">
   56.18
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2012-08-07 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 15:55:00
</td>
<td align="right">
   56.17
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-08-07 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 16:00:00
</td>
<td align="right">
   56.17
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-08-07 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 16:05:00
</td>
<td align="right">
   56.18
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-08-07 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 16:10:00
</td>
<td align="right">
   56.24
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-08-07 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 16:45:00
</td>
<td align="right">
   56.24
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-08-07 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 17:25:00
</td>
<td align="right">
   56.24
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-08-07 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 17:30:00
</td>
<td align="right">
   56.23
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2012-08-07 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 17:35:00
</td>
<td align="right">
   56.21
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2012-08-07 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 17:40:00
</td>
<td align="right">
   56.22
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2012-08-07 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 17:55:00
</td>
<td align="right">
   56.21
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Tue: 2012-08-07 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 18:00:00
</td>
<td align="right">
   56.21
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2012-08-07 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 18:05:00
</td>
<td align="right">
   56.22
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Tue: 2012-08-07 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 18:10:00
</td>
<td align="right">
   56.18
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Tue: 2012-08-07 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 18:15:00
</td>
<td align="right">
   56.14
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2012-08-07 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 18:20:00
</td>
<td align="right">
   56.11
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-08-07 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 18:25:00
</td>
<td align="right">
   56.12
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-08-07 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 18:30:00
</td>
<td align="right">
   56.10
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2012-08-07 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 18:40:00
</td>
<td align="right">
   56.09
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-08-07 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 18:45:00
</td>
<td align="right">
   56.10
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Tue: 2012-08-07 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 18:55:00
</td>
<td align="right">
   56.01
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2012-08-07 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 19:00:00
</td>
<td align="right">
   56.02
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 19:05:00
</td>
<td align="right">
   55.96
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 19:10:00
</td>
<td align="right">
   55.98
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 19:15:00
</td>
<td align="right">
   56.00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 19:20:00
</td>
<td align="right">
   56.01
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 19:25:00
</td>
<td align="right">
   56.00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 19:35:00
</td>
<td align="right">
   56.01
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 19:40:00
</td>
<td align="right">
   55.99
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 19:45:00
</td>
<td align="right">
   55.90
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-06 19:50:00
</td>
<td align="right">
   55.96
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LMT">LMT</a></td>
<td>
2012-08-06 14:40:00
</td>
<td align="right">
   89.60
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.48
</td>
<td>
Tue: 2012-08-07 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 14:40:00
</td>
<td align="right">
   73.67
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-08-07 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 14:45:00
</td>
<td align="right">
   73.77
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2012-08-07 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 14:50:00
</td>
<td align="right">
   73.84
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2012-08-07 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 14:55:00
</td>
<td align="right">
   73.82
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-08-07 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 15:00:00
</td>
<td align="right">
   73.83
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2012-08-07 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 15:10:00
</td>
<td align="right">
   73.84
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2012-08-07 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 15:15:00
</td>
<td align="right">
   73.84
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2012-08-07 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 15:20:00
</td>
<td align="right">
   73.95
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Tue: 2012-08-07 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 15:25:00
</td>
<td align="right">
   73.90
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.35
</td>
<td>
Tue: 2012-08-07 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 15:30:00
</td>
<td align="right">
   73.84
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Tue: 2012-08-07 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 15:40:00
</td>
<td align="right">
   73.73
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Tue: 2012-08-07 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 15:45:00
</td>
<td align="right">
   73.69
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Tue: 2012-08-07 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 15:50:00
</td>
<td align="right">
   73.67
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2012-08-07 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 16:00:00
</td>
<td align="right">
   73.67
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2012-08-07 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 16:05:00
</td>
<td align="right">
   73.66
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2012-08-07 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 16:10:00
</td>
<td align="right">
   73.65
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-08-07 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 16:15:00
</td>
<td align="right">
   73.67
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-08-07 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 16:20:00
</td>
<td align="right">
   73.63
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-08-07 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 16:25:00
</td>
<td align="right">
   73.55
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-08-07 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 16:30:00
</td>
<td align="right">
   73.53
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2012-08-07 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 16:35:00
</td>
<td align="right">
   73.34
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-08-07 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 16:40:00
</td>
<td align="right">
   73.37
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-08-07 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 16:45:00
</td>
<td align="right">
   73.45
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2012-08-07 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 16:50:00
</td>
<td align="right">
   73.44
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2012-08-07 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 16:55:00
</td>
<td align="right">
   73.46
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Tue: 2012-08-07 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 17:00:00
</td>
<td align="right">
   73.52
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2012-08-07 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 17:05:00
</td>
<td align="right">
   73.55
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Tue: 2012-08-07 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 17:10:00
</td>
<td align="right">
   73.55
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.43
</td>
<td>
Tue: 2012-08-07 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 17:15:00
</td>
<td align="right">
   73.58
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.50
</td>
<td>
Tue: 2012-08-07 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 17:20:00
</td>
<td align="right">
   73.53
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.46
</td>
<td>
Tue: 2012-08-07 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 17:25:00
</td>
<td align="right">
   73.52
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.54
</td>
<td>
Tue: 2012-08-07 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 17:30:00
</td>
<td align="right">
   73.38
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
    -.35
</td>
<td>
Tue: 2012-08-07 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 17:35:00
</td>
<td align="right">
   73.34
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    -.35
</td>
<td>
Tue: 2012-08-07 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 17:40:00
</td>
<td align="right">
   73.31
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Tue: 2012-08-07 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 17:45:00
</td>
<td align="right">
   73.28
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2012-08-07 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 17:50:00
</td>
<td align="right">
   73.23
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2012-08-07 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 17:55:00
</td>
<td align="right">
   73.21
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Tue: 2012-08-07 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 18:00:00
</td>
<td align="right">
   73.29
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Tue: 2012-08-07 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 18:05:00
</td>
<td align="right">
   73.31
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.33
</td>
<td>
Tue: 2012-08-07 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 18:10:00
</td>
<td align="right">
   73.12
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2012-08-07 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 18:15:00
</td>
<td align="right">
   73.08
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2012-08-07 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-08-06 18:20:00
</td>
<td align="right">
   73.07
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-08-07 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-08-06 18:30:00
</td>
<td align="right">
   89.03
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.40
</td>
<td>
Tue: 2012-08-07 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-08-06 18:55:00
</td>
<td align="right">
   89.03
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.58
</td>
<td>
Tue: 2012-08-07 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2012-08-06 18:45:00
</td>
<td align="right">
   40.60
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-08-07 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2012-08-06 19:20:00
</td>
<td align="right">
   40.60
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2012-08-06 19:30:00
</td>
<td align="right">
   40.60
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-08-07 19:30
</td>
</tr>
</table>
<br />