<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-07 15:00:00
</td>
<td align="right">
   63.73
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2012-11-08 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-07 15:15:00
</td>
<td align="right">
   63.60
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Thu: 2012-11-08 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-07 16:35:00
</td>
<td align="right">
   63.83
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .45
</td>
<td>
Thu: 2012-11-08 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-11-07 16:50:00
</td>
<td align="right">
   55.73
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2012-11-08 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-11-07 20:50:00
</td>
<td align="right">
   55.78
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 15:00:00
</td>
<td align="right">
  104.73
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
    -.94
</td>
<td>
Thu: 2012-11-08 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 15:05:00
</td>
<td align="right">
  104.91
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   -1.12
</td>
<td>
Thu: 2012-11-08 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 15:10:00
</td>
<td align="right">
  104.80
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   -1.21
</td>
<td>
Thu: 2012-11-08 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 15:15:00
</td>
<td align="right">
  104.31
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.79
</td>
<td>
Thu: 2012-11-08 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 15:20:00
</td>
<td align="right">
  104.18
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.73
</td>
<td>
Thu: 2012-11-08 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 15:25:00
</td>
<td align="right">
  104.04
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.51
</td>
<td>
Thu: 2012-11-08 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 15:30:00
</td>
<td align="right">
  104.03
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.72
</td>
<td>
Thu: 2012-11-08 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 16:45:00
</td>
<td align="right">
  103.96
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Thu: 2012-11-08 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 16:50:00
</td>
<td align="right">
  104.26
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Thu: 2012-11-08 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 16:55:00
</td>
<td align="right">
  104.34
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Thu: 2012-11-08 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 17:00:00
</td>
<td align="right">
  104.50
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Thu: 2012-11-08 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 17:05:00
</td>
<td align="right">
  104.31
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Thu: 2012-11-08 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 17:10:00
</td>
<td align="right">
  104.20
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Thu: 2012-11-08 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 17:15:00
</td>
<td align="right">
  104.30
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2012-11-08 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 17:20:00
</td>
<td align="right">
  104.24
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Thu: 2012-11-08 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 17:30:00
</td>
<td align="right">
  103.95
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .56
</td>
<td>
Thu: 2012-11-08 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 17:35:00
</td>
<td align="right">
  103.97
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .58
</td>
<td>
Thu: 2012-11-08 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 17:40:00
</td>
<td align="right">
  104.01
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .49
</td>
<td>
Thu: 2012-11-08 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 17:45:00
</td>
<td align="right">
  104.13
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Thu: 2012-11-08 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 17:50:00
</td>
<td align="right">
  104.03
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .38
</td>
<td>
Thu: 2012-11-08 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 17:55:00
</td>
<td align="right">
  104.11
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2012-11-08 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 18:00:00
</td>
<td align="right">
  104.21
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Thu: 2012-11-08 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 18:05:00
</td>
<td align="right">
  104.63
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Thu: 2012-11-08 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 18:10:00
</td>
<td align="right">
  104.36
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2012-11-08 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 18:15:00
</td>
<td align="right">
  104.32
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2012-11-08 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 18:20:00
</td>
<td align="right">
  104.47
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Thu: 2012-11-08 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 18:25:00
</td>
<td align="right">
  104.46
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Thu: 2012-11-08 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 18:30:00
</td>
<td align="right">
  104.51
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.38
</td>
<td>
Thu: 2012-11-08 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 18:35:00
</td>
<td align="right">
  104.55
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.46
</td>
<td>
Thu: 2012-11-08 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 18:40:00
</td>
<td align="right">
  104.50
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.50
</td>
<td>
Thu: 2012-11-08 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 18:45:00
</td>
<td align="right">
  104.38
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Thu: 2012-11-08 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 18:50:00
</td>
<td align="right">
  104.41
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Thu: 2012-11-08 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 18:55:00
</td>
<td align="right">
  104.23
</td>
<td align="right">
 -.91
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Thu: 2012-11-08 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 19:00:00
</td>
<td align="right">
  104.38
</td>
<td align="right">
 -.92
</td>
<td>
Sell
</td>
<td align="right">
    -.67
</td>
<td>
Thu: 2012-11-08 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 19:05:00
</td>
<td align="right">
  104.32
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
    -.53
</td>
<td>
Thu: 2012-11-08 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 19:10:00
</td>
<td align="right">
  104.25
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Thu: 2012-11-08 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 19:15:00
</td>
<td align="right">
  104.23
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Thu: 2012-11-08 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 19:20:00
</td>
<td align="right">
  104.28
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Thu: 2012-11-08 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 19:25:00
</td>
<td align="right">
  104.30
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2012-11-08 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 19:30:00
</td>
<td align="right">
  104.13
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
     .30
</td>
<td>
Thu: 2012-11-08 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 19:35:00
</td>
<td align="right">
  104.09
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Thu: 2012-11-08 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 19:40:00
</td>
<td align="right">
  104.00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .52
</td>
<td>
Thu: 2012-11-08 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 19:45:00
</td>
<td align="right">
  103.95
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .40
</td>
<td>
Thu: 2012-11-08 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 19:50:00
</td>
<td align="right">
  103.93
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .51
</td>
<td>
Thu: 2012-11-08 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 19:55:00
</td>
<td align="right">
  104.04
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .42
</td>
<td>
Thu: 2012-11-08 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 20:15:00
</td>
<td align="right">
  103.96
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 20:20:00
</td>
<td align="right">
  104.10
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 20:25:00
</td>
<td align="right">
  104.41
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 20:30:00
</td>
<td align="right">
  104.43
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 20:35:00
</td>
<td align="right">
  104.29
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 20:40:00
</td>
<td align="right">
  104.52
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 20:45:00
</td>
<td align="right">
  104.35
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 20:50:00
</td>
<td align="right">
  104.44
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-07 20:55:00
</td>
<td align="right">
  104.46
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CELG">CELG</a></td>
<td>
2012-11-07 18:50:00
</td>
<td align="right">
   72.58
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2012-11-08 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-07 15:00:00
</td>
<td align="right">
  281.66
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   -2.72
</td>
<td>
Thu: 2012-11-08 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-07 15:45:00
</td>
<td align="right">
  281.60
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   -4.97
</td>
<td>
Thu: 2012-11-08 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-07 16:00:00
</td>
<td align="right">
  278.94
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   -1.84
</td>
<td>
Thu: 2012-11-08 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-07 16:05:00
</td>
<td align="right">
  278.79
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   -2.06
</td>
<td>
Thu: 2012-11-08 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-07 18:00:00
</td>
<td align="right">
  276.79
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2012-11-08 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-11-07 18:15:00
</td>
<td align="right">
   43.88
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2012-11-08 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-11-07 19:20:00
</td>
<td align="right">
   43.93
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2012-11-08 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-11-07 19:35:00
</td>
<td align="right">
   43.84
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2012-11-08 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-11-07 17:05:00
</td>
<td align="right">
  129.24
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .50
</td>
<td>
Thu: 2012-11-08 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-11-07 17:10:00
</td>
<td align="right">
  129.18
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Thu: 2012-11-08 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-11-07 19:45:00
</td>
<td align="right">
  129.49
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2012-11-08 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-11-07 20:55:00
</td>
<td align="right">
  129.24
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-11-07 15:50:00
</td>
<td align="right">
   86.95
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Thu: 2012-11-08 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-11-07 20:40:00
</td>
<td align="right">
   86.96
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 15:00:00
</td>
<td align="right">
   39.98
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2012-11-08 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 15:05:00
</td>
<td align="right">
   39.98
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2012-11-08 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 15:15:00
</td>
<td align="right">
   39.90
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2012-11-08 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 15:35:00
</td>
<td align="right">
   39.97
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Thu: 2012-11-08 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 15:40:00
</td>
<td align="right">
   39.94
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2012-11-08 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 17:10:00
</td>
<td align="right">
   39.85
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2012-11-08 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 17:15:00
</td>
<td align="right">
   39.88
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2012-11-08 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 17:25:00
</td>
<td align="right">
   39.89
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2012-11-08 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 17:30:00
</td>
<td align="right">
   39.90
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2012-11-08 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 17:35:00
</td>
<td align="right">
   39.90
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2012-11-08 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 17:45:00
</td>
<td align="right">
   39.86
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2012-11-08 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 17:50:00
</td>
<td align="right">
   39.85
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2012-11-08 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 18:00:00
</td>
<td align="right">
   39.90
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2012-11-08 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 18:10:00
</td>
<td align="right">
   39.97
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2012-11-08 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 18:35:00
</td>
<td align="right">
   39.88
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2012-11-08 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 18:40:00
</td>
<td align="right">
   39.86
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2012-11-08 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 18:45:00
</td>
<td align="right">
   39.83
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2012-11-08 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 18:55:00
</td>
<td align="right">
   39.82
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2012-11-08 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 19:15:00
</td>
<td align="right">
   39.84
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2012-11-08 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 19:50:00
</td>
<td align="right">
   39.84
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2012-11-08 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 20:20:00
</td>
<td align="right">
   39.90
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 20:25:00
</td>
<td align="right">
   39.89
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 20:40:00
</td>
<td align="right">
   39.90
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 20:45:00
</td>
<td align="right">
   39.90
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 20:50:00
</td>
<td align="right">
   39.91
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-07 20:55:00
</td>
<td align="right">
   39.85
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2012-11-07 16:40:00
</td>
<td align="right">
   55.61
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .42
</td>
<td>
Thu: 2012-11-08 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2012-11-07 16:50:00
</td>
<td align="right">
   55.65
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Thu: 2012-11-08 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2012-11-07 16:55:00
</td>
<td align="right">
   55.72
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Thu: 2012-11-08 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2012-11-07 17:05:00
</td>
<td align="right">
   55.69
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .51
</td>
<td>
Thu: 2012-11-08 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2012-11-07 19:45:00
</td>
<td align="right">
   55.69
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2012-11-08 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2012-11-07 19:55:00
</td>
<td align="right">
   55.69
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Thu: 2012-11-08 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2012-11-07 20:00:00
</td>
<td align="right">
   55.68
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2012-11-07 20:35:00
</td>
<td align="right">
   55.73
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2012-11-07 20:50:00
</td>
<td align="right">
   55.70
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-11-07 15:05:00
</td>
<td align="right">
   64.86
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.53
</td>
<td>
Thu: 2012-11-08 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-11-07 15:15:00
</td>
<td align="right">
   64.57
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Thu: 2012-11-08 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-11-07 15:20:00
</td>
<td align="right">
   64.57
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
    -.39
</td>
<td>
Thu: 2012-11-08 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-11-07 15:25:00
</td>
<td align="right">
   64.61
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    -.52
</td>
<td>
Thu: 2012-11-08 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-11-07 15:30:00
</td>
<td align="right">
   64.63
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.58
</td>
<td>
Thu: 2012-11-08 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-11-07 15:35:00
</td>
<td align="right">
   64.65
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    -.51
</td>
<td>
Thu: 2012-11-08 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-11-07 15:40:00
</td>
<td align="right">
   64.62
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Thu: 2012-11-08 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-11-07 15:45:00
</td>
<td align="right">
   64.52
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Thu: 2012-11-08 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-11-07 18:05:00
</td>
<td align="right">
   64.41
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2012-11-08 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-11-07 18:35:00
</td>
<td align="right">
   64.49
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Thu: 2012-11-08 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-11-07 18:40:00
</td>
<td align="right">
   64.47
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Thu: 2012-11-08 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-11-07 19:05:00
</td>
<td align="right">
   64.41
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Thu: 2012-11-08 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-11-07 19:55:00
</td>
<td align="right">
   64.44
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Thu: 2012-11-08 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-11-07 20:20:00
</td>
<td align="right">
   64.47
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-11-07 20:25:00
</td>
<td align="right">
   64.52
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-11-07 20:30:00
</td>
<td align="right">
   64.52
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-11-07 20:40:00
</td>
<td align="right">
   64.42
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2012-11-07 15:50:00
</td>
<td align="right">
  124.14
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Thu: 2012-11-08 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2012-11-07 16:05:00
</td>
<td align="right">
  123.87
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2012-11-08 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2012-11-07 16:50:00
</td>
<td align="right">
  123.83
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .50
</td>
<td>
Thu: 2012-11-08 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2012-11-07 16:55:00
</td>
<td align="right">
  123.89
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .55
</td>
<td>
Thu: 2012-11-08 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2012-11-07 20:25:00
</td>
<td align="right">
  123.97
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2012-11-07 20:45:00
</td>
<td align="right">
  123.88
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2012-11-07 20:50:00
</td>
<td align="right">
  123.89
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2012-11-07 20:55:00
</td>
<td align="right">
  124.00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-07 16:50:00
</td>
<td align="right">
   63.96
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .47
</td>
<td>
Thu: 2012-11-08 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-07 15:00:00
</td>
<td align="right">
   50.78
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2012-11-08 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-07 15:05:00
</td>
<td align="right">
   50.85
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Thu: 2012-11-08 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-07 15:10:00
</td>
<td align="right">
   50.81
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Thu: 2012-11-08 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-07 15:15:00
</td>
<td align="right">
   50.65
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Thu: 2012-11-08 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-07 15:20:00
</td>
<td align="right">
   50.74
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.33
</td>
<td>
Thu: 2012-11-08 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-07 15:25:00
</td>
<td align="right">
   50.73
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.42
</td>
<td>
Thu: 2012-11-08 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-07 15:30:00
</td>
<td align="right">
   50.78
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.49
</td>
<td>
Thu: 2012-11-08 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-07 15:35:00
</td>
<td align="right">
   50.89
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.49
</td>
<td>
Thu: 2012-11-08 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-07 18:30:00
</td>
<td align="right">
   50.75
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2012-11-08 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-07 18:35:00
</td>
<td align="right">
   50.74
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2012-11-08 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-07 19:10:00
</td>
<td align="right">
   50.77
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2012-11-08 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-07 19:20:00
</td>
<td align="right">
   50.78
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2012-11-08 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-07 19:25:00
</td>
<td align="right">
   50.77
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2012-11-08 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-07 19:30:00
</td>
<td align="right">
   50.71
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2012-11-08 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-07 19:40:00
</td>
<td align="right">
   50.60
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Thu: 2012-11-08 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-07 20:20:00
</td>
<td align="right">
   50.74
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-07 20:30:00
</td>
<td align="right">
   50.81
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-07 20:35:00
</td>
<td align="right">
   50.70
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-07 20:40:00
</td>
<td align="right">
   50.74
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-07 20:45:00
</td>
<td align="right">
   50.59
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-07 20:50:00
</td>
<td align="right">
   50.71
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-11-07 15:50:00
</td>
<td align="right">
   80.60
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Thu: 2012-11-08 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-11-07 20:00:00
</td>
<td align="right">
   80.15
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-11-07 20:05:00
</td>
<td align="right">
   80.05
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-11-07 20:10:00
</td>
<td align="right">
   80.10
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-11-07 20:15:00
</td>
<td align="right">
   80.11
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-11-07 20:35:00
</td>
<td align="right">
   80.19
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-11-07 20:40:00
</td>
<td align="right">
   80.26
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-11-07 18:45:00
</td>
<td align="right">
   19.60
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2012-11-08 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-11-07 19:25:00
</td>
<td align="right">
   19.63
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2012-11-08 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-11-07 20:15:00
</td>
<td align="right">
   19.66
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2012-11-07 15:05:00
</td>
<td align="right">
   71.99
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.47
</td>
<td>
Thu: 2012-11-08 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2012-11-07 15:10:00
</td>
<td align="right">
   71.88
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.42
</td>
<td>
Thu: 2012-11-08 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2012-11-07 15:15:00
</td>
<td align="right">
   71.66
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Thu: 2012-11-08 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2012-11-07 15:20:00
</td>
<td align="right">
   71.62
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Thu: 2012-11-08 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2012-11-07 15:25:00
</td>
<td align="right">
   71.67
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.35
</td>
<td>
Thu: 2012-11-08 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2012-11-07 15:30:00
</td>
<td align="right">
   71.76
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.61
</td>
<td>
Thu: 2012-11-08 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-11-07 15:00:00
</td>
<td align="right">
   99.13
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.58
</td>
<td>
Thu: 2012-11-08 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-11-07 15:05:00
</td>
<td align="right">
   99.36
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.98
</td>
<td>
Thu: 2012-11-08 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-11-07 15:10:00
</td>
<td align="right">
   98.87
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.73
</td>
<td>
Thu: 2012-11-08 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-11-07 15:15:00
</td>
<td align="right">
   98.56
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.56
</td>
<td>
Thu: 2012-11-08 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-11-07 15:20:00
</td>
<td align="right">
   98.38
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.43
</td>
<td>
Thu: 2012-11-08 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-11-07 15:25:00
</td>
<td align="right">
   98.26
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Thu: 2012-11-08 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-11-07 15:35:00
</td>
<td align="right">
   98.77
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.68
</td>
<td>
Thu: 2012-11-08 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-11-07 15:55:00
</td>
<td align="right">
   98.18
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Thu: 2012-11-08 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-11-07 16:30:00
</td>
<td align="right">
   98.01
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2012-11-08 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-11-07 19:15:00
</td>
<td align="right">
   98.27
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Thu: 2012-11-08 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-11-07 19:25:00
</td>
<td align="right">
   98.31
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Thu: 2012-11-08 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-11-07 15:20:00
</td>
<td align="right">
   59.70
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.40
</td>
<td>
Thu: 2012-11-08 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-11-07 15:50:00
</td>
<td align="right">
   59.56
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2012-11-08 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-11-07 16:00:00
</td>
<td align="right">
   59.48
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2012-11-08 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-11-07 16:10:00
</td>
<td align="right">
   59.52
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2012-11-08 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-11-07 17:05:00
</td>
<td align="right">
   59.57
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2012-11-08 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-11-07 17:15:00
</td>
<td align="right">
   59.60
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Thu: 2012-11-08 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-11-07 17:20:00
</td>
<td align="right">
   59.57
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2012-11-08 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-11-07 18:55:00
</td>
<td align="right">
   59.54
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2012-11-08 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-11-07 19:35:00
</td>
<td align="right">
   59.63
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2012-11-08 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-11-07 19:40:00
</td>
<td align="right">
   59.56
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Thu: 2012-11-08 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-11-07 20:45:00
</td>
<td align="right">
   59.64
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-11-07 16:05:00
</td>
<td align="right">
   43.70
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2012-11-08 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-11-07 16:10:00
</td>
<td align="right">
   43.70
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2012-11-08 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-11-07 16:15:00
</td>
<td align="right">
   43.64
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Thu: 2012-11-08 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-11-07 16:25:00
</td>
<td align="right">
   43.58
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Thu: 2012-11-08 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-11-07 16:30:00
</td>
<td align="right">
   43.57
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2012-11-08 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-11-07 16:35:00
</td>
<td align="right">
   43.63
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2012-11-08 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-11-07 16:45:00
</td>
<td align="right">
   43.71
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2012-11-08 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-11-07 17:10:00
</td>
<td align="right">
   43.73
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Thu: 2012-11-08 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-11-07 17:20:00
</td>
<td align="right">
   43.80
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Thu: 2012-11-08 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-11-07 17:30:00
</td>
<td align="right">
   43.65
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Thu: 2012-11-08 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-11-07 17:40:00
</td>
<td align="right">
   43.65
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Thu: 2012-11-08 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-11-07 20:20:00
</td>
<td align="right">
   43.98
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-07 15:10:00
</td>
<td align="right">
   84.62
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.39
</td>
<td>
Thu: 2012-11-08 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-07 15:15:00
</td>
<td align="right">
   84.46
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.45
</td>
<td>
Thu: 2012-11-08 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-07 15:30:00
</td>
<td align="right">
   84.57
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.91
</td>
<td>
Thu: 2012-11-08 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-07 16:05:00
</td>
<td align="right">
   84.29
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2012-11-08 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-07 16:10:00
</td>
<td align="right">
   84.23
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2012-11-08 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-07 17:20:00
</td>
<td align="right">
   84.21
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .45
</td>
<td>
Thu: 2012-11-08 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-07 17:30:00
</td>
<td align="right">
   84.21
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .70
</td>
<td>
Thu: 2012-11-08 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-07 17:45:00
</td>
<td align="right">
   84.33
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Thu: 2012-11-08 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-07 18:05:00
</td>
<td align="right">
   84.65
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Thu: 2012-11-08 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-07 18:20:00
</td>
<td align="right">
   84.66
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2012-11-08 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-07 18:30:00
</td>
<td align="right">
   84.91
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.47
</td>
<td>
Thu: 2012-11-08 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-07 18:55:00
</td>
<td align="right">
   84.70
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Thu: 2012-11-08 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-07 19:00:00
</td>
<td align="right">
   84.88
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.66
</td>
<td>
Thu: 2012-11-08 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-07 19:05:00
</td>
<td align="right">
   84.82
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.52
</td>
<td>
Thu: 2012-11-08 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-07 19:10:00
</td>
<td align="right">
   84.65
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.33
</td>
<td>
Thu: 2012-11-08 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-07 19:15:00
</td>
<td align="right">
   84.59
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Thu: 2012-11-08 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-07 19:25:00
</td>
<td align="right">
   84.59
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2012-11-08 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-07 19:30:00
</td>
<td align="right">
   84.44
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Thu: 2012-11-08 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-07 20:10:00
</td>
<td align="right">
   84.32
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-07 20:20:00
</td>
<td align="right">
   84.51
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-07 20:50:00
</td>
<td align="right">
   84.42
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-11-07 15:30:00
</td>
<td align="right">
  130.04
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   -1.26
</td>
<td>
Thu: 2012-11-08 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-11-07 20:10:00
</td>
<td align="right">
  129.54
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-11-07 20:35:00
</td>
<td align="right">
  129.66
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-11-07 15:55:00
</td>
<td align="right">
   68.69
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Thu: 2012-11-08 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2012-11-07 16:15:00
</td>
<td align="right">
  151.00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Thu: 2012-11-08 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PPLT">PPLT</a></td>
<td>
2012-11-07 16:25:00
</td>
<td align="right">
  151.10
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .54
</td>
<td>
Thu: 2012-11-08 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2012-11-07 15:05:00
</td>
<td align="right">
   56.80
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.81
</td>
<td>
Thu: 2012-11-08 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2012-11-07 15:10:00
</td>
<td align="right">
   56.84
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.90
</td>
<td>
Thu: 2012-11-08 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2012-11-07 17:45:00
</td>
<td align="right">
   56.02
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2012-11-08 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-07 15:20:00
</td>
<td align="right">
   54.57
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.79
</td>
<td>
Thu: 2012-11-08 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-07 16:20:00
</td>
<td align="right">
   53.78
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Thu: 2012-11-08 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-07 16:35:00
</td>
<td align="right">
   53.66
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
Thu: 2012-11-08 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-07 16:40:00
</td>
<td align="right">
   53.58
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .43
</td>
<td>
Thu: 2012-11-08 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-07 17:10:00
</td>
<td align="right">
   53.94
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Thu: 2012-11-08 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-07 17:35:00
</td>
<td align="right">
   54.04
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Thu: 2012-11-08 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-07 17:45:00
</td>
<td align="right">
   54.00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Thu: 2012-11-08 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-07 18:05:00
</td>
<td align="right">
   54.23
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Thu: 2012-11-08 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-07 18:10:00
</td>
<td align="right">
   54.23
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Thu: 2012-11-08 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-07 18:15:00
</td>
<td align="right">
   54.13
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Thu: 2012-11-08 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-07 18:50:00
</td>
<td align="right">
   54.16
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2012-11-08 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-07 19:30:00
</td>
<td align="right">
   54.27
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Thu: 2012-11-08 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-07 19:45:00
</td>
<td align="right">
   54.22
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2012-11-08 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-07 20:55:00
</td>
<td align="right">
   54.24
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-11-07 15:45:00
</td>
<td align="right">
  143.19
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.93
</td>
<td>
Thu: 2012-11-08 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-11-07 16:25:00
</td>
<td align="right">
  141.96
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2012-11-08 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-11-07 19:30:00
</td>
<td align="right">
  142.19
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .97
</td>
<td>
Thu: 2012-11-08 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-11-07 19:55:00
</td>
<td align="right">
  142.66
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2012-11-08 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-11-07 20:35:00
</td>
<td align="right">
  143.03
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-08 20:35
</td>
</tr>
</table>
<br />