<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-12-23 15:25:00
</td>
<td align="right">
  117.45
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.60
</td>
<td>
Mon: 2011-12-26 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-12-23 17:15:00
</td>
<td align="right">
  117.13
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-12-26 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-12-23 18:15:00
</td>
<td align="right">
  117.05
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .50
</td>
<td>
Mon: 2011-12-26 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-12-23 19:35:00
</td>
<td align="right">
  117.26
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Mon: 2011-12-26 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-12-23 19:40:00
</td>
<td align="right">
   42.99
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-12-26 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 16:45:00
</td>
<td align="right">
   40.82
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-12-26 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 17:00:00
</td>
<td align="right">
   40.83
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-12-26 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 17:05:00
</td>
<td align="right">
   40.85
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-12-26 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 17:15:00
</td>
<td align="right">
   40.90
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-12-26 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 17:20:00
</td>
<td align="right">
   40.90
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-12-26 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 17:25:00
</td>
<td align="right">
   40.90
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-12-26 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 17:30:00
</td>
<td align="right">
   40.90
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-12-26 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 17:40:00
</td>
<td align="right">
   40.88
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-12-26 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 17:50:00
</td>
<td align="right">
   40.82
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-12-26 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 17:55:00
</td>
<td align="right">
   40.87
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-12-26 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 18:00:00
</td>
<td align="right">
   40.81
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-12-26 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 18:05:00
</td>
<td align="right">
   40.84
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-12-26 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 18:10:00
</td>
<td align="right">
   40.84
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-12-26 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 18:15:00
</td>
<td align="right">
   40.81
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-12-26 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 18:25:00
</td>
<td align="right">
   40.85
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-12-26 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 18:30:00
</td>
<td align="right">
   40.86
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-12-26 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 18:55:00
</td>
<td align="right">
   40.87
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-12-26 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 19:00:00
</td>
<td align="right">
   40.83
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-12-26 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 19:05:00
</td>
<td align="right">
   40.83
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-12-26 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 19:10:00
</td>
<td align="right">
   40.90
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-12-26 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 19:20:00
</td>
<td align="right">
   40.83
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-12-26 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 20:10:00
</td>
<td align="right">
   40.84
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 20:15:00
</td>
<td align="right">
   40.83
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 20:20:00
</td>
<td align="right">
   40.87
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 20:25:00
</td>
<td align="right">
   40.83
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 20:30:00
</td>
<td align="right">
   40.90
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-23 20:35:00
</td>
<td align="right">
   40.90
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-12-23 18:05:00
</td>
<td align="right">
  122.32
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-12-26 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-12-23 16:25:00
</td>
<td align="right">
   98.00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Mon: 2011-12-26 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-12-23 16:50:00
</td>
<td align="right">
   97.90
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Mon: 2011-12-26 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-12-23 16:55:00
</td>
<td align="right">
   97.87
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2011-12-26 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-12-23 17:00:00
</td>
<td align="right">
   97.89
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2011-12-26 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-12-23 17:05:00
</td>
<td align="right">
   97.78
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2011-12-26 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-12-23 17:10:00
</td>
<td align="right">
   97.90
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2011-12-26 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-12-23 17:15:00
</td>
<td align="right">
   97.81
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2011-12-26 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-12-23 17:20:00
</td>
<td align="right">
   97.83
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Mon: 2011-12-26 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-12-23 17:30:00
</td>
<td align="right">
   97.79
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2011-12-26 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-12-23 17:40:00
</td>
<td align="right">
   97.65
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-12-26 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-12-23 17:50:00
</td>
<td align="right">
   97.65
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2011-12-26 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-12-23 17:55:00
</td>
<td align="right">
   97.74
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Mon: 2011-12-26 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-12-23 18:05:00
</td>
<td align="right">
   97.65
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .30
</td>
<td>
Mon: 2011-12-26 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-12-23 18:20:00
</td>
<td align="right">
   97.55
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .38
</td>
<td>
Mon: 2011-12-26 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-12-23 18:25:00
</td>
<td align="right">
   97.55
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Mon: 2011-12-26 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-12-23 18:45:00
</td>
<td align="right">
   97.75
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Mon: 2011-12-26 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-12-23 18:50:00
</td>
<td align="right">
   97.85
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Mon: 2011-12-26 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-12-23 18:55:00
</td>
<td align="right">
   97.96
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-12-26 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2011-12-23 19:55:00
</td>
<td align="right">
   97.95
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .33
</td>
<td>
Mon: 2011-12-26 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2011-12-23 19:50:00
</td>
<td align="right">
   38.23
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-12-26 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2011-12-23 16:55:00
</td>
<td align="right">
   84.31
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .33
</td>
<td>
Mon: 2011-12-26 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2011-12-23 17:20:00
</td>
<td align="right">
   84.59
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-12-26 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2011-12-23 17:25:00
</td>
<td align="right">
   84.56
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-12-26 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2011-12-23 17:30:00
</td>
<td align="right">
   84.61
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-12-26 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2011-12-23 17:35:00
</td>
<td align="right">
   84.59
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-12-26 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2011-12-23 17:40:00
</td>
<td align="right">
   84.60
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-12-26 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2011-12-23 17:45:00
</td>
<td align="right">
   84.60
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-12-26 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2011-12-23 17:50:00
</td>
<td align="right">
   84.60
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-12-26 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2011-12-23 17:55:00
</td>
<td align="right">
   84.64
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-12-26 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2011-12-23 19:30:00
</td>
<td align="right">
   84.61
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-12-26 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2011-12-23 20:40:00
</td>
<td align="right">
   84.84
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-23 18:55:00
</td>
<td align="right">
   34.78
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-12-26 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-23 19:00:00
</td>
<td align="right">
   34.77
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2011-12-26 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-23 19:05:00
</td>
<td align="right">
   34.72
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-12-26 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-23 19:10:00
</td>
<td align="right">
   34.75
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2011-12-26 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-23 19:15:00
</td>
<td align="right">
   34.72
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-12-26 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-23 19:20:00
</td>
<td align="right">
   34.67
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-12-26 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-23 19:25:00
</td>
<td align="right">
   34.69
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-12-26 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-23 19:30:00
</td>
<td align="right">
   34.76
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-12-26 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-23 15:05:00
</td>
<td align="right">
   52.54
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-12-26 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-23 15:10:00
</td>
<td align="right">
   52.51
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2011-12-26 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-23 15:20:00
</td>
<td align="right">
   52.55
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-12-26 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-23 15:40:00
</td>
<td align="right">
   52.74
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2011-12-26 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-23 16:20:00
</td>
<td align="right">
   52.55
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-12-26 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-23 16:25:00
</td>
<td align="right">
   52.56
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-12-26 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-23 16:35:00
</td>
<td align="right">
   52.55
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-12-26 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-23 16:45:00
</td>
<td align="right">
   52.53
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-12-26 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-23 18:50:00
</td>
<td align="right">
   52.59
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-12-26 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-23 18:55:00
</td>
<td align="right">
   52.58
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-12-26 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-23 19:00:00
</td>
<td align="right">
   52.57
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-12-26 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-23 19:05:00
</td>
<td align="right">
   52.56
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-12-26 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-23 19:55:00
</td>
<td align="right">
   52.60
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-12-26 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-23 20:10:00
</td>
<td align="right">
   52.56
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-23 20:15:00
</td>
<td align="right">
   52.57
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-23 20:25:00
</td>
<td align="right">
   52.52
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-23 20:30:00
</td>
<td align="right">
   52.54
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-23 20:35:00
</td>
<td align="right">
   52.53
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-23 20:50:00
</td>
<td align="right">
   52.64
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2011-12-23 18:15:00
</td>
<td align="right">
    5.45
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-12-26 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2011-12-23 18:20:00
</td>
<td align="right">
    5.46
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-12-26 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-12-23 16:00:00
</td>
<td align="right">
   43.06
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-12-26 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-12-23 18:20:00
</td>
<td align="right">
   43.31
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-12-26 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-12-23 19:30:00
</td>
<td align="right">
   43.40
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-12-26 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2011-12-23 20:15:00
</td>
<td align="right">
   70.85
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-12-23 17:40:00
</td>
<td align="right">
   52.25
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-12-26 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-12-23 19:10:00
</td>
<td align="right">
   26.00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-12-26 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-12-23 19:30:00
</td>
<td align="right">
   25.97
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-12-26 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-12-23 20:05:00
</td>
<td align="right">
   25.97
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-12-23 20:15:00
</td>
<td align="right">
   25.97
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-12-23 20:35:00
</td>
<td align="right">
   25.95
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-12-23 20:40:00
</td>
<td align="right">
   25.99
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-12-23 19:00:00
</td>
<td align="right">
   12.65
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-12-26 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-12-23 20:15:00
</td>
<td align="right">
   12.77
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SNDK">SNDK</a></td>
<td>
2011-12-23 19:20:00
</td>
<td align="right">
   50.41
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-12-26 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SNDK">SNDK</a></td>
<td>
2011-12-23 19:25:00
</td>
<td align="right">
   50.42
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-12-26 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SNDK">SNDK</a></td>
<td>
2011-12-23 19:30:00
</td>
<td align="right">
   50.49
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-12-26 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 15:05:00
</td>
<td align="right">
    6.30
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-12-26 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 15:15:00
</td>
<td align="right">
    6.23
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-12-26 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 15:20:00
</td>
<td align="right">
    6.29
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-12-26 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 15:30:00
</td>
<td align="right">
    6.26
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-12-26 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 15:45:00
</td>
<td align="right">
    6.28
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-12-26 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 15:50:00
</td>
<td align="right">
    6.29
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-12-26 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 16:05:00
</td>
<td align="right">
    6.29
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-12-26 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 16:30:00
</td>
<td align="right">
    6.27
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-12-26 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 16:50:00
</td>
<td align="right">
    6.28
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-12-26 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 16:55:00
</td>
<td align="right">
    6.29
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-12-26 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 17:00:00
</td>
<td align="right">
    6.28
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-12-26 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 17:05:00
</td>
<td align="right">
    6.28
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-12-26 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 17:10:00
</td>
<td align="right">
    6.30
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-12-26 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 17:15:00
</td>
<td align="right">
    6.30
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-12-26 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 17:20:00
</td>
<td align="right">
    6.31
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-12-26 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 17:25:00
</td>
<td align="right">
    6.34
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-12-26 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 17:30:00
</td>
<td align="right">
    6.32
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-12-26 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 17:35:00
</td>
<td align="right">
    6.29
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-12-26 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 17:45:00
</td>
<td align="right">
    6.31
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-12-26 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 17:50:00
</td>
<td align="right">
    6.32
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-12-26 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 17:55:00
</td>
<td align="right">
    6.34
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-12-26 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 18:05:00
</td>
<td align="right">
    6.33
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-12-26 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 18:10:00
</td>
<td align="right">
    6.34
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-12-26 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 18:15:00
</td>
<td align="right">
    6.34
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-12-26 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 18:20:00
</td>
<td align="right">
    6.33
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-12-26 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 18:25:00
</td>
<td align="right">
    6.33
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-12-26 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 18:30:00
</td>
<td align="right">
    6.34
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-12-26 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 18:35:00
</td>
<td align="right">
    6.34
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-12-26 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 18:40:00
</td>
<td align="right">
    6.35
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-12-26 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 18:45:00
</td>
<td align="right">
    6.35
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-12-26 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 18:50:00
</td>
<td align="right">
    6.39
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-12-26 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 18:55:00
</td>
<td align="right">
    6.39
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-12-26 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 19:00:00
</td>
<td align="right">
    6.39
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-12-26 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 19:05:00
</td>
<td align="right">
    6.39
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-12-26 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 19:10:00
</td>
<td align="right">
    6.37
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-12-26 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 19:15:00
</td>
<td align="right">
    6.38
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-12-26 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 19:20:00
</td>
<td align="right">
    6.35
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-12-26 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 19:25:00
</td>
<td align="right">
    6.35
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-12-26 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 19:30:00
</td>
<td align="right">
    6.35
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-12-26 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 19:35:00
</td>
<td align="right">
    6.35
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-12-26 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 19:40:00
</td>
<td align="right">
    6.33
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-12-26 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 19:45:00
</td>
<td align="right">
    6.35
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-12-26 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 19:50:00
</td>
<td align="right">
    6.35
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-12-26 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 19:55:00
</td>
<td align="right">
    6.34
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-12-26 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 20:00:00
</td>
<td align="right">
    6.35
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 20:05:00
</td>
<td align="right">
    6.34
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 20:10:00
</td>
<td align="right">
    6.36
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 20:15:00
</td>
<td align="right">
    6.36
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 20:20:00
</td>
<td align="right">
    6.35
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 20:25:00
</td>
<td align="right">
    6.35
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 20:30:00
</td>
<td align="right">
    6.35
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 20:35:00
</td>
<td align="right">
    6.36
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 20:40:00
</td>
<td align="right">
    6.36
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 20:45:00
</td>
<td align="right">
    6.37
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-23 20:55:00
</td>
<td align="right">
    6.41
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-12-23 17:55:00
</td>
<td align="right">
   51.69
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2011-12-26 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-12-23 18:10:00
</td>
<td align="right">
   51.72
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2011-12-26 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-12-23 18:15:00
</td>
<td align="right">
   51.68
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2011-12-26 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-12-23 18:25:00
</td>
<td align="right">
   51.70
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2011-12-26 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-12-23 20:45:00
</td>
<td align="right">
   51.67
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TSO">TSO</a></td>
<td>
2011-12-23 17:30:00
</td>
<td align="right">
   23.39
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2011-12-26 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2011-12-23 15:15:00
</td>
<td align="right">
   71.22
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-12-26 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2011-12-23 17:10:00
</td>
<td align="right">
   72.08
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .78
</td>
<td>
Mon: 2011-12-26 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-12-23 17:40:00
</td>
<td align="right">
   51.30
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-12-26 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-12-23 17:55:00
</td>
<td align="right">
   51.22
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-12-26 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-12-23 18:00:00
</td>
<td align="right">
   51.23
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2011-12-26 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-12-23 18:10:00
</td>
<td align="right">
   51.26
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-12-26 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-12-23 18:45:00
</td>
<td align="right">
   51.24
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-12-26 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-12-23 15:30:00
</td>
<td align="right">
   73.12
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-12-26 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-12-23 16:50:00
</td>
<td align="right">
   73.19
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-12-26 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-12-23 19:30:00
</td>
<td align="right">
   73.29
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-12-26 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-12-23 19:45:00
</td>
<td align="right">
   73.34
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-12-26 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-12-23 19:50:00
</td>
<td align="right">
   73.35
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-12-26 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-12-23 20:00:00
</td>
<td align="right">
   73.28
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-12-23 20:05:00
</td>
<td align="right">
   73.30
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2011-12-23 20:10:00
</td>
<td align="right">
   73.30
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-12-23 18:30:00
</td>
<td align="right">
   84.87
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-12-26 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-12-23 19:35:00
</td>
<td align="right">
   84.91
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-12-26 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-12-23 19:40:00
</td>
<td align="right">
   84.88
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2011-12-26 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-12-23 19:50:00
</td>
<td align="right">
   84.90
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-12-26 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2011-12-23 18:35:00
</td>
<td align="right">
  175.39
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .61
</td>
<td>
Mon: 2011-12-26 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-12-23 15:55:00
</td>
<td align="right">
   98.07
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-12-26 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2011-12-23 17:45:00
</td>
<td align="right">
   98.05
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-12-26 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVE">CVE</a></td>
<td>
2011-12-23 19:40:00
</td>
<td align="right">
   32.86
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-12-26 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVE">CVE</a></td>
<td>
2011-12-23 20:40:00
</td>
<td align="right">
   32.93
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVE">CVE</a></td>
<td>
2011-12-23 20:50:00
</td>
<td align="right">
   32.91
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVE">CVE</a></td>
<td>
2011-12-23 20:55:00
</td>
<td align="right">
   32.96
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EBAY">EBAY</a></td>
<td>
2011-12-23 18:45:00
</td>
<td align="right">
   30.82
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-12-26 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-23 16:25:00
</td>
<td align="right">
    9.61
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-12-26 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-23 16:30:00
</td>
<td align="right">
    9.62
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-12-26 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-23 16:35:00
</td>
<td align="right">
    9.62
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-12-26 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-23 16:40:00
</td>
<td align="right">
    9.62
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-12-26 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-23 16:50:00
</td>
<td align="right">
    9.62
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-12-26 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-23 16:55:00
</td>
<td align="right">
    9.62
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-12-26 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-23 18:20:00
</td>
<td align="right">
    9.61
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-12-26 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-23 19:45:00
</td>
<td align="right">
    9.64
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-12-26 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-23 20:10:00
</td>
<td align="right">
    9.63
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-23 20:25:00
</td>
<td align="right">
    9.63
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-12-23 15:35:00
</td>
<td align="right">
  103.99
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .81
</td>
<td>
Mon: 2011-12-26 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-12-23 15:40:00
</td>
<td align="right">
  103.80
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    1.06
</td>
<td>
Mon: 2011-12-26 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-12-23 16:00:00
</td>
<td align="right">
  104.15
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .85
</td>
<td>
Mon: 2011-12-26 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-12-23 16:20:00
</td>
<td align="right">
  104.72
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2011-12-26 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-12-23 16:35:00
</td>
<td align="right">
  104.80
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Mon: 2011-12-26 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-12-23 17:05:00
</td>
<td align="right">
  104.99
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Mon: 2011-12-26 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-12-23 17:35:00
</td>
<td align="right">
  105.10
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2011-12-26 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GD">GD</a></td>
<td>
2011-12-23 15:45:00
</td>
<td align="right">
   65.99
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Mon: 2011-12-26 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-12-23 15:05:00
</td>
<td align="right">
  633.41
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.82
</td>
<td>
Mon: 2011-12-26 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-12-23 15:15:00
</td>
<td align="right">
  632.58
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .42
</td>
<td>
Mon: 2011-12-26 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-12-23 15:20:00
</td>
<td align="right">
  632.72
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2011-12-26 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-12-23 15:30:00
</td>
<td align="right">
  632.97
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Mon: 2011-12-26 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-12-23 16:35:00
</td>
<td align="right">
  633.24
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-12-26 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-12-23 17:25:00
</td>
<td align="right">
  633.06
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .93
</td>
<td>
Mon: 2011-12-26 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-12-23 19:30:00
</td>
<td align="right">
  632.71
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.59
</td>
<td>
Mon: 2011-12-26 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-12-23 19:40:00
</td>
<td align="right">
  631.09
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .84
</td>
<td>
Mon: 2011-12-26 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-12-23 20:30:00
</td>
<td align="right">
  632.12
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-12-23 20:35:00
</td>
<td align="right">
  631.93
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-12-23 18:30:00
</td>
<td align="right">
   30.86
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-12-26 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2011-12-23 19:00:00
</td>
<td align="right">
   64.26
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-12-26 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2011-12-23 16:35:00
</td>
<td align="right">
   58.07
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Mon: 2011-12-26 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2011-12-23 19:30:00
</td>
<td align="right">
   58.30
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-12-26 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 17:45:00
</td>
<td align="right">
   45.23
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-12-26 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 18:25:00
</td>
<td align="right">
   45.24
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-12-26 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 18:30:00
</td>
<td align="right">
   45.23
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2011-12-26 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 18:35:00
</td>
<td align="right">
   45.24
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-12-26 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 18:40:00
</td>
<td align="right">
   45.25
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-12-26 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 18:50:00
</td>
<td align="right">
   45.27
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-12-26 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 18:55:00
</td>
<td align="right">
   45.30
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-12-26 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 19:10:00
</td>
<td align="right">
   45.32
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2011-12-26 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 19:25:00
</td>
<td align="right">
   45.33
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-12-26 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 19:30:00
</td>
<td align="right">
   45.31
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-12-26 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 19:35:00
</td>
<td align="right">
   45.29
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-12-26 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 19:40:00
</td>
<td align="right">
   45.30
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-12-26 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 19:45:00
</td>
<td align="right">
   45.30
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-12-26 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 19:50:00
</td>
<td align="right">
   45.31
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-12-26 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 19:55:00
</td>
<td align="right">
   45.31
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2011-12-26 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 20:00:00
</td>
<td align="right">
   45.32
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 20:05:00
</td>
<td align="right">
   45.31
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 20:10:00
</td>
<td align="right">
   45.29
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 20:15:00
</td>
<td align="right">
   45.30
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 20:20:00
</td>
<td align="right">
   45.30
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 20:25:00
</td>
<td align="right">
   45.28
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 20:30:00
</td>
<td align="right">
   45.33
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 20:40:00
</td>
<td align="right">
   45.39
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-12-23 20:50:00
</td>
<td align="right">
   45.41
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-12-23 15:50:00
</td>
<td align="right">
   12.44
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-12-26 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-12-23 16:00:00
</td>
<td align="right">
   12.50
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-12-26 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-12-23 16:40:00
</td>
<td align="right">
   12.54
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-12-26 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-12-23 17:00:00
</td>
<td align="right">
   12.53
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-12-26 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-12-23 17:15:00
</td>
<td align="right">
   12.52
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-12-26 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-12-23 17:30:00
</td>
<td align="right">
   12.47
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2011-12-26 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-12-23 17:35:00
</td>
<td align="right">
   12.48
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2011-12-26 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2011-12-23 20:25:00
</td>
<td align="right">
   12.74
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2011-12-23 17:40:00
</td>
<td align="right">
   68.85
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2011-12-26 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2011-12-23 20:30:00
</td>
<td align="right">
   68.88
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2011-12-23 20:40:00
</td>
<td align="right">
   69.02
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2011-12-23 20:45:00
</td>
<td align="right">
   68.98
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2011-12-23 20:50:00
</td>
<td align="right">
   68.99
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2011-12-23 16:45:00
</td>
<td align="right">
   11.00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-12-26 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2011-12-23 17:15:00
</td>
<td align="right">
   11.01
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-12-26 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2011-12-23 17:20:00
</td>
<td align="right">
   11.01
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2011-12-26 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2011-12-23 17:25:00
</td>
<td align="right">
   11.00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-12-26 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2011-12-23 17:30:00
</td>
<td align="right">
   10.99
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2011-12-26 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2011-12-23 17:35:00
</td>
<td align="right">
   10.99
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2011-12-26 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2011-12-23 17:55:00
</td>
<td align="right">
   10.98
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-12-26 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 15:25:00
</td>
<td align="right">
   41.48
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-12-26 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 15:30:00
</td>
<td align="right">
   41.46
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2011-12-26 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 15:40:00
</td>
<td align="right">
   41.50
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-12-26 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 15:50:00
</td>
<td align="right">
   41.51
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-12-26 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 18:10:00
</td>
<td align="right">
   41.49
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-12-26 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 18:15:00
</td>
<td align="right">
   41.50
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2011-12-26 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 18:20:00
</td>
<td align="right">
   41.50
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-12-26 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 18:25:00
</td>
<td align="right">
   41.50
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-12-26 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 18:30:00
</td>
<td align="right">
   41.49
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-12-26 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 18:35:00
</td>
<td align="right">
   41.50
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-12-26 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 18:40:00
</td>
<td align="right">
   41.48
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-12-26 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 18:50:00
</td>
<td align="right">
   41.55
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-12-26 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 18:55:00
</td>
<td align="right">
   41.53
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2011-12-26 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 19:00:00
</td>
<td align="right">
   41.48
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2011-12-26 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 19:05:00
</td>
<td align="right">
   41.43
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2011-12-26 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 19:10:00
</td>
<td align="right">
   41.45
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-12-26 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 19:20:00
</td>
<td align="right">
   41.45
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2011-12-26 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 19:25:00
</td>
<td align="right">
   41.50
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2011-12-26 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 19:35:00
</td>
<td align="right">
   41.50
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2011-12-26 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 19:40:00
</td>
<td align="right">
   41.52
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2011-12-26 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 19:45:00
</td>
<td align="right">
   41.55
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-12-26 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 19:50:00
</td>
<td align="right">
   41.56
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2011-12-26 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 19:55:00
</td>
<td align="right">
   41.57
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2011-12-26 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 20:10:00
</td>
<td align="right">
   41.60
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 20:35:00
</td>
<td align="right">
   41.62
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 20:40:00
</td>
<td align="right">
   41.66
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2011-12-23 20:45:00
</td>
<td align="right">
   41.57
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-12-23 16:10:00
</td>
<td align="right">
   51.15
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
Mon: 2011-12-26 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-12-23 16:45:00
</td>
<td align="right">
   51.35
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .34
</td>
<td>
Mon: 2011-12-26 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-12-23 16:50:00
</td>
<td align="right">
   51.37
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Mon: 2011-12-26 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-12-23 16:55:00
</td>
<td align="right">
   51.50
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2011-12-26 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-12-23 17:05:00
</td>
<td align="right">
   51.45
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Mon: 2011-12-26 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-12-23 17:10:00
</td>
<td align="right">
   51.53
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2011-12-26 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-12-23 19:50:00
</td>
<td align="right">
   51.54
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2011-12-26 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-12-23 20:00:00
</td>
<td align="right">
   51.54
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-12-23 20:05:00
</td>
<td align="right">
   51.55
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2011-12-23 20:10:00
</td>
<td align="right">
   51.53
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2011-12-23 20:40:00
</td>
<td align="right">
   73.39
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WDC">WDC</a></td>
<td>
2011-12-23 20:35:00
</td>
<td align="right">
   32.05
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-26 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WFM">WFM</a></td>
<td>
2011-12-23 15:05:00
</td>
<td align="right">
   68.70
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Mon: 2011-12-26 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WFM">WFM</a></td>
<td>
2011-12-23 19:40:00
</td>
<td align="right">
   68.81
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2011-12-26 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLB">XLB</a></td>
<td>
2011-12-23 15:30:00
</td>
<td align="right">
   33.67
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2011-12-26 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLB">XLB</a></td>
<td>
2011-12-23 15:40:00
</td>
<td align="right">
   33.66
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2011-12-26 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLB">XLB</a></td>
<td>
2011-12-23 16:15:00
</td>
<td align="right">
   33.75
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-12-26 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLB">XLB</a></td>
<td>
2011-12-23 16:25:00
</td>
<td align="right">
   33.77
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2011-12-26 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLB">XLB</a></td>
<td>
2011-12-23 16:40:00
</td>
<td align="right">
   33.79
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-12-26 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLB">XLB</a></td>
<td>
2011-12-23 17:05:00
</td>
<td align="right">
   33.77
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2011-12-26 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLB">XLB</a></td>
<td>
2011-12-23 18:30:00
</td>
<td align="right">
   33.74
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-12-26 18:30
</td>
</tr>
</table>
<br />