<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-12-17 15:00:00
</td>
<td align="right">
  281.68
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .42
</td>
<td>
Tue: 2012-12-18 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-12-17 15:05:00
</td>
<td align="right">
  281.70
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .64
</td>
<td>
Tue: 2012-12-18 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-12-17 15:10:00
</td>
<td align="right">
  281.95
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .58
</td>
<td>
Tue: 2012-12-18 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-12-17 15:15:00
</td>
<td align="right">
  280.15
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    2.15
</td>
<td>
Tue: 2012-12-18 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-12-17 15:20:00
</td>
<td align="right">
  280.26
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    2.68
</td>
<td>
Tue: 2012-12-18 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-12-17 15:25:00
</td>
<td align="right">
  280.81
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    1.55
</td>
<td>
Tue: 2012-12-18 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-12-17 15:30:00
</td>
<td align="right">
  281.76
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .84
</td>
<td>
Tue: 2012-12-18 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-12-17 15:35:00
</td>
<td align="right">
  281.86
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    1.63
</td>
<td>
Tue: 2012-12-18 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-12-17 15:40:00
</td>
<td align="right">
  281.59
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    1.36
</td>
<td>
Tue: 2012-12-18 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-12-17 15:45:00
</td>
<td align="right">
  281.83
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    1.00
</td>
<td>
Tue: 2012-12-18 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-12-17 15:50:00
</td>
<td align="right">
  282.14
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .79
</td>
<td>
Tue: 2012-12-18 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-12-17 15:55:00
</td>
<td align="right">
  281.96
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .78
</td>
<td>
Tue: 2012-12-18 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-12-17 16:00:00
</td>
<td align="right">
  282.10
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .51
</td>
<td>
Tue: 2012-12-18 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-12-17 16:25:00
</td>
<td align="right">
  282.36
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .52
</td>
<td>
Tue: 2012-12-18 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-12-17 18:40:00
</td>
<td align="right">
  281.94
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    2.87
</td>
<td>
Tue: 2012-12-18 18:40
</td>
</tr>
</table>
<br />