<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-06-05 16:10:00
</td>
<td align="right">
   60.00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2012-06-06 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-06-05 19:35:00
</td>
<td align="right">
   68.58
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-06-05 18:05:00
</td>
<td align="right">
  213.09
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2012-06-06 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-06-05 18:00:00
</td>
<td align="right">
   37.35
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2012-06-06 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-06-05 19:15:00
</td>
<td align="right">
   37.38
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-06-05 16:50:00
</td>
<td align="right">
   53.92
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2012-06-06 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-06-05 16:55:00
</td>
<td align="right">
   53.94
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Wed: 2012-06-06 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-06-05 18:50:00
</td>
<td align="right">
   53.94
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-06-05 15:10:00
</td>
<td align="right">
   46.76
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Wed: 2012-06-06 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-06-05 17:55:00
</td>
<td align="right">
   46.99
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2012-06-06 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-06-05 19:10:00
</td>
<td align="right">
   47.00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-06-05 17:50:00
</td>
<td align="right">
   50.06
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Wed: 2012-06-06 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-06-05 19:00:00
</td>
<td align="right">
   50.07
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-06-05 19:15:00
</td>
<td align="right">
   50.14
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-06-05 19:25:00
</td>
<td align="right">
   50.17
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-06-05 17:00:00
</td>
<td align="right">
  133.42
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .49
</td>
<td>
Wed: 2012-06-06 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-06-05 17:15:00
</td>
<td align="right">
  133.14
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    1.43
</td>
<td>
Wed: 2012-06-06 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-06-05 18:00:00
</td>
<td align="right">
  133.91
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-06-06 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-06-05 18:10:00
</td>
<td align="right">
  134.37
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Wed: 2012-06-06 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-06-05 19:10:00
</td>
<td align="right">
  133.89
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-06-05 19:20:00
</td>
<td align="right">
   96.35
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-06-05 19:30:00
</td>
<td align="right">
   96.40
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-06-05 14:55:00
</td>
<td align="right">
   46.89
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2012-06-06 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-06-05 15:05:00
</td>
<td align="right">
   46.93
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2012-06-06 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-06-05 15:30:00
</td>
<td align="right">
   46.97
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2012-06-06 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-06-05 15:45:00
</td>
<td align="right">
   46.89
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Wed: 2012-06-06 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-06-05 15:55:00
</td>
<td align="right">
   46.85
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .36
</td>
<td>
Wed: 2012-06-06 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-06-05 16:10:00
</td>
<td align="right">
   46.93
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Wed: 2012-06-06 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-06-05 18:00:00
</td>
<td align="right">
   47.22
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-06-06 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 14:00:00
</td>
<td align="right">
   56.55
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   -1.36
</td>
<td>
Wed: 2012-06-06 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 14:05:00
</td>
<td align="right">
   56.36
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.87
</td>
<td>
Wed: 2012-06-06 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 14:10:00
</td>
<td align="right">
   56.39
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.88
</td>
<td>
Wed: 2012-06-06 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 14:25:00
</td>
<td align="right">
   56.48
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   -1.13
</td>
<td>
Wed: 2012-06-06 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 14:30:00
</td>
<td align="right">
   56.30
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.90
</td>
<td>
Wed: 2012-06-06 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 14:35:00
</td>
<td align="right">
   56.04
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.77
</td>
<td>
Wed: 2012-06-06 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 14:40:00
</td>
<td align="right">
   55.81
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
    -.63
</td>
<td>
Wed: 2012-06-06 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 14:45:00
</td>
<td align="right">
   55.70
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.45
</td>
<td>
Wed: 2012-06-06 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 14:55:00
</td>
<td align="right">
   55.41
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.37
</td>
<td>
Wed: 2012-06-06 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 15:05:00
</td>
<td align="right">
   55.49
</td>
<td align="right">
 -.95
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Wed: 2012-06-06 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 15:10:00
</td>
<td align="right">
   55.51
</td>
<td align="right">
 -.92
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Wed: 2012-06-06 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 15:15:00
</td>
<td align="right">
   55.62
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Wed: 2012-06-06 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 15:20:00
</td>
<td align="right">
   55.51
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2012-06-06 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 15:25:00
</td>
<td align="right">
   55.35
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Wed: 2012-06-06 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 15:30:00
</td>
<td align="right">
   55.40
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Wed: 2012-06-06 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 16:05:00
</td>
<td align="right">
   55.36
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Wed: 2012-06-06 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 16:15:00
</td>
<td align="right">
   55.43
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2012-06-06 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 16:20:00
</td>
<td align="right">
   55.53
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-06-06 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 16:35:00
</td>
<td align="right">
   55.75
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Wed: 2012-06-06 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 16:40:00
</td>
<td align="right">
   55.70
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2012-06-06 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 16:50:00
</td>
<td align="right">
   55.57
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
     .33
</td>
<td>
Wed: 2012-06-06 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 16:55:00
</td>
<td align="right">
   55.71
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-06-06 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 17:00:00
</td>
<td align="right">
   55.64
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Wed: 2012-06-06 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 17:05:00
</td>
<td align="right">
   55.60
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
     .33
</td>
<td>
Wed: 2012-06-06 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 17:10:00
</td>
<td align="right">
   55.64
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Wed: 2012-06-06 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 17:15:00
</td>
<td align="right">
   55.53
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Wed: 2012-06-06 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 17:20:00
</td>
<td align="right">
   55.66
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .38
</td>
<td>
Wed: 2012-06-06 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 17:25:00
</td>
<td align="right">
   55.64
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .38
</td>
<td>
Wed: 2012-06-06 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 17:30:00
</td>
<td align="right">
   55.56
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
     .42
</td>
<td>
Wed: 2012-06-06 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 17:35:00
</td>
<td align="right">
   55.65
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Wed: 2012-06-06 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 17:40:00
</td>
<td align="right">
   55.76
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2012-06-06 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 17:55:00
</td>
<td align="right">
   55.84
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-06-06 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 18:10:00
</td>
<td align="right">
   55.96
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2012-06-06 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 18:15:00
</td>
<td align="right">
   56.00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Wed: 2012-06-06 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 18:20:00
</td>
<td align="right">
   56.04
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Wed: 2012-06-06 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 18:25:00
</td>
<td align="right">
   56.02
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Wed: 2012-06-06 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 18:45:00
</td>
<td align="right">
   55.87
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .36
</td>
<td>
Wed: 2012-06-06 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 19:00:00
</td>
<td align="right">
   55.96
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 19:05:00
</td>
<td align="right">
   55.93
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 19:15:00
</td>
<td align="right">
   55.88
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 19:20:00
</td>
<td align="right">
   55.95
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 19:25:00
</td>
<td align="right">
   55.97
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 19:30:00
</td>
<td align="right">
   56.12
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 19:35:00
</td>
<td align="right">
   56.21
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 19:40:00
</td>
<td align="right">
   56.28
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 19:45:00
</td>
<td align="right">
   56.23
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 19:55:00
</td>
<td align="right">
   56.12
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2012-06-05 19:15:00
</td>
<td align="right">
   40.56
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-06-05 18:45:00
</td>
<td align="right">
   38.82
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-06-05 14:05:00
</td>
<td align="right">
   68.29
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.33
</td>
<td>
Wed: 2012-06-06 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-06-05 14:40:00
</td>
<td align="right">
   68.04
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2012-06-06 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-06-05 17:35:00
</td>
<td align="right">
   68.17
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Wed: 2012-06-06 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-06-05 18:00:00
</td>
<td align="right">
   68.20
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Wed: 2012-06-06 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-06-05 18:15:00
</td>
<td align="right">
   68.41
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-06-06 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-06-05 18:20:00
</td>
<td align="right">
   68.39
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Wed: 2012-06-06 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-06-05 18:30:00
</td>
<td align="right">
   68.36
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Wed: 2012-06-06 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-06-05 19:10:00
</td>
<td align="right">
   68.49
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-06-05 19:25:00
</td>
<td align="right">
   68.47
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2012-06-05 14:45:00
</td>
<td align="right">
   44.34
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Wed: 2012-06-06 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-06-05 15:55:00
</td>
<td align="right">
   55.04
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .67
</td>
<td>
Wed: 2012-06-06 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2012-06-05 14:25:00
</td>
<td align="right">
   40.24
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2012-06-06 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2012-06-05 15:45:00
</td>
<td align="right">
   40.29
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Wed: 2012-06-06 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2012-06-05 15:55:00
</td>
<td align="right">
   40.26
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Wed: 2012-06-06 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-06-05 15:25:00
</td>
<td align="right">
  405.31
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .97
</td>
<td>
Wed: 2012-06-06 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-06-05 15:45:00
</td>
<td align="right">
  405.29
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    1.13
</td>
<td>
Wed: 2012-06-06 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-06-05 16:40:00
</td>
<td align="right">
  407.00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    2.07
</td>
<td>
Wed: 2012-06-06 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-06-05 16:50:00
</td>
<td align="right">
  407.19
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    1.27
</td>
<td>
Wed: 2012-06-06 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-06-05 17:20:00
</td>
<td align="right">
  407.93
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .57
</td>
<td>
Wed: 2012-06-06 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-06-05 17:55:00
</td>
<td align="right">
  408.38
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   -1.53
</td>
<td>
Wed: 2012-06-06 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-06-05 18:35:00
</td>
<td align="right">
  406.94
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    1.20
</td>
<td>
Wed: 2012-06-06 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-06-05 18:50:00
</td>
<td align="right">
  406.67
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    1.90
</td>
<td>
Wed: 2012-06-06 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-06-05 19:00:00
</td>
<td align="right">
  407.08
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-06-05 19:05:00
</td>
<td align="right">
  406.96
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-06-05 19:15:00
</td>
<td align="right">
  407.46
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-06-05 19:30:00
</td>
<td align="right">
  407.64
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-06-05 19:35:00
</td>
<td align="right">
  408.14
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-06-05 19:50:00
</td>
<td align="right">
  408.57
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-06-06 19:50
</td>
</tr>
</table>
<br />