<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-02-27 20:10:00
</td>
<td align="right">
  390.20
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-02-27 18:40:00
</td>
<td align="right">
  143.25
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .70
</td>
<td>
Tue: 2012-02-28 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-02-27 18:50:00
</td>
<td align="right">
  142.83
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    1.15
</td>
<td>
Tue: 2012-02-28 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-02-27 19:10:00
</td>
<td align="right">
  143.57
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2012-02-28 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-02-27 19:15:00
</td>
<td align="right">
  143.66
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2012-02-28 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-02-27 19:20:00
</td>
<td align="right">
  143.53
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Tue: 2012-02-28 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 15:00:00
</td>
<td align="right">
   75.24
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .49
</td>
<td>
Tue: 2012-02-28 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 15:05:00
</td>
<td align="right">
   75.43
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Tue: 2012-02-28 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 15:10:00
</td>
<td align="right">
   75.62
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Tue: 2012-02-28 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 15:15:00
</td>
<td align="right">
   75.66
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Tue: 2012-02-28 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 15:20:00
</td>
<td align="right">
   75.89
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Tue: 2012-02-28 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 15:25:00
</td>
<td align="right">
   75.72
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Tue: 2012-02-28 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 15:30:00
</td>
<td align="right">
   75.47
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Tue: 2012-02-28 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 15:35:00
</td>
<td align="right">
   75.43
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
     .40
</td>
<td>
Tue: 2012-02-28 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 15:40:00
</td>
<td align="right">
   75.66
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-02-28 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 15:45:00
</td>
<td align="right">
   75.75
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-02-28 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 15:50:00
</td>
<td align="right">
   75.61
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-02-28 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 15:55:00
</td>
<td align="right">
   75.70
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2012-02-28 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 16:00:00
</td>
<td align="right">
   75.73
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-02-28 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 16:05:00
</td>
<td align="right">
   75.77
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-02-28 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 16:10:00
</td>
<td align="right">
   75.83
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-02-28 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 16:15:00
</td>
<td align="right">
   75.91
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-02-28 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 16:20:00
</td>
<td align="right">
   76.08
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Tue: 2012-02-28 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 16:25:00
</td>
<td align="right">
   75.95
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Tue: 2012-02-28 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 16:30:00
</td>
<td align="right">
   75.82
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2012-02-28 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 16:35:00
</td>
<td align="right">
   75.83
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2012-02-28 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 16:40:00
</td>
<td align="right">
   75.73
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2012-02-28 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 16:45:00
</td>
<td align="right">
   75.79
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2012-02-28 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 16:50:00
</td>
<td align="right">
   75.62
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-02-28 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 16:55:00
</td>
<td align="right">
   75.65
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-02-28 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 17:00:00
</td>
<td align="right">
   75.70
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-02-28 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 17:05:00
</td>
<td align="right">
   75.75
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-02-28 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 17:10:00
</td>
<td align="right">
   75.87
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-02-28 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 17:15:00
</td>
<td align="right">
   75.79
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2012-02-28 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 17:20:00
</td>
<td align="right">
   75.74
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-02-28 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 17:25:00
</td>
<td align="right">
   75.69
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2012-02-28 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 17:30:00
</td>
<td align="right">
   75.61
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-02-28 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 17:35:00
</td>
<td align="right">
   75.62
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-02-28 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 17:40:00
</td>
<td align="right">
   75.57
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Tue: 2012-02-28 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 17:45:00
</td>
<td align="right">
   75.66
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-02-28 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 17:50:00
</td>
<td align="right">
   75.68
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-02-28 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 17:55:00
</td>
<td align="right">
   75.68
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-02-28 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 18:00:00
</td>
<td align="right">
   75.71
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2012-02-28 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 18:05:00
</td>
<td align="right">
   75.78
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2012-02-28 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 18:10:00
</td>
<td align="right">
   75.75
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2012-02-28 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 18:15:00
</td>
<td align="right">
   75.72
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2012-02-28 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 18:20:00
</td>
<td align="right">
   75.76
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Tue: 2012-02-28 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 18:30:00
</td>
<td align="right">
   75.64
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-02-28 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 18:35:00
</td>
<td align="right">
   75.76
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Tue: 2012-02-28 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 18:40:00
</td>
<td align="right">
   75.81
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Tue: 2012-02-28 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 18:45:00
</td>
<td align="right">
   75.75
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2012-02-28 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 18:50:00
</td>
<td align="right">
   75.72
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2012-02-28 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 18:55:00
</td>
<td align="right">
   75.69
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Tue: 2012-02-28 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 19:00:00
</td>
<td align="right">
   75.64
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2012-02-28 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 19:05:00
</td>
<td align="right">
   75.64
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2012-02-28 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 19:10:00
</td>
<td align="right">
   75.59
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-02-28 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 19:15:00
</td>
<td align="right">
   75.57
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2012-02-28 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 19:20:00
</td>
<td align="right">
   75.50
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2012-02-28 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 19:25:00
</td>
<td align="right">
   75.41
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2012-02-28 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-02-27 19:30:00
</td>
<td align="right">
   75.54
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Tue: 2012-02-28 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-02-27 17:45:00
</td>
<td align="right">
  128.38
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Tue: 2012-02-28 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-02-27 17:55:00
</td>
<td align="right">
  128.46
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2012-02-28 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-02-27 16:20:00
</td>
<td align="right">
  137.22
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Tue: 2012-02-28 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-02-27 17:00:00
</td>
<td align="right">
  137.20
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-02-28 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-02-27 19:55:00
</td>
<td align="right">
  137.26
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2012-02-28 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-02-27 20:00:00
</td>
<td align="right">
  137.48
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-02-27 20:05:00
</td>
<td align="right">
  137.41
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-02-27 20:10:00
</td>
<td align="right">
  137.32
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2012-02-27 19:30:00
</td>
<td align="right">
   76.07
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-02-28 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2012-02-27 19:35:00
</td>
<td align="right">
   76.07
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2012-02-28 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2012-02-27 19:40:00
</td>
<td align="right">
   76.14
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2012-02-28 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2012-02-27 19:45:00
</td>
<td align="right">
   76.13
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2012-02-28 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2012-02-27 19:50:00
</td>
<td align="right">
   76.14
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-02-28 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2012-02-27 19:55:00
</td>
<td align="right">
   76.13
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Tue: 2012-02-28 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2012-02-27 20:00:00
</td>
<td align="right">
   76.25
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2012-02-27 20:05:00
</td>
<td align="right">
   76.25
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-02-27 17:20:00
</td>
<td align="right">
   87.31
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Tue: 2012-02-28 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-02-27 17:25:00
</td>
<td align="right">
   87.37
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-02-28 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-02-27 19:40:00
</td>
<td align="right">
   46.85
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2012-02-28 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-02-27 19:45:00
</td>
<td align="right">
   46.81
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2012-02-28 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-02-27 20:00:00
</td>
<td align="right">
   46.86
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-02-27 20:05:00
</td>
<td align="right">
   46.80
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-27 17:55:00
</td>
<td align="right">
  110.43
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-02-28 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-27 19:20:00
</td>
<td align="right">
  110.44
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-02-28 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-27 19:25:00
</td>
<td align="right">
  110.41
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-02-28 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-27 19:30:00
</td>
<td align="right">
  110.52
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Tue: 2012-02-28 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-27 19:35:00
</td>
<td align="right">
  110.50
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Tue: 2012-02-28 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-27 19:40:00
</td>
<td align="right">
  110.51
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Tue: 2012-02-28 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-27 19:45:00
</td>
<td align="right">
  110.52
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Tue: 2012-02-28 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-27 19:50:00
</td>
<td align="right">
  110.54
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2012-02-28 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-27 19:55:00
</td>
<td align="right">
  110.53
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.46
</td>
<td>
Tue: 2012-02-28 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-27 20:00:00
</td>
<td align="right">
  110.76
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-27 20:05:00
</td>
<td align="right">
  110.79
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-27 20:10:00
</td>
<td align="right">
  110.59
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-27 20:15:00
</td>
<td align="right">
  110.58
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-27 20:20:00
</td>
<td align="right">
  110.38
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-27 20:25:00
</td>
<td align="right">
  110.32
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-27 20:30:00
</td>
<td align="right">
  110.26
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-27 20:35:00
</td>
<td align="right">
  110.21
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-27 20:40:00
</td>
<td align="right">
  110.19
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-27 20:45:00
</td>
<td align="right">
  110.20
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-27 20:50:00
</td>
<td align="right">
  110.27
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-27 20:55:00
</td>
<td align="right">
  110.07
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-02-27 19:40:00
</td>
<td align="right">
   75.33
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-02-28 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-02-27 20:00:00
</td>
<td align="right">
   75.41
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-02-27 20:05:00
</td>
<td align="right">
   75.36
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-02-27 20:10:00
</td>
<td align="right">
   75.33
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-02-27 20:15:00
</td>
<td align="right">
   75.28
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-02-27 20:20:00
</td>
<td align="right">
   75.31
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-02-27 20:25:00
</td>
<td align="right">
   75.29
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-02-27 20:30:00
</td>
<td align="right">
   75.33
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-02-27 20:35:00
</td>
<td align="right">
   75.40
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-02-27 20:40:00
</td>
<td align="right">
   75.35
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-02-27 20:45:00
</td>
<td align="right">
   75.36
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-02-27 20:50:00
</td>
<td align="right">
   75.37
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-02-27 20:55:00
</td>
<td align="right">
   75.23
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-02-27 15:10:00
</td>
<td align="right">
  386.92
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .85
</td>
<td>
Tue: 2012-02-28 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-02-27 15:15:00
</td>
<td align="right">
  386.93
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .44
</td>
<td>
Tue: 2012-02-28 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-02-27 15:20:00
</td>
<td align="right">
  386.80
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    1.07
</td>
<td>
Tue: 2012-02-28 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-02-27 15:25:00
</td>
<td align="right">
  386.73
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .76
</td>
<td>
Tue: 2012-02-28 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-02-27 15:30:00
</td>
<td align="right">
  386.41
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    1.37
</td>
<td>
Tue: 2012-02-28 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-02-27 15:35:00
</td>
<td align="right">
  386.99
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .72
</td>
<td>
Tue: 2012-02-28 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-02-27 15:40:00
</td>
<td align="right">
  387.00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .63
</td>
<td>
Tue: 2012-02-28 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-02-27 15:45:00
</td>
<td align="right">
  386.97
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .98
</td>
<td>
Tue: 2012-02-28 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-02-27 15:50:00
</td>
<td align="right">
  386.90
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .84
</td>
<td>
Tue: 2012-02-28 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-02-27 15:55:00
</td>
<td align="right">
  386.97
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .43
</td>
<td>
Tue: 2012-02-28 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-02-27 15:05:00
</td>
<td align="right">
  129.07
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .48
</td>
<td>
Tue: 2012-02-28 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-02-27 15:15:00
</td>
<td align="right">
  129.09
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .61
</td>
<td>
Tue: 2012-02-28 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-02-27 15:20:00
</td>
<td align="right">
  129.13
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .74
</td>
<td>
Tue: 2012-02-28 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-02-27 15:25:00
</td>
<td align="right">
  129.11
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .66
</td>
<td>
Tue: 2012-02-28 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-02-27 15:35:00
</td>
<td align="right">
  129.16
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .58
</td>
<td>
Tue: 2012-02-28 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-02-27 15:40:00
</td>
<td align="right">
  129.36
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
Tue: 2012-02-28 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-02-27 15:45:00
</td>
<td align="right">
  129.41
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Tue: 2012-02-28 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-02-27 15:50:00
</td>
<td align="right">
  129.44
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Tue: 2012-02-28 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-02-27 15:55:00
</td>
<td align="right">
  129.42
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Tue: 2012-02-28 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-02-27 15:00:00
</td>
<td align="right">
  127.28
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    1.12
</td>
<td>
Tue: 2012-02-28 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2012-02-27 16:10:00
</td>
<td align="right">
  611.28
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .75
</td>
<td>
Tue: 2012-02-28 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2012-02-27 16:15:00
</td>
<td align="right">
  610.98
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .62
</td>
<td>
Tue: 2012-02-28 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2012-02-27 16:20:00
</td>
<td align="right">
  611.82
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Tue: 2012-02-28 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2012-02-27 16:25:00
</td>
<td align="right">
  610.98
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .77
</td>
<td>
Tue: 2012-02-28 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2012-02-27 16:30:00
</td>
<td align="right">
  610.90
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .63
</td>
<td>
Tue: 2012-02-28 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2012-02-27 16:40:00
</td>
<td align="right">
  611.11
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .43
</td>
<td>
Tue: 2012-02-28 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-02-27 17:15:00
</td>
<td align="right">
  417.13
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    2.50
</td>
<td>
Tue: 2012-02-28 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-02-27 17:25:00
</td>
<td align="right">
  417.47
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    2.15
</td>
<td>
Tue: 2012-02-28 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-02-27 17:30:00
</td>
<td align="right">
  417.14
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    2.86
</td>
<td>
Tue: 2012-02-28 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-02-27 17:35:00
</td>
<td align="right">
  417.32
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    2.21
</td>
<td>
Tue: 2012-02-28 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-02-27 19:30:00
</td>
<td align="right">
   79.14
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2012-02-28 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-02-27 19:35:00
</td>
<td align="right">
   79.14
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-02-28 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-02-27 19:40:00
</td>
<td align="right">
   79.18
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-02-28 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-02-27 19:45:00
</td>
<td align="right">
   79.19
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2012-02-28 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-02-27 19:50:00
</td>
<td align="right">
   79.07
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-02-28 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-02-27 19:55:00
</td>
<td align="right">
   78.83
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-02-28 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-02-27 20:00:00
</td>
<td align="right">
   79.20
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-02-27 20:05:00
</td>
<td align="right">
   79.21
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-02-27 20:10:00
</td>
<td align="right">
   79.14
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-02-27 20:15:00
</td>
<td align="right">
   79.08
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-02-27 20:20:00
</td>
<td align="right">
   79.02
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-02-27 20:25:00
</td>
<td align="right">
   78.94
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-02-27 20:30:00
</td>
<td align="right">
   78.98
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-02-27 20:35:00
</td>
<td align="right">
   79.02
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-02-27 20:40:00
</td>
<td align="right">
   79.06
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-02-27 20:45:00
</td>
<td align="right">
   79.06
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-02-27 20:50:00
</td>
<td align="right">
   78.97
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-02-27 20:55:00
</td>
<td align="right">
   78.88
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-27 15:00:00
</td>
<td align="right">
   85.44
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .73
</td>
<td>
Tue: 2012-02-28 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-27 15:05:00
</td>
<td align="right">
   85.44
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    1.26
</td>
<td>
Tue: 2012-02-28 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-27 15:10:00
</td>
<td align="right">
   85.31
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    1.37
</td>
<td>
Tue: 2012-02-28 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-27 15:15:00
</td>
<td align="right">
   85.57
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    1.09
</td>
<td>
Tue: 2012-02-28 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-27 15:20:00
</td>
<td align="right">
   85.61
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    1.39
</td>
<td>
Tue: 2012-02-28 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-27 15:25:00
</td>
<td align="right">
   85.60
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    1.70
</td>
<td>
Tue: 2012-02-28 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-27 15:30:00
</td>
<td align="right">
   85.85
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    1.27
</td>
<td>
Tue: 2012-02-28 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-27 15:35:00
</td>
<td align="right">
   85.72
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    1.09
</td>
<td>
Tue: 2012-02-28 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-27 15:45:00
</td>
<td align="right">
   86.63
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Tue: 2012-02-28 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-27 15:55:00
</td>
<td align="right">
   86.59
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .34
</td>
<td>
Tue: 2012-02-28 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-27 16:05:00
</td>
<td align="right">
   86.70
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .48
</td>
<td>
Tue: 2012-02-28 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-27 16:10:00
</td>
<td align="right">
   86.68
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .48
</td>
<td>
Tue: 2012-02-28 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-27 18:45:00
</td>
<td align="right">
   86.21
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .79
</td>
<td>
Tue: 2012-02-28 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-27 20:40:00
</td>
<td align="right">
   87.73
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-27 15:00:00
</td>
<td align="right">
   99.36
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    1.09
</td>
<td>
Tue: 2012-02-28 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-27 15:05:00
</td>
<td align="right">
   99.45
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    1.04
</td>
<td>
Tue: 2012-02-28 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-27 15:10:00
</td>
<td align="right">
   99.76
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .76
</td>
<td>
Tue: 2012-02-28 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-27 19:45:00
</td>
<td align="right">
  100.38
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-02-28 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-27 19:50:00
</td>
<td align="right">
  100.36
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-02-28 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-27 19:55:00
</td>
<td align="right">
  100.54
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2012-02-28 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-27 20:10:00
</td>
<td align="right">
  100.49
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-27 20:40:00
</td>
<td align="right">
  100.52
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-28 20:40
</td>
</tr>
</table>
<br />