<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AAPL">AAPL</a></td>
<td>
2012-11-15 18:15:00
</td>
<td align="right">
  530.04
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.69
</td>
<td>
Fri: 2012-11-16 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AAPL">AAPL</a></td>
<td>
2012-11-15 18:45:00
</td>
<td align="right">
  531.41
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   -3.11
</td>
<td>
Fri: 2012-11-16 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AAPL">AAPL</a></td>
<td>
2012-11-15 20:40:00
</td>
<td align="right">
  526.96
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AAPL">AAPL</a></td>
<td>
2012-11-15 20:45:00
</td>
<td align="right">
  526.56
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 18:50:00
</td>
<td align="right">
   63.52
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.39
</td>
<td>
Fri: 2012-11-16 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 19:05:00
</td>
<td align="right">
   63.27
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Fri: 2012-11-16 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 19:10:00
</td>
<td align="right">
   63.24
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Fri: 2012-11-16 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 20:05:00
</td>
<td align="right">
   62.95
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 20:10:00
</td>
<td align="right">
   62.97
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 20:30:00
</td>
<td align="right">
   63.04
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 20:45:00
</td>
<td align="right">
   63.25
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 20:50:00
</td>
<td align="right">
   63.19
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-15 15:10:00
</td>
<td align="right">
   49.88
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Fri: 2012-11-16 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-15 15:15:00
</td>
<td align="right">
   50.00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Fri: 2012-11-16 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-15 18:50:00
</td>
<td align="right">
   50.62
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.39
</td>
<td>
Fri: 2012-11-16 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-15 19:25:00
</td>
<td align="right">
   50.16
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Fri: 2012-11-16 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-11-15 17:20:00
</td>
<td align="right">
   96.96
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2012-11-16 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-11-15 17:45:00
</td>
<td align="right">
   97.00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .39
</td>
<td>
Fri: 2012-11-16 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-11-15 18:30:00
</td>
<td align="right">
   97.14
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Fri: 2012-11-16 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-11-15 20:15:00
</td>
<td align="right">
   96.77
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-11-15 20:45:00
</td>
<td align="right">
   96.82
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-11-15 15:10:00
</td>
<td align="right">
   70.63
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2012-11-16 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-11-15 15:15:00
</td>
<td align="right">
   70.80
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Fri: 2012-11-16 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-11-15 15:30:00
</td>
<td align="right">
   70.89
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.51
</td>
<td>
Fri: 2012-11-16 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-11-15 15:35:00
</td>
<td align="right">
   70.84
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Fri: 2012-11-16 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-11-15 16:00:00
</td>
<td align="right">
   70.77
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.76
</td>
<td>
Fri: 2012-11-16 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-11-15 16:05:00
</td>
<td align="right">
   70.62
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.44
</td>
<td>
Fri: 2012-11-16 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-11-15 16:25:00
</td>
<td align="right">
   70.55
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.67
</td>
<td>
Fri: 2012-11-16 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-11-15 17:35:00
</td>
<td align="right">
   70.07
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .67
</td>
<td>
Fri: 2012-11-16 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-11-15 19:55:00
</td>
<td align="right">
   70.87
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Fri: 2012-11-16 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-11-15 18:40:00
</td>
<td align="right">
   30.57
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Fri: 2012-11-16 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-11-15 18:45:00
</td>
<td align="right">
   30.55
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Fri: 2012-11-16 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-11-15 18:50:00
</td>
<td align="right">
   30.54
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Fri: 2012-11-16 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-11-15 18:55:00
</td>
<td align="right">
   30.54
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2012-11-16 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-11-15 19:00:00
</td>
<td align="right">
   30.45
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2012-11-16 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-11-15 19:40:00
</td>
<td align="right">
   30.58
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Fri: 2012-11-16 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-11-15 19:50:00
</td>
<td align="right">
   30.63
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Fri: 2012-11-16 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-11-15 19:55:00
</td>
<td align="right">
   30.57
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Fri: 2012-11-16 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-11-15 18:55:00
</td>
<td align="right">
   53.68
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Fri: 2012-11-16 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2012-11-15 15:20:00
</td>
<td align="right">
   68.99
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Fri: 2012-11-16 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-11-15 15:05:00
</td>
<td align="right">
   36.27
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.37
</td>
<td>
Fri: 2012-11-16 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-11-15 15:10:00
</td>
<td align="right">
   36.26
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Fri: 2012-11-16 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-11-15 15:15:00
</td>
<td align="right">
   36.20
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.35
</td>
<td>
Fri: 2012-11-16 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-11-15 15:20:00
</td>
<td align="right">
   36.25
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.44
</td>
<td>
Fri: 2012-11-16 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-11-15 15:25:00
</td>
<td align="right">
   36.24
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.45
</td>
<td>
Fri: 2012-11-16 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-11-15 15:40:00
</td>
<td align="right">
   36.31
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.76
</td>
<td>
Fri: 2012-11-16 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-11-15 15:45:00
</td>
<td align="right">
   36.17
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.71
</td>
<td>
Fri: 2012-11-16 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-11-15 15:50:00
</td>
<td align="right">
   36.25
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.85
</td>
<td>
Fri: 2012-11-16 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-11-15 16:35:00
</td>
<td align="right">
   35.63
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.55
</td>
<td>
Fri: 2012-11-16 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-11-15 18:20:00
</td>
<td align="right">
   35.08
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Fri: 2012-11-16 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 16:55:00
</td>
<td align="right">
  255.11
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    1.82
</td>
<td>
Fri: 2012-11-16 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 18:20:00
</td>
<td align="right">
  258.92
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .73
</td>
<td>
Fri: 2012-11-16 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 18:25:00
</td>
<td align="right">
  259.45
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Fri: 2012-11-16 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 18:30:00
</td>
<td align="right">
  259.65
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Fri: 2012-11-16 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 18:35:00
</td>
<td align="right">
  259.52
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .51
</td>
<td>
Fri: 2012-11-16 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 18:45:00
</td>
<td align="right">
  259.20
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .98
</td>
<td>
Fri: 2012-11-16 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 18:50:00
</td>
<td align="right">
  259.98
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .85
</td>
<td>
Fri: 2012-11-16 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 18:55:00
</td>
<td align="right">
  259.48
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    1.23
</td>
<td>
Fri: 2012-11-16 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:00:00
</td>
<td align="right">
  259.88
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Fri: 2012-11-16 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:05:00
</td>
<td align="right">
  259.35
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .41
</td>
<td>
Fri: 2012-11-16 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:10:00
</td>
<td align="right">
  259.78
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Fri: 2012-11-16 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:20:00
</td>
<td align="right">
  259.65
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .70
</td>
<td>
Fri: 2012-11-16 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:25:00
</td>
<td align="right">
  259.64
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .36
</td>
<td>
Fri: 2012-11-16 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:30:00
</td>
<td align="right">
  260.00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Fri: 2012-11-16 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:35:00
</td>
<td align="right">
  260.03
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .53
</td>
<td>
Fri: 2012-11-16 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:40:00
</td>
<td align="right">
  260.25
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2012-11-16 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:45:00
</td>
<td align="right">
  260.18
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2012-11-16 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:50:00
</td>
<td align="right">
  260.83
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.46
</td>
<td>
Fri: 2012-11-16 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:55:00
</td>
<td align="right">
  260.71
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Fri: 2012-11-16 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 20:00:00
</td>
<td align="right">
  259.86
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 20:05:00
</td>
<td align="right">
  259.76
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-11-15 15:55:00
</td>
<td align="right">
   55.00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Fri: 2012-11-16 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-11-15 16:25:00
</td>
<td align="right">
   54.79
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Fri: 2012-11-16 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-11-15 17:10:00
</td>
<td align="right">
   85.31
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    1.32
</td>
<td>
Fri: 2012-11-16 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-11-15 20:30:00
</td>
<td align="right">
   87.25
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-15 16:00:00
</td>
<td align="right">
   49.71
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Fri: 2012-11-16 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-15 16:15:00
</td>
<td align="right">
   49.66
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2012-11-16 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-15 16:35:00
</td>
<td align="right">
   49.77
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Fri: 2012-11-16 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-15 16:45:00
</td>
<td align="right">
   49.69
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Fri: 2012-11-16 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-15 16:50:00
</td>
<td align="right">
   49.69
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Fri: 2012-11-16 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-15 16:55:00
</td>
<td align="right">
   49.76
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Fri: 2012-11-16 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-15 17:10:00
</td>
<td align="right">
   49.77
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Fri: 2012-11-16 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-15 17:20:00
</td>
<td align="right">
   49.80
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Fri: 2012-11-16 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-15 17:30:00
</td>
<td align="right">
   49.76
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .57
</td>
<td>
Fri: 2012-11-16 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-15 17:35:00
</td>
<td align="right">
   49.82
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .48
</td>
<td>
Fri: 2012-11-16 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-15 17:40:00
</td>
<td align="right">
   49.75
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
     .59
</td>
<td>
Fri: 2012-11-16 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-15 17:45:00
</td>
<td align="right">
   49.83
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .59
</td>
<td>
Fri: 2012-11-16 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-11-15 17:20:00
</td>
<td align="right">
   69.92
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .67
</td>
<td>
Fri: 2012-11-16 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-11-15 15:00:00
</td>
<td align="right">
   30.75
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Fri: 2012-11-16 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-11-15 15:20:00
</td>
<td align="right">
   30.86
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Fri: 2012-11-16 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-11-15 15:25:00
</td>
<td align="right">
   30.84
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Fri: 2012-11-16 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-11-15 15:40:00
</td>
<td align="right">
   30.83
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Fri: 2012-11-16 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-11-15 15:45:00
</td>
<td align="right">
   30.80
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Fri: 2012-11-16 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-11-15 16:10:00
</td>
<td align="right">
   31.11
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.49
</td>
<td>
Fri: 2012-11-16 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-11-15 17:05:00
</td>
<td align="right">
   30.69
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Fri: 2012-11-16 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2012-11-15 16:30:00
</td>
<td align="right">
   68.54
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Fri: 2012-11-16 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2012-11-15 17:25:00
</td>
<td align="right">
   68.27
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Fri: 2012-11-16 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2012-11-15 17:30:00
</td>
<td align="right">
   68.24
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Fri: 2012-11-16 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2012-11-15 18:00:00
</td>
<td align="right">
   68.20
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .43
</td>
<td>
Fri: 2012-11-16 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 15:40:00
</td>
<td align="right">
   23.11
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Fri: 2012-11-16 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 15:45:00
</td>
<td align="right">
   23.15
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Fri: 2012-11-16 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 15:50:00
</td>
<td align="right">
   23.20
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Fri: 2012-11-16 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 16:00:00
</td>
<td align="right">
   23.12
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Fri: 2012-11-16 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 16:05:00
</td>
<td align="right">
   23.04
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Fri: 2012-11-16 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 16:10:00
</td>
<td align="right">
   23.12
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Fri: 2012-11-16 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 16:15:00
</td>
<td align="right">
   23.04
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Fri: 2012-11-16 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 16:25:00
</td>
<td align="right">
   23.03
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.33
</td>
<td>
Fri: 2012-11-16 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 16:30:00
</td>
<td align="right">
   23.10
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.41
</td>
<td>
Fri: 2012-11-16 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 16:35:00
</td>
<td align="right">
   23.13
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.44
</td>
<td>
Fri: 2012-11-16 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 16:40:00
</td>
<td align="right">
   23.12
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.46
</td>
<td>
Fri: 2012-11-16 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 16:45:00
</td>
<td align="right">
   23.02
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Fri: 2012-11-16 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 17:30:00
</td>
<td align="right">
   22.69
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Fri: 2012-11-16 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 17:35:00
</td>
<td align="right">
   22.69
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Fri: 2012-11-16 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 17:40:00
</td>
<td align="right">
   22.66
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Fri: 2012-11-16 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 17:45:00
</td>
<td align="right">
   22.76
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Fri: 2012-11-16 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 17:50:00
</td>
<td align="right">
   22.68
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2012-11-16 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 18:45:00
</td>
<td align="right">
   22.74
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Fri: 2012-11-16 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 18:50:00
</td>
<td align="right">
   22.74
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2012-11-16 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 18:55:00
</td>
<td align="right">
   22.76
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2012-11-16 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 19:00:00
</td>
<td align="right">
   22.71
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Fri: 2012-11-16 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 19:05:00
</td>
<td align="right">
   22.74
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Fri: 2012-11-16 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 19:10:00
</td>
<td align="right">
   22.75
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Fri: 2012-11-16 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 19:15:00
</td>
<td align="right">
   22.76
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Fri: 2012-11-16 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 19:25:00
</td>
<td align="right">
   22.94
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Fri: 2012-11-16 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 19:35:00
</td>
<td align="right">
   22.82
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Fri: 2012-11-16 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 19:40:00
</td>
<td align="right">
   22.83
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Fri: 2012-11-16 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 20:40:00
</td>
<td align="right">
   23.12
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 20:55:00
</td>
<td align="right">
   23.25
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2012-11-15 15:00:00
</td>
<td align="right">
   40.36
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Fri: 2012-11-16 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2012-11-15 16:15:00
</td>
<td align="right">
   40.69
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.65
</td>
<td>
Fri: 2012-11-16 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2012-11-15 16:20:00
</td>
<td align="right">
   40.80
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.94
</td>
<td>
Fri: 2012-11-16 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2012-11-15 16:40:00
</td>
<td align="right">
   40.39
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.58
</td>
<td>
Fri: 2012-11-16 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2012-11-15 16:50:00
</td>
<td align="right">
   40.31
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.75
</td>
<td>
Fri: 2012-11-16 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2012-11-15 16:55:00
</td>
<td align="right">
   40.22
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.84
</td>
<td>
Fri: 2012-11-16 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2012-11-15 17:05:00
</td>
<td align="right">
   40.12
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.60
</td>
<td>
Fri: 2012-11-16 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2012-11-15 18:10:00
</td>
<td align="right">
   61.26
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .47
</td>
<td>
Fri: 2012-11-16 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-11-15 18:35:00
</td>
<td align="right">
   62.24
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Fri: 2012-11-16 18:35
</td>
</tr>
</table>
<br />