<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2013-01-09 15:05:00
</td>
<td align="right">
   38.45
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2013-01-10 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2013-01-09 16:35:00
</td>
<td align="right">
   38.45
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2013-01-10 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 15:05:00
</td>
<td align="right">
  266.91
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .85
</td>
<td>
Thu: 2013-01-10 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 15:15:00
</td>
<td align="right">
  267.49
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    1.04
</td>
<td>
Thu: 2013-01-10 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 15:20:00
</td>
<td align="right">
  267.58
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .84
</td>
<td>
Thu: 2013-01-10 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 15:25:00
</td>
<td align="right">
  267.62
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .99
</td>
<td>
Thu: 2013-01-10 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 15:30:00
</td>
<td align="right">
  267.76
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .69
</td>
<td>
Thu: 2013-01-10 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 15:35:00
</td>
<td align="right">
  267.74
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .67
</td>
<td>
Thu: 2013-01-10 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 15:40:00
</td>
<td align="right">
  267.78
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .52
</td>
<td>
Thu: 2013-01-10 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 15:45:00
</td>
<td align="right">
  267.08
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    1.06
</td>
<td>
Thu: 2013-01-10 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 15:55:00
</td>
<td align="right">
  267.45
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .56
</td>
<td>
Thu: 2013-01-10 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 16:00:00
</td>
<td align="right">
  267.13
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .61
</td>
<td>
Thu: 2013-01-10 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 16:10:00
</td>
<td align="right">
  267.99
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Thu: 2013-01-10 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 16:25:00
</td>
<td align="right">
  268.61
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.82
</td>
<td>
Thu: 2013-01-10 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 16:35:00
</td>
<td align="right">
  268.41
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.67
</td>
<td>
Thu: 2013-01-10 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 16:40:00
</td>
<td align="right">
  268.30
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.99
</td>
<td>
Thu: 2013-01-10 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 16:45:00
</td>
<td align="right">
  268.14
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.90
</td>
<td>
Thu: 2013-01-10 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 16:55:00
</td>
<td align="right">
  268.01
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.80
</td>
<td>
Thu: 2013-01-10 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 17:00:00
</td>
<td align="right">
  267.74
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.47
</td>
<td>
Thu: 2013-01-10 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 17:05:00
</td>
<td align="right">
  267.91
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.59
</td>
<td>
Thu: 2013-01-10 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 17:15:00
</td>
<td align="right">
  267.66
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.59
</td>
<td>
Thu: 2013-01-10 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 17:25:00
</td>
<td align="right">
  267.79
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.51
</td>
<td>
Thu: 2013-01-10 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 17:30:00
</td>
<td align="right">
  267.95
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.55
</td>
<td>
Thu: 2013-01-10 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 17:55:00
</td>
<td align="right">
  267.21
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Thu: 2013-01-10 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 18:00:00
</td>
<td align="right">
  267.27
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Thu: 2013-01-10 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 18:05:00
</td>
<td align="right">
  267.32
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Thu: 2013-01-10 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 18:25:00
</td>
<td align="right">
  267.28
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2013-01-10 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 18:40:00
</td>
<td align="right">
  267.49
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.39
</td>
<td>
Thu: 2013-01-10 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 18:45:00
</td>
<td align="right">
  267.43
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.38
</td>
<td>
Thu: 2013-01-10 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 19:10:00
</td>
<td align="right">
  267.60
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   -1.02
</td>
<td>
Thu: 2013-01-10 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2013-01-09 19:30:00
</td>
<td align="right">
  267.44
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -1.17
</td>
<td>
Thu: 2013-01-10 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2013-01-09 15:25:00
</td>
<td align="right">
   79.63
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Thu: 2013-01-10 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2013-01-09 18:05:00
</td>
<td align="right">
   79.58
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2013-01-10 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2013-01-09 18:20:00
</td>
<td align="right">
   79.59
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Thu: 2013-01-10 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2013-01-09 18:35:00
</td>
<td align="right">
   79.61
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Thu: 2013-01-10 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2013-01-09 18:45:00
</td>
<td align="right">
   79.59
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Thu: 2013-01-10 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2013-01-09 19:00:00
</td>
<td align="right">
   79.57
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Thu: 2013-01-10 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2013-01-09 19:15:00
</td>
<td align="right">
   79.33
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2013-01-10 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 15:00:00
</td>
<td align="right">
   28.90
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-10 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 15:15:00
</td>
<td align="right">
   28.94
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2013-01-10 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 15:40:00
</td>
<td align="right">
   28.82
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2013-01-10 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 15:45:00
</td>
<td align="right">
   28.83
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2013-01-10 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 16:05:00
</td>
<td align="right">
   28.90
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-10 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 16:10:00
</td>
<td align="right">
   28.90
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2013-01-10 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 16:30:00
</td>
<td align="right">
   28.88
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-10 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 16:35:00
</td>
<td align="right">
   28.87
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2013-01-10 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 16:40:00
</td>
<td align="right">
   28.87
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2013-01-10 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 16:45:00
</td>
<td align="right">
   28.87
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-10 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 16:55:00
</td>
<td align="right">
   28.89
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2013-01-10 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 17:10:00
</td>
<td align="right">
   28.86
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-10 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 17:20:00
</td>
<td align="right">
   28.85
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2013-01-10 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 17:25:00
</td>
<td align="right">
   28.89
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2013-01-10 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 17:30:00
</td>
<td align="right">
   28.88
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2013-01-10 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 17:35:00
</td>
<td align="right">
   28.84
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2013-01-10 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 17:40:00
</td>
<td align="right">
   28.82
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2013-01-10 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 17:50:00
</td>
<td align="right">
   28.86
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2013-01-10 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 18:05:00
</td>
<td align="right">
   28.83
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2013-01-10 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 18:10:00
</td>
<td align="right">
   28.85
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2013-01-10 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 18:15:00
</td>
<td align="right">
   28.88
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2013-01-10 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 18:20:00
</td>
<td align="right">
   28.91
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2013-01-10 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 18:25:00
</td>
<td align="right">
   28.91
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2013-01-10 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 19:45:00
</td>
<td align="right">
   28.92
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2013-01-10 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 19:50:00
</td>
<td align="right">
   28.90
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2013-01-10 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 19:55:00
</td>
<td align="right">
   28.89
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2013-01-10 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 20:00:00
</td>
<td align="right">
   28.88
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 20:05:00
</td>
<td align="right">
   28.90
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 20:10:00
</td>
<td align="right">
   28.93
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 20:15:00
</td>
<td align="right">
   28.90
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2013-01-09 20:30:00
</td>
<td align="right">
   28.88
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CHK">CHK</a></td>
<td>
2013-01-09 15:45:00
</td>
<td align="right">
   16.74
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2013-01-10 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CHK">CHK</a></td>
<td>
2013-01-09 16:10:00
</td>
<td align="right">
   16.78
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2013-01-10 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CHK">CHK</a></td>
<td>
2013-01-09 16:50:00
</td>
<td align="right">
   16.71
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2013-01-10 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CHK">CHK</a></td>
<td>
2013-01-09 17:25:00
</td>
<td align="right">
   16.67
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-10 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CHK">CHK</a></td>
<td>
2013-01-09 17:35:00
</td>
<td align="right">
   16.66
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-10 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CHK">CHK</a></td>
<td>
2013-01-09 17:40:00
</td>
<td align="right">
   16.66
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-10 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CHK">CHK</a></td>
<td>
2013-01-09 17:45:00
</td>
<td align="right">
   16.68
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-10 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CHK">CHK</a></td>
<td>
2013-01-09 20:35:00
</td>
<td align="right">
   17.16
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CHK">CHK</a></td>
<td>
2013-01-09 20:45:00
</td>
<td align="right">
   17.16
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CHK">CHK</a></td>
<td>
2013-01-09 20:50:00
</td>
<td align="right">
   17.10
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2013-01-09 15:25:00
</td>
<td align="right">
   54.82
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2013-01-10 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2013-01-09 15:10:00
</td>
<td align="right">
   35.02
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2013-01-10 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2013-01-09 15:35:00
</td>
<td align="right">
   34.98
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-10 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-01-09 16:05:00
</td>
<td align="right">
   21.32
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2013-01-10 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-01-09 18:40:00
</td>
<td align="right">
   21.30
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2013-01-10 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-01-09 19:15:00
</td>
<td align="right">
   21.29
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2013-01-10 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-01-09 19:20:00
</td>
<td align="right">
   21.30
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2013-01-10 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-01-09 19:25:00
</td>
<td align="right">
   21.31
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2013-01-10 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-01-09 19:55:00
</td>
<td align="right">
   21.31
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Thu: 2013-01-10 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-01-09 20:00:00
</td>
<td align="right">
   21.31
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-01-09 20:05:00
</td>
<td align="right">
   21.28
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-01-09 20:20:00
</td>
<td align="right">
   21.34
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-01-09 20:25:00
</td>
<td align="right">
   21.36
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-01-09 20:30:00
</td>
<td align="right">
   21.36
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-01-09 20:35:00
</td>
<td align="right">
   21.37
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-01-09 20:40:00
</td>
<td align="right">
   21.41
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-01-09 20:45:00
</td>
<td align="right">
   21.41
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MCD">MCD</a></td>
<td>
2013-01-09 15:25:00
</td>
<td align="right">
   91.03
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2013-01-10 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MCD">MCD</a></td>
<td>
2013-01-09 15:45:00
</td>
<td align="right">
   91.01
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Thu: 2013-01-10 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MCD">MCD</a></td>
<td>
2013-01-09 15:50:00
</td>
<td align="right">
   91.09
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2013-01-10 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MCD">MCD</a></td>
<td>
2013-01-09 15:55:00
</td>
<td align="right">
   91.02
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Thu: 2013-01-10 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MCD">MCD</a></td>
<td>
2013-01-09 16:00:00
</td>
<td align="right">
   91.00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Thu: 2013-01-10 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MCD">MCD</a></td>
<td>
2013-01-09 16:10:00
</td>
<td align="right">
   91.05
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Thu: 2013-01-10 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MCD">MCD</a></td>
<td>
2013-01-09 16:20:00
</td>
<td align="right">
   91.07
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2013-01-10 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MCD">MCD</a></td>
<td>
2013-01-09 16:55:00
</td>
<td align="right">
   91.22
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.46
</td>
<td>
Thu: 2013-01-10 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MCD">MCD</a></td>
<td>
2013-01-09 17:15:00
</td>
<td align="right">
   91.00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.37
</td>
<td>
Thu: 2013-01-10 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MCD">MCD</a></td>
<td>
2013-01-09 17:45:00
</td>
<td align="right">
   90.74
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2013-01-10 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2013-01-09 19:10:00
</td>
<td align="right">
   67.36
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Thu: 2013-01-10 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2013-01-09 17:00:00
</td>
<td align="right">
   33.30
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2013-01-10 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2013-01-09 17:25:00
</td>
<td align="right">
   33.34
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2013-01-10 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2013-01-09 17:30:00
</td>
<td align="right">
   33.33
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2013-01-10 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2013-01-09 17:40:00
</td>
<td align="right">
   33.31
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2013-01-10 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2013-01-09 17:45:00
</td>
<td align="right">
   33.36
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2013-01-10 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2013-01-09 17:55:00
</td>
<td align="right">
   33.43
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-10 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2013-01-09 18:00:00
</td>
<td align="right">
   33.42
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2013-01-10 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2013-01-09 18:20:00
</td>
<td align="right">
   33.41
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2013-01-10 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2013-01-09 18:35:00
</td>
<td align="right">
   33.40
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2013-01-10 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2013-01-09 18:45:00
</td>
<td align="right">
   33.43
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2013-01-10 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2013-01-09 19:15:00
</td>
<td align="right">
   33.44
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2013-01-10 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2013-01-09 19:20:00
</td>
<td align="right">
   33.39
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2013-01-10 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2013-01-09 19:25:00
</td>
<td align="right">
   33.40
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2013-01-10 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2013-01-09 19:30:00
</td>
<td align="right">
   33.42
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2013-01-10 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2013-01-09 19:35:00
</td>
<td align="right">
   33.46
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2013-01-10 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2013-01-09 19:45:00
</td>
<td align="right">
   33.48
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2013-01-10 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2013-01-09 19:50:00
</td>
<td align="right">
   33.46
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2013-01-10 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2013-01-09 20:20:00
</td>
<td align="right">
   33.49
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2013-01-09 20:45:00
</td>
<td align="right">
   33.50
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2013-01-09 20:50:00
</td>
<td align="right">
   33.55
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2013-01-09 20:55:00
</td>
<td align="right">
   33.56
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 15:00:00
</td>
<td align="right">
    7.33
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Thu: 2013-01-10 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 15:05:00
</td>
<td align="right">
    7.29
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2013-01-10 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 15:10:00
</td>
<td align="right">
    7.26
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2013-01-10 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 15:15:00
</td>
<td align="right">
    7.28
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2013-01-10 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 15:20:00
</td>
<td align="right">
    7.25
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2013-01-10 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 15:25:00
</td>
<td align="right">
    7.18
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2013-01-10 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 15:30:00
</td>
<td align="right">
    7.14
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2013-01-10 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 15:35:00
</td>
<td align="right">
    7.12
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-10 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 15:50:00
</td>
<td align="right">
    7.15
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2013-01-10 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 16:00:00
</td>
<td align="right">
    7.17
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2013-01-10 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 16:05:00
</td>
<td align="right">
    7.18
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2013-01-10 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 16:15:00
</td>
<td align="right">
    7.17
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-10 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 16:20:00
</td>
<td align="right">
    7.13
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2013-01-10 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 16:40:00
</td>
<td align="right">
    7.13
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2013-01-10 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 16:50:00
</td>
<td align="right">
    7.13
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2013-01-10 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 16:55:00
</td>
<td align="right">
    7.14
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-10 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 17:00:00
</td>
<td align="right">
    7.14
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2013-01-10 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 17:15:00
</td>
<td align="right">
    7.18
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2013-01-10 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 17:25:00
</td>
<td align="right">
    7.19
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2013-01-10 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 17:30:00
</td>
<td align="right">
    7.16
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2013-01-10 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 17:35:00
</td>
<td align="right">
    7.15
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2013-01-10 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 17:45:00
</td>
<td align="right">
    7.15
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Thu: 2013-01-10 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 17:55:00
</td>
<td align="right">
    7.15
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Thu: 2013-01-10 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 18:00:00
</td>
<td align="right">
    7.19
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2013-01-10 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 18:05:00
</td>
<td align="right">
    7.19
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2013-01-10 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 18:10:00
</td>
<td align="right">
    7.19
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2013-01-10 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 18:15:00
</td>
<td align="right">
    7.24
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2013-01-10 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 18:20:00
</td>
<td align="right">
    7.24
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2013-01-10 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 18:25:00
</td>
<td align="right">
    7.22
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2013-01-10 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 18:50:00
</td>
<td align="right">
    7.28
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-10 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 19:00:00
</td>
<td align="right">
    7.26
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2013-01-10 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 19:10:00
</td>
<td align="right">
    7.30
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2013-01-10 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 19:30:00
</td>
<td align="right">
    7.28
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2013-01-10 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 19:35:00
</td>
<td align="right">
    7.27
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-10 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 19:45:00
</td>
<td align="right">
    7.27
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-10 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 19:50:00
</td>
<td align="right">
    7.27
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-10 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 19:55:00
</td>
<td align="right">
    7.25
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2013-01-10 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 20:00:00
</td>
<td align="right">
    7.21
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 20:05:00
</td>
<td align="right">
    7.23
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 20:10:00
</td>
<td align="right">
    7.26
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 20:15:00
</td>
<td align="right">
    7.24
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 20:20:00
</td>
<td align="right">
    7.27
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 20:25:00
</td>
<td align="right">
    7.27
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 20:30:00
</td>
<td align="right">
    7.23
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 20:35:00
</td>
<td align="right">
    7.26
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 20:40:00
</td>
<td align="right">
    7.25
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 20:45:00
</td>
<td align="right">
    7.27
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 20:50:00
</td>
<td align="right">
    7.28
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-09 20:55:00
</td>
<td align="right">
    7.27
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2013-01-09 17:55:00
</td>
<td align="right">
   38.53
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2013-01-10 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2013-01-09 20:00:00
</td>
<td align="right">
   38.63
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2013-01-09 20:15:00
</td>
<td align="right">
   38.63
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2013-01-09 20:20:00
</td>
<td align="right">
   38.64
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADM">ADM</a></td>
<td>
2013-01-09 16:00:00
</td>
<td align="right">
   28.57
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2013-01-10 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADM">ADM</a></td>
<td>
2013-01-09 16:40:00
</td>
<td align="right">
   28.62
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2013-01-10 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADM">ADM</a></td>
<td>
2013-01-09 16:45:00
</td>
<td align="right">
   28.65
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2013-01-10 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADM">ADM</a></td>
<td>
2013-01-09 17:05:00
</td>
<td align="right">
   28.60
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2013-01-10 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADM">ADM</a></td>
<td>
2013-01-09 17:10:00
</td>
<td align="right">
   28.59
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2013-01-10 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADM">ADM</a></td>
<td>
2013-01-09 17:15:00
</td>
<td align="right">
   28.59
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2013-01-10 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADM">ADM</a></td>
<td>
2013-01-09 17:20:00
</td>
<td align="right">
   28.60
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2013-01-10 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADM">ADM</a></td>
<td>
2013-01-09 17:25:00
</td>
<td align="right">
   28.58
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-10 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADM">ADM</a></td>
<td>
2013-01-09 17:30:00
</td>
<td align="right">
   28.57
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2013-01-10 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADM">ADM</a></td>
<td>
2013-01-09 17:50:00
</td>
<td align="right">
   28.56
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2013-01-10 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADM">ADM</a></td>
<td>
2013-01-09 17:55:00
</td>
<td align="right">
   28.56
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2013-01-10 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADM">ADM</a></td>
<td>
2013-01-09 19:05:00
</td>
<td align="right">
   28.56
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2013-01-10 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADM">ADM</a></td>
<td>
2013-01-09 19:10:00
</td>
<td align="right">
   28.59
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Thu: 2013-01-10 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADM">ADM</a></td>
<td>
2013-01-09 19:15:00
</td>
<td align="right">
   28.59
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Thu: 2013-01-10 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADM">ADM</a></td>
<td>
2013-01-09 19:20:00
</td>
<td align="right">
   28.61
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Thu: 2013-01-10 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADM">ADM</a></td>
<td>
2013-01-09 19:25:00
</td>
<td align="right">
   28.60
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Thu: 2013-01-10 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADM">ADM</a></td>
<td>
2013-01-09 20:10:00
</td>
<td align="right">
   28.46
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADM">ADM</a></td>
<td>
2013-01-09 20:15:00
</td>
<td align="right">
   28.45
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-09 15:00:00
</td>
<td align="right">
   49.51
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2013-01-10 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-09 17:30:00
</td>
<td align="right">
   49.22
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Thu: 2013-01-10 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-09 17:45:00
</td>
<td align="right">
   49.30
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Thu: 2013-01-10 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-09 17:50:00
</td>
<td align="right">
   49.33
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Thu: 2013-01-10 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-09 18:00:00
</td>
<td align="right">
   49.36
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Thu: 2013-01-10 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-09 18:15:00
</td>
<td align="right">
   49.50
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2013-01-10 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-09 18:20:00
</td>
<td align="right">
   49.49
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2013-01-10 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-09 18:45:00
</td>
<td align="right">
   49.60
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Thu: 2013-01-10 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-09 19:15:00
</td>
<td align="right">
   49.57
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2013-01-10 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-09 19:55:00
</td>
<td align="right">
   49.70
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Thu: 2013-01-10 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-09 20:05:00
</td>
<td align="right">
   49.74
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-09 20:50:00
</td>
<td align="right">
   49.77
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-09 20:55:00
</td>
<td align="right">
   49.88
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-01-09 15:05:00
</td>
<td align="right">
   35.94
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2013-01-10 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-01-09 15:10:00
</td>
<td align="right">
   36.00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Thu: 2013-01-10 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-01-09 15:15:00
</td>
<td align="right">
   36.00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Thu: 2013-01-10 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-01-09 15:20:00
</td>
<td align="right">
   35.97
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Thu: 2013-01-10 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CHK">CHK</a></td>
<td>
2013-01-09 16:30:00
</td>
<td align="right">
   16.66
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-10 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CHK">CHK</a></td>
<td>
2013-01-09 16:40:00
</td>
<td align="right">
   16.63
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2013-01-10 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CHK">CHK</a></td>
<td>
2013-01-09 16:45:00
</td>
<td align="right">
   16.68
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-10 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CHK">CHK</a></td>
<td>
2013-01-09 19:40:00
</td>
<td align="right">
   16.67
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .48
</td>
<td>
Thu: 2013-01-10 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CHK">CHK</a></td>
<td>
2013-01-09 19:45:00
</td>
<td align="right">
   16.65
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .51
</td>
<td>
Thu: 2013-01-10 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CHK">CHK</a></td>
<td>
2013-01-09 19:55:00
</td>
<td align="right">
   16.64
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .43
</td>
<td>
Thu: 2013-01-10 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CHK">CHK</a></td>
<td>
2013-01-09 20:00:00
</td>
<td align="right">
   16.66
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2013-01-09 18:00:00
</td>
<td align="right">
   55.00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2013-01-10 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2013-01-09 18:05:00
</td>
<td align="right">
   54.99
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2013-01-10 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2013-01-09 16:25:00
</td>
<td align="right">
   34.97
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Thu: 2013-01-10 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 15:05:00
</td>
<td align="right">
   95.70
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.42
</td>
<td>
Thu: 2013-01-10 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 15:15:00
</td>
<td align="right">
   95.85
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.68
</td>
<td>
Thu: 2013-01-10 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 15:20:00
</td>
<td align="right">
   95.80
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.90
</td>
<td>
Thu: 2013-01-10 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 15:30:00
</td>
<td align="right">
   95.54
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.70
</td>
<td>
Thu: 2013-01-10 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 16:25:00
</td>
<td align="right">
   94.86
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2013-01-10 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 16:30:00
</td>
<td align="right">
   94.84
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Thu: 2013-01-10 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 16:50:00
</td>
<td align="right">
   94.59
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2013-01-10 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 17:05:00
</td>
<td align="right">
   94.84
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Thu: 2013-01-10 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 17:20:00
</td>
<td align="right">
   94.89
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2013-01-10 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 17:40:00
</td>
<td align="right">
   94.68
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .66
</td>
<td>
Thu: 2013-01-10 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 17:45:00
</td>
<td align="right">
   94.66
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .58
</td>
<td>
Thu: 2013-01-10 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 17:50:00
</td>
<td align="right">
   94.63
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .58
</td>
<td>
Thu: 2013-01-10 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 18:00:00
</td>
<td align="right">
   94.64
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .59
</td>
<td>
Thu: 2013-01-10 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 18:05:00
</td>
<td align="right">
   94.65
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .49
</td>
<td>
Thu: 2013-01-10 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 18:15:00
</td>
<td align="right">
   94.82
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .37
</td>
<td>
Thu: 2013-01-10 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 18:35:00
</td>
<td align="right">
   95.30
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2013-01-10 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 18:55:00
</td>
<td align="right">
   95.17
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Thu: 2013-01-10 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 19:15:00
</td>
<td align="right">
   95.19
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Thu: 2013-01-10 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 19:20:00
</td>
<td align="right">
   95.27
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2013-01-10 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 19:55:00
</td>
<td align="right">
   94.97
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .69
</td>
<td>
Thu: 2013-01-10 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 20:10:00
</td>
<td align="right">
   95.03
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 20:15:00
</td>
<td align="right">
   95.06
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 20:45:00
</td>
<td align="right">
   95.79
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-01-09 20:55:00
</td>
<td align="right">
   95.66
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HES">HES</a></td>
<td>
2013-01-09 16:10:00
</td>
<td align="right">
   55.47
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2013-01-10 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HES">HES</a></td>
<td>
2013-01-09 16:40:00
</td>
<td align="right">
   55.49
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2013-01-10 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HES">HES</a></td>
<td>
2013-01-09 18:20:00
</td>
<td align="right">
   55.48
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Thu: 2013-01-10 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MCD">MCD</a></td>
<td>
2013-01-09 20:00:00
</td>
<td align="right">
   90.55
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-10 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2013-01-09 15:25:00
</td>
<td align="right">
   67.58
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Thu: 2013-01-10 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2013-01-09 15:30:00
</td>
<td align="right">
   67.51
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Thu: 2013-01-10 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2013-01-09 16:00:00
</td>
<td align="right">
   67.58
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2013-01-10 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2013-01-09 16:40:00
</td>
<td align="right">
   67.69
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Thu: 2013-01-10 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2013-01-09 16:50:00
</td>
<td align="right">
   67.62
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2013-01-10 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2013-01-09 16:55:00
</td>
<td align="right">
   67.66
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2013-01-10 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2013-01-09 17:15:00
</td>
<td align="right">
   67.62
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Thu: 2013-01-10 17:15
</td>
</tr>
</table>
<br />