<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-12-01 15:45:00
</td>
<td align="right">
  120.03
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-12-02 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-12-01 14:50:00
</td>
<td align="right">
   51.14
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Fri: 2011-12-02 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-12-01 15:05:00
</td>
<td align="right">
   51.32
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Fri: 2011-12-02 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-12-01 15:10:00
</td>
<td align="right">
   51.20
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.44
</td>
<td>
Fri: 2011-12-02 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-01 14:40:00
</td>
<td align="right">
   60.18
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2011-12-02 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-01 14:55:00
</td>
<td align="right">
   60.58
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.38
</td>
<td>
Fri: 2011-12-02 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-01 15:15:00
</td>
<td align="right">
   60.73
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -1.05
</td>
<td>
Fri: 2011-12-02 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-01 15:20:00
</td>
<td align="right">
   60.64
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.89
</td>
<td>
Fri: 2011-12-02 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-01 16:10:00
</td>
<td align="right">
   59.82
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Fri: 2011-12-02 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-01 16:15:00
</td>
<td align="right">
   59.68
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
     .44
</td>
<td>
Fri: 2011-12-02 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-01 16:20:00
</td>
<td align="right">
   59.75
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .44
</td>
<td>
Fri: 2011-12-02 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-01 16:25:00
</td>
<td align="right">
   59.72
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .51
</td>
<td>
Fri: 2011-12-02 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-01 16:30:00
</td>
<td align="right">
   59.88
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .50
</td>
<td>
Fri: 2011-12-02 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-01 16:35:00
</td>
<td align="right">
   59.86
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .40
</td>
<td>
Fri: 2011-12-02 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-01 16:45:00
</td>
<td align="right">
   60.02
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-12-02 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-01 16:50:00
</td>
<td align="right">
   60.03
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-12-02 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-01 17:05:00
</td>
<td align="right">
   60.10
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-12-02 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-12-01 14:45:00
</td>
<td align="right">
  169.88
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Fri: 2011-12-02 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-12-01 14:50:00
</td>
<td align="right">
  169.75
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Fri: 2011-12-02 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-12-01 16:15:00
</td>
<td align="right">
  169.63
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Fri: 2011-12-02 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-12-01 16:20:00
</td>
<td align="right">
  169.65
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Fri: 2011-12-02 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-12-01 16:25:00
</td>
<td align="right">
  169.63
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.39
</td>
<td>
Fri: 2011-12-02 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-12-01 17:05:00
</td>
<td align="right">
  169.46
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.83
</td>
<td>
Fri: 2011-12-02 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-12-01 17:10:00
</td>
<td align="right">
  169.24
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.55
</td>
<td>
Fri: 2011-12-02 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-12-01 17:15:00
</td>
<td align="right">
  169.35
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.60
</td>
<td>
Fri: 2011-12-02 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-12-01 17:20:00
</td>
<td align="right">
  169.35
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-12-02 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-12-01 17:25:00
</td>
<td align="right">
  169.24
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-12-02 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-12-01 17:30:00
</td>
<td align="right">
  169.35
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-12-02 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-12-01 17:35:00
</td>
<td align="right">
  169.15
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-12-02 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2011-12-01 17:50:00
</td>
<td align="right">
  169.24
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-12-02 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2011-12-01 17:25:00
</td>
<td align="right">
   93.92
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .43
</td>
<td>
Fri: 2011-12-02 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-12-01 15:10:00
</td>
<td align="right">
  111.45
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   -1.30
</td>
<td>
Fri: 2011-12-02 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-12-01 14:35:00
</td>
<td align="right">
   53.35
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Fri: 2011-12-02 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-12-01 15:50:00
</td>
<td align="right">
   53.36
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.40
</td>
<td>
Fri: 2011-12-02 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-12-01 15:55:00
</td>
<td align="right">
   53.23
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Fri: 2011-12-02 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-12-01 16:50:00
</td>
<td align="right">
   52.96
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Fri: 2011-12-02 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-12-01 17:05:00
</td>
<td align="right">
   52.96
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-12-02 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-12-01 17:30:00
</td>
<td align="right">
   53.20
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-12-02 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-12-01 17:40:00
</td>
<td align="right">
   53.18
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-12-02 17:40
</td>
</tr>
</table>
<br />