<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABX">ABX</a></td>
<td>
2012-01-30 19:40:00
</td>
<td align="right">
   49.49
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.37
</td>
<td>
Tue: 2012-01-31 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABX">ABX</a></td>
<td>
2012-01-30 19:45:00
</td>
<td align="right">
   49.44
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Tue: 2012-01-31 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-30 15:45:00
</td>
<td align="right">
  367.43
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   -1.03
</td>
<td>
Tue: 2012-01-31 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-30 15:30:00
</td>
<td align="right">
   56.10
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .45
</td>
<td>
Tue: 2012-01-31 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-30 19:20:00
</td>
<td align="right">
   56.66
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2012-01-31 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-30 19:25:00
</td>
<td align="right">
   56.74
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2012-01-31 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-30 20:00:00
</td>
<td align="right">
   56.52
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-31 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-30 20:05:00
</td>
<td align="right">
   56.51
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-31 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-30 20:10:00
</td>
<td align="right">
   56.51
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-31 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-30 20:20:00
</td>
<td align="right">
   56.58
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-31 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-30 20:25:00
</td>
<td align="right">
   56.57
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-31 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-30 20:30:00
</td>
<td align="right">
   56.55
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-31 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-30 20:35:00
</td>
<td align="right">
   56.41
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-31 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-30 20:40:00
</td>
<td align="right">
   56.35
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-31 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-30 20:45:00
</td>
<td align="right">
   56.47
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-31 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-30 20:50:00
</td>
<td align="right">
   56.50
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-31 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-30 20:55:00
</td>
<td align="right">
   56.44
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-31 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-01-30 15:00:00
</td>
<td align="right">
   46.67
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .51
</td>
<td>
Tue: 2012-01-31 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-01-30 16:35:00
</td>
<td align="right">
   47.24
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2012-01-31 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-01-30 17:05:00
</td>
<td align="right">
   47.27
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2012-01-31 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-01-30 17:10:00
</td>
<td align="right">
   47.26
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2012-01-31 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-01-30 17:30:00
</td>
<td align="right">
   47.24
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-01-31 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-01-30 18:20:00
</td>
<td align="right">
   47.22
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Tue: 2012-01-31 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-01-30 18:30:00
</td>
<td align="right">
   47.26
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Tue: 2012-01-31 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2012-01-30 15:25:00
</td>
<td align="right">
  107.09
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .82
</td>
<td>
Tue: 2012-01-31 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2012-01-30 15:30:00
</td>
<td align="right">
  107.09
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .66
</td>
<td>
Tue: 2012-01-31 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2012-01-30 15:35:00
</td>
<td align="right">
  107.09
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .75
</td>
<td>
Tue: 2012-01-31 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2012-01-30 15:40:00
</td>
<td align="right">
  106.90
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .81
</td>
<td>
Tue: 2012-01-31 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2012-01-30 16:35:00
</td>
<td align="right">
  107.84
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2012-01-31 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2012-01-30 16:40:00
</td>
<td align="right">
  107.71
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2012-01-31 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2012-01-30 16:45:00
</td>
<td align="right">
  107.71
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2012-01-31 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2012-01-30 16:50:00
</td>
<td align="right">
  107.80
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Tue: 2012-01-31 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-01-30 15:10:00
</td>
<td align="right">
   60.01
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-01-31 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-01-30 15:30:00
</td>
<td align="right">
   48.73
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .56
</td>
<td>
Tue: 2012-01-31 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-01-30 15:40:00
</td>
<td align="right">
   48.83
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Tue: 2012-01-31 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-01-30 17:45:00
</td>
<td align="right">
   48.94
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .44
</td>
<td>
Tue: 2012-01-31 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-01-30 18:05:00
</td>
<td align="right">
   48.88
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .56
</td>
<td>
Tue: 2012-01-31 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-01-30 18:10:00
</td>
<td align="right">
   48.87
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .55
</td>
<td>
Tue: 2012-01-31 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-01-30 15:15:00
</td>
<td align="right">
   44.15
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Tue: 2012-01-31 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-01-30 15:20:00
</td>
<td align="right">
   44.20
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-01-31 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-01-30 15:25:00
</td>
<td align="right">
   44.21
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-01-31 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-01-30 15:30:00
</td>
<td align="right">
   44.21
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-01-31 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-01-30 15:35:00
</td>
<td align="right">
   44.22
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-01-31 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-01-30 15:40:00
</td>
<td align="right">
   44.23
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-01-31 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-01-30 15:45:00
</td>
<td align="right">
   44.27
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2012-01-31 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-01-30 15:50:00
</td>
<td align="right">
   44.15
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-01-31 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-01-30 15:55:00
</td>
<td align="right">
   44.16
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-01-31 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-01-30 16:00:00
</td>
<td align="right">
   44.28
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-01-31 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-01-30 16:05:00
</td>
<td align="right">
   44.27
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2012-01-31 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-01-30 16:30:00
</td>
<td align="right">
   44.25
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Tue: 2012-01-31 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-01-30 16:40:00
</td>
<td align="right">
   44.22
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Tue: 2012-01-31 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-01-30 16:45:00
</td>
<td align="right">
   44.20
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Tue: 2012-01-31 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-01-30 16:50:00
</td>
<td align="right">
   44.20
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Tue: 2012-01-31 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-01-30 17:55:00
</td>
<td align="right">
   74.60
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2012-01-31 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-01-30 18:00:00
</td>
<td align="right">
   74.62
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-01-31 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-01-30 18:05:00
</td>
<td align="right">
   74.58
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-01-31 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-01-30 18:10:00
</td>
<td align="right">
   74.63
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2012-01-31 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SU">SU</a></td>
<td>
2012-01-30 15:35:00
</td>
<td align="right">
   33.87
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Tue: 2012-01-31 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-01-30 15:00:00
</td>
<td align="right">
   75.60
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    1.35
</td>
<td>
Tue: 2012-01-31 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 15:15:00
</td>
<td align="right">
   99.73
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-01-31 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 15:20:00
</td>
<td align="right">
   99.73
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2012-01-31 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 15:25:00
</td>
<td align="right">
   99.61
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Tue: 2012-01-31 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 15:30:00
</td>
<td align="right">
   99.65
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Tue: 2012-01-31 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 15:35:00
</td>
<td align="right">
   99.60
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Tue: 2012-01-31 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 15:40:00
</td>
<td align="right">
   99.76
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2012-01-31 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 15:45:00
</td>
<td align="right">
   99.75
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2012-01-31 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 15:50:00
</td>
<td align="right">
   99.59
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Tue: 2012-01-31 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 15:55:00
</td>
<td align="right">
   99.55
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Tue: 2012-01-31 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 16:00:00
</td>
<td align="right">
   99.69
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-01-31 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 16:05:00
</td>
<td align="right">
   99.75
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-01-31 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 16:10:00
</td>
<td align="right">
   99.77
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-01-31 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 16:15:00
</td>
<td align="right">
   99.79
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-01-31 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 16:20:00
</td>
<td align="right">
   99.83
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2012-01-31 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 16:25:00
</td>
<td align="right">
   99.89
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Tue: 2012-01-31 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 16:40:00
</td>
<td align="right">
   99.86
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Tue: 2012-01-31 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 16:45:00
</td>
<td align="right">
   99.86
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Tue: 2012-01-31 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 16:50:00
</td>
<td align="right">
   99.86
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Tue: 2012-01-31 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 16:55:00
</td>
<td align="right">
   99.81
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2012-01-31 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 17:00:00
</td>
<td align="right">
   99.78
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2012-01-31 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 17:05:00
</td>
<td align="right">
   99.76
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2012-01-31 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 17:10:00
</td>
<td align="right">
   99.76
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Tue: 2012-01-31 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 17:15:00
</td>
<td align="right">
   99.69
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2012-01-31 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 17:20:00
</td>
<td align="right">
   99.69
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2012-01-31 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 17:25:00
</td>
<td align="right">
   99.63
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2012-01-31 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 17:30:00
</td>
<td align="right">
   99.66
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-01-31 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 17:35:00
</td>
<td align="right">
   99.58
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-01-31 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 17:40:00
</td>
<td align="right">
   99.56
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-01-31 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 17:45:00
</td>
<td align="right">
   99.57
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-01-31 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 17:50:00
</td>
<td align="right">
   99.55
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-01-31 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 17:55:00
</td>
<td align="right">
   99.66
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-01-31 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-30 18:00:00
</td>
<td align="right">
   99.57
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-01-31 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-01-30 19:20:00
</td>
<td align="right">
   85.14
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2012-01-31 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-01-30 19:25:00
</td>
<td align="right">
   85.20
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2012-01-31 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-01-30 19:40:00
</td>
<td align="right">
   85.19
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-01-31 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-01-30 19:45:00
</td>
<td align="right">
   85.25
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-01-31 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-01-30 19:55:00
</td>
<td align="right">
   85.14
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Tue: 2012-01-31 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-01-30 20:20:00
</td>
<td align="right">
   85.10
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-31 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-01-30 20:40:00
</td>
<td align="right">
   85.18
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-31 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-01-30 20:45:00
</td>
<td align="right">
   85.34
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-31 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-30 16:05:00
</td>
<td align="right">
   62.53
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Tue: 2012-01-31 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-30 16:10:00
</td>
<td align="right">
   62.53
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Tue: 2012-01-31 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-30 16:15:00
</td>
<td align="right">
   62.60
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Tue: 2012-01-31 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-30 16:20:00
</td>
<td align="right">
   62.56
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Tue: 2012-01-31 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-30 16:25:00
</td>
<td align="right">
   62.61
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Tue: 2012-01-31 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-30 16:30:00
</td>
<td align="right">
   62.65
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2012-01-31 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-30 16:50:00
</td>
<td align="right">
   62.78
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-01-31 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-30 16:55:00
</td>
<td align="right">
   62.84
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-01-31 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-30 17:00:00
</td>
<td align="right">
   62.85
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2012-01-31 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-30 17:05:00
</td>
<td align="right">
   62.88
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-01-31 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-30 17:10:00
</td>
<td align="right">
   62.86
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-01-31 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-30 17:15:00
</td>
<td align="right">
   62.89
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-01-31 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-30 17:20:00
</td>
<td align="right">
   62.89
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2012-01-31 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-30 17:25:00
</td>
<td align="right">
   62.84
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2012-01-31 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-30 17:30:00
</td>
<td align="right">
   62.83
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2012-01-31 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-30 17:50:00
</td>
<td align="right">
   62.72
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .43
</td>
<td>
Tue: 2012-01-31 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-30 18:00:00
</td>
<td align="right">
   62.81
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Tue: 2012-01-31 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-30 18:05:00
</td>
<td align="right">
   62.86
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Tue: 2012-01-31 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-30 18:10:00
</td>
<td align="right">
   62.88
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .39
</td>
<td>
Tue: 2012-01-31 18:10
</td>
</tr>
</table>
<br />