<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-06-01 15:00:00
</td>
<td align="right">
   38.98
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2012-06-04 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-06-01 18:55:00
</td>
<td align="right">
   38.72
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-06-04 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-06-01 19:35:00
</td>
<td align="right">
   38.66
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-06-04 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-06-01 14:25:00
</td>
<td align="right">
   31.63
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2012-06-04 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-06-01 16:35:00
</td>
<td align="right">
   31.64
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-06-04 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-06-01 18:35:00
</td>
<td align="right">
   31.82
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-06-04 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-06-01 19:10:00
</td>
<td align="right">
   31.76
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-06-04 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-06-01 19:50:00
</td>
<td align="right">
   31.66
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-06-04 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-06-01 19:55:00
</td>
<td align="right">
   31.60
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-06-04 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 14:10:00
</td>
<td align="right">
  403.12
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   -1.98
</td>
<td>
Mon: 2012-06-04 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 14:25:00
</td>
<td align="right">
  401.60
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2012-06-04 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 14:35:00
</td>
<td align="right">
  401.50
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.96
</td>
<td>
Mon: 2012-06-04 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 14:50:00
</td>
<td align="right">
  403.52
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   -3.54
</td>
<td>
Mon: 2012-06-04 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 14:55:00
</td>
<td align="right">
  402.22
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   -2.63
</td>
<td>
Mon: 2012-06-04 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 15:05:00
</td>
<td align="right">
  401.11
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   -1.88
</td>
<td>
Mon: 2012-06-04 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 15:15:00
</td>
<td align="right">
  401.58
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   -1.79
</td>
<td>
Mon: 2012-06-04 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 15:20:00
</td>
<td align="right">
  401.80
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   -3.06
</td>
<td>
Mon: 2012-06-04 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 15:30:00
</td>
<td align="right">
  400.20
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   -1.53
</td>
<td>
Mon: 2012-06-04 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 15:35:00
</td>
<td align="right">
  400.54
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   -2.52
</td>
<td>
Mon: 2012-06-04 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 15:40:00
</td>
<td align="right">
  400.32
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   -3.22
</td>
<td>
Mon: 2012-06-04 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 15:45:00
</td>
<td align="right">
  399.64
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   -2.69
</td>
<td>
Mon: 2012-06-04 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 15:50:00
</td>
<td align="right">
  399.98
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   -2.48
</td>
<td>
Mon: 2012-06-04 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 15:55:00
</td>
<td align="right">
  399.59
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   -2.50
</td>
<td>
Mon: 2012-06-04 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 16:15:00
</td>
<td align="right">
  399.79
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   -3.54
</td>
<td>
Mon: 2012-06-04 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 16:20:00
</td>
<td align="right">
  398.74
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   -2.66
</td>
<td>
Mon: 2012-06-04 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 16:30:00
</td>
<td align="right">
  398.67
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
   -2.57
</td>
<td>
Mon: 2012-06-04 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 16:35:00
</td>
<td align="right">
  398.02
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   -2.60
</td>
<td>
Mon: 2012-06-04 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 16:50:00
</td>
<td align="right">
  397.50
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
   -2.00
</td>
<td>
Mon: 2012-06-04 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 17:00:00
</td>
<td align="right">
  396.90
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.88
</td>
<td>
Mon: 2012-06-04 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 17:10:00
</td>
<td align="right">
  396.90
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   -2.75
</td>
<td>
Mon: 2012-06-04 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 18:30:00
</td>
<td align="right">
  396.75
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.49
</td>
<td>
Mon: 2012-06-04 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 18:35:00
</td>
<td align="right">
  397.36
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -1.80
</td>
<td>
Mon: 2012-06-04 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 18:40:00
</td>
<td align="right">
  397.53
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
   -1.31
</td>
<td>
Mon: 2012-06-04 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 18:45:00
</td>
<td align="right">
  397.81
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   -1.81
</td>
<td>
Mon: 2012-06-04 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 18:50:00
</td>
<td align="right">
  397.50
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.86
</td>
<td>
Mon: 2012-06-04 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 19:00:00
</td>
<td align="right">
  397.29
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-06-04 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 19:10:00
</td>
<td align="right">
  397.42
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-06-04 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-06-01 17:10:00
</td>
<td align="right">
   47.47
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Mon: 2012-06-04 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-06-01 17:15:00
</td>
<td align="right">
   47.48
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2012-06-04 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-06-01 18:45:00
</td>
<td align="right">
   47.36
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2012-06-04 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-06-01 19:50:00
</td>
<td align="right">
   47.26
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-06-04 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-06-01 16:25:00
</td>
<td align="right">
   39.09
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2012-06-04 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-06-01 17:40:00
</td>
<td align="right">
  207.92
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    1.73
</td>
<td>
Mon: 2012-06-04 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 14:00:00
</td>
<td align="right">
  405.70
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   -4.47
</td>
<td>
Mon: 2012-06-04 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-06-01 14:05:00
</td>
<td align="right">
  404.67
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   -3.56
</td>
<td>
Mon: 2012-06-04 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2012-06-01 15:10:00
</td>
<td align="right">
   44.15
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2012-06-04 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-06-01 16:55:00
</td>
<td align="right">
   96.79
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2012-06-04 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-06-01 17:15:00
</td>
<td align="right">
   96.97
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.50
</td>
<td>
Mon: 2012-06-04 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-06-01 18:35:00
</td>
<td align="right">
   96.76
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.48
</td>
<td>
Mon: 2012-06-04 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-06-01 19:50:00
</td>
<td align="right">
   96.44
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-06-04 19:50
</td>
</tr>
</table>
<br />