<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2013-02-01 17:20:00
</td>
<td align="right">
   53.38
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2013-02-04 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2013-02-01 20:15:00
</td>
<td align="right">
   53.26
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2013-02-01 20:30:00
</td>
<td align="right">
   53.25
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2013-02-01 15:05:00
</td>
<td align="right">
  113.79
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Mon: 2013-02-04 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2013-02-01 16:05:00
</td>
<td align="right">
  113.53
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2013-02-04 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2013-02-01 19:25:00
</td>
<td align="right">
  113.35
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2013-02-04 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2013-02-01 20:25:00
</td>
<td align="right">
  113.40
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2013-02-01 20:40:00
</td>
<td align="right">
  113.55
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 15:00:00
</td>
<td align="right">
   38.55
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Mon: 2013-02-04 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 15:05:00
</td>
<td align="right">
   38.61
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2013-02-04 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 15:10:00
</td>
<td align="right">
   38.61
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Mon: 2013-02-04 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 15:25:00
</td>
<td align="right">
   38.72
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Mon: 2013-02-04 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 15:45:00
</td>
<td align="right">
   38.84
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2013-02-04 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 16:05:00
</td>
<td align="right">
   38.81
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2013-02-04 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 16:10:00
</td>
<td align="right">
   38.89
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2013-02-04 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 16:30:00
</td>
<td align="right">
   39.11
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Mon: 2013-02-04 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 16:35:00
</td>
<td align="right">
   39.05
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2013-02-04 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 16:40:00
</td>
<td align="right">
   39.03
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2013-02-04 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 16:50:00
</td>
<td align="right">
   39.00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2013-02-04 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 16:55:00
</td>
<td align="right">
   38.94
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2013-02-04 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 17:15:00
</td>
<td align="right">
   38.83
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2013-02-04 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 17:25:00
</td>
<td align="right">
   38.84
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2013-02-04 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 17:35:00
</td>
<td align="right">
   38.86
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2013-02-04 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 17:50:00
</td>
<td align="right">
   38.88
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2013-02-04 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 18:00:00
</td>
<td align="right">
   38.84
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2013-02-04 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 18:05:00
</td>
<td align="right">
   38.87
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2013-02-04 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 18:25:00
</td>
<td align="right">
   38.88
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2013-02-04 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 18:35:00
</td>
<td align="right">
   38.90
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2013-02-04 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 19:00:00
</td>
<td align="right">
   38.87
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2013-02-04 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 19:05:00
</td>
<td align="right">
   38.94
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2013-02-04 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 19:15:00
</td>
<td align="right">
   38.86
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2013-02-04 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 19:25:00
</td>
<td align="right">
   38.84
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2013-02-04 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 19:30:00
</td>
<td align="right">
   38.79
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2013-02-04 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 19:40:00
</td>
<td align="right">
   38.79
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2013-02-04 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 19:45:00
</td>
<td align="right">
   38.74
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Mon: 2013-02-04 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2013-02-01 20:20:00
</td>
<td align="right">
   38.77
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 15:00:00
</td>
<td align="right">
   41.42
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Mon: 2013-02-04 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 15:05:00
</td>
<td align="right">
   41.53
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2013-02-04 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 15:10:00
</td>
<td align="right">
   41.58
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2013-02-04 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 15:15:00
</td>
<td align="right">
   41.65
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2013-02-04 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 15:20:00
</td>
<td align="right">
   41.56
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2013-02-04 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 15:25:00
</td>
<td align="right">
   41.43
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Mon: 2013-02-04 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 15:45:00
</td>
<td align="right">
   41.57
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Mon: 2013-02-04 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 15:55:00
</td>
<td align="right">
   41.66
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Mon: 2013-02-04 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 16:00:00
</td>
<td align="right">
   41.71
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2013-02-04 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 16:05:00
</td>
<td align="right">
   41.68
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2013-02-04 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 16:10:00
</td>
<td align="right">
   41.70
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2013-02-04 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 16:15:00
</td>
<td align="right">
   41.76
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2013-02-04 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 16:30:00
</td>
<td align="right">
   41.72
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2013-02-04 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 16:35:00
</td>
<td align="right">
   41.74
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2013-02-04 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 16:45:00
</td>
<td align="right">
   41.85
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2013-02-04 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 17:00:00
</td>
<td align="right">
   41.88
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2013-02-04 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 17:20:00
</td>
<td align="right">
   41.83
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2013-02-04 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 17:25:00
</td>
<td align="right">
   41.86
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2013-02-04 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 17:30:00
</td>
<td align="right">
   41.90
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2013-02-04 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 18:10:00
</td>
<td align="right">
   41.95
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2013-02-04 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 18:20:00
</td>
<td align="right">
   41.94
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2013-02-04 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 18:25:00
</td>
<td align="right">
   41.94
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2013-02-04 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 18:30:00
</td>
<td align="right">
   41.89
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2013-02-04 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 18:40:00
</td>
<td align="right">
   41.88
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2013-02-04 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 19:00:00
</td>
<td align="right">
   41.84
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2013-02-04 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 19:05:00
</td>
<td align="right">
   41.85
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2013-02-04 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 19:10:00
</td>
<td align="right">
   41.83
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2013-02-04 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 19:15:00
</td>
<td align="right">
   41.90
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2013-02-04 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 19:25:00
</td>
<td align="right">
   41.86
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2013-02-04 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 19:30:00
</td>
<td align="right">
   41.82
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2013-02-04 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 19:35:00
</td>
<td align="right">
   41.84
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2013-02-04 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 19:50:00
</td>
<td align="right">
   41.85
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2013-02-04 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 19:55:00
</td>
<td align="right">
   41.82
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2013-02-04 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 20:05:00
</td>
<td align="right">
   41.82
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 20:15:00
</td>
<td align="right">
   41.81
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 20:30:00
</td>
<td align="right">
   41.80
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 20:35:00
</td>
<td align="right">
   41.81
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2013-02-01 20:55:00
</td>
<td align="right">
   41.80
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2013-02-01 20:35:00
</td>
<td align="right">
   44.85
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2013-02-01 20:50:00
</td>
<td align="right">
   44.86
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-02-01 17:20:00
</td>
<td align="right">
  175.42
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Mon: 2013-02-04 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-02-01 17:25:00
</td>
<td align="right">
  175.35
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2013-02-04 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-02-01 17:30:00
</td>
<td align="right">
  175.42
</td>
<td align="right">
 -.93
</td>
<td>
Sell
</td>
<td align="right">
     .33
</td>
<td>
Mon: 2013-02-04 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-02-01 17:35:00
</td>
<td align="right">
  175.22
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .41
</td>
<td>
Mon: 2013-02-04 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-02-01 17:40:00
</td>
<td align="right">
  175.32
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .45
</td>
<td>
Mon: 2013-02-04 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-02-01 17:45:00
</td>
<td align="right">
  175.34
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Mon: 2013-02-04 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-02-01 17:50:00
</td>
<td align="right">
  175.38
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2013-02-04 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-02-01 18:05:00
</td>
<td align="right">
  175.55
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Mon: 2013-02-04 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-02-01 18:10:00
</td>
<td align="right">
  175.68
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.53
</td>
<td>
Mon: 2013-02-04 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-02-01 18:35:00
</td>
<td align="right">
  175.63
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    -.47
</td>
<td>
Mon: 2013-02-04 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-02-01 18:40:00
</td>
<td align="right">
  175.77
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.47
</td>
<td>
Mon: 2013-02-04 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-02-01 18:50:00
</td>
<td align="right">
  175.49
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2013-02-04 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2013-02-01 17:55:00
</td>
<td align="right">
  127.80
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .45
</td>
<td>
Mon: 2013-02-04 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2013-02-01 18:05:00
</td>
<td align="right">
  127.67
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .36
</td>
<td>
Mon: 2013-02-04 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2013-02-01 18:10:00
</td>
<td align="right">
  127.80
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2013-02-04 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2013-02-01 18:15:00
</td>
<td align="right">
  127.81
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Mon: 2013-02-04 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2013-02-01 18:30:00
</td>
<td align="right">
  127.98
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .30
</td>
<td>
Mon: 2013-02-04 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-02-01 18:15:00
</td>
<td align="right">
  106.36
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2013-02-04 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-02-01 18:20:00
</td>
<td align="right">
  106.42
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2013-02-04 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-02-01 18:25:00
</td>
<td align="right">
  106.32
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2013-02-04 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-02-01 18:30:00
</td>
<td align="right">
  106.36
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2013-02-04 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-02-01 18:35:00
</td>
<td align="right">
  106.45
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2013-02-04 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-02-01 18:40:00
</td>
<td align="right">
  106.41
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2013-02-04 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-02-01 18:45:00
</td>
<td align="right">
  106.41
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2013-02-04 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-02-01 19:05:00
</td>
<td align="right">
  106.66
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.54
</td>
<td>
Mon: 2013-02-04 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-02-01 19:10:00
</td>
<td align="right">
  106.32
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2013-02-04 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-02-01 19:15:00
</td>
<td align="right">
  106.49
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2013-02-04 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-02-01 19:20:00
</td>
<td align="right">
  106.46
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Mon: 2013-02-04 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-02-01 19:25:00
</td>
<td align="right">
  106.51
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.46
</td>
<td>
Mon: 2013-02-04 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-02-01 19:30:00
</td>
<td align="right">
  106.33
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2013-02-04 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-02-01 19:35:00
</td>
<td align="right">
  106.30
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2013-02-04 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-02-01 19:45:00
</td>
<td align="right">
  106.57
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.54
</td>
<td>
Mon: 2013-02-04 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-02-01 19:50:00
</td>
<td align="right">
  106.59
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.68
</td>
<td>
Mon: 2013-02-04 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-02-01 19:55:00
</td>
<td align="right">
  106.65
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.70
</td>
<td>
Mon: 2013-02-04 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-02-01 20:00:00
</td>
<td align="right">
  106.45
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-02-01 20:05:00
</td>
<td align="right">
  106.12
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2013-02-01 20:10:00
</td>
<td align="right">
  106.24
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-01 18:25:00
</td>
<td align="right">
  156.98
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Mon: 2013-02-04 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-01 18:30:00
</td>
<td align="right">
  157.00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Mon: 2013-02-04 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-01 18:35:00
</td>
<td align="right">
  156.85
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.33
</td>
<td>
Mon: 2013-02-04 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 15:05:00
</td>
<td align="right">
   69.02
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2013-02-04 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 15:10:00
</td>
<td align="right">
   68.97
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2013-02-04 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 15:15:00
</td>
<td align="right">
   68.94
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2013-02-04 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 15:20:00
</td>
<td align="right">
   69.01
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2013-02-04 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 15:25:00
</td>
<td align="right">
   68.94
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2013-02-04 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 15:30:00
</td>
<td align="right">
   68.87
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2013-02-04 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 15:45:00
</td>
<td align="right">
   68.86
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Mon: 2013-02-04 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 16:00:00
</td>
<td align="right">
   68.92
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2013-02-04 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 16:05:00
</td>
<td align="right">
   68.94
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2013-02-04 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 16:10:00
</td>
<td align="right">
   69.01
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2013-02-04 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 16:15:00
</td>
<td align="right">
   69.02
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2013-02-04 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 16:20:00
</td>
<td align="right">
   69.01
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2013-02-04 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 16:25:00
</td>
<td align="right">
   68.95
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2013-02-04 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 16:30:00
</td>
<td align="right">
   68.99
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2013-02-04 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 16:35:00
</td>
<td align="right">
   69.05
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2013-02-04 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 16:40:00
</td>
<td align="right">
   69.09
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2013-02-04 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 16:45:00
</td>
<td align="right">
   69.11
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2013-02-04 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 16:50:00
</td>
<td align="right">
   69.08
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2013-02-04 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 17:00:00
</td>
<td align="right">
   69.08
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2013-02-04 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 17:05:00
</td>
<td align="right">
   69.09
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2013-02-04 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 17:25:00
</td>
<td align="right">
   69.12
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Mon: 2013-02-04 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 17:30:00
</td>
<td align="right">
   69.10
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .42
</td>
<td>
Mon: 2013-02-04 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 17:35:00
</td>
<td align="right">
   69.04
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .42
</td>
<td>
Mon: 2013-02-04 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 17:50:00
</td>
<td align="right">
   69.10
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Mon: 2013-02-04 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 17:55:00
</td>
<td align="right">
   69.10
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2013-02-04 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 18:10:00
</td>
<td align="right">
   69.26
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2013-02-04 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 18:15:00
</td>
<td align="right">
   69.31
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2013-02-04 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 18:25:00
</td>
<td align="right">
   69.44
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2013-02-04 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 18:30:00
</td>
<td align="right">
   69.52
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2013-02-04 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 18:40:00
</td>
<td align="right">
   69.36
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2013-02-04 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 18:45:00
</td>
<td align="right">
   69.31
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2013-02-04 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 18:50:00
</td>
<td align="right">
   69.32
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2013-02-04 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 18:55:00
</td>
<td align="right">
   69.28
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2013-02-04 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 19:00:00
</td>
<td align="right">
   69.28
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2013-02-04 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 19:05:00
</td>
<td align="right">
   69.25
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2013-02-04 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 19:10:00
</td>
<td align="right">
   69.22
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2013-02-04 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 19:15:00
</td>
<td align="right">
   69.17
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2013-02-04 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 19:20:00
</td>
<td align="right">
   69.23
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2013-02-04 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 19:30:00
</td>
<td align="right">
   69.30
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2013-02-04 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 19:40:00
</td>
<td align="right">
   69.30
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2013-02-04 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 19:45:00
</td>
<td align="right">
   69.33
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2013-02-04 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 19:50:00
</td>
<td align="right">
   69.34
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2013-02-04 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 20:00:00
</td>
<td align="right">
   69.25
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 20:10:00
</td>
<td align="right">
   69.20
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 20:20:00
</td>
<td align="right">
   69.17
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 20:25:00
</td>
<td align="right">
   69.15
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 20:35:00
</td>
<td align="right">
   69.15
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2013-02-01 20:45:00
</td>
<td align="right">
   69.24
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IAG">IAG</a></td>
<td>
2013-02-01 15:20:00
</td>
<td align="right">
    8.32
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2013-02-04 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IAG">IAG</a></td>
<td>
2013-02-01 15:25:00
</td>
<td align="right">
    8.32
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2013-02-04 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IAG">IAG</a></td>
<td>
2013-02-01 15:35:00
</td>
<td align="right">
    8.32
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2013-02-04 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IAG">IAG</a></td>
<td>
2013-02-01 16:15:00
</td>
<td align="right">
    8.35
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2013-02-04 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IAG">IAG</a></td>
<td>
2013-02-01 17:10:00
</td>
<td align="right">
    8.38
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2013-02-04 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IAG">IAG</a></td>
<td>
2013-02-01 17:40:00
</td>
<td align="right">
    8.37
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2013-02-04 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IAG">IAG</a></td>
<td>
2013-02-01 17:50:00
</td>
<td align="right">
    8.41
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2013-02-04 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IAG">IAG</a></td>
<td>
2013-02-01 17:55:00
</td>
<td align="right">
    8.38
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2013-02-04 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IAG">IAG</a></td>
<td>
2013-02-01 19:50:00
</td>
<td align="right">
    8.40
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2013-02-04 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 15:00:00
</td>
<td align="right">
  204.91
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2013-02-04 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 15:05:00
</td>
<td align="right">
  204.95
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2013-02-04 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 15:15:00
</td>
<td align="right">
  205.01
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2013-02-04 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 15:20:00
</td>
<td align="right">
  205.00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2013-02-04 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 15:25:00
</td>
<td align="right">
  204.96
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2013-02-04 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 15:30:00
</td>
<td align="right">
  204.97
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2013-02-04 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 15:35:00
</td>
<td align="right">
  204.84
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2013-02-04 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 15:40:00
</td>
<td align="right">
  204.92
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2013-02-04 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 15:45:00
</td>
<td align="right">
  204.85
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2013-02-04 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 15:50:00
</td>
<td align="right">
  204.90
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Mon: 2013-02-04 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 15:55:00
</td>
<td align="right">
  205.04
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2013-02-04 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 16:00:00
</td>
<td align="right">
  204.95
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Mon: 2013-02-04 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 16:05:00
</td>
<td align="right">
  204.93
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Mon: 2013-02-04 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 16:10:00
</td>
<td align="right">
  205.04
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2013-02-04 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 16:15:00
</td>
<td align="right">
  205.05
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2013-02-04 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 16:25:00
</td>
<td align="right">
  204.95
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2013-02-04 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 16:35:00
</td>
<td align="right">
  204.95
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2013-02-04 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 16:40:00
</td>
<td align="right">
  204.99
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2013-02-04 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 16:45:00
</td>
<td align="right">
  204.97
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2013-02-04 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 16:50:00
</td>
<td align="right">
  205.16
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2013-02-04 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 16:55:00
</td>
<td align="right">
  205.24
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2013-02-04 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 17:00:00
</td>
<td align="right">
  205.29
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2013-02-04 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 17:05:00
</td>
<td align="right">
  205.27
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2013-02-04 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 17:20:00
</td>
<td align="right">
  205.08
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2013-02-04 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 17:25:00
</td>
<td align="right">
  205.13
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2013-02-04 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 17:30:00
</td>
<td align="right">
  205.20
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2013-02-04 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 17:35:00
</td>
<td align="right">
  205.14
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2013-02-04 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 17:40:00
</td>
<td align="right">
  205.13
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2013-02-04 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 17:45:00
</td>
<td align="right">
  205.10
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2013-02-04 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 17:50:00
</td>
<td align="right">
  205.14
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2013-02-04 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 18:00:00
</td>
<td align="right">
  205.09
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2013-02-04 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 18:05:00
</td>
<td align="right">
  205.19
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2013-02-04 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 18:10:00
</td>
<td align="right">
  205.21
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2013-02-04 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 18:15:00
</td>
<td align="right">
  205.23
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2013-02-04 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 18:20:00
</td>
<td align="right">
  205.22
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2013-02-04 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 18:35:00
</td>
<td align="right">
  205.20
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2013-02-04 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 18:45:00
</td>
<td align="right">
  205.21
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2013-02-04 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 19:00:00
</td>
<td align="right">
  205.28
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2013-02-04 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 19:10:00
</td>
<td align="right">
  205.13
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2013-02-04 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 19:15:00
</td>
<td align="right">
  205.24
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2013-02-04 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 19:25:00
</td>
<td align="right">
  205.26
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Mon: 2013-02-04 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 19:30:00
</td>
<td align="right">
  205.20
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2013-02-04 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 19:35:00
</td>
<td align="right">
  205.18
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2013-02-04 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 19:40:00
</td>
<td align="right">
  205.20
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2013-02-04 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 19:45:00
</td>
<td align="right">
  205.20
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2013-02-04 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 19:50:00
</td>
<td align="right">
  205.30
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2013-02-04 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 19:55:00
</td>
<td align="right">
  205.21
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2013-02-04 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 20:00:00
</td>
<td align="right">
  205.19
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 20:05:00
</td>
<td align="right">
  205.12
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 20:10:00
</td>
<td align="right">
  205.15
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 20:15:00
</td>
<td align="right">
  205.04
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 20:20:00
</td>
<td align="right">
  205.04
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 20:30:00
</td>
<td align="right">
  205.09
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 20:35:00
</td>
<td align="right">
  205.10
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2013-02-01 20:55:00
</td>
<td align="right">
  205.18
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-02-01 15:00:00
</td>
<td align="right">
   21.12
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2013-02-04 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-02-01 15:05:00
</td>
<td align="right">
   21.15
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2013-02-04 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-02-01 15:15:00
</td>
<td align="right">
   21.18
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2013-02-04 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-02-01 15:25:00
</td>
<td align="right">
   21.14
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2013-02-04 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-02-01 15:30:00
</td>
<td align="right">
   21.15
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2013-02-04 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-02-01 15:35:00
</td>
<td align="right">
   21.15
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2013-02-04 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-02-01 15:55:00
</td>
<td align="right">
   21.19
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2013-02-04 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-02-01 16:00:00
</td>
<td align="right">
   21.21
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2013-02-04 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-02-01 16:05:00
</td>
<td align="right">
   21.20
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2013-02-04 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-02-01 17:25:00
</td>
<td align="right">
   21.32
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2013-02-04 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-02-01 18:00:00
</td>
<td align="right">
   21.32
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2013-02-04 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-02-01 20:10:00
</td>
<td align="right">
   21.32
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2013-02-01 20:15:00
</td>
<td align="right">
   21.32
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDY">MDY</a></td>
<td>
2013-02-01 17:05:00
</td>
<td align="right">
  200.69
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2013-02-04 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDY">MDY</a></td>
<td>
2013-02-01 18:00:00
</td>
<td align="right">
  200.55
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2013-02-04 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2013-02-01 15:00:00
</td>
<td align="right">
  101.80
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2013-02-04 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2013-02-01 15:05:00
</td>
<td align="right">
  101.80
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2013-02-04 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2013-02-01 16:50:00
</td>
<td align="right">
  101.54
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2013-02-04 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2013-02-01 18:35:00
</td>
<td align="right">
  101.63
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2013-02-04 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2013-02-01 18:40:00
</td>
<td align="right">
  101.66
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2013-02-04 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2013-02-01 18:45:00
</td>
<td align="right">
  101.63
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2013-02-04 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2013-02-01 18:50:00
</td>
<td align="right">
  101.68
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2013-02-04 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2013-02-01 19:30:00
</td>
<td align="right">
  101.69
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Mon: 2013-02-04 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2013-02-01 19:50:00
</td>
<td align="right">
  101.66
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2013-02-04 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2013-02-01 19:55:00
</td>
<td align="right">
  101.57
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2013-02-04 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2013-02-01 20:00:00
</td>
<td align="right">
  101.53
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2013-02-01 20:05:00
</td>
<td align="right">
  101.48
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2013-02-01 20:20:00
</td>
<td align="right">
  101.42
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2013-02-01 20:35:00
</td>
<td align="right">
  101.42
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2013-02-01 20:50:00
</td>
<td align="right">
  101.49
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 15:10:00
</td>
<td align="right">
  103.00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2013-02-04 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 15:55:00
</td>
<td align="right">
  102.95
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2013-02-04 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TM">TM</a></td>
<td>
2013-02-01 17:45:00
</td>
<td align="right">
   97.94
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Mon: 2013-02-04 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TM">TM</a></td>
<td>
2013-02-01 17:50:00
</td>
<td align="right">
   97.93
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Mon: 2013-02-04 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TM">TM</a></td>
<td>
2013-02-01 18:05:00
</td>
<td align="right">
   97.86
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Mon: 2013-02-04 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2013-02-01 18:30:00
</td>
<td align="right">
  133.77
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2013-02-04 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2013-02-01 18:50:00
</td>
<td align="right">
  133.81
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2013-02-04 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2013-02-01 19:00:00
</td>
<td align="right">
  133.84
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2013-02-04 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2013-02-01 19:05:00
</td>
<td align="right">
  133.82
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2013-02-04 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2013-02-01 19:45:00
</td>
<td align="right">
  133.86
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2013-02-04 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2013-02-01 15:20:00
</td>
<td align="right">
   77.45
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2013-02-04 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2013-02-01 15:45:00
</td>
<td align="right">
   77.49
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2013-02-04 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2013-02-01 18:45:00
</td>
<td align="right">
  125.74
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .41
</td>
<td>
Mon: 2013-02-04 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2013-02-01 18:50:00
</td>
<td align="right">
  125.57
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .57
</td>
<td>
Mon: 2013-02-04 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2013-02-01 19:00:00
</td>
<td align="right">
  126.19
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2013-02-04 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2013-02-01 19:10:00
</td>
<td align="right">
  126.32
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2013-02-04 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2013-02-01 19:20:00
</td>
<td align="right">
  126.31
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Mon: 2013-02-04 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2013-02-01 19:25:00
</td>
<td align="right">
  126.25
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2013-02-04 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2013-02-01 19:40:00
</td>
<td align="right">
  126.10
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Mon: 2013-02-04 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2013-02-01 19:45:00
</td>
<td align="right">
  126.15
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .49
</td>
<td>
Mon: 2013-02-04 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2013-02-01 20:00:00
</td>
<td align="right">
  126.26
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2013-02-01 20:05:00
</td>
<td align="right">
  126.27
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2013-02-01 20:15:00
</td>
<td align="right">
  126.23
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2013-02-01 20:20:00
</td>
<td align="right">
  126.05
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2013-02-01 20:25:00
</td>
<td align="right">
  126.15
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2013-02-01 20:30:00
</td>
<td align="right">
  126.41
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2013-02-01 20:35:00
</td>
<td align="right">
  126.40
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2013-02-01 15:40:00
</td>
<td align="right">
   44.76
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2013-02-04 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2013-02-01 15:45:00
</td>
<td align="right">
   44.71
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2013-02-04 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2013-02-01 15:50:00
</td>
<td align="right">
   44.74
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2013-02-04 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2013-02-01 16:45:00
</td>
<td align="right">
   44.76
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2013-02-04 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2013-02-01 17:30:00
</td>
<td align="right">
   44.76
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2013-02-04 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2013-02-01 17:35:00
</td>
<td align="right">
   44.71
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2013-02-04 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2013-02-01 17:50:00
</td>
<td align="right">
   44.73
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2013-02-04 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2013-02-01 19:50:00
</td>
<td align="right">
   44.74
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2013-02-04 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ALL">ALL</a></td>
<td>
2013-02-01 20:10:00
</td>
<td align="right">
   44.76
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2013-02-01 16:10:00
</td>
<td align="right">
   86.44
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
Mon: 2013-02-04 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-02-01 16:45:00
</td>
<td align="right">
   99.49
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2013-02-04 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-02-01 17:15:00
</td>
<td align="right">
   99.47
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2013-02-04 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-02-01 17:20:00
</td>
<td align="right">
   99.37
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2013-02-04 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-02-01 17:40:00
</td>
<td align="right">
   99.37
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2013-02-04 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-02-01 17:45:00
</td>
<td align="right">
   99.29
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2013-02-04 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-02-01 17:55:00
</td>
<td align="right">
   99.28
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2013-02-04 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-02-01 18:00:00
</td>
<td align="right">
   99.28
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2013-02-04 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-02-01 18:05:00
</td>
<td align="right">
   99.27
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2013-02-04 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-02-01 18:15:00
</td>
<td align="right">
   99.31
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2013-02-04 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-02-01 18:25:00
</td>
<td align="right">
   99.27
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2013-02-04 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-02-01 18:50:00
</td>
<td align="right">
   99.46
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2013-02-04 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-02-01 18:55:00
</td>
<td align="right">
   99.47
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2013-02-04 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-02-01 19:00:00
</td>
<td align="right">
   99.43
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2013-02-04 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-02-01 19:25:00
</td>
<td align="right">
   99.40
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2013-02-04 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-02-01 20:00:00
</td>
<td align="right">
   99.34
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-02-01 20:05:00
</td>
<td align="right">
   99.34
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-02-01 20:20:00
</td>
<td align="right">
   99.29
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-02-01 20:30:00
</td>
<td align="right">
   99.30
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-02-01 20:50:00
</td>
<td align="right">
   99.39
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2013-02-01 18:40:00
</td>
<td align="right">
  116.13
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Mon: 2013-02-04 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2013-02-01 18:55:00
</td>
<td align="right">
  116.29
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2013-02-04 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2013-02-01 19:20:00
</td>
<td align="right">
  116.44
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2013-02-04 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2013-02-01 18:55:00
</td>
<td align="right">
  128.25
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2013-02-04 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-01 18:05:00
</td>
<td align="right">
  102.44
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2013-02-04 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-01 18:10:00
</td>
<td align="right">
  102.48
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2013-02-04 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-01 18:25:00
</td>
<td align="right">
  102.51
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2013-02-04 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-01 18:40:00
</td>
<td align="right">
  102.58
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2013-02-04 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-01 18:45:00
</td>
<td align="right">
  102.56
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2013-02-04 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-01 18:50:00
</td>
<td align="right">
  102.62
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2013-02-04 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-01 19:00:00
</td>
<td align="right">
  102.48
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2013-02-04 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-01 19:05:00
</td>
<td align="right">
  102.55
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2013-02-04 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-01 19:10:00
</td>
<td align="right">
  102.50
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2013-02-04 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-01 19:15:00
</td>
<td align="right">
  102.55
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2013-02-04 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-01 19:20:00
</td>
<td align="right">
  102.63
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2013-02-04 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-01 19:25:00
</td>
<td align="right">
  102.59
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2013-02-04 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-01 19:30:00
</td>
<td align="right">
  102.50
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2013-02-04 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-01 19:35:00
</td>
<td align="right">
  102.50
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2013-02-04 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-01 19:40:00
</td>
<td align="right">
  102.55
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Mon: 2013-02-04 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-01 19:45:00
</td>
<td align="right">
  102.62
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2013-02-04 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-01 19:50:00
</td>
<td align="right">
  102.56
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .37
</td>
<td>
Mon: 2013-02-04 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-01 19:55:00
</td>
<td align="right">
  102.42
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Mon: 2013-02-04 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2013-02-01 15:30:00
</td>
<td align="right">
   58.52
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2013-02-04 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2013-02-01 18:00:00
</td>
<td align="right">
   58.60
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2013-02-04 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 15:40:00
</td>
<td align="right">
  102.74
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2013-02-04 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 17:30:00
</td>
<td align="right">
  102.57
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2013-02-04 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 17:45:00
</td>
<td align="right">
  102.51
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2013-02-04 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 17:55:00
</td>
<td align="right">
  102.54
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2013-02-04 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 18:10:00
</td>
<td align="right">
  102.44
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2013-02-04 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 18:15:00
</td>
<td align="right">
  102.43
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2013-02-04 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 18:20:00
</td>
<td align="right">
  102.49
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2013-02-04 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 18:25:00
</td>
<td align="right">
  102.50
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2013-02-04 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 18:30:00
</td>
<td align="right">
  102.51
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Mon: 2013-02-04 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 18:35:00
</td>
<td align="right">
  102.48
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2013-02-04 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 18:40:00
</td>
<td align="right">
  102.51
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2013-02-04 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 18:45:00
</td>
<td align="right">
  102.46
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2013-02-04 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 18:50:00
</td>
<td align="right">
  102.50
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Mon: 2013-02-04 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 18:55:00
</td>
<td align="right">
  102.40
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2013-02-04 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 19:05:00
</td>
<td align="right">
  102.37
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2013-02-04 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 19:15:00
</td>
<td align="right">
  102.41
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Mon: 2013-02-04 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 19:20:00
</td>
<td align="right">
  102.49
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.37
</td>
<td>
Mon: 2013-02-04 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 19:45:00
</td>
<td align="right">
  102.23
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2013-02-04 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 19:50:00
</td>
<td align="right">
  102.25
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2013-02-04 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2013-02-01 20:05:00
</td>
<td align="right">
  102.18
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2013-02-01 17:35:00
</td>
<td align="right">
   78.15
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .84
</td>
<td>
Mon: 2013-02-04 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2013-02-01 17:50:00
</td>
<td align="right">
   78.47
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .54
</td>
<td>
Mon: 2013-02-04 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2013-02-01 18:25:00
</td>
<td align="right">
   78.87
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2013-02-04 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2013-02-01 18:40:00
</td>
<td align="right">
   78.95
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.38
</td>
<td>
Mon: 2013-02-04 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2013-02-01 18:50:00
</td>
<td align="right">
   79.01
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.42
</td>
<td>
Mon: 2013-02-04 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2013-02-01 19:45:00
</td>
<td align="right">
   78.49
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
Mon: 2013-02-04 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2013-02-01 19:55:00
</td>
<td align="right">
   78.50
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Mon: 2013-02-04 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2013-02-01 20:10:00
</td>
<td align="right">
   78.74
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2013-02-01 20:35:00
</td>
<td align="right">
   78.76
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2013-02-04 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2013-02-01 15:30:00
</td>
<td align="right">
   89.81
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2013-02-04 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2013-02-01 18:15:00
</td>
<td align="right">
   90.04
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2013-02-04 18:15
</td>
</tr>
</table>
<br />