<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2012-12-21 15:55:00
</td>
<td align="right">
  127.96
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Mon: 2012-12-24 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2012-12-21 17:15:00
</td>
<td align="right">
  128.09
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Mon: 2012-12-24 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2012-12-21 15:50:00
</td>
<td align="right">
   39.16
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2012-12-24 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2012-12-21 16:15:00
</td>
<td align="right">
   39.04
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2012-12-24 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2012-12-21 16:25:00
</td>
<td align="right">
   39.12
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-12-24 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 15:05:00
</td>
<td align="right">
   86.96
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2012-12-24 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 15:25:00
</td>
<td align="right">
   87.33
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.39
</td>
<td>
Mon: 2012-12-24 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 15:30:00
</td>
<td align="right">
   87.34
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.58
</td>
<td>
Mon: 2012-12-24 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 15:35:00
</td>
<td align="right">
   87.22
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.57
</td>
<td>
Mon: 2012-12-24 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 15:45:00
</td>
<td align="right">
   87.01
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.39
</td>
<td>
Mon: 2012-12-24 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 15:50:00
</td>
<td align="right">
   86.92
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2012-12-24 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 15:55:00
</td>
<td align="right">
   86.86
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2012-12-24 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 16:00:00
</td>
<td align="right">
   86.91
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Mon: 2012-12-24 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 16:15:00
</td>
<td align="right">
   86.66
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2012-12-24 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 16:20:00
</td>
<td align="right">
   86.79
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2012-12-24 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 16:50:00
</td>
<td align="right">
   86.69
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-12-24 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 16:55:00
</td>
<td align="right">
   86.73
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2012-12-24 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 17:00:00
</td>
<td align="right">
   86.61
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2012-12-24 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 17:05:00
</td>
<td align="right">
   86.59
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2012-12-24 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 17:10:00
</td>
<td align="right">
   86.50
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2012-12-24 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 17:35:00
</td>
<td align="right">
   86.52
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2012-12-24 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 17:45:00
</td>
<td align="right">
   86.54
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Mon: 2012-12-24 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 17:55:00
</td>
<td align="right">
   86.58
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .45
</td>
<td>
Mon: 2012-12-24 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 18:30:00
</td>
<td align="right">
   86.54
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .49
</td>
<td>
Mon: 2012-12-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 19:20:00
</td>
<td align="right">
   86.98
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2012-12-24 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 19:40:00
</td>
<td align="right">
   86.97
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Mon: 2012-12-24 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-12-21 20:10:00
</td>
<td align="right">
   86.97
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-12-24 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-12-21 15:20:00
</td>
<td align="right">
  257.47
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.92
</td>
<td>
Mon: 2012-12-24 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-12-21 15:30:00
</td>
<td align="right">
  257.22
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.82
</td>
<td>
Mon: 2012-12-24 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-12-21 16:10:00
</td>
<td align="right">
  256.71
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2012-12-24 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-12-21 16:30:00
</td>
<td align="right">
  256.40
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Mon: 2012-12-24 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-12-21 17:40:00
</td>
<td align="right">
  256.45
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .40
</td>
<td>
Mon: 2012-12-24 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-12-21 19:05:00
</td>
<td align="right">
  256.69
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2012-12-24 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2012-12-21 16:00:00
</td>
<td align="right">
   39.12
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-12-24 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2012-12-21 17:00:00
</td>
<td align="right">
   39.01
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2012-12-24 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2012-12-21 19:20:00
</td>
<td align="right">
   61.63
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2012-12-24 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2012-12-21 20:45:00
</td>
<td align="right">
   61.62
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-12-24 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-12-21 15:00:00
</td>
<td align="right">
   45.64
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2012-12-24 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-12-21 15:05:00
</td>
<td align="right">
   45.59
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2012-12-24 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-12-21 15:10:00
</td>
<td align="right">
   45.78
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2012-12-24 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-12-21 15:15:00
</td>
<td align="right">
   45.87
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Mon: 2012-12-24 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-12-21 15:20:00
</td>
<td align="right">
   45.86
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2012-12-24 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-12-21 15:25:00
</td>
<td align="right">
   45.87
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2012-12-24 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-12-21 15:30:00
</td>
<td align="right">
   45.74
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-12-24 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-12-21 15:35:00
</td>
<td align="right">
   45.75
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2012-12-24 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-12-21 15:40:00
</td>
<td align="right">
   45.76
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2012-12-24 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-12-21 15:45:00
</td>
<td align="right">
   45.83
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-12-24 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-12-21 15:50:00
</td>
<td align="right">
   45.74
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-12-24 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-12-21 15:55:00
</td>
<td align="right">
   45.71
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-12-24 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-12-21 16:00:00
</td>
<td align="right">
   45.70
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2012-12-24 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-12-21 16:05:00
</td>
<td align="right">
   45.55
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2012-12-24 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-12-21 16:10:00
</td>
<td align="right">
   45.59
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2012-12-24 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-12-21 16:15:00
</td>
<td align="right">
   45.55
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2012-12-24 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-12-21 20:45:00
</td>
<td align="right">
   45.67
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-12-24 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-12-21 20:50:00
</td>
<td align="right">
   45.66
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-12-24 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-12-21 20:55:00
</td>
<td align="right">
   45.64
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-12-24 20:55
</td>
</tr>
</table>
<br />