<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADM">ADM</a></td>
<td>
2012-01-18 20:25:00
</td>
<td align="right">
   29.21
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-01-19 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-18 17:05:00
</td>
<td align="right">
  125.21
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Thu: 2012-01-19 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-18 17:55:00
</td>
<td align="right">
  125.49
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Thu: 2012-01-19 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-18 19:10:00
</td>
<td align="right">
  125.46
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Thu: 2012-01-19 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-18 19:15:00
</td>
<td align="right">
  125.45
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Thu: 2012-01-19 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-18 19:25:00
</td>
<td align="right">
  125.52
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2012-01-19 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 15:30:00
</td>
<td align="right">
  108.72
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Thu: 2012-01-19 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 15:35:00
</td>
<td align="right">
  108.63
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Thu: 2012-01-19 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 16:30:00
</td>
<td align="right">
  108.31
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .76
</td>
<td>
Thu: 2012-01-19 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 16:40:00
</td>
<td align="right">
  108.40
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .64
</td>
<td>
Thu: 2012-01-19 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 17:05:00
</td>
<td align="right">
  108.62
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Thu: 2012-01-19 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 17:10:00
</td>
<td align="right">
  108.67
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .33
</td>
<td>
Thu: 2012-01-19 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 17:15:00
</td>
<td align="right">
  108.83
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Thu: 2012-01-19 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 17:20:00
</td>
<td align="right">
  109.00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2012-01-19 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 17:25:00
</td>
<td align="right">
  109.08
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Thu: 2012-01-19 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 17:30:00
</td>
<td align="right">
  109.07
</td>
<td align="right">
 -.92
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2012-01-19 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 17:35:00
</td>
<td align="right">
  109.00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2012-01-19 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 17:40:00
</td>
<td align="right">
  109.04
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Thu: 2012-01-19 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 17:45:00
</td>
<td align="right">
  108.77
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2012-01-19 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 17:50:00
</td>
<td align="right">
  108.70
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2012-01-19 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 17:55:00
</td>
<td align="right">
  108.67
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2012-01-19 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 18:00:00
</td>
<td align="right">
  108.73
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Thu: 2012-01-19 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 18:05:00
</td>
<td align="right">
  108.80
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    -.40
</td>
<td>
Thu: 2012-01-19 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 18:10:00
</td>
<td align="right">
  109.00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
   -1.06
</td>
<td>
Thu: 2012-01-19 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 18:15:00
</td>
<td align="right">
  108.99
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
   -1.27
</td>
<td>
Thu: 2012-01-19 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 18:20:00
</td>
<td align="right">
  108.88
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    -.99
</td>
<td>
Thu: 2012-01-19 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 18:25:00
</td>
<td align="right">
  108.76
</td>
<td align="right">
 -.92
</td>
<td>
Sell
</td>
<td align="right">
    -.91
</td>
<td>
Thu: 2012-01-19 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 18:30:00
</td>
<td align="right">
  108.95
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
    -.96
</td>
<td>
Thu: 2012-01-19 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 18:35:00
</td>
<td align="right">
  109.00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    -.94
</td>
<td>
Thu: 2012-01-19 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 18:40:00
</td>
<td align="right">
  108.86
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
    -.61
</td>
<td>
Thu: 2012-01-19 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 18:45:00
</td>
<td align="right">
  108.85
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
    -.81
</td>
<td>
Thu: 2012-01-19 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 18:50:00
</td>
<td align="right">
  108.68
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    -.63
</td>
<td>
Thu: 2012-01-19 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-18 18:55:00
</td>
<td align="right">
  108.74
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
    -.61
</td>
<td>
Thu: 2012-01-19 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-01-18 15:10:00
</td>
<td align="right">
   53.91
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Thu: 2012-01-19 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-01-18 16:45:00
</td>
<td align="right">
   53.53
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2012-01-19 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-01-18 19:15:00
</td>
<td align="right">
   59.89
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2012-01-19 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=X">X</a></td>
<td>
2012-01-18 19:10:00
</td>
<td align="right">
   28.27
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2012-01-19 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=X">X</a></td>
<td>
2012-01-18 19:45:00
</td>
<td align="right">
   28.25
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2012-01-19 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-01-18 18:35:00
</td>
<td align="right">
   55.20
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2012-01-19 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-01-18 18:00:00
</td>
<td align="right">
   75.05
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2012-01-19 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-01-18 18:05:00
</td>
<td align="right">
   75.00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2012-01-19 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-01-18 18:10:00
</td>
<td align="right">
   75.04
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2012-01-19 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-01-18 18:15:00
</td>
<td align="right">
   75.05
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2012-01-19 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-01-18 18:25:00
</td>
<td align="right">
   75.10
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2012-01-19 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-01-18 18:35:00
</td>
<td align="right">
   75.10
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Thu: 2012-01-19 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-01-18 18:40:00
</td>
<td align="right">
   75.07
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2012-01-19 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-01-18 18:45:00
</td>
<td align="right">
   75.11
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Thu: 2012-01-19 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-01-18 18:50:00
</td>
<td align="right">
   74.97
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2012-01-19 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-01-18 18:55:00
</td>
<td align="right">
   74.89
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2012-01-19 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-01-18 19:00:00
</td>
<td align="right">
   75.01
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2012-01-19 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-01-18 19:05:00
</td>
<td align="right">
   75.09
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2012-01-19 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-01-18 19:10:00
</td>
<td align="right">
   75.02
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2012-01-19 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-01-18 19:15:00
</td>
<td align="right">
   75.02
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2012-01-19 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2012-01-18 15:00:00
</td>
<td align="right">
   35.70
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Thu: 2012-01-19 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2012-01-18 15:05:00
</td>
<td align="right">
   35.64
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Thu: 2012-01-19 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-18 16:50:00
</td>
<td align="right">
   63.60
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .37
</td>
<td>
Thu: 2012-01-19 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-18 16:55:00
</td>
<td align="right">
   63.54
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .55
</td>
<td>
Thu: 2012-01-19 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-18 18:20:00
</td>
<td align="right">
   63.98
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Thu: 2012-01-19 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-18 18:25:00
</td>
<td align="right">
   63.98
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Thu: 2012-01-19 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-18 18:30:00
</td>
<td align="right">
   64.07
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Thu: 2012-01-19 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-18 18:45:00
</td>
<td align="right">
   63.96
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2012-01-19 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-18 19:05:00
</td>
<td align="right">
   63.91
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Thu: 2012-01-19 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-18 19:25:00
</td>
<td align="right">
   63.81
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .45
</td>
<td>
Thu: 2012-01-19 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-18 20:00:00
</td>
<td align="right">
   63.98
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-01-19 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-18 20:05:00
</td>
<td align="right">
   64.04
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-01-19 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-18 20:10:00
</td>
<td align="right">
   64.27
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-01-19 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-01-18 15:05:00
</td>
<td align="right">
   58.36
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2012-01-19 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-01-18 16:15:00
</td>
<td align="right">
   58.32
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2012-01-19 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-01-18 16:40:00
</td>
<td align="right">
   58.36
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2012-01-19 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-01-18 18:10:00
</td>
<td align="right">
   58.29
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2012-01-19 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-01-18 18:15:00
</td>
<td align="right">
   58.30
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2012-01-19 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-01-18 18:30:00
</td>
<td align="right">
   46.83
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2012-01-19 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-01-18 18:20:00
</td>
<td align="right">
   53.79
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2012-01-19 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-01-18 18:30:00
</td>
<td align="right">
   53.87
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Thu: 2012-01-19 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-01-18 19:20:00
</td>
<td align="right">
   74.82
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2012-01-19 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-01-18 19:40:00
</td>
<td align="right">
   74.86
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2012-01-19 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-01-18 15:30:00
</td>
<td align="right">
   83.86
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .64
</td>
<td>
Thu: 2012-01-19 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-01-18 15:00:00
</td>
<td align="right">
   59.98
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2012-01-19 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-01-18 17:30:00
</td>
<td align="right">
   59.83
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2012-01-19 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-01-18 18:25:00
</td>
<td align="right">
   59.83
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2012-01-19 18:25
</td>
</tr>
</table>
<br />