<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-03-16 14:05:00
</td>
<td align="right">
  406.77
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.75
</td>
<td>
Mon: 2012-03-19 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 13:30:00
</td>
<td align="right">
  153.27
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.93
</td>
<td>
Mon: 2012-03-19 13:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 13:35:00
</td>
<td align="right">
  152.37
</td>
<td align="right">
 -.92
</td>
<td>
Sell
</td>
<td align="right">
     .52
</td>
<td>
Mon: 2012-03-19 13:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 13:40:00
</td>
<td align="right">
  152.33
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .59
</td>
<td>
Mon: 2012-03-19 13:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 13:45:00
</td>
<td align="right">
  151.94
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Mon: 2012-03-19 13:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 13:50:00
</td>
<td align="right">
  151.64
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
     .81
</td>
<td>
Mon: 2012-03-19 13:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 13:55:00
</td>
<td align="right">
  152.25
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2012-03-19 13:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 14:00:00
</td>
<td align="right">
  152.68
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
    -.75
</td>
<td>
Mon: 2012-03-19 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 14:05:00
</td>
<td align="right">
  152.34
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.56
</td>
<td>
Mon: 2012-03-19 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 14:10:00
</td>
<td align="right">
  152.10
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.50
</td>
<td>
Mon: 2012-03-19 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 14:15:00
</td>
<td align="right">
  151.40
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2012-03-19 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 14:20:00
</td>
<td align="right">
  151.49
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.49
</td>
<td>
Mon: 2012-03-19 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 14:25:00
</td>
<td align="right">
  151.66
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.83
</td>
<td>
Mon: 2012-03-19 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 14:30:00
</td>
<td align="right">
  152.34
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   -1.78
</td>
<td>
Mon: 2012-03-19 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 14:40:00
</td>
<td align="right">
  152.92
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   -2.01
</td>
<td>
Mon: 2012-03-19 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 14:45:00
</td>
<td align="right">
  152.41
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   -1.69
</td>
<td>
Mon: 2012-03-19 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 14:50:00
</td>
<td align="right">
  152.45
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   -1.18
</td>
<td>
Mon: 2012-03-19 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 14:55:00
</td>
<td align="right">
  152.34
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   -1.35
</td>
<td>
Mon: 2012-03-19 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 15:00:00
</td>
<td align="right">
  151.93
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.97
</td>
<td>
Mon: 2012-03-19 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 15:05:00
</td>
<td align="right">
  151.78
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.55
</td>
<td>
Mon: 2012-03-19 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 15:10:00
</td>
<td align="right">
  151.60
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.55
</td>
<td>
Mon: 2012-03-19 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 15:50:00
</td>
<td align="right">
  151.27
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 15:55:00
</td>
<td align="right">
  150.99
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 16:15:00
</td>
<td align="right">
  151.25
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2012-03-16 13:40:00
</td>
<td align="right">
   42.90
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .63
</td>
<td>
Mon: 2012-03-19 13:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2012-03-16 13:55:00
</td>
<td align="right">
   42.86
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .64
</td>
<td>
Mon: 2012-03-19 13:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2012-03-16 14:05:00
</td>
<td align="right">
   42.82
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .66
</td>
<td>
Mon: 2012-03-19 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2012-03-16 14:10:00
</td>
<td align="right">
   42.98
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .36
</td>
<td>
Mon: 2012-03-19 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2012-03-16 14:15:00
</td>
<td align="right">
   42.97
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .38
</td>
<td>
Mon: 2012-03-19 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2012-03-16 14:20:00
</td>
<td align="right">
   43.17
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2012-03-19 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2012-03-16 14:25:00
</td>
<td align="right">
   43.22
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2012-03-19 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2012-03-16 14:30:00
</td>
<td align="right">
   43.37
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-03-19 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2012-03-16 14:35:00
</td>
<td align="right">
   43.45
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2012-03-19 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2012-03-16 14:45:00
</td>
<td align="right">
   43.54
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2012-03-19 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2012-03-16 14:50:00
</td>
<td align="right">
   43.52
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2012-03-19 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2012-03-16 14:55:00
</td>
<td align="right">
   43.50
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2012-03-19 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2012-03-16 15:00:00
</td>
<td align="right">
   43.49
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-03-19 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2012-03-16 15:05:00
</td>
<td align="right">
   43.48
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-03-19 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2012-03-16 15:10:00
</td>
<td align="right">
   43.34
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2012-03-19 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2012-03-16 15:25:00
</td>
<td align="right">
   43.28
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2012-03-19 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2012-03-16 15:40:00
</td>
<td align="right">
   43.29
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2012-03-19 15:40
</td>
</tr>
</table>
<br />