<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABX">ABX</a></td>
<td>
2012-03-20 19:40:00
</td>
<td align="right">
   43.82
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-03-20 17:05:00
</td>
<td align="right">
   47.58
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2012-03-21 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-03-20 19:00:00
</td>
<td align="right">
   47.66
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-03-20 15:45:00
</td>
<td align="right">
  185.09
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    3.92
</td>
<td>
Wed: 2012-03-21 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-03-20 18:00:00
</td>
<td align="right">
   57.13
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2012-03-21 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-03-20 18:20:00
</td>
<td align="right">
   57.23
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Wed: 2012-03-21 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2012-03-20 14:45:00
</td>
<td align="right">
  124.48
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.56
</td>
<td>
Wed: 2012-03-21 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2012-03-20 14:50:00
</td>
<td align="right">
  124.44
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.59
</td>
<td>
Wed: 2012-03-21 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-03-20 14:10:00
</td>
<td align="right">
   27.43
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2012-03-21 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-03-20 17:10:00
</td>
<td align="right">
   28.05
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.64
</td>
<td>
Wed: 2012-03-21 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-03-20 17:25:00
</td>
<td align="right">
   27.98
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.46
</td>
<td>
Wed: 2012-03-21 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 14:40:00
</td>
<td align="right">
   49.01
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2012-03-21 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 14:45:00
</td>
<td align="right">
   49.10
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2012-03-21 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 15:10:00
</td>
<td align="right">
   49.16
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2012-03-21 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 15:15:00
</td>
<td align="right">
   49.14
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2012-03-21 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 15:20:00
</td>
<td align="right">
   49.19
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2012-03-21 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 15:35:00
</td>
<td align="right">
   48.98
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Wed: 2012-03-21 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 15:45:00
</td>
<td align="right">
   49.06
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Wed: 2012-03-21 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 15:50:00
</td>
<td align="right">
   49.10
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Wed: 2012-03-21 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 16:15:00
</td>
<td align="right">
   49.18
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .50
</td>
<td>
Wed: 2012-03-21 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 16:20:00
</td>
<td align="right">
   49.20
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Wed: 2012-03-21 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 16:25:00
</td>
<td align="right">
   49.22
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .38
</td>
<td>
Wed: 2012-03-21 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 16:30:00
</td>
<td align="right">
   49.25
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .42
</td>
<td>
Wed: 2012-03-21 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 16:35:00
</td>
<td align="right">
   49.27
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Wed: 2012-03-21 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 16:40:00
</td>
<td align="right">
   49.39
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Wed: 2012-03-21 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 16:45:00
</td>
<td align="right">
   49.32
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Wed: 2012-03-21 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 16:50:00
</td>
<td align="right">
   49.35
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .55
</td>
<td>
Wed: 2012-03-21 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 16:55:00
</td>
<td align="right">
   49.50
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .46
</td>
<td>
Wed: 2012-03-21 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 17:00:00
</td>
<td align="right">
   49.55
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Wed: 2012-03-21 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 17:05:00
</td>
<td align="right">
   49.59
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Wed: 2012-03-21 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 17:10:00
</td>
<td align="right">
   49.62
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2012-03-21 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 17:20:00
</td>
<td align="right">
   49.46
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .39
</td>
<td>
Wed: 2012-03-21 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 17:25:00
</td>
<td align="right">
   49.60
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2012-03-21 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 18:05:00
</td>
<td align="right">
   49.80
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2012-03-21 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 18:10:00
</td>
<td align="right">
   49.82
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2012-03-21 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 18:15:00
</td>
<td align="right">
   49.81
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Wed: 2012-03-21 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 18:20:00
</td>
<td align="right">
   49.85
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2012-03-21 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 18:25:00
</td>
<td align="right">
   49.80
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2012-03-21 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 18:30:00
</td>
<td align="right">
   49.71
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2012-03-21 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 18:35:00
</td>
<td align="right">
   49.65
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Wed: 2012-03-21 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-03-20 18:40:00
</td>
<td align="right">
   49.66
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Wed: 2012-03-21 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=KO">KO</a></td>
<td>
2012-03-20 15:50:00
</td>
<td align="right">
   70.57
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-03-21 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-03-20 15:45:00
</td>
<td align="right">
   79.31
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Wed: 2012-03-21 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2012-03-20 17:55:00
</td>
<td align="right">
   37.84
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2012-03-21 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2012-03-20 19:05:00
</td>
<td align="right">
   37.80
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2012-03-20 19:40:00
</td>
<td align="right">
   37.77
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NEM">NEM</a></td>
<td>
2012-03-20 16:50:00
</td>
<td align="right">
   53.44
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .48
</td>
<td>
Wed: 2012-03-21 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 16:50:00
</td>
<td align="right">
   70.68
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.38
</td>
<td>
Wed: 2012-03-21 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 17:05:00
</td>
<td align="right">
   70.40
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Wed: 2012-03-21 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 17:10:00
</td>
<td align="right">
   70.42
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2012-03-21 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 17:15:00
</td>
<td align="right">
   70.45
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2012-03-21 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 17:20:00
</td>
<td align="right">
   70.30
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .27
</td>
<td>
Wed: 2012-03-21 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 17:25:00
</td>
<td align="right">
   70.25
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .66
</td>
<td>
Wed: 2012-03-21 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 17:35:00
</td>
<td align="right">
   70.36
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .68
</td>
<td>
Wed: 2012-03-21 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 17:50:00
</td>
<td align="right">
   70.30
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .56
</td>
<td>
Wed: 2012-03-21 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 18:15:00
</td>
<td align="right">
   70.65
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    1.02
</td>
<td>
Wed: 2012-03-21 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 18:20:00
</td>
<td align="right">
   70.57
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    1.19
</td>
<td>
Wed: 2012-03-21 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 18:30:00
</td>
<td align="right">
   70.87
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .94
</td>
<td>
Wed: 2012-03-21 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 18:35:00
</td>
<td align="right">
   71.04
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .82
</td>
<td>
Wed: 2012-03-21 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 18:40:00
</td>
<td align="right">
   71.03
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .63
</td>
<td>
Wed: 2012-03-21 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 18:45:00
</td>
<td align="right">
   70.96
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
     .61
</td>
<td>
Wed: 2012-03-21 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 18:50:00
</td>
<td align="right">
   70.86
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .66
</td>
<td>
Wed: 2012-03-21 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 19:00:00
</td>
<td align="right">
   71.45
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 19:05:00
</td>
<td align="right">
   71.71
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 19:10:00
</td>
<td align="right">
   71.48
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 19:15:00
</td>
<td align="right">
   71.67
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 19:20:00
</td>
<td align="right">
   71.76
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 19:25:00
</td>
<td align="right">
   71.74
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 19:30:00
</td>
<td align="right">
   71.81
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 19:35:00
</td>
<td align="right">
   71.86
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 19:40:00
</td>
<td align="right">
   71.66
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-03-20 14:00:00
</td>
<td align="right">
   75.67
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2012-03-21 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-03-20 14:25:00
</td>
<td align="right">
   75.68
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Wed: 2012-03-21 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-03-20 14:35:00
</td>
<td align="right">
   75.70
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.33
</td>
<td>
Wed: 2012-03-21 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-03-20 15:15:00
</td>
<td align="right">
   75.35
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Wed: 2012-03-21 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-03-20 16:30:00
</td>
<td align="right">
   75.60
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2012-03-21 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-03-20 16:40:00
</td>
<td align="right">
   75.54
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Wed: 2012-03-21 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-03-20 17:10:00
</td>
<td align="right">
   75.64
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2012-03-21 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-03-20 18:20:00
</td>
<td align="right">
   75.67
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-03-21 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-03-20 18:25:00
</td>
<td align="right">
   75.64
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2012-03-21 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-03-20 18:55:00
</td>
<td align="right">
   75.72
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Wed: 2012-03-21 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-03-20 19:05:00
</td>
<td align="right">
   75.70
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-03-20 19:20:00
</td>
<td align="right">
   75.64
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-03-20 19:25:00
</td>
<td align="right">
   75.63
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-03-20 19:40:00
</td>
<td align="right">
   75.62
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-03-20 19:45:00
</td>
<td align="right">
   75.63
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-03-20 19:50:00
</td>
<td align="right">
   75.63
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2012-03-20 15:15:00
</td>
<td align="right">
  110.27
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2012-03-21 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-03-20 15:10:00
</td>
<td align="right">
  127.32
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2012-03-21 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-03-20 18:30:00
</td>
<td align="right">
   47.61
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2012-03-21 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-03-20 19:15:00
</td>
<td align="right">
   47.60
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-03-20 19:20:00
</td>
<td align="right">
   47.59
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-03-20 19:25:00
</td>
<td align="right">
   47.55
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-03-20 19:30:00
</td>
<td align="right">
   47.57
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-03-20 19:35:00
</td>
<td align="right">
   47.52
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-03-20 18:20:00
</td>
<td align="right">
   82.07
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-03-21 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-03-20 18:30:00
</td>
<td align="right">
   82.01
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Wed: 2012-03-21 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-03-20 18:35:00
</td>
<td align="right">
   82.01
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2012-03-21 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-03-20 18:40:00
</td>
<td align="right">
   81.91
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Wed: 2012-03-21 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-03-20 18:45:00
</td>
<td align="right">
   81.85
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Wed: 2012-03-21 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-03-20 19:00:00
</td>
<td align="right">
   81.88
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-03-20 19:05:00
</td>
<td align="right">
   81.95
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-03-20 19:10:00
</td>
<td align="right">
   82.08
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-03-20 19:15:00
</td>
<td align="right">
   82.21
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-03-20 19:30:00
</td>
<td align="right">
   82.24
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-03-20 19:55:00
</td>
<td align="right">
   82.05
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-03-20 14:40:00
</td>
<td align="right">
   37.58
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2012-03-21 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-03-20 15:05:00
</td>
<td align="right">
  410.76
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.55
</td>
<td>
Wed: 2012-03-21 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-03-20 15:35:00
</td>
<td align="right">
  410.12
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .43
</td>
<td>
Wed: 2012-03-21 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-03-20 15:40:00
</td>
<td align="right">
  409.73
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    1.17
</td>
<td>
Wed: 2012-03-21 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-03-20 15:50:00
</td>
<td align="right">
  409.73
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    1.02
</td>
<td>
Wed: 2012-03-21 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-03-20 16:05:00
</td>
<td align="right">
  410.21
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    1.29
</td>
<td>
Wed: 2012-03-21 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-03-20 16:10:00
</td>
<td align="right">
  410.25
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    1.65
</td>
<td>
Wed: 2012-03-21 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-03-20 16:20:00
</td>
<td align="right">
  409.92
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    1.39
</td>
<td>
Wed: 2012-03-21 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-03-20 16:25:00
</td>
<td align="right">
  410.03
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    1.12
</td>
<td>
Wed: 2012-03-21 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-03-20 19:05:00
</td>
<td align="right">
  413.72
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-03-20 14:45:00
</td>
<td align="right">
   82.50
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Wed: 2012-03-21 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-03-20 19:30:00
</td>
<td align="right">
   82.40
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-03-20 15:05:00
</td>
<td align="right">
   27.44
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Wed: 2012-03-21 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-03-20 15:30:00
</td>
<td align="right">
   27.50
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Wed: 2012-03-21 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-03-20 17:50:00
</td>
<td align="right">
   27.44
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Wed: 2012-03-21 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GILD">GILD</a></td>
<td>
2012-03-20 14:40:00
</td>
<td align="right">
   46.73
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2012-03-21 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GILD">GILD</a></td>
<td>
2012-03-20 14:45:00
</td>
<td align="right">
   46.74
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-03-21 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GILD">GILD</a></td>
<td>
2012-03-20 14:55:00
</td>
<td align="right">
   46.87
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Wed: 2012-03-21 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GILD">GILD</a></td>
<td>
2012-03-20 15:45:00
</td>
<td align="right">
   46.71
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Wed: 2012-03-21 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GILD">GILD</a></td>
<td>
2012-03-20 15:50:00
</td>
<td align="right">
   46.74
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2012-03-21 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-20 14:10:00
</td>
<td align="right">
   57.93
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.47
</td>
<td>
Wed: 2012-03-21 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-20 15:10:00
</td>
<td align="right">
   57.46
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Wed: 2012-03-21 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-20 15:15:00
</td>
<td align="right">
   57.34
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Wed: 2012-03-21 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-20 15:40:00
</td>
<td align="right">
   57.43
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.73
</td>
<td>
Wed: 2012-03-21 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-20 15:50:00
</td>
<td align="right">
   57.26
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.38
</td>
<td>
Wed: 2012-03-21 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-20 16:10:00
</td>
<td align="right">
   57.20
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Wed: 2012-03-21 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-20 16:20:00
</td>
<td align="right">
   57.04
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2012-03-21 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-20 16:25:00
</td>
<td align="right">
   56.94
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2012-03-21 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-20 16:30:00
</td>
<td align="right">
   56.97
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2012-03-21 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-20 16:35:00
</td>
<td align="right">
   56.91
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2012-03-21 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-20 16:50:00
</td>
<td align="right">
   56.88
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2012-03-21 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-20 16:55:00
</td>
<td align="right">
   56.98
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Wed: 2012-03-21 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-20 17:00:00
</td>
<td align="right">
   57.04
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Wed: 2012-03-21 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-20 17:10:00
</td>
<td align="right">
   57.06
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Wed: 2012-03-21 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-20 17:20:00
</td>
<td align="right">
   57.08
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2012-03-21 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-20 17:35:00
</td>
<td align="right">
   56.94
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Wed: 2012-03-21 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-20 17:40:00
</td>
<td align="right">
   56.92
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Wed: 2012-03-21 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-20 18:05:00
</td>
<td align="right">
   57.04
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .60
</td>
<td>
Wed: 2012-03-21 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-20 18:45:00
</td>
<td align="right">
   57.30
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .64
</td>
<td>
Wed: 2012-03-21 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-03-20 14:25:00
</td>
<td align="right">
   62.42
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2012-03-21 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-03-20 16:30:00
</td>
<td align="right">
   62.36
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2012-03-21 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-03-20 16:35:00
</td>
<td align="right">
   62.37
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-03-21 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-03-20 17:15:00
</td>
<td align="right">
   62.38
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2012-03-21 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-03-20 17:50:00
</td>
<td align="right">
   62.40
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-03-21 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-03-20 17:55:00
</td>
<td align="right">
   62.39
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2012-03-21 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-03-20 18:00:00
</td>
<td align="right">
   62.41
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2012-03-21 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-03-20 18:05:00
</td>
<td align="right">
   62.38
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2012-03-21 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-03-20 18:15:00
</td>
<td align="right">
   62.42
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-03-21 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-03-20 19:15:00
</td>
<td align="right">
   62.39
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-03-20 19:20:00
</td>
<td align="right">
   62.41
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-03-20 19:25:00
</td>
<td align="right">
   62.40
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-03-20 19:30:00
</td>
<td align="right">
   62.41
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-03-20 19:45:00
</td>
<td align="right">
   62.31
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-03-20 19:50:00
</td>
<td align="right">
   62.34
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-03-20 19:55:00
</td>
<td align="right">
   62.41
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-03-20 16:15:00
</td>
<td align="right">
   76.19
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Wed: 2012-03-21 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-03-20 16:25:00
</td>
<td align="right">
   76.13
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2012-03-21 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-03-20 17:05:00
</td>
<td align="right">
   76.13
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Wed: 2012-03-21 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-03-20 19:10:00
</td>
<td align="right">
   75.93
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-03-20 19:40:00
</td>
<td align="right">
   75.98
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-03-20 14:50:00
</td>
<td align="right">
   54.30
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-03-21 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-03-20 15:25:00
</td>
<td align="right">
   54.38
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2012-03-21 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-03-20 15:35:00
</td>
<td align="right">
   54.34
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2012-03-21 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-03-20 16:30:00
</td>
<td align="right">
   54.36
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2012-03-21 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-03-20 16:40:00
</td>
<td align="right">
   54.46
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Wed: 2012-03-21 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-03-20 16:55:00
</td>
<td align="right">
   54.47
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2012-03-21 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-03-20 17:10:00
</td>
<td align="right">
   54.59
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2012-03-21 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-03-20 17:20:00
</td>
<td align="right">
   54.55
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Wed: 2012-03-21 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-03-20 17:30:00
</td>
<td align="right">
   54.56
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Wed: 2012-03-21 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-03-20 14:45:00
</td>
<td align="right">
   80.19
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Wed: 2012-03-21 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-03-20 14:55:00
</td>
<td align="right">
   80.09
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Wed: 2012-03-21 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-03-20 15:40:00
</td>
<td align="right">
   80.10
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Wed: 2012-03-21 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-03-20 19:20:00
</td>
<td align="right">
   80.17
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-03-20 14:15:00
</td>
<td align="right">
   58.28
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2012-03-21 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-03-20 15:00:00
</td>
<td align="right">
   58.47
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Wed: 2012-03-21 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-03-20 16:20:00
</td>
<td align="right">
   58.23
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Wed: 2012-03-21 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-03-20 16:45:00
</td>
<td align="right">
   58.14
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2012-03-21 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-03-20 17:00:00
</td>
<td align="right">
   58.23
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-03-21 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-03-20 17:10:00
</td>
<td align="right">
   58.25
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-03-21 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-03-20 17:15:00
</td>
<td align="right">
   58.22
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2012-03-21 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-03-20 17:45:00
</td>
<td align="right">
   58.22
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Wed: 2012-03-21 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-03-20 18:10:00
</td>
<td align="right">
   58.22
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2012-03-21 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-03-20 18:15:00
</td>
<td align="right">
   58.32
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2012-03-21 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-03-20 18:30:00
</td>
<td align="right">
   58.18
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2012-03-21 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-03-20 18:45:00
</td>
<td align="right">
   58.17
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Wed: 2012-03-21 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-03-20 19:30:00
</td>
<td align="right">
   58.26
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-03-20 19:40:00
</td>
<td align="right">
   58.14
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-03-20 19:45:00
</td>
<td align="right">
   58.01
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-03-20 19:55:00
</td>
<td align="right">
   58.05
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NEM">NEM</a></td>
<td>
2012-03-20 14:35:00
</td>
<td align="right">
   52.97
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Wed: 2012-03-21 14:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 14:20:00
</td>
<td align="right">
   68.95
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-03-21 14:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 14:25:00
</td>
<td align="right">
   69.04
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2012-03-21 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 14:30:00
</td>
<td align="right">
   69.04
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2012-03-21 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 14:40:00
</td>
<td align="right">
   69.00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Wed: 2012-03-21 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 15:05:00
</td>
<td align="right">
   69.04
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2012-03-21 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 15:10:00
</td>
<td align="right">
   69.03
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Wed: 2012-03-21 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 16:25:00
</td>
<td align="right">
   68.52
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2012-03-21 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 16:30:00
</td>
<td align="right">
   68.47
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2012-03-21 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 16:35:00
</td>
<td align="right">
   68.47
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Wed: 2012-03-21 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 16:45:00
</td>
<td align="right">
   68.53
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Wed: 2012-03-21 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 17:05:00
</td>
<td align="right">
   68.54
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Wed: 2012-03-21 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 17:10:00
</td>
<td align="right">
   68.54
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Wed: 2012-03-21 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 17:20:00
</td>
<td align="right">
   68.54
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Wed: 2012-03-21 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 17:25:00
</td>
<td align="right">
   68.53
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2012-03-21 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 17:30:00
</td>
<td align="right">
   68.53
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2012-03-21 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 17:45:00
</td>
<td align="right">
   68.42
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2012-03-21 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 17:50:00
</td>
<td align="right">
   68.26
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-03-21 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 18:00:00
</td>
<td align="right">
   68.25
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Wed: 2012-03-21 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 18:05:00
</td>
<td align="right">
   68.22
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Wed: 2012-03-21 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 18:10:00
</td>
<td align="right">
   68.31
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Wed: 2012-03-21 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 18:15:00
</td>
<td align="right">
   68.35
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Wed: 2012-03-21 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 18:25:00
</td>
<td align="right">
   68.49
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Wed: 2012-03-21 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 18:30:00
</td>
<td align="right">
   68.46
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Wed: 2012-03-21 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 18:35:00
</td>
<td align="right">
   68.46
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Wed: 2012-03-21 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 18:40:00
</td>
<td align="right">
   68.45
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Wed: 2012-03-21 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 18:45:00
</td>
<td align="right">
   68.45
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Wed: 2012-03-21 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 18:50:00
</td>
<td align="right">
   68.39
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Wed: 2012-03-21 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 19:00:00
</td>
<td align="right">
   68.50
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 19:05:00
</td>
<td align="right">
   68.58
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 19:10:00
</td>
<td align="right">
   68.58
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 19:15:00
</td>
<td align="right">
   68.50
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 19:25:00
</td>
<td align="right">
   68.22
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 19:30:00
</td>
<td align="right">
   68.23
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-03-20 19:55:00
</td>
<td align="right">
   68.37
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-03-20 18:05:00
</td>
<td align="right">
   86.27
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2012-03-21 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-03-20 19:15:00
</td>
<td align="right">
   86.24
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2012-03-20 14:25:00
</td>
<td align="right">
   63.94
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Wed: 2012-03-21 14:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2012-03-20 14:40:00
</td>
<td align="right">
   64.13
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Wed: 2012-03-21 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2012-03-20 15:50:00
</td>
<td align="right">
   64.34
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Wed: 2012-03-21 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QCOM">QCOM</a></td>
<td>
2012-03-20 14:50:00
</td>
<td align="right">
   66.65
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Wed: 2012-03-21 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-03-20 14:55:00
</td>
<td align="right">
   57.69
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.39
</td>
<td>
Wed: 2012-03-21 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-03-20 15:20:00
</td>
<td align="right">
   57.50
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Wed: 2012-03-21 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-03-20 15:55:00
</td>
<td align="right">
   57.30
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Wed: 2012-03-21 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-03-20 16:20:00
</td>
<td align="right">
   57.29
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2012-03-21 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-03-20 16:05:00
</td>
<td align="right">
   70.34
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2012-03-21 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SNDK">SNDK</a></td>
<td>
2012-03-20 17:10:00
</td>
<td align="right">
   49.77
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2012-03-21 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SNDK">SNDK</a></td>
<td>
2012-03-20 17:30:00
</td>
<td align="right">
   49.82
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2012-03-21 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SNDK">SNDK</a></td>
<td>
2012-03-20 18:05:00
</td>
<td align="right">
   49.83
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Wed: 2012-03-21 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-03-20 14:30:00
</td>
<td align="right">
  140.07
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Wed: 2012-03-21 14:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-03-20 14:45:00
</td>
<td align="right">
  140.18
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Wed: 2012-03-21 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-03-20 15:35:00
</td>
<td align="right">
  140.06
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Wed: 2012-03-21 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-03-20 15:45:00
</td>
<td align="right">
  140.05
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Wed: 2012-03-21 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-03-20 16:00:00
</td>
<td align="right">
  140.16
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2012-03-21 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-03-20 16:15:00
</td>
<td align="right">
  140.16
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Wed: 2012-03-21 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-03-20 16:20:00
</td>
<td align="right">
  140.16
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-03-21 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-03-20 16:30:00
</td>
<td align="right">
  140.16
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-03-21 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-03-20 16:40:00
</td>
<td align="right">
  140.16
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Wed: 2012-03-21 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-03-20 17:10:00
</td>
<td align="right">
  140.36
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2012-03-21 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-03-20 17:40:00
</td>
<td align="right">
  140.31
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-03-21 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-03-20 18:25:00
</td>
<td align="right">
  140.49
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2012-03-21 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-03-20 19:00:00
</td>
<td align="right">
  140.58
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2012-03-20 14:45:00
</td>
<td align="right">
   46.06
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Wed: 2012-03-21 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2012-03-20 16:40:00
</td>
<td align="right">
   45.89
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2012-03-21 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2012-03-20 19:35:00
</td>
<td align="right">
   45.94
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2012-03-20 19:40:00
</td>
<td align="right">
   45.90
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-03-20 14:15:00
</td>
<td align="right">
   96.75
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.35
</td>
<td>
Wed: 2012-03-21 14:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-03-20 15:20:00
</td>
<td align="right">
   96.48
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Wed: 2012-03-21 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-03-20 15:30:00
</td>
<td align="right">
   96.35
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Wed: 2012-03-21 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-03-20 15:55:00
</td>
<td align="right">
   96.33
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2012-03-21 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-03-20 16:05:00
</td>
<td align="right">
   96.42
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2012-03-21 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-03-20 16:25:00
</td>
<td align="right">
   96.23
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2012-03-21 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-03-20 16:45:00
</td>
<td align="right">
   96.09
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Wed: 2012-03-21 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-03-20 17:05:00
</td>
<td align="right">
   96.35
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Wed: 2012-03-21 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-03-20 19:25:00
</td>
<td align="right">
   96.67
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-03-20 19:30:00
</td>
<td align="right">
   96.72
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-03-20 14:40:00
</td>
<td align="right">
   77.04
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Wed: 2012-03-21 14:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-03-20 14:45:00
</td>
<td align="right">
   77.23
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Wed: 2012-03-21 14:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-03-20 14:50:00
</td>
<td align="right">
   77.41
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.41
</td>
<td>
Wed: 2012-03-21 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-03-20 14:55:00
</td>
<td align="right">
   77.21
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Wed: 2012-03-21 14:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-03-20 15:00:00
</td>
<td align="right">
   77.47
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.44
</td>
<td>
Wed: 2012-03-21 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-03-20 15:10:00
</td>
<td align="right">
   77.47
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.33
</td>
<td>
Wed: 2012-03-21 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-03-20 15:15:00
</td>
<td align="right">
   77.44
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.42
</td>
<td>
Wed: 2012-03-21 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-03-20 15:30:00
</td>
<td align="right">
   77.54
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.49
</td>
<td>
Wed: 2012-03-21 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-03-20 15:35:00
</td>
<td align="right">
   77.31
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Wed: 2012-03-21 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-03-20 15:40:00
</td>
<td align="right">
   77.21
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Wed: 2012-03-21 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-03-20 17:05:00
</td>
<td align="right">
   77.30
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-03-21 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-03-20 17:10:00
</td>
<td align="right">
   77.38
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2012-03-21 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-03-20 17:20:00
</td>
<td align="right">
   77.23
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .47
</td>
<td>
Wed: 2012-03-21 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-03-20 17:30:00
</td>
<td align="right">
   77.45
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2012-03-21 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-03-20 18:55:00
</td>
<td align="right">
   77.59
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Wed: 2012-03-21 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-03-20 19:35:00
</td>
<td align="right">
   77.55
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-03-20 19:45:00
</td>
<td align="right">
   77.42
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-03-20 19:50:00
</td>
<td align="right">
   77.41
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-03-20 14:00:00
</td>
<td align="right">
   60.68
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-03-21 14:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-03-20 14:05:00
</td>
<td align="right">
   60.68
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-03-21 14:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-03-20 14:10:00
</td>
<td align="right">
   60.71
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2012-03-21 14:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-03-20 14:50:00
</td>
<td align="right">
   60.76
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2012-03-21 14:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-03-20 15:00:00
</td>
<td align="right">
   60.65
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2012-03-21 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-03-20 15:40:00
</td>
<td align="right">
   60.74
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-03-21 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-03-20 16:10:00
</td>
<td align="right">
   60.71
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2012-03-21 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-03-20 16:40:00
</td>
<td align="right">
   60.71
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2012-03-21 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-03-20 16:55:00
</td>
<td align="right">
   60.71
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2012-03-21 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-03-20 17:00:00
</td>
<td align="right">
   60.72
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-03-21 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-03-20 17:25:00
</td>
<td align="right">
   60.67
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-03-21 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-03-20 17:55:00
</td>
<td align="right">
   60.70
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2012-03-21 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-03-20 18:45:00
</td>
<td align="right">
   60.75
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Wed: 2012-03-21 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-03-20 18:50:00
</td>
<td align="right">
   60.83
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Wed: 2012-03-21 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-03-20 19:30:00
</td>
<td align="right">
   60.72
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-03-20 19:35:00
</td>
<td align="right">
   60.66
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-03-21 19:35
</td>
</tr>
</table>
<br />