<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2013-01-23 15:45:00
</td>
<td align="right">
   79.02
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2013-01-24 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2013-01-23 15:35:00
</td>
<td align="right">
    4.34
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2013-01-24 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2013-01-23 15:40:00
</td>
<td align="right">
    4.35
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2013-01-23 15:45:00
</td>
<td align="right">
    4.36
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-24 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2013-01-23 15:50:00
</td>
<td align="right">
    4.38
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2013-01-24 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2013-01-23 15:55:00
</td>
<td align="right">
    4.36
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2013-01-24 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2013-01-23 16:00:00
</td>
<td align="right">
    4.37
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2013-01-24 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2013-01-23 16:30:00
</td>
<td align="right">
    4.34
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2013-01-23 16:35:00
</td>
<td align="right">
    4.38
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2013-01-24 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2013-01-23 16:45:00
</td>
<td align="right">
    4.36
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-24 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2013-01-23 16:50:00
</td>
<td align="right">
    4.33
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2013-01-24 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2013-01-23 17:05:00
</td>
<td align="right">
    4.36
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-24 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2013-01-23 17:10:00
</td>
<td align="right">
    4.35
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-24 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2013-01-23 17:25:00
</td>
<td align="right">
    4.37
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2013-01-24 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2013-01-23 17:35:00
</td>
<td align="right">
    4.36
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-24 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2013-01-23 17:40:00
</td>
<td align="right">
    4.36
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-24 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2013-01-23 17:45:00
</td>
<td align="right">
    4.36
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2013-01-24 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2013-01-23 17:55:00
</td>
<td align="right">
    4.35
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-24 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BBT">BBT</a></td>
<td>
2013-01-23 15:00:00
</td>
<td align="right">
   30.88
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2013-01-24 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BBT">BBT</a></td>
<td>
2013-01-23 15:15:00
</td>
<td align="right">
   30.88
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2013-01-24 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2013-01-23 17:15:00
</td>
<td align="right">
   77.92
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2013-01-24 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2013-01-23 18:15:00
</td>
<td align="right">
   77.97
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Thu: 2013-01-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2013-01-23 18:20:00
</td>
<td align="right">
   77.92
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2013-01-24 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2013-01-23 18:25:00
</td>
<td align="right">
   77.84
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-24 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2013-01-23 16:40:00
</td>
<td align="right">
  124.87
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2013-01-23 17:20:00
</td>
<td align="right">
  125.04
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2013-01-24 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2013-01-23 17:50:00
</td>
<td align="right">
  124.78
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2013-01-24 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2013-01-23 17:55:00
</td>
<td align="right">
  124.81
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-24 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HPQ">HPQ</a></td>
<td>
2013-01-23 15:00:00
</td>
<td align="right">
   17.21
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Thu: 2013-01-24 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HPQ">HPQ</a></td>
<td>
2013-01-23 15:05:00
</td>
<td align="right">
   17.21
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Thu: 2013-01-24 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HPQ">HPQ</a></td>
<td>
2013-01-23 15:10:00
</td>
<td align="right">
   17.17
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Thu: 2013-01-24 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2013-01-23 15:35:00
</td>
<td align="right">
   66.63
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Thu: 2013-01-24 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2013-01-23 17:50:00
</td>
<td align="right">
   66.65
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .58
</td>
<td>
Thu: 2013-01-24 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2013-01-23 15:15:00
</td>
<td align="right">
   53.30
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Thu: 2013-01-24 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2013-01-23 15:35:00
</td>
<td align="right">
   53.04
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2013-01-24 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2013-01-23 16:45:00
</td>
<td align="right">
   53.03
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Thu: 2013-01-24 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2013-01-23 16:55:00
</td>
<td align="right">
   53.00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Thu: 2013-01-24 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2013-01-23 18:15:00
</td>
<td align="right">
   53.37
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Thu: 2013-01-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2013-01-23 19:50:00
</td>
<td align="right">
   53.51
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Thu: 2013-01-24 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2013-01-23 19:55:00
</td>
<td align="right">
   53.51
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Thu: 2013-01-24 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2013-01-23 15:05:00
</td>
<td align="right">
   47.96
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2013-01-24 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2013-01-23 15:20:00
</td>
<td align="right">
   47.86
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2013-01-24 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2013-01-23 16:35:00
</td>
<td align="right">
   47.83
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-24 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2013-01-23 16:40:00
</td>
<td align="right">
   47.79
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2013-01-23 17:10:00
</td>
<td align="right">
   47.81
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2013-01-24 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2013-01-23 18:15:00
</td>
<td align="right">
   47.92
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2013-01-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2013-01-23 18:20:00
</td>
<td align="right">
   47.92
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2013-01-24 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2013-01-23 18:25:00
</td>
<td align="right">
   47.88
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2013-01-24 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2013-01-23 18:30:00
</td>
<td align="right">
   47.91
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2013-01-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2013-01-23 18:35:00
</td>
<td align="right">
   47.91
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Thu: 2013-01-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2013-01-23 18:50:00
</td>
<td align="right">
   47.93
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Thu: 2013-01-24 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2013-01-23 19:10:00
</td>
<td align="right">
   48.00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2013-01-24 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2013-01-23 19:25:00
</td>
<td align="right">
   48.00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2013-01-24 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2013-01-23 19:30:00
</td>
<td align="right">
   48.02
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2013-01-24 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2013-01-23 19:50:00
</td>
<td align="right">
   48.06
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Thu: 2013-01-24 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2013-01-23 18:00:00
</td>
<td align="right">
   36.71
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2013-01-24 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SNDK">SNDK</a></td>
<td>
2013-01-23 15:05:00
</td>
<td align="right">
   48.13
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Thu: 2013-01-24 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SNDK">SNDK</a></td>
<td>
2013-01-23 16:30:00
</td>
<td align="right">
   47.68
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2013-01-24 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SNDK">SNDK</a></td>
<td>
2013-01-23 18:45:00
</td>
<td align="right">
   47.46
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Thu: 2013-01-24 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2013-01-23 15:10:00
</td>
<td align="right">
   95.06
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.77
</td>
<td>
Thu: 2013-01-24 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2013-01-23 15:20:00
</td>
<td align="right">
   94.86
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.85
</td>
<td>
Thu: 2013-01-24 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2013-01-23 16:35:00
</td>
<td align="right">
  106.87
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2013-01-24 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2013-01-23 16:40:00
</td>
<td align="right">
  107.73
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.94
</td>
<td>
Thu: 2013-01-24 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2013-01-23 19:20:00
</td>
<td align="right">
  107.36
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2013-01-24 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2013-01-23 20:05:00
</td>
<td align="right">
  107.20
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2013-01-23 20:10:00
</td>
<td align="right">
  107.13
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2013-01-23 20:20:00
</td>
<td align="right">
  107.30
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2013-01-23 20:25:00
</td>
<td align="right">
  107.34
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2013-01-23 17:00:00
</td>
<td align="right">
   75.81
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2013-01-24 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2013-01-23 17:15:00
</td>
<td align="right">
   75.82
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Thu: 2013-01-24 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLU">XLU</a></td>
<td>
2013-01-23 15:15:00
</td>
<td align="right">
   35.82
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLU">XLU</a></td>
<td>
2013-01-23 16:20:00
</td>
<td align="right">
   35.82
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2013-01-24 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-23 16:20:00
</td>
<td align="right">
    7.70
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2013-01-24 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-23 16:25:00
</td>
<td align="right">
    7.70
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2013-01-24 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-23 16:30:00
</td>
<td align="right">
    7.67
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Thu: 2013-01-24 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-23 16:50:00
</td>
<td align="right">
    7.70
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2013-01-24 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-23 17:05:00
</td>
<td align="right">
    7.76
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2013-01-24 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2013-01-23 17:45:00
</td>
<td align="right">
    7.77
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2013-01-23 15:45:00
</td>
<td align="right">
   38.04
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2013-01-23 18:30:00
</td>
<td align="right">
   38.10
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2013-01-23 19:45:00
</td>
<td align="right">
   38.16
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2013-01-24 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2013-01-23 19:55:00
</td>
<td align="right">
   38.22
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2013-01-24 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2013-01-23 20:25:00
</td>
<td align="right">
   38.27
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 15:00:00
</td>
<td align="right">
   50.03
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Thu: 2013-01-24 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 15:20:00
</td>
<td align="right">
   49.91
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Thu: 2013-01-24 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 15:25:00
</td>
<td align="right">
   49.92
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Thu: 2013-01-24 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 15:55:00
</td>
<td align="right">
   49.79
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2013-01-24 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 16:00:00
</td>
<td align="right">
   49.76
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2013-01-24 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 16:05:00
</td>
<td align="right">
   49.73
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Thu: 2013-01-24 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 16:10:00
</td>
<td align="right">
   49.69
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2013-01-24 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 16:15:00
</td>
<td align="right">
   49.67
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Thu: 2013-01-24 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 16:20:00
</td>
<td align="right">
   49.61
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Thu: 2013-01-24 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 16:25:00
</td>
<td align="right">
   49.65
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2013-01-24 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 16:30:00
</td>
<td align="right">
   49.55
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Thu: 2013-01-24 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 17:10:00
</td>
<td align="right">
   49.81
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 17:40:00
</td>
<td align="right">
   49.77
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2013-01-24 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 17:45:00
</td>
<td align="right">
   49.70
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Thu: 2013-01-24 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 18:35:00
</td>
<td align="right">
   49.82
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2013-01-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 18:45:00
</td>
<td align="right">
   49.87
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Thu: 2013-01-24 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 18:50:00
</td>
<td align="right">
   49.76
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Thu: 2013-01-24 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 18:55:00
</td>
<td align="right">
   49.80
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Thu: 2013-01-24 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 19:10:00
</td>
<td align="right">
   49.68
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2013-01-24 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 19:20:00
</td>
<td align="right">
   49.77
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Thu: 2013-01-24 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 19:35:00
</td>
<td align="right">
   49.73
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Thu: 2013-01-24 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 19:45:00
</td>
<td align="right">
   49.68
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Thu: 2013-01-24 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 19:50:00
</td>
<td align="right">
   49.63
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Thu: 2013-01-24 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 20:05:00
</td>
<td align="right">
   49.63
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 20:10:00
</td>
<td align="right">
   49.58
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 20:15:00
</td>
<td align="right">
   49.54
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 20:20:00
</td>
<td align="right">
   49.54
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 20:30:00
</td>
<td align="right">
   49.47
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 20:35:00
</td>
<td align="right">
   49.43
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 20:40:00
</td>
<td align="right">
   49.44
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 20:50:00
</td>
<td align="right">
   49.38
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AEM">AEM</a></td>
<td>
2013-01-23 20:55:00
</td>
<td align="right">
   49.32
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 15:15:00
</td>
<td align="right">
   97.50
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.63
</td>
<td>
Thu: 2013-01-24 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 15:30:00
</td>
<td align="right">
   97.09
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
    -.46
</td>
<td>
Thu: 2013-01-24 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 15:35:00
</td>
<td align="right">
   97.04
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Thu: 2013-01-24 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 15:40:00
</td>
<td align="right">
   96.84
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2013-01-24 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 15:45:00
</td>
<td align="right">
   96.93
</td>
<td align="right">
  .93
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Thu: 2013-01-24 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 15:50:00
</td>
<td align="right">
   96.93
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2013-01-24 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 15:55:00
</td>
<td align="right">
   96.85
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2013-01-24 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 16:00:00
</td>
<td align="right">
   96.84
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-24 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 16:05:00
</td>
<td align="right">
   96.91
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2013-01-24 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 16:10:00
</td>
<td align="right">
   96.95
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Thu: 2013-01-24 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 16:15:00
</td>
<td align="right">
   96.87
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Thu: 2013-01-24 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 16:20:00
</td>
<td align="right">
   96.73
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 16:25:00
</td>
<td align="right">
   96.71
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2013-01-24 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 16:30:00
</td>
<td align="right">
   96.63
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Thu: 2013-01-24 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 16:35:00
</td>
<td align="right">
   96.70
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2013-01-24 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 16:40:00
</td>
<td align="right">
   96.76
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2013-01-24 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 16:45:00
</td>
<td align="right">
   96.80
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2013-01-24 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 16:50:00
</td>
<td align="right">
   96.87
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 17:00:00
</td>
<td align="right">
   96.84
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2013-01-24 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 17:10:00
</td>
<td align="right">
   96.78
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Thu: 2013-01-24 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 17:15:00
</td>
<td align="right">
   96.72
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Thu: 2013-01-24 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 17:25:00
</td>
<td align="right">
   96.81
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Thu: 2013-01-24 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 17:35:00
</td>
<td align="right">
   96.81
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Thu: 2013-01-24 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 17:40:00
</td>
<td align="right">
   96.86
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Thu: 2013-01-24 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 17:50:00
</td>
<td align="right">
   96.88
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Thu: 2013-01-24 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 17:55:00
</td>
<td align="right">
   96.91
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Thu: 2013-01-24 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 18:00:00
</td>
<td align="right">
   96.89
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Thu: 2013-01-24 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 18:05:00
</td>
<td align="right">
   96.94
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2013-01-24 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 18:10:00
</td>
<td align="right">
   96.92
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Thu: 2013-01-24 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 18:15:00
</td>
<td align="right">
   97.01
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2013-01-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2013-01-23 18:30:00
</td>
<td align="right">
   97.05
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2013-01-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 15:00:00
</td>
<td align="right">
  170.67
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Thu: 2013-01-24 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 15:05:00
</td>
<td align="right">
  170.73
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Thu: 2013-01-24 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 15:10:00
</td>
<td align="right">
  171.49
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
    -.89
</td>
<td>
Thu: 2013-01-24 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 15:15:00
</td>
<td align="right">
  170.67
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2013-01-24 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 15:20:00
</td>
<td align="right">
  170.41
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Thu: 2013-01-24 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 15:25:00
</td>
<td align="right">
  170.09
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .53
</td>
<td>
Thu: 2013-01-24 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 15:35:00
</td>
<td align="right">
  170.24
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .42
</td>
<td>
Thu: 2013-01-24 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 15:40:00
</td>
<td align="right">
  170.25
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Thu: 2013-01-24 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 15:50:00
</td>
<td align="right">
  170.53
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Thu: 2013-01-24 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 15:55:00
</td>
<td align="right">
  170.44
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.59
</td>
<td>
Thu: 2013-01-24 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 16:05:00
</td>
<td align="right">
  170.48
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.52
</td>
<td>
Thu: 2013-01-24 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 16:10:00
</td>
<td align="right">
  170.60
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.65
</td>
<td>
Thu: 2013-01-24 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 16:20:00
</td>
<td align="right">
  170.60
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.64
</td>
<td>
Thu: 2013-01-24 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 17:05:00
</td>
<td align="right">
  169.96
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .44
</td>
<td>
Thu: 2013-01-24 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 17:10:00
</td>
<td align="right">
  169.95
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .45
</td>
<td>
Thu: 2013-01-24 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 17:20:00
</td>
<td align="right">
  169.96
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .55
</td>
<td>
Thu: 2013-01-24 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 17:25:00
</td>
<td align="right">
  169.93
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .57
</td>
<td>
Thu: 2013-01-24 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 17:30:00
</td>
<td align="right">
  169.93
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .69
</td>
<td>
Thu: 2013-01-24 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 17:40:00
</td>
<td align="right">
  170.00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .50
</td>
<td>
Thu: 2013-01-24 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 17:45:00
</td>
<td align="right">
  169.93
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .61
</td>
<td>
Thu: 2013-01-24 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 17:55:00
</td>
<td align="right">
  170.08
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .46
</td>
<td>
Thu: 2013-01-24 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 18:05:00
</td>
<td align="right">
  170.40
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2013-01-24 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 18:10:00
</td>
<td align="right">
  170.40
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2013-01-24 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 18:15:00
</td>
<td align="right">
  170.50
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2013-01-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 18:20:00
</td>
<td align="right">
  170.51
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-24 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 18:25:00
</td>
<td align="right">
  170.50
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2013-01-24 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 18:30:00
</td>
<td align="right">
  170.62
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Thu: 2013-01-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2013-01-23 18:35:00
</td>
<td align="right">
  170.54
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2013-01-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 15:00:00
</td>
<td align="right">
   31.62
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.37
</td>
<td>
Thu: 2013-01-24 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 15:05:00
</td>
<td align="right">
   31.65
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.44
</td>
<td>
Thu: 2013-01-24 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 15:15:00
</td>
<td align="right">
   31.45
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Thu: 2013-01-24 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 15:20:00
</td>
<td align="right">
   31.51
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Thu: 2013-01-24 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 15:25:00
</td>
<td align="right">
   31.50
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Thu: 2013-01-24 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 15:30:00
</td>
<td align="right">
   31.40
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Thu: 2013-01-24 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 15:50:00
</td>
<td align="right">
   31.39
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Thu: 2013-01-24 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 15:55:00
</td>
<td align="right">
   31.24
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2013-01-24 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 16:00:00
</td>
<td align="right">
   31.25
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2013-01-24 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 16:05:00
</td>
<td align="right">
   31.21
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2013-01-24 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 16:10:00
</td>
<td align="right">
   31.32
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Thu: 2013-01-24 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 16:15:00
</td>
<td align="right">
   31.31
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Thu: 2013-01-24 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 16:20:00
</td>
<td align="right">
   31.25
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2013-01-24 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 16:25:00
</td>
<td align="right">
   31.21
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2013-01-24 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 16:30:00
</td>
<td align="right">
   31.21
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2013-01-24 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 16:35:00
</td>
<td align="right">
   31.27
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-24 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 16:40:00
</td>
<td align="right">
   31.25
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 16:45:00
</td>
<td align="right">
   31.22
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2013-01-24 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 16:50:00
</td>
<td align="right">
   31.17
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 18:15:00
</td>
<td align="right">
   31.28
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2013-01-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 18:20:00
</td>
<td align="right">
   31.23
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 18:30:00
</td>
<td align="right">
   31.23
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2013-01-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 18:35:00
</td>
<td align="right">
   31.27
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2013-01-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 18:40:00
</td>
<td align="right">
   31.24
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2013-01-24 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 18:45:00
</td>
<td align="right">
   31.21
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2013-01-24 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 18:55:00
</td>
<td align="right">
   31.15
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Thu: 2013-01-24 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 19:00:00
</td>
<td align="right">
   31.22
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 19:05:00
</td>
<td align="right">
   31.20
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2013-01-24 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 19:10:00
</td>
<td align="right">
   31.21
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2013-01-24 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 19:15:00
</td>
<td align="right">
   31.23
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2013-01-24 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 19:20:00
</td>
<td align="right">
   31.24
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2013-01-24 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 19:25:00
</td>
<td align="right">
   31.25
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2013-01-24 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 19:30:00
</td>
<td align="right">
   31.34
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Thu: 2013-01-24 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 20:15:00
</td>
<td align="right">
   31.20
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 20:20:00
</td>
<td align="right">
   31.21
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2013-01-23 20:25:00
</td>
<td align="right">
   31.21
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2013-01-23 15:30:00
</td>
<td align="right">
   41.57
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2013-01-24 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2013-01-23 15:35:00
</td>
<td align="right">
   41.58
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2013-01-24 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2013-01-23 15:40:00
</td>
<td align="right">
   41.57
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2013-01-24 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2013-01-23 16:05:00
</td>
<td align="right">
   41.51
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-24 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2013-01-23 16:10:00
</td>
<td align="right">
   41.54
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2013-01-24 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2013-01-23 16:15:00
</td>
<td align="right">
   41.51
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2013-01-24 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2013-01-23 16:25:00
</td>
<td align="right">
   41.47
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2013-01-23 16:30:00
</td>
<td align="right">
   41.49
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2013-01-23 16:35:00
</td>
<td align="right">
   41.50
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2013-01-24 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2013-01-23 16:40:00
</td>
<td align="right">
   41.48
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-24 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2013-01-23 16:45:00
</td>
<td align="right">
   41.48
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2013-01-24 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2013-01-23 16:50:00
</td>
<td align="right">
   41.48
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2013-01-24 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2013-01-23 16:55:00
</td>
<td align="right">
   41.47
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2013-01-24 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2013-01-23 15:00:00
</td>
<td align="right">
    5.77
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2013-01-24 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2013-01-23 16:05:00
</td>
<td align="right">
    5.77
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-24 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2013-01-23 16:10:00
</td>
<td align="right">
    5.77
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2013-01-24 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2013-01-23 16:15:00
</td>
<td align="right">
    5.75
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-24 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2013-01-23 16:20:00
</td>
<td align="right">
    5.74
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-24 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2013-01-23 16:40:00
</td>
<td align="right">
    5.74
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-24 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2013-01-23 17:05:00
</td>
<td align="right">
    5.77
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2013-01-24 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2013-01-23 18:05:00
</td>
<td align="right">
    5.72
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-24 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2013-01-23 18:40:00
</td>
<td align="right">
    5.72
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2013-01-24 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2013-01-23 20:00:00
</td>
<td align="right">
    5.69
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2013-01-23 20:10:00
</td>
<td align="right">
    5.70
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2013-01-23 20:25:00
</td>
<td align="right">
    5.68
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2013-01-23 20:30:00
</td>
<td align="right">
    5.69
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2013-01-23 20:35:00
</td>
<td align="right">
    5.69
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2013-01-23 20:45:00
</td>
<td align="right">
    5.69
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2013-01-23 20:50:00
</td>
<td align="right">
    5.69
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HL">HL</a></td>
<td>
2013-01-23 20:55:00
</td>
<td align="right">
    5.67
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HPQ">HPQ</a></td>
<td>
2013-01-23 17:05:00
</td>
<td align="right">
   16.97
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=KO">KO</a></td>
<td>
2013-01-23 15:20:00
</td>
<td align="right">
   37.14
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2013-01-24 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=KO">KO</a></td>
<td>
2013-01-23 20:10:00
</td>
<td align="right">
   37.10
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2013-01-23 16:15:00
</td>
<td align="right">
   53.16
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2013-01-24 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2013-01-23 19:05:00
</td>
<td align="right">
   53.24
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Thu: 2013-01-24 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2013-01-23 16:30:00
</td>
<td align="right">
   42.61
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-24 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2013-01-23 17:15:00
</td>
<td align="right">
   42.65
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2013-01-24 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2013-01-23 17:30:00
</td>
<td align="right">
   42.60
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2013-01-24 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRK">MRK</a></td>
<td>
2013-01-23 17:35:00
</td>
<td align="right">
   42.58
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2013-01-24 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 15:10:00
</td>
<td align="right">
   12.05
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-24 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 15:35:00
</td>
<td align="right">
   12.03
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2013-01-24 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 15:50:00
</td>
<td align="right">
   12.02
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-24 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 15:55:00
</td>
<td align="right">
   12.01
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-24 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 16:05:00
</td>
<td align="right">
   12.01
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-24 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 16:25:00
</td>
<td align="right">
   12.02
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-24 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 16:40:00
</td>
<td align="right">
   12.00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2013-01-24 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 16:50:00
</td>
<td align="right">
   12.01
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2013-01-24 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 17:00:00
</td>
<td align="right">
   12.01
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2013-01-24 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 17:05:00
</td>
<td align="right">
   12.01
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2013-01-24 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 17:10:00
</td>
<td align="right">
   12.01
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2013-01-24 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 17:15:00
</td>
<td align="right">
   12.02
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2013-01-24 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 17:20:00
</td>
<td align="right">
   12.02
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2013-01-24 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 17:35:00
</td>
<td align="right">
   12.02
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2013-01-24 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 17:40:00
</td>
<td align="right">
   12.03
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2013-01-24 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 17:55:00
</td>
<td align="right">
   12.08
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-24 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 18:15:00
</td>
<td align="right">
   12.09
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2013-01-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 18:25:00
</td>
<td align="right">
   12.06
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2013-01-24 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 18:30:00
</td>
<td align="right">
   12.08
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 18:50:00
</td>
<td align="right">
   12.08
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2013-01-24 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 18:55:00
</td>
<td align="right">
   12.08
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-24 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 19:05:00
</td>
<td align="right">
   12.09
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-24 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 20:10:00
</td>
<td align="right">
   12.10
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 20:30:00
</td>
<td align="right">
   12.11
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2013-01-23 20:40:00
</td>
<td align="right">
   12.11
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2013-01-23 15:00:00
</td>
<td align="right">
   61.75
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2013-01-24 15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2013-01-23 15:05:00
</td>
<td align="right">
   61.65
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Thu: 2013-01-24 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2013-01-23 15:10:00
</td>
<td align="right">
   61.75
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Thu: 2013-01-24 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2013-01-23 15:15:00
</td>
<td align="right">
   61.83
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2013-01-24 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2013-01-23 15:20:00
</td>
<td align="right">
   61.67
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Thu: 2013-01-24 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2013-01-23 15:50:00
</td>
<td align="right">
   61.75
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2013-01-24 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2013-01-23 16:20:00
</td>
<td align="right">
   61.85
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2013-01-23 16:35:00
</td>
<td align="right">
   61.83
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2013-01-24 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2013-01-23 16:40:00
</td>
<td align="right">
   61.72
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Thu: 2013-01-24 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2013-01-23 16:45:00
</td>
<td align="right">
   61.73
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Thu: 2013-01-24 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2013-01-23 17:50:00
</td>
<td align="right">
   61.83
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2013-01-24 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2013-01-23 18:00:00
</td>
<td align="right">
   61.85
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2013-01-24 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2013-01-23 18:10:00
</td>
<td align="right">
   61.84
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2013-01-24 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2013-01-23 18:30:00
</td>
<td align="right">
   61.82
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2013-01-23 18:45:00
</td>
<td align="right">
   61.79
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2013-01-24 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2013-01-23 18:50:00
</td>
<td align="right">
   61.79
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2013-01-24 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2013-01-23 19:00:00
</td>
<td align="right">
   61.81
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2013-01-24 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2013-01-23 15:35:00
</td>
<td align="right">
   54.45
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2013-01-24 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2013-01-23 15:40:00
</td>
<td align="right">
   54.38
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2013-01-24 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2013-01-23 15:55:00
</td>
<td align="right">
   54.49
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Thu: 2013-01-24 15:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2013-01-23 16:00:00
</td>
<td align="right">
   54.41
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2013-01-24 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2013-01-23 16:05:00
</td>
<td align="right">
   54.40
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Thu: 2013-01-24 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SNDK">SNDK</a></td>
<td>
2013-01-23 17:00:00
</td>
<td align="right">
   47.76
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Thu: 2013-01-24 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 15:05:00
</td>
<td align="right">
   20.14
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Thu: 2013-01-24 15:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 15:10:00
</td>
<td align="right">
   20.13
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Thu: 2013-01-24 15:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 15:15:00
</td>
<td align="right">
   20.09
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2013-01-24 15:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 15:20:00
</td>
<td align="right">
   20.08
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2013-01-24 15:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 15:25:00
</td>
<td align="right">
   20.05
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2013-01-24 15:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 15:30:00
</td>
<td align="right">
   20.04
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2013-01-24 15:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 15:35:00
</td>
<td align="right">
   20.01
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2013-01-24 15:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 15:40:00
</td>
<td align="right">
   20.03
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2013-01-24 15:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 15:45:00
</td>
<td align="right">
   19.98
</td>
<td align="right">
  .91
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2013-01-24 15:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 15:50:00
</td>
<td align="right">
   20.00
</td>
<td align="right">
  .95
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2013-01-24 15:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 16:00:00
</td>
<td align="right">
   19.99
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 16:05:00
</td>
<td align="right">
   19.99
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 16:10:00
</td>
<td align="right">
   20.00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2013-01-24 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 16:15:00
</td>
<td align="right">
   19.99
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2013-01-24 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 16:20:00
</td>
<td align="right">
   19.98
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2013-01-24 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 16:25:00
</td>
<td align="right">
   19.98
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-24 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 16:30:00
</td>
<td align="right">
   19.98
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2013-01-24 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 16:35:00
</td>
<td align="right">
   19.98
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 16:40:00
</td>
<td align="right">
   19.95
</td>
<td align="right">
  .94
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2013-01-24 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 16:45:00
</td>
<td align="right">
   19.95
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2013-01-24 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 16:55:00
</td>
<td align="right">
   19.96
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2013-01-24 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 17:00:00
</td>
<td align="right">
   20.00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2013-01-24 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 17:05:00
</td>
<td align="right">
   20.00
</td>
<td align="right">
  .92
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2013-01-24 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 17:10:00
</td>
<td align="right">
   19.97
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2013-01-24 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 17:15:00
</td>
<td align="right">
   19.97
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2013-01-24 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 17:20:00
</td>
<td align="right">
   19.96
</td>
<td align="right">
  .94
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2013-01-24 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 17:25:00
</td>
<td align="right">
   19.98
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2013-01-24 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 17:30:00
</td>
<td align="right">
   20.00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2013-01-24 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 17:35:00
</td>
<td align="right">
   19.99
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2013-01-24 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 17:45:00
</td>
<td align="right">
   19.98
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2013-01-24 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 17:50:00
</td>
<td align="right">
   19.99
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2013-01-24 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 17:55:00
</td>
<td align="right">
   20.02
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2013-01-24 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 18:00:00
</td>
<td align="right">
   20.02
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2013-01-24 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 18:05:00
</td>
<td align="right">
   20.04
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2013-01-24 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 18:15:00
</td>
<td align="right">
   20.06
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 18:20:00
</td>
<td align="right">
   20.05
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 18:25:00
</td>
<td align="right">
   20.01
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 18:30:00
</td>
<td align="right">
   20.02
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 18:35:00
</td>
<td align="right">
   19.98
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 18:40:00
</td>
<td align="right">
   20.00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 18:45:00
</td>
<td align="right">
   20.00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 18:50:00
</td>
<td align="right">
   20.01
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 18:55:00
</td>
<td align="right">
   20.02
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 19:05:00
</td>
<td align="right">
   20.00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VALE">VALE</a></td>
<td>
2013-01-23 19:10:00
</td>
<td align="right">
   20.00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2013-01-24 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2013-01-23 16:10:00
</td>
<td align="right">
   75.78
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2013-01-24 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2013-01-23 16:20:00
</td>
<td align="right">
   75.79
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2013-01-24 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2013-01-23 16:25:00
</td>
<td align="right">
   75.74
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2013-01-24 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2013-01-23 16:30:00
</td>
<td align="right">
   75.77
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2013-01-24 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2013-01-23 16:35:00
</td>
<td align="right">
   75.79
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2013-01-24 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2013-01-23 16:40:00
</td>
<td align="right">
   75.77
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2013-01-24 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2013-01-23 16:40:00
</td>
<td align="right">
   65.61
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2013-01-24 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2013-01-23 16:45:00
</td>
<td align="right">
   65.62
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2013-01-24 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2013-01-23 17:15:00
</td>
<td align="right">
   65.48
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Thu: 2013-01-24 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2013-01-23 17:20:00
</td>
<td align="right">
   65.48
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Thu: 2013-01-24 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2013-01-23 17:25:00
</td>
<td align="right">
   65.45
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Thu: 2013-01-24 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2013-01-23 17:35:00
</td>
<td align="right">
   65.49
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Thu: 2013-01-24 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2013-01-23 17:40:00
</td>
<td align="right">
   65.54
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Thu: 2013-01-24 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2013-01-23 17:45:00
</td>
<td align="right">
   65.55
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Thu: 2013-01-24 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2013-01-23 17:50:00
</td>
<td align="right">
   65.53
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Thu: 2013-01-24 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2013-01-23 18:05:00
</td>
<td align="right">
   65.63
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2013-01-24 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2013-01-23 18:15:00
</td>
<td align="right">
   65.72
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2013-01-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2013-01-23 18:25:00
</td>
<td align="right">
   65.70
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2013-01-24 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2013-01-23 18:30:00
</td>
<td align="right">
   65.72
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2013-01-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2013-01-23 18:35:00
</td>
<td align="right">
   65.70
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2013-01-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2013-01-23 18:50:00
</td>
<td align="right">
   65.73
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2013-01-24 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2013-01-23 19:05:00
</td>
<td align="right">
   65.74
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Thu: 2013-01-24 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2013-01-23 19:10:00
</td>
<td align="right">
   65.75
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Thu: 2013-01-24 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2013-01-23 19:15:00
</td>
<td align="right">
   65.75
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Thu: 2013-01-24 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2013-01-23 19:40:00
</td>
<td align="right">
   65.82
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Thu: 2013-01-24 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2013-01-23 19:45:00
</td>
<td align="right">
   65.82
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Thu: 2013-01-24 19:45
</td>
</tr>
</table>
<br />