<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/us_stk">US Stocks</a> > <a href="/us_stk_past">Past US Stock Predictions</a> > Week of: 2012_02_13<h4>Week of: 2012_02_13 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_us_stk_past_week">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="avgtickerpriceathour0">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="avgdanbotscoreathour0">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avg1hrgain">
Avg
<br>
1hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="avg24hrgain">
Avg
<br>
24hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumof24hrgains">
Sum of
<br>
24hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationof24hrgains">
Standard
<br>
Deviation
<br>
of 24hr gains
</a></th>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   67.55
</td>
<td align="right">
 -.64
</td>
<td align="right">
    1.31
</td>
<td align="right">
    .43
</td>
<td align="right">
    .23
</td>
<td align="right">
     2
</td>
<td align="right">
      .47
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   72.74
</td>
<td align="right">
 -.71
</td>
<td align="right">
  -30.39
</td>
<td align="right">
   -.40
</td>
<td align="right">
  -2.53
</td>
<td align="right">
     9
</td>
<td align="right">
   -22.75
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   54.80
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .11
</td>
<td align="right">
    .13
</td>
<td align="right">
    .04
</td>
<td align="right">
     6
</td>
<td align="right">
      .22
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    17
</td>
<td align="right">
   -22.06
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="avgtickerpriceathour0">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="avgdanbotscoreathour0">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avg1hrgain">
Avg
<br>
1hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="avg24hrgain">
Avg
<br>
24hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumof24hrgains">
Sum of
<br>
24hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationof24hrgains">
Standard
<br>
Deviation
<br>
of 24hr gains
</a></th>
</tr>
<tr>
<td>
ADBE
</td>
<td align="right">
   32.43
</td>
<td align="right">
  .60
</td>
<td align="right">
   -9.00
</td>
<td align="right">
   -.31
</td>
<td align="right">
   -.09
</td>
<td align="right">
     1
</td>
<td align="right">
     -.09
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   38.12
</td>
<td align="right">
  .56
</td>
<td align="right">
   45.00
</td>
<td align="right">
    .27
</td>
<td align="right">
    .45
</td>
<td align="right">
     1
</td>
<td align="right">
      .45
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AXP
</td>
<td align="right">
   52.03
</td>
<td align="right">
  .57
</td>
<td align="right">
  -14.00
</td>
<td align="right">
    .16
</td>
<td align="right">
   -.14
</td>
<td align="right">
     1
</td>
<td align="right">
     -.14
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  375.76
</td>
<td align="right">
  .77
</td>
<td align="right">
    -.14
</td>
<td align="right">
   1.94
</td>
<td align="right">
   -.06
</td>
<td align="right">
     6
</td>
<td align="right">
     -.36
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
     9
</td>
<td align="right">
     -.14
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 24
</th>
</tr>
<tr>
<td>
AMGN
</td>
<td>
2012-02-13 14:30:00
</td>
<td align="right">
   67.45
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .52
</td>
<td align="right">
     .36
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-02-13 14:35:00
</td>
<td align="right">
   67.65
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .34
</td>
<td align="right">
     .11
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
     .47
</td>
</tr>
<tr>
<td>
CLF
</td>
<td>
2012-02-13 14:55:00
</td>
<td align="right">
   73.02
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.49
</td>
<td align="right">
   -2.48
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-02-13 15:10:00
</td>
<td align="right">
   72.98
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.57
</td>
<td align="right">
   -2.64
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-02-13 15:15:00
</td>
<td align="right">
   72.90
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.44
</td>
<td align="right">
   -2.59
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-02-13 15:20:00
</td>
<td align="right">
   72.75
</td>
<td align="right">
 -.76
</td>
<td align="right">
    -.40
</td>
<td align="right">
   -2.45
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-02-13 15:25:00
</td>
<td align="right">
   72.67
</td>
<td align="right">
 -.77
</td>
<td align="right">
    -.31
</td>
<td align="right">
   -2.38
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-02-13 15:35:00
</td>
<td align="right">
   72.62
</td>
<td align="right">
 -.80
</td>
<td align="right">
    -.32
</td>
<td align="right">
   -2.53
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-02-13 15:40:00
</td>
<td align="right">
   72.66
</td>
<td align="right">
 -.73
</td>
<td align="right">
    -.36
</td>
<td align="right">
   -2.62
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-02-13 15:50:00
</td>
<td align="right">
   72.56
</td>
<td align="right">
 -.75
</td>
<td align="right">
    -.31
</td>
<td align="right">
   -2.54
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-02-13 15:55:00
</td>
<td align="right">
   72.53
</td>
<td align="right">
 -.74
</td>
<td align="right">
    -.41
</td>
<td align="right">
   -2.52
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -22.75
</td>
</tr>
<tr>
<td>
MOS
</td>
<td>
2012-02-13 14:35:00
</td>
<td align="right">
   54.68
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .18
</td>
<td align="right">
     .26
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-02-13 14:45:00
</td>
<td align="right">
   54.75
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .13
</td>
<td align="right">
     .41
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-02-13 14:50:00
</td>
<td align="right">
   54.75
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .21
</td>
<td align="right">
     .33
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-02-13 14:55:00
</td>
<td align="right">
   54.83
</td>
<td align="right">
 -.56
</td>
<td align="right">
     .18
</td>
<td align="right">
    -.14
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-02-13 15:00:00
</td>
<td align="right">
   54.89
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .07
</td>
<td align="right">
    -.32
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-02-13 15:05:00
</td>
<td align="right">
   54.92
</td>
<td align="right">
 -.69
</td>
<td align="right">
     .01
</td>
<td align="right">
    -.31
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
     .23
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 24
</th>
</tr>
<tr>
<td>
ADBE
</td>
<td>
2012-02-13 14:30:00
</td>
<td align="right">
   32.43
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.31
</td>
<td align="right">
    -.09
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    -.09
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td>
2012-02-13 14:50:00
</td>
<td align="right">
   38.12
</td>
<td align="right">
  .56
</td>
<td align="right">
     .27
</td>
<td align="right">
     .45
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
     .45
</td>
</tr>
<tr>
<td>
AXP
</td>
<td>
2012-02-13 15:10:00
</td>
<td align="right">
   52.03
</td>
<td align="right">
  .57
</td>
<td align="right">
     .16
</td>
<td align="right">
    -.14
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    -.14
</td>
</tr>
<tr>
<td>
CMG
</td>
<td>
2012-02-13 15:10:00
</td>
<td align="right">
  376.04
</td>
<td align="right">
  .78
</td>
<td align="right">
    1.82
</td>
<td align="right">
     .17
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-02-13 15:15:00
</td>
<td align="right">
  375.59
</td>
<td align="right">
  .78
</td>
<td align="right">
    2.04
</td>
<td align="right">
     .04
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-02-13 15:20:00
</td>
<td align="right">
  375.62
</td>
<td align="right">
  .78
</td>
<td align="right">
    2.05
</td>
<td align="right">
     .13
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-02-13 15:25:00
</td>
<td align="right">
  375.73
</td>
<td align="right">
  .78
</td>
<td align="right">
    1.75
</td>
<td align="right">
    -.43
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-02-13 15:30:00
</td>
<td align="right">
  375.52
</td>
<td align="right">
  .78
</td>
<td align="right">
    2.19
</td>
<td align="right">
     .43
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-02-13 15:35:00
</td>
<td align="right">
  376.08
</td>
<td align="right">
  .73
</td>
<td align="right">
    1.81
</td>
<td align="right">
    -.70
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    -.36
</td>
</tr>
</table>
<br />
