<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/us_stk">US Stocks</a> > <a href="/us_stk_past">Past US Stock Predictions</a> > Week of: 2012_03_19<h4>Week of: 2012_03_19 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_us_stk_past_week">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="avgtickerpriceathour0">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="avgdanbotscoreathour0">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avg1hrgain">
Avg
<br>
1hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="avg24hrgain">
Avg
<br>
24hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumof24hrgains">
Sum of
<br>
24hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationof24hrgains">
Standard
<br>
Deviation
<br>
of 24hr gains
</a></th>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   47.09
</td>
<td align="right">
 -.65
</td>
<td align="right">
    2.18
</td>
<td align="right">
    .03
</td>
<td align="right">
    .44
</td>
<td align="right">
     8
</td>
<td align="right">
     3.55
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   67.00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  142.00
</td>
<td align="right">
    .79
</td>
<td align="right">
   1.42
</td>
<td align="right">
     1
</td>
<td align="right">
     1.42
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   58.74
</td>
<td align="right">
 -.86
</td>
<td align="right">
   -2.87
</td>
<td align="right">
   -.19
</td>
<td align="right">
  -1.42
</td>
<td align="right">
    70
</td>
<td align="right">
   -99.41
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   50.16
</td>
<td align="right">
 -.55
</td>
<td align="right">
  -48.00
</td>
<td align="right">
    .13
</td>
<td align="right">
   -.48
</td>
<td align="right">
     1
</td>
<td align="right">
     -.48
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  129.07
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -5.53
</td>
<td align="right">
    .37
</td>
<td align="right">
  -1.70
</td>
<td align="right">
    36
</td>
<td align="right">
   -61.34
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   116
</td>
<td align="right">
  -156.26
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="avgtickerpriceathour0">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="avgdanbotscoreathour0">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avg1hrgain">
Avg
<br>
1hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="avg24hrgain">
Avg
<br>
24hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumof24hrgains">
Sum of
<br>
24hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationof24hrgains">
Standard
<br>
Deviation
<br>
of 24hr gains
</a></th>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   68.29
</td>
<td align="right">
  .63
</td>
<td align="right">
  -62.00
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.62
</td>
<td align="right">
     1
</td>
<td align="right">
     -.62
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   42.60
</td>
<td align="right">
  .60
</td>
<td align="right">
   58.00
</td>
<td align="right">
    .39
</td>
<td align="right">
    .58
</td>
<td align="right">
     1
</td>
<td align="right">
      .58
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   71.97
</td>
<td align="right">
  .73
</td>
<td align="right">
   -4.16
</td>
<td align="right">
    .38
</td>
<td align="right">
  -1.16
</td>
<td align="right">
     9
</td>
<td align="right">
   -10.44
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
CMI
</td>
<td align="right">
  127.90
</td>
<td align="right">
  .58
</td>
<td align="right">
  -18.45
</td>
<td align="right">
  -2.35
</td>
<td align="right">
  -4.76
</td>
<td align="right">
    10
</td>
<td align="right">
   -47.63
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  132.06
</td>
<td align="right">
  .63
</td>
<td align="right">
   -4.47
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.64
</td>
<td align="right">
    28
</td>
<td align="right">
   -17.86
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   67.96
</td>
<td align="right">
  .57
</td>
<td align="right">
 -115.97
</td>
<td align="right">
   -.20
</td>
<td align="right">
  -1.64
</td>
<td align="right">
     2
</td>
<td align="right">
    -3.28
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  124.69
</td>
<td align="right">
  .66
</td>
<td align="right">
     .87
</td>
<td align="right">
    .69
</td>
<td align="right">
   1.41
</td>
<td align="right">
     5
</td>
<td align="right">
     7.04
</td>
<td align="right">
   1.62
</td>
</tr>
<tr>
<td>
IBM
</td>
<td align="right">
  205.21
</td>
<td align="right">
  .56
</td>
<td align="right">
 -143.00
</td>
<td align="right">
    .05
</td>
<td align="right">
  -1.43
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.43
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   83.69
</td>
<td align="right">
  .67
</td>
<td align="right">
   -1.07
</td>
<td align="right">
   -.50
</td>
<td align="right">
   -.55
</td>
<td align="right">
     9
</td>
<td align="right">
    -4.97
</td>
<td align="right">
    .52
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   62.54
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.68
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.13
</td>
<td align="right">
    48
</td>
<td align="right">
    -6.11
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
LMT
</td>
<td align="right">
   89.42
</td>
<td align="right">
  .66
</td>
<td align="right">
   -1.51
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.17
</td>
<td align="right">
     3
</td>
<td align="right">
     -.50
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  181.55
</td>
<td align="right">
  .57
</td>
<td align="right">
   -3.52
</td>
<td align="right">
    .29
</td>
<td align="right">
   -.65
</td>
<td align="right">
     6
</td>
<td align="right">
    -3.92
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   44.97
</td>
<td align="right">
  .61
</td>
<td align="right">
  -11.30
</td>
<td align="right">
   -.24
</td>
<td align="right">
  -1.19
</td>
<td align="right">
    12
</td>
<td align="right">
   -14.29
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
OXY
</td>
<td align="right">
  100.81
</td>
<td align="right">
  .58
</td>
<td align="right">
  -37.68
</td>
<td align="right">
    .49
</td>
<td align="right">
  -1.87
</td>
<td align="right">
     2
</td>
<td align="right">
    -3.73
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   54.21
</td>
<td align="right">
  .62
</td>
<td align="right">
   -4.23
</td>
<td align="right">
   -.30
</td>
<td align="right">
  -1.18
</td>
<td align="right">
    28
</td>
<td align="right">
   -32.93
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   77.24
</td>
<td align="right">
  .57
</td>
<td align="right">
  -21.00
</td>
<td align="right">
    .52
</td>
<td align="right">
   -.21
</td>
<td align="right">
     1
</td>
<td align="right">
     -.21
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   60.67
</td>
<td align="right">
  .58
</td>
<td align="right">
     .58
</td>
<td align="right">
    .04
</td>
<td align="right">
    .05
</td>
<td align="right">
    28
</td>
<td align="right">
     1.51
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   194
</td>
<td align="right">
  -138.79
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 24
</th>
</tr>
<tr>
<td>
AFL
</td>
<td>
2012-03-19 13:50:00
</td>
<td align="right">
   47.20
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.17
</td>
<td align="right">
     .05
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:05:00
</td>
<td align="right">
   47.01
</td>
<td align="right">
 -.58
</td>
<td align="right">
    -.03
</td>
<td align="right">
     .70
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:10:00
</td>
<td align="right">
   47.05
</td>
<td align="right">
 -.58
</td>
<td align="right">
    -.10
</td>
<td align="right">
     .54
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:20:00
</td>
<td align="right">
   47.12
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.01
</td>
<td align="right">
     .33
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:25:00
</td>
<td align="right">
   47.15
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.02
</td>
<td align="right">
     .31
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:30:00
</td>
<td align="right">
   47.10
</td>
<td align="right">
 -.73
</td>
<td align="right">
     .11
</td>
<td align="right">
     .56
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:35:00
</td>
<td align="right">
   47.07
</td>
<td align="right">
 -.69
</td>
<td align="right">
     .19
</td>
<td align="right">
     .53
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:40:00
</td>
<td align="right">
   47.04
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .30
</td>
<td align="right">
     .53
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    3.55
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td>
2012-03-19 13:40:00
</td>
<td align="right">
   67.00
</td>
<td align="right">
 -.56
</td>
<td align="right">
     .79
</td>
<td align="right">
    1.42
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    1.42
</td>
</tr>
<tr>
<td>
IOC
</td>
<td>
2012-03-19 14:10:00
</td>
<td align="right">
   58.63
</td>
<td align="right">
 -.89
</td>
<td align="right">
     .70
</td>
<td align="right">
    -.70
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:15:00
</td>
<td align="right">
   58.88
</td>
<td align="right">
 -.90
</td>
<td align="right">
     .38
</td>
<td align="right">
    -.97
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:20:00
</td>
<td align="right">
   58.70
</td>
<td align="right">
 -.92
</td>
<td align="right">
     .43
</td>
<td align="right">
   -1.02
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:25:00
</td>
<td align="right">
   58.58
</td>
<td align="right">
 -.90
</td>
<td align="right">
     .78
</td>
<td align="right">
    -.97
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:30:00
</td>
<td align="right">
   58.62
</td>
<td align="right">
 -.90
</td>
<td align="right">
     .66
</td>
<td align="right">
    -.94
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:35:00
</td>
<td align="right">
   58.60
</td>
<td align="right">
 -.90
</td>
<td align="right">
     .77
</td>
<td align="right">
    -.89
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:40:00
</td>
<td align="right">
   58.62
</td>
<td align="right">
 -.86
</td>
<td align="right">
     .64
</td>
<td align="right">
   -1.10
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:45:00
</td>
<td align="right">
   58.89
</td>
<td align="right">
 -.90
</td>
<td align="right">
     .22
</td>
<td align="right">
   -1.43
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:50:00
</td>
<td align="right">
   59.12
</td>
<td align="right">
 -.87
</td>
<td align="right">
    -.23
</td>
<td align="right">
   -1.54
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:55:00
</td>
<td align="right">
   59.25
</td>
<td align="right">
 -.88
</td>
<td align="right">
    -.31
</td>
<td align="right">
   -1.84
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:00:00
</td>
<td align="right">
   59.33
</td>
<td align="right">
 -.90
</td>
<td align="right">
    -.48
</td>
<td align="right">
   -1.78
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:05:00
</td>
<td align="right">
   59.19
</td>
<td align="right">
 -.88
</td>
<td align="right">
    -.29
</td>
<td align="right">
   -1.74
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:10:00
</td>
<td align="right">
   59.33
</td>
<td align="right">
 -.89
</td>
<td align="right">
    -.53
</td>
<td align="right">
   -1.87
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:15:00
</td>
<td align="right">
   59.26
</td>
<td align="right">
 -.85
</td>
<td align="right">
    -.46
</td>
<td align="right">
   -1.92
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:20:00
</td>
<td align="right">
   59.13
</td>
<td align="right">
 -.88
</td>
<td align="right">
    -.39
</td>
<td align="right">
   -1.82
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:25:00
</td>
<td align="right">
   59.36
</td>
<td align="right">
 -.89
</td>
<td align="right">
    -.80
</td>
<td align="right">
   -1.88
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:30:00
</td>
<td align="right">
   59.28
</td>
<td align="right">
 -.90
</td>
<td align="right">
    -.54
</td>
<td align="right">
   -1.88
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:35:00
</td>
<td align="right">
   59.37
</td>
<td align="right">
 -.89
</td>
<td align="right">
    -.82
</td>
<td align="right">
   -2.06
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:40:00
</td>
<td align="right">
   59.26
</td>
<td align="right">
 -.90
</td>
<td align="right">
    -.71
</td>
<td align="right">
   -1.83
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:45:00
</td>
<td align="right">
   59.11
</td>
<td align="right">
 -.89
</td>
<td align="right">
    -.46
</td>
<td align="right">
   -1.83
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:50:00
</td>
<td align="right">
   58.89
</td>
<td align="right">
 -.88
</td>
<td align="right">
     .08
</td>
<td align="right">
   -1.63
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:55:00
</td>
<td align="right">
   58.94
</td>
<td align="right">
 -.83
</td>
<td align="right">
    -.17
</td>
<td align="right">
   -1.66
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:00:00
</td>
<td align="right">
   58.85
</td>
<td align="right">
 -.84
</td>
<td align="right">
     .01
</td>
<td align="right">
   -1.80
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:05:00
</td>
<td align="right">
   58.90
</td>
<td align="right">
 -.85
</td>
<td align="right">
    -.10
</td>
<td align="right">
   -1.68
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:10:00
</td>
<td align="right">
   58.80
</td>
<td align="right">
 -.89
</td>
<td align="right">
    -.05
</td>
<td align="right">
   -1.60
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:15:00
</td>
<td align="right">
   58.80
</td>
<td align="right">
 -.90
</td>
<td align="right">
    -.12
</td>
<td align="right">
   -1.73
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:20:00
</td>
<td align="right">
   58.74
</td>
<td align="right">
 -.89
</td>
<td align="right">
     .02
</td>
<td align="right">
   -1.70
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:25:00
</td>
<td align="right">
   58.56
</td>
<td align="right">
 -.86
</td>
<td align="right">
     .14
</td>
<td align="right">
   -1.62
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:30:00
</td>
<td align="right">
   58.74
</td>
<td align="right">
 -.82
</td>
<td align="right">
    -.08
</td>
<td align="right">
   -1.77
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:35:00
</td>
<td align="right">
   58.55
</td>
<td align="right">
 -.79
</td>
<td align="right">
     .18
</td>
<td align="right">
   -1.64
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:40:00
</td>
<td align="right">
   58.55
</td>
<td align="right">
 -.79
</td>
<td align="right">
     .20
</td>
<td align="right">
   -1.85
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:45:00
</td>
<td align="right">
   58.65
</td>
<td align="right">
 -.80
</td>
<td align="right">
    -.06
</td>
<td align="right">
   -1.92
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:50:00
</td>
<td align="right">
   58.97
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.27
</td>
<td align="right">
   -2.09
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:55:00
</td>
<td align="right">
   58.77
</td>
<td align="right">
 -.79
</td>
<td align="right">
    -.10
</td>
<td align="right">
   -1.79
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 17:00:00
</td>
<td align="right">
   58.86
</td>
<td align="right">
 -.73
</td>
<td align="right">
    -.20
</td>
<td align="right">
   -1.82
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 17:05:00
</td>
<td align="right">
   58.80
</td>
<td align="right">
 -.82
</td>
<td align="right">
    -.15
</td>
<td align="right">
   -1.76
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 17:10:00
</td>
<td align="right">
   58.75
</td>
<td align="right">
 -.83
</td>
<td align="right">
    -.19
</td>
<td align="right">
   -1.69
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 17:15:00
</td>
<td align="right">
   58.68
</td>
<td align="right">
 -.83
</td>
<td align="right">
    -.15
</td>
<td align="right">
   -1.60
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 17:20:00
</td>
<td align="right">
   58.76
</td>
<td align="right">
 -.80
</td>
<td align="right">
    -.20
</td>
<td align="right">
   -1.68
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 17:25:00
</td>
<td align="right">
   58.70
</td>
<td align="right">
 -.84
</td>
<td align="right">
    -.20
</td>
<td align="right">
   -1.66
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 17:30:00
</td>
<td align="right">
   58.66
</td>
<td align="right">
 -.81
</td>
<td align="right">
    -.15
</td>
<td align="right">
   -1.66
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 17:35:00
</td>
<td align="right">
   58.73
</td>
<td align="right">
 -.85
</td>
<td align="right">
    -.21
</td>
<td align="right">
   -1.79
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 17:40:00
</td>
<td align="right">
   58.75
</td>
<td align="right">
 -.85
</td>
<td align="right">
    -.11
</td>
<td align="right">
   -1.83
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 17:45:00
</td>
<td align="right">
   58.59
</td>
<td align="right">
 -.84
</td>
<td align="right">
    -.03
</td>
<td align="right">
   -1.69
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 17:50:00
</td>
<td align="right">
   58.70
</td>
<td align="right">
 -.86
</td>
<td align="right">
    -.13
</td>
<td align="right">
   -1.86
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 17:55:00
</td>
<td align="right">
   58.67
</td>
<td align="right">
 -.79
</td>
<td align="right">
    -.21
</td>
<td align="right">
   -1.90
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:00:00
</td>
<td align="right">
   58.66
</td>
<td align="right">
 -.83
</td>
<td align="right">
    -.08
</td>
<td align="right">
   -1.90
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:05:00
</td>
<td align="right">
   58.65
</td>
<td align="right">
 -.84
</td>
<td align="right">
    -.14
</td>
<td align="right">
   -1.61
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:10:00
</td>
<td align="right">
   58.56
</td>
<td align="right">
 -.88
</td>
<td align="right">
     .04
</td>
<td align="right">
   -1.61
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:15:00
</td>
<td align="right">
   58.53
</td>
<td align="right">
 -.90
</td>
<td align="right">
     .05
</td>
<td align="right">
   -1.59
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:20:00
</td>
<td align="right">
   58.56
</td>
<td align="right">
 -.88
</td>
<td align="right">
    -.09
</td>
<td align="right">
   -1.52
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:25:00
</td>
<td align="right">
   58.50
</td>
<td align="right">
 -.89
</td>
<td align="right">
    -.15
</td>
<td align="right">
   -1.47
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:30:00
</td>
<td align="right">
   58.51
</td>
<td align="right">
 -.88
</td>
<td align="right">
     .08
</td>
<td align="right">
   -1.48
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:35:00
</td>
<td align="right">
   58.52
</td>
<td align="right">
 -.90
</td>
<td align="right">
    -.11
</td>
<td align="right">
   -1.27
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:40:00
</td>
<td align="right">
   58.64
</td>
<td align="right">
 -.92
</td>
<td align="right">
    -.37
</td>
<td align="right">
   -1.39
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:45:00
</td>
<td align="right">
   58.56
</td>
<td align="right">
 -.91
</td>
<td align="right">
    -.26
</td>
<td align="right">
   -1.26
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:50:00
</td>
<td align="right">
   58.57
</td>
<td align="right">
 -.91
</td>
<td align="right">
    -.16
</td>
<td align="right">
   -1.01
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:55:00
</td>
<td align="right">
   58.46
</td>
<td align="right">
 -.91
</td>
<td align="right">
     .02
</td>
<td align="right">
    -.93
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:00:00
</td>
<td align="right">
   58.58
</td>
<td align="right">
 -.90
</td>
<td align="right">
    -.32
</td>
<td align="right">
    -.96
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:05:00
</td>
<td align="right">
   58.51
</td>
<td align="right">
 -.88
</td>
<td align="right">
    -.65
</td>
<td align="right">
    -.87
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:10:00
</td>
<td align="right">
   58.60
</td>
<td align="right">
 -.87
</td>
<td align="right">
    -.91
</td>
<td align="right">
    -.77
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:15:00
</td>
<td align="right">
   58.58
</td>
<td align="right">
 -.87
</td>
<td align="right">
    -.98
</td>
<td align="right">
    -.67
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:20:00
</td>
<td align="right">
   58.47
</td>
<td align="right">
 -.85
</td>
<td align="right">
    -.87
</td>
<td align="right">
    -.50
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:25:00
</td>
<td align="right">
   58.35
</td>
<td align="right">
 -.80
</td>
<td align="right">
    -.60
</td>
<td align="right">
    -.36
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:30:00
</td>
<td align="right">
   58.59
</td>
<td align="right">
 -.85
</td>
<td align="right">
   -1.09
</td>
<td align="right">
    -.67
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:35:00
</td>
<td align="right">
   58.41
</td>
<td align="right">
 -.88
</td>
<td align="right">
    -.52
</td>
<td align="right">
    -.52
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:40:00
</td>
<td align="right">
   58.27
</td>
<td align="right">
 -.82
</td>
<td align="right">
    -.34
</td>
<td align="right">
    -.27
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:45:00
</td>
<td align="right">
   58.30
</td>
<td align="right">
 -.84
</td>
<td align="right">
    -.39
</td>
<td align="right">
    -.36
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:50:00
</td>
<td align="right">
   58.41
</td>
<td align="right">
 -.86
</td>
<td align="right">
    -.73
</td>
<td align="right">
    -.41
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:55:00
</td>
<td align="right">
   58.48
</td>
<td align="right">
 -.83
</td>
<td align="right">
    -.87
</td>
<td align="right">
    -.58
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -99.41
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td>
2012-03-19 15:35:00
</td>
<td align="right">
   50.16
</td>
<td align="right">
 -.55
</td>
<td align="right">
     .13
</td>
<td align="right">
    -.48
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    -.48
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td>
2012-03-19 13:50:00
</td>
<td align="right">
  128.57
</td>
<td align="right">
 -.70
</td>
<td align="right">
     .73
</td>
<td align="right">
   -1.88
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 13:55:00
</td>
<td align="right">
  128.34
</td>
<td align="right">
 -.55
</td>
<td align="right">
    1.02
</td>
<td align="right">
   -1.62
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:00:00
</td>
<td align="right">
  128.93
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .33
</td>
<td align="right">
   -1.79
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:05:00
</td>
<td align="right">
  128.40
</td>
<td align="right">
 -.55
</td>
<td align="right">
     .86
</td>
<td align="right">
    -.93
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:10:00
</td>
<td align="right">
  128.50
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .65
</td>
<td align="right">
   -1.16
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:30:00
</td>
<td align="right">
  128.36
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .67
</td>
<td align="right">
    -.95
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:35:00
</td>
<td align="right">
  128.76
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .38
</td>
<td align="right">
   -1.53
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:40:00
</td>
<td align="right">
  128.69
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .45
</td>
<td align="right">
   -1.33
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:45:00
</td>
<td align="right">
  129.02
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .04
</td>
<td align="right">
   -1.73
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:50:00
</td>
<td align="right">
  129.30
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.10
</td>
<td align="right">
   -1.57
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:55:00
</td>
<td align="right">
  129.36
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.02
</td>
<td align="right">
   -1.74
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:00:00
</td>
<td align="right">
  129.26
</td>
<td align="right">
 -.71
</td>
<td align="right">
     .17
</td>
<td align="right">
   -1.86
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:05:00
</td>
<td align="right">
  129.26
</td>
<td align="right">
 -.71
</td>
<td align="right">
     .24
</td>
<td align="right">
   -1.93
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:10:00
</td>
<td align="right">
  129.15
</td>
<td align="right">
 -.76
</td>
<td align="right">
     .41
</td>
<td align="right">
   -1.83
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:15:00
</td>
<td align="right">
  128.96
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .44
</td>
<td align="right">
   -1.68
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:20:00
</td>
<td align="right">
  129.13
</td>
<td align="right">
 -.76
</td>
<td align="right">
     .08
</td>
<td align="right">
   -1.79
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:25:00
</td>
<td align="right">
  129.03
</td>
<td align="right">
 -.70
</td>
<td align="right">
     .21
</td>
<td align="right">
   -1.47
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:30:00
</td>
<td align="right">
  129.03
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .22
</td>
<td align="right">
   -1.44
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:35:00
</td>
<td align="right">
  129.14
</td>
<td align="right">
 -.76
</td>
<td align="right">
     .14
</td>
<td align="right">
   -1.41
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:40:00
</td>
<td align="right">
  129.14
</td>
<td align="right">
 -.76
</td>
<td align="right">
     .09
</td>
<td align="right">
   -1.39
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:45:00
</td>
<td align="right">
  129.06
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.06
</td>
<td align="right">
   -1.37
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:50:00
</td>
<td align="right">
  129.20
</td>
<td align="right">
 -.73
</td>
<td align="right">
    -.24
</td>
<td align="right">
   -1.79
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:55:00
</td>
<td align="right">
  129.34
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.17
</td>
<td align="right">
   -1.85
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:00:00
</td>
<td align="right">
  129.43
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.02
</td>
<td align="right">
   -2.07
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:05:00
</td>
<td align="right">
  129.50
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .02
</td>
<td align="right">
   -2.10
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:10:00
</td>
<td align="right">
  129.56
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .06
</td>
<td align="right">
   -2.28
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:15:00
</td>
<td align="right">
  129.40
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .29
</td>
<td align="right">
   -2.04
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:20:00
</td>
<td align="right">
  129.21
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .43
</td>
<td align="right">
   -1.95
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:25:00
</td>
<td align="right">
  129.24
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .43
</td>
<td align="right">
   -1.96
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:30:00
</td>
<td align="right">
  129.25
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .42
</td>
<td align="right">
   -1.95
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:35:00
</td>
<td align="right">
  129.28
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .42
</td>
<td align="right">
   -1.91
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:40:00
</td>
<td align="right">
  129.23
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .66
</td>
<td align="right">
   -1.94
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:45:00
</td>
<td align="right">
  129.00
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .97
</td>
<td align="right">
   -1.81
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:50:00
</td>
<td align="right">
  128.96
</td>
<td align="right">
 -.55
</td>
<td align="right">
    1.27
</td>
<td align="right">
   -1.63
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:55:00
</td>
<td align="right">
  129.17
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .95
</td>
<td align="right">
   -1.84
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 17:05:00
</td>
<td align="right">
  129.52
</td>
<td align="right">
 -.55
</td>
<td align="right">
     .73
</td>
<td align="right">
   -1.82
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -61.34
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 24
</th>
</tr>
<tr>
<td>
AMGN
</td>
<td>
2012-03-19 18:25:00
</td>
<td align="right">
   68.29
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.09
</td>
<td align="right">
    -.62
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    -.62
</td>
</tr>
<tr>
<td>
APOL
</td>
<td>
2012-03-19 15:00:00
</td>
<td align="right">
   42.60
</td>
<td align="right">
  .60
</td>
<td align="right">
     .39
</td>
<td align="right">
     .58
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
     .58
</td>
</tr>
<tr>
<td>
CLF
</td>
<td>
2012-03-19 13:30:00
</td>
<td align="right">
   71.83
</td>
<td align="right">
  .74
</td>
<td align="right">
     .17
</td>
<td align="right">
   -1.46
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 13:35:00
</td>
<td align="right">
   71.84
</td>
<td align="right">
  .75
</td>
<td align="right">
     .16
</td>
<td align="right">
   -1.64
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:05:00
</td>
<td align="right">
   71.70
</td>
<td align="right">
  .66
</td>
<td align="right">
     .67
</td>
<td align="right">
   -1.03
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:20:00
</td>
<td align="right">
   72.11
</td>
<td align="right">
  .63
</td>
<td align="right">
     .28
</td>
<td align="right">
    -.99
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:25:00
</td>
<td align="right">
   72.08
</td>
<td align="right">
  .65
</td>
<td align="right">
     .40
</td>
<td align="right">
    -.91
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:30:00
</td>
<td align="right">
   72.00
</td>
<td align="right">
  .79
</td>
<td align="right">
     .36
</td>
<td align="right">
    -.83
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:35:00
</td>
<td align="right">
   72.00
</td>
<td align="right">
  .78
</td>
<td align="right">
     .54
</td>
<td align="right">
   -1.20
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:40:00
</td>
<td align="right">
   72.09
</td>
<td align="right">
  .77
</td>
<td align="right">
     .47
</td>
<td align="right">
   -1.39
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:45:00
</td>
<td align="right">
   72.08
</td>
<td align="right">
  .77
</td>
<td align="right">
     .33
</td>
<td align="right">
    -.99
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -10.44
</td>
</tr>
<tr>
<td>
CMI
</td>
<td>
2012-03-19 15:15:00
</td>
<td align="right">
  127.47
</td>
<td align="right">
  .56
</td>
<td align="right">
    1.23
</td>
<td align="right">
   -4.55
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:20:00
</td>
<td align="right">
  127.61
</td>
<td align="right">
  .56
</td>
<td align="right">
    1.02
</td>
<td align="right">
   -4.61
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:25:00
</td>
<td align="right">
  127.72
</td>
<td align="right">
  .56
</td>
<td align="right">
    1.03
</td>
<td align="right">
   -4.80
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:30:00
</td>
<td align="right">
  127.74
</td>
<td align="right">
  .57
</td>
<td align="right">
    1.06
</td>
<td align="right">
   -5.08
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:00:00
</td>
<td align="right">
  128.49
</td>
<td align="right">
  .56
</td>
<td align="right">
   -2.37
</td>
<td align="right">
   -5.26
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:35:00
</td>
<td align="right">
  128.12
</td>
<td align="right">
  .57
</td>
<td align="right">
   -5.20
</td>
<td align="right">
   -4.96
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:40:00
</td>
<td align="right">
  127.94
</td>
<td align="right">
  .61
</td>
<td align="right">
   -5.06
</td>
<td align="right">
   -4.58
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:45:00
</td>
<td align="right">
  127.99
</td>
<td align="right">
  .60
</td>
<td align="right">
   -5.08
</td>
<td align="right">
   -4.72
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:50:00
</td>
<td align="right">
  127.94
</td>
<td align="right">
  .60
</td>
<td align="right">
   -5.03
</td>
<td align="right">
   -4.49
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:55:00
</td>
<td align="right">
  127.99
</td>
<td align="right">
  .60
</td>
<td align="right">
   -5.07
</td>
<td align="right">
   -4.58
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -47.63
</td>
</tr>
<tr>
<td>
DIA
</td>
<td>
2012-03-19 14:45:00
</td>
<td align="right">
  131.95
</td>
<td align="right">
  .58
</td>
<td align="right">
     .18
</td>
<td align="right">
    -.62
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:50:00
</td>
<td align="right">
  131.95
</td>
<td align="right">
  .59
</td>
<td align="right">
     .15
</td>
<td align="right">
    -.51
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:55:00
</td>
<td align="right">
  131.93
</td>
<td align="right">
  .56
</td>
<td align="right">
     .25
</td>
<td align="right">
    -.56
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:00:00
</td>
<td align="right">
  131.88
</td>
<td align="right">
  .60
</td>
<td align="right">
     .34
</td>
<td align="right">
    -.50
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:05:00
</td>
<td align="right">
  131.86
</td>
<td align="right">
  .67
</td>
<td align="right">
     .37
</td>
<td align="right">
    -.45
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:10:00
</td>
<td align="right">
  131.79
</td>
<td align="right">
  .68
</td>
<td align="right">
     .44
</td>
<td align="right">
    -.42
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:15:00
</td>
<td align="right">
  131.83
</td>
<td align="right">
  .69
</td>
<td align="right">
     .38
</td>
<td align="right">
    -.43
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:20:00
</td>
<td align="right">
  131.82
</td>
<td align="right">
  .66
</td>
<td align="right">
     .36
</td>
<td align="right">
    -.37
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:25:00
</td>
<td align="right">
  131.86
</td>
<td align="right">
  .65
</td>
<td align="right">
     .34
</td>
<td align="right">
    -.41
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:30:00
</td>
<td align="right">
  131.89
</td>
<td align="right">
  .58
</td>
<td align="right">
     .36
</td>
<td align="right">
    -.49
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:35:00
</td>
<td align="right">
  131.96
</td>
<td align="right">
  .55
</td>
<td align="right">
     .33
</td>
<td align="right">
    -.63
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:40:00
</td>
<td align="right">
  132.11
</td>
<td align="right">
  .62
</td>
<td align="right">
     .24
</td>
<td align="right">
    -.72
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:45:00
</td>
<td align="right">
  132.13
</td>
<td align="right">
  .67
</td>
<td align="right">
     .16
</td>
<td align="right">
    -.78
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:50:00
</td>
<td align="right">
  132.10
</td>
<td align="right">
  .63
</td>
<td align="right">
     .18
</td>
<td align="right">
    -.76
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:55:00
</td>
<td align="right">
  132.18
</td>
<td align="right">
  .61
</td>
<td align="right">
     .12
</td>
<td align="right">
    -.79
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:00:00
</td>
<td align="right">
  132.22
</td>
<td align="right">
  .58
</td>
<td align="right">
     .08
</td>
<td align="right">
    -.78
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:05:00
</td>
<td align="right">
  132.23
</td>
<td align="right">
  .55
</td>
<td align="right">
     .04
</td>
<td align="right">
    -.77
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:15:00
</td>
<td align="right">
  132.21
</td>
<td align="right">
  .59
</td>
<td align="right">
     .07
</td>
<td align="right">
    -.78
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:20:00
</td>
<td align="right">
  132.18
</td>
<td align="right">
  .66
</td>
<td align="right">
     .18
</td>
<td align="right">
    -.76
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:25:00
</td>
<td align="right">
  132.20
</td>
<td align="right">
  .58
</td>
<td align="right">
     .17
</td>
<td align="right">
    -.82
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:30:00
</td>
<td align="right">
  132.25
</td>
<td align="right">
  .56
</td>
<td align="right">
     .12
</td>
<td align="right">
    -.86
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:20:00
</td>
<td align="right">
  132.19
</td>
<td align="right">
  .70
</td>
<td align="right">
   -1.04
</td>
<td align="right">
    -.61
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:25:00
</td>
<td align="right">
  132.19
</td>
<td align="right">
  .68
</td>
<td align="right">
   -1.02
</td>
<td align="right">
    -.64
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:30:00
</td>
<td align="right">
  132.19
</td>
<td align="right">
  .70
</td>
<td align="right">
   -1.02
</td>
<td align="right">
    -.62
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:35:00
</td>
<td align="right">
  132.19
</td>
<td align="right">
  .69
</td>
<td align="right">
    -.94
</td>
<td align="right">
    -.71
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:40:00
</td>
<td align="right">
  132.12
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.89
</td>
<td align="right">
    -.66
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:45:00
</td>
<td align="right">
  132.13
</td>
<td align="right">
  .72
</td>
<td align="right">
    -.90
</td>
<td align="right">
    -.73
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:55:00
</td>
<td align="right">
  132.07
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.93
</td>
<td align="right">
    -.68
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -17.86
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td>
2012-03-19 17:30:00
</td>
<td align="right">
   67.98
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.22
</td>
<td align="right">
   -1.63
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 17:35:00
</td>
<td align="right">
   67.93
</td>
<td align="right">
  .55
</td>
<td align="right">
    -.17
</td>
<td align="right">
   -1.65
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -3.28
</td>
</tr>
<tr>
<td>
GS
</td>
<td>
2012-03-19 13:45:00
</td>
<td align="right">
  124.88
</td>
<td align="right">
  .72
</td>
<td align="right">
     .12
</td>
<td align="right">
    -.64
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 13:50:00
</td>
<td align="right">
  124.81
</td>
<td align="right">
  .72
</td>
<td align="right">
     .05
</td>
<td align="right">
    -.07
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:25:00
</td>
<td align="right">
  124.55
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.04
</td>
<td align="right">
    2.64
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:30:00
</td>
<td align="right">
  124.48
</td>
<td align="right">
  .59
</td>
<td align="right">
    1.23
</td>
<td align="right">
    2.64
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:35:00
</td>
<td align="right">
  124.73
</td>
<td align="right">
  .58
</td>
<td align="right">
    1.00
</td>
<td align="right">
    2.47
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    7.04
</td>
</tr>
<tr>
<td>
IBM
</td>
<td>
2012-03-19 14:30:00
</td>
<td align="right">
  205.21
</td>
<td align="right">
  .56
</td>
<td align="right">
     .05
</td>
<td align="right">
   -1.43
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -1.43
</td>
</tr>
<tr>
<td>
IWM
</td>
<td>
2012-03-19 13:30:00
</td>
<td align="right">
   82.85
</td>
<td align="right">
  .58
</td>
<td align="right">
     .40
</td>
<td align="right">
     .20
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 13:35:00
</td>
<td align="right">
   82.86
</td>
<td align="right">
  .58
</td>
<td align="right">
     .51
</td>
<td align="right">
     .27
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 13:40:00
</td>
<td align="right">
   82.94
</td>
<td align="right">
  .56
</td>
<td align="right">
     .47
</td>
<td align="right">
    -.11
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:55:00
</td>
<td align="right">
   84.16
</td>
<td align="right">
  .77
</td>
<td align="right">
    -.44
</td>
<td align="right">
    -.99
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:05:00
</td>
<td align="right">
   84.15
</td>
<td align="right">
  .76
</td>
<td align="right">
   -1.02
</td>
<td align="right">
    -.88
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:10:00
</td>
<td align="right">
   84.15
</td>
<td align="right">
  .76
</td>
<td align="right">
   -1.32
</td>
<td align="right">
    -.92
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:15:00
</td>
<td align="right">
   84.11
</td>
<td align="right">
  .76
</td>
<td align="right">
   -1.12
</td>
<td align="right">
    -.90
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:20:00
</td>
<td align="right">
   84.03
</td>
<td align="right">
  .68
</td>
<td align="right">
   -1.10
</td>
<td align="right">
    -.81
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:35:00
</td>
<td align="right">
   83.95
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.89
</td>
<td align="right">
    -.83
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -4.97
</td>
</tr>
<tr>
<td>
IYR
</td>
<td>
2012-03-19 14:20:00
</td>
<td align="right">
   62.34
</td>
<td align="right">
  .59
</td>
<td align="right">
     .10
</td>
<td align="right">
     .07
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:25:00
</td>
<td align="right">
   62.35
</td>
<td align="right">
  .60
</td>
<td align="right">
     .11
</td>
<td align="right">
     .07
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:30:00
</td>
<td align="right">
   62.36
</td>
<td align="right">
  .65
</td>
<td align="right">
     .05
</td>
<td align="right">
     .11
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:35:00
</td>
<td align="right">
   62.37
</td>
<td align="right">
  .65
</td>
<td align="right">
     .05
</td>
<td align="right">
     .10
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:45:00
</td>
<td align="right">
   62.35
</td>
<td align="right">
  .59
</td>
<td align="right">
     .16
</td>
<td align="right">
     .18
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:50:00
</td>
<td align="right">
   62.39
</td>
<td align="right">
  .65
</td>
<td align="right">
     .07
</td>
<td align="right">
     .18
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:55:00
</td>
<td align="right">
   62.37
</td>
<td align="right">
  .66
</td>
<td align="right">
     .12
</td>
<td align="right">
     .16
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:00:00
</td>
<td align="right">
   62.38
</td>
<td align="right">
  .66
</td>
<td align="right">
     .13
</td>
<td align="right">
     .19
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:05:00
</td>
<td align="right">
   62.42
</td>
<td align="right">
  .62
</td>
<td align="right">
     .06
</td>
<td align="right">
     .14
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:10:00
</td>
<td align="right">
   62.36
</td>
<td align="right">
  .61
</td>
<td align="right">
     .10
</td>
<td align="right">
     .20
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:15:00
</td>
<td align="right">
   62.40
</td>
<td align="right">
  .62
</td>
<td align="right">
     .09
</td>
<td align="right">
     .13
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:20:00
</td>
<td align="right">
   62.44
</td>
<td align="right">
  .62
</td>
<td align="right">
     .05
</td>
<td align="right">
     .09
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:30:00
</td>
<td align="right">
   62.41
</td>
<td align="right">
  .61
</td>
<td align="right">
     .15
</td>
<td align="right">
     .07
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:35:00
</td>
<td align="right">
   62.42
</td>
<td align="right">
  .61
</td>
<td align="right">
     .12
</td>
<td align="right">
     .01
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:40:00
</td>
<td align="right">
   62.44
</td>
<td align="right">
  .61
</td>
<td align="right">
     .12
</td>
<td align="right">
    -.05
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:45:00
</td>
<td align="right">
   62.51
</td>
<td align="right">
  .57
</td>
<td align="right">
     .07
</td>
<td align="right">
    -.16
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:50:00
</td>
<td align="right">
   62.46
</td>
<td align="right">
  .60
</td>
<td align="right">
     .13
</td>
<td align="right">
    -.14
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:55:00
</td>
<td align="right">
   62.49
</td>
<td align="right">
  .57
</td>
<td align="right">
     .15
</td>
<td align="right">
    -.15
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:00:00
</td>
<td align="right">
   62.51
</td>
<td align="right">
  .58
</td>
<td align="right">
     .12
</td>
<td align="right">
    -.13
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:05:00
</td>
<td align="right">
   62.48
</td>
<td align="right">
  .58
</td>
<td align="right">
     .14
</td>
<td align="right">
    -.08
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:10:00
</td>
<td align="right">
   62.46
</td>
<td align="right">
  .62
</td>
<td align="right">
     .21
</td>
<td align="right">
    -.08
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:15:00
</td>
<td align="right">
   62.49
</td>
<td align="right">
  .58
</td>
<td align="right">
     .19
</td>
<td align="right">
    -.11
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:20:00
</td>
<td align="right">
   62.49
</td>
<td align="right">
  .57
</td>
<td align="right">
     .22
</td>
<td align="right">
    -.11
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:25:00
</td>
<td align="right">
   62.54
</td>
<td align="right">
  .57
</td>
<td align="right">
     .18
</td>
<td align="right">
    -.15
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:30:00
</td>
<td align="right">
   62.56
</td>
<td align="right">
  .57
</td>
<td align="right">
     .14
</td>
<td align="right">
    -.20
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:35:00
</td>
<td align="right">
   62.54
</td>
<td align="right">
  .56
</td>
<td align="right">
     .14
</td>
<td align="right">
    -.17
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:40:00
</td>
<td align="right">
   62.56
</td>
<td align="right">
  .57
</td>
<td align="right">
     .14
</td>
<td align="right">
    -.21
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:45:00
</td>
<td align="right">
   62.58
</td>
<td align="right">
  .59
</td>
<td align="right">
     .14
</td>
<td align="right">
    -.24
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:50:00
</td>
<td align="right">
   62.59
</td>
<td align="right">
  .57
</td>
<td align="right">
     .17
</td>
<td align="right">
    -.24
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:55:00
</td>
<td align="right">
   62.64
</td>
<td align="right">
  .58
</td>
<td align="right">
     .08
</td>
<td align="right">
    -.28
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 17:40:00
</td>
<td align="right">
   62.70
</td>
<td align="right">
  .56
</td>
<td align="right">
     .05
</td>
<td align="right">
    -.33
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 17:45:00
</td>
<td align="right">
   62.72
</td>
<td align="right">
  .56
</td>
<td align="right">
     .00
</td>
<td align="right">
    -.33
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 17:50:00
</td>
<td align="right">
   62.76
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.05
</td>
<td align="right">
    -.36
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 17:55:00
</td>
<td align="right">
   62.72
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.06
</td>
<td align="right">
    -.33
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:00:00
</td>
<td align="right">
   62.74
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.06
</td>
<td align="right">
    -.33
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:05:00
</td>
<td align="right">
   62.74
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.12
</td>
<td align="right">
    -.36
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:10:00
</td>
<td align="right">
   62.75
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.12
</td>
<td align="right">
    -.37
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:15:00
</td>
<td align="right">
   62.78
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.14
</td>
<td align="right">
    -.36
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:20:00
</td>
<td align="right">
   62.80
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.20
</td>
<td align="right">
    -.37
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:25:00
</td>
<td align="right">
   62.79
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.24
</td>
<td align="right">
    -.39
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:35:00
</td>
<td align="right">
   62.74
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.19
</td>
<td align="right">
    -.36
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:40:00
</td>
<td align="right">
   62.75
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.23
</td>
<td align="right">
    -.36
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:05:00
</td>
<td align="right">
   62.62
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.35
</td>
<td align="right">
    -.23
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:20:00
</td>
<td align="right">
   62.60
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.18
</td>
<td align="right">
    -.19
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:25:00
</td>
<td align="right">
   62.55
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.11
</td>
<td align="right">
    -.15
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:30:00
</td>
<td align="right">
   62.59
</td>
<td align="right">
  .55
</td>
<td align="right">
    -.15
</td>
<td align="right">
    -.18
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:50:00
</td>
<td align="right">
   62.51
</td>
<td align="right">
  .55
</td>
<td align="right">
    -.10
</td>
<td align="right">
    -.17
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:55:00
</td>
<td align="right">
   62.55
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.13
</td>
<td align="right">
    -.14
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -6.11
</td>
</tr>
<tr>
<td>
LMT
</td>
<td>
2012-03-19 16:05:00
</td>
<td align="right">
   89.38
</td>
<td align="right">
  .72
</td>
<td align="right">
     .06
</td>
<td align="right">
    -.04
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:15:00
</td>
<td align="right">
   89.44
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.04
</td>
<td align="right">
    -.22
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 17:05:00
</td>
<td align="right">
   89.44
</td>
<td align="right">
  .63
</td>
<td align="right">
     .20
</td>
<td align="right">
    -.24
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    -.50
</td>
</tr>
<tr>
<td>
MDY
</td>
<td>
2012-03-19 13:30:00
</td>
<td align="right">
  181.38
</td>
<td align="right">
  .60
</td>
<td align="right">
     .31
</td>
<td align="right">
    -.54
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 13:35:00
</td>
<td align="right">
  181.50
</td>
<td align="right">
  .57
</td>
<td align="right">
     .38
</td>
<td align="right">
    -.52
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:10:00
</td>
<td align="right">
  181.58
</td>
<td align="right">
  .57
</td>
<td align="right">
     .16
</td>
<td align="right">
    -.41
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:20:00
</td>
<td align="right">
  181.54
</td>
<td align="right">
  .57
</td>
<td align="right">
     .38
</td>
<td align="right">
    -.84
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:25:00
</td>
<td align="right">
  181.63
</td>
<td align="right">
  .56
</td>
<td align="right">
     .30
</td>
<td align="right">
    -.83
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:30:00
</td>
<td align="right">
  181.69
</td>
<td align="right">
  .56
</td>
<td align="right">
     .21
</td>
<td align="right">
    -.78
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -3.92
</td>
</tr>
<tr>
<td>
NUE
</td>
<td>
2012-03-19 17:55:00
</td>
<td align="right">
   45.02
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.09
</td>
<td align="right">
   -1.24
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:00:00
</td>
<td align="right">
   45.00
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.09
</td>
<td align="right">
   -1.23
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:05:00
</td>
<td align="right">
   45.00
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.16
</td>
<td align="right">
   -1.25
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:10:00
</td>
<td align="right">
   44.99
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.14
</td>
<td align="right">
   -1.24
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:15:00
</td>
<td align="right">
   45.03
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.12
</td>
<td align="right">
   -1.26
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:20:00
</td>
<td align="right">
   45.00
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.10
</td>
<td align="right">
   -1.20
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:25:00
</td>
<td align="right">
   45.01
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.10
</td>
<td align="right">
   -1.22
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:30:00
</td>
<td align="right">
   45.01
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.11
</td>
<td align="right">
   -1.26
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:35:00
</td>
<td align="right">
   44.99
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.06
</td>
<td align="right">
   -1.22
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:40:00
</td>
<td align="right">
   45.01
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.06
</td>
<td align="right">
   -1.23
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:50:00
</td>
<td align="right">
   44.77
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.97
</td>
<td align="right">
    -.94
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:55:00
</td>
<td align="right">
   44.81
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.92
</td>
<td align="right">
   -1.00
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -14.29
</td>
</tr>
<tr>
<td>
OXY
</td>
<td>
2012-03-19 15:05:00
</td>
<td align="right">
  100.79
</td>
<td align="right">
  .59
</td>
<td align="right">
     .52
</td>
<td align="right">
   -1.90
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:10:00
</td>
<td align="right">
  100.82
</td>
<td align="right">
  .56
</td>
<td align="right">
     .46
</td>
<td align="right">
   -1.83
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -3.73
</td>
</tr>
<tr>
<td>
TKR
</td>
<td>
2012-03-19 13:35:00
</td>
<td align="right">
   54.06
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.01
</td>
<td align="right">
    -.78
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:00:00
</td>
<td align="right">
   54.19
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.16
</td>
<td align="right">
   -1.14
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:15:00
</td>
<td align="right">
   53.91
</td>
<td align="right">
  .59
</td>
<td align="right">
     .08
</td>
<td align="right">
    -.80
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:35:00
</td>
<td align="right">
   54.05
</td>
<td align="right">
  .63
</td>
<td align="right">
     .26
</td>
<td align="right">
   -1.00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:40:00
</td>
<td align="right">
   54.06
</td>
<td align="right">
  .65
</td>
<td align="right">
     .34
</td>
<td align="right">
    -.98
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:45:00
</td>
<td align="right">
   54.19
</td>
<td align="right">
  .60
</td>
<td align="right">
     .19
</td>
<td align="right">
    -.93
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:50:00
</td>
<td align="right">
   54.15
</td>
<td align="right">
  .58
</td>
<td align="right">
     .27
</td>
<td align="right">
    -.95
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 14:55:00
</td>
<td align="right">
   54.17
</td>
<td align="right">
  .62
</td>
<td align="right">
     .18
</td>
<td align="right">
   -1.12
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:00:00
</td>
<td align="right">
   54.03
</td>
<td align="right">
  .62
</td>
<td align="right">
     .33
</td>
<td align="right">
    -.97
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:20:00
</td>
<td align="right">
   54.09
</td>
<td align="right">
  .58
</td>
<td align="right">
     .24
</td>
<td align="right">
    -.99
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:25:00
</td>
<td align="right">
   54.09
</td>
<td align="right">
  .63
</td>
<td align="right">
     .31
</td>
<td align="right">
   -1.10
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:30:00
</td>
<td align="right">
   54.11
</td>
<td align="right">
  .58
</td>
<td align="right">
     .27
</td>
<td align="right">
   -1.11
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:55:00
</td>
<td align="right">
   54.35
</td>
<td align="right">
  .57
</td>
<td align="right">
     .04
</td>
<td align="right">
   -1.72
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:00:00
</td>
<td align="right">
   54.36
</td>
<td align="right">
  .58
</td>
<td align="right">
     .02
</td>
<td align="right">
   -1.58
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:10:00
</td>
<td align="right">
   54.33
</td>
<td align="right">
  .58
</td>
<td align="right">
     .07
</td>
<td align="right">
   -1.53
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:20:00
</td>
<td align="right">
   54.45
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.17
</td>
<td align="right">
   -1.64
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:30:00
</td>
<td align="right">
   54.37
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.09
</td>
<td align="right">
   -1.70
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:35:00
</td>
<td align="right">
   54.34
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.02
</td>
<td align="right">
   -1.68
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:55:00
</td>
<td align="right">
   54.37
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.20
</td>
<td align="right">
   -1.45
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:15:00
</td>
<td align="right">
   54.32
</td>
<td align="right">
  .56
</td>
<td align="right">
   -1.24
</td>
<td align="right">
   -1.24
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:20:00
</td>
<td align="right">
   54.28
</td>
<td align="right">
  .63
</td>
<td align="right">
   -1.27
</td>
<td align="right">
   -1.11
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:25:00
</td>
<td align="right">
   54.27
</td>
<td align="right">
  .72
</td>
<td align="right">
   -1.12
</td>
<td align="right">
   -1.05
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:30:00
</td>
<td align="right">
   54.28
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.23
</td>
<td align="right">
   -1.00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:35:00
</td>
<td align="right">
   54.32
</td>
<td align="right">
  .60
</td>
<td align="right">
   -1.09
</td>
<td align="right">
   -1.12
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:40:00
</td>
<td align="right">
   54.30
</td>
<td align="right">
  .70
</td>
<td align="right">
   -1.13
</td>
<td align="right">
   -1.07
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:45:00
</td>
<td align="right">
   54.21
</td>
<td align="right">
  .66
</td>
<td align="right">
   -1.10
</td>
<td align="right">
   -1.09
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:50:00
</td>
<td align="right">
   54.11
</td>
<td align="right">
  .69
</td>
<td align="right">
   -1.06
</td>
<td align="right">
   -1.02
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:55:00
</td>
<td align="right">
   54.17
</td>
<td align="right">
  .66
</td>
<td align="right">
   -1.12
</td>
<td align="right">
   -1.06
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -32.93
</td>
</tr>
<tr>
<td>
WHR
</td>
<td>
2012-03-19 16:00:00
</td>
<td align="right">
   77.24
</td>
<td align="right">
  .57
</td>
<td align="right">
     .52
</td>
<td align="right">
    -.21
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    -.21
</td>
</tr>
<tr>
<td>
WMT
</td>
<td>
2012-03-19 14:00:00
</td>
<td align="right">
   60.65
</td>
<td align="right">
  .55
</td>
<td align="right">
    -.04
</td>
<td align="right">
     .03
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:00:00
</td>
<td align="right">
   60.61
</td>
<td align="right">
  .57
</td>
<td align="right">
     .00
</td>
<td align="right">
     .04
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:05:00
</td>
<td align="right">
   60.59
</td>
<td align="right">
  .56
</td>
<td align="right">
     .00
</td>
<td align="right">
     .06
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:20:00
</td>
<td align="right">
   60.58
</td>
<td align="right">
  .56
</td>
<td align="right">
     .06
</td>
<td align="right">
     .11
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:45:00
</td>
<td align="right">
   60.57
</td>
<td align="right">
  .57
</td>
<td align="right">
     .15
</td>
<td align="right">
     .17
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 15:55:00
</td>
<td align="right">
   60.58
</td>
<td align="right">
  .58
</td>
<td align="right">
     .05
</td>
<td align="right">
     .14
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:00:00
</td>
<td align="right">
   60.61
</td>
<td align="right">
  .60
</td>
<td align="right">
     .06
</td>
<td align="right">
     .14
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:05:00
</td>
<td align="right">
   60.59
</td>
<td align="right">
  .58
</td>
<td align="right">
     .10
</td>
<td align="right">
     .19
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:10:00
</td>
<td align="right">
   60.64
</td>
<td align="right">
  .62
</td>
<td align="right">
     .10
</td>
<td align="right">
     .07
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:20:00
</td>
<td align="right">
   60.64
</td>
<td align="right">
  .63
</td>
<td align="right">
     .11
</td>
<td align="right">
     .15
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:30:00
</td>
<td align="right">
   60.64
</td>
<td align="right">
  .64
</td>
<td align="right">
     .12
</td>
<td align="right">
     .10
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 16:55:00
</td>
<td align="right">
   60.63
</td>
<td align="right">
  .62
</td>
<td align="right">
     .13
</td>
<td align="right">
     .08
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 17:35:00
</td>
<td align="right">
   60.70
</td>
<td align="right">
  .55
</td>
<td align="right">
     .03
</td>
<td align="right">
    -.01
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:35:00
</td>
<td align="right">
   60.73
</td>
<td align="right">
  .57
</td>
<td align="right">
     .00
</td>
<td align="right">
     .09
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:40:00
</td>
<td align="right">
   60.73
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.02
</td>
<td align="right">
     .05
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 18:50:00
</td>
<td align="right">
   60.68
</td>
<td align="right">
  .56
</td>
<td align="right">
     .03
</td>
<td align="right">
     .15
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:00:00
</td>
<td align="right">
   60.65
</td>
<td align="right">
  .57
</td>
<td align="right">
     .08
</td>
<td align="right">
     .14
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:05:00
</td>
<td align="right">
   60.68
</td>
<td align="right">
  .58
</td>
<td align="right">
     .11
</td>
<td align="right">
     .10
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:10:00
</td>
<td align="right">
   60.70
</td>
<td align="right">
  .59
</td>
<td align="right">
     .09
</td>
<td align="right">
     .10
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:15:00
</td>
<td align="right">
   60.73
</td>
<td align="right">
  .58
</td>
<td align="right">
     .09
</td>
<td align="right">
     .08
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:20:00
</td>
<td align="right">
   60.73
</td>
<td align="right">
  .58
</td>
<td align="right">
     .05
</td>
<td align="right">
     .06
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:25:00
</td>
<td align="right">
   60.72
</td>
<td align="right">
  .60
</td>
<td align="right">
     .08
</td>
<td align="right">
     .01
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:30:00
</td>
<td align="right">
   60.71
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.03
</td>
<td align="right">
     .01
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:35:00
</td>
<td align="right">
   60.73
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.05
</td>
<td align="right">
    -.07
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:40:00
</td>
<td align="right">
   60.71
</td>
<td align="right">
  .59
</td>
<td align="right">
     .00
</td>
<td align="right">
    -.12
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:45:00
</td>
<td align="right">
   60.74
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.02
</td>
<td align="right">
    -.11
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:50:00
</td>
<td align="right">
   60.71
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.14
</td>
<td align="right">
    -.12
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-03-19 19:55:00
</td>
<td align="right">
   60.73
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.12
</td>
<td align="right">
    -.13
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    1.51
</td>
</tr>
</table>
<br />
