<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/us_stk">US Stocks</a> > <a href="/us_stk_past">Past US Stock Predictions</a> > Week of: 2012_05_14<h4>Week of: 2012_05_14 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_us_stk_past_week">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="avgtickerpriceathour0">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="avgdanbotscoreathour0">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avg1hrgain">
Avg
<br>
1hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="avg24hrgain">
Avg
<br>
24hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumof24hrgains">
Sum of
<br>
24hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationof24hrgains">
Standard
<br>
Deviation
<br>
of 24hr gains
</a></th>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   32.00
</td>
<td align="right">
 -.56
</td>
<td align="right">
     .97
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .10
</td>
<td align="right">
     7
</td>
<td align="right">
      .71
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  137.58
</td>
<td align="right">
 -.65
</td>
<td align="right">
    5.46
</td>
<td align="right">
    .07
</td>
<td align="right">
   1.38
</td>
<td align="right">
     7
</td>
<td align="right">
     9.68
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   48.07
</td>
<td align="right">
 -.58
</td>
<td align="right">
    -.05
</td>
<td align="right">
    .25
</td>
<td align="right">
   -.03
</td>
<td align="right">
    12
</td>
<td align="right">
     -.38
</td>
<td align="right">
    .60
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   11.74
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -2.33
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.20
</td>
<td align="right">
    13
</td>
<td align="right">
    -2.61
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   94.43
</td>
<td align="right">
 -.59
</td>
<td align="right">
    2.42
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .78
</td>
<td align="right">
    19
</td>
<td align="right">
    14.73
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    58
</td>
<td align="right">
    22.13
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="avgtickerpriceathour0">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="avgdanbotscoreathour0">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avg1hrgain">
Avg
<br>
1hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="avg24hrgain">
Avg
<br>
24hr
<br>
Gain
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumof24hrgains">
Sum of
<br>
24hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationof24hrgains">
Standard
<br>
Deviation
<br>
of 24hr gains
</a></th>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   70.50
</td>
<td align="right">
  .58
</td>
<td align="right">
     .16
</td>
<td align="right">
   -.07
</td>
<td align="right">
    .02
</td>
<td align="right">
    32
</td>
<td align="right">
      .74
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   67.22
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.10
</td>
<td align="right">
    .18
</td>
<td align="right">
   -.05
</td>
<td align="right">
     9
</td>
<td align="right">
     -.47
</td>
<td align="right">
    .55
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  402.83
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.08
</td>
<td align="right">
   -.31
</td>
<td align="right">
   1.83
</td>
<td align="right">
    66
</td>
<td align="right">
   121.03
</td>
<td align="right">
   1.70
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  135.85
</td>
<td align="right">
  .68
</td>
<td align="right">
    3.84
</td>
<td align="right">
    .99
</td>
<td align="right">
   2.39
</td>
<td align="right">
    14
</td>
<td align="right">
    33.45
</td>
<td align="right">
    .62
</td>
</tr>
<tr>
<td>
CVX
</td>
<td align="right">
  102.04
</td>
<td align="right">
  .75
</td>
<td align="right">
   -2.66
</td>
<td align="right">
    .13
</td>
<td align="right">
   -.22
</td>
<td align="right">
     5
</td>
<td align="right">
    -1.11
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  127.10
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.39
</td>
<td align="right">
   -.19
</td>
<td align="right">
   -.12
</td>
<td align="right">
     2
</td>
<td align="right">
     -.24
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
HD
</td>
<td align="right">
   50.08
</td>
<td align="right">
  .62
</td>
<td align="right">
   -3.55
</td>
<td align="right">
   -.18
</td>
<td align="right">
  -1.19
</td>
<td align="right">
    46
</td>
<td align="right">
   -54.77
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   78.04
</td>
<td align="right">
  .67
</td>
<td align="right">
     .06
</td>
<td align="right">
    .05
</td>
<td align="right">
    .02
</td>
<td align="right">
    42
</td>
<td align="right">
      .68
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  419.07
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.70
</td>
<td align="right">
    .31
</td>
<td align="right">
  -1.05
</td>
<td align="right">
     9
</td>
<td align="right">
    -9.46
</td>
<td align="right">
   1.51
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   86.27
</td>
<td align="right">
  .58
</td>
<td align="right">
   -1.41
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.15
</td>
<td align="right">
     9
</td>
<td align="right">
    -1.31
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
   76.94
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.68
</td>
<td align="right">
    .62
</td>
<td align="right">
   1.07
</td>
<td align="right">
    14
</td>
<td align="right">
    14.99
</td>
<td align="right">
    .64
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   36.77
</td>
<td align="right">
  .57
</td>
<td align="right">
   -3.56
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.65
</td>
<td align="right">
     6
</td>
<td align="right">
    -3.92
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   64.75
</td>
<td align="right">
  .59
</td>
<td align="right">
  -79.00
</td>
<td align="right">
    .09
</td>
<td align="right">
   -.79
</td>
<td align="right">
     1
</td>
<td align="right">
     -.79
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   36.14
</td>
<td align="right">
  .60
</td>
<td align="right">
   -2.84
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.34
</td>
<td align="right">
     5
</td>
<td align="right">
    -1.68
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   93.30
</td>
<td align="right">
  .58
</td>
<td align="right">
    8.14
</td>
<td align="right">
    .93
</td>
<td align="right">
   2.02
</td>
<td align="right">
     2
</td>
<td align="right">
     4.03
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   54.69
</td>
<td align="right">
  .72
</td>
<td align="right">
    1.49
</td>
<td align="right">
    .27
</td>
<td align="right">
    .61
</td>
<td align="right">
     7
</td>
<td align="right">
     4.26
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   61.10
</td>
<td align="right">
  .57
</td>
<td align="right">
    1.34
</td>
<td align="right">
    .29
</td>
<td align="right">
    .63
</td>
<td align="right">
     6
</td>
<td align="right">
     3.76
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   275
</td>
<td align="right">
   109.19
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 24
</th>
</tr>
<tr>
<td>
APOL
</td>
<td>
2012-05-14 16:15:00
</td>
<td align="right">
   31.98
</td>
<td align="right">
 -.55
</td>
<td align="right">
     .01
</td>
<td align="right">
     .24
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:20:00
</td>
<td align="right">
   31.98
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .02
</td>
<td align="right">
     .19
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:25:00
</td>
<td align="right">
   32.02
</td>
<td align="right">
 -.56
</td>
<td align="right">
     .01
</td>
<td align="right">
     .20
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:00:00
</td>
<td align="right">
   31.99
</td>
<td align="right">
 -.56
</td>
<td align="right">
    -.06
</td>
<td align="right">
     .02
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:05:00
</td>
<td align="right">
   31.99
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .01
</td>
<td align="right">
     .02
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:10:00
</td>
<td align="right">
   32.02
</td>
<td align="right">
 -.56
</td>
<td align="right">
    -.03
</td>
<td align="right">
     .03
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:15:00
</td>
<td align="right">
   32.02
</td>
<td align="right">
 -.56
</td>
<td align="right">
    -.03
</td>
<td align="right">
     .01
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
     .71
</td>
</tr>
<tr>
<td>
CRM
</td>
<td>
2012-05-14 18:45:00
</td>
<td align="right">
  137.63
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.81
</td>
<td align="right">
    1.56
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:50:00
</td>
<td align="right">
  137.58
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.91
</td>
<td align="right">
    1.67
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:55:00
</td>
<td align="right">
  137.64
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -1.14
</td>
<td align="right">
    1.56
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:00:00
</td>
<td align="right">
  137.60
</td>
<td align="right">
 -.66
</td>
<td align="right">
    1.51
</td>
<td align="right">
    1.42
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:05:00
</td>
<td align="right">
  137.73
</td>
<td align="right">
 -.68
</td>
<td align="right">
     .84
</td>
<td align="right">
    1.25
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:10:00
</td>
<td align="right">
  137.57
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .20
</td>
<td align="right">
     .92
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:15:00
</td>
<td align="right">
  137.34
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .81
</td>
<td align="right">
    1.30
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    9.68
</td>
</tr>
<tr>
<td>
MOS
</td>
<td>
2012-05-14 13:35:00
</td>
<td align="right">
   47.90
</td>
<td align="right">
 -.56
</td>
<td align="right">
     .51
</td>
<td align="right">
     .65
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:50:00
</td>
<td align="right">
   47.94
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .36
</td>
<td align="right">
     .65
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:55:00
</td>
<td align="right">
   47.97
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .19
</td>
<td align="right">
     .50
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:00:00
</td>
<td align="right">
   47.97
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .20
</td>
<td align="right">
     .55
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:05:00
</td>
<td align="right">
   47.96
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .17
</td>
<td align="right">
     .56
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:15:00
</td>
<td align="right">
   48.18
</td>
<td align="right">
 -.57
</td>
<td align="right">
    -.13
</td>
<td align="right">
     .29
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:55:00
</td>
<td align="right">
   48.21
</td>
<td align="right">
 -.56
</td>
<td align="right">
    -.15
</td>
<td align="right">
    -.45
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:00:00
</td>
<td align="right">
   48.16
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .43
</td>
<td align="right">
    -.47
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:05:00
</td>
<td align="right">
   48.19
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .36
</td>
<td align="right">
    -.57
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:15:00
</td>
<td align="right">
   48.14
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .23
</td>
<td align="right">
    -.65
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:30:00
</td>
<td align="right">
   48.14
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .38
</td>
<td align="right">
    -.71
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:40:00
</td>
<td align="right">
   48.08
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .46
</td>
<td align="right">
    -.73
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    -.38
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td>
2012-05-14 14:40:00
</td>
<td align="right">
   11.76
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.01
</td>
<td align="right">
    -.15
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:45:00
</td>
<td align="right">
   11.75
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .02
</td>
<td align="right">
    -.13
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:50:00
</td>
<td align="right">
   11.73
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .04
</td>
<td align="right">
    -.12
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:55:00
</td>
<td align="right">
   11.74
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .03
</td>
<td align="right">
    -.14
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:00:00
</td>
<td align="right">
   11.74
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .04
</td>
<td align="right">
    -.15
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:05:00
</td>
<td align="right">
   11.74
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .05
</td>
<td align="right">
    -.17
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:10:00
</td>
<td align="right">
   11.72
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .07
</td>
<td align="right">
    -.17
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:15:00
</td>
<td align="right">
   11.71
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .10
</td>
<td align="right">
    -.15
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:20:00
</td>
<td align="right">
   11.75
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .05
</td>
<td align="right">
    -.22
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:25:00
</td>
<td align="right">
   11.76
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .03
</td>
<td align="right">
    -.27
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:30:00
</td>
<td align="right">
   11.75
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .01
</td>
<td align="right">
    -.24
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:40:00
</td>
<td align="right">
   11.75
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .02
</td>
<td align="right">
    -.27
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:55:00
</td>
<td align="right">
   11.75
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .10
</td>
<td align="right">
    -.43
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -2.61
</td>
</tr>
<tr>
<td>
UA
</td>
<td>
2012-05-14 15:30:00
</td>
<td align="right">
   94.75
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.36
</td>
<td align="right">
     .26
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:35:00
</td>
<td align="right">
   94.52
</td>
<td align="right">
 -.58
</td>
<td align="right">
    -.22
</td>
<td align="right">
     .75
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:40:00
</td>
<td align="right">
   94.38
</td>
<td align="right">
 -.56
</td>
<td align="right">
    -.02
</td>
<td align="right">
     .84
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:45:00
</td>
<td align="right">
   94.35
</td>
<td align="right">
 -.57
</td>
<td align="right">
    -.06
</td>
<td align="right">
    1.04
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:50:00
</td>
<td align="right">
   94.50
</td>
<td align="right">
 -.56
</td>
<td align="right">
    -.13
</td>
<td align="right">
     .67
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:55:00
</td>
<td align="right">
   94.62
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.42
</td>
<td align="right">
     .55
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:00:00
</td>
<td align="right">
   94.42
</td>
<td align="right">
 -.55
</td>
<td align="right">
    -.24
</td>
<td align="right">
     .77
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:05:00
</td>
<td align="right">
   94.40
</td>
<td align="right">
 -.57
</td>
<td align="right">
    -.19
</td>
<td align="right">
    1.15
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:40:00
</td>
<td align="right">
   94.36
</td>
<td align="right">
 -.56
</td>
<td align="right">
     .18
</td>
<td align="right">
    1.38
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:45:00
</td>
<td align="right">
   94.29
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .20
</td>
<td align="right">
    1.33
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:50:00
</td>
<td align="right">
   94.37
</td>
<td align="right">
 -.56
</td>
<td align="right">
     .35
</td>
<td align="right">
    1.01
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:55:00
</td>
<td align="right">
   94.20
</td>
<td align="right">
 -.56
</td>
<td align="right">
     .34
</td>
<td align="right">
    1.13
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:35:00
</td>
<td align="right">
   94.61
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.20
</td>
<td align="right">
     .57
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:25:00
</td>
<td align="right">
   94.55
</td>
<td align="right">
 -.57
</td>
<td align="right">
    -.56
</td>
<td align="right">
     .62
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:45:00
</td>
<td align="right">
   94.60
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.46
</td>
<td align="right">
     .53
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:50:00
</td>
<td align="right">
   94.57
</td>
<td align="right">
 -.56
</td>
<td align="right">
    -.50
</td>
<td align="right">
     .43
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:00:00
</td>
<td align="right">
   94.33
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .39
</td>
<td align="right">
     .66
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:05:00
</td>
<td align="right">
   94.20
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .54
</td>
<td align="right">
     .69
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:15:00
</td>
<td align="right">
   94.19
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .95
</td>
<td align="right">
     .35
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   14.73
</td>
</tr>
</table>
<table class="table_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 24
</th>
</tr>
<tr>
<td>
AMGN
</td>
<td>
2012-05-14 15:20:00
</td>
<td align="right">
   70.32
</td>
<td align="right">
  .55
</td>
<td align="right">
     .35
</td>
<td align="right">
    -.03
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:25:00
</td>
<td align="right">
   70.45
</td>
<td align="right">
  .58
</td>
<td align="right">
     .19
</td>
<td align="right">
    -.21
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:30:00
</td>
<td align="right">
   70.47
</td>
<td align="right">
  .56
</td>
<td align="right">
     .02
</td>
<td align="right">
    -.21
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:35:00
</td>
<td align="right">
   70.44
</td>
<td align="right">
  .57
</td>
<td align="right">
     .06
</td>
<td align="right">
    -.16
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:45:00
</td>
<td align="right">
   70.45
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.03
</td>
<td align="right">
    -.02
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:50:00
</td>
<td align="right">
   70.47
</td>
<td align="right">
  .57
</td>
<td align="right">
     .03
</td>
<td align="right">
     .02
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:05:00
</td>
<td align="right">
   70.60
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.12
</td>
<td align="right">
     .02
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:10:00
</td>
<td align="right">
   70.61
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.16
</td>
<td align="right">
     .08
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:25:00
</td>
<td align="right">
   70.64
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.22
</td>
<td align="right">
    -.03
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:40:00
</td>
<td align="right">
   70.48
</td>
<td align="right">
  .60
</td>
<td align="right">
     .04
</td>
<td align="right">
     .12
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:05:00
</td>
<td align="right">
   70.48
</td>
<td align="right">
  .61
</td>
<td align="right">
     .19
</td>
<td align="right">
     .07
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:10:00
</td>
<td align="right">
   70.45
</td>
<td align="right">
  .57
</td>
<td align="right">
     .16
</td>
<td align="right">
     .11
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:15:00
</td>
<td align="right">
   70.40
</td>
<td align="right">
  .55
</td>
<td align="right">
     .12
</td>
<td align="right">
     .14
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:20:00
</td>
<td align="right">
   70.45
</td>
<td align="right">
  .56
</td>
<td align="right">
     .10
</td>
<td align="right">
     .14
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:25:00
</td>
<td align="right">
   70.42
</td>
<td align="right">
  .56
</td>
<td align="right">
     .17
</td>
<td align="right">
     .16
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:30:00
</td>
<td align="right">
   70.49
</td>
<td align="right">
  .58
</td>
<td align="right">
     .06
</td>
<td align="right">
     .02
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:35:00
</td>
<td align="right">
   70.50
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.01
</td>
<td align="right">
     .02
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:40:00
</td>
<td align="right">
   70.52
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.07
</td>
<td align="right">
    -.14
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:45:00
</td>
<td align="right">
   70.50
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.10
</td>
<td align="right">
    -.10
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:50:00
</td>
<td align="right">
   70.60
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.19
</td>
<td align="right">
    -.15
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:55:00
</td>
<td align="right">
   70.60
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.24
</td>
<td align="right">
    -.14
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:05:00
</td>
<td align="right">
   70.67
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.37
</td>
<td align="right">
    -.21
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:10:00
</td>
<td align="right">
   70.61
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.28
</td>
<td align="right">
    -.07
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:15:00
</td>
<td align="right">
   70.52
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.21
</td>
<td align="right">
    -.01
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:20:00
</td>
<td align="right">
   70.55
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.25
</td>
<td align="right">
     .05
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:25:00
</td>
<td align="right">
   70.59
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.33
</td>
<td align="right">
     .02
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:30:00
</td>
<td align="right">
   70.55
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.25
</td>
<td align="right">
     .10
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:35:00
</td>
<td align="right">
   70.49
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.19
</td>
<td align="right">
     .14
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:40:00
</td>
<td align="right">
   70.45
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.22
</td>
<td align="right">
     .22
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:45:00
</td>
<td align="right">
   70.40
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.12
</td>
<td align="right">
     .27
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:50:00
</td>
<td align="right">
   70.41
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.15
</td>
<td align="right">
     .23
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:55:00
</td>
<td align="right">
   70.36
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.17
</td>
<td align="right">
     .29
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
     .74
</td>
</tr>
<tr>
<td>
APC
</td>
<td>
2012-05-14 14:45:00
</td>
<td align="right">
   67.03
</td>
<td align="right">
  .56
</td>
<td align="right">
     .25
</td>
<td align="right">
     .95
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:55:00
</td>
<td align="right">
   67.05
</td>
<td align="right">
  .57
</td>
<td align="right">
     .27
</td>
<td align="right">
     .45
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:05:00
</td>
<td align="right">
   66.93
</td>
<td align="right">
  .56
</td>
<td align="right">
     .42
</td>
<td align="right">
     .36
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:10:00
</td>
<td align="right">
   66.93
</td>
<td align="right">
  .55
</td>
<td align="right">
     .35
</td>
<td align="right">
     .13
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:00:00
</td>
<td align="right">
   67.44
</td>
<td align="right">
  .58
</td>
<td align="right">
     .15
</td>
<td align="right">
    -.36
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:05:00
</td>
<td align="right">
   67.39
</td>
<td align="right">
  .62
</td>
<td align="right">
     .09
</td>
<td align="right">
    -.29
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:30:00
</td>
<td align="right">
   67.41
</td>
<td align="right">
  .56
</td>
<td align="right">
     .10
</td>
<td align="right">
    -.53
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:35:00
</td>
<td align="right">
   67.42
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.03
</td>
<td align="right">
    -.56
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:40:00
</td>
<td align="right">
   67.39
</td>
<td align="right">
  .58
</td>
<td align="right">
     .06
</td>
<td align="right">
    -.62
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    -.47
</td>
</tr>
<tr>
<td>
CMG
</td>
<td>
2012-05-14 13:30:00
</td>
<td align="right">
  404.68
</td>
<td align="right">
  .72
</td>
<td align="right">
   -3.91
</td>
<td align="right">
   -2.11
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:35:00
</td>
<td align="right">
  403.84
</td>
<td align="right">
  .68
</td>
<td align="right">
   -1.65
</td>
<td align="right">
   -3.40
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:40:00
</td>
<td align="right">
  403.44
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.15
</td>
<td align="right">
   -1.71
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:45:00
</td>
<td align="right">
  402.59
</td>
<td align="right">
  .68
</td>
<td align="right">
     .14
</td>
<td align="right">
    -.87
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:50:00
</td>
<td align="right">
  402.70
</td>
<td align="right">
  .71
</td>
<td align="right">
     .93
</td>
<td align="right">
    -.69
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:55:00
</td>
<td align="right">
  403.09
</td>
<td align="right">
  .73
</td>
<td align="right">
    -.06
</td>
<td align="right">
   -1.22
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:00:00
</td>
<td align="right">
  403.30
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.31
</td>
<td align="right">
   -1.84
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:05:00
</td>
<td align="right">
  402.44
</td>
<td align="right">
  .69
</td>
<td align="right">
     .21
</td>
<td align="right">
     .75
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:10:00
</td>
<td align="right">
  402.20
</td>
<td align="right">
  .67
</td>
<td align="right">
     .09
</td>
<td align="right">
    1.69
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:15:00
</td>
<td align="right">
  401.47
</td>
<td align="right">
  .68
</td>
<td align="right">
    1.04
</td>
<td align="right">
    2.20
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:20:00
</td>
<td align="right">
  401.23
</td>
<td align="right">
  .64
</td>
<td align="right">
    1.64
</td>
<td align="right">
    3.68
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:35:00
</td>
<td align="right">
  402.19
</td>
<td align="right">
  .69
</td>
<td align="right">
    1.83
</td>
<td align="right">
    2.63
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:40:00
</td>
<td align="right">
  403.29
</td>
<td align="right">
  .60
</td>
<td align="right">
     .52
</td>
<td align="right">
     .49
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:45:00
</td>
<td align="right">
  402.73
</td>
<td align="right">
  .70
</td>
<td align="right">
     .94
</td>
<td align="right">
    1.86
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:55:00
</td>
<td align="right">
  403.03
</td>
<td align="right">
  .69
</td>
<td align="right">
     .19
</td>
<td align="right">
    2.64
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:00:00
</td>
<td align="right">
  402.99
</td>
<td align="right">
  .69
</td>
<td align="right">
     .21
</td>
<td align="right">
    2.16
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:05:00
</td>
<td align="right">
  402.65
</td>
<td align="right">
  .73
</td>
<td align="right">
    -.06
</td>
<td align="right">
    1.65
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:10:00
</td>
<td align="right">
  402.29
</td>
<td align="right">
  .64
</td>
<td align="right">
     .51
</td>
<td align="right">
     .52
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:15:00
</td>
<td align="right">
  402.51
</td>
<td align="right">
  .70
</td>
<td align="right">
     .40
</td>
<td align="right">
     .49
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:20:00
</td>
<td align="right">
  402.87
</td>
<td align="right">
  .68
</td>
<td align="right">
     .86
</td>
<td align="right">
    -.08
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:30:00
</td>
<td align="right">
  404.74
</td>
<td align="right">
  .63
</td>
<td align="right">
   -1.92
</td>
<td align="right">
   -1.30
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:35:00
</td>
<td align="right">
  404.02
</td>
<td align="right">
  .73
</td>
<td align="right">
   -1.37
</td>
<td align="right">
     .64
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:40:00
</td>
<td align="right">
  403.81
</td>
<td align="right">
  .72
</td>
<td align="right">
    -.90
</td>
<td align="right">
    1.34
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:45:00
</td>
<td align="right">
  403.67
</td>
<td align="right">
  .71
</td>
<td align="right">
    -.67
</td>
<td align="right">
    2.13
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:50:00
</td>
<td align="right">
  403.44
</td>
<td align="right">
  .61
</td>
<td align="right">
     .16
</td>
<td align="right">
    1.53
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:55:00
</td>
<td align="right">
  403.22
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.25
</td>
<td align="right">
    1.87
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:00:00
</td>
<td align="right">
  403.20
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.14
</td>
<td align="right">
    2.20
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:05:00
</td>
<td align="right">
  402.59
</td>
<td align="right">
  .68
</td>
<td align="right">
     .38
</td>
<td align="right">
    3.62
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:10:00
</td>
<td align="right">
  402.80
</td>
<td align="right">
  .70
</td>
<td align="right">
    -.42
</td>
<td align="right">
    3.95
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:15:00
</td>
<td align="right">
  402.91
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.84
</td>
<td align="right">
    3.39
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:20:00
</td>
<td align="right">
  403.73
</td>
<td align="right">
  .67
</td>
<td align="right">
   -1.97
</td>
<td align="right">
    1.96
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:25:00
</td>
<td align="right">
  402.70
</td>
<td align="right">
  .67
</td>
<td align="right">
   -1.15
</td>
<td align="right">
    3.40
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:30:00
</td>
<td align="right">
  402.82
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.43
</td>
<td align="right">
    3.10
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:35:00
</td>
<td align="right">
  402.65
</td>
<td align="right">
  .67
</td>
<td align="right">
     .07
</td>
<td align="right">
    3.74
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:40:00
</td>
<td align="right">
  402.91
</td>
<td align="right">
  .55
</td>
<td align="right">
     .29
</td>
<td align="right">
    3.52
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:45:00
</td>
<td align="right">
  403.00
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.05
</td>
<td align="right">
    3.24
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:50:00
</td>
<td align="right">
  403.60
</td>
<td align="right">
  .58
</td>
<td align="right">
     .16
</td>
<td align="right">
    2.42
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:55:00
</td>
<td align="right">
  402.97
</td>
<td align="right">
  .59
</td>
<td align="right">
     .92
</td>
<td align="right">
    2.75
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:00:00
</td>
<td align="right">
  403.06
</td>
<td align="right">
  .59
</td>
<td align="right">
    1.81
</td>
<td align="right">
    2.79
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:05:00
</td>
<td align="right">
  402.97
</td>
<td align="right">
  .60
</td>
<td align="right">
    2.35
</td>
<td align="right">
    3.23
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:10:00
</td>
<td align="right">
  402.38
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.61
</td>
<td align="right">
    3.94
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:15:00
</td>
<td align="right">
  402.07
</td>
<td align="right">
  .68
</td>
<td align="right">
     .35
</td>
<td align="right">
    3.86
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:20:00
</td>
<td align="right">
  401.76
</td>
<td align="right">
  .64
</td>
<td align="right">
     .62
</td>
<td align="right">
    4.11
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:25:00
</td>
<td align="right">
  401.55
</td>
<td align="right">
  .64
</td>
<td align="right">
    1.68
</td>
<td align="right">
    3.98
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:30:00
</td>
<td align="right">
  401.39
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.74
</td>
<td align="right">
    4.13
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:35:00
</td>
<td align="right">
  402.72
</td>
<td align="right">
  .61
</td>
<td align="right">
     .13
</td>
<td align="right">
    2.68
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:40:00
</td>
<td align="right">
  403.20
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.62
</td>
<td align="right">
    2.08
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:45:00
</td>
<td align="right">
  401.95
</td>
<td align="right">
  .69
</td>
<td align="right">
     .31
</td>
<td align="right">
    3.49
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:50:00
</td>
<td align="right">
  403.76
</td>
<td align="right">
  .70
</td>
<td align="right">
   -1.27
</td>
<td align="right">
    1.31
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:55:00
</td>
<td align="right">
  403.89
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.77
</td>
<td align="right">
    1.56
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:00:00
</td>
<td align="right">
  404.87
</td>
<td align="right">
  .74
</td>
<td align="right">
   -3.15
</td>
<td align="right">
     .91
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:05:00
</td>
<td align="right">
  405.32
</td>
<td align="right">
  .61
</td>
<td align="right">
   -3.49
</td>
<td align="right">
    -.10
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:10:00
</td>
<td align="right">
  403.99
</td>
<td align="right">
  .72
</td>
<td align="right">
   -2.16
</td>
<td align="right">
    1.59
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:15:00
</td>
<td align="right">
  402.42
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.09
</td>
<td align="right">
    2.82
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:20:00
</td>
<td align="right">
  402.38
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.83
</td>
<td align="right">
    3.21
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:25:00
</td>
<td align="right">
  403.23
</td>
<td align="right">
  .66
</td>
<td align="right">
   -2.23
</td>
<td align="right">
    2.07
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:30:00
</td>
<td align="right">
  403.13
</td>
<td align="right">
  .66
</td>
<td align="right">
   -1.97
</td>
<td align="right">
    2.83
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:40:00
</td>
<td align="right">
  402.58
</td>
<td align="right">
  .59
</td>
<td align="right">
   -2.58
</td>
<td align="right">
    3.14
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:50:00
</td>
<td align="right">
  402.49
</td>
<td align="right">
  .59
</td>
<td align="right">
   -2.90
</td>
<td align="right">
    2.37
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:55:00
</td>
<td align="right">
  402.12
</td>
<td align="right">
  .66
</td>
<td align="right">
   -2.20
</td>
<td align="right">
    2.64
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:00:00
</td>
<td align="right">
  401.72
</td>
<td align="right">
  .64
</td>
<td align="right">
     .85
</td>
<td align="right">
    1.84
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:05:00
</td>
<td align="right">
  401.83
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.39
</td>
<td align="right">
    1.30
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:10:00
</td>
<td align="right">
  401.83
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.10
</td>
<td align="right">
     .64
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:20:00
</td>
<td align="right">
  401.55
</td>
<td align="right">
  .63
</td>
<td align="right">
     .46
</td>
<td align="right">
    1.63
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:25:00
</td>
<td align="right">
  401.00
</td>
<td align="right">
  .63
</td>
<td align="right">
     .87
</td>
<td align="right">
    1.97
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:30:00
</td>
<td align="right">
  401.16
</td>
<td align="right">
  .62
</td>
<td align="right">
     .30
</td>
<td align="right">
    2.67
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  121.03
</td>
</tr>
<tr>
<td>
CRM
</td>
<td>
2012-05-14 13:30:00
</td>
<td align="right">
  135.80
</td>
<td align="right">
  .65
</td>
<td align="right">
     .11
</td>
<td align="right">
    3.31
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:35:00
</td>
<td align="right">
  135.25
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.35
</td>
<td align="right">
    3.32
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:40:00
</td>
<td align="right">
  135.33
</td>
<td align="right">
  .68
</td>
<td align="right">
    1.49
</td>
<td align="right">
    2.44
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:45:00
</td>
<td align="right">
  135.54
</td>
<td align="right">
  .69
</td>
<td align="right">
    1.34
</td>
<td align="right">
    2.61
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:50:00
</td>
<td align="right">
  135.98
</td>
<td align="right">
  .73
</td>
<td align="right">
    1.33
</td>
<td align="right">
    2.01
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:55:00
</td>
<td align="right">
  136.22
</td>
<td align="right">
  .78
</td>
<td align="right">
     .66
</td>
<td align="right">
    1.44
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:00:00
</td>
<td align="right">
  136.66
</td>
<td align="right">
  .55
</td>
<td align="right">
     .50
</td>
<td align="right">
    1.20
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:05:00
</td>
<td align="right">
  136.14
</td>
<td align="right">
  .72
</td>
<td align="right">
     .36
</td>
<td align="right">
    1.91
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:10:00
</td>
<td align="right">
  135.58
</td>
<td align="right">
  .70
</td>
<td align="right">
     .89
</td>
<td align="right">
    2.59
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:15:00
</td>
<td align="right">
  135.50
</td>
<td align="right">
  .70
</td>
<td align="right">
    1.15
</td>
<td align="right">
    2.51
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:20:00
</td>
<td align="right">
  135.84
</td>
<td align="right">
  .74
</td>
<td align="right">
    1.05
</td>
<td align="right">
    2.53
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:25:00
</td>
<td align="right">
  135.27
</td>
<td align="right">
  .63
</td>
<td align="right">
    2.01
</td>
<td align="right">
    3.04
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:30:00
</td>
<td align="right">
  135.91
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.00
</td>
<td align="right">
    2.45
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:45:00
</td>
<td align="right">
  136.88
</td>
<td align="right">
  .55
</td>
<td align="right">
     .58
</td>
<td align="right">
    2.09
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   33.45
</td>
</tr>
<tr>
<td>
CVX
</td>
<td>
2012-05-14 16:40:00
</td>
<td align="right">
  101.99
</td>
<td align="right">
  .80
</td>
<td align="right">
     .13
</td>
<td align="right">
    -.12
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:45:00
</td>
<td align="right">
  102.04
</td>
<td align="right">
  .75
</td>
<td align="right">
     .03
</td>
<td align="right">
    -.22
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:50:00
</td>
<td align="right">
  102.04
</td>
<td align="right">
  .75
</td>
<td align="right">
     .18
</td>
<td align="right">
    -.23
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:55:00
</td>
<td align="right">
  102.03
</td>
<td align="right">
  .73
</td>
<td align="right">
     .17
</td>
<td align="right">
    -.19
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:00:00
</td>
<td align="right">
  102.12
</td>
<td align="right">
  .69
</td>
<td align="right">
     .15
</td>
<td align="right">
    -.35
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -1.11
</td>
</tr>
<tr>
<td>
DIA
</td>
<td>
2012-05-14 13:30:00
</td>
<td align="right">
  127.35
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.52
</td>
<td align="right">
    -.34
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:40:00
</td>
<td align="right">
  126.85
</td>
<td align="right">
  .63
</td>
<td align="right">
     .15
</td>
<td align="right">
     .10
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    -.24
</td>
</tr>
<tr>
<td>
HD
</td>
<td>
2012-05-14 13:30:00
</td>
<td align="right">
   50.42
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.57
</td>
<td align="right">
   -2.51
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:40:00
</td>
<td align="right">
   50.15
</td>
<td align="right">
  .72
</td>
<td align="right">
    -.18
</td>
<td align="right">
   -1.75
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:45:00
</td>
<td align="right">
   50.04
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.15
</td>
<td align="right">
   -1.28
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:50:00
</td>
<td align="right">
   50.17
</td>
<td align="right">
  .72
</td>
<td align="right">
    -.26
</td>
<td align="right">
   -1.86
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:55:00
</td>
<td align="right">
   50.12
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.23
</td>
<td align="right">
   -1.73
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:00:00
</td>
<td align="right">
   50.07
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.07
</td>
<td align="right">
   -1.62
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:05:00
</td>
<td align="right">
   50.09
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.13
</td>
<td align="right">
   -1.60
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:10:00
</td>
<td align="right">
   50.08
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.07
</td>
<td align="right">
   -1.36
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:15:00
</td>
<td align="right">
   50.00
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.06
</td>
<td align="right">
   -1.34
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:20:00
</td>
<td align="right">
   50.00
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.02
</td>
<td align="right">
   -1.01
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:40:00
</td>
<td align="right">
   49.97
</td>
<td align="right">
  .55
</td>
<td align="right">
     .07
</td>
<td align="right">
    -.78
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:50:00
</td>
<td align="right">
   49.91
</td>
<td align="right">
  .60
</td>
<td align="right">
     .18
</td>
<td align="right">
    -.67
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:00:00
</td>
<td align="right">
   50.00
</td>
<td align="right">
  .70
</td>
<td align="right">
     .15
</td>
<td align="right">
    -.98
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:05:00
</td>
<td align="right">
   49.96
</td>
<td align="right">
  .57
</td>
<td align="right">
     .15
</td>
<td align="right">
    -.95
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:10:00
</td>
<td align="right">
   50.01
</td>
<td align="right">
  .67
</td>
<td align="right">
     .08
</td>
<td align="right">
   -1.05
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:25:00
</td>
<td align="right">
   50.03
</td>
<td align="right">
  .66
</td>
<td align="right">
     .00
</td>
<td align="right">
   -1.05
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:30:00
</td>
<td align="right">
   50.02
</td>
<td align="right">
  .66
</td>
<td align="right">
     .03
</td>
<td align="right">
   -1.18
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:35:00
</td>
<td align="right">
   50.01
</td>
<td align="right">
  .68
</td>
<td align="right">
     .07
</td>
<td align="right">
   -1.08
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:40:00
</td>
<td align="right">
   50.04
</td>
<td align="right">
  .65
</td>
<td align="right">
     .11
</td>
<td align="right">
   -1.17
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:45:00
</td>
<td align="right">
   50.07
</td>
<td align="right">
  .63
</td>
<td align="right">
     .19
</td>
<td align="right">
   -1.22
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:50:00
</td>
<td align="right">
   50.09
</td>
<td align="right">
  .61
</td>
<td align="right">
     .23
</td>
<td align="right">
   -1.29
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:55:00
</td>
<td align="right">
   50.16
</td>
<td align="right">
  .59
</td>
<td align="right">
     .03
</td>
<td align="right">
   -1.33
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:00:00
</td>
<td align="right">
   50.15
</td>
<td align="right">
  .60
</td>
<td align="right">
     .13
</td>
<td align="right">
   -1.22
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:05:00
</td>
<td align="right">
   50.11
</td>
<td align="right">
  .62
</td>
<td align="right">
     .14
</td>
<td align="right">
   -1.10
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:10:00
</td>
<td align="right">
   50.09
</td>
<td align="right">
  .58
</td>
<td align="right">
     .05
</td>
<td align="right">
    -.98
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:15:00
</td>
<td align="right">
   50.11
</td>
<td align="right">
  .60
</td>
<td align="right">
     .00
</td>
<td align="right">
   -1.04
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:20:00
</td>
<td align="right">
   50.11
</td>
<td align="right">
  .61
</td>
<td align="right">
     .06
</td>
<td align="right">
   -1.10
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:25:00
</td>
<td align="right">
   50.03
</td>
<td align="right">
  .65
</td>
<td align="right">
     .10
</td>
<td align="right">
    -.97
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:30:00
</td>
<td align="right">
   50.05
</td>
<td align="right">
  .63
</td>
<td align="right">
     .09
</td>
<td align="right">
   -1.05
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:35:00
</td>
<td align="right">
   50.08
</td>
<td align="right">
  .58
</td>
<td align="right">
     .12
</td>
<td align="right">
    -.99
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:40:00
</td>
<td align="right">
   50.15
</td>
<td align="right">
  .56
</td>
<td align="right">
     .07
</td>
<td align="right">
   -1.11
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:00:00
</td>
<td align="right">
   50.28
</td>
<td align="right">
  .55
</td>
<td align="right">
    -.03
</td>
<td align="right">
   -1.09
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:10:00
</td>
<td align="right">
   50.14
</td>
<td align="right">
  .56
</td>
<td align="right">
     .09
</td>
<td align="right">
    -.73
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:15:00
</td>
<td align="right">
   50.11
</td>
<td align="right">
  .58
</td>
<td align="right">
     .10
</td>
<td align="right">
    -.80
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:20:00
</td>
<td align="right">
   50.17
</td>
<td align="right">
  .56
</td>
<td align="right">
     .04
</td>
<td align="right">
    -.77
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:25:00
</td>
<td align="right">
   50.13
</td>
<td align="right">
  .57
</td>
<td align="right">
     .08
</td>
<td align="right">
    -.68
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:30:00
</td>
<td align="right">
   50.14
</td>
<td align="right">
  .57
</td>
<td align="right">
     .13
</td>
<td align="right">
    -.89
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:30:00
</td>
<td align="right">
   50.27
</td>
<td align="right">
  .55
</td>
<td align="right">
    -.23
</td>
<td align="right">
   -1.21
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:45:00
</td>
<td align="right">
   50.06
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.12
</td>
<td align="right">
   -1.17
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:50:00
</td>
<td align="right">
   50.07
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.12
</td>
<td align="right">
   -1.25
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:55:00
</td>
<td align="right">
   50.03
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.12
</td>
<td align="right">
   -1.21
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:00:00
</td>
<td align="right">
   50.00
</td>
<td align="right">
  .66
</td>
<td align="right">
   -2.09
</td>
<td align="right">
   -1.26
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:10:00
</td>
<td align="right">
   50.04
</td>
<td align="right">
  .65
</td>
<td align="right">
   -1.64
</td>
<td align="right">
   -1.40
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:20:00
</td>
<td align="right">
   50.00
</td>
<td align="right">
  .66
</td>
<td align="right">
   -1.69
</td>
<td align="right">
   -1.23
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:25:00
</td>
<td align="right">
   50.00
</td>
<td align="right">
  .65
</td>
<td align="right">
   -1.61
</td>
<td align="right">
   -1.33
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:30:00
</td>
<td align="right">
   50.04
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.59
</td>
<td align="right">
   -1.38
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -54.77
</td>
</tr>
<tr>
<td>
IWM
</td>
<td>
2012-05-14 13:40:00
</td>
<td align="right">
   78.02
</td>
<td align="right">
  .84
</td>
<td align="right">
    -.07
</td>
<td align="right">
    -.24
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:45:00
</td>
<td align="right">
   78.03
</td>
<td align="right">
  .85
</td>
<td align="right">
    -.06
</td>
<td align="right">
    -.17
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:50:00
</td>
<td align="right">
   78.15
</td>
<td align="right">
  .86
</td>
<td align="right">
    -.07
</td>
<td align="right">
    -.19
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:55:00
</td>
<td align="right">
   78.04
</td>
<td align="right">
  .85
</td>
<td align="right">
    -.04
</td>
<td align="right">
    -.10
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:00:00
</td>
<td align="right">
   77.97
</td>
<td align="right">
  .79
</td>
<td align="right">
     .09
</td>
<td align="right">
     .04
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:05:00
</td>
<td align="right">
   77.90
</td>
<td align="right">
  .67
</td>
<td align="right">
     .07
</td>
<td align="right">
     .21
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:10:00
</td>
<td align="right">
   77.84
</td>
<td align="right">
  .73
</td>
<td align="right">
     .12
</td>
<td align="right">
     .25
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:15:00
</td>
<td align="right">
   77.84
</td>
<td align="right">
  .77
</td>
<td align="right">
     .10
</td>
<td align="right">
     .24
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:20:00
</td>
<td align="right">
   77.79
</td>
<td align="right">
  .75
</td>
<td align="right">
     .31
</td>
<td align="right">
     .42
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:25:00
</td>
<td align="right">
   77.65
</td>
<td align="right">
  .66
</td>
<td align="right">
     .48
</td>
<td align="right">
     .64
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:30:00
</td>
<td align="right">
   77.80
</td>
<td align="right">
  .72
</td>
<td align="right">
     .33
</td>
<td align="right">
     .40
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:50:00
</td>
<td align="right">
   78.08
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.02
</td>
<td align="right">
     .07
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:55:00
</td>
<td align="right">
   78.00
</td>
<td align="right">
  .58
</td>
<td align="right">
     .10
</td>
<td align="right">
     .14
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:00:00
</td>
<td align="right">
   78.06
</td>
<td align="right">
  .58
</td>
<td align="right">
     .06
</td>
<td align="right">
    -.07
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:20:00
</td>
<td align="right">
   78.10
</td>
<td align="right">
  .69
</td>
<td align="right">
     .08
</td>
<td align="right">
    -.24
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:25:00
</td>
<td align="right">
   78.13
</td>
<td align="right">
  .74
</td>
<td align="right">
     .01
</td>
<td align="right">
    -.34
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:30:00
</td>
<td align="right">
   78.13
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.04
</td>
<td align="right">
    -.20
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:35:00
</td>
<td align="right">
   78.06
</td>
<td align="right">
  .69
</td>
<td align="right">
     .03
</td>
<td align="right">
     .10
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:40:00
</td>
<td align="right">
   78.00
</td>
<td align="right">
  .68
</td>
<td align="right">
     .15
</td>
<td align="right">
     .17
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:45:00
</td>
<td align="right">
   78.04
</td>
<td align="right">
  .71
</td>
<td align="right">
     .13
</td>
<td align="right">
     .34
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:50:00
</td>
<td align="right">
   78.06
</td>
<td align="right">
  .66
</td>
<td align="right">
     .14
</td>
<td align="right">
     .25
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:55:00
</td>
<td align="right">
   78.10
</td>
<td align="right">
  .66
</td>
<td align="right">
     .02
</td>
<td align="right">
     .26
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:00:00
</td>
<td align="right">
   78.12
</td>
<td align="right">
  .76
</td>
<td align="right">
     .08
</td>
<td align="right">
     .25
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:05:00
</td>
<td align="right">
   78.09
</td>
<td align="right">
  .70
</td>
<td align="right">
     .10
</td>
<td align="right">
     .35
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:10:00
</td>
<td align="right">
   78.09
</td>
<td align="right">
  .65
</td>
<td align="right">
     .03
</td>
<td align="right">
     .35
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:15:00
</td>
<td align="right">
   78.14
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.06
</td>
<td align="right">
     .22
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:25:00
</td>
<td align="right">
   78.14
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.07
</td>
<td align="right">
     .23
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:30:00
</td>
<td align="right">
   78.09
</td>
<td align="right">
  .60
</td>
<td align="right">
     .08
</td>
<td align="right">
     .21
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:35:00
</td>
<td align="right">
   78.09
</td>
<td align="right">
  .55
</td>
<td align="right">
     .14
</td>
<td align="right">
     .29
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:50:00
</td>
<td align="right">
   78.20
</td>
<td align="right">
  .58
</td>
<td align="right">
     .20
</td>
<td align="right">
     .03
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:55:00
</td>
<td align="right">
   78.12
</td>
<td align="right">
  .57
</td>
<td align="right">
     .24
</td>
<td align="right">
     .13
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:10:00
</td>
<td align="right">
   78.12
</td>
<td align="right">
  .57
</td>
<td align="right">
     .24
</td>
<td align="right">
     .20
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:50:00
</td>
<td align="right">
   78.40
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.25
</td>
<td align="right">
    -.32
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:55:00
</td>
<td align="right">
   78.36
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.26
</td>
<td align="right">
    -.33
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:05:00
</td>
<td align="right">
   78.02
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.16
</td>
<td align="right">
    -.23
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:10:00
</td>
<td align="right">
   78.02
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.24
</td>
<td align="right">
    -.41
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:15:00
</td>
<td align="right">
   78.01
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.15
</td>
<td align="right">
    -.36
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:20:00
</td>
<td align="right">
   77.98
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.02
</td>
<td align="right">
    -.36
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:25:00
</td>
<td align="right">
   77.96
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.02
</td>
<td align="right">
    -.46
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:30:00
</td>
<td align="right">
   78.02
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.01
</td>
<td align="right">
    -.39
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:35:00
</td>
<td align="right">
   77.97
</td>
<td align="right">
  .65
</td>
<td align="right">
     .14
</td>
<td align="right">
    -.41
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:50:00
</td>
<td align="right">
   77.90
</td>
<td align="right">
  .55
</td>
<td align="right">
     .31
</td>
<td align="right">
    -.29
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
     .68
</td>
</tr>
<tr>
<td>
MA
</td>
<td>
2012-05-14 15:25:00
</td>
<td align="right">
  419.79
</td>
<td align="right">
  .59
</td>
<td align="right">
     .14
</td>
<td align="right">
   -4.51
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:30:00
</td>
<td align="right">
  419.48
</td>
<td align="right">
  .63
</td>
<td align="right">
     .11
</td>
<td align="right">
   -1.87
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:35:00
</td>
<td align="right">
  419.49
</td>
<td align="right">
  .64
</td>
<td align="right">
     .24
</td>
<td align="right">
   -1.73
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:45:00
</td>
<td align="right">
  419.33
</td>
<td align="right">
  .62
</td>
<td align="right">
     .41
</td>
<td align="right">
    -.23
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:50:00
</td>
<td align="right">
  419.24
</td>
<td align="right">
  .61
</td>
<td align="right">
     .94
</td>
<td align="right">
    -.55
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:55:00
</td>
<td align="right">
  419.71
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.39
</td>
<td align="right">
    -.47
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:05:00
</td>
<td align="right">
  419.60
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.08
</td>
<td align="right">
    -.05
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:10:00
</td>
<td align="right">
  419.41
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.62
</td>
<td align="right">
     .55
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:40:00
</td>
<td align="right">
  415.61
</td>
<td align="right">
  .55
</td>
<td align="right">
    2.01
</td>
<td align="right">
    -.60
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -9.46
</td>
</tr>
<tr>
<td>
MMM
</td>
<td>
2012-05-14 15:30:00
</td>
<td align="right">
   86.30
</td>
<td align="right">
  .55
</td>
<td align="right">
    -.03
</td>
<td align="right">
    -.32
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:30:00
</td>
<td align="right">
   86.27
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.09
</td>
<td align="right">
    -.01
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:55:00
</td>
<td align="right">
   86.29
</td>
<td align="right">
  .57
</td>
<td align="right">
     .07
</td>
<td align="right">
    -.12
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:05:00
</td>
<td align="right">
   86.30
</td>
<td align="right">
  .57
</td>
<td align="right">
     .17
</td>
<td align="right">
    -.10
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:10:00
</td>
<td align="right">
   86.22
</td>
<td align="right">
  .56
</td>
<td align="right">
     .17
</td>
<td align="right">
     .01
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:35:00
</td>
<td align="right">
   86.29
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.05
</td>
<td align="right">
    -.17
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:45:00
</td>
<td align="right">
   86.28
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.15
</td>
<td align="right">
    -.21
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:15:00
</td>
<td align="right">
   86.28
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.40
</td>
<td align="right">
    -.18
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:35:00
</td>
<td align="right">
   86.24
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.27
</td>
<td align="right">
    -.21
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -1.31
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td>
2012-05-14 18:40:00
</td>
<td align="right">
   77.16
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.01
</td>
<td align="right">
    1.76
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:45:00
</td>
<td align="right">
   76.91
</td>
<td align="right">
  .71
</td>
<td align="right">
     .05
</td>
<td align="right">
    2.06
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:50:00
</td>
<td align="right">
   76.92
</td>
<td align="right">
  .71
</td>
<td align="right">
     .08
</td>
<td align="right">
    1.86
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:55:00
</td>
<td align="right">
   76.87
</td>
<td align="right">
  .69
</td>
<td align="right">
     .09
</td>
<td align="right">
    1.73
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:00:00
</td>
<td align="right">
   76.80
</td>
<td align="right">
  .71
</td>
<td align="right">
     .43
</td>
<td align="right">
    1.74
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:05:00
</td>
<td align="right">
   76.87
</td>
<td align="right">
  .70
</td>
<td align="right">
     .65
</td>
<td align="right">
    1.11
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:10:00
</td>
<td align="right">
   76.92
</td>
<td align="right">
  .70
</td>
<td align="right">
     .78
</td>
<td align="right">
     .94
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:15:00
</td>
<td align="right">
   76.83
</td>
<td align="right">
  .71
</td>
<td align="right">
     .89
</td>
<td align="right">
    1.03
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:20:00
</td>
<td align="right">
   76.92
</td>
<td align="right">
  .71
</td>
<td align="right">
     .89
</td>
<td align="right">
     .67
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:25:00
</td>
<td align="right">
   76.92
</td>
<td align="right">
  .70
</td>
<td align="right">
     .99
</td>
<td align="right">
     .36
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:30:00
</td>
<td align="right">
   77.09
</td>
<td align="right">
  .62
</td>
<td align="right">
     .96
</td>
<td align="right">
     .32
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:45:00
</td>
<td align="right">
   76.96
</td>
<td align="right">
  .60
</td>
<td align="right">
     .96
</td>
<td align="right">
     .44
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:50:00
</td>
<td align="right">
   77.00
</td>
<td align="right">
  .60
</td>
<td align="right">
     .81
</td>
<td align="right">
     .45
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:55:00
</td>
<td align="right">
   76.96
</td>
<td align="right">
  .59
</td>
<td align="right">
    1.13
</td>
<td align="right">
     .52
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   14.99
</td>
</tr>
<tr>
<td>
NUE
</td>
<td>
2012-05-14 17:15:00
</td>
<td align="right">
   36.76
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.04
</td>
<td align="right">
    -.50
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:35:00
</td>
<td align="right">
   36.75
</td>
<td align="right">
  .59
</td>
<td align="right">
     .12
</td>
<td align="right">
    -.53
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:40:00
</td>
<td align="right">
   36.78
</td>
<td align="right">
  .57
</td>
<td align="right">
     .09
</td>
<td align="right">
    -.63
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 17:45:00
</td>
<td align="right">
   36.77
</td>
<td align="right">
  .57
</td>
<td align="right">
     .07
</td>
<td align="right">
    -.61
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 18:10:00
</td>
<td align="right">
   36.77
</td>
<td align="right">
  .56
</td>
<td align="right">
     .03
</td>
<td align="right">
    -.64
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 19:50:00
</td>
<td align="right">
   36.76
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.13
</td>
<td align="right">
   -1.01
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -3.92
</td>
</tr>
<tr>
<td>
PNC
</td>
<td>
2012-05-14 17:25:00
</td>
<td align="right">
   64.75
</td>
<td align="right">
  .59
</td>
<td align="right">
     .09
</td>
<td align="right">
    -.79
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    -.79
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td>
2012-05-14 13:45:00
</td>
<td align="right">
   35.67
</td>
<td align="right">
  .58
</td>
<td align="right">
     .42
</td>
<td align="right">
    -.16
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:00:00
</td>
<td align="right">
   36.25
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.16
</td>
<td align="right">
    -.45
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:10:00
</td>
<td align="right">
   36.26
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.25
</td>
<td align="right">
    -.30
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:15:00
</td>
<td align="right">
   36.25
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.30
</td>
<td align="right">
    -.33
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:20:00
</td>
<td align="right">
   36.27
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.32
</td>
<td align="right">
    -.44
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   -1.68
</td>
</tr>
<tr>
<td>
UA
</td>
<td>
2012-05-14 13:45:00
</td>
<td align="right">
   93.30
</td>
<td align="right">
  .61
</td>
<td align="right">
     .76
</td>
<td align="right">
    1.84
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:20:00
</td>
<td align="right">
   93.29
</td>
<td align="right">
  .55
</td>
<td align="right">
    1.10
</td>
<td align="right">
    2.19
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    4.03
</td>
</tr>
<tr>
<td>
UNH
</td>
<td>
2012-05-14 13:30:00
</td>
<td align="right">
   54.80
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.19
</td>
<td align="right">
     .05
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:35:00
</td>
<td align="right">
   54.66
</td>
<td align="right">
  .79
</td>
<td align="right">
     .01
</td>
<td align="right">
     .40
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:40:00
</td>
<td align="right">
   54.79
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.03
</td>
<td align="right">
     .27
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 13:45:00
</td>
<td align="right">
   54.69
</td>
<td align="right">
  .78
</td>
<td align="right">
     .13
</td>
<td align="right">
     .47
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:25:00
</td>
<td align="right">
   54.61
</td>
<td align="right">
  .71
</td>
<td align="right">
     .76
</td>
<td align="right">
    1.04
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:30:00
</td>
<td align="right">
   54.61
</td>
<td align="right">
  .75
</td>
<td align="right">
     .66
</td>
<td align="right">
    1.01
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:35:00
</td>
<td align="right">
   54.67
</td>
<td align="right">
  .77
</td>
<td align="right">
     .56
</td>
<td align="right">
    1.02
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    4.26
</td>
</tr>
<tr>
<td>
WHR
</td>
<td>
2012-05-14 14:30:00
</td>
<td align="right">
   61.18
</td>
<td align="right">
  .57
</td>
<td align="right">
     .07
</td>
<td align="right">
    -.07
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 14:55:00
</td>
<td align="right">
   61.18
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.07
</td>
<td align="right">
     .22
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 15:45:00
</td>
<td align="right">
   61.06
</td>
<td align="right">
  .56
</td>
<td align="right">
     .40
</td>
<td align="right">
     .83
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:25:00
</td>
<td align="right">
   61.09
</td>
<td align="right">
  .56
</td>
<td align="right">
     .41
</td>
<td align="right">
     .69
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:30:00
</td>
<td align="right">
   61.07
</td>
<td align="right">
  .58
</td>
<td align="right">
     .43
</td>
<td align="right">
     .88
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td>
2012-05-14 16:35:00
</td>
<td align="right">
   61.02
</td>
<td align="right">
  .58
</td>
<td align="right">
     .48
</td>
<td align="right">
    1.21
</td>
</tr>
<tr>
<td>
**********
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
--------
</td>
</tr>
<tr>
<td>
Subtotal:
</td>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    3.76
</td>
</tr>
</table>
<br />
