/ _img_sunday_png.html.haml

:javascript
  $(document).ready(function() {
    $("div#img_fx_sunday2011_png").hide();
    $("div#img_fx_sunday2012_png").hide();
    $("div#img_fx_sunday2013_png").hide();
    $("div#img_us_stk_sunday2011_png").hide();
    $("div#img_us_stk_sunday2012_png").hide();
    $("div#img_us_stk_sunday2013_png").hide();

    $("a#a_us_stk_sunday2011").click(function(event){
      event.preventDefault();
      $("div#img_us_stk_sunday2011_png").dialog({minWidth: 900,buttons: { "Ok": function() { $(this).dialog("close");} } });
    });

    $("a#a_us_stk_sunday2012").click(function(event){
      event.preventDefault();
      $("div#img_us_stk_sunday2012_png").dialog({minWidth: 900,buttons: { "Ok": function() { $(this).dialog("close");} } });
    });

    $("a#a_us_stk_sunday2013").click(function(event){
      event.preventDefault();
      $("div#img_us_stk_sunday2013_png").dialog({minWidth: 900,buttons: { "Ok": function() { $(this).dialog("close");} } });
    });

    $("a#a_fx_sunday2011").click(function(event){
      event.preventDefault();
      $("div#img_fx_sunday2011_png").dialog({minWidth: 900,buttons: { "Ok": function() { $(this).dialog("close"); } } });
    });

    $("a#a_fx_sunday2012").click(function(event){
      event.preventDefault();
      $("div#img_fx_sunday2012_png").dialog({minWidth: 900,buttons: { "Ok": function() { $(this).dialog("close"); } } });
    });

    $("a#a_fx_sunday2013").click(function(event){
      event.preventDefault();
      $("div#img_fx_sunday2013_png").dialog({minWidth: 900,buttons: { "Ok": function() { $(this).dialog("close"); } } });
    });

  });

#img_us_stk_sunday2011_png(title="Data Plot Of...")
  %img(src="/images/us_stk_sunday2011.png")
  %br/
  %br/
#img_us_stk_sunday2012_png(title="Data Plot Of...")
  %img(src="/images/us_stk_sunday2012.png")
  %br/
  %br/
#img_us_stk_sunday2013_png(title="Data Plot Of...")
  %img(src="/images/us_stk_sunday2013.png")
  %br/
  %br/

#img_fx_sunday2011_png(title="Data Plot Of...")
  %img(src="/images/fx_sunday2011.png")
  %br/
  %br/
#img_fx_sunday2012_png(title="Data Plot Of...")
  %img(src="/images/fx_sunday2012.png")
  %br/
  %br/
#img_fx_sunday2013_png(title="Data Plot Of...")
  %img(src="/images/fx_sunday2013.png")
  %br/
  %br/

