/! views/r10/index.html.slim
=render :partial => 'index'

h1 About

| This site displays current and historical short-term price predictions.
br/
br/
| It also focuses on major currencies traded in the Forex market.
br/
br/
| Also it displays predictions on 200 stocks traded in the US stock markets.
br/
br/
| You will find the predictions here ->
a(href="/predictions")Predictions
hr/
| Click on the images below to see graphical results for US Stock predictions:
br/
br/
|Most of 2011:
br/
a#a_us_stk_sunday2011(href="#")
  img(src="/images/us_stk_sunday2011.png" width="400")
br/
br/
|All of 2012:
br/
a#a_us_stk_sunday2012(href="#")
  img(src="/images/us_stk_sunday2012.png" width="400")
br/
br/

|2013 so far:
br/
a#a_us_stk_sunday2013(href="#")
  img(src="/images/us_stk_sunday2013.png" width="400")
br/
br/

|Click on the images below to see graphical results for FOREX Currency predictions.
br/
br/
|All of 2011:
br/
a#a_fx_sunday2011(href="#")
  img(src="/images/fx_sunday2011.png" width="400")
br/
br/

|All of 2012:
br/
a#a_fx_sunday2012(href="#")
  img(src="/images/fx_sunday2012.png" width="400")
br/
br/
|2013 so far::
br/
a#a_fx_sunday2013(href="#")
  img(src="/images/fx_sunday2013.png" width="400")
br/
br/

=render :partial => 'img_sunday_png'
