<h4>Week of: 2012_05_27</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.67
</td>
<td align="right">
  -.0077
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0616
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .35
</td>
<td align="right">
   .0009
</td>
<td align="right">
   33
</td>
<td align="right">
   .0306
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .44
</td>
<td align="right">
   .0010
</td>
<td align="right">
   25
</td>
<td align="right">
   .0247
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.99
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   16
</td>
<td align="right">
  -.0114
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.11
</td>
<td align="right">
  -.0038
</td>
<td align="right">
   27
</td>
<td align="right">
  -.1032
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.65
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   34
</td>
<td align="right">
  -.0449
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.92
</td>
<td align="right">
  -.0027
</td>
<td align="right">
   52
</td>
<td align="right">
  -.1427
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.31
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   20
</td>
<td align="right">
  -.0064
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.52
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   13
</td>
<td align="right">
  -.0021
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  228
</td>
<td align="right">
  -.3170
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .66
</td>
<td align="right">
     .39
</td>
<td align="right">
   .0012
</td>
<td align="right">
   30
</td>
<td align="right">
   .0354
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .65
</td>
<td align="right">
     .07
</td>
<td align="right">
   .0002
</td>
<td align="right">
   16
</td>
<td align="right">
   .0035
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.07
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   10
</td>
<td align="right">
  -.0013
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .66
</td>
<td align="right">
     .14
</td>
<td align="right">
   .0002
</td>
<td align="right">
    2
</td>
<td align="right">
   .0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.69
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   18
</td>
<td align="right">
  -.0242
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.29
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   13
</td>
<td align="right">
  -.0022
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .66
</td>
<td align="right">
     .56
</td>
<td align="right">
   .0014
</td>
<td align="right">
   72
</td>
<td align="right">
   .0991
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.05
</td>
<td align="right">
   .0016
</td>
<td align="right">
   23
</td>
<td align="right">
   .0375
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  184
</td>
<td align="right">
   .1481
</td>
</tr>
</table>
<br /><hr />
