<h4>Week of: 2012_06_17</h4><table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -2.53
</td>
<td align="right">
  -.0032
</td>
<td align="right">
   16
</td>
<td align="right">
  -.0518
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -4.35
</td>
<td align="right">
  -.0063
</td>
<td align="right">
    7
</td>
<td align="right">
  -.0439
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -1.19
</td>
<td align="right">
  -.0047
</td>
<td align="right">
   10
</td>
<td align="right">
  -.0470
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .25
</td>
<td align="right">
   .0003
</td>
<td align="right">
    4
</td>
<td align="right">
   .0012
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   37
</td>
<td align="right">
  -.1415
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
predictions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .62
</td>
<td align="right">
     .35
</td>
<td align="right">
   .0002
</td>
<td align="right">
    5
</td>
<td align="right">
   .0011
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .61
</td>
<td align="right">
     .48
</td>
<td align="right">
   .0009
</td>
<td align="right">
    3
</td>
<td align="right">
   .0028
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.18
</td>
<td align="right">
  -.0003
</td>
<td align="right">
    9
</td>
<td align="right">
  -.0029
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
-----------
</td>
<td align="right">
----------
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   17
</td>
<td align="right">
   .0010
</td>
</tr>
</table>
<br /><hr />
