<table id="table_a1_us_stk_past">
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_02_14">Week: 2011-02-14 Through 2011-02-18</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_02_28">Week: 2011-02-28 Through 2011-03-04</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_03_07">Week: 2011-03-07 Through 2011-03-11</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_03_14">Week: 2011-03-14 Through 2011-03-18</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_03_21">Week: 2011-03-21 Through 2011-03-25</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_03_28">Week: 2011-03-28 Through 2011-04-01</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_04_04">Week: 2011-04-04 Through 2011-04-08</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_04_11">Week: 2011-04-11 Through 2011-04-15</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_04_18">Week: 2011-04-18 Through 2011-04-21</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_04_25">Week: 2011-04-25 Through 2011-04-29</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_05_02">Week: 2011-05-02 Through 2011-05-06</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_05_09">Week: 2011-05-09 Through 2011-05-13</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_05_16">Week: 2011-05-16 Through 2011-05-20</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_05_23">Week: 2011-05-23 Through 2011-05-27</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_05_31">Week: 2011-05-31 Through 2011-06-03</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_06_06">Week: 2011-06-06 Through 2011-06-10</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_06_13">Week: 2011-06-13 Through 2011-06-17</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_06_20">Week: 2011-06-20 Through 2011-06-24</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_06_27">Week: 2011-06-27 Through 2011-07-01</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_07_05">Week: 2011-07-05 Through 2011-07-08</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_07_11">Week: 2011-07-11 Through 2011-07-15</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_07_18">Week: 2011-07-18 Through 2011-07-22</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_07_25">Week: 2011-07-25 Through 2011-07-29</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_08_01">Week: 2011-08-01 Through 2011-08-05</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_08_08">Week: 2011-08-08 Through 2011-08-12</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_08_15">Week: 2011-08-15 Through 2011-08-19</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_08_22">Week: 2011-08-22 Through 2011-08-26</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_08_29">Week: 2011-08-29 Through 2011-09-02</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_09_06">Week: 2011-09-06 Through 2011-09-09</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_09_12">Week: 2011-09-12 Through 2011-09-16</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_09_19">Week: 2011-09-19 Through 2011-09-23</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_09_26">Week: 2011-09-26 Through 2011-09-30</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_10_03">Week: 2011-10-03 Through 2011-10-07</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_10_10">Week: 2011-10-10 Through 2011-10-14</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_10_17">Week: 2011-10-17 Through 2011-10-21</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_10_24">Week: 2011-10-24 Through 2011-10-28</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_10_31">Week: 2011-10-31 Through 2011-11-04</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_11_07">Week: 2011-11-07 Through 2011-11-11</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_11_14">Week: 2011-11-14 Through 2011-11-18</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_11_21">Week: 2011-11-21 Through 2011-11-25</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_11_28">Week: 2011-11-28 Through 2011-12-02</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_12_05">Week: 2011-12-05 Through 2011-12-09</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_12_12">Week: 2011-12-12 Through 2011-12-16</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_12_19">Week: 2011-12-19 Through 2011-12-23</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2011_12_27">Week: 2011-12-27 Through 2011-12-30</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_01_03">Week: 2012-01-03 Through 2012-01-06</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_01_09">Week: 2012-01-09 Through 2012-01-13</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_01_17">Week: 2012-01-17 Through 2012-01-20</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_01_23">Week: 2012-01-23 Through 2012-01-27</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_01_30">Week: 2012-01-30 Through 2012-02-03</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_02_06">Week: 2012-02-06 Through 2012-02-10</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_02_13">Week: 2012-02-13 Through 2012-02-17</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_02_21">Week: 2012-02-21 Through 2012-02-24</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_02_27">Week: 2012-02-27 Through 2012-03-02</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_03_05">Week: 2012-03-05 Through 2012-03-09</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_03_12">Week: 2012-03-12 Through 2012-03-16</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_03_19">Week: 2012-03-19 Through 2012-03-23</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_03_26">Week: 2012-03-26 Through 2012-03-30</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_04_02">Week: 2012-04-02 Through 2012-04-05</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_04_09">Week: 2012-04-09 Through 2012-04-13</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_04_16">Week: 2012-04-16 Through 2012-04-20</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_04_23">Week: 2012-04-23 Through 2012-04-27</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_04_30">Week: 2012-04-30 Through 2012-05-04</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_05_07">Week: 2012-05-07 Through 2012-05-11</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_05_14">Week: 2012-05-14 Through 2012-05-18</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_05_21">Week: 2012-05-21 Through 2012-05-25</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_05_29">Week: 2012-05-29 Through 2012-06-01</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_06_04">Week: 2012-06-04 Through 2012-06-08</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_06_11">Week: 2012-06-11 Through 2012-06-15</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_06_18">Week: 2012-06-18 Through 2012-06-22</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_06_25">Week: 2012-06-25 Through 2012-06-29</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_07_02">Week: 2012-07-02 Through 2012-07-06</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_07_09">Week: 2012-07-09 Through 2012-07-13</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_07_16">Week: 2012-07-16 Through 2012-07-20</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_07_23">Week: 2012-07-23 Through 2012-07-27</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_07_30">Week: 2012-07-30 Through 2012-08-03</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_08_06">Week: 2012-08-06 Through 2012-08-10</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_08_13">Week: 2012-08-13 Through 2012-08-17</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_08_20">Week: 2012-08-20 Through 2012-08-24</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_08_27">Week: 2012-08-27 Through 2012-08-31</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_09_04">Week: 2012-09-04 Through 2012-09-07</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_09_10">Week: 2012-09-10 Through 2012-09-14</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_09_17">Week: 2012-09-17 Through 2012-09-21</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_09_24">Week: 2012-09-24 Through 2012-09-28</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_10_01">Week: 2012-10-01 Through 2012-10-05</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_10_08">Week: 2012-10-08 Through 2012-10-12</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_10_15">Week: 2012-10-15 Through 2012-10-19</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_10_22">Week: 2012-10-22 Through 2012-10-26</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_10_31">Week: 2012-10-31 Through 2012-11-02</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_11_05">Week: 2012-11-05 Through 2012-11-09</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_11_12">Week: 2012-11-12 Through 2012-11-16</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_11_19">Week: 2012-11-19 Through 2012-11-23</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_11_26">Week: 2012-11-26 Through 2012-11-30</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_12_03">Week: 2012-12-03 Through 2012-12-07</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_12_10">Week: 2012-12-10 Through 2012-12-14</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_12_17">Week: 2012-12-17 Through 2012-12-21</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_12_24">Week: 2012-12-24 Through 2012-12-28</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2012_12_31">Week: 2012-12-31 Through 2012-12-31</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2013_01_02">Week: 2013-01-02 Through 2013-01-07</a></td>
</tr>
<tr>
<td><a href="/a1_us_stk_past/a1_us_stk_past_wk2013_01_08">Week: 2013-01-08 Through 2013-01-14</a></td>
</tr>
</table>
