<h4>Week of: 2012_04_23</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABX
</td>
<td align="right">
   39.55
</td>
<td align="right">
 -.59
</td>
<td align="right">
    2.18
</td>
<td align="right">
    .08
</td>
<td align="right">
    .25
</td>
<td align="right">
     5
</td>
<td align="right">
     1.27
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
APA
</td>
<td align="right">
   91.27
</td>
<td align="right">
 -.59
</td>
<td align="right">
    4.08
</td>
<td align="right">
    .15
</td>
<td align="right">
   1.62
</td>
<td align="right">
     4
</td>
<td align="right">
     6.46
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   34.37
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .49
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .14
</td>
<td align="right">
    28
</td>
<td align="right">
     4.03
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   32.93
</td>
<td align="right">
 -.64
</td>
<td align="right">
    2.75
</td>
<td align="right">
    .12
</td>
<td align="right">
    .77
</td>
<td align="right">
    27
</td>
<td align="right">
    20.86
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
AXP
</td>
<td align="right">
   57.51
</td>
<td align="right">
 -.57
</td>
<td align="right">
    5.33
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .98
</td>
<td align="right">
     2
</td>
<td align="right">
     1.96
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  137.20
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -5.16
</td>
<td align="right">
    .11
</td>
<td align="right">
  -5.57
</td>
<td align="right">
     6
</td>
<td align="right">
   -33.44
</td>
<td align="right">
   1.08
</td>
</tr>
<tr>
<td>
CVX
</td>
<td align="right">
  102.96
</td>
<td align="right">
 -.56
</td>
<td align="right">
   52.00
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .52
</td>
<td align="right">
     1
</td>
<td align="right">
      .52
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  128.75
</td>
<td align="right">
 -.62
</td>
<td align="right">
    2.79
</td>
<td align="right">
    .09
</td>
<td align="right">
   1.06
</td>
<td align="right">
     8
</td>
<td align="right">
     8.49
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  113.90
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -9.00
</td>
<td align="right">
    .12
</td>
<td align="right">
   -.09
</td>
<td align="right">
     1
</td>
<td align="right">
     -.09
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   52.74
</td>
<td align="right">
 -.56
</td>
<td align="right">
   10.73
</td>
<td align="right">
    .17
</td>
<td align="right">
   1.94
</td>
<td align="right">
     3
</td>
<td align="right">
     5.82
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
JWN
</td>
<td align="right">
   54.20
</td>
<td align="right">
 -.73
</td>
<td align="right">
     .96
</td>
<td align="right">
    .14
</td>
<td align="right">
    .30
</td>
<td align="right">
    32
</td>
<td align="right">
     9.62
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   89.24
</td>
<td align="right">
 -.59
</td>
<td align="right">
  -31.00
</td>
<td align="right">
   -.39
</td>
<td align="right">
   -.31
</td>
<td align="right">
     1
</td>
<td align="right">
     -.31
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PG
</td>
<td align="right">
   66.98
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -3.29
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.13
</td>
<td align="right">
     4
</td>
<td align="right">
     -.53
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   64.98
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.35
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.15
</td>
<td align="right">
    56
</td>
<td align="right">
    -8.48
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
SU
</td>
<td align="right">
   30.72
</td>
<td align="right">
 -.60
</td>
<td align="right">
    9.62
</td>
<td align="right">
    .22
</td>
<td align="right">
    .80
</td>
<td align="right">
    17
</td>
<td align="right">
    13.61
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   44.95
</td>
<td align="right">
 -.62
</td>
<td align="right">
    4.96
</td>
<td align="right">
    .08
</td>
<td align="right">
    .61
</td>
<td align="right">
     6
</td>
<td align="right">
     3.65
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   56.86
</td>
<td align="right">
 -.69
</td>
<td align="right">
  -17.00
</td>
<td align="right">
   -.23
</td>
<td align="right">
   -.17
</td>
<td align="right">
     1
</td>
<td align="right">
     -.17
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   58.66
</td>
<td align="right">
 -.56
</td>
<td align="right">
   76.00
</td>
<td align="right">
    .04
</td>
<td align="right">
    .76
</td>
<td align="right">
     1
</td>
<td align="right">
      .76
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
  104.95
</td>
<td align="right">
 -.57
</td>
<td align="right">
   66.00
</td>
<td align="right">
  -1.45
</td>
<td align="right">
    .66
</td>
<td align="right">
     1
</td>
<td align="right">
      .66
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   204
</td>
<td align="right">
    34.69
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AAPL
</td>
<td align="right">
  560.81
</td>
<td align="right">
  .65
</td>
<td align="right">
   23.71
</td>
<td align="right">
  11.20
</td>
<td align="right">
  50.00
</td>
<td align="right">
    50
</td>
<td align="right">
  2500.12
</td>
<td align="right">
   2.11
</td>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   42.36
</td>
<td align="right">
  .61
</td>
<td align="right">
  233.00
</td>
<td align="right">
   -.22
</td>
<td align="right">
   2.33
</td>
<td align="right">
     1
</td>
<td align="right">
     2.33
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  189.34
</td>
<td align="right">
  .60
</td>
<td align="right">
   21.06
</td>
<td align="right">
   1.56
</td>
<td align="right">
   4.26
</td>
<td align="right">
     3
</td>
<td align="right">
    12.78
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
BP
</td>
<td align="right">
   41.75
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.15
</td>
<td align="right">
    .11
</td>
<td align="right">
    .33
</td>
<td align="right">
    44
</td>
<td align="right">
    14.55
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   65.64
</td>
<td align="right">
  .60
</td>
<td align="right">
   47.00
</td>
<td align="right">
    .74
</td>
<td align="right">
    .47
</td>
<td align="right">
     1
</td>
<td align="right">
      .47
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  402.97
</td>
<td align="right">
  .80
</td>
<td align="right">
   11.08
</td>
<td align="right">
   3.93
</td>
<td align="right">
   9.32
</td>
<td align="right">
    21
</td>
<td align="right">
   195.63
</td>
<td align="right">
    .84
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   54.15
</td>
<td align="right">
  .60
</td>
<td align="right">
     .63
</td>
<td align="right">
    .04
</td>
<td align="right">
    .12
</td>
<td align="right">
     3
</td>
<td align="right">
      .35
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
COP
</td>
<td align="right">
   72.06
</td>
<td align="right">
  .66
</td>
<td align="right">
   -1.50
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.36
</td>
<td align="right">
     2
</td>
<td align="right">
     -.72
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
COST
</td>
<td align="right">
   86.86
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.25
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.05
</td>
<td align="right">
    34
</td>
<td align="right">
    -1.58
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  152.16
</td>
<td align="right">
  .72
</td>
<td align="right">
    -.66
</td>
<td align="right">
    .45
</td>
<td align="right">
  -1.78
</td>
<td align="right">
    42
</td>
<td align="right">
   -74.69
</td>
<td align="right">
   2.70
</td>
</tr>
<tr>
<td>
CVX
</td>
<td align="right">
  102.26
</td>
<td align="right">
  .60
</td>
<td align="right">
    7.90
</td>
<td align="right">
    .03
</td>
<td align="right">
    .54
</td>
<td align="right">
     6
</td>
<td align="right">
     3.25
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   80.26
</td>
<td align="right">
  .70
</td>
<td align="right">
    2.75
</td>
<td align="right">
    .24
</td>
<td align="right">
    .91
</td>
<td align="right">
    62
</td>
<td align="right">
    56.12
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   47.57
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.46
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .31
</td>
<td align="right">
     9
</td>
<td align="right">
     2.81
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   40.04
</td>
<td align="right">
  .60
</td>
<td align="right">
    3.60
</td>
<td align="right">
    .20
</td>
<td align="right">
    .66
</td>
<td align="right">
     3
</td>
<td align="right">
     1.99
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
HES
</td>
<td align="right">
   53.88
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.24
</td>
<td align="right">
   -.27
</td>
<td align="right">
   -.45
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.78
</td>
<td align="right">
   1.83
</td>
</tr>
<tr>
<td>
IBM
</td>
<td align="right">
  197.25
</td>
<td align="right">
  .56
</td>
<td align="right">
  462.00
</td>
<td align="right">
    .32
</td>
<td align="right">
   4.62
</td>
<td align="right">
     1
</td>
<td align="right">
     4.62
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   52.91
</td>
<td align="right">
  .61
</td>
<td align="right">
    2.12
</td>
<td align="right">
    .87
</td>
<td align="right">
   2.29
</td>
<td align="right">
     3
</td>
<td align="right">
     6.87
</td>
<td align="right">
   1.08
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   79.24
</td>
<td align="right">
  .63
</td>
<td align="right">
    2.64
</td>
<td align="right">
    .32
</td>
<td align="right">
   1.13
</td>
<td align="right">
    31
</td>
<td align="right">
    35.16
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
KO
</td>
<td align="right">
   73.93
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.45
</td>
<td align="right">
    .06
</td>
<td align="right">
    .48
</td>
<td align="right">
    10
</td>
<td align="right">
     4.83
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  429.08
</td>
<td align="right">
  .62
</td>
<td align="right">
    4.86
</td>
<td align="right">
    .98
</td>
<td align="right">
  12.39
</td>
<td align="right">
    23
</td>
<td align="right">
   285.03
</td>
<td align="right">
   2.55
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   87.37
</td>
<td align="right">
  .62
</td>
<td align="right">
     .93
</td>
<td align="right">
    .17
</td>
<td align="right">
   1.61
</td>
<td align="right">
     7
</td>
<td align="right">
    11.25
</td>
<td align="right">
   1.73
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   38.32
</td>
<td align="right">
  .56
</td>
<td align="right">
    9.00
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .09
</td>
<td align="right">
     1
</td>
<td align="right">
      .09
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   38.82
</td>
<td align="right">
  .68
</td>
<td align="right">
    1.74
</td>
<td align="right">
    .05
</td>
<td align="right">
    .26
</td>
<td align="right">
   136
</td>
<td align="right">
    35.30
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   65.88
</td>
<td align="right">
  .64
</td>
<td align="right">
   -2.60
</td>
<td align="right">
   -.13
</td>
<td align="right">
  -1.00
</td>
<td align="right">
     7
</td>
<td align="right">
    -7.03
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
PEP
</td>
<td align="right">
   66.27
</td>
<td align="right">
  .60
</td>
<td align="right">
    3.77
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .47
</td>
<td align="right">
    20
</td>
<td align="right">
     9.31
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   65.23
</td>
<td align="right">
  .63
</td>
<td align="right">
    3.18
</td>
<td align="right">
    .08
</td>
<td align="right">
    .52
</td>
<td align="right">
    16
</td>
<td align="right">
     8.30
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   34.10
</td>
<td align="right">
  .63
</td>
<td align="right">
    9.24
</td>
<td align="right">
    .05
</td>
<td align="right">
    .16
</td>
<td align="right">
     3
</td>
<td align="right">
      .48
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
RTN
</td>
<td align="right">
   52.68
</td>
<td align="right">
  .60
</td>
<td align="right">
   10.57
</td>
<td align="right">
    .03
</td>
<td align="right">
    .33
</td>
<td align="right">
    23
</td>
<td align="right">
     7.60
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   36.45
</td>
<td align="right">
  .62
</td>
<td align="right">
    4.81
</td>
<td align="right">
    .03
</td>
<td align="right">
    .82
</td>
<td align="right">
    11
</td>
<td align="right">
     9.05
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   49.61
</td>
<td align="right">
  .79
</td>
<td align="right">
  567.00
</td>
<td align="right">
    .84
</td>
<td align="right">
   5.67
</td>
<td align="right">
     1
</td>
<td align="right">
     5.67
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   95.82
</td>
<td align="right">
  .64
</td>
<td align="right">
     .24
</td>
<td align="right">
   -.48
</td>
<td align="right">
    .15
</td>
<td align="right">
     7
</td>
<td align="right">
     1.04
</td>
<td align="right">
    .62
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   82.48
</td>
<td align="right">
  .60
</td>
<td align="right">
    1.26
</td>
<td align="right">
   -.26
</td>
<td align="right">
    .62
</td>
<td align="right">
     9
</td>
<td align="right">
     5.60
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   66.50
</td>
<td align="right">
  .56
</td>
<td align="right">
  232.00
</td>
<td align="right">
   -.29
</td>
<td align="right">
   2.32
</td>
<td align="right">
     1
</td>
<td align="right">
     2.32
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   58.80
</td>
<td align="right">
  .56
</td>
<td align="right">
   -1.49
</td>
<td align="right">
   -.33
</td>
<td align="right">
   -.61
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.22
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  125.34
</td>
<td align="right">
  .61
</td>
<td align="right">
     .12
</td>
<td align="right">
    .05
</td>
<td align="right">
    .15
</td>
<td align="right">
    10
</td>
<td align="right">
     1.50
</td>
<td align="right">
   1.25
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   36.12
</td>
<td align="right">
  .67
</td>
<td align="right">
    8.92
</td>
<td align="right">
   -.07
</td>
<td align="right">
    .47
</td>
<td align="right">
    11
</td>
<td align="right">
     5.22
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   618
</td>
<td align="right">
  3142.62
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
