<h4>Week of: 2012_11_12</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABX
</td>
<td align="right">
   35.97
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -6.55
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.56
</td>
<td align="right">
     8
</td>
<td align="right">
    -4.44
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  227.44
</td>
<td align="right">
 -.73
</td>
<td align="right">
    -.99
</td>
<td align="right">
   -.83
</td>
<td align="right">
   -.91
</td>
<td align="right">
    48
</td>
<td align="right">
   -43.57
</td>
<td align="right">
    .91
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   48.63
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .32
</td>
<td align="right">
   -.22
</td>
<td align="right">
    .12
</td>
<td align="right">
    12
</td>
<td align="right">
     1.46
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
FLS
</td>
<td align="right">
  135.91
</td>
<td align="right">
 -.68
</td>
<td align="right">
    2.60
</td>
<td align="right">
    .22
</td>
<td align="right">
   1.10
</td>
<td align="right">
    26
</td>
<td align="right">
    28.66
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   43.35
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -3.07
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.39
</td>
<td align="right">
    56
</td>
<td align="right">
   -22.10
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  467.47
</td>
<td align="right">
 -.61
</td>
<td align="right">
    2.89
</td>
<td align="right">
    .08
</td>
<td align="right">
   6.50
</td>
<td align="right">
    33
</td>
<td align="right">
   214.44
</td>
<td align="right">
   2.25
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   65.74
</td>
<td align="right">
 -.64
</td>
<td align="right">
    4.17
</td>
<td align="right">
    .19
</td>
<td align="right">
   1.68
</td>
<td align="right">
    66
</td>
<td align="right">
   111.11
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
NEM
</td>
<td align="right">
   47.91
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -2.87
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.41
</td>
<td align="right">
    16
</td>
<td align="right">
    -6.61
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   85.82
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -7.78
</td>
<td align="right">
   -.36
</td>
<td align="right">
   -.94
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.87
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   56.44
</td>
<td align="right">
 -.71
</td>
<td align="right">
   -2.34
</td>
<td align="right">
   -.13
</td>
<td align="right">
  -1.01
</td>
<td align="right">
    59
</td>
<td align="right">
   -59.80
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   40.15
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -3.17
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.43
</td>
<td align="right">
     7
</td>
<td align="right">
    -2.99
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   52.89
</td>
<td align="right">
 -.60
</td>
<td align="right">
  -44.00
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.44
</td>
<td align="right">
     1
</td>
<td align="right">
     -.44
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  106.99
</td>
<td align="right">
 -.57
</td>
<td align="right">
    2.22
</td>
<td align="right">
    .34
</td>
<td align="right">
    .41
</td>
<td align="right">
    15
</td>
<td align="right">
     6.22
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   349
</td>
<td align="right">
   220.07
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   49.71
</td>
<td align="right">
  .65
</td>
<td align="right">
    2.16
</td>
<td align="right">
    .01
</td>
<td align="right">
    .49
</td>
<td align="right">
    47
</td>
<td align="right">
    22.86
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   85.70
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.38
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .21
</td>
<td align="right">
    57
</td>
<td align="right">
    11.85
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  260.22
</td>
<td align="right">
  .55
</td>
<td align="right">
  510.00
</td>
<td align="right">
   1.97
</td>
<td align="right">
   5.10
</td>
<td align="right">
     1
</td>
<td align="right">
     5.10
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  140.67
</td>
<td align="right">
  .60
</td>
<td align="right">
     .84
</td>
<td align="right">
    .53
</td>
<td align="right">
    .79
</td>
<td align="right">
    29
</td>
<td align="right">
    22.80
</td>
<td align="right">
    .94
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   84.89
</td>
<td align="right">
  .63
</td>
<td align="right">
    2.29
</td>
<td align="right">
    .59
</td>
<td align="right">
   1.20
</td>
<td align="right">
     6
</td>
<td align="right">
     7.17
</td>
<td align="right">
    .52
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  127.87
</td>
<td align="right">
  .60
</td>
<td align="right">
    2.79
</td>
<td align="right">
    .19
</td>
<td align="right">
    .70
</td>
<td align="right">
    14
</td>
<td align="right">
     9.79
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
ESRX
</td>
<td align="right">
   52.00
</td>
<td align="right">
  .58
</td>
<td align="right">
   -8.45
</td>
<td align="right">
   -.59
</td>
<td align="right">
   -.81
</td>
<td align="right">
     7
</td>
<td align="right">
    -5.64
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   52.55
</td>
<td align="right">
  .56
</td>
<td align="right">
  -61.52
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.44
</td>
<td align="right">
     2
</td>
<td align="right">
     -.87
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   38.59
</td>
<td align="right">
  .67
</td>
<td align="right">
     .51
</td>
<td align="right">
    .02
</td>
<td align="right">
    .15
</td>
<td align="right">
    47
</td>
<td align="right">
     7.21
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
   86.41
</td>
<td align="right">
  .69
</td>
<td align="right">
    1.93
</td>
<td align="right">
    .15
</td>
<td align="right">
   1.47
</td>
<td align="right">
    68
</td>
<td align="right">
    99.93
</td>
<td align="right">
    .76
</td>
</tr>
<tr>
<td>
JOY
</td>
<td align="right">
   57.77
</td>
<td align="right">
  .58
</td>
<td align="right">
    2.22
</td>
<td align="right">
    .31
</td>
<td align="right">
    .54
</td>
<td align="right">
    11
</td>
<td align="right">
     5.92
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
OXY
</td>
<td align="right">
   76.54
</td>
<td align="right">
  .72
</td>
<td align="right">
   -3.09
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.96
</td>
<td align="right">
    73
</td>
<td align="right">
   -70.10
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   85.06
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.02
</td>
<td align="right">
    .18
</td>
<td align="right">
   -.01
</td>
<td align="right">
     5
</td>
<td align="right">
     -.03
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
SLB
</td>
<td align="right">
   68.45
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.71
</td>
<td align="right">
   -.07
</td>
<td align="right">
    .91
</td>
<td align="right">
    37
</td>
<td align="right">
    33.84
</td>
<td align="right">
    .54
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   41.01
</td>
<td align="right">
  .63
</td>
<td align="right">
   -1.74
</td>
<td align="right">
   -.84
</td>
<td align="right">
   -.74
</td>
<td align="right">
     6
</td>
<td align="right">
    -4.46
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   62.07
</td>
<td align="right">
  .67
</td>
<td align="right">
    4.23
</td>
<td align="right">
    .00
</td>
<td align="right">
    .59
</td>
<td align="right">
    33
</td>
<td align="right">
    19.49
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
  142.96
</td>
<td align="right">
  .58
</td>
<td align="right">
    1.48
</td>
<td align="right">
    .22
</td>
<td align="right">
    .95
</td>
<td align="right">
    21
</td>
<td align="right">
    19.87
</td>
<td align="right">
    .64
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   464
</td>
<td align="right">
   184.73
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
