<h4>Week of: 2012_03_12</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ADBE
</td>
<td align="right">
   34.05
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.42
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.25
</td>
<td align="right">
    12
</td>
<td align="right">
    -3.02
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   47.10
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .96
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .49
</td>
<td align="right">
    17
</td>
<td align="right">
     8.36
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   28.11
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -4.01
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.28
</td>
<td align="right">
    11
</td>
<td align="right">
    -3.04
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   36.84
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .57
</td>
<td align="right">
    .01
</td>
<td align="right">
    .24
</td>
<td align="right">
    12
</td>
<td align="right">
     2.89
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   67.90
</td>
<td align="right">
 -.59
</td>
<td align="right">
   29.00
</td>
<td align="right">
   -.15
</td>
<td align="right">
    .29
</td>
<td align="right">
     1
</td>
<td align="right">
      .29
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AMX
</td>
<td align="right">
   23.78
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .34
</td>
<td align="right">
    .03
</td>
<td align="right">
    .08
</td>
<td align="right">
    13
</td>
<td align="right">
      .99
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   84.53
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -1.07
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.19
</td>
<td align="right">
     5
</td>
<td align="right">
     -.97
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   42.05
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .31
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .13
</td>
<td align="right">
    21
</td>
<td align="right">
     2.67
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
AUY
</td>
<td align="right">
   16.34
</td>
<td align="right">
 -.58
</td>
<td align="right">
 -103.00
</td>
<td align="right">
   -.01
</td>
<td align="right">
  -1.03
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.03
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AXP
</td>
<td align="right">
   56.25
</td>
<td align="right">
 -.57
</td>
<td align="right">
  -33.00
</td>
<td align="right">
   -.75
</td>
<td align="right">
   -.33
</td>
<td align="right">
     1
</td>
<td align="right">
     -.33
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    7.34
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -3.40
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.28
</td>
<td align="right">
    23
</td>
<td align="right">
    -6.33
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   25.36
</td>
<td align="right">
 -.57
</td>
<td align="right">
   84.00
</td>
<td align="right">
    .01
</td>
<td align="right">
    .84
</td>
<td align="right">
     1
</td>
<td align="right">
      .84
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BRCM
</td>
<td align="right">
   37.29
</td>
<td align="right">
 -.61
</td>
<td align="right">
    3.24
</td>
<td align="right">
    .08
</td>
<td align="right">
    .62
</td>
<td align="right">
    10
</td>
<td align="right">
     6.23
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
CAT
</td>
<td align="right">
  112.90
</td>
<td align="right">
 -.64
</td>
<td align="right">
    1.33
</td>
<td align="right">
    .09
</td>
<td align="right">
    .60
</td>
<td align="right">
     3
</td>
<td align="right">
     1.81
</td>
<td align="right">
    .45
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   69.84
</td>
<td align="right">
 -.63
</td>
<td align="right">
    1.87
</td>
<td align="right">
    .69
</td>
<td align="right">
   2.07
</td>
<td align="right">
     8
</td>
<td align="right">
    16.55
</td>
<td align="right">
   1.11
</td>
</tr>
<tr>
<td>
COST
</td>
<td align="right">
   91.36
</td>
<td align="right">
 -.60
</td>
<td align="right">
  -91.00
</td>
<td align="right">
   -.77
</td>
<td align="right">
   -.91
</td>
<td align="right">
     1
</td>
<td align="right">
     -.91
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   31.08
</td>
<td align="right">
 -.66
</td>
<td align="right">
    5.80
</td>
<td align="right">
   -.01
</td>
<td align="right">
   1.22
</td>
<td align="right">
     4
</td>
<td align="right">
     4.87
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  150.67
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .03
</td>
<td align="right">
    .12
</td>
<td align="right">
    .06
</td>
<td align="right">
    72
</td>
<td align="right">
     4.04
</td>
<td align="right">
   1.78
</td>
</tr>
<tr>
<td>
CSX
</td>
<td align="right">
   20.56
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.87
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.25
</td>
<td align="right">
    27
</td>
<td align="right">
    -6.65
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   37.32
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.09
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.02
</td>
<td align="right">
    10
</td>
<td align="right">
     -.24
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   52.33
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .91
</td>
<td align="right">
    .06
</td>
<td align="right">
    .39
</td>
<td align="right">
    17
</td>
<td align="right">
     6.61
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   34.49
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.29
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.05
</td>
<td align="right">
     4
</td>
<td align="right">
     -.19
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   47.63
</td>
<td align="right">
 -.58
</td>
<td align="right">
    -.90
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.11
</td>
<td align="right">
     3
</td>
<td align="right">
     -.32
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
DVN
</td>
<td align="right">
   72.39
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .18
</td>
<td align="right">
   -.11
</td>
<td align="right">
    .19
</td>
<td align="right">
     5
</td>
<td align="right">
      .96
</td>
<td align="right">
   1.07
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   54.49
</td>
<td align="right">
 -.62
</td>
<td align="right">
    1.10
</td>
<td align="right">
    .12
</td>
<td align="right">
    .36
</td>
<td align="right">
    24
</td>
<td align="right">
     8.65
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
EGO
</td>
<td align="right">
   13.58
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.06
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.25
</td>
<td align="right">
    45
</td>
<td align="right">
   -11.33
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   67.58
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .48
</td>
<td align="right">
    .11
</td>
<td align="right">
    .07
</td>
<td align="right">
    22
</td>
<td align="right">
     1.47
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   38.66
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.32
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.05
</td>
<td align="right">
    11
</td>
<td align="right">
     -.56
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   92.35
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.66
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.31
</td>
<td align="right">
    14
</td>
<td align="right">
    -4.28
</td>
<td align="right">
    .46
</td>
</tr>
<tr>
<td>
FLS
</td>
<td align="right">
  117.38
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .98
</td>
<td align="right">
   -.56
</td>
<td align="right">
    .30
</td>
<td align="right">
     8
</td>
<td align="right">
     2.41
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
GD
</td>
<td align="right">
   72.85
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .39
</td>
<td align="right">
    .08
</td>
<td align="right">
    .18
</td>
<td align="right">
     6
</td>
<td align="right">
     1.05
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  622.70
</td>
<td align="right">
 -.74
</td>
<td align="right">
  892.00
</td>
<td align="right">
   1.73
</td>
<td align="right">
   8.92
</td>
<td align="right">
     1
</td>
<td align="right">
     8.92
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  119.29
</td>
<td align="right">
 -.63
</td>
<td align="right">
    2.50
</td>
<td align="right">
    .61
</td>
<td align="right">
   3.56
</td>
<td align="right">
    47
</td>
<td align="right">
   167.14
</td>
<td align="right">
   1.42
</td>
</tr>
<tr>
<td>
HAL
</td>
<td align="right">
   34.12
</td>
<td align="right">
 -.59
</td>
<td align="right">
   68.00
</td>
<td align="right">
   -.13
</td>
<td align="right">
    .68
</td>
<td align="right">
     1
</td>
<td align="right">
      .68
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   58.64
</td>
<td align="right">
 -.70
</td>
<td align="right">
    -.08
</td>
<td align="right">
   -.32
</td>
<td align="right">
   -.07
</td>
<td align="right">
    70
</td>
<td align="right">
    -5.23
</td>
<td align="right">
    .92
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  420.16
</td>
<td align="right">
 -.57
</td>
<td align="right">
  525.00
</td>
<td align="right">
   1.38
</td>
<td align="right">
   5.25
</td>
<td align="right">
     1
</td>
<td align="right">
     5.25
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   38.55
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .46
</td>
<td align="right">
    .02
</td>
<td align="right">
    .24
</td>
<td align="right">
     6
</td>
<td align="right">
     1.45
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   88.13
</td>
<td align="right">
 -.65
</td>
<td align="right">
    5.82
</td>
<td align="right">
    .13
</td>
<td align="right">
    .79
</td>
<td align="right">
    10
</td>
<td align="right">
     7.89
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    9.43
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .91
</td>
<td align="right">
    .03
</td>
<td align="right">
    .13
</td>
<td align="right">
    17
</td>
<td align="right">
     2.19
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
  106.39
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -2.98
</td>
<td align="right">
    .09
</td>
<td align="right">
  -2.39
</td>
<td align="right">
     3
</td>
<td align="right">
    -7.18
</td>
<td align="right">
    .80
</td>
</tr>
<tr>
<td>
NTAP
</td>
<td align="right">
   43.27
</td>
<td align="right">
 -.64
</td>
<td align="right">
    2.78
</td>
<td align="right">
    .04
</td>
<td align="right">
    .77
</td>
<td align="right">
    25
</td>
<td align="right">
    19.16
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   43.71
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .67
</td>
<td align="right">
    .08
</td>
<td align="right">
    .41
</td>
<td align="right">
    18
</td>
<td align="right">
     7.36
</td>
<td align="right">
    .61
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
   43.26
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.21
</td>
<td align="right">
    .12
</td>
<td align="right">
    .51
</td>
<td align="right">
     5
</td>
<td align="right">
     2.54
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
ORCL
</td>
<td align="right">
   30.07
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -3.85
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.25
</td>
<td align="right">
     2
</td>
<td align="right">
     -.49
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
PAAS
</td>
<td align="right">
   21.76
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.51
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.11
</td>
<td align="right">
    13
</td>
<td align="right">
    -1.44
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
PBR
</td>
<td align="right">
   28.15
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.26
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.41
</td>
<td align="right">
     9
</td>
<td align="right">
    -3.73
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   13.48
</td>
<td align="right">
 -.63
</td>
<td align="right">
    9.48
</td>
<td align="right">
    .01
</td>
<td align="right">
    .57
</td>
<td align="right">
     7
</td>
<td align="right">
     3.96
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   51.89
</td>
<td align="right">
 -.57
</td>
<td align="right">
   92.00
</td>
<td align="right">
    .11
</td>
<td align="right">
    .92
</td>
<td align="right">
     1
</td>
<td align="right">
      .92
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SJM
</td>
<td align="right">
   78.06
</td>
<td align="right">
 -.58
</td>
<td align="right">
  -50.00
</td>
<td align="right">
   -.44
</td>
<td align="right">
   -.50
</td>
<td align="right">
     1
</td>
<td align="right">
     -.50
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   50.34
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.45
</td>
<td align="right">
   -.18
</td>
<td align="right">
   -.54
</td>
<td align="right">
    21
</td>
<td align="right">
   -11.25
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   51.72
</td>
<td align="right">
 -.63
</td>
<td align="right">
    1.55
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .76
</td>
<td align="right">
     6
</td>
<td align="right">
     4.56
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
SUN
</td>
<td align="right">
   40.00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.23
</td>
<td align="right">
    .16
</td>
<td align="right">
   -.02
</td>
<td align="right">
     5
</td>
<td align="right">
     -.11
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
SWC
</td>
<td align="right">
   13.19
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .82
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .24
</td>
<td align="right">
     6
</td>
<td align="right">
     1.46
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   43.68
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.83
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.44
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.75
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   58.23
</td>
<td align="right">
 -.58
</td>
<td align="right">
   17.00
</td>
<td align="right">
    .02
</td>
<td align="right">
    .17
</td>
<td align="right">
     1
</td>
<td align="right">
      .17
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
TXN
</td>
<td align="right">
   32.16
</td>
<td align="right">
 -.64
</td>
<td align="right">
    1.56
</td>
<td align="right">
    .18
</td>
<td align="right">
    .55
</td>
<td align="right">
     7
</td>
<td align="right">
     3.87
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   55.50
</td>
<td align="right">
 -.59
</td>
<td align="right">
    1.12
</td>
<td align="right">
    .01
</td>
<td align="right">
    .37
</td>
<td align="right">
     9
</td>
<td align="right">
     3.36
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
UNP
</td>
<td align="right">
  111.94
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.34
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.22
</td>
<td align="right">
     6
</td>
<td align="right">
    -1.32
</td>
<td align="right">
    .64
</td>
</tr>
<tr>
<td>
VLO
</td>
<td align="right">
   28.33
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.35
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.15
</td>
<td align="right">
     3
</td>
<td align="right">
     -.44
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
VZ
</td>
<td align="right">
   39.38
</td>
<td align="right">
 -.74
</td>
<td align="right">
    8.00
</td>
<td align="right">
    .03
</td>
<td align="right">
    .08
</td>
<td align="right">
     1
</td>
<td align="right">
      .08
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WFC
</td>
<td align="right">
   32.04
</td>
<td align="right">
 -.66
</td>
<td align="right">
    5.01
</td>
<td align="right">
    .12
</td>
<td align="right">
   1.09
</td>
<td align="right">
    44
</td>
<td align="right">
    47.75
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  127.41
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .31
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .43
</td>
<td align="right">
    11
</td>
<td align="right">
     4.71
</td>
<td align="right">
   1.37
</td>
</tr>
<tr>
<td>
X
</td>
<td align="right">
   29.63
</td>
<td align="right">
 -.63
</td>
<td align="right">
    3.02
</td>
<td align="right">
    .40
</td>
<td align="right">
   1.72
</td>
<td align="right">
    20
</td>
<td align="right">
    34.36
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   36.97
</td>
<td align="right">
 -.62
</td>
<td align="right">
    5.28
</td>
<td align="right">
    .07
</td>
<td align="right">
    .29
</td>
<td align="right">
     5
</td>
<td align="right">
     1.43
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   74.91
</td>
<td align="right">
 -.64
</td>
<td align="right">
   55.86
</td>
<td align="right">
    .09
</td>
<td align="right">
    .40
</td>
<td align="right">
     2
</td>
<td align="right">
      .79
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   800
</td>
<td align="right">
   328.05
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ACI
</td>
<td align="right">
   11.69
</td>
<td align="right">
  .55
</td>
<td align="right">
   -9.00
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.09
</td>
<td align="right">
     1
</td>
<td align="right">
     -.09
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
ADBE
</td>
<td align="right">
   33.74
</td>
<td align="right">
  .66
</td>
<td align="right">
    2.10
</td>
<td align="right">
    .05
</td>
<td align="right">
    .36
</td>
<td align="right">
    59
</td>
<td align="right">
    21.31
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
ADM
</td>
<td align="right">
   31.57
</td>
<td align="right">
  .61
</td>
<td align="right">
     .39
</td>
<td align="right">
    .01
</td>
<td align="right">
    .17
</td>
<td align="right">
    44
</td>
<td align="right">
     7.56
</td>
<td align="right">
    .45
</td>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   46.45
</td>
<td align="right">
  .67
</td>
<td align="right">
     .91
</td>
<td align="right">
    .26
</td>
<td align="right">
    .68
</td>
<td align="right">
     7
</td>
<td align="right">
     4.73
</td>
<td align="right">
    .74
</td>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   28.26
</td>
<td align="right">
  .69
</td>
<td align="right">
    -.27
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.03
</td>
<td align="right">
   149
</td>
<td align="right">
    -4.55
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   36.87
</td>
<td align="right">
  .68
</td>
<td align="right">
     .69
</td>
<td align="right">
    .05
</td>
<td align="right">
    .34
</td>
<td align="right">
    41
</td>
<td align="right">
    13.92
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   68.17
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.22
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.07
</td>
<td align="right">
    14
</td>
<td align="right">
     -.98
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
ANR
</td>
<td align="right">
   17.23
</td>
<td align="right">
  .60
</td>
<td align="right">
    1.60
</td>
<td align="right">
    .07
</td>
<td align="right">
    .26
</td>
<td align="right">
    21
</td>
<td align="right">
     5.36
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   83.64
</td>
<td align="right">
  .59
</td>
<td align="right">
   10.66
</td>
<td align="right">
    .29
</td>
<td align="right">
    .98
</td>
<td align="right">
     8
</td>
<td align="right">
     7.80
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
AXP
</td>
<td align="right">
   53.04
</td>
<td align="right">
  .62
</td>
<td align="right">
   12.40
</td>
<td align="right">
    .20
</td>
<td align="right">
   2.60
</td>
<td align="right">
     4
</td>
<td align="right">
    10.41
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    7.12
</td>
<td align="right">
  .76
</td>
<td align="right">
    -.20
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.02
</td>
<td align="right">
   133
</td>
<td align="right">
    -2.16
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   24.74
</td>
<td align="right">
  .62
</td>
<td align="right">
   10.72
</td>
<td align="right">
    .05
</td>
<td align="right">
    .64
</td>
<td align="right">
     6
</td>
<td align="right">
     3.81
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
BP
</td>
<td align="right">
   46.85
</td>
<td align="right">
  .59
</td>
<td align="right">
    5.00
</td>
<td align="right">
   -.17
</td>
<td align="right">
    .05
</td>
<td align="right">
     1
</td>
<td align="right">
      .05
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BTU
</td>
<td align="right">
   30.57
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.56
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.11
</td>
<td align="right">
    16
</td>
<td align="right">
    -1.81
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
C
</td>
<td align="right">
   36.26
</td>
<td align="right">
  .59
</td>
<td align="right">
    1.32
</td>
<td align="right">
    .14
</td>
<td align="right">
    .61
</td>
<td align="right">
     6
</td>
<td align="right">
     3.68
</td>
<td align="right">
    .46
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  215.95
</td>
<td align="right">
  .74
</td>
<td align="right">
    1.85
</td>
<td align="right">
   4.62
</td>
<td align="right">
   7.03
</td>
<td align="right">
    14
</td>
<td align="right">
    98.38
</td>
<td align="right">
   3.79
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   68.33
</td>
<td align="right">
  .64
</td>
<td align="right">
    1.11
</td>
<td align="right">
   -.25
</td>
<td align="right">
   2.66
</td>
<td align="right">
    15
</td>
<td align="right">
    39.89
</td>
<td align="right">
   2.40
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  397.93
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.41
</td>
<td align="right">
    .52
</td>
<td align="right">
   1.89
</td>
<td align="right">
    49
</td>
<td align="right">
    92.79
</td>
<td align="right">
   1.35
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  146.03
</td>
<td align="right">
  .66
</td>
<td align="right">
    5.87
</td>
<td align="right">
    .24
</td>
<td align="right">
   3.92
</td>
<td align="right">
    38
</td>
<td align="right">
   149.09
</td>
<td align="right">
    .67
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   19.92
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.18
</td>
<td align="right">
    .02
</td>
<td align="right">
    .13
</td>
<td align="right">
    30
</td>
<td align="right">
     3.85
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
CSX
</td>
<td align="right">
   22.48
</td>
<td align="right">
  .60
</td>
<td align="right">
  -61.20
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.35
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.06
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   37.17
</td>
<td align="right">
  .58
</td>
<td align="right">
     .58
</td>
<td align="right">
    .22
</td>
<td align="right">
    .18
</td>
<td align="right">
     2
</td>
<td align="right">
      .35
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   44.76
</td>
<td align="right">
  .59
</td>
<td align="right">
    2.57
</td>
<td align="right">
    .06
</td>
<td align="right">
    .32
</td>
<td align="right">
     5
</td>
<td align="right">
     1.58
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   52.88
</td>
<td align="right">
  .59
</td>
<td align="right">
    1.07
</td>
<td align="right">
    .13
</td>
<td align="right">
    .43
</td>
<td align="right">
     9
</td>
<td align="right">
     3.89
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  129.99
</td>
<td align="right">
  .69
</td>
<td align="right">
    1.66
</td>
<td align="right">
    .08
</td>
<td align="right">
    .85
</td>
<td align="right">
    26
</td>
<td align="right">
    22.16
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   43.27
</td>
<td align="right">
  .61
</td>
<td align="right">
     .06
</td>
<td align="right">
    .05
</td>
<td align="right">
    .02
</td>
<td align="right">
    26
</td>
<td align="right">
      .42
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   34.15
</td>
<td align="right">
  .66
</td>
<td align="right">
    4.10
</td>
<td align="right">
    .15
</td>
<td align="right">
    .72
</td>
<td align="right">
    12
</td>
<td align="right">
     8.67
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   47.18
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.78
</td>
<td align="right">
    .05
</td>
<td align="right">
    .44
</td>
<td align="right">
    16
</td>
<td align="right">
     6.98
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    9.44
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.16
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.04
</td>
<td align="right">
     5
</td>
<td align="right">
     -.19
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   94.17
</td>
<td align="right">
  .65
</td>
<td align="right">
     .37
</td>
<td align="right">
    .08
</td>
<td align="right">
    .33
</td>
<td align="right">
    40
</td>
<td align="right">
    13.25
</td>
<td align="right">
    .90
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
   27.07
</td>
<td align="right">
  .65
</td>
<td align="right">
    3.80
</td>
<td align="right">
    .48
</td>
<td align="right">
    .88
</td>
<td align="right">
     8
</td>
<td align="right">
     7.06
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
FXI
</td>
<td align="right">
   38.95
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.40
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.08
</td>
<td align="right">
    54
</td>
<td align="right">
    -4.51
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   51.39
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.44
</td>
<td align="right">
   -.23
</td>
<td align="right">
   -.37
</td>
<td align="right">
    10
</td>
<td align="right">
    -3.67
</td>
<td align="right">
    .84
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  123.09
</td>
<td align="right">
  .65
</td>
<td align="right">
   -1.45
</td>
<td align="right">
   -.68
</td>
<td align="right">
  -1.08
</td>
<td align="right">
    17
</td>
<td align="right">
   -18.31
</td>
<td align="right">
    .74
</td>
</tr>
<tr>
<td>
HES
</td>
<td align="right">
   61.87
</td>
<td align="right">
  .58
</td>
<td align="right">
   -4.00
</td>
<td align="right">
   -.45
</td>
<td align="right">
   -.04
</td>
<td align="right">
     1
</td>
<td align="right">
     -.04
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
HON
</td>
<td align="right">
   60.42
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.32
</td>
<td align="right">
    .09
</td>
<td align="right">
   -.06
</td>
<td align="right">
     4
</td>
<td align="right">
     -.23
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
IBM
</td>
<td align="right">
  200.96
</td>
<td align="right">
  .64
</td>
<td align="right">
    7.40
</td>
<td align="right">
    .04
</td>
<td align="right">
   1.63
</td>
<td align="right">
    17
</td>
<td align="right">
    27.69
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   57.74
</td>
<td align="right">
  .62
</td>
<td align="right">
     .95
</td>
<td align="right">
    .77
</td>
<td align="right">
    .47
</td>
<td align="right">
     2
</td>
<td align="right">
      .94
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   81.82
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.87
</td>
<td align="right">
    .08
</td>
<td align="right">
    .74
</td>
<td align="right">
    59
</td>
<td align="right">
    43.66
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   61.96
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.76
</td>
<td align="right">
    .02
</td>
<td align="right">
    .35
</td>
<td align="right">
    55
</td>
<td align="right">
    19.44
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
JPM
</td>
<td align="right">
   41.29
</td>
<td align="right">
  .56
</td>
<td align="right">
   12.43
</td>
<td align="right">
    .63
</td>
<td align="right">
   2.11
</td>
<td align="right">
     2
</td>
<td align="right">
     4.22
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
JWN
</td>
<td align="right">
   54.64
</td>
<td align="right">
  .65
</td>
<td align="right">
     .12
</td>
<td align="right">
    .06
</td>
<td align="right">
    .05
</td>
<td align="right">
    37
</td>
<td align="right">
     1.72
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
LMT
</td>
<td align="right">
   89.67
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.35
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.20
</td>
<td align="right">
    18
</td>
<td align="right">
    -3.53
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  420.08
</td>
<td align="right">
  .64
</td>
<td align="right">
     .21
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .25
</td>
<td align="right">
    22
</td>
<td align="right">
     5.46
</td>
<td align="right">
   1.18
</td>
</tr>
<tr>
<td>
MCD
</td>
<td align="right">
   97.86
</td>
<td align="right">
  .57
</td>
<td align="right">
  -26.00
</td>
<td align="right">
    .27
</td>
<td align="right">
   -.26
</td>
<td align="right">
     1
</td>
<td align="right">
     -.26
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  179.41
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.38
</td>
<td align="right">
   -.02
</td>
<td align="right">
   1.18
</td>
<td align="right">
    75
</td>
<td align="right">
    88.85
</td>
<td align="right">
    .86
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   87.19
</td>
<td align="right">
  .63
</td>
<td align="right">
    4.38
</td>
<td align="right">
    .10
</td>
<td align="right">
    .57
</td>
<td align="right">
     6
</td>
<td align="right">
     3.41
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   38.12
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.13
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.11
</td>
<td align="right">
    20
</td>
<td align="right">
    -2.10
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
MRO
</td>
<td align="right">
   33.65
</td>
<td align="right">
  .64
</td>
<td align="right">
    1.22
</td>
<td align="right">
    .18
</td>
<td align="right">
    .47
</td>
<td align="right">
     4
</td>
<td align="right">
     1.87
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   32.78
</td>
<td align="right">
  .58
</td>
<td align="right">
   -3.39
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.35
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.04
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    9.65
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.14
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.05
</td>
<td align="right">
    13
</td>
<td align="right">
     -.69
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
NEM
</td>
<td align="right">
   53.71
</td>
<td align="right">
  .64
</td>
<td align="right">
   12.02
</td>
<td align="right">
   -.07
</td>
<td align="right">
    .09
</td>
<td align="right">
     2
</td>
<td align="right">
      .17
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
  108.02
</td>
<td align="right">
  .57
</td>
<td align="right">
     .55
</td>
<td align="right">
   -.01
</td>
<td align="right">
   2.23
</td>
<td align="right">
     3
</td>
<td align="right">
     6.70
</td>
<td align="right">
   4.03
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   61.90
</td>
<td align="right">
  .63
</td>
<td align="right">
     .69
</td>
<td align="right">
    .03
</td>
<td align="right">
    .08
</td>
<td align="right">
    16
</td>
<td align="right">
     1.31
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   42.30
</td>
<td align="right">
  .69
</td>
<td align="right">
    3.14
</td>
<td align="right">
    .07
</td>
<td align="right">
    .92
</td>
<td align="right">
    58
</td>
<td align="right">
    53.43
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
ORCL
</td>
<td align="right">
   29.81
</td>
<td align="right">
  .62
</td>
<td align="right">
     .66
</td>
<td align="right">
    .07
</td>
<td align="right">
    .08
</td>
<td align="right">
    12
</td>
<td align="right">
      .90
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
OXY
</td>
<td align="right">
   98.88
</td>
<td align="right">
  .61
</td>
<td align="right">
    3.46
</td>
<td align="right">
    .26
</td>
<td align="right">
   1.29
</td>
<td align="right">
     4
</td>
<td align="right">
     5.14
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   69.26
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.01
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.01
</td>
<td align="right">
    31
</td>
<td align="right">
     -.26
</td>
<td align="right">
    .77
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   85.33
</td>
<td align="right">
  .59
</td>
<td align="right">
    1.12
</td>
<td align="right">
    .07
</td>
<td align="right">
    .29
</td>
<td align="right">
     9
</td>
<td align="right">
     2.65
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   61.02
</td>
<td align="right">
  .57
</td>
<td align="right">
    6.74
</td>
<td align="right">
    .30
</td>
<td align="right">
   1.43
</td>
<td align="right">
     2
</td>
<td align="right">
     2.86
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  165.86
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.57
</td>
<td align="right">
    .09
</td>
<td align="right">
   -.49
</td>
<td align="right">
     7
</td>
<td align="right">
    -3.44
</td>
<td align="right">
    .85
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   13.49
</td>
<td align="right">
  .59
</td>
<td align="right">
    4.76
</td>
<td align="right">
    .02
</td>
<td align="right">
    .63
</td>
<td align="right">
     3
</td>
<td align="right">
     1.90
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
RTN
</td>
<td align="right">
   52.25
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.87
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.09
</td>
<td align="right">
    18
</td>
<td align="right">
    -1.67
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   53.25
</td>
<td align="right">
  .57
</td>
<td align="right">
  -47.00
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.47
</td>
<td align="right">
     1
</td>
<td align="right">
     -.47
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   73.92
</td>
<td align="right">
  .66
</td>
<td align="right">
     .65
</td>
<td align="right">
   -.28
</td>
<td align="right">
    .66
</td>
<td align="right">
    32
</td>
<td align="right">
    21.03
</td>
<td align="right">
   1.01
</td>
</tr>
<tr>
<td>
SLB
</td>
<td align="right">
   74.27
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.24
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.14
</td>
<td align="right">
    83
</td>
<td align="right">
   -11.49
</td>
<td align="right">
    .58
</td>
</tr>
<tr>
<td>
SU
</td>
<td align="right">
   33.42
</td>
<td align="right">
  .58
</td>
<td align="right">
   46.00
</td>
<td align="right">
    .18
</td>
<td align="right">
    .46
</td>
<td align="right">
     1
</td>
<td align="right">
      .46
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SUN
</td>
<td align="right">
   39.77
</td>
<td align="right">
  .57
</td>
<td align="right">
    1.93
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .21
</td>
<td align="right">
     2
</td>
<td align="right">
      .41
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    6.89
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.43
</td>
<td align="right">
    .00
</td>
<td align="right">
    .07
</td>
<td align="right">
    32
</td>
<td align="right">
     2.16
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   53.37
</td>
<td align="right">
  .65
</td>
<td align="right">
     .81
</td>
<td align="right">
    .11
</td>
<td align="right">
    .41
</td>
<td align="right">
    13
</td>
<td align="right">
     5.33
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
TSO
</td>
<td align="right">
   29.47
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.70
</td>
<td align="right">
    .24
</td>
<td align="right">
    .31
</td>
<td align="right">
    10
</td>
<td align="right">
     3.13
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   96.02
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.28
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.42
</td>
<td align="right">
    27
</td>
<td align="right">
   -11.37
</td>
<td align="right">
   1.53
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   55.18
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.15
</td>
<td align="right">
    .06
</td>
<td align="right">
    .52
</td>
<td align="right">
    37
</td>
<td align="right">
    19.11
</td>
<td align="right">
    .45
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
  116.85
</td>
<td align="right">
  .57
</td>
<td align="right">
     .20
</td>
<td align="right">
   -.07
</td>
<td align="right">
    .10
</td>
<td align="right">
     3
</td>
<td align="right">
      .29
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
VECO
</td>
<td align="right">
   30.20
</td>
<td align="right">
  .66
</td>
<td align="right">
   20.28
</td>
<td align="right">
    .24
</td>
<td align="right">
   3.17
</td>
<td align="right">
    10
</td>
<td align="right">
    31.70
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
WDC
</td>
<td align="right">
   39.84
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.43
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.24
</td>
<td align="right">
     2
</td>
<td align="right">
     -.47
</td>
<td align="right">
    .54
</td>
</tr>
<tr>
<td>
WFC
</td>
<td align="right">
   33.82
</td>
<td align="right">
  .58
</td>
<td align="right">
   53.00
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .53
</td>
<td align="right">
     1
</td>
<td align="right">
      .53
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   85.27
</td>
<td align="right">
  .62
</td>
<td align="right">
   -1.53
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.21
</td>
<td align="right">
     4
</td>
<td align="right">
     -.84
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   75.71
</td>
<td align="right">
  .61
</td>
<td align="right">
    4.06
</td>
<td align="right">
    .13
</td>
<td align="right">
   2.17
</td>
<td align="right">
    12
</td>
<td align="right">
    25.99
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   60.89
</td>
<td align="right">
  .61
</td>
<td align="right">
     .17
</td>
<td align="right">
    .01
</td>
<td align="right">
    .04
</td>
<td align="right">
    15
</td>
<td align="right">
      .53
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  125.88
</td>
<td align="right">
  .58
</td>
<td align="right">
  252.00
</td>
<td align="right">
   1.12
</td>
<td align="right">
   2.52
</td>
<td align="right">
     1
</td>
<td align="right">
     2.52
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
X
</td>
<td align="right">
   29.20
</td>
<td align="right">
  .77
</td>
<td align="right">
   54.00
</td>
<td align="right">
    .47
</td>
<td align="right">
    .54
</td>
<td align="right">
     1
</td>
<td align="right">
      .54
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1680
</td>
<td align="right">
   837.81
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
