<h4>Week of: 2012_10_31</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   67.85
</td>
<td align="right">
 -.60
</td>
<td align="right">
    3.91
</td>
<td align="right">
    .31
</td>
<td align="right">
   1.72
</td>
<td align="right">
     3
</td>
<td align="right">
     5.16
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
AXP
</td>
<td align="right">
   55.64
</td>
<td align="right">
 -.60
</td>
<td align="right">
   25.80
</td>
<td align="right">
    .02
</td>
<td align="right">
   1.39
</td>
<td align="right">
     4
</td>
<td align="right">
     5.55
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   37.12
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .35
</td>
<td align="right">
   -.37
</td>
<td align="right">
    .24
</td>
<td align="right">
    10
</td>
<td align="right">
     2.35
</td>
<td align="right">
    .67
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   46.49
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .11
</td>
<td align="right">
   -.07
</td>
<td align="right">
    .03
</td>
<td align="right">
     2
</td>
<td align="right">
      .05
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   45.23
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -5.86
</td>
<td align="right">
   -.27
</td>
<td align="right">
   -.34
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.03
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  130.76
</td>
<td align="right">
 -.65
</td>
<td align="right">
    2.36
</td>
<td align="right">
    .15
</td>
<td align="right">
   1.16
</td>
<td align="right">
    15
</td>
<td align="right">
    17.35
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   51.16
</td>
<td align="right">
 -.74
</td>
<td align="right">
    2.14
</td>
<td align="right">
   -.10
</td>
<td align="right">
    .24
</td>
<td align="right">
    22
</td>
<td align="right">
     5.26
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   53.57
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .52
</td>
<td align="right">
    .00
</td>
<td align="right">
    .34
</td>
<td align="right">
     5
</td>
<td align="right">
     1.72
</td>
<td align="right">
    .66
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  122.25
</td>
<td align="right">
 -.61
</td>
<td align="right">
    5.78
</td>
<td align="right">
    .26
</td>
<td align="right">
   2.15
</td>
<td align="right">
     7
</td>
<td align="right">
    15.04
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
JWN
</td>
<td align="right">
   56.42
</td>
<td align="right">
 -.57
</td>
<td align="right">
   14.72
</td>
<td align="right">
    .26
</td>
<td align="right">
    .69
</td>
<td align="right">
     4
</td>
<td align="right">
     2.74
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   45.72
</td>
<td align="right">
 -.58
</td>
<td align="right">
    4.17
</td>
<td align="right">
    .35
</td>
<td align="right">
    .90
</td>
<td align="right">
     9
</td>
<td align="right">
     8.07
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   61.94
</td>
<td align="right">
 -.63
</td>
<td align="right">
    3.36
</td>
<td align="right">
    .00
</td>
<td align="right">
   1.65
</td>
<td align="right">
    32
</td>
<td align="right">
    52.76
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   64.96
</td>
<td align="right">
 -.66
</td>
<td align="right">
    6.64
</td>
<td align="right">
    .09
</td>
<td align="right">
    .88
</td>
<td align="right">
    60
</td>
<td align="right">
    52.60
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   44.73
</td>
<td align="right">
 -.57
</td>
<td align="right">
    4.76
</td>
<td align="right">
   -.25
</td>
<td align="right">
    .42
</td>
<td align="right">
     4
</td>
<td align="right">
     1.68
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   52.37
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.06
</td>
<td align="right">
   -.12
</td>
<td align="right">
    .43
</td>
<td align="right">
    27
</td>
<td align="right">
    11.71
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
UPS
</td>
<td align="right">
   73.53
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -16.00
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.16
</td>
<td align="right">
     1
</td>
<td align="right">
     -.16
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
  138.25
</td>
<td align="right">
 -.58
</td>
<td align="right">
   28.42
</td>
<td align="right">
   2.64
</td>
<td align="right">
   5.51
</td>
<td align="right">
    12
</td>
<td align="right">
    66.09
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   84.46
</td>
<td align="right">
 -.58
</td>
<td align="right">
   13.47
</td>
<td align="right">
   2.14
</td>
<td align="right">
   3.72
</td>
<td align="right">
     2
</td>
<td align="right">
     7.43
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   222
</td>
<td align="right">
   254.37
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
BEN
</td>
<td align="right">
  127.95
</td>
<td align="right">
  .59
</td>
<td align="right">
    9.38
</td>
<td align="right">
    .07
</td>
<td align="right">
   3.32
</td>
<td align="right">
    21
</td>
<td align="right">
    69.70
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  206.89
</td>
<td align="right">
  .60
</td>
<td align="right">
    2.29
</td>
<td align="right">
   -.76
</td>
<td align="right">
   2.22
</td>
<td align="right">
     8
</td>
<td align="right">
    17.79
</td>
<td align="right">
    .97
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   85.39
</td>
<td align="right">
  .77
</td>
<td align="right">
    2.11
</td>
<td align="right">
    .01
</td>
<td align="right">
   1.32
</td>
<td align="right">
    76
</td>
<td align="right">
   100.60
</td>
<td align="right">
    .63
</td>
</tr>
<tr>
<td>
HD
</td>
<td align="right">
   61.55
</td>
<td align="right">
  .56
</td>
<td align="right">
    3.32
</td>
<td align="right">
   -.12
</td>
<td align="right">
    .55
</td>
<td align="right">
    20
</td>
<td align="right">
    11.01
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
JWN
</td>
<td align="right">
   56.86
</td>
<td align="right">
  .65
</td>
<td align="right">
    3.98
</td>
<td align="right">
    .29
</td>
<td align="right">
    .45
</td>
<td align="right">
    10
</td>
<td align="right">
     4.53
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   59.59
</td>
<td align="right">
  .61
</td>
<td align="right">
   11.70
</td>
<td align="right">
    .33
</td>
<td align="right">
    .97
</td>
<td align="right">
     6
</td>
<td align="right">
     5.83
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   54.72
</td>
<td align="right">
  .71
</td>
<td align="right">
    1.85
</td>
<td align="right">
    .06
</td>
<td align="right">
    .56
</td>
<td align="right">
    77
</td>
<td align="right">
    43.37
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
SLB
</td>
<td align="right">
   70.23
</td>
<td align="right">
  .62
</td>
<td align="right">
   -7.78
</td>
<td align="right">
   -.64
</td>
<td align="right">
   -.94
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.87
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   63.60
</td>
<td align="right">
  .78
</td>
<td align="right">
   -1.80
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.44
</td>
<td align="right">
    72
</td>
<td align="right">
   -31.37
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
TM
</td>
<td align="right">
   77.24
</td>
<td align="right">
  .61
</td>
<td align="right">
    2.87
</td>
<td align="right">
    .09
</td>
<td align="right">
    .63
</td>
<td align="right">
    13
</td>
<td align="right">
     8.22
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   55.69
</td>
<td align="right">
  .59
</td>
<td align="right">
    6.58
</td>
<td align="right">
    .12
</td>
<td align="right">
    .82
</td>
<td align="right">
    26
</td>
<td align="right">
    21.43
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  120.30
</td>
<td align="right">
  .75
</td>
<td align="right">
    3.38
</td>
<td align="right">
    .21
</td>
<td align="right">
   2.50
</td>
<td align="right">
    65
</td>
<td align="right">
   162.73
</td>
<td align="right">
    .74
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   71.40
</td>
<td align="right">
  .58
</td>
<td align="right">
   74.00
</td>
<td align="right">
    .06
</td>
<td align="right">
    .74
</td>
<td align="right">
     1
</td>
<td align="right">
      .74
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   397
</td>
<td align="right">
   412.71
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
