<h4>Week of: 2012_08_20</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   69.88
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.16
</td>
<td align="right">
   -.44
</td>
<td align="right">
   -.05
</td>
<td align="right">
    12
</td>
<td align="right">
     -.56
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   50.35
</td>
<td align="right">
 -.57
</td>
<td align="right">
    7.91
</td>
<td align="right">
    .20
</td>
<td align="right">
    .62
</td>
<td align="right">
     2
</td>
<td align="right">
     1.23
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   55.69
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.77
</td>
<td align="right">
   -.44
</td>
<td align="right">
   -.27
</td>
<td align="right">
    14
</td>
<td align="right">
    -3.81
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
SJM
</td>
<td align="right">
   84.43
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.33
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.04
</td>
<td align="right">
    48
</td>
<td align="right">
    -2.11
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   39.46
</td>
<td align="right">
 -.59
</td>
<td align="right">
    1.56
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .49
</td>
<td align="right">
    14
</td>
<td align="right">
     6.88
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   53.04
</td>
<td align="right">
 -.61
</td>
<td align="right">
    7.22
</td>
<td align="right">
    .04
</td>
<td align="right">
    .73
</td>
<td align="right">
    30
</td>
<td align="right">
    21.98
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   120
</td>
<td align="right">
    23.61
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
BHP
</td>
<td align="right">
   69.09
</td>
<td align="right">
  .62
</td>
<td align="right">
   14.02
</td>
<td align="right">
   -.26
</td>
<td align="right">
   1.19
</td>
<td align="right">
     2
</td>
<td align="right">
     2.38
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
CAT
</td>
<td align="right">
   89.89
</td>
<td align="right">
  .60
</td>
<td align="right">
    3.72
</td>
<td align="right">
    .01
</td>
<td align="right">
   1.60
</td>
<td align="right">
    14
</td>
<td align="right">
    22.38
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  298.26
</td>
<td align="right">
  .60
</td>
<td align="right">
     .13
</td>
<td align="right">
    .51
</td>
<td align="right">
    .23
</td>
<td align="right">
    56
</td>
<td align="right">
    13.14
</td>
<td align="right">
   1.84
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   77.51
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.39
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .61
</td>
<td align="right">
    11
</td>
<td align="right">
     6.72
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  132.18
</td>
<td align="right">
  .58
</td>
<td align="right">
    2.88
</td>
<td align="right">
    .03
</td>
<td align="right">
    .61
</td>
<td align="right">
    12
</td>
<td align="right">
     7.27
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
SUN
</td>
<td align="right">
   47.14
</td>
<td align="right">
  .59
</td>
<td align="right">
   -2.11
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.23
</td>
<td align="right">
     8
</td>
<td align="right">
    -1.87
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   103
</td>
<td align="right">
    50.02
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
