<h4>Week of: 2011_12_05</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   24.09
</td>
<td align="right">
 -.71
</td>
<td align="right">
   -1.24
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.55
</td>
<td align="right">
   147
</td>
<td align="right">
   -80.51
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   58.05
</td>
<td align="right">
 -.59
</td>
<td align="right">
    1.33
</td>
<td align="right">
    .16
</td>
<td align="right">
    .51
</td>
<td align="right">
     5
</td>
<td align="right">
     2.53
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   81.34
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -1.26
</td>
<td align="right">
  -1.26
</td>
<td align="right">
  -1.41
</td>
<td align="right">
     4
</td>
<td align="right">
    -5.64
</td>
<td align="right">
   1.12
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   49.49
</td>
<td align="right">
 -.62
</td>
<td align="right">
    1.74
</td>
<td align="right">
    .12
</td>
<td align="right">
    .53
</td>
<td align="right">
     9
</td>
<td align="right">
     4.79
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
AUY
</td>
<td align="right">
   16.50
</td>
<td align="right">
 -.55
</td>
<td align="right">
  -35.00
</td>
<td align="right">
   -.27
</td>
<td align="right">
   -.35
</td>
<td align="right">
     1
</td>
<td align="right">
     -.35
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AXP
</td>
<td align="right">
   48.66
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.61
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.38
</td>
<td align="right">
    15
</td>
<td align="right">
    -5.69
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   27.98
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -4.49
</td>
<td align="right">
    .09
</td>
<td align="right">
   -.29
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.15
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
BEN
</td>
<td align="right">
  100.43
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -2.13
</td>
<td align="right">
   -.35
</td>
<td align="right">
  -2.39
</td>
<td align="right">
    34
</td>
<td align="right">
   -81.19
</td>
<td align="right">
   1.12
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  131.67
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -2.00
</td>
<td align="right">
    .54
</td>
<td align="right">
  -1.36
</td>
<td align="right">
     6
</td>
<td align="right">
    -8.15
</td>
<td align="right">
    .68
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  193.84
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -3.87
</td>
<td align="right">
  -1.10
</td>
<td align="right">
  -7.84
</td>
<td align="right">
    37
</td>
<td align="right">
  -290.26
</td>
<td align="right">
   2.02
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   32.66
</td>
<td align="right">
 -.66
</td>
<td align="right">
    2.01
</td>
<td align="right">
    .00
</td>
<td align="right">
    .83
</td>
<td align="right">
     5
</td>
<td align="right">
     4.13
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   38.41
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -4.14
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.48
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.91
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   47.87
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.52
</td>
<td align="right">
   -.30
</td>
<td align="right">
  -1.15
</td>
<td align="right">
    10
</td>
<td align="right">
   -11.48
</td>
<td align="right">
    .75
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   78.83
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -2.34
</td>
<td align="right">
   -.57
</td>
<td align="right">
  -1.12
</td>
<td align="right">
    19
</td>
<td align="right">
   -21.32
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   36.89
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -2.09
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.59
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.78
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
DNDN
</td>
<td align="right">
    8.58
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -2.40
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.31
</td>
<td align="right">
    17
</td>
<td align="right">
    -5.22
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   47.51
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.11
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.86
</td>
<td align="right">
     6
</td>
<td align="right">
    -5.17
</td>
<td align="right">
    .78
</td>
</tr>
<tr>
<td>
DVN
</td>
<td align="right">
   67.03
</td>
<td align="right">
 -.56
</td>
<td align="right">
    -.92
</td>
<td align="right">
   -.09
</td>
<td align="right">
  -1.09
</td>
<td align="right">
     5
</td>
<td align="right">
    -5.43
</td>
<td align="right">
   1.18
</td>
</tr>
<tr>
<td>
EGO
</td>
<td align="right">
   17.51
</td>
<td align="right">
 -.58
</td>
<td align="right">
  -45.40
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.95
</td>
<td align="right">
     4
</td>
<td align="right">
    -3.78
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
EOG
</td>
<td align="right">
  103.42
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -4.63
</td>
<td align="right">
   -.45
</td>
<td align="right">
  -3.40
</td>
<td align="right">
    25
</td>
<td align="right">
   -84.99
</td>
<td align="right">
    .73
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   40.08
</td>
<td align="right">
 -.56
</td>
<td align="right">
 -204.00
</td>
<td align="right">
   -.25
</td>
<td align="right">
  -2.04
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.04
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FLS
</td>
<td align="right">
  103.05
</td>
<td align="right">
 -.56
</td>
<td align="right">
 -319.00
</td>
<td align="right">
   -.11
</td>
<td align="right">
  -3.19
</td>
<td align="right">
     1
</td>
<td align="right">
    -3.19
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  626.33
</td>
<td align="right">
 -.63
</td>
<td align="right">
  -54.27
</td>
<td align="right">
   1.23
</td>
<td align="right">
  -3.07
</td>
<td align="right">
     2
</td>
<td align="right">
    -6.14
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  102.11
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.85
</td>
<td align="right">
    .18
</td>
<td align="right">
  -3.18
</td>
<td align="right">
    11
</td>
<td align="right">
   -34.93
</td>
<td align="right">
   1.71
</td>
</tr>
<tr>
<td>
HL
</td>
<td align="right">
    6.43
</td>
<td align="right">
 -.60
</td>
<td align="right">
  -11.08
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.24
</td>
<td align="right">
     2
</td>
<td align="right">
     -.47
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
HMY
</td>
<td align="right">
   14.18
</td>
<td align="right">
 -.64
</td>
<td align="right">
    4.00
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .04
</td>
<td align="right">
     1
</td>
<td align="right">
      .04
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IAG
</td>
<td align="right">
   18.98
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .77
</td>
<td align="right">
    .11
</td>
<td align="right">
    .19
</td>
<td align="right">
    10
</td>
<td align="right">
     1.87
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
INTC
</td>
<td align="right">
   25.01
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.47
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.11
</td>
<td align="right">
    11
</td>
<td align="right">
    -1.25
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   55.17
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.17
</td>
<td align="right">
   -.37
</td>
<td align="right">
  -1.36
</td>
<td align="right">
    26
</td>
<td align="right">
   -35.35
</td>
<td align="right">
   1.16
</td>
</tr>
<tr>
<td>
LMT
</td>
<td align="right">
   77.43
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -8.79
</td>
<td align="right">
    .28
</td>
<td align="right">
   -.85
</td>
<td align="right">
     5
</td>
<td align="right">
    -4.25
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  371.72
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .23
</td>
<td align="right">
    .16
</td>
<td align="right">
    .48
</td>
<td align="right">
     8
</td>
<td align="right">
     3.80
</td>
<td align="right">
   2.09
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   36.10
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -3.31
</td>
<td align="right">
   -.26
</td>
<td align="right">
   -.66
</td>
<td align="right">
     4
</td>
<td align="right">
    -2.65
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   31.86
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -4.70
</td>
<td align="right">
   -.15
</td>
<td align="right">
  -1.03
</td>
<td align="right">
    12
</td>
<td align="right">
   -12.33
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   75.66
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -2.34
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.47
</td>
<td align="right">
    40
</td>
<td align="right">
   -18.88
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   82.43
</td>
<td align="right">
 -.57
</td>
<td align="right">
 -140.00
</td>
<td align="right">
  -1.10
</td>
<td align="right">
  -1.40
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.40
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MT
</td>
<td align="right">
   18.92
</td>
<td align="right">
 -.62
</td>
<td align="right">
 -156.00
</td>
<td align="right">
   -.12
</td>
<td align="right">
  -1.56
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.56
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    8.29
</td>
<td align="right">
 -.58
</td>
<td align="right">
  -44.00
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.44
</td>
<td align="right">
     2
</td>
<td align="right">
     -.88
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   41.14
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -1.13
</td>
<td align="right">
   -.92
</td>
<td align="right">
  -1.01
</td>
<td align="right">
     3
</td>
<td align="right">
    -3.02
</td>
<td align="right">
    .89
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
  126.39
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -1.11
</td>
<td align="right">
   -.08
</td>
<td align="right">
  -1.83
</td>
<td align="right">
    17
</td>
<td align="right">
   -31.11
</td>
<td align="right">
   1.66
</td>
</tr>
<tr>
<td>
PAAS
</td>
<td align="right">
   24.70
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.27
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.76
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.28
</td>
<td align="right">
    .60
</td>
</tr>
<tr>
<td>
PEP
</td>
<td align="right">
   65.25
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -16.13
</td>
<td align="right">
    .01
</td>
<td align="right">
  -1.26
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.51
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
PFE
</td>
<td align="right">
   20.49
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.54
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.20
</td>
<td align="right">
    14
</td>
<td align="right">
    -2.82
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
PG
</td>
<td align="right">
   64.69
</td>
<td align="right">
 -.55
</td>
<td align="right">
   31.00
</td>
<td align="right">
   -.12
</td>
<td align="right">
    .31
</td>
<td align="right">
     1
</td>
<td align="right">
      .31
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   75.57
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.93
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.35
</td>
<td align="right">
    13
</td>
<td align="right">
    -4.58
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   42.80
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.25
</td>
<td align="right">
   -.22
</td>
<td align="right">
  -1.33
</td>
<td align="right">
    43
</td>
<td align="right">
   -57.11
</td>
<td align="right">
   1.06
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   56.79
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.13
</td>
<td align="right">
    .16
</td>
<td align="right">
   -.08
</td>
<td align="right">
     2
</td>
<td align="right">
     -.16
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
RTN
</td>
<td align="right">
   45.44
</td>
<td align="right">
 -.60
</td>
<td align="right">
   33.00
</td>
<td align="right">
    .17
</td>
<td align="right">
    .33
</td>
<td align="right">
     1
</td>
<td align="right">
      .33
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SCCO
</td>
<td align="right">
   31.04
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .62
</td>
<td align="right">
    .03
</td>
<td align="right">
    .36
</td>
<td align="right">
    33
</td>
<td align="right">
    11.97
</td>
<td align="right">
    .58
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   13.12
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.86
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.19
</td>
<td align="right">
     8
</td>
<td align="right">
    -1.51
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   31.60
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -3.56
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.82
</td>
<td align="right">
    71
</td>
<td align="right">
   -58.14
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   33.20
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.64
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.75
</td>
<td align="right">
    35
</td>
<td align="right">
   -26.10
</td>
<td align="right">
   1.17
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   51.86
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.93
</td>
<td align="right">
   -.12
</td>
<td align="right">
  -1.60
</td>
<td align="right">
     2
</td>
<td align="right">
    -3.19
</td>
<td align="right">
    .83
</td>
</tr>
<tr>
<td>
SU
</td>
<td align="right">
   29.25
</td>
<td align="right">
 -.58
</td>
<td align="right">
  -30.19
</td>
<td align="right">
    .06
</td>
<td align="right">
  -1.43
</td>
<td align="right">
     3
</td>
<td align="right">
    -4.28
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
SUN
</td>
<td align="right">
   38.83
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -4.89
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.72
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.16
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    7.34
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.06
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.17
</td>
<td align="right">
    37
</td>
<td align="right">
    -6.18
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   40.12
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -7.00
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.07
</td>
<td align="right">
     1
</td>
<td align="right">
     -.07
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   53.41
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.44
</td>
<td align="right">
    .11
</td>
<td align="right">
   -.13
</td>
<td align="right">
     5
</td>
<td align="right">
     -.66
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
TM
</td>
<td align="right">
   68.31
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -24.54
</td>
<td align="right">
   -.02
</td>
<td align="right">
  -1.84
</td>
<td align="right">
     7
</td>
<td align="right">
   -12.85
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   82.76
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.88
</td>
<td align="right">
  -3.15
</td>
<td align="right">
  -2.15
</td>
<td align="right">
     2
</td>
<td align="right">
    -4.30
</td>
<td align="right">
   2.43
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   48.90
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.13
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.40
</td>
<td align="right">
    16
</td>
<td align="right">
    -6.39
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
UNP
</td>
<td align="right">
  101.84
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.98
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.67
</td>
<td align="right">
     8
</td>
<td align="right">
    -5.39
</td>
<td align="right">
    .69
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   97.17
</td>
<td align="right">
 -.58
</td>
<td align="right">
    -.86
</td>
<td align="right">
    .31
</td>
<td align="right">
   -.82
</td>
<td align="right">
     4
</td>
<td align="right">
    -3.26
</td>
<td align="right">
    .95
</td>
</tr>
<tr>
<td>
VLO
</td>
<td align="right">
   22.07
</td>
<td align="right">
 -.57
</td>
<td align="right">
 -105.00
</td>
<td align="right">
    .08
</td>
<td align="right">
  -1.05
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.05
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   97.06
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.95
</td>
<td align="right">
   -.77
</td>
<td align="right">
   -.94
</td>
<td align="right">
    30
</td>
<td align="right">
   -28.10
</td>
<td align="right">
    .98
</td>
</tr>
<tr>
<td>
WAG
</td>
<td align="right">
   34.02
</td>
<td align="right">
 -.63
</td>
<td align="right">
    4.41
</td>
<td align="right">
    .10
</td>
<td align="right">
    .28
</td>
<td align="right">
     3
</td>
<td align="right">
      .85
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
WFC
</td>
<td align="right">
   26.66
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .18
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .05
</td>
<td align="right">
     5
</td>
<td align="right">
      .24
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   58.44
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.79
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.23
</td>
<td align="right">
    22
</td>
<td align="right">
    -5.12
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   34.64
</td>
<td align="right">
 -.65
</td>
<td align="right">
  -11.00
</td>
<td align="right">
    .26
</td>
<td align="right">
   -.11
</td>
<td align="right">
     1
</td>
<td align="right">
     -.11
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   70.43
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -3.08
</td>
<td align="right">
    .03
</td>
<td align="right">
  -1.20
</td>
<td align="right">
    17
</td>
<td align="right">
   -20.44
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
XLU
</td>
<td align="right">
   35.15
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -7.00
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.07
</td>
<td align="right">
     1
</td>
<td align="right">
     -.07
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   912
</td>
<td align="right">
 -1001.44
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ACI
</td>
<td align="right">
   16.03
</td>
<td align="right">
  .55
</td>
<td align="right">
   -1.59
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.56
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.69
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   43.49
</td>
<td align="right">
  .61
</td>
<td align="right">
   -5.32
</td>
<td align="right">
    .17
</td>
<td align="right">
  -1.02
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.03
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   29.58
</td>
<td align="right">
  .71
</td>
<td align="right">
  -18.37
</td>
<td align="right">
   -.09
</td>
<td align="right">
  -1.26
</td>
<td align="right">
    14
</td>
<td align="right">
   -17.58
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   57.89
</td>
<td align="right">
  .60
</td>
<td align="right">
     .11
</td>
<td align="right">
    .05
</td>
<td align="right">
    .09
</td>
<td align="right">
    17
</td>
<td align="right">
     1.61
</td>
<td align="right">
    .83
</td>
</tr>
<tr>
<td>
ANR
</td>
<td align="right">
   23.86
</td>
<td align="right">
  .57
</td>
<td align="right">
   -1.12
</td>
<td align="right">
    .10
</td>
<td align="right">
  -1.25
</td>
<td align="right">
    20
</td>
<td align="right">
   -24.94
</td>
<td align="right">
   1.11
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   81.49
</td>
<td align="right">
  .55
</td>
<td align="right">
 -107.00
</td>
<td align="right">
    .05
</td>
<td align="right">
  -1.07
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.07
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   49.79
</td>
<td align="right">
  .64
</td>
<td align="right">
     .66
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .24
</td>
<td align="right">
    12
</td>
<td align="right">
     2.92
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   28.00
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.01
</td>
<td align="right">
   -.09
</td>
<td align="right">
    .00
</td>
<td align="right">
     6
</td>
<td align="right">
     -.02
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
BHP
</td>
<td align="right">
   76.60
</td>
<td align="right">
  .64
</td>
<td align="right">
   -7.20
</td>
<td align="right">
   -.33
</td>
<td align="right">
  -1.38
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.75
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  131.51
</td>
<td align="right">
  .63
</td>
<td align="right">
   -4.03
</td>
<td align="right">
  -1.87
</td>
<td align="right">
  -4.67
</td>
<td align="right">
     2
</td>
<td align="right">
    -9.34
</td>
<td align="right">
   1.16
</td>
</tr>
<tr>
<td>
C
</td>
<td align="right">
   29.19
</td>
<td align="right">
  .65
</td>
<td align="right">
   -1.64
</td>
<td align="right">
   -.05
</td>
<td align="right">
  -1.27
</td>
<td align="right">
    29
</td>
<td align="right">
   -36.87
</td>
<td align="right">
    .78
</td>
</tr>
<tr>
<td>
CHK
</td>
<td align="right">
   25.28
</td>
<td align="right">
  .66
</td>
<td align="right">
   25.00
</td>
<td align="right">
    .02
</td>
<td align="right">
    .25
</td>
<td align="right">
     1
</td>
<td align="right">
      .25
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   68.19
</td>
<td align="right">
  .68
</td>
<td align="right">
    3.74
</td>
<td align="right">
    .07
</td>
<td align="right">
   1.32
</td>
<td align="right">
    35
</td>
<td align="right">
    46.32
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  331.81
</td>
<td align="right">
  .61
</td>
<td align="right">
     .46
</td>
<td align="right">
   -.02
</td>
<td align="right">
   1.67
</td>
<td align="right">
    10
</td>
<td align="right">
    16.70
</td>
<td align="right">
   3.64
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   45.26
</td>
<td align="right">
  .62
</td>
<td align="right">
    4.00
</td>
<td align="right">
    .65
</td>
<td align="right">
    .04
</td>
<td align="right">
     1
</td>
<td align="right">
      .04
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   18.78
</td>
<td align="right">
  .62
</td>
<td align="right">
     .08
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .02
</td>
<td align="right">
   120
</td>
<td align="right">
     2.15
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
CSX
</td>
<td align="right">
   21.32
</td>
<td align="right">
  .59
</td>
<td align="right">
  -18.13
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.52
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.57
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   38.42
</td>
<td align="right">
  .67
</td>
<td align="right">
   -4.95
</td>
<td align="right">
   -.23
</td>
<td align="right">
   -.18
</td>
<td align="right">
     2
</td>
<td align="right">
     -.35
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   47.61
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.71
</td>
<td align="right">
   -.34
</td>
<td align="right">
   -.80
</td>
<td align="right">
    17
</td>
<td align="right">
   -13.67
</td>
<td align="right">
   1.13
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  121.32
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.55
</td>
<td align="right">
    .09
</td>
<td align="right">
   -.83
</td>
<td align="right">
     5
</td>
<td align="right">
    -4.15
</td>
<td align="right">
   1.50
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   36.07
</td>
<td align="right">
  .57
</td>
<td align="right">
    5.86
</td>
<td align="right">
   -.08
</td>
<td align="right">
    .58
</td>
<td align="right">
     2
</td>
<td align="right">
     1.16
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
DNDN
</td>
<td align="right">
    8.52
</td>
<td align="right">
  .58
</td>
<td align="right">
   -3.04
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.28
</td>
<td align="right">
    20
</td>
<td align="right">
    -5.67
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   27.58
</td>
<td align="right">
  .59
</td>
<td align="right">
   -9.07
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.72
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.16
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   46.71
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.26
</td>
<td align="right">
    .08
</td>
<td align="right">
   -.11
</td>
<td align="right">
    13
</td>
<td align="right">
    -1.42
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   30.79
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.64
</td>
<td align="right">
    .06
</td>
<td align="right">
    .31
</td>
<td align="right">
    15
</td>
<td align="right">
     4.59
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   51.18
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.87
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.62
</td>
<td align="right">
    21
</td>
<td align="right">
   -12.95
</td>
<td align="right">
    .71
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
   11.25
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.48
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.19
</td>
<td align="right">
    28
</td>
<td align="right">
    -5.35
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   83.25
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.19
</td>
<td align="right">
    .12
</td>
<td align="right">
   -.21
</td>
<td align="right">
    46
</td>
<td align="right">
    -9.61
</td>
<td align="right">
   1.10
</td>
</tr>
<tr>
<td>
FLS
</td>
<td align="right">
  104.24
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.11
</td>
<td align="right">
    .21
</td>
<td align="right">
   -.15
</td>
<td align="right">
     7
</td>
<td align="right">
    -1.08
</td>
<td align="right">
   1.47
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
   46.43
</td>
<td align="right">
  .74
</td>
<td align="right">
     .08
</td>
<td align="right">
    .05
</td>
<td align="right">
    .17
</td>
<td align="right">
   212
</td>
<td align="right">
    35.41
</td>
<td align="right">
   2.18
</td>
</tr>
<tr>
<td>
FXI
</td>
<td align="right">
   36.46
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.74
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.31
</td>
<td align="right">
    15
</td>
<td align="right">
    -4.58
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   57.70
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.59
</td>
<td align="right">
   -.31
</td>
<td align="right">
  -1.77
</td>
<td align="right">
    59
</td>
<td align="right">
  -104.51
</td>
<td align="right">
   1.11
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   50.31
</td>
<td align="right">
  .63
</td>
<td align="right">
  -12.81
</td>
<td align="right">
   -.05
</td>
<td align="right">
  -2.27
</td>
<td align="right">
     2
</td>
<td align="right">
    -4.53
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  621.40
</td>
<td align="right">
  .64
</td>
<td align="right">
     .36
</td>
<td align="right">
    .29
</td>
<td align="right">
   1.58
</td>
<td align="right">
    26
</td>
<td align="right">
    41.10
</td>
<td align="right">
   4.43
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  100.38
</td>
<td align="right">
  .63
</td>
<td align="right">
    4.85
</td>
<td align="right">
   1.32
</td>
<td align="right">
   1.50
</td>
<td align="right">
     4
</td>
<td align="right">
     5.99
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
HES
</td>
<td align="right">
   59.93
</td>
<td align="right">
  .57
</td>
<td align="right">
  -32.04
</td>
<td align="right">
    .32
</td>
<td align="right">
  -1.11
</td>
<td align="right">
     3
</td>
<td align="right">
    -3.33
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
HON
</td>
<td align="right">
   53.70
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.56
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.21
</td>
<td align="right">
    12
</td>
<td align="right">
    -2.48
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
HPQ
</td>
<td align="right">
   28.20
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.25
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.12
</td>
<td align="right">
    30
</td>
<td align="right">
    -3.65
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
IAG
</td>
<td align="right">
   19.23
</td>
<td align="right">
  .62
</td>
<td align="right">
   -1.72
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.95
</td>
<td align="right">
    20
</td>
<td align="right">
   -19.06
</td>
<td align="right">
    .55
</td>
</tr>
<tr>
<td>
INTC
</td>
<td align="right">
   25.07
</td>
<td align="right">
  .58
</td>
<td align="right">
     .67
</td>
<td align="right">
    .00
</td>
<td align="right">
    .19
</td>
<td align="right">
    30
</td>
<td align="right">
     5.71
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   53.56
</td>
<td align="right">
  .61
</td>
<td align="right">
    2.65
</td>
<td align="right">
    .14
</td>
<td align="right">
   1.66
</td>
<td align="right">
    12
</td>
<td align="right">
    19.95
</td>
<td align="right">
    .63
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   73.51
</td>
<td align="right">
  .63
</td>
<td align="right">
     .32
</td>
<td align="right">
   -.07
</td>
<td align="right">
    .25
</td>
<td align="right">
    40
</td>
<td align="right">
    10.17
</td>
<td align="right">
    .78
</td>
</tr>
<tr>
<td>
JPM
</td>
<td align="right">
   32.95
</td>
<td align="right">
  .57
</td>
<td align="right">
   77.00
</td>
<td align="right">
    .03
</td>
<td align="right">
    .77
</td>
<td align="right">
     1
</td>
<td align="right">
      .77
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
LMT
</td>
<td align="right">
   77.74
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.56
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.72
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.43
</td>
<td align="right">
    .46
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   45.48
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.79
</td>
<td align="right">
    .10
</td>
<td align="right">
   -.90
</td>
<td align="right">
     4
</td>
<td align="right">
    -3.61
</td>
<td align="right">
   1.14
</td>
</tr>
<tr>
<td>
MCD
</td>
<td align="right">
   95.26
</td>
<td align="right">
  .57
</td>
<td align="right">
   39.00
</td>
<td align="right">
    .18
</td>
<td align="right">
    .39
</td>
<td align="right">
     1
</td>
<td align="right">
      .39
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   35.60
</td>
<td align="right">
  .59
</td>
<td align="right">
   32.00
</td>
<td align="right">
    .08
</td>
<td align="right">
    .32
</td>
<td align="right">
     1
</td>
<td align="right">
      .32
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   35.26
</td>
<td align="right">
  .65
</td>
<td align="right">
   51.00
</td>
<td align="right">
    .20
</td>
<td align="right">
    .51
</td>
<td align="right">
     1
</td>
<td align="right">
      .51
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   25.74
</td>
<td align="right">
  .63
</td>
<td align="right">
   -2.50
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.28
</td>
<td align="right">
    57
</td>
<td align="right">
   -16.14
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    7.61
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.59
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.13
</td>
<td align="right">
     6
</td>
<td align="right">
     -.80
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   57.36
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.07
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.05
</td>
<td align="right">
    31
</td>
<td align="right">
    -1.42
</td>
<td align="right">
    .64
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   40.47
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.89
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.42
</td>
<td align="right">
    37
</td>
<td align="right">
   -15.63
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
NVDA
</td>
<td align="right">
   14.86
</td>
<td align="right">
  .66
</td>
<td align="right">
   -1.61
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.29
</td>
<td align="right">
    59
</td>
<td align="right">
   -16.91
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
OXY
</td>
<td align="right">
   94.09
</td>
<td align="right">
  .60
</td>
<td align="right">
 -357.00
</td>
<td align="right">
    .11
</td>
<td align="right">
  -3.57
</td>
<td align="right">
     1
</td>
<td align="right">
    -3.57
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   66.61
</td>
<td align="right">
  .67
</td>
<td align="right">
     .44
</td>
<td align="right">
   -.17
</td>
<td align="right">
    .42
</td>
<td align="right">
     5
</td>
<td align="right">
     2.09
</td>
<td align="right">
    .94
</td>
</tr>
<tr>
<td>
PFE
</td>
<td align="right">
   20.25
</td>
<td align="right">
  .74
</td>
<td align="right">
    7.14
</td>
<td align="right">
    .06
</td>
<td align="right">
    .31
</td>
<td align="right">
    21
</td>
<td align="right">
     6.57
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   74.61
</td>
<td align="right">
  .64
</td>
<td align="right">
    9.11
</td>
<td align="right">
    .32
</td>
<td align="right">
    .95
</td>
<td align="right">
     4
</td>
<td align="right">
     3.80
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   16.59
</td>
<td align="right">
  .57
</td>
<td align="right">
   -1.26
</td>
<td align="right">
    .11
</td>
<td align="right">
   -.30
</td>
<td align="right">
     2
</td>
<td align="right">
     -.59
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
RTN
</td>
<td align="right">
   45.62
</td>
<td align="right">
  .61
</td>
<td align="right">
  -13.28
</td>
<td align="right">
   -.40
</td>
<td align="right">
   -.92
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.76
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   12.67
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.61
</td>
<td align="right">
   -.18
</td>
<td align="right">
   -.15
</td>
<td align="right">
    14
</td>
<td align="right">
    -2.13
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
SLB
</td>
<td align="right">
   75.42
</td>
<td align="right">
  .59
</td>
<td align="right">
   -7.43
</td>
<td align="right">
   -.01
</td>
<td align="right">
  -2.03
</td>
<td align="right">
     4
</td>
<td align="right">
    -8.11
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   32.02
</td>
<td align="right">
  .65
</td>
<td align="right">
  -36.50
</td>
<td align="right">
   -.14
</td>
<td align="right">
  -1.17
</td>
<td align="right">
     3
</td>
<td align="right">
    -3.52
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   32.90
</td>
<td align="right">
  .65
</td>
<td align="right">
    3.80
</td>
<td align="right">
    .12
</td>
<td align="right">
    .47
</td>
<td align="right">
     7
</td>
<td align="right">
     3.28
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   40.01
</td>
<td align="right">
  .59
</td>
<td align="right">
   47.00
</td>
<td align="right">
    .03
</td>
<td align="right">
    .47
</td>
<td align="right">
     1
</td>
<td align="right">
      .47
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   48.27
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.96
</td>
<td align="right">
    .08
</td>
<td align="right">
    .41
</td>
<td align="right">
    37
</td>
<td align="right">
    15.10
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   96.50
</td>
<td align="right">
  .67
</td>
<td align="right">
     .24
</td>
<td align="right">
   -.24
</td>
<td align="right">
    .18
</td>
<td align="right">
    26
</td>
<td align="right">
     4.56
</td>
<td align="right">
    .73
</td>
</tr>
<tr>
<td>
VECO
</td>
<td align="right">
   25.23
</td>
<td align="right">
  .57
</td>
<td align="right">
  -55.19
</td>
<td align="right">
    .00
</td>
<td align="right">
  -1.99
</td>
<td align="right">
     3
</td>
<td align="right">
    -5.97
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
WFC
</td>
<td align="right">
   26.66
</td>
<td align="right">
  .62
</td>
<td align="right">
    3.63
</td>
<td align="right">
    .09
</td>
<td align="right">
    .15
</td>
<td align="right">
     3
</td>
<td align="right">
      .44
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   49.62
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.25
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.18
</td>
<td align="right">
    85
</td>
<td align="right">
   -15.58
</td>
<td align="right">
    .73
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   58.93
</td>
<td align="right">
  .66
</td>
<td align="right">
  -52.00
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.52
</td>
<td align="right">
     1
</td>
<td align="right">
     -.52
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
X
</td>
<td align="right">
   28.05
</td>
<td align="right">
  .58
</td>
<td align="right">
   -2.41
</td>
<td align="right">
   -.02
</td>
<td align="right">
  -1.01
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.01
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   34.46
</td>
<td align="right">
  .61
</td>
<td align="right">
  -61.00
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.61
</td>
<td align="right">
     1
</td>
<td align="right">
     -.61
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
XLU
</td>
<td align="right">
   34.86
</td>
<td align="right">
  .58
</td>
<td align="right">
  -10.61
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.30
</td>
<td align="right">
     2
</td>
<td align="right">
     -.60
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1347
</td>
<td align="right">
  -165.95
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
