<h4>Week of: 2012_09_24</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AGU
</td>
<td align="right">
  102.41
</td>
<td align="right">
 -.56
</td>
<td align="right">
   77.00
</td>
<td align="right">
   -.09
</td>
<td align="right">
    .77
</td>
<td align="right">
     1
</td>
<td align="right">
      .77
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   83.98
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -54.00
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.54
</td>
<td align="right">
     1
</td>
<td align="right">
     -.54
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   69.64
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.01
</td>
<td align="right">
   -.22
</td>
<td align="right">
   -.02
</td>
<td align="right">
    12
</td>
<td align="right">
     -.18
</td>
<td align="right">
   1.27
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   34.94
</td>
<td align="right">
 -.57
</td>
<td align="right">
    -.22
</td>
<td align="right">
   -.46
</td>
<td align="right">
   -.19
</td>
<td align="right">
     3
</td>
<td align="right">
     -.58
</td>
<td align="right">
    .87
</td>
</tr>
<tr>
<td>
BHP
</td>
<td align="right">
   68.56
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -5.47
</td>
<td align="right">
   -.50
</td>
<td align="right">
   -.98
</td>
<td align="right">
    13
</td>
<td align="right">
   -12.74
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   39.30
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .38
</td>
<td align="right">
   -.12
</td>
<td align="right">
    .11
</td>
<td align="right">
    12
</td>
<td align="right">
     1.29
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  317.46
</td>
<td align="right">
 -.68
</td>
<td align="right">
    1.10
</td>
<td align="right">
    .81
</td>
<td align="right">
   1.40
</td>
<td align="right">
    18
</td>
<td align="right">
    25.11
</td>
<td align="right">
   1.27
</td>
</tr>
<tr>
<td>
CMI
</td>
<td align="right">
   94.59
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -1.35
</td>
<td align="right">
  -1.19
</td>
<td align="right">
  -1.95
</td>
<td align="right">
     3
</td>
<td align="right">
    -5.84
</td>
<td align="right">
   1.44
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   57.33
</td>
<td align="right">
 -.68
</td>
<td align="right">
  -14.63
</td>
<td align="right">
   -.24
</td>
<td align="right">
  -1.97
</td>
<td align="right">
     4
</td>
<td align="right">
    -7.87
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   47.99
</td>
<td align="right">
 -.62
</td>
<td align="right">
    1.00
</td>
<td align="right">
   -.17
</td>
<td align="right">
    .01
</td>
<td align="right">
     1
</td>
<td align="right">
      .01
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CVX
</td>
<td align="right">
  118.42
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -5.52
</td>
<td align="right">
   -.26
</td>
<td align="right">
   -.39
</td>
<td align="right">
     2
</td>
<td align="right">
     -.78
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   51.14
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -4.40
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.64
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.91
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
DO
</td>
<td align="right">
   68.30
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -3.33
</td>
<td align="right">
   -.05
</td>
<td align="right">
  -1.04
</td>
<td align="right">
    16
</td>
<td align="right">
   -16.69
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   54.12
</td>
<td align="right">
 -.58
</td>
<td align="right">
   30.99
</td>
<td align="right">
    .11
</td>
<td align="right">
    .47
</td>
<td align="right">
     3
</td>
<td align="right">
     1.42
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
  107.92
</td>
<td align="right">
 -.69
</td>
<td align="right">
    3.47
</td>
<td align="right">
    .28
</td>
<td align="right">
   1.15
</td>
<td align="right">
    12
</td>
<td align="right">
    13.83
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  455.67
</td>
<td align="right">
 -.57
</td>
<td align="right">
 -572.00
</td>
<td align="right">
   -.60
</td>
<td align="right">
  -5.72
</td>
<td align="right">
     1
</td>
<td align="right">
    -5.72
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MON
</td>
<td align="right">
   91.30
</td>
<td align="right">
 -.56
</td>
<td align="right">
    -.81
</td>
<td align="right">
   -.39
</td>
<td align="right">
   -.20
</td>
<td align="right">
     3
</td>
<td align="right">
     -.60
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   39.33
</td>
<td align="right">
 -.55
</td>
<td align="right">
   23.00
</td>
<td align="right">
    .09
</td>
<td align="right">
    .23
</td>
<td align="right">
     1
</td>
<td align="right">
      .23
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   43.67
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.86
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.13
</td>
<td align="right">
    41
</td>
<td align="right">
    -5.13
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
SJM
</td>
<td align="right">
   87.35
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -3.88
</td>
<td align="right">
    .09
</td>
<td align="right">
   -.62
</td>
<td align="right">
     7
</td>
<td align="right">
    -4.36
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   40.26
</td>
<td align="right">
 -.55
</td>
<td align="right">
   75.00
</td>
<td align="right">
    .29
</td>
<td align="right">
    .75
</td>
<td align="right">
     1
</td>
<td align="right">
      .75
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
TM
</td>
<td align="right">
   80.34
</td>
<td align="right">
 -.57
</td>
<td align="right">
    1.43
</td>
<td align="right">
    .23
</td>
<td align="right">
    .59
</td>
<td align="right">
    30
</td>
<td align="right">
    17.65
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
  100.28
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -1.71
</td>
<td align="right">
   -.31
</td>
<td align="right">
  -1.84
</td>
<td align="right">
     8
</td>
<td align="right">
   -14.68
</td>
<td align="right">
   1.07
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  114.72
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.19
</td>
<td align="right">
   -.19
</td>
<td align="right">
   -.48
</td>
<td align="right">
    44
</td>
<td align="right">
   -20.93
</td>
<td align="right">
   2.46
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   73.99
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.09
</td>
<td align="right">
   -.06
</td>
<td align="right">
  -1.18
</td>
<td align="right">
     5
</td>
<td align="right">
    -5.88
</td>
<td align="right">
   1.08
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   91.83
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.77
</td>
<td align="right">
   -.35
</td>
<td align="right">
   -.38
</td>
<td align="right">
     8
</td>
<td align="right">
    -3.01
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   253
</td>
<td align="right">
   -46.38
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   47.51
</td>
<td align="right">
  .69
</td>
<td align="right">
     .07
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .05
</td>
<td align="right">
    59
</td>
<td align="right">
     3.09
</td>
<td align="right">
    .72
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   83.50
</td>
<td align="right">
  .62
</td>
<td align="right">
     .86
</td>
<td align="right">
    .21
</td>
<td align="right">
    .58
</td>
<td align="right">
     5
</td>
<td align="right">
     2.91
</td>
<td align="right">
    .68
</td>
</tr>
<tr>
<td>
APA
</td>
<td align="right">
   86.49
</td>
<td align="right">
  .68
</td>
<td align="right">
    -.36
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.66
</td>
<td align="right">
     4
</td>
<td align="right">
    -2.62
</td>
<td align="right">
   1.80
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   68.41
</td>
<td align="right">
  .64
</td>
<td align="right">
    5.99
</td>
<td align="right">
    .47
</td>
<td align="right">
   1.49
</td>
<td align="right">
    11
</td>
<td align="right">
    16.39
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   28.80
</td>
<td align="right">
  .66
</td>
<td align="right">
    4.10
</td>
<td align="right">
    .05
</td>
<td align="right">
    .59
</td>
<td align="right">
    17
</td>
<td align="right">
    10.01
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   35.72
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.90
</td>
<td align="right">
    .08
</td>
<td align="right">
  -1.02
</td>
<td align="right">
     4
</td>
<td align="right">
    -4.09
</td>
<td align="right">
   1.14
</td>
</tr>
<tr>
<td>
BEN
</td>
<td align="right">
  124.44
</td>
<td align="right">
  .58
</td>
<td align="right">
   71.00
</td>
<td align="right">
    .42
</td>
<td align="right">
    .71
</td>
<td align="right">
     1
</td>
<td align="right">
      .71
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BHP
</td>
<td align="right">
   67.75
</td>
<td align="right">
  .64
</td>
<td align="right">
     .43
</td>
<td align="right">
    .21
</td>
<td align="right">
    .65
</td>
<td align="right">
     7
</td>
<td align="right">
     4.54
</td>
<td align="right">
   1.50
</td>
</tr>
<tr>
<td>
BP
</td>
<td align="right">
   43.16
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.62
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.38
</td>
<td align="right">
    36
</td>
<td align="right">
   -13.78
</td>
<td align="right">
    .62
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  200.37
</td>
<td align="right">
  .80
</td>
<td align="right">
     .36
</td>
<td align="right">
    .20
</td>
<td align="right">
    .37
</td>
<td align="right">
    72
</td>
<td align="right">
    26.91
</td>
<td align="right">
   1.04
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  325.52
</td>
<td align="right">
  .56
</td>
<td align="right">
 -664.00
</td>
<td align="right">
 -11.58
</td>
<td align="right">
  -6.64
</td>
<td align="right">
     1
</td>
<td align="right">
    -6.64
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  152.36
</td>
<td align="right">
  .66
</td>
<td align="right">
     .42
</td>
<td align="right">
    .12
</td>
<td align="right">
    .97
</td>
<td align="right">
   101
</td>
<td align="right">
    98.31
</td>
<td align="right">
   2.31
</td>
</tr>
<tr>
<td>
CVX
</td>
<td align="right">
  116.89
</td>
<td align="right">
  .67
</td>
<td align="right">
     .05
</td>
<td align="right">
   -.10
</td>
<td align="right">
    .03
</td>
<td align="right">
    59
</td>
<td align="right">
     1.97
</td>
<td align="right">
    .74
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   83.00
</td>
<td align="right">
  .63
</td>
<td align="right">
   -1.25
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.49
</td>
<td align="right">
    32
</td>
<td align="right">
   -15.61
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  134.97
</td>
<td align="right">
  .56
</td>
<td align="right">
  112.43
</td>
<td align="right">
    .32
</td>
<td align="right">
    .80
</td>
<td align="right">
     2
</td>
<td align="right">
     1.59
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
DVN
</td>
<td align="right">
   60.13
</td>
<td align="right">
  .58
</td>
<td align="right">
   -2.02
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.18
</td>
<td align="right">
    28
</td>
<td align="right">
    -5.05
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   79.72
</td>
<td align="right">
  .61
</td>
<td align="right">
   -1.90
</td>
<td align="right">
   -.38
</td>
<td align="right">
  -1.71
</td>
<td align="right">
    64
</td>
<td align="right">
  -109.22
</td>
<td align="right">
    .90
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   84.92
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.58
</td>
<td align="right">
    .14
</td>
<td align="right">
   -.29
</td>
<td align="right">
    35
</td>
<td align="right">
   -10.27
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
JNJ
</td>
<td align="right">
   69.23
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.96
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.16
</td>
<td align="right">
     7
</td>
<td align="right">
    -1.11
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
JWN
</td>
<td align="right">
   55.04
</td>
<td align="right">
  .69
</td>
<td align="right">
    -.98
</td>
<td align="right">
   -.39
</td>
<td align="right">
   -.19
</td>
<td align="right">
     6
</td>
<td align="right">
    -1.13
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  452.32
</td>
<td align="right">
  .64
</td>
<td align="right">
     .27
</td>
<td align="right">
    .02
</td>
<td align="right">
    .47
</td>
<td align="right">
    70
</td>
<td align="right">
    33.17
</td>
<td align="right">
   1.72
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   75.09
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.97
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.49
</td>
<td align="right">
    30
</td>
<td align="right">
   -14.73
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   59.70
</td>
<td align="right">
  .70
</td>
<td align="right">
   -2.07
</td>
<td align="right">
   -.08
</td>
<td align="right">
  -1.02
</td>
<td align="right">
    72
</td>
<td align="right">
   -73.42
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
   57.06
</td>
<td align="right">
  .56
</td>
<td align="right">
   -3.98
</td>
<td align="right">
   -.06
</td>
<td align="right">
  -1.70
</td>
<td align="right">
     9
</td>
<td align="right">
   -15.34
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   66.23
</td>
<td align="right">
  .75
</td>
<td align="right">
     .01
</td>
<td align="right">
    .10
</td>
<td align="right">
    .00
</td>
<td align="right">
    58
</td>
<td align="right">
      .16
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
PEP
</td>
<td align="right">
   70.86
</td>
<td align="right">
  .55
</td>
<td align="right">
  -40.00
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.40
</td>
<td align="right">
     1
</td>
<td align="right">
     -.40
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   51.32
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.88
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.23
</td>
<td align="right">
    55
</td>
<td align="right">
   -12.74
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   66.00
</td>
<td align="right">
  .67
</td>
<td align="right">
  142.00
</td>
<td align="right">
   1.05
</td>
<td align="right">
   1.42
</td>
<td align="right">
     1
</td>
<td align="right">
     1.42
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   65.13
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.61
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.29
</td>
<td align="right">
     7
</td>
<td align="right">
    -2.01
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   56.03
</td>
<td align="right">
  .82
</td>
<td align="right">
    2.72
</td>
<td align="right">
    .03
</td>
<td align="right">
    .30
</td>
<td align="right">
    58
</td>
<td align="right">
    17.23
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   99.25
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.69
</td>
<td align="right">
    .14
</td>
<td align="right">
   -.93
</td>
<td align="right">
    13
</td>
<td align="right">
   -12.03
</td>
<td align="right">
   1.35
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   83.70
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.69
</td>
<td align="right">
   -.40
</td>
<td align="right">
   -.99
</td>
<td align="right">
     9
</td>
<td align="right">
    -8.89
</td>
<td align="right">
   1.44
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   74.66
</td>
<td align="right">
  .57
</td>
<td align="right">
     .41
</td>
<td align="right">
    .07
</td>
<td align="right">
    .11
</td>
<td align="right">
    26
</td>
<td align="right">
     2.98
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  113.77
</td>
<td align="right">
  .62
</td>
<td align="right">
    7.72
</td>
<td align="right">
    .11
</td>
<td align="right">
   1.78
</td>
<td align="right">
    11
</td>
<td align="right">
    19.61
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   971
</td>
<td align="right">
   -68.08
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
