<h4>Week of: 2012_01_30</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABX
</td>
<td align="right">
   49.41
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -2.53
</td>
<td align="right">
   -.30
</td>
<td align="right">
   -.13
</td>
<td align="right">
     2
</td>
<td align="right">
     -.25
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
ADBE
</td>
<td align="right">
   30.95
</td>
<td align="right">
 -.70
</td>
<td align="right">
     .17
</td>
<td align="right">
    .05
</td>
<td align="right">
    .03
</td>
<td align="right">
    70
</td>
<td align="right">
     1.87
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  578.41
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -1.33
</td>
<td align="right">
   -.77
</td>
<td align="right">
  -1.31
</td>
<td align="right">
    15
</td>
<td align="right">
   -19.61
</td>
<td align="right">
    .98
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   68.00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -3.04
</td>
<td align="right">
   -.14
</td>
<td align="right">
  -1.12
</td>
<td align="right">
    16
</td>
<td align="right">
   -17.94
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
JWN
</td>
<td align="right">
   49.12
</td>
<td align="right">
 -.68
</td>
<td align="right">
     .32
</td>
<td align="right">
    .22
</td>
<td align="right">
    .15
</td>
<td align="right">
    44
</td>
<td align="right">
     6.68
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   147
</td>
<td align="right">
   -29.25
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   48.12
</td>
<td align="right">
  .70
</td>
<td align="right">
    1.47
</td>
<td align="right">
    .14
</td>
<td align="right">
    .43
</td>
<td align="right">
    72
</td>
<td align="right">
    31.15
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  130.54
</td>
<td align="right">
  .67
</td>
<td align="right">
   -1.21
</td>
<td align="right">
    .11
</td>
<td align="right">
  -2.38
</td>
<td align="right">
    15
</td>
<td align="right">
   -35.74
</td>
<td align="right">
   1.97
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   50.82
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.39
</td>
<td align="right">
    .14
</td>
<td align="right">
   -.05
</td>
<td align="right">
     5
</td>
<td align="right">
     -.23
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
FLS
</td>
<td align="right">
  107.39
</td>
<td align="right">
  .61
</td>
<td align="right">
    8.25
</td>
<td align="right">
    .33
</td>
<td align="right">
   2.83
</td>
<td align="right">
     6
</td>
<td align="right">
    16.97
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
   44.64
</td>
<td align="right">
  .72
</td>
<td align="right">
   -3.68
</td>
<td align="right">
   -.24
</td>
<td align="right">
  -2.01
</td>
<td align="right">
    66
</td>
<td align="right">
  -132.45
</td>
<td align="right">
    .55
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   60.02
</td>
<td align="right">
  .59
</td>
<td align="right">
    5.51
</td>
<td align="right">
    .21
</td>
<td align="right">
    .30
</td>
<td align="right">
     3
</td>
<td align="right">
      .91
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   48.85
</td>
<td align="right">
  .61
</td>
<td align="right">
     .82
</td>
<td align="right">
    .38
</td>
<td align="right">
    .22
</td>
<td align="right">
     5
</td>
<td align="right">
     1.08
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
SU
</td>
<td align="right">
   33.87
</td>
<td align="right">
  .56
</td>
<td align="right">
   35.00
</td>
<td align="right">
    .20
</td>
<td align="right">
    .35
</td>
<td align="right">
     1
</td>
<td align="right">
      .35
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
X
</td>
<td align="right">
   28.84
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.64
</td>
<td align="right">
    .56
</td>
<td align="right">
   1.00
</td>
<td align="right">
    18
</td>
<td align="right">
    18.04
</td>
<td align="right">
    .61
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   191
</td>
<td align="right">
   -99.92
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
