<h4>Week of: 2012_04_09</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABX
</td>
<td align="right">
   41.89
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -1.63
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.46
</td>
<td align="right">
    86
</td>
<td align="right">
   -39.57
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
ADBE
</td>
<td align="right">
   33.07
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .85
</td>
<td align="right">
    .11
</td>
<td align="right">
    .30
</td>
<td align="right">
    14
</td>
<td align="right">
     4.23
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
AEM
</td>
<td align="right">
   34.03
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -9.58
</td>
<td align="right">
   -.23
</td>
<td align="right">
   -.92
</td>
<td align="right">
     5
</td>
<td align="right">
    -4.61
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   33.01
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.78
</td>
<td align="right">
   -.39
</td>
<td align="right">
   -.31
</td>
<td align="right">
     3
</td>
<td align="right">
     -.92
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   36.12
</td>
<td align="right">
 -.65
</td>
<td align="right">
    2.36
</td>
<td align="right">
    .11
</td>
<td align="right">
    .20
</td>
<td align="right">
     2
</td>
<td align="right">
      .40
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   66.82
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.63
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.36
</td>
<td align="right">
    48
</td>
<td align="right">
   -17.34
</td>
<td align="right">
    .58
</td>
</tr>
<tr>
<td>
AMX
</td>
<td align="right">
   23.90
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -7.87
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.36
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.09
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   75.59
</td>
<td align="right">
 -.61
</td>
<td align="right">
 -248.24
</td>
<td align="right">
   -.27
</td>
<td align="right">
  -1.89
</td>
<td align="right">
     2
</td>
<td align="right">
    -3.79
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   36.63
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.07
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.05
</td>
<td align="right">
    82
</td>
<td align="right">
    -4.25
</td>
<td align="right">
    .78
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   33.73
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .72
</td>
<td align="right">
    .07
</td>
<td align="right">
    .36
</td>
<td align="right">
     6
</td>
<td align="right">
     2.14
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
AUY
</td>
<td align="right">
   15.29
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.44
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.06
</td>
<td align="right">
     7
</td>
<td align="right">
     -.43
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
AXP
</td>
<td align="right">
   56.41
</td>
<td align="right">
 -.56
</td>
<td align="right">
    8.99
</td>
<td align="right">
   -.14
</td>
<td align="right">
    .45
</td>
<td align="right">
     2
</td>
<td align="right">
      .89
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    6.51
</td>
<td align="right">
 -.69
</td>
<td align="right">
     .70
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .11
</td>
<td align="right">
    43
</td>
<td align="right">
     4.74
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
BBT
</td>
<td align="right">
   30.83
</td>
<td align="right">
 -.59
</td>
<td align="right">
    5.26
</td>
<td align="right">
   -.13
</td>
<td align="right">
    .26
</td>
<td align="right">
     8
</td>
<td align="right">
     2.05
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   23.30
</td>
<td align="right">
 -.59
</td>
<td align="right">
 -167.00
</td>
<td align="right">
  -1.31
</td>
<td align="right">
  -1.67
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.67
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BHP
</td>
<td align="right">
   70.72
</td>
<td align="right">
 -.62
</td>
<td align="right">
  -13.00
</td>
<td align="right">
   -.24
</td>
<td align="right">
   -.13
</td>
<td align="right">
     1
</td>
<td align="right">
     -.13
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  147.52
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .38
</td>
<td align="right">
    .23
</td>
<td align="right">
    .81
</td>
<td align="right">
    22
</td>
<td align="right">
    17.74
</td>
<td align="right">
   2.14
</td>
</tr>
<tr>
<td>
CDE
</td>
<td align="right">
   22.14
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .18
</td>
<td align="right">
    .02
</td>
<td align="right">
    .12
</td>
<td align="right">
    44
</td>
<td align="right">
     5.43
</td>
<td align="right">
    .69
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   66.59
</td>
<td align="right">
 -.65
</td>
<td align="right">
    1.16
</td>
<td align="right">
    .25
</td>
<td align="right">
   1.66
</td>
<td align="right">
    59
</td>
<td align="right">
    97.96
</td>
<td align="right">
   1.43
</td>
</tr>
<tr>
<td>
COST
</td>
<td align="right">
   86.62
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .22
</td>
<td align="right">
   -.14
</td>
<td align="right">
    .08
</td>
<td align="right">
    24
</td>
<td align="right">
     1.81
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   32.63
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -9.06
</td>
<td align="right">
   -.28
</td>
<td align="right">
   -.71
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.41
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
CSX
</td>
<td align="right">
   21.23
</td>
<td align="right">
 -.61
</td>
<td align="right">
    9.00
</td>
<td align="right">
   -.18
</td>
<td align="right">
    .09
</td>
<td align="right">
     2
</td>
<td align="right">
      .18
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   34.56
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -3.29
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.61
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.83
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  128.40
</td>
<td align="right">
 -.61
</td>
<td align="right">
    1.47
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .95
</td>
<td align="right">
    21
</td>
<td align="right">
    19.93
</td>
<td align="right">
    .64
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   42.07
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.40
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.61
</td>
<td align="right">
    85
</td>
<td align="right">
   -51.47
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
DO
</td>
<td align="right">
   65.10
</td>
<td align="right">
 -.57
</td>
<td align="right">
  -15.00
</td>
<td align="right">
   -.53
</td>
<td align="right">
   -.15
</td>
<td align="right">
     1
</td>
<td align="right">
     -.15
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   32.11
</td>
<td align="right">
 -.64
</td>
<td align="right">
    3.05
</td>
<td align="right">
   -.23
</td>
<td align="right">
    .40
</td>
<td align="right">
    10
</td>
<td align="right">
     4.00
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
DVN
</td>
<td align="right">
   68.81
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -5.56
</td>
<td align="right">
    .08
</td>
<td align="right">
   -.73
</td>
<td align="right">
     6
</td>
<td align="right">
    -4.36
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
EGO
</td>
<td align="right">
   12.82
</td>
<td align="right">
 -.59
</td>
<td align="right">
    1.16
</td>
<td align="right">
    .09
</td>
<td align="right">
    .44
</td>
<td align="right">
     9
</td>
<td align="right">
     3.97
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   62.57
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.34
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.43
</td>
<td align="right">
    13
</td>
<td align="right">
    -5.57
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   37.70
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.70
</td>
<td align="right">
   -.34
</td>
<td align="right">
   -.62
</td>
<td align="right">
    18
</td>
<td align="right">
   -11.19
</td>
<td align="right">
    .88
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   90.13
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -9.60
</td>
<td align="right">
   -.27
</td>
<td align="right">
  -1.63
</td>
<td align="right">
     2
</td>
<td align="right">
    -3.26
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
FLS
</td>
<td align="right">
  112.28
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -3.22
</td>
<td align="right">
    .26
</td>
<td align="right">
   -.62
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.23
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
GD
</td>
<td align="right">
   70.00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -3.36
</td>
<td align="right">
   -.28
</td>
<td align="right">
   -.53
</td>
<td align="right">
     9
</td>
<td align="right">
    -4.79
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
GFI
</td>
<td align="right">
   12.86
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .15
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .03
</td>
<td align="right">
    18
</td>
<td align="right">
      .59
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
GILD
</td>
<td align="right">
   45.88
</td>
<td align="right">
 -.58
</td>
<td align="right">
    9.00
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .09
</td>
<td align="right">
     1
</td>
<td align="right">
      .09
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  626.86
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -2.12
</td>
<td align="right">
  -5.98
</td>
<td align="right">
 -17.02
</td>
<td align="right">
    12
</td>
<td align="right">
  -204.28
</td>
<td align="right">
   8.02
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  117.73
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.32
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.86
</td>
<td align="right">
    25
</td>
<td align="right">
   -21.54
</td>
<td align="right">
   2.65
</td>
</tr>
<tr>
<td>
HAL
</td>
<td align="right">
   32.42
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -5.94
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.60
</td>
<td align="right">
    19
</td>
<td align="right">
   -11.47
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
HON
</td>
<td align="right">
   57.28
</td>
<td align="right">
 -.59
</td>
<td align="right">
   11.27
</td>
<td align="right">
    .18
</td>
<td align="right">
   1.45
</td>
<td align="right">
     8
</td>
<td align="right">
    11.59
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
IAG
</td>
<td align="right">
   12.66
</td>
<td align="right">
 -.62
</td>
<td align="right">
  -35.00
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.35
</td>
<td align="right">
     1
</td>
<td align="right">
     -.35
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IBM
</td>
<td align="right">
  203.45
</td>
<td align="right">
 -.70
</td>
<td align="right">
    1.97
</td>
<td align="right">
    .12
</td>
<td align="right">
    .57
</td>
<td align="right">
     3
</td>
<td align="right">
     1.72
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   55.47
</td>
<td align="right">
 -.65
</td>
<td align="right">
    1.21
</td>
<td align="right">
    .22
</td>
<td align="right">
   1.81
</td>
<td align="right">
    11
</td>
<td align="right">
    19.91
</td>
<td align="right">
   1.50
</td>
</tr>
<tr>
<td>
JWN
</td>
<td align="right">
   54.74
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .66
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .29
</td>
<td align="right">
    20
</td>
<td align="right">
     5.75
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  439.92
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -7.34
</td>
<td align="right">
  -4.89
</td>
<td align="right">
  -6.34
</td>
<td align="right">
     7
</td>
<td align="right">
   -44.36
</td>
<td align="right">
    .86
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   35.74
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.33
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.15
</td>
<td align="right">
     4
</td>
<td align="right">
     -.58
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   86.20
</td>
<td align="right">
 -.56
</td>
<td align="right">
   45.00
</td>
<td align="right">
   -.47
</td>
<td align="right">
    .45
</td>
<td align="right">
     1
</td>
<td align="right">
      .45
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   51.76
</td>
<td align="right">
 -.67
</td>
<td align="right">
 -156.00
</td>
<td align="right">
   -.10
</td>
<td align="right">
  -1.56
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.56
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   30.70
</td>
<td align="right">
 -.58
</td>
<td align="right">
    1.08
</td>
<td align="right">
    .01
</td>
<td align="right">
    .15
</td>
<td align="right">
     2
</td>
<td align="right">
      .29
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
MT
</td>
<td align="right">
   17.70
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -2.19
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.65
</td>
<td align="right">
    47
</td>
<td align="right">
   -30.35
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    9.76
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .36
</td>
<td align="right">
    .02
</td>
<td align="right">
    .15
</td>
<td align="right">
    21
</td>
<td align="right">
     3.11
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
NEM
</td>
<td align="right">
   48.48
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.02
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.02
</td>
<td align="right">
     3
</td>
<td align="right">
     -.05
</td>
<td align="right">
    .67
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
  102.17
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -16.26
</td>
<td align="right">
   -.28
</td>
<td align="right">
  -2.65
</td>
<td align="right">
     2
</td>
<td align="right">
    -5.29
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
   39.73
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.66
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.43
</td>
<td align="right">
    93
</td>
<td align="right">
   -40.13
</td>
<td align="right">
    .65
</td>
</tr>
<tr>
<td>
PAAS
</td>
<td align="right">
   20.51
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -8.80
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.50
</td>
<td align="right">
     7
</td>
<td align="right">
    -3.51
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
PBR
</td>
<td align="right">
   24.52
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .64
</td>
<td align="right">
    .00
</td>
<td align="right">
    .25
</td>
<td align="right">
    22
</td>
<td align="right">
     5.56
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
PEP
</td>
<td align="right">
   65.38
</td>
<td align="right">
 -.56
</td>
<td align="right">
   -7.00
</td>
<td align="right">
    .10
</td>
<td align="right">
   -.07
</td>
<td align="right">
     1
</td>
<td align="right">
     -.07
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PG
</td>
<td align="right">
   66.34
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .54
</td>
<td align="right">
    .00
</td>
<td align="right">
    .27
</td>
<td align="right">
    46
</td>
<td align="right">
    12.40
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   87.26
</td>
<td align="right">
 -.67
</td>
<td align="right">
    4.05
</td>
<td align="right">
    .11
</td>
<td align="right">
   1.26
</td>
<td align="right">
     2
</td>
<td align="right">
     2.52
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   62.55
</td>
<td align="right">
 -.60
</td>
<td align="right">
   85.00
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .85
</td>
<td align="right">
     1
</td>
<td align="right">
      .85
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   67.76
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -2.48
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.93
</td>
<td align="right">
    22
</td>
<td align="right">
   -20.52
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   67.12
</td>
<td align="right">
 -.64
</td>
<td align="right">
  -48.08
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.68
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.36
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   12.78
</td>
<td align="right">
 -.63
</td>
<td align="right">
    2.75
</td>
<td align="right">
    .06
</td>
<td align="right">
    .29
</td>
<td align="right">
    23
</td>
<td align="right">
     6.60
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   12.93
</td>
<td align="right">
 -.67
</td>
<td align="right">
    2.10
</td>
<td align="right">
    .08
</td>
<td align="right">
    .31
</td>
<td align="right">
     8
</td>
<td align="right">
     2.50
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   30.89
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.05
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.03
</td>
<td align="right">
    84
</td>
<td align="right">
    -2.52
</td>
<td align="right">
    .58
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   31.18
</td>
<td align="right">
 -.71
</td>
<td align="right">
    -.50
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.38
</td>
<td align="right">
   188
</td>
<td align="right">
   -72.04
</td>
<td align="right">
    .77
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   42.55
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.87
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.59
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.76
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   51.93
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .09
</td>
<td align="right">
   -.15
</td>
<td align="right">
    .14
</td>
<td align="right">
    15
</td>
<td align="right">
     2.15
</td>
<td align="right">
   1.52
</td>
</tr>
<tr>
<td>
SPY
</td>
<td align="right">
  137.88
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.72
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.35
</td>
<td align="right">
    40
</td>
<td align="right">
   -13.81
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   43.65
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -1.00
</td>
<td align="right">
    .16
</td>
<td align="right">
   -.31
</td>
<td align="right">
     8
</td>
<td align="right">
    -2.48
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
SU
</td>
<td align="right">
   30.86
</td>
<td align="right">
 -.56
</td>
<td align="right">
   -2.12
</td>
<td align="right">
   -.24
</td>
<td align="right">
   -.03
</td>
<td align="right">
     2
</td>
<td align="right">
     -.06
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
SWC
</td>
<td align="right">
   11.86
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .70
</td>
<td align="right">
    .07
</td>
<td align="right">
    .17
</td>
<td align="right">
     5
</td>
<td align="right">
      .86
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   44.01
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .62
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .22
</td>
<td align="right">
    38
</td>
<td align="right">
     8.22
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   57.07
</td>
<td align="right">
 -.56
</td>
<td align="right">
  115.26
</td>
<td align="right">
    .34
</td>
<td align="right">
    .82
</td>
<td align="right">
     2
</td>
<td align="right">
     1.63
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
TXN
</td>
<td align="right">
   32.42
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.69
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.15
</td>
<td align="right">
    18
</td>
<td align="right">
    -2.71
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   58.51
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -1.42
</td>
<td align="right">
   -.25
</td>
<td align="right">
   -.21
</td>
<td align="right">
     4
</td>
<td align="right">
     -.82
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
UNP
</td>
<td align="right">
  108.28
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .21
</td>
<td align="right">
    .08
</td>
<td align="right">
    .06
</td>
<td align="right">
    10
</td>
<td align="right">
      .57
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
VECO
</td>
<td align="right">
   26.69
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .99
</td>
<td align="right">
    .14
</td>
<td align="right">
    .39
</td>
<td align="right">
    32
</td>
<td align="right">
    12.63
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
  108.51
</td>
<td align="right">
 -.66
</td>
<td align="right">
    2.60
</td>
<td align="right">
    .18
</td>
<td align="right">
   2.09
</td>
<td align="right">
    26
</td>
<td align="right">
    54.45
</td>
<td align="right">
    .81
</td>
</tr>
<tr>
<td>
VZ
</td>
<td align="right">
   37.46
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.57
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.10
</td>
<td align="right">
    11
</td>
<td align="right">
    -1.11
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   83.11
</td>
<td align="right">
 -.70
</td>
<td align="right">
    4.17
</td>
<td align="right">
    .89
</td>
<td align="right">
   1.40
</td>
<td align="right">
     3
</td>
<td align="right">
     4.20
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  126.18
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -6.05
</td>
<td align="right">
   -.29
</td>
<td align="right">
  -2.33
</td>
<td align="right">
     3
</td>
<td align="right">
    -6.99
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   35.97
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -3.79
</td>
<td align="right">
   -.19
</td>
<td align="right">
   -.69
</td>
<td align="right">
     9
</td>
<td align="right">
    -6.21
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   68.13
</td>
<td align="right">
 -.59
</td>
<td align="right">
  165.00
</td>
<td align="right">
    .95
</td>
<td align="right">
   1.65
</td>
<td align="right">
     1
</td>
<td align="right">
     1.65
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   83.63
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -1.70
</td>
<td align="right">
   -.38
</td>
<td align="right">
   -.37
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.12
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
YUM
</td>
<td align="right">
   69.87
</td>
<td align="right">
 -.55
</td>
<td align="right">
  109.00
</td>
<td align="right">
    .53
</td>
<td align="right">
   1.09
</td>
<td align="right">
     1
</td>
<td align="right">
     1.09
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1584
</td>
<td align="right">
  -329.26
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ACI
</td>
<td align="right">
   10.03
</td>
<td align="right">
  .58
</td>
<td align="right">
    1.29
</td>
<td align="right">
    .06
</td>
<td align="right">
    .14
</td>
<td align="right">
     6
</td>
<td align="right">
      .81
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
ADM
</td>
<td align="right">
   30.96
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.01
</td>
<td align="right">
    .01
</td>
<td align="right">
    .00
</td>
<td align="right">
   110
</td>
<td align="right">
     -.14
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   43.11
</td>
<td align="right">
  .65
</td>
<td align="right">
     .02
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .02
</td>
<td align="right">
     5
</td>
<td align="right">
      .12
</td>
<td align="right">
    .97
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   36.07
</td>
<td align="right">
  .63
</td>
<td align="right">
     .96
</td>
<td align="right">
    .07
</td>
<td align="right">
    .38
</td>
<td align="right">
    39
</td>
<td align="right">
    14.69
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   66.19
</td>
<td align="right">
  .60
</td>
<td align="right">
  -11.22
</td>
<td align="right">
   -.28
</td>
<td align="right">
   -.55
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.66
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   76.04
</td>
<td align="right">
  .59
</td>
<td align="right">
   -4.37
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.98
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.95
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    6.42
</td>
<td align="right">
  .67
</td>
<td align="right">
     .20
</td>
<td align="right">
    .03
</td>
<td align="right">
    .05
</td>
<td align="right">
    33
</td>
<td align="right">
     1.81
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
BBT
</td>
<td align="right">
   31.15
</td>
<td align="right">
  .63
</td>
<td align="right">
  -49.00
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.49
</td>
<td align="right">
     1
</td>
<td align="right">
     -.49
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   22.61
</td>
<td align="right">
  .55
</td>
<td align="right">
 -126.00
</td>
<td align="right">
    .69
</td>
<td align="right">
  -1.26
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.26
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BP
</td>
<td align="right">
   42.30
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.12
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.01
</td>
<td align="right">
     6
</td>
<td align="right">
     -.04
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
BRCM
</td>
<td align="right">
   36.03
</td>
<td align="right">
  .66
</td>
<td align="right">
    3.46
</td>
<td align="right">
    .42
</td>
<td align="right">
    .58
</td>
<td align="right">
    16
</td>
<td align="right">
     9.21
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
CAT
</td>
<td align="right">
  104.23
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.14
</td>
<td align="right">
    .32
</td>
<td align="right">
   -.28
</td>
<td align="right">
    25
</td>
<td align="right">
    -6.93
</td>
<td align="right">
   1.93
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  197.26
</td>
<td align="right">
  .68
</td>
<td align="right">
    9.24
</td>
<td align="right">
    .65
</td>
<td align="right">
   5.51
</td>
<td align="right">
    36
</td>
<td align="right">
   198.53
</td>
<td align="right">
    .60
</td>
</tr>
<tr>
<td>
CMI
</td>
<td align="right">
  112.10
</td>
<td align="right">
  .56
</td>
<td align="right">
     .36
</td>
<td align="right">
   -.07
</td>
<td align="right">
   1.14
</td>
<td align="right">
     3
</td>
<td align="right">
     3.43
</td>
<td align="right">
   3.16
</td>
</tr>
<tr>
<td>
COP
</td>
<td align="right">
   74.25
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.66
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.26
</td>
<td align="right">
    63
</td>
<td align="right">
   -16.67
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   29.91
</td>
<td align="right">
  .70
</td>
<td align="right">
    1.93
</td>
<td align="right">
   -.08
</td>
<td align="right">
   1.15
</td>
<td align="right">
    44
</td>
<td align="right">
    50.53
</td>
<td align="right">
    .60
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  155.21
</td>
<td align="right">
  .65
</td>
<td align="right">
     .77
</td>
<td align="right">
    .73
</td>
<td align="right">
   1.71
</td>
<td align="right">
    84
</td>
<td align="right">
   143.30
</td>
<td align="right">
   2.20
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   20.02
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.85
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.14
</td>
<td align="right">
   162
</td>
<td align="right">
   -22.77
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
CSX
</td>
<td align="right">
   21.33
</td>
<td align="right">
  .67
</td>
<td align="right">
   31.15
</td>
<td align="right">
    .06
</td>
<td align="right">
    .71
</td>
<td align="right">
     7
</td>
<td align="right">
     4.99
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
CTSH
</td>
<td align="right">
   75.71
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.32
</td>
<td align="right">
   -.24
</td>
<td align="right">
   -.38
</td>
<td align="right">
     5
</td>
<td align="right">
    -1.92
</td>
<td align="right">
   1.21
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   33.85
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.28
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.12
</td>
<td align="right">
    13
</td>
<td align="right">
    -1.51
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
CVX
</td>
<td align="right">
  102.37
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.17
</td>
<td align="right">
   -.27
</td>
<td align="right">
   -.89
</td>
<td align="right">
    14
</td>
<td align="right">
   -12.45
</td>
<td align="right">
    .76
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   51.98
</td>
<td align="right">
  .80
</td>
<td align="right">
   -1.75
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.49
</td>
<td align="right">
    46
</td>
<td align="right">
   -22.73
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  127.23
</td>
<td align="right">
  .60
</td>
<td align="right">
   10.44
</td>
<td align="right">
    .18
</td>
<td align="right">
    .77
</td>
<td align="right">
     6
</td>
<td align="right">
     4.62
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   41.27
</td>
<td align="right">
  .63
</td>
<td align="right">
    2.21
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .38
</td>
<td align="right">
    14
</td>
<td align="right">
     5.35
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
DO
</td>
<td align="right">
   64.31
</td>
<td align="right">
  .59
</td>
<td align="right">
    1.05
</td>
<td align="right">
    .01
</td>
<td align="right">
    .80
</td>
<td align="right">
    15
</td>
<td align="right">
    11.96
</td>
<td align="right">
    .76
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   33.17
</td>
<td align="right">
  .56
</td>
<td align="right">
    1.75
</td>
<td align="right">
    .27
</td>
<td align="right">
    .34
</td>
<td align="right">
     2
</td>
<td align="right">
      .67
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   49.19
</td>
<td align="right">
  .65
</td>
<td align="right">
   -1.08
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.36
</td>
<td align="right">
   109
</td>
<td align="right">
   -39.42
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   35.90
</td>
<td align="right">
  .69
</td>
<td align="right">
     .63
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .28
</td>
<td align="right">
   128
</td>
<td align="right">
    36.42
</td>
<td align="right">
    .45
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   52.80
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.54
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.26
</td>
<td align="right">
    39
</td>
<td align="right">
   -10.21
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
EGO
</td>
<td align="right">
   12.83
</td>
<td align="right">
  .62
</td>
<td align="right">
    2.48
</td>
<td align="right">
   -.01
</td>
<td align="right">
   1.19
</td>
<td align="right">
     6
</td>
<td align="right">
     7.11
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   62.62
</td>
<td align="right">
  .71
</td>
<td align="right">
   -1.07
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.68
</td>
<td align="right">
    68
</td>
<td align="right">
   -46.16
</td>
<td align="right">
    .63
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    8.89
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.09
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.02
</td>
<td align="right">
    19
</td>
<td align="right">
     -.40
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   36.98
</td>
<td align="right">
  .61
</td>
<td align="right">
     .04
</td>
<td align="right">
   -.30
</td>
<td align="right">
    .03
</td>
<td align="right">
    11
</td>
<td align="right">
      .30
</td>
<td align="right">
    .64
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   88.49
</td>
<td align="right">
  .57
</td>
<td align="right">
   -2.47
</td>
<td align="right">
   -.01
</td>
<td align="right">
  -1.60
</td>
<td align="right">
    29
</td>
<td align="right">
   -46.33
</td>
<td align="right">
    .65
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
   22.08
</td>
<td align="right">
  .65
</td>
<td align="right">
 -117.00
</td>
<td align="right">
   -.28
</td>
<td align="right">
  -1.17
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.17
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
HD
</td>
<td align="right">
   49.71
</td>
<td align="right">
  .55
</td>
<td align="right">
   90.00
</td>
<td align="right">
    .24
</td>
<td align="right">
    .90
</td>
<td align="right">
     1
</td>
<td align="right">
      .90
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
HES
</td>
<td align="right">
   55.91
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.13
</td>
<td align="right">
    .17
</td>
<td align="right">
   -.13
</td>
<td align="right">
    11
</td>
<td align="right">
    -1.40
</td>
<td align="right">
    .95
</td>
</tr>
<tr>
<td>
HL
</td>
<td align="right">
    4.23
</td>
<td align="right">
  .58
</td>
<td align="right">
  -12.00
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.12
</td>
<td align="right">
     1
</td>
<td align="right">
     -.12
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IAG
</td>
<td align="right">
   12.22
</td>
<td align="right">
  .62
</td>
<td align="right">
     .65
</td>
<td align="right">
    .12
</td>
<td align="right">
    .17
</td>
<td align="right">
     4
</td>
<td align="right">
      .67
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
IBM
</td>
<td align="right">
  203.83
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.62
</td>
<td align="right">
    .25
</td>
<td align="right">
    .51
</td>
<td align="right">
     6
</td>
<td align="right">
     3.07
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
INTC
</td>
<td align="right">
   27.65
</td>
<td align="right">
  .62
</td>
<td align="right">
     .45
</td>
<td align="right">
    .10
</td>
<td align="right">
    .13
</td>
<td align="right">
    33
</td>
<td align="right">
     4.22
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   57.51
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.03
</td>
<td align="right">
    .11
</td>
<td align="right">
   -.06
</td>
<td align="right">
    53
</td>
<td align="right">
    -3.17
</td>
<td align="right">
   1.92
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   79.96
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.74
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.67
</td>
<td align="right">
    76
</td>
<td align="right">
   -50.64
</td>
<td align="right">
    .91
</td>
</tr>
<tr>
<td>
LMT
</td>
<td align="right">
   90.30
</td>
<td align="right">
  .63
</td>
<td align="right">
   -3.88
</td>
<td align="right">
   -.21
</td>
<td align="right">
   -.91
</td>
<td align="right">
    12
</td>
<td align="right">
   -10.88
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  430.95
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.11
</td>
<td align="right">
    .38
</td>
<td align="right">
   3.60
</td>
<td align="right">
    79
</td>
<td align="right">
   284.40
</td>
<td align="right">
   3.23
</td>
</tr>
<tr>
<td>
MCD
</td>
<td align="right">
   97.57
</td>
<td align="right">
  .60
</td>
<td align="right">
   -1.28
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.40
</td>
<td align="right">
    28
</td>
<td align="right">
   -11.11
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  177.43
</td>
<td align="right">
  .63
</td>
<td align="right">
   -1.51
</td>
<td align="right">
    .19
</td>
<td align="right">
  -1.18
</td>
<td align="right">
    24
</td>
<td align="right">
   -28.37
</td>
<td align="right">
    .78
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   85.17
</td>
<td align="right">
  .62
</td>
<td align="right">
     .47
</td>
<td align="right">
    .12
</td>
<td align="right">
    .44
</td>
<td align="right">
    28
</td>
<td align="right">
    12.31
</td>
<td align="right">
    .94
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   30.31
</td>
<td align="right">
  .62
</td>
<td align="right">
   16.95
</td>
<td align="right">
    .06
</td>
<td align="right">
    .69
</td>
<td align="right">
     4
</td>
<td align="right">
     2.74
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    9.86
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.49
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.14
</td>
<td align="right">
    26
</td>
<td align="right">
    -3.68
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
  105.28
</td>
<td align="right">
  .57
</td>
<td align="right">
   -1.07
</td>
<td align="right">
    .34
</td>
<td align="right">
  -2.76
</td>
<td align="right">
     4
</td>
<td align="right">
   -11.04
</td>
<td align="right">
   2.58
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   60.83
</td>
<td align="right">
  .63
</td>
<td align="right">
     .27
</td>
<td align="right">
    .02
</td>
<td align="right">
    .10
</td>
<td align="right">
    29
</td>
<td align="right">
     2.95
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   41.27
</td>
<td align="right">
  .70
</td>
<td align="right">
     .00
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .00
</td>
<td align="right">
   216
</td>
<td align="right">
      .46
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
OXY
</td>
<td align="right">
   90.82
</td>
<td align="right">
  .73
</td>
<td align="right">
  -10.31
</td>
<td align="right">
    .00
</td>
<td align="right">
  -1.30
</td>
<td align="right">
    22
</td>
<td align="right">
   -28.51
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   62.26
</td>
<td align="right">
  .61
</td>
<td align="right">
    6.88
</td>
<td align="right">
    .38
</td>
<td align="right">
    .36
</td>
<td align="right">
     7
</td>
<td align="right">
     2.51
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
PEP
</td>
<td align="right">
   65.23
</td>
<td align="right">
  .56
</td>
<td align="right">
   53.00
</td>
<td align="right">
    .20
</td>
<td align="right">
    .53
</td>
<td align="right">
     2
</td>
<td align="right">
     1.06
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   87.94
</td>
<td align="right">
  .65
</td>
<td align="right">
   -1.00
</td>
<td align="right">
   -.25
</td>
<td align="right">
   -.01
</td>
<td align="right">
     1
</td>
<td align="right">
     -.01
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   62.89
</td>
<td align="right">
  .62
</td>
<td align="right">
   -2.54
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.97
</td>
<td align="right">
    70
</td>
<td align="right">
   -67.57
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  156.10
</td>
<td align="right">
  .56
</td>
<td align="right">
  -80.00
</td>
<td align="right">
    .35
</td>
<td align="right">
   -.80
</td>
<td align="right">
     1
</td>
<td align="right">
     -.80
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   33.12
</td>
<td align="right">
  .69
</td>
<td align="right">
    2.76
</td>
<td align="right">
    .23
</td>
<td align="right">
    .46
</td>
<td align="right">
    26
</td>
<td align="right">
    11.99
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   13.18
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.11
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.27
</td>
<td align="right">
    35
</td>
<td align="right">
    -9.53
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
RTN
</td>
<td align="right">
   51.58
</td>
<td align="right">
  .61
</td>
<td align="right">
   15.99
</td>
<td align="right">
    .24
</td>
<td align="right">
   1.12
</td>
<td align="right">
     3
</td>
<td align="right">
     3.37
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   57.72
</td>
<td align="right">
  .59
</td>
<td align="right">
     .19
</td>
<td align="right">
   -.16
</td>
<td align="right">
    .14
</td>
<td align="right">
     8
</td>
<td align="right">
     1.14
</td>
<td align="right">
    .75
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   61.44
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.52
</td>
<td align="right">
    .19
</td>
<td align="right">
   -.48
</td>
<td align="right">
    43
</td>
<td align="right">
   -20.84
</td>
<td align="right">
    .94
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   13.09
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.02
</td>
<td align="right">
    .03
</td>
<td align="right">
    .00
</td>
<td align="right">
    54
</td>
<td align="right">
     -.18
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   30.38
</td>
<td align="right">
  .60
</td>
<td align="right">
   39.00
</td>
<td align="right">
    .00
</td>
<td align="right">
    .39
</td>
<td align="right">
     1
</td>
<td align="right">
      .39
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SUN
</td>
<td align="right">
   38.16
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.60
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.21
</td>
<td align="right">
    92
</td>
<td align="right">
   -19.09
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   44.80
</td>
<td align="right">
  .65
</td>
<td align="right">
   -7.29
</td>
<td align="right">
   -.42
</td>
<td align="right">
   -.51
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.53
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   49.31
</td>
<td align="right">
  .61
</td>
<td align="right">
     .99
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .48
</td>
<td align="right">
    49
</td>
<td align="right">
    23.47
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
TM
</td>
<td align="right">
   81.95
</td>
<td align="right">
  .57
</td>
<td align="right">
     .39
</td>
<td align="right">
    .05
</td>
<td align="right">
    .29
</td>
<td align="right">
     2
</td>
<td align="right">
      .58
</td>
<td align="right">
    .74
</td>
</tr>
<tr>
<td>
TSO
</td>
<td align="right">
   24.60
</td>
<td align="right">
  .59
</td>
<td align="right">
  -84.00
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.84
</td>
<td align="right">
     1
</td>
<td align="right">
     -.84
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   95.31
</td>
<td align="right">
  .71
</td>
<td align="right">
     .55
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .37
</td>
<td align="right">
    44
</td>
<td align="right">
    16.22
</td>
<td align="right">
    .67
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   58.10
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.07
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.03
</td>
<td align="right">
    39
</td>
<td align="right">
    -1.22
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
  118.03
</td>
<td align="right">
  .59
</td>
<td align="right">
     .95
</td>
<td align="right">
    .16
</td>
<td align="right">
   1.29
</td>
<td align="right">
    11
</td>
<td align="right">
    14.22
</td>
<td align="right">
   1.35
</td>
</tr>
<tr>
<td>
WAG
</td>
<td align="right">
   33.12
</td>
<td align="right">
  .59
</td>
<td align="right">
     .01
</td>
<td align="right">
    .10
</td>
<td align="right">
    .01
</td>
<td align="right">
     2
</td>
<td align="right">
      .01
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
WDC
</td>
<td align="right">
   38.97
</td>
<td align="right">
  .68
</td>
<td align="right">
   -4.26
</td>
<td align="right">
   -.64
</td>
<td align="right">
   -.28
</td>
<td align="right">
     3
</td>
<td align="right">
     -.85
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
WFC
</td>
<td align="right">
   33.29
</td>
<td align="right">
  .62
</td>
<td align="right">
     .35
</td>
<td align="right">
    .02
</td>
<td align="right">
    .17
</td>
<td align="right">
    16
</td>
<td align="right">
     2.71
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   84.99
</td>
<td align="right">
  .62
</td>
<td align="right">
     .60
</td>
<td align="right">
    .14
</td>
<td align="right">
    .43
</td>
<td align="right">
     2
</td>
<td align="right">
      .85
</td>
<td align="right">
    .71
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   74.37
</td>
<td align="right">
  .60
</td>
<td align="right">
  -11.48
</td>
<td align="right">
   -.75
</td>
<td align="right">
  -3.65
</td>
<td align="right">
     8
</td>
<td align="right">
   -29.18
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   59.97
</td>
<td align="right">
  .61
</td>
<td align="right">
     .21
</td>
<td align="right">
    .01
</td>
<td align="right">
    .05
</td>
<td align="right">
    27
</td>
<td align="right">
     1.40
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
X
</td>
<td align="right">
   27.45
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.54
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.30
</td>
<td align="right">
    60
</td>
<td align="right">
   -18.03
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   36.20
</td>
<td align="right">
  .67
</td>
<td align="right">
     .15
</td>
<td align="right">
    .02
</td>
<td align="right">
    .06
</td>
<td align="right">
    69
</td>
<td align="right">
     3.97
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   69.07
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.82
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.54
</td>
<td align="right">
   119
</td>
<td align="right">
   -64.30
</td>
<td align="right">
    .66
</td>
</tr>
<tr>
<td>
XLU
</td>
<td align="right">
   34.33
</td>
<td align="right">
  .58
</td>
<td align="right">
   19.80
</td>
<td align="right">
    .06
</td>
<td align="right">
    .28
</td>
<td align="right">
     4
</td>
<td align="right">
     1.12
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
YUM
</td>
<td align="right">
   69.48
</td>
<td align="right">
  .61
</td>
<td align="right">
     .80
</td>
<td align="right">
    .21
</td>
<td align="right">
    .77
</td>
<td align="right">
     9
</td>
<td align="right">
     6.96
</td>
<td align="right">
    .96
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  2640
</td>
<td align="right">
   279.44
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
