<h4>Week of: 2012_07_09</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABX
</td>
<td align="right">
   35.61
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.28
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.61
</td>
<td align="right">
   123
</td>
<td align="right">
   -75.37
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
ADBE
</td>
<td align="right">
   30.12
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.71
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.14
</td>
<td align="right">
    37
</td>
<td align="right">
    -5.25
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
ADM
</td>
<td align="right">
   27.70
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.45
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.35
</td>
<td align="right">
    11
</td>
<td align="right">
    -3.82
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
AGU
</td>
<td align="right">
   89.88
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.06
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.06
</td>
<td align="right">
    18
</td>
<td align="right">
    -1.02
</td>
<td align="right">
    .97
</td>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   30.88
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -3.03
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.62
</td>
<td align="right">
    17
</td>
<td align="right">
   -10.61
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   30.03
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.38
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.61
</td>
<td align="right">
    18
</td>
<td align="right">
   -11.02
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
ANR
</td>
<td align="right">
    7.62
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.76
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.29
</td>
<td align="right">
    21
</td>
<td align="right">
    -5.99
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   65.93
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .60
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .69
</td>
<td align="right">
    19
</td>
<td align="right">
    13.03
</td>
<td align="right">
   1.13
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   32.22
</td>
<td align="right">
 -.68
</td>
<td align="right">
    2.12
</td>
<td align="right">
    .15
</td>
<td align="right">
    .47
</td>
<td align="right">
     9
</td>
<td align="right">
     4.26
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
AUY
</td>
<td align="right">
   14.92
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.64
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.33
</td>
<td align="right">
    13
</td>
<td align="right">
    -4.31
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    4.21
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.79
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.04
</td>
<td align="right">
    35
</td>
<td align="right">
    -1.46
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   19.42
</td>
<td align="right">
 -.57
</td>
<td align="right">
  -34.00
</td>
<td align="right">
   -.22
</td>
<td align="right">
   -.34
</td>
<td align="right">
     1
</td>
<td align="right">
     -.34
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BEN
</td>
<td align="right">
  110.76
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -1.44
</td>
<td align="right">
   -.29
</td>
<td align="right">
   -.65
</td>
<td align="right">
    27
</td>
<td align="right">
   -17.65
</td>
<td align="right">
    .46
</td>
</tr>
<tr>
<td>
BHP
</td>
<td align="right">
   63.03
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -53.00
</td>
<td align="right">
    .12
</td>
<td align="right">
   -.53
</td>
<td align="right">
     1
</td>
<td align="right">
     -.53
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  109.69
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.68
</td>
<td align="right">
   -.25
</td>
<td align="right">
   -.90
</td>
<td align="right">
    60
</td>
<td align="right">
   -54.16
</td>
<td align="right">
   1.32
</td>
</tr>
<tr>
<td>
C
</td>
<td align="right">
   26.12
</td>
<td align="right">
 -.60
</td>
<td align="right">
   23.00
</td>
<td align="right">
   -.20
</td>
<td align="right">
    .23
</td>
<td align="right">
     1
</td>
<td align="right">
      .23
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CDE
</td>
<td align="right">
   15.75
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.54
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.17
</td>
<td align="right">
    17
</td>
<td align="right">
    -2.89
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  194.16
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .50
</td>
<td align="right">
   3.72
</td>
<td align="right">
   2.24
</td>
<td align="right">
     6
</td>
<td align="right">
    13.43
</td>
<td align="right">
   4.48
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   45.65
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.01
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.01
</td>
<td align="right">
    13
</td>
<td align="right">
     -.08
</td>
<td align="right">
   1.17
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  391.99
</td>
<td align="right">
 -.63
</td>
<td align="right">
    2.70
</td>
<td align="right">
   -.01
</td>
<td align="right">
   3.00
</td>
<td align="right">
     5
</td>
<td align="right">
    15.00
</td>
<td align="right">
   1.11
</td>
</tr>
<tr>
<td>
CMI
</td>
<td align="right">
   87.91
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -3.93
</td>
<td align="right">
    .18
</td>
<td align="right">
   -.92
</td>
<td align="right">
    19
</td>
<td align="right">
   -17.44
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   54.21
</td>
<td align="right">
 -.66
</td>
<td align="right">
    9.43
</td>
<td align="right">
   -.06
</td>
<td align="right">
   1.34
</td>
<td align="right">
     4
</td>
<td align="right">
     5.36
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  128.53
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.41
</td>
<td align="right">
   -.49
</td>
<td align="right">
   -.97
</td>
<td align="right">
    27
</td>
<td align="right">
   -26.26
</td>
<td align="right">
   2.38
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   16.51
</td>
<td align="right">
 -.67
</td>
<td align="right">
  -12.75
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.46
</td>
<td align="right">
    24
</td>
<td align="right">
   -11.11
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
CTSH
</td>
<td align="right">
   56.89
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.69
</td>
<td align="right">
   -.37
</td>
<td align="right">
   -.73
</td>
<td align="right">
    56
</td>
<td align="right">
   -40.82
</td>
<td align="right">
   1.05
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   32.18
</td>
<td align="right">
 -.62
</td>
<td align="right">
  -33.00
</td>
<td align="right">
    .29
</td>
<td align="right">
   -.33
</td>
<td align="right">
     1
</td>
<td align="right">
     -.33
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   47.56
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .09
</td>
<td align="right">
    .11
</td>
<td align="right">
    .05
</td>
<td align="right">
     3
</td>
<td align="right">
      .16
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
CVX
</td>
<td align="right">
  105.48
</td>
<td align="right">
 -.58
</td>
<td align="right">
    8.23
</td>
<td align="right">
    .08
</td>
<td align="right">
    .78
</td>
<td align="right">
     5
</td>
<td align="right">
     3.92
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   47.04
</td>
<td align="right">
 -.69
</td>
<td align="right">
     .01
</td>
<td align="right">
   -.08
</td>
<td align="right">
    .01
</td>
<td align="right">
   117
</td>
<td align="right">
      .74
</td>
<td align="right">
    .60
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   81.03
</td>
<td align="right">
 -.58
</td>
<td align="right">
  -18.04
</td>
<td align="right">
   -.37
</td>
<td align="right">
  -2.77
</td>
<td align="right">
     3
</td>
<td align="right">
    -8.32
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  125.68
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .88
</td>
<td align="right">
    .26
</td>
<td align="right">
   1.07
</td>
<td align="right">
     9
</td>
<td align="right">
     9.67
</td>
<td align="right">
   1.22
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   47.26
</td>
<td align="right">
 -.64
</td>
<td align="right">
    2.23
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .20
</td>
<td align="right">
    11
</td>
<td align="right">
     2.19
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
DO
</td>
<td align="right">
   60.04
</td>
<td align="right">
 -.58
</td>
<td align="right">
    1.50
</td>
<td align="right">
    .36
</td>
<td align="right">
    .34
</td>
<td align="right">
     2
</td>
<td align="right">
      .68
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   30.37
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -4.09
</td>
<td align="right">
   -.34
</td>
<td align="right">
   -.46
</td>
<td align="right">
    15
</td>
<td align="right">
    -6.88
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   48.32
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -16.00
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.16
</td>
<td align="right">
     1
</td>
<td align="right">
     -.16
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   49.12
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.47
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.21
</td>
<td align="right">
   110
</td>
<td align="right">
   -23.34
</td>
<td align="right">
    .45
</td>
</tr>
<tr>
<td>
EGO
</td>
<td align="right">
   11.12
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -1.81
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.40
</td>
<td align="right">
    77
</td>
<td align="right">
   -30.58
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
EOG
</td>
<td align="right">
   90.70
</td>
<td align="right">
 -.63
</td>
<td align="right">
    2.41
</td>
<td align="right">
    .26
</td>
<td align="right">
   1.72
</td>
<td align="right">
    23
</td>
<td align="right">
    39.64
</td>
<td align="right">
    .71
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   51.19
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.79
</td>
<td align="right">
   -.16
</td>
<td align="right">
  -1.04
</td>
<td align="right">
     8
</td>
<td align="right">
    -8.31
</td>
<td align="right">
    .58
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   91.02
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.51
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.36
</td>
<td align="right">
    33
</td>
<td align="right">
   -11.80
</td>
<td align="right">
    .70
</td>
</tr>
<tr>
<td>
FLS
</td>
<td align="right">
  115.90
</td>
<td align="right">
 -.81
</td>
<td align="right">
   -1.18
</td>
<td align="right">
    .01
</td>
<td align="right">
  -2.12
</td>
<td align="right">
    81
</td>
<td align="right">
  -172.09
</td>
<td align="right">
   1.81
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
   14.09
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .99
</td>
<td align="right">
    .04
</td>
<td align="right">
    .61
</td>
<td align="right">
    86
</td>
<td align="right">
    52.13
</td>
<td align="right">
    .61
</td>
</tr>
<tr>
<td>
GD
</td>
<td align="right">
   64.56
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.22
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.79
</td>
<td align="right">
    21
</td>
<td align="right">
   -16.53
</td>
<td align="right">
    .64
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   37.09
</td>
<td align="right">
 -.63
</td>
<td align="right">
  -15.23
</td>
<td align="right">
  -1.03
</td>
<td align="right">
  -3.81
</td>
<td align="right">
     7
</td>
<td align="right">
   -26.65
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
GLD
</td>
<td align="right">
  153.06
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.94
</td>
<td align="right">
   -.23
</td>
<td align="right">
  -1.12
</td>
<td align="right">
    33
</td>
<td align="right">
   -36.89
</td>
<td align="right">
    .58
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
   95.03
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .06
</td>
<td align="right">
    .16
</td>
<td align="right">
    .03
</td>
<td align="right">
    27
</td>
<td align="right">
      .88
</td>
<td align="right">
    .55
</td>
</tr>
<tr>
<td>
HAL
</td>
<td align="right">
   29.15
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -5.31
</td>
<td align="right">
   -.27
</td>
<td align="right">
   -.69
</td>
<td align="right">
    10
</td>
<td align="right">
    -6.90
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   70.17
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.66
</td>
<td align="right">
   -.83
</td>
<td align="right">
   -.42
</td>
<td align="right">
    16
</td>
<td align="right">
    -6.79
</td>
<td align="right">
    .64
</td>
</tr>
<tr>
<td>
JPM
</td>
<td align="right">
   34.54
</td>
<td align="right">
 -.62
</td>
<td align="right">
  -12.02
</td>
<td align="right">
    .08
</td>
<td align="right">
   -.43
</td>
<td align="right">
     2
</td>
<td align="right">
     -.85
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  417.14
</td>
<td align="right">
 -.63
</td>
<td align="right">
    1.46
</td>
<td align="right">
   2.10
</td>
<td align="right">
   7.40
</td>
<td align="right">
     7
</td>
<td align="right">
    51.79
</td>
<td align="right">
   5.06
</td>
</tr>
<tr>
<td>
MCD
</td>
<td align="right">
   90.43
</td>
<td align="right">
 -.61
</td>
<td align="right">
 -108.00
</td>
<td align="right">
    .06
</td>
<td align="right">
  -1.08
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.16
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  171.27
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.73
</td>
<td align="right">
   -.69
</td>
<td align="right">
  -1.09
</td>
<td align="right">
     9
</td>
<td align="right">
    -9.79
</td>
<td align="right">
   1.49
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   76.53
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .02
</td>
<td align="right">
    .51
</td>
<td align="right">
    .06
</td>
<td align="right">
    31
</td>
<td align="right">
     1.96
</td>
<td align="right">
   2.85
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   87.68
</td>
<td align="right">
 -.70
</td>
<td align="right">
    -.06
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.07
</td>
<td align="right">
     7
</td>
<td align="right">
     -.50
</td>
<td align="right">
   1.18
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   54.94
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .63
</td>
<td align="right">
   -.20
</td>
<td align="right">
    .46
</td>
<td align="right">
    18
</td>
<td align="right">
     8.33
</td>
<td align="right">
    .73
</td>
</tr>
<tr>
<td>
MT
</td>
<td align="right">
   14.82
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .07
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .01
</td>
<td align="right">
    16
</td>
<td align="right">
      .17
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    9.04
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -1.39
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.26
</td>
<td align="right">
    73
</td>
<td align="right">
   -19.03
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
NEM
</td>
<td align="right">
   46.11
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -6.98
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.52
</td>
<td align="right">
     4
</td>
<td align="right">
    -2.07
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
   85.10
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -2.29
</td>
<td align="right">
   -.37
</td>
<td align="right">
  -1.76
</td>
<td align="right">
     4
</td>
<td align="right">
    -7.03
</td>
<td align="right">
    .77
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   38.02
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.82
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.26
</td>
<td align="right">
    48
</td>
<td align="right">
   -12.51
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
   35.44
</td>
<td align="right">
 -.65
</td>
<td align="right">
    1.20
</td>
<td align="right">
    .13
</td>
<td align="right">
    .56
</td>
<td align="right">
    66
</td>
<td align="right">
    36.94
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
ORCL
</td>
<td align="right">
   29.13
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.45
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.27
</td>
<td align="right">
     9
</td>
<td align="right">
    -2.43
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
PAAS
</td>
<td align="right">
   14.58
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.84
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.19
</td>
<td align="right">
    45
</td>
<td align="right">
    -8.50
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
PBR
</td>
<td align="right">
   18.90
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.33
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.09
</td>
<td align="right">
     3
</td>
<td align="right">
     -.27
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
PEP
</td>
<td align="right">
   70.44
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -3.54
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.10
</td>
<td align="right">
     2
</td>
<td align="right">
     -.20
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
PG
</td>
<td align="right">
   64.11
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .59
</td>
<td align="right">
   -.10
</td>
<td align="right">
    .37
</td>
<td align="right">
    13
</td>
<td align="right">
     4.76
</td>
<td align="right">
    .62
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   60.60
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.10
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.08
</td>
<td align="right">
    54
</td>
<td align="right">
    -4.29
</td>
<td align="right">
    .78
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   54.84
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.83
</td>
<td align="right">
   -.18
</td>
<td align="right">
   -.63
</td>
<td align="right">
    15
</td>
<td align="right">
    -9.49
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   62.99
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.40
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.25
</td>
<td align="right">
    58
</td>
<td align="right">
   -14.65
</td>
<td align="right">
    .63
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   29.81
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.56
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.10
</td>
<td align="right">
    34
</td>
<td align="right">
    -3.54
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
    7.47
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.19
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.06
</td>
<td align="right">
    12
</td>
<td align="right">
     -.72
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   52.15
</td>
<td align="right">
 -.56
</td>
<td align="right">
    9.73
</td>
<td align="right">
    .26
</td>
<td align="right">
   1.09
</td>
<td align="right">
     3
</td>
<td align="right">
     3.28
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   49.51
</td>
<td align="right">
 -.74
</td>
<td align="right">
   -1.92
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.76
</td>
<td align="right">
   108
</td>
<td align="right">
   -82.51
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
SJM
</td>
<td align="right">
   75.15
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .07
</td>
<td align="right">
   -.08
</td>
<td align="right">
    .04
</td>
<td align="right">
    42
</td>
<td align="right">
     1.61
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   20.31
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -3.48
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.73
</td>
<td align="right">
    34
</td>
<td align="right">
   -24.67
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   25.95
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.25
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.45
</td>
<td align="right">
    33
</td>
<td align="right">
   -14.85
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   36.52
</td>
<td align="right">
 -.57
</td>
<td align="right">
 -111.00
</td>
<td align="right">
   -.17
</td>
<td align="right">
  -1.11
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.11
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   39.60
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -1.95
</td>
<td align="right">
   -.39
</td>
<td align="right">
  -1.47
</td>
<td align="right">
    15
</td>
<td align="right">
   -22.04
</td>
<td align="right">
    .75
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   42.97
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .58
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .48
</td>
<td align="right">
     7
</td>
<td align="right">
     3.38
</td>
<td align="right">
    .83
</td>
</tr>
<tr>
<td>
SUN
</td>
<td align="right">
   47.73
</td>
<td align="right">
 -.63
</td>
<td align="right">
    2.32
</td>
<td align="right">
    .01
</td>
<td align="right">
    .16
</td>
<td align="right">
     7
</td>
<td align="right">
     1.09
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    5.52
</td>
<td align="right">
 -.62
</td>
<td align="right">
  -15.12
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.33
</td>
<td align="right">
    13
</td>
<td align="right">
    -4.28
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
SWC
</td>
<td align="right">
    8.54
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.48
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.28
</td>
<td align="right">
     6
</td>
<td align="right">
    -1.65
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   39.62
</td>
<td align="right">
 -.66
</td>
<td align="right">
    1.29
</td>
<td align="right">
    .01
</td>
<td align="right">
    .32
</td>
<td align="right">
   121
</td>
<td align="right">
    38.75
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   59.98
</td>
<td align="right">
 -.67
</td>
<td align="right">
    4.61
</td>
<td align="right">
    .30
</td>
<td align="right">
    .96
</td>
<td align="right">
     9
</td>
<td align="right">
     8.61
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
TM
</td>
<td align="right">
   77.46
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -2.02
</td>
<td align="right">
   -.14
</td>
<td align="right">
  -1.24
</td>
<td align="right">
     4
</td>
<td align="right">
    -4.94
</td>
<td align="right">
    .61
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   45.50
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .78
</td>
<td align="right">
   -.40
</td>
<td align="right">
    .59
</td>
<td align="right">
    10
</td>
<td align="right">
     5.90
</td>
<td align="right">
    .76
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   55.62
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -1.93
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.43
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.30
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
UNP
</td>
<td align="right">
  116.81
</td>
<td align="right">
 -.56
</td>
<td align="right">
  118.00
</td>
<td align="right">
   -.28
</td>
<td align="right">
   1.18
</td>
<td align="right">
     1
</td>
<td align="right">
     1.18
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
UPS
</td>
<td align="right">
   79.23
</td>
<td align="right">
 -.72
</td>
<td align="right">
   -1.49
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.42
</td>
<td align="right">
    55
</td>
<td align="right">
   -23.22
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
VECO
</td>
<td align="right">
   34.52
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -4.88
</td>
<td align="right">
   -.71
</td>
<td align="right">
   -.51
</td>
<td align="right">
     4
</td>
<td align="right">
    -2.03
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   84.61
</td>
<td align="right">
 -.72
</td>
<td align="right">
    -.39
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.41
</td>
<td align="right">
    96
</td>
<td align="right">
   -39.25
</td>
<td align="right">
   1.05
</td>
</tr>
<tr>
<td>
WFC
</td>
<td align="right">
   33.20
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.09
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.18
</td>
<td align="right">
    28
</td>
<td align="right">
    -5.14
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   95.24
</td>
<td align="right">
 -.61
</td>
<td align="right">
 -138.00
</td>
<td align="right">
    .26
</td>
<td align="right">
  -1.38
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.38
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
   96.05
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .77
</td>
<td align="right">
    .18
</td>
<td align="right">
    .50
</td>
<td align="right">
     2
</td>
<td align="right">
     1.00
</td>
<td align="right">
    .65
</td>
</tr>
<tr>
<td>
X
</td>
<td align="right">
   20.75
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.30
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.34
</td>
<td align="right">
    51
</td>
<td align="right">
   -17.54
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   34.55
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.97
</td>
<td align="right">
   -.22
</td>
<td align="right">
   -.36
</td>
<td align="right">
    16
</td>
<td align="right">
    -5.70
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   66.08
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .21
</td>
<td align="right">
   -.08
</td>
<td align="right">
    .12
</td>
<td align="right">
    31
</td>
<td align="right">
     3.66
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   83.91
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.29
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.10
</td>
<td align="right">
     9
</td>
<td align="right">
     -.90
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  2523
</td>
<td align="right">
  -662.51
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ACI
</td>
<td align="right">
    6.63
</td>
<td align="right">
  .79
</td>
<td align="right">
   -7.62
</td>
<td align="right">
   -.19
</td>
<td align="right">
   -.45
</td>
<td align="right">
     9
</td>
<td align="right">
    -4.07
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
AEM
</td>
<td align="right">
   40.08
</td>
<td align="right">
  .74
</td>
<td align="right">
   -1.93
</td>
<td align="right">
    .09
</td>
<td align="right">
   -.51
</td>
<td align="right">
    43
</td>
<td align="right">
   -21.95
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   42.32
</td>
<td align="right">
  .63
</td>
<td align="right">
    4.44
</td>
<td align="right">
    .10
</td>
<td align="right">
    .85
</td>
<td align="right">
     5
</td>
<td align="right">
     4.25
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   31.00
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.62
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.08
</td>
<td align="right">
    10
</td>
<td align="right">
     -.76
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   30.03
</td>
<td align="right">
  .80
</td>
<td align="right">
   -1.01
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.36
</td>
<td align="right">
    50
</td>
<td align="right">
   -18.07
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
ALL
</td>
<td align="right">
   34.03
</td>
<td align="right">
  .65
</td>
<td align="right">
   -3.27
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.50
</td>
<td align="right">
    45
</td>
<td align="right">
   -22.56
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   75.06
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.27
</td>
<td align="right">
    .13
</td>
<td align="right">
    .60
</td>
<td align="right">
    22
</td>
<td align="right">
    13.13
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  214.82
</td>
<td align="right">
  .62
</td>
<td align="right">
  194.00
</td>
<td align="right">
   1.88
</td>
<td align="right">
   1.94
</td>
<td align="right">
     1
</td>
<td align="right">
     1.94
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
APA
</td>
<td align="right">
   84.89
</td>
<td align="right">
  .62
</td>
<td align="right">
   -1.04
</td>
<td align="right">
   -.27
</td>
<td align="right">
  -1.24
</td>
<td align="right">
    14
</td>
<td align="right">
   -17.33
</td>
<td align="right">
   1.19
</td>
</tr>
<tr>
<td>
BRCM
</td>
<td align="right">
   31.68
</td>
<td align="right">
  .63
</td>
<td align="right">
   -2.51
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.27
</td>
<td align="right">
     9
</td>
<td align="right">
    -2.47
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  196.75
</td>
<td align="right">
  .69
</td>
<td align="right">
   -1.51
</td>
<td align="right">
  -1.52
</td>
<td align="right">
  -3.34
</td>
<td align="right">
     7
</td>
<td align="right">
   -23.37
</td>
<td align="right">
   2.22
</td>
</tr>
<tr>
<td>
CHK
</td>
<td align="right">
   19.15
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.83
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.33
</td>
<td align="right">
    36
</td>
<td align="right">
   -11.77
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   47.10
</td>
<td align="right">
  .63
</td>
<td align="right">
   -1.92
</td>
<td align="right">
   -.20
</td>
<td align="right">
   -.86
</td>
<td align="right">
    15
</td>
<td align="right">
   -12.95
</td>
<td align="right">
    .45
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  382.41
</td>
<td align="right">
  .68
</td>
<td align="right">
    -.02
</td>
<td align="right">
    .31
</td>
<td align="right">
   -.11
</td>
<td align="right">
   107
</td>
<td align="right">
   -11.46
</td>
<td align="right">
   5.30
</td>
</tr>
<tr>
<td>
CMI
</td>
<td align="right">
   85.97
</td>
<td align="right">
  .56
</td>
<td align="right">
  126.00
</td>
<td align="right">
   1.28
</td>
<td align="right">
   1.26
</td>
<td align="right">
     1
</td>
<td align="right">
     1.26
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   53.69
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.35
</td>
<td align="right">
    .08
</td>
<td align="right">
    .48
</td>
<td align="right">
    65
</td>
<td align="right">
    31.20
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   23.24
</td>
<td align="right">
  .61
</td>
<td align="right">
   -2.12
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.53
</td>
<td align="right">
     9
</td>
<td align="right">
    -4.77
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  128.12
</td>
<td align="right">
  .60
</td>
<td align="right">
     .89
</td>
<td align="right">
   -.16
</td>
<td align="right">
   3.02
</td>
<td align="right">
     8
</td>
<td align="right">
    24.15
</td>
<td align="right">
   3.38
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   16.33
</td>
<td align="right">
  .61
</td>
<td align="right">
   -9.61
</td>
<td align="right">
    .10
</td>
<td align="right">
   -.27
</td>
<td align="right">
     7
</td>
<td align="right">
    -1.88
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
CSX
</td>
<td align="right">
   22.42
</td>
<td align="right">
  .65
</td>
<td align="right">
   -1.10
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.31
</td>
<td align="right">
    16
</td>
<td align="right">
    -4.91
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   32.45
</td>
<td align="right">
  .62
</td>
<td align="right">
   -5.92
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.54
</td>
<td align="right">
     7
</td>
<td align="right">
    -3.77
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   77.01
</td>
<td align="right">
  .62
</td>
<td align="right">
  -17.32
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.56
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.67
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  127.44
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.94
</td>
<td align="right">
   -.18
</td>
<td align="right">
   -.61
</td>
<td align="right">
    30
</td>
<td align="right">
   -18.44
</td>
<td align="right">
    .66
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   47.40
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.43
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.14
</td>
<td align="right">
    21
</td>
<td align="right">
    -2.94
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
DO
</td>
<td align="right">
   58.78
</td>
<td align="right">
  .61
</td>
<td align="right">
    2.75
</td>
<td align="right">
    .27
</td>
<td align="right">
   1.48
</td>
<td align="right">
    13
</td>
<td align="right">
    19.28
</td>
<td align="right">
    .54
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   31.37
</td>
<td align="right">
  .55
</td>
<td align="right">
  -29.56
</td>
<td align="right">
   -.38
</td>
<td align="right">
  -1.05
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.09
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   48.49
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.54
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.23
</td>
<td align="right">
    26
</td>
<td align="right">
    -5.99
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
EGO
</td>
<td align="right">
   12.11
</td>
<td align="right">
  .68
</td>
<td align="right">
   -1.44
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.33
</td>
<td align="right">
    58
</td>
<td align="right">
   -19.08
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   51.02
</td>
<td align="right">
  .58
</td>
<td align="right">
     .20
</td>
<td align="right">
   -.07
</td>
<td align="right">
    .23
</td>
<td align="right">
     2
</td>
<td align="right">
      .47
</td>
<td align="right">
   1.19
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    7.84
</td>
<td align="right">
  .67
</td>
<td align="right">
     .20
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .03
</td>
<td align="right">
    56
</td>
<td align="right">
     1.87
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   32.46
</td>
<td align="right">
  .59
</td>
<td align="right">
  -74.00
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.74
</td>
<td align="right">
     1
</td>
<td align="right">
     -.74
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   89.06
</td>
<td align="right">
  .71
</td>
<td align="right">
  203.00
</td>
<td align="right">
    .55
</td>
<td align="right">
   2.03
</td>
<td align="right">
     1
</td>
<td align="right">
     2.03
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
   91.42
</td>
<td align="right">
  .60
</td>
<td align="right">
    2.03
</td>
<td align="right">
    .06
</td>
<td align="right">
   1.01
</td>
<td align="right">
     5
</td>
<td align="right">
     5.06
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
   14.59
</td>
<td align="right">
  .64
</td>
<td align="right">
   -2.53
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.19
</td>
<td align="right">
     7
</td>
<td align="right">
    -1.31
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
GFI
</td>
<td align="right">
   12.20
</td>
<td align="right">
  .67
</td>
<td align="right">
     .45
</td>
<td align="right">
    .02
</td>
<td align="right">
    .10
</td>
<td align="right">
    65
</td>
<td align="right">
     6.25
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  583.96
</td>
<td align="right">
  .71
</td>
<td align="right">
    -.39
</td>
<td align="right">
    .28
</td>
<td align="right">
  -3.56
</td>
<td align="right">
    80
</td>
<td align="right">
  -284.92
</td>
<td align="right">
   9.20
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
   94.16
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.31
</td>
<td align="right">
    .57
</td>
<td align="right">
   2.47
</td>
<td align="right">
    12
</td>
<td align="right">
    29.67
</td>
<td align="right">
   1.88
</td>
</tr>
<tr>
<td>
HD
</td>
<td align="right">
   51.72
</td>
<td align="right">
  .60
</td>
<td align="right">
     .05
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .02
</td>
<td align="right">
    18
</td>
<td align="right">
      .28
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
HES
</td>
<td align="right">
   43.11
</td>
<td align="right">
  .57
</td>
<td align="right">
    7.07
</td>
<td align="right">
   -.13
</td>
<td align="right">
    .20
</td>
<td align="right">
     2
</td>
<td align="right">
      .40
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   69.05
</td>
<td align="right">
  .77
</td>
<td align="right">
    2.43
</td>
<td align="right">
    .38
</td>
<td align="right">
    .53
</td>
<td align="right">
    13
</td>
<td align="right">
     6.89
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   78.75
</td>
<td align="right">
  .62
</td>
<td align="right">
     .58
</td>
<td align="right">
   -.48
</td>
<td align="right">
    .35
</td>
<td align="right">
    12
</td>
<td align="right">
     4.14
</td>
<td align="right">
    .60
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   64.00
</td>
<td align="right">
  .64
</td>
<td align="right">
    1.18
</td>
<td align="right">
    .09
</td>
<td align="right">
    .33
</td>
<td align="right">
     2
</td>
<td align="right">
      .65
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
JNJ
</td>
<td align="right">
   67.87
</td>
<td align="right">
  .64
</td>
<td align="right">
     .34
</td>
<td align="right">
    .04
</td>
<td align="right">
    .05
</td>
<td align="right">
     8
</td>
<td align="right">
      .43
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
JPM
</td>
<td align="right">
   34.67
</td>
<td align="right">
  .61
</td>
<td align="right">
  -11.28
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.56
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.67
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
JWN
</td>
<td align="right">
   51.22
</td>
<td align="right">
  .70
</td>
<td align="right">
     .38
</td>
<td align="right">
    .14
</td>
<td align="right">
    .31
</td>
<td align="right">
    31
</td>
<td align="right">
     9.68
</td>
<td align="right">
    .83
</td>
</tr>
<tr>
<td>
LLY
</td>
<td align="right">
   42.84
</td>
<td align="right">
  .68
</td>
<td align="right">
     .70
</td>
<td align="right">
    .05
</td>
<td align="right">
    .08
</td>
<td align="right">
    52
</td>
<td align="right">
     4.09
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
LMT
</td>
<td align="right">
   86.37
</td>
<td align="right">
  .56
</td>
<td align="right">
    1.51
</td>
<td align="right">
    .16
</td>
<td align="right">
    .68
</td>
<td align="right">
     4
</td>
<td align="right">
     2.72
</td>
<td align="right">
    .45
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   40.93
</td>
<td align="right">
  .60
</td>
<td align="right">
  -11.00
</td>
<td align="right">
    .55
</td>
<td align="right">
   -.11
</td>
<td align="right">
     1
</td>
<td align="right">
     -.11
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  426.05
</td>
<td align="right">
  .62
</td>
<td align="right">
     .20
</td>
<td align="right">
    .16
</td>
<td align="right">
   1.41
</td>
<td align="right">
    81
</td>
<td align="right">
   113.91
</td>
<td align="right">
   7.19
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   37.94
</td>
<td align="right">
  .60
</td>
<td align="right">
   -1.39
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.21
</td>
<td align="right">
    16
</td>
<td align="right">
    -3.42
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   76.97
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.50
</td>
<td align="right">
    .19
</td>
<td align="right">
    .34
</td>
<td align="right">
     4
</td>
<td align="right">
     1.34
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   89.33
</td>
<td align="right">
  .59
</td>
<td align="right">
   -2.12
</td>
<td align="right">
   -.73
</td>
<td align="right">
  -1.34
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.67
</td>
<td align="right">
    .63
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   41.38
</td>
<td align="right">
  .59
</td>
<td align="right">
   11.71
</td>
<td align="right">
   -.02
</td>
<td align="right">
   1.49
</td>
<td align="right">
     2
</td>
<td align="right">
     2.98
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
MRO
</td>
<td align="right">
   24.38
</td>
<td align="right">
  .66
</td>
<td align="right">
     .04
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .02
</td>
<td align="right">
    90
</td>
<td align="right">
     1.36
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   29.82
</td>
<td align="right">
  .58
</td>
<td align="right">
   -1.25
</td>
<td align="right">
    .08
</td>
<td align="right">
   -.19
</td>
<td align="right">
     5
</td>
<td align="right">
     -.93
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
   82.53
</td>
<td align="right">
  .65
</td>
<td align="right">
     .79
</td>
<td align="right">
   -.01
</td>
<td align="right">
   1.18
</td>
<td align="right">
    46
</td>
<td align="right">
    54.36
</td>
<td align="right">
   1.50
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   63.03
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.86
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.36
</td>
<td align="right">
    36
</td>
<td align="right">
   -13.12
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
ORCL
</td>
<td align="right">
   29.19
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.55
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.06
</td>
<td align="right">
    16
</td>
<td align="right">
     -.94
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
OXY
</td>
<td align="right">
   85.42
</td>
<td align="right">
  .67
</td>
<td align="right">
 -120.00
</td>
<td align="right">
   -.76
</td>
<td align="right">
  -1.20
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.20
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   90.65
</td>
<td align="right">
  .64
</td>
<td align="right">
   -2.13
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.23
</td>
<td align="right">
    11
</td>
<td align="right">
    -2.48
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   61.26
</td>
<td align="right">
  .63
</td>
<td align="right">
  -95.00
</td>
<td align="right">
   -.25
</td>
<td align="right">
   -.95
</td>
<td align="right">
     1
</td>
<td align="right">
     -.95
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  142.23
</td>
<td align="right">
  .59
</td>
<td align="right">
   -3.42
</td>
<td align="right">
   -.40
</td>
<td align="right">
  -1.99
</td>
<td align="right">
     6
</td>
<td align="right">
   -11.96
</td>
<td align="right">
    .58
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   29.51
</td>
<td align="right">
  .58
</td>
<td align="right">
   63.00
</td>
<td align="right">
    .10
</td>
<td align="right">
    .63
</td>
<td align="right">
     1
</td>
<td align="right">
      .63
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
    7.75
</td>
<td align="right">
  .59
</td>
<td align="right">
   -2.34
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.44
</td>
<td align="right">
     7
</td>
<td align="right">
    -3.10
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   51.86
</td>
<td align="right">
  .63
</td>
<td align="right">
    6.00
</td>
<td align="right">
    .10
</td>
<td align="right">
    .06
</td>
<td align="right">
     1
</td>
<td align="right">
      .06
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   49.12
</td>
<td align="right">
  .73
</td>
<td align="right">
    -.81
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.52
</td>
<td align="right">
    61
</td>
<td align="right">
   -31.50
</td>
<td align="right">
    .63
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   33.96
</td>
<td align="right">
  .62
</td>
<td align="right">
   -2.45
</td>
<td align="right">
   -.27
</td>
<td align="right">
   -.63
</td>
<td align="right">
     9
</td>
<td align="right">
    -5.64
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
SU
</td>
<td align="right">
   28.48
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.13
</td>
<td align="right">
    .09
</td>
<td align="right">
   -.26
</td>
<td align="right">
     8
</td>
<td align="right">
    -2.04
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   59.51
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.24
</td>
<td align="right">
    .04
</td>
<td align="right">
    .72
</td>
<td align="right">
    53
</td>
<td align="right">
    38.39
</td>
<td align="right">
    .58
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   44.01
</td>
<td align="right">
  .60
</td>
<td align="right">
   -1.43
</td>
<td align="right">
   -.10
</td>
<td align="right">
  -1.09
</td>
<td align="right">
    16
</td>
<td align="right">
   -17.51
</td>
<td align="right">
    .77
</td>
</tr>
<tr>
<td>
TM
</td>
<td align="right">
   76.99
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.02
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.02
</td>
<td align="right">
     2
</td>
<td align="right">
     -.03
</td>
<td align="right">
    .95
</td>
</tr>
<tr>
<td>
TSO
</td>
<td align="right">
   25.81
</td>
<td align="right">
  .64
</td>
<td align="right">
    5.85
</td>
<td align="right">
    .26
</td>
<td align="right">
    .64
</td>
<td align="right">
    14
</td>
<td align="right">
     9.00
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   55.39
</td>
<td align="right">
  .66
</td>
<td align="right">
     .63
</td>
<td align="right">
    .02
</td>
<td align="right">
    .28
</td>
<td align="right">
    90
</td>
<td align="right">
    25.17
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
  121.79
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.63
</td>
<td align="right">
   -.62
</td>
<td align="right">
  -1.10
</td>
<td align="right">
     4
</td>
<td align="right">
    -4.39
</td>
<td align="right">
   1.75
</td>
</tr>
<tr>
<td>
WAG
</td>
<td align="right">
   29.57
</td>
<td align="right">
  .72
</td>
<td align="right">
    2.91
</td>
<td align="right">
    .04
</td>
<td align="right">
    .31
</td>
<td align="right">
    66
</td>
<td align="right">
    20.70
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
WFC
</td>
<td align="right">
   32.88
</td>
<td align="right">
  .60
</td>
<td align="right">
    1.22
</td>
<td align="right">
    .13
</td>
<td align="right">
    .28
</td>
<td align="right">
     3
</td>
<td align="right">
      .85
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   94.35
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.55
</td>
<td align="right">
   -.49
</td>
<td align="right">
   -.87
</td>
<td align="right">
    21
</td>
<td align="right">
   -18.17
</td>
<td align="right">
   1.56
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   61.54
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.19
</td>
<td align="right">
    .03
</td>
<td align="right">
    .81
</td>
<td align="right">
    25
</td>
<td align="right">
    20.19
</td>
<td align="right">
    .68
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   72.26
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.42
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.21
</td>
<td align="right">
     2
</td>
<td align="right">
     -.41
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
   99.55
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.16
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.25
</td>
<td align="right">
    97
</td>
<td align="right">
   -24.49
</td>
<td align="right">
   1.60
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   65.63
</td>
<td align="right">
  .61
</td>
<td align="right">
     .26
</td>
<td align="right">
    .09
</td>
<td align="right">
    .19
</td>
<td align="right">
    22
</td>
<td align="right">
     4.18
</td>
<td align="right">
    .73
</td>
</tr>
<tr>
<td>
XLU
</td>
<td align="right">
   36.87
</td>
<td align="right">
  .57
</td>
<td align="right">
    1.81
</td>
<td align="right">
    .00
</td>
<td align="right">
    .07
</td>
<td align="right">
     3
</td>
<td align="right">
      .22
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
YUM
</td>
<td align="right">
   63.43
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.95
</td>
<td align="right">
    .36
</td>
<td align="right">
    .96
</td>
<td align="right">
    18
</td>
<td align="right">
    17.30
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1854
</td>
<td align="right">
  -165.52
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
