<h4>Week of: 2011_12_19</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   24.14
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.39
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.04
</td>
<td align="right">
    11
</td>
<td align="right">
     -.48
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   31.65
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .66
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .24
</td>
<td align="right">
    27
</td>
<td align="right">
     6.54
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   42.05
</td>
<td align="right">
 -.56
</td>
<td align="right">
   66.00
</td>
<td align="right">
    .13
</td>
<td align="right">
    .66
</td>
<td align="right">
     1
</td>
<td align="right">
      .66
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    6.67
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -14.00
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.14
</td>
<td align="right">
     1
</td>
<td align="right">
     -.14
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   22.96
</td>
<td align="right">
 -.61
</td>
<td align="right">
    4.52
</td>
<td align="right">
    .03
</td>
<td align="right">
    .29
</td>
<td align="right">
    10
</td>
<td align="right">
     2.85
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
BEN
</td>
<td align="right">
   94.06
</td>
<td align="right">
 -.61
</td>
<td align="right">
  133.00
</td>
<td align="right">
    .40
</td>
<td align="right">
   1.33
</td>
<td align="right">
     1
</td>
<td align="right">
     1.33
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  114.93
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .30
</td>
<td align="right">
    .34
</td>
<td align="right">
    .64
</td>
<td align="right">
    53
</td>
<td align="right">
    33.83
</td>
<td align="right">
   2.13
</td>
</tr>
<tr>
<td>
C
</td>
<td align="right">
   25.89
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.57
</td>
<td align="right">
   -.34
</td>
<td align="right">
   -.20
</td>
<td align="right">
     4
</td>
<td align="right">
     -.79
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
CDE
</td>
<td align="right">
   25.47
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.80
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.24
</td>
<td align="right">
    33
</td>
<td align="right">
    -8.03
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  178.33
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -6.99
</td>
<td align="right">
   -.26
</td>
<td align="right">
  -5.82
</td>
<td align="right">
     3
</td>
<td align="right">
   -17.46
</td>
<td align="right">
    .83
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   42.99
</td>
<td align="right">
 -.58
</td>
<td align="right">
  -39.00
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.39
</td>
<td align="right">
     1
</td>
<td align="right">
     -.39
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CTSH
</td>
<td align="right">
   63.39
</td>
<td align="right">
 -.57
</td>
<td align="right">
    2.23
</td>
<td align="right">
    .33
</td>
<td align="right">
    .84
</td>
<td align="right">
     3
</td>
<td align="right">
     2.52
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   40.91
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .42
</td>
<td align="right">
    .01
</td>
<td align="right">
    .09
</td>
<td align="right">
    35
</td>
<td align="right">
     3.11
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   43.59
</td>
<td align="right">
 -.63
</td>
<td align="right">
  118.05
</td>
<td align="right">
   -.26
</td>
<td align="right">
   1.35
</td>
<td align="right">
     5
</td>
<td align="right">
     6.73
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  122.32
</td>
<td align="right">
 -.58
</td>
<td align="right">
   44.00
</td>
<td align="right">
    .00
</td>
<td align="right">
    .44
</td>
<td align="right">
     1
</td>
<td align="right">
      .44
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   36.99
</td>
<td align="right">
 -.63
</td>
<td align="right">
    3.34
</td>
<td align="right">
    .10
</td>
<td align="right">
    .60
</td>
<td align="right">
    21
</td>
<td align="right">
    12.65
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
DVN
</td>
<td align="right">
   61.26
</td>
<td align="right">
 -.64
</td>
<td align="right">
  -41.00
</td>
<td align="right">
    .30
</td>
<td align="right">
   -.41
</td>
<td align="right">
     1
</td>
<td align="right">
     -.41
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
EOG
</td>
<td align="right">
   97.86
</td>
<td align="right">
 -.64
</td>
<td align="right">
    1.05
</td>
<td align="right">
    .07
</td>
<td align="right">
    .89
</td>
<td align="right">
    33
</td>
<td align="right">
    29.26
</td>
<td align="right">
    .84
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   57.00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   86.00
</td>
<td align="right">
    .19
</td>
<td align="right">
    .86
</td>
<td align="right">
     1
</td>
<td align="right">
      .86
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   37.61
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.43
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.07
</td>
<td align="right">
     6
</td>
<td align="right">
     -.44
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
  108.12
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.23
</td>
<td align="right">
   -.38
</td>
<td align="right">
  -6.59
</td>
<td align="right">
    15
</td>
<td align="right">
   -98.85
</td>
<td align="right">
   5.34
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
   89.91
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .81
</td>
<td align="right">
    .57
</td>
<td align="right">
   1.14
</td>
<td align="right">
     8
</td>
<td align="right">
     9.11
</td>
<td align="right">
   1.40
</td>
</tr>
<tr>
<td>
HL
</td>
<td align="right">
    5.37
</td>
<td align="right">
 -.73
</td>
<td align="right">
   38.97
</td>
<td align="right">
    .01
</td>
<td align="right">
    .23
</td>
<td align="right">
     4
</td>
<td align="right">
      .90
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
HMY
</td>
<td align="right">
   11.89
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .25
</td>
<td align="right">
    .02
</td>
<td align="right">
    .07
</td>
<td align="right">
     2
</td>
<td align="right">
      .14
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
IAG
</td>
<td align="right">
   16.14
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.63
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.11
</td>
<td align="right">
    64
</td>
<td align="right">
    -6.85
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
INTC
</td>
<td align="right">
   23.78
</td>
<td align="right">
 -.62
</td>
<td align="right">
    2.40
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .30
</td>
<td align="right">
    28
</td>
<td align="right">
     8.42
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   47.40
</td>
<td align="right">
 -.69
</td>
<td align="right">
  155.00
</td>
<td align="right">
    .37
</td>
<td align="right">
   1.55
</td>
<td align="right">
     1
</td>
<td align="right">
     1.55
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
LMT
</td>
<td align="right">
   78.36
</td>
<td align="right">
 -.57
</td>
<td align="right">
   69.00
</td>
<td align="right">
    .07
</td>
<td align="right">
    .69
</td>
<td align="right">
     1
</td>
<td align="right">
      .69
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   43.00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    4.68
</td>
<td align="right">
    .08
</td>
<td align="right">
    .63
</td>
<td align="right">
     9
</td>
<td align="right">
     5.67
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   36.76
</td>
<td align="right">
 -.64
</td>
<td align="right">
   59.00
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .59
</td>
<td align="right">
     1
</td>
<td align="right">
      .59
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   30.20
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .69
</td>
<td align="right">
    .09
</td>
<td align="right">
    .25
</td>
<td align="right">
    38
</td>
<td align="right">
     9.38
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   75.14
</td>
<td align="right">
 -.60
</td>
<td align="right">
  -30.73
</td>
<td align="right">
    .19
</td>
<td align="right">
  -5.03
</td>
<td align="right">
     6
</td>
<td align="right">
   -30.18
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   80.30
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .26
</td>
<td align="right">
   -.18
</td>
<td align="right">
    .16
</td>
<td align="right">
     6
</td>
<td align="right">
      .94
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   25.99
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.58
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.30
</td>
<td align="right">
    61
</td>
<td align="right">
   -18.26
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
MT
</td>
<td align="right">
   17.91
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.07
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.03
</td>
<td align="right">
     2
</td>
<td align="right">
     -.06
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    6.31
</td>
<td align="right">
 -.61
</td>
<td align="right">
    1.69
</td>
<td align="right">
    .02
</td>
<td align="right">
    .40
</td>
<td align="right">
    67
</td>
<td align="right">
    26.61
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
   70.47
</td>
<td align="right">
 -.59
</td>
<td align="right">
    5.28
</td>
<td align="right">
   1.67
</td>
<td align="right">
   2.67
</td>
<td align="right">
     4
</td>
<td align="right">
    10.66
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
NTAP
</td>
<td align="right">
   36.06
</td>
<td align="right">
 -.59
</td>
<td align="right">
  -11.51
</td>
<td align="right">
    .00
</td>
<td align="right">
  -1.28
</td>
<td align="right">
    13
</td>
<td align="right">
   -16.65
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   39.82
</td>
<td align="right">
 -.57
</td>
<td align="right">
    1.55
</td>
<td align="right">
    .08
</td>
<td align="right">
    .57
</td>
<td align="right">
     2
</td>
<td align="right">
     1.14
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
  116.15
</td>
<td align="right">
 -.59
</td>
<td align="right">
   11.67
</td>
<td align="right">
   -.22
</td>
<td align="right">
    .33
</td>
<td align="right">
     2
</td>
<td align="right">
      .66
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
ORCL
</td>
<td align="right">
   29.14
</td>
<td align="right">
 -.60
</td>
<td align="right">
 -552.25
</td>
<td align="right">
   -.12
</td>
<td align="right">
  -3.91
</td>
<td align="right">
     2
</td>
<td align="right">
    -7.81
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
PAAS
</td>
<td align="right">
   22.04
</td>
<td align="right">
 -.72
</td>
<td align="right">
    1.81
</td>
<td align="right">
   -.12
</td>
<td align="right">
    .27
</td>
<td align="right">
    27
</td>
<td align="right">
     7.22
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
PBR
</td>
<td align="right">
   24.22
</td>
<td align="right">
 -.59
</td>
<td align="right">
    1.87
</td>
<td align="right">
    .96
</td>
<td align="right">
   1.16
</td>
<td align="right">
     7
</td>
<td align="right">
     8.13
</td>
<td align="right">
    .62
</td>
</tr>
<tr>
<td>
PEP
</td>
<td align="right">
   65.54
</td>
<td align="right">
 -.62
</td>
<td align="right">
    4.12
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .58
</td>
<td align="right">
     3
</td>
<td align="right">
     1.73
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
PG
</td>
<td align="right">
   65.94
</td>
<td align="right">
 -.67
</td>
<td align="right">
    2.60
</td>
<td align="right">
    .02
</td>
<td align="right">
    .14
</td>
<td align="right">
    17
</td>
<td align="right">
     2.35
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   78.34
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .60
</td>
<td align="right">
    .00
</td>
<td align="right">
    .33
</td>
<td align="right">
    10
</td>
<td align="right">
     3.30
</td>
<td align="right">
    .55
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   42.04
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .50
</td>
<td align="right">
    .15
</td>
<td align="right">
    .42
</td>
<td align="right">
    70
</td>
<td align="right">
    29.08
</td>
<td align="right">
    .83
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   13.82
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .85
</td>
<td align="right">
    .05
</td>
<td align="right">
    .38
</td>
<td align="right">
    19
</td>
<td align="right">
     7.13
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   12.71
</td>
<td align="right">
 -.55
</td>
<td align="right">
     .88
</td>
<td align="right">
    .08
</td>
<td align="right">
    .10
</td>
<td align="right">
     2
</td>
<td align="right">
      .20
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   28.41
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.66
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.17
</td>
<td align="right">
    17
</td>
<td align="right">
    -2.85
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   28.96
</td>
<td align="right">
 -.72
</td>
<td align="right">
     .82
</td>
<td align="right">
    .07
</td>
<td align="right">
    .50
</td>
<td align="right">
   143
</td>
<td align="right">
    71.49
</td>
<td align="right">
    .61
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   49.74
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.95
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.54
</td>
<td align="right">
     5
</td>
<td align="right">
    -2.69
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   49.11
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .98
</td>
<td align="right">
    .34
</td>
<td align="right">
   1.49
</td>
<td align="right">
    36
</td>
<td align="right">
    53.63
</td>
<td align="right">
   1.52
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   40.19
</td>
<td align="right">
 -.55
</td>
<td align="right">
     .95
</td>
<td align="right">
    .04
</td>
<td align="right">
    .48
</td>
<td align="right">
     2
</td>
<td align="right">
      .95
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    6.32
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.46
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.05
</td>
<td align="right">
   217
</td>
<td align="right">
   -11.76
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
SWC
</td>
<td align="right">
   10.84
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.84
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.14
</td>
<td align="right">
    24
</td>
<td align="right">
    -3.37
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   42.12
</td>
<td align="right">
 -.68
</td>
<td align="right">
  -96.87
</td>
<td align="right">
    .20
</td>
<td align="right">
   -.69
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.37
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   52.04
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.66
</td>
<td align="right">
   -.29
</td>
<td align="right">
   -.29
</td>
<td align="right">
    16
</td>
<td align="right">
    -4.56
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   51.00
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .82
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .25
</td>
<td align="right">
     8
</td>
<td align="right">
     2.00
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
VLO
</td>
<td align="right">
   20.89
</td>
<td align="right">
 -.64
</td>
<td align="right">
    1.11
</td>
<td align="right">
    .07
</td>
<td align="right">
    .24
</td>
<td align="right">
     9
</td>
<td align="right">
     2.14
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   85.83
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.92
</td>
<td align="right">
   -.75
</td>
<td align="right">
  -2.74
</td>
<td align="right">
    12
</td>
<td align="right">
   -32.93
</td>
<td align="right">
   2.98
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   68.37
</td>
<td align="right">
 -.61
</td>
<td align="right">
    1.52
</td>
<td align="right">
    .06
</td>
<td align="right">
    .62
</td>
<td align="right">
    23
</td>
<td align="right">
    14.27
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   84.85
</td>
<td align="right">
 -.60
</td>
<td align="right">
    2.92
</td>
<td align="right">
    .07
</td>
<td align="right">
    .29
</td>
<td align="right">
     5
</td>
<td align="right">
     1.47
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1261
</td>
<td align="right">
   116.00
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ADM
</td>
<td align="right">
   28.15
</td>
<td align="right">
  .59
</td>
<td align="right">
    1.02
</td>
<td align="right">
    .21
</td>
<td align="right">
    .33
</td>
<td align="right">
     2
</td>
<td align="right">
      .66
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
ALL
</td>
<td align="right">
   27.49
</td>
<td align="right">
  .60
</td>
<td align="right">
     .09
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .01
</td>
<td align="right">
     7
</td>
<td align="right">
      .05
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   60.92
</td>
<td align="right">
  .59
</td>
<td align="right">
    6.93
</td>
<td align="right">
    .10
</td>
<td align="right">
   1.31
</td>
<td align="right">
     8
</td>
<td align="right">
    10.46
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
ANR
</td>
<td align="right">
   20.64
</td>
<td align="right">
  .59
</td>
<td align="right">
   -5.94
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.45
</td>
<td align="right">
     5
</td>
<td align="right">
    -2.23
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    6.96
</td>
<td align="right">
  .61
</td>
<td align="right">
   -1.43
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.10
</td>
<td align="right">
     8
</td>
<td align="right">
     -.83
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
C
</td>
<td align="right">
   25.72
</td>
<td align="right">
  .60
</td>
<td align="right">
  -10.00
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.10
</td>
<td align="right">
     1
</td>
<td align="right">
     -.10
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CELG
</td>
<td align="right">
   63.86
</td>
<td align="right">
  .63
</td>
<td align="right">
  171.00
</td>
<td align="right">
   1.05
</td>
<td align="right">
   1.71
</td>
<td align="right">
     1
</td>
<td align="right">
     1.71
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CHK
</td>
<td align="right">
   23.09
</td>
<td align="right">
  .62
</td>
<td align="right">
   42.00
</td>
<td align="right">
    .05
</td>
<td align="right">
    .42
</td>
<td align="right">
     1
</td>
<td align="right">
      .42
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   64.80
</td>
<td align="right">
  .66
</td>
<td align="right">
    2.80
</td>
<td align="right">
    .41
</td>
<td align="right">
    .64
</td>
<td align="right">
    22
</td>
<td align="right">
    14.18
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  332.51
</td>
<td align="right">
  .65
</td>
<td align="right">
    2.57
</td>
<td align="right">
   1.35
</td>
<td align="right">
   4.18
</td>
<td align="right">
    10
</td>
<td align="right">
    41.81
</td>
<td align="right">
   1.63
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   42.53
</td>
<td align="right">
  .63
</td>
<td align="right">
     .23
</td>
<td align="right">
   -.09
</td>
<td align="right">
    .09
</td>
<td align="right">
    12
</td>
<td align="right">
     1.04
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
   97.73
</td>
<td align="right">
  .61
</td>
<td align="right">
     .16
</td>
<td align="right">
    .67
</td>
<td align="right">
    .44
</td>
<td align="right">
    14
</td>
<td align="right">
     6.13
</td>
<td align="right">
   2.76
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   37.42
</td>
<td align="right">
  .65
</td>
<td align="right">
    3.30
</td>
<td align="right">
    .03
</td>
<td align="right">
   2.01
</td>
<td align="right">
    37
</td>
<td align="right">
    74.32
</td>
<td align="right">
    .61
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  118.40
</td>
<td align="right">
  .57
</td>
<td align="right">
    3.23
</td>
<td align="right">
   -.34
</td>
<td align="right">
   2.02
</td>
<td align="right">
    23
</td>
<td align="right">
    46.53
</td>
<td align="right">
    .63
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   35.75
</td>
<td align="right">
  .66
</td>
<td align="right">
     .73
</td>
<td align="right">
    .23
</td>
<td align="right">
    .41
</td>
<td align="right">
    26
</td>
<td align="right">
    10.75
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   43.13
</td>
<td align="right">
  .62
</td>
<td align="right">
    3.30
</td>
<td align="right">
    .04
</td>
<td align="right">
    .14
</td>
<td align="right">
     2
</td>
<td align="right">
      .28
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   30.25
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.46
</td>
<td align="right">
   -.09
</td>
<td align="right">
    .31
</td>
<td align="right">
    12
</td>
<td align="right">
     3.66
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   58.19
</td>
<td align="right">
  .60
</td>
<td align="right">
   -2.31
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.08
</td>
<td align="right">
     7
</td>
<td align="right">
     -.56
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    9.70
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.18
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.04
</td>
<td align="right">
    34
</td>
<td align="right">
    -1.31
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
FLS
</td>
<td align="right">
  100.41
</td>
<td align="right">
  .64
</td>
<td align="right">
   -2.07
</td>
<td align="right">
    .24
</td>
<td align="right">
  -1.56
</td>
<td align="right">
     3
</td>
<td align="right">
    -4.67
</td>
<td align="right">
    .75
</td>
</tr>
<tr>
<td>
FXI
</td>
<td align="right">
   34.07
</td>
<td align="right">
  .57
</td>
<td align="right">
   10.35
</td>
<td align="right">
   -.18
</td>
<td align="right">
    .66
</td>
<td align="right">
     4
</td>
<td align="right">
     2.64
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   53.07
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.15
</td>
<td align="right">
   -.11
</td>
<td align="right">
    .13
</td>
<td align="right">
     3
</td>
<td align="right">
      .40
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
GFI
</td>
<td align="right">
   15.51
</td>
<td align="right">
  .65
</td>
<td align="right">
  -14.00
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.14
</td>
<td align="right">
     1
</td>
<td align="right">
     -.14
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   45.61
</td>
<td align="right">
  .69
</td>
<td align="right">
  -68.00
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.68
</td>
<td align="right">
     1
</td>
<td align="right">
     -.68
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  628.65
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.48
</td>
<td align="right">
    .63
</td>
<td align="right">
   5.74
</td>
<td align="right">
    29
</td>
<td align="right">
   166.50
</td>
<td align="right">
   3.89
</td>
</tr>
<tr>
<td>
HES
</td>
<td align="right">
   55.66
</td>
<td align="right">
  .62
</td>
<td align="right">
   30.37
</td>
<td align="right">
    .20
</td>
<td align="right">
   1.07
</td>
<td align="right">
     3
</td>
<td align="right">
     3.20
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
HPQ
</td>
<td align="right">
   25.85
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.92
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.30
</td>
<td align="right">
    23
</td>
<td align="right">
    -6.93
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
IBM
</td>
<td align="right">
  181.79
</td>
<td align="right">
  .58
</td>
<td align="right">
  247.00
</td>
<td align="right">
   -.21
</td>
<td align="right">
   2.47
</td>
<td align="right">
     1
</td>
<td align="right">
     2.47
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   48.41
</td>
<td align="right">
  .69
</td>
<td align="right">
    -.12
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.15
</td>
<td align="right">
    59
</td>
<td align="right">
    -8.96
</td>
<td align="right">
   1.22
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   71.70
</td>
<td align="right">
  .57
</td>
<td align="right">
   13.32
</td>
<td align="right">
    .14
</td>
<td align="right">
   1.83
</td>
<td align="right">
     4
</td>
<td align="right">
     7.32
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   56.60
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.68
</td>
<td align="right">
    .04
</td>
<td align="right">
    .33
</td>
<td align="right">
    10
</td>
<td align="right">
     3.29
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
JPM
</td>
<td align="right">
   30.48
</td>
<td align="right">
  .56
</td>
<td align="right">
  192.00
</td>
<td align="right">
   1.32
</td>
<td align="right">
   1.92
</td>
<td align="right">
     1
</td>
<td align="right">
     1.92
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
LLY
</td>
<td align="right">
   40.98
</td>
<td align="right">
  .62
</td>
<td align="right">
    3.82
</td>
<td align="right">
    .10
</td>
<td align="right">
    .40
</td>
<td align="right">
    11
</td>
<td align="right">
     4.36
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   40.56
</td>
<td align="right">
  .59
</td>
<td align="right">
   11.92
</td>
<td align="right">
    .89
</td>
<td align="right">
   1.93
</td>
<td align="right">
     7
</td>
<td align="right">
    13.49
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  369.47
</td>
<td align="right">
  .58
</td>
<td align="right">
    1.37
</td>
<td align="right">
    .33
</td>
<td align="right">
   3.75
</td>
<td align="right">
     4
</td>
<td align="right">
    14.98
</td>
<td align="right">
   2.72
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   36.42
</td>
<td align="right">
  .58
</td>
<td align="right">
   30.10
</td>
<td align="right">
    .15
</td>
<td align="right">
    .63
</td>
<td align="right">
     3
</td>
<td align="right">
     1.88
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  157.94
</td>
<td align="right">
  .64
</td>
<td align="right">
   -5.96
</td>
<td align="right">
   -.27
</td>
<td align="right">
  -1.48
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.95
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   25.66
</td>
<td align="right">
  .62
</td>
<td align="right">
    2.13
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .17
</td>
<td align="right">
     5
</td>
<td align="right">
      .84
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   57.35
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.28
</td>
<td align="right">
    .07
</td>
<td align="right">
    .40
</td>
<td align="right">
    19
</td>
<td align="right">
     7.66
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   39.76
</td>
<td align="right">
  .66
</td>
<td align="right">
   -2.80
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.58
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.15
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
NVDA
</td>
<td align="right">
   14.20
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.16
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.02
</td>
<td align="right">
    48
</td>
<td align="right">
     -.85
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   60.97
</td>
<td align="right">
  .60
</td>
<td align="right">
    4.17
</td>
<td align="right">
   -.17
</td>
<td align="right">
    .95
</td>
<td align="right">
    30
</td>
<td align="right">
    28.37
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   75.99
</td>
<td align="right">
  .60
</td>
<td align="right">
    1.83
</td>
<td align="right">
    .20
</td>
<td align="right">
    .44
</td>
<td align="right">
     9
</td>
<td align="right">
     4.00
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   54.55
</td>
<td align="right">
  .68
</td>
<td align="right">
    3.12
</td>
<td align="right">
    .38
</td>
<td align="right">
   1.43
</td>
<td align="right">
    45
</td>
<td align="right">
    64.45
</td>
<td align="right">
    .46
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   45.30
</td>
<td align="right">
  .70
</td>
<td align="right">
    8.83
</td>
<td align="right">
    .15
</td>
<td align="right">
    .64
</td>
<td align="right">
    24
</td>
<td align="right">
    15.43
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
SJM
</td>
<td align="right">
   78.47
</td>
<td align="right">
  .59
</td>
<td align="right">
    1.06
</td>
<td align="right">
    .04
</td>
<td align="right">
    .11
</td>
<td align="right">
     3
</td>
<td align="right">
      .34
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   12.31
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.43
</td>
<td align="right">
    .07
</td>
<td align="right">
    .22
</td>
<td align="right">
    41
</td>
<td align="right">
     9.16
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
SLB
</td>
<td align="right">
   68.94
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.56
</td>
<td align="right">
    .14
</td>
<td align="right">
   -.11
</td>
<td align="right">
     5
</td>
<td align="right">
     -.54
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   28.75
</td>
<td align="right">
  .62
</td>
<td align="right">
   -4.44
</td>
<td align="right">
   -.20
</td>
<td align="right">
   -.19
</td>
<td align="right">
     9
</td>
<td align="right">
    -1.74
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   29.60
</td>
<td align="right">
  .61
</td>
<td align="right">
   -2.11
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.43
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.29
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   39.12
</td>
<td align="right">
  .67
</td>
<td align="right">
   13.72
</td>
<td align="right">
   -.18
</td>
<td align="right">
   1.40
</td>
<td align="right">
     8
</td>
<td align="right">
    11.22
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
SUN
</td>
<td align="right">
   39.61
</td>
<td align="right">
  .58
</td>
<td align="right">
   17.00
</td>
<td align="right">
   -.18
</td>
<td align="right">
    .17
</td>
<td align="right">
     1
</td>
<td align="right">
      .17
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   41.62
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.18
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.04
</td>
<td align="right">
    33
</td>
<td align="right">
    -1.24
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   49.80
</td>
<td align="right">
  .64
</td>
<td align="right">
    3.15
</td>
<td align="right">
    .22
</td>
<td align="right">
    .64
</td>
<td align="right">
     9
</td>
<td align="right">
     5.77
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
UPS
</td>
<td align="right">
   71.14
</td>
<td align="right">
  .68
</td>
<td align="right">
    5.31
</td>
<td align="right">
    .07
</td>
<td align="right">
   1.38
</td>
<td align="right">
    27
</td>
<td align="right">
    37.24
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   98.06
</td>
<td align="right">
  .65
</td>
<td align="right">
  166.00
</td>
<td align="right">
   1.19
</td>
<td align="right">
   1.66
</td>
<td align="right">
     1
</td>
<td align="right">
     1.66
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WDC
</td>
<td align="right">
   30.79
</td>
<td align="right">
  .68
</td>
<td align="right">
    3.66
</td>
<td align="right">
    .11
</td>
<td align="right">
   1.16
</td>
<td align="right">
    49
</td>
<td align="right">
    56.90
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
WFC
</td>
<td align="right">
   26.36
</td>
<td align="right">
  .66
</td>
<td align="right">
    2.39
</td>
<td align="right">
    .09
</td>
<td align="right">
    .71
</td>
<td align="right">
    16
</td>
<td align="right">
    11.32
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   68.66
</td>
<td align="right">
  .64
</td>
<td align="right">
     .63
</td>
<td align="right">
   -.29
</td>
<td align="right">
    .10
</td>
<td align="right">
     5
</td>
<td align="right">
      .49
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   49.88
</td>
<td align="right">
  .59
</td>
<td align="right">
    1.85
</td>
<td align="right">
    .37
</td>
<td align="right">
   1.02
</td>
<td align="right">
     2
</td>
<td align="right">
     2.04
</td>
<td align="right">
    .55
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   57.99
</td>
<td align="right">
  .58
</td>
<td align="right">
    6.44
</td>
<td align="right">
   -.03
</td>
<td align="right">
   1.04
</td>
<td align="right">
    23
</td>
<td align="right">
    23.98
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
X
</td>
<td align="right">
   25.02
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.43
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.08
</td>
<td align="right">
    22
</td>
<td align="right">
    -1.85
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   33.72
</td>
<td align="right">
  .63
</td>
<td align="right">
    2.61
</td>
<td align="right">
    .05
</td>
<td align="right">
    .19
</td>
<td align="right">
     8
</td>
<td align="right">
     1.52
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   848
</td>
<td align="right">
   678.99
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
