<h4>Week of: 2012_12_10</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  251.74
</td>
<td align="right">
 -.76
</td>
<td align="right">
    -.39
</td>
<td align="right">
  -1.25
</td>
<td align="right">
  -1.08
</td>
<td align="right">
    26
</td>
<td align="right">
   -28.10
</td>
<td align="right">
   2.75
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   30.57
</td>
<td align="right">
 -.55
</td>
<td align="right">
  -25.00
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.25
</td>
<td align="right">
     1
</td>
<td align="right">
     -.25
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BHP
</td>
<td align="right">
   73.67
</td>
<td align="right">
 -.59
</td>
<td align="right">
   13.65
</td>
<td align="right">
    .11
</td>
<td align="right">
   1.36
</td>
<td align="right">
    49
</td>
<td align="right">
    66.57
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
COP
</td>
<td align="right">
   57.85
</td>
<td align="right">
 -.72
</td>
<td align="right">
    1.86
</td>
<td align="right">
   -.08
</td>
<td align="right">
    .35
</td>
<td align="right">
    30
</td>
<td align="right">
    10.35
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
CTSH
</td>
<td align="right">
   70.94
</td>
<td align="right">
 -.58
</td>
<td align="right">
   53.10
</td>
<td align="right">
   -.05
</td>
<td align="right">
   1.56
</td>
<td align="right">
     6
</td>
<td align="right">
     9.38
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   90.35
</td>
<td align="right">
 -.56
</td>
<td align="right">
    1.33
</td>
<td align="right">
    .19
</td>
<td align="right">
    .06
</td>
<td align="right">
     4
</td>
<td align="right">
      .22
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   37.40
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.26
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.05
</td>
<td align="right">
    50
</td>
<td align="right">
    -2.39
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  116.33
</td>
<td align="right">
 -.68
</td>
<td align="right">
    6.44
</td>
<td align="right">
    .16
</td>
<td align="right">
   2.66
</td>
<td align="right">
    55
</td>
<td align="right">
   146.28
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   92.19
</td>
<td align="right">
 -.74
</td>
<td align="right">
    5.81
</td>
<td align="right">
   -.04
</td>
<td align="right">
   1.11
</td>
<td align="right">
    16
</td>
<td align="right">
    17.82
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   40.82
</td>
<td align="right">
 -.60
</td>
<td align="right">
    6.19
</td>
<td align="right">
   -.09
</td>
<td align="right">
   1.01
</td>
<td align="right">
    13
</td>
<td align="right">
    13.15
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   56.01
</td>
<td align="right">
 -.56
</td>
<td align="right">
    7.35
</td>
<td align="right">
   -.15
</td>
<td align="right">
    .52
</td>
<td align="right">
     2
</td>
<td align="right">
     1.04
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   53.18
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .29
</td>
<td align="right">
    .02
</td>
<td align="right">
    .07
</td>
<td align="right">
     2
</td>
<td align="right">
      .14
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   38.38
</td>
<td align="right">
 -.58
</td>
<td align="right">
    5.29
</td>
<td align="right">
    .12
</td>
<td align="right">
    .78
</td>
<td align="right">
    38
</td>
<td align="right">
    29.66
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   98.87
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -4.55
</td>
<td align="right">
    .28
</td>
<td align="right">
   -.59
</td>
<td align="right">
     4
</td>
<td align="right">
    -2.35
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   296
</td>
<td align="right">
   261.52
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   53.44
</td>
<td align="right">
  .62
</td>
<td align="right">
    8.21
</td>
<td align="right">
    .27
</td>
<td align="right">
    .29
</td>
<td align="right">
     4
</td>
<td align="right">
     1.15
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
CAT
</td>
<td align="right">
   87.23
</td>
<td align="right">
  .55
</td>
<td align="right">
   43.00
</td>
<td align="right">
    .13
</td>
<td align="right">
    .43
</td>
<td align="right">
     1
</td>
<td align="right">
      .43
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   85.18
</td>
<td align="right">
  .56
</td>
<td align="right">
   71.00
</td>
<td align="right">
    .41
</td>
<td align="right">
    .71
</td>
<td align="right">
     1
</td>
<td align="right">
      .71
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
   92.63
</td>
<td align="right">
  .64
</td>
<td align="right">
   45.36
</td>
<td align="right">
   1.69
</td>
<td align="right">
   2.25
</td>
<td align="right">
     2
</td>
<td align="right">
     4.49
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
JWN
</td>
<td align="right">
   52.19
</td>
<td align="right">
  .61
</td>
<td align="right">
   -8.87
</td>
<td align="right">
    .08
</td>
<td align="right">
   -.22
</td>
<td align="right">
     3
</td>
<td align="right">
     -.67
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   44.56
</td>
<td align="right">
  .60
</td>
<td align="right">
    1.24
</td>
<td align="right">
    .05
</td>
<td align="right">
    .35
</td>
<td align="right">
     2
</td>
<td align="right">
      .70
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   68.88
</td>
<td align="right">
  .57
</td>
<td align="right">
  -23.74
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.68
</td>
<td align="right">
     5
</td>
<td align="right">
    -3.42
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   89.24
</td>
<td align="right">
  .62
</td>
<td align="right">
   -2.14
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.50
</td>
<td align="right">
    29
</td>
<td align="right">
   -14.64
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  159.76
</td>
<td align="right">
  .55
</td>
<td align="right">
    3.59
</td>
<td align="right">
   -.22
</td>
<td align="right">
    .61
</td>
<td align="right">
     2
</td>
<td align="right">
     1.22
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   41.48
</td>
<td align="right">
  .67
</td>
<td align="right">
  184.00
</td>
<td align="right">
   1.72
</td>
<td align="right">
   1.84
</td>
<td align="right">
     1
</td>
<td align="right">
     1.84
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   49.85
</td>
<td align="right">
  .59
</td>
<td align="right">
   11.83
</td>
<td align="right">
    .99
</td>
<td align="right">
   1.14
</td>
<td align="right">
     6
</td>
<td align="right">
     6.82
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
  148.62
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.73
</td>
<td align="right">
    .22
</td>
<td align="right">
    .63
</td>
<td align="right">
     6
</td>
<td align="right">
     3.75
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  109.93
</td>
<td align="right">
  .66
</td>
<td align="right">
     .10
</td>
<td align="right">
    .12
</td>
<td align="right">
    .05
</td>
<td align="right">
    70
</td>
<td align="right">
     3.50
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   132
</td>
<td align="right">
     5.88
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
