<h4>Week of: 2012_09_04</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AGU
</td>
<td align="right">
  101.03
</td>
<td align="right">
 -.60
</td>
<td align="right">
   87.00
</td>
<td align="right">
    .16
</td>
<td align="right">
    .87
</td>
<td align="right">
     1
</td>
<td align="right">
      .87
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   69.24
</td>
<td align="right">
 -.58
</td>
<td align="right">
   34.00
</td>
<td align="right">
   -.32
</td>
<td align="right">
    .34
</td>
<td align="right">
     1
</td>
<td align="right">
      .34
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   31.55
</td>
<td align="right">
 -.66
</td>
<td align="right">
    4.41
</td>
<td align="right">
    .13
</td>
<td align="right">
    .72
</td>
<td align="right">
    68
</td>
<td align="right">
    49.18
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   35.10
</td>
<td align="right">
 -.62
</td>
<td align="right">
    1.82
</td>
<td align="right">
   -.05
</td>
<td align="right">
   2.86
</td>
<td align="right">
    37
</td>
<td align="right">
   105.72
</td>
<td align="right">
   1.57
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  289.56
</td>
<td align="right">
 -.61
</td>
<td align="right">
    1.65
</td>
<td align="right">
   1.07
</td>
<td align="right">
   8.76
</td>
<td align="right">
    33
</td>
<td align="right">
   289.15
</td>
<td align="right">
   5.33
</td>
</tr>
<tr>
<td>
CMI
</td>
<td align="right">
   99.26
</td>
<td align="right">
 -.59
</td>
<td align="right">
  100.00
</td>
<td align="right">
   -.43
</td>
<td align="right">
   1.00
</td>
<td align="right">
     1
</td>
<td align="right">
     1.00
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   46.42
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -9.80
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.47
</td>
<td align="right">
     5
</td>
<td align="right">
    -2.36
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   48.76
</td>
<td align="right">
 -.64
</td>
<td align="right">
    7.52
</td>
<td align="right">
    .20
</td>
<td align="right">
   1.11
</td>
<td align="right">
    16
</td>
<td align="right">
    17.75
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   74.07
</td>
<td align="right">
 -.63
</td>
<td align="right">
    2.08
</td>
<td align="right">
    .06
</td>
<td align="right">
    .78
</td>
<td align="right">
    44
</td>
<td align="right">
    34.37
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  130.53
</td>
<td align="right">
 -.65
</td>
<td align="right">
   33.71
</td>
<td align="right">
   -.15
</td>
<td align="right">
   2.15
</td>
<td align="right">
     2
</td>
<td align="right">
     4.29
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   53.01
</td>
<td align="right">
 -.66
</td>
<td align="right">
    1.11
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .31
</td>
<td align="right">
    56
</td>
<td align="right">
    17.15
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   51.98
</td>
<td align="right">
 -.64
</td>
<td align="right">
    3.95
</td>
<td align="right">
    .09
</td>
<td align="right">
    .90
</td>
<td align="right">
    11
</td>
<td align="right">
     9.92
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   52.49
</td>
<td align="right">
 -.62
</td>
<td align="right">
    1.08
</td>
<td align="right">
    .24
</td>
<td align="right">
   1.06
</td>
<td align="right">
    31
</td>
<td align="right">
    32.93
</td>
<td align="right">
    .98
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   69.36
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .20
</td>
<td align="right">
    .01
</td>
<td align="right">
    .04
</td>
<td align="right">
     2
</td>
<td align="right">
      .08
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   59.21
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.28
</td>
<td align="right">
    .19
</td>
<td align="right">
   -.10
</td>
<td align="right">
    18
</td>
<td align="right">
    -1.80
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
SJM
</td>
<td align="right">
   85.92
</td>
<td align="right">
 -.58
</td>
<td align="right">
    1.26
</td>
<td align="right">
    .02
</td>
<td align="right">
    .25
</td>
<td align="right">
     2
</td>
<td align="right">
      .50
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   43.18
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .95
</td>
<td align="right">
    .60
</td>
<td align="right">
    .58
</td>
<td align="right">
     3
</td>
<td align="right">
     1.73
</td>
<td align="right">
    .61
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   39.76
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.56
</td>
<td align="right">
   -.26
</td>
<td align="right">
   -.04
</td>
<td align="right">
     9
</td>
<td align="right">
     -.39
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
SUN
</td>
<td align="right">
   47.64
</td>
<td align="right">
 -.64
</td>
<td align="right">
    2.52
</td>
<td align="right">
    .03
</td>
<td align="right">
    .16
</td>
<td align="right">
    16
</td>
<td align="right">
     2.55
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   39.64
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.49
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.10
</td>
<td align="right">
    19
</td>
<td align="right">
    -1.93
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   64.47
</td>
<td align="right">
 -.59
</td>
<td align="right">
  -47.00
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.47
</td>
<td align="right">
     1
</td>
<td align="right">
     -.47
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   57.91
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .97
</td>
<td align="right">
    .02
</td>
<td align="right">
    .73
</td>
<td align="right">
    20
</td>
<td align="right">
    14.67
</td>
<td align="right">
    .75
</td>
</tr>
<tr>
<td>
UPS
</td>
<td align="right">
   72.30
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -9.00
</td>
<td align="right">
   -.20
</td>
<td align="right">
   -.09
</td>
<td align="right">
     1
</td>
<td align="right">
     -.09
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   89.19
</td>
<td align="right">
 -.67
</td>
<td align="right">
    3.57
</td>
<td align="right">
    .07
</td>
<td align="right">
   3.20
</td>
<td align="right">
    21
</td>
<td align="right">
    67.14
</td>
<td align="right">
    .90
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   75.88
</td>
<td align="right">
 -.64
</td>
<td align="right">
    9.81
</td>
<td align="right">
   -.75
</td>
<td align="right">
   1.11
</td>
<td align="right">
     2
</td>
<td align="right">
     2.22
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  100.91
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.45
</td>
<td align="right">
   -.21
</td>
<td align="right">
   -.55
</td>
<td align="right">
    84
</td>
<td align="right">
   -46.20
</td>
<td align="right">
   1.21
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   87.52
</td>
<td align="right">
 -.61
</td>
<td align="right">
   18.98
</td>
<td align="right">
   -.03
</td>
<td align="right">
   1.35
</td>
<td align="right">
     3
</td>
<td align="right">
     4.04
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
YUM
</td>
<td align="right">
   63.36
</td>
<td align="right">
 -.66
</td>
<td align="right">
    1.14
</td>
<td align="right">
    .56
</td>
<td align="right">
    .63
</td>
<td align="right">
     9
</td>
<td align="right">
     5.64
</td>
<td align="right">
    .55
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   516
</td>
<td align="right">
   608.00
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  249.20
</td>
<td align="right">
  .67
</td>
<td align="right">
   16.80
</td>
<td align="right">
   2.02
</td>
<td align="right">
   8.07
</td>
<td align="right">
     3
</td>
<td align="right">
    24.21
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
APA
</td>
<td align="right">
   87.07
</td>
<td align="right">
  .62
</td>
<td align="right">
    5.32
</td>
<td align="right">
    .08
</td>
<td align="right">
   1.75
</td>
<td align="right">
     5
</td>
<td align="right">
     8.73
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   30.16
</td>
<td align="right">
  .73
</td>
<td align="right">
     .18
</td>
<td align="right">
   -.08
</td>
<td align="right">
    .02
</td>
<td align="right">
     2
</td>
<td align="right">
      .04
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
ARG
</td>
<td align="right">
   81.58
</td>
<td align="right">
  .58
</td>
<td align="right">
   26.73
</td>
<td align="right">
    .24
</td>
<td align="right">
    .95
</td>
<td align="right">
     2
</td>
<td align="right">
     1.89
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
CMI
</td>
<td align="right">
   95.60
</td>
<td align="right">
  .55
</td>
<td align="right">
  324.00
</td>
<td align="right">
   -.26
</td>
<td align="right">
   3.24
</td>
<td align="right">
     1
</td>
<td align="right">
     3.24
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   56.12
</td>
<td align="right">
  .70
</td>
<td align="right">
   64.00
</td>
<td align="right">
   -.11
</td>
<td align="right">
    .64
</td>
<td align="right">
     1
</td>
<td align="right">
      .64
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  146.80
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.41
</td>
<td align="right">
    .65
</td>
<td align="right">
   2.26
</td>
<td align="right">
    34
</td>
<td align="right">
    76.78
</td>
<td align="right">
   1.60
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   75.03
</td>
<td align="right">
  .63
</td>
<td align="right">
  143.00
</td>
<td align="right">
   -.15
</td>
<td align="right">
   1.43
</td>
<td align="right">
     1
</td>
<td align="right">
     1.43
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  130.09
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.07
</td>
<td align="right">
    .17
</td>
<td align="right">
    .45
</td>
<td align="right">
    35
</td>
<td align="right">
    15.63
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   52.06
</td>
<td align="right">
  .60
</td>
<td align="right">
    5.18
</td>
<td align="right">
    .08
</td>
<td align="right">
    .86
</td>
<td align="right">
     8
</td>
<td align="right">
     6.87
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
DVN
</td>
<td align="right">
   58.74
</td>
<td align="right">
  .66
</td>
<td align="right">
    3.46
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .49
</td>
<td align="right">
    37
</td>
<td align="right">
    18.29
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   52.01
</td>
<td align="right">
  .58
</td>
<td align="right">
  137.00
</td>
<td align="right">
    .17
</td>
<td align="right">
   1.37
</td>
<td align="right">
     1
</td>
<td align="right">
     1.37
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   35.92
</td>
<td align="right">
  .68
</td>
<td align="right">
    1.40
</td>
<td align="right">
    .01
</td>
<td align="right">
   1.89
</td>
<td align="right">
     5
</td>
<td align="right">
     9.45
</td>
<td align="right">
   1.35
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   86.12
</td>
<td align="right">
  .55
</td>
<td align="right">
  128.00
</td>
<td align="right">
   -.35
</td>
<td align="right">
   1.28
</td>
<td align="right">
     1
</td>
<td align="right">
     1.28
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   40.71
</td>
<td align="right">
  .70
</td>
<td align="right">
     .80
</td>
<td align="right">
    .16
</td>
<td align="right">
   1.13
</td>
<td align="right">
    92
</td>
<td align="right">
   103.55
</td>
<td align="right">
   1.41
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   41.94
</td>
<td align="right">
  .58
</td>
<td align="right">
   89.00
</td>
<td align="right">
    .75
</td>
<td align="right">
    .89
</td>
<td align="right">
     2
</td>
<td align="right">
     1.78
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   63.95
</td>
<td align="right">
  .65
</td>
<td align="right">
     .05
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .03
</td>
<td align="right">
    98
</td>
<td align="right">
     2.83
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   54.37
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.58
</td>
<td align="right">
    .00
</td>
<td align="right">
    .26
</td>
<td align="right">
    46
</td>
<td align="right">
    11.93
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   75.20
</td>
<td align="right">
  .59
</td>
<td align="right">
   12.89
</td>
<td align="right">
    .87
</td>
<td align="right">
   2.37
</td>
<td align="right">
     2
</td>
<td align="right">
     4.74
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   73.67
</td>
<td align="right">
  .66
</td>
<td align="right">
   72.00
</td>
<td align="right">
   -.20
</td>
<td align="right">
    .72
</td>
<td align="right">
     1
</td>
<td align="right">
      .72
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  100.12
</td>
<td align="right">
  .63
</td>
<td align="right">
     .99
</td>
<td align="right">
   -.02
</td>
<td align="right">
   1.02
</td>
<td align="right">
    14
</td>
<td align="right">
    14.25
</td>
<td align="right">
   1.03
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   391
</td>
<td align="right">
   309.65
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
