<h4>Week of: 2012_10_01</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  252.15
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -1.81
</td>
<td align="right">
   -.74
</td>
<td align="right">
  -2.18
</td>
<td align="right">
     7
</td>
<td align="right">
   -15.23
</td>
<td align="right">
   1.20
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   70.46
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.64
</td>
<td align="right">
    .56
</td>
<td align="right">
   -.16
</td>
<td align="right">
     4
</td>
<td align="right">
     -.64
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  317.79
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -2.18
</td>
<td align="right">
   -.94
</td>
<td align="right">
 -10.90
</td>
<td align="right">
    46
</td>
<td align="right">
  -501.61
</td>
<td align="right">
   4.99
</td>
</tr>
<tr>
<td>
CMI
</td>
<td align="right">
   92.67
</td>
<td align="right">
 -.84
</td>
<td align="right">
    -.80
</td>
<td align="right">
    .46
</td>
<td align="right">
   -.39
</td>
<td align="right">
     7
</td>
<td align="right">
    -2.72
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
CVX
</td>
<td align="right">
  117.91
</td>
<td align="right">
 -.63
</td>
<td align="right">
  -24.18
</td>
<td align="right">
    .15
</td>
<td align="right">
   -.50
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.51
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   54.76
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.83
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.17
</td>
<td align="right">
    43
</td>
<td align="right">
    -7.51
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  117.07
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -4.87
</td>
<td align="right">
   -.44
</td>
<td align="right">
  -2.05
</td>
<td align="right">
    34
</td>
<td align="right">
   -69.82
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   91.89
</td>
<td align="right">
 -.57
</td>
<td align="right">
    -.10
</td>
<td align="right">
    .34
</td>
<td align="right">
   -.04
</td>
<td align="right">
     3
</td>
<td align="right">
     -.13
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   147
</td>
<td align="right">
  -599.17
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   85.03
</td>
<td align="right">
  .59
</td>
<td align="right">
   13.58
</td>
<td align="right">
    .17
</td>
<td align="right">
   1.24
</td>
<td align="right">
    23
</td>
<td align="right">
    28.45
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   28.77
</td>
<td align="right">
  .94
</td>
<td align="right">
     .34
</td>
<td align="right">
   -.06
</td>
<td align="right">
    .06
</td>
<td align="right">
    45
</td>
<td align="right">
     2.60
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
BHP
</td>
<td align="right">
   70.02
</td>
<td align="right">
  .59
</td>
<td align="right">
  -26.48
</td>
<td align="right">
   -.13
</td>
<td align="right">
  -1.07
</td>
<td align="right">
     4
</td>
<td align="right">
    -4.27
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  135.55
</td>
<td align="right">
  .59
</td>
<td align="right">
   -4.75
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.93
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.78
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   43.75
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.15
</td>
<td align="right">
   -.46
</td>
<td align="right">
   -.02
</td>
<td align="right">
     3
</td>
<td align="right">
     -.05
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   82.97
</td>
<td align="right">
  .60
</td>
<td align="right">
    1.49
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .45
</td>
<td align="right">
    34
</td>
<td align="right">
    15.29
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   74.13
</td>
<td align="right">
  .60
</td>
<td align="right">
   -8.14
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.46
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.83
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   116
</td>
<td align="right">
    37.41
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
