<h4>Week of: 2012_01_09</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  196.07
</td>
<td align="right">
 -.62
</td>
<td align="right">
    1.65
</td>
<td align="right">
   2.67
</td>
<td align="right">
    .98
</td>
<td align="right">
    12
</td>
<td align="right">
    11.79
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   67.13
</td>
<td align="right">
 -.55
</td>
<td align="right">
  159.00
</td>
<td align="right">
  -1.31
</td>
<td align="right">
   1.59
</td>
<td align="right">
     1
</td>
<td align="right">
     1.59
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   41.81
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .74
</td>
<td align="right">
    .20
</td>
<td align="right">
    .07
</td>
<td align="right">
    13
</td>
<td align="right">
      .96
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  124.42
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.18
</td>
<td align="right">
   -.21
</td>
<td align="right">
   -.17
</td>
<td align="right">
     3
</td>
<td align="right">
     -.50
</td>
<td align="right">
    .92
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   89.06
</td>
<td align="right">
 -.63
</td>
<td align="right">
  -11.55
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.25
</td>
<td align="right">
     2
</td>
<td align="right">
     -.49
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
  110.92
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.86
</td>
<td align="right">
    .59
</td>
<td align="right">
  -1.66
</td>
<td align="right">
    17
</td>
<td align="right">
   -28.30
</td>
<td align="right">
    .89
</td>
</tr>
<tr>
<td>
HMY
</td>
<td align="right">
   12.01
</td>
<td align="right">
 -.56
</td>
<td align="right">
     .04
</td>
<td align="right">
    .11
</td>
<td align="right">
    .00
</td>
<td align="right">
     7
</td>
<td align="right">
      .01
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   75.21
</td>
<td align="right">
 -.63
</td>
<td align="right">
   12.19
</td>
<td align="right">
   -.09
</td>
<td align="right">
   1.00
</td>
<td align="right">
     7
</td>
<td align="right">
     7.00
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
   90.39
</td>
<td align="right">
 -.56
</td>
<td align="right">
    5.12
</td>
<td align="right">
    .95
</td>
<td align="right">
   5.72
</td>
<td align="right">
     3
</td>
<td align="right">
    17.16
</td>
<td align="right">
   1.12
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   61.43
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -4.64
</td>
<td align="right">
    .13
</td>
<td align="right">
   -.23
</td>
<td align="right">
     3
</td>
<td align="right">
     -.70
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   28.17
</td>
<td align="right">
 -.58
</td>
<td align="right">
   14.17
</td>
<td align="right">
    .04
</td>
<td align="right">
    .94
</td>
<td align="right">
     3
</td>
<td align="right">
     2.83
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   52.68
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .39
</td>
<td align="right">
    .05
</td>
<td align="right">
    .08
</td>
<td align="right">
     9
</td>
<td align="right">
      .69
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   34.80
</td>
<td align="right">
 -.56
</td>
<td align="right">
   80.00
</td>
<td align="right">
   -.06
</td>
<td align="right">
    .80
</td>
<td align="right">
     1
</td>
<td align="right">
      .80
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    81
</td>
<td align="right">
    12.84
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   43.47
</td>
<td align="right">
  .57
</td>
<td align="right">
   -2.57
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.25
</td>
<td align="right">
     6
</td>
<td align="right">
    -1.50
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   88.52
</td>
<td align="right">
  .72
</td>
<td align="right">
    -.01
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.01
</td>
<td align="right">
     2
</td>
<td align="right">
     -.01
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   53.62
</td>
<td align="right">
  .59
</td>
<td align="right">
    9.96
</td>
<td align="right">
   -.18
</td>
<td align="right">
   1.13
</td>
<td align="right">
    13
</td>
<td align="right">
    14.63
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   44.33
</td>
<td align="right">
  .63
</td>
<td align="right">
    6.76
</td>
<td align="right">
    .33
</td>
<td align="right">
   1.18
</td>
<td align="right">
     7
</td>
<td align="right">
     8.27
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   57.75
</td>
<td align="right">
  .65
</td>
<td align="right">
    6.87
</td>
<td align="right">
    .07
</td>
<td align="right">
    .92
</td>
<td align="right">
    36
</td>
<td align="right">
    33.24
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   61.04
</td>
<td align="right">
  .59
</td>
<td align="right">
    8.04
</td>
<td align="right">
    .03
</td>
<td align="right">
   1.93
</td>
<td align="right">
    15
</td>
<td align="right">
    28.93
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   77.08
</td>
<td align="right">
  .62
</td>
<td align="right">
   -1.06
</td>
<td align="right">
    .20
</td>
<td align="right">
   -.12
</td>
<td align="right">
     2
</td>
<td align="right">
     -.24
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   46.63
</td>
<td align="right">
  .57
</td>
<td align="right">
    1.28
</td>
<td align="right">
    .50
</td>
<td align="right">
    .13
</td>
<td align="right">
     2
</td>
<td align="right">
      .27
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   28.27
</td>
<td align="right">
  .60
</td>
<td align="right">
   13.14
</td>
<td align="right">
   -.12
</td>
<td align="right">
    .91
</td>
<td align="right">
    14
</td>
<td align="right">
    12.75
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   41.76
</td>
<td align="right">
  .76
</td>
<td align="right">
   24.70
</td>
<td align="right">
   1.94
</td>
<td align="right">
   2.14
</td>
<td align="right">
     4
</td>
<td align="right">
     8.55
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   99.74
</td>
<td align="right">
  .56
</td>
<td align="right">
   -6.00
</td>
<td align="right">
    .13
</td>
<td align="right">
   -.06
</td>
<td align="right">
     1
</td>
<td align="right">
     -.06
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   72.84
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.26
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.42
</td>
<td align="right">
    15
</td>
<td align="right">
    -6.30
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   59.27
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.83
</td>
<td align="right">
   -.24
</td>
<td align="right">
    .11
</td>
<td align="right">
     5
</td>
<td align="right">
      .54
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   122
</td>
<td align="right">
    99.07
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
