<h4>Week of: 2012_07_23</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
BHP
</td>
<td align="right">
   62.54
</td>
<td align="right">
 -.55
</td>
<td align="right">
  -37.00
</td>
<td align="right">
    .11
</td>
<td align="right">
   -.37
</td>
<td align="right">
     1
</td>
<td align="right">
     -.37
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   72.83
</td>
<td align="right">
 -.65
</td>
<td align="right">
    1.11
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .18
</td>
<td align="right">
    60
</td>
<td align="right">
    10.99
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
   78.73
</td>
<td align="right">
 -.57
</td>
<td align="right">
    9.56
</td>
<td align="right">
    .86
</td>
<td align="right">
   2.84
</td>
<td align="right">
     4
</td>
<td align="right">
    11.36
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
SJM
</td>
<td align="right">
   75.44
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -3.07
</td>
<td align="right">
    .27
</td>
<td align="right">
   -.24
</td>
<td align="right">
     8
</td>
<td align="right">
    -1.93
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   39.52
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .49
</td>
<td align="right">
    .33
</td>
<td align="right">
    .29
</td>
<td align="right">
    63
</td>
<td align="right">
    18.53
</td>
<td align="right">
    .60
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   67.97
</td>
<td align="right">
 -.71
</td>
<td align="right">
  -18.44
</td>
<td align="right">
  -1.41
</td>
<td align="right">
  -5.50
</td>
<td align="right">
    42
</td>
<td align="right">
  -230.92
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   66.92
</td>
<td align="right">
 -.58
</td>
<td align="right">
   99.00
</td>
<td align="right">
    .76
</td>
<td align="right">
    .99
</td>
<td align="right">
     1
</td>
<td align="right">
      .99
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   179
</td>
<td align="right">
  -191.35
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  222.98
</td>
<td align="right">
  .65
</td>
<td align="right">
     .46
</td>
<td align="right">
    .45
</td>
<td align="right">
    .84
</td>
<td align="right">
    22
</td>
<td align="right">
    18.49
</td>
<td align="right">
   1.83
</td>
</tr>
<tr>
<td>
BHP
</td>
<td align="right">
   61.97
</td>
<td align="right">
  .56
</td>
<td align="right">
    5.42
</td>
<td align="right">
    .33
</td>
<td align="right">
    .29
</td>
<td align="right">
     4
</td>
<td align="right">
     1.16
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  194.86
</td>
<td align="right">
  .58
</td>
<td align="right">
  -13.35
</td>
<td align="right">
    .37
</td>
<td align="right">
  -3.47
</td>
<td align="right">
     4
</td>
<td align="right">
   -13.86
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  131.44
</td>
<td align="right">
  .59
</td>
<td align="right">
  -13.65
</td>
<td align="right">
   -.08
</td>
<td align="right">
  -4.81
</td>
<td align="right">
     7
</td>
<td align="right">
   -33.69
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   47.39
</td>
<td align="right">
  .65
</td>
<td align="right">
   -4.84
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.47
</td>
<td align="right">
    52
</td>
<td align="right">
   -24.48
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
   93.05
</td>
<td align="right">
  .60
</td>
<td align="right">
   -3.00
</td>
<td align="right">
    .24
</td>
<td align="right">
  -3.76
</td>
<td align="right">
    22
</td>
<td align="right">
   -82.63
</td>
<td align="right">
   1.25
</td>
</tr>
<tr>
<td>
JNJ
</td>
<td align="right">
   67.87
</td>
<td align="right">
  .57
</td>
<td align="right">
   -6.14
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.66
</td>
<td align="right">
     9
</td>
<td align="right">
    -5.95
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
JWN
</td>
<td align="right">
   51.97
</td>
<td align="right">
  .58
</td>
<td align="right">
   -7.74
</td>
<td align="right">
    .40
</td>
<td align="right">
   -.53
</td>
<td align="right">
     6
</td>
<td align="right">
    -3.17
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   38.95
</td>
<td align="right">
  .58
</td>
<td align="right">
     .11
</td>
<td align="right">
    .08
</td>
<td align="right">
    .02
</td>
<td align="right">
    17
</td>
<td align="right">
      .33
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  416.00
</td>
<td align="right">
  .65
</td>
<td align="right">
   -5.69
</td>
<td align="right">
   -.32
</td>
<td align="right">
  -9.78
</td>
<td align="right">
    36
</td>
<td align="right">
  -352.15
</td>
<td align="right">
   1.72
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   37.73
</td>
<td align="right">
  .69
</td>
<td align="right">
    -.83
</td>
<td align="right">
    .09
</td>
<td align="right">
   -.40
</td>
<td align="right">
    57
</td>
<td align="right">
   -22.60
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
PEP
</td>
<td align="right">
   69.38
</td>
<td align="right">
  .65
</td>
<td align="right">
   -3.52
</td>
<td align="right">
   -.25
</td>
<td align="right">
   -.48
</td>
<td align="right">
     6
</td>
<td align="right">
    -2.90
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   58.16
</td>
<td align="right">
  .63
</td>
<td align="right">
  -31.00
</td>
<td align="right">
   -.81
</td>
<td align="right">
   -.31
</td>
<td align="right">
     1
</td>
<td align="right">
     -.31
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  137.86
</td>
<td align="right">
  .55
</td>
<td align="right">
 -146.00
</td>
<td align="right">
    .08
</td>
<td align="right">
  -1.46
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.92
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   44.14
</td>
<td align="right">
  .74
</td>
<td align="right">
    3.00
</td>
<td align="right">
    .23
</td>
<td align="right">
   1.44
</td>
<td align="right">
    40
</td>
<td align="right">
    57.58
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
SUN
</td>
<td align="right">
   47.99
</td>
<td align="right">
  .61
</td>
<td align="right">
   -8.36
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.37
</td>
<td align="right">
     8
</td>
<td align="right">
    -2.99
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
TM
</td>
<td align="right">
   74.03
</td>
<td align="right">
  .76
</td>
<td align="right">
   -5.31
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.81
</td>
<td align="right">
    26
</td>
<td align="right">
   -20.97
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   54.14
</td>
<td align="right">
  .60
</td>
<td align="right">
    3.05
</td>
<td align="right">
    .03
</td>
<td align="right">
    .43
</td>
<td align="right">
    36
</td>
<td align="right">
    15.42
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
   94.62
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.30
</td>
<td align="right">
    .42
</td>
<td align="right">
   -.20
</td>
<td align="right">
    19
</td>
<td align="right">
    -3.81
</td>
<td align="right">
    .66
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   67.80
</td>
<td align="right">
  .64
</td>
<td align="right">
   -2.88
</td>
<td align="right">
    .08
</td>
<td align="right">
  -1.17
</td>
<td align="right">
    27
</td>
<td align="right">
   -31.71
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   401
</td>
<td align="right">
  -511.16
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
