<h4>Week of: 2012_05_07</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABX
</td>
<td align="right">
   37.47
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.25
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.24
</td>
<td align="right">
    29
</td>
<td align="right">
    -7.05
</td>
<td align="right">
    .96
</td>
</tr>
<tr>
<td>
ADM
</td>
<td align="right">
   32.54
</td>
<td align="right">
 -.59
</td>
<td align="right">
    5.23
</td>
<td align="right">
    .12
</td>
<td align="right">
    .34
</td>
<td align="right">
    15
</td>
<td align="right">
     5.08
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   43.36
</td>
<td align="right">
 -.66
</td>
<td align="right">
    3.61
</td>
<td align="right">
   -.17
</td>
<td align="right">
    .21
</td>
<td align="right">
    27
</td>
<td align="right">
     5.75
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
AGU
</td>
<td align="right">
   84.85
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.59
</td>
<td align="right">
   -.10
</td>
<td align="right">
  -1.77
</td>
<td align="right">
    35
</td>
<td align="right">
   -61.85
</td>
<td align="right">
   1.11
</td>
</tr>
<tr>
<td>
APA
</td>
<td align="right">
   88.00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.83
</td>
<td align="right">
  -1.09
</td>
<td align="right">
  -1.05
</td>
<td align="right">
     7
</td>
<td align="right">
    -7.37
</td>
<td align="right">
   1.27
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   68.78
</td>
<td align="right">
 -.58
</td>
<td align="right">
   68.00
</td>
<td align="right">
   -.23
</td>
<td align="right">
    .68
</td>
<td align="right">
     1
</td>
<td align="right">
      .68
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   33.35
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.27
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.58
</td>
<td align="right">
   179
</td>
<td align="right">
  -104.61
</td>
<td align="right">
    .46
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   33.28
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.51
</td>
<td align="right">
   -.21
</td>
<td align="right">
   -.72
</td>
<td align="right">
    72
</td>
<td align="right">
   -51.99
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  123.85
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -2.00
</td>
<td align="right">
   -.20
</td>
<td align="right">
   -.02
</td>
<td align="right">
     1
</td>
<td align="right">
     -.02
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CDE
</td>
<td align="right">
   19.74
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -9.84
</td>
<td align="right">
   -.64
</td>
<td align="right">
  -1.41
</td>
<td align="right">
     3
</td>
<td align="right">
    -4.22
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   32.89
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -2.49
</td>
<td align="right">
   -.14
</td>
<td align="right">
  -1.20
</td>
<td align="right">
    67
</td>
<td align="right">
   -80.19
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
CVX
</td>
<td align="right">
  103.66
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -7.41
</td>
<td align="right">
   -.44
</td>
<td align="right">
   -.80
</td>
<td align="right">
     4
</td>
<td align="right">
    -3.18
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   80.54
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -1.96
</td>
<td align="right">
   -.25
</td>
<td align="right">
  -1.10
</td>
<td align="right">
    11
</td>
<td align="right">
   -12.14
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  128.82
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.52
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.25
</td>
<td align="right">
    11
</td>
<td align="right">
    -2.75
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   43.99
</td>
<td align="right">
 -.64
</td>
<td align="right">
    4.84
</td>
<td align="right">
    .77
</td>
<td align="right">
   1.14
</td>
<td align="right">
    10
</td>
<td align="right">
    11.35
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
DNDN
</td>
<td align="right">
   11.06
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -2.84
</td>
<td align="right">
   -.07
</td>
<td align="right">
  -1.91
</td>
<td align="right">
    24
</td>
<td align="right">
   -45.93
</td>
<td align="right">
    .67
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   48.06
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -2.19
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.20
</td>
<td align="right">
     3
</td>
<td align="right">
     -.59
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
DVN
</td>
<td align="right">
   64.07
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.11
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.10
</td>
<td align="right">
    19
</td>
<td align="right">
    -1.88
</td>
<td align="right">
    .94
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   51.61
</td>
<td align="right">
 -.60
</td>
<td align="right">
  -12.96
</td>
<td align="right">
    .12
</td>
<td align="right">
   -.28
</td>
<td align="right">
     2
</td>
<td align="right">
     -.55
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
EGO
</td>
<td align="right">
   12.84
</td>
<td align="right">
 -.57
</td>
<td align="right">
 -105.00
</td>
<td align="right">
   -.06
</td>
<td align="right">
  -1.05
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.05
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   35.11
</td>
<td align="right">
 -.66
</td>
<td align="right">
    1.01
</td>
<td align="right">
    .19
</td>
<td align="right">
    .38
</td>
<td align="right">
     8
</td>
<td align="right">
     3.02
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   88.58
</td>
<td align="right">
 -.63
</td>
<td align="right">
 -201.00
</td>
<td align="right">
  -1.75
</td>
<td align="right">
  -2.01
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.01
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FLS
</td>
<td align="right">
  111.23
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .02
</td>
<td align="right">
   -.35
</td>
<td align="right">
    .01
</td>
<td align="right">
     3
</td>
<td align="right">
      .03
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
GD
</td>
<td align="right">
   67.36
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -6.44
</td>
<td align="right">
   -.69
</td>
<td align="right">
   -.82
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.64
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
GLD
</td>
<td align="right">
  154.49
</td>
<td align="right">
 -.56
</td>
<td align="right">
   28.00
</td>
<td align="right">
    .57
</td>
<td align="right">
    .28
</td>
<td align="right">
     1
</td>
<td align="right">
      .28
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  613.11
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.02
</td>
<td align="right">
  -2.24
</td>
<td align="right">
   -.04
</td>
<td align="right">
     7
</td>
<td align="right">
     -.29
</td>
<td align="right">
   2.35
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  108.51
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.41
</td>
<td align="right">
   -.31
</td>
<td align="right">
  -2.83
</td>
<td align="right">
    93
</td>
<td align="right">
  -262.88
</td>
<td align="right">
   2.00
</td>
</tr>
<tr>
<td>
HAL
</td>
<td align="right">
   32.50
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.07
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.10
</td>
<td align="right">
     3
</td>
<td align="right">
     -.29
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
HON
</td>
<td align="right">
   58.85
</td>
<td align="right">
 -.57
</td>
<td align="right">
  -62.00
</td>
<td align="right">
   -.23
</td>
<td align="right">
   -.62
</td>
<td align="right">
     1
</td>
<td align="right">
     -.62
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   56.66
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .90
</td>
<td align="right">
   -.47
</td>
<td align="right">
    .95
</td>
<td align="right">
     5
</td>
<td align="right">
     4.73
</td>
<td align="right">
   1.05
</td>
</tr>
<tr>
<td>
JWN
</td>
<td align="right">
   54.26
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -5.37
</td>
<td align="right">
   -.47
</td>
<td align="right">
   -.38
</td>
<td align="right">
     2
</td>
<td align="right">
     -.76
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
KO
</td>
<td align="right">
   77.00
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .16
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .06
</td>
<td align="right">
    17
</td>
<td align="right">
      .99
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  423.10
</td>
<td align="right">
 -.59
</td>
<td align="right">
    3.82
</td>
<td align="right">
    .14
</td>
<td align="right">
   2.00
</td>
<td align="right">
     5
</td>
<td align="right">
     9.99
</td>
<td align="right">
    .52
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   87.26
</td>
<td align="right">
 -.63
</td>
<td align="right">
  -43.00
</td>
<td align="right">
   -.54
</td>
<td align="right">
   -.43
</td>
<td align="right">
     1
</td>
<td align="right">
     -.43
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   50.76
</td>
<td align="right">
 -.81
</td>
<td align="right">
   -1.37
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.88
</td>
<td align="right">
    96
</td>
<td align="right">
   -84.41
</td>
<td align="right">
    .64
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
   73.83
</td>
<td align="right">
 -.58
</td>
<td align="right">
    -.34
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.64
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.93
</td>
<td align="right">
   1.92
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   62.53
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -42.00
</td>
<td align="right">
    .17
</td>
<td align="right">
   -.42
</td>
<td align="right">
     1
</td>
<td align="right">
     -.42
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   64.26
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .63
</td>
<td align="right">
    .05
</td>
<td align="right">
    .18
</td>
<td align="right">
    23
</td>
<td align="right">
     4.10
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   32.42
</td>
<td align="right">
 -.74
</td>
<td align="right">
   -1.98
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.33
</td>
<td align="right">
    48
</td>
<td align="right">
   -15.95
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   28.74
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.20
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.41
</td>
<td align="right">
    58
</td>
<td align="right">
   -23.83
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   35.28
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .85
</td>
<td align="right">
    .11
</td>
<td align="right">
    .59
</td>
<td align="right">
     3
</td>
<td align="right">
     1.78
</td>
<td align="right">
    .70
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   44.17
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -4.38
</td>
<td align="right">
   -.07
</td>
<td align="right">
  -1.81
</td>
<td align="right">
    14
</td>
<td align="right">
   -25.27
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   55.55
</td>
<td align="right">
 -.64
</td>
<td align="right">
    4.34
</td>
<td align="right">
   -.07
</td>
<td align="right">
    .22
</td>
<td align="right">
     2
</td>
<td align="right">
      .43
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   92.21
</td>
<td align="right">
 -.69
</td>
<td align="right">
    2.56
</td>
<td align="right">
    .44
</td>
<td align="right">
   2.00
</td>
<td align="right">
    22
</td>
<td align="right">
    43.90
</td>
<td align="right">
    .78
</td>
</tr>
<tr>
<td>
UNP
</td>
<td align="right">
  112.31
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .82
</td>
<td align="right">
    .19
</td>
<td align="right">
    .30
</td>
<td align="right">
    27
</td>
<td align="right">
     8.11
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   59.11
</td>
<td align="right">
 -.60
</td>
<td align="right">
    3.72
</td>
<td align="right">
    .02
</td>
<td align="right">
    .25
</td>
<td align="right">
     4
</td>
<td align="right">
      .99
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  127.21
</td>
<td align="right">
 -.62
</td>
<td align="right">
 -675.00
</td>
<td align="right">
  -1.91
</td>
<td align="right">
  -6.75
</td>
<td align="right">
     1
</td>
<td align="right">
    -6.75
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   35.54
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -4.05
</td>
<td align="right">
    .09
</td>
<td align="right">
   -.44
</td>
<td align="right">
    15
</td>
<td align="right">
    -6.55
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
YUM
</td>
<td align="right">
   71.58
</td>
<td align="right">
 -.56
</td>
<td align="right">
    7.47
</td>
<td align="right">
   -.11
</td>
<td align="right">
    .46
</td>
<td align="right">
     3
</td>
<td align="right">
     1.37
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   990
</td>
<td align="right">
  -716.82
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   42.97
</td>
<td align="right">
  .66
</td>
<td align="right">
     .23
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .13
</td>
<td align="right">
     6
</td>
<td align="right">
      .76
</td>
<td align="right">
    .55
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   70.13
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.38
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.22
</td>
<td align="right">
     7
</td>
<td align="right">
    -1.51
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   68.06
</td>
<td align="right">
  .58
</td>
<td align="right">
  112.00
</td>
<td align="right">
    .67
</td>
<td align="right">
   1.12
</td>
<td align="right">
     1
</td>
<td align="right">
     1.12
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    5.91
</td>
<td align="right">
  .57
</td>
<td align="right">
  -10.97
</td>
<td align="right">
   -.23
</td>
<td align="right">
   -.32
</td>
<td align="right">
     3
</td>
<td align="right">
     -.95
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   20.82
</td>
<td align="right">
  .63
</td>
<td align="right">
   -8.59
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.77
</td>
<td align="right">
     9
</td>
<td align="right">
    -6.90
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
BP
</td>
<td align="right">
   40.18
</td>
<td align="right">
  .64
</td>
<td align="right">
  -11.01
</td>
<td align="right">
   -.22
</td>
<td align="right">
   -.94
</td>
<td align="right">
    13
</td>
<td align="right">
   -12.22
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
CAT
</td>
<td align="right">
   94.61
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.37
</td>
<td align="right">
    .34
</td>
<td align="right">
    .94
</td>
<td align="right">
    11
</td>
<td align="right">
    10.34
</td>
<td align="right">
    .69
</td>
</tr>
<tr>
<td>
CHK
</td>
<td align="right">
   16.72
</td>
<td align="right">
  .60
</td>
<td align="right">
     .10
</td>
<td align="right">
    .05
</td>
<td align="right">
    .03
</td>
<td align="right">
     6
</td>
<td align="right">
      .16
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  402.49
</td>
<td align="right">
  .72
</td>
<td align="right">
    1.09
</td>
<td align="right">
   -.13
</td>
<td align="right">
   3.78
</td>
<td align="right">
    69
</td>
<td align="right">
   260.65
</td>
<td align="right">
   3.46
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   54.66
</td>
<td align="right">
  .60
</td>
<td align="right">
   -1.37
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.81
</td>
<td align="right">
    47
</td>
<td align="right">
   -38.23
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
COP
</td>
<td align="right">
   54.42
</td>
<td align="right">
  .58
</td>
<td align="right">
   -2.78
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.55
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.10
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   31.75
</td>
<td align="right">
  .73
</td>
<td align="right">
   43.13
</td>
<td align="right">
    .67
</td>
<td align="right">
    .92
</td>
<td align="right">
     2
</td>
<td align="right">
     1.83
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  143.65
</td>
<td align="right">
  .68
</td>
<td align="right">
     .06
</td>
<td align="right">
   -.83
</td>
<td align="right">
    .29
</td>
<td align="right">
    51
</td>
<td align="right">
    14.79
</td>
<td align="right">
   5.20
</td>
</tr>
<tr>
<td>
CSX
</td>
<td align="right">
   21.91
</td>
<td align="right">
  .67
</td>
<td align="right">
  -13.00
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.13
</td>
<td align="right">
     1
</td>
<td align="right">
     -.13
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   32.37
</td>
<td align="right">
  .65
</td>
<td align="right">
   -1.94
</td>
<td align="right">
   -.18
</td>
<td align="right">
   -.34
</td>
<td align="right">
    38
</td>
<td align="right">
   -12.90
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  128.35
</td>
<td align="right">
  .69
</td>
<td align="right">
    1.27
</td>
<td align="right">
    .18
</td>
<td align="right">
    .22
</td>
<td align="right">
    12
</td>
<td align="right">
     2.63
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   43.36
</td>
<td align="right">
  .58
</td>
<td align="right">
  152.00
</td>
<td align="right">
   -.10
</td>
<td align="right">
   1.52
</td>
<td align="right">
     1
</td>
<td align="right">
     1.52
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   48.02
</td>
<td align="right">
  .70
</td>
<td align="right">
    -.62
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.45
</td>
<td align="right">
    89
</td>
<td align="right">
   -40.22
</td>
<td align="right">
    .73
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   57.62
</td>
<td align="right">
  .64
</td>
<td align="right">
   -2.56
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.84
</td>
<td align="right">
    21
</td>
<td align="right">
   -17.74
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    8.09
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.48
</td>
<td align="right">
    .00
</td>
<td align="right">
    .46
</td>
<td align="right">
     4
</td>
<td align="right">
     1.83
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   35.56
</td>
<td align="right">
  .64
</td>
<td align="right">
  -37.00
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.37
</td>
<td align="right">
     1
</td>
<td align="right">
     -.37
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   87.41
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.02
</td>
<td align="right">
    .11
</td>
<td align="right">
   -.01
</td>
<td align="right">
    17
</td>
<td align="right">
     -.18
</td>
<td align="right">
    .69
</td>
</tr>
<tr>
<td>
GFI
</td>
<td align="right">
   12.76
</td>
<td align="right">
  .58
</td>
<td align="right">
   -6.16
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.28
</td>
<td align="right">
     7
</td>
<td align="right">
    -1.96
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  606.26
</td>
<td align="right">
  .70
</td>
<td align="right">
     .82
</td>
<td align="right">
    .71
</td>
<td align="right">
   4.32
</td>
<td align="right">
    45
</td>
<td align="right">
   194.30
</td>
<td align="right">
   5.28
</td>
</tr>
<tr>
<td>
HD
</td>
<td align="right">
   50.59
</td>
<td align="right">
  .61
</td>
<td align="right">
   -1.12
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.35
</td>
<td align="right">
    17
</td>
<td align="right">
    -6.02
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
HES
</td>
<td align="right">
   50.38
</td>
<td align="right">
  .68
</td>
<td align="right">
   -4.09
</td>
<td align="right">
    .08
</td>
<td align="right">
  -1.21
</td>
<td align="right">
     9
</td>
<td align="right">
   -10.89
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
HON
</td>
<td align="right">
   58.78
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.73
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.16
</td>
<td align="right">
     8
</td>
<td align="right">
    -1.24
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   57.91
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.52
</td>
<td align="right">
    .11
</td>
<td align="right">
   -.24
</td>
<td align="right">
    64
</td>
<td align="right">
   -15.33
</td>
<td align="right">
    .46
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   79.05
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.47
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.28
</td>
<td align="right">
    50
</td>
<td align="right">
   -13.91
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   63.65
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.06
</td>
<td align="right">
    .06
</td>
<td align="right">
    .26
</td>
<td align="right">
     6
</td>
<td align="right">
     1.54
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
JNJ
</td>
<td align="right">
   64.31
</td>
<td align="right">
  .65
</td>
<td align="right">
    2.76
</td>
<td align="right">
    .37
</td>
<td align="right">
    .30
</td>
<td align="right">
     9
</td>
<td align="right">
     2.71
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
LLY
</td>
<td align="right">
   41.31
</td>
<td align="right">
  .70
</td>
<td align="right">
    6.66
</td>
<td align="right">
    .10
</td>
<td align="right">
    .44
</td>
<td align="right">
    25
</td>
<td align="right">
    11.11
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  427.54
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.18
</td>
<td align="right">
    .45
</td>
<td align="right">
   -.45
</td>
<td align="right">
    23
</td>
<td align="right">
   -10.36
</td>
<td align="right">
   2.54
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   87.06
</td>
<td align="right">
  .61
</td>
<td align="right">
   31.00
</td>
<td align="right">
   -.65
</td>
<td align="right">
    .31
</td>
<td align="right">
     1
</td>
<td align="right">
      .31
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
   72.75
</td>
<td align="right">
  .61
</td>
<td align="right">
   57.17
</td>
<td align="right">
    .32
</td>
<td align="right">
   5.26
</td>
<td align="right">
     2
</td>
<td align="right">
    10.51
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   60.90
</td>
<td align="right">
  .65
</td>
<td align="right">
   -1.17
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.50
</td>
<td align="right">
    76
</td>
<td align="right">
   -37.62
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   37.06
</td>
<td align="right">
  .66
</td>
<td align="right">
     .66
</td>
<td align="right">
    .04
</td>
<td align="right">
    .25
</td>
<td align="right">
    64
</td>
<td align="right">
    16.08
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   65.89
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.82
</td>
<td align="right">
    .09
</td>
<td align="right">
   -.35
</td>
<td align="right">
    60
</td>
<td align="right">
   -21.12
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
RTN
</td>
<td align="right">
   53.53
</td>
<td align="right">
  .56
</td>
<td align="right">
   -5.03
</td>
<td align="right">
    .08
</td>
<td align="right">
   -.27
</td>
<td align="right">
     5
</td>
<td align="right">
    -1.36
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   54.14
</td>
<td align="right">
  .58
</td>
<td align="right">
    1.19
</td>
<td align="right">
    .22
</td>
<td align="right">
    .72
</td>
<td align="right">
     6
</td>
<td align="right">
     4.31
</td>
<td align="right">
    .60
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   28.76
</td>
<td align="right">
  .66
</td>
<td align="right">
   -1.75
</td>
<td align="right">
   -.43
</td>
<td align="right">
   -.35
</td>
<td align="right">
     5
</td>
<td align="right">
    -1.73
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   44.53
</td>
<td align="right">
  .59
</td>
<td align="right">
  -14.65
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.73
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.45
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   95.36
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.86
</td>
<td align="right">
   -.26
</td>
<td align="right">
  -2.09
</td>
<td align="right">
    81
</td>
<td align="right">
  -168.90
</td>
<td align="right">
   2.43
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   55.33
</td>
<td align="right">
  .67
</td>
<td align="right">
     .05
</td>
<td align="right">
    .04
</td>
<td align="right">
    .02
</td>
<td align="right">
    74
</td>
<td align="right">
     1.16
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
  118.06
</td>
<td align="right">
  .56
</td>
<td align="right">
   45.00
</td>
<td align="right">
    .07
</td>
<td align="right">
    .45
</td>
<td align="right">
     1
</td>
<td align="right">
      .45
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   87.85
</td>
<td align="right">
  .57
</td>
<td align="right">
   35.00
</td>
<td align="right">
    .53
</td>
<td align="right">
    .35
</td>
<td align="right">
     1
</td>
<td align="right">
      .35
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   58.88
</td>
<td align="right">
  .59
</td>
<td align="right">
    1.43
</td>
<td align="right">
    .39
</td>
<td align="right">
    .46
</td>
<td align="right">
     3
</td>
<td align="right">
     1.38
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
YUM
</td>
<td align="right">
   71.25
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.33
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.29
</td>
<td align="right">
    22
</td>
<td align="right">
    -6.35
</td>
<td align="right">
    .87
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1077
</td>
<td align="right">
   109.15
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
