<h4>Week of: 2012_08_06</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABX
</td>
<td align="right">
   34.36
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -1.11
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.11
</td>
<td align="right">
     2
</td>
<td align="right">
     -.22
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
AGU
</td>
<td align="right">
   97.20
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -1.66
</td>
<td align="right">
   -.04
</td>
<td align="right">
  -1.11
</td>
<td align="right">
     4
</td>
<td align="right">
    -4.43
</td>
<td align="right">
    .67
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   34.38
</td>
<td align="right">
 -.68
</td>
<td align="right">
    1.87
</td>
<td align="right">
    .05
</td>
<td align="right">
    .33
</td>
<td align="right">
    13
</td>
<td align="right">
     4.35
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
BHP
</td>
<td align="right">
   69.78
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.14
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.44
</td>
<td align="right">
    21
</td>
<td align="right">
    -9.34
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   44.75
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -6.64
</td>
<td align="right">
    .19
</td>
<td align="right">
   -.37
</td>
<td align="right">
     5
</td>
<td align="right">
    -1.84
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  296.86
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .11
</td>
<td align="right">
   -.85
</td>
<td align="right">
    .35
</td>
<td align="right">
     8
</td>
<td align="right">
     2.80
</td>
<td align="right">
   3.08
</td>
</tr>
<tr>
<td>
CMI
</td>
<td align="right">
   99.48
</td>
<td align="right">
 -.58
</td>
<td align="right">
   17.08
</td>
<td align="right">
   -.51
</td>
<td align="right">
   1.97
</td>
<td align="right">
     3
</td>
<td align="right">
     5.91
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   57.15
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.22
</td>
<td align="right">
   -.25
</td>
<td align="right">
   -.50
</td>
<td align="right">
    12
</td>
<td align="right">
    -5.97
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  137.01
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .14
</td>
<td align="right">
    .26
</td>
<td align="right">
    .34
</td>
<td align="right">
    40
</td>
<td align="right">
    13.69
</td>
<td align="right">
   2.47
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   44.74
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.46
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.04
</td>
<td align="right">
     4
</td>
<td align="right">
     -.14
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
CVX
</td>
<td align="right">
  112.00
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .76
</td>
<td align="right">
    .06
</td>
<td align="right">
    .27
</td>
<td align="right">
    50
</td>
<td align="right">
    13.69
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   50.59
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.26
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.13
</td>
<td align="right">
    73
</td>
<td align="right">
    -9.31
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   78.45
</td>
<td align="right">
 -.63
</td>
<td align="right">
    1.09
</td>
<td align="right">
    .02
</td>
<td align="right">
   1.00
</td>
<td align="right">
    13
</td>
<td align="right">
    13.02
</td>
<td align="right">
    .92
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  131.57
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.72
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.19
</td>
<td align="right">
    12
</td>
<td align="right">
    -2.29
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   50.19
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.47
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.18
</td>
<td align="right">
    16
</td>
<td align="right">
    -2.84
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
DNDN
</td>
<td align="right">
    4.41
</td>
<td align="right">
 -.62
</td>
<td align="right">
    2.05
</td>
<td align="right">
    .01
</td>
<td align="right">
    .07
</td>
<td align="right">
    19
</td>
<td align="right">
     1.24
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   30.15
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.41
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.05
</td>
<td align="right">
    63
</td>
<td align="right">
    -3.27
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   49.73
</td>
<td align="right">
 -.64
</td>
<td align="right">
    1.67
</td>
<td align="right">
    .06
</td>
<td align="right">
   1.21
</td>
<td align="right">
     4
</td>
<td align="right">
     4.82
</td>
<td align="right">
    .72
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   51.86
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.83
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.15
</td>
<td align="right">
    33
</td>
<td align="right">
    -4.99
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
EOG
</td>
<td align="right">
  106.16
</td>
<td align="right">
 -.78
</td>
<td align="right">
    3.37
</td>
<td align="right">
   -.20
</td>
<td align="right">
   2.72
</td>
<td align="right">
    47
</td>
<td align="right">
   128.01
</td>
<td align="right">
    .81
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   54.36
</td>
<td align="right">
 -.55
</td>
<td align="right">
   55.00
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .55
</td>
<td align="right">
     1
</td>
<td align="right">
      .55
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FLS
</td>
<td align="right">
  127.44
</td>
<td align="right">
 -.73
</td>
<td align="right">
     .31
</td>
<td align="right">
    .06
</td>
<td align="right">
    .28
</td>
<td align="right">
   194
</td>
<td align="right">
    55.22
</td>
<td align="right">
    .92
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
   18.48
</td>
<td align="right">
 -.62
</td>
<td align="right">
    6.16
</td>
<td align="right">
    .20
</td>
<td align="right">
   1.71
</td>
<td align="right">
    20
</td>
<td align="right">
    34.19
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   37.37
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.75
</td>
<td align="right">
    .11
</td>
<td align="right">
   -.31
</td>
<td align="right">
    14
</td>
<td align="right">
    -4.35
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
GILD
</td>
<td align="right">
   57.62
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -2.43
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.07
</td>
<td align="right">
     4
</td>
<td align="right">
     -.29
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  103.93
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -7.80
</td>
<td align="right">
   -.39
</td>
<td align="right">
  -1.34
</td>
<td align="right">
     4
</td>
<td align="right">
    -5.36
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
IBM
</td>
<td align="right">
  199.86
</td>
<td align="right">
 -.58
</td>
<td align="right">
  -67.00
</td>
<td align="right">
   -.18
</td>
<td align="right">
   -.67
</td>
<td align="right">
     1
</td>
<td align="right">
     -.67
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   89.34
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .43
</td>
<td align="right">
   -.15
</td>
<td align="right">
    .92
</td>
<td align="right">
    25
</td>
<td align="right">
    23.10
</td>
<td align="right">
   2.17
</td>
</tr>
<tr>
<td>
JCP
</td>
<td align="right">
   21.26
</td>
<td align="right">
 -.61
</td>
<td align="right">
   90.00
</td>
<td align="right">
    .29
</td>
<td align="right">
    .90
</td>
<td align="right">
     1
</td>
<td align="right">
      .90
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
JNJ
</td>
<td align="right">
   68.98
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -5.68
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.60
</td>
<td align="right">
    55
</td>
<td align="right">
   -33.07
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  424.83
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.05
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.11
</td>
<td align="right">
     5
</td>
<td align="right">
     -.57
</td>
<td align="right">
   2.11
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   40.00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    3.18
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .09
</td>
<td align="right">
     2
</td>
<td align="right">
      .18
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  174.53
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.80
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.41
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.62
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   73.01
</td>
<td align="right">
 -.68
</td>
<td align="right">
     .75
</td>
<td align="right">
    .05
</td>
<td align="right">
    .13
</td>
<td align="right">
    60
</td>
<td align="right">
     7.63
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   91.78
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .34
</td>
<td align="right">
    .04
</td>
<td align="right">
    .08
</td>
<td align="right">
   122
</td>
<td align="right">
     9.78
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   58.59
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -6.34
</td>
<td align="right">
   -.14
</td>
<td align="right">
  -1.14
</td>
<td align="right">
    10
</td>
<td align="right">
   -11.38
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   30.42
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.28
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.04
</td>
<td align="right">
    11
</td>
<td align="right">
     -.48
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
MT
</td>
<td align="right">
   16.05
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.05
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.10
</td>
<td align="right">
    34
</td>
<td align="right">
    -3.30
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    9.54
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.30
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.10
</td>
<td align="right">
    27
</td>
<td align="right">
    -2.68
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
NEM
</td>
<td align="right">
   47.74
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -99.00
</td>
<td align="right">
   -.21
</td>
<td align="right">
   -.99
</td>
<td align="right">
     1
</td>
<td align="right">
     -.99
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   40.58
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.32
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.09
</td>
<td align="right">
   105
</td>
<td align="right">
    -9.52
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
ORCL
</td>
<td align="right">
   31.23
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .25
</td>
<td align="right">
    .07
</td>
<td align="right">
    .06
</td>
<td align="right">
     4
</td>
<td align="right">
      .23
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
PBR
</td>
<td align="right">
   20.50
</td>
<td align="right">
 -.58
</td>
<td align="right">
    2.11
</td>
<td align="right">
    .29
</td>
<td align="right">
    .52
</td>
<td align="right">
    14
</td>
<td align="right">
     7.25
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
PEP
</td>
<td align="right">
   72.00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -6.36
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.09
</td>
<td align="right">
     2
</td>
<td align="right">
     -.18
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
PG
</td>
<td align="right">
   66.59
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.08
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.18
</td>
<td align="right">
    20
</td>
<td align="right">
    -3.53
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   60.58
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.42
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.27
</td>
<td align="right">
    10
</td>
<td align="right">
    -2.71
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   60.59
</td>
<td align="right">
 -.59
</td>
<td align="right">
    1.53
</td>
<td align="right">
    .10
</td>
<td align="right">
    .59
</td>
<td align="right">
    75
</td>
<td align="right">
    44.55
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   66.70
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .01
</td>
<td align="right">
    .05
</td>
<td align="right">
    .00
</td>
<td align="right">
     7
</td>
<td align="right">
      .02
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   30.16
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.94
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.15
</td>
<td align="right">
    30
</td>
<td align="right">
    -4.63
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
    7.31
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .85
</td>
<td align="right">
    .07
</td>
<td align="right">
    .19
</td>
<td align="right">
    79
</td>
<td align="right">
    14.85
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   45.10
</td>
<td align="right">
 -.66
</td>
<td align="right">
   46.00
</td>
<td align="right">
    .19
</td>
<td align="right">
    .46
</td>
<td align="right">
     1
</td>
<td align="right">
      .46
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   49.20
</td>
<td align="right">
 -.71
</td>
<td align="right">
    1.67
</td>
<td align="right">
    .42
</td>
<td align="right">
   1.86
</td>
<td align="right">
    62
</td>
<td align="right">
   115.52
</td>
<td align="right">
   1.11
</td>
</tr>
<tr>
<td>
SJM
</td>
<td align="right">
   76.97
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -1.63
</td>
<td align="right">
   -.19
</td>
<td align="right">
   -.37
</td>
<td align="right">
     5
</td>
<td align="right">
    -1.87
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   19.89
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.21
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.14
</td>
<td align="right">
    17
</td>
<td align="right">
    -2.38
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   41.94
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .20
</td>
<td align="right">
   -.08
</td>
<td align="right">
    .16
</td>
<td align="right">
    14
</td>
<td align="right">
     2.25
</td>
<td align="right">
    .80
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   40.52
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.10
</td>
<td align="right">
    .08
</td>
<td align="right">
   -.66
</td>
<td align="right">
    65
</td>
<td align="right">
   -42.61
</td>
<td align="right">
    .60
</td>
</tr>
<tr>
<td>
SUN
</td>
<td align="right">
   47.83
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.44
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.20
</td>
<td align="right">
     2
</td>
<td align="right">
     -.39
</td>
<td align="right">
    .45
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    5.08
</td>
<td align="right">
 -.68
</td>
<td align="right">
    1.65
</td>
<td align="right">
    .01
</td>
<td align="right">
    .10
</td>
<td align="right">
   184
</td>
<td align="right">
    17.95
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
SWC
</td>
<td align="right">
    9.16
</td>
<td align="right">
 -.66
</td>
<td align="right">
    1.11
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .14
</td>
<td align="right">
    33
</td>
<td align="right">
     4.50
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   40.63
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.12
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.04
</td>
<td align="right">
    15
</td>
<td align="right">
     -.58
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   62.44
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -3.00
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.03
</td>
<td align="right">
     1
</td>
<td align="right">
     -.03
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   57.22
</td>
<td align="right">
 -.58
</td>
<td align="right">
    -.53
</td>
<td align="right">
   -.25
</td>
<td align="right">
   -.45
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.78
</td>
<td align="right">
    .84
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   52.21
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.15
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.06
</td>
<td align="right">
    73
</td>
<td align="right">
    -4.17
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
UPS
</td>
<td align="right">
   76.08
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -1.45
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.26
</td>
<td align="right">
     6
</td>
<td align="right">
    -1.57
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
VECO
</td>
<td align="right">
   37.31
</td>
<td align="right">
 -.64
</td>
<td align="right">
    1.69
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .45
</td>
<td align="right">
    27
</td>
<td align="right">
    12.18
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   96.87
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -2.34
</td>
<td align="right">
    .23
</td>
<td align="right">
   -.67
</td>
<td align="right">
    18
</td>
<td align="right">
   -12.04
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
WFC
</td>
<td align="right">
   34.36
</td>
<td align="right">
 -.56
</td>
<td align="right">
   -1.41
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.06
</td>
<td align="right">
     2
</td>
<td align="right">
     -.12
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   94.07
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.91
</td>
<td align="right">
   -.28
</td>
<td align="right">
   -.33
</td>
<td align="right">
    34
</td>
<td align="right">
   -11.20
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
   99.21
</td>
<td align="right">
 -.67
</td>
<td align="right">
    1.38
</td>
<td align="right">
    .54
</td>
<td align="right">
   3.13
</td>
<td align="right">
    76
</td>
<td align="right">
   237.80
</td>
<td align="right">
   2.28
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   35.68
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .91
</td>
<td align="right">
    .06
</td>
<td align="right">
    .22
</td>
<td align="right">
    35
</td>
<td align="right">
     7.59
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   71.54
</td>
<td align="right">
 -.68
</td>
<td align="right">
     .66
</td>
<td align="right">
    .05
</td>
<td align="right">
    .35
</td>
<td align="right">
   214
</td>
<td align="right">
    75.17
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
XLU
</td>
<td align="right">
   37.71
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -3.60
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.35
</td>
<td align="right">
     8
</td>
<td align="right">
    -2.82
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   87.85
</td>
<td align="right">
 -.61
</td>
<td align="right">
    1.62
</td>
<td align="right">
    .14
</td>
<td align="right">
    .27
</td>
<td align="right">
    12
</td>
<td align="right">
     3.24
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
YUM
</td>
<td align="right">
   66.59
</td>
<td align="right">
 -.55
</td>
<td align="right">
     .24
</td>
<td align="right">
   -.07
</td>
<td align="right">
    .01
</td>
<td align="right">
     2
</td>
<td align="right">
      .02
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  2293
</td>
<td align="right">
   651.13
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   45.73
</td>
<td align="right">
  .62
</td>
<td align="right">
     .00
</td>
<td align="right">
    .04
</td>
<td align="right">
    .00
</td>
<td align="right">
     7
</td>
<td align="right">
      .00
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   81.59
</td>
<td align="right">
  .60
</td>
<td align="right">
    2.00
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .74
</td>
<td align="right">
     3
</td>
<td align="right">
     2.21
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  234.58
</td>
<td align="right">
  .58
</td>
<td align="right">
 -269.00
</td>
<td align="right">
   -.59
</td>
<td align="right">
  -2.69
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.69
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   69.49
</td>
<td align="right">
  .60
</td>
<td align="right">
   -1.70
</td>
<td align="right">
    .33
</td>
<td align="right">
   -.35
</td>
<td align="right">
     5
</td>
<td align="right">
    -1.74
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
ARG
</td>
<td align="right">
   83.13
</td>
<td align="right">
  .69
</td>
<td align="right">
    -.14
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.05
</td>
<td align="right">
   125
</td>
<td align="right">
    -6.72
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
BEN
</td>
<td align="right">
  114.05
</td>
<td align="right">
  .67
</td>
<td align="right">
  301.00
</td>
<td align="right">
   3.22
</td>
<td align="right">
   3.01
</td>
<td align="right">
     1
</td>
<td align="right">
     3.01
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BHP
</td>
<td align="right">
   68.88
</td>
<td align="right">
  .63
</td>
<td align="right">
     .81
</td>
<td align="right">
    .10
</td>
<td align="right">
    .19
</td>
<td align="right">
    26
</td>
<td align="right">
     4.98
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
BP
</td>
<td align="right">
   42.13
</td>
<td align="right">
  .61
</td>
<td align="right">
     .38
</td>
<td align="right">
    .12
</td>
<td align="right">
    .06
</td>
<td align="right">
     9
</td>
<td align="right">
      .55
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
CAT
</td>
<td align="right">
   88.24
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.28
</td>
<td align="right">
    .19
</td>
<td align="right">
   -.09
</td>
<td align="right">
     9
</td>
<td align="right">
     -.85
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  204.62
</td>
<td align="right">
  .64
</td>
<td align="right">
    8.13
</td>
<td align="right">
   -.01
</td>
<td align="right">
   2.97
</td>
<td align="right">
    37
</td>
<td align="right">
   109.91
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   42.98
</td>
<td align="right">
  .77
</td>
<td align="right">
    4.77
</td>
<td align="right">
    .24
</td>
<td align="right">
   1.45
</td>
<td align="right">
    49
</td>
<td align="right">
    70.98
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  295.26
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.82
</td>
<td align="right">
   -.71
</td>
<td align="right">
  -1.54
</td>
<td align="right">
    25
</td>
<td align="right">
   -38.40
</td>
<td align="right">
   1.87
</td>
</tr>
<tr>
<td>
CMI
</td>
<td align="right">
  100.68
</td>
<td align="right">
  .61
</td>
<td align="right">
     .19
</td>
<td align="right">
   -.06
</td>
<td align="right">
    .29
</td>
<td align="right">
    12
</td>
<td align="right">
     3.47
</td>
<td align="right">
   1.56
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   56.39
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.87
</td>
<td align="right">
   -.20
</td>
<td align="right">
   -.36
</td>
<td align="right">
    28
</td>
<td align="right">
   -10.02
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   79.33
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.88
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.51
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.02
</td>
<td align="right">
    .58
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  131.35
</td>
<td align="right">
  .62
</td>
<td align="right">
     .48
</td>
<td align="right">
    .22
</td>
<td align="right">
    .14
</td>
<td align="right">
     7
</td>
<td align="right">
     1.01
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   30.01
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.90
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.20
</td>
<td align="right">
    43
</td>
<td align="right">
    -8.58
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   49.74
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.06
</td>
<td align="right">
    .08
</td>
<td align="right">
    .43
</td>
<td align="right">
    15
</td>
<td align="right">
     6.45
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
EGO
</td>
<td align="right">
   11.48
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.30
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.05
</td>
<td align="right">
    46
</td>
<td align="right">
    -2.25
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   55.04
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.09
</td>
<td align="right">
   -.21
</td>
<td align="right">
   -.03
</td>
<td align="right">
     7
</td>
<td align="right">
     -.21
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    7.88
</td>
<td align="right">
  .67
</td>
<td align="right">
    3.88
</td>
<td align="right">
    .03
</td>
<td align="right">
    .08
</td>
<td align="right">
     9
</td>
<td align="right">
      .72
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   35.89
</td>
<td align="right">
  .64
</td>
<td align="right">
     .16
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .06
</td>
<td align="right">
    91
</td>
<td align="right">
     5.51
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   89.41
</td>
<td align="right">
  .58
</td>
<td align="right">
 -186.00
</td>
<td align="right">
   -.60
</td>
<td align="right">
  -1.86
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.86
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
   93.11
</td>
<td align="right">
  .59
</td>
<td align="right">
  514.00
</td>
<td align="right">
   1.96
</td>
<td align="right">
   5.14
</td>
<td align="right">
     1
</td>
<td align="right">
     5.14
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
   21.07
</td>
<td align="right">
  .77
</td>
<td align="right">
     .12
</td>
<td align="right">
    .03
</td>
<td align="right">
    .09
</td>
<td align="right">
   262
</td>
<td align="right">
    22.94
</td>
<td align="right">
    .70
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   44.07
</td>
<td align="right">
  .66
</td>
<td align="right">
     .64
</td>
<td align="right">
    .11
</td>
<td align="right">
    .21
</td>
<td align="right">
    70
</td>
<td align="right">
    14.70
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   36.94
</td>
<td align="right">
  .56
</td>
<td align="right">
   35.00
</td>
<td align="right">
    .16
</td>
<td align="right">
    .35
</td>
<td align="right">
     1
</td>
<td align="right">
      .35
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  642.38
</td>
<td align="right">
  .66
</td>
<td align="right">
     .20
</td>
<td align="right">
    .17
</td>
<td align="right">
   1.75
</td>
<td align="right">
   114
</td>
<td align="right">
   199.25
</td>
<td align="right">
   8.72
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  103.17
</td>
<td align="right">
  .64
</td>
<td align="right">
     .13
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .11
</td>
<td align="right">
    49
</td>
<td align="right">
     5.35
</td>
<td align="right">
    .84
</td>
</tr>
<tr>
<td>
HD
</td>
<td align="right">
   52.15
</td>
<td align="right">
  .62
</td>
<td align="right">
    3.96
</td>
<td align="right">
    .14
</td>
<td align="right">
    .36
</td>
<td align="right">
     6
</td>
<td align="right">
     2.13
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
HES
</td>
<td align="right">
   49.75
</td>
<td align="right">
  .68
</td>
<td align="right">
   -1.48
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.49
</td>
<td align="right">
    20
</td>
<td align="right">
    -9.72
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
IAG
</td>
<td align="right">
   11.60
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.36
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.06
</td>
<td align="right">
    94
</td>
<td align="right">
    -5.67
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   87.04
</td>
<td align="right">
  .61
</td>
<td align="right">
  280.00
</td>
<td align="right">
    .23
</td>
<td align="right">
   2.80
</td>
<td align="right">
     1
</td>
<td align="right">
     2.80
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   79.74
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.12
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .44
</td>
<td align="right">
    44
</td>
<td align="right">
    19.16
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   64.67
</td>
<td align="right">
  .69
</td>
<td align="right">
    -.71
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.22
</td>
<td align="right">
   121
</td>
<td align="right">
   -26.40
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
JNJ
</td>
<td align="right">
   68.37
</td>
<td align="right">
  .62
</td>
<td align="right">
     .62
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .08
</td>
<td align="right">
    37
</td>
<td align="right">
     3.14
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
JPM
</td>
<td align="right">
   37.08
</td>
<td align="right">
  .69
</td>
<td align="right">
   -1.46
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.22
</td>
<td align="right">
    91
</td>
<td align="right">
   -19.71
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
JWN
</td>
<td align="right">
   55.22
</td>
<td align="right">
  .62
</td>
<td align="right">
     .02
</td>
<td align="right">
    .13
</td>
<td align="right">
    .00
</td>
<td align="right">
     9
</td>
<td align="right">
      .03
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
LMT
</td>
<td align="right">
   90.23
</td>
<td align="right">
  .61
</td>
<td align="right">
   10.77
</td>
<td align="right">
    .17
</td>
<td align="right">
    .57
</td>
<td align="right">
     3
</td>
<td align="right">
     1.71
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   39.79
</td>
<td align="right">
  .66
</td>
<td align="right">
   -4.09
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.51
</td>
<td align="right">
    11
</td>
<td align="right">
    -5.65
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  421.13
</td>
<td align="right">
  .64
</td>
<td align="right">
    1.07
</td>
<td align="right">
    .05
</td>
<td align="right">
   3.56
</td>
<td align="right">
    48
</td>
<td align="right">
   170.81
</td>
<td align="right">
   3.33
</td>
</tr>
<tr>
<td>
MAR
</td>
<td align="right">
   37.42
</td>
<td align="right">
  .74
</td>
<td align="right">
    -.65
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.30
</td>
<td align="right">
    84
</td>
<td align="right">
   -24.83
</td>
<td align="right">
    .45
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   40.12
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.23
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.06
</td>
<td align="right">
     7
</td>
<td align="right">
     -.43
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   73.50
</td>
<td align="right">
  .74
</td>
<td align="right">
   -1.20
</td>
<td align="right">
   -.20
</td>
<td align="right">
   -.42
</td>
<td align="right">
    48
</td>
<td align="right">
   -20.35
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   44.31
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.48
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.14
</td>
<td align="right">
     3
</td>
<td align="right">
     -.41
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    9.50
</td>
<td align="right">
  .60
</td>
<td align="right">
     .68
</td>
<td align="right">
    .06
</td>
<td align="right">
    .05
</td>
<td align="right">
    20
</td>
<td align="right">
      .95
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
NEM
</td>
<td align="right">
   47.21
</td>
<td align="right">
  .58
</td>
<td align="right">
   29.00
</td>
<td align="right">
    .21
</td>
<td align="right">
    .29
</td>
<td align="right">
     1
</td>
<td align="right">
      .29
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
   58.38
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.53
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.28
</td>
<td align="right">
    35
</td>
<td align="right">
    -9.78
</td>
<td align="right">
    .52
</td>
</tr>
<tr>
<td>
ORCL
</td>
<td align="right">
   31.23
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.06
</td>
<td align="right">
    .02
</td>
<td align="right">
    .21
</td>
<td align="right">
    16
</td>
<td align="right">
     3.36
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   60.94
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.77
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.25
</td>
<td align="right">
    34
</td>
<td align="right">
    -8.51
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  138.50
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.35
</td>
<td align="right">
    .29
</td>
<td align="right">
   -.26
</td>
<td align="right">
     9
</td>
<td align="right">
    -2.30
</td>
<td align="right">
    .72
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   30.11
</td>
<td align="right">
  .61
</td>
<td align="right">
   -1.50
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.23
</td>
<td align="right">
     8
</td>
<td align="right">
    -1.86
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
    7.71
</td>
<td align="right">
  .60
</td>
<td align="right">
     .04
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .00
</td>
<td align="right">
     3
</td>
<td align="right">
      .01
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   45.25
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.05
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .19
</td>
<td align="right">
     5
</td>
<td align="right">
      .97
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   51.96
</td>
<td align="right">
  .70
</td>
<td align="right">
    -.76
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.49
</td>
<td align="right">
    83
</td>
<td align="right">
   -40.40
</td>
<td align="right">
    .64
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   19.46
</td>
<td align="right">
  .71
</td>
<td align="right">
    1.25
</td>
<td align="right">
    .05
</td>
<td align="right">
    .68
</td>
<td align="right">
    33
</td>
<td align="right">
    22.58
</td>
<td align="right">
    .55
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   27.22
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.15
</td>
<td align="right">
    .06
</td>
<td align="right">
    .02
</td>
<td align="right">
     3
</td>
<td align="right">
      .06
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   41.21
</td>
<td align="right">
  .60
</td>
<td align="right">
   -2.54
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.37
</td>
<td align="right">
     6
</td>
<td align="right">
    -2.19
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
SUN
</td>
<td align="right">
   47.43
</td>
<td align="right">
  .66
</td>
<td align="right">
     .84
</td>
<td align="right">
    .02
</td>
<td align="right">
    .25
</td>
<td align="right">
    40
</td>
<td align="right">
     9.88
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   62.81
</td>
<td align="right">
  .69
</td>
<td align="right">
    -.66
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.14
</td>
<td align="right">
    88
</td>
<td align="right">
   -12.14
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   39.00
</td>
<td align="right">
  .61
</td>
<td align="right">
   84.00
</td>
<td align="right">
    .79
</td>
<td align="right">
    .84
</td>
<td align="right">
     1
</td>
<td align="right">
      .84
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   56.60
</td>
<td align="right">
  .68
</td>
<td align="right">
    -.08
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.04
</td>
<td align="right">
    48
</td>
<td align="right">
    -2.06
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
  128.25
</td>
<td align="right">
  .61
</td>
<td align="right">
    3.30
</td>
<td align="right">
    .22
</td>
<td align="right">
    .60
</td>
<td align="right">
    17
</td>
<td align="right">
    10.24
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
WAG
</td>
<td align="right">
   36.18
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.24
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.02
</td>
<td align="right">
     9
</td>
<td align="right">
     -.18
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
WFC
</td>
<td align="right">
   34.12
</td>
<td align="right">
  .63
</td>
<td align="right">
   -2.81
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.35
</td>
<td align="right">
     9
</td>
<td align="right">
    -3.13
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  102.10
</td>
<td align="right">
  .66
</td>
<td align="right">
   -1.06
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.68
</td>
<td align="right">
     7
</td>
<td align="right">
    -4.77
</td>
<td align="right">
    .64
</td>
</tr>
<tr>
<td>
X
</td>
<td align="right">
   21.94
</td>
<td align="right">
  .61
</td>
<td align="right">
  131.00
</td>
<td align="right">
    .57
</td>
<td align="right">
   1.31
</td>
<td align="right">
     1
</td>
<td align="right">
     1.31
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   35.88
</td>
<td align="right">
  .64
</td>
<td align="right">
    3.54
</td>
<td align="right">
    .08
</td>
<td align="right">
    .28
</td>
<td align="right">
     2
</td>
<td align="right">
      .55
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
XLU
</td>
<td align="right">
   37.45
</td>
<td align="right">
  .59
</td>
<td align="right">
     .66
</td>
<td align="right">
    .01
</td>
<td align="right">
    .02
</td>
<td align="right">
     3
</td>
<td align="right">
      .05
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  2163
</td>
<td align="right">
   432.57
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
