<h4>Week of: 2013_02_05</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABX
</td>
<td align="right">
   32.58
</td>
<td align="right">
 -.58
</td>
<td align="right">
   16.00
</td>
<td align="right">
    .00
</td>
<td align="right">
    .16
</td>
<td align="right">
     1
</td>
<td align="right">
      .16
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
ACI
</td>
<td align="right">
    6.36
</td>
<td align="right">
 -.67
</td>
<td align="right">
  -18.59
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.32
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.27
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
ADM
</td>
<td align="right">
   29.41
</td>
<td align="right">
 -.63
</td>
<td align="right">
    3.53
</td>
<td align="right">
    .33
</td>
<td align="right">
    .78
</td>
<td align="right">
     3
</td>
<td align="right">
     2.33
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   53.43
</td>
<td align="right">
 -.67
</td>
<td align="right">
  -17.22
</td>
<td align="right">
   -.98
</td>
<td align="right">
  -2.52
</td>
<td align="right">
     8
</td>
<td align="right">
   -20.14
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
AGU
</td>
<td align="right">
  113.50
</td>
<td align="right">
 -.61
</td>
<td align="right">
    1.72
</td>
<td align="right">
    .16
</td>
<td align="right">
    .44
</td>
<td align="right">
    13
</td>
<td align="right">
     5.66
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   38.72
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.09
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.03
</td>
<td align="right">
    25
</td>
<td align="right">
     -.72
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   41.35
</td>
<td align="right">
 -.69
</td>
<td align="right">
    1.59
</td>
<td align="right">
   -.11
</td>
<td align="right">
    .29
</td>
<td align="right">
    27
</td>
<td align="right">
     7.84
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   85.85
</td>
<td align="right">
 -.58
</td>
<td align="right">
  113.00
</td>
<td align="right">
    .05
</td>
<td align="right">
   1.13
</td>
<td align="right">
     1
</td>
<td align="right">
     1.13
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  266.55
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -8.60
</td>
<td align="right">
   -.12
</td>
<td align="right">
  -4.49
</td>
<td align="right">
     4
</td>
<td align="right">
   -17.94
</td>
<td align="right">
    .52
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   82.55
</td>
<td align="right">
 -.74
</td>
<td align="right">
    1.46
</td>
<td align="right">
    .19
</td>
<td align="right">
    .76
</td>
<td align="right">
    39
</td>
<td align="right">
    29.64
</td>
<td align="right">
    .52
</td>
</tr>
<tr>
<td>
AUY
</td>
<td align="right">
   16.55
</td>
<td align="right">
 -.74
</td>
<td align="right">
   -1.92
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.09
</td>
<td align="right">
    17
</td>
<td align="right">
    -1.49
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
AXP
</td>
<td align="right">
   60.37
</td>
<td align="right">
 -.70
</td>
<td align="right">
     .60
</td>
<td align="right">
    .10
</td>
<td align="right">
    .18
</td>
<td align="right">
    20
</td>
<td align="right">
     3.65
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
BHP
</td>
<td align="right">
   77.97
</td>
<td align="right">
 -.55
</td>
<td align="right">
  -18.00
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.18
</td>
<td align="right">
     1
</td>
<td align="right">
     -.18
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
   96.49
</td>
<td align="right">
 -.64
</td>
<td align="right">
   10.82
</td>
<td align="right">
   -.37
</td>
<td align="right">
   1.66
</td>
<td align="right">
     4
</td>
<td align="right">
     6.64
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
CDE
</td>
<td align="right">
   22.44
</td>
<td align="right">
 -.65
</td>
<td align="right">
    2.95
</td>
<td align="right">
    .03
</td>
<td align="right">
    .43
</td>
<td align="right">
    33
</td>
<td align="right">
    14.12
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   37.83
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -1.44
</td>
<td align="right">
   -.20
</td>
<td align="right">
   -.58
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.73
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   43.90
</td>
<td align="right">
 -.65
</td>
<td align="right">
   54.00
</td>
<td align="right">
    .15
</td>
<td align="right">
    .54
</td>
<td align="right">
     1
</td>
<td align="right">
      .54
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   51.43
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -2.93
</td>
<td align="right">
    .29
</td>
<td align="right">
   -.26
</td>
<td align="right">
     5
</td>
<td align="right">
    -1.30
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
CVX
</td>
<td align="right">
  116.03
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -2.72
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.60
</td>
<td align="right">
     4
</td>
<td align="right">
    -2.38
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   47.74
</td>
<td align="right">
 -.63
</td>
<td align="right">
  -26.00
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.26
</td>
<td align="right">
     1
</td>
<td align="right">
     -.26
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   93.93
</td>
<td align="right">
 -.65
</td>
<td align="right">
 -118.00
</td>
<td align="right">
   -.18
</td>
<td align="right">
  -1.18
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.18
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  139.67
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -1.32
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.27
</td>
<td align="right">
    23
</td>
<td align="right">
    -6.29
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
DNDN
</td>
<td align="right">
    6.09
</td>
<td align="right">
 -.59
</td>
<td align="right">
    4.39
</td>
<td align="right">
    .06
</td>
<td align="right">
    .32
</td>
<td align="right">
    14
</td>
<td align="right">
     4.52
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   32.40
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -3.83
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.12
</td>
<td align="right">
     4
</td>
<td align="right">
     -.49
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   56.47
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -7.06
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.45
</td>
<td align="right">
    22
</td>
<td align="right">
    -9.88
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
EGO
</td>
<td align="right">
   11.30
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .99
</td>
<td align="right">
    .01
</td>
<td align="right">
    .02
</td>
<td align="right">
     9
</td>
<td align="right">
      .16
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    6.95
</td>
<td align="right">
 -.75
</td>
<td align="right">
     .29
</td>
<td align="right">
    .02
</td>
<td align="right">
    .02
</td>
<td align="right">
    42
</td>
<td align="right">
      .92
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
  104.38
</td>
<td align="right">
 -.64
</td>
<td align="right">
    4.68
</td>
<td align="right">
    .31
</td>
<td align="right">
   1.29
</td>
<td align="right">
     8
</td>
<td align="right">
    10.34
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
FLS
</td>
<td align="right">
  156.84
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.09
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.52
</td>
<td align="right">
    13
</td>
<td align="right">
    -6.79
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
GD
</td>
<td align="right">
   65.98
</td>
<td align="right">
 -.63
</td>
<td align="right">
    3.00
</td>
<td align="right">
   -.72
</td>
<td align="right">
    .03
</td>
<td align="right">
     1
</td>
<td align="right">
      .03
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   35.87
</td>
<td align="right">
 -.62
</td>
<td align="right">
    2.84
</td>
<td align="right">
    .01
</td>
<td align="right">
    .11
</td>
<td align="right">
     8
</td>
<td align="right">
      .90
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  770.33
</td>
<td align="right">
 -.61
</td>
<td align="right">
 -292.00
</td>
<td align="right">
  -4.90
</td>
<td align="right">
  -2.92
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.92
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
HAL
</td>
<td align="right">
   40.97
</td>
<td align="right">
 -.62
</td>
<td align="right">
 -100.00
</td>
<td align="right">
    .01
</td>
<td align="right">
  -1.00
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.00
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
HES
</td>
<td align="right">
   66.52
</td>
<td align="right">
 -.68
</td>
<td align="right">
     .51
</td>
<td align="right">
   -.15
</td>
<td align="right">
    .07
</td>
<td align="right">
    18
</td>
<td align="right">
     1.20
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
HON
</td>
<td align="right">
   69.71
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.03
</td>
<td align="right">
    .15
</td>
<td align="right">
   -.01
</td>
<td align="right">
    21
</td>
<td align="right">
     -.11
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
HPQ
</td>
<td align="right">
   16.55
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.28
</td>
<td align="right">
    .09
</td>
<td align="right">
    .17
</td>
<td align="right">
     4
</td>
<td align="right">
      .69
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
INTC
</td>
<td align="right">
   21.26
</td>
<td align="right">
 -.70
</td>
<td align="right">
  -14.57
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.30
</td>
<td align="right">
     3
</td>
<td align="right">
     -.91
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  520.01
</td>
<td align="right">
 -.68
</td>
<td align="right">
    6.54
</td>
<td align="right">
    .52
</td>
<td align="right">
   2.18
</td>
<td align="right">
     2
</td>
<td align="right">
     4.35
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   76.20
</td>
<td align="right">
 -.78
</td>
<td align="right">
    8.12
</td>
<td align="right">
   -.21
</td>
<td align="right">
    .84
</td>
<td align="right">
    23
</td>
<td align="right">
    19.24
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
MRO
</td>
<td align="right">
   34.60
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -2.03
</td>
<td align="right">
   -.25
</td>
<td align="right">
   -.33
</td>
<td align="right">
     5
</td>
<td align="right">
    -1.65
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   65.00
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .42
</td>
<td align="right">
    .07
</td>
<td align="right">
    .06
</td>
<td align="right">
     2
</td>
<td align="right">
      .12
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
PAAS
</td>
<td align="right">
   17.77
</td>
<td align="right">
 -.68
</td>
<td align="right">
    2.83
</td>
<td align="right">
    .01
</td>
<td align="right">
    .09
</td>
<td align="right">
    18
</td>
<td align="right">
     1.57
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   87.96
</td>
<td align="right">
 -.57
</td>
<td align="right">
  -27.00
</td>
<td align="right">
   -.23
</td>
<td align="right">
   -.27
</td>
<td align="right">
     1
</td>
<td align="right">
     -.27
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   63.20
</td>
<td align="right">
 -.70
</td>
<td align="right">
     .54
</td>
<td align="right">
    .06
</td>
<td align="right">
    .10
</td>
<td align="right">
    11
</td>
<td align="right">
     1.08
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   67.11
</td>
<td align="right">
 -.57
</td>
<td align="right">
  -14.00
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.14
</td>
<td align="right">
     1
</td>
<td align="right">
     -.14
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   66.76
</td>
<td align="right">
 -.56
</td>
<td align="right">
   43.00
</td>
<td align="right">
    .30
</td>
<td align="right">
    .43
</td>
<td align="right">
     1
</td>
<td align="right">
      .43
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
RTN
</td>
<td align="right">
   53.37
</td>
<td align="right">
 -.62
</td>
<td align="right">
    1.00
</td>
<td align="right">
   -.17
</td>
<td align="right">
    .01
</td>
<td align="right">
     1
</td>
<td align="right">
      .01
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   56.28
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -4.95
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.28
</td>
<td align="right">
     2
</td>
<td align="right">
     -.56
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   30.78
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .03
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .00
</td>
<td align="right">
    10
</td>
<td align="right">
      .01
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   36.25
</td>
<td align="right">
 -.63
</td>
<td align="right">
   10.16
</td>
<td align="right">
    .37
</td>
<td align="right">
    .63
</td>
<td align="right">
     5
</td>
<td align="right">
     3.16
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   45.67
</td>
<td align="right">
 -.71
</td>
<td align="right">
   17.80
</td>
<td align="right">
    .15
</td>
<td align="right">
   1.09
</td>
<td align="right">
     2
</td>
<td align="right">
     2.19
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    4.38
</td>
<td align="right">
 -.73
</td>
<td align="right">
   -7.81
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.09
</td>
<td align="right">
    20
</td>
<td align="right">
    -1.82
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   57.69
</td>
<td align="right">
 -.68
</td>
<td align="right">
  -20.82
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.43
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.30
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
UNP
</td>
<td align="right">
  132.94
</td>
<td align="right">
 -.70
</td>
<td align="right">
     .09
</td>
<td align="right">
    .04
</td>
<td align="right">
    .03
</td>
<td align="right">
    56
</td>
<td align="right">
     1.51
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   94.99
</td>
<td align="right">
 -.65
</td>
<td align="right">
 -164.00
</td>
<td align="right">
    .07
</td>
<td align="right">
  -1.64
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.64
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
X
</td>
<td align="right">
   22.30
</td>
<td align="right">
 -.67
</td>
<td align="right">
    9.16
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .47
</td>
<td align="right">
    10
</td>
<td align="right">
     4.67
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   77.98
</td>
<td align="right">
 -.57
</td>
<td align="right">
    4.00
</td>
<td align="right">
   -.11
</td>
<td align="right">
    .04
</td>
<td align="right">
     1
</td>
<td align="right">
      .04
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   90.02
</td>
<td align="right">
 -.59
</td>
<td align="right">
  -42.00
</td>
<td align="right">
   -.79
</td>
<td align="right">
   -.42
</td>
<td align="right">
     1
</td>
<td align="right">
     -.42
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
YUM
</td>
<td align="right">
   62.11
</td>
<td align="right">
 -.66
</td>
<td align="right">
   81.00
</td>
<td align="right">
   -.32
</td>
<td align="right">
    .81
</td>
<td align="right">
     1
</td>
<td align="right">
      .81
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   584
</td>
<td align="right">
    44.88
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   85.74
</td>
<td align="right">
  .64
</td>
<td align="right">
    1.74
</td>
<td align="right">
    .20
</td>
<td align="right">
   1.19
</td>
<td align="right">
     3
</td>
<td align="right">
     3.57
</td>
<td align="right">
    .69
</td>
</tr>
<tr>
<td>
APA
</td>
<td align="right">
   84.68
</td>
<td align="right">
  .67
</td>
<td align="right">
   27.00
</td>
<td align="right">
    .04
</td>
<td align="right">
    .27
</td>
<td align="right">
     1
</td>
<td align="right">
      .27
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   19.83
</td>
<td align="right">
  .68
</td>
<td align="right">
    9.53
</td>
<td align="right">
    .00
</td>
<td align="right">
    .25
</td>
<td align="right">
     6
</td>
<td align="right">
     1.51
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
BP
</td>
<td align="right">
   44.25
</td>
<td align="right">
  .63
</td>
<td align="right">
  -39.00
</td>
<td align="right">
   -.72
</td>
<td align="right">
   -.39
</td>
<td align="right">
     1
</td>
<td align="right">
     -.39
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BRCM
</td>
<td align="right">
   32.59
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.67
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.14
</td>
<td align="right">
    12
</td>
<td align="right">
    -1.68
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
BTU
</td>
<td align="right">
   24.14
</td>
<td align="right">
  .58
</td>
<td align="right">
     .00
</td>
<td align="right">
    .00
</td>
<td align="right">
    .00
</td>
<td align="right">
     3
</td>
<td align="right">
      .00
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
C
</td>
<td align="right">
   43.14
</td>
<td align="right">
  .58
</td>
<td align="right">
   -4.48
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.35
</td>
<td align="right">
     9
</td>
<td align="right">
    -3.11
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
CAT
</td>
<td align="right">
   98.76
</td>
<td align="right">
  .61
</td>
<td align="right">
   -4.66
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.69
</td>
<td align="right">
    10
</td>
<td align="right">
    -6.88
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   37.48
</td>
<td align="right">
  .57
</td>
<td align="right">
   -1.18
</td>
<td align="right">
   -.18
</td>
<td align="right">
   -.08
</td>
<td align="right">
     2
</td>
<td align="right">
     -.15
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  310.19
</td>
<td align="right">
  .67
</td>
<td align="right">
    6.58
</td>
<td align="right">
  -2.73
</td>
<td align="right">
  11.18
</td>
<td align="right">
     9
</td>
<td align="right">
   100.58
</td>
<td align="right">
   1.70
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   43.99
</td>
<td align="right">
  .59
</td>
<td align="right">
    3.44
</td>
<td align="right">
    .23
</td>
<td align="right">
    .49
</td>
<td align="right">
     4
</td>
<td align="right">
     1.94
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   21.12
</td>
<td align="right">
  .63
</td>
<td align="right">
    8.00
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .08
</td>
<td align="right">
     1
</td>
<td align="right">
      .08
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CSX
</td>
<td align="right">
   21.70
</td>
<td align="right">
  .62
</td>
<td align="right">
   -3.89
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.11
</td>
<td align="right">
     2
</td>
<td align="right">
     -.22
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   33.62
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.96
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.18
</td>
<td align="right">
     8
</td>
<td align="right">
    -1.45
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   93.65
</td>
<td align="right">
  .68
</td>
<td align="right">
   -5.80
</td>
<td align="right">
   -.22
</td>
<td align="right">
  -1.02
</td>
<td align="right">
    22
</td>
<td align="right">
   -22.47
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   35.93
</td>
<td align="right">
  .59
</td>
<td align="right">
    7.00
</td>
<td align="right">
   -.13
</td>
<td align="right">
    .07
</td>
<td align="right">
     1
</td>
<td align="right">
      .07
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
  103.59
</td>
<td align="right">
  .62
</td>
<td align="right">
   12.85
</td>
<td align="right">
    .20
</td>
<td align="right">
   2.15
</td>
<td align="right">
     9
</td>
<td align="right">
    19.36
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
   29.31
</td>
<td align="right">
  .57
</td>
<td align="right">
    1.05
</td>
<td align="right">
   -.21
</td>
<td align="right">
    .98
</td>
<td align="right">
     2
</td>
<td align="right">
     1.96
</td>
<td align="right">
    .93
</td>
</tr>
<tr>
<td>
GD
</td>
<td align="right">
   65.25
</td>
<td align="right">
  .63
</td>
<td align="right">
    5.40
</td>
<td align="right">
    .36
</td>
<td align="right">
    .89
</td>
<td align="right">
     5
</td>
<td align="right">
     4.43
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
GFI
</td>
<td align="right">
   12.01
</td>
<td align="right">
  .60
</td>
<td align="right">
  -14.00
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.14
</td>
<td align="right">
     1
</td>
<td align="right">
     -.14
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  150.53
</td>
<td align="right">
  .70
</td>
<td align="right">
    -.89
</td>
<td align="right">
   -.27
</td>
<td align="right">
   -.22
</td>
<td align="right">
    22
</td>
<td align="right">
    -4.94
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   56.68
</td>
<td align="right">
  .67
</td>
<td align="right">
    2.20
</td>
<td align="right">
    .33
</td>
<td align="right">
   1.12
</td>
<td align="right">
    16
</td>
<td align="right">
    17.95
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   90.15
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.57
</td>
<td align="right">
   -.18
</td>
<td align="right">
   -.08
</td>
<td align="right">
    16
</td>
<td align="right">
    -1.22
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
JPM
</td>
<td align="right">
   48.70
</td>
<td align="right">
  .58
</td>
<td align="right">
  -14.00
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.14
</td>
<td align="right">
     1
</td>
<td align="right">
     -.14
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  518.51
</td>
<td align="right">
  .62
</td>
<td align="right">
    7.40
</td>
<td align="right">
   1.64
</td>
<td align="right">
   3.08
</td>
<td align="right">
     3
</td>
<td align="right">
     9.23
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
MAR
</td>
<td align="right">
   40.03
</td>
<td align="right">
  .69
</td>
<td align="right">
    6.06
</td>
<td align="right">
    .12
</td>
<td align="right">
    .57
</td>
<td align="right">
    13
</td>
<td align="right">
     7.36
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
MCD
</td>
<td align="right">
   95.20
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.53
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.05
</td>
<td align="right">
    19
</td>
<td align="right">
    -1.01
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  199.88
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.71
</td>
<td align="right">
   -.10
</td>
<td align="right">
    .60
</td>
<td align="right">
    15
</td>
<td align="right">
     9.05
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   37.76
</td>
<td align="right">
  .62
</td>
<td align="right">
   -1.32
</td>
<td align="right">
   -.40
</td>
<td align="right">
   -.32
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.28
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   61.15
</td>
<td align="right">
  .66
</td>
<td align="right">
    2.24
</td>
<td align="right">
    .20
</td>
<td align="right">
    .12
</td>
<td align="right">
    12
</td>
<td align="right">
     1.43
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   27.55
</td>
<td align="right">
  .62
</td>
<td align="right">
   -6.27
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.25
</td>
<td align="right">
     3
</td>
<td align="right">
     -.76
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
   10.59
</td>
<td align="right">
  .59
</td>
<td align="right">
    2.02
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .07
</td>
<td align="right">
     7
</td>
<td align="right">
      .50
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
NTAP
</td>
<td align="right">
   36.01
</td>
<td align="right">
  .70
</td>
<td align="right">
     .37
</td>
<td align="right">
    .04
</td>
<td align="right">
    .03
</td>
<td align="right">
     5
</td>
<td align="right">
      .17
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   46.24
</td>
<td align="right">
  .62
</td>
<td align="right">
    5.58
</td>
<td align="right">
    .38
</td>
<td align="right">
    .71
</td>
<td align="right">
     2
</td>
<td align="right">
     1.42
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
ORCL
</td>
<td align="right">
   35.54
</td>
<td align="right">
  .65
</td>
<td align="right">
  -10.31
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.44
</td>
<td align="right">
    10
</td>
<td align="right">
    -4.43
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
OXY
</td>
<td align="right">
   88.35
</td>
<td align="right">
  .75
</td>
<td align="right">
     .67
</td>
<td align="right">
   -.34
</td>
<td align="right">
    .13
</td>
<td align="right">
    12
</td>
<td align="right">
     1.58
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   73.90
</td>
<td align="right">
  .75
</td>
<td align="right">
    2.54
</td>
<td align="right">
    .31
</td>
<td align="right">
   1.35
</td>
<td align="right">
    30
</td>
<td align="right">
    40.47
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   49.87
</td>
<td align="right">
  .63
</td>
<td align="right">
    3.59
</td>
<td align="right">
    .31
</td>
<td align="right">
    .57
</td>
<td align="right">
     8
</td>
<td align="right">
     4.53
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   37.82
</td>
<td align="right">
  .80
</td>
<td align="right">
    1.77
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .19
</td>
<td align="right">
    19
</td>
<td align="right">
     3.62
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   54.94
</td>
<td align="right">
  .76
</td>
<td align="right">
    4.72
</td>
<td align="right">
   -.06
</td>
<td align="right">
   1.04
</td>
<td align="right">
     2
</td>
<td align="right">
     2.07
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
TM
</td>
<td align="right">
   98.46
</td>
<td align="right">
  .60
</td>
<td align="right">
   23.52
</td>
<td align="right">
    .31
</td>
<td align="right">
   3.74
</td>
<td align="right">
     3
</td>
<td align="right">
    11.21
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
UPS
</td>
<td align="right">
   80.73
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.32
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.07
</td>
<td align="right">
     5
</td>
<td align="right">
     -.33
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
WAG
</td>
<td align="right">
   40.55
</td>
<td align="right">
  .74
</td>
<td align="right">
   32.00
</td>
<td align="right">
    .50
</td>
<td align="right">
    .32
</td>
<td align="right">
     1
</td>
<td align="right">
      .32
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WDC
</td>
<td align="right">
   46.65
</td>
<td align="right">
  .63
</td>
<td align="right">
   13.70
</td>
<td align="right">
    .39
</td>
<td align="right">
   1.24
</td>
<td align="right">
     5
</td>
<td align="right">
     6.21
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
WFC
</td>
<td align="right">
   34.99
</td>
<td align="right">
  .68
</td>
<td align="right">
   -1.15
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.13
</td>
<td align="right">
     8
</td>
<td align="right">
    -1.07
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   94.44
</td>
<td align="right">
  .70
</td>
<td align="right">
  -11.04
</td>
<td align="right">
  -1.28
</td>
<td align="right">
  -1.22
</td>
<td align="right">
     4
</td>
<td align="right">
    -4.87
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
  110.76
</td>
<td align="right">
  .62
</td>
<td align="right">
   -2.66
</td>
<td align="right">
    .13
</td>
<td align="right">
  -1.65
</td>
<td align="right">
    12
</td>
<td align="right">
   -19.82
</td>
<td align="right">
    .62
</td>
</tr>
<tr>
<td>
X
</td>
<td align="right">
   22.32
</td>
<td align="right">
  .57
</td>
<td align="right">
   37.00
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .37
</td>
<td align="right">
     1
</td>
<td align="right">
      .37
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   39.41
</td>
<td align="right">
  .57
</td>
<td align="right">
   -9.00
</td>
<td align="right">
   -.22
</td>
<td align="right">
   -.09
</td>
<td align="right">
     1
</td>
<td align="right">
     -.09
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   370
</td>
<td align="right">
   174.81
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
