<h4>Week of: 2012_12_03</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABX
</td>
<td align="right">
   33.60
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .28
</td>
<td align="right">
   -.20
</td>
<td align="right">
    .02
</td>
<td align="right">
     2
</td>
<td align="right">
      .04
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
AGU
</td>
<td align="right">
  102.38
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -4.33
</td>
<td align="right">
   -.81
</td>
<td align="right">
  -1.62
</td>
<td align="right">
     4
</td>
<td align="right">
    -6.46
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   88.84
</td>
<td align="right">
 -.71
</td>
<td align="right">
  -90.00
</td>
<td align="right">
   -.42
</td>
<td align="right">
   -.90
</td>
<td align="right">
     1
</td>
<td align="right">
     -.90
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  251.25
</td>
<td align="right">
 -.70
</td>
<td align="right">
    1.01
</td>
<td align="right">
    .20
</td>
<td align="right">
   1.54
</td>
<td align="right">
   116
</td>
<td align="right">
   178.77
</td>
<td align="right">
   1.53
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   74.38
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .16
</td>
<td align="right">
   -.09
</td>
<td align="right">
    .15
</td>
<td align="right">
    52
</td>
<td align="right">
     7.68
</td>
<td align="right">
    .95
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   30.35
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.52
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.18
</td>
<td align="right">
    14
</td>
<td align="right">
    -2.45
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
AXP
</td>
<td align="right">
   56.11
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.19
</td>
<td align="right">
   -.23
</td>
<td align="right">
   -.09
</td>
<td align="right">
    10
</td>
<td align="right">
     -.87
</td>
<td align="right">
    .46
</td>
</tr>
<tr>
<td>
BHP
</td>
<td align="right">
   71.55
</td>
<td align="right">
 -.69
</td>
<td align="right">
    7.31
</td>
<td align="right">
    .04
</td>
<td align="right">
   1.40
</td>
<td align="right">
     9
</td>
<td align="right">
    12.61
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
   92.25
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.66
</td>
<td align="right">
   -.08
</td>
<td align="right">
  -2.75
</td>
<td align="right">
    28
</td>
<td align="right">
   -76.95
</td>
<td align="right">
   4.14
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   29.48
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.29
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.13
</td>
<td align="right">
    35
</td>
<td align="right">
    -4.42
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
COP
</td>
<td align="right">
   57.42
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .15
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .06
</td>
<td align="right">
    23
</td>
<td align="right">
     1.42
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
COST
</td>
<td align="right">
  105.23
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -1.89
</td>
<td align="right">
  -3.60
</td>
<td align="right">
  -5.60
</td>
<td align="right">
    11
</td>
<td align="right">
   -61.65
</td>
<td align="right">
   2.97
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  155.98
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .01
</td>
<td align="right">
    .39
</td>
<td align="right">
    .02
</td>
<td align="right">
     3
</td>
<td align="right">
      .07
</td>
<td align="right">
   1.87
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   33.74
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.66
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.19
</td>
<td align="right">
     3
</td>
<td align="right">
     -.58
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   46.27
</td>
<td align="right">
 -.58
</td>
<td align="right">
   35.00
</td>
<td align="right">
    .02
</td>
<td align="right">
    .35
</td>
<td align="right">
     1
</td>
<td align="right">
      .35
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CVX
</td>
<td align="right">
  105.31
</td>
<td align="right">
 -.64
</td>
<td align="right">
    1.97
</td>
<td align="right">
    .26
</td>
<td align="right">
    .65
</td>
<td align="right">
    18
</td>
<td align="right">
    11.66
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   42.56
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .72
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .13
</td>
<td align="right">
    10
</td>
<td align="right">
     1.26
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  129.85
</td>
<td align="right">
 -.58
</td>
<td align="right">
    6.15
</td>
<td align="right">
    .45
</td>
<td align="right">
    .57
</td>
<td align="right">
     2
</td>
<td align="right">
     1.13
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   49.64
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -2.24
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.63
</td>
<td align="right">
     4
</td>
<td align="right">
    -2.50
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
DNDN
</td>
<td align="right">
    4.49
</td>
<td align="right">
 -.72
</td>
<td align="right">
    -.04
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.01
</td>
<td align="right">
    60
</td>
<td align="right">
     -.35
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   29.57
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.03
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.01
</td>
<td align="right">
    10
</td>
<td align="right">
     -.07
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   49.44
</td>
<td align="right">
 -.58
</td>
<td align="right">
    6.82
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .30
</td>
<td align="right">
     4
</td>
<td align="right">
     1.20
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
EGO
</td>
<td align="right">
   13.62
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.53
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.12
</td>
<td align="right">
    90
</td>
<td align="right">
   -10.69
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    8.21
</td>
<td align="right">
 -.74
</td>
<td align="right">
   -1.42
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.17
</td>
<td align="right">
   140
</td>
<td align="right">
   -24.29
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   89.04
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .05
</td>
<td align="right">
   -.11
</td>
<td align="right">
    .03
</td>
<td align="right">
     6
</td>
<td align="right">
      .17
</td>
<td align="right">
    .60
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
   94.43
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -4.23
</td>
<td align="right">
   -.46
</td>
<td align="right">
  -1.18
</td>
<td align="right">
    10
</td>
<td align="right">
   -11.82
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
FLS
</td>
<td align="right">
  139.46
</td>
<td align="right">
 -.56
</td>
<td align="right">
   85.00
</td>
<td align="right">
    .81
</td>
<td align="right">
    .85
</td>
<td align="right">
     1
</td>
<td align="right">
      .85
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GD
</td>
<td align="right">
   65.97
</td>
<td align="right">
 -.60
</td>
<td align="right">
   91.00
</td>
<td align="right">
    .03
</td>
<td align="right">
    .91
</td>
<td align="right">
     1
</td>
<td align="right">
      .91
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GFI
</td>
<td align="right">
   11.81
</td>
<td align="right">
 -.75
</td>
<td align="right">
   -1.48
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.13
</td>
<td align="right">
    31
</td>
<td align="right">
    -4.11
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   37.93
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.53
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.61
</td>
<td align="right">
    26
</td>
<td align="right">
   -15.80
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  116.80
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.09
</td>
<td align="right">
    .15
</td>
<td align="right">
   -.06
</td>
<td align="right">
    18
</td>
<td align="right">
    -1.05
</td>
<td align="right">
    .66
</td>
</tr>
<tr>
<td>
HAL
</td>
<td align="right">
   33.22
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .49
</td>
<td align="right">
    .02
</td>
<td align="right">
    .10
</td>
<td align="right">
    20
</td>
<td align="right">
     2.08
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
HES
</td>
<td align="right">
   49.92
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -3.41
</td>
<td align="right">
   -.29
</td>
<td align="right">
   -.77
</td>
<td align="right">
    24
</td>
<td align="right">
   -18.53
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
HON
</td>
<td align="right">
   61.53
</td>
<td align="right">
 -.71
</td>
<td align="right">
   -2.06
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.26
</td>
<td align="right">
    11
</td>
<td align="right">
    -2.81
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
IBM
</td>
<td align="right">
  188.61
</td>
<td align="right">
 -.56
</td>
<td align="right">
  102.00
</td>
<td align="right">
    .39
</td>
<td align="right">
   1.02
</td>
<td align="right">
     1
</td>
<td align="right">
     1.02
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
INTC
</td>
<td align="right">
   19.83
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .50
</td>
<td align="right">
    .02
</td>
<td align="right">
    .04
</td>
<td align="right">
    15
</td>
<td align="right">
      .61
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   55.50
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -6.11
</td>
<td align="right">
   -.14
</td>
<td align="right">
  -1.90
</td>
<td align="right">
     2
</td>
<td align="right">
    -3.80
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
JNJ
</td>
<td align="right">
   70.16
</td>
<td align="right">
 -.79
</td>
<td align="right">
   13.00
</td>
<td align="right">
   -.12
</td>
<td align="right">
    .13
</td>
<td align="right">
     1
</td>
<td align="right">
      .13
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   45.51
</td>
<td align="right">
 -.64
</td>
<td align="right">
  -31.07
</td>
<td align="right">
   -.92
</td>
<td align="right">
  -1.73
</td>
<td align="right">
     3
</td>
<td align="right">
    -5.19
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  487.47
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -3.10
</td>
<td align="right">
  -1.06
</td>
<td align="right">
  -5.50
</td>
<td align="right">
    38
</td>
<td align="right">
  -208.92
</td>
<td align="right">
   1.78
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   41.96
</td>
<td align="right">
 -.56
</td>
<td align="right">
    1.04
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .14
</td>
<td align="right">
     3
</td>
<td align="right">
      .42
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   67.07
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.23
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.29
</td>
<td align="right">
     5
</td>
<td align="right">
    -1.47
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
MON
</td>
<td align="right">
   91.18
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.23
</td>
<td align="right">
   -.77
</td>
<td align="right">
  -1.60
</td>
<td align="right">
     7
</td>
<td align="right">
   -11.19
</td>
<td align="right">
   1.30
</td>
</tr>
<tr>
<td>
NEM
</td>
<td align="right">
   44.51
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.52
</td>
<td align="right">
    .09
</td>
<td align="right">
   -.12
</td>
<td align="right">
    10
</td>
<td align="right">
    -1.17
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   66.56
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .64
</td>
<td align="right">
    .03
</td>
<td align="right">
    .19
</td>
<td align="right">
    28
</td>
<td align="right">
     5.42
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   40.94
</td>
<td align="right">
 -.62
</td>
<td align="right">
  -50.00
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.50
</td>
<td align="right">
     1
</td>
<td align="right">
     -.50
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   68.50
</td>
<td align="right">
 -.57
</td>
<td align="right">
  -26.16
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.19
</td>
<td align="right">
     2
</td>
<td align="right">
     -.37
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   90.26
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -2.96
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.80
</td>
<td align="right">
    10
</td>
<td align="right">
    -8.03
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   56.28
</td>
<td align="right">
 -.60
</td>
<td align="right">
  -18.34
</td>
<td align="right">
   -.14
</td>
<td align="right">
  -1.15
</td>
<td align="right">
     4
</td>
<td align="right">
    -4.60
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   38.82
</td>
<td align="right">
 -.64
</td>
<td align="right">
    2.86
</td>
<td align="right">
    .14
</td>
<td align="right">
    .49
</td>
<td align="right">
    29
</td>
<td align="right">
    14.10
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   63.27
</td>
<td align="right">
 -.71
</td>
<td align="right">
     .93
</td>
<td align="right">
    .15
</td>
<td align="right">
    .31
</td>
<td align="right">
    21
</td>
<td align="right">
     6.41
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   11.91
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.24
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.03
</td>
<td align="right">
    13
</td>
<td align="right">
     -.45
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   52.71
</td>
<td align="right">
 -.71
</td>
<td align="right">
     .18
</td>
<td align="right">
    .16
</td>
<td align="right">
    .13
</td>
<td align="right">
    47
</td>
<td align="right">
     6.12
</td>
<td align="right">
    .72
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   42.16
</td>
<td align="right">
 -.72
</td>
<td align="right">
   15.00
</td>
<td align="right">
    .10
</td>
<td align="right">
    .15
</td>
<td align="right">
     1
</td>
<td align="right">
      .15
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SJM
</td>
<td align="right">
   88.87
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -2.47
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.37
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.12
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   19.24
</td>
<td align="right">
 -.60
</td>
<td align="right">
    4.59
</td>
<td align="right">
    .13
</td>
<td align="right">
    .20
</td>
<td align="right">
     3
</td>
<td align="right">
      .60
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   36.21
</td>
<td align="right">
 -.74
</td>
<td align="right">
   -1.23
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.49
</td>
<td align="right">
   141
</td>
<td align="right">
   -69.38
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   39.85
</td>
<td align="right">
 -.66
</td>
<td align="right">
    1.06
</td>
<td align="right">
    .08
</td>
<td align="right">
    .64
</td>
<td align="right">
    23
</td>
<td align="right">
    14.71
</td>
<td align="right">
    .60
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   39.92
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -6.84
</td>
<td align="right">
   -.04
</td>
<td align="right">
  -1.80
</td>
<td align="right">
    43
</td>
<td align="right">
   -77.22
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   44.84
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -3.31
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.59
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.17
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    5.37
</td>
<td align="right">
 -.74
</td>
<td align="right">
   -1.16
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.08
</td>
<td align="right">
   185
</td>
<td align="right">
   -14.84
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   40.66
</td>
<td align="right">
 -.64
</td>
<td align="right">
    3.22
</td>
<td align="right">
    .24
</td>
<td align="right">
    .71
</td>
<td align="right">
    21
</td>
<td align="right">
    14.90
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   62.75
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -2.56
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.88
</td>
<td align="right">
    40
</td>
<td align="right">
   -35.28
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   51.90
</td>
<td align="right">
 -.68
</td>
<td align="right">
    2.69
</td>
<td align="right">
   -.06
</td>
<td align="right">
    .56
</td>
<td align="right">
    40
</td>
<td align="right">
    22.47
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   53.68
</td>
<td align="right">
 -.65
</td>
<td align="right">
    1.04
</td>
<td align="right">
    .02
</td>
<td align="right">
    .23
</td>
<td align="right">
     5
</td>
<td align="right">
     1.14
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
UPS
</td>
<td align="right">
   72.78
</td>
<td align="right">
 -.62
</td>
<td align="right">
    2.52
</td>
<td align="right">
    .13
</td>
<td align="right">
    .41
</td>
<td align="right">
     5
</td>
<td align="right">
     2.04
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
  148.04
</td>
<td align="right">
 -.64
</td>
<td align="right">
   39.00
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .39
</td>
<td align="right">
     1
</td>
<td align="right">
      .39
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   92.42
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -1.94
</td>
<td align="right">
    .10
</td>
<td align="right">
   -.98
</td>
<td align="right">
    14
</td>
<td align="right">
   -13.67
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   71.37
</td>
<td align="right">
 -.60
</td>
<td align="right">
   93.00
</td>
<td align="right">
    .09
</td>
<td align="right">
    .93
</td>
<td align="right">
     1
</td>
<td align="right">
      .93
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  111.78
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.67
</td>
<td align="right">
   -.35
</td>
<td align="right">
  -1.61
</td>
<td align="right">
    40
</td>
<td align="right">
   -64.38
</td>
<td align="right">
   2.40
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   70.91
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .52
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .16
</td>
<td align="right">
    42
</td>
<td align="right">
     6.83
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   87.53
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .59
</td>
<td align="right">
    .06
</td>
<td align="right">
    .24
</td>
<td align="right">
    29
</td>
<td align="right">
     6.86
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
YUM
</td>
<td align="right">
   65.96
</td>
<td align="right">
 -.57
</td>
<td align="right">
    5.93
</td>
<td align="right">
    .18
</td>
<td align="right">
   1.09
</td>
<td align="right">
     2
</td>
<td align="right">
     2.18
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1679
</td>
<td align="right">
  -441.42
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AEM
</td>
<td align="right">
   53.57
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.17
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.17
</td>
<td align="right">
    13
</td>
<td align="right">
    -2.22
</td>
<td align="right">
   1.02
</td>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   53.12
</td>
<td align="right">
  .59
</td>
<td align="right">
   51.00
</td>
<td align="right">
    .07
</td>
<td align="right">
    .51
</td>
<td align="right">
     1
</td>
<td align="right">
      .51
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
APA
</td>
<td align="right">
   76.08
</td>
<td align="right">
  .59
</td>
<td align="right">
   21.94
</td>
<td align="right">
    .04
</td>
<td align="right">
    .13
</td>
<td align="right">
     3
</td>
<td align="right">
      .38
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   20.46
</td>
<td align="right">
  .76
</td>
<td align="right">
    -.31
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.08
</td>
<td align="right">
   156
</td>
<td align="right">
   -13.12
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   30.33
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.69
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.11
</td>
<td align="right">
    24
</td>
<td align="right">
    -2.67
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   12.28
</td>
<td align="right">
  .70
</td>
<td align="right">
   -3.89
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.11
</td>
<td align="right">
     2
</td>
<td align="right">
     -.22
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
BEN
</td>
<td align="right">
  129.62
</td>
<td align="right">
  .67
</td>
<td align="right">
   -1.57
</td>
<td align="right">
   -.41
</td>
<td align="right">
  -1.86
</td>
<td align="right">
    82
</td>
<td align="right">
  -152.32
</td>
<td align="right">
   1.19
</td>
</tr>
<tr>
<td>
CAT
</td>
<td align="right">
   84.34
</td>
<td align="right">
  .64
</td>
<td align="right">
    3.97
</td>
<td align="right">
    .60
</td>
<td align="right">
   1.64
</td>
<td align="right">
     8
</td>
<td align="right">
    13.09
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  213.47
</td>
<td align="right">
  .61
</td>
<td align="right">
     .12
</td>
<td align="right">
   -.92
</td>
<td align="right">
    .33
</td>
<td align="right">
    10
</td>
<td align="right">
     3.27
</td>
<td align="right">
   2.71
</td>
</tr>
<tr>
<td>
CMI
</td>
<td align="right">
   97.55
</td>
<td align="right">
  .60
</td>
<td align="right">
   34.15
</td>
<td align="right">
    .20
</td>
<td align="right">
   4.29
</td>
<td align="right">
     8
</td>
<td align="right">
    34.30
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   57.25
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.55
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.15
</td>
<td align="right">
    14
</td>
<td align="right">
    -2.13
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
COST
</td>
<td align="right">
   98.67
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.26
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.02
</td>
<td align="right">
     9
</td>
<td align="right">
     -.22
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  157.59
</td>
<td align="right">
  .68
</td>
<td align="right">
    -.93
</td>
<td align="right">
   -.37
</td>
<td align="right">
   -.66
</td>
<td align="right">
    49
</td>
<td align="right">
   -32.20
</td>
<td align="right">
    .71
</td>
</tr>
<tr>
<td>
CSX
</td>
<td align="right">
   20.14
</td>
<td align="right">
  .65
</td>
<td align="right">
   -5.64
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.19
</td>
<td align="right">
     4
</td>
<td align="right">
     -.76
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   33.65
</td>
<td align="right">
  .60
</td>
<td align="right">
     .28
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .07
</td>
<td align="right">
    14
</td>
<td align="right">
     1.03
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
CVX
</td>
<td align="right">
  106.05
</td>
<td align="right">
  .66
</td>
<td align="right">
    3.54
</td>
<td align="right">
    .04
</td>
<td align="right">
    .59
</td>
<td align="right">
    35
</td>
<td align="right">
    20.79
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   83.95
</td>
<td align="right">
  .60
</td>
<td align="right">
     .31
</td>
<td align="right">
    .09
</td>
<td align="right">
    .20
</td>
<td align="right">
    25
</td>
<td align="right">
     4.97
</td>
<td align="right">
    .64
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  130.33
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.04
</td>
<td align="right">
    .23
</td>
<td align="right">
    .47
</td>
<td align="right">
     5
</td>
<td align="right">
     2.34
</td>
<td align="right">
    .45
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   49.46
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.59
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.22
</td>
<td align="right">
    26
</td>
<td align="right">
    -5.75
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
DNDN
</td>
<td align="right">
    4.35
</td>
<td align="right">
  .62
</td>
<td align="right">
    2.50
</td>
<td align="right">
    .04
</td>
<td align="right">
    .22
</td>
<td align="right">
    20
</td>
<td align="right">
     4.45
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
DO
</td>
<td align="right">
   68.80
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.53
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.16
</td>
<td align="right">
    15
</td>
<td align="right">
    -2.39
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   29.60
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.20
</td>
<td align="right">
    .07
</td>
<td align="right">
    .19
</td>
<td align="right">
     5
</td>
<td align="right">
      .93
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
ESRX
</td>
<td align="right">
   54.17
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.51
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.22
</td>
<td align="right">
    35
</td>
<td align="right">
    -7.79
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   52.31
</td>
<td align="right">
  .60
</td>
<td align="right">
    3.06
</td>
<td align="right">
    .09
</td>
<td align="right">
    .59
</td>
<td align="right">
     2
</td>
<td align="right">
     1.17
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   38.40
</td>
<td align="right">
  .57
</td>
<td align="right">
 -547.00
</td>
<td align="right">
   -.21
</td>
<td align="right">
  -5.47
</td>
<td align="right">
     1
</td>
<td align="right">
    -5.47
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   89.13
</td>
<td align="right">
  .66
</td>
<td align="right">
     .00
</td>
<td align="right">
   -.10
</td>
<td align="right">
    .01
</td>
<td align="right">
     2
</td>
<td align="right">
      .01
</td>
<td align="right">
   1.08
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
   92.47
</td>
<td align="right">
  .67
</td>
<td align="right">
     .07
</td>
<td align="right">
    .19
</td>
<td align="right">
    .05
</td>
<td align="right">
    36
</td>
<td align="right">
     1.67
</td>
<td align="right">
    .71
</td>
</tr>
<tr>
<td>
FLS
</td>
<td align="right">
  141.24
</td>
<td align="right">
  .81
</td>
<td align="right">
    2.13
</td>
<td align="right">
    .00
</td>
<td align="right">
    .74
</td>
<td align="right">
    48
</td>
<td align="right">
    35.28
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
   29.99
</td>
<td align="right">
  .69
</td>
<td align="right">
    1.63
</td>
<td align="right">
    .05
</td>
<td align="right">
    .62
</td>
<td align="right">
    85
</td>
<td align="right">
    52.38
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  117.12
</td>
<td align="right">
  .64
</td>
<td align="right">
     .00
</td>
<td align="right">
   -.29
</td>
<td align="right">
    .00
</td>
<td align="right">
    21
</td>
<td align="right">
     -.04
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
HD
</td>
<td align="right">
   64.06
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.73
</td>
<td align="right">
    .19
</td>
<td align="right">
    .22
</td>
<td align="right">
     2
</td>
<td align="right">
      .44
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
HMY
</td>
<td align="right">
    7.56
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.85
</td>
<td align="right">
    .05
</td>
<td align="right">
    .06
</td>
<td align="right">
     3
</td>
<td align="right">
      .17
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   82.18
</td>
<td align="right">
  .57
</td>
<td align="right">
  -24.00
</td>
<td align="right">
   -.30
</td>
<td align="right">
   -.24
</td>
<td align="right">
     1
</td>
<td align="right">
     -.24
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
JNJ
</td>
<td align="right">
   70.02
</td>
<td align="right">
  .64
</td>
<td align="right">
     .68
</td>
<td align="right">
    .02
</td>
<td align="right">
    .12
</td>
<td align="right">
    26
</td>
<td align="right">
     2.99
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
JOY
</td>
<td align="right">
   55.61
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.41
</td>
<td align="right">
   -.10
</td>
<td align="right">
   1.57
</td>
<td align="right">
     8
</td>
<td align="right">
    12.53
</td>
<td align="right">
   1.11
</td>
</tr>
<tr>
<td>
LLY
</td>
<td align="right">
   49.40
</td>
<td align="right">
  .60
</td>
<td align="right">
     .29
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .06
</td>
<td align="right">
     3
</td>
<td align="right">
      .18
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  478.75
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.22
</td>
<td align="right">
   -.58
</td>
<td align="right">
   -.57
</td>
<td align="right">
    49
</td>
<td align="right">
   -28.17
</td>
<td align="right">
   2.58
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   42.23
</td>
<td align="right">
  .62
</td>
<td align="right">
     .08
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .02
</td>
<td align="right">
    18
</td>
<td align="right">
      .33
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  181.90
</td>
<td align="right">
  .64
</td>
<td align="right">
    1.09
</td>
<td align="right">
    .10
</td>
<td align="right">
    .20
</td>
<td align="right">
    17
</td>
<td align="right">
     3.48
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   67.84
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.66
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.41
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.22
</td>
<td align="right">
    .62
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   44.53
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.86
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.07
</td>
<td align="right">
    12
</td>
<td align="right">
     -.89
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
   85.43
</td>
<td align="right">
  .65
</td>
<td align="right">
     .18
</td>
<td align="right">
   -.81
</td>
<td align="right">
    .46
</td>
<td align="right">
    17
</td>
<td align="right">
     7.89
</td>
<td align="right">
   2.65
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   40.53
</td>
<td align="right">
  .60
</td>
<td align="right">
     .13
</td>
<td align="right">
    .04
</td>
<td align="right">
    .04
</td>
<td align="right">
    67
</td>
<td align="right">
     2.87
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   66.93
</td>
<td align="right">
  .73
</td>
<td align="right">
     .73
</td>
<td align="right">
    .04
</td>
<td align="right">
    .56
</td>
<td align="right">
    73
</td>
<td align="right">
    40.54
</td>
<td align="right">
    .76
</td>
</tr>
<tr>
<td>
PEP
</td>
<td align="right">
   69.88
</td>
<td align="right">
  .60
</td>
<td align="right">
     .34
</td>
<td align="right">
    .02
</td>
<td align="right">
    .07
</td>
<td align="right">
    36
</td>
<td align="right">
     2.44
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   88.93
</td>
<td align="right">
  .62
</td>
<td align="right">
     .27
</td>
<td align="right">
   -.06
</td>
<td align="right">
    .14
</td>
<td align="right">
    15
</td>
<td align="right">
     2.08
</td>
<td align="right">
    .52
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   54.84
</td>
<td align="right">
  .60
</td>
<td align="right">
    2.80
</td>
<td align="right">
    .31
</td>
<td align="right">
   1.26
</td>
<td align="right">
    20
</td>
<td align="right">
    25.25
</td>
<td align="right">
    .45
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   11.59
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.87
</td>
<td align="right">
    .01
</td>
<td align="right">
    .28
</td>
<td align="right">
    28
</td>
<td align="right">
     7.97
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   42.89
</td>
<td align="right">
  .69
</td>
<td align="right">
    -.85
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.71
</td>
<td align="right">
    62
</td>
<td align="right">
   -43.81
</td>
<td align="right">
    .83
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   19.54
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.91
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.21
</td>
<td align="right">
    27
</td>
<td align="right">
    -5.61
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
SLB
</td>
<td align="right">
   71.41
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.29
</td>
<td align="right">
    .08
</td>
<td align="right">
    .16
</td>
<td align="right">
     2
</td>
<td align="right">
      .31
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   39.85
</td>
<td align="right">
  .60
</td>
<td align="right">
     .18
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .07
</td>
<td align="right">
     3
</td>
<td align="right">
      .22
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   41.44
</td>
<td align="right">
  .66
</td>
<td align="right">
    3.47
</td>
<td align="right">
    .21
</td>
<td align="right">
    .53
</td>
<td align="right">
     5
</td>
<td align="right">
     2.67
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   62.02
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.35
</td>
<td align="right">
    .10
</td>
<td align="right">
   -.08
</td>
<td align="right">
    18
</td>
<td align="right">
    -1.39
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
TM
</td>
<td align="right">
   85.49
</td>
<td align="right">
  .67
</td>
<td align="right">
     .18
</td>
<td align="right">
    .01
</td>
<td align="right">
    .04
</td>
<td align="right">
    74
</td>
<td align="right">
     2.93
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   52.24
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.62
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.24
</td>
<td align="right">
    69
</td>
<td align="right">
   -16.32
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
  148.43
</td>
<td align="right">
  .63
</td>
<td align="right">
   -1.52
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.38
</td>
<td align="right">
     2
</td>
<td align="right">
     -.75
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
WAG
</td>
<td align="right">
   34.20
</td>
<td align="right">
  .60
</td>
<td align="right">
  156.00
</td>
<td align="right">
    .00
</td>
<td align="right">
   1.56
</td>
<td align="right">
     1
</td>
<td align="right">
     1.56
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WDC
</td>
<td align="right">
   36.02
</td>
<td align="right">
  .66
</td>
<td align="right">
    2.30
</td>
<td align="right">
    .39
</td>
<td align="right">
    .94
</td>
<td align="right">
    12
</td>
<td align="right">
    11.25
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
WFC
</td>
<td align="right">
   32.58
</td>
<td align="right">
  .72
</td>
<td align="right">
    2.44
</td>
<td align="right">
    .03
</td>
<td align="right">
    .40
</td>
<td align="right">
    46
</td>
<td align="right">
    18.21
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   91.19
</td>
<td align="right">
  .57
</td>
<td align="right">
  -61.00
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.61
</td>
<td align="right">
     1
</td>
<td align="right">
     -.61
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   98.90
</td>
<td align="right">
  .58
</td>
<td align="right">
   -1.19
</td>
<td align="right">
    .14
</td>
<td align="right">
  -1.46
</td>
<td align="right">
     5
</td>
<td align="right">
    -7.28
</td>
<td align="right">
   1.22
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   71.60
</td>
<td align="right">
  .58
</td>
<td align="right">
     .75
</td>
<td align="right">
   -.10
</td>
<td align="right">
    .46
</td>
<td align="right">
     4
</td>
<td align="right">
     1.84
</td>
<td align="right">
    .62
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  110.73
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.32
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.36
</td>
<td align="right">
     7
</td>
<td align="right">
    -2.55
</td>
<td align="right">
   1.13
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1494
</td>
<td align="right">
   -11.42
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
