<h4>Week of: 2011_12_12</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  124.76
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -7.91
</td>
<td align="right">
   -.28
</td>
<td align="right">
  -6.88
</td>
<td align="right">
     6
</td>
<td align="right">
   -41.30
</td>
<td align="right">
    .87
</td>
</tr>
<tr>
<td>
BRCM
</td>
<td align="right">
   29.67
</td>
<td align="right">
 -.63
</td>
<td align="right">
  -34.00
</td>
<td align="right">
   -.26
</td>
<td align="right">
   -.34
</td>
<td align="right">
     1
</td>
<td align="right">
     -.34
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  189.13
</td>
<td align="right">
 -.65
</td>
<td align="right">
 -524.00
</td>
<td align="right">
    .07
</td>
<td align="right">
  -5.24
</td>
<td align="right">
     1
</td>
<td align="right">
    -5.24
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   65.45
</td>
<td align="right">
 -.60
</td>
<td align="right">
 -240.00
</td>
<td align="right">
  -1.77
</td>
<td align="right">
  -2.40
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.40
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CVX
</td>
<td align="right">
  104.52
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -2.16
</td>
<td align="right">
   -.01
</td>
<td align="right">
  -2.81
</td>
<td align="right">
     9
</td>
<td align="right">
   -25.26
</td>
<td align="right">
   1.30
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   36.95
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -7.48
</td>
<td align="right">
   -.28
</td>
<td align="right">
  -1.44
</td>
<td align="right">
     7
</td>
<td align="right">
   -10.08
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
EGO
</td>
<td align="right">
   15.88
</td>
<td align="right">
 -.57
</td>
<td align="right">
 -129.00
</td>
<td align="right">
   -.16
</td>
<td align="right">
  -1.29
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.29
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
EOG
</td>
<td align="right">
  101.15
</td>
<td align="right">
 -.59
</td>
<td align="right">
  -11.07
</td>
<td align="right">
   -.57
</td>
<td align="right">
  -6.74
</td>
<td align="right">
    12
</td>
<td align="right">
   -80.92
</td>
<td align="right">
    .61
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   38.31
</td>
<td align="right">
 -.56
</td>
<td align="right">
     .01
</td>
<td align="right">
    .31
</td>
<td align="right">
    .01
</td>
<td align="right">
     5
</td>
<td align="right">
      .04
</td>
<td align="right">
    .93
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
  111.68
</td>
<td align="right">
 -.62
</td>
<td align="right">
    1.79
</td>
<td align="right">
    .09
</td>
<td align="right">
   1.46
</td>
<td align="right">
    30
</td>
<td align="right">
    43.73
</td>
<td align="right">
    .81
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  633.61
</td>
<td align="right">
 -.62
</td>
<td align="right">
-1761.00
</td>
<td align="right">
   -.74
</td>
<td align="right">
 -17.61
</td>
<td align="right">
     1
</td>
<td align="right">
   -17.61
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
   94.63
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -3.67
</td>
<td align="right">
    .18
</td>
<td align="right">
  -1.37
</td>
<td align="right">
     4
</td>
<td align="right">
    -5.46
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
HON
</td>
<td align="right">
   52.92
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -2.25
</td>
<td align="right">
   -.37
</td>
<td align="right">
  -1.07
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.13
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   55.27
</td>
<td align="right">
 -.76
</td>
<td align="right">
   -1.61
</td>
<td align="right">
   -.13
</td>
<td align="right">
  -1.57
</td>
<td align="right">
    38
</td>
<td align="right">
   -59.67
</td>
<td align="right">
    .97
</td>
</tr>
<tr>
<td>
JOY
</td>
<td align="right">
   86.43
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -7.41
</td>
<td align="right">
   -.62
</td>
<td align="right">
  -9.22
</td>
<td align="right">
     2
</td>
<td align="right">
   -18.44
</td>
<td align="right">
   1.24
</td>
</tr>
<tr>
<td>
LMT
</td>
<td align="right">
   77.44
</td>
<td align="right">
 -.55
</td>
<td align="right">
  -15.00
</td>
<td align="right">
   -.30
</td>
<td align="right">
   -.15
</td>
<td align="right">
     1
</td>
<td align="right">
     -.15
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   31.11
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.10
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.08
</td>
<td align="right">
   116
</td>
<td align="right">
    -8.79
</td>
<td align="right">
    .76
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   80.39
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -3.49
</td>
<td align="right">
    .05
</td>
<td align="right">
  -1.63
</td>
<td align="right">
     4
</td>
<td align="right">
    -6.50
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    6.94
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -9.67
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.58
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.74
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
PBR
</td>
<td align="right">
   26.14
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -86.00
</td>
<td align="right">
   -.35
</td>
<td align="right">
   -.86
</td>
<td align="right">
     1
</td>
<td align="right">
     -.86
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PG
</td>
<td align="right">
   64.95
</td>
<td align="right">
 -.55
</td>
<td align="right">
  -36.00
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.36
</td>
<td align="right">
     1
</td>
<td align="right">
     -.36
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   75.73
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -6.00
</td>
<td align="right">
   -.52
</td>
<td align="right">
   -.06
</td>
<td align="right">
     1
</td>
<td align="right">
     -.06
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   40.56
</td>
<td align="right">
 -.59
</td>
<td align="right">
 -112.00
</td>
<td align="right">
   -.10
</td>
<td align="right">
  -1.12
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.12
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   15.72
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -3.11
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.67
</td>
<td align="right">
     8
</td>
<td align="right">
    -5.33
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
SCCO
</td>
<td align="right">
   30.18
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -3.03
</td>
<td align="right">
   -.26
</td>
<td align="right">
  -1.13
</td>
<td align="right">
    10
</td>
<td align="right">
   -11.27
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   12.53
</td>
<td align="right">
 -.63
</td>
<td align="right">
  -45.00
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.45
</td>
<td align="right">
     1
</td>
<td align="right">
     -.45
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   30.33
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -9.79
</td>
<td align="right">
   -.11
</td>
<td align="right">
  -2.19
</td>
<td align="right">
    13
</td>
<td align="right">
   -28.50
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   31.46
</td>
<td align="right">
 -.61
</td>
<td align="right">
 -217.00
</td>
<td align="right">
   -.16
</td>
<td align="right">
  -2.17
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.17
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   47.86
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -6.18
</td>
<td align="right">
  -1.53
</td>
<td align="right">
  -2.08
</td>
<td align="right">
     8
</td>
<td align="right">
   -16.67
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
SUN
</td>
<td align="right">
   38.61
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -3.59
</td>
<td align="right">
   -.07
</td>
<td align="right">
  -1.02
</td>
<td align="right">
     6
</td>
<td align="right">
    -6.10
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   48.94
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -6.08
</td>
<td align="right">
   -.26
</td>
<td align="right">
   -.85
</td>
<td align="right">
     8
</td>
<td align="right">
    -6.77
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
UNP
</td>
<td align="right">
  102.43
</td>
<td align="right">
 -.59
</td>
<td align="right">
 -384.00
</td>
<td align="right">
   -.48
</td>
<td align="right">
  -3.84
</td>
<td align="right">
     1
</td>
<td align="right">
    -3.84
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   97.30
</td>
<td align="right">
 -.58
</td>
<td align="right">
 -152.00
</td>
<td align="right">
   -.81
</td>
<td align="right">
  -1.52
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.52
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   68.82
</td>
<td align="right">
 -.63
</td>
<td align="right">
  -12.94
</td>
<td align="right">
   -.40
</td>
<td align="right">
  -2.66
</td>
<td align="right">
     3
</td>
<td align="right">
    -7.97
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
YUM
</td>
<td align="right">
   58.47
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.21
</td>
<td align="right">
    .34
</td>
<td align="right">
   -.07
</td>
<td align="right">
     9
</td>
<td align="right">
     -.65
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   317
</td>
<td align="right">
  -337.19
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ADM
</td>
<td align="right">
   28.28
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.63
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.14
</td>
<td align="right">
    48
</td>
<td align="right">
    -6.53
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   57.93
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.49
</td>
<td align="right">
   -.18
</td>
<td align="right">
   -.44
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.31
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
BP
</td>
<td align="right">
   41.44
</td>
<td align="right">
  .55
</td>
<td align="right">
  -30.00
</td>
<td align="right">
   -.37
</td>
<td align="right">
   -.30
</td>
<td align="right">
     1
</td>
<td align="right">
     -.30
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  333.43
</td>
<td align="right">
  .63
</td>
<td align="right">
   -8.55
</td>
<td align="right">
   -.96
</td>
<td align="right">
 -11.98
</td>
<td align="right">
    20
</td>
<td align="right">
  -239.55
</td>
<td align="right">
   1.40
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   45.31
</td>
<td align="right">
  .60
</td>
<td align="right">
   -3.46
</td>
<td align="right">
   -.37
</td>
<td align="right">
   -.67
</td>
<td align="right">
     9
</td>
<td align="right">
    -5.99
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   18.48
</td>
<td align="right">
  .61
</td>
<td align="right">
     .43
</td>
<td align="right">
    .08
</td>
<td align="right">
    .09
</td>
<td align="right">
    12
</td>
<td align="right">
     1.07
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   43.59
</td>
<td align="right">
  .62
</td>
<td align="right">
   -3.54
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.25
</td>
<td align="right">
     2
</td>
<td align="right">
     -.50
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  121.11
</td>
<td align="right">
  .62
</td>
<td align="right">
   -5.64
</td>
<td align="right">
   -.34
</td>
<td align="right">
  -2.30
</td>
<td align="right">
    10
</td>
<td align="right">
   -23.03
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   46.12
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.45
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.28
</td>
<td align="right">
    31
</td>
<td align="right">
    -8.79
</td>
<td align="right">
    .64
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   31.01
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.58
</td>
<td align="right">
    .14
</td>
<td align="right">
   -.21
</td>
<td align="right">
    22
</td>
<td align="right">
    -4.62
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   58.20
</td>
<td align="right">
  .57
</td>
<td align="right">
     .03
</td>
<td align="right">
   -.06
</td>
<td align="right">
    .01
</td>
<td align="right">
     8
</td>
<td align="right">
      .11
</td>
<td align="right">
    .54
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
   10.70
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.95
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.56
</td>
<td align="right">
    30
</td>
<td align="right">
   -16.76
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
   44.18
</td>
<td align="right">
  .65
</td>
<td align="right">
  -17.03
</td>
<td align="right">
   -.38
</td>
<td align="right">
  -9.94
</td>
<td align="right">
    17
</td>
<td align="right">
  -169.06
</td>
<td align="right">
    .58
</td>
</tr>
<tr>
<td>
FXI
</td>
<td align="right">
   34.81
</td>
<td align="right">
  .61
</td>
<td align="right">
     .29
</td>
<td align="right">
    .17
</td>
<td align="right">
    .12
</td>
<td align="right">
    21
</td>
<td align="right">
     2.52
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
GD
</td>
<td align="right">
   63.52
</td>
<td align="right">
  .69
</td>
<td align="right">
    -.99
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.25
</td>
<td align="right">
     8
</td>
<td align="right">
    -2.03
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   55.45
</td>
<td align="right">
  .66
</td>
<td align="right">
   -1.17
</td>
<td align="right">
   -.31
</td>
<td align="right">
  -1.67
</td>
<td align="right">
    30
</td>
<td align="right">
   -50.21
</td>
<td align="right">
   1.43
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   48.24
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.85
</td>
<td align="right">
   -.30
</td>
<td align="right">
  -1.10
</td>
<td align="right">
    11
</td>
<td align="right">
   -12.13
</td>
<td align="right">
   1.30
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  621.86
</td>
<td align="right">
  .70
</td>
<td align="right">
    4.55
</td>
<td align="right">
    .74
</td>
<td align="right">
  11.36
</td>
<td align="right">
    18
</td>
<td align="right">
   204.40
</td>
<td align="right">
   2.49
</td>
</tr>
<tr>
<td>
HES
</td>
<td align="right">
   57.76
</td>
<td align="right">
  .71
</td>
<td align="right">
  -33.99
</td>
<td align="right">
    .09
</td>
<td align="right">
  -3.61
</td>
<td align="right">
     2
</td>
<td align="right">
    -7.21
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
HPQ
</td>
<td align="right">
   27.02
</td>
<td align="right">
  .66
</td>
<td align="right">
  -14.67
</td>
<td align="right">
   -.32
</td>
<td align="right">
   -.83
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.66
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   54.96
</td>
<td align="right">
  .58
</td>
<td align="right">
 -411.00
</td>
<td align="right">
   1.48
</td>
<td align="right">
  -4.11
</td>
<td align="right">
     1
</td>
<td align="right">
    -4.11
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   42.78
</td>
<td align="right">
  .71
</td>
<td align="right">
    -.78
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.72
</td>
<td align="right">
    90
</td>
<td align="right">
   -64.53
</td>
<td align="right">
    .91
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  373.75
</td>
<td align="right">
  .61
</td>
<td align="right">
 -129.68
</td>
<td align="right">
  -3.19
</td>
<td align="right">
  -9.17
</td>
<td align="right">
     2
</td>
<td align="right">
   -18.34
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   35.15
</td>
<td align="right">
  .55
</td>
<td align="right">
   41.00
</td>
<td align="right">
    .00
</td>
<td align="right">
    .41
</td>
<td align="right">
     1
</td>
<td align="right">
      .41
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    7.02
</td>
<td align="right">
  .59
</td>
<td align="right">
   -3.75
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.44
</td>
<td align="right">
     5
</td>
<td align="right">
    -2.19
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   55.57
</td>
<td align="right">
  .68
</td>
<td align="right">
   -1.45
</td>
<td align="right">
   -.30
</td>
<td align="right">
   -.43
</td>
<td align="right">
    15
</td>
<td align="right">
    -6.52
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   39.90
</td>
<td align="right">
  .64
</td>
<td align="right">
   -3.45
</td>
<td align="right">
   -.16
</td>
<td align="right">
  -1.25
</td>
<td align="right">
    12
</td>
<td align="right">
   -15.03
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
NVDA
</td>
<td align="right">
   14.52
</td>
<td align="right">
  .67
</td>
<td align="right">
   -2.25
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.79
</td>
<td align="right">
    37
</td>
<td align="right">
   -29.33
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   75.65
</td>
<td align="right">
  .63
</td>
<td align="right">
  -61.00
</td>
<td align="right">
   -.71
</td>
<td align="right">
   -.61
</td>
<td align="right">
     1
</td>
<td align="right">
     -.61
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   54.87
</td>
<td align="right">
  .56
</td>
<td align="right">
   -2.05
</td>
<td align="right">
   -.60
</td>
<td align="right">
   -.68
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.05
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  146.76
</td>
<td align="right">
  .56
</td>
<td align="right">
    4.91
</td>
<td align="right">
   -.02
</td>
<td align="right">
   1.36
</td>
<td align="right">
     2
</td>
<td align="right">
     2.71
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   44.08
</td>
<td align="right">
  .56
</td>
<td align="right">
 -119.00
</td>
<td align="right">
   -.61
</td>
<td align="right">
  -1.19
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.19
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   58.54
</td>
<td align="right">
  .63
</td>
<td align="right">
   -2.24
</td>
<td align="right">
   -.16
</td>
<td align="right">
  -1.56
</td>
<td align="right">
    25
</td>
<td align="right">
   -38.99
</td>
<td align="right">
    .70
</td>
</tr>
<tr>
<td>
SLB
</td>
<td align="right">
   70.75
</td>
<td align="right">
  .61
</td>
<td align="right">
    5.68
</td>
<td align="right">
    .15
</td>
<td align="right">
   1.30
</td>
<td align="right">
     6
</td>
<td align="right">
     7.78
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   30.34
</td>
<td align="right">
  .68
</td>
<td align="right">
  -10.49
</td>
<td align="right">
    .10
</td>
<td align="right">
  -2.15
</td>
<td align="right">
     5
</td>
<td align="right">
   -10.76
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   31.81
</td>
<td align="right">
  .64
</td>
<td align="right">
   -8.70
</td>
<td align="right">
   -.30
</td>
<td align="right">
  -2.66
</td>
<td align="right">
    10
</td>
<td align="right">
   -26.57
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
SUN
</td>
<td align="right">
   38.29
</td>
<td align="right">
  .58
</td>
<td align="right">
   -7.78
</td>
<td align="right">
    .18
</td>
<td align="right">
   -.66
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.32
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    6.92
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.60
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.09
</td>
<td align="right">
    26
</td>
<td align="right">
    -2.28
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   40.73
</td>
<td align="right">
  .60
</td>
<td align="right">
    5.33
</td>
<td align="right">
    .17
</td>
<td align="right">
    .56
</td>
<td align="right">
     5
</td>
<td align="right">
     2.80
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   48.18
</td>
<td align="right">
  .74
</td>
<td align="right">
     .14
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .05
</td>
<td align="right">
    53
</td>
<td align="right">
     2.80
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
UNP
</td>
<td align="right">
  102.19
</td>
<td align="right">
  .66
</td>
<td align="right">
  -65.23
</td>
<td align="right">
   -.16
</td>
<td align="right">
  -3.69
</td>
<td align="right">
     2
</td>
<td align="right">
    -7.38
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   96.30
</td>
<td align="right">
  .60
</td>
<td align="right">
    1.38
</td>
<td align="right">
    .07
</td>
<td align="right">
    .49
</td>
<td align="right">
    12
</td>
<td align="right">
     5.83
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   49.14
</td>
<td align="right">
  .67
</td>
<td align="right">
   -4.54
</td>
<td align="right">
   -.46
</td>
<td align="right">
  -2.03
</td>
<td align="right">
     6
</td>
<td align="right">
   -12.18
</td>
<td align="right">
    .45
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   57.76
</td>
<td align="right">
  .60
</td>
<td align="right">
     .95
</td>
<td align="right">
    .11
</td>
<td align="right">
    .10
</td>
<td align="right">
     7
</td>
<td align="right">
      .70
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
X
</td>
<td align="right">
   26.23
</td>
<td align="right">
  .60
</td>
<td align="right">
  -15.77
</td>
<td align="right">
    .34
</td>
<td align="right">
   -.90
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.69
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   33.46
</td>
<td align="right">
  .62
</td>
<td align="right">
  -55.86
</td>
<td align="right">
   -.07
</td>
<td align="right">
  -1.19
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.37
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   639
</td>
<td align="right">
  -566.99
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
