<h4>Week of: 2012_01_03</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   24.22
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.73
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.32
</td>
<td align="right">
    34
</td>
<td align="right">
   -11.01
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
APA
</td>
<td align="right">
   96.29
</td>
<td align="right">
 -.65
</td>
<td align="right">
   14.14
</td>
<td align="right">
    .04
</td>
<td align="right">
    .40
</td>
<td align="right">
     2
</td>
<td align="right">
      .80
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   78.19
</td>
<td align="right">
 -.62
</td>
<td align="right">
   20.81
</td>
<td align="right">
    .57
</td>
<td align="right">
   1.42
</td>
<td align="right">
     5
</td>
<td align="right">
     7.08
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    6.95
</td>
<td align="right">
 -.63
</td>
<td align="right">
  -31.82
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.23
</td>
<td align="right">
     2
</td>
<td align="right">
     -.45
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  122.90
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.32
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.47
</td>
<td align="right">
   103
</td>
<td align="right">
   -48.40
</td>
<td align="right">
   1.46
</td>
</tr>
<tr>
<td>
C
</td>
<td align="right">
   27.82
</td>
<td align="right">
 -.63
</td>
<td align="right">
    1.82
</td>
<td align="right">
    .23
</td>
<td align="right">
    .26
</td>
<td align="right">
    10
</td>
<td align="right">
     2.59
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   43.56
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.05
</td>
<td align="right">
    .33
</td>
<td align="right">
    .91
</td>
<td align="right">
     6
</td>
<td align="right">
     5.43
</td>
<td align="right">
    .86
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  123.74
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -3.12
</td>
<td align="right">
    .32
</td>
<td align="right">
   -.07
</td>
<td align="right">
     4
</td>
<td align="right">
     -.26
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   37.95
</td>
<td align="right">
 -.72
</td>
<td align="right">
   29.00
</td>
<td align="right">
    .39
</td>
<td align="right">
    .29
</td>
<td align="right">
     1
</td>
<td align="right">
      .29
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   43.43
</td>
<td align="right">
 -.65
</td>
<td align="right">
    2.80
</td>
<td align="right">
    .15
</td>
<td align="right">
    .58
</td>
<td align="right">
    17
</td>
<td align="right">
     9.85
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   44.34
</td>
<td align="right">
 -.71
</td>
<td align="right">
   -2.09
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.39
</td>
<td align="right">
    40
</td>
<td align="right">
   -15.42
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  377.48
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -5.42
</td>
<td align="right">
  -3.84
</td>
<td align="right">
 -14.70
</td>
<td align="right">
     5
</td>
<td align="right">
   -73.49
</td>
<td align="right">
   2.71
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   32.14
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.02
</td>
<td align="right">
   -.41
</td>
<td align="right">
    .00
</td>
<td align="right">
    15
</td>
<td align="right">
     -.06
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   79.49
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -3.28
</td>
<td align="right">
   -.41
</td>
<td align="right">
  -1.37
</td>
<td align="right">
    21
</td>
<td align="right">
   -28.86
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   51.24
</td>
<td align="right">
 -.58
</td>
<td align="right">
    5.23
</td>
<td align="right">
    .18
</td>
<td align="right">
    .19
</td>
<td align="right">
     2
</td>
<td align="right">
      .37
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
WDC
</td>
<td align="right">
   31.48
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -2.12
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.56
</td>
<td align="right">
    21
</td>
<td align="right">
   -11.76
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   86.36
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -2.88
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.92
</td>
<td align="right">
     7
</td>
<td align="right">
    -6.43
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   295
</td>
<td align="right">
  -169.73
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ALL
</td>
<td align="right">
   27.61
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.18
</td>
<td align="right">
   -.13
</td>
<td align="right">
    .10
</td>
<td align="right">
     2
</td>
<td align="right">
      .20
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   64.22
</td>
<td align="right">
  .63
</td>
<td align="right">
   -1.51
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.44
</td>
<td align="right">
    74
</td>
<td align="right">
   -32.78
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  178.11
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.79
</td>
<td align="right">
   -.55
</td>
<td align="right">
  -1.39
</td>
<td align="right">
     8
</td>
<td align="right">
   -11.14
</td>
<td align="right">
   1.77
</td>
</tr>
<tr>
<td>
ANR
</td>
<td align="right">
   21.62
</td>
<td align="right">
  .62
</td>
<td align="right">
     .84
</td>
<td align="right">
    .17
</td>
<td align="right">
    .12
</td>
<td align="right">
     9
</td>
<td align="right">
     1.11
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
BP
</td>
<td align="right">
   44.29
</td>
<td align="right">
  .64
</td>
<td align="right">
   -4.95
</td>
<td align="right">
    .13
</td>
<td align="right">
   -.04
</td>
<td align="right">
     2
</td>
<td align="right">
     -.07
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
CELG
</td>
<td align="right">
   67.76
</td>
<td align="right">
  .56
</td>
<td align="right">
   70.00
</td>
<td align="right">
    .18
</td>
<td align="right">
    .70
</td>
<td align="right">
     1
</td>
<td align="right">
      .70
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   44.27
</td>
<td align="right">
  .59
</td>
<td align="right">
    2.26
</td>
<td align="right">
    .19
</td>
<td align="right">
    .94
</td>
<td align="right">
     7
</td>
<td align="right">
     6.57
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
   96.89
</td>
<td align="right">
  .59
</td>
<td align="right">
   59.00
</td>
<td align="right">
   -.26
</td>
<td align="right">
    .59
</td>
<td align="right">
     1
</td>
<td align="right">
      .59
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   75.72
</td>
<td align="right">
  .56
</td>
<td align="right">
 -139.00
</td>
<td align="right">
   -.37
</td>
<td align="right">
  -1.39
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.39
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  365.21
</td>
<td align="right">
  .56
</td>
<td align="right">
  -29.57
</td>
<td align="right">
  -6.75
</td>
<td align="right">
 -11.29
</td>
<td align="right">
     2
</td>
<td align="right">
   -22.58
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   58.67
</td>
<td align="right">
  .58
</td>
<td align="right">
   -6.00
</td>
<td align="right">
   -.47
</td>
<td align="right">
   -.06
</td>
<td align="right">
     1
</td>
<td align="right">
     -.06
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SUN
</td>
<td align="right">
   41.03
</td>
<td align="right">
  .63
</td>
<td align="right">
     .36
</td>
<td align="right">
   -.08
</td>
<td align="right">
    .11
</td>
<td align="right">
    17
</td>
<td align="right">
     1.94
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   60.59
</td>
<td align="right">
  .56
</td>
<td align="right">
  -80.00
</td>
<td align="right">
   -.68
</td>
<td align="right">
   -.80
</td>
<td align="right">
     1
</td>
<td align="right">
     -.80
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   126
</td>
<td align="right">
   -57.71
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
