<h4>Week of: 2012_05_21</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABX
</td>
<td align="right">
   37.39
</td>
<td align="right">
 -.55
</td>
<td align="right">
  262.00
</td>
<td align="right">
    .41
</td>
<td align="right">
   2.62
</td>
<td align="right">
     1
</td>
<td align="right">
     2.62
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   39.71
</td>
<td align="right">
 -.58
</td>
<td align="right">
    8.72
</td>
<td align="right">
    .77
</td>
<td align="right">
    .37
</td>
<td align="right">
     2
</td>
<td align="right">
      .74
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
AGU
</td>
<td align="right">
   78.03
</td>
<td align="right">
 -.57
</td>
<td align="right">
    6.74
</td>
<td align="right">
    .03
</td>
<td align="right">
   1.24
</td>
<td align="right">
     3
</td>
<td align="right">
     3.71
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   68.78
</td>
<td align="right">
 -.61
</td>
<td align="right">
   37.00
</td>
<td align="right">
    .02
</td>
<td align="right">
    .37
</td>
<td align="right">
     1
</td>
<td align="right">
      .37
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
APA
</td>
<td align="right">
   81.70
</td>
<td align="right">
 -.68
</td>
<td align="right">
     .89
</td>
<td align="right">
    .45
</td>
<td align="right">
    .74
</td>
<td align="right">
    14
</td>
<td align="right">
    10.33
</td>
<td align="right">
    .82
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   63.39
</td>
<td align="right">
 -.60
</td>
<td align="right">
  -16.00
</td>
<td align="right">
   -.30
</td>
<td align="right">
   -.16
</td>
<td align="right">
     1
</td>
<td align="right">
     -.16
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   32.37
</td>
<td align="right">
 -.63
</td>
<td align="right">
    2.25
</td>
<td align="right">
    .06
</td>
<td align="right">
    .55
</td>
<td align="right">
    39
</td>
<td align="right">
    21.37
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   35.84
</td>
<td align="right">
 -.56
</td>
<td align="right">
    3.67
</td>
<td align="right">
    .13
</td>
<td align="right">
    .38
</td>
<td align="right">
     3
</td>
<td align="right">
     1.13
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
AXP
</td>
<td align="right">
   55.74
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .70
</td>
<td align="right">
    .08
</td>
<td align="right">
    .32
</td>
<td align="right">
     3
</td>
<td align="right">
      .97
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
BHP
</td>
<td align="right">
   62.73
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -6.71
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.71
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.13
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  120.58
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -5.09
</td>
<td align="right">
    .59
</td>
<td align="right">
  -3.02
</td>
<td align="right">
     7
</td>
<td align="right">
   -21.12
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   49.59
</td>
<td align="right">
 -.61
</td>
<td align="right">
   84.00
</td>
<td align="right">
   -.09
</td>
<td align="right">
    .84
</td>
<td align="right">
     1
</td>
<td align="right">
      .84
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  401.65
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.27
</td>
<td align="right">
   -.65
</td>
<td align="right">
   -.63
</td>
<td align="right">
    10
</td>
<td align="right">
    -6.27
</td>
<td align="right">
   2.29
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   50.06
</td>
<td align="right">
 -.65
</td>
<td align="right">
    2.72
</td>
<td align="right">
    .37
</td>
<td align="right">
   1.39
</td>
<td align="right">
     6
</td>
<td align="right">
     8.36
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  149.42
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.36
</td>
<td align="right">
   -.02
</td>
<td align="right">
  -2.72
</td>
<td align="right">
    13
</td>
<td align="right">
   -35.34
</td>
<td align="right">
   2.00
</td>
</tr>
<tr>
<td>
CVX
</td>
<td align="right">
   99.19
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.12
</td>
<td align="right">
    .37
</td>
<td align="right">
   -.08
</td>
<td align="right">
     9
</td>
<td align="right">
     -.72
</td>
<td align="right">
    .65
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  123.95
</td>
<td align="right">
 -.59
</td>
<td align="right">
    2.83
</td>
<td align="right">
    .39
</td>
<td align="right">
    .78
</td>
<td align="right">
     4
</td>
<td align="right">
     3.12
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
DO
</td>
<td align="right">
   59.98
</td>
<td align="right">
 -.75
</td>
<td align="right">
    -.03
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.04
</td>
<td align="right">
    30
</td>
<td align="right">
    -1.20
</td>
<td align="right">
   1.16
</td>
</tr>
<tr>
<td>
DVN
</td>
<td align="right">
   62.09
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.05
</td>
<td align="right">
    .13
</td>
<td align="right">
   -.09
</td>
<td align="right">
     2
</td>
<td align="right">
     -.18
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   87.32
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -9.24
</td>
<td align="right">
    .17
</td>
<td align="right">
  -1.12
</td>
<td align="right">
     4
</td>
<td align="right">
    -4.46
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   35.29
</td>
<td align="right">
 -.63
</td>
<td align="right">
    2.51
</td>
<td align="right">
    .33
</td>
<td align="right">
   1.99
</td>
<td align="right">
     5
</td>
<td align="right">
     9.96
</td>
<td align="right">
    .79
</td>
</tr>
<tr>
<td>
GLD
</td>
<td align="right">
  152.71
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -90.00
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.90
</td>
<td align="right">
     1
</td>
<td align="right">
     -.90
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  606.21
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .38
</td>
<td align="right">
    .78
</td>
<td align="right">
   1.07
</td>
<td align="right">
    18
</td>
<td align="right">
    19.17
</td>
<td align="right">
   2.81
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   57.30
</td>
<td align="right">
 -.64
</td>
<td align="right">
    2.21
</td>
<td align="right">
   1.15
</td>
<td align="right">
   1.78
</td>
<td align="right">
     8
</td>
<td align="right">
    14.20
</td>
<td align="right">
    .80
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   47.19
</td>
<td align="right">
 -.67
</td>
<td align="right">
    1.39
</td>
<td align="right">
    .36
</td>
<td align="right">
    .55
</td>
<td align="right">
    14
</td>
<td align="right">
     7.74
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
MCD
</td>
<td align="right">
   90.87
</td>
<td align="right">
 -.58
</td>
<td align="right">
    2.73
</td>
<td align="right">
    .02
</td>
<td align="right">
    .47
</td>
<td align="right">
     7
</td>
<td align="right">
     3.31
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   84.40
</td>
<td align="right">
 -.57
</td>
<td align="right">
    2.00
</td>
<td align="right">
   -.11
</td>
<td align="right">
    .02
</td>
<td align="right">
     1
</td>
<td align="right">
      .02
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   47.63
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .14
</td>
<td align="right">
    .11
</td>
<td align="right">
    .09
</td>
<td align="right">
    81
</td>
<td align="right">
     7.47
</td>
<td align="right">
    .68
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
   71.21
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.65
</td>
<td align="right">
   -.18
</td>
<td align="right">
  -1.11
</td>
<td align="right">
    20
</td>
<td align="right">
   -22.25
</td>
<td align="right">
   1.71
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   34.81
</td>
<td align="right">
 -.59
</td>
<td align="right">
    2.11
</td>
<td align="right">
    .14
</td>
<td align="right">
    .71
</td>
<td align="right">
    20
</td>
<td align="right">
    14.27
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
   36.72
</td>
<td align="right">
 -.57
</td>
<td align="right">
  -67.00
</td>
<td align="right">
    .63
</td>
<td align="right">
   -.67
</td>
<td align="right">
     1
</td>
<td align="right">
     -.67
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PEP
</td>
<td align="right">
   67.76
</td>
<td align="right">
 -.58
</td>
<td align="right">
    6.38
</td>
<td align="right">
    .02
</td>
<td align="right">
    .55
</td>
<td align="right">
    13
</td>
<td align="right">
     7.17
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
PG
</td>
<td align="right">
   63.27
</td>
<td align="right">
 -.64
</td>
<td align="right">
  -16.14
</td>
<td align="right">
   -.09
</td>
<td align="right">
  -1.05
</td>
<td align="right">
    15
</td>
<td align="right">
   -15.72
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   61.81
</td>
<td align="right">
 -.57
</td>
<td align="right">
   10.14
</td>
<td align="right">
    .20
</td>
<td align="right">
    .65
</td>
<td align="right">
     2
</td>
<td align="right">
     1.29
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   62.21
</td>
<td align="right">
 -.64
</td>
<td align="right">
    3.50
</td>
<td align="right">
    .11
</td>
<td align="right">
    .46
</td>
<td align="right">
    32
</td>
<td align="right">
    14.69
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   53.74
</td>
<td align="right">
 -.70
</td>
<td align="right">
    -.38
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.36
</td>
<td align="right">
   106
</td>
<td align="right">
   -37.63
</td>
<td align="right">
    .94
</td>
</tr>
<tr>
<td>
SJM
</td>
<td align="right">
   76.91
</td>
<td align="right">
 -.67
</td>
<td align="right">
    1.68
</td>
<td align="right">
    .11
</td>
<td align="right">
    .49
</td>
<td align="right">
    15
</td>
<td align="right">
     7.33
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   25.58
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -5.22
</td>
<td align="right">
    .21
</td>
<td align="right">
   -.24
</td>
<td align="right">
     6
</td>
<td align="right">
    -1.41
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   32.48
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.04
</td>
<td align="right">
    .12
</td>
<td align="right">
    .40
</td>
<td align="right">
    15
</td>
<td align="right">
     5.95
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   38.42
</td>
<td align="right">
 -.58
</td>
<td align="right">
   10.00
</td>
<td align="right">
   1.38
</td>
<td align="right">
    .10
</td>
<td align="right">
     1
</td>
<td align="right">
      .10
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   56.44
</td>
<td align="right">
 -.62
</td>
<td align="right">
    2.73
</td>
<td align="right">
    .27
</td>
<td align="right">
    .44
</td>
<td align="right">
     5
</td>
<td align="right">
     2.20
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
TSO
</td>
<td align="right">
   22.68
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .98
</td>
<td align="right">
    .22
</td>
<td align="right">
    .40
</td>
<td align="right">
     6
</td>
<td align="right">
     2.37
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   91.56
</td>
<td align="right">
 -.66
</td>
<td align="right">
    7.55
</td>
<td align="right">
   1.16
</td>
<td align="right">
   3.66
</td>
<td align="right">
     7
</td>
<td align="right">
    25.64
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   54.96
</td>
<td align="right">
 -.63
</td>
<td align="right">
    6.63
</td>
<td align="right">
    .09
</td>
<td align="right">
    .99
</td>
<td align="right">
     2
</td>
<td align="right">
     1.97
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
UNP
</td>
<td align="right">
  111.98
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .20
</td>
<td align="right">
    .18
</td>
<td align="right">
    .10
</td>
<td align="right">
     9
</td>
<td align="right">
      .86
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
VECO
</td>
<td align="right">
   34.54
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -6.59
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.63
</td>
<td align="right">
     5
</td>
<td align="right">
    -3.15
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
  100.36
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.33
</td>
<td align="right">
    .08
</td>
<td align="right">
   -.75
</td>
<td align="right">
    17
</td>
<td align="right">
   -12.72
</td>
<td align="right">
   2.30
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   85.10
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .80
</td>
<td align="right">
    .21
</td>
<td align="right">
   1.52
</td>
<td align="right">
    26
</td>
<td align="right">
    39.63
</td>
<td align="right">
   1.91
</td>
</tr>
<tr>
<td>
X
</td>
<td align="right">
   21.84
</td>
<td align="right">
 -.56
</td>
<td align="right">
    2.01
</td>
<td align="right">
    .12
</td>
<td align="right">
    .43
</td>
<td align="right">
     5
</td>
<td align="right">
     2.16
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   65.48
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.76
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.89
</td>
<td align="right">
    11
</td>
<td align="right">
    -9.77
</td>
<td align="right">
   1.17
</td>
</tr>
<tr>
<td>
YUM
</td>
<td align="right">
   70.72
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -2.14
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.30
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.21
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   634
</td>
<td align="right">
    64.05
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   39.88
</td>
<td align="right">
  .72
</td>
<td align="right">
    -.73
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.48
</td>
<td align="right">
   120
</td>
<td align="right">
   -57.22
</td>
<td align="right">
    .65
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   69.08
</td>
<td align="right">
  .58
</td>
<td align="right">
   -1.02
</td>
<td align="right">
   -.24
</td>
<td align="right">
   -.53
</td>
<td align="right">
     4
</td>
<td align="right">
    -2.12
</td>
<td align="right">
    .52
</td>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  215.89
</td>
<td align="right">
  .61
</td>
<td align="right">
 -150.00
</td>
<td align="right">
   -.93
</td>
<td align="right">
  -1.50
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.50
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BHP
</td>
<td align="right">
   63.99
</td>
<td align="right">
  .56
</td>
<td align="right">
 -166.00
</td>
<td align="right">
   -.09
</td>
<td align="right">
  -1.66
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.66
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  185.03
</td>
<td align="right">
  .59
</td>
<td align="right">
   -3.23
</td>
<td align="right">
   -.50
</td>
<td align="right">
  -3.97
</td>
<td align="right">
     2
</td>
<td align="right">
    -7.94
</td>
<td align="right">
   1.23
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  393.67
</td>
<td align="right">
  .63
</td>
<td align="right">
    6.72
</td>
<td align="right">
   3.89
</td>
<td align="right">
  10.68
</td>
<td align="right">
     8
</td>
<td align="right">
    85.44
</td>
<td align="right">
   1.59
</td>
</tr>
<tr>
<td>
CMI
</td>
<td align="right">
  100.91
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.55
</td>
<td align="right">
   -.83
</td>
<td align="right">
   -.74
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.48
</td>
<td align="right">
   1.34
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  145.59
</td>
<td align="right">
  .62
</td>
<td align="right">
     .96
</td>
<td align="right">
    .55
</td>
<td align="right">
   2.81
</td>
<td align="right">
    10
</td>
<td align="right">
    28.07
</td>
<td align="right">
   2.93
</td>
</tr>
<tr>
<td>
CVX
</td>
<td align="right">
   99.29
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.71
</td>
<td align="right">
   -.46
</td>
<td align="right">
  -1.25
</td>
<td align="right">
    11
</td>
<td align="right">
   -13.70
</td>
<td align="right">
   1.76
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   74.22
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.04
</td>
<td align="right">
    .20
</td>
<td align="right">
   1.18
</td>
<td align="right">
    11
</td>
<td align="right">
    13.01
</td>
<td align="right">
   1.14
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  124.19
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.15
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.26
</td>
<td align="right">
     7
</td>
<td align="right">
    -1.81
</td>
<td align="right">
   1.71
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   46.09
</td>
<td align="right">
  .69
</td>
<td align="right">
    1.39
</td>
<td align="right">
    .07
</td>
<td align="right">
    .29
</td>
<td align="right">
   122
</td>
<td align="right">
    35.50
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   89.54
</td>
<td align="right">
  .64
</td>
<td align="right">
    3.77
</td>
<td align="right">
   -.20
</td>
<td align="right">
    .28
</td>
<td align="right">
     4
</td>
<td align="right">
     1.11
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  607.04
</td>
<td align="right">
  .60
</td>
<td align="right">
 -801.00
</td>
<td align="right">
  -6.62
</td>
<td align="right">
  -8.01
</td>
<td align="right">
     1
</td>
<td align="right">
    -8.01
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
   95.81
</td>
<td align="right">
  .73
</td>
<td align="right">
   12.95
</td>
<td align="right">
    .33
</td>
<td align="right">
   2.59
</td>
<td align="right">
    11
</td>
<td align="right">
    28.51
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
HD
</td>
<td align="right">
   48.21
</td>
<td align="right">
  .63
</td>
<td align="right">
     .14
</td>
<td align="right">
    .05
</td>
<td align="right">
    .07
</td>
<td align="right">
    28
</td>
<td align="right">
     1.95
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
HES
</td>
<td align="right">
   45.25
</td>
<td align="right">
  .67
</td>
<td align="right">
    2.43
</td>
<td align="right">
    .34
</td>
<td align="right">
    .86
</td>
<td align="right">
     8
</td>
<td align="right">
     6.90
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   57.59
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.55
</td>
<td align="right">
    .48
</td>
<td align="right">
   2.80
</td>
<td align="right">
     7
</td>
<td align="right">
    19.63
</td>
<td align="right">
   1.81
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   75.71
</td>
<td align="right">
  .67
</td>
<td align="right">
     .42
</td>
<td align="right">
    .15
</td>
<td align="right">
    .42
</td>
<td align="right">
    89
</td>
<td align="right">
    37.58
</td>
<td align="right">
    .99
</td>
</tr>
<tr>
<td>
IYR
</td>
<td align="right">
   61.47
</td>
<td align="right">
  .60
</td>
<td align="right">
   -1.76
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.63
</td>
<td align="right">
    12
</td>
<td align="right">
    -7.59
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
JNJ
</td>
<td align="right">
   63.10
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.14
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.04
</td>
<td align="right">
     6
</td>
<td align="right">
     -.23
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
KO
</td>
<td align="right">
   74.23
</td>
<td align="right">
  .60
</td>
<td align="right">
     .35
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .38
</td>
<td align="right">
     6
</td>
<td align="right">
     2.29
</td>
<td align="right">
   1.09
</td>
</tr>
<tr>
<td>
LLY
</td>
<td align="right">
   41.03
</td>
<td align="right">
  .62
</td>
<td align="right">
   -9.80
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.53
</td>
<td align="right">
    10
</td>
<td align="right">
    -5.27
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  413.44
</td>
<td align="right">
  .65
</td>
<td align="right">
     .25
</td>
<td align="right">
   -.64
</td>
<td align="right">
   2.42
</td>
<td align="right">
    22
</td>
<td align="right">
    53.33
</td>
<td align="right">
   9.66
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  169.32
</td>
<td align="right">
  .62
</td>
<td align="right">
   -1.08
</td>
<td align="right">
    .01
</td>
<td align="right">
  -1.89
</td>
<td align="right">
    11
</td>
<td align="right">
   -20.75
</td>
<td align="right">
   1.75
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   83.61
</td>
<td align="right">
  .64
</td>
<td align="right">
    3.06
</td>
<td align="right">
    .43
</td>
<td align="right">
    .75
</td>
<td align="right">
    15
</td>
<td align="right">
    11.25
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
   68.93
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.35
</td>
<td align="right">
    .23
</td>
<td align="right">
   1.50
</td>
<td align="right">
    15
</td>
<td align="right">
    22.54
</td>
<td align="right">
   1.11
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   57.96
</td>
<td align="right">
  .62
</td>
<td align="right">
    2.03
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .54
</td>
<td align="right">
     6
</td>
<td align="right">
     3.26
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   35.03
</td>
<td align="right">
  .63
</td>
<td align="right">
     .80
</td>
<td align="right">
    .15
</td>
<td align="right">
    .46
</td>
<td align="right">
    10
</td>
<td align="right">
     4.62
</td>
<td align="right">
    .58
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   59.08
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.30
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.21
</td>
<td align="right">
    36
</td>
<td align="right">
    -7.52
</td>
<td align="right">
    .69
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   84.74
</td>
<td align="right">
  .63
</td>
<td align="right">
     .11
</td>
<td align="right">
    .08
</td>
<td align="right">
    .11
</td>
<td align="right">
    18
</td>
<td align="right">
     1.94
</td>
<td align="right">
    .98
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   62.36
</td>
<td align="right">
  .61
</td>
<td align="right">
   -1.12
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.98
</td>
<td align="right">
    16
</td>
<td align="right">
   -15.66
</td>
<td align="right">
    .88
</td>
</tr>
<tr>
<td>
RTN
</td>
<td align="right">
   50.37
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.36
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.70
</td>
<td align="right">
    10
</td>
<td align="right">
    -6.98
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   53.53
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.69
</td>
<td align="right">
    .05
</td>
<td align="right">
    .59
</td>
<td align="right">
    67
</td>
<td align="right">
    39.63
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   52.20
</td>
<td align="right">
  .65
</td>
<td align="right">
    7.57
</td>
<td align="right">
   2.05
</td>
<td align="right">
   1.74
</td>
<td align="right">
     3
</td>
<td align="right">
     5.23
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   32.45
</td>
<td align="right">
  .55
</td>
<td align="right">
   15.00
</td>
<td align="right">
    .11
</td>
<td align="right">
    .15
</td>
<td align="right">
     1
</td>
<td align="right">
      .15
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   41.31
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.66
</td>
<td align="right">
    .17
</td>
<td align="right">
    .27
</td>
<td align="right">
    13
</td>
<td align="right">
     3.54
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   51.36
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.02
</td>
<td align="right">
   -.18
</td>
<td align="right">
   -.94
</td>
<td align="right">
     5
</td>
<td align="right">
    -4.72
</td>
<td align="right">
    .93
</td>
</tr>
<tr>
<td>
TM
</td>
<td align="right">
   76.43
</td>
<td align="right">
  .70
</td>
<td align="right">
    3.96
</td>
<td align="right">
    .15
</td>
<td align="right">
    .50
</td>
<td align="right">
    17
</td>
<td align="right">
     8.42
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
TSO
</td>
<td align="right">
   23.23
</td>
<td align="right">
  .63
</td>
<td align="right">
  -24.00
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.24
</td>
<td align="right">
     1
</td>
<td align="right">
     -.24
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   93.00
</td>
<td align="right">
  .69
</td>
<td align="right">
     .92
</td>
<td align="right">
    .36
</td>
<td align="right">
   1.61
</td>
<td align="right">
    48
</td>
<td align="right">
    77.31
</td>
<td align="right">
   1.75
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   54.32
</td>
<td align="right">
  .56
</td>
<td align="right">
  181.00
</td>
<td align="right">
    .73
</td>
<td align="right">
   1.81
</td>
<td align="right">
     1
</td>
<td align="right">
     1.81
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
  116.73
</td>
<td align="right">
  .59
</td>
<td align="right">
    1.01
</td>
<td align="right">
    .54
</td>
<td align="right">
   1.83
</td>
<td align="right">
    41
</td>
<td align="right">
    74.95
</td>
<td align="right">
   1.81
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   85.93
</td>
<td align="right">
  .64
</td>
<td align="right">
     .84
</td>
<td align="right">
    .06
</td>
<td align="right">
    .64
</td>
<td align="right">
    10
</td>
<td align="right">
     6.42
</td>
<td align="right">
    .76
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   57.88
</td>
<td align="right">
  .60
</td>
<td align="right">
  355.67
</td>
<td align="right">
    .59
</td>
<td align="right">
   2.52
</td>
<td align="right">
     2
</td>
<td align="right">
     5.03
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   64.29
</td>
<td align="right">
  .63
</td>
<td align="right">
    2.13
</td>
<td align="right">
    .19
</td>
<td align="right">
    .70
</td>
<td align="right">
     9
</td>
<td align="right">
     6.28
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   64.96
</td>
<td align="right">
  .58
</td>
<td align="right">
     .74
</td>
<td align="right">
    .11
</td>
<td align="right">
    .43
</td>
<td align="right">
    15
</td>
<td align="right">
     6.51
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
YUM
</td>
<td align="right">
   69.61
</td>
<td align="right">
  .56
</td>
<td align="right">
  108.00
</td>
<td align="right">
    .51
</td>
<td align="right">
   1.08
</td>
<td align="right">
     1
</td>
<td align="right">
     1.08
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   874
</td>
<td align="right">
   428.89
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
