<h4>Week of: 2011_12_19</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
C
</td>
<td align="right">
   25.85
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -3.42
</td>
<td align="right">
   -.77
</td>
<td align="right">
   -.29
</td>
<td align="right">
     2
</td>
<td align="right">
     -.58
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   43.59
</td>
<td align="right">
 -.63
</td>
<td align="right">
  118.05
</td>
<td align="right">
   -.25
</td>
<td align="right">
   1.35
</td>
<td align="right">
     5
</td>
<td align="right">
     6.73
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
EOG
</td>
<td align="right">
   97.23
</td>
<td align="right">
 -.58
</td>
<td align="right">
   97.00
</td>
<td align="right">
   -.32
</td>
<td align="right">
    .97
</td>
<td align="right">
     1
</td>
<td align="right">
      .97
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IAG
</td>
<td align="right">
   16.42
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -2.80
</td>
<td align="right">
   -.30
</td>
<td align="right">
   -.21
</td>
<td align="right">
     4
</td>
<td align="right">
     -.82
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    6.25
</td>
<td align="right">
 -.61
</td>
<td align="right">
    3.55
</td>
<td align="right">
    .05
</td>
<td align="right">
    .48
</td>
<td align="right">
    49
</td>
<td align="right">
    23.57
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
PAAS
</td>
<td align="right">
   22.03
</td>
<td align="right">
 -.72
</td>
<td align="right">
    1.87
</td>
<td align="right">
   -.12
</td>
<td align="right">
    .27
</td>
<td align="right">
    26
</td>
<td align="right">
     7.13
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
PBR
</td>
<td align="right">
   24.05
</td>
<td align="right">
 -.58
</td>
<td align="right">
   20.96
</td>
<td align="right">
   1.11
</td>
<td align="right">
   1.40
</td>
<td align="right">
     6
</td>
<td align="right">
     8.37
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   39.27
</td>
<td align="right">
 -.57
</td>
<td align="right">
   41.00
</td>
<td align="right">
   -.50
</td>
<td align="right">
    .41
</td>
<td align="right">
     1
</td>
<td align="right">
      .41
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   28.63
</td>
<td align="right">
 -.75
</td>
<td align="right">
    3.35
</td>
<td align="right">
    .10
</td>
<td align="right">
    .98
</td>
<td align="right">
    76
</td>
<td align="right">
    74.50
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    6.33
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.83
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.03
</td>
<td align="right">
     3
</td>
<td align="right">
     -.08
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   52.23
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -5.59
</td>
<td align="right">
   -.37
</td>
<td align="right">
   -.55
</td>
<td align="right">
     9
</td>
<td align="right">
    -4.92
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   85.97
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -3.39
</td>
<td align="right">
   -.27
</td>
<td align="right">
  -1.48
</td>
<td align="right">
    10
</td>
<td align="right">
   -14.81
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   192
</td>
<td align="right">
   100.47
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
CELG
</td>
<td align="right">
   63.86
</td>
<td align="right">
  .63
</td>
<td align="right">
  171.00
</td>
<td align="right">
   1.05
</td>
<td align="right">
   1.71
</td>
<td align="right">
     1
</td>
<td align="right">
     1.71
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   37.04
</td>
<td align="right">
  .67
</td>
<td align="right">
    5.53
</td>
<td align="right">
    .00
</td>
<td align="right">
   2.22
</td>
<td align="right">
    28
</td>
<td align="right">
    62.11
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  118.15
</td>
<td align="right">
  .56
</td>
<td align="right">
    3.82
</td>
<td align="right">
   -.39
</td>
<td align="right">
   2.15
</td>
<td align="right">
    20
</td>
<td align="right">
    43.04
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   34.70
</td>
<td align="right">
  .67
</td>
<td align="right">
   24.34
</td>
<td align="right">
   1.04
</td>
<td align="right">
   1.52
</td>
<td align="right">
     3
</td>
<td align="right">
     4.56
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    9.63
</td>
<td align="right">
  .60
</td>
<td align="right">
   13.74
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .32
</td>
<td align="right">
     6
</td>
<td align="right">
     1.91
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
FXI
</td>
<td align="right">
   34.05
</td>
<td align="right">
  .58
</td>
<td align="right">
    7.39
</td>
<td align="right">
   -.15
</td>
<td align="right">
    .68
</td>
<td align="right">
     8
</td>
<td align="right">
     5.47
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   71.70
</td>
<td align="right">
  .57
</td>
<td align="right">
   13.32
</td>
<td align="right">
    .14
</td>
<td align="right">
   1.83
</td>
<td align="right">
     4
</td>
<td align="right">
     7.32
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
JPM
</td>
<td align="right">
   30.48
</td>
<td align="right">
  .56
</td>
<td align="right">
  192.00
</td>
<td align="right">
   1.32
</td>
<td align="right">
   1.92
</td>
<td align="right">
     1
</td>
<td align="right">
     1.92
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   40.56
</td>
<td align="right">
  .59
</td>
<td align="right">
   11.92
</td>
<td align="right">
    .89
</td>
<td align="right">
   1.93
</td>
<td align="right">
     7
</td>
<td align="right">
    13.49
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   60.97
</td>
<td align="right">
  .60
</td>
<td align="right">
    4.17
</td>
<td align="right">
   -.17
</td>
<td align="right">
    .95
</td>
<td align="right">
    30
</td>
<td align="right">
    28.37
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   75.97
</td>
<td align="right">
  .60
</td>
<td align="right">
    2.78
</td>
<td align="right">
    .22
</td>
<td align="right">
    .38
</td>
<td align="right">
     8
</td>
<td align="right">
     3.00
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   54.55
</td>
<td align="right">
  .68
</td>
<td align="right">
    3.12
</td>
<td align="right">
    .38
</td>
<td align="right">
   1.43
</td>
<td align="right">
    45
</td>
<td align="right">
    64.45
</td>
<td align="right">
    .46
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   39.12
</td>
<td align="right">
  .67
</td>
<td align="right">
   13.72
</td>
<td align="right">
   -.18
</td>
<td align="right">
   1.40
</td>
<td align="right">
     8
</td>
<td align="right">
    11.22
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
UPS
</td>
<td align="right">
   71.14
</td>
<td align="right">
  .68
</td>
<td align="right">
    5.31
</td>
<td align="right">
    .07
</td>
<td align="right">
   1.38
</td>
<td align="right">
    27
</td>
<td align="right">
    37.24
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
   98.06
</td>
<td align="right">
  .65
</td>
<td align="right">
  166.00
</td>
<td align="right">
   1.19
</td>
<td align="right">
   1.66
</td>
<td align="right">
     1
</td>
<td align="right">
     1.66
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WDC
</td>
<td align="right">
   30.76
</td>
<td align="right">
  .68
</td>
<td align="right">
    9.76
</td>
<td align="right">
    .11
</td>
<td align="right">
   1.20
</td>
<td align="right">
    48
</td>
<td align="right">
    57.75
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   57.93
</td>
<td align="right">
  .58
</td>
<td align="right">
    7.71
</td>
<td align="right">
   -.05
</td>
<td align="right">
   1.06
</td>
<td align="right">
    22
</td>
<td align="right">
    23.35
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
X
</td>
<td align="right">
   25.18
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.75
</td>
<td align="right">
   -.64
</td>
<td align="right">
   -.20
</td>
<td align="right">
     7
</td>
<td align="right">
    -1.39
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   274
</td>
<td align="right">
   367.18
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
