<h4>Week of: 2012_11_05</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AGU
</td>
<td align="right">
   99.28
</td>
<td align="right">
 -.60
</td>
<td align="right">
 -231.70
</td>
<td align="right">
  -1.63
</td>
<td align="right">
  -4.92
</td>
<td align="right">
     2
</td>
<td align="right">
    -9.83
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  231.61
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .40
</td>
<td align="right">
   -.38
</td>
<td align="right">
    .96
</td>
<td align="right">
     9
</td>
<td align="right">
     8.68
</td>
<td align="right">
   2.40
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   70.95
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .73
</td>
<td align="right">
    .10
</td>
<td align="right">
   1.35
</td>
<td align="right">
    58
</td>
<td align="right">
    78.54
</td>
<td align="right">
   1.85
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   33.84
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .30
</td>
<td align="right">
    .20
</td>
<td align="right">
    .33
</td>
<td align="right">
     5
</td>
<td align="right">
     1.65
</td>
<td align="right">
   1.11
</td>
</tr>
<tr>
<td>
AXP
</td>
<td align="right">
   55.76
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .76
</td>
<td align="right">
    .04
</td>
<td align="right">
    .14
</td>
<td align="right">
     2
</td>
<td align="right">
      .28
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
BHP
</td>
<td align="right">
   72.10
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.74
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.54
</td>
<td align="right">
    44
</td>
<td align="right">
   -23.89
</td>
<td align="right">
    .74
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   37.02
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.59
</td>
<td align="right">
   -.01
</td>
<td align="right">
  -1.04
</td>
<td align="right">
    26
</td>
<td align="right">
   -27.01
</td>
<td align="right">
    .65
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   61.09
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.48
</td>
<td align="right">
   -.07
</td>
<td align="right">
  -1.20
</td>
<td align="right">
    20
</td>
<td align="right">
   -24.04
</td>
<td align="right">
    .81
</td>
</tr>
<tr>
<td>
COP
</td>
<td align="right">
   58.23
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -4.37
</td>
<td align="right">
   -.31
</td>
<td align="right">
  -1.33
</td>
<td align="right">
    13
</td>
<td align="right">
   -17.31
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   31.90
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -2.64
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.82
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.64
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  147.84
</td>
<td align="right">
 -.59
</td>
<td align="right">
 -142.00
</td>
<td align="right">
   -.47
</td>
<td align="right">
  -1.42
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.42
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CSX
</td>
<td align="right">
   20.71
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.18
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.06
</td>
<td align="right">
    30
</td>
<td align="right">
    -1.75
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
CTSH
</td>
<td align="right">
   66.88
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -4.23
</td>
<td align="right">
   -.03
</td>
<td align="right">
  -1.16
</td>
<td align="right">
     8
</td>
<td align="right">
    -9.26
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   34.58
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .30
</td>
<td align="right">
    .00
</td>
<td align="right">
    .11
</td>
<td align="right">
    33
</td>
<td align="right">
     3.47
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   46.48
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .56
</td>
<td align="right">
    .13
</td>
<td align="right">
    .09
</td>
<td align="right">
     9
</td>
<td align="right">
      .81
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
CVX
</td>
<td align="right">
  110.05
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -6.70
</td>
<td align="right">
    .27
</td>
<td align="right">
  -2.64
</td>
<td align="right">
    10
</td>
<td align="right">
   -26.35
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   43.98
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -4.07
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.50
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.99
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   86.69
</td>
<td align="right">
 -.57
</td>
<td align="right">
  -28.86
</td>
<td align="right">
   -.21
</td>
<td align="right">
  -2.25
</td>
<td align="right">
     2
</td>
<td align="right">
    -4.49
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  129.30
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.97
</td>
<td align="right">
    .34
</td>
<td align="right">
   -.53
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.59
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   30.08
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .77
</td>
<td align="right">
    .04
</td>
<td align="right">
    .33
</td>
<td align="right">
    74
</td>
<td align="right">
    24.24
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   49.23
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .24
</td>
<td align="right">
    .55
</td>
<td align="right">
    .15
</td>
<td align="right">
     7
</td>
<td align="right">
     1.08
</td>
<td align="right">
    .63
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   53.85
</td>
<td align="right">
 -.65
</td>
<td align="right">
  -45.00
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.45
</td>
<td align="right">
     1
</td>
<td align="right">
     -.45
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
EGO
</td>
<td align="right">
   14.38
</td>
<td align="right">
 -.61
</td>
<td align="right">
    1.32
</td>
<td align="right">
    .00
</td>
<td align="right">
    .23
</td>
<td align="right">
    32
</td>
<td align="right">
     7.35
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   54.28
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.51
</td>
<td align="right">
    .12
</td>
<td align="right">
   -.31
</td>
<td align="right">
    39
</td>
<td align="right">
   -12.10
</td>
<td align="right">
    .61
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    8.73
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.24
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.02
</td>
<td align="right">
    11
</td>
<td align="right">
     -.25
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   93.50
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -7.91
</td>
<td align="right">
   -.80
</td>
<td align="right">
  -1.83
</td>
<td align="right">
    10
</td>
<td align="right">
   -18.26
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
FLS
</td>
<td align="right">
  141.92
</td>
<td align="right">
 -.55
</td>
<td align="right">
 -377.00
</td>
<td align="right">
   -.86
</td>
<td align="right">
  -3.77
</td>
<td align="right">
     1
</td>
<td align="right">
    -3.77
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GD
</td>
<td align="right">
   68.80
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -3.24
</td>
<td align="right">
    .30
</td>
<td align="right">
  -1.71
</td>
<td align="right">
     3
</td>
<td align="right">
    -5.12
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   43.67
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .93
</td>
<td align="right">
   -.08
</td>
<td align="right">
    .34
</td>
<td align="right">
    48
</td>
<td align="right">
    16.13
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
GLD
</td>
<td align="right">
  166.21
</td>
<td align="right">
 -.71
</td>
<td align="right">
     .62
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .31
</td>
<td align="right">
    51
</td>
<td align="right">
    15.91
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  126.12
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -5.94
</td>
<td align="right">
  -1.94
</td>
<td align="right">
  -6.91
</td>
<td align="right">
    10
</td>
<td align="right">
   -69.10
</td>
<td align="right">
   1.16
</td>
</tr>
<tr>
<td>
HAL
</td>
<td align="right">
   32.23
</td>
<td align="right">
 -.61
</td>
<td align="right">
    1.38
</td>
<td align="right">
    .01
</td>
<td align="right">
    .34
</td>
<td align="right">
    11
</td>
<td align="right">
     3.74
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
HON
</td>
<td align="right">
   63.32
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -4.78
</td>
<td align="right">
    .13
</td>
<td align="right">
   -.98
</td>
<td align="right">
     5
</td>
<td align="right">
    -4.88
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
IAG
</td>
<td align="right">
   15.02
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .40
</td>
<td align="right">
    .02
</td>
<td align="right">
    .06
</td>
<td align="right">
    37
</td>
<td align="right">
     2.35
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
IBM
</td>
<td align="right">
  195.10
</td>
<td align="right">
 -.62
</td>
<td align="right">
 -293.00
</td>
<td align="right">
  -2.56
</td>
<td align="right">
  -2.93
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.93
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   64.31
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .36
</td>
<td align="right">
    .38
</td>
<td align="right">
    .36
</td>
<td align="right">
     6
</td>
<td align="right">
     2.15
</td>
<td align="right">
   1.01
</td>
</tr>
<tr>
<td>
JOY
</td>
<td align="right">
   63.82
</td>
<td align="right">
 -.88
</td>
<td align="right">
     .35
</td>
<td align="right">
    .00
</td>
<td align="right">
    .16
</td>
<td align="right">
    78
</td>
<td align="right">
    12.26
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
LMT
</td>
<td align="right">
   95.06
</td>
<td align="right">
 -.67
</td>
<td align="right">
  -10.88
</td>
<td align="right">
    .51
</td>
<td align="right">
  -5.00
</td>
<td align="right">
    13
</td>
<td align="right">
   -64.96
</td>
<td align="right">
    .46
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   44.11
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.75
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.51
</td>
<td align="right">
    24
</td>
<td align="right">
   -12.26
</td>
<td align="right">
    .68
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  467.34
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.97
</td>
<td align="right">
  -2.16
</td>
<td align="right">
  -2.12
</td>
<td align="right">
     3
</td>
<td align="right">
    -6.36
</td>
<td align="right">
   2.19
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   42.19
</td>
<td align="right">
 -.62
</td>
<td align="right">
    4.35
</td>
<td align="right">
    .01
</td>
<td align="right">
    .58
</td>
<td align="right">
    46
</td>
<td align="right">
    26.62
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
MT
</td>
<td align="right">
   15.11
</td>
<td align="right">
 -.58
</td>
<td align="right">
    2.84
</td>
<td align="right">
   -.14
</td>
<td align="right">
    .57
</td>
<td align="right">
    19
</td>
<td align="right">
    10.76
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   41.43
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.82
</td>
<td align="right">
   -.33
</td>
<td align="right">
   -.59
</td>
<td align="right">
     7
</td>
<td align="right">
    -4.11
</td>
<td align="right">
    .72
</td>
</tr>
<tr>
<td>
PAAS
</td>
<td align="right">
   20.82
</td>
<td align="right">
 -.62
</td>
<td align="right">
    3.14
</td>
<td align="right">
    .44
</td>
<td align="right">
    .26
</td>
<td align="right">
    11
</td>
<td align="right">
     2.84
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   87.35
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -2.07
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.52
</td>
<td align="right">
    15
</td>
<td align="right">
    -7.84
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   56.97
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -4.65
</td>
<td align="right">
   -.19
</td>
<td align="right">
   -.53
</td>
<td align="right">
     6
</td>
<td align="right">
    -3.20
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   40.33
</td>
<td align="right">
 -.75
</td>
<td align="right">
   -3.93
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.56
</td>
<td align="right">
    98
</td>
<td align="right">
   -54.94
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   65.43
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -2.49
</td>
<td align="right">
   -.28
</td>
<td align="right">
  -1.23
</td>
<td align="right">
    61
</td>
<td align="right">
   -75.23
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   32.83
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -3.42
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.19
</td>
<td align="right">
    40
</td>
<td align="right">
    -7.69
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   51.82
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.97
</td>
<td align="right">
    .09
</td>
<td align="right">
   -.47
</td>
<td align="right">
    63
</td>
<td align="right">
   -29.34
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   56.19
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -1.76
</td>
<td align="right">
   -.11
</td>
<td align="right">
  -1.29
</td>
<td align="right">
    75
</td>
<td align="right">
   -96.39
</td>
<td align="right">
    .73
</td>
</tr>
<tr>
<td>
SJM
</td>
<td align="right">
   85.72
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -3.16
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.90
</td>
<td align="right">
    41
</td>
<td align="right">
   -36.81
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   17.36
</td>
<td align="right">
 -.60
</td>
<td align="right">
  -16.00
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.16
</td>
<td align="right">
     1
</td>
<td align="right">
     -.16
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   31.02
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.57
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.27
</td>
<td align="right">
    22
</td>
<td align="right">
    -5.95
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   44.84
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -4.08
</td>
<td align="right">
   -.12
</td>
<td align="right">
  -1.37
</td>
<td align="right">
    21
</td>
<td align="right">
   -28.83
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   40.70
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -2.92
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.49
</td>
<td align="right">
    24
</td>
<td align="right">
   -11.72
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   45.15
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.69
</td>
<td align="right">
   -.27
</td>
<td align="right">
   -.15
</td>
<td align="right">
     3
</td>
<td align="right">
     -.46
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    5.95
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.54
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.05
</td>
<td align="right">
    94
</td>
<td align="right">
    -4.41
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
SWC
</td>
<td align="right">
   10.70
</td>
<td align="right">
 -.70
</td>
<td align="right">
    -.73
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.07
</td>
<td align="right">
     5
</td>
<td align="right">
     -.35
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   41.14
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.06
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.43
</td>
<td align="right">
    19
</td>
<td align="right">
    -8.10
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   56.25
</td>
<td align="right">
 -.69
</td>
<td align="right">
  -12.27
</td>
<td align="right">
   -.49
</td>
<td align="right">
  -2.08
</td>
<td align="right">
    31
</td>
<td align="right">
   -64.62
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
UPS
</td>
<td align="right">
   73.51
</td>
<td align="right">
 -.68
</td>
<td align="right">
     .27
</td>
<td align="right">
   -.06
</td>
<td align="right">
    .13
</td>
<td align="right">
    42
</td>
<td align="right">
     5.29
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
  144.41
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -7.11
</td>
<td align="right">
   -.36
</td>
<td align="right">
  -2.33
</td>
<td align="right">
     8
</td>
<td align="right">
   -18.64
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   92.15
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -1.26
</td>
<td align="right">
   -.60
</td>
<td align="right">
  -1.62
</td>
<td align="right">
     2
</td>
<td align="right">
    -3.24
</td>
<td align="right">
   1.29
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  112.78
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -2.72
</td>
<td align="right">
   -.64
</td>
<td align="right">
  -1.34
</td>
<td align="right">
     5
</td>
<td align="right">
    -6.68
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   88.79
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.71
</td>
<td align="right">
   -.06
</td>
<td align="right">
  -1.03
</td>
<td align="right">
     4
</td>
<td align="right">
    -4.13
</td>
<td align="right">
   1.45
</td>
</tr>
<tr>
<td>
YUM
</td>
<td align="right">
   73.11
</td>
<td align="right">
 -.55
</td>
<td align="right">
  -71.00
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.71
</td>
<td align="right">
     1
</td>
<td align="right">
     -.71
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1510
</td>
<td align="right">
  -600.41
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   50.73
</td>
<td align="right">
  .68
</td>
<td align="right">
   -1.31
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.60
</td>
<td align="right">
    30
</td>
<td align="right">
   -18.09
</td>
<td align="right">
    .46
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   85.69
</td>
<td align="right">
  .69
</td>
<td align="right">
   -1.55
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.74
</td>
<td align="right">
    23
</td>
<td align="right">
   -17.06
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  233.30
</td>
<td align="right">
  .58
</td>
<td align="right">
   -1.32
</td>
<td align="right">
   -.49
</td>
<td align="right">
  -3.47
</td>
<td align="right">
     6
</td>
<td align="right">
   -20.84
</td>
<td align="right">
   2.64
</td>
</tr>
<tr>
<td>
APA
</td>
<td align="right">
   80.49
</td>
<td align="right">
  .63
</td>
<td align="right">
     .52
</td>
<td align="right">
    .05
</td>
<td align="right">
    .68
</td>
<td align="right">
    35
</td>
<td align="right">
    23.71
</td>
<td align="right">
   1.31
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   19.77
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.36
</td>
<td align="right">
    .25
</td>
<td align="right">
   -.11
</td>
<td align="right">
     4
</td>
<td align="right">
     -.44
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   33.91
</td>
<td align="right">
  .68
</td>
<td align="right">
    -.69
</td>
<td align="right">
    .10
</td>
<td align="right">
   -.27
</td>
<td align="right">
    30
</td>
<td align="right">
    -8.09
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
BEN
</td>
<td align="right">
  131.11
</td>
<td align="right">
  .60
</td>
<td align="right">
    1.42
</td>
<td align="right">
    .44
</td>
<td align="right">
    .79
</td>
<td align="right">
     3
</td>
<td align="right">
     2.37
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
BP
</td>
<td align="right">
   41.79
</td>
<td align="right">
  .60
</td>
<td align="right">
   -1.33
</td>
<td align="right">
   -.22
</td>
<td align="right">
   -.53
</td>
<td align="right">
     6
</td>
<td align="right">
    -3.17
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  210.39
</td>
<td align="right">
  .57
</td>
<td align="right">
    3.73
</td>
<td align="right">
    .04
</td>
<td align="right">
   3.01
</td>
<td align="right">
     9
</td>
<td align="right">
    27.10
</td>
<td align="right">
    .81
</td>
</tr>
<tr>
<td>
CHK
</td>
<td align="right">
   18.06
</td>
<td align="right">
  .59
</td>
<td align="right">
    4.06
</td>
<td align="right">
    .07
</td>
<td align="right">
    .37
</td>
<td align="right">
    16
</td>
<td align="right">
     5.93
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
CMI
</td>
<td align="right">
  100.64
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.27
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.45
</td>
<td align="right">
   100
</td>
<td align="right">
   -44.96
</td>
<td align="right">
   1.64
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   59.43
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.33
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.64
</td>
<td align="right">
    13
</td>
<td align="right">
    -8.32
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   31.58
</td>
<td align="right">
  .56
</td>
<td align="right">
  -12.00
</td>
<td align="right">
   -.45
</td>
<td align="right">
   -.12
</td>
<td align="right">
     1
</td>
<td align="right">
     -.12
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  148.48
</td>
<td align="right">
  .68
</td>
<td align="right">
   -7.88
</td>
<td align="right">
   -.48
</td>
<td align="right">
  -1.95
</td>
<td align="right">
     3
</td>
<td align="right">
    -5.85
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   17.50
</td>
<td align="right">
  .67
</td>
<td align="right">
   -3.02
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.25
</td>
<td align="right">
    16
</td>
<td align="right">
    -3.97
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
CTSH
</td>
<td align="right">
   66.96
</td>
<td align="right">
  .61
</td>
<td align="right">
   51.00
</td>
<td align="right">
   -.12
</td>
<td align="right">
    .51
</td>
<td align="right">
     1
</td>
<td align="right">
      .51
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CVX
</td>
<td align="right">
  108.89
</td>
<td align="right">
  .56
</td>
<td align="right">
   76.60
</td>
<td align="right">
    .19
</td>
<td align="right">
   1.63
</td>
<td align="right">
     2
</td>
<td align="right">
     3.25
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   84.66
</td>
<td align="right">
  .68
</td>
<td align="right">
   -1.11
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.45
</td>
<td align="right">
    25
</td>
<td align="right">
   -11.15
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  129.75
</td>
<td align="right">
  .63
</td>
<td align="right">
   -5.38
</td>
<td align="right">
   -.56
</td>
<td align="right">
   -.97
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.91
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   50.01
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.38
</td>
<td align="right">
    .06
</td>
<td align="right">
    .29
</td>
<td align="right">
    37
</td>
<td align="right">
    10.81
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
DNDN
</td>
<td align="right">
    4.21
</td>
<td align="right">
  .62
</td>
<td align="right">
  -21.00
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.21
</td>
<td align="right">
     1
</td>
<td align="right">
     -.21
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   49.64
</td>
<td align="right">
  .67
</td>
<td align="right">
     .24
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .09
</td>
<td align="right">
    23
</td>
<td align="right">
     2.12
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
DVN
</td>
<td align="right">
   59.15
</td>
<td align="right">
  .57
</td>
<td align="right">
  -16.86
</td>
<td align="right">
    .10
</td>
<td align="right">
  -3.94
</td>
<td align="right">
     2
</td>
<td align="right">
    -7.87
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
ESRX
</td>
<td align="right">
   57.55
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.76
</td>
<td align="right">
  -3.50
</td>
<td align="right">
  -2.83
</td>
<td align="right">
    26
</td>
<td align="right">
   -73.70
</td>
<td align="right">
   3.73
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   54.27
</td>
<td align="right">
  .55
</td>
<td align="right">
 -108.00
</td>
<td align="right">
   -.06
</td>
<td align="right">
  -1.08
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.08
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   38.89
</td>
<td align="right">
  .71
</td>
<td align="right">
    -.06
</td>
<td align="right">
    .18
</td>
<td align="right">
   -.02
</td>
<td align="right">
    10
</td>
<td align="right">
     -.19
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   91.61
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.93
</td>
<td align="right">
   -.28
</td>
<td align="right">
   -.88
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.76
</td>
<td align="right">
    .95
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
   87.74
</td>
<td align="right">
  .62
</td>
<td align="right">
     .78
</td>
<td align="right">
    .37
</td>
<td align="right">
    .67
</td>
<td align="right">
    15
</td>
<td align="right">
    10.04
</td>
<td align="right">
    .86
</td>
</tr>
<tr>
<td>
FLS
</td>
<td align="right">
  139.27
</td>
<td align="right">
  .70
</td>
<td align="right">
    -.86
</td>
<td align="right">
    .22
</td>
<td align="right">
  -1.05
</td>
<td align="right">
    67
</td>
<td align="right">
   -70.16
</td>
<td align="right">
   1.22
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   44.51
</td>
<td align="right">
  .66
</td>
<td align="right">
     .17
</td>
<td align="right">
   -.31
</td>
<td align="right">
    .07
</td>
<td align="right">
    21
</td>
<td align="right">
     1.37
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  673.28
</td>
<td align="right">
  .68
</td>
<td align="right">
    -.98
</td>
<td align="right">
    .54
</td>
<td align="right">
  -7.84
</td>
<td align="right">
    76
</td>
<td align="right">
  -596.08
</td>
<td align="right">
   7.99
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  123.54
</td>
<td align="right">
  .71
</td>
<td align="right">
    1.48
</td>
<td align="right">
    .55
</td>
<td align="right">
   2.13
</td>
<td align="right">
    38
</td>
<td align="right">
    80.83
</td>
<td align="right">
   1.44
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   81.89
</td>
<td align="right">
  .62
</td>
<td align="right">
   -2.83
</td>
<td align="right">
   -.21
</td>
<td align="right">
  -1.66
</td>
<td align="right">
     6
</td>
<td align="right">
    -9.96
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
LLY
</td>
<td align="right">
   48.65
</td>
<td align="right">
  .65
</td>
<td align="right">
   -1.84
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.54
</td>
<td align="right">
    20
</td>
<td align="right">
   -10.78
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  464.60
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.08
</td>
<td align="right">
    .25
</td>
<td align="right">
   -.23
</td>
<td align="right">
    16
</td>
<td align="right">
    -3.72
</td>
<td align="right">
   2.83
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   45.53
</td>
<td align="right">
  .67
</td>
<td align="right">
    2.12
</td>
<td align="right">
    .05
</td>
<td align="right">
    .40
</td>
<td align="right">
    59
</td>
<td align="right">
    23.54
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
   12.84
</td>
<td align="right">
  .74
</td>
<td align="right">
    2.83
</td>
<td align="right">
    .01
</td>
<td align="right">
    .42
</td>
<td align="right">
    48
</td>
<td align="right">
    20.23
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   68.17
</td>
<td align="right">
  .56
</td>
<td align="right">
  143.00
</td>
<td align="right">
    .48
</td>
<td align="right">
   1.43
</td>
<td align="right">
     1
</td>
<td align="right">
     1.43
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
NVDA
</td>
<td align="right">
   13.03
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.04
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.22
</td>
<td align="right">
     2
</td>
<td align="right">
     -.44
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
ORCL
</td>
<td align="right">
   31.38
</td>
<td align="right">
  .56
</td>
<td align="right">
  -46.00
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.46
</td>
<td align="right">
     1
</td>
<td align="right">
     -.46
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
OXY
</td>
<td align="right">
   77.62
</td>
<td align="right">
  .69
</td>
<td align="right">
   -1.67
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.58
</td>
<td align="right">
    28
</td>
<td align="right">
   -16.20
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
PAAS
</td>
<td align="right">
   21.64
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.50
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.52
</td>
<td align="right">
    31
</td>
<td align="right">
   -16.26
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   59.77
</td>
<td align="right">
  .71
</td>
<td align="right">
    1.58
</td>
<td align="right">
    .31
</td>
<td align="right">
    .68
</td>
<td align="right">
    24
</td>
<td align="right">
    16.37
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
PEP
</td>
<td align="right">
   68.69
</td>
<td align="right">
  .61
</td>
<td align="right">
   29.00
</td>
<td align="right">
    .14
</td>
<td align="right">
    .29
</td>
<td align="right">
     1
</td>
<td align="right">
      .29
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   59.21
</td>
<td align="right">
  .62
</td>
<td align="right">
  -12.14
</td>
<td align="right">
    .18
</td>
<td align="right">
  -2.03
</td>
<td align="right">
     8
</td>
<td align="right">
   -16.21
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  151.68
</td>
<td align="right">
  .63
</td>
<td align="right">
     .91
</td>
<td align="right">
   -.07
</td>
<td align="right">
    .70
</td>
<td align="right">
    45
</td>
<td align="right">
    31.67
</td>
<td align="right">
    .77
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
    8.91
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.16
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.06
</td>
<td align="right">
    31
</td>
<td align="right">
    -1.72
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
SCCO
</td>
<td align="right">
   35.54
</td>
<td align="right">
  .73
</td>
<td align="right">
    -.91
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.58
</td>
<td align="right">
    36
</td>
<td align="right">
   -20.76
</td>
<td align="right">
    .63
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   17.11
</td>
<td align="right">
  .57
</td>
<td align="right">
   -2.62
</td>
<td align="right">
    .14
</td>
<td align="right">
   -.32
</td>
<td align="right">
     2
</td>
<td align="right">
     -.63
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
SLB
</td>
<td align="right">
   69.92
</td>
<td align="right">
  .63
</td>
<td align="right">
   -1.10
</td>
<td align="right">
    .17
</td>
<td align="right">
   -.55
</td>
<td align="right">
     8
</td>
<td align="right">
    -4.40
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
SNDK
</td>
<td align="right">
   43.84
</td>
<td align="right">
  .60
</td>
<td align="right">
    1.63
</td>
<td align="right">
    .14
</td>
<td align="right">
    .91
</td>
<td align="right">
    32
</td>
<td align="right">
    29.10
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
SU
</td>
<td align="right">
   34.62
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.33
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.18
</td>
<td align="right">
    30
</td>
<td align="right">
    -5.26
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    5.94
</td>
<td align="right">
  .63
</td>
<td align="right">
    2.00
</td>
<td align="right">
    .00
</td>
<td align="right">
    .02
</td>
<td align="right">
     7
</td>
<td align="right">
      .15
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
SWC
</td>
<td align="right">
   10.91
</td>
<td align="right">
  .56
</td>
<td align="right">
  -27.00
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.27
</td>
<td align="right">
     1
</td>
<td align="right">
     -.27
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   63.61
</td>
<td align="right">
  .64
</td>
<td align="right">
   -3.84
</td>
<td align="right">
   -.30
</td>
<td align="right">
   -.64
</td>
<td align="right">
    10
</td>
<td align="right">
    -6.44
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   54.51
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.40
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.28
</td>
<td align="right">
    22
</td>
<td align="right">
    -6.16
</td>
<td align="right">
    .69
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
  142.52
</td>
<td align="right">
  .59
</td>
<td align="right">
     .45
</td>
<td align="right">
   -.15
</td>
<td align="right">
    .20
</td>
<td align="right">
     7
</td>
<td align="right">
     1.41
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
VLO
</td>
<td align="right">
   30.34
</td>
<td align="right">
  .61
</td>
<td align="right">
   -6.61
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.88
</td>
<td align="right">
     4
</td>
<td align="right">
    -3.53
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
WAG
</td>
<td align="right">
   34.02
</td>
<td align="right">
  .63
</td>
<td align="right">
   -3.30
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.33
</td>
<td align="right">
     6
</td>
<td align="right">
    -2.00
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
WDC
</td>
<td align="right">
   36.68
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.55
</td>
<td align="right">
   -.43
</td>
<td align="right">
   -.77
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.53
</td>
<td align="right">
   1.39
</td>
</tr>
<tr>
<td>
WFC
</td>
<td align="right">
   34.26
</td>
<td align="right">
  .59
</td>
<td align="right">
  -13.25
</td>
<td align="right">
   -.15
</td>
<td align="right">
  -1.24
</td>
<td align="right">
    12
</td>
<td align="right">
   -14.83
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   96.68
</td>
<td align="right">
  .60
</td>
<td align="right">
  -16.05
</td>
<td align="right">
   -.41
</td>
<td align="right">
  -5.22
</td>
<td align="right">
     2
</td>
<td align="right">
   -10.44
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   98.51
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.49
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.41
</td>
<td align="right">
     8
</td>
<td align="right">
    -3.31
</td>
<td align="right">
    .85
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   73.41
</td>
<td align="right">
  .56
</td>
<td align="right">
   -9.00
</td>
<td align="right">
   -.23
</td>
<td align="right">
   -.09
</td>
<td align="right">
     1
</td>
<td align="right">
     -.09
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  111.93
</td>
<td align="right">
  .66
</td>
<td align="right">
   -1.34
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.85
</td>
<td align="right">
    36
</td>
<td align="right">
   -30.44
</td>
<td align="right">
    .63
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   71.21
</td>
<td align="right">
  .73
</td>
<td align="right">
    6.02
</td>
<td align="right">
    .19
</td>
<td align="right">
   1.39
</td>
<td align="right">
    34
</td>
<td align="right">
    47.13
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1226
</td>
<td align="right">
  -742.50
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
