<h4>Week of: 2011_11_21</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   44.90
</td>
<td align="right">
 -.81
</td>
<td align="right">
    -.41
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.09
</td>
<td align="right">
    78
</td>
<td align="right">
    -6.97
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  124.39
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.46
</td>
<td align="right">
   -.33
</td>
<td align="right">
  -1.16
</td>
<td align="right">
     4
</td>
<td align="right">
    -4.63
</td>
<td align="right">
   2.52
</td>
</tr>
<tr>
<td>
BRCM
</td>
<td align="right">
   32.34
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -2.01
</td>
<td align="right">
   -.21
</td>
<td align="right">
   -.19
</td>
<td align="right">
     2
</td>
<td align="right">
     -.37
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
CELG
</td>
<td align="right">
   61.26
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -2.37
</td>
<td align="right">
    .26
</td>
<td align="right">
   -.49
</td>
<td align="right">
     2
</td>
<td align="right">
     -.97
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   40.85
</td>
<td align="right">
 -.57
</td>
<td align="right">
  -82.00
</td>
<td align="right">
  -1.32
</td>
<td align="right">
   -.82
</td>
<td align="right">
     1
</td>
<td align="right">
     -.82
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CTSH
</td>
<td align="right">
   64.25
</td>
<td align="right">
 -.55
</td>
<td align="right">
 -168.00
</td>
<td align="right">
    .21
</td>
<td align="right">
  -1.68
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.68
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
   10.22
</td>
<td align="right">
 -.72
</td>
<td align="right">
    1.51
</td>
<td align="right">
    .06
</td>
<td align="right">
    .52
</td>
<td align="right">
    83
</td>
<td align="right">
    43.16
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
FFIV
</td>
<td align="right">
  102.31
</td>
<td align="right">
 -.69
</td>
<td align="right">
    1.56
</td>
<td align="right">
   1.01
</td>
<td align="right">
    .57
</td>
<td align="right">
    17
</td>
<td align="right">
     9.73
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
GLD
</td>
<td align="right">
  165.01
</td>
<td align="right">
 -.61
</td>
<td align="right">
 -125.00
</td>
<td align="right">
    .20
</td>
<td align="right">
  -1.25
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.25
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  578.57
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.18
</td>
<td align="right">
    .29
</td>
<td align="right">
   -.97
</td>
<td align="right">
    12
</td>
<td align="right">
   -11.68
</td>
<td align="right">
   5.26
</td>
</tr>
<tr>
<td>
HL
</td>
<td align="right">
    5.64
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.19
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.04
</td>
<td align="right">
    11
</td>
<td align="right">
     -.42
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   34.87
</td>
<td align="right">
 -.61
</td>
<td align="right">
  -78.00
</td>
<td align="right">
   -.56
</td>
<td align="right">
   -.78
</td>
<td align="right">
     1
</td>
<td align="right">
     -.78
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   70.31
</td>
<td align="right">
 -.60
</td>
<td align="right">
    3.40
</td>
<td align="right">
    .31
</td>
<td align="right">
   1.40
</td>
<td align="right">
     3
</td>
<td align="right">
     4.21
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   25.15
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -4.89
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.30
</td>
<td align="right">
     9
</td>
<td align="right">
    -2.71
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    8.13
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -8.53
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.51
</td>
<td align="right">
     8
</td>
<td align="right">
    -4.07
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   42.34
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -2.17
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.67
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.01
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   16.97
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -4.11
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.51
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.54
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   11.98
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.54
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.04
</td>
<td align="right">
    68
</td>
<td align="right">
    -2.47
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   31.57
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .18
</td>
<td align="right">
   -.15
</td>
<td align="right">
    .20
</td>
<td align="right">
     5
</td>
<td align="right">
      .98
</td>
<td align="right">
   1.07
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   50.82
</td>
<td align="right">
 -.60
</td>
<td align="right">
     .04
</td>
<td align="right">
    .39
</td>
<td align="right">
    .05
</td>
<td align="right">
    32
</td>
<td align="right">
     1.59
</td>
<td align="right">
   1.25
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   75.96
</td>
<td align="right">
 -.56
</td>
<td align="right">
    -.21
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.26
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.05
</td>
<td align="right">
   1.25
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   44.45
</td>
<td align="right">
 -.66
</td>
<td align="right">
    3.43
</td>
<td align="right">
    .11
</td>
<td align="right">
    .36
</td>
<td align="right">
    19
</td>
<td align="right">
     6.77
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   64.84
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -2.80
</td>
<td align="right">
   -.55
</td>
<td align="right">
  -1.27
</td>
<td align="right">
     8
</td>
<td align="right">
   -10.15
</td>
<td align="right">
    .45
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   375
</td>
<td align="right">
    12.87
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ADM
</td>
<td align="right">
   28.40
</td>
<td align="right">
  .57
</td>
<td align="right">
  -56.00
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.56
</td>
<td align="right">
     1
</td>
<td align="right">
     -.56
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   27.27
</td>
<td align="right">
  .61
</td>
<td align="right">
   -2.70
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.77
</td>
<td align="right">
     5
</td>
<td align="right">
    -3.83
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    6.17
</td>
<td align="right">
  .70
</td>
<td align="right">
    3.33
</td>
<td align="right">
    .07
</td>
<td align="right">
    .26
</td>
<td align="right">
    17
</td>
<td align="right">
     4.35
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
BBT
</td>
<td align="right">
   22.06
</td>
<td align="right">
  .55
</td>
<td align="right">
  -68.00
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.68
</td>
<td align="right">
     1
</td>
<td align="right">
     -.68
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   26.24
</td>
<td align="right">
  .56
</td>
<td align="right">
  -44.00
</td>
<td align="right">
    .10
</td>
<td align="right">
   -.44
</td>
<td align="right">
     1
</td>
<td align="right">
     -.44
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BTU
</td>
<td align="right">
   34.76
</td>
<td align="right">
  .61
</td>
<td align="right">
   -6.63
</td>
<td align="right">
   -.58
</td>
<td align="right">
  -1.27
</td>
<td align="right">
     4
</td>
<td align="right">
    -5.06
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
CDE
</td>
<td align="right">
   26.60
</td>
<td align="right">
  .60
</td>
<td align="right">
   40.00
</td>
<td align="right">
   -.26
</td>
<td align="right">
    .40
</td>
<td align="right">
     1
</td>
<td align="right">
      .40
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CMG
</td>
<td align="right">
  309.42
</td>
<td align="right">
  .74
</td>
<td align="right">
   -4.51
</td>
<td align="right">
  -1.38
</td>
<td align="right">
  -6.88
</td>
<td align="right">
    36
</td>
<td align="right">
  -247.77
</td>
<td align="right">
   1.53
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   40.82
</td>
<td align="right">
  .58
</td>
<td align="right">
    -.40
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.39
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.16
</td>
<td align="right">
    .96
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  109.10
</td>
<td align="right">
  .58
</td>
<td align="right">
   -7.60
</td>
<td align="right">
   -.44
</td>
<td align="right">
  -3.60
</td>
<td align="right">
     3
</td>
<td align="right">
   -10.79
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   31.01
</td>
<td align="right">
  .65
</td>
<td align="right">
   -9.52
</td>
<td align="right">
   -.27
</td>
<td align="right">
  -1.54
</td>
<td align="right">
     5
</td>
<td align="right">
    -7.70
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  115.03
</td>
<td align="right">
  .62
</td>
<td align="right">
   -8.89
</td>
<td align="right">
   -.35
</td>
<td align="right">
  -2.06
</td>
<td align="right">
    16
</td>
<td align="right">
   -33.00
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   34.01
</td>
<td align="right">
  .55
</td>
<td align="right">
  -52.00
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.52
</td>
<td align="right">
     1
</td>
<td align="right">
     -.52
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   46.40
</td>
<td align="right">
  .61
</td>
<td align="right">
   -5.62
</td>
<td align="right">
   -.04
</td>
<td align="right">
  -1.16
</td>
<td align="right">
    11
</td>
<td align="right">
   -12.73
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
   10.78
</td>
<td align="right">
  .56
</td>
<td align="right">
  -35.00
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.35
</td>
<td align="right">
     1
</td>
<td align="right">
     -.35
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   56.38
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.13
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.18
</td>
<td align="right">
    40
</td>
<td align="right">
    -7.36
</td>
<td align="right">
   1.39
</td>
</tr>
<tr>
<td>
GFI
</td>
<td align="right">
   15.74
</td>
<td align="right">
  .67
</td>
<td align="right">
  -10.04
</td>
<td align="right">
   -.14
</td>
<td align="right">
   -.31
</td>
<td align="right">
     3
</td>
<td align="right">
     -.92
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  581.33
</td>
<td align="right">
  .55
</td>
<td align="right">
   93.00
</td>
<td align="right">
   1.94
</td>
<td align="right">
    .93
</td>
<td align="right">
     1
</td>
<td align="right">
      .93
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
HD
</td>
<td align="right">
   36.89
</td>
<td align="right">
  .73
</td>
<td align="right">
    1.95
</td>
<td align="right">
    .09
</td>
<td align="right">
    .33
</td>
<td align="right">
    39
</td>
<td align="right">
    12.71
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
HPQ
</td>
<td align="right">
   26.73
</td>
<td align="right">
  .57
</td>
<td align="right">
 -115.00
</td>
<td align="right">
    .11
</td>
<td align="right">
  -1.15
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.15
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IAG
</td>
<td align="right">
   19.22
</td>
<td align="right">
  .61
</td>
<td align="right">
  -44.00
</td>
<td align="right">
   -.33
</td>
<td align="right">
   -.44
</td>
<td align="right">
     1
</td>
<td align="right">
     -.44
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   69.65
</td>
<td align="right">
  .65
</td>
<td align="right">
  -10.21
</td>
<td align="right">
   -.14
</td>
<td align="right">
  -1.82
</td>
<td align="right">
    22
</td>
<td align="right">
   -40.14
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
LLY
</td>
<td align="right">
   36.44
</td>
<td align="right">
  .57
</td>
<td align="right">
   -3.27
</td>
<td align="right">
   -.18
</td>
<td align="right">
   -.34
</td>
<td align="right">
     7
</td>
<td align="right">
    -2.37
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   44.21
</td>
<td align="right">
  .60
</td>
<td align="right">
  -89.10
</td>
<td align="right">
   -.39
</td>
<td align="right">
  -1.26
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.52
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   34.37
</td>
<td align="right">
  .67
</td>
<td align="right">
     .01
</td>
<td align="right">
    .11
</td>
<td align="right">
    .01
</td>
<td align="right">
    19
</td>
<td align="right">
      .12
</td>
<td align="right">
    .52
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  153.76
</td>
<td align="right">
  .57
</td>
<td align="right">
 -441.00
</td>
<td align="right">
   -.46
</td>
<td align="right">
  -4.41
</td>
<td align="right">
     1
</td>
<td align="right">
    -4.41
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   24.81
</td>
<td align="right">
  .67
</td>
<td align="right">
   -3.38
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.23
</td>
<td align="right">
    38
</td>
<td align="right">
    -8.88
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   37.35
</td>
<td align="right">
  .62
</td>
<td align="right">
   -2.05
</td>
<td align="right">
   -.29
</td>
<td align="right">
  -1.18
</td>
<td align="right">
     3
</td>
<td align="right">
    -3.53
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
NVDA
</td>
<td align="right">
   14.49
</td>
<td align="right">
  .55
</td>
<td align="right">
   16.97
</td>
<td align="right">
    .23
</td>
<td align="right">
    .48
</td>
<td align="right">
     2
</td>
<td align="right">
      .96
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   72.16
</td>
<td align="right">
  .64
</td>
<td align="right">
   -2.93
</td>
<td align="right">
   -.34
</td>
<td align="right">
   -.97
</td>
<td align="right">
    13
</td>
<td align="right">
   -12.64
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
SLB
</td>
<td align="right">
   69.24
</td>
<td align="right">
  .57
</td>
<td align="right">
 -282.00
</td>
<td align="right">
    .40
</td>
<td align="right">
  -2.82
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.82
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   30.49
</td>
<td align="right">
  .69
</td>
<td align="right">
    2.11
</td>
<td align="right">
    .08
</td>
<td align="right">
   1.16
</td>
<td align="right">
    58
</td>
<td align="right">
    67.46
</td>
<td align="right">
    .55
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   31.61
</td>
<td align="right">
  .56
</td>
<td align="right">
   -3.54
</td>
<td align="right">
    .59
</td>
<td align="right">
   -.03
</td>
<td align="right">
     2
</td>
<td align="right">
     -.05
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    7.36
</td>
<td align="right">
  .64
</td>
<td align="right">
   -5.34
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.28
</td>
<td align="right">
    17
</td>
<td align="right">
    -4.73
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
VALE
</td>
<td align="right">
   24.00
</td>
<td align="right">
  .66
</td>
<td align="right">
  -16.89
</td>
<td align="right">
   -.22
</td>
<td align="right">
  -1.08
</td>
<td align="right">
     2
</td>
<td align="right">
    -2.15
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   56.94
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.78
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.28
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.12
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
X
</td>
<td align="right">
   24.43
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.64
</td>
<td align="right">
   -.31
</td>
<td align="right">
  -1.03
</td>
<td align="right">
     5
</td>
<td align="right">
    -5.13
</td>
<td align="right">
    .62
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   387
</td>
<td align="right">
  -338.02
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
