<h4>Week of: 2012_03_26</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ADBE
</td>
<td align="right">
   34.43
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .49
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .07
</td>
<td align="right">
    18
</td>
<td align="right">
     1.33
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
ADM
</td>
<td align="right">
   31.42
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .46
</td>
<td align="right">
    .07
</td>
<td align="right">
    .29
</td>
<td align="right">
    13
</td>
<td align="right">
     3.73
</td>
<td align="right">
    .62
</td>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   45.75
</td>
<td align="right">
 -.73
</td>
<td align="right">
     .15
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .08
</td>
<td align="right">
   121
</td>
<td align="right">
     9.71
</td>
<td align="right">
    .52
</td>
</tr>
<tr>
<td>
AGU
</td>
<td align="right">
   85.60
</td>
<td align="right">
 -.62
</td>
<td align="right">
    2.47
</td>
<td align="right">
    .40
</td>
<td align="right">
   1.23
</td>
<td align="right">
     4
</td>
<td align="right">
     4.93
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   29.46
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.18
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.02
</td>
<td align="right">
     7
</td>
<td align="right">
     -.13
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   37.58
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.45
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.57
</td>
<td align="right">
    56
</td>
<td align="right">
   -31.83
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   67.75
</td>
<td align="right">
 -.57
</td>
<td align="right">
   38.00
</td>
<td align="right">
   -.47
</td>
<td align="right">
    .38
</td>
<td align="right">
     1
</td>
<td align="right">
      .38
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AMX
</td>
<td align="right">
   24.48
</td>
<td align="right">
 -.61
</td>
<td align="right">
    3.18
</td>
<td align="right">
    .11
</td>
<td align="right">
    .46
</td>
<td align="right">
     8
</td>
<td align="right">
     3.64
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
APA
</td>
<td align="right">
   99.78
</td>
<td align="right">
 -.59
</td>
<td align="right">
    4.69
</td>
<td align="right">
   -.02
</td>
<td align="right">
   1.43
</td>
<td align="right">
     2
</td>
<td align="right">
     2.85
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   78.40
</td>
<td align="right">
 -.64
</td>
<td align="right">
    7.16
</td>
<td align="right">
   -.15
</td>
<td align="right">
   1.03
</td>
<td align="right">
     3
</td>
<td align="right">
     3.10
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   38.71
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .26
</td>
<td align="right">
    .01
</td>
<td align="right">
    .12
</td>
<td align="right">
    32
</td>
<td align="right">
     3.83
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   36.61
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -36.00
</td>
<td align="right">
    .16
</td>
<td align="right">
   -.36
</td>
<td align="right">
     1
</td>
<td align="right">
     -.36
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    7.42
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.38
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.04
</td>
<td align="right">
    23
</td>
<td align="right">
     -.98
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
BBT
</td>
<td align="right">
   31.54
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -9.44
</td>
<td align="right">
    .19
</td>
<td align="right">
   -.18
</td>
<td align="right">
     5
</td>
<td align="right">
     -.92
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   27.27
</td>
<td align="right">
 -.56
</td>
<td align="right">
   -2.45
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.25
</td>
<td align="right">
     4
</td>
<td align="right">
     -.98
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  146.13
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .16
</td>
<td align="right">
   -.47
</td>
<td align="right">
    .44
</td>
<td align="right">
     2
</td>
<td align="right">
      .87
</td>
<td align="right">
   2.65
</td>
</tr>
<tr>
<td>
BRCM
</td>
<td align="right">
   38.78
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.83
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.54
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.08
</td>
<td align="right">
    .65
</td>
</tr>
<tr>
<td>
CDE
</td>
<td align="right">
   23.58
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -2.32
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.23
</td>
<td align="right">
     2
</td>
<td align="right">
     -.46
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
COF
</td>
<td align="right">
   56.99
</td>
<td align="right">
 -.57
</td>
<td align="right">
  -55.00
</td>
<td align="right">
   -.85
</td>
<td align="right">
   -.55
</td>
<td align="right">
     1
</td>
<td align="right">
     -.55
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   31.94
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.24
</td>
<td align="right">
   -.19
</td>
<td align="right">
   -.47
</td>
<td align="right">
     6
</td>
<td align="right">
    -2.83
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  156.43
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.48
</td>
<td align="right">
   -.84
</td>
<td align="right">
  -1.59
</td>
<td align="right">
     2
</td>
<td align="right">
    -3.17
</td>
<td align="right">
   1.07
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   21.05
</td>
<td align="right">
 -.69
</td>
<td align="right">
    7.28
</td>
<td align="right">
    .03
</td>
<td align="right">
    .18
</td>
<td align="right">
     3
</td>
<td align="right">
      .55
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
CSX
</td>
<td align="right">
   21.80
</td>
<td align="right">
 -.70
</td>
<td align="right">
    -.52
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.15
</td>
<td align="right">
     4
</td>
<td align="right">
     -.58
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   36.53
</td>
<td align="right">
 -.56
</td>
<td align="right">
   -6.72
</td>
<td align="right">
   -.56
</td>
<td align="right">
  -1.18
</td>
<td align="right">
     4
</td>
<td align="right">
    -4.71
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
CVX
</td>
<td align="right">
  107.02
</td>
<td align="right">
 -.59
</td>
<td align="right">
    8.59
</td>
<td align="right">
    .26
</td>
<td align="right">
   1.58
</td>
<td align="right">
     2
</td>
<td align="right">
     3.16
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   53.00
</td>
<td align="right">
 -.66
</td>
<td align="right">
    3.43
</td>
<td align="right">
    .02
</td>
<td align="right">
    .44
</td>
<td align="right">
    21
</td>
<td align="right">
     9.31
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   79.86
</td>
<td align="right">
 -.61
</td>
<td align="right">
   39.83
</td>
<td align="right">
   1.02
</td>
<td align="right">
   1.73
</td>
<td align="right">
     4
</td>
<td align="right">
     6.93
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   44.28
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -4.14
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.71
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.14
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
DO
</td>
<td align="right">
   67.64
</td>
<td align="right">
 -.57
</td>
<td align="right">
 -109.00
</td>
<td align="right">
   -.38
</td>
<td align="right">
  -1.09
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.09
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   35.65
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -1.45
</td>
<td align="right">
   -.05
</td>
<td align="right">
  -1.10
</td>
<td align="right">
    34
</td>
<td align="right">
   -37.49
</td>
<td align="right">
    .76
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   49.04
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.02
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.01
</td>
<td align="right">
    60
</td>
<td align="right">
     -.67
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
DVN
</td>
<td align="right">
   71.19
</td>
<td align="right">
 -.56
</td>
<td align="right">
   12.61
</td>
<td align="right">
   -.12
</td>
<td align="right">
   1.79
</td>
<td align="right">
     3
</td>
<td align="right">
     5.38
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
EGO
</td>
<td align="right">
   13.60
</td>
<td align="right">
 -.65
</td>
<td align="right">
    2.73
</td>
<td align="right">
    .04
</td>
<td align="right">
    .32
</td>
<td align="right">
    47
</td>
<td align="right">
    15.17
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
EOG
</td>
<td align="right">
  110.62
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.20
</td>
<td align="right">
    .31
</td>
<td align="right">
   2.33
</td>
<td align="right">
     9
</td>
<td align="right">
    20.94
</td>
<td align="right">
   1.94
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   64.74
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.33
</td>
<td align="right">
   -.17
</td>
<td align="right">
   -.24
</td>
<td align="right">
    33
</td>
<td align="right">
    -7.86
</td>
<td align="right">
    .72
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   38.92
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.59
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.67
</td>
<td align="right">
    32
</td>
<td align="right">
   -21.48
</td>
<td align="right">
   1.15
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   92.65
</td>
<td align="right">
 -.70
</td>
<td align="right">
    -.98
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.48
</td>
<td align="right">
    10
</td>
<td align="right">
    -4.80
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
FLS
</td>
<td align="right">
  116.21
</td>
<td align="right">
 -.55
</td>
<td align="right">
    5.91
</td>
<td align="right">
   -.18
</td>
<td align="right">
   1.55
</td>
<td align="right">
     2
</td>
<td align="right">
     3.09
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
GD
</td>
<td align="right">
   73.93
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.44
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.23
</td>
<td align="right">
    54
</td>
<td align="right">
   -12.49
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  649.49
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .91
</td>
<td align="right">
    .15
</td>
<td align="right">
   3.68
</td>
<td align="right">
    35
</td>
<td align="right">
   128.86
</td>
<td align="right">
   4.04
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  125.02
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.27
</td>
<td align="right">
   -.18
</td>
<td align="right">
   -.25
</td>
<td align="right">
    10
</td>
<td align="right">
    -2.53
</td>
<td align="right">
    .94
</td>
</tr>
<tr>
<td>
HAL
</td>
<td align="right">
   32.63
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .22
</td>
<td align="right">
   -.17
</td>
<td align="right">
    .27
</td>
<td align="right">
     2
</td>
<td align="right">
      .53
</td>
<td align="right">
   1.20
</td>
</tr>
<tr>
<td>
INTC
</td>
<td align="right">
   28.25
</td>
<td align="right">
 -.57
</td>
<td align="right">
     .50
</td>
<td align="right">
   -.17
</td>
<td align="right">
    .10
</td>
<td align="right">
     2
</td>
<td align="right">
      .19
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   54.93
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.37
</td>
<td align="right">
   -.32
</td>
<td align="right">
   -.77
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.54
</td>
<td align="right">
   2.06
</td>
</tr>
<tr>
<td>
JPM
</td>
<td align="right">
   46.12
</td>
<td align="right">
 -.58
</td>
<td align="right">
    -.35
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.08
</td>
<td align="right">
     2
</td>
<td align="right">
     -.16
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
JWN
</td>
<td align="right">
   55.45
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.54
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.20
</td>
<td align="right">
     2
</td>
<td align="right">
     -.39
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   39.92
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -2.67
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.49
</td>
<td align="right">
    13
</td>
<td align="right">
    -6.32
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   37.35
</td>
<td align="right">
 -.60
</td>
<td align="right">
  127.59
</td>
<td align="right">
    .19
</td>
<td align="right">
    .74
</td>
<td align="right">
     3
</td>
<td align="right">
     2.21
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
MT
</td>
<td align="right">
   19.13
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.43
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.22
</td>
<td align="right">
    63
</td>
<td align="right">
   -13.85
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
NEM
</td>
<td align="right">
   51.15
</td>
<td align="right">
 -.60
</td>
<td align="right">
    6.09
</td>
<td align="right">
   -.08
</td>
<td align="right">
   1.12
</td>
<td align="right">
     2
</td>
<td align="right">
     2.24
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
  115.34
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.37
</td>
<td align="right">
   -.26
</td>
<td align="right">
   -.64
</td>
<td align="right">
    10
</td>
<td align="right">
    -6.42
</td>
<td align="right">
   1.75
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   43.67
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -6.07
</td>
<td align="right">
   -.28
</td>
<td align="right">
  -1.35
</td>
<td align="right">
     6
</td>
<td align="right">
    -8.12
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
   40.18
</td>
<td align="right">
 -.60
</td>
<td align="right">
    3.93
</td>
<td align="right">
    .12
</td>
<td align="right">
    .57
</td>
<td align="right">
    19
</td>
<td align="right">
    10.79
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
PAAS
</td>
<td align="right">
   21.78
</td>
<td align="right">
 -.70
</td>
<td align="right">
     .47
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .31
</td>
<td align="right">
    40
</td>
<td align="right">
    12.23
</td>
<td align="right">
    .65
</td>
</tr>
<tr>
<td>
PBR
</td>
<td align="right">
   26.51
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.14
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.06
</td>
<td align="right">
     8
</td>
<td align="right">
     -.46
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
PG
</td>
<td align="right">
   67.38
</td>
<td align="right">
 -.59
</td>
<td align="right">
   23.00
</td>
<td align="right">
   -.08
</td>
<td align="right">
    .23
</td>
<td align="right">
     1
</td>
<td align="right">
      .23
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   88.66
</td>
<td align="right">
 -.60
</td>
<td align="right">
    6.90
</td>
<td align="right">
    .04
</td>
<td align="right">
    .82
</td>
<td align="right">
     3
</td>
<td align="right">
     2.47
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   64.28
</td>
<td align="right">
 -.56
</td>
<td align="right">
    4.95
</td>
<td align="right">
    .14
</td>
<td align="right">
    .28
</td>
<td align="right">
     2
</td>
<td align="right">
      .56
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   68.64
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.27
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.67
</td>
<td align="right">
     7
</td>
<td align="right">
    -4.70
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   33.52
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -3.38
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.09
</td>
<td align="right">
     4
</td>
<td align="right">
     -.34
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   13.97
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .03
</td>
<td align="right">
    .01
</td>
<td align="right">
    .01
</td>
<td align="right">
   122
</td>
<td align="right">
     1.29
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
SJM
</td>
<td align="right">
   80.66
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .31
</td>
<td align="right">
    .02
</td>
<td align="right">
    .10
</td>
<td align="right">
    20
</td>
<td align="right">
     1.91
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   13.05
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.35
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.14
</td>
<td align="right">
     3
</td>
<td align="right">
     -.43
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   31.51
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .46
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .27
</td>
<td align="right">
    52
</td>
<td align="right">
    14.01
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   32.98
</td>
<td align="right">
 -.66
</td>
<td align="right">
    1.50
</td>
<td align="right">
    .06
</td>
<td align="right">
    .67
</td>
<td align="right">
    22
</td>
<td align="right">
    14.76
</td>
<td align="right">
    .45
</td>
</tr>
<tr>
<td>
SU
</td>
<td align="right">
   33.12
</td>
<td align="right">
 -.68
</td>
<td align="right">
  -63.00
</td>
<td align="right">
    .11
</td>
<td align="right">
   -.63
</td>
<td align="right">
     1
</td>
<td align="right">
     -.63
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SUN
</td>
<td align="right">
   38.79
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -1.26
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.37
</td>
<td align="right">
    38
</td>
<td align="right">
   -14.21
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
SWC
</td>
<td align="right">
   12.87
</td>
<td align="right">
 -.56
</td>
<td align="right">
  -45.00
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.45
</td>
<td align="right">
     1
</td>
<td align="right">
     -.45
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   45.16
</td>
<td align="right">
 -.58
</td>
<td align="right">
    4.78
</td>
<td align="right">
    .02
</td>
<td align="right">
    .38
</td>
<td align="right">
     3
</td>
<td align="right">
     1.15
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   58.38
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.42
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.13
</td>
<td align="right">
     5
</td>
<td align="right">
     -.67
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
TXN
</td>
<td align="right">
   33.67
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -6.57
</td>
<td align="right">
   -.30
</td>
<td align="right">
   -.46
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.38
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   92.74
</td>
<td align="right">
 -.70
</td>
<td align="right">
    2.11
</td>
<td align="right">
    .40
</td>
<td align="right">
   1.89
</td>
<td align="right">
     3
</td>
<td align="right">
     5.66
</td>
<td align="right">
    .89
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   59.08
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.17
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.03
</td>
<td align="right">
    28
</td>
<td align="right">
     -.70
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
UNP
</td>
<td align="right">
  110.49
</td>
<td align="right">
 -.73
</td>
<td align="right">
  -13.58
</td>
<td align="right">
   -.14
</td>
<td align="right">
  -2.80
</td>
<td align="right">
    24
</td>
<td align="right">
   -67.14
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
VECO
</td>
<td align="right">
   30.67
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.97
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.72
</td>
<td align="right">
    49
</td>
<td align="right">
   -35.04
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
VLO
</td>
<td align="right">
   26.19
</td>
<td align="right">
 -.58
</td>
<td align="right">
    3.45
</td>
<td align="right">
   -.15
</td>
<td align="right">
    .52
</td>
<td align="right">
     3
</td>
<td align="right">
     1.55
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
  111.82
</td>
<td align="right">
 -.59
</td>
<td align="right">
  272.00
</td>
<td align="right">
    .24
</td>
<td align="right">
   2.72
</td>
<td align="right">
     1
</td>
<td align="right">
     2.72
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
VZ
</td>
<td align="right">
   38.19
</td>
<td align="right">
 -.56
</td>
<td align="right">
   36.00
</td>
<td align="right">
    .08
</td>
<td align="right">
    .36
</td>
<td align="right">
     1
</td>
<td align="right">
      .36
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WFC
</td>
<td align="right">
   34.13
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.37
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.14
</td>
<td align="right">
    10
</td>
<td align="right">
    -1.36
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   82.92
</td>
<td align="right">
 -.70
</td>
<td align="right">
   21.00
</td>
<td align="right">
    .33
</td>
<td align="right">
    .21
</td>
<td align="right">
     1
</td>
<td align="right">
      .21
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  129.21
</td>
<td align="right">
 -.58
</td>
<td align="right">
  -11.43
</td>
<td align="right">
   -.72
</td>
<td align="right">
  -4.10
</td>
<td align="right">
     3
</td>
<td align="right">
   -12.31
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
X
</td>
<td align="right">
   28.77
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .04
</td>
<td align="right">
   -.26
</td>
<td align="right">
    .02
</td>
<td align="right">
     6
</td>
<td align="right">
      .13
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   37.29
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.84
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.43
</td>
<td align="right">
    16
</td>
<td align="right">
    -6.83
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   72.03
</td>
<td align="right">
 -.56
</td>
<td align="right">
    -.44
</td>
<td align="right">
   -.37
</td>
<td align="right">
   -.55
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.10
</td>
<td align="right">
   1.26
</td>
</tr>
<tr>
<td>
XOM
</td>
<td align="right">
   86.04
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .38
</td>
<td align="right">
    .23
</td>
<td align="right">
    .46
</td>
<td align="right">
     3
</td>
<td align="right">
     1.39
</td>
<td align="right">
   1.21
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  1295
</td>
<td align="right">
   -19.33
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ADBE
</td>
<td align="right">
   34.15
</td>
<td align="right">
  .60
</td>
<td align="right">
    4.88
</td>
<td align="right">
    .11
</td>
<td align="right">
    .34
</td>
<td align="right">
    17
</td>
<td align="right">
     5.84
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
ADM
</td>
<td align="right">
   31.28
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.61
</td>
<td align="right">
    .03
</td>
<td align="right">
    .43
</td>
<td align="right">
    25
</td>
<td align="right">
    10.71
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   46.37
</td>
<td align="right">
  .56
</td>
<td align="right">
   31.00
</td>
<td align="right">
    .04
</td>
<td align="right">
    .31
</td>
<td align="right">
     1
</td>
<td align="right">
      .31
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   29.76
</td>
<td align="right">
  .71
</td>
<td align="right">
    1.65
</td>
<td align="right">
    .06
</td>
<td align="right">
    .78
</td>
<td align="right">
    73
</td>
<td align="right">
    57.29
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   36.51
</td>
<td align="right">
  .75
</td>
<td align="right">
     .84
</td>
<td align="right">
    .05
</td>
<td align="right">
    .20
</td>
<td align="right">
    80
</td>
<td align="right">
    16.35
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   67.90
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.09
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.03
</td>
<td align="right">
    24
</td>
<td align="right">
     -.82
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  197.77
</td>
<td align="right">
  .59
</td>
<td align="right">
    3.48
</td>
<td align="right">
   1.82
</td>
<td align="right">
   7.27
</td>
<td align="right">
     3
</td>
<td align="right">
    21.81
</td>
<td align="right">
   2.09
</td>
</tr>
<tr>
<td>
APC
</td>
<td align="right">
   78.25
</td>
<td align="right">
  .64
</td>
<td align="right">
     .22
</td>
<td align="right">
    .05
</td>
<td align="right">
    .29
</td>
<td align="right">
    19
</td>
<td align="right">
     5.48
</td>
<td align="right">
   1.31
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   38.66
</td>
<td align="right">
  .59
</td>
<td align="right">
   67.00
</td>
<td align="right">
    .00
</td>
<td align="right">
    .67
</td>
<td align="right">
     1
</td>
<td align="right">
      .67
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    6.81
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.05
</td>
<td align="right">
    .01
</td>
<td align="right">
    .15
</td>
<td align="right">
    35
</td>
<td align="right">
     5.25
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
BBT
</td>
<td align="right">
   31.31
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.41
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.03
</td>
<td align="right">
    10
</td>
<td align="right">
     -.33
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   27.12
</td>
<td align="right">
  .55
</td>
<td align="right">
  -43.00
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.43
</td>
<td align="right">
     1
</td>
<td align="right">
     -.43
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
BP
</td>
<td align="right">
   44.98
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.82
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.41
</td>
<td align="right">
    54
</td>
<td align="right">
   -22.12
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
BTU
</td>
<td align="right">
   29.46
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.70
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.59
</td>
<td align="right">
     6
</td>
<td align="right">
    -3.51
</td>
<td align="right">
    .84
</td>
</tr>
<tr>
<td>
C
</td>
<td align="right">
   36.74
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.31
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.13
</td>
<td align="right">
    21
</td>
<td align="right">
    -2.73
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
CAT
</td>
<td align="right">
  103.89
</td>
<td align="right">
  .70
</td>
<td align="right">
  239.00
</td>
<td align="right">
   -.11
</td>
<td align="right">
   2.39
</td>
<td align="right">
     1
</td>
<td align="right">
     2.39
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  204.36
</td>
<td align="right">
  .68
</td>
<td align="right">
    -.06
</td>
<td align="right">
    .09
</td>
<td align="right">
   -.26
</td>
<td align="right">
    93
</td>
<td align="right">
   -24.27
</td>
<td align="right">
   4.12
</td>
</tr>
<tr>
<td>
CHK
</td>
<td align="right">
   22.68
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.65
</td>
<td align="right">
    .02
</td>
<td align="right">
    .34
</td>
<td align="right">
    24
</td>
<td align="right">
     8.23
</td>
<td align="right">
    .21
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   69.53
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.10
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.21
</td>
<td align="right">
    16
</td>
<td align="right">
    -3.33
</td>
<td align="right">
   2.10
</td>
</tr>
<tr>
<td>
CMI
</td>
<td align="right">
  123.14
</td>
<td align="right">
  .64
</td>
<td align="right">
     .73
</td>
<td align="right">
   -.14
</td>
<td align="right">
    .41
</td>
<td align="right">
    16
</td>
<td align="right">
     6.57
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   30.77
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.70
</td>
<td align="right">
    .15
</td>
<td align="right">
    .87
</td>
<td align="right">
    77
</td>
<td align="right">
    67.33
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  155.11
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.83
</td>
<td align="right">
   -.25
</td>
<td align="right">
  -1.06
</td>
<td align="right">
    37
</td>
<td align="right">
   -39.36
</td>
<td align="right">
   1.28
</td>
</tr>
<tr>
<td>
CSCO
</td>
<td align="right">
   21.13
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.57
</td>
<td align="right">
    .00
</td>
<td align="right">
    .08
</td>
<td align="right">
     5
</td>
<td align="right">
      .41
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
CTSH
</td>
<td align="right">
   77.55
</td>
<td align="right">
  .61
</td>
<td align="right">
   -7.24
</td>
<td align="right">
    .00
</td>
<td align="right">
  -1.18
</td>
<td align="right">
    10
</td>
<td align="right">
   -11.78
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   35.27
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.12
</td>
<td align="right">
    .13
</td>
<td align="right">
    .54
</td>
<td align="right">
    15
</td>
<td align="right">
     8.06
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   45.60
</td>
<td align="right">
  .77
</td>
<td align="right">
    1.78
</td>
<td align="right">
    .01
</td>
<td align="right">
    .16
</td>
<td align="right">
    43
</td>
<td align="right">
     7.06
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   53.07
</td>
<td align="right">
  .62
</td>
<td align="right">
  -35.00
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.35
</td>
<td align="right">
     1
</td>
<td align="right">
     -.35
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  131.54
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.42
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.58
</td>
<td align="right">
     6
</td>
<td align="right">
    -3.49
</td>
<td align="right">
   1.39
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   43.84
</td>
<td align="right">
  .59
</td>
<td align="right">
  -39.02
</td>
<td align="right">
   -.19
</td>
<td align="right">
  -1.46
</td>
<td align="right">
     5
</td>
<td align="right">
    -7.30
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
DNDN
</td>
<td align="right">
   10.25
</td>
<td align="right">
  .64
</td>
<td align="right">
    4.65
</td>
<td align="right">
    .03
</td>
<td align="right">
    .27
</td>
<td align="right">
     7
</td>
<td align="right">
     1.90
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
DO
</td>
<td align="right">
   68.98
</td>
<td align="right">
  .77
</td>
<td align="right">
   -1.87
</td>
<td align="right">
    .12
</td>
<td align="right">
   -.89
</td>
<td align="right">
     6
</td>
<td align="right">
    -5.34
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   34.09
</td>
<td align="right">
  .63
</td>
<td align="right">
     .49
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .25
</td>
<td align="right">
    25
</td>
<td align="right">
     6.33
</td>
<td align="right">
    .52
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   48.23
</td>
<td align="right">
  .69
</td>
<td align="right">
    3.74
</td>
<td align="right">
    .12
</td>
<td align="right">
    .64
</td>
<td align="right">
    87
</td>
<td align="right">
    55.30
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   37.15
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.89
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.23
</td>
<td align="right">
    22
</td>
<td align="right">
    -5.10
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
EGO
</td>
<td align="right">
   13.63
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.63
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.16
</td>
<td align="right">
    82
</td>
<td align="right">
   -13.44
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    9.16
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.18
</td>
<td align="right">
    .00
</td>
<td align="right">
    .14
</td>
<td align="right">
    26
</td>
<td align="right">
     3.62
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   37.38
</td>
<td align="right">
  .60
</td>
<td align="right">
    1.12
</td>
<td align="right">
    .00
</td>
<td align="right">
    .80
</td>
<td align="right">
     6
</td>
<td align="right">
     4.79
</td>
<td align="right">
    .71
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
   91.81
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.78
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.60
</td>
<td align="right">
    37
</td>
<td align="right">
   -22.29
</td>
<td align="right">
    .77
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
   26.44
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.61
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.39
</td>
<td align="right">
    49
</td>
<td align="right">
   -18.95
</td>
<td align="right">
    .63
</td>
</tr>
<tr>
<td>
FXI
</td>
<td align="right">
   37.22
</td>
<td align="right">
  .77
</td>
<td align="right">
    -.26
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.09
</td>
<td align="right">
   106
</td>
<td align="right">
    -9.29
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   49.42
</td>
<td align="right">
  .62
</td>
<td align="right">
     .69
</td>
<td align="right">
    .03
</td>
<td align="right">
    .47
</td>
<td align="right">
    12
</td>
<td align="right">
     5.61
</td>
<td align="right">
    .68
</td>
</tr>
<tr>
<td>
GFI
</td>
<td align="right">
   13.60
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.08
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.02
</td>
<td align="right">
     5
</td>
<td align="right">
     -.09
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
GG
</td>
<td align="right">
   45.08
</td>
<td align="right">
  .57
</td>
<td align="right">
   -4.72
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.90
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.70
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  127.56
</td>
<td align="right">
  .75
</td>
<td align="right">
    -.19
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.12
</td>
<td align="right">
    41
</td>
<td align="right">
    -5.11
</td>
<td align="right">
    .64
</td>
</tr>
<tr>
<td>
HL
</td>
<td align="right">
    4.64
</td>
<td align="right">
  .58
</td>
<td align="right">
  -17.90
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.10
</td>
<td align="right">
     3
</td>
<td align="right">
     -.31
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
HON
</td>
<td align="right">
   61.31
</td>
<td align="right">
  .66
</td>
<td align="right">
   -4.12
</td>
<td align="right">
   -.26
</td>
<td align="right">
   -.83
</td>
<td align="right">
     5
</td>
<td align="right">
    -4.17
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
IAG
</td>
<td align="right">
   13.19
</td>
<td align="right">
  .62
</td>
<td align="right">
     .08
</td>
<td align="right">
    .00
</td>
<td align="right">
    .02
</td>
<td align="right">
     8
</td>
<td align="right">
      .17
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
IOC
</td>
<td align="right">
   56.44
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.65
</td>
<td align="right">
   -.23
</td>
<td align="right">
  -1.28
</td>
<td align="right">
    56
</td>
<td align="right">
   -71.53
</td>
<td align="right">
   1.96
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   83.85
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.94
</td>
<td align="right">
    .11
</td>
<td align="right">
   -.95
</td>
<td align="right">
     7
</td>
<td align="right">
    -6.65
</td>
<td align="right">
   1.01
</td>
</tr>
<tr>
<td>
JPM
</td>
<td align="right">
   45.85
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.88
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.22
</td>
<td align="right">
     5
</td>
<td align="right">
    -1.10
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
LMT
</td>
<td align="right">
   89.61
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.10
</td>
<td align="right">
    .09
</td>
<td align="right">
    .77
</td>
<td align="right">
    34
</td>
<td align="right">
    26.03
</td>
<td align="right">
    .70
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   57.37
</td>
<td align="right">
  .61
</td>
<td align="right">
     .05
</td>
<td align="right">
    .00
</td>
<td align="right">
    .04
</td>
<td align="right">
     4
</td>
<td align="right">
      .14
</td>
<td align="right">
    .71
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  426.77
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.37
</td>
<td align="right">
   -.26
</td>
<td align="right">
  -1.57
</td>
<td align="right">
    52
</td>
<td align="right">
   -81.76
</td>
<td align="right">
   4.25
</td>
</tr>
<tr>
<td>
MCD
</td>
<td align="right">
   97.42
</td>
<td align="right">
  .56
</td>
<td align="right">
    1.00
</td>
<td align="right">
   -.32
</td>
<td align="right">
    .01
</td>
<td align="right">
     1
</td>
<td align="right">
      .01
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   39.29
</td>
<td align="right">
  .63
</td>
<td align="right">
     .26
</td>
<td align="right">
   -.04
</td>
<td align="right">
    .07
</td>
<td align="right">
    40
</td>
<td align="right">
     2.92
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
   88.76
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.24
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.19
</td>
<td align="right">
     7
</td>
<td align="right">
    -1.36
</td>
<td align="right">
    .82
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   38.65
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.83
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.65
</td>
<td align="right">
    14
</td>
<td align="right">
    -9.16
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
MRO
</td>
<td align="right">
   31.77
</td>
<td align="right">
  .61
</td>
<td align="right">
     .42
</td>
<td align="right">
   -.10
</td>
<td align="right">
    .14
</td>
<td align="right">
    15
</td>
<td align="right">
     2.03
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   32.02
</td>
<td align="right">
  .59
</td>
<td align="right">
    2.42
</td>
<td align="right">
    .02
</td>
<td align="right">
    .32
</td>
<td align="right">
     3
</td>
<td align="right">
      .96
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
    9.92
</td>
<td align="right">
  .66
</td>
<td align="right">
     .81
</td>
<td align="right">
    .00
</td>
<td align="right">
    .21
</td>
<td align="right">
   103
</td>
<td align="right">
    21.29
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
NEM
</td>
<td align="right">
   50.61
</td>
<td align="right">
  .62
</td>
<td align="right">
    5.13
</td>
<td align="right">
    .20
</td>
<td align="right">
    .29
</td>
<td align="right">
     2
</td>
<td align="right">
      .58
</td>
<td align="right">
    .06
</td>
</tr>
<tr>
<td>
NFLX
</td>
<td align="right">
  119.83
</td>
<td align="right">
  .62
</td>
<td align="right">
   -2.32
</td>
<td align="right">
   -.86
</td>
<td align="right">
  -3.67
</td>
<td align="right">
     7
</td>
<td align="right">
   -25.69
</td>
<td align="right">
   1.58
</td>
</tr>
<tr>
<td>
NOC
</td>
<td align="right">
   61.23
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.09
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.05
</td>
<td align="right">
    78
</td>
<td align="right">
    -3.59
</td>
<td align="right">
    .50
</td>
</tr>
<tr>
<td>
NTAP
</td>
<td align="right">
   44.84
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.35
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.27
</td>
<td align="right">
    27
</td>
<td align="right">
    -7.28
</td>
<td align="right">
    .78
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   42.62
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.66
</td>
<td align="right">
    .05
</td>
<td align="right">
    .64
</td>
<td align="right">
    47
</td>
<td align="right">
    30.12
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
NVDA
</td>
<td align="right">
   14.86
</td>
<td align="right">
  .69
</td>
<td align="right">
    1.84
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .20
</td>
<td align="right">
    72
</td>
<td align="right">
    14.09
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
OXY
</td>
<td align="right">
   94.43
</td>
<td align="right">
  .64
</td>
<td align="right">
     .30
</td>
<td align="right">
   -.11
</td>
<td align="right">
    .64
</td>
<td align="right">
    25
</td>
<td align="right">
    16.10
</td>
<td align="right">
   2.15
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   64.89
</td>
<td align="right">
  .62
</td>
<td align="right">
   -1.07
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.83
</td>
<td align="right">
    14
</td>
<td align="right">
   -11.57
</td>
<td align="right">
    .78
</td>
</tr>
<tr>
<td>
PEP
</td>
<td align="right">
   65.80
</td>
<td align="right">
  .66
</td>
<td align="right">
   -1.39
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.12
</td>
<td align="right">
    30
</td>
<td align="right">
    -3.57
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
PM
</td>
<td align="right">
   87.68
</td>
<td align="right">
  .56
</td>
<td align="right">
    7.65
</td>
<td align="right">
    .03
</td>
<td align="right">
    .22
</td>
<td align="right">
     7
</td>
<td align="right">
     1.51
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   64.11
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.98
</td>
<td align="right">
    .22
</td>
<td align="right">
   -.63
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.88
</td>
<td align="right">
    .64
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  163.30
</td>
<td align="right">
  .58
</td>
<td align="right">
 -180.00
</td>
<td align="right">
  -1.06
</td>
<td align="right">
  -1.80
</td>
<td align="right">
     1
</td>
<td align="right">
    -1.80
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   14.67
</td>
<td align="right">
  .61
</td>
<td align="right">
   -2.61
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.25
</td>
<td align="right">
     5
</td>
<td align="right">
    -1.25
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
RTN
</td>
<td align="right">
   52.75
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.82
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.26
</td>
<td align="right">
     9
</td>
<td align="right">
    -2.38
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   55.97
</td>
<td align="right">
  .57
</td>
<td align="right">
     .22
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .08
</td>
<td align="right">
    11
</td>
<td align="right">
      .91
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   67.10
</td>
<td align="right">
  .72
</td>
<td align="right">
    1.25
</td>
<td align="right">
   -.16
</td>
<td align="right">
   1.59
</td>
<td align="right">
    70
</td>
<td align="right">
   111.12
</td>
<td align="right">
   1.27
</td>
</tr>
<tr>
<td>
SKX
</td>
<td align="right">
   12.79
</td>
<td align="right">
  .61
</td>
<td align="right">
     .07
</td>
<td align="right">
   -.06
</td>
<td align="right">
    .02
</td>
<td align="right">
    20
</td>
<td align="right">
      .31
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   31.00
</td>
<td align="right">
  .68
</td>
<td align="right">
   11.08
</td>
<td align="right">
    .01
</td>
<td align="right">
    .47
</td>
<td align="right">
     2
</td>
<td align="right">
      .94
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   46.22
</td>
<td align="right">
  .56
</td>
<td align="right">
  -75.00
</td>
<td align="right">
   -.23
</td>
<td align="right">
   -.75
</td>
<td align="right">
     1
</td>
<td align="right">
     -.75
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SU
</td>
<td align="right">
   32.12
</td>
<td align="right">
  .58
</td>
<td align="right">
   17.39
</td>
<td align="right">
    .18
</td>
<td align="right">
    .62
</td>
<td align="right">
     2
</td>
<td align="right">
     1.23
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
SUN
</td>
<td align="right">
   37.83
</td>
<td align="right">
  .66
</td>
<td align="right">
   26.00
</td>
<td align="right">
    .13
</td>
<td align="right">
    .26
</td>
<td align="right">
     1
</td>
<td align="right">
      .26
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    6.91
</td>
<td align="right">
  .70
</td>
<td align="right">
   -1.03
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.18
</td>
<td align="right">
    47
</td>
<td align="right">
    -8.43
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
T
</td>
<td align="right">
   31.34
</td>
<td align="right">
  .73
</td>
<td align="right">
   -3.16
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.36
</td>
<td align="right">
    44
</td>
<td align="right">
   -15.80
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   43.89
</td>
<td align="right">
  .64
</td>
<td align="right">
    1.15
</td>
<td align="right">
    .08
</td>
<td align="right">
    .53
</td>
<td align="right">
    39
</td>
<td align="right">
    20.56
</td>
<td align="right">
    .46
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   50.76
</td>
<td align="right">
  .63
</td>
<td align="right">
    2.42
</td>
<td align="right">
    .37
</td>
<td align="right">
    .59
</td>
<td align="right">
    12
</td>
<td align="right">
     7.07
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
TSO
</td>
<td align="right">
   27.93
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.08
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.04
</td>
<td align="right">
    36
</td>
<td align="right">
    -1.52
</td>
<td align="right">
    .53
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   95.08
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.39
</td>
<td align="right">
   -.62
</td>
<td align="right">
   -.76
</td>
<td align="right">
    49
</td>
<td align="right">
   -37.30
</td>
<td align="right">
   1.96
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   57.14
</td>
<td align="right">
  .68
</td>
<td align="right">
    3.40
</td>
<td align="right">
    .23
</td>
<td align="right">
   1.77
</td>
<td align="right">
    32
</td>
<td align="right">
    56.70
</td>
<td align="right">
    .52
</td>
</tr>
<tr>
<td>
V
</td>
<td align="right">
  118.30
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.00
</td>
<td align="right">
    .36
</td>
<td align="right">
    .79
</td>
<td align="right">
     7
</td>
<td align="right">
     5.53
</td>
<td align="right">
    .79
</td>
</tr>
<tr>
<td>
VECO
</td>
<td align="right">
   29.04
</td>
<td align="right">
  .60
</td>
<td align="right">
     .04
</td>
<td align="right">
    .09
</td>
<td align="right">
    .03
</td>
<td align="right">
    23
</td>
<td align="right">
      .69
</td>
<td align="right">
    .81
</td>
</tr>
<tr>
<td>
WAG
</td>
<td align="right">
   33.90
</td>
<td align="right">
  .63
</td>
<td align="right">
     .84
</td>
<td align="right">
   -.17
</td>
<td align="right">
    .15
</td>
<td align="right">
     5
</td>
<td align="right">
      .75
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   83.30
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.36
</td>
<td align="right">
   -.18
</td>
<td align="right">
   -.15
</td>
<td align="right">
     4
</td>
<td align="right">
     -.61
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
   77.01
</td>
<td align="right">
  .65
</td>
<td align="right">
   -5.22
</td>
<td align="right">
   -.22
</td>
<td align="right">
  -1.42
</td>
<td align="right">
     4
</td>
<td align="right">
    -5.69
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   61.13
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.31
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.09
</td>
<td align="right">
    43
</td>
<td align="right">
    -3.97
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  125.12
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.08
</td>
<td align="right">
    .16
</td>
<td align="right">
   1.14
</td>
<td align="right">
    21
</td>
<td align="right">
    23.94
</td>
<td align="right">
   1.06
</td>
</tr>
<tr>
<td>
X
</td>
<td align="right">
   29.18
</td>
<td align="right">
  .64
</td>
<td align="right">
     .57
</td>
<td align="right">
    .10
</td>
<td align="right">
    .41
</td>
<td align="right">
    55
</td>
<td align="right">
    22.40
</td>
<td align="right">
    .72
</td>
</tr>
<tr>
<td>
XLB
</td>
<td align="right">
   36.53
</td>
<td align="right">
  .72
</td>
<td align="right">
    1.50
</td>
<td align="right">
    .05
</td>
<td align="right">
    .41
</td>
<td align="right">
    54
</td>
<td align="right">
    22.19
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  2499
</td>
<td align="right">
   180.61
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
