<h4>Week of: 2013_01_29</h4><table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ACI
</td>
<td align="right">
    7.38
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -3.61
</td>
<td align="right">
   -.26
</td>
<td align="right">
   -.31
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.25
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   52.64
</td>
<td align="right">
 -.64
</td>
<td align="right">
    2.49
</td>
<td align="right">
    .01
</td>
<td align="right">
    .64
</td>
<td align="right">
    37
</td>
<td align="right">
    23.73
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
AIG
</td>
<td align="right">
   38.62
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.37
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.17
</td>
<td align="right">
    49
</td>
<td align="right">
    -8.34
</td>
<td align="right">
    .46
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   41.63
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.16
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.30
</td>
<td align="right">
    71
</td>
<td align="right">
   -21.40
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
ALL
</td>
<td align="right">
   44.50
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.15
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.37
</td>
<td align="right">
     6
</td>
<td align="right">
    -2.20
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
APA
</td>
<td align="right">
   84.46
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .57
</td>
<td align="right">
    .17
</td>
<td align="right">
    .55
</td>
<td align="right">
    13
</td>
<td align="right">
     7.16
</td>
<td align="right">
    .97
</td>
</tr>
<tr>
<td>
APOL
</td>
<td align="right">
   20.22
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.95
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.37
</td>
<td align="right">
    16
</td>
<td align="right">
    -5.91
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   28.29
</td>
<td align="right">
 -.65
</td>
<td align="right">
    7.45
</td>
<td align="right">
    .10
</td>
<td align="right">
    .92
</td>
<td align="right">
     6
</td>
<td align="right">
     5.53
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
AUY
</td>
<td align="right">
   16.46
</td>
<td align="right">
 -.72
</td>
<td align="right">
     .22
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .03
</td>
<td align="right">
    98
</td>
<td align="right">
     3.25
</td>
<td align="right">
    .15
</td>
</tr>
<tr>
<td>
AXP
</td>
<td align="right">
   59.36
</td>
<td align="right">
 -.69
</td>
<td align="right">
     .02
</td>
<td align="right">
    .03
</td>
<td align="right">
    .01
</td>
<td align="right">
    66
</td>
<td align="right">
      .65
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
AXU
</td>
<td align="right">
    4.31
</td>
<td align="right">
 -.65
</td>
<td align="right">
    1.01
</td>
<td align="right">
    .02
</td>
<td align="right">
    .15
</td>
<td align="right">
   103
</td>
<td align="right">
    14.94
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   16.09
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.29
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.06
</td>
<td align="right">
    11
</td>
<td align="right">
     -.62
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
BIDU
</td>
<td align="right">
  107.96
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -4.24
</td>
<td align="right">
    .42
</td>
<td align="right">
   -.06
</td>
<td align="right">
     2
</td>
<td align="right">
     -.12
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
BP
</td>
<td align="right">
   45.13
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.85
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.23
</td>
<td align="right">
    19
</td>
<td align="right">
    -4.35
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
C
</td>
<td align="right">
   41.71
</td>
<td align="right">
 -.55
</td>
<td align="right">
   76.00
</td>
<td align="right">
    .30
</td>
<td align="right">
    .76
</td>
<td align="right">
     1
</td>
<td align="right">
      .76
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
CDE
</td>
<td align="right">
   22.04
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .68
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .22
</td>
<td align="right">
    24
</td>
<td align="right">
     5.35
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
CHK
</td>
<td align="right">
   20.15
</td>
<td align="right">
 -.70
</td>
<td align="right">
     .53
</td>
<td align="right">
    .00
</td>
<td align="right">
    .19
</td>
<td align="right">
   129
</td>
<td align="right">
    23.90
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
COP
</td>
<td align="right">
   60.25
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.44
</td>
<td align="right">
   -.58
</td>
<td align="right">
   -.63
</td>
<td align="right">
    12
</td>
<td align="right">
    -7.53
</td>
<td align="right">
   1.43
</td>
</tr>
<tr>
<td>
COST
</td>
<td align="right">
  102.71
</td>
<td align="right">
 -.60
</td>
<td align="right">
    5.97
</td>
<td align="right">
    .34
</td>
<td align="right">
   1.02
</td>
<td align="right">
     9
</td>
<td align="right">
     9.14
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
CRM
</td>
<td align="right">
  175.38
</td>
<td align="right">
 -.74
</td>
<td align="right">
   -4.52
</td>
<td align="right">
    .04
</td>
<td align="right">
  -2.96
</td>
<td align="right">
    18
</td>
<td align="right">
   -53.34
</td>
<td align="right">
    .66
</td>
</tr>
<tr>
<td>
CTSH
</td>
<td align="right">
   78.79
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -1.72
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.79
</td>
<td align="right">
     5
</td>
<td align="right">
    -3.95
</td>
<td align="right">
    .46
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   51.67
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.37
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.34
</td>
<td align="right">
    13
</td>
<td align="right">
    -4.41
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
CVX
</td>
<td align="right">
  116.99
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.63
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.35
</td>
<td align="right">
    31
</td>
<td align="right">
   -10.91
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
DD
</td>
<td align="right">
   47.98
</td>
<td align="right">
 -.75
</td>
<td align="right">
   -2.54
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.41
</td>
<td align="right">
    64
</td>
<td align="right">
   -26.22
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   94.75
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.06
</td>
<td align="right">
    .19
</td>
<td align="right">
   -.07
</td>
<td align="right">
     3
</td>
<td align="right">
     -.22
</td>
<td align="right">
   1.15
</td>
</tr>
<tr>
<td>
DIA
</td>
<td align="right">
  139.60
</td>
<td align="right">
 -.71
</td>
<td align="right">
   -1.13
</td>
<td align="right">
   -.25
</td>
<td align="right">
   -.83
</td>
<td align="right">
    36
</td>
<td align="right">
   -30.02
</td>
<td align="right">
    .74
</td>
</tr>
<tr>
<td>
DIS
</td>
<td align="right">
   54.60
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -2.89
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.49
</td>
<td align="right">
    26
</td>
<td align="right">
   -12.70
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
DO
</td>
<td align="right">
   76.09
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.05
</td>
<td align="right">
    .12
</td>
<td align="right">
   -.06
</td>
<td align="right">
    22
</td>
<td align="right">
    -1.29
</td>
<td align="right">
   1.24
</td>
</tr>
<tr>
<td>
DOW
</td>
<td align="right">
   32.62
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.69
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.25
</td>
<td align="right">
     9
</td>
<td align="right">
    -2.29
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
DVN
</td>
<td align="right">
   56.91
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .64
</td>
<td align="right">
    .14
</td>
<td align="right">
    .59
</td>
<td align="right">
    94
</td>
<td align="right">
    55.17
</td>
<td align="right">
    .91
</td>
</tr>
<tr>
<td>
EBAY
</td>
<td align="right">
   55.79
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.89
</td>
<td align="right">
    .07
</td>
<td align="right">
    .59
</td>
<td align="right">
    38
</td>
<td align="right">
    22.59
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
EGO
</td>
<td align="right">
   11.35
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -1.18
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.06
</td>
<td align="right">
    18
</td>
<td align="right">
    -1.07
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
EOG
</td>
<td align="right">
  126.86
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .06
</td>
<td align="right">
    .20
</td>
<td align="right">
    .09
</td>
<td align="right">
    19
</td>
<td align="right">
     1.70
</td>
<td align="right">
   1.45
</td>
</tr>
<tr>
<td>
ESRX
</td>
<td align="right">
   54.16
</td>
<td align="right">
 -.65
</td>
<td align="right">
    1.32
</td>
<td align="right">
    .10
</td>
<td align="right">
    .89
</td>
<td align="right">
    12
</td>
<td align="right">
    10.68
</td>
<td align="right">
    .68
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   56.26
</td>
<td align="right">
 -.74
</td>
<td align="right">
    8.00
</td>
<td align="right">
    .17
</td>
<td align="right">
    .08
</td>
<td align="right">
     1
</td>
<td align="right">
      .08
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    7.10
</td>
<td align="right">
 -.71
</td>
<td align="right">
   -1.32
</td>
<td align="right">
   -.03
</td>
<td align="right">
   -.18
</td>
<td align="right">
    81
</td>
<td align="right">
   -14.25
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   34.76
</td>
<td align="right">
 -.73
</td>
<td align="right">
    2.97
</td>
<td align="right">
   -.09
</td>
<td align="right">
    .76
</td>
<td align="right">
     4
</td>
<td align="right">
     3.05
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
  102.76
</td>
<td align="right">
 -.71
</td>
<td align="right">
   -5.29
</td>
<td align="right">
   -.21
</td>
<td align="right">
  -1.54
</td>
<td align="right">
     2
</td>
<td align="right">
    -3.07
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
FLS
</td>
<td align="right">
  156.94
</td>
<td align="right">
 -.72
</td>
<td align="right">
    -.36
</td>
<td align="right">
    .10
</td>
<td align="right">
   -.40
</td>
<td align="right">
   121
</td>
<td align="right">
   -48.71
</td>
<td align="right">
   1.12
</td>
</tr>
<tr>
<td>
FSLR
</td>
<td align="right">
   28.27
</td>
<td align="right">
 -.59
</td>
<td align="right">
    1.05
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .59
</td>
<td align="right">
    27
</td>
<td align="right">
    16.05
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
GD
</td>
<td align="right">
   68.83
</td>
<td align="right">
 -.72
</td>
<td align="right">
   -1.12
</td>
<td align="right">
   -.19
</td>
<td align="right">
   -.87
</td>
<td align="right">
    62
</td>
<td align="right">
   -53.80
</td>
<td align="right">
    .77
</td>
</tr>
<tr>
<td>
GDX
</td>
<td align="right">
   42.11
</td>
<td align="right">
 -.57
</td>
<td align="right">
   28.00
</td>
<td align="right">
    .19
</td>
<td align="right">
    .28
</td>
<td align="right">
     2
</td>
<td align="right">
      .56
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
GFI
</td>
<td align="right">
   11.69
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .61
</td>
<td align="right">
    .01
</td>
<td align="right">
    .11
</td>
<td align="right">
   137
</td>
<td align="right">
    15.53
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
GILD
</td>
<td align="right">
   40.06
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .31
</td>
<td align="right">
    .16
</td>
<td align="right">
    .21
</td>
<td align="right">
     3
</td>
<td align="right">
      .62
</td>
<td align="right">
    .67
</td>
</tr>
<tr>
<td>
GOOG
</td>
<td align="right">
  766.25
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.27
</td>
<td align="right">
    .28
</td>
<td align="right">
  -6.88
</td>
<td align="right">
     5
</td>
<td align="right">
   -34.39
</td>
<td align="right">
   5.43
</td>
</tr>
<tr>
<td>
HAL
</td>
<td align="right">
   40.93
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -1.02
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.20
</td>
<td align="right">
    34
</td>
<td align="right">
    -6.90
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
HES
</td>
<td align="right">
   67.58
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.11
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.10
</td>
<td align="right">
   160
</td>
<td align="right">
   -16.48
</td>
<td align="right">
    .98
</td>
</tr>
<tr>
<td>
HL
</td>
<td align="right">
    5.40
</td>
<td align="right">
 -.73
</td>
<td align="right">
    -.23
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.01
</td>
<td align="right">
    55
</td>
<td align="right">
     -.30
</td>
<td align="right">
    .02
</td>
</tr>
<tr>
<td>
HMY
</td>
<td align="right">
    7.07
</td>
<td align="right">
 -.70
</td>
<td align="right">
    -.54
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.02
</td>
<td align="right">
    22
</td>
<td align="right">
     -.43
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
HON
</td>
<td align="right">
   69.08
</td>
<td align="right">
 -.72
</td>
<td align="right">
    -.84
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.30
</td>
<td align="right">
    78
</td>
<td align="right">
   -23.75
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
IAG
</td>
<td align="right">
    8.42
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.38
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.14
</td>
<td align="right">
    28
</td>
<td align="right">
    -3.82
</td>
<td align="right">
    .36
</td>
</tr>
<tr>
<td>
JNJ
</td>
<td align="right">
   73.95
</td>
<td align="right">
 -.58
</td>
<td align="right">
    6.24
</td>
<td align="right">
    .11
</td>
<td align="right">
    .64
</td>
<td align="right">
    21
</td>
<td align="right">
    13.41
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
JOY
</td>
<td align="right">
   64.64
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -7.08
</td>
<td align="right">
   -.42
</td>
<td align="right">
  -1.80
</td>
<td align="right">
    25
</td>
<td align="right">
   -45.02
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
JWN
</td>
<td align="right">
   55.05
</td>
<td align="right">
 -.57
</td>
<td align="right">
  -51.00
</td>
<td align="right">
    .01
</td>
<td align="right">
   -.51
</td>
<td align="right">
     1
</td>
<td align="right">
     -.51
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
KO
</td>
<td align="right">
   37.16
</td>
<td align="right">
 -.64
</td>
<td align="right">
    3.78
</td>
<td align="right">
    .14
</td>
<td align="right">
    .29
</td>
<td align="right">
     3
</td>
<td align="right">
      .88
</td>
<td align="right">
    .08
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   51.73
</td>
<td align="right">
 -.66
</td>
<td align="right">
    3.09
</td>
<td align="right">
   -.09
</td>
<td align="right">
   2.73
</td>
<td align="right">
     8
</td>
<td align="right">
    21.82
</td>
<td align="right">
    .88
</td>
</tr>
<tr>
<td>
MA
</td>
<td align="right">
  522.35
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.37
</td>
<td align="right">
  -5.16
</td>
<td align="right">
  -6.56
</td>
<td align="right">
     2
</td>
<td align="right">
   -13.11
</td>
<td align="right">
   4.77
</td>
</tr>
<tr>
<td>
MDT
</td>
<td align="right">
   46.61
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .23
</td>
<td align="right">
    .06
</td>
<td align="right">
    .11
</td>
<td align="right">
    54
</td>
<td align="right">
     6.01
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  200.16
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.77
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.93
</td>
<td align="right">
     5
</td>
<td align="right">
    -4.66
</td>
<td align="right">
   1.21
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   37.90
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -3.75
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.40
</td>
<td align="right">
     5
</td>
<td align="right">
    -2.02
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   73.40
</td>
<td align="right">
 -.70
</td>
<td align="right">
     .83
</td>
<td align="right">
    .15
</td>
<td align="right">
    .71
</td>
<td align="right">
   116
</td>
<td align="right">
    82.83
</td>
<td align="right">
    .86
</td>
</tr>
<tr>
<td>
MMM
</td>
<td align="right">
  101.23
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.19
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.15
</td>
<td align="right">
   167
</td>
<td align="right">
   -24.56
</td>
<td align="right">
    .76
</td>
</tr>
<tr>
<td>
MON
</td>
<td align="right">
  103.01
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -1.71
</td>
<td align="right">
   -.19
</td>
<td align="right">
  -1.03
</td>
<td align="right">
     6
</td>
<td align="right">
    -6.20
</td>
<td align="right">
    .60
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   62.07
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -1.32
</td>
<td align="right">
   -.38
</td>
<td align="right">
   -.82
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.63
</td>
<td align="right">
    .62
</td>
</tr>
<tr>
<td>
MRO
</td>
<td align="right">
   33.72
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .09
</td>
<td align="right">
   -.08
</td>
<td align="right">
    .03
</td>
<td align="right">
     3
</td>
<td align="right">
      .10
</td>
<td align="right">
    .38
</td>
</tr>
<tr>
<td>
MT
</td>
<td align="right">
   17.49
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -2.98
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.59
</td>
<td align="right">
    37
</td>
<td align="right">
   -21.82
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
   10.93
</td>
<td align="right">
 -.60
</td>
<td align="right">
   21.00
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .21
</td>
<td align="right">
     1
</td>
<td align="right">
      .21
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
NEM
</td>
<td align="right">
   43.55
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.01
</td>
<td align="right">
    .07
</td>
<td align="right">
    .00
</td>
<td align="right">
    99
</td>
<td align="right">
     -.49
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
NTAP
</td>
<td align="right">
   36.49
</td>
<td align="right">
 -.69
</td>
<td align="right">
  -14.62
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.67
</td>
<td align="right">
     3
</td>
<td align="right">
    -2.01
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
OXY
</td>
<td align="right">
   86.38
</td>
<td align="right">
 -.66
</td>
<td align="right">
    1.13
</td>
<td align="right">
    .15
</td>
<td align="right">
    .84
</td>
<td align="right">
    29
</td>
<td align="right">
    24.30
</td>
<td align="right">
    .74
</td>
</tr>
<tr>
<td>
PAAS
</td>
<td align="right">
   17.74
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .04
</td>
<td align="right">
    .04
</td>
<td align="right">
    .00
</td>
<td align="right">
    40
</td>
<td align="right">
      .17
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
PBR
</td>
<td align="right">
   18.51
</td>
<td align="right">
 -.75
</td>
<td align="right">
   -2.20
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.23
</td>
<td align="right">
     7
</td>
<td align="right">
    -1.64
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
PEP
</td>
<td align="right">
   73.28
</td>
<td align="right">
 -.70
</td>
<td align="right">
   -3.51
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.48
</td>
<td align="right">
    41
</td>
<td align="right">
   -19.50
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
PG
</td>
<td align="right">
   74.88
</td>
<td align="right">
 -.57
</td>
<td align="right">
   78.00
</td>
<td align="right">
    .01
</td>
<td align="right">
    .78
</td>
<td align="right">
     1
</td>
<td align="right">
      .78
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   61.97
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.69
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.09
</td>
<td align="right">
    25
</td>
<td align="right">
    -2.33
</td>
<td align="right">
    .14
</td>
</tr>
<tr>
<td>
PPLT
</td>
<td align="right">
  165.95
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.70
</td>
<td align="right">
   -.19
</td>
<td align="right">
   -.78
</td>
<td align="right">
     7
</td>
<td align="right">
    -5.45
</td>
<td align="right">
   1.12
</td>
</tr>
<tr>
<td>
PRU
</td>
<td align="right">
   58.73
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -3.74
</td>
<td align="right">
    .06
</td>
<td align="right">
   -.72
</td>
<td align="right">
    38
</td>
<td align="right">
   -27.19
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   66.08
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .01
</td>
<td align="right">
   -.23
</td>
<td align="right">
    .02
</td>
<td align="right">
     8
</td>
<td align="right">
      .17
</td>
<td align="right">
   1.56
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   36.01
</td>
<td align="right">
 -.63
</td>
<td align="right">
    1.32
</td>
<td align="right">
    .10
</td>
<td align="right">
    .34
</td>
<td align="right">
    15
</td>
<td align="right">
     5.16
</td>
<td align="right">
    .26
</td>
</tr>
<tr>
<td>
RIG
</td>
<td align="right">
   57.34
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.67
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.28
</td>
<td align="right">
    37
</td>
<td align="right">
   -10.23
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
RIMM
</td>
<td align="right">
   14.74
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -7.19
</td>
<td align="right">
   -.35
</td>
<td align="right">
  -1.60
</td>
<td align="right">
    16
</td>
<td align="right">
   -25.65
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
RTN
</td>
<td align="right">
   53.18
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.66
</td>
<td align="right">
   -.11
</td>
<td align="right">
   -.43
</td>
<td align="right">
    83
</td>
<td align="right">
   -35.31
</td>
<td align="right">
    .64
</td>
</tr>
<tr>
<td>
SBUX
</td>
<td align="right">
   55.83
</td>
<td align="right">
 -.70
</td>
<td align="right">
     .80
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .27
</td>
<td align="right">
    65
</td>
<td align="right">
    17.78
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
SCCO
</td>
<td align="right">
   38.91
</td>
<td align="right">
 -.64
</td>
<td align="right">
   61.00
</td>
<td align="right">
    .47
</td>
<td align="right">
    .61
</td>
<td align="right">
     1
</td>
<td align="right">
      .61
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SJM
</td>
<td align="right">
   89.17
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.35
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.17
</td>
<td align="right">
     4
</td>
<td align="right">
     -.69
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
SLB
</td>
<td align="right">
   79.47
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.79
</td>
<td align="right">
    .16
</td>
<td align="right">
   -.42
</td>
<td align="right">
    16
</td>
<td align="right">
    -6.64
</td>
<td align="right">
    .52
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   30.47
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .97
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .40
</td>
<td align="right">
    62
</td>
<td align="right">
    24.80
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   35.47
</td>
<td align="right">
 -.69
</td>
<td align="right">
     .73
</td>
<td align="right">
    .08
</td>
<td align="right">
    .27
</td>
<td align="right">
   141
</td>
<td align="right">
    38.00
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   48.72
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -1.43
</td>
<td align="right">
    .43
</td>
<td align="right">
  -1.56
</td>
<td align="right">
     7
</td>
<td align="right">
   -10.89
</td>
<td align="right">
   1.09
</td>
</tr>
<tr>
<td>
SPY
</td>
<td align="right">
  151.05
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.73
</td>
<td align="right">
   -.04
</td>
<td align="right">
  -1.03
</td>
<td align="right">
    14
</td>
<td align="right">
   -14.35
</td>
<td align="right">
    .59
</td>
</tr>
<tr>
<td>
SU
</td>
<td align="right">
   34.47
</td>
<td align="right">
 -.63
</td>
<td align="right">
  -25.00
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.25
</td>
<td align="right">
     1
</td>
<td align="right">
     -.25
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SVM
</td>
<td align="right">
    4.41
</td>
<td align="right">
 -.73
</td>
<td align="right">
    -.43
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.02
</td>
<td align="right">
   134
</td>
<td align="right">
    -2.38
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
T
</td>
<td align="right">
   34.70
</td>
<td align="right">
 -.69
</td>
<td align="right">
    1.28
</td>
<td align="right">
    .04
</td>
<td align="right">
    .32
</td>
<td align="right">
    76
</td>
<td align="right">
    24.03
</td>
<td align="right">
    .25
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   37.64
</td>
<td align="right">
 -.69
</td>
<td align="right">
     .04
</td>
<td align="right">
    .01
</td>
<td align="right">
    .02
</td>
<td align="right">
     6
</td>
<td align="right">
      .09
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   61.37
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -2.56
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.63
</td>
<td align="right">
    21
</td>
<td align="right">
   -13.13
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   54.04
</td>
<td align="right">
 -.66
</td>
<td align="right">
   69.00
</td>
<td align="right">
    .07
</td>
<td align="right">
    .69
</td>
<td align="right">
     1
</td>
<td align="right">
      .69
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
TLT
</td>
<td align="right">
  116.76
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.10
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.07
</td>
<td align="right">
    16
</td>
<td align="right">
    -1.10
</td>
<td align="right">
    .66
</td>
</tr>
<tr>
<td>
TM
</td>
<td align="right">
   97.64
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .20
</td>
<td align="right">
    .13
</td>
<td align="right">
    .08
</td>
<td align="right">
    11
</td>
<td align="right">
      .88
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
TSO
</td>
<td align="right">
   47.66
</td>
<td align="right">
 -.56
</td>
<td align="right">
   10.00
</td>
<td align="right">
   -.50
</td>
<td align="right">
    .10
</td>
<td align="right">
     1
</td>
<td align="right">
      .10
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   49.53
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .71
</td>
<td align="right">
    .07
</td>
<td align="right">
    .74
</td>
<td align="right">
   158
</td>
<td align="right">
   116.98
</td>
<td align="right">
   1.05
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   56.30
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.41
</td>
<td align="right">
    .05
</td>
<td align="right">
   -.12
</td>
<td align="right">
    11
</td>
<td align="right">
    -1.36
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
UPS
</td>
<td align="right">
   81.48
</td>
<td align="right">
 -.55
</td>
<td align="right">
 -201.00
</td>
<td align="right">
   -.17
</td>
<td align="right">
  -2.01
</td>
<td align="right">
     1
</td>
<td align="right">
    -2.01
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
VALE
</td>
<td align="right">
   19.89
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .25
</td>
<td align="right">
    .00
</td>
<td align="right">
    .10
</td>
<td align="right">
    59
</td>
<td align="right">
     5.95
</td>
<td align="right">
    .41
</td>
</tr>
<tr>
<td>
VECO
</td>
<td align="right">
   32.30
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .93
</td>
<td align="right">
    .00
</td>
<td align="right">
    .31
</td>
<td align="right">
    33
</td>
<td align="right">
    10.08
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
WAG
</td>
<td align="right">
   40.01
</td>
<td align="right">
 -.70
</td>
<td align="right">
     .11
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .04
</td>
<td align="right">
     3
</td>
<td align="right">
      .12
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
WDC
</td>
<td align="right">
   45.00
</td>
<td align="right">
 -.55
</td>
<td align="right">
  188.00
</td>
<td align="right">
    .88
</td>
<td align="right">
   1.88
</td>
<td align="right">
     1
</td>
<td align="right">
     1.88
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
WFC
</td>
<td align="right">
   35.20
</td>
<td align="right">
 -.67
</td>
<td align="right">
  -10.44
</td>
<td align="right">
   -.09
</td>
<td align="right">
   -.48
</td>
<td align="right">
     8
</td>
<td align="right">
    -3.86
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   95.66
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.31
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.15
</td>
<td align="right">
    22
</td>
<td align="right">
    -3.34
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
  111.27
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .92
</td>
<td align="right">
   -.63
</td>
<td align="right">
   3.06
</td>
<td align="right">
     2
</td>
<td align="right">
     6.12
</td>
<td align="right">
   3.32
</td>
</tr>
<tr>
<td>
WMT
</td>
<td align="right">
   70.22
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.39
</td>
<td align="right">
    .02
</td>
<td align="right">
   -.24
</td>
<td align="right">
     2
</td>
<td align="right">
     -.48
</td>
<td align="right">
    .61
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   77.92
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.30
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.39
</td>
<td align="right">
    12
</td>
<td align="right">
    -4.62
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
XLU
</td>
<td align="right">
   36.41
</td>
<td align="right">
 -.62
</td>
<td align="right">
    3.15
</td>
<td align="right">
    .04
</td>
<td align="right">
    .22
</td>
<td align="right">
    23
</td>
<td align="right">
     4.99
</td>
<td align="right">
    .07
</td>
</tr>
<tr>
<td>
YUM
</td>
<td align="right">
   63.36
</td>
<td align="right">
 -.56
</td>
<td align="right">
  150.00
</td>
<td align="right">
    .68
</td>
<td align="right">
   1.50
</td>
<td align="right">
     1
</td>
<td align="right">
     1.50
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  3724
</td>
<td align="right">
   -87.59
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_a1_us_stk_past_week">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
Avg
<br>
Ticker
<br>
Price
<br>
at Hour 0
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
<br>
at Hour 0
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg
<br>
1hr
<br>
Gain
</th>
<th scope="col">
Avg
<br>
24hr
<br>
Gain
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
24hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of 24hr gains
</th>
</tr>
<tr>
<td>
ABT
</td>
<td align="right">
   33.70
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.06
</td>
<td align="right">
    .08
</td>
<td align="right">
   -.03
</td>
<td align="right">
     4
</td>
<td align="right">
     -.10
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
ACI
</td>
<td align="right">
    7.27
</td>
<td align="right">
  .69
</td>
<td align="right">
   -1.08
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.19
</td>
<td align="right">
   107
</td>
<td align="right">
   -20.67
</td>
<td align="right">
    .18
</td>
</tr>
<tr>
<td>
ADM
</td>
<td align="right">
   28.68
</td>
<td align="right">
  .68
</td>
<td align="right">
    -.61
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.06
</td>
<td align="right">
    41
</td>
<td align="right">
    -2.44
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
AFL
</td>
<td align="right">
   52.96
</td>
<td align="right">
  .67
</td>
<td align="right">
     .22
</td>
<td align="right">
    .10
</td>
<td align="right">
    .09
</td>
<td align="right">
    43
</td>
<td align="right">
     4.08
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
AKAM
</td>
<td align="right">
   40.45
</td>
<td align="right">
  .69
</td>
<td align="right">
    1.42
</td>
<td align="right">
    .12
</td>
<td align="right">
    .68
</td>
<td align="right">
    55
</td>
<td align="right">
    37.18
</td>
<td align="right">
    .48
</td>
</tr>
<tr>
<td>
AMGN
</td>
<td align="right">
   85.67
</td>
<td align="right">
  .63
</td>
<td align="right">
     .70
</td>
<td align="right">
    .43
</td>
<td align="right">
    .32
</td>
<td align="right">
     4
</td>
<td align="right">
     1.26
</td>
<td align="right">
    .45
</td>
</tr>
<tr>
<td>
AMZN
</td>
<td align="right">
  275.25
</td>
<td align="right">
  .71
</td>
<td align="right">
   -6.95
</td>
<td align="right">
  -1.01
</td>
<td align="right">
  -4.55
</td>
<td align="right">
     7
</td>
<td align="right">
   -31.85
</td>
<td align="right">
    .65
</td>
</tr>
<tr>
<td>
ANR
</td>
<td align="right">
    8.79
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.08
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.01
</td>
<td align="right">
    33
</td>
<td align="right">
     -.43
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
APA
</td>
<td align="right">
   84.33
</td>
<td align="right">
  .61
</td>
<td align="right">
     .14
</td>
<td align="right">
   -.32
</td>
<td align="right">
    .11
</td>
<td align="right">
    29
</td>
<td align="right">
     3.10
</td>
<td align="right">
    .74
</td>
</tr>
<tr>
<td>
AU
</td>
<td align="right">
   28.15
</td>
<td align="right">
  .63
</td>
<td align="right">
     .47
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .26
</td>
<td align="right">
    41
</td>
<td align="right">
    10.70
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
AXP
</td>
<td align="right">
   59.48
</td>
<td align="right">
  .62
</td>
<td align="right">
   11.12
</td>
<td align="right">
    .30
</td>
<td align="right">
   1.14
</td>
<td align="right">
    21
</td>
<td align="right">
    24.01
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
BA
</td>
<td align="right">
   73.68
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.79
</td>
<td align="right">
    .08
</td>
<td align="right">
    .88
</td>
<td align="right">
    24
</td>
<td align="right">
    21.06
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
BBT
</td>
<td align="right">
   30.53
</td>
<td align="right">
  .60
</td>
<td align="right">
     .67
</td>
<td align="right">
    .04
</td>
<td align="right">
    .43
</td>
<td align="right">
    24
</td>
<td align="right">
    10.23
</td>
<td align="right">
    .64
</td>
</tr>
<tr>
<td>
BBY
</td>
<td align="right">
   15.93
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.34
</td>
<td align="right">
    .04
</td>
<td align="right">
   -.02
</td>
<td align="right">
     7
</td>
<td align="right">
     -.13
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
BP
</td>
<td align="right">
   44.66
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.56
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.28
</td>
<td align="right">
    15
</td>
<td align="right">
    -4.24
</td>
<td align="right">
    .51
</td>
</tr>
<tr>
<td>
BRCM
</td>
<td align="right">
   34.02
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.33
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.18
</td>
<td align="right">
    30
</td>
<td align="right">
    -5.46
</td>
<td align="right">
    .56
</td>
</tr>
<tr>
<td>
BTU
</td>
<td align="right">
   25.30
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.96
</td>
<td align="right">
   -.06
</td>
<td align="right">
   -.32
</td>
<td align="right">
    61
</td>
<td align="right">
   -19.49
</td>
<td align="right">
    .33
</td>
</tr>
<tr>
<td>
C
</td>
<td align="right">
   42.50
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.10
</td>
<td align="right">
   -.19
</td>
<td align="right">
   -.07
</td>
<td align="right">
    12
</td>
<td align="right">
     -.87
</td>
<td align="right">
    .72
</td>
</tr>
<tr>
<td>
CAT
</td>
<td align="right">
   98.78
</td>
<td align="right">
  .68
</td>
<td align="right">
    -.08
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.08
</td>
<td align="right">
    70
</td>
<td align="right">
    -5.31
</td>
<td align="right">
    .93
</td>
</tr>
<tr>
<td>
CDE
</td>
<td align="right">
   21.75
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.55
</td>
<td align="right">
    .12
</td>
<td align="right">
    .25
</td>
<td align="right">
    11
</td>
<td align="right">
     2.71
</td>
<td align="right">
    .16
</td>
</tr>
<tr>
<td>
CELG
</td>
<td align="right">
   99.19
</td>
<td align="right">
  .58
</td>
<td align="right">
    1.20
</td>
<td align="right">
   -.17
</td>
<td align="right">
   1.69
</td>
<td align="right">
     8
</td>
<td align="right">
    13.51
</td>
<td align="right">
   1.40
</td>
</tr>
<tr>
<td>
CEO
</td>
<td align="right">
  207.56
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.42
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.44
</td>
<td align="right">
    43
</td>
<td align="right">
   -19.01
</td>
<td align="right">
   1.05
</td>
</tr>
<tr>
<td>
CLF
</td>
<td align="right">
   36.42
</td>
<td align="right">
  .55
</td>
<td align="right">
   92.00
</td>
<td align="right">
   -.14
</td>
<td align="right">
    .92
</td>
<td align="right">
     1
</td>
<td align="right">
      .92
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
COP
</td>
<td align="right">
   58.17
</td>
<td align="right">
  .57
</td>
<td align="right">
  -42.00
</td>
<td align="right">
   -.05
</td>
<td align="right">
   -.42
</td>
<td align="right">
     1
</td>
<td align="right">
     -.42
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
COST
</td>
<td align="right">
  102.67
</td>
<td align="right">
  .72
</td>
<td align="right">
     .10
</td>
<td align="right">
    .00
</td>
<td align="right">
    .04
</td>
<td align="right">
    54
</td>
<td align="right">
     2.10
</td>
<td align="right">
    .40
</td>
</tr>
<tr>
<td>
CREE
</td>
<td align="right">
   43.26
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.16
</td>
<td align="right">
    .04
</td>
<td align="right">
    .45
</td>
<td align="right">
    20
</td>
<td align="right">
     9.02
</td>
<td align="right">
    .39
</td>
</tr>
<tr>
<td>
CSX
</td>
<td align="right">
   22.39
</td>
<td align="right">
  .60
</td>
<td align="right">
   -2.43
</td>
<td align="right">
   -.12
</td>
<td align="right">
   -.30
</td>
<td align="right">
     4
</td>
<td align="right">
    -1.19
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
CVE
</td>
<td align="right">
   33.74
</td>
<td align="right">
  .58
</td>
<td align="right">
   -7.58
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.38
</td>
<td align="right">
     2
</td>
<td align="right">
     -.75
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
CVS
</td>
<td align="right">
   51.29
</td>
<td align="right">
  .66
</td>
<td align="right">
     .95
</td>
<td align="right">
    .16
</td>
<td align="right">
    .25
</td>
<td align="right">
    10
</td>
<td align="right">
     2.52
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
DE
</td>
<td align="right">
   94.68
</td>
<td align="right">
  .71
</td>
<td align="right">
    -.13
</td>
<td align="right">
    .33
</td>
<td align="right">
   -.09
</td>
<td align="right">
    17
</td>
<td align="right">
    -1.55
</td>
<td align="right">
    .73
</td>
</tr>
<tr>
<td>
DO
</td>
<td align="right">
   75.04
</td>
<td align="right">
  .68
</td>
<td align="right">
    1.04
</td>
<td align="right">
    .15
</td>
<td align="right">
    .21
</td>
<td align="right">
    43
</td>
<td align="right">
     9.09
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
DTV
</td>
<td align="right">
   52.57
</td>
<td align="right">
  .67
</td>
<td align="right">
   -2.78
</td>
<td align="right">
   -.16
</td>
<td align="right">
  -1.02
</td>
<td align="right">
    33
</td>
<td align="right">
   -33.63
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
DVN
</td>
<td align="right">
   57.22
</td>
<td align="right">
  .63
</td>
<td align="right">
    7.90
</td>
<td align="right">
    .13
</td>
<td align="right">
    .69
</td>
<td align="right">
     9
</td>
<td align="right">
     6.25
</td>
<td align="right">
    .09
</td>
</tr>
<tr>
<td>
EFA
</td>
<td align="right">
   59.32
</td>
<td align="right">
  .66
</td>
<td align="right">
   -5.08
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.24
</td>
<td align="right">
    12
</td>
<td align="right">
    -2.83
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
EOG
</td>
<td align="right">
  125.78
</td>
<td align="right">
  .68
</td>
<td align="right">
    1.37
</td>
<td align="right">
    .35
</td>
<td align="right">
   1.85
</td>
<td align="right">
    37
</td>
<td align="right">
    68.34
</td>
<td align="right">
   1.35
</td>
</tr>
<tr>
<td>
EWZ
</td>
<td align="right">
   57.03
</td>
<td align="right">
  .65
</td>
<td align="right">
   -3.31
</td>
<td align="right">
   -.43
</td>
<td align="right">
   -.66
</td>
<td align="right">
    15
</td>
<td align="right">
    -9.92
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
EXK
</td>
<td align="right">
    6.92
</td>
<td align="right">
  .64
</td>
<td align="right">
    2.84
</td>
<td align="right">
   -.02
</td>
<td align="right">
    .13
</td>
<td align="right">
     9
</td>
<td align="right">
     1.16
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
FCX
</td>
<td align="right">
   35.40
</td>
<td align="right">
  .68
</td>
<td align="right">
    -.21
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.06
</td>
<td align="right">
    15
</td>
<td align="right">
     -.89
</td>
<td align="right">
    .28
</td>
</tr>
<tr>
<td>
FDX
</td>
<td align="right">
  102.00
</td>
<td align="right">
  .70
</td>
<td align="right">
     .80
</td>
<td align="right">
    .16
</td>
<td align="right">
    .60
</td>
<td align="right">
   183
</td>
<td align="right">
   110.61
</td>
<td align="right">
    .75
</td>
</tr>
<tr>
<td>
FLS
</td>
<td align="right">
  155.27
</td>
<td align="right">
  .67
</td>
<td align="right">
    4.41
</td>
<td align="right">
    .30
</td>
<td align="right">
   1.49
</td>
<td align="right">
     6
</td>
<td align="right">
     8.96
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
GD
</td>
<td align="right">
   67.99
</td>
<td align="right">
  .72
</td>
<td align="right">
   -3.54
</td>
<td align="right">
   -.19
</td>
<td align="right">
  -1.20
</td>
<td align="right">
    16
</td>
<td align="right">
   -19.21
</td>
<td align="right">
    .34
</td>
</tr>
<tr>
<td>
GS
</td>
<td align="right">
  147.44
</td>
<td align="right">
  .68
</td>
<td align="right">
     .56
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .78
</td>
<td align="right">
   143
</td>
<td align="right">
   112.14
</td>
<td align="right">
   1.41
</td>
</tr>
<tr>
<td>
HAL
</td>
<td align="right">
   40.53
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.49
</td>
<td align="right">
    .03
</td>
<td align="right">
    .41
</td>
<td align="right">
    22
</td>
<td align="right">
     8.98
</td>
<td align="right">
    .27
</td>
</tr>
<tr>
<td>
HMY
</td>
<td align="right">
    6.78
</td>
<td align="right">
  .72
</td>
<td align="right">
    -.70
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.12
</td>
<td align="right">
   126
</td>
<td align="right">
   -15.12
</td>
<td align="right">
    .17
</td>
</tr>
<tr>
<td>
HON
</td>
<td align="right">
   68.40
</td>
<td align="right">
  .68
</td>
<td align="right">
    8.34
</td>
<td align="right">
    .11
</td>
<td align="right">
    .80
</td>
<td align="right">
    35
</td>
<td align="right">
    28.11
</td>
<td align="right">
    .10
</td>
</tr>
<tr>
<td>
IBM
</td>
<td align="right">
  203.34
</td>
<td align="right">
  .61
</td>
<td align="right">
  255.27
</td>
<td align="right">
    .26
</td>
<td align="right">
   1.81
</td>
<td align="right">
     2
</td>
<td align="right">
     3.61
</td>
<td align="right">
    .01
</td>
</tr>
<tr>
<td>
INTC
</td>
<td align="right">
   21.08
</td>
<td align="right">
  .60
</td>
<td align="right">
    4.81
</td>
<td align="right">
    .01
</td>
<td align="right">
    .26
</td>
<td align="right">
     7
</td>
<td align="right">
     1.84
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
IWM
</td>
<td align="right">
   89.67
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.13
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.07
</td>
<td align="right">
    76
</td>
<td align="right">
    -5.62
</td>
<td align="right">
    .57
</td>
</tr>
<tr>
<td>
JCP
</td>
<td align="right">
   19.37
</td>
<td align="right">
  .87
</td>
<td align="right">
    1.89
</td>
<td align="right">
   -.11
</td>
<td align="right">
    .59
</td>
<td align="right">
    41
</td>
<td align="right">
    24.10
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
JPM
</td>
<td align="right">
   47.02
</td>
<td align="right">
  .65
</td>
<td align="right">
     .75
</td>
<td align="right">
    .03
</td>
<td align="right">
    .22
</td>
<td align="right">
    70
</td>
<td align="right">
    15.25
</td>
<td align="right">
    .29
</td>
</tr>
<tr>
<td>
LVS
</td>
<td align="right">
   51.57
</td>
<td align="right">
  .68
</td>
<td align="right">
    9.62
</td>
<td align="right">
    .17
</td>
<td align="right">
   3.02
</td>
<td align="right">
     5
</td>
<td align="right">
    15.10
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
MAR
</td>
<td align="right">
   39.79
</td>
<td align="right">
  .70
</td>
<td align="right">
    4.34
</td>
<td align="right">
    .08
</td>
<td align="right">
    .23
</td>
<td align="right">
    15
</td>
<td align="right">
     3.49
</td>
<td align="right">
    .05
</td>
</tr>
<tr>
<td>
MCD
</td>
<td align="right">
   94.61
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.83
</td>
<td align="right">
    .27
</td>
<td align="right">
    .90
</td>
<td align="right">
    26
</td>
<td align="right">
    23.49
</td>
<td align="right">
    .49
</td>
</tr>
<tr>
<td>
MDY
</td>
<td align="right">
  198.81
</td>
<td align="right">
  .74
</td>
<td align="right">
     .84
</td>
<td align="right">
    .04
</td>
<td align="right">
    .68
</td>
<td align="right">
   119
</td>
<td align="right">
    80.88
</td>
<td align="right">
    .81
</td>
</tr>
<tr>
<td>
MET
</td>
<td align="right">
   37.23
</td>
<td align="right">
  .68
</td>
<td align="right">
    2.52
</td>
<td align="right">
    .07
</td>
<td align="right">
    .80
</td>
<td align="right">
    10
</td>
<td align="right">
     7.95
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
MJN
</td>
<td align="right">
   68.37
</td>
<td align="right">
  .68
</td>
<td align="right">
   26.70
</td>
<td align="right">
   -.07
</td>
<td align="right">
   7.93
</td>
<td align="right">
     2
</td>
<td align="right">
    15.86
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
MOS
</td>
<td align="right">
   61.55
</td>
<td align="right">
  .72
</td>
<td align="right">
     .15
</td>
<td align="right">
    .00
</td>
<td align="right">
    .07
</td>
<td align="right">
   173
</td>
<td align="right">
    12.26
</td>
<td align="right">
    .47
</td>
</tr>
<tr>
<td>
MRK
</td>
<td align="right">
   43.22
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.15
</td>
<td align="right">
    .07
</td>
<td align="right">
   -.12
</td>
<td align="right">
    39
</td>
<td align="right">
    -4.61
</td>
<td align="right">
    .81
</td>
</tr>
<tr>
<td>
MSFT
</td>
<td align="right">
   27.91
</td>
<td align="right">
  .59
</td>
<td align="right">
  -38.00
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.38
</td>
<td align="right">
     1
</td>
<td align="right">
     -.38
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
MVG
</td>
<td align="right">
   11.05
</td>
<td align="right">
  .72
</td>
<td align="right">
     .03
</td>
<td align="right">
    .02
</td>
<td align="right">
    .01
</td>
<td align="right">
   145
</td>
<td align="right">
     1.04
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
NUE
</td>
<td align="right">
   46.71
</td>
<td align="right">
  .66
</td>
<td align="right">
   -1.68
</td>
<td align="right">
    .10
</td>
<td align="right">
   -.39
</td>
<td align="right">
    14
</td>
<td align="right">
    -5.44
</td>
<td align="right">
    .23
</td>
</tr>
<tr>
<td>
OIH
</td>
<td align="right">
   43.56
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.23
</td>
<td align="right">
   -.04
</td>
<td align="right">
   -.05
</td>
<td align="right">
    14
</td>
<td align="right">
     -.70
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
ORCL
</td>
<td align="right">
   35.47
</td>
<td align="right">
  .67
</td>
<td align="right">
     .71
</td>
<td align="right">
    .02
</td>
<td align="right">
    .32
</td>
<td align="right">
    94
</td>
<td align="right">
    29.89
</td>
<td align="right">
    .44
</td>
</tr>
<tr>
<td>
OXY
</td>
<td align="right">
   88.20
</td>
<td align="right">
  .58
</td>
<td align="right">
   12.02
</td>
<td align="right">
   -.10
</td>
<td align="right">
    .43
</td>
<td align="right">
     2
</td>
<td align="right">
      .85
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
PALL
</td>
<td align="right">
   73.43
</td>
<td align="right">
  .73
</td>
<td align="right">
     .43
</td>
<td align="right">
    .04
</td>
<td align="right">
    .34
</td>
<td align="right">
   179
</td>
<td align="right">
    60.66
</td>
<td align="right">
    .79
</td>
</tr>
<tr>
<td>
PG
</td>
<td align="right">
   75.43
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.79
</td>
<td align="right">
   -.10
</td>
<td align="right">
   -.29
</td>
<td align="right">
    79
</td>
<td align="right">
   -23.21
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
PNC
</td>
<td align="right">
   62.29
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.08
</td>
<td align="right">
    .12
</td>
<td align="right">
    .77
</td>
<td align="right">
    84
</td>
<td align="right">
    64.46
</td>
<td align="right">
    .71
</td>
</tr>
<tr>
<td>
POT
</td>
<td align="right">
   42.57
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.35
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.07
</td>
<td align="right">
    25
</td>
<td align="right">
    -1.70
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
QCOM
</td>
<td align="right">
   64.05
</td>
<td align="right">
  .65
</td>
<td align="right">
     .95
</td>
<td align="right">
    .76
</td>
<td align="right">
   1.34
</td>
<td align="right">
    46
</td>
<td align="right">
    61.53
</td>
<td align="right">
   1.41
</td>
</tr>
<tr>
<td>
QQQ
</td>
<td align="right">
   67.14
</td>
<td align="right">
  .61
</td>
<td align="right">
     .05
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .01
</td>
<td align="right">
    14
</td>
<td align="right">
      .14
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
RDY
</td>
<td align="right">
   36.43
</td>
<td align="right">
  .65
</td>
<td align="right">
   -2.09
</td>
<td align="right">
    .03
</td>
<td align="right">
   -.46
</td>
<td align="right">
    41
</td>
<td align="right">
   -18.70
</td>
<td align="right">
    .22
</td>
</tr>
<tr>
<td>
RIG
</td>
<td align="right">
   57.71
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.12
</td>
<td align="right">
   -.13
</td>
<td align="right">
   -.41
</td>
<td align="right">
     5
</td>
<td align="right">
    -2.06
</td>
<td align="right">
    .37
</td>
</tr>
<tr>
<td>
SCCO
</td>
<td align="right">
   39.56
</td>
<td align="right">
  .72
</td>
<td align="right">
    3.68
</td>
<td align="right">
    .04
</td>
<td align="right">
    .44
</td>
<td align="right">
    60
</td>
<td align="right">
    26.24
</td>
<td align="right">
    .12
</td>
</tr>
<tr>
<td>
SINA
</td>
<td align="right">
   55.61
</td>
<td align="right">
  .75
</td>
<td align="right">
    -.17
</td>
<td align="right">
   -.07
</td>
<td align="right">
   -.15
</td>
<td align="right">
   145
</td>
<td align="right">
   -22.05
</td>
<td align="right">
    .90
</td>
</tr>
<tr>
<td>
SLV
</td>
<td align="right">
   30.41
</td>
<td align="right">
  .56
</td>
<td align="right">
   48.00
</td>
<td align="right">
    .20
</td>
<td align="right">
    .48
</td>
<td align="right">
     1
</td>
<td align="right">
      .48
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
SLW
</td>
<td align="right">
   34.83
</td>
<td align="right">
  .71
</td>
<td align="right">
   15.40
</td>
<td align="right">
    .36
</td>
<td align="right">
    .65
</td>
<td align="right">
     5
</td>
<td align="right">
     3.24
</td>
<td align="right">
    .04
</td>
</tr>
<tr>
<td>
SOHU
</td>
<td align="right">
   48.25
</td>
<td align="right">
  .68
</td>
<td align="right">
     .22
</td>
<td align="right">
   -.01
</td>
<td align="right">
    .18
</td>
<td align="right">
    61
</td>
<td align="right">
    10.82
</td>
<td align="right">
    .81
</td>
</tr>
<tr>
<td>
SPY
</td>
<td align="right">
  150.19
</td>
<td align="right">
  .61
</td>
<td align="right">
     .34
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .23
</td>
<td align="right">
    15
</td>
<td align="right">
     3.49
</td>
<td align="right">
    .69
</td>
</tr>
<tr>
<td>
STT
</td>
<td align="right">
   56.05
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.42
</td>
<td align="right">
   -.02
</td>
<td align="right">
   -.10
</td>
<td align="right">
    50
</td>
<td align="right">
    -4.97
</td>
<td align="right">
    .24
</td>
</tr>
<tr>
<td>
SWC
</td>
<td align="right">
   13.46
</td>
<td align="right">
  .68
</td>
<td align="right">
    1.84
</td>
<td align="right">
    .08
</td>
<td align="right">
    .06
</td>
<td align="right">
     4
</td>
<td align="right">
      .25
</td>
<td align="right">
    .03
</td>
</tr>
<tr>
<td>
TEVA
</td>
<td align="right">
   37.72
</td>
<td align="right">
  .80
</td>
<td align="right">
    1.26
</td>
<td align="right">
    .05
</td>
<td align="right">
    .14
</td>
<td align="right">
    84
</td>
<td align="right">
    11.51
</td>
<td align="right">
    .11
</td>
</tr>
<tr>
<td>
TGT
</td>
<td align="right">
   60.67
</td>
<td align="right">
  .69
</td>
<td align="right">
    2.76
</td>
<td align="right">
    .10
</td>
<td align="right">
    .53
</td>
<td align="right">
    23
</td>
<td align="right">
    12.10
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
TKR
</td>
<td align="right">
   53.61
</td>
<td align="right">
  .75
</td>
<td align="right">
    1.25
</td>
<td align="right">
    .09
</td>
<td align="right">
    .39
</td>
<td align="right">
   208
</td>
<td align="right">
    81.47
</td>
<td align="right">
    .31
</td>
</tr>
<tr>
<td>
TLT
</td>
<td align="right">
  117.19
</td>
<td align="right">
  .58
</td>
<td align="right">
  -92.00
</td>
<td align="right">
   -.16
</td>
<td align="right">
   -.92
</td>
<td align="right">
     1
</td>
<td align="right">
     -.92
</td>
<td align="right">
    .00
</td>
</tr>
<tr>
<td>
TM
</td>
<td align="right">
   96.89
</td>
<td align="right">
  .66
</td>
<td align="right">
     .54
</td>
<td align="right">
   -.09
</td>
<td align="right">
    .62
</td>
<td align="right">
    48
</td>
<td align="right">
    29.89
</td>
<td align="right">
   1.15
</td>
</tr>
<tr>
<td>
TXN
</td>
<td align="right">
   33.05
</td>
<td align="right">
  .67
</td>
<td align="right">
     .88
</td>
<td align="right">
    .00
</td>
<td align="right">
    .28
</td>
<td align="right">
   146
</td>
<td align="right">
    41.17
</td>
<td align="right">
    .32
</td>
</tr>
<tr>
<td>
UA
</td>
<td align="right">
   50.88
</td>
<td align="right">
  .66
</td>
<td align="right">
   -6.52
</td>
<td align="right">
   -.15
</td>
<td align="right">
   -.83
</td>
<td align="right">
     2
</td>
<td align="right">
    -1.66
</td>
<td align="right">
    .13
</td>
</tr>
<tr>
<td>
UNH
</td>
<td align="right">
   55.78
</td>
<td align="right">
  .64
</td>
<td align="right">
     .05
</td>
<td align="right">
    .00
</td>
<td align="right">
    .03
</td>
<td align="right">
    42
</td>
<td align="right">
     1.17
</td>
<td align="right">
    .60
</td>
</tr>
<tr>
<td>
UNP
</td>
<td align="right">
  131.48
</td>
<td align="right">
  .68
</td>
<td align="right">
    1.25
</td>
<td align="right">
    .10
</td>
<td align="right">
   1.63
</td>
<td align="right">
    20
</td>
<td align="right">
    32.56
</td>
<td align="right">
   1.30
</td>
</tr>
<tr>
<td>
UPS
</td>
<td align="right">
   79.71
</td>
<td align="right">
  .66
</td>
<td align="right">
     .22
</td>
<td align="right">
   -.05
</td>
<td align="right">
    .09
</td>
<td align="right">
    82
</td>
<td align="right">
     7.60
</td>
<td align="right">
    .43
</td>
</tr>
<tr>
<td>
VALE
</td>
<td align="right">
   20.16
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.39
</td>
<td align="right">
    .00
</td>
<td align="right">
   -.08
</td>
<td align="right">
    62
</td>
<td align="right">
    -4.87
</td>
<td align="right">
    .20
</td>
</tr>
<tr>
<td>
VLO
</td>
<td align="right">
   43.00
</td>
<td align="right">
  .58
</td>
<td align="right">
    1.18
</td>
<td align="right">
    .17
</td>
<td align="right">
    .65
</td>
<td align="right">
     8
</td>
<td align="right">
     5.19
</td>
<td align="right">
    .55
</td>
</tr>
<tr>
<td>
VMW
</td>
<td align="right">
   77.58
</td>
<td align="right">
  .67
</td>
<td align="right">
     .35
</td>
<td align="right">
   -.03
</td>
<td align="right">
    .45
</td>
<td align="right">
   100
</td>
<td align="right">
    45.41
</td>
<td align="right">
   1.29
</td>
</tr>
<tr>
<td>
WDC
</td>
<td align="right">
   46.90
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.62
</td>
<td align="right">
   -.01
</td>
<td align="right">
   -.22
</td>
<td align="right">
    29
</td>
<td align="right">
    -6.38
</td>
<td align="right">
    .35
</td>
</tr>
<tr>
<td>
WFM
</td>
<td align="right">
   95.39
</td>
<td align="right">
  .80
</td>
<td align="right">
     .30
</td>
<td align="right">
    .10
</td>
<td align="right">
    .26
</td>
<td align="right">
     2
</td>
<td align="right">
      .51
</td>
<td align="right">
    .84
</td>
</tr>
<tr>
<td>
WHR
</td>
<td align="right">
  110.94
</td>
<td align="right">
  .59
</td>
<td align="right">
     .24
</td>
<td align="right">
    .03
</td>
<td align="right">
    .60
</td>
<td align="right">
    13
</td>
<td align="right">
     7.74
</td>
<td align="right">
   2.49
</td>
</tr>
<tr>
<td>
WYNN
</td>
<td align="right">
  123.52
</td>
<td align="right">
  .75
</td>
<td align="right">
     .68
</td>
<td align="right">
    .13
</td>
<td align="right">
    .82
</td>
<td align="right">
   160
</td>
<td align="right">
   130.47
</td>
<td align="right">
   1.20
</td>
</tr>
<tr>
<td>
X
</td>
<td align="right">
   22.66
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.74
</td>
<td align="right">
   -.08
</td>
<td align="right">
   -.31
</td>
<td align="right">
    41
</td>
<td align="right">
   -12.90
</td>
<td align="right">
    .42
</td>
</tr>
<tr>
<td>
XLE
</td>
<td align="right">
   77.37
</td>
<td align="right">
  .66
</td>
<td align="right">
    1.91
</td>
<td align="right">
    .10
</td>
<td align="right">
    .36
</td>
<td align="right">
    15
</td>
<td align="right">
     5.34
</td>
<td align="right">
    .19
</td>
</tr>
<tr>
<td>
YUM
</td>
<td align="right">
   65.02
</td>
<td align="right">
  .62
</td>
<td align="right">
   -1.59
</td>
<td align="right">
   -.28
</td>
<td align="right">
   -.48
</td>
<td align="right">
     3
</td>
<td align="right">
    -1.44
</td>
<td align="right">
    .30
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  4261
</td>
<td align="right">
  1061.97
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<br /><hr />
