<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-11-19
10:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  81.1725
</td>
<td align="right">
  81.1525
</td>
<td align="right">
 -.0002
</td>
<td>
2012-11-19 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-11-19
11:45:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  81.1550
</td>
<td align="right">
  81.1600
</td>
<td align="right">
  .0001
</td>
<td>
2012-11-19 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-11-19
11:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  81.1525
</td>
<td align="right">
  81.1825
</td>
<td align="right">
  .0004
</td>
<td>
2012-11-19 17:55:00
</td>
</tr>
</table>
<br /><hr />