<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-12-14
11:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8120
</td>
<td align="right">
    .8112
</td>
<td align="right">
 -.0010
</td>
<td>
2012-12-14 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-12-14
12:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8112
</td>
<td align="right">
    .8111
</td>
<td align="right">
 -.0002
</td>
<td>
2012-12-14 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-12-14
13:30:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8112
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-14 19:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-12-14
10:15:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3083
</td>
<td align="right">
   1.3094
</td>
<td align="right">
  .0008
</td>
<td>
2012-12-14 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-12-14
11:30:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3094
</td>
<td align="right">
   1.3083
</td>
<td align="right">
 -.0008
</td>
<td>
2012-12-14 17:30:00
</td>
</tr>
</table>
<br /><hr />