<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-13
20:15:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
   1.0304
</td>
<td align="right">
   1.0318
</td>
<td align="right">
  .0014
</td>
<td>
2012-01-16 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-13
20:20:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   1.0304
</td>
<td align="right">
   1.0318
</td>
<td align="right">
  .0014
</td>
<td>
2012-01-16 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-13
20:25:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.0299
</td>
<td align="right">
   1.0322
</td>
<td align="right">
  .0023
</td>
<td>
2012-01-16 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-13
20:30:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.0303
</td>
<td align="right">
   1.0319
</td>
<td align="right">
  .0016
</td>
<td>
2012-01-16 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-13
20:35:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.0304
</td>
<td align="right">
   1.0319
</td>
<td align="right">
  .0014
</td>
<td>
2012-01-16 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-13
20:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.0303
</td>
<td align="right">
   1.0321
</td>
<td align="right">
  .0017
</td>
<td>
2012-01-16 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-13
20:45:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   1.0303
</td>
<td align="right">
   1.0324
</td>
<td align="right">
  .0021
</td>
<td>
2012-01-16 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-13
20:50:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.0303
</td>
<td align="right">
   1.0324
</td>
<td align="right">
  .0021
</td>
<td>
2012-01-16 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-13
20:55:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.0307
</td>
<td align="right">
   1.0323
</td>
<td align="right">
  .0016
</td>
<td>
2012-01-16 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-13
21:05:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.0306
</td>
<td align="right">
   1.0295
</td>
<td align="right">
 -.0011
</td>
<td>
2012-01-16 03:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-13
21:10:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   1.0316
</td>
<td align="right">
   1.0294
</td>
<td align="right">
 -.0021
</td>
<td>
2012-01-16 03:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-13
21:15:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.0318
</td>
<td align="right">
   1.0300
</td>
<td align="right">
 -.0018
</td>
<td>
2012-01-16 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-13
21:25:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.0322
</td>
<td align="right">
   1.0304
</td>
<td align="right">
 -.0018
</td>
<td>
2012-01-16 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-13
21:30:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.0319
</td>
<td align="right">
   1.0304
</td>
<td align="right">
 -.0015
</td>
<td>
2012-01-16 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-13
21:35:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0319
</td>
<td align="right">
   1.0296
</td>
<td align="right">
 -.0022
</td>
<td>
2012-01-16 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-13
21:45:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.0324
</td>
<td align="right">
   1.0289
</td>
<td align="right">
 -.0035
</td>
<td>
2012-01-16 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-13
21:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0323
</td>
<td align="right">
   1.0287
</td>
<td align="right">
 -.0034
</td>
<td>
2012-01-16 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-15
22:20:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.0295
</td>
<td align="right">
   1.0286
</td>
<td align="right">
 -.0009
</td>
<td>
2012-01-16 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-16
00:20:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.2323
</td>
<td align="right">
   1.2322
</td>
<td align="right">
 -.0001
</td>
<td>
2012-01-16 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-16
00:40:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.2315
</td>
<td align="right">
   1.2314
</td>
<td align="right">
 -.0001
</td>
<td>
2012-01-16 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-16
00:50:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.2318
</td>
<td align="right">
   1.2310
</td>
<td align="right">
 -.0007
</td>
<td>
2012-01-16 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-16
00:55:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.2323
</td>
<td align="right">
   1.2306
</td>
<td align="right">
 -.0014
</td>
<td>
2012-01-16 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-16
01:00:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.2326
</td>
<td align="right">
   1.2311
</td>
<td align="right">
 -.0012
</td>
<td>
2012-01-16 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-16
01:05:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.2321
</td>
<td align="right">
   1.2312
</td>
<td align="right">
 -.0008
</td>
<td>
2012-01-16 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-16
01:10:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.2326
</td>
<td align="right">
   1.2309
</td>
<td align="right">
 -.0014
</td>
<td>
2012-01-16 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-16
01:15:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
   1.2325
</td>
<td align="right">
   1.2310
</td>
<td align="right">
 -.0012
</td>
<td>
2012-01-16 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-16
01:20:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
   1.2322
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-16 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-16
01:25:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.2316
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-16 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-16
01:40:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.2314
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-16 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-16
01:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.2310
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-16 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-16
00:25:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  78.9340
</td>
<td align="right">
  78.8609
</td>
<td align="right">
 -.0009
</td>
<td>
2012-01-16 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-16
00:30:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  78.9839
</td>
<td align="right">
  78.8507
</td>
<td align="right">
 -.0017
</td>
<td>
2012-01-16 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-16
00:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  78.9532
</td>
<td align="right">
  78.8193
</td>
<td align="right">
 -.0017
</td>
<td>
2012-01-16 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-16
00:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  78.9666
</td>
<td align="right">
  78.8193
</td>
<td align="right">
 -.0019
</td>
<td>
2012-01-16 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-16
00:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  78.9538
</td>
<td align="right">
  78.8788
</td>
<td align="right">
 -.0009
</td>
<td>
2012-01-16 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-16
00:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  78.8891
</td>
<td align="right">
  78.9304
</td>
<td align="right">
  .0005
</td>
<td>
2012-01-16 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-16
01:00:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  78.8959
</td>
<td align="right">
  78.9461
</td>
<td align="right">
  .0006
</td>
<td>
2012-01-16 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-16
01:05:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  78.9314
</td>
<td align="right">
  78.9147
</td>
<td align="right">
 -.0002
</td>
<td>
2012-01-16 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-16
01:10:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  78.9148
</td>
<td align="right">
  78.9262
</td>
<td align="right">
  .0001
</td>
<td>
2012-01-16 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-16
01:55:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  78.9304
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-16 07:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-01-13
20:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .9522
</td>
<td align="right">
    .9520
</td>
<td align="right">
 -.0002
</td>
<td>
2012-01-16 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-01-13
21:30:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .9529
</td>
<td align="right">
    .9549
</td>
<td align="right">
  .0020
</td>
<td>
2012-01-16 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-01-13
21:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .9525
</td>
<td align="right">
    .9549
</td>
<td align="right">
  .0025
</td>
<td>
2012-01-16 03:45:00
</td>
</tr>
</table>
<br /><hr />