<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-01-18
01:15:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  97.9317
</td>
<td align="right">
  97.9941
</td>
<td align="right">
  .0006
</td>
<td>
2012-01-18 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-01-18
02:05:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  97.9906
</td>
<td align="right">
  98.0362
</td>
<td align="right">
  .0005
</td>
<td>
2012-01-18 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-01-18
02:20:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  97.9855
</td>
<td align="right">
  97.9785
</td>
<td align="right">
 -.0001
</td>
<td>
2012-01-18 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2012-01-17
23:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.2095
</td>
<td align="right">
   1.2096
</td>
<td align="right">
  .0000
</td>
<td>
2012-01-18 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2012-01-18
00:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.2095
</td>
<td align="right">
   1.2096
</td>
<td align="right">
  .0001
</td>
<td>
2012-01-18 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-18
02:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  76.7150
</td>
<td align="right">
  76.6850
</td>
<td align="right">
 -.0004
</td>
<td>
2012-01-18 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-18
03:30:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  76.6925
</td>
<td align="right">
  76.6875
</td>
<td align="right">
 -.0001
</td>
<td>
2012-01-18 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-18
03:35:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  76.6975
</td>
<td align="right">
  76.6800
</td>
<td align="right">
 -.0002
</td>
<td>
2012-01-18 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-18
04:00:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  76.6925
</td>
<td align="right">
  76.6575
</td>
<td align="right">
 -.0005
</td>
<td>
2012-01-18 10:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-18
04:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  76.6950
</td>
<td align="right">
  76.6625
</td>
<td align="right">
 -.0004
</td>
<td>
2012-01-18 10:05:00
</td>
</tr>
</table>
<br /><hr />