<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-27
19:30:00
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
  81.7331
</td>
<td align="right">
  81.7282
</td>
<td align="right">
 -.0001
</td>
<td>
2012-01-30 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-27
19:35:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  81.7538
</td>
<td align="right">
  81.7523
</td>
<td align="right">
  .0000
</td>
<td>
2012-01-30 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-27
19:40:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
  81.7376
</td>
<td align="right">
  81.7278
</td>
<td align="right">
 -.0001
</td>
<td>
2012-01-30 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-27
19:45:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
  81.7207
</td>
<td align="right">
  81.7124
</td>
<td align="right">
 -.0001
</td>
<td>
2012-01-30 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-27
19:50:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  81.7189
</td>
<td align="right">
  81.7427
</td>
<td align="right">
  .0003
</td>
<td>
2012-01-30 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-27
20:10:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  81.7400
</td>
<td align="right">
  81.6854
</td>
<td align="right">
 -.0007
</td>
<td>
2012-01-30 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-27
20:15:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
  81.7500
</td>
<td align="right">
  81.6816
</td>
<td align="right">
 -.0008
</td>
<td>
2012-01-30 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-27
20:20:00
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
  81.7719
</td>
<td align="right">
  81.6766
</td>
<td align="right">
 -.0012
</td>
<td>
2012-01-30 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-27
20:30:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
  81.7282
</td>
<td align="right">
  81.7034
</td>
<td align="right">
 -.0003
</td>
<td>
2012-01-30 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-27
20:35:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  81.7523
</td>
<td align="right">
  81.6439
</td>
<td align="right">
 -.0013
</td>
<td>
2012-01-30 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-27
20:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  81.7278
</td>
<td align="right">
  81.6293
</td>
<td align="right">
 -.0012
</td>
<td>
2012-01-30 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-27
20:45:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  81.7124
</td>
<td align="right">
  81.6593
</td>
<td align="right">
 -.0007
</td>
<td>
2012-01-30 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-27
20:50:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  81.7427
</td>
<td align="right">
  81.6745
</td>
<td align="right">
 -.0008
</td>
<td>
2012-01-30 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-27
20:55:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
  81.7275
</td>
<td align="right">
  81.7464
</td>
<td align="right">
  .0002
</td>
<td>
2012-01-30 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-27
21:00:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
  81.7205
</td>
<td align="right">
  81.6450
</td>
<td align="right">
 -.0009
</td>
<td>
2012-01-30 03:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-27
21:05:00
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
  81.6884
</td>
<td align="right">
  81.6207
</td>
<td align="right">
 -.0008
</td>
<td>
2012-01-30 03:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-27
21:30:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
  81.7034
</td>
<td align="right">
  81.6126
</td>
<td align="right">
 -.0011
</td>
<td>
2012-01-30 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-27
21:35:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  81.6439
</td>
<td align="right">
  81.6455
</td>
<td align="right">
  .0000
</td>
<td>
2012-01-30 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-27
21:45:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  81.6593
</td>
<td align="right">
  81.7141
</td>
<td align="right">
  .0007
</td>
<td>
2012-01-30 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-27
21:55:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
  81.7464
</td>
<td align="right">
  81.6939
</td>
<td align="right">
 -.0006
</td>
<td>
2012-01-30 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-29
22:15:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  81.6450
</td>
<td align="right">
  81.7353
</td>
<td align="right">
  .0011
</td>
<td>
2012-01-30 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-29
22:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  81.5819
</td>
<td align="right">
  81.6581
</td>
<td align="right">
  .0009
</td>
<td>
2012-01-30 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-29
23:05:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  81.6968
</td>
<td align="right">
  81.5734
</td>
<td align="right">
 -.0015
</td>
<td>
2012-01-30 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-29
23:10:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  81.6939
</td>
<td align="right">
  81.5751
</td>
<td align="right">
 -.0015
</td>
<td>
2012-01-30 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-29
23:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  81.7353
</td>
<td align="right">
  81.5213
</td>
<td align="right">
 -.0026
</td>
<td>
2012-01-30 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-29
23:20:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  81.7325
</td>
<td align="right">
  81.4568
</td>
<td align="right">
 -.0034
</td>
<td>
2012-01-30 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-29
23:35:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  81.6732
</td>
<td align="right">
  81.4757
</td>
<td align="right">
 -.0024
</td>
<td>
2012-01-30 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-29
22:35:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  76.7350
</td>
<td align="right">
  76.7425
</td>
<td align="right">
  .0001
</td>
<td>
2012-01-30 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-29
22:40:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  76.7450
</td>
<td align="right">
  76.7200
</td>
<td align="right">
 -.0003
</td>
<td>
2012-01-30 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-29
22:45:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  76.7450
</td>
<td align="right">
  76.7200
</td>
<td align="right">
 -.0003
</td>
<td>
2012-01-30 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-29
22:50:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  76.7525
</td>
<td align="right">
  76.7475
</td>
<td align="right">
 -.0001
</td>
<td>
2012-01-30 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-29
22:55:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  76.7650
</td>
<td align="right">
  76.7475
</td>
<td align="right">
 -.0002
</td>
<td>
2012-01-30 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-29
23:00:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  76.7575
</td>
<td align="right">
  76.7375
</td>
<td align="right">
 -.0003
</td>
<td>
2012-01-30 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-29
23:05:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  76.7575
</td>
<td align="right">
  76.7425
</td>
<td align="right">
 -.0002
</td>
<td>
2012-01-30 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-29
23:10:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  76.7475
</td>
<td align="right">
  76.7450
</td>
<td align="right">
  .0000
</td>
<td>
2012-01-30 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-29
23:15:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  76.7450
</td>
<td align="right">
  76.7675
</td>
<td align="right">
  .0003
</td>
<td>
2012-01-30 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-29
23:20:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  76.7388
</td>
<td align="right">
  76.7700
</td>
<td align="right">
  .0004
</td>
<td>
2012-01-30 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-29
23:25:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  76.7175
</td>
<td align="right">
  76.7675
</td>
<td align="right">
  .0007
</td>
<td>
2012-01-30 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-29
23:30:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  76.7175
</td>
<td align="right">
  76.7575
</td>
<td align="right">
  .0005
</td>
<td>
2012-01-30 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-29
23:35:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
  76.7425
</td>
<td align="right">
  76.7625
</td>
<td align="right">
  .0003
</td>
<td>
2012-01-30 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-29
23:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  76.7200
</td>
<td align="right">
  76.7725
</td>
<td align="right">
  .0007
</td>
<td>
2012-01-30 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-29
23:45:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  76.7200
</td>
<td align="right">
  76.7575
</td>
<td align="right">
  .0005
</td>
<td>
2012-01-30 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-29
23:50:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
  76.7475
</td>
<td align="right">
  76.7650
</td>
<td align="right">
  .0002
</td>
<td>
2012-01-30 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-29
23:55:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
  76.7475
</td>
<td align="right">
  76.7675
</td>
<td align="right">
  .0003
</td>
<td>
2012-01-30 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-30
00:25:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  76.7675
</td>
<td align="right">
  76.7575
</td>
<td align="right">
 -.0001
</td>
<td>
2012-01-30 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-30
00:30:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  76.7575
</td>
<td align="right">
  76.7525
</td>
<td align="right">
 -.0001
</td>
<td>
2012-01-30 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-30
00:35:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
  76.7625
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-30 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-30
00:40:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  76.7725
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-30 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-30
00:45:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  76.7575
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-30 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-30
00:50:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
  76.7650
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-30 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-30
00:55:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  76.7675
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-30 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-30
01:00:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  76.7425
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-30 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-30
01:05:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  76.7550
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-30 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-30
01:10:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  76.7500
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-30 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-01-27
20:50:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0010
</td>
<td align="right">
   1.0017
</td>
<td align="right">
  .0007
</td>
<td>
2012-01-30 02:50:00
</td>
</tr>
</table>
<br /><hr />