<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-03-20
11:50:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    .9915
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-03-20 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-03-20
09:50:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8323
</td>
<td align="right">
    .8323
</td>
<td align="right">
  .0000
</td>
<td>
2012-03-20 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-03-20
10:00:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .8318
</td>
<td align="right">
    .8320
</td>
<td align="right">
  .0003
</td>
<td>
2012-03-20 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-03-20
10:05:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8317
</td>
<td align="right">
    .8323
</td>
<td align="right">
  .0007
</td>
<td>
2012-03-20 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-03-20
10:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8319
</td>
<td align="right">
    .8329
</td>
<td align="right">
  .0012
</td>
<td>
2012-03-20 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-03-20
10:25:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8320
</td>
<td align="right">
    .8330
</td>
<td align="right">
  .0012
</td>
<td>
2012-03-20 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-03-20
10:30:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8322
</td>
<td align="right">
    .8328
</td>
<td align="right">
  .0007
</td>
<td>
2012-03-20 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-03-20
10:35:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8321
</td>
<td align="right">
    .8328
</td>
<td align="right">
  .0009
</td>
<td>
2012-03-20 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-03-20
10:50:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8323
</td>
<td align="right">
    .8328
</td>
<td align="right">
  .0005
</td>
<td>
2012-03-20 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-03-20
10:55:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8322
</td>
<td align="right">
    .8323
</td>
<td align="right">
  .0001
</td>
<td>
2012-03-20 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-03-20
11:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8320
</td>
<td align="right">
    .8320
</td>
<td align="right">
  .0000
</td>
<td>
2012-03-20 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-03-20
11:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8325
</td>
<td align="right">
    .8322
</td>
<td align="right">
 -.0004
</td>
<td>
2012-03-20 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-03-20
11:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8330
</td>
<td align="right">
    .8319
</td>
<td align="right">
 -.0014
</td>
<td>
2012-03-20 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-03-20
11:30:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8328
</td>
<td align="right">
    .8320
</td>
<td align="right">
 -.0010
</td>
<td>
2012-03-20 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-03-20
11:40:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8328
</td>
<td align="right">
    .8322
</td>
<td align="right">
 -.0008
</td>
<td>
2012-03-20 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-03-20
11:50:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 110.5435
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-03-20 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-03-20
12:10:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 110.3468
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-03-20 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-03-20
10:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .9915
</td>
<td align="right">
    .9920
</td>
<td align="right">
  .0005
</td>
<td>
2012-03-20 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-03-20
10:05:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .9916
</td>
<td align="right">
    .9917
</td>
<td align="right">
  .0002
</td>
<td>
2012-03-20 16:05:00
</td>
</tr>
</table>
<br /><hr />