<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-29
19:40:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 122.3342
</td>
<td align="right">
 122.4725
</td>
<td align="right">
  .0011
</td>
<td>
2013-01-30 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-29
19:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 122.3372
</td>
<td align="right">
 122.3994
</td>
<td align="right">
  .0005
</td>
<td>
2013-01-30 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-29
20:00:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
 122.3339
</td>
<td align="right">
 122.4017
</td>
<td align="right">
  .0006
</td>
<td>
2013-01-30 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-29
21:25:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
 122.4219
</td>
<td align="right">
 122.3901
</td>
<td align="right">
 -.0003
</td>
<td>
2013-01-30 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-29
21:30:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
 122.4115
</td>
<td align="right">
 122.3946
</td>
<td align="right">
 -.0001
</td>
<td>
2013-01-30 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-29
21:35:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
 122.4193
</td>
<td align="right">
 122.3990
</td>
<td align="right">
 -.0002
</td>
<td>
2013-01-30 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-29
21:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 122.4040
</td>
<td align="right">
 122.3967
</td>
<td align="right">
 -.0001
</td>
<td>
2013-01-30 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-29
21:55:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
 122.4028
</td>
<td align="right">
 122.3854
</td>
<td align="right">
 -.0001
</td>
<td>
2013-01-30 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-29
22:35:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
 122.4125
</td>
<td align="right">
 122.4839
</td>
<td align="right">
  .0006
</td>
<td>
2013-01-30 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-29
22:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 122.3901
</td>
<td align="right">
 122.4457
</td>
<td align="right">
  .0005
</td>
<td>
2013-01-30 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-29
22:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 122.3946
</td>
<td align="right">
 122.4712
</td>
<td align="right">
  .0006
</td>
<td>
2013-01-30 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-29
22:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 122.3990
</td>
<td align="right">
 122.5240
</td>
<td align="right">
  .0010
</td>
<td>
2013-01-30 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-29
22:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
 122.4137
</td>
<td align="right">
 122.4452
</td>
<td align="right">
  .0003
</td>
<td>
2013-01-30 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-29
23:00:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
 122.3899
</td>
<td align="right">
 122.4497
</td>
<td align="right">
  .0005
</td>
<td>
2013-01-30 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-29
23:05:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 122.3967
</td>
<td align="right">
 122.4172
</td>
<td align="right">
  .0002
</td>
<td>
2013-01-30 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-29
23:35:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 122.4839
</td>
<td align="right">
 122.5059
</td>
<td align="right">
  .0002
</td>
<td>
2013-01-30 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-29
23:50:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 122.5240
</td>
<td align="right">
 122.5149
</td>
<td align="right">
 -.0001
</td>
<td>
2013-01-30 05:50:00
</td>
</tr>
</table>
<br /><hr />