<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-21
19:05:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.0044
</td>
<td align="right">
   1.0032
</td>
<td align="right">
 -.0012
</td>
<td>
2012-06-22 01:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-21
19:10:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.0043
</td>
<td align="right">
   1.0032
</td>
<td align="right">
 -.0011
</td>
<td>
2012-06-22 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-21
21:15:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0038
</td>
<td align="right">
   1.0046
</td>
<td align="right">
  .0007
</td>
<td>
2012-06-22 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-21
22:30:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.0049
</td>
<td align="right">
   1.0050
</td>
<td align="right">
  .0001
</td>
<td>
2012-06-22 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-21
23:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.0050
</td>
<td align="right">
   1.0055
</td>
<td align="right">
  .0005
</td>
<td>
2012-06-22 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-21
23:30:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.0050
</td>
<td align="right">
   1.0052
</td>
<td align="right">
  .0002
</td>
<td>
2012-06-22 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-21
23:40:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.0045
</td>
<td align="right">
   1.0056
</td>
<td align="right">
  .0011
</td>
<td>
2012-06-22 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-22
00:15:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.0053
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-22 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-22
00:20:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.0055
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-22 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-22
00:25:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.0053
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-22 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-22
00:30:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.0052
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-22 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-22
00:35:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.0052
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-22 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-22
00:45:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.0055
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-22 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-22
00:50:00
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
   1.0052
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-22 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-22
01:00:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.0050
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-22 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-06-21
20:05:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.2505
</td>
<td align="right">
   1.2494
</td>
<td align="right">
 -.0009
</td>
<td>
2012-06-22 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-06-21
20:10:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.2505
</td>
<td align="right">
   1.2483
</td>
<td align="right">
 -.0018
</td>
<td>
2012-06-22 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-06-22
00:45:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.2489
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-22 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2012-06-22
00:35:00
</td>
<td align="right">
 -.92
</td>
<td>
Sell
</td>
<td align="right">
   1.5610
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-22 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2012-06-22
00:40:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.5611
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-22 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-21
19:25:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  80.5994
</td>
<td align="right">
  80.5820
</td>
<td align="right">
 -.0002
</td>
<td>
2012-06-22 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-21
19:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  80.5384
</td>
<td align="right">
  80.5509
</td>
<td align="right">
  .0002
</td>
<td>
2012-06-22 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-21
20:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  80.5655
</td>
<td align="right">
  80.6505
</td>
<td align="right">
  .0011
</td>
<td>
2012-06-22 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-21
21:20:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  80.5898
</td>
<td align="right">
  80.6638
</td>
<td align="right">
  .0009
</td>
<td>
2012-06-22 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-21
21:30:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  80.6505
</td>
<td align="right">
  80.6596
</td>
<td align="right">
  .0001
</td>
<td>
2012-06-22 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-21
21:40:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  80.6492
</td>
<td align="right">
  80.6603
</td>
<td align="right">
  .0001
</td>
<td>
2012-06-22 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-21
21:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  80.6492
</td>
<td align="right">
  80.5935
</td>
<td align="right">
 -.0007
</td>
<td>
2012-06-22 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-21
22:00:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  80.6673
</td>
<td align="right">
  80.5837
</td>
<td align="right">
 -.0010
</td>
<td>
2012-06-22 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-21
22:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  80.6759
</td>
<td align="right">
  80.5960
</td>
<td align="right">
 -.0010
</td>
<td>
2012-06-22 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-21
23:10:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  80.6015
</td>
<td align="right">
  80.4399
</td>
<td align="right">
 -.0020
</td>
<td>
2012-06-22 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-21
23:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  80.5992
</td>
<td align="right">
  80.5441
</td>
<td align="right">
 -.0007
</td>
<td>
2012-06-22 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-22
00:00:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  80.4595
</td>
<td align="right">
  80.5010
</td>
<td align="right">
  .0005
</td>
<td>
2012-06-22 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-22
00:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  80.5341
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-22 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-22
00:55:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  80.4875
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-22 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-06-21
22:30:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0287
</td>
<td align="right">
   1.0285
</td>
<td align="right">
 -.0002
</td>
<td>
2012-06-22 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-06-21
23:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0286
</td>
<td align="right">
   1.0276
</td>
<td align="right">
 -.0009
</td>
<td>
2012-06-22 05:50:00
</td>
</tr>
</table>
<br /><hr />