<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-23
20:00:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .9561
</td>
<td align="right">
    .9558
</td>
<td align="right">
 -.0003
</td>
<td>
2012-08-24 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-23
20:25:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .9561
</td>
<td align="right">
    .9558
</td>
<td align="right">
 -.0003
</td>
<td>
2012-08-24 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-23
20:30:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9561
</td>
<td align="right">
    .9558
</td>
<td align="right">
 -.0004
</td>
<td>
2012-08-24 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-23
20:35:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9561
</td>
<td align="right">
    .9557
</td>
<td align="right">
 -.0004
</td>
<td>
2012-08-24 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-23
21:20:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .9558
</td>
<td align="right">
    .9558
</td>
<td align="right">
  .0000
</td>
<td>
2012-08-24 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-23
21:40:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .9558
</td>
<td align="right">
    .9560
</td>
<td align="right">
  .0002
</td>
<td>
2012-08-24 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-23
23:00:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9563
</td>
<td align="right">
    .9563
</td>
<td align="right">
  .0000
</td>
<td>
2012-08-24 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-23
23:05:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .9563
</td>
<td align="right">
    .9562
</td>
<td align="right">
 -.0001
</td>
<td>
2012-08-24 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-23
23:15:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9563
</td>
<td align="right">
    .9564
</td>
<td align="right">
  .0002
</td>
<td>
2012-08-24 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-23
23:25:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9563
</td>
<td align="right">
    .9567
</td>
<td align="right">
  .0004
</td>
<td>
2012-08-24 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-08-24
00:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  81.9963
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-08-24 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-08-23
23:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  98.7075
</td>
<td align="right">
  98.6317
</td>
<td align="right">
 -.0008
</td>
<td>
2012-08-24 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-08-23
23:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  98.7134
</td>
<td align="right">
  98.6223
</td>
<td align="right">
 -.0009
</td>
<td>
2012-08-24 05:55:00
</td>
</tr>
</table>
<br /><hr />