<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-06-05
10:50:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.2778
</td>
<td align="right">
   1.2770
</td>
<td align="right">
 -.0006
</td>
<td>
2012-06-05 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-06-05
11:00:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.2779
</td>
<td align="right">
   1.2768
</td>
<td align="right">
 -.0009
</td>
<td>
2012-06-05 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-06-05
06:55:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  78.4275
</td>
<td align="right">
  78.2275
</td>
<td align="right">
 -.0026
</td>
<td>
2012-06-05 12:55:00
</td>
</tr>
</table>
<br /><hr />