<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-09-18
00:25:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    .8069
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-09-18 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-17
18:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3104
</td>
<td align="right">
   1.3103
</td>
<td align="right">
 -.0001
</td>
<td>
2012-09-18 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-17
19:00:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.3108
</td>
<td align="right">
   1.3110
</td>
<td align="right">
  .0001
</td>
<td>
2012-09-18 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-17
19:10:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3100
</td>
<td align="right">
   1.3113
</td>
<td align="right">
  .0010
</td>
<td>
2012-09-18 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-17
19:15:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3095
</td>
<td align="right">
   1.3113
</td>
<td align="right">
  .0014
</td>
<td>
2012-09-18 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-17
19:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3095
</td>
<td align="right">
   1.3111
</td>
<td align="right">
  .0013
</td>
<td>
2012-09-18 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-17
19:25:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.3096
</td>
<td align="right">
   1.3111
</td>
<td align="right">
  .0011
</td>
<td>
2012-09-18 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-17
19:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3101
</td>
<td align="right">
   1.3113
</td>
<td align="right">
  .0009
</td>
<td>
2012-09-18 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-17
19:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.3102
</td>
<td align="right">
   1.3112
</td>
<td align="right">
  .0008
</td>
<td>
2012-09-18 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-17
19:55:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.3108
</td>
<td align="right">
   1.3117
</td>
<td align="right">
  .0007
</td>
<td>
2012-09-18 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-17
20:05:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3111
</td>
<td align="right">
   1.3115
</td>
<td align="right">
  .0003
</td>
<td>
2012-09-18 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-17
20:10:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3113
</td>
<td align="right">
   1.3116
</td>
<td align="right">
  .0002
</td>
<td>
2012-09-18 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-17
20:25:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3111
</td>
<td align="right">
   1.3116
</td>
<td align="right">
  .0004
</td>
<td>
2012-09-18 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-17
20:30:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.3112
</td>
<td align="right">
   1.3116
</td>
<td align="right">
  .0003
</td>
<td>
2012-09-18 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-17
20:40:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3113
</td>
<td align="right">
   1.3114
</td>
<td align="right">
  .0001
</td>
<td>
2012-09-18 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-17
21:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3115
</td>
<td align="right">
   1.3115
</td>
<td align="right">
  .0001
</td>
<td>
2012-09-18 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-17
21:35:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.3116
</td>
<td align="right">
   1.3118
</td>
<td align="right">
  .0002
</td>
<td>
2012-09-18 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-17
21:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3116
</td>
<td align="right">
   1.3118
</td>
<td align="right">
  .0002
</td>
<td>
2012-09-18 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-17
21:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3115
</td>
<td align="right">
   1.3115
</td>
<td align="right">
  .0000
</td>
<td>
2012-09-18 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-17
21:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3114
</td>
<td align="right">
   1.3114
</td>
<td align="right">
  .0000
</td>
<td>
2012-09-18 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-17
22:45:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3115
</td>
<td align="right">
   1.3109
</td>
<td align="right">
 -.0005
</td>
<td>
2012-09-18 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-18
00:00:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3106
</td>
<td align="right">
   1.3097
</td>
<td align="right">
 -.0007
</td>
<td>
2012-09-18 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-18
00:10:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3106
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-09-18 06:10:00
</td>
</tr>
</table>
<br /><hr />