<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-10
08:20:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.2835
</td>
<td align="right">
   1.2831
</td>
<td align="right">
 -.0003
</td>
<td>
2012-05-10 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-10
08:25:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.2835
</td>
<td align="right">
   1.2831
</td>
<td align="right">
 -.0004
</td>
<td>
2012-05-10 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-10
06:50:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
 103.2982
</td>
<td align="right">
 103.3313
</td>
<td align="right">
  .0003
</td>
<td>
2012-05-10 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-10
07:15:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
 103.3894
</td>
<td align="right">
 103.1819
</td>
<td align="right">
 -.0020
</td>
<td>
2012-05-10 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-10
07:20:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
 103.3782
</td>
<td align="right">
 103.1328
</td>
<td align="right">
 -.0024
</td>
<td>
2012-05-10 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-10
07:25:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 103.3961
</td>
<td align="right">
 103.1804
</td>
<td align="right">
 -.0021
</td>
<td>
2012-05-10 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-10
07:35:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
 103.3505
</td>
<td align="right">
 103.2675
</td>
<td align="right">
 -.0008
</td>
<td>
2012-05-10 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-10
08:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 103.1328
</td>
<td align="right">
 103.0554
</td>
<td align="right">
 -.0008
</td>
<td>
2012-05-10 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-10
08:30:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
 103.1819
</td>
<td align="right">
 103.0863
</td>
<td align="right">
 -.0009
</td>
<td>
2012-05-10 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-10
08:45:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 103.2538
</td>
<td align="right">
 103.0444
</td>
<td align="right">
 -.0020
</td>
<td>
2012-05-10 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-10
09:45:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
 103.0444
</td>
<td align="right">
 103.1226
</td>
<td align="right">
  .0008
</td>
<td>
2012-05-10 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-10
09:50:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
 103.0310
</td>
<td align="right">
 103.1306
</td>
<td align="right">
  .0010
</td>
<td>
2012-05-10 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-10
09:55:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
 103.0188
</td>
<td align="right">
 103.1530
</td>
<td align="right">
  .0013
</td>
<td>
2012-05-10 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-10
10:00:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
 102.9911
</td>
<td align="right">
 103.0288
</td>
<td align="right">
  .0004
</td>
<td>
2012-05-10 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-10
10:15:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
 103.0066
</td>
<td align="right">
 103.0151
</td>
<td align="right">
  .0001
</td>
<td>
2012-05-10 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-10
10:25:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
 103.0748
</td>
<td align="right">
 103.1191
</td>
<td align="right">
  .0004
</td>
<td>
2012-05-10 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-10
10:35:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
 103.0452
</td>
<td align="right">
 103.2003
</td>
<td align="right">
  .0015
</td>
<td>
2012-05-10 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-10
10:55:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
 103.1530
</td>
<td align="right">
 103.3348
</td>
<td align="right">
  .0018
</td>
<td>
2012-05-10 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-10
11:15:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
 103.0151
</td>
<td align="right">
 103.3383
</td>
<td align="right">
  .0031
</td>
<td>
2012-05-10 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-10
11:25:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 103.1191
</td>
<td align="right">
 103.3171
</td>
<td align="right">
  .0019
</td>
<td>
2012-05-10 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-10
12:30:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
 103.2401
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-05-10 18:30:00
</td>
</tr>
</table>
<br /><hr />