<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-08-22
06:55:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.1930
</td>
<td align="right">
   1.1920
</td>
<td align="right">
 -.0008
</td>
<td>
2012-08-22 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-08-22
07:35:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.1927
</td>
<td align="right">
   1.1933
</td>
<td align="right">
  .0005
</td>
<td>
2012-08-22 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-08-22
07:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  82.8612
</td>
<td align="right">
  82.9770
</td>
<td align="right">
  .0014
</td>
<td>
2012-08-22 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-08-22
08:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  82.8626
</td>
<td align="right">
  82.9236
</td>
<td align="right">
  .0007
</td>
<td>
2012-08-22 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-08-22
08:45:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  82.9770
</td>
<td align="right">
  82.8044
</td>
<td align="right">
 -.0021
</td>
<td>
2012-08-22 14:45:00
</td>
</tr>
</table>
<br /><hr />