<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-11-11
19:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.0288
</td>
<td align="right">
   1.0273
</td>
<td align="right">
 -.0015
</td>
<td>
2011-11-14 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-11-11
19:45:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.0281
</td>
<td align="right">
   1.0276
</td>
<td align="right">
 -.0004
</td>
<td>
2011-11-14 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-11
18:30:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.0129
</td>
<td align="right">
   1.0113
</td>
<td align="right">
 -.0016
</td>
<td>
2011-11-14 00:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-11
19:00:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.0120
</td>
<td align="right">
   1.0128
</td>
<td align="right">
  .0008
</td>
<td>
2011-11-14 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-11
19:35:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   1.0114
</td>
<td align="right">
   1.0128
</td>
<td align="right">
  .0014
</td>
<td>
2011-11-14 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-11
20:50:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0119
</td>
<td align="right">
   1.0112
</td>
<td align="right">
 -.0007
</td>
<td>
2011-11-14 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-11
21:50:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.0112
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-14 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2011-11-11
21:55:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.0108
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-14 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-11
17:05:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
  79.3848
</td>
<td align="right">
  79.5012
</td>
<td align="right">
  .0015
</td>
<td>
2011-11-13 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-11
17:10:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  79.4548
</td>
<td align="right">
  79.4517
</td>
<td align="right">
  .0000
</td>
<td>
2011-11-13 23:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-11
17:15:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  79.3976
</td>
<td align="right">
  79.4002
</td>
<td align="right">
  .0000
</td>
<td>
2011-11-13 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-11
17:20:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  79.4427
</td>
<td align="right">
  79.4111
</td>
<td align="right">
 -.0004
</td>
<td>
2011-11-13 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-11
17:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  79.4491
</td>
<td align="right">
  79.3905
</td>
<td align="right">
 -.0007
</td>
<td>
2011-11-13 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-11
17:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  79.3989
</td>
<td align="right">
  79.4381
</td>
<td align="right">
  .0005
</td>
<td>
2011-11-13 23:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-11
18:05:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.3379
</td>
<td align="right">
   1.3382
</td>
<td align="right">
  .0002
</td>
<td>
2011-11-14 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-11
18:25:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3382
</td>
<td align="right">
   1.3379
</td>
<td align="right">
 -.0002
</td>
<td>
2011-11-14 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-11
19:10:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3385
</td>
<td align="right">
   1.3383
</td>
<td align="right">
 -.0001
</td>
<td>
2011-11-14 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-11
19:15:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3383
</td>
<td align="right">
   1.3381
</td>
<td align="right">
 -.0002
</td>
<td>
2011-11-14 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-11
21:30:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3374
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-14 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-11
18:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.2415
</td>
<td align="right">
   1.2396
</td>
<td align="right">
 -.0015
</td>
<td>
2011-11-14 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-11-11
18:40:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.2395
</td>
<td align="right">
   1.2406
</td>
<td align="right">
  .0009
</td>
<td>
2011-11-14 00:40:00
</td>
</tr>
</table>
<br /><hr />