<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
09:55:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .9353
</td>
<td align="right">
    .9343
</td>
<td align="right">
 -.0011
</td>
<td>
2013-01-18 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
10:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9352
</td>
<td align="right">
    .9340
</td>
<td align="right">
 -.0013
</td>
<td>
2013-01-18 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
10:05:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .9350
</td>
<td align="right">
    .9339
</td>
<td align="right">
 -.0012
</td>
<td>
2013-01-18 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
10:10:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .9352
</td>
<td align="right">
    .9335
</td>
<td align="right">
 -.0018
</td>
<td>
2013-01-18 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
10:15:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9353
</td>
<td align="right">
    .9335
</td>
<td align="right">
 -.0020
</td>
<td>
2013-01-18 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
10:20:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .9356
</td>
<td align="right">
    .9335
</td>
<td align="right">
 -.0022
</td>
<td>
2013-01-18 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
10:25:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .9353
</td>
<td align="right">
    .9336
</td>
<td align="right">
 -.0018
</td>
<td>
2013-01-18 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
10:40:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9351
</td>
<td align="right">
    .9321
</td>
<td align="right">
 -.0032
</td>
<td>
2013-01-18 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
11:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .9340
</td>
<td align="right">
    .9324
</td>
<td align="right">
 -.0017
</td>
<td>
2013-01-18 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
11:05:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .9339
</td>
<td align="right">
    .9327
</td>
<td align="right">
 -.0013
</td>
<td>
2013-01-18 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
11:10:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .9335
</td>
<td align="right">
    .9330
</td>
<td align="right">
 -.0006
</td>
<td>
2013-01-18 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
11:15:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    .9335
</td>
<td align="right">
    .9330
</td>
<td align="right">
 -.0005
</td>
<td>
2013-01-18 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
11:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9331
</td>
<td align="right">
    .9323
</td>
<td align="right">
 -.0008
</td>
<td>
2013-01-18 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
11:35:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .9332
</td>
<td align="right">
    .9319
</td>
<td align="right">
 -.0014
</td>
<td>
2013-01-18 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
11:40:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .9321
</td>
<td align="right">
    .9323
</td>
<td align="right">
  .0003
</td>
<td>
2013-01-18 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
11:45:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
    .9320
</td>
<td align="right">
    .9321
</td>
<td align="right">
  .0001
</td>
<td>
2013-01-18 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
11:50:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .9322
</td>
<td align="right">
    .9324
</td>
<td align="right">
  .0002
</td>
<td>
2013-01-18 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
11:55:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .9323
</td>
<td align="right">
    .9328
</td>
<td align="right">
  .0005
</td>
<td>
2013-01-18 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
12:05:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9327
</td>
<td align="right">
    .9345
</td>
<td align="right">
  .0019
</td>
<td>
2013-01-18 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
12:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .9330
</td>
<td align="right">
    .9334
</td>
<td align="right">
  .0004
</td>
<td>
2013-01-18 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
12:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9319
</td>
<td align="right">
    .9329
</td>
<td align="right">
  .0011
</td>
<td>
2013-01-18 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
12:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9323
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-18 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
12:45:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .9321
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-18 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
12:50:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .9324
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-18 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
13:20:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .9335
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-18 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-18
13:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9335
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-18 19:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
09:15:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  89.7675
</td>
<td align="right">
  89.8650
</td>
<td align="right">
  .0011
</td>
<td>
2013-01-18 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
09:20:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
  89.7475
</td>
<td align="right">
  89.8200
</td>
<td align="right">
  .0008
</td>
<td>
2013-01-18 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
10:10:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  89.8550
</td>
<td align="right">
  89.8325
</td>
<td align="right">
 -.0003
</td>
<td>
2013-01-18 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
10:30:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  89.7525
</td>
<td align="right">
  89.8025
</td>
<td align="right">
  .0006
</td>
<td>
2013-01-18 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
10:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  89.7888
</td>
<td align="right">
  89.8113
</td>
<td align="right">
  .0003
</td>
<td>
2013-01-18 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
10:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  89.7800
</td>
<td align="right">
  89.7825
</td>
<td align="right">
  .0000
</td>
<td>
2013-01-18 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
10:50:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  89.8050
</td>
<td align="right">
  89.8175
</td>
<td align="right">
  .0001
</td>
<td>
2013-01-18 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
10:55:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  89.8475
</td>
<td align="right">
  89.8175
</td>
<td align="right">
 -.0003
</td>
<td>
2013-01-18 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
11:00:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  89.8275
</td>
<td align="right">
  89.8163
</td>
<td align="right">
 -.0001
</td>
<td>
2013-01-18 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
11:05:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  89.7975
</td>
<td align="right">
  89.8375
</td>
<td align="right">
  .0004
</td>
<td>
2013-01-18 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
11:15:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  89.8175
</td>
<td align="right">
  89.9300
</td>
<td align="right">
  .0013
</td>
<td>
2013-01-18 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
11:25:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  89.7675
</td>
<td align="right">
  89.9325
</td>
<td align="right">
  .0018
</td>
<td>
2013-01-18 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
11:35:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  89.8113
</td>
<td align="right">
  89.9925
</td>
<td align="right">
  .0020
</td>
<td>
2013-01-18 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
11:40:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  89.7825
</td>
<td align="right">
  90.0050
</td>
<td align="right">
  .0025
</td>
<td>
2013-01-18 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
11:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  89.8350
</td>
<td align="right">
  89.9900
</td>
<td align="right">
  .0017
</td>
<td>
2013-01-18 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
12:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  89.9925
</td>
<td align="right">
  89.8700
</td>
<td align="right">
 -.0014
</td>
<td>
2013-01-18 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
12:40:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  90.0050
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-18 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
12:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  89.9900
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-18 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
12:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  89.9350
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-18 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
13:00:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  89.8775
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-18 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
13:05:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  89.9425
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-18 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
13:10:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  89.9750
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-18 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
13:20:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  89.9500
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-18 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
13:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  89.8950
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-18 19:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
13:35:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  89.8700
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-18 19:35:00
</td>
</tr>
</table>
<br /><hr />