<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-06-20
19:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.0212
</td>
<td align="right">
   1.0189
</td>
<td align="right">
 -.0022
</td>
<td>
2012-06-21 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-06-20
19:10:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9482
</td>
<td align="right">
    .9457
</td>
<td align="right">
 -.0027
</td>
<td>
2012-06-21 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-06-20
19:55:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .9471
</td>
<td align="right">
    .9452
</td>
<td align="right">
 -.0020
</td>
<td>
2012-06-21 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-06-20
20:40:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .9458
</td>
<td align="right">
    .9459
</td>
<td align="right">
  .0001
</td>
<td>
2012-06-21 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-06-20
21:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9459
</td>
<td align="right">
    .9464
</td>
<td align="right">
  .0006
</td>
<td>
2012-06-21 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-20
19:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8070
</td>
<td align="right">
    .8083
</td>
<td align="right">
  .0016
</td>
<td>
2012-06-21 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-20
19:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8070
</td>
<td align="right">
    .8084
</td>
<td align="right">
  .0017
</td>
<td>
2012-06-21 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-20
20:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8083
</td>
<td align="right">
    .8086
</td>
<td align="right">
  .0004
</td>
<td>
2012-06-21 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-06-20
19:00:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0200
</td>
<td align="right">
   1.0182
</td>
<td align="right">
 -.0017
</td>
<td>
2012-06-21 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-06-21
00:05:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0201
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-21 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-06-21
00:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .9472
</td>
<td align="right">
    .9483
</td>
<td align="right">
  .0011
</td>
<td>
2012-06-21 06:00:00
</td>
</tr>
</table>
<br /><hr />