<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-10-11
08:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.2880
</td>
<td align="right">
   1.2887
</td>
<td align="right">
  .0005
</td>
<td>
2012-10-11 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-10-11
08:55:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.2882
</td>
<td align="right">
   1.2885
</td>
<td align="right">
  .0002
</td>
<td>
2012-10-11 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-10-11
09:05:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.2880
</td>
<td align="right">
   1.2882
</td>
<td align="right">
  .0002
</td>
<td>
2012-10-11 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-10-11
09:10:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.2890
</td>
<td align="right">
   1.2887
</td>
<td align="right">
 -.0002
</td>
<td>
2012-10-11 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-10-11
09:20:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.2891
</td>
<td align="right">
   1.2885
</td>
<td align="right">
 -.0004
</td>
<td>
2012-10-11 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-10-11
09:25:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.2891
</td>
<td align="right">
   1.2896
</td>
<td align="right">
  .0004
</td>
<td>
2012-10-11 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-10-11
09:30:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.2889
</td>
<td align="right">
   1.2904
</td>
<td align="right">
  .0011
</td>
<td>
2012-10-11 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-10-11
09:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.2888
</td>
<td align="right">
   1.2912
</td>
<td align="right">
  .0019
</td>
<td>
2012-10-11 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-10-11
10:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.2883
</td>
<td align="right">
   1.2912
</td>
<td align="right">
  .0023
</td>
<td>
2012-10-11 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-10-11
10:45:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.2909
</td>
<td align="right">
   1.2928
</td>
<td align="right">
  .0014
</td>
<td>
2012-10-11 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-10-11
12:00:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    .9350
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-10-11 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-10-11
12:05:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9353
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-10-11 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-11
06:30:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  80.1210
</td>
<td align="right">
  80.2822
</td>
<td align="right">
  .0020
</td>
<td>
2012-10-11 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-11
06:35:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  80.1088
</td>
<td align="right">
  80.2813
</td>
<td align="right">
  .0022
</td>
<td>
2012-10-11 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-11
06:40:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  80.0765
</td>
<td align="right">
  80.2363
</td>
<td align="right">
  .0020
</td>
<td>
2012-10-11 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-11
07:05:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  80.1257
</td>
<td align="right">
  80.2750
</td>
<td align="right">
  .0019
</td>
<td>
2012-10-11 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-11
11:05:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  80.5446
</td>
<td align="right">
  80.4952
</td>
<td align="right">
 -.0006
</td>
<td>
2012-10-11 17:05:00
</td>
</tr>
</table>
<br /><hr />