<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-10
19:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  93.4430
</td>
<td align="right">
  93.5066
</td>
<td align="right">
  .0007
</td>
<td>
2013-01-11 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-10
19:45:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  93.4444
</td>
<td align="right">
  93.5578
</td>
<td align="right">
  .0012
</td>
<td>
2013-01-11 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-10
19:55:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  93.4254
</td>
<td align="right">
  93.5397
</td>
<td align="right">
  .0012
</td>
<td>
2013-01-11 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-10
20:35:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  93.4987
</td>
<td align="right">
  94.0077
</td>
<td align="right">
  .0054
</td>
<td>
2013-01-11 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-10
22:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  94.2292
</td>
<td align="right">
  94.1870
</td>
<td align="right">
 -.0004
</td>
<td>
2013-01-11 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-11
01:20:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  94.1757
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-11 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-10
23:55:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0579
</td>
<td align="right">
   1.0584
</td>
<td align="right">
  .0005
</td>
<td>
2013-01-11 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-11
00:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0580
</td>
<td align="right">
   1.0582
</td>
<td align="right">
  .0002
</td>
<td>
2013-01-11 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-11
00:05:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
   1.0581
</td>
<td align="right">
   1.0582
</td>
<td align="right">
  .0001
</td>
<td>
2013-01-11 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-11
00:10:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0582
</td>
<td align="right">
   1.0584
</td>
<td align="right">
  .0002
</td>
<td>
2013-01-11 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-11
00:15:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0585
</td>
<td align="right">
   1.0585
</td>
<td align="right">
  .0000
</td>
<td>
2013-01-11 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-11
00:30:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.0587
</td>
<td align="right">
   1.0588
</td>
<td align="right">
  .0001
</td>
<td>
2013-01-11 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-11
00:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0585
</td>
<td align="right">
   1.0583
</td>
<td align="right">
 -.0002
</td>
<td>
2013-01-11 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-11
00:50:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.0582
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-11 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-11
01:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0582
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-11 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-11
01:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0588
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-11 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-10
20:15:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .9843
</td>
<td align="right">
    .9841
</td>
<td align="right">
 -.0002
</td>
<td>
2013-01-11 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-10
20:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9843
</td>
<td align="right">
    .9840
</td>
<td align="right">
 -.0003
</td>
<td>
2013-01-11 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-10
20:25:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .9843
</td>
<td align="right">
    .9840
</td>
<td align="right">
 -.0003
</td>
<td>
2013-01-11 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-10
21:35:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .9839
</td>
<td align="right">
    .9832
</td>
<td align="right">
 -.0007
</td>
<td>
2013-01-11 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-10
21:40:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .9839
</td>
<td align="right">
    .9833
</td>
<td align="right">
 -.0006
</td>
<td>
2013-01-11 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-10
22:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9837
</td>
<td align="right">
    .9833
</td>
<td align="right">
 -.0003
</td>
<td>
2013-01-11 04:25:00
</td>
</tr>
</table>
<br /><hr />