<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-26
12:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  82.6155
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-10-26 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-26
12:20:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
  82.5897
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-10-26 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-10-26
09:40:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8026
</td>
<td align="right">
    .8003
</td>
<td align="right">
 -.0029
</td>
<td>
2012-10-26 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-10-26
10:10:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .8014
</td>
<td align="right">
    .8007
</td>
<td align="right">
 -.0009
</td>
<td>
2012-10-26 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-10-26
10:15:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8013
</td>
<td align="right">
    .8007
</td>
<td align="right">
 -.0007
</td>
<td>
2012-10-26 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-10-26
10:20:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .8013
</td>
<td align="right">
    .8008
</td>
<td align="right">
 -.0006
</td>
<td>
2012-10-26 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-10-26
10:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.2496
</td>
<td align="right">
   1.2484
</td>
<td align="right">
 -.0010
</td>
<td>
2012-10-26 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-10-26
11:15:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.2486
</td>
<td align="right">
   1.2484
</td>
<td align="right">
 -.0001
</td>
<td>
2012-10-26 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-10-26
11:20:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.2486
</td>
<td align="right">
   1.2485
</td>
<td align="right">
 -.0001
</td>
<td>
2012-10-26 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-10-26
11:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.2485
</td>
<td align="right">
   1.2483
</td>
<td align="right">
 -.0002
</td>
<td>
2012-10-26 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-10-26
11:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.2479
</td>
<td align="right">
   1.2472
</td>
<td align="right">
 -.0006
</td>
<td>
2012-10-26 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-10-26
11:40:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.2474
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-10-26 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-10-26
11:55:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.2474
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-10-26 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-10-26
12:00:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.2476
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-10-26 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-10-26
12:05:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.2481
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-10-26 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-10-26
12:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9968
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-10-26 18:10:00
</td>
</tr>
</table>
<br /><hr />