<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-26
09:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  79.5163
</td>
<td align="right">
  79.7882
</td>
<td align="right">
  .0034
</td>
<td>
2012-06-26 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-26
09:50:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  79.7285
</td>
<td align="right">
  79.7522
</td>
<td align="right">
  .0003
</td>
<td>
2012-06-26 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-26
11:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  79.6785
</td>
<td align="right">
  79.5981
</td>
<td align="right">
 -.0010
</td>
<td>
2012-06-26 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-26
11:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  79.6533
</td>
<td align="right">
  79.5587
</td>
<td align="right">
 -.0012
</td>
<td>
2012-06-26 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-06-26
09:30:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  99.0479
</td>
<td align="right">
  99.0813
</td>
<td align="right">
  .0003
</td>
<td>
2012-06-26 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-06-26
11:35:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  99.0594
</td>
<td align="right">
  98.8902
</td>
<td align="right">
 -.0017
</td>
<td>
2012-06-26 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-06-26
11:40:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  99.0458
</td>
<td align="right">
  98.8826
</td>
<td align="right">
 -.0016
</td>
<td>
2012-06-26 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-06-26
11:55:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  99.0361
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-26 17:55:00
</td>
</tr>
</table>
<br /><hr />