<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-15
20:15:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 118.2505
</td>
<td align="right">
 118.1219
</td>
<td align="right">
 -.0011
</td>
<td>
2013-01-16 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-15
20:20:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
 118.2237
</td>
<td align="right">
 118.1296
</td>
<td align="right">
 -.0008
</td>
<td>
2013-01-16 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-15
20:30:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
 118.2760
</td>
<td align="right">
 118.1684
</td>
<td align="right">
 -.0009
</td>
<td>
2013-01-16 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-15
20:35:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 118.2803
</td>
<td align="right">
 118.1384
</td>
<td align="right">
 -.0012
</td>
<td>
2013-01-16 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-15
20:40:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
 118.3226
</td>
<td align="right">
 118.1498
</td>
<td align="right">
 -.0015
</td>
<td>
2013-01-16 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-15
20:45:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
 118.2393
</td>
<td align="right">
 118.1429
</td>
<td align="right">
 -.0008
</td>
<td>
2013-01-16 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-15
20:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 118.1917
</td>
<td align="right">
 118.0974
</td>
<td align="right">
 -.0008
</td>
<td>
2013-01-16 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-15
20:55:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
 118.2916
</td>
<td align="right">
 118.1418
</td>
<td align="right">
 -.0013
</td>
<td>
2013-01-16 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-15
22:30:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 118.1850
</td>
<td align="right">
 118.0751
</td>
<td align="right">
 -.0009
</td>
<td>
2013-01-16 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-15
22:35:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 118.0685
</td>
<td align="right">
 118.0386
</td>
<td align="right">
 -.0003
</td>
<td>
2013-01-16 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-15
22:40:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
 118.0521
</td>
<td align="right">
 118.1327
</td>
<td align="right">
  .0007
</td>
<td>
2013-01-16 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-15
22:45:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
 118.0663
</td>
<td align="right">
 118.1559
</td>
<td align="right">
  .0008
</td>
<td>
2013-01-16 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-15
23:05:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
 118.1461
</td>
<td align="right">
 118.0519
</td>
<td align="right">
 -.0008
</td>
<td>
2013-01-16 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
20:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  88.7953
</td>
<td align="right">
  88.7625
</td>
<td align="right">
 -.0004
</td>
<td>
2013-01-16 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
20:30:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  88.8475
</td>
<td align="right">
  88.7950
</td>
<td align="right">
 -.0006
</td>
<td>
2013-01-16 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
20:35:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
  88.8766
</td>
<td align="right">
  88.7825
</td>
<td align="right">
 -.0011
</td>
<td>
2013-01-16 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
20:50:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
  88.8225
</td>
<td align="right">
  88.7600
</td>
<td align="right">
 -.0007
</td>
<td>
2013-01-16 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
20:55:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  88.8525
</td>
<td align="right">
  88.7917
</td>
<td align="right">
 -.0007
</td>
<td>
2013-01-16 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
21:10:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
  88.7375
</td>
<td align="right">
  88.8550
</td>
<td align="right">
  .0013
</td>
<td>
2013-01-16 03:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
21:15:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  88.7691
</td>
<td align="right">
  88.8425
</td>
<td align="right">
  .0008
</td>
<td>
2013-01-16 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
21:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  88.7917
</td>
<td align="right">
  88.7350
</td>
<td align="right">
 -.0006
</td>
<td>
2013-01-16 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
22:15:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  88.8175
</td>
<td align="right">
  88.7825
</td>
<td align="right">
 -.0004
</td>
<td>
2013-01-16 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
22:20:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  88.8297
</td>
<td align="right">
  88.8352
</td>
<td align="right">
  .0001
</td>
<td>
2013-01-16 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
22:25:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  88.8550
</td>
<td align="right">
  88.8000
</td>
<td align="right">
 -.0006
</td>
<td>
2013-01-16 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
22:30:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  88.8425
</td>
<td align="right">
  88.8050
</td>
<td align="right">
 -.0004
</td>
<td>
2013-01-16 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
22:40:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  88.7848
</td>
<td align="right">
  88.8150
</td>
<td align="right">
  .0003
</td>
<td>
2013-01-16 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
22:50:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
  88.8200
</td>
<td align="right">
  88.7825
</td>
<td align="right">
 -.0004
</td>
<td>
2013-01-16 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
22:55:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
  88.8250
</td>
<td align="right">
  88.7600
</td>
<td align="right">
 -.0007
</td>
<td>
2013-01-16 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
23:00:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
  88.8286
</td>
<td align="right">
  88.7622
</td>
<td align="right">
 -.0007
</td>
<td>
2013-01-16 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
23:05:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
  88.8400
</td>
<td align="right">
  88.6625
</td>
<td align="right">
 -.0020
</td>
<td>
2013-01-16 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
23:10:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  88.7350
</td>
<td align="right">
  88.7100
</td>
<td align="right">
 -.0003
</td>
<td>
2013-01-16 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
23:15:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  88.7825
</td>
<td align="right">
  88.7275
</td>
<td align="right">
 -.0006
</td>
<td>
2013-01-16 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
23:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  88.8352
</td>
<td align="right">
  88.7280
</td>
<td align="right">
 -.0012
</td>
<td>
2013-01-16 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
23:25:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  88.8000
</td>
<td align="right">
  88.6250
</td>
<td align="right">
 -.0020
</td>
<td>
2013-01-16 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
23:30:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  88.8050
</td>
<td align="right">
  88.6750
</td>
<td align="right">
 -.0015
</td>
<td>
2013-01-16 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
23:35:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  88.7575
</td>
<td align="right">
  88.6775
</td>
<td align="right">
 -.0009
</td>
<td>
2013-01-16 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
23:40:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  88.8150
</td>
<td align="right">
  88.6430
</td>
<td align="right">
 -.0019
</td>
<td>
2013-01-16 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
23:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  88.8056
</td>
<td align="right">
  88.5550
</td>
<td align="right">
 -.0028
</td>
<td>
2013-01-16 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
23:50:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  88.7825
</td>
<td align="right">
  88.5425
</td>
<td align="right">
 -.0027
</td>
<td>
2013-01-16 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-15
23:55:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
  88.7600
</td>
<td align="right">
  88.5025
</td>
<td align="right">
 -.0029
</td>
<td>
2013-01-16 05:55:00
</td>
</tr>
</table>
<br /><hr />