<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-26
09:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8098
</td>
<td align="right">
    .8094
</td>
<td align="right">
 -.0005
</td>
<td>
2012-11-26 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-26
12:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8099
</td>
<td align="right">
    .8098
</td>
<td align="right">
 -.0001
</td>
<td>
2012-11-26 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-11-26
07:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  82.1800
</td>
<td align="right">
  81.9500
</td>
<td align="right">
 -.0028
</td>
<td>
2012-11-26 13:55:00
</td>
</tr>
</table>
<br /><hr />