<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-01
01:05:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8038
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-11-01 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-10-31
19:45:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 103.4809
</td>
<td align="right">
 103.4407
</td>
<td align="right">
 -.0004
</td>
<td>
2012-11-01 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-10-31
19:50:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 103.4769
</td>
<td align="right">
 103.3966
</td>
<td align="right">
 -.0008
</td>
<td>
2012-11-01 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-10-31
20:00:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 103.4210
</td>
<td align="right">
 103.3866
</td>
<td align="right">
 -.0003
</td>
<td>
2012-11-01 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-10-31
20:05:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 103.4258
</td>
<td align="right">
 103.3834
</td>
<td align="right">
 -.0004
</td>
<td>
2012-11-01 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-10-31
20:10:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 103.4375
</td>
<td align="right">
 103.3911
</td>
<td align="right">
 -.0004
</td>
<td>
2012-11-01 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-10-31
20:25:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 103.4400
</td>
<td align="right">
 103.3886
</td>
<td align="right">
 -.0005
</td>
<td>
2012-11-01 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-10-31
21:20:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 103.3834
</td>
<td align="right">
 103.3819
</td>
<td align="right">
  .0000
</td>
<td>
2012-11-01 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-10-31
21:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 103.3911
</td>
<td align="right">
 103.3799
</td>
<td align="right">
 -.0001
</td>
<td>
2012-11-01 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-10-31
21:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 103.3847
</td>
<td align="right">
 103.3869
</td>
<td align="right">
  .0000
</td>
<td>
2012-11-01 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-10-31
23:10:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 103.4415
</td>
<td align="right">
 103.5470
</td>
<td align="right">
  .0010
</td>
<td>
2012-11-01 05:10:00
</td>
</tr>
</table>
<br /><hr />