<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-07-10
10:50:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  81.3483
</td>
<td align="right">
  81.2487
</td>
<td align="right">
 -.0012
</td>
<td>
2012-07-10 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-07-10
11:00:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  81.3288
</td>
<td align="right">
  81.2456
</td>
<td align="right">
 -.0010
</td>
<td>
2012-07-10 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-07-10
11:05:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  81.3273
</td>
<td align="right">
  81.2405
</td>
<td align="right">
 -.0011
</td>
<td>
2012-07-10 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-07-10
11:10:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  81.3320
</td>
<td align="right">
  81.2381
</td>
<td align="right">
 -.0012
</td>
<td>
2012-07-10 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-07-10
11:15:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  81.3194
</td>
<td align="right">
  81.2249
</td>
<td align="right">
 -.0012
</td>
<td>
2012-07-10 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-07-10
11:40:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  81.2487
</td>
<td align="right">
  81.1340
</td>
<td align="right">
 -.0014
</td>
<td>
2012-07-10 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-07-10
11:45:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  81.2893
</td>
<td align="right">
  81.1484
</td>
<td align="right">
 -.0017
</td>
<td>
2012-07-10 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-07-10
11:50:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  81.2487
</td>
<td align="right">
  81.1799
</td>
<td align="right">
 -.0008
</td>
<td>
2012-07-10 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-07-10
09:00:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.0228
</td>
<td align="right">
   1.0234
</td>
<td align="right">
  .0006
</td>
<td>
2012-07-10 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-07-10
09:05:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.0229
</td>
<td align="right">
   1.0233
</td>
<td align="right">
  .0004
</td>
<td>
2012-07-10 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-07-10
09:15:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.0225
</td>
<td align="right">
   1.0234
</td>
<td align="right">
  .0009
</td>
<td>
2012-07-10 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-07-10
11:00:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.0233
</td>
<td align="right">
   1.0226
</td>
<td align="right">
 -.0007
</td>
<td>
2012-07-10 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-07-10
08:15:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.0205
</td>
<td align="right">
   1.0182
</td>
<td align="right">
 -.0023
</td>
<td>
2012-07-10 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-07-10
07:55:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0192
</td>
<td align="right">
   1.0225
</td>
<td align="right">
  .0033
</td>
<td>
2012-07-10 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-07-10
08:00:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.0189
</td>
<td align="right">
   1.0228
</td>
<td align="right">
  .0039
</td>
<td>
2012-07-10 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-07-10
07:00:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0201
</td>
<td align="right">
   1.0206
</td>
<td align="right">
  .0005
</td>
<td>
2012-07-10 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-07-10
09:00:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.0182
</td>
<td align="right">
   1.0181
</td>
<td align="right">
 -.0001
</td>
<td>
2012-07-10 15:00:00
</td>
</tr>
</table>
<br /><hr />