<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-02-13
18:05:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3209
</td>
<td align="right">
   1.3207
</td>
<td align="right">
 -.0002
</td>
<td>
2012-02-14 00:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-02-13
18:10:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3211
</td>
<td align="right">
   1.3205
</td>
<td align="right">
 -.0004
</td>
<td>
2012-02-14 00:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-02-13
22:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3173
</td>
<td align="right">
   1.3157
</td>
<td align="right">
 -.0012
</td>
<td>
2012-02-14 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2012-02-13
20:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.5770
</td>
<td align="right">
   1.5769
</td>
<td align="right">
 -.0001
</td>
<td>
2012-02-14 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2012-02-13
23:10:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.5736
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-02-14 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2012-02-13
23:15:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.5726
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-02-14 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2012-02-13
23:25:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.5726
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-02-14 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2012-02-13
23:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.5729
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-02-14 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2012-02-13
23:35:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.5722
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-02-14 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2012-02-13
23:40:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.5725
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-02-14 05:40:00
</td>
</tr>
</table>
<br /><hr />