<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-20
05:20:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.2459
</td>
<td align="right">
   1.2453
</td>
<td align="right">
 -.0005
</td>
<td>
2012-01-20 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-20
05:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.2456
</td>
<td align="right">
   1.2448
</td>
<td align="right">
 -.0007
</td>
<td>
2012-01-20 11:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-20
05:45:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.2459
</td>
<td align="right">
   1.2444
</td>
<td align="right">
 -.0013
</td>
<td>
2012-01-20 11:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-20
05:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.2459
</td>
<td align="right">
   1.2442
</td>
<td align="right">
 -.0014
</td>
<td>
2012-01-20 11:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-20
05:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.2454
</td>
<td align="right">
   1.2441
</td>
<td align="right">
 -.0010
</td>
<td>
2012-01-20 11:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-20
06:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.2448
</td>
<td align="right">
   1.2453
</td>
<td align="right">
  .0004
</td>
<td>
2012-01-20 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-20
07:10:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.2443
</td>
<td align="right">
   1.2437
</td>
<td align="right">
 -.0005
</td>
<td>
2012-01-20 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-20
07:30:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.2450
</td>
<td align="right">
   1.2434
</td>
<td align="right">
 -.0013
</td>
<td>
2012-01-20 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-20
07:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.2450
</td>
<td align="right">
   1.2430
</td>
<td align="right">
 -.0016
</td>
<td>
2012-01-20 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-20
07:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.2443
</td>
<td align="right">
   1.2438
</td>
<td align="right">
 -.0004
</td>
<td>
2012-01-20 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-01-20
05:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9324
</td>
<td align="right">
    .9315
</td>
<td align="right">
 -.0010
</td>
<td>
2012-01-20 11:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-01-20
07:25:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9321
</td>
<td align="right">
    .9331
</td>
<td align="right">
  .0010
</td>
<td>
2012-01-20 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-01-20
08:35:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9342
</td>
<td align="right">
    .9361
</td>
<td align="right">
  .0021
</td>
<td>
2012-01-20 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-01-20
08:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9345
</td>
<td align="right">
    .9359
</td>
<td align="right">
  .0014
</td>
<td>
2012-01-20 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-01-20
09:05:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .9346
</td>
<td align="right">
    .9360
</td>
<td align="right">
  .0016
</td>
<td>
2012-01-20 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-01-20
09:10:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .9341
</td>
<td align="right">
    .9353
</td>
<td align="right">
  .0013
</td>
<td>
2012-01-20 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-01-20
09:30:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .9353
</td>
<td align="right">
    .9349
</td>
<td align="right">
 -.0005
</td>
<td>
2012-01-20 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-01-20
10:30:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .9349
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-20 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-01-20
10:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9344
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-20 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-01-20
10:45:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .9344
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-20 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-20
09:10:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  77.2225
</td>
<td align="right">
  77.1825
</td>
<td align="right">
 -.0005
</td>
<td>
2012-01-20 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-20
09:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  77.2325
</td>
<td align="right">
  77.1900
</td>
<td align="right">
 -.0006
</td>
<td>
2012-01-20 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-20
09:40:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  77.2100
</td>
<td align="right">
  77.2175
</td>
<td align="right">
  .0001
</td>
<td>
2012-01-20 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-01-20
10:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  77.1825
</td>
<td align="right">
  77.1800
</td>
<td align="right">
  .0000
</td>
<td>
2012-01-20 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-20
07:35:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0424
</td>
<td align="right">
   1.0409
</td>
<td align="right">
 -.0014
</td>
<td>
2012-01-20 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-20
07:40:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0423
</td>
<td align="right">
   1.0405
</td>
<td align="right">
 -.0017
</td>
<td>
2012-01-20 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-20
07:45:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0423
</td>
<td align="right">
   1.0401
</td>
<td align="right">
 -.0021
</td>
<td>
2012-01-20 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-20
07:50:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.0426
</td>
<td align="right">
   1.0398
</td>
<td align="right">
 -.0026
</td>
<td>
2012-01-20 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-20
07:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0423
</td>
<td align="right">
   1.0394
</td>
<td align="right">
 -.0028
</td>
<td>
2012-01-20 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-20
08:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0425
</td>
<td align="right">
   1.0390
</td>
<td align="right">
 -.0034
</td>
<td>
2012-01-20 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-20
08:05:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0419
</td>
<td align="right">
   1.0396
</td>
<td align="right">
 -.0022
</td>
<td>
2012-01-20 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-20
08:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0394
</td>
<td align="right">
   1.0389
</td>
<td align="right">
 -.0004
</td>
<td>
2012-01-20 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-20
09:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0392
</td>
<td align="right">
   1.0410
</td>
<td align="right">
  .0017
</td>
<td>
2012-01-20 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-20
09:35:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.0386
</td>
<td align="right">
   1.0407
</td>
<td align="right">
  .0021
</td>
<td>
2012-01-20 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-20
09:40:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.0392
</td>
<td align="right">
   1.0412
</td>
<td align="right">
  .0019
</td>
<td>
2012-01-20 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-20
09:45:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.0391
</td>
<td align="right">
   1.0412
</td>
<td align="right">
  .0019
</td>
<td>
2012-01-20 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-20
09:50:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.0394
</td>
<td align="right">
   1.0408
</td>
<td align="right">
  .0013
</td>
<td>
2012-01-20 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-20
09:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.0389
</td>
<td align="right">
   1.0401
</td>
<td align="right">
  .0011
</td>
<td>
2012-01-20 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-20
10:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.0391
</td>
<td align="right">
   1.0410
</td>
<td align="right">
  .0018
</td>
<td>
2012-01-20 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-20
10:05:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0392
</td>
<td align="right">
   1.0410
</td>
<td align="right">
  .0017
</td>
<td>
2012-01-20 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-20
10:15:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0395
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-20 16:15:00
</td>
</tr>
</table>
<br /><hr />