<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-21
09:00:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
   1.0713
</td>
<td align="right">
   1.0677
</td>
<td align="right">
 -.0033
</td>
<td>
2012-02-21 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-21
09:05:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
   1.0716
</td>
<td align="right">
   1.0671
</td>
<td align="right">
 -.0042
</td>
<td>
2012-02-21 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-21
09:10:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.0713
</td>
<td align="right">
   1.0675
</td>
<td align="right">
 -.0036
</td>
<td>
2012-02-21 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-21
09:15:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.0711
</td>
<td align="right">
   1.0666
</td>
<td align="right">
 -.0042
</td>
<td>
2012-02-21 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-02-21
09:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3258
</td>
<td align="right">
   1.3236
</td>
<td align="right">
 -.0017
</td>
<td>
2012-02-21 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-02-21
10:00:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.3255
</td>
<td align="right">
   1.3234
</td>
<td align="right">
 -.0016
</td>
<td>
2012-02-21 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-21
09:20:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .9105
</td>
<td align="right">
    .9125
</td>
<td align="right">
  .0022
</td>
<td>
2012-02-21 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-21
10:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9126
</td>
<td align="right">
    .9141
</td>
<td align="right">
  .0016
</td>
<td>
2012-02-21 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-21
11:40:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .9141
</td>
<td align="right">
    .9127
</td>
<td align="right">
 -.0016
</td>
<td>
2012-02-21 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-21
11:45:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .9143
</td>
<td align="right">
    .9129
</td>
<td align="right">
 -.0014
</td>
<td>
2012-02-21 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-21
11:55:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    .9141
</td>
<td align="right">
    .9136
</td>
<td align="right">
 -.0005
</td>
<td>
2012-02-21 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-21
12:00:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9136
</td>
<td align="right">
    .9139
</td>
<td align="right">
  .0004
</td>
<td>
2012-02-21 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-21
12:10:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9135
</td>
<td align="right">
    .9135
</td>
<td align="right">
 -.0001
</td>
<td>
2012-02-21 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-21
12:20:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .9134
</td>
<td align="right">
    .9127
</td>
<td align="right">
 -.0007
</td>
<td>
2012-02-21 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-21
12:25:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .9135
</td>
<td align="right">
    .9130
</td>
<td align="right">
 -.0005
</td>
<td>
2012-02-21 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-21
12:30:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9130
</td>
<td align="right">
    .9129
</td>
<td align="right">
 -.0002
</td>
<td>
2012-02-21 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-21
12:35:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    .9130
</td>
<td align="right">
    .9134
</td>
<td align="right">
  .0005
</td>
<td>
2012-02-21 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-21
13:00:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .9139
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-02-21 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-21
13:05:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .9140
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-02-21 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-21
13:10:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9135
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-02-21 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-21
10:30:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.0681
</td>
<td align="right">
   1.0660
</td>
<td align="right">
 -.0019
</td>
<td>
2012-02-21 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-21
12:30:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.0677
</td>
<td align="right">
   1.0679
</td>
<td align="right">
  .0002
</td>
<td>
2012-02-21 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-21
12:45:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0680
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-02-21 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-21
13:20:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.0683
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-02-21 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-21
13:30:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.0679
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-02-21 19:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-21
13:35:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0677
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-02-21 19:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-02-21
10:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3231
</td>
<td align="right">
   1.3223
</td>
<td align="right">
 -.0006
</td>
<td>
2012-02-21 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-02-21
10:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.3236
</td>
<td align="right">
   1.3202
</td>
<td align="right">
 -.0026
</td>
<td>
2012-02-21 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-02-21
11:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.3223
</td>
<td align="right">
   1.3220
</td>
<td align="right">
 -.0003
</td>
<td>
2012-02-21 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-02-21
12:30:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.3224
</td>
<td align="right">
   1.3225
</td>
<td align="right">
  .0001
</td>
<td>
2012-02-21 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-02-21
12:35:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.3225
</td>
<td align="right">
   1.3219
</td>
<td align="right">
 -.0004
</td>
<td>
2012-02-21 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-02-21
12:50:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.3217
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-02-21 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-02-21
13:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.3215
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-02-21 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-21
08:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9112
</td>
<td align="right">
    .9105
</td>
<td align="right">
 -.0008
</td>
<td>
2012-02-21 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-21
08:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9111
</td>
<td align="right">
    .9110
</td>
<td align="right">
 -.0002
</td>
<td>
2012-02-21 14:30:00
</td>
</tr>
</table>
<br /><hr />