<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-17
18:30:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .9933
</td>
<td align="right">
    .9914
</td>
<td align="right">
 -.0020
</td>
<td>
2012-05-18 00:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-17
18:35:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9932
</td>
<td align="right">
    .9907
</td>
<td align="right">
 -.0025
</td>
<td>
2012-05-18 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-17
18:40:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .9931
</td>
<td align="right">
    .9899
</td>
<td align="right">
 -.0032
</td>
<td>
2012-05-18 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-17
20:20:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .9888
</td>
<td align="right">
    .9890
</td>
<td align="right">
  .0001
</td>
<td>
2012-05-18 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-17
20:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9888
</td>
<td align="right">
    .9888
</td>
<td align="right">
  .0000
</td>
<td>
2012-05-18 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-05-17
19:55:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8038
</td>
<td align="right">
    .8039
</td>
<td align="right">
  .0001
</td>
<td>
2012-05-18 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-17
21:55:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .9890
</td>
<td align="right">
    .9888
</td>
<td align="right">
 -.0002
</td>
<td>
2012-05-18 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-05-17
20:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2694
</td>
<td align="right">
   1.2695
</td>
<td align="right">
  .0001
</td>
<td>
2012-05-18 02:10:00
</td>
</tr>
</table>
<br /><hr />