<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-03-09
00:40:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.3263
</td>
<td align="right">
   1.3262
</td>
<td align="right">
 -.0001
</td>
<td>
2012-03-09 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-03-08
21:40:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.0645
</td>
<td align="right">
   1.0646
</td>
<td align="right">
  .0000
</td>
<td>
2012-03-09 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-03-08
22:15:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0647
</td>
<td align="right">
   1.0643
</td>
<td align="right">
 -.0004
</td>
<td>
2012-03-09 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-03-08
22:20:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0647
</td>
<td align="right">
   1.0642
</td>
<td align="right">
 -.0004
</td>
<td>
2012-03-09 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-03-08
22:30:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.0643
</td>
<td align="right">
   1.0643
</td>
<td align="right">
  .0000
</td>
<td>
2012-03-09 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-03-08
22:55:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0646
</td>
<td align="right">
   1.0644
</td>
<td align="right">
 -.0001
</td>
<td>
2012-03-09 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-03-09
00:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.0622
</td>
<td align="right">
   1.0625
</td>
<td align="right">
  .0003
</td>
<td>
2012-03-09 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-03-09
01:05:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.0633
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-03-09 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-03-09
01:10:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.0630
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-03-09 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-03-09
01:15:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.0634
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-03-09 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-03-09
01:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0635
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-03-09 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-03-09
01:35:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.0634
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-03-09 07:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-03-09
01:40:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0630
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-03-09 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
19:45:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.2456
</td>
<td align="right">
   1.2464
</td>
<td align="right">
  .0007
</td>
<td>
2012-03-09 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
19:50:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.2460
</td>
<td align="right">
   1.2467
</td>
<td align="right">
  .0006
</td>
<td>
2012-03-09 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
19:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.2455
</td>
<td align="right">
   1.2467
</td>
<td align="right">
  .0010
</td>
<td>
2012-03-09 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
20:00:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.2452
</td>
<td align="right">
   1.2468
</td>
<td align="right">
  .0013
</td>
<td>
2012-03-09 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
20:05:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
   1.2459
</td>
<td align="right">
   1.2468
</td>
<td align="right">
  .0007
</td>
<td>
2012-03-09 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
20:10:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.2456
</td>
<td align="right">
   1.2469
</td>
<td align="right">
  .0010
</td>
<td>
2012-03-09 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
20:15:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.2459
</td>
<td align="right">
   1.2468
</td>
<td align="right">
  .0007
</td>
<td>
2012-03-09 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
20:20:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.2459
</td>
<td align="right">
   1.2465
</td>
<td align="right">
  .0005
</td>
<td>
2012-03-09 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
20:40:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.2464
</td>
<td align="right">
   1.2471
</td>
<td align="right">
  .0006
</td>
<td>
2012-03-09 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
20:45:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.2464
</td>
<td align="right">
   1.2476
</td>
<td align="right">
  .0009
</td>
<td>
2012-03-09 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
20:50:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.2467
</td>
<td align="right">
   1.2470
</td>
<td align="right">
  .0002
</td>
<td>
2012-03-09 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
20:55:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.2467
</td>
<td align="right">
   1.2470
</td>
<td align="right">
  .0003
</td>
<td>
2012-03-09 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
21:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.2468
</td>
<td align="right">
   1.2466
</td>
<td align="right">
 -.0001
</td>
<td>
2012-03-09 03:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
21:05:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.2468
</td>
<td align="right">
   1.2467
</td>
<td align="right">
 -.0001
</td>
<td>
2012-03-09 03:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
21:10:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.2469
</td>
<td align="right">
   1.2466
</td>
<td align="right">
 -.0002
</td>
<td>
2012-03-09 03:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
21:15:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.2468
</td>
<td align="right">
   1.2468
</td>
<td align="right">
  .0000
</td>
<td>
2012-03-09 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
21:20:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.2465
</td>
<td align="right">
   1.2469
</td>
<td align="right">
  .0004
</td>
<td>
2012-03-09 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
21:25:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.2471
</td>
<td align="right">
   1.2467
</td>
<td align="right">
 -.0003
</td>
<td>
2012-03-09 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
21:30:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.2470
</td>
<td align="right">
   1.2471
</td>
<td align="right">
  .0001
</td>
<td>
2012-03-09 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
21:35:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.2472
</td>
<td align="right">
   1.2470
</td>
<td align="right">
 -.0002
</td>
<td>
2012-03-09 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
21:45:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.2476
</td>
<td align="right">
   1.2469
</td>
<td align="right">
 -.0006
</td>
<td>
2012-03-09 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
21:50:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.2470
</td>
<td align="right">
   1.2469
</td>
<td align="right">
 -.0001
</td>
<td>
2012-03-09 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
21:55:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.2470
</td>
<td align="right">
   1.2470
</td>
<td align="right">
 -.0001
</td>
<td>
2012-03-09 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
22:15:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.2466
</td>
<td align="right">
   1.2470
</td>
<td align="right">
  .0003
</td>
<td>
2012-03-09 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
22:20:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.2467
</td>
<td align="right">
   1.2471
</td>
<td align="right">
  .0003
</td>
<td>
2012-03-09 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
22:30:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.2468
</td>
<td align="right">
   1.2468
</td>
<td align="right">
  .0000
</td>
<td>
2012-03-09 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
22:35:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.2469
</td>
<td align="right">
   1.2468
</td>
<td align="right">
 -.0001
</td>
<td>
2012-03-09 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
22:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.2471
</td>
<td align="right">
   1.2470
</td>
<td align="right">
 -.0001
</td>
<td>
2012-03-09 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
23:05:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.2469
</td>
<td align="right">
   1.2461
</td>
<td align="right">
 -.0006
</td>
<td>
2012-03-09 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
23:15:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.2470
</td>
<td align="right">
   1.2467
</td>
<td align="right">
 -.0003
</td>
<td>
2012-03-09 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
23:25:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.2471
</td>
<td align="right">
   1.2467
</td>
<td align="right">
 -.0003
</td>
<td>
2012-03-09 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
23:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.2468
</td>
<td align="right">
   1.2484
</td>
<td align="right">
  .0013
</td>
<td>
2012-03-09 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
23:35:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.2468
</td>
<td align="right">
   1.2486
</td>
<td align="right">
  .0014
</td>
<td>
2012-03-09 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
23:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.2467
</td>
<td align="right">
   1.2488
</td>
<td align="right">
  .0017
</td>
<td>
2012-03-09 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
23:50:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.2469
</td>
<td align="right">
   1.2490
</td>
<td align="right">
  .0017
</td>
<td>
2012-03-09 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-09
00:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.2461
</td>
<td align="right">
   1.2481
</td>
<td align="right">
  .0016
</td>
<td>
2012-03-09 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-09
00:15:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.2467
</td>
<td align="right">
   1.2473
</td>
<td align="right">
  .0006
</td>
<td>
2012-03-09 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-03-09
00:05:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9089
</td>
<td align="right">
    .9087
</td>
<td align="right">
 -.0002
</td>
<td>
2012-03-09 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-03-09
00:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9089
</td>
<td align="right">
    .9091
</td>
<td align="right">
  .0002
</td>
<td>
2012-03-09 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-03-09
00:15:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9088
</td>
<td align="right">
    .9089
</td>
<td align="right">
  .0001
</td>
<td>
2012-03-09 06:15:00
</td>
</tr>
</table>
<br /><hr />