<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-19
11:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.2631
</td>
<td align="right">
   1.2636
</td>
<td align="right">
  .0004
</td>
<td>
2012-12-19 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-19
12:45:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.2653
</td>
<td align="right">
   1.2673
</td>
<td align="right">
  .0016
</td>
<td>
2012-12-19 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-19
09:45:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  88.7536
</td>
<td align="right">
  88.7175
</td>
<td align="right">
 -.0004
</td>
<td>
2012-12-19 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-19
10:00:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  88.7589
</td>
<td align="right">
  88.7797
</td>
<td align="right">
  .0002
</td>
<td>
2012-12-19 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-19
10:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  88.7915
</td>
<td align="right">
  88.7265
</td>
<td align="right">
 -.0007
</td>
<td>
2012-12-19 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-19
10:15:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  88.8421
</td>
<td align="right">
  88.7344
</td>
<td align="right">
 -.0012
</td>
<td>
2012-12-19 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-19
10:20:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  88.8220
</td>
<td align="right">
  88.7376
</td>
<td align="right">
 -.0010
</td>
<td>
2012-12-19 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-19
11:00:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  88.7797
</td>
<td align="right">
  88.7460
</td>
<td align="right">
 -.0004
</td>
<td>
2012-12-19 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-19
11:15:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  88.7344
</td>
<td align="right">
  88.7765
</td>
<td align="right">
  .0005
</td>
<td>
2012-12-19 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-19
11:35:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  88.7920
</td>
<td align="right">
  88.7733
</td>
<td align="right">
 -.0002
</td>
<td>
2012-12-19 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-19
11:40:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  88.8166
</td>
<td align="right">
  88.7711
</td>
<td align="right">
 -.0005
</td>
<td>
2012-12-19 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-19
11:55:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  88.7918
</td>
<td align="right">
  88.7722
</td>
<td align="right">
 -.0002
</td>
<td>
2012-12-19 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-19
12:15:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  88.7765
</td>
<td align="right">
  88.7214
</td>
<td align="right">
 -.0006
</td>
<td>
2012-12-19 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-19
12:20:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  88.7759
</td>
<td align="right">
  88.7592
</td>
<td align="right">
 -.0002
</td>
<td>
2012-12-19 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-19
12:30:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  88.7672
</td>
<td align="right">
  88.6952
</td>
<td align="right">
 -.0008
</td>
<td>
2012-12-19 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-19
12:35:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  88.7733
</td>
<td align="right">
  88.6902
</td>
<td align="right">
 -.0009
</td>
<td>
2012-12-19 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-19
12:40:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  88.7711
</td>
<td align="right">
  88.6870
</td>
<td align="right">
 -.0009
</td>
<td>
2012-12-19 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-19
12:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  88.7761
</td>
<td align="right">
  88.7229
</td>
<td align="right">
 -.0006
</td>
<td>
2012-12-19 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-19
12:55:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  88.7722
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-19 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-19
08:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 111.6276
</td>
<td align="right">
 111.7258
</td>
<td align="right">
  .0009
</td>
<td>
2012-12-19 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-19
08:10:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 111.6594
</td>
<td align="right">
 111.6788
</td>
<td align="right">
  .0002
</td>
<td>
2012-12-19 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-19
08:20:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 111.6110
</td>
<td align="right">
 111.7153
</td>
<td align="right">
  .0009
</td>
<td>
2012-12-19 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-19
08:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 111.6252
</td>
<td align="right">
 111.8987
</td>
<td align="right">
  .0025
</td>
<td>
2012-12-19 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-19
08:55:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 111.6626
</td>
<td align="right">
 111.9100
</td>
<td align="right">
  .0022
</td>
<td>
2012-12-19 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-19
09:10:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 111.6788
</td>
<td align="right">
 112.0494
</td>
<td align="right">
  .0033
</td>
<td>
2012-12-19 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-19
10:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 112.0495
</td>
<td align="right">
 112.0910
</td>
<td align="right">
  .0004
</td>
<td>
2012-12-19 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-19
11:30:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 112.1025
</td>
<td align="right">
 112.2418
</td>
<td align="right">
  .0012
</td>
<td>
2012-12-19 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-19
12:10:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
 112.1363
</td>
<td align="right">
 112.3674
</td>
<td align="right">
  .0021
</td>
<td>
2012-12-19 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-19
12:15:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 112.1339
</td>
<td align="right">
 112.3596
</td>
<td align="right">
  .0020
</td>
<td>
2012-12-19 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-19
12:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 112.2664
</td>
<td align="right">
 112.4168
</td>
<td align="right">
  .0013
</td>
<td>
2012-12-19 18:25:00
</td>
</tr>
</table>
<br /><hr />