<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-02-12
02:30:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.3404
</td>
<td align="right">
   1.3392
</td>
<td align="right">
 -.0009
</td>
<td>
2013-02-12 08:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
00:35:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9209
</td>
<td align="right">
    .9207
</td>
<td align="right">
 -.0002
</td>
<td>
2013-02-12 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
00:40:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9207
</td>
<td align="right">
    .9207
</td>
<td align="right">
  .0001
</td>
<td>
2013-02-12 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
00:50:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9203
</td>
<td align="right">
    .9206
</td>
<td align="right">
  .0004
</td>
<td>
2013-02-12 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
01:05:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .9208
</td>
<td align="right">
    .9206
</td>
<td align="right">
 -.0002
</td>
<td>
2013-02-12 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
01:10:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9206
</td>
<td align="right">
    .9208
</td>
<td align="right">
  .0002
</td>
<td>
2013-02-12 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
01:15:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9207
</td>
<td align="right">
    .9207
</td>
<td align="right">
  .0000
</td>
<td>
2013-02-12 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
01:30:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .9206
</td>
<td align="right">
    .9205
</td>
<td align="right">
 -.0001
</td>
<td>
2013-02-12 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
01:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9206
</td>
<td align="right">
    .9207
</td>
<td align="right">
  .0001
</td>
<td>
2013-02-12 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
02:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9206
</td>
<td align="right">
    .9207
</td>
<td align="right">
  .0001
</td>
<td>
2013-02-12 08:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
02:10:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9208
</td>
<td align="right">
    .9209
</td>
<td align="right">
  .0002
</td>
<td>
2013-02-12 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
02:20:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .9203
</td>
<td align="right">
    .9205
</td>
<td align="right">
  .0002
</td>
<td>
2013-02-12 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
02:25:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9206
</td>
<td align="right">
    .9203
</td>
<td align="right">
 -.0003
</td>
<td>
2013-02-12 08:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
02:40:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9206
</td>
<td align="right">
    .9204
</td>
<td align="right">
 -.0003
</td>
<td>
2013-02-12 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
02:45:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9207
</td>
<td align="right">
    .9204
</td>
<td align="right">
 -.0004
</td>
<td>
2013-02-12 08:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
02:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .9207
</td>
<td align="right">
    .9205
</td>
<td align="right">
 -.0002
</td>
<td>
2013-02-12 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
03:05:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9207
</td>
<td align="right">
    .9206
</td>
<td align="right">
  .0000
</td>
<td>
2013-02-12 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
03:20:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9205
</td>
<td align="right">
    .9207
</td>
<td align="right">
  .0002
</td>
<td>
2013-02-12 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
03:30:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .9204
</td>
<td align="right">
    .9203
</td>
<td align="right">
 -.0001
</td>
<td>
2013-02-12 09:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
03:35:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9204
</td>
<td align="right">
    .9205
</td>
<td align="right">
  .0001
</td>
<td>
2013-02-12 09:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
03:40:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .9204
</td>
<td align="right">
    .9205
</td>
<td align="right">
  .0001
</td>
<td>
2013-02-12 09:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
03:55:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9205
</td>
<td align="right">
    .9201
</td>
<td align="right">
 -.0005
</td>
<td>
2013-02-12 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
04:05:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9206
</td>
<td align="right">
    .9202
</td>
<td align="right">
 -.0004
</td>
<td>
2013-02-12 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
04:10:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .9206
</td>
<td align="right">
    .9202
</td>
<td align="right">
 -.0004
</td>
<td>
2013-02-12 10:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
04:15:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .9206
</td>
<td align="right">
    .9205
</td>
<td align="right">
 -.0001
</td>
<td>
2013-02-12 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
05:45:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9210
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-02-12 11:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
05:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9210
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-02-12 11:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
05:55:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .9204
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-02-12 11:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-02-12
02:20:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 126.2516
</td>
<td align="right">
 126.3208
</td>
<td align="right">
  .0005
</td>
<td>
2013-02-12 08:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-02-12
02:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 126.3037
</td>
<td align="right">
 126.2494
</td>
<td align="right">
 -.0004
</td>
<td>
2013-02-12 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-02-12
03:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  94.2775
</td>
<td align="right">
  94.1825
</td>
<td align="right">
 -.0010
</td>
<td>
2013-02-12 09:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-02-12
04:20:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
  94.2013
</td>
<td align="right">
  94.0800
</td>
<td align="right">
 -.0013
</td>
<td>
2013-02-12 10:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-02-12
05:25:00
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
  93.9250
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-02-12 11:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-02-12
05:30:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
  93.9950
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-02-12 11:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-02-12
05:50:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
  93.9600
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-02-12 11:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-02-12
05:55:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
  93.9050
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-02-12 11:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-02-12
06:05:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  93.9325
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-02-12 12:05:00
</td>
</tr>
</table>
<br /><hr />