<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-02-07
21:45:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3397
</td>
<td align="right">
   1.3398
</td>
<td align="right">
  .0001
</td>
<td>
2013-02-08 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-02-07
21:50:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.3400
</td>
<td align="right">
   1.3395
</td>
<td align="right">
 -.0004
</td>
<td>
2013-02-08 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-02-07
21:55:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.3398
</td>
<td align="right">
   1.3392
</td>
<td align="right">
 -.0004
</td>
<td>
2013-02-08 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-02-07
22:15:00
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
   1.3394
</td>
<td align="right">
   1.3395
</td>
<td align="right">
  .0001
</td>
<td>
2013-02-08 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-02-07
22:20:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.3390
</td>
<td align="right">
   1.3395
</td>
<td align="right">
  .0004
</td>
<td>
2013-02-08 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-02-07
23:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.3392
</td>
<td align="right">
   1.3391
</td>
<td align="right">
 -.0001
</td>
<td>
2013-02-08 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-02-07
23:15:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.3395
</td>
<td align="right">
   1.3393
</td>
<td align="right">
 -.0001
</td>
<td>
2013-02-08 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-02-07
23:20:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.3395
</td>
<td align="right">
   1.3393
</td>
<td align="right">
 -.0002
</td>
<td>
2013-02-08 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-02-07
23:25:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.3395
</td>
<td align="right">
   1.3393
</td>
<td align="right">
 -.0001
</td>
<td>
2013-02-08 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-02-07
23:30:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.3397
</td>
<td align="right">
   1.3399
</td>
<td align="right">
  .0001
</td>
<td>
2013-02-08 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-02-07
23:35:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3398
</td>
<td align="right">
   1.3397
</td>
<td align="right">
 -.0001
</td>
<td>
2013-02-08 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-02-07
23:40:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.3396
</td>
<td align="right">
   1.3398
</td>
<td align="right">
  .0001
</td>
<td>
2013-02-08 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-02-08
00:30:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.3399
</td>
<td align="right">
   1.3388
</td>
<td align="right">
 -.0008
</td>
<td>
2013-02-08 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-02-08
00:35:00
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
   1.3397
</td>
<td align="right">
   1.3392
</td>
<td align="right">
 -.0003
</td>
<td>
2013-02-08 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-02-08
00:40:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.3398
</td>
<td align="right">
   1.3393
</td>
<td align="right">
 -.0004
</td>
<td>
2013-02-08 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-02-08
00:45:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.3394
</td>
<td align="right">
   1.3394
</td>
<td align="right">
  .0000
</td>
<td>
2013-02-08 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-02-08
01:00:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
   1.3391
</td>
<td align="right">
   1.3408
</td>
<td align="right">
  .0013
</td>
<td>
2013-02-08 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-02-07
22:45:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  93.6350
</td>
<td align="right">
  93.6350
</td>
<td align="right">
  .0000
</td>
<td>
2013-02-08 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-02-07
23:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  93.6350
</td>
<td align="right">
  93.6725
</td>
<td align="right">
  .0004
</td>
<td>
2013-02-08 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-02-08
00:20:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  93.6900
</td>
<td align="right">
  93.5500
</td>
<td align="right">
 -.0015
</td>
<td>
2013-02-08 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-02-08
00:25:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  93.6725
</td>
<td align="right">
  93.5300
</td>
<td align="right">
 -.0015
</td>
<td>
2013-02-08 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-02-08
00:35:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  93.6725
</td>
<td align="right">
  93.5100
</td>
<td align="right">
 -.0017
</td>
<td>
2013-02-08 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-02-08
00:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  93.6825
</td>
<td align="right">
  93.5175
</td>
<td align="right">
 -.0018
</td>
<td>
2013-02-08 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-02-08
00:45:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  93.6725
</td>
<td align="right">
  93.5463
</td>
<td align="right">
 -.0013
</td>
<td>
2013-02-08 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-02-08
00:50:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  93.6975
</td>
<td align="right">
  93.5400
</td>
<td align="right">
 -.0017
</td>
<td>
2013-02-08 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-02-08
00:55:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  93.6825
</td>
<td align="right">
  93.5550
</td>
<td align="right">
 -.0014
</td>
<td>
2013-02-08 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-02-08
01:00:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  93.6850
</td>
<td align="right">
  93.5675
</td>
<td align="right">
 -.0013
</td>
<td>
2013-02-08 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-02-08
01:05:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  93.6625
</td>
<td align="right">
  93.5925
</td>
<td align="right">
 -.0007
</td>
<td>
2013-02-08 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-08
00:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9182
</td>
<td align="right">
    .9184
</td>
<td align="right">
  .0002
</td>
<td>
2013-02-08 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-08
00:45:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .9185
</td>
<td align="right">
    .9182
</td>
<td align="right">
 -.0002
</td>
<td>
2013-02-08 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-08
00:50:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .9186
</td>
<td align="right">
    .9182
</td>
<td align="right">
 -.0005
</td>
<td>
2013-02-08 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-08
00:55:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .9183
</td>
<td align="right">
    .9178
</td>
<td align="right">
 -.0006
</td>
<td>
2013-02-08 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-08
01:05:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .9183
</td>
<td align="right">
    .9177
</td>
<td align="right">
 -.0006
</td>
<td>
2013-02-08 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-08
01:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9185
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-02-08 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-08
01:15:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    .9187
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-02-08 07:15:00
</td>
</tr>
</table>
<br /><hr />