<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-01
06:10:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.0612
</td>
<td align="right">
   1.0573
</td>
<td align="right">
 -.0037
</td>
<td>
2012-02-01 12:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-01
07:25:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0586
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-02-01 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-02-01
02:40:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8297
</td>
<td align="right">
    .8299
</td>
<td align="right">
  .0002
</td>
<td>
2012-02-01 08:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-02-01
03:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8293
</td>
<td align="right">
    .8296
</td>
<td align="right">
  .0003
</td>
<td>
2012-02-01 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-02-01
03:15:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8293
</td>
<td align="right">
    .8297
</td>
<td align="right">
  .0005
</td>
<td>
2012-02-01 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-02-01
03:20:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8293
</td>
<td align="right">
    .8296
</td>
<td align="right">
  .0004
</td>
<td>
2012-02-01 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-02-01
03:25:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8297
</td>
<td align="right">
    .8297
</td>
<td align="right">
  .0000
</td>
<td>
2012-02-01 09:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-01
01:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9211
</td>
<td align="right">
    .9205
</td>
<td align="right">
 -.0006
</td>
<td>
2012-02-01 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-01
02:10:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .9204
</td>
<td align="right">
    .9213
</td>
<td align="right">
  .0009
</td>
<td>
2012-02-01 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-01
02:15:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9202
</td>
<td align="right">
    .9211
</td>
<td align="right">
  .0010
</td>
<td>
2012-02-01 08:15:00
</td>
</tr>
</table>
<br /><hr />