<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-10-19
18:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 103.2415
</td>
<td align="right">
 103.3304
</td>
<td align="right">
  .0009
</td>
<td>
2012-10-22 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-10-19
15:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 103.3445
</td>
<td align="right">
 103.3711
</td>
<td align="right">
  .0003
</td>
<td>
2012-10-21 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-10-19
16:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 103.1992
</td>
<td align="right">
 103.3261
</td>
<td align="right">
  .0012
</td>
<td>
2012-10-21 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-10-19
15:10:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  79.3575
</td>
<td align="right">
  79.2650
</td>
<td align="right">
 -.0012
</td>
<td>
2012-10-21 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-10-19
15:25:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  79.3325
</td>
<td align="right">
  79.2925
</td>
<td align="right">
 -.0005
</td>
<td>
2012-10-21 21:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-10-19
15:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  79.3075
</td>
<td align="right">
  79.3100
</td>
<td align="right">
  .0000
</td>
<td>
2012-10-21 21:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-10-19
16:20:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  79.3175
</td>
<td align="right">
  79.3250
</td>
<td align="right">
  .0001
</td>
<td>
2012-10-21 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-10-19
16:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  79.3100
</td>
<td align="right">
  79.3125
</td>
<td align="right">
  .0000
</td>
<td>
2012-10-21 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-10-19
16:40:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  79.3225
</td>
<td align="right">
  79.2975
</td>
<td align="right">
 -.0003
</td>
<td>
2012-10-21 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-10-19
16:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  79.3425
</td>
<td align="right">
  79.2825
</td>
<td align="right">
 -.0008
</td>
<td>
2012-10-21 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-10-19
17:20:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  79.3250
</td>
<td align="right">
  79.3175
</td>
<td align="right">
 -.0001
</td>
<td>
2012-10-21 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-10-19
17:30:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  79.3125
</td>
<td align="right">
  79.2975
</td>
<td align="right">
 -.0002
</td>
<td>
2012-10-21 23:30:00
</td>
</tr>
</table>
<br /><hr />