<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-04-03
18:50:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.0315
</td>
<td align="right">
   1.0333
</td>
<td align="right">
  .0018
</td>
<td>
2012-04-04 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-04-03
19:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9907
</td>
<td align="right">
    .9905
</td>
<td align="right">
 -.0003
</td>
<td>
2012-04-04 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-04-03
22:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .9910
</td>
<td align="right">
    .9912
</td>
<td align="right">
  .0002
</td>
<td>
2012-04-04 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-04-03
22:40:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .9915
</td>
<td align="right">
    .9909
</td>
<td align="right">
 -.0006
</td>
<td>
2012-04-04 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-04-03
22:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9914
</td>
<td align="right">
    .9912
</td>
<td align="right">
 -.0002
</td>
<td>
2012-04-04 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-04-04
00:00:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9915
</td>
<td align="right">
    .9915
</td>
<td align="right">
  .0001
</td>
<td>
2012-04-04 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-04-04
00:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9107
</td>
<td align="right">
    .9107
</td>
<td align="right">
  .0001
</td>
<td>
2012-04-04 06:00:00
</td>
</tr>
</table>
<br /><hr />