<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-27
11:30:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  80.3213
</td>
<td align="right">
  80.3282
</td>
<td align="right">
  .0001
</td>
<td>
2012-06-27 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-27
11:35:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  80.3304
</td>
<td align="right">
  80.3350
</td>
<td align="right">
  .0001
</td>
<td>
2012-06-27 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-06-27
08:30:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.2434
</td>
<td align="right">
   1.2423
</td>
<td align="right">
 -.0009
</td>
<td>
2012-06-27 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-06-27
07:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.0255
</td>
<td align="right">
   1.0259
</td>
<td align="right">
  .0004
</td>
<td>
2012-06-27 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-06-27
07:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.0254
</td>
<td align="right">
   1.0256
</td>
<td align="right">
  .0003
</td>
<td>
2012-06-27 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-06-27
09:55:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  79.5325
</td>
<td align="right">
  79.6025
</td>
<td align="right">
  .0009
</td>
<td>
2012-06-27 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-27
09:45:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  79.9593
</td>
<td align="right">
  80.1701
</td>
<td align="right">
  .0026
</td>
<td>
2012-06-27 15:45:00
</td>
</tr>
</table>
<br /><hr />