<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-05-01
18:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8156
</td>
<td align="right">
    .8162
</td>
<td align="right">
  .0008
</td>
<td>
2012-05-02 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-05-01
18:50:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8157
</td>
<td align="right">
    .8161
</td>
<td align="right">
  .0005
</td>
<td>
2012-05-02 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-05-01
19:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8161
</td>
<td align="right">
    .8160
</td>
<td align="right">
 -.0001
</td>
<td>
2012-05-02 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-05-01
19:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8162
</td>
<td align="right">
    .8160
</td>
<td align="right">
 -.0003
</td>
<td>
2012-05-02 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-05-01
20:05:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8162
</td>
<td align="right">
    .8162
</td>
<td align="right">
  .0000
</td>
<td>
2012-05-02 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-01
20:40:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
 106.0456
</td>
<td align="right">
 106.0265
</td>
<td align="right">
 -.0002
</td>
<td>
2012-05-02 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-01
22:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 106.0722
</td>
<td align="right">
 106.1634
</td>
<td align="right">
  .0009
</td>
<td>
2012-05-02 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-01
22:55:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 106.0753
</td>
<td align="right">
 106.2059
</td>
<td align="right">
  .0012
</td>
<td>
2012-05-02 04:55:00
</td>
</tr>
</table>
<br /><hr />