<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-07
00:40:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.3057
</td>
<td align="right">
   1.3053
</td>
<td align="right">
 -.0003
</td>
<td>
2013-01-07 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-07
01:05:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3056
</td>
<td align="right">
   1.3057
</td>
<td align="right">
  .0001
</td>
<td>
2013-01-07 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-07
01:10:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.3060
</td>
<td align="right">
   1.3057
</td>
<td align="right">
 -.0002
</td>
<td>
2013-01-07 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-07
01:15:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.3055
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-07 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-07
01:20:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.3058
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-07 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-07
01:25:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   1.3057
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-07 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-04
21:50:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  92.3750
</td>
<td align="right">
  92.6364
</td>
<td align="right">
  .0028
</td>
<td>
2013-01-07 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-06
23:20:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  92.5692
</td>
<td align="right">
  92.2980
</td>
<td align="right">
 -.0029
</td>
<td>
2013-01-07 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-07
00:00:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  92.4463
</td>
<td align="right">
  92.3354
</td>
<td align="right">
 -.0012
</td>
<td>
2013-01-07 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-07
00:05:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  92.4707
</td>
<td align="right">
  92.3900
</td>
<td align="right">
 -.0009
</td>
<td>
2013-01-07 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-07
00:10:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
  92.4250
</td>
<td align="right">
  92.5017
</td>
<td align="right">
  .0008
</td>
<td>
2013-01-07 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-07
00:15:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  92.4480
</td>
<td align="right">
  92.4480
</td>
<td align="right">
  .0000
</td>
<td>
2013-01-07 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-07
00:55:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  92.3606
</td>
<td align="right">
  92.3035
</td>
<td align="right">
 -.0006
</td>
<td>
2013-01-07 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-07
01:00:00
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
  92.3354
</td>
<td align="right">
  92.2459
</td>
<td align="right">
 -.0010
</td>
<td>
2013-01-07 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-07
01:05:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  92.3900
</td>
<td align="right">
  92.2612
</td>
<td align="right">
 -.0014
</td>
<td>
2013-01-07 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-07
01:10:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  92.5017
</td>
<td align="right">
  92.2664
</td>
<td align="right">
 -.0025
</td>
<td>
2013-01-07 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-07
01:15:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
  92.4480
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-07 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-07
01:20:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  92.3914
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-07 07:20:00
</td>
</tr>
</table>
<br /><hr />