<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-13
23:35:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 101.0227
</td>
<td align="right">
 101.0771
</td>
<td align="right">
  .0005
</td>
<td>
2012-11-14 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-14
00:40:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 101.1013
</td>
<td align="right">
 100.9528
</td>
<td align="right">
 -.0015
</td>
<td>
2012-11-14 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-14
01:10:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 100.9619
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-11-14 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-11-13
23:05:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  79.4463
</td>
<td align="right">
  79.4625
</td>
<td align="right">
  .0002
</td>
<td>
2012-11-14 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-11-14
01:25:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  79.4225
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-11-14 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-11-14
00:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2713
</td>
<td align="right">
   1.2708
</td>
<td align="right">
 -.0004
</td>
<td>
2012-11-14 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-11-14
00:45:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.2709
</td>
<td align="right">
   1.2709
</td>
<td align="right">
  .0000
</td>
<td>
2012-11-14 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-11-14
01:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.2709
</td>
<td align="right">
   1.2711
</td>
<td align="right">
  .0001
</td>
<td>
2012-11-14 07:00:00
</td>
</tr>
</table>
<br /><hr />