<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-11
12:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  86.5122
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-11 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-11
13:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  86.5153
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-11 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-11
13:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  86.4989
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-11 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-11
13:20:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  86.5689
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-11 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-11
13:25:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  86.5604
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-11 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-11
13:35:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  86.5093
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-11 19:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-11
13:40:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  86.4977
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-11 19:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-11
13:45:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  86.5231
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-11 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-11
10:50:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
 106.9671
</td>
<td align="right">
 107.1618
</td>
<td align="right">
  .0018
</td>
<td>
2012-12-11 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-11
11:00:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 106.9754
</td>
<td align="right">
 107.1315
</td>
<td align="right">
  .0015
</td>
<td>
2012-12-11 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-11
11:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
 106.9860
</td>
<td align="right">
 107.1293
</td>
<td align="right">
  .0013
</td>
<td>
2012-12-11 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-11
11:15:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
 106.9135
</td>
<td align="right">
 107.1243
</td>
<td align="right">
  .0020
</td>
<td>
2012-12-11 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-11
11:20:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 106.9377
</td>
<td align="right">
 107.1232
</td>
<td align="right">
  .0017
</td>
<td>
2012-12-11 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-11
11:25:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
 106.9841
</td>
<td align="right">
 107.1330
</td>
<td align="right">
  .0014
</td>
<td>
2012-12-11 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-11
11:30:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
 107.0184
</td>
<td align="right">
 107.1064
</td>
<td align="right">
  .0008
</td>
<td>
2012-12-11 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-11
12:10:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
 107.1297
</td>
<td align="right">
 107.0536
</td>
<td align="right">
 -.0007
</td>
<td>
2012-12-11 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-11
12:15:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
 107.1243
</td>
<td align="right">
 107.0871
</td>
<td align="right">
 -.0003
</td>
<td>
2012-12-11 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-11
12:20:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
 107.1232
</td>
<td align="right">
 107.1079
</td>
<td align="right">
 -.0001
</td>
<td>
2012-12-11 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-11
12:25:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
 107.1330
</td>
<td align="right">
 107.0946
</td>
<td align="right">
 -.0004
</td>
<td>
2012-12-11 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-11
12:30:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 107.1064
</td>
<td align="right">
 107.0397
</td>
<td align="right">
 -.0006
</td>
<td>
2012-12-11 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-11
13:10:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
 107.0536
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-11 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-12-11
11:55:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.2992
</td>
<td align="right">
   1.2984
</td>
<td align="right">
 -.0006
</td>
<td>
2012-12-11 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-11
08:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 106.6127
</td>
<td align="right">
 106.6945
</td>
<td align="right">
  .0008
</td>
<td>
2012-12-11 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-11
09:25:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
 106.8417
</td>
<td align="right">
 106.9883
</td>
<td align="right">
  .0014
</td>
<td>
2012-12-11 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-12-11
08:00:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.2943
</td>
<td align="right">
   1.2949
</td>
<td align="right">
  .0005
</td>
<td>
2012-12-11 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-12-11
08:15:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.2945
</td>
<td align="right">
   1.2949
</td>
<td align="right">
  .0003
</td>
<td>
2012-12-11 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-12-11
08:35:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.2949
</td>
<td align="right">
   1.2956
</td>
<td align="right">
  .0005
</td>
<td>
2012-12-11 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-12-11
08:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  82.3913
</td>
<td align="right">
  82.4775
</td>
<td align="right">
  .0010
</td>
<td>
2012-12-11 14:55:00
</td>
</tr>
</table>
<br /><hr />