<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-02-01
20:35:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  96.6115
</td>
<td align="right">
  96.4335
</td>
<td align="right">
 -.0018
</td>
<td>
2013-02-04 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-02-01
21:20:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  96.4842
</td>
<td align="right">
  96.7457
</td>
<td align="right">
  .0027
</td>
<td>
2013-02-04 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-02-03
23:10:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  96.7193
</td>
<td align="right">
  96.6542
</td>
<td align="right">
 -.0007
</td>
<td>
2013-02-04 05:10:00
</td>
</tr>
</table>
<br /><hr />