<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-05-09
12:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  79.9001
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-05-09 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-09
10:25:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
 103.4353
</td>
<td align="right">
 103.2242
</td>
<td align="right">
 -.0020
</td>
<td>
2012-05-09 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-09
11:00:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 103.2249
</td>
<td align="right">
 103.1454
</td>
<td align="right">
 -.0008
</td>
<td>
2012-05-09 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-09
11:45:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
 103.1001
</td>
<td align="right">
 102.9783
</td>
<td align="right">
 -.0012
</td>
<td>
2012-05-09 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-09
06:50:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.2874
</td>
<td align="right">
   1.2887
</td>
<td align="right">
  .0010
</td>
<td>
2012-05-09 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-09
07:05:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2886
</td>
<td align="right">
   1.2884
</td>
<td align="right">
 -.0001
</td>
<td>
2012-05-09 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-09
07:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2887
</td>
<td align="right">
   1.2893
</td>
<td align="right">
  .0005
</td>
<td>
2012-05-09 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-09
07:50:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.2887
</td>
<td align="right">
   1.2894
</td>
<td align="right">
  .0005
</td>
<td>
2012-05-09 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-09
08:05:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
   1.2884
</td>
<td align="right">
   1.2894
</td>
<td align="right">
  .0008
</td>
<td>
2012-05-09 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-09
08:10:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.2883
</td>
<td align="right">
   1.2897
</td>
<td align="right">
  .0011
</td>
<td>
2012-05-09 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-09
08:15:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.2885
</td>
<td align="right">
   1.2900
</td>
<td align="right">
  .0012
</td>
<td>
2012-05-09 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-09
08:20:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.2889
</td>
<td align="right">
   1.2897
</td>
<td align="right">
  .0007
</td>
<td>
2012-05-09 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-09
08:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2894
</td>
<td align="right">
   1.2895
</td>
<td align="right">
  .0001
</td>
<td>
2012-05-09 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-09
09:00:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.2893
</td>
<td align="right">
   1.2890
</td>
<td align="right">
 -.0002
</td>
<td>
2012-05-09 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-09
09:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.2894
</td>
<td align="right">
   1.2891
</td>
<td align="right">
 -.0002
</td>
<td>
2012-05-09 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-09
11:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.2900
</td>
<td align="right">
   1.2886
</td>
<td align="right">
 -.0011
</td>
<td>
2012-05-09 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-09
11:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2893
</td>
<td align="right">
   1.2893
</td>
<td align="right">
  .0000
</td>
<td>
2012-05-09 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-05-09
06:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9251
</td>
<td align="right">
    .9245
</td>
<td align="right">
 -.0007
</td>
<td>
2012-05-09 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-05-09
07:00:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    .9254
</td>
<td align="right">
    .9242
</td>
<td align="right">
 -.0012
</td>
<td>
2012-05-09 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-05-09
07:05:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .9249
</td>
<td align="right">
    .9242
</td>
<td align="right">
 -.0007
</td>
<td>
2012-05-09 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-05-09
07:10:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .9251
</td>
<td align="right">
    .9248
</td>
<td align="right">
 -.0003
</td>
<td>
2012-05-09 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-05-09
08:00:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .9242
</td>
<td align="right">
    .9260
</td>
<td align="right">
  .0019
</td>
<td>
2012-05-09 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-05-09
11:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9258
</td>
<td align="right">
    .9281
</td>
<td align="right">
  .0025
</td>
<td>
2012-05-09 17:25:00
</td>
</tr>
</table>
<br /><hr />