<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
20:30:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  90.0700
</td>
<td align="right">
  90.0675
</td>
<td align="right">
  .0000
</td>
<td>
2013-01-21 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
20:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  90.0675
</td>
<td align="right">
  90.0363
</td>
<td align="right">
 -.0003
</td>
<td>
2013-01-21 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
20:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  90.0850
</td>
<td align="right">
  90.0325
</td>
<td align="right">
 -.0006
</td>
<td>
2013-01-21 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
20:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  90.1050
</td>
<td align="right">
  90.0750
</td>
<td align="right">
 -.0003
</td>
<td>
2013-01-21 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
20:55:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  90.0475
</td>
<td align="right">
  90.0825
</td>
<td align="right">
  .0004
</td>
<td>
2013-01-21 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
21:10:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  90.0900
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-21 03:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
21:15:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  90.0900
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-21 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
21:20:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  90.0800
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-21 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
21:40:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  90.0363
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-21 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
21:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  90.0750
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-21 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
21:55:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  90.0825
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-21 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
16:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  89.8850
</td>
<td align="right">
  89.9250
</td>
<td align="right">
  .0004
</td>
<td>
2013-01-20 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
16:35:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  89.9100
</td>
<td align="right">
  90.0050
</td>
<td align="right">
  .0011
</td>
<td>
2013-01-20 22:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
16:40:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  89.9100
</td>
<td align="right">
  89.9725
</td>
<td align="right">
  .0007
</td>
<td>
2013-01-20 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
16:50:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  89.8900
</td>
<td align="right">
  90.0450
</td>
<td align="right">
  .0017
</td>
<td>
2013-01-20 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
17:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  89.9100
</td>
<td align="right">
  90.0200
</td>
<td align="right">
  .0012
</td>
<td>
2013-01-20 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
17:15:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  89.9150
</td>
<td align="right">
  90.0275
</td>
<td align="right">
  .0013
</td>
<td>
2013-01-20 23:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
17:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  89.9100
</td>
<td align="right">
  90.0125
</td>
<td align="right">
  .0011
</td>
<td>
2013-01-20 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
17:25:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  89.8925
</td>
<td align="right">
  90.0200
</td>
<td align="right">
  .0014
</td>
<td>
2013-01-20 23:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
17:30:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  89.9225
</td>
<td align="right">
  89.9550
</td>
<td align="right">
  .0004
</td>
<td>
2013-01-20 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
18:30:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  89.9550
</td>
<td align="right">
  90.0275
</td>
<td align="right">
  .0008
</td>
<td>
2013-01-21 00:30:00
</td>
</tr>
</table>
<br /><hr />