<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
06:55:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.1780
</td>
<td align="right">
   1.1776
</td>
<td align="right">
 -.0003
</td>
<td>
2012-07-20 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
07:00:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
   1.1778
</td>
<td align="right">
   1.1777
</td>
<td align="right">
 -.0001
</td>
<td>
2012-07-20 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
07:05:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
   1.1780
</td>
<td align="right">
   1.1778
</td>
<td align="right">
 -.0002
</td>
<td>
2012-07-20 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
07:10:00
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
   1.1778
</td>
<td align="right">
   1.1775
</td>
<td align="right">
 -.0003
</td>
<td>
2012-07-20 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
07:15:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.1781
</td>
<td align="right">
   1.1775
</td>
<td align="right">
 -.0005
</td>
<td>
2012-07-20 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
07:20:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
   1.1783
</td>
<td align="right">
   1.1773
</td>
<td align="right">
 -.0008
</td>
<td>
2012-07-20 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
07:25:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.1781
</td>
<td align="right">
   1.1772
</td>
<td align="right">
 -.0007
</td>
<td>
2012-07-20 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
07:30:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.1782
</td>
<td align="right">
   1.1766
</td>
<td align="right">
 -.0014
</td>
<td>
2012-07-20 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
07:35:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.1782
</td>
<td align="right">
   1.1766
</td>
<td align="right">
 -.0014
</td>
<td>
2012-07-20 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
07:40:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
   1.1779
</td>
<td align="right">
   1.1767
</td>
<td align="right">
 -.0010
</td>
<td>
2012-07-20 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
07:45:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.1781
</td>
<td align="right">
   1.1766
</td>
<td align="right">
 -.0012
</td>
<td>
2012-07-20 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
07:50:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.1778
</td>
<td align="right">
   1.1765
</td>
<td align="right">
 -.0011
</td>
<td>
2012-07-20 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
07:55:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.1776
</td>
<td align="right">
   1.1761
</td>
<td align="right">
 -.0013
</td>
<td>
2012-07-20 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
08:05:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.1778
</td>
<td align="right">
   1.1759
</td>
<td align="right">
 -.0016
</td>
<td>
2012-07-20 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
08:10:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.1775
</td>
<td align="right">
   1.1757
</td>
<td align="right">
 -.0016
</td>
<td>
2012-07-20 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
08:30:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.1766
</td>
<td align="right">
   1.1764
</td>
<td align="right">
 -.0001
</td>
<td>
2012-07-20 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
08:35:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.1766
</td>
<td align="right">
   1.1762
</td>
<td align="right">
 -.0003
</td>
<td>
2012-07-20 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
08:40:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
   1.1767
</td>
<td align="right">
   1.1763
</td>
<td align="right">
 -.0004
</td>
<td>
2012-07-20 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
08:45:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.1766
</td>
<td align="right">
   1.1760
</td>
<td align="right">
 -.0006
</td>
<td>
2012-07-20 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
08:50:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
   1.1765
</td>
<td align="right">
   1.1759
</td>
<td align="right">
 -.0005
</td>
<td>
2012-07-20 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
08:55:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
   1.1761
</td>
<td align="right">
   1.1757
</td>
<td align="right">
 -.0004
</td>
<td>
2012-07-20 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
09:00:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.1760
</td>
<td align="right">
   1.1756
</td>
<td align="right">
 -.0003
</td>
<td>
2012-07-20 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
09:05:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.1759
</td>
<td align="right">
   1.1757
</td>
<td align="right">
 -.0002
</td>
<td>
2012-07-20 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
09:15:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.1758
</td>
<td align="right">
   1.1759
</td>
<td align="right">
  .0001
</td>
<td>
2012-07-20 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
09:20:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.1760
</td>
<td align="right">
   1.1760
</td>
<td align="right">
 -.0001
</td>
<td>
2012-07-20 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
09:25:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
   1.1763
</td>
<td align="right">
   1.1755
</td>
<td align="right">
 -.0006
</td>
<td>
2012-07-20 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
09:35:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.1762
</td>
<td align="right">
   1.1755
</td>
<td align="right">
 -.0006
</td>
<td>
2012-07-20 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
09:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.1760
</td>
<td align="right">
   1.1757
</td>
<td align="right">
 -.0002
</td>
<td>
2012-07-20 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
09:50:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.1759
</td>
<td align="right">
   1.1754
</td>
<td align="right">
 -.0004
</td>
<td>
2012-07-20 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
09:55:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.1757
</td>
<td align="right">
   1.1753
</td>
<td align="right">
 -.0003
</td>
<td>
2012-07-20 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
10:00:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.1756
</td>
<td align="right">
   1.1754
</td>
<td align="right">
 -.0002
</td>
<td>
2012-07-20 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
10:05:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.1757
</td>
<td align="right">
   1.1753
</td>
<td align="right">
 -.0004
</td>
<td>
2012-07-20 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
10:15:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.1759
</td>
<td align="right">
   1.1756
</td>
<td align="right">
 -.0002
</td>
<td>
2012-07-20 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-20
07:15:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .7815
</td>
<td align="right">
    .7818
</td>
<td align="right">
  .0004
</td>
<td>
2012-07-20 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-20
07:30:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .7813
</td>
<td align="right">
    .7809
</td>
<td align="right">
 -.0005
</td>
<td>
2012-07-20 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-20
07:35:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .7817
</td>
<td align="right">
    .7811
</td>
<td align="right">
 -.0008
</td>
<td>
2012-07-20 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-20
07:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .7817
</td>
<td align="right">
    .7810
</td>
<td align="right">
 -.0008
</td>
<td>
2012-07-20 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-20
08:10:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .7817
</td>
<td align="right">
    .7806
</td>
<td align="right">
 -.0014
</td>
<td>
2012-07-20 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-20
08:15:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .7818
</td>
<td align="right">
    .7805
</td>
<td align="right">
 -.0018
</td>
<td>
2012-07-20 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-20
08:20:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    .7815
</td>
<td align="right">
    .7801
</td>
<td align="right">
 -.0018
</td>
<td>
2012-07-20 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-20
08:25:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .7815
</td>
<td align="right">
    .7804
</td>
<td align="right">
 -.0013
</td>
<td>
2012-07-20 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-20
08:35:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .7811
</td>
<td align="right">
    .7800
</td>
<td align="right">
 -.0014
</td>
<td>
2012-07-20 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-20
09:10:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .7806
</td>
<td align="right">
    .7796
</td>
<td align="right">
 -.0014
</td>
<td>
2012-07-20 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-20
09:45:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .7801
</td>
<td align="right">
    .7793
</td>
<td align="right">
 -.0010
</td>
<td>
2012-07-20 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-20
10:15:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .7796
</td>
<td align="right">
    .7794
</td>
<td align="right">
 -.0003
</td>
<td>
2012-07-20 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-20
10:25:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .7791
</td>
<td align="right">
    .7796
</td>
<td align="right">
  .0006
</td>
<td>
2012-07-20 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-20
10:40:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .7791
</td>
<td align="right">
    .7779
</td>
<td align="right">
 -.0015
</td>
<td>
2012-07-20 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-20
10:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .7792
</td>
<td align="right">
    .7780
</td>
<td align="right">
 -.0016
</td>
<td>
2012-07-20 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-07-20
08:10:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  96.4480
</td>
<td align="right">
  96.2874
</td>
<td align="right">
 -.0017
</td>
<td>
2012-07-20 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-07-20
09:20:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  96.3153
</td>
<td align="right">
  96.0911
</td>
<td align="right">
 -.0023
</td>
<td>
2012-07-20 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
06:55:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.2258
</td>
<td align="right">
   1.2267
</td>
<td align="right">
  .0007
</td>
<td>
2012-07-20 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
07:00:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.2256
</td>
<td align="right">
   1.2271
</td>
<td align="right">
  .0012
</td>
<td>
2012-07-20 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
07:05:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.2263
</td>
<td align="right">
   1.2277
</td>
<td align="right">
  .0011
</td>
<td>
2012-07-20 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
07:10:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.2268
</td>
<td align="right">
   1.2274
</td>
<td align="right">
  .0005
</td>
<td>
2012-07-20 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
07:15:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.2267
</td>
<td align="right">
   1.2274
</td>
<td align="right">
  .0005
</td>
<td>
2012-07-20 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
07:20:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.2265
</td>
<td align="right">
   1.2269
</td>
<td align="right">
  .0003
</td>
<td>
2012-07-20 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
07:25:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.2265
</td>
<td align="right">
   1.2265
</td>
<td align="right">
  .0000
</td>
<td>
2012-07-20 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
07:30:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
   1.2263
</td>
<td align="right">
   1.2256
</td>
<td align="right">
 -.0006
</td>
<td>
2012-07-20 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
07:35:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.2267
</td>
<td align="right">
   1.2253
</td>
<td align="right">
 -.0012
</td>
<td>
2012-07-20 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
08:05:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.2277
</td>
<td align="right">
   1.2257
</td>
<td align="right">
 -.0016
</td>
<td>
2012-07-20 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
08:10:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.2274
</td>
<td align="right">
   1.2252
</td>
<td align="right">
 -.0018
</td>
<td>
2012-07-20 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
08:15:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.2274
</td>
<td align="right">
   1.2251
</td>
<td align="right">
 -.0018
</td>
<td>
2012-07-20 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
08:20:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.2269
</td>
<td align="right">
   1.2254
</td>
<td align="right">
 -.0012
</td>
<td>
2012-07-20 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
08:25:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.2265
</td>
<td align="right">
   1.2258
</td>
<td align="right">
 -.0006
</td>
<td>
2012-07-20 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
08:35:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.2253
</td>
<td align="right">
   1.2257
</td>
<td align="right">
  .0004
</td>
<td>
2012-07-20 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
08:40:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.2257
</td>
<td align="right">
   1.2259
</td>
<td align="right">
  .0002
</td>
<td>
2012-07-20 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
08:45:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.2258
</td>
<td align="right">
   1.2252
</td>
<td align="right">
 -.0005
</td>
<td>
2012-07-20 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
08:50:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.2257
</td>
<td align="right">
   1.2246
</td>
<td align="right">
 -.0009
</td>
<td>
2012-07-20 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
08:55:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.2259
</td>
<td align="right">
   1.2237
</td>
<td align="right">
 -.0018
</td>
<td>
2012-07-20 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
09:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.2257
</td>
<td align="right">
   1.2234
</td>
<td align="right">
 -.0019
</td>
<td>
2012-07-20 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
09:05:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.2257
</td>
<td align="right">
   1.2233
</td>
<td align="right">
 -.0020
</td>
<td>
2012-07-20 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
09:25:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.2258
</td>
<td align="right">
   1.2232
</td>
<td align="right">
 -.0022
</td>
<td>
2012-07-20 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
09:30:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.2259
</td>
<td align="right">
   1.2230
</td>
<td align="right">
 -.0024
</td>
<td>
2012-07-20 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
09:35:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.2257
</td>
<td align="right">
   1.2232
</td>
<td align="right">
 -.0020
</td>
<td>
2012-07-20 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
09:40:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.2259
</td>
<td align="right">
   1.2231
</td>
<td align="right">
 -.0023
</td>
<td>
2012-07-20 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
09:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.2252
</td>
<td align="right">
   1.2237
</td>
<td align="right">
 -.0013
</td>
<td>
2012-07-20 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
09:50:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.2246
</td>
<td align="right">
   1.2234
</td>
<td align="right">
 -.0010
</td>
<td>
2012-07-20 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-07-20
12:35:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  81.5763
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-07-20 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-07-20
12:40:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  81.5846
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-07-20 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-07-20
12:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  81.6173
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-07-20 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-20
12:10:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.1737
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-07-20 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-07-20
11:55:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  95.8063
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-07-20 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-07-20
12:20:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  95.8133
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-07-20 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-07-20
12:30:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  95.8018
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-07-20 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-20
11:35:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.2214
</td>
<td align="right">
   1.2201
</td>
<td align="right">
 -.0011
</td>
<td>
2012-07-20 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-20
07:05:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    .9793
</td>
<td align="right">
    .9784
</td>
<td align="right">
 -.0010
</td>
<td>
2012-07-20 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-20
07:10:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .9790
</td>
<td align="right">
    .9785
</td>
<td align="right">
 -.0005
</td>
<td>
2012-07-20 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-20
07:15:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    .9790
</td>
<td align="right">
    .9785
</td>
<td align="right">
 -.0005
</td>
<td>
2012-07-20 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-20
07:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9793
</td>
<td align="right">
    .9793
</td>
<td align="right">
  .0000
</td>
<td>
2012-07-20 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-20
07:30:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9793
</td>
<td align="right">
    .9800
</td>
<td align="right">
  .0006
</td>
<td>
2012-07-20 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-20
07:35:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .9791
</td>
<td align="right">
    .9803
</td>
<td align="right">
  .0012
</td>
<td>
2012-07-20 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-20
07:40:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .9791
</td>
<td align="right">
    .9799
</td>
<td align="right">
  .0009
</td>
<td>
2012-07-20 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-20
07:50:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .9790
</td>
<td align="right">
    .9799
</td>
<td align="right">
  .0009
</td>
<td>
2012-07-20 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-20
08:15:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9785
</td>
<td align="right">
    .9803
</td>
<td align="right">
  .0018
</td>
<td>
2012-07-20 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-20
08:20:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9790
</td>
<td align="right">
    .9800
</td>
<td align="right">
  .0011
</td>
<td>
2012-07-20 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-20
08:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .9793
</td>
<td align="right">
    .9798
</td>
<td align="right">
  .0005
</td>
<td>
2012-07-20 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-20
08:45:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .9798
</td>
<td align="right">
    .9803
</td>
<td align="right">
  .0005
</td>
<td>
2012-07-20 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-20
08:55:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .9797
</td>
<td align="right">
    .9814
</td>
<td align="right">
  .0018
</td>
<td>
2012-07-20 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-20
09:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .9797
</td>
<td align="right">
    .9817
</td>
<td align="right">
  .0020
</td>
<td>
2012-07-20 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-20
09:05:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .9798
</td>
<td align="right">
    .9818
</td>
<td align="right">
  .0020
</td>
<td>
2012-07-20 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-20
09:20:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9800
</td>
<td align="right">
    .9817
</td>
<td align="right">
  .0017
</td>
<td>
2012-07-20 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-20
09:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .9798
</td>
<td align="right">
    .9818
</td>
<td align="right">
  .0021
</td>
<td>
2012-07-20 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-20
09:35:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .9798
</td>
<td align="right">
    .9818
</td>
<td align="right">
  .0020
</td>
<td>
2012-07-20 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-20
09:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9803
</td>
<td align="right">
    .9815
</td>
<td align="right">
  .0012
</td>
<td>
2012-07-20 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-20
09:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9807
</td>
<td align="right">
    .9816
</td>
<td align="right">
  .0009
</td>
<td>
2012-07-20 15:50:00
</td>
</tr>
</table>
<br /><hr />