<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-06-14
08:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  78.7658
</td>
<td align="right">
  78.7982
</td>
<td align="right">
  .0004
</td>
<td>
2012-06-14 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-14
06:45:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9943
</td>
<td align="right">
    .9958
</td>
<td align="right">
  .0015
</td>
<td>
2012-06-14 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-14
06:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9945
</td>
<td align="right">
    .9955
</td>
<td align="right">
  .0010
</td>
<td>
2012-06-14 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-14
06:55:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9945
</td>
<td align="right">
    .9950
</td>
<td align="right">
  .0005
</td>
<td>
2012-06-14 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-14
07:00:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
    .9950
</td>
<td align="right">
    .9947
</td>
<td align="right">
 -.0003
</td>
<td>
2012-06-14 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-14
07:05:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .9940
</td>
<td align="right">
    .9947
</td>
<td align="right">
  .0007
</td>
<td>
2012-06-14 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-14
07:10:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9942
</td>
<td align="right">
    .9944
</td>
<td align="right">
  .0002
</td>
<td>
2012-06-14 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-14
07:20:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .9940
</td>
<td align="right">
    .9941
</td>
<td align="right">
  .0001
</td>
<td>
2012-06-14 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-14
07:40:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9956
</td>
<td align="right">
    .9941
</td>
<td align="right">
 -.0015
</td>
<td>
2012-06-14 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-14
07:45:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9958
</td>
<td align="right">
    .9933
</td>
<td align="right">
 -.0025
</td>
<td>
2012-06-14 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-14
07:50:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9955
</td>
<td align="right">
    .9928
</td>
<td align="right">
 -.0027
</td>
<td>
2012-06-14 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-14
07:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9950
</td>
<td align="right">
    .9928
</td>
<td align="right">
 -.0022
</td>
<td>
2012-06-14 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-14
08:00:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9947
</td>
<td align="right">
    .9927
</td>
<td align="right">
 -.0020
</td>
<td>
2012-06-14 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-14
08:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9947
</td>
<td align="right">
    .9927
</td>
<td align="right">
 -.0020
</td>
<td>
2012-06-14 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-14
08:10:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    .9944
</td>
<td align="right">
    .9935
</td>
<td align="right">
 -.0010
</td>
<td>
2012-06-14 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-14
08:15:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    .9944
</td>
<td align="right">
    .9930
</td>
<td align="right">
 -.0014
</td>
<td>
2012-06-14 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-06-14
08:20:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .9941
</td>
<td align="right">
    .9933
</td>
<td align="right">
 -.0008
</td>
<td>
2012-06-14 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
06:50:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8117
</td>
<td align="right">
    .8120
</td>
<td align="right">
  .0003
</td>
<td>
2012-06-14 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
06:55:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .8115
</td>
<td align="right">
    .8119
</td>
<td align="right">
  .0005
</td>
<td>
2012-06-14 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
07:00:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .8117
</td>
<td align="right">
    .8119
</td>
<td align="right">
  .0002
</td>
<td>
2012-06-14 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
07:20:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .8113
</td>
<td align="right">
    .8116
</td>
<td align="right">
  .0003
</td>
<td>
2012-06-14 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
07:25:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8116
</td>
<td align="right">
    .8116
</td>
<td align="right">
  .0000
</td>
<td>
2012-06-14 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
07:30:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8117
</td>
<td align="right">
    .8114
</td>
<td align="right">
 -.0003
</td>
<td>
2012-06-14 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
07:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8116
</td>
<td align="right">
    .8112
</td>
<td align="right">
 -.0005
</td>
<td>
2012-06-14 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
07:50:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8120
</td>
<td align="right">
    .8107
</td>
<td align="right">
 -.0016
</td>
<td>
2012-06-14 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
07:55:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .8119
</td>
<td align="right">
    .8107
</td>
<td align="right">
 -.0015
</td>
<td>
2012-06-14 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
08:00:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .8119
</td>
<td align="right">
    .8106
</td>
<td align="right">
 -.0016
</td>
<td>
2012-06-14 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
08:05:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    .8116
</td>
<td align="right">
    .8104
</td>
<td align="right">
 -.0015
</td>
<td>
2012-06-14 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
08:10:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8115
</td>
<td align="right">
    .8107
</td>
<td align="right">
 -.0010
</td>
<td>
2012-06-14 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
08:15:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .8116
</td>
<td align="right">
    .8106
</td>
<td align="right">
 -.0012
</td>
<td>
2012-06-14 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
08:20:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .8116
</td>
<td align="right">
    .8102
</td>
<td align="right">
 -.0016
</td>
<td>
2012-06-14 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
08:30:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .8114
</td>
<td align="right">
    .8100
</td>
<td align="right">
 -.0018
</td>
<td>
2012-06-14 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
10:15:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8095
</td>
<td align="right">
    .8092
</td>
<td align="right">
 -.0004
</td>
<td>
2012-06-14 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
10:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8092
</td>
<td align="right">
    .8094
</td>
<td align="right">
  .0002
</td>
<td>
2012-06-14 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
10:30:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8096
</td>
<td align="right">
    .8097
</td>
<td align="right">
  .0001
</td>
<td>
2012-06-14 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
10:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8098
</td>
<td align="right">
    .8098
</td>
<td align="right">
  .0000
</td>
<td>
2012-06-14 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
10:40:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .8100
</td>
<td align="right">
    .8101
</td>
<td align="right">
  .0002
</td>
<td>
2012-06-14 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
11:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8091
</td>
<td align="right">
    .8099
</td>
<td align="right">
  .0011
</td>
<td>
2012-06-14 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
11:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8094
</td>
<td align="right">
    .8096
</td>
<td align="right">
  .0003
</td>
<td>
2012-06-14 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
11:40:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    .8101
</td>
<td align="right">
    .8096
</td>
<td align="right">
 -.0006
</td>
<td>
2012-06-14 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
11:45:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .8102
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-14 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
12:00:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .8099
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-14 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
12:05:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8098
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-14 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
12:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8095
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-14 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
12:15:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .8094
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-14 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-14
12:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .8096
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-14 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-06-14
10:35:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0266
</td>
<td align="right">
   1.0262
</td>
<td align="right">
 -.0004
</td>
<td>
2012-06-14 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-06-14
10:40:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0259
</td>
<td align="right">
   1.0263
</td>
<td align="right">
  .0004
</td>
<td>
2012-06-14 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-06-14
11:05:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.0265
</td>
<td align="right">
   1.0265
</td>
<td align="right">
  .0000
</td>
<td>
2012-06-14 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-06-14
11:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0262
</td>
<td align="right">
   1.0268
</td>
<td align="right">
  .0006
</td>
<td>
2012-06-14 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-06-14
11:45:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0267
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-14 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-06-14
11:50:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0270
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-14 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-06-14
12:00:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0263
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-14 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-06-14
12:10:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0265
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-14 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-06-14
12:35:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.0261
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-06-14 18:35:00
</td>
</tr>
</table>
<br /><hr />