<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-22
00:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.0663
</td>
<td align="right">
   1.0650
</td>
<td align="right">
 -.0012
</td>
<td>
2012-02-22 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-22
00:10:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.0661
</td>
<td align="right">
   1.0642
</td>
<td align="right">
 -.0018
</td>
<td>
2012-02-22 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-02-21
21:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.3239
</td>
<td align="right">
   1.3235
</td>
<td align="right">
 -.0003
</td>
<td>
2012-02-22 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-02-22
00:35:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9976
</td>
<td align="right">
    .9986
</td>
<td align="right">
  .0011
</td>
<td>
2012-02-22 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-21
19:50:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0664
</td>
<td align="right">
   1.0665
</td>
<td align="right">
  .0000
</td>
<td>
2012-02-22 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-21
20:10:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.0664
</td>
<td align="right">
   1.0666
</td>
<td align="right">
  .0002
</td>
<td>
2012-02-22 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-21
20:15:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0659
</td>
<td align="right">
   1.0666
</td>
<td align="right">
  .0007
</td>
<td>
2012-02-22 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-21
20:50:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0665
</td>
<td align="right">
   1.0660
</td>
<td align="right">
 -.0004
</td>
<td>
2012-02-22 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-21
21:20:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.0664
</td>
<td align="right">
   1.0662
</td>
<td align="right">
 -.0001
</td>
<td>
2012-02-22 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-21
22:25:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.0659
</td>
<td align="right">
   1.0667
</td>
<td align="right">
  .0007
</td>
<td>
2012-02-22 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-21
22:45:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.0653
</td>
<td align="right">
   1.0669
</td>
<td align="right">
  .0015
</td>
<td>
2012-02-22 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-21
23:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0651
</td>
<td align="right">
   1.0663
</td>
<td align="right">
  .0012
</td>
<td>
2012-02-22 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-22
00:25:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.0651
</td>
<td align="right">
   1.0629
</td>
<td align="right">
 -.0021
</td>
<td>
2012-02-22 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-22
01:10:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0642
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-02-22 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-22
01:15:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0634
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-02-22 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-21
19:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2412
</td>
<td align="right">
   1.2416
</td>
<td align="right">
  .0003
</td>
<td>
2012-02-22 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-21
20:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.2412
</td>
<td align="right">
   1.2413
</td>
<td align="right">
  .0002
</td>
<td>
2012-02-22 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-21
20:10:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.2409
</td>
<td align="right">
   1.2415
</td>
<td align="right">
  .0005
</td>
<td>
2012-02-22 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-21
20:15:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.2417
</td>
<td align="right">
   1.2412
</td>
<td align="right">
 -.0004
</td>
<td>
2012-02-22 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-21
20:20:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.2412
</td>
<td align="right">
   1.2412
</td>
<td align="right">
  .0000
</td>
<td>
2012-02-22 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-21
20:25:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.2412
</td>
<td align="right">
   1.2409
</td>
<td align="right">
 -.0002
</td>
<td>
2012-02-22 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-21
20:30:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.2415
</td>
<td align="right">
   1.2410
</td>
<td align="right">
 -.0003
</td>
<td>
2012-02-22 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-21
20:40:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.2416
</td>
<td align="right">
   1.2412
</td>
<td align="right">
 -.0003
</td>
<td>
2012-02-22 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-21
21:05:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.2413
</td>
<td align="right">
   1.2412
</td>
<td align="right">
 -.0001
</td>
<td>
2012-02-22 03:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-21
21:10:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.2415
</td>
<td align="right">
   1.2415
</td>
<td align="right">
  .0000
</td>
<td>
2012-02-22 03:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-21
21:15:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2412
</td>
<td align="right">
   1.2416
</td>
<td align="right">
  .0003
</td>
<td>
2012-02-22 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-21
21:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.2417
</td>
<td align="right">
   1.2424
</td>
<td align="right">
  .0006
</td>
<td>
2012-02-22 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-21
22:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.2415
</td>
<td align="right">
   1.2410
</td>
<td align="right">
 -.0004
</td>
<td>
2012-02-22 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-21
22:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.2423
</td>
<td align="right">
   1.2411
</td>
<td align="right">
 -.0010
</td>
<td>
2012-02-22 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-21
22:55:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.2429
</td>
<td align="right">
   1.2413
</td>
<td align="right">
 -.0013
</td>
<td>
2012-02-22 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-21
23:00:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.2424
</td>
<td align="right">
   1.2415
</td>
<td align="right">
 -.0007
</td>
<td>
2012-02-22 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-21
23:05:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.2420
</td>
<td align="right">
   1.2418
</td>
<td align="right">
 -.0002
</td>
<td>
2012-02-22 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-21
23:10:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.2416
</td>
<td align="right">
   1.2416
</td>
<td align="right">
  .0000
</td>
<td>
2012-02-22 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-21
23:15:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.2416
</td>
<td align="right">
   1.2434
</td>
<td align="right">
  .0015
</td>
<td>
2012-02-22 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-21
23:20:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.2415
</td>
<td align="right">
   1.2431
</td>
<td align="right">
  .0013
</td>
<td>
2012-02-22 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-21
23:35:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.2409
</td>
<td align="right">
   1.2425
</td>
<td align="right">
  .0013
</td>
<td>
2012-02-22 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-02-22
00:05:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.2418
</td>
<td align="right">
   1.2429
</td>
<td align="right">
  .0009
</td>
<td>
2012-02-22 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-02-22
01:25:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8384
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-02-22 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-02-21
20:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9971
</td>
<td align="right">
    .9967
</td>
<td align="right">
 -.0004
</td>
<td>
2012-02-22 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-02-21
20:45:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .9969
</td>
<td align="right">
    .9967
</td>
<td align="right">
 -.0002
</td>
<td>
2012-02-22 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-21
19:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9116
</td>
<td align="right">
    .9119
</td>
<td align="right">
  .0004
</td>
<td>
2012-02-22 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-21
19:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .9113
</td>
<td align="right">
    .9120
</td>
<td align="right">
  .0007
</td>
<td>
2012-02-22 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-21
19:55:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .9118
</td>
<td align="right">
    .9120
</td>
<td align="right">
  .0002
</td>
<td>
2012-02-22 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-21
20:00:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    .9117
</td>
<td align="right">
    .9119
</td>
<td align="right">
  .0002
</td>
<td>
2012-02-22 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-02-22
00:05:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .9122
</td>
<td align="right">
    .9127
</td>
<td align="right">
  .0006
</td>
<td>
2012-02-22 06:05:00
</td>
</tr>
</table>
<br /><hr />