<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-11-26
23:05:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.2406
</td>
<td align="right">
   1.2400
</td>
<td align="right">
 -.0005
</td>
<td>
2012-11-27 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-11-26
20:00:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  82.1675
</td>
<td align="right">
  82.0538
</td>
<td align="right">
 -.0014
</td>
<td>
2012-11-27 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-11-26
20:05:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  82.1375
</td>
<td align="right">
  82.0600
</td>
<td align="right">
 -.0009
</td>
<td>
2012-11-27 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-11-26
20:10:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  82.1300
</td>
<td align="right">
  82.0525
</td>
<td align="right">
 -.0009
</td>
<td>
2012-11-27 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-11-27
01:25:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  82.0075
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-11-27 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-11-27
01:30:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  82.0075
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-11-27 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-11-26
20:20:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.2392
</td>
<td align="right">
   1.2393
</td>
<td align="right">
  .0000
</td>
<td>
2012-11-27 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-11-26
20:30:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.2397
</td>
<td align="right">
   1.2396
</td>
<td align="right">
 -.0001
</td>
<td>
2012-11-27 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-11-26
20:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.2395
</td>
<td align="right">
   1.2395
</td>
<td align="right">
  .0001
</td>
<td>
2012-11-27 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-11-26
23:25:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.2402
</td>
<td align="right">
   1.2401
</td>
<td align="right">
 -.0001
</td>
<td>
2012-11-27 05:25:00
</td>
</tr>
</table>
<br /><hr />