<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-22
10:10:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
 118.2813
</td>
<td align="right">
 118.6389
</td>
<td align="right">
  .0030
</td>
<td>
2013-01-22 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-22
10:25:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 118.5080
</td>
<td align="right">
 118.5435
</td>
<td align="right">
  .0003
</td>
<td>
2013-01-22 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-22
10:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 118.4469
</td>
<td align="right">
 118.4311
</td>
<td align="right">
 -.0001
</td>
<td>
2013-01-22 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-22
11:30:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
 118.4311
</td>
<td align="right">
 118.2845
</td>
<td align="right">
 -.0012
</td>
<td>
2013-01-22 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-22
11:35:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
 118.4246
</td>
<td align="right">
 118.3468
</td>
<td align="right">
 -.0007
</td>
<td>
2013-01-22 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-22
11:45:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 118.4507
</td>
<td align="right">
 118.2104
</td>
<td align="right">
 -.0020
</td>
<td>
2013-01-22 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-22
11:50:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
 118.5157
</td>
<td align="right">
 118.2027
</td>
<td align="right">
 -.0026
</td>
<td>
2013-01-22 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-22
12:50:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
 118.2027
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-22 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-22
13:00:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
 118.2161
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-22 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-22
13:10:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
 118.1984
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-22 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
08:05:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3364
</td>
<td align="right">
   1.3301
</td>
<td align="right">
 -.0047
</td>
<td>
2013-01-22 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
08:10:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
   1.3360
</td>
<td align="right">
   1.3289
</td>
<td align="right">
 -.0053
</td>
<td>
2013-01-22 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
08:25:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3348
</td>
<td align="right">
   1.3299
</td>
<td align="right">
 -.0037
</td>
<td>
2013-01-22 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
08:30:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3348
</td>
<td align="right">
   1.3296
</td>
<td align="right">
 -.0039
</td>
<td>
2013-01-22 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
09:40:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.3307
</td>
<td align="right">
   1.3344
</td>
<td align="right">
  .0028
</td>
<td>
2013-01-22 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
09:45:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.3303
</td>
<td align="right">
   1.3342
</td>
<td align="right">
  .0030
</td>
<td>
2013-01-22 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
09:50:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.3300
</td>
<td align="right">
   1.3347
</td>
<td align="right">
  .0035
</td>
<td>
2013-01-22 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
10:35:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3344
</td>
<td align="right">
   1.3348
</td>
<td align="right">
  .0003
</td>
<td>
2013-01-22 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
10:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3344
</td>
<td align="right">
   1.3345
</td>
<td align="right">
  .0001
</td>
<td>
2013-01-22 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
10:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.3342
</td>
<td align="right">
   1.3349
</td>
<td align="right">
  .0005
</td>
<td>
2013-01-22 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
10:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.3347
</td>
<td align="right">
   1.3351
</td>
<td align="right">
  .0003
</td>
<td>
2013-01-22 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
11:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3345
</td>
<td align="right">
   1.3349
</td>
<td align="right">
  .0003
</td>
<td>
2013-01-22 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
11:45:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.3349
</td>
<td align="right">
   1.3334
</td>
<td align="right">
 -.0011
</td>
<td>
2013-01-22 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
12:10:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3340
</td>
<td align="right">
   1.3318
</td>
<td align="right">
 -.0016
</td>
<td>
2013-01-22 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
12:15:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.3345
</td>
<td align="right">
   1.3314
</td>
<td align="right">
 -.0023
</td>
<td>
2013-01-22 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
12:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3345
</td>
<td align="right">
   1.3309
</td>
<td align="right">
 -.0027
</td>
<td>
2013-01-22 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
12:45:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.3334
</td>
<td align="right">
   1.3310
</td>
<td align="right">
 -.0018
</td>
<td>
2013-01-22 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
12:50:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.3329
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-22 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
13:05:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3320
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-22 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
13:10:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.3318
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-22 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
13:20:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.3309
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-22 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-22
08:45:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9308
</td>
<td align="right">
    .9306
</td>
<td align="right">
 -.0002
</td>
<td>
2013-01-22 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-22
08:55:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
  93.7906
</td>
<td align="right">
  93.6615
</td>
<td align="right">
 -.0014
</td>
<td>
2013-01-22 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-22
09:15:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
  93.4781
</td>
<td align="right">
  93.8067
</td>
<td align="right">
  .0035
</td>
<td>
2013-01-22 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-22
09:20:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  93.4847
</td>
<td align="right">
  93.8326
</td>
<td align="right">
  .0037
</td>
<td>
2013-01-22 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-22
09:25:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  93.5836
</td>
<td align="right">
  93.8538
</td>
<td align="right">
  .0029
</td>
<td>
2013-01-22 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-22
08:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0563
</td>
<td align="right">
   1.0562
</td>
<td align="right">
 -.0001
</td>
<td>
2013-01-22 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-22
08:45:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.0564
</td>
<td align="right">
   1.0565
</td>
<td align="right">
  .0002
</td>
<td>
2013-01-22 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-22
09:10:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.0553
</td>
<td align="right">
   1.0572
</td>
<td align="right">
  .0017
</td>
<td>
2013-01-22 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-22
10:00:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0571
</td>
<td align="right">
   1.0573
</td>
<td align="right">
  .0001
</td>
<td>
2013-01-22 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-22
10:30:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.0573
</td>
<td align="right">
   1.0567
</td>
<td align="right">
 -.0006
</td>
<td>
2013-01-22 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-22
10:45:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.0573
</td>
<td align="right">
   1.0569
</td>
<td align="right">
 -.0004
</td>
<td>
2013-01-22 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-22
11:05:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0571
</td>
<td align="right">
   1.0567
</td>
<td align="right">
 -.0004
</td>
<td>
2013-01-22 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-22
11:40:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0568
</td>
<td align="right">
   1.0567
</td>
<td align="right">
 -.0001
</td>
<td>
2013-01-22 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-22
11:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0569
</td>
<td align="right">
   1.0563
</td>
<td align="right">
 -.0006
</td>
<td>
2013-01-22 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-22
12:05:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0567
</td>
<td align="right">
   1.0560
</td>
<td align="right">
 -.0007
</td>
<td>
2013-01-22 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-22
12:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0568
</td>
<td align="right">
   1.0560
</td>
<td align="right">
 -.0007
</td>
<td>
2013-01-22 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-22
12:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0563
</td>
<td align="right">
   1.0566
</td>
<td align="right">
  .0003
</td>
<td>
2013-01-22 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-22
12:50:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.0563
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-22 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-22
13:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0561
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-22 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-22
13:05:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.0560
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-22 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2013-01-22
13:35:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.0566
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-22 19:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
08:00:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8430
</td>
<td align="right">
    .8409
</td>
<td align="right">
 -.0025
</td>
<td>
2013-01-22 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
08:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8436
</td>
<td align="right">
    .8402
</td>
<td align="right">
 -.0040
</td>
<td>
2013-01-22 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
08:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .8437
</td>
<td align="right">
    .8405
</td>
<td align="right">
 -.0038
</td>
<td>
2013-01-22 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
08:55:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8424
</td>
<td align="right">
    .8408
</td>
<td align="right">
 -.0018
</td>
<td>
2013-01-22 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
09:05:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8407
</td>
<td align="right">
    .8418
</td>
<td align="right">
  .0013
</td>
<td>
2013-01-22 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
09:10:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    .8402
</td>
<td align="right">
    .8424
</td>
<td align="right">
  .0026
</td>
<td>
2013-01-22 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
09:15:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8396
</td>
<td align="right">
    .8426
</td>
<td align="right">
  .0036
</td>
<td>
2013-01-22 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
09:20:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .8400
</td>
<td align="right">
    .8426
</td>
<td align="right">
  .0031
</td>
<td>
2013-01-22 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
09:30:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8404
</td>
<td align="right">
    .8424
</td>
<td align="right">
  .0025
</td>
<td>
2013-01-22 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
09:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8408
</td>
<td align="right">
    .8424
</td>
<td align="right">
  .0019
</td>
<td>
2013-01-22 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
10:15:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8426
</td>
<td align="right">
    .8424
</td>
<td align="right">
 -.0002
</td>
<td>
2013-01-22 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
10:20:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .8426
</td>
<td align="right">
    .8424
</td>
<td align="right">
 -.0003
</td>
<td>
2013-01-22 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
11:10:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .8427
</td>
<td align="right">
    .8409
</td>
<td align="right">
 -.0021
</td>
<td>
2013-01-22 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
11:25:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8417
</td>
<td align="right">
    .8406
</td>
<td align="right">
 -.0013
</td>
<td>
2013-01-22 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
11:30:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8416
</td>
<td align="right">
    .8406
</td>
<td align="right">
 -.0012
</td>
<td>
2013-01-22 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
11:35:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8413
</td>
<td align="right">
    .8407
</td>
<td align="right">
 -.0007
</td>
<td>
2013-01-22 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
11:40:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .8412
</td>
<td align="right">
    .8408
</td>
<td align="right">
 -.0005
</td>
<td>
2013-01-22 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
11:45:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8415
</td>
<td align="right">
    .8402
</td>
<td align="right">
 -.0015
</td>
<td>
2013-01-22 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
11:50:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8411
</td>
<td align="right">
    .8400
</td>
<td align="right">
 -.0014
</td>
<td>
2013-01-22 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
11:55:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .8412
</td>
<td align="right">
    .8398
</td>
<td align="right">
 -.0017
</td>
<td>
2013-01-22 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
12:00:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .8412
</td>
<td align="right">
    .8397
</td>
<td align="right">
 -.0017
</td>
<td>
2013-01-22 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
12:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .8411
</td>
<td align="right">
    .8396
</td>
<td align="right">
 -.0018
</td>
<td>
2013-01-22 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
12:10:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8409
</td>
<td align="right">
    .8396
</td>
<td align="right">
 -.0016
</td>
<td>
2013-01-22 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
12:15:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .8411
</td>
<td align="right">
    .8395
</td>
<td align="right">
 -.0018
</td>
<td>
2013-01-22 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
12:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8408
</td>
<td align="right">
    .8393
</td>
<td align="right">
 -.0018
</td>
<td>
2013-01-22 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
12:25:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .8406
</td>
<td align="right">
    .8394
</td>
<td align="right">
 -.0015
</td>
<td>
2013-01-22 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
12:30:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .8406
</td>
<td align="right">
    .8394
</td>
<td align="right">
 -.0014
</td>
<td>
2013-01-22 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
12:35:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8407
</td>
<td align="right">
    .8389
</td>
<td align="right">
 -.0022
</td>
<td>
2013-01-22 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
12:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8408
</td>
<td align="right">
    .8389
</td>
<td align="right">
 -.0022
</td>
<td>
2013-01-22 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
12:45:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8402
</td>
<td align="right">
    .8390
</td>
<td align="right">
 -.0014
</td>
<td>
2013-01-22 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
12:50:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .8400
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-22 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
12:55:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .8398
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-22 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2013-01-22
13:05:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8396
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-22 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2013-01-22
09:10:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3289
</td>
<td align="right">
   1.3340
</td>
<td align="right">
  .0038
</td>
<td>
2013-01-22 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-22
10:35:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .9285
</td>
<td align="right">
    .9286
</td>
<td align="right">
  .0002
</td>
<td>
2013-01-22 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-22
11:40:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .9289
</td>
<td align="right">
    .9286
</td>
<td align="right">
 -.0003
</td>
<td>
2013-01-22 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-22
11:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .9291
</td>
<td align="right">
    .9293
</td>
<td align="right">
  .0002
</td>
<td>
2013-01-22 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-22
08:55:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  88.8400
</td>
<td align="right">
  88.6400
</td>
<td align="right">
 -.0023
</td>
<td>
2013-01-22 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-22
09:10:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  88.7200
</td>
<td align="right">
  88.6650
</td>
<td align="right">
 -.0006
</td>
<td>
2013-01-22 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-22
09:25:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  88.5600
</td>
<td align="right">
  88.7800
</td>
<td align="right">
  .0025
</td>
<td>
2013-01-22 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-22
10:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  88.7600
</td>
<td align="right">
  88.8075
</td>
<td align="right">
  .0005
</td>
<td>
2013-01-22 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-22
10:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  88.7325
</td>
<td align="right">
  88.7475
</td>
<td align="right">
  .0002
</td>
<td>
2013-01-22 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-22
11:10:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  88.7800
</td>
<td align="right">
  88.5925
</td>
<td align="right">
 -.0021
</td>
<td>
2013-01-22 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-22
12:05:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  88.6575
</td>
<td align="right">
  88.7263
</td>
<td align="right">
  .0008
</td>
<td>
2013-01-22 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-22
12:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  88.6125
</td>
<td align="right">
  88.7875
</td>
<td align="right">
  .0020
</td>
<td>
2013-01-22 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-22
12:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  88.5763
</td>
<td align="right">
  88.8025
</td>
<td align="right">
  .0026
</td>
<td>
2013-01-22 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-22
12:35:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  88.6775
</td>
<td align="right">
  88.8050
</td>
<td align="right">
  .0014
</td>
<td>
2013-01-22 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-22
12:40:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  88.6863
</td>
<td align="right">
  88.8325
</td>
<td align="right">
  .0016
</td>
<td>
2013-01-22 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-22
12:50:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  88.6825
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-22 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-22
13:00:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  88.7225
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-22 19:00:00
</td>
</tr>
</table>
<br /><hr />