<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-08-13
07:45:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  82.4852
</td>
<td align="right">
  82.4378
</td>
<td align="right">
 -.0006
</td>
<td>
2012-08-13 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-08-13
07:50:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  82.4997
</td>
<td align="right">
  82.3860
</td>
<td align="right">
 -.0014
</td>
<td>
2012-08-13 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-08-13
11:20:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  82.7685
</td>
<td align="right">
  82.6418
</td>
<td align="right">
 -.0015
</td>
<td>
2012-08-13 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-08-13
10:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .7856
</td>
<td align="right">
    .7867
</td>
<td align="right">
  .0015
</td>
<td>
2012-08-13 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-08-13
10:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .7857
</td>
<td align="right">
    .7868
</td>
<td align="right">
  .0014
</td>
<td>
2012-08-13 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-08-13
11:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .7858
</td>
<td align="right">
    .7869
</td>
<td align="right">
  .0014
</td>
<td>
2012-08-13 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-08-13
11:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .7860
</td>
<td align="right">
    .7866
</td>
<td align="right">
  .0008
</td>
<td>
2012-08-13 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-08-13
11:30:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .7866
</td>
<td align="right">
    .7867
</td>
<td align="right">
  .0001
</td>
<td>
2012-08-13 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-08-13
11:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .7867
</td>
<td align="right">
    .7867
</td>
<td align="right">
  .0000
</td>
<td>
2012-08-13 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-08-13
11:40:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .7867
</td>
<td align="right">
    .7867
</td>
<td align="right">
  .0000
</td>
<td>
2012-08-13 17:40:00
</td>
</tr>
</table>
<br /><hr />