<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-24
15:15:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
 111.8805
</td>
<td align="right">
 111.9169
</td>
<td align="right">
  .0003
</td>
<td>
2012-12-24 21:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-24
15:35:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
 111.8938
</td>
<td align="right">
 111.7880
</td>
<td align="right">
 -.0009
</td>
<td>
2012-12-24 21:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-24
16:05:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 111.8783
</td>
<td align="right">
 111.8379
</td>
<td align="right">
 -.0004
</td>
<td>
2012-12-24 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-24
16:15:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
 111.9169
</td>
<td align="right">
 111.8264
</td>
<td align="right">
 -.0008
</td>
<td>
2012-12-24 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-12-24
14:15:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  84.6000
</td>
<td align="right">
  84.7275
</td>
<td align="right">
  .0015
</td>
<td>
2012-12-24 20:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-12-24
14:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  84.6475
</td>
<td align="right">
  84.7575
</td>
<td align="right">
  .0013
</td>
<td>
2012-12-24 20:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-12-24
16:50:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  84.8225
</td>
<td align="right">
  84.7875
</td>
<td align="right">
 -.0004
</td>
<td>
2012-12-24 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-12-24
18:20:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  84.8425
</td>
<td align="right">
  84.8650
</td>
<td align="right">
  .0003
</td>
<td>
2012-12-25 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-12-24
18:25:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  84.8325
</td>
<td align="right">
  84.8625
</td>
<td align="right">
  .0004
</td>
<td>
2012-12-25 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-24
17:50:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.2713
</td>
<td align="right">
   1.2721
</td>
<td align="right">
  .0006
</td>
<td>
2012-12-24 23:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-24
18:35:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.2715
</td>
<td align="right">
   1.2717
</td>
<td align="right">
  .0002
</td>
<td>
2012-12-25 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-24
19:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.2717
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-25 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-24
19:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.2725
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-25 01:55:00
</td>
</tr>
</table>
<br /><hr />