<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-01-06
18:00:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .9558
</td>
<td align="right">
    .9554
</td>
<td align="right">
 -.0004
</td>
<td>
2012-01-09 00:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-01-06
18:25:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9556
</td>
<td align="right">
    .9548
</td>
<td align="right">
 -.0008
</td>
<td>
2012-01-09 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-06
21:10:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.0229
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-09 03:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-06
16:20:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.2432
</td>
<td align="right">
   1.2426
</td>
<td align="right">
 -.0005
</td>
<td>
2012-01-08 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-06
16:30:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.2432
</td>
<td align="right">
   1.2423
</td>
<td align="right">
 -.0008
</td>
<td>
2012-01-08 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-06
16:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2432
</td>
<td align="right">
   1.2437
</td>
<td align="right">
  .0004
</td>
<td>
2012-01-08 22:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-06
16:55:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   1.2432
</td>
<td align="right">
   1.2436
</td>
<td align="right">
  .0003
</td>
<td>
2012-01-08 22:55:00
</td>
</tr>
</table>
<br /><hr />