<table class="table_a1_fx_new">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-08
08:20:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  83.2172
</td>
<td align="right">
  83.2305
</td>
<td align="right">
  .0002
</td>
<td>
2012-11-08 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-08
09:35:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  83.1692
</td>
<td align="right">
  83.2117
</td>
<td align="right">
  .0005
</td>
<td>
2012-11-08 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-08
10:05:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  83.1788
</td>
<td align="right">
  83.1570
</td>
<td align="right">
 -.0003
</td>
<td>
2012-11-08 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-11-08
08:25:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.2261
</td>
<td align="right">
   1.2240
</td>
<td align="right">
 -.0017
</td>
<td>
2012-11-08 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-11-08
09:05:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.2257
</td>
<td align="right">
   1.2236
</td>
<td align="right">
 -.0018
</td>
<td>
2012-11-08 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-08
08:05:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .7990
</td>
<td align="right">
    .7991
</td>
<td align="right">
  .0002
</td>
<td>
2012-11-08 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-08
08:15:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .7990
</td>
<td align="right">
    .7991
</td>
<td align="right">
  .0002
</td>
<td>
2012-11-08 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-08
08:35:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .7993
</td>
<td align="right">
    .7983
</td>
<td align="right">
 -.0013
</td>
<td>
2012-11-08 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-08
08:40:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    .7990
</td>
<td align="right">
    .7986
</td>
<td align="right">
 -.0006
</td>
<td>
2012-11-08 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-08
08:45:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .7992
</td>
<td align="right">
    .7984
</td>
<td align="right">
 -.0010
</td>
<td>
2012-11-08 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-08
08:50:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .7992
</td>
<td align="right">
    .7985
</td>
<td align="right">
 -.0008
</td>
<td>
2012-11-08 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-08
09:00:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .7994
</td>
<td align="right">
    .7980
</td>
<td align="right">
 -.0017
</td>
<td>
2012-11-08 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-08
09:05:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .7991
</td>
<td align="right">
    .7982
</td>
<td align="right">
 -.0012
</td>
<td>
2012-11-08 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-08
09:10:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .7992
</td>
<td align="right">
    .7984
</td>
<td align="right">
 -.0010
</td>
<td>
2012-11-08 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-08
09:15:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .7991
</td>
<td align="right">
    .7987
</td>
<td align="right">
 -.0006
</td>
<td>
2012-11-08 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-08
10:35:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .7988
</td>
<td align="right">
    .7987
</td>
<td align="right">
 -.0001
</td>
<td>
2012-11-08 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-08
10:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .7989
</td>
<td align="right">
    .7989
</td>
<td align="right">
  .0000
</td>
<td>
2012-11-08 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-08
10:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .7989
</td>
<td align="right">
    .7989
</td>
<td align="right">
  .0000
</td>
<td>
2012-11-08 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-08
11:05:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .7991
</td>
<td align="right">
    .7975
</td>
<td align="right">
 -.0019
</td>
<td>
2012-11-08 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-08
11:10:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .7992
</td>
<td align="right">
    .7974
</td>
<td align="right">
 -.0023
</td>
<td>
2012-11-08 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-08
11:25:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .7991
</td>
<td align="right">
    .7970
</td>
<td align="right">
 -.0026
</td>
<td>
2012-11-08 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-08
11:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .7989
</td>
<td align="right">
    .7966
</td>
<td align="right">
 -.0029
</td>
<td>
2012-11-08 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-08
10:55:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 101.6767
</td>
<td align="right">
 101.7700
</td>
<td align="right">
  .0009
</td>
<td>
2012-11-08 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-08
11:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
 101.7700
</td>
<td align="right">
 101.7947
</td>
<td align="right">
  .0002
</td>
<td>
2012-11-08 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-11-08
07:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.2769
</td>
<td align="right">
   1.2768
</td>
<td align="right">
 -.0001
</td>
<td>
2012-11-08 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-11-08
07:55:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.2768
</td>
<td align="right">
   1.2769
</td>
<td align="right">
  .0001
</td>
<td>
2012-11-08 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-11-08
08:05:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.2771
</td>
<td align="right">
   1.2770
</td>
<td align="right">
 -.0001
</td>
<td>
2012-11-08 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-11-08
08:10:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.2764
</td>
<td align="right">
   1.2769
</td>
<td align="right">
  .0004
</td>
<td>
2012-11-08 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-11-08
08:15:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.2765
</td>
<td align="right">
   1.2768
</td>
<td align="right">
  .0002
</td>
<td>
2012-11-08 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-11-08
08:20:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
   1.2762
</td>
<td align="right">
   1.2751
</td>
<td align="right">
 -.0009
</td>
<td>
2012-11-08 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-11-08
08:30:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
   1.2770
</td>
<td align="right">
   1.2730
</td>
<td align="right">
 -.0031
</td>
<td>
2012-11-08 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-11-08
08:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.2768
</td>
<td align="right">
   1.2736
</td>
<td align="right">
 -.0026
</td>
<td>
2012-11-08 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-11-08
08:55:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.2769
</td>
<td align="right">
   1.2734
</td>
<td align="right">
 -.0028
</td>
<td>
2012-11-08 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-11-08
09:30:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .9469
</td>
<td align="right">
    .9472
</td>
<td align="right">
  .0004
</td>
<td>
2012-11-08 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-11-08
09:40:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .9469
</td>
<td align="right">
    .9468
</td>
<td align="right">
 -.0002
</td>
<td>
2012-11-08 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-11-08
09:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9470
</td>
<td align="right">
    .9466
</td>
<td align="right">
 -.0004
</td>
<td>
2012-11-08 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-11-08
10:40:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .9468
</td>
<td align="right">
    .9460
</td>
<td align="right">
 -.0008
</td>
<td>
2012-11-08 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-08
11:15:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  83.1142
</td>
<td align="right">
  83.1666
</td>
<td align="right">
  .0006
</td>
<td>
2012-11-08 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-11-08
13:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.2231
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-11-08 19:20:00
</td>
</tr>
</table>
<br /><hr />