<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-11-09 19:35:00
</td>
<td align="right">
   79.14
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Mon: 2012-11-12 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-11-09 20:05:00
</td>
<td align="right">
   18.80
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-11-09 20:35:00
</td>
<td align="right">
   18.75
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2012-11-09 19:25:00
</td>
<td align="right">
   71.35
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-11-12 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2012-11-09 19:30:00
</td>
<td align="right">
   71.45
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2012-11-12 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2012-11-09 19:35:00
</td>
<td align="right">
   71.45
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Mon: 2012-11-12 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-09 19:00:00
</td>
<td align="right">
  103.95
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2012-11-12 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-09 19:15:00
</td>
<td align="right">
  104.04
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-11-12 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-09 19:20:00
</td>
<td align="right">
  104.01
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2012-11-12 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-09 19:25:00
</td>
<td align="right">
  104.09
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-11-12 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-09 19:30:00
</td>
<td align="right">
  104.11
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2012-11-12 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-09 19:35:00
</td>
<td align="right">
  104.01
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2012-11-12 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-09 20:10:00
</td>
<td align="right">
  104.00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-09 20:15:00
</td>
<td align="right">
  103.96
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-09 20:20:00
</td>
<td align="right">
  104.06
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-09 20:25:00
</td>
<td align="right">
  104.03
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-09 20:30:00
</td>
<td align="right">
  103.91
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-09 20:35:00
</td>
<td align="right">
  103.97
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-09 20:40:00
</td>
<td align="right">
  104.04
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-09 20:45:00
</td>
<td align="right">
  104.07
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-09 20:50:00
</td>
<td align="right">
  103.88
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-11-09 20:55:00
</td>
<td align="right">
  103.77
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2012-11-09 19:45:00
</td>
<td align="right">
  206.11
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .51
</td>
<td>
Mon: 2012-11-12 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2012-11-09 19:50:00
</td>
<td align="right">
  206.11
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2012-11-12 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2012-11-09 20:20:00
</td>
<td align="right">
  206.35
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2012-11-09 20:25:00
</td>
<td align="right">
  206.28
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CHK">CHK</a></td>
<td>
2012-11-09 19:10:00
</td>
<td align="right">
   17.08
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CHK">CHK</a></td>
<td>
2012-11-09 19:15:00
</td>
<td align="right">
   17.11
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CHK">CHK</a></td>
<td>
2012-11-09 19:25:00
</td>
<td align="right">
   17.13
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CHK">CHK</a></td>
<td>
2012-11-09 19:30:00
</td>
<td align="right">
   17.17
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-11-09 19:00:00
</td>
<td align="right">
   36.94
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.53
</td>
<td>
Mon: 2012-11-12 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-11-09 19:10:00
</td>
<td align="right">
   37.00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.49
</td>
<td>
Mon: 2012-11-12 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-11-09 19:15:00
</td>
<td align="right">
   37.03
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Mon: 2012-11-12 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-11-09 19:20:00
</td>
<td align="right">
   37.04
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Mon: 2012-11-12 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-11-09 19:25:00
</td>
<td align="right">
   37.14
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.64
</td>
<td>
Mon: 2012-11-12 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-11-09 19:30:00
</td>
<td align="right">
   37.08
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.59
</td>
<td>
Mon: 2012-11-12 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-11-09 19:35:00
</td>
<td align="right">
   37.11
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.81
</td>
<td>
Mon: 2012-11-12 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-11-09 19:40:00
</td>
<td align="right">
   43.50
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-11-12 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2012-11-09 20:00:00
</td>
<td align="right">
   49.05
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2012-11-09 20:05:00
</td>
<td align="right">
   49.05
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2012-11-09 20:20:00
</td>
<td align="right">
   49.06
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2012-11-09 20:40:00
</td>
<td align="right">
   49.04
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2012-11-09 19:40:00
</td>
<td align="right">
   52.83
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-11-12 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2012-11-09 20:50:00
</td>
<td align="right">
   52.77
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2012-11-09 20:55:00
</td>
<td align="right">
   52.79
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2012-11-09 19:30:00
</td>
<td align="right">
    8.92
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2012-11-09 19:35:00
</td>
<td align="right">
    8.89
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2012-11-09 19:40:00
</td>
<td align="right">
    8.89
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2012-11-09 19:50:00
</td>
<td align="right">
    8.90
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2012-11-09 19:45:00
</td>
<td align="right">
   36.56
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2012-11-09 19:40:00
</td>
<td align="right">
   47.70
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-11-12 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2012-11-09 20:10:00
</td>
<td align="right">
   47.57
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-11-09 19:05:00
</td>
<td align="right">
   65.79
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2012-11-12 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-11-09 19:10:00
</td>
<td align="right">
   65.81
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2012-11-12 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-11-09 19:20:00
</td>
<td align="right">
   65.89
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2012-11-12 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-11-09 19:30:00
</td>
<td align="right">
   65.98
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2012-11-12 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-11-09 19:35:00
</td>
<td align="right">
   65.94
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2012-11-12 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-11-09 19:45:00
</td>
<td align="right">
   65.85
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2012-11-12 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-11-09 19:50:00
</td>
<td align="right">
   65.81
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2012-11-12 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-11-09 19:55:00
</td>
<td align="right">
   65.84
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2012-11-12 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-11-09 20:00:00
</td>
<td align="right">
   65.82
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-11-09 20:10:00
</td>
<td align="right">
   65.87
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-11-09 20:20:00
</td>
<td align="right">
   65.85
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-11-09 19:20:00
</td>
<td align="right">
   65.43
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .27
</td>
<td>
Mon: 2012-11-12 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-09 19:00:00
</td>
<td align="right">
   39.11
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2012-11-12 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-09 19:10:00
</td>
<td align="right">
   39.11
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2012-11-12 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-09 19:15:00
</td>
<td align="right">
   39.11
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-11-12 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-09 19:20:00
</td>
<td align="right">
   39.10
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-11-12 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-09 19:25:00
</td>
<td align="right">
   39.14
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-11-12 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-09 19:30:00
</td>
<td align="right">
   39.17
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2012-11-12 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-09 19:35:00
</td>
<td align="right">
   39.18
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2012-11-12 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-09 19:45:00
</td>
<td align="right">
   39.11
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2012-11-12 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-09 19:50:00
</td>
<td align="right">
   39.10
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-11-12 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-09 20:05:00
</td>
<td align="right">
   39.08
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-11-09 20:35:00
</td>
<td align="right">
   39.02
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-11-09 19:20:00
</td>
<td align="right">
   49.97
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2012-11-12 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-11-09 20:40:00
</td>
<td align="right">
   50.00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-11-09 20:45:00
</td>
<td align="right">
   49.93
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-11-09 20:50:00
</td>
<td align="right">
   49.95
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-11-09 20:55:00
</td>
<td align="right">
   49.86
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-11-09 19:15:00
</td>
<td align="right">
   55.96
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-11-12 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-11-09 19:25:00
</td>
<td align="right">
   56.01
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-11-12 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-11-09 19:35:00
</td>
<td align="right">
   56.06
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Mon: 2012-11-12 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-11-09 19:40:00
</td>
<td align="right">
   56.02
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-11-12 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-11-09 19:50:00
</td>
<td align="right">
   55.85
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2012-11-12 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-11-09 20:00:00
</td>
<td align="right">
   55.91
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-11-09 20:05:00
</td>
<td align="right">
   55.89
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-11-09 20:30:00
</td>
<td align="right">
   55.88
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-11-09 20:40:00
</td>
<td align="right">
   55.95
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CELG">CELG</a></td>
<td>
2012-11-09 19:15:00
</td>
<td align="right">
   72.33
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Mon: 2012-11-12 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CELG">CELG</a></td>
<td>
2012-11-09 19:45:00
</td>
<td align="right">
   72.35
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.46
</td>
<td>
Mon: 2012-11-12 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CELG">CELG</a></td>
<td>
2012-11-09 19:50:00
</td>
<td align="right">
   72.20
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.38
</td>
<td>
Mon: 2012-11-12 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CELG">CELG</a></td>
<td>
2012-11-09 20:00:00
</td>
<td align="right">
   72.21
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CELG">CELG</a></td>
<td>
2012-11-09 20:05:00
</td>
<td align="right">
   72.19
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CELG">CELG</a></td>
<td>
2012-11-09 20:25:00
</td>
<td align="right">
   72.07
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CELG">CELG</a></td>
<td>
2012-11-09 20:30:00
</td>
<td align="right">
   71.99
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CELG">CELG</a></td>
<td>
2012-11-09 20:35:00
</td>
<td align="right">
   71.86
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CELG">CELG</a></td>
<td>
2012-11-09 20:45:00
</td>
<td align="right">
   71.89
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CELG">CELG</a></td>
<td>
2012-11-09 20:50:00
</td>
<td align="right">
   71.82
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CELG">CELG</a></td>
<td>
2012-11-09 20:55:00
</td>
<td align="right">
   71.51
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2012-11-09 20:30:00
</td>
<td align="right">
  205.87
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-09 19:05:00
</td>
<td align="right">
   84.13
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2012-11-12 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-09 19:10:00
</td>
<td align="right">
   84.21
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2012-11-12 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-09 19:20:00
</td>
<td align="right">
   84.28
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2012-11-12 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-09 19:45:00
</td>
<td align="right">
   84.56
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-11-12 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-09 20:15:00
</td>
<td align="right">
   84.28
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-11-09 20:45:00
</td>
<td align="right">
   84.49
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-11-09 19:10:00
</td>
<td align="right">
  128.00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2012-11-12 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-11-09 19:15:00
</td>
<td align="right">
  128.10
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-11-12 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-11-09 19:25:00
</td>
<td align="right">
  128.26
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-11-12 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-11-09 19:30:00
</td>
<td align="right">
  128.42
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Mon: 2012-11-12 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-11-09 20:05:00
</td>
<td align="right">
  128.07
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-11-09 20:15:00
</td>
<td align="right">
  128.02
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-11-09 20:25:00
</td>
<td align="right">
  128.20
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-11-09 20:30:00
</td>
<td align="right">
  128.06
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-11-09 20:55:00
</td>
<td align="right">
  127.97
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-09 19:00:00
</td>
<td align="right">
   24.96
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2012-11-12 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-09 19:05:00
</td>
<td align="right">
   24.83
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-11-12 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-09 19:10:00
</td>
<td align="right">
   24.83
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-11-12 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-09 19:15:00
</td>
<td align="right">
   24.87
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2012-11-12 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-09 19:20:00
</td>
<td align="right">
   24.87
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2012-11-12 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-09 19:25:00
</td>
<td align="right">
   24.86
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2012-11-12 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-09 19:30:00
</td>
<td align="right">
   24.88
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Mon: 2012-11-12 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-09 19:35:00
</td>
<td align="right">
   24.85
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.35
</td>
<td>
Mon: 2012-11-12 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-09 19:55:00
</td>
<td align="right">
   24.71
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2012-11-12 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-09 20:15:00
</td>
<td align="right">
   24.68
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-09 20:25:00
</td>
<td align="right">
   24.67
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-09 20:35:00
</td>
<td align="right">
   24.50
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-09 20:40:00
</td>
<td align="right">
   24.63
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-09 20:45:00
</td>
<td align="right">
   24.55
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-09 20:50:00
</td>
<td align="right">
   24.53
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-11-09 20:30:00
</td>
<td align="right">
   43.50
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OXY">OXY</a></td>
<td>
2012-11-09 19:30:00
</td>
<td align="right">
   77.23
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Mon: 2012-11-12 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OXY">OXY</a></td>
<td>
2012-11-09 19:50:00
</td>
<td align="right">
   77.00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2012-11-12 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OXY">OXY</a></td>
<td>
2012-11-09 20:30:00
</td>
<td align="right">
   76.89
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OXY">OXY</a></td>
<td>
2012-11-09 20:35:00
</td>
<td align="right">
   76.71
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-11-09 20:45:00
</td>
<td align="right">
   59.79
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-11-09 20:55:00
</td>
<td align="right">
   59.84
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-11-09 19:05:00
</td>
<td align="right">
   85.48
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2012-11-12 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2012-11-09 19:35:00
</td>
<td align="right">
  125.64
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Mon: 2012-11-12 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2012-11-09 19:40:00
</td>
<td align="right">
  125.62
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2012-11-12 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-09 19:00:00
</td>
<td align="right">
   52.78
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2012-11-12 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-09 19:10:00
</td>
<td align="right">
   52.83
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-11-12 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-09 19:15:00
</td>
<td align="right">
   52.83
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2012-11-12 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-09 19:20:00
</td>
<td align="right">
   52.86
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2012-11-12 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-09 19:25:00
</td>
<td align="right">
   52.86
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2012-11-12 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-09 19:35:00
</td>
<td align="right">
   52.89
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-11-12 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-09 19:40:00
</td>
<td align="right">
   52.83
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2012-11-12 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-09 19:45:00
</td>
<td align="right">
   52.79
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2012-11-12 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-09 19:50:00
</td>
<td align="right">
   52.79
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2012-11-12 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-09 20:05:00
</td>
<td align="right">
   52.86
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-09 20:30:00
</td>
<td align="right">
   52.91
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-11-09 20:35:00
</td>
<td align="right">
   52.83
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-12 20:35
</td>
</tr>
</table>
<br />