<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2012-02-28 19:45:00
</td>
<td align="right">
   33.14
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Wed: 2012-02-29 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2012-02-28 19:50:00
</td>
<td align="right">
   33.14
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-02-29 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2012-02-28 20:30:00
</td>
<td align="right">
   36.70
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-28 20:45:00
</td>
<td align="right">
  109.51
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-02-28 20:35:00
</td>
<td align="right">
   75.19
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-02-28 20:40:00
</td>
<td align="right">
   75.20
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-02-28 20:45:00
</td>
<td align="right">
   75.20
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-02-28 20:50:00
</td>
<td align="right">
   75.27
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-02-28 20:55:00
</td>
<td align="right">
   75.17
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-02-28 19:00:00
</td>
<td align="right">
   65.82
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Wed: 2012-02-29 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-02-28 20:15:00
</td>
<td align="right">
   65.62
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2012-02-28 19:00:00
</td>
<td align="right">
  615.00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .92
</td>
<td>
Wed: 2012-02-29 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2012-02-28 19:45:00
</td>
<td align="right">
  615.69
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    2.06
</td>
<td>
Wed: 2012-02-29 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2012-02-28 20:00:00
</td>
<td align="right">
  615.92
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-02-28 19:05:00
</td>
<td align="right">
  422.69
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    1.10
</td>
<td>
Wed: 2012-02-29 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-02-28 19:20:00
</td>
<td align="right">
  422.72
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    2.10
</td>
<td>
Wed: 2012-02-29 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-02-28 19:30:00
</td>
<td align="right">
  423.08
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    2.10
</td>
<td>
Wed: 2012-02-29 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-02-28 19:35:00
</td>
<td align="right">
  422.78
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    2.05
</td>
<td>
Wed: 2012-02-29 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-02-28 19:40:00
</td>
<td align="right">
  422.97
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    1.86
</td>
<td>
Wed: 2012-02-29 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-02-28 19:45:00
</td>
<td align="right">
  423.10
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Wed: 2012-02-29 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-02-28 20:00:00
</td>
<td align="right">
  424.08
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-02-28 20:05:00
</td>
<td align="right">
  423.79
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-02-28 20:10:00
</td>
<td align="right">
  424.50
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-02-28 20:15:00
</td>
<td align="right">
  424.31
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-02-28 20:45:00
</td>
<td align="right">
  422.93
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-02-28 19:40:00
</td>
<td align="right">
   58.98
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Wed: 2012-02-29 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-02-28 19:10:00
</td>
<td align="right">
  137.21
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-02-29 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-28 19:35:00
</td>
<td align="right">
   87.15
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .45
</td>
<td>
Wed: 2012-02-29 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-28 19:45:00
</td>
<td align="right">
   87.21
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .55
</td>
<td>
Wed: 2012-02-29 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-28 19:55:00
</td>
<td align="right">
   87.34
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Wed: 2012-02-29 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-02-28 20:05:00
</td>
<td align="right">
  111.94
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-02-28 20:10:00
</td>
<td align="right">
  112.05
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-02-28 20:15:00
</td>
<td align="right">
  112.17
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-28 19:00:00
</td>
<td align="right">
   99.66
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Wed: 2012-02-29 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-28 19:05:00
</td>
<td align="right">
   99.60
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Wed: 2012-02-29 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-28 19:10:00
</td>
<td align="right">
   99.53
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .42
</td>
<td>
Wed: 2012-02-29 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-28 19:15:00
</td>
<td align="right">
   99.57
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .46
</td>
<td>
Wed: 2012-02-29 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-28 19:20:00
</td>
<td align="right">
   99.61
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .45
</td>
<td>
Wed: 2012-02-29 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-28 19:25:00
</td>
<td align="right">
   99.60
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .69
</td>
<td>
Wed: 2012-02-29 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-28 19:30:00
</td>
<td align="right">
   99.70
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .51
</td>
<td>
Wed: 2012-02-29 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-28 19:35:00
</td>
<td align="right">
   99.66
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .58
</td>
<td>
Wed: 2012-02-29 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-28 19:45:00
</td>
<td align="right">
   99.77
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .52
</td>
<td>
Wed: 2012-02-29 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-28 19:55:00
</td>
<td align="right">
   99.85
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .44
</td>
<td>
Wed: 2012-02-29 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-28 20:00:00
</td>
<td align="right">
   99.88
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-28 20:10:00
</td>
<td align="right">
   99.95
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-28 20:25:00
</td>
<td align="right">
  100.29
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-28 20:30:00
</td>
<td align="right">
  100.21
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-28 20:35:00
</td>
<td align="right">
  100.24
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-28 20:40:00
</td>
<td align="right">
  100.32
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-28 20:45:00
</td>
<td align="right">
  100.29
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-28 20:50:00
</td>
<td align="right">
  100.30
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-02-28 20:55:00
</td>
<td align="right">
  100.29
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2012-02-28 20:30:00
</td>
<td align="right">
   75.68
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-02-28 19:45:00
</td>
<td align="right">
   86.86
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .39
</td>
<td>
Wed: 2012-02-29 19:45
</td>
</tr>
</table>
<br />