<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-04-17 18:35:00
</td>
<td align="right">
  103.68
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Wed: 2012-04-18 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-04-17 18:45:00
</td>
<td align="right">
  103.55
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-04-18 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-04-17 18:55:00
</td>
<td align="right">
  103.62
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2012-04-18 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-04-17 19:05:00
</td>
<td align="right">
  103.53
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-04-18 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-04-17 18:15:00
</td>
<td align="right">
  432.70
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-04-18 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-04-17 18:25:00
</td>
<td align="right">
  433.05
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Wed: 2012-04-18 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-04-17 18:40:00
</td>
<td align="right">
  433.16
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Wed: 2012-04-18 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-04-17 19:25:00
</td>
<td align="right">
   73.33
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-04-18 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-04-17 19:35:00
</td>
<td align="right">
   73.26
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-04-18 19:35
</td>
</tr>
</table>
<br />