<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AIG">AIG</a></td>
<td>
2012-01-27 19:25:00
</td>
<td align="right">
   25.25
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Mon: 2012-01-30 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2012-01-27 20:40:00
</td>
<td align="right">
   43.79
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-27 19:05:00
</td>
<td align="right">
  366.90
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    -.51
</td>
<td>
Mon: 2012-01-30 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-27 19:10:00
</td>
<td align="right">
  366.63
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2012-01-30 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-27 19:25:00
</td>
<td align="right">
  366.34
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    1.53
</td>
<td>
Mon: 2012-01-30 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-27 19:40:00
</td>
<td align="right">
  366.66
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    1.28
</td>
<td>
Mon: 2012-01-30 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-27 19:50:00
</td>
<td align="right">
  366.37
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .33
</td>
<td>
Mon: 2012-01-30 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-27 20:05:00
</td>
<td align="right">
  366.39
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-27 20:10:00
</td>
<td align="right">
  366.49
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-27 20:20:00
</td>
<td align="right">
  366.85
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-27 20:25:00
</td>
<td align="right">
  367.87
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-27 20:30:00
</td>
<td align="right">
  367.62
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-27 20:35:00
</td>
<td align="right">
  368.25
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-27 20:40:00
</td>
<td align="right">
  367.94
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-27 20:45:00
</td>
<td align="right">
  368.12
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-27 20:55:00
</td>
<td align="right">
  366.80
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-27 20:10:00
</td>
<td align="right">
   64.99
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-27 20:25:00
</td>
<td align="right">
   65.01
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-27 20:30:00
</td>
<td align="right">
   65.05
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-27 19:10:00
</td>
<td align="right">
   57.12
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2012-01-30 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-27 19:15:00
</td>
<td align="right">
   57.04
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .27
</td>
<td>
Mon: 2012-01-30 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-27 19:45:00
</td>
<td align="right">
   57.07
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-01-30 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-27 20:35:00
</td>
<td align="right">
   57.18
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-27 20:40:00
</td>
<td align="right">
   57.13
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-27 20:45:00
</td>
<td align="right">
   57.07
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-27 20:50:00
</td>
<td align="right">
   57.05
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-27 20:55:00
</td>
<td align="right">
   57.11
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-01-27 19:00:00
</td>
<td align="right">
   48.50
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2012-01-30 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-01-27 19:35:00
</td>
<td align="right">
   48.63
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2012-01-30 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-01-27 19:40:00
</td>
<td align="right">
   48.60
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2012-01-30 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-01-27 20:00:00
</td>
<td align="right">
   48.60
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-01-27 20:05:00
</td>
<td align="right">
   48.67
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-01-27 20:20:00
</td>
<td align="right">
   48.70
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-01-27 20:50:00
</td>
<td align="right">
   48.64
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-27 19:00:00
</td>
<td align="right">
  120.35
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .40
</td>
<td>
Mon: 2012-01-30 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-01-27 19:10:00
</td>
<td align="right">
  120.29
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    1.19
</td>
<td>
Mon: 2012-01-30 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-01-27 19:40:00
</td>
<td align="right">
   38.40
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2012-01-30 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-01-27 20:45:00
</td>
<td align="right">
   38.40
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-01-27 20:00:00
</td>
<td align="right">
   50.19
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-01-27 20:05:00
</td>
<td align="right">
   50.22
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-01-27 19:30:00
</td>
<td align="right">
   76.13
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2012-01-30 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-01-27 19:35:00
</td>
<td align="right">
   76.18
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2012-01-30 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-01-27 19:40:00
</td>
<td align="right">
   76.20
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2012-01-30 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-01-27 20:00:00
</td>
<td align="right">
   76.17
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-01-27 20:05:00
</td>
<td align="right">
   76.19
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-01-27 20:10:00
</td>
<td align="right">
   76.24
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-01-27 20:25:00
</td>
<td align="right">
   76.23
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-01-27 20:30:00
</td>
<td align="right">
   76.14
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-01-27 20:25:00
</td>
<td align="right">
   92.61
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-01-27 20:55:00
</td>
<td align="right">
   60.75
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-01-27 20:35:00
</td>
<td align="right">
   73.43
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-01-27 20:40:00
</td>
<td align="right">
   73.38
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-01-27 20:45:00
</td>
<td align="right">
   69.48
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-01-27 20:05:00
</td>
<td align="right">
   50.76
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-01-27 20:30:00
</td>
<td align="right">
   50.77
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-01-27 20:40:00
</td>
<td align="right">
   50.82
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-27 19:00:00
</td>
<td align="right">
  126.36
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2012-01-30 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-27 19:05:00
</td>
<td align="right">
  126.34
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2012-01-30 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-27 19:20:00
</td>
<td align="right">
  126.29
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Mon: 2012-01-30 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-27 19:40:00
</td>
<td align="right">
  126.37
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Mon: 2012-01-30 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-27 20:10:00
</td>
<td align="right">
  126.53
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-27 20:15:00
</td>
<td align="right">
  126.61
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-27 20:25:00
</td>
<td align="right">
  126.66
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-27 20:30:00
</td>
<td align="right">
  126.56
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-27 20:35:00
</td>
<td align="right">
  126.62
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DO">DO</a></td>
<td>
2012-01-27 20:50:00
</td>
<td align="right">
   62.78
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2012-01-27 20:55:00
</td>
<td align="right">
   44.36
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-01-27 19:00:00
</td>
<td align="right">
   44.35
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2012-01-30 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-01-27 19:05:00
</td>
<td align="right">
   44.17
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .56
</td>
<td>
Mon: 2012-01-30 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-01-27 19:10:00
</td>
<td align="right">
   44.14
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    1.04
</td>
<td>
Mon: 2012-01-30 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-01-27 19:20:00
</td>
<td align="right">
   44.11
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    1.69
</td>
<td>
Mon: 2012-01-30 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-01-27 19:25:00
</td>
<td align="right">
   44.20
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    1.56
</td>
<td>
Mon: 2012-01-30 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-01-27 19:30:00
</td>
<td align="right">
   44.16
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    1.46
</td>
<td>
Mon: 2012-01-30 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-01-27 19:35:00
</td>
<td align="right">
   44.20
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    1.60
</td>
<td>
Mon: 2012-01-30 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-01-27 19:40:00
</td>
<td align="right">
   44.33
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    1.44
</td>
<td>
Mon: 2012-01-30 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-01-27 19:45:00
</td>
<td align="right">
   44.45
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    1.62
</td>
<td>
Mon: 2012-01-30 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-01-27 19:50:00
</td>
<td align="right">
   44.44
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    1.36
</td>
<td>
Mon: 2012-01-30 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-01-27 20:00:00
</td>
<td align="right">
   44.48
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-01-27 20:15:00
</td>
<td align="right">
   45.60
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-01-27 20:20:00
</td>
<td align="right">
   45.80
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-01-27 20:30:00
</td>
<td align="right">
   45.62
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-01-27 20:40:00
</td>
<td align="right">
   45.77
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-01-27 20:45:00
</td>
<td align="right">
   46.07
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-01-27 20:50:00
</td>
<td align="right">
   45.80
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-01-27 20:55:00
</td>
<td align="right">
   45.54
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-01-27 19:00:00
</td>
<td align="right">
   80.19
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .42
</td>
<td>
Mon: 2012-01-30 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-01-27 19:20:00
</td>
<td align="right">
   58.79
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2012-01-30 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OXY">OXY</a></td>
<td>
2012-01-27 19:45:00
</td>
<td align="right">
  100.41
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2012-01-30 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-01-27 20:10:00
</td>
<td align="right">
   68.30
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-01-27 20:20:00
</td>
<td align="right">
   68.30
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-01-27 20:35:00
</td>
<td align="right">
   68.31
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-01-27 19:45:00
</td>
<td align="right">
   75.64
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2012-01-30 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-01-27 19:50:00
</td>
<td align="right">
   75.69
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-01-30 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-01-27 19:55:00
</td>
<td align="right">
   75.72
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2012-01-30 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2012-01-27 20:15:00
</td>
<td align="right">
   59.25
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2012-01-27 20:20:00
</td>
<td align="right">
   59.20
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2012-01-27 20:30:00
</td>
<td align="right">
   59.10
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2012-01-27 19:00:00
</td>
<td align="right">
   38.98
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-01-30 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2012-01-27 19:05:00
</td>
<td align="right">
   38.99
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2012-01-30 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=STT">STT</a></td>
<td>
2012-01-27 19:10:00
</td>
<td align="right">
   38.98
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2012-01-30 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-01-27 19:05:00
</td>
<td align="right">
   54.36
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2012-01-30 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-27 19:10:00
</td>
<td align="right">
   62.81
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2012-01-30 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-27 19:15:00
</td>
<td align="right">
   62.76
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Mon: 2012-01-30 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-27 19:20:00
</td>
<td align="right">
   62.75
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Mon: 2012-01-30 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-27 19:35:00
</td>
<td align="right">
   62.91
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2012-01-30 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-27 19:40:00
</td>
<td align="right">
   62.90
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2012-01-30 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-27 19:45:00
</td>
<td align="right">
   62.91
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2012-01-30 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-27 19:55:00
</td>
<td align="right">
   62.95
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2012-01-30 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-27 20:20:00
</td>
<td align="right">
   62.98
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-27 20:40:00
</td>
<td align="right">
   62.95
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-27 20:50:00
</td>
<td align="right">
   62.90
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-27 20:55:00
</td>
<td align="right">
   62.85
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-30 20:55
</td>
</tr>
</table>
<br />