<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-12-02 19:00:00
</td>
<td align="right">
  328.63
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    1.64
</td>
<td>
Mon: 2011-12-05 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2011-12-02 19:05:00
</td>
<td align="right">
  328.93
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    1.53
</td>
<td>
Mon: 2011-12-05 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-12-02 20:10:00
</td>
<td align="right">
   70.76
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-05 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-12-02 20:15:00
</td>
<td align="right">
   70.72
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-05 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-12-02 20:40:00
</td>
<td align="right">
   70.53
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-05 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-02 19:10:00
</td>
<td align="right">
   58.56
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-12-05 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-02 19:15:00
</td>
<td align="right">
   58.61
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-12-05 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2011-12-02 19:35:00
</td>
<td align="right">
   75.15
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Mon: 2011-12-05 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2011-12-02 19:45:00
</td>
<td align="right">
   75.26
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Mon: 2011-12-05 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2011-12-02 19:50:00
</td>
<td align="right">
   75.34
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Mon: 2011-12-05 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2011-12-02 19:55:00
</td>
<td align="right">
   75.27
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Mon: 2011-12-05 19:55
</td>
</tr>
</table>
<br />