<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-01-31 19:55:00
</td>
<td align="right">
   54.13
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2012-02-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-01-31 20:35:00
</td>
<td align="right">
   50.07
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2012-01-31 19:00:00
</td>
<td align="right">
   45.12
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2012-02-01 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2012-01-31 19:20:00
</td>
<td align="right">
   45.35
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2012-02-01 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2012-01-31 19:55:00
</td>
<td align="right">
   45.43
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Wed: 2012-02-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-31 19:05:00
</td>
<td align="right">
  367.63
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    1.19
</td>
<td>
Wed: 2012-02-01 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-31 19:15:00
</td>
<td align="right">
  368.78
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Wed: 2012-02-01 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-31 19:20:00
</td>
<td align="right">
  368.85
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.82
</td>
<td>
Wed: 2012-02-01 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-31 19:25:00
</td>
<td align="right">
  369.48
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
   -1.75
</td>
<td>
Wed: 2012-02-01 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-31 19:30:00
</td>
<td align="right">
  368.80
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
    -.89
</td>
<td>
Wed: 2012-02-01 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-31 19:40:00
</td>
<td align="right">
  367.98
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .46
</td>
<td>
Wed: 2012-02-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-31 19:50:00
</td>
<td align="right">
  367.48
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Wed: 2012-02-01 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-31 19:55:00
</td>
<td align="right">
  367.42
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Wed: 2012-02-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-31 20:00:00
</td>
<td align="right">
  367.52
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-31 20:05:00
</td>
<td align="right">
  368.82
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-31 20:10:00
</td>
<td align="right">
  368.45
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-31 20:20:00
</td>
<td align="right">
  368.03
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-31 20:25:00
</td>
<td align="right">
  367.73
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-31 20:35:00
</td>
<td align="right">
  368.45
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-31 20:40:00
</td>
<td align="right">
  368.44
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-01-31 20:50:00
</td>
<td align="right">
  367.63
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-31 19:15:00
</td>
<td align="right">
   56.44
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Wed: 2012-02-01 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-31 19:20:00
</td>
<td align="right">
   56.53
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-02-01 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-31 19:25:00
</td>
<td align="right">
   56.67
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-02-01 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-31 19:30:00
</td>
<td align="right">
   56.56
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2012-02-01 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-31 19:35:00
</td>
<td align="right">
   56.61
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Wed: 2012-02-01 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-31 19:40:00
</td>
<td align="right">
   56.56
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2012-02-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-31 19:50:00
</td>
<td align="right">
   56.76
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Wed: 2012-02-01 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-31 20:00:00
</td>
<td align="right">
   56.63
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-31 20:05:00
</td>
<td align="right">
   56.72
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-31 20:10:00
</td>
<td align="right">
   56.71
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-31 20:15:00
</td>
<td align="right">
   56.69
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-31 20:20:00
</td>
<td align="right">
   56.65
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-31 20:25:00
</td>
<td align="right">
   56.64
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-31 20:30:00
</td>
<td align="right">
   56.56
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-31 20:35:00
</td>
<td align="right">
   56.53
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-31 20:40:00
</td>
<td align="right">
   56.59
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-31 20:45:00
</td>
<td align="right">
   56.52
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-31 20:50:00
</td>
<td align="right">
   56.45
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-01-31 20:55:00
</td>
<td align="right">
   56.45
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2012-01-31 19:30:00
</td>
<td align="right">
  578.60
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.57
</td>
<td>
Wed: 2012-02-01 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2012-01-31 20:15:00
</td>
<td align="right">
  578.84
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-01-31 19:00:00
</td>
<td align="right">
   79.23
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2012-02-01 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-01-31 19:05:00
</td>
<td align="right">
   79.18
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .49
</td>
<td>
Wed: 2012-02-01 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-01-31 19:10:00
</td>
<td align="right">
   79.36
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Wed: 2012-02-01 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-01-31 19:20:00
</td>
<td align="right">
   79.62
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2012-02-01 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-01-31 19:30:00
</td>
<td align="right">
   79.64
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2012-02-01 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-01-31 19:40:00
</td>
<td align="right">
   79.64
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Wed: 2012-02-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-01-31 19:55:00
</td>
<td align="right">
   79.63
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2012-02-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-01-31 20:00:00
</td>
<td align="right">
   79.33
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-01-31 20:05:00
</td>
<td align="right">
   79.67
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-01-31 20:10:00
</td>
<td align="right">
   79.68
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-01-31 20:20:00
</td>
<td align="right">
   79.62
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-01-31 20:35:00
</td>
<td align="right">
   79.68
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-01-31 20:45:00
</td>
<td align="right">
   79.65
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-01-31 20:50:00
</td>
<td align="right">
   79.58
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-01-31 20:55:00
</td>
<td align="right">
   79.64
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-01-31 19:15:00
</td>
<td align="right">
   60.72
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Wed: 2012-02-01 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-01-31 19:20:00
</td>
<td align="right">
   60.73
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Wed: 2012-02-01 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-01-31 19:40:00
</td>
<td align="right">
   48.32
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Wed: 2012-02-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-01-31 20:20:00
</td>
<td align="right">
   48.50
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-01-31 20:55:00
</td>
<td align="right">
   48.16
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-01-31 19:25:00
</td>
<td align="right">
   79.96
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Wed: 2012-02-01 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-01-31 19:40:00
</td>
<td align="right">
   79.98
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Wed: 2012-02-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-01-31 19:45:00
</td>
<td align="right">
   80.00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Wed: 2012-02-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-01-31 19:50:00
</td>
<td align="right">
   80.03
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-02-01 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-01-31 20:00:00
</td>
<td align="right">
   80.03
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-01-31 20:05:00
</td>
<td align="right">
   80.16
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-01-31 20:15:00
</td>
<td align="right">
   80.19
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-01-31 20:40:00
</td>
<td align="right">
   80.29
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-01-31 19:00:00
</td>
<td align="right">
   49.88
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2012-02-01 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-31 19:10:00
</td>
<td align="right">
  125.82
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2012-02-01 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-31 19:20:00
</td>
<td align="right">
  125.95
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2012-02-01 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-31 19:30:00
</td>
<td align="right">
  125.97
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2012-02-01 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-31 19:35:00
</td>
<td align="right">
  125.94
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Wed: 2012-02-01 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-31 19:40:00
</td>
<td align="right">
  125.88
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2012-02-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-31 19:45:00
</td>
<td align="right">
  125.89
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Wed: 2012-02-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-31 19:50:00
</td>
<td align="right">
  125.98
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2012-02-01 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-31 20:00:00
</td>
<td align="right">
  125.88
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-31 20:10:00
</td>
<td align="right">
  126.02
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-31 20:30:00
</td>
<td align="right">
  126.03
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-31 20:50:00
</td>
<td align="right">
  125.97
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-01-31 19:05:00
</td>
<td align="right">
   48.94
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-02-01 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-01-31 19:00:00
</td>
<td align="right">
   74.57
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Wed: 2012-02-01 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-01-31 19:25:00
</td>
<td align="right">
   74.76
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-02-01 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-01-31 19:30:00
</td>
<td align="right">
   74.76
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2012-02-01 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2012-01-31 19:40:00
</td>
<td align="right">
   57.18
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2012-02-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2012-01-31 19:45:00
</td>
<td align="right">
   57.18
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2012-02-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SNDK">SNDK</a></td>
<td>
2012-01-31 19:40:00
</td>
<td align="right">
   45.87
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2012-02-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SNDK">SNDK</a></td>
<td>
2012-01-31 20:30:00
</td>
<td align="right">
   45.75
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SNDK">SNDK</a></td>
<td>
2012-01-31 20:40:00
</td>
<td align="right">
   45.86
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SNDK">SNDK</a></td>
<td>
2012-01-31 20:45:00
</td>
<td align="right">
   45.92
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WFM">WFM</a></td>
<td>
2012-01-31 19:20:00
</td>
<td align="right">
   74.05
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Wed: 2012-02-01 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-01-31 19:00:00
</td>
<td align="right">
   53.73
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Wed: 2012-02-01 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-01-31 19:05:00
</td>
<td align="right">
   53.76
</td>
<td align="right">
  .91
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Wed: 2012-02-01 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-01-31 19:10:00
</td>
<td align="right">
   53.79
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Wed: 2012-02-01 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-01-31 19:15:00
</td>
<td align="right">
   53.83
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.35
</td>
<td>
Wed: 2012-02-01 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-01-31 19:20:00
</td>
<td align="right">
   53.93
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.39
</td>
<td>
Wed: 2012-02-01 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-01-31 19:40:00
</td>
<td align="right">
   54.05
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Wed: 2012-02-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-01-31 19:50:00
</td>
<td align="right">
   53.72
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .61
</td>
<td>
Wed: 2012-02-01 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-01-31 19:55:00
</td>
<td align="right">
   53.70
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
     .60
</td>
<td>
Wed: 2012-02-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-01-31 20:00:00
</td>
<td align="right">
   53.54
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-01-31 20:05:00
</td>
<td align="right">
   53.58
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-01-31 20:10:00
</td>
<td align="right">
   53.58
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-01-31 20:15:00
</td>
<td align="right">
   53.48
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-01-31 20:25:00
</td>
<td align="right">
   53.57
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-31 19:05:00
</td>
<td align="right">
   63.26
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Wed: 2012-02-01 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-31 19:35:00
</td>
<td align="right">
   63.33
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-02-01 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-31 20:00:00
</td>
<td align="right">
   63.24
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-01-31 20:20:00
</td>
<td align="right">
   63.25
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:20
</td>
</tr>
</table>
<br />