<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-01-11 19:25:00
</td>
<td align="right">
  111.25
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2012-01-12 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-01-11 19:00:00
</td>
<td align="right">
  178.82
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Thu: 2012-01-12 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-01-11 19:05:00
</td>
<td align="right">
  179.01
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2012-01-12 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-01-11 20:25:00
</td>
<td align="right">
   53.06
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-01-12 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-11 19:10:00
</td>
<td align="right">
   99.21
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.37
</td>
<td>
Thu: 2012-01-12 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-11 19:25:00
</td>
<td align="right">
   99.06
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2012-01-12 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-01-11 19:30:00
</td>
<td align="right">
   98.94
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Thu: 2012-01-12 19:30
</td>
</tr>
</table>
<br />