<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-23 18:45:00
</td>
<td align="right">
   34.26
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-04-24 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-23 18:50:00
</td>
<td align="right">
   34.27
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-04-24 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-23 18:55:00
</td>
<td align="right">
   34.22
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Tue: 2012-04-24 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-23 19:00:00
</td>
<td align="right">
   34.25
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-23 19:05:00
</td>
<td align="right">
   34.19
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-23 19:10:00
</td>
<td align="right">
   34.23
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-23 19:15:00
</td>
<td align="right">
   34.24
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-23 19:20:00
</td>
<td align="right">
   34.23
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-23 19:25:00
</td>
<td align="right">
   34.29
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 18:05:00
</td>
<td align="right">
   64.88
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-04-24 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 18:10:00
</td>
<td align="right">
   64.97
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-04-24 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 18:15:00
</td>
<td align="right">
   65.01
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2012-04-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 18:20:00
</td>
<td align="right">
   65.09
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2012-04-24 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 18:25:00
</td>
<td align="right">
   65.09
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-04-24 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 18:30:00
</td>
<td align="right">
   65.13
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-04-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 18:35:00
</td>
<td align="right">
   65.14
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-04-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 18:40:00
</td>
<td align="right">
   65.07
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-04-24 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 18:45:00
</td>
<td align="right">
   65.02
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-04-24 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 18:50:00
</td>
<td align="right">
   65.04
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-04-24 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 18:55:00
</td>
<td align="right">
   64.96
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-04-24 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 19:00:00
</td>
<td align="right">
   64.97
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 19:05:00
</td>
<td align="right">
   65.01
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 19:10:00
</td>
<td align="right">
   65.06
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 19:15:00
</td>
<td align="right">
   65.12
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 19:20:00
</td>
<td align="right">
   65.02
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 19:25:00
</td>
<td align="right">
   65.12
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 19:30:00
</td>
<td align="right">
   65.10
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 19:35:00
</td>
<td align="right">
   65.12
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 19:40:00
</td>
<td align="right">
   65.11
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 19:45:00
</td>
<td align="right">
   65.11
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 19:50:00
</td>
<td align="right">
   65.13
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-04-23 19:55:00
</td>
<td align="right">
   65.10
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2012-04-23 18:00:00
</td>
<td align="right">
   41.85
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-04-24 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2012-04-23 18:05:00
</td>
<td align="right">
   41.86
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2012-04-24 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2012-04-23 18:10:00
</td>
<td align="right">
   41.87
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2012-04-24 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CELG">CELG</a></td>
<td>
2012-04-23 19:25:00
</td>
<td align="right">
   77.51
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 18:10:00
</td>
<td align="right">
   86.60
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-04-24 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 18:15:00
</td>
<td align="right">
   86.60
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2012-04-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 18:20:00
</td>
<td align="right">
   86.69
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-04-24 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 18:25:00
</td>
<td align="right">
   86.63
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2012-04-24 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 18:30:00
</td>
<td align="right">
   86.72
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-04-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 18:35:00
</td>
<td align="right">
   86.65
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-04-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 18:40:00
</td>
<td align="right">
   86.69
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-04-24 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 18:45:00
</td>
<td align="right">
   86.62
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-04-24 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 18:50:00
</td>
<td align="right">
   86.67
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-04-24 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 18:55:00
</td>
<td align="right">
   86.65
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-04-24 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 19:00:00
</td>
<td align="right">
   86.66
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 19:05:00
</td>
<td align="right">
   86.60
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 19:10:00
</td>
<td align="right">
   86.64
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 19:15:00
</td>
<td align="right">
   86.71
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 19:20:00
</td>
<td align="right">
   86.68
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 19:25:00
</td>
<td align="right">
   86.74
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 19:30:00
</td>
<td align="right">
   86.70
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 19:35:00
</td>
<td align="right">
   86.74
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 19:40:00
</td>
<td align="right">
   86.68
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 19:45:00
</td>
<td align="right">
   86.64
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 19:50:00
</td>
<td align="right">
   86.65
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COST">COST</a></td>
<td>
2012-04-23 19:55:00
</td>
<td align="right">
   86.62
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-04-23 18:00:00
</td>
<td align="right">
  153.95
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .60
</td>
<td>
Tue: 2012-04-24 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-04-23 18:30:00
</td>
<td align="right">
   51.89
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-04-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-04-23 18:35:00
</td>
<td align="right">
   51.92
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-04-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-04-23 18:40:00
</td>
<td align="right">
   51.92
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2012-04-24 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-04-23 19:25:00
</td>
<td align="right">
   79.05
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-04-23 19:35:00
</td>
<td align="right">
   79.06
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-04-23 19:50:00
</td>
<td align="right">
   79.10
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-04-23 19:55:00
</td>
<td align="right">
   79.11
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-04-23 18:00:00
</td>
<td align="right">
   71.55
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2012-04-24 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-04-23 18:05:00
</td>
<td align="right">
   71.46
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Tue: 2012-04-24 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-04-23 18:10:00
</td>
<td align="right">
   71.61
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-04-24 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-04-23 18:15:00
</td>
<td align="right">
   71.71
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2012-04-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-04-23 18:20:00
</td>
<td align="right">
   71.88
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2012-04-24 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 18:00:00
</td>
<td align="right">
   38.65
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-04-24 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 18:05:00
</td>
<td align="right">
   38.61
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-04-24 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 18:10:00
</td>
<td align="right">
   38.65
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-04-24 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 18:15:00
</td>
<td align="right">
   38.66
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-04-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 18:20:00
</td>
<td align="right">
   38.72
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-04-24 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 18:25:00
</td>
<td align="right">
   38.66
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-04-24 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 18:30:00
</td>
<td align="right">
   38.73
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-04-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 18:35:00
</td>
<td align="right">
   38.73
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-04-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 18:40:00
</td>
<td align="right">
   38.72
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2012-04-24 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 18:45:00
</td>
<td align="right">
   38.70
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2012-04-24 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 18:50:00
</td>
<td align="right">
   38.68
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Tue: 2012-04-24 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 18:55:00
</td>
<td align="right">
   38.65
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Tue: 2012-04-24 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 19:00:00
</td>
<td align="right">
   38.69
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 19:05:00
</td>
<td align="right">
   38.67
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 19:10:00
</td>
<td align="right">
   38.66
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 19:15:00
</td>
<td align="right">
   38.68
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 19:20:00
</td>
<td align="right">
   38.70
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 19:25:00
</td>
<td align="right">
   38.72
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 19:30:00
</td>
<td align="right">
   38.76
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 19:35:00
</td>
<td align="right">
   38.79
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 19:40:00
</td>
<td align="right">
   38.82
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 19:45:00
</td>
<td align="right">
   38.81
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 19:50:00
</td>
<td align="right">
   38.88
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-23 19:55:00
</td>
<td align="right">
   38.91
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-04-23 18:35:00
</td>
<td align="right">
   66.22
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-04-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-04-23 18:40:00
</td>
<td align="right">
   66.22
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-04-24 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-04-23 19:20:00
</td>
<td align="right">
   66.21
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-04-23 19:25:00
</td>
<td align="right">
   66.24
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-04-23 19:30:00
</td>
<td align="right">
   66.29
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-04-23 19:35:00
</td>
<td align="right">
   66.29
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-04-23 19:40:00
</td>
<td align="right">
   66.26
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-04-23 19:45:00
</td>
<td align="right">
   66.20
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RTN">RTN</a></td>
<td>
2012-04-23 18:15:00
</td>
<td align="right">
   52.67
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2012-04-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RTN">RTN</a></td>
<td>
2012-04-23 18:40:00
</td>
<td align="right">
   52.65
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-04-24 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RTN">RTN</a></td>
<td>
2012-04-23 19:25:00
</td>
<td align="right">
   52.65
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RTN">RTN</a></td>
<td>
2012-04-23 19:35:00
</td>
<td align="right">
   52.66
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RTN">RTN</a></td>
<td>
2012-04-23 19:40:00
</td>
<td align="right">
   52.70
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RTN">RTN</a></td>
<td>
2012-04-23 19:45:00
</td>
<td align="right">
   52.70
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 18:00:00
</td>
<td align="right">
   31.88
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-04-24 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 18:10:00
</td>
<td align="right">
   31.88
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-04-24 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 18:15:00
</td>
<td align="right">
   31.95
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-04-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 18:20:00
</td>
<td align="right">
   31.96
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-04-24 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 18:25:00
</td>
<td align="right">
   31.90
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-04-24 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 18:30:00
</td>
<td align="right">
   31.92
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-04-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 18:35:00
</td>
<td align="right">
   31.91
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2012-04-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 18:40:00
</td>
<td align="right">
   31.94
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-04-24 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 18:45:00
</td>
<td align="right">
   31.89
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-04-24 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 18:50:00
</td>
<td align="right">
   31.97
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-04-24 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 18:55:00
</td>
<td align="right">
   31.96
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2012-04-24 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 19:00:00
</td>
<td align="right">
   31.92
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 19:05:00
</td>
<td align="right">
   31.90
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 19:10:00
</td>
<td align="right">
   31.94
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 19:15:00
</td>
<td align="right">
   31.96
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 19:20:00
</td>
<td align="right">
   31.90
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 19:25:00
</td>
<td align="right">
   31.96
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 19:30:00
</td>
<td align="right">
   31.95
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 19:35:00
</td>
<td align="right">
   31.99
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 19:40:00
</td>
<td align="right">
   31.99
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 19:45:00
</td>
<td align="right">
   31.93
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 19:50:00
</td>
<td align="right">
   31.91
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-04-23 19:55:00
</td>
<td align="right">
   31.89
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-23 18:00:00
</td>
<td align="right">
  107.66
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
    -.55
</td>
<td>
Tue: 2012-04-24 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-23 18:05:00
</td>
<td align="right">
  107.39
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Tue: 2012-04-24 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-23 18:10:00
</td>
<td align="right">
  107.39
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2012-04-24 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-23 18:15:00
</td>
<td align="right">
  107.27
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-04-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-23 18:20:00
</td>
<td align="right">
  107.25
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-04-24 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-23 18:25:00
</td>
<td align="right">
  107.30
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
     .40
</td>
<td>
Tue: 2012-04-24 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-23 18:30:00
</td>
<td align="right">
  107.24
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Tue: 2012-04-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-23 18:35:00
</td>
<td align="right">
  107.47
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-04-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-23 18:40:00
</td>
<td align="right">
  107.24
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
     .37
</td>
<td>
Tue: 2012-04-24 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-23 18:45:00
</td>
<td align="right">
  107.18
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
Tue: 2012-04-24 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-23 18:50:00
</td>
<td align="right">
  107.18
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
Tue: 2012-04-24 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-23 18:55:00
</td>
<td align="right">
  107.10
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
     .42
</td>
<td>
Tue: 2012-04-24 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-23 19:00:00
</td>
<td align="right">
  107.11
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-23 19:05:00
</td>
<td align="right">
  107.03
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-23 19:10:00
</td>
<td align="right">
  107.18
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-23 19:15:00
</td>
<td align="right">
  107.40
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-23 19:20:00
</td>
<td align="right">
  107.27
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-23 19:25:00
</td>
<td align="right">
  107.70
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-23 19:30:00
</td>
<td align="right">
  107.48
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-23 19:35:00
</td>
<td align="right">
  107.47
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-23 19:40:00
</td>
<td align="right">
  107.61
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-04-24 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-04-23 18:20:00
</td>
<td align="right">
  125.44
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Tue: 2012-04-24 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-04-23 18:25:00
</td>
<td align="right">
  125.41
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-04-24 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-04-23 18:30:00
</td>
<td align="right">
  125.44
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-04-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-04-23 18:35:00
</td>
<td align="right">
  125.43
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-04-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2012-04-23 18:40:00
</td>
<td align="right">
  125.25
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Tue: 2012-04-24 18:40
</td>
</tr>
</table>
<br />