<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-27 19:00:00
</td>
<td align="right">
   41.09
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-12-28 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-27 19:05:00
</td>
<td align="right">
   41.10
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2011-12-28 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-27 19:10:00
</td>
<td align="right">
   41.09
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-12-28 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-27 19:15:00
</td>
<td align="right">
   41.09
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-12-28 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-27 19:20:00
</td>
<td align="right">
   41.09
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-12-28 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-27 19:25:00
</td>
<td align="right">
   41.03
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Wed: 2011-12-28 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 19:00:00
</td>
<td align="right">
    6.20
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-12-28 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 19:05:00
</td>
<td align="right">
    6.19
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-12-28 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 19:10:00
</td>
<td align="right">
    6.20
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2011-12-28 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 19:15:00
</td>
<td align="right">
    6.19
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2011-12-28 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 19:20:00
</td>
<td align="right">
    6.19
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2011-12-28 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 19:25:00
</td>
<td align="right">
    6.17
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-12-28 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 19:30:00
</td>
<td align="right">
    6.17
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-12-28 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 19:35:00
</td>
<td align="right">
    6.17
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-12-28 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 19:40:00
</td>
<td align="right">
    6.19
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2011-12-28 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 19:45:00
</td>
<td align="right">
    6.20
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2011-12-28 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 19:50:00
</td>
<td align="right">
    6.19
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2011-12-28 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 19:55:00
</td>
<td align="right">
    6.19
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-12-28 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 20:00:00
</td>
<td align="right">
    6.19
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 20:05:00
</td>
<td align="right">
    6.18
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 20:10:00
</td>
<td align="right">
    6.17
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 20:15:00
</td>
<td align="right">
    6.16
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 20:20:00
</td>
<td align="right">
    6.16
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 20:25:00
</td>
<td align="right">
    6.16
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 20:30:00
</td>
<td align="right">
    6.16
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 20:35:00
</td>
<td align="right">
    6.15
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 20:40:00
</td>
<td align="right">
    6.15
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 20:45:00
</td>
<td align="right">
    6.20
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 20:50:00
</td>
<td align="right">
    6.16
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-27 20:55:00
</td>
<td align="right">
    6.18
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2011-12-27 20:35:00
</td>
<td align="right">
   91.68
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CAT">CAT</a></td>
<td>
2011-12-27 20:40:00
</td>
<td align="right">
   91.73
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-12-27 19:40:00
</td>
<td align="right">
   42.60
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Wed: 2011-12-28 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-12-27 19:45:00
</td>
<td align="right">
   42.60
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-12-28 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-12-27 19:55:00
</td>
<td align="right">
   42.57
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2011-12-28 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-12-27 20:00:00
</td>
<td align="right">
   42.58
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Wed: 2011-12-28 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-12-27 20:05:00
</td>
<td align="right">
   42.64
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.41
</td>
<td>
Wed: 2011-12-28 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-12-27 20:10:00
</td>
<td align="right">
   42.61
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Wed: 2011-12-28 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-12-27 20:15:00
</td>
<td align="right">
   42.59
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.49
</td>
<td>
Wed: 2011-12-28 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-12-27 20:20:00
</td>
<td align="right">
   42.54
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.51
</td>
<td>
Wed: 2011-12-28 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-12-27 20:25:00
</td>
<td align="right">
   42.57
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.48
</td>
<td>
Wed: 2011-12-28 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-12-27 20:35:00
</td>
<td align="right">
   42.50
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Wed: 2011-12-28 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-12-27 20:50:00
</td>
<td align="right">
   42.53
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.53
</td>
<td>
Wed: 2011-12-28 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2011-12-27 20:55:00
</td>
<td align="right">
   42.50
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.58
</td>
<td>
Wed: 2011-12-28 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-27 19:00:00
</td>
<td align="right">
    9.50
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2011-12-28 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-27 19:05:00
</td>
<td align="right">
    9.49
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2011-12-28 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-27 19:10:00
</td>
<td align="right">
    9.48
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2011-12-28 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-27 19:15:00
</td>
<td align="right">
    9.47
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2011-12-28 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-27 19:20:00
</td>
<td align="right">
    9.47
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2011-12-28 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-27 19:25:00
</td>
<td align="right">
    9.45
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-12-28 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-27 19:40:00
</td>
<td align="right">
    9.45
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2011-12-28 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-27 19:45:00
</td>
<td align="right">
    9.45
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-12-28 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-27 19:50:00
</td>
<td align="right">
    9.45
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-12-28 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-27 19:55:00
</td>
<td align="right">
    9.45
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-12-28 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-27 20:05:00
</td>
<td align="right">
    9.46
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-27 20:10:00
</td>
<td align="right">
    9.45
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-27 20:25:00
</td>
<td align="right">
    9.43
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-27 20:35:00
</td>
<td align="right">
    9.41
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-27 20:40:00
</td>
<td align="right">
    9.42
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-12-27 19:00:00
</td>
<td align="right">
   35.19
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2011-12-28 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-12-27 19:10:00
</td>
<td align="right">
   75.10
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2011-12-28 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-12-27 19:45:00
</td>
<td align="right">
   75.07
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Wed: 2011-12-28 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2011-12-27 20:05:00
</td>
<td align="right">
   75.11
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WFC">WFC</a></td>
<td>
2011-12-27 20:00:00
</td>
<td align="right">
   27.69
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WFM">WFM</a></td>
<td>
2011-12-27 20:20:00
</td>
<td align="right">
   68.88
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WFM">WFM</a></td>
<td>
2011-12-27 20:30:00
</td>
<td align="right">
   68.94
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WFM">WFM</a></td>
<td>
2011-12-27 20:35:00
</td>
<td align="right">
   68.93
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WFM">WFM</a></td>
<td>
2011-12-27 20:40:00
</td>
<td align="right">
   69.06
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WFM">WFM</a></td>
<td>
2011-12-27 20:45:00
</td>
<td align="right">
   69.14
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WFM">WFM</a></td>
<td>
2011-12-27 20:50:00
</td>
<td align="right">
   69.20
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WFM">WFM</a></td>
<td>
2011-12-27 20:55:00
</td>
<td align="right">
   68.93
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2011-12-28 20:55
</td>
</tr>
</table>
<br />