<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-11-17 19:05:00
</td>
<td align="right">
  130.86
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.56
</td>
<td>
Fri: 2011-11-18 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-11-17 19:10:00
</td>
<td align="right">
  130.98
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.45
</td>
<td>
Fri: 2011-11-18 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-11-17 19:30:00
</td>
<td align="right">
  130.99
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Fri: 2011-11-18 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-11-17 19:35:00
</td>
<td align="right">
  130.93
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Fri: 2011-11-18 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-11-17 19:40:00
</td>
<td align="right">
  131.22
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Fri: 2011-11-18 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-11-17 19:50:00
</td>
<td align="right">
  130.98
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Fri: 2011-11-18 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-11-17 20:10:00
</td>
<td align="right">
  130.53
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-18 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-11-17 20:55:00
</td>
<td align="right">
  131.10
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-18 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-11-17 19:45:00
</td>
<td align="right">
  106.61
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2011-11-18 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-11-17 19:50:00
</td>
<td align="right">
  106.68
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Fri: 2011-11-18 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-11-17 19:55:00
</td>
<td align="right">
  106.60
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .49
</td>
<td>
Fri: 2011-11-18 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-11-17 20:20:00
</td>
<td align="right">
  106.66
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-18 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2011-11-17 20:45:00
</td>
<td align="right">
  106.64
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-18 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-11-17 19:35:00
</td>
<td align="right">
   51.20
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.63
</td>
<td>
Fri: 2011-11-18 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-11-17 19:45:00
</td>
<td align="right">
   51.21
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.53
</td>
<td>
Fri: 2011-11-18 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-11-17 19:05:00
</td>
<td align="right">
   38.06
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2011-11-18 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-11-17 19:35:00
</td>
<td align="right">
   37.93
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Fri: 2011-11-18 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-11-17 19:40:00
</td>
<td align="right">
   38.03
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Fri: 2011-11-18 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2011-11-17 19:05:00
</td>
<td align="right">
   72.19
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Fri: 2011-11-18 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-11-17 19:05:00
</td>
<td align="right">
   43.13
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Fri: 2011-11-18 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-11-17 19:10:00
</td>
<td align="right">
   43.18
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Fri: 2011-11-18 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-11-17 19:30:00
</td>
<td align="right">
   42.86
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Fri: 2011-11-18 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-11-17 19:40:00
</td>
<td align="right">
   42.91
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Fri: 2011-11-18 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-11-17 19:55:00
</td>
<td align="right">
   43.15
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Fri: 2011-11-18 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-11-17 20:00:00
</td>
<td align="right">
   43.10
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-18 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-11-17 20:10:00
</td>
<td align="right">
   42.91
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-18 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-11-17 20:15:00
</td>
<td align="right">
   42.86
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-18 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-11-17 20:20:00
</td>
<td align="right">
   42.98
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-18 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-11-17 20:25:00
</td>
<td align="right">
   42.71
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-18 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-11-17 20:40:00
</td>
<td align="right">
   42.50
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-18 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-11-17 20:45:00
</td>
<td align="right">
   42.63
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-18 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-11-17 20:55:00
</td>
<td align="right">
   42.88
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-18 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-11-17 19:00:00
</td>
<td align="right">
   55.66
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2011-11-18 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-11-17 19:10:00
</td>
<td align="right">
   55.71
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Fri: 2011-11-18 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-11-17 19:15:00
</td>
<td align="right">
   55.67
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Fri: 2011-11-18 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-11-17 19:25:00
</td>
<td align="right">
   55.70
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Fri: 2011-11-18 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-11-17 19:30:00
</td>
<td align="right">
   55.71
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Fri: 2011-11-18 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-11-17 19:35:00
</td>
<td align="right">
   55.68
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Fri: 2011-11-18 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-11-17 19:45:00
</td>
<td align="right">
   55.86
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Fri: 2011-11-18 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-11-17 19:50:00
</td>
<td align="right">
   55.85
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Fri: 2011-11-18 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-11-17 19:55:00
</td>
<td align="right">
   55.80
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Fri: 2011-11-18 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-11-17 20:05:00
</td>
<td align="right">
   55.72
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-18 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-11-17 20:10:00
</td>
<td align="right">
   55.67
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-18 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-11-17 20:30:00
</td>
<td align="right">
   55.70
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-18 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-11-17 20:35:00
</td>
<td align="right">
   55.61
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-18 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2011-11-17 20:40:00
</td>
<td align="right">
   55.60
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-18 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-11-17 20:10:00
</td>
<td align="right">
   68.32
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-18 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-11-17 20:15:00
</td>
<td align="right">
   68.31
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-18 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-11-17 19:20:00
</td>
<td align="right">
   46.67
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Fri: 2011-11-18 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-11-17 19:25:00
</td>
<td align="right">
   46.66
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Fri: 2011-11-18 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-11-17 19:30:00
</td>
<td align="right">
   46.75
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Fri: 2011-11-18 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-11-17 19:45:00
</td>
<td align="right">
   46.72
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Fri: 2011-11-18 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-11-17 19:55:00
</td>
<td align="right">
   46.54
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Fri: 2011-11-18 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-11-17 20:35:00
</td>
<td align="right">
   46.32
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-18 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-11-17 20:40:00
</td>
<td align="right">
   46.33
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2011-11-18 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-11-17 19:00:00
</td>
<td align="right">
   50.73
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2011-11-18 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-11-17 19:05:00
</td>
<td align="right">
   50.69
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Fri: 2011-11-18 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2011-11-17 19:10:00
</td>
<td align="right">
   50.57
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2011-11-18 19:10
</td>
</tr>
</table>
<br />