<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2011-12-16 19:10:00
</td>
<td align="right">
   54.73
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-12-19 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2011-12-16 20:35:00
</td>
<td align="right">
   54.72
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2011-12-16 19:55:00
</td>
<td align="right">
   40.95
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-12-19 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-12-16 19:05:00
</td>
<td align="right">
   30.11
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2011-12-19 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-12-16 19:15:00
</td>
<td align="right">
   30.13
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2011-12-19 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-12-16 19:20:00
</td>
<td align="right">
   30.11
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-12-19 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-12-16 19:40:00
</td>
<td align="right">
   30.14
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-12-19 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-12-16 20:00:00
</td>
<td align="right">
   30.12
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-12-16 20:05:00
</td>
<td align="right">
   30.11
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-12-16 20:35:00
</td>
<td align="right">
   30.14
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-12-16 20:40:00
</td>
<td align="right">
   30.10
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-12-16 20:50:00
</td>
<td align="right">
   30.16
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-12-16 20:55:00
</td>
<td align="right">
   30.19
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-12-16 20:05:00
</td>
<td align="right">
   65.94
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2011-12-16 20:10:00
</td>
<td align="right">
   66.06
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-12-16 19:10:00
</td>
<td align="right">
   58.29
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-12-19 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-12-16 20:15:00
</td>
<td align="right">
   58.25
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-12-16 19:15:00
</td>
<td align="right">
  625.44
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Mon: 2011-12-19 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-12-16 19:20:00
</td>
<td align="right">
  625.06
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Mon: 2011-12-19 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-12-16 19:30:00
</td>
<td align="right">
  625.34
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2011-12-19 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HPQ">HPQ</a></td>
<td>
2011-12-16 19:55:00
</td>
<td align="right">
   26.07
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2011-12-19 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HPQ">HPQ</a></td>
<td>
2011-12-16 20:00:00
</td>
<td align="right">
   26.03
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HPQ">HPQ</a></td>
<td>
2011-12-16 20:10:00
</td>
<td align="right">
   26.07
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HPQ">HPQ</a></td>
<td>
2011-12-16 20:15:00
</td>
<td align="right">
   26.05
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HPQ">HPQ</a></td>
<td>
2011-12-16 20:20:00
</td>
<td align="right">
   25.98
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HPQ">HPQ</a></td>
<td>
2011-12-16 20:25:00
</td>
<td align="right">
   25.97
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HPQ">HPQ</a></td>
<td>
2011-12-16 20:40:00
</td>
<td align="right">
   25.94
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HPQ">HPQ</a></td>
<td>
2011-12-16 20:45:00
</td>
<td align="right">
   25.97
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2011-12-16 19:00:00
</td>
<td align="right">
   32.58
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-12-19 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2011-12-16 19:10:00
</td>
<td align="right">
   32.75
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2011-12-19 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2011-12-16 19:15:00
</td>
<td align="right">
   32.64
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-12-19 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2011-12-16 19:20:00
</td>
<td align="right">
   32.58
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2011-12-19 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2011-12-16 19:30:00
</td>
<td align="right">
   32.60
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2011-12-19 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2011-12-16 20:10:00
</td>
<td align="right">
   32.63
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2011-12-16 20:15:00
</td>
<td align="right">
   32.60
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2011-12-16 20:30:00
</td>
<td align="right">
   32.59
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2011-12-16 20:50:00
</td>
<td align="right">
   32.66
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2011-12-16 20:55:00
</td>
<td align="right">
   32.62
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JNJ">JNJ</a></td>
<td>
2011-12-16 19:10:00
</td>
<td align="right">
   63.77
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2011-12-19 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JNJ">JNJ</a></td>
<td>
2011-12-16 19:25:00
</td>
<td align="right">
   63.70
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2011-12-19 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JNJ">JNJ</a></td>
<td>
2011-12-16 19:30:00
</td>
<td align="right">
   63.68
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2011-12-19 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JNJ">JNJ</a></td>
<td>
2011-12-16 19:55:00
</td>
<td align="right">
   63.70
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2011-12-19 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JNJ">JNJ</a></td>
<td>
2011-12-16 20:00:00
</td>
<td align="right">
   63.74
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JNJ">JNJ</a></td>
<td>
2011-12-16 20:20:00
</td>
<td align="right">
   63.78
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-12-16 20:40:00
</td>
<td align="right">
   48.74
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2011-12-16 19:30:00
</td>
<td align="right">
   58.15
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2011-12-19 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=X">X</a></td>
<td>
2011-12-16 20:30:00
</td>
<td align="right">
   25.80
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-12-16 19:15:00
</td>
<td align="right">
   80.17
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2011-12-19 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-12-16 19:25:00
</td>
<td align="right">
   80.15
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2011-12-19 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-12-16 20:05:00
</td>
<td align="right">
   80.17
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-12-16 20:20:00
</td>
<td align="right">
   80.14
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-12-16 20:25:00
</td>
<td align="right">
   80.20
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2011-12-16 20:55:00
</td>
<td align="right">
   80.21
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2011-12-19 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2011-12-16 19:25:00
</td>
<td align="right">
   57.74
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2011-12-19 19:25
</td>
</tr>
</table>
<br />