<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-07 19:00:00
</td>
<td align="right">
  106.57
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Fri: 2013-02-08 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-07 19:05:00
</td>
<td align="right">
  106.46
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .43
</td>
<td>
Fri: 2013-02-08 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-07 19:20:00
</td>
<td align="right">
  106.29
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .37
</td>
<td>
Fri: 2013-02-08 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-07 19:25:00
</td>
<td align="right">
  106.37
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Fri: 2013-02-08 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-07 19:50:00
</td>
<td align="right">
  106.49
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
Fri: 2013-02-08 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-07 20:00:00
</td>
<td align="right">
  106.75
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2013-02-08 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2013-02-07 20:25:00
</td>
<td align="right">
  106.63
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2013-02-08 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-07 19:00:00
</td>
<td align="right">
  155.20
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2013-02-08 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-07 19:05:00
</td>
<td align="right">
  154.98
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
     .43
</td>
<td>
Fri: 2013-02-08 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-07 19:10:00
</td>
<td align="right">
  155.00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2013-02-08 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-07 19:15:00
</td>
<td align="right">
  154.86
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Fri: 2013-02-08 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-07 19:25:00
</td>
<td align="right">
  154.96
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Fri: 2013-02-08 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-07 19:30:00
</td>
<td align="right">
  154.93
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2013-02-08 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-07 19:35:00
</td>
<td align="right">
  154.88
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2013-02-08 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-07 19:40:00
</td>
<td align="right">
  154.89
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Fri: 2013-02-08 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-07 19:45:00
</td>
<td align="right">
  154.99
</td>
<td align="right">
  .94
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Fri: 2013-02-08 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-07 19:50:00
</td>
<td align="right">
  154.99
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2013-02-08 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-07 20:00:00
</td>
<td align="right">
  155.22
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2013-02-08 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-07 20:05:00
</td>
<td align="right">
  155.41
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2013-02-08 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-07 20:10:00
</td>
<td align="right">
  155.02
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2013-02-08 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-07 20:15:00
</td>
<td align="right">
  155.15
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2013-02-08 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-07 20:20:00
</td>
<td align="right">
  155.10
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2013-02-08 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-07 20:30:00
</td>
<td align="right">
  154.96
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2013-02-08 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-07 20:45:00
</td>
<td align="right">
  154.99
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2013-02-08 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-07 20:50:00
</td>
<td align="right">
  155.05
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2013-02-08 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2013-02-07 20:55:00
</td>
<td align="right">
  155.20
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2013-02-08 20:55
</td>
</tr>
</table>
<br />