<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-04-20 19:40:00
</td>
<td align="right">
   59.84
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-04-20 19:50:00
</td>
<td align="right">
   59.84
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2012-04-20 18:10:00
</td>
<td align="right">
    9.57
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-04-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2012-04-20 18:15:00
</td>
<td align="right">
    9.57
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2012-04-23 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2012-04-20 18:20:00
</td>
<td align="right">
    9.55
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-04-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2012-04-20 19:20:00
</td>
<td align="right">
    9.47
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2012-04-20 19:30:00
</td>
<td align="right">
    9.45
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2012-04-20 19:50:00
</td>
<td align="right">
    9.42
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2012-04-20 18:00:00
</td>
<td align="right">
   33.36
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2012-04-23 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2012-04-20 18:05:00
</td>
<td align="right">
   33.29
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-04-23 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2012-04-20 18:10:00
</td>
<td align="right">
   33.31
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2012-04-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2012-04-20 18:20:00
</td>
<td align="right">
   33.31
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2012-04-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2012-04-20 18:25:00
</td>
<td align="right">
   33.36
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Mon: 2012-04-23 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2012-04-20 18:45:00
</td>
<td align="right">
   33.33
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Mon: 2012-04-23 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2012-04-20 18:50:00
</td>
<td align="right">
   33.34
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Mon: 2012-04-23 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-04-20 19:25:00
</td>
<td align="right">
   91.59
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-20 18:00:00
</td>
<td align="right">
   35.02
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-04-23 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-20 18:10:00
</td>
<td align="right">
   34.95
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2012-04-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-20 18:15:00
</td>
<td align="right">
   34.99
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-04-23 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-20 18:20:00
</td>
<td align="right">
   34.95
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2012-04-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-20 18:25:00
</td>
<td align="right">
   35.01
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2012-04-23 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-20 18:35:00
</td>
<td align="right">
   34.95
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2012-04-23 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-20 18:45:00
</td>
<td align="right">
   34.95
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2012-04-23 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-20 18:50:00
</td>
<td align="right">
   34.92
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-04-23 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-20 18:55:00
</td>
<td align="right">
   34.88
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2012-04-23 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-20 19:00:00
</td>
<td align="right">
   34.91
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-20 19:20:00
</td>
<td align="right">
   34.82
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-20 19:25:00
</td>
<td align="right">
   34.86
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-20 19:30:00
</td>
<td align="right">
   34.85
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-20 19:35:00
</td>
<td align="right">
   34.90
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-20 19:40:00
</td>
<td align="right">
   34.89
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-20 19:45:00
</td>
<td align="right">
   34.86
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-20 19:50:00
</td>
<td align="right">
   34.85
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-04-20 19:55:00
</td>
<td align="right">
   34.84
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-04-20 18:05:00
</td>
<td align="right">
   67.63
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-04-23 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-04-20 18:10:00
</td>
<td align="right">
   67.74
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2012-04-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-04-20 18:15:00
</td>
<td align="right">
  418.93
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.89
</td>
<td>
Mon: 2012-04-23 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-04-20 18:20:00
</td>
<td align="right">
  417.57
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2012-04-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-04-20 18:30:00
</td>
<td align="right">
  419.62
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   -1.97
</td>
<td>
Mon: 2012-04-23 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-04-20 18:35:00
</td>
<td align="right">
  419.26
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   -1.67
</td>
<td>
Mon: 2012-04-23 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-04-20 19:30:00
</td>
<td align="right">
  417.65
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-04-20 19:35:00
</td>
<td align="right">
  417.59
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-04-20 19:40:00
</td>
<td align="right">
  417.60
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-04-20 19:45:00
</td>
<td align="right">
  417.98
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-04-20 18:10:00
</td>
<td align="right">
  116.56
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.35
</td>
<td>
Mon: 2012-04-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-04-20 19:00:00
</td>
<td align="right">
  116.28
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-04-20 19:05:00
</td>
<td align="right">
  116.14
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-04-20 19:20:00
</td>
<td align="right">
  116.03
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-04-20 19:25:00
</td>
<td align="right">
  116.05
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-04-20 19:30:00
</td>
<td align="right">
  116.16
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-04-20 19:35:00
</td>
<td align="right">
  116.39
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CTSH">CTSH</a></td>
<td>
2012-04-20 18:15:00
</td>
<td align="right">
   72.13
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2012-04-23 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CTSH">CTSH</a></td>
<td>
2012-04-20 19:05:00
</td>
<td align="right">
   71.87
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2012-04-20 19:35:00
</td>
<td align="right">
   44.40
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-04-20 18:10:00
</td>
<td align="right">
  102.57
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2012-04-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-04-20 18:15:00
</td>
<td align="right">
  102.60
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2012-04-23 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-04-20 18:45:00
</td>
<td align="right">
  102.71
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2012-04-23 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-04-20 19:40:00
</td>
<td align="right">
  102.51
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2012-04-20 18:45:00
</td>
<td align="right">
   48.20
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2012-04-23 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2012-04-20 18:00:00
</td>
<td align="right">
    8.60
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2012-04-23 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2012-04-20 18:05:00
</td>
<td align="right">
    8.57
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2012-04-23 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2012-04-20 18:10:00
</td>
<td align="right">
    8.57
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2012-04-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2012-04-20 18:15:00
</td>
<td align="right">
    8.56
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2012-04-23 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2012-04-20 18:35:00
</td>
<td align="right">
    8.56
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-04-23 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2012-04-20 18:45:00
</td>
<td align="right">
    8.56
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2012-04-23 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2012-04-20 18:50:00
</td>
<td align="right">
    8.57
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2012-04-23 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2012-04-20 18:55:00
</td>
<td align="right">
    8.57
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2012-04-23 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2012-04-20 19:00:00
</td>
<td align="right">
    8.57
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2012-04-20 19:05:00
</td>
<td align="right">
    8.56
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2012-04-20 19:40:00
</td>
<td align="right">
    8.56
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2012-04-20 19:45:00
</td>
<td align="right">
    8.57
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2012-04-20 19:55:00
</td>
<td align="right">
    8.56
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2012-04-20 18:45:00
</td>
<td align="right">
  112.78
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-04-23 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-04-20 18:25:00
</td>
<td align="right">
   80.44
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Mon: 2012-04-23 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-04-20 18:35:00
</td>
<td align="right">
   80.45
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Mon: 2012-04-23 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-04-20 18:40:00
</td>
<td align="right">
   80.42
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2012-04-23 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-04-20 18:45:00
</td>
<td align="right">
   80.41
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-04-23 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-04-20 18:50:00
</td>
<td align="right">
   80.42
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2012-04-23 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-04-20 19:40:00
</td>
<td align="right">
   80.18
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-04-20 18:30:00
</td>
<td align="right">
   33.64
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-04-23 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-04-20 18:40:00
</td>
<td align="right">
   33.63
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2012-04-23 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-04-20 18:50:00
</td>
<td align="right">
   33.61
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-04-23 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-04-20 18:55:00
</td>
<td align="right">
   33.66
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2012-04-23 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-04-20 19:00:00
</td>
<td align="right">
   33.59
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-04-20 19:40:00
</td>
<td align="right">
   33.54
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JPM">JPM</a></td>
<td>
2012-04-20 18:15:00
</td>
<td align="right">
   42.86
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-04-23 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JPM">JPM</a></td>
<td>
2012-04-20 19:00:00
</td>
<td align="right">
   42.88
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JPM">JPM</a></td>
<td>
2012-04-20 19:05:00
</td>
<td align="right">
   42.82
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JPM">JPM</a></td>
<td>
2012-04-20 19:10:00
</td>
<td align="right">
   42.83
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JPM">JPM</a></td>
<td>
2012-04-20 19:15:00
</td>
<td align="right">
   42.86
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JPM">JPM</a></td>
<td>
2012-04-20 19:20:00
</td>
<td align="right">
   42.86
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JPM">JPM</a></td>
<td>
2012-04-20 19:25:00
</td>
<td align="right">
   42.85
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JPM">JPM</a></td>
<td>
2012-04-20 19:35:00
</td>
<td align="right">
   42.93
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JPM">JPM</a></td>
<td>
2012-04-20 19:50:00
</td>
<td align="right">
   42.84
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDY">MDY</a></td>
<td>
2012-04-20 18:00:00
</td>
<td align="right">
  178.16
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2012-04-23 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDY">MDY</a></td>
<td>
2012-04-20 18:05:00
</td>
<td align="right">
  177.90
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2012-04-23 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDY">MDY</a></td>
<td>
2012-04-20 18:10:00
</td>
<td align="right">
  178.14
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Mon: 2012-04-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDY">MDY</a></td>
<td>
2012-04-20 18:15:00
</td>
<td align="right">
  178.10
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2012-04-23 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDY">MDY</a></td>
<td>
2012-04-20 18:20:00
</td>
<td align="right">
  178.11
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.44
</td>
<td>
Mon: 2012-04-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDY">MDY</a></td>
<td>
2012-04-20 18:25:00
</td>
<td align="right">
  178.38
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.64
</td>
<td>
Mon: 2012-04-23 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDY">MDY</a></td>
<td>
2012-04-20 18:30:00
</td>
<td align="right">
  178.34
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.55
</td>
<td>
Mon: 2012-04-23 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDY">MDY</a></td>
<td>
2012-04-20 18:35:00
</td>
<td align="right">
  178.31
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.49
</td>
<td>
Mon: 2012-04-23 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDY">MDY</a></td>
<td>
2012-04-20 19:50:00
</td>
<td align="right">
  177.77
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-04-20 18:00:00
</td>
<td align="right">
   87.22
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2012-04-23 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-04-20 18:05:00
</td>
<td align="right">
   87.16
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2012-04-23 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-04-20 18:20:00
</td>
<td align="right">
   87.37
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2012-04-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-04-20 18:10:00
</td>
<td align="right">
   51.41
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-04-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-04-20 18:25:00
</td>
<td align="right">
   51.48
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2012-04-23 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-04-20 18:55:00
</td>
<td align="right">
   51.44
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2012-04-23 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-04-20 19:00:00
</td>
<td align="right">
   51.40
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-04-20 19:35:00
</td>
<td align="right">
   51.40
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-04-20 18:25:00
</td>
<td align="right">
   66.67
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2012-04-23 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-04-20 19:30:00
</td>
<td align="right">
   66.69
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-04-20 19:35:00
</td>
<td align="right">
   66.73
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-04-20 19:40:00
</td>
<td align="right">
   66.70
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-04-20 19:55:00
</td>
<td align="right">
   66.64
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-04-20 18:55:00
</td>
<td align="right">
   43.95
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2012-04-23 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-04-20 19:00:00
</td>
<td align="right">
   43.95
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-04-20 19:05:00
</td>
<td align="right">
   43.89
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-04-20 19:10:00
</td>
<td align="right">
   43.92
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-04-20 19:15:00
</td>
<td align="right">
   43.97
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-04-20 19:20:00
</td>
<td align="right">
   43.93
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-04-20 19:25:00
</td>
<td align="right">
   43.93
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-04-20 19:30:00
</td>
<td align="right">
   43.96
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-04-20 19:35:00
</td>
<td align="right">
   43.98
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-04-20 18:05:00
</td>
<td align="right">
   50.72
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2012-04-23 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-04-20 18:35:00
</td>
<td align="right">
   50.51
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-04-23 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-04-20 18:40:00
</td>
<td align="right">
   50.40
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2012-04-23 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-04-20 18:45:00
</td>
<td align="right">
   50.38
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2012-04-23 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-04-20 18:50:00
</td>
<td align="right">
   50.48
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2012-04-23 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-04-20 18:55:00
</td>
<td align="right">
   50.56
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Mon: 2012-04-23 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-04-20 19:00:00
</td>
<td align="right">
   50.56
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-04-20 19:10:00
</td>
<td align="right">
   50.41
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-04-20 19:25:00
</td>
<td align="right">
   50.35
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-04-20 19:35:00
</td>
<td align="right">
   50.40
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-04-20 19:40:00
</td>
<td align="right">
   50.20
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-04-20 19:50:00
</td>
<td align="right">
   50.28
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-04-20 19:55:00
</td>
<td align="right">
   50.29
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RTN">RTN</a></td>
<td>
2012-04-20 18:10:00
</td>
<td align="right">
   53.24
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-04-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 18:00:00
</td>
<td align="right">
   58.42
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2012-04-23 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 18:05:00
</td>
<td align="right">
   58.40
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-04-23 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 18:10:00
</td>
<td align="right">
   58.35
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2012-04-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 18:20:00
</td>
<td align="right">
   58.39
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2012-04-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 18:25:00
</td>
<td align="right">
   58.41
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2012-04-23 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 18:30:00
</td>
<td align="right">
   58.41
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2012-04-23 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 18:35:00
</td>
<td align="right">
   58.40
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2012-04-23 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 18:40:00
</td>
<td align="right">
   58.40
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Mon: 2012-04-23 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 18:45:00
</td>
<td align="right">
   58.31
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2012-04-23 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 18:50:00
</td>
<td align="right">
   58.32
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-04-23 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 18:55:00
</td>
<td align="right">
   58.26
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2012-04-23 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 19:00:00
</td>
<td align="right">
   58.26
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 19:05:00
</td>
<td align="right">
   58.28
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 19:10:00
</td>
<td align="right">
   58.31
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 19:15:00
</td>
<td align="right">
   58.29
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 19:20:00
</td>
<td align="right">
   58.26
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 19:25:00
</td>
<td align="right">
   58.25
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 19:30:00
</td>
<td align="right">
   58.20
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 19:35:00
</td>
<td align="right">
   58.19
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 19:40:00
</td>
<td align="right">
   58.09
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 19:45:00
</td>
<td align="right">
   58.15
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 19:50:00
</td>
<td align="right">
   58.24
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-04-20 19:55:00
</td>
<td align="right">
   58.25
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2012-04-20 18:45:00
</td>
<td align="right">
   51.47
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2012-04-23 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2012-04-20 18:50:00
</td>
<td align="right">
   51.45
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2012-04-23 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-04-20 18:00:00
</td>
<td align="right">
   38.54
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2012-04-23 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-04-20 18:05:00
</td>
<td align="right">
   38.50
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2012-04-23 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-04-20 18:15:00
</td>
<td align="right">
   38.51
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2012-04-23 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-04-20 18:20:00
</td>
<td align="right">
   38.50
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-04-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-04-20 18:25:00
</td>
<td align="right">
   38.53
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-04-23 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-04-20 18:30:00
</td>
<td align="right">
   38.56
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2012-04-23 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-04-20 18:35:00
</td>
<td align="right">
   38.55
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-04-23 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-04-20 18:45:00
</td>
<td align="right">
   38.54
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-04-23 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-04-20 18:55:00
</td>
<td align="right">
   38.59
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2012-04-23 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-04-20 19:40:00
</td>
<td align="right">
   38.45
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-04-20 19:45:00
</td>
<td align="right">
   38.42
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-04-20 18:10:00
</td>
<td align="right">
   45.13
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2012-04-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-04-20 18:15:00
</td>
<td align="right">
   45.18
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2012-04-23 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-04-20 19:25:00
</td>
<td align="right">
   45.15
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TKR">TKR</a></td>
<td>
2012-04-20 18:25:00
</td>
<td align="right">
   50.92
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.38
</td>
<td>
Mon: 2012-04-23 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-20 18:15:00
</td>
<td align="right">
  112.17
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.47
</td>
<td>
Mon: 2012-04-23 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-20 18:20:00
</td>
<td align="right">
  112.28
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.76
</td>
<td>
Mon: 2012-04-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-20 18:50:00
</td>
<td align="right">
  112.07
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   -1.07
</td>
<td>
Mon: 2012-04-23 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-20 18:55:00
</td>
<td align="right">
  111.89
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.65
</td>
<td>
Mon: 2012-04-23 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-20 19:50:00
</td>
<td align="right">
  111.00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VMW">VMW</a></td>
<td>
2012-04-20 19:55:00
</td>
<td align="right">
  111.24
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-04-20 18:15:00
</td>
<td align="right">
   64.50
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-04-23 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-04-20 18:55:00
</td>
<td align="right">
   64.39
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2012-04-23 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-04-20 19:55:00
</td>
<td align="right">
   64.15
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2012-04-20 18:10:00
</td>
<td align="right">
   69.13
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2012-04-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2012-04-20 19:10:00
</td>
<td align="right">
   33.18
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2012-04-20 19:15:00
</td>
<td align="right">
   33.19
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2012-04-20 19:30:00
</td>
<td align="right">
   33.10
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2012-04-20 19:40:00
</td>
<td align="right">
   33.13
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2012-04-20 19:45:00
</td>
<td align="right">
   33.07
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2012-04-20 19:50:00
</td>
<td align="right">
   33.06
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-04-20 19:45:00
</td>
<td align="right">
   86.60
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-04-20 19:55:00
</td>
<td align="right">
   86.59
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2012-04-20 18:35:00
</td>
<td align="right">
   42.07
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2012-04-23 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-04-20 18:10:00
</td>
<td align="right">
   73.16
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-04-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-04-20 18:15:00
</td>
<td align="right">
   73.15
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-04-23 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-04-20 18:20:00
</td>
<td align="right">
   73.17
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2012-04-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-04-20 18:30:00
</td>
<td align="right">
   73.16
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2012-04-23 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-04-20 18:35:00
</td>
<td align="right">
   73.17
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-04-23 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-04-20 19:05:00
</td>
<td align="right">
   73.05
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-04-20 19:25:00
</td>
<td align="right">
   73.05
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-04-20 19:30:00
</td>
<td align="right">
   73.03
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-04-20 19:35:00
</td>
<td align="right">
   73.05
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-04-20 19:40:00
</td>
<td align="right">
   73.03
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-04-20 19:45:00
</td>
<td align="right">
   73.01
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-04-20 19:55:00
</td>
<td align="right">
   72.91
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-04-20 18:00:00
</td>
<td align="right">
  158.45
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.54
</td>
<td>
Mon: 2012-04-23 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-04-20 18:05:00
</td>
<td align="right">
  158.09
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.39
</td>
<td>
Mon: 2012-04-23 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-04-20 18:20:00
</td>
<td align="right">
  157.81
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Mon: 2012-04-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-04-20 18:25:00
</td>
<td align="right">
  158.17
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.62
</td>
<td>
Mon: 2012-04-23 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-04-20 19:00:00
</td>
<td align="right">
  157.91
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-04-20 19:10:00
</td>
<td align="right">
  157.84
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-04-20 19:20:00
</td>
<td align="right">
  157.50
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-04-20 19:25:00
</td>
<td align="right">
  157.55
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-04-20 19:30:00
</td>
<td align="right">
  157.54
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-04-20 19:45:00
</td>
<td align="right">
  156.98
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-04-20 19:50:00
</td>
<td align="right">
  156.94
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2012-04-20 19:20:00
</td>
<td align="right">
   48.20
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2012-04-20 19:55:00
</td>
<td align="right">
   48.15
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-04-20 18:10:00
</td>
<td align="right">
   20.96
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2012-04-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-04-20 19:20:00
</td>
<td align="right">
   20.76
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-04-20 19:25:00
</td>
<td align="right">
   20.75
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-04-20 19:55:00
</td>
<td align="right">
   20.63
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GS">GS</a></td>
<td>
2012-04-20 18:05:00
</td>
<td align="right">
  112.58
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2012-04-23 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-04-20 18:00:00
</td>
<td align="right">
   62.64
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-04-23 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-04-20 18:05:00
</td>
<td align="right">
   62.58
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-04-23 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-04-20 18:30:00
</td>
<td align="right">
   62.74
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2012-04-23 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-04-20 18:45:00
</td>
<td align="right">
   62.71
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-04-23 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-04-20 18:50:00
</td>
<td align="right">
   62.69
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-04-23 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-04-20 19:00:00
</td>
<td align="right">
   62.64
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-04-20 19:20:00
</td>
<td align="right">
   62.55
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-04-20 19:40:00
</td>
<td align="right">
   62.57
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-04-20 19:50:00
</td>
<td align="right">
   62.58
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-04-20 18:00:00
</td>
<td align="right">
   38.98
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2012-04-23 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-04-20 18:10:00
</td>
<td align="right">
   39.00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2012-04-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-04-20 18:20:00
</td>
<td align="right">
   38.99
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2012-04-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-04-20 18:25:00
</td>
<td align="right">
   39.05
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2012-04-23 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-04-20 18:30:00
</td>
<td align="right">
   39.03
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2012-04-23 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-04-20 18:35:00
</td>
<td align="right">
   39.01
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-04-23 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-04-20 18:45:00
</td>
<td align="right">
   39.01
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2012-04-23 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-04-20 18:50:00
</td>
<td align="right">
   38.98
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2012-04-23 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-04-20 18:55:00
</td>
<td align="right">
   38.94
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2012-04-23 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-04-20 19:00:00
</td>
<td align="right">
   38.89
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-04-20 19:05:00
</td>
<td align="right">
   38.81
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-04-20 19:10:00
</td>
<td align="right">
   38.86
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-04-20 19:15:00
</td>
<td align="right">
   38.91
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-04-20 19:30:00
</td>
<td align="right">
   38.89
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-04-20 19:40:00
</td>
<td align="right">
   38.97
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-04-20 19:45:00
</td>
<td align="right">
   38.96
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-04-20 19:50:00
</td>
<td align="right">
   38.95
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-04-20 18:00:00
</td>
<td align="right">
   83.89
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2012-04-23 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-04-20 18:15:00
</td>
<td align="right">
   83.89
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2012-04-23 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-04-20 18:25:00
</td>
<td align="right">
   83.90
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-04-23 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-04-20 18:35:00
</td>
<td align="right">
   83.89
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Mon: 2012-04-23 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-04-20 18:40:00
</td>
<td align="right">
   83.90
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2012-04-23 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-04-20 18:45:00
</td>
<td align="right">
   83.85
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Mon: 2012-04-23 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-04-20 19:00:00
</td>
<td align="right">
   83.87
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-04-20 19:15:00
</td>
<td align="right">
   83.90
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-04-20 19:20:00
</td>
<td align="right">
   83.87
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-04-20 19:25:00
</td>
<td align="right">
   83.90
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-04-20 19:30:00
</td>
<td align="right">
   84.03
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-04-20 19:45:00
</td>
<td align="right">
   84.08
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-04-20 19:55:00
</td>
<td align="right">
   84.02
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-20 18:05:00
</td>
<td align="right">
   39.56
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2012-04-23 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-20 18:25:00
</td>
<td align="right">
   39.68
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2012-04-23 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-20 18:45:00
</td>
<td align="right">
   39.71
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-04-23 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-04-20 19:20:00
</td>
<td align="right">
   39.58
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OXY">OXY</a></td>
<td>
2012-04-20 19:20:00
</td>
<td align="right">
   88.53
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-04-20 18:15:00
</td>
<td align="right">
   67.51
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2012-04-23 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-04-20 18:40:00
</td>
<td align="right">
   67.55
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2012-04-23 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-04-20 18:45:00
</td>
<td align="right">
   67.55
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2012-04-23 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-04-20 19:00:00
</td>
<td align="right">
   67.46
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-04-20 19:40:00
</td>
<td align="right">
   67.50
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-04-23 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2012-04-20 18:05:00
</td>
<td align="right">
   65.03
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2012-04-23 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2012-04-20 18:10:00
</td>
<td align="right">
   65.14
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2012-04-23 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2012-04-20 18:15:00
</td>
<td align="right">
   65.19
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-04-23 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2012-04-20 18:20:00
</td>
<td align="right">
   65.21
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-04-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-04-20 18:20:00
</td>
<td align="right">
   45.23
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2012-04-23 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-04-20 18:40:00
</td>
<td align="right">
   45.29
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2012-04-23 18:40
</td>
</tr>
</table>
<br />