<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-03-16 18:00:00
</td>
<td align="right">
   47.09
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2012-03-19 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-03-16 18:35:00
</td>
<td align="right">
   46.94
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-03-19 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-03-16 19:00:00
</td>
<td align="right">
   46.90
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-03-16 19:05:00
</td>
<td align="right">
   46.90
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-03-16 19:10:00
</td>
<td align="right">
   46.85
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-03-16 19:20:00
</td>
<td align="right">
   46.91
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-03-16 19:25:00
</td>
<td align="right">
   46.92
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-03-16 19:30:00
</td>
<td align="right">
   46.90
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-03-16 19:40:00
</td>
<td align="right">
   46.87
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-03-16 19:50:00
</td>
<td align="right">
   46.80
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-03-16 19:35:00
</td>
<td align="right">
   84.44
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-03-16 19:40:00
</td>
<td align="right">
   84.62
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-03-16 19:50:00
</td>
<td align="right">
   75.26
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-03-16 19:55:00
</td>
<td align="right">
   75.23
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-03-16 18:45:00
</td>
<td align="right">
   77.35
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-03-19 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-03-16 18:50:00
</td>
<td align="right">
  151.22
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2012-03-19 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-03-16 18:00:00
</td>
<td align="right">
  132.09
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-03-19 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-03-16 18:05:00
</td>
<td align="right">
  132.23
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2012-03-19 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-03-16 18:10:00
</td>
<td align="right">
  132.06
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-03-19 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-03-16 18:15:00
</td>
<td align="right">
  132.11
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2012-03-19 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-03-16 18:20:00
</td>
<td align="right">
  132.19
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2012-03-19 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-03-16 18:25:00
</td>
<td align="right">
  132.16
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2012-03-19 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-03-16 18:30:00
</td>
<td align="right">
  132.14
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.38
</td>
<td>
Mon: 2012-03-19 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-03-16 18:35:00
</td>
<td align="right">
  132.10
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2012-03-19 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-03-16 18:40:00
</td>
<td align="right">
  132.06
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2012-03-19 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-03-16 18:45:00
</td>
<td align="right">
  132.09
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2012-03-19 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-03-16 18:50:00
</td>
<td align="right">
  132.09
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2012-03-19 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-03-16 18:55:00
</td>
<td align="right">
  131.98
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2012-03-19 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 18:00:00
</td>
<td align="right">
   58.55
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Mon: 2012-03-19 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 18:05:00
</td>
<td align="right">
   58.68
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.37
</td>
<td>
Mon: 2012-03-19 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 18:10:00
</td>
<td align="right">
   58.61
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.59
</td>
<td>
Mon: 2012-03-19 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 18:15:00
</td>
<td align="right">
   58.34
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2012-03-19 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 18:20:00
</td>
<td align="right">
   58.24
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-03-19 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 18:25:00
</td>
<td align="right">
   58.28
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2012-03-19 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 18:30:00
</td>
<td align="right">
   58.59
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
    -.60
</td>
<td>
Mon: 2012-03-19 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 18:35:00
</td>
<td align="right">
   58.52
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-03-19 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 18:40:00
</td>
<td align="right">
   58.43
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-03-19 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 18:45:00
</td>
<td align="right">
   58.50
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2012-03-19 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 18:50:00
</td>
<td align="right">
   58.32
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2012-03-19 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 18:55:00
</td>
<td align="right">
   58.26
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2012-03-19 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 19:00:00
</td>
<td align="right">
   58.25
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 19:05:00
</td>
<td align="right">
   58.31
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 19:10:00
</td>
<td align="right">
   58.02
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 19:15:00
</td>
<td align="right">
   58.15
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 19:20:00
</td>
<td align="right">
   58.24
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 19:25:00
</td>
<td align="right">
   58.12
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 19:30:00
</td>
<td align="right">
   57.99
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 19:35:00
</td>
<td align="right">
   58.46
</td>
<td align="right">
 -.91
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 19:40:00
</td>
<td align="right">
   58.36
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 19:45:00
</td>
<td align="right">
   58.29
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 19:50:00
</td>
<td align="right">
   58.37
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-03-16 19:55:00
</td>
<td align="right">
   58.38
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-03-16 19:20:00
</td>
<td align="right">
   80.23
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NTAP">NTAP</a></td>
<td>
2012-03-16 18:40:00
</td>
<td align="right">
   43.49
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2012-03-19 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-03-16 19:05:00
</td>
<td align="right">
   44.12
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-03-16 18:30:00
</td>
<td align="right">
   86.07
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-03-19 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-03-16 18:50:00
</td>
<td align="right">
   86.00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2012-03-19 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-03-16 18:55:00
</td>
<td align="right">
   86.05
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2012-03-19 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-03-16 19:45:00
</td>
<td align="right">
   86.01
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2012-03-16 18:25:00
</td>
<td align="right">
   63.72
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2012-03-19 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2012-03-16 19:25:00
</td>
<td align="right">
   63.69
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-03-16 18:05:00
</td>
<td align="right">
  140.38
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-03-19 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-03-16 18:35:00
</td>
<td align="right">
  140.38
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-03-19 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-03-16 18:15:00
</td>
<td align="right">
   55.67
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2012-03-19 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-03-16 18:20:00
</td>
<td align="right">
   55.63
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2012-03-19 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-03-16 18:30:00
</td>
<td align="right">
   55.62
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2012-03-19 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-03-16 18:35:00
</td>
<td align="right">
   55.60
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2012-03-19 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-03-16 19:35:00
</td>
<td align="right">
  136.04
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-03-16 19:55:00
</td>
<td align="right">
  136.09
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2012-03-16 19:25:00
</td>
<td align="right">
   46.85
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-03-16 18:00:00
</td>
<td align="right">
   54.91
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2012-03-19 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-03-16 18:35:00
</td>
<td align="right">
   55.00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2012-03-19 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-03-16 19:15:00
</td>
<td align="right">
   54.93
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-03-16 19:45:00
</td>
<td align="right">
   54.84
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-03-16 19:50:00
</td>
<td align="right">
   54.84
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDY">MDY</a></td>
<td>
2012-03-16 19:25:00
</td>
<td align="right">
  181.94
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-03-16 18:30:00
</td>
<td align="right">
  110.40
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.66
</td>
<td>
Mon: 2012-03-19 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-03-16 19:05:00
</td>
<td align="right">
  140.31
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-03-16 19:10:00
</td>
<td align="right">
  140.20
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-03-16 19:15:00
</td>
<td align="right">
  140.17
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-03-16 19:20:00
</td>
<td align="right">
  140.28
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-03-16 19:50:00
</td>
<td align="right">
  140.25
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WFM">WFM</a></td>
<td>
2012-03-16 19:20:00
</td>
<td align="right">
   85.17
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WFM">WFM</a></td>
<td>
2012-03-16 19:35:00
</td>
<td align="right">
   85.19
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-03-16 19:10:00
</td>
<td align="right">
   60.97
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-03-16 19:50:00
</td>
<td align="right">
   60.88
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-03-19 19:50
</td>
</tr>
</table>
<br />