<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABX">ABX</a></td>
<td>
2012-07-27 18:45:00
</td>
<td align="right">
   32.34
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2012-07-30 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2012-07-27 18:05:00
</td>
<td align="right">
   31.85
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2012-07-30 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2012-07-27 18:30:00
</td>
<td align="right">
   31.82
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2012-07-30 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADBE">ADBE</a></td>
<td>
2012-07-27 18:55:00
</td>
<td align="right">
   31.83
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2012-07-30 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-27 19:05:00
</td>
<td align="right">
   43.60
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-27 19:45:00
</td>
<td align="right">
   43.64
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-07-27 19:45:00
</td>
<td align="right">
   58.70
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2012-07-27 18:50:00
</td>
<td align="right">
   41.60
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-07-30 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DOW">DOW</a></td>
<td>
2012-07-27 18:35:00
</td>
<td align="right">
   28.95
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2012-07-30 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DOW">DOW</a></td>
<td>
2012-07-27 18:45:00
</td>
<td align="right">
   28.95
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Mon: 2012-07-30 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DOW">DOW</a></td>
<td>
2012-07-27 19:15:00
</td>
<td align="right">
   28.92
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DOW">DOW</a></td>
<td>
2012-07-27 19:20:00
</td>
<td align="right">
   28.92
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DOW">DOW</a></td>
<td>
2012-07-27 19:30:00
</td>
<td align="right">
   29.04
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DOW">DOW</a></td>
<td>
2012-07-27 19:35:00
</td>
<td align="right">
   29.05
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DOW">DOW</a></td>
<td>
2012-07-27 19:40:00
</td>
<td align="right">
   29.07
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DOW">DOW</a></td>
<td>
2012-07-27 19:45:00
</td>
<td align="right">
   29.17
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DOW">DOW</a></td>
<td>
2012-07-27 19:55:00
</td>
<td align="right">
   29.08
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-07-27 18:05:00
</td>
<td align="right">
   59.00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2012-07-30 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-07-27 18:30:00
</td>
<td align="right">
   59.02
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2012-07-30 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-07-27 18:40:00
</td>
<td align="right">
   58.98
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2012-07-30 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-07-27 18:45:00
</td>
<td align="right">
   58.99
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2012-07-30 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-07-27 19:10:00
</td>
<td align="right">
   58.98
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-07-27 19:15:00
</td>
<td align="right">
   59.01
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-07-27 19:20:00
</td>
<td align="right">
   58.98
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-07-27 19:35:00
</td>
<td align="right">
   59.03
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-07-27 19:45:00
</td>
<td align="right">
   58.98
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-07-27 19:50:00
</td>
<td align="right">
   58.84
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-07-27 19:55:00
</td>
<td align="right">
   58.90
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2012-07-27 18:15:00
</td>
<td align="right">
   33.48
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Mon: 2012-07-30 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2012-07-27 19:00:00
</td>
<td align="right">
   33.67
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2012-07-27 19:55:00
</td>
<td align="right">
   33.49
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-07-27 18:05:00
</td>
<td align="right">
   14.26
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2012-07-30 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-07-27 18:10:00
</td>
<td align="right">
   14.28
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2012-07-30 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-07-27 18:20:00
</td>
<td align="right">
   14.34
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2012-07-30 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-07-27 18:25:00
</td>
<td align="right">
   14.36
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2012-07-30 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-07-27 18:30:00
</td>
<td align="right">
   14.40
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2012-07-30 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-07-27 18:35:00
</td>
<td align="right">
   14.40
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2012-07-30 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-07-27 18:40:00
</td>
<td align="right">
   14.36
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2012-07-30 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-07-27 18:45:00
</td>
<td align="right">
   14.37
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2012-07-30 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-07-27 18:50:00
</td>
<td align="right">
   14.40
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2012-07-30 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-07-27 18:55:00
</td>
<td align="right">
   14.40
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2012-07-30 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-07-27 19:05:00
</td>
<td align="right">
   14.43
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-07-27 19:10:00
</td>
<td align="right">
   14.41
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-07-27 19:15:00
</td>
<td align="right">
   14.42
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-07-27 19:25:00
</td>
<td align="right">
   14.40
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2012-07-27 18:10:00
</td>
<td align="right">
   36.09
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .27
</td>
<td>
Mon: 2012-07-30 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2012-07-27 19:05:00
</td>
<td align="right">
  634.70
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2012-07-27 18:05:00
</td>
<td align="right">
   59.09
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2012-07-30 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2012-07-27 19:25:00
</td>
<td align="right">
   59.13
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 18:00:00
</td>
<td align="right">
   22.94
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2012-07-30 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 18:05:00
</td>
<td align="right">
   23.03
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2012-07-30 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 18:15:00
</td>
<td align="right">
   23.00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2012-07-30 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 18:20:00
</td>
<td align="right">
   23.02
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2012-07-30 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 18:25:00
</td>
<td align="right">
   23.03
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-07-30 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 18:30:00
</td>
<td align="right">
   23.08
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-07-30 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 18:35:00
</td>
<td align="right">
   23.07
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2012-07-30 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 18:40:00
</td>
<td align="right">
   23.09
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2012-07-30 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 18:45:00
</td>
<td align="right">
   23.11
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2012-07-30 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 18:50:00
</td>
<td align="right">
   23.15
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2012-07-30 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 18:55:00
</td>
<td align="right">
   23.13
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2012-07-30 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 19:00:00
</td>
<td align="right">
   23.12
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 19:05:00
</td>
<td align="right">
   23.10
</td>
<td align="right">
 -.91
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 19:10:00
</td>
<td align="right">
   23.09
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 19:15:00
</td>
<td align="right">
   23.09
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 19:20:00
</td>
<td align="right">
   22.98
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 19:25:00
</td>
<td align="right">
   22.91
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 19:30:00
</td>
<td align="right">
   22.97
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 19:35:00
</td>
<td align="right">
   22.98
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 19:40:00
</td>
<td align="right">
   23.05
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 19:45:00
</td>
<td align="right">
   22.98
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 19:50:00
</td>
<td align="right">
   23.00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JCP">JCP</a></td>
<td>
2012-07-27 19:55:00
</td>
<td align="right">
   23.00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-07-27 18:50:00
</td>
<td align="right">
   53.14
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Mon: 2012-07-30 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-07-27 19:10:00
</td>
<td align="right">
   53.34
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-07-27 19:30:00
</td>
<td align="right">
   53.34
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LMT">LMT</a></td>
<td>
2012-07-27 19:00:00
</td>
<td align="right">
   90.20
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-07-27 18:05:00
</td>
<td align="right">
   36.15
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .48
</td>
<td>
Mon: 2012-07-30 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-07-27 19:05:00
</td>
<td align="right">
   36.63
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-07-27 19:30:00
</td>
<td align="right">
   36.85
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-07-27 19:35:00
</td>
<td align="right">
   36.86
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-07-27 19:45:00
</td>
<td align="right">
   36.79
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-07-27 18:15:00
</td>
<td align="right">
   58.71
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Mon: 2012-07-30 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-07-27 19:25:00
</td>
<td align="right">
   58.95
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-07-27 19:55:00
</td>
<td align="right">
   58.74
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-07-27 18:55:00
</td>
<td align="right">
   53.11
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Mon: 2012-07-30 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-07-27 18:05:00
</td>
<td align="right">
   58.48
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2012-07-30 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2012-07-27 19:00:00
</td>
<td align="right">
  111.91
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2012-07-27 19:30:00
</td>
<td align="right">
  112.36
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-07-27 18:10:00
</td>
<td align="right">
   54.81
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Mon: 2012-07-30 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EGO">EGO</a></td>
<td>
2012-07-27 18:05:00
</td>
<td align="right">
   10.87
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2012-07-30 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-07-27 18:20:00
</td>
<td align="right">
   42.85
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Mon: 2012-07-30 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2012-07-27 18:50:00
</td>
<td align="right">
  632.32
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    1.47
</td>
<td>
Mon: 2012-07-30 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2012-07-27 19:30:00
</td>
<td align="right">
  633.97
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-07-27 18:00:00
</td>
<td align="right">
   79.28
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2012-07-30 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-07-27 18:05:00
</td>
<td align="right">
   79.28
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2012-07-30 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-07-27 18:10:00
</td>
<td align="right">
   79.12
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Mon: 2012-07-30 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-07-27 18:15:00
</td>
<td align="right">
   79.17
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Mon: 2012-07-30 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-07-27 18:20:00
</td>
<td align="right">
   79.23
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Mon: 2012-07-30 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-07-27 18:25:00
</td>
<td align="right">
   79.26
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Mon: 2012-07-30 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-07-27 18:30:00
</td>
<td align="right">
   79.40
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2012-07-30 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-07-27 18:35:00
</td>
<td align="right">
   79.34
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2012-07-30 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-07-27 18:40:00
</td>
<td align="right">
   79.37
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2012-07-30 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-07-27 18:45:00
</td>
<td align="right">
   79.35
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Mon: 2012-07-30 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-07-27 18:50:00
</td>
<td align="right">
   79.40
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-07-30 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-07-27 18:55:00
</td>
<td align="right">
   79.35
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2012-07-30 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-07-27 19:00:00
</td>
<td align="right">
   79.36
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-07-27 19:05:00
</td>
<td align="right">
   79.48
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-07-27 19:10:00
</td>
<td align="right">
   79.43
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-07-27 19:15:00
</td>
<td align="right">
   79.49
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-07-27 19:20:00
</td>
<td align="right">
   79.48
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-07-27 19:25:00
</td>
<td align="right">
   79.56
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-07-27 19:30:00
</td>
<td align="right">
   79.58
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-07-27 19:35:00
</td>
<td align="right">
   79.52
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-07-27 19:45:00
</td>
<td align="right">
   79.56
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-07-27 18:25:00
</td>
<td align="right">
   65.33
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2012-07-30 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-07-27 18:35:00
</td>
<td align="right">
   65.36
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2012-07-30 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-07-27 18:40:00
</td>
<td align="right">
   65.41
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2012-07-30 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-07-27 18:45:00
</td>
<td align="right">
   65.37
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2012-07-30 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-07-27 19:10:00
</td>
<td align="right">
   65.43
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-07-27 19:15:00
</td>
<td align="right">
   65.43
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-07-27 19:35:00
</td>
<td align="right">
   65.44
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-07-27 19:40:00
</td>
<td align="right">
   65.42
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-07-27 19:40:00
</td>
<td align="right">
   53.20
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-07-27 18:15:00
</td>
<td align="right">
   86.94
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2012-07-30 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-07-27 18:25:00
</td>
<td align="right">
   87.00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2012-07-30 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-07-27 18:40:00
</td>
<td align="right">
   58.59
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .46
</td>
<td>
Mon: 2012-07-30 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-07-27 18:00:00
</td>
<td align="right">
   55.13
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2012-07-30 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-07-27 18:10:00
</td>
<td align="right">
   54.94
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Mon: 2012-07-30 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-07-27 18:15:00
</td>
<td align="right">
   54.97
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Mon: 2012-07-30 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-07-27 18:35:00
</td>
<td align="right">
   54.92
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Mon: 2012-07-30 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-07-27 18:55:00
</td>
<td align="right">
   55.00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2012-07-30 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-07-27 19:00:00
</td>
<td align="right">
   55.08
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-07-27 19:20:00
</td>
<td align="right">
   55.30
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-07-27 19:45:00
</td>
<td align="right">
   55.25
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-07-27 19:50:00
</td>
<td align="right">
   55.12
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-07-27 19:55:00
</td>
<td align="right">
   55.14
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-07-27 19:35:00
</td>
<td align="right">
   53.46
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-07-27 19:45:00
</td>
<td align="right">
   53.45
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-07-30 19:45
</td>
</tr>
</table>
<br />