<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-05-02 18:10:00
</td>
<td align="right">
  230.52
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   -1.43
</td>
<td>
Thu: 2012-05-03 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-05-02 18:00:00
</td>
<td align="right">
   55.95
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2012-05-03 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-05-02 18:05:00
</td>
<td align="right">
   56.17
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Thu: 2012-05-03 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-05-02 18:10:00
</td>
<td align="right">
   56.12
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Thu: 2012-05-03 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-05-02 18:15:00
</td>
<td align="right">
   56.09
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Thu: 2012-05-03 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-05-02 18:20:00
</td>
<td align="right">
   56.07
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Thu: 2012-05-03 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-05-02 18:25:00
</td>
<td align="right">
   56.18
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Thu: 2012-05-03 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-05-02 18:30:00
</td>
<td align="right">
   56.12
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Thu: 2012-05-03 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-05-02 18:00:00
</td>
<td align="right">
   75.81
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2012-05-03 18:00
</td>
</tr>
</table>
<br />