<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-02-01 19:50:00
</td>
<td align="right">
   54.36
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2012-02-02 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-02-01 20:35:00
</td>
<td align="right">
   54.38
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-02-01 19:35:00
</td>
<td align="right">
   80.76
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2012-02-02 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-02-01 19:05:00
</td>
<td align="right">
   52.99
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2012-02-02 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-02-01 19:15:00
</td>
<td align="right">
   53.00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2012-02-02 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-02-01 19:20:00
</td>
<td align="right">
   53.00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2012-02-02 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-02-01 19:45:00
</td>
<td align="right">
   52.89
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Thu: 2012-02-02 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-02-01 19:50:00
</td>
<td align="right">
   52.89
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Thu: 2012-02-02 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-02-01 20:00:00
</td>
<td align="right">
   52.90
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-02-01 20:50:00
</td>
<td align="right">
   53.09
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-02-01 20:55:00
</td>
<td align="right">
   52.98
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-02-01 19:55:00
</td>
<td align="right">
  369.45
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    1.39
</td>
<td>
Thu: 2012-02-02 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-02-01 20:35:00
</td>
<td align="right">
  368.90
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-02-01 20:40:00
</td>
<td align="right">
  368.96
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-02-01 19:40:00
</td>
<td align="right">
   56.92
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Thu: 2012-02-02 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-02-01 20:05:00
</td>
<td align="right">
   56.90
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-02-01 20:30:00
</td>
<td align="right">
   56.66
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-02-01 19:10:00
</td>
<td align="right">
   67.17
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2012-02-02 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IOC">IOC</a></td>
<td>
2012-02-01 19:15:00
</td>
<td align="right">
   67.23
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2012-02-02 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-02-01 19:10:00
</td>
<td align="right">
   50.13
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Thu: 2012-02-02 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-02-01 19:20:00
</td>
<td align="right">
   49.79
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Thu: 2012-02-02 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-02-01 19:25:00
</td>
<td align="right">
   49.94
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2012-02-02 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-02-01 19:30:00
</td>
<td align="right">
   49.90
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2012-02-02 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-02-01 19:35:00
</td>
<td align="right">
   49.91
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2012-02-02 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-02-01 19:40:00
</td>
<td align="right">
   49.91
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2012-02-02 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-02-01 19:45:00
</td>
<td align="right">
   49.94
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Thu: 2012-02-02 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-02-01 19:50:00
</td>
<td align="right">
   49.94
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2012-02-02 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-02-01 19:55:00
</td>
<td align="right">
   49.94
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Thu: 2012-02-02 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-02-01 20:00:00
</td>
<td align="right">
   49.97
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-02-01 20:05:00
</td>
<td align="right">
   50.10
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-02-01 20:10:00
</td>
<td align="right">
   49.99
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-02-01 20:15:00
</td>
<td align="right">
   50.02
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-02-01 20:20:00
</td>
<td align="right">
   50.01
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-02-01 20:25:00
</td>
<td align="right">
   50.02
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-02-01 20:30:00
</td>
<td align="right">
   49.98
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-02-01 20:35:00
</td>
<td align="right">
   50.01
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-02-01 20:40:00
</td>
<td align="right">
   50.01
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-02-01 20:50:00
</td>
<td align="right">
   50.04
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-02-01 20:55:00
</td>
<td align="right">
   50.19
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-02-01 19:00:00
</td>
<td align="right">
   57.40
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2012-02-02 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-02-01 19:05:00
</td>
<td align="right">
   57.34
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2012-02-02 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-02-01 19:10:00
</td>
<td align="right">
   57.42
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2012-02-02 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-02-01 19:15:00
</td>
<td align="right">
   57.47
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Thu: 2012-02-02 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-02-01 19:20:00
</td>
<td align="right">
   57.40
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Thu: 2012-02-02 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-02-01 19:25:00
</td>
<td align="right">
   57.42
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
    -.33
</td>
<td>
Thu: 2012-02-02 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-02-01 19:30:00
</td>
<td align="right">
   57.42
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.37
</td>
<td>
Thu: 2012-02-02 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-02-01 19:35:00
</td>
<td align="right">
   57.48
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.45
</td>
<td>
Thu: 2012-02-02 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-02-01 19:45:00
</td>
<td align="right">
   57.36
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Thu: 2012-02-02 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-02-01 19:50:00
</td>
<td align="right">
   57.41
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
    -.46
</td>
<td>
Thu: 2012-02-02 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-02-01 19:55:00
</td>
<td align="right">
   57.37
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.39
</td>
<td>
Thu: 2012-02-02 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-02-01 20:00:00
</td>
<td align="right">
   57.34
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-02-01 20:05:00
</td>
<td align="right">
   57.32
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-02-01 20:10:00
</td>
<td align="right">
   57.39
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-02-01 20:15:00
</td>
<td align="right">
   57.30
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-02-01 20:20:00
</td>
<td align="right">
   57.20
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-02-01 20:15:00
</td>
<td align="right">
   68.87
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-02-01 20:25:00
</td>
<td align="right">
   69.03
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-02-01 20:30:00
</td>
<td align="right">
   68.97
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-02-01 20:35:00
</td>
<td align="right">
   69.02
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-02-01 20:40:00
</td>
<td align="right">
   69.02
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-02-01 20:45:00
</td>
<td align="right">
   69.02
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-02-01 20:50:00
</td>
<td align="right">
   69.05
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-02-01 20:55:00
</td>
<td align="right">
   69.03
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-02-01 19:00:00
</td>
<td align="right">
   76.06
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2012-02-02 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-02-01 19:05:00
</td>
<td align="right">
   75.99
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2012-02-02 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-02-01 19:10:00
</td>
<td align="right">
   76.02
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2012-02-02 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-02-01 19:15:00
</td>
<td align="right">
   75.99
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2012-02-02 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-02-01 19:20:00
</td>
<td align="right">
   76.00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2012-02-02 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-02-01 19:25:00
</td>
<td align="right">
   76.00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2012-02-02 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-02-01 19:30:00
</td>
<td align="right">
   75.92
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2012-02-02 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-02-01 19:35:00
</td>
<td align="right">
   75.96
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2012-02-02 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-02-01 19:55:00
</td>
<td align="right">
   75.95
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Thu: 2012-02-02 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-02-01 20:00:00
</td>
<td align="right">
   75.95
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-02-01 20:10:00
</td>
<td align="right">
   76.06
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-02-01 20:15:00
</td>
<td align="right">
   76.08
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-02-01 20:20:00
</td>
<td align="right">
   75.95
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-02-01 20:25:00
</td>
<td align="right">
   75.95
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-02-01 20:30:00
</td>
<td align="right">
   75.93
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-02-01 20:35:00
</td>
<td align="right">
   75.86
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-02-01 20:40:00
</td>
<td align="right">
   75.95
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-02-01 20:45:00
</td>
<td align="right">
   75.89
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PM">PM</a></td>
<td>
2012-02-01 20:50:00
</td>
<td align="right">
   75.76
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 19:00:00
</td>
<td align="right">
   79.35
</td>
<td align="right">
 -.94
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2012-02-02 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 19:05:00
</td>
<td align="right">
   79.30
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2012-02-02 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 19:10:00
</td>
<td align="right">
   79.43
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.35
</td>
<td>
Thu: 2012-02-02 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 19:15:00
</td>
<td align="right">
   79.62
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.59
</td>
<td>
Thu: 2012-02-02 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 19:20:00
</td>
<td align="right">
   79.48
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.56
</td>
<td>
Thu: 2012-02-02 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 19:25:00
</td>
<td align="right">
   79.38
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.47
</td>
<td>
Thu: 2012-02-02 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 19:30:00
</td>
<td align="right">
   79.22
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.54
</td>
<td>
Thu: 2012-02-02 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 19:35:00
</td>
<td align="right">
   79.33
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.65
</td>
<td>
Thu: 2012-02-02 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 19:40:00
</td>
<td align="right">
   79.11
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.70
</td>
<td>
Thu: 2012-02-02 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 19:50:00
</td>
<td align="right">
   79.34
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.88
</td>
<td>
Thu: 2012-02-02 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 19:55:00
</td>
<td align="right">
   79.40
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.92
</td>
<td>
Thu: 2012-02-02 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 20:00:00
</td>
<td align="right">
   79.24
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 20:05:00
</td>
<td align="right">
   79.29
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 20:10:00
</td>
<td align="right">
   79.08
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 20:15:00
</td>
<td align="right">
   79.03
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 20:20:00
</td>
<td align="right">
   78.92
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 20:25:00
</td>
<td align="right">
   78.91
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 20:30:00
</td>
<td align="right">
   78.68
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 20:35:00
</td>
<td align="right">
   78.68
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 20:40:00
</td>
<td align="right">
   78.41
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 20:45:00
</td>
<td align="right">
   78.58
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 20:50:00
</td>
<td align="right">
   78.46
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-02-01 20:55:00
</td>
<td align="right">
   78.48
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-02-01 19:05:00
</td>
<td align="right">
   48.20
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Thu: 2012-02-02 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-02-01 19:25:00
</td>
<td align="right">
   48.48
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Thu: 2012-02-02 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-01 19:20:00
</td>
<td align="right">
   99.35
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2012-02-02 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-02-01 20:15:00
</td>
<td align="right">
   99.50
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-02-01 19:00:00
</td>
<td align="right">
   73.61
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2012-02-02 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-02-01 19:05:00
</td>
<td align="right">
   73.57
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Thu: 2012-02-02 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-02-01 19:15:00
</td>
<td align="right">
   73.64
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2012-02-02 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-02-01 19:50:00
</td>
<td align="right">
   73.68
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.61
</td>
<td>
Thu: 2012-02-02 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-02-01 20:15:00
</td>
<td align="right">
   73.66
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CLF">CLF</a></td>
<td>
2012-02-01 20:25:00
</td>
<td align="right">
   73.49
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-02-01 19:00:00
</td>
<td align="right">
  127.31
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2012-02-02 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-02-01 19:10:00
</td>
<td align="right">
  127.28
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2012-02-02 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-02-01 19:15:00
</td>
<td align="right">
  127.31
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2012-02-02 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-02-01 19:55:00
</td>
<td align="right">
  127.30
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.41
</td>
<td>
Thu: 2012-02-02 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2012-02-01 19:30:00
</td>
<td align="right">
   56.93
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Thu: 2012-02-02 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2012-02-01 19:05:00
</td>
<td align="right">
   39.83
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2012-02-02 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-02-01 20:40:00
</td>
<td align="right">
  357.59
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-02-01 20:30:00
</td>
<td align="right">
   57.05
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-02-01 20:50:00
</td>
<td align="right">
   56.95
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-02-01 19:00:00
</td>
<td align="right">
   45.14
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2012-02-02 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-02-01 19:05:00
</td>
<td align="right">
   45.15
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Thu: 2012-02-02 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-02-01 19:40:00
</td>
<td align="right">
   45.00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2012-02-02 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-02-01 19:45:00
</td>
<td align="right">
   44.97
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Thu: 2012-02-02 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-02-01 20:15:00
</td>
<td align="right">
   44.98
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-02-01 20:20:00
</td>
<td align="right">
   44.93
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-02-01 20:25:00
</td>
<td align="right">
   44.91
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-02-01 20:35:00
</td>
<td align="right">
   44.84
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-02-01 20:45:00
</td>
<td align="right">
   44.80
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-02-01 20:50:00
</td>
<td align="right">
   44.77
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-02-01 20:55:00
</td>
<td align="right">
   44.80
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-02-01 19:10:00
</td>
<td align="right">
   63.40
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2012-02-02 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-02-01 19:20:00
</td>
<td align="right">
   63.42
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2012-02-02 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-02-01 19:25:00
</td>
<td align="right">
   63.43
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2012-02-02 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-02-01 19:35:00
</td>
<td align="right">
   63.41
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2012-02-02 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-02-01 19:40:00
</td>
<td align="right">
   63.41
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2012-02-02 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-02-01 20:10:00
</td>
<td align="right">
   63.44
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-02-01 20:20:00
</td>
<td align="right">
   63.42
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-02-01 20:25:00
</td>
<td align="right">
   63.40
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-02-01 20:40:00
</td>
<td align="right">
   63.38
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-02-02 20:40
</td>
</tr>
</table>
<br />