<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2012-02-13 20:00:00
</td>
<td align="right">
   78.28
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2012-02-13 20:40:00
</td>
<td align="right">
   78.33
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2012-02-13 20:50:00
</td>
<td align="right">
   78.31
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2012-02-13 19:00:00
</td>
<td align="right">
  225.10
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Tue: 2012-02-14 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2012-02-13 19:30:00
</td>
<td align="right">
  225.42
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .53
</td>
<td>
Tue: 2012-02-14 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CEO">CEO</a></td>
<td>
2012-02-13 20:55:00
</td>
<td align="right">
  226.50
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2012-02-13 19:25:00
</td>
<td align="right">
   60.24
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-02-14 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2012-02-13 19:30:00
</td>
<td align="right">
   60.23
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-02-14 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2012-02-13 19:35:00
</td>
<td align="right">
   60.23
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-02-14 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2012-02-13 19:40:00
</td>
<td align="right">
   60.26
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2012-02-14 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2012-02-13 20:20:00
</td>
<td align="right">
   60.25
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HON">HON</a></td>
<td>
2012-02-13 20:25:00
</td>
<td align="right">
   60.23
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-02-13 19:00:00
</td>
<td align="right">
  119.85
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2012-02-14 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-02-13 19:05:00
</td>
<td align="right">
  119.80
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.63
</td>
<td>
Tue: 2012-02-14 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-02-13 19:10:00
</td>
<td align="right">
  119.90
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.92
</td>
<td>
Tue: 2012-02-14 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-02-13 19:15:00
</td>
<td align="right">
  119.90
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.86
</td>
<td>
Tue: 2012-02-14 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NFLX">NFLX</a></td>
<td>
2012-02-13 19:20:00
</td>
<td align="right">
  119.76
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.66
</td>
<td>
Tue: 2012-02-14 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-02-13 19:25:00
</td>
<td align="right">
  128.69
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-02-14 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-02-13 19:30:00
</td>
<td align="right">
  128.69
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-02-14 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-02-13 19:35:00
</td>
<td align="right">
  128.69
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-02-14 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-02-13 19:45:00
</td>
<td align="right">
  128.70
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2012-02-14 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-02-13 19:50:00
</td>
<td align="right">
  128.71
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2012-02-14 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-02-13 19:55:00
</td>
<td align="right">
  128.72
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2012-02-14 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-02-13 20:30:00
</td>
<td align="right">
  128.69
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2012-02-13 19:00:00
</td>
<td align="right">
   45.95
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2012-02-14 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2012-02-13 19:05:00
</td>
<td align="right">
   45.97
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Tue: 2012-02-14 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2012-02-13 19:10:00
</td>
<td align="right">
   45.97
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Tue: 2012-02-14 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2012-02-13 19:15:00
</td>
<td align="right">
   45.94
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2012-02-14 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-02-13 20:20:00
</td>
<td align="right">
  125.11
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-02-13 20:30:00
</td>
<td align="right">
  125.20
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-02-13 20:50:00
</td>
<td align="right">
  124.80
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-02-13 19:35:00
</td>
<td align="right">
   60.34
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-02-14 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-02-13 20:00:00
</td>
<td align="right">
   60.27
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-02-13 20:05:00
</td>
<td align="right">
   60.28
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-02-13 20:10:00
</td>
<td align="right">
   60.33
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-02-13 20:15:00
</td>
<td align="right">
   60.32
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-02-13 20:20:00
</td>
<td align="right">
   60.37
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-02-13 20:25:00
</td>
<td align="right">
   60.37
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-02-13 20:30:00
</td>
<td align="right">
   60.33
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-02-13 20:35:00
</td>
<td align="right">
   60.33
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-02-13 20:40:00
</td>
<td align="right">
   60.31
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-02-13 20:45:00
</td>
<td align="right">
   60.27
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-02-13 20:50:00
</td>
<td align="right">
   60.28
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-02-13 20:55:00
</td>
<td align="right">
   60.32
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-02-13 19:05:00
</td>
<td align="right">
   79.27
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-02-14 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-02-13 19:10:00
</td>
<td align="right">
   79.28
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-02-14 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-02-13 19:15:00
</td>
<td align="right">
   79.29
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-02-14 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-02-13 19:20:00
</td>
<td align="right">
   79.32
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-02-14 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-02-13 19:25:00
</td>
<td align="right">
   79.35
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2012-02-14 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-02-13 19:30:00
</td>
<td align="right">
   79.31
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2012-02-14 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-02-13 19:35:00
</td>
<td align="right">
   79.28
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-02-14 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-02-13 19:40:00
</td>
<td align="right">
   79.34
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2012-02-14 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-02-13 19:45:00
</td>
<td align="right">
   79.34
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-02-14 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-02-13 19:50:00
</td>
<td align="right">
   79.33
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2012-02-14 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-02-13 19:55:00
</td>
<td align="right">
   79.32
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-02-14 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-02-13 20:05:00
</td>
<td align="right">
   79.33
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-02-13 20:15:00
</td>
<td align="right">
   79.33
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-02-13 20:20:00
</td>
<td align="right">
   79.34
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-02-13 20:50:00
</td>
<td align="right">
   79.15
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-02-13 20:55:00
</td>
<td align="right">
   79.26
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-02-13 19:05:00
</td>
<td align="right">
   52.36
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-02-14 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-02-13 19:20:00
</td>
<td align="right">
   52.37
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-02-14 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-02-13 19:25:00
</td>
<td align="right">
   52.41
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-02-14 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-02-13 19:30:00
</td>
<td align="right">
   52.40
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-02-14 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-02-13 19:40:00
</td>
<td align="right">
   52.41
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-02-14 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-02-13 19:45:00
</td>
<td align="right">
   52.34
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-02-14 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-02-13 19:50:00
</td>
<td align="right">
   52.37
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2012-02-14 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-02-13 19:55:00
</td>
<td align="right">
   52.38
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2012-02-14 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-02-13 20:00:00
</td>
<td align="right">
   52.40
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-02-13 20:05:00
</td>
<td align="right">
   52.40
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-02-13 20:10:00
</td>
<td align="right">
   52.41
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-02-13 20:15:00
</td>
<td align="right">
   52.43
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-02-13 20:20:00
</td>
<td align="right">
   52.41
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-02-13 20:25:00
</td>
<td align="right">
   52.41
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-02-13 20:30:00
</td>
<td align="right">
   52.41
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-02-13 20:35:00
</td>
<td align="right">
   52.38
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-02-13 20:40:00
</td>
<td align="right">
   52.35
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-02-13 20:45:00
</td>
<td align="right">
   52.31
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-02-13 20:50:00
</td>
<td align="right">
   52.32
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-02-13 20:55:00
</td>
<td align="right">
   52.33
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-02-13 19:00:00
</td>
<td align="right">
   54.13
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2012-02-14 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-02-13 19:05:00
</td>
<td align="right">
   54.17
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2012-02-14 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-02-13 19:10:00
</td>
<td align="right">
   54.20
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Tue: 2012-02-14 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-02-13 19:15:00
</td>
<td align="right">
   54.20
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2012-02-14 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-02-13 19:20:00
</td>
<td align="right">
   54.21
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Tue: 2012-02-14 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-02-13 19:25:00
</td>
<td align="right">
   54.20
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Tue: 2012-02-14 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-02-13 19:30:00
</td>
<td align="right">
   54.21
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Tue: 2012-02-14 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-02-13 19:35:00
</td>
<td align="right">
   54.21
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.33
</td>
<td>
Tue: 2012-02-14 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-02-13 19:40:00
</td>
<td align="right">
   54.20
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Tue: 2012-02-14 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-02-13 19:45:00
</td>
<td align="right">
   54.12
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2012-02-14 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-02-13 19:50:00
</td>
<td align="right">
   54.08
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2012-02-14 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-02-13 19:55:00
</td>
<td align="right">
   53.98
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-02-14 19:55
</td>
</tr>
</table>
<br />