<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABX">ABX</a></td>
<td>
2012-07-17 19:05:00
</td>
<td align="right">
   34.55
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABX">ABX</a></td>
<td>
2012-07-17 19:25:00
</td>
<td align="right">
   34.49
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABX">ABX</a></td>
<td>
2012-07-17 19:30:00
</td>
<td align="right">
   34.54
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-07-17 18:10:00
</td>
<td align="right">
  217.30
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.69
</td>
<td>
Wed: 2012-07-18 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-07-17 18:55:00
</td>
<td align="right">
  217.17
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Wed: 2012-07-18 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-07-17 19:05:00
</td>
<td align="right">
  216.58
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-07-17 19:10:00
</td>
<td align="right">
  216.61
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-07-17 19:15:00
</td>
<td align="right">
  217.12
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-07-17 19:25:00
</td>
<td align="right">
  216.44
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-07-17 19:30:00
</td>
<td align="right">
  216.81
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-07-17 19:50:00
</td>
<td align="right">
  217.10
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-07-17 19:55:00
</td>
<td align="right">
  216.92
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-07-17 19:50:00
</td>
<td align="right">
   73.05
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-17 18:00:00
</td>
<td align="right">
  399.99
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Wed: 2012-07-18 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-17 18:05:00
</td>
<td align="right">
  400.00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Wed: 2012-07-18 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-17 18:15:00
</td>
<td align="right">
  399.91
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .83
</td>
<td>
Wed: 2012-07-18 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-17 18:25:00
</td>
<td align="right">
  400.26
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
    -.89
</td>
<td>
Wed: 2012-07-18 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-17 18:40:00
</td>
<td align="right">
  400.38
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   -1.38
</td>
<td>
Wed: 2012-07-18 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-17 18:50:00
</td>
<td align="right">
  400.74
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   -1.95
</td>
<td>
Wed: 2012-07-18 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-17 18:55:00
</td>
<td align="right">
  400.36
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
   -1.08
</td>
<td>
Wed: 2012-07-18 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-17 19:00:00
</td>
<td align="right">
  400.08
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-17 19:05:00
</td>
<td align="right">
  400.09
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-17 19:10:00
</td>
<td align="right">
  400.43
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-17 19:15:00
</td>
<td align="right">
  400.74
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-17 19:20:00
</td>
<td align="right">
  400.59
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-17 19:55:00
</td>
<td align="right">
  399.28
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-07-17 18:15:00
</td>
<td align="right">
   56.16
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-07-18 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-07-17 19:15:00
</td>
<td align="right">
   56.29
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GG">GG</a></td>
<td>
2012-07-17 19:25:00
</td>
<td align="right">
   33.63
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2012-07-17 18:05:00
</td>
<td align="right">
  154.07
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.37
</td>
<td>
Wed: 2012-07-18 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2012-07-17 19:30:00
</td>
<td align="right">
  153.62
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2012-07-17 19:35:00
</td>
<td align="right">
  153.64
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2012-07-17 19:40:00
</td>
<td align="right">
  153.59
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-07-17 18:10:00
</td>
<td align="right">
   63.23
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2012-07-18 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-07-17 18:20:00
</td>
<td align="right">
   63.16
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Wed: 2012-07-18 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-07-17 18:45:00
</td>
<td align="right">
   63.20
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Wed: 2012-07-18 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-07-17 18:50:00
</td>
<td align="right">
   63.33
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Wed: 2012-07-18 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-07-17 18:15:00
</td>
<td align="right">
   92.79
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Wed: 2012-07-18 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-07-17 18:20:00
</td>
<td align="right">
   92.79
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Wed: 2012-07-18 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-07-17 18:35:00
</td>
<td align="right">
   92.79
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.41
</td>
<td>
Wed: 2012-07-18 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-07-17 18:45:00
</td>
<td align="right">
   92.79
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Wed: 2012-07-18 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-07-17 18:00:00
</td>
<td align="right">
   78.68
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2012-07-18 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-07-17 18:05:00
</td>
<td align="right">
   78.68
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2012-07-18 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-07-17 19:10:00
</td>
<td align="right">
   78.72
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-07-17 19:45:00
</td>
<td align="right">
   78.70
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-17 18:40:00
</td>
<td align="right">
   79.32
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2012-07-18 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-17 19:15:00
</td>
<td align="right">
   79.38
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-17 19:35:00
</td>
<td align="right">
   79.20
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-17 19:40:00
</td>
<td align="right">
   79.25
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-17 19:50:00
</td>
<td align="right">
   79.33
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-17 19:55:00
</td>
<td align="right">
   79.32
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-07-18 19:55
</td>
</tr>
</table>
<br />