<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AAPL">AAPL</a></td>
<td>
2012-11-15 20:40:00
</td>
<td align="right">
  526.96
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AAPL">AAPL</a></td>
<td>
2012-11-15 20:45:00
</td>
<td align="right">
  526.56
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 19:05:00
</td>
<td align="right">
   63.27
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Fri: 2012-11-16 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 19:10:00
</td>
<td align="right">
   63.24
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Fri: 2012-11-16 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 20:05:00
</td>
<td align="right">
   62.95
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 20:10:00
</td>
<td align="right">
   62.97
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 20:30:00
</td>
<td align="right">
   63.04
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 20:45:00
</td>
<td align="right">
   63.25
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 20:50:00
</td>
<td align="right">
   63.19
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-15 19:25:00
</td>
<td align="right">
   50.16
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Fri: 2012-11-16 19:25
</td>
</tr>
</table>
<br />