<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ADM">ADM</a></td>
<td>
2012-01-18 20:25:00
</td>
<td align="right">
   29.21
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-01-19 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-18 19:10:00
</td>
<td align="right">
  125.46
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Thu: 2012-01-19 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-18 19:15:00
</td>
<td align="right">
  125.45
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Thu: 2012-01-19 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2012-01-18 19:25:00
</td>
<td align="right">
  125.52
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2012-01-19 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WMT">WMT</a></td>
<td>
2012-01-18 19:15:00
</td>
<td align="right">
   59.89
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2012-01-19 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=X">X</a></td>
<td>
2012-01-18 19:10:00
</td>
<td align="right">
   28.27
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2012-01-19 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=X">X</a></td>
<td>
2012-01-18 19:45:00
</td>
<td align="right">
   28.25
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2012-01-19 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-01-18 19:00:00
</td>
<td align="right">
   75.01
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2012-01-19 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-01-18 19:05:00
</td>
<td align="right">
   75.09
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2012-01-19 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-01-18 19:10:00
</td>
<td align="right">
   75.02
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2012-01-19 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-01-18 19:15:00
</td>
<td align="right">
   75.02
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2012-01-19 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-18 19:05:00
</td>
<td align="right">
   63.91
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Thu: 2012-01-19 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-18 19:25:00
</td>
<td align="right">
   63.81
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .45
</td>
<td>
Thu: 2012-01-19 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-18 20:00:00
</td>
<td align="right">
   63.98
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-01-19 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-18 20:05:00
</td>
<td align="right">
   64.04
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-01-19 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-01-18 20:10:00
</td>
<td align="right">
   64.27
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-01-19 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-01-18 19:20:00
</td>
<td align="right">
   74.82
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2012-01-19 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-01-18 19:40:00
</td>
<td align="right">
   74.86
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2012-01-19 19:40
</td>
</tr>
</table>
<br />