<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-05-30 18:30:00
</td>
<td align="right">
   55.71
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2012-05-31 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXP">AXP</a></td>
<td>
2012-05-30 19:15:00
</td>
<td align="right">
   55.63
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MCD">MCD</a></td>
<td>
2012-05-30 18:35:00
</td>
<td align="right">
   90.33
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2012-05-31 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-05-30 19:45:00
</td>
<td align="right">
   76.45
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-05-30 19:00:00
</td>
<td align="right">
   39.64
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-05-30 19:05:00
</td>
<td align="right">
   39.63
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-05-30 19:45:00
</td>
<td align="right">
   39.80
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-05-30 19:10:00
</td>
<td align="right">
   35.52
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-05-30 19:15:00
</td>
<td align="right">
   35.55
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-05-30 19:20:00
</td>
<td align="right">
   35.56
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-05-30 19:25:00
</td>
<td align="right">
   35.50
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-05-30 19:30:00
</td>
<td align="right">
   35.62
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-05-30 19:35:00
</td>
<td align="right">
   35.62
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-05-30 19:40:00
</td>
<td align="right">
   35.59
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-05-30 19:45:00
</td>
<td align="right">
   35.61
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-05-30 19:50:00
</td>
<td align="right">
   35.58
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-05-30 19:55:00
</td>
<td align="right">
   35.53
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-05-30 18:35:00
</td>
<td align="right">
   81.97
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Thu: 2012-05-31 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-05-30 19:25:00
</td>
<td align="right">
   81.77
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-05-30 19:40:00
</td>
<td align="right">
   81.75
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-05-30 19:55:00
</td>
<td align="right">
   81.66
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-05-30 18:30:00
</td>
<td align="right">
   39.31
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2012-05-31 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-05-30 18:35:00
</td>
<td align="right">
   39.37
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2012-05-31 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-05-30 18:50:00
</td>
<td align="right">
   39.53
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Thu: 2012-05-31 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-05-30 18:55:00
</td>
<td align="right">
   39.53
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Thu: 2012-05-31 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-05-30 19:00:00
</td>
<td align="right">
   39.51
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-05-30 19:10:00
</td>
<td align="right">
   39.34
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-05-30 19:15:00
</td>
<td align="right">
   39.38
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-05-30 19:20:00
</td>
<td align="right">
   39.25
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-05-30 19:25:00
</td>
<td align="right">
   39.30
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-05-30 19:40:00
</td>
<td align="right">
   39.38
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-05-30 19:45:00
</td>
<td align="right">
   39.32
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-05-31 19:45
</td>
</tr>
</table>
<br />