<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AAPL">AAPL</a></td>
<td>
2012-11-15 20:40:00
</td>
<td align="right">
  526.96
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AAPL">AAPL</a></td>
<td>
2012-11-15 20:45:00
</td>
<td align="right">
  526.56
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 19:05:00
</td>
<td align="right">
   63.27
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Fri: 2012-11-16 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 19:10:00
</td>
<td align="right">
   63.24
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Fri: 2012-11-16 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 20:05:00
</td>
<td align="right">
   62.95
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 20:10:00
</td>
<td align="right">
   62.97
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 20:30:00
</td>
<td align="right">
   63.04
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 20:45:00
</td>
<td align="right">
   63.25
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-15 20:50:00
</td>
<td align="right">
   63.19
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-11-15 19:25:00
</td>
<td align="right">
   50.16
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Fri: 2012-11-16 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-11-15 20:15:00
</td>
<td align="right">
   96.77
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-11-15 20:45:00
</td>
<td align="right">
   96.82
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-11-15 19:55:00
</td>
<td align="right">
   70.87
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Fri: 2012-11-16 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-11-15 19:00:00
</td>
<td align="right">
   30.45
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2012-11-16 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-11-15 19:40:00
</td>
<td align="right">
   30.58
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Fri: 2012-11-16 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-11-15 19:50:00
</td>
<td align="right">
   30.63
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Fri: 2012-11-16 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2012-11-15 19:55:00
</td>
<td align="right">
   30.57
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Fri: 2012-11-16 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:00:00
</td>
<td align="right">
  259.88
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Fri: 2012-11-16 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:05:00
</td>
<td align="right">
  259.35
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .41
</td>
<td>
Fri: 2012-11-16 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:10:00
</td>
<td align="right">
  259.78
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Fri: 2012-11-16 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:20:00
</td>
<td align="right">
  259.65
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .70
</td>
<td>
Fri: 2012-11-16 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:25:00
</td>
<td align="right">
  259.64
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .36
</td>
<td>
Fri: 2012-11-16 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:30:00
</td>
<td align="right">
  260.00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Fri: 2012-11-16 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:35:00
</td>
<td align="right">
  260.03
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .53
</td>
<td>
Fri: 2012-11-16 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:40:00
</td>
<td align="right">
  260.25
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2012-11-16 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:45:00
</td>
<td align="right">
  260.18
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2012-11-16 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:50:00
</td>
<td align="right">
  260.83
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.46
</td>
<td>
Fri: 2012-11-16 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 19:55:00
</td>
<td align="right">
  260.71
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Fri: 2012-11-16 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 20:00:00
</td>
<td align="right">
  259.86
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-11-15 20:05:00
</td>
<td align="right">
  259.76
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-11-15 20:30:00
</td>
<td align="right">
   87.25
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 19:00:00
</td>
<td align="right">
   22.71
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Fri: 2012-11-16 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 19:05:00
</td>
<td align="right">
   22.74
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Fri: 2012-11-16 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 19:10:00
</td>
<td align="right">
   22.75
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Fri: 2012-11-16 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 19:15:00
</td>
<td align="right">
   22.76
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Fri: 2012-11-16 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 19:25:00
</td>
<td align="right">
   22.94
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Fri: 2012-11-16 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 19:35:00
</td>
<td align="right">
   22.82
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Fri: 2012-11-16 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 19:40:00
</td>
<td align="right">
   22.83
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Fri: 2012-11-16 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 20:40:00
</td>
<td align="right">
   23.12
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-15 20:55:00
</td>
<td align="right">
   23.25
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-11-16 20:55
</td>
</tr>
</table>
<br />