<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABX">ABX</a></td>
<td>
2012-07-16 19:30:00
</td>
<td align="right">
   34.85
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-16 18:00:00
</td>
<td align="right">
  394.02
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .98
</td>
<td>
Tue: 2012-07-17 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-16 18:15:00
</td>
<td align="right">
  394.92
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .73
</td>
<td>
Tue: 2012-07-17 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-16 18:20:00
</td>
<td align="right">
  394.94
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .71
</td>
<td>
Tue: 2012-07-17 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-16 18:25:00
</td>
<td align="right">
  395.17
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-07-17 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-16 18:30:00
</td>
<td align="right">
  395.19
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .43
</td>
<td>
Tue: 2012-07-17 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-16 18:35:00
</td>
<td align="right">
  395.26
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Tue: 2012-07-17 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-16 18:40:00
</td>
<td align="right">
  395.30
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.88
</td>
<td>
Tue: 2012-07-17 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-16 18:45:00
</td>
<td align="right">
  395.17
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.84
</td>
<td>
Tue: 2012-07-17 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-16 18:50:00
</td>
<td align="right">
  394.93
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-07-17 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-16 18:55:00
</td>
<td align="right">
  394.77
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Tue: 2012-07-17 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-16 19:00:00
</td>
<td align="right">
  395.00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-16 19:05:00
</td>
<td align="right">
  395.20
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-16 19:10:00
</td>
<td align="right">
  395.48
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-16 19:15:00
</td>
<td align="right">
  395.65
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-16 19:20:00
</td>
<td align="right">
  395.65
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-16 19:25:00
</td>
<td align="right">
  395.21
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-16 19:30:00
</td>
<td align="right">
  395.62
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-16 19:35:00
</td>
<td align="right">
  395.01
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-16 19:40:00
</td>
<td align="right">
  394.42
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-16 19:45:00
</td>
<td align="right">
  394.33
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-07-16 18:15:00
</td>
<td align="right">
  128.85
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.90
</td>
<td>
Tue: 2012-07-17 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-07-16 18:20:00
</td>
<td align="right">
  128.71
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.63
</td>
<td>
Tue: 2012-07-17 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-07-16 19:25:00
</td>
<td align="right">
  128.12
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-07-16 19:30:00
</td>
<td align="right">
  128.20
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-07-16 19:35:00
</td>
<td align="right">
  128.09
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-07-16 19:50:00
</td>
<td align="right">
  128.00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CRM">CRM</a></td>
<td>
2012-07-16 19:55:00
</td>
<td align="right">
  127.98
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2012-07-16 18:00:00
</td>
<td align="right">
   48.01
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-07-17 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 18:00:00
</td>
<td align="right">
   57.50
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2012-07-17 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 18:05:00
</td>
<td align="right">
   57.50
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-07-17 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 18:10:00
</td>
<td align="right">
   57.50
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-07-17 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 18:15:00
</td>
<td align="right">
   57.54
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-07-17 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 18:20:00
</td>
<td align="right">
   57.49
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2012-07-17 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 18:25:00
</td>
<td align="right">
   57.54
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-07-17 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 18:30:00
</td>
<td align="right">
   57.59
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2012-07-17 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 18:35:00
</td>
<td align="right">
   57.58
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-07-17 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 18:40:00
</td>
<td align="right">
   57.59
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-07-17 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 18:45:00
</td>
<td align="right">
   57.62
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-07-17 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 18:50:00
</td>
<td align="right">
   57.61
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-07-17 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 18:55:00
</td>
<td align="right">
   57.61
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-07-17 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 19:00:00
</td>
<td align="right">
   57.60
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 19:05:00
</td>
<td align="right">
   57.54
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 19:10:00
</td>
<td align="right">
   57.55
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 19:15:00
</td>
<td align="right">
   57.61
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 19:20:00
</td>
<td align="right">
   57.64
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 19:25:00
</td>
<td align="right">
   57.67
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 19:30:00
</td>
<td align="right">
   57.70
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 19:35:00
</td>
<td align="right">
   57.67
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 19:40:00
</td>
<td align="right">
   57.72
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 19:45:00
</td>
<td align="right">
   57.75
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 19:50:00
</td>
<td align="right">
   57.65
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-07-16 19:55:00
</td>
<td align="right">
   57.75
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-07-16 19:45:00
</td>
<td align="right">
   73.05
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2012-07-16 19:50:00
</td>
<td align="right">
   73.12
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-07-16 18:55:00
</td>
<td align="right">
   38.02
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-07-17 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-07-16 19:00:00
</td>
<td align="right">
   38.04
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-07-16 19:15:00
</td>
<td align="right">
   38.05
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 18:00:00
</td>
<td align="right">
   48.70
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.37
</td>
<td>
Tue: 2012-07-17 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 18:05:00
</td>
<td align="right">
   48.69
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.45
</td>
<td>
Tue: 2012-07-17 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 18:10:00
</td>
<td align="right">
   48.57
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Tue: 2012-07-17 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 18:15:00
</td>
<td align="right">
   48.61
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.39
</td>
<td>
Tue: 2012-07-17 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 18:20:00
</td>
<td align="right">
   48.56
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.33
</td>
<td>
Tue: 2012-07-17 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 18:25:00
</td>
<td align="right">
   48.53
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Tue: 2012-07-17 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 18:30:00
</td>
<td align="right">
   48.43
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2012-07-17 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 18:35:00
</td>
<td align="right">
   48.41
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.50
</td>
<td>
Tue: 2012-07-17 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 18:40:00
</td>
<td align="right">
   48.45
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.62
</td>
<td>
Tue: 2012-07-17 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 18:45:00
</td>
<td align="right">
   48.43
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.64
</td>
<td>
Tue: 2012-07-17 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 18:50:00
</td>
<td align="right">
   48.36
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.51
</td>
<td>
Tue: 2012-07-17 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 18:55:00
</td>
<td align="right">
   48.35
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.52
</td>
<td>
Tue: 2012-07-17 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 19:00:00
</td>
<td align="right">
   48.33
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 19:05:00
</td>
<td align="right">
   48.24
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 19:10:00
</td>
<td align="right">
   48.26
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 19:15:00
</td>
<td align="right">
   48.22
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 19:20:00
</td>
<td align="right">
   48.23
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 19:25:00
</td>
<td align="right">
   48.24
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 19:30:00
</td>
<td align="right">
   48.16
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 19:35:00
</td>
<td align="right">
   47.91
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 19:40:00
</td>
<td align="right">
   47.83
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-16 19:55:00
</td>
<td align="right">
   47.83
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-07-16 18:10:00
</td>
<td align="right">
   66.45
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2012-07-17 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-07-16 18:15:00
</td>
<td align="right">
   66.53
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Tue: 2012-07-17 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-07-16 18:20:00
</td>
<td align="right">
   66.45
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2012-07-17 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-07-16 18:25:00
</td>
<td align="right">
   66.46
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2012-07-17 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-07-16 18:30:00
</td>
<td align="right">
   66.46
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2012-07-17 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2012-07-16 18:40:00
</td>
<td align="right">
  110.33
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.49
</td>
<td>
Tue: 2012-07-17 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2012-07-16 18:55:00
</td>
<td align="right">
  110.07
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-07-17 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2012-07-16 19:15:00
</td>
<td align="right">
  110.22
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2012-07-16 19:25:00
</td>
<td align="right">
  110.06
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2012-07-16 19:30:00
</td>
<td align="right">
  110.11
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2012-07-16 19:35:00
</td>
<td align="right">
  109.90
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2012-07-16 19:40:00
</td>
<td align="right">
  109.84
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2012-07-16 19:45:00
</td>
<td align="right">
  109.74
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2012-07-16 19:50:00
</td>
<td align="right">
  109.89
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2012-07-16 19:55:00
</td>
<td align="right">
  109.95
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-07-16 18:20:00
</td>
<td align="right">
   46.83
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-07-17 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-07-16 18:55:00
</td>
<td align="right">
   46.85
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Tue: 2012-07-17 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-07-16 19:00:00
</td>
<td align="right">
   46.74
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-07-16 19:40:00
</td>
<td align="right">
   46.57
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-16 18:00:00
</td>
<td align="right">
   76.60
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-07-17 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-16 18:05:00
</td>
<td align="right">
   76.58
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-07-17 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-16 18:10:00
</td>
<td align="right">
   76.54
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Tue: 2012-07-17 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-16 18:15:00
</td>
<td align="right">
   76.65
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2012-07-17 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-16 18:20:00
</td>
<td align="right">
   76.66
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2012-07-17 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-16 18:25:00
</td>
<td align="right">
   76.67
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-07-17 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-16 18:30:00
</td>
<td align="right">
   76.66
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2012-07-17 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-16 18:35:00
</td>
<td align="right">
   76.64
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-07-17 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-16 18:40:00
</td>
<td align="right">
   76.63
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2012-07-17 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-16 18:45:00
</td>
<td align="right">
   76.68
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2012-07-17 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-16 18:50:00
</td>
<td align="right">
   76.66
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-07-17 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-16 18:55:00
</td>
<td align="right">
   76.64
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-07-17 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-16 19:00:00
</td>
<td align="right">
   76.66
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-16 19:05:00
</td>
<td align="right">
   76.71
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-16 19:15:00
</td>
<td align="right">
   76.76
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-16 19:30:00
</td>
<td align="right">
   76.58
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-16 19:35:00
</td>
<td align="right">
   76.52
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-16 19:40:00
</td>
<td align="right">
   76.52
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-16 19:45:00
</td>
<td align="right">
   76.51
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-16 19:50:00
</td>
<td align="right">
   76.57
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-16 19:55:00
</td>
<td align="right">
   76.63
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-07-16 18:00:00
</td>
<td align="right">
   61.78
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2012-07-17 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-07-16 18:05:00
</td>
<td align="right">
   61.77
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2012-07-17 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-07-16 18:15:00
</td>
<td align="right">
   61.79
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Tue: 2012-07-17 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-07-16 18:20:00
</td>
<td align="right">
   61.77
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2012-07-17 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-07-16 18:50:00
</td>
<td align="right">
   61.73
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2012-07-17 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-07-16 18:55:00
</td>
<td align="right">
   61.71
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Tue: 2012-07-17 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-07-16 19:00:00
</td>
<td align="right">
   61.67
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 18:00:00
</td>
<td align="right">
   79.22
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-07-17 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 18:05:00
</td>
<td align="right">
   79.26
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-07-17 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 18:10:00
</td>
<td align="right">
   79.25
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-07-17 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 18:20:00
</td>
<td align="right">
   79.33
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-07-17 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 18:25:00
</td>
<td align="right">
   79.31
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-07-17 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 18:30:00
</td>
<td align="right">
   79.24
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-07-17 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 18:35:00
</td>
<td align="right">
   79.24
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-07-17 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 18:40:00
</td>
<td align="right">
   79.24
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2012-07-17 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 18:45:00
</td>
<td align="right">
   79.29
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-07-17 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 18:50:00
</td>
<td align="right">
   79.19
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-07-17 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 18:55:00
</td>
<td align="right">
   79.23
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2012-07-17 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 19:00:00
</td>
<td align="right">
   79.22
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 19:05:00
</td>
<td align="right">
   79.25
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 19:10:00
</td>
<td align="right">
   79.31
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 19:15:00
</td>
<td align="right">
   79.34
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 19:20:00
</td>
<td align="right">
   79.30
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 19:25:00
</td>
<td align="right">
   79.21
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 19:30:00
</td>
<td align="right">
   79.23
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 19:35:00
</td>
<td align="right">
   79.22
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 19:40:00
</td>
<td align="right">
   79.19
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 19:45:00
</td>
<td align="right">
   79.17
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 19:50:00
</td>
<td align="right">
   79.17
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-16 19:55:00
</td>
<td align="right">
   79.18
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-17 19:55
</td>
</tr>
</table>
<br />