<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2012-12-17 19:00:00
</td>
<td align="right">
   90.77
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-12-18 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2012-12-17 19:05:00
</td>
<td align="right">
   90.77
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2012-12-18 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2012-12-17 19:35:00
</td>
<td align="right">
   90.73
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Tue: 2012-12-18 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2012-12-17 19:40:00
</td>
<td align="right">
   90.73
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Tue: 2012-12-18 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2012-12-17 19:45:00
</td>
<td align="right">
   90.72
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Tue: 2012-12-18 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2012-12-17 19:50:00
</td>
<td align="right">
   90.70
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .39
</td>
<td>
Tue: 2012-12-18 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2012-12-17 19:55:00
</td>
<td align="right">
   90.77
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Tue: 2012-12-18 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OXY">OXY</a></td>
<td>
2012-12-17 20:35:00
</td>
<td align="right">
   76.32
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OXY">OXY</a></td>
<td>
2012-12-17 20:40:00
</td>
<td align="right">
   76.38
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OXY">OXY</a></td>
<td>
2012-12-17 20:45:00
</td>
<td align="right">
   76.30
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OXY">OXY</a></td>
<td>
2012-12-17 20:55:00
</td>
<td align="right">
   76.53
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2012-12-17 20:00:00
</td>
<td align="right">
  122.03
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2012-12-17 20:05:00
</td>
<td align="right">
  122.05
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2012-12-17 20:10:00
</td>
<td align="right">
  122.00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2012-12-17 20:15:00
</td>
<td align="right">
  121.92
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2012-12-17 20:20:00
</td>
<td align="right">
  121.88
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TLT">TLT</a></td>
<td>
2012-12-17 20:25:00
</td>
<td align="right">
  121.83
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-12-17 20:20:00
</td>
<td align="right">
   21.18
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-12-17 20:25:00
</td>
<td align="right">
   21.15
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-12-17 20:30:00
</td>
<td align="right">
   21.16
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-12-17 20:35:00
</td>
<td align="right">
   21.14
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-12-17 20:40:00
</td>
<td align="right">
   21.10
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-12-17 20:45:00
</td>
<td align="right">
   21.11
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-12-17 20:50:00
</td>
<td align="right">
   21.12
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-12-17 20:55:00
</td>
<td align="right">
   21.11
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 19:00:00
</td>
<td align="right">
   67.16
</td>
<td align="right">
  .92
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-12-18 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 19:05:00
</td>
<td align="right">
   67.23
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-12-18 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 19:10:00
</td>
<td align="right">
   67.06
</td>
<td align="right">
  .94
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-12-18 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 19:15:00
</td>
<td align="right">
   66.91
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-12-18 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 19:20:00
</td>
<td align="right">
   66.86
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Tue: 2012-12-18 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 19:25:00
</td>
<td align="right">
   66.94
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2012-12-18 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 19:30:00
</td>
<td align="right">
   67.02
</td>
<td align="right">
  .95
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-12-18 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 19:35:00
</td>
<td align="right">
   67.01
</td>
<td align="right">
  .93
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2012-12-18 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 19:40:00
</td>
<td align="right">
   66.99
</td>
<td align="right">
  .91
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2012-12-18 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 19:45:00
</td>
<td align="right">
   66.98
</td>
<td align="right">
  .94
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2012-12-18 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 19:50:00
</td>
<td align="right">
   67.01
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2012-12-18 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 19:55:00
</td>
<td align="right">
   67.03
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-12-18 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 20:00:00
</td>
<td align="right">
   67.10
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 20:05:00
</td>
<td align="right">
   67.28
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 20:10:00
</td>
<td align="right">
   67.03
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 20:15:00
</td>
<td align="right">
   67.05
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 20:20:00
</td>
<td align="right">
   67.09
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 20:25:00
</td>
<td align="right">
   67.09
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 20:30:00
</td>
<td align="right">
   67.09
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 20:35:00
</td>
<td align="right">
   67.09
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 20:40:00
</td>
<td align="right">
   67.09
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 20:45:00
</td>
<td align="right">
   67.09
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 20:50:00
</td>
<td align="right">
   67.11
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-17 20:55:00
</td>
<td align="right">
   67.15
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-17 19:00:00
</td>
<td align="right">
   70.27
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-12-18 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-17 19:05:00
</td>
<td align="right">
   70.21
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2012-12-18 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-17 19:10:00
</td>
<td align="right">
   70.20
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-12-18 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-17 19:15:00
</td>
<td align="right">
   70.17
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2012-12-18 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-17 19:20:00
</td>
<td align="right">
   70.15
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-12-18 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-17 19:25:00
</td>
<td align="right">
   70.17
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-12-18 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-17 19:30:00
</td>
<td align="right">
   70.19
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-12-18 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-17 19:35:00
</td>
<td align="right">
   70.19
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-12-18 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-17 19:55:00
</td>
<td align="right">
   70.16
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Tue: 2012-12-18 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-17 20:00:00
</td>
<td align="right">
   70.17
</td>
<td align="right">
  .92
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-17 20:05:00
</td>
<td align="right">
   70.29
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-17 20:10:00
</td>
<td align="right">
   70.25
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-17 20:15:00
</td>
<td align="right">
   70.25
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-17 20:20:00
</td>
<td align="right">
   70.24
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-17 20:25:00
</td>
<td align="right">
   70.23
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-17 20:30:00
</td>
<td align="right">
   70.24
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-17 20:35:00
</td>
<td align="right">
   70.23
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-17 20:40:00
</td>
<td align="right">
   70.25
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-17 20:45:00
</td>
<td align="right">
   70.26
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-17 20:50:00
</td>
<td align="right">
   70.34
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-17 20:55:00
</td>
<td align="right">
   70.36
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2012-12-17 19:20:00
</td>
<td align="right">
   57.56
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2012-12-18 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PNC">PNC</a></td>
<td>
2012-12-17 19:25:00
</td>
<td align="right">
   57.56
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2012-12-18 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-12-17 19:10:00
</td>
<td align="right">
  143.10
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-12-18 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-12-17 19:50:00
</td>
<td align="right">
  143.09
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .56
</td>
<td>
Tue: 2012-12-18 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-12-17 20:05:00
</td>
<td align="right">
  143.28
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-12-17 20:10:00
</td>
<td align="right">
  143.22
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-12-17 20:25:00
</td>
<td align="right">
  143.25
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-12-17 20:30:00
</td>
<td align="right">
  143.28
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-12-17 20:35:00
</td>
<td align="right">
  143.36
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-12-17 20:45:00
</td>
<td align="right">
  143.47
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-12-17 20:50:00
</td>
<td align="right">
  143.65
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-12-17 20:55:00
</td>
<td align="right">
  143.77
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-12-17 19:00:00
</td>
<td align="right">
  148.55
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.55
</td>
<td>
Tue: 2012-12-18 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-12-17 19:05:00
</td>
<td align="right">
  148.44
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.38
</td>
<td>
Tue: 2012-12-18 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-12-17 19:10:00
</td>
<td align="right">
  148.37
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2012-12-18 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-12-17 19:15:00
</td>
<td align="right">
  148.37
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Tue: 2012-12-18 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-12-17 19:20:00
</td>
<td align="right">
  148.33
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.35
</td>
<td>
Tue: 2012-12-18 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-12-17 19:25:00
</td>
<td align="right">
  148.52
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.55
</td>
<td>
Tue: 2012-12-18 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-12-17 20:45:00
</td>
<td align="right">
  148.46
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2012-12-17 20:50:00
</td>
<td align="right">
  148.72
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-12-18 20:50
</td>
</tr>
</table>
<br />