<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-05-17 18:05:00
</td>
<td align="right">
   68.67
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Fri: 2012-05-18 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-05-17 18:15:00
</td>
<td align="right">
   68.60
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Fri: 2012-05-18 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-05-17 18:20:00
</td>
<td align="right">
   68.66
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Fri: 2012-05-18 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-05-17 18:35:00
</td>
<td align="right">
   68.59
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.36
</td>
<td>
Fri: 2012-05-18 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-05-17 18:40:00
</td>
<td align="right">
   68.66
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.62
</td>
<td>
Fri: 2012-05-18 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-05-17 19:00:00
</td>
<td align="right">
   68.70
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-05-18 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=YUM">YUM</a></td>
<td>
2012-05-17 19:30:00
</td>
<td align="right">
   68.41
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-05-18 19:30
</td>
</tr>
</table>
<br />