<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2011-12-21 19:25:00
</td>
<td align="right">
   94.06
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .40
</td>
<td>
Thu: 2011-12-22 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-12-21 20:30:00
</td>
<td align="right">
  113.10
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2011-12-21 20:35:00
</td>
<td align="right">
  113.12
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CTSH">CTSH</a></td>
<td>
2011-12-21 20:40:00
</td>
<td align="right">
   63.71
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CTSH">CTSH</a></td>
<td>
2011-12-21 20:50:00
</td>
<td align="right">
   63.36
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVS">CVS</a></td>
<td>
2011-12-21 20:55:00
</td>
<td align="right">
   40.48
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-12-21 19:40:00
</td>
<td align="right">
  120.33
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .41
</td>
<td>
Thu: 2011-12-22 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-12-21 20:00:00
</td>
<td align="right">
  120.42
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-12-21 20:20:00
</td>
<td align="right">
  120.60
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIA">DIA</a></td>
<td>
2011-12-21 20:40:00
</td>
<td align="right">
  120.74
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-21 19:05:00
</td>
<td align="right">
   52.67
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2011-12-22 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-21 19:55:00
</td>
<td align="right">
   52.61
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Thu: 2011-12-22 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-21 20:05:00
</td>
<td align="right">
   52.71
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-21 20:10:00
</td>
<td align="right">
   52.77
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-21 20:30:00
</td>
<td align="right">
   52.92
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-12-21 20:50:00
</td>
<td align="right">
   52.89
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-12-21 19:40:00
</td>
<td align="right">
   42.51
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .48
</td>
<td>
Thu: 2011-12-22 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-12-21 20:20:00
</td>
<td align="right">
   42.79
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-12-21 20:25:00
</td>
<td align="right">
   42.86
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-12-21 20:30:00
</td>
<td align="right">
   42.96
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-12-21 20:35:00
</td>
<td align="right">
   43.03
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-12-21 20:40:00
</td>
<td align="right">
   42.99
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-12-21 20:45:00
</td>
<td align="right">
   42.92
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-12-21 20:50:00
</td>
<td align="right">
   42.89
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-12-21 20:55:00
</td>
<td align="right">
   42.98
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-12-21 19:35:00
</td>
<td align="right">
   30.23
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Thu: 2011-12-22 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-12-21 19:50:00
</td>
<td align="right">
   30.29
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2011-12-22 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-12-21 20:05:00
</td>
<td align="right">
   30.32
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-12-21 20:15:00
</td>
<td align="right">
   30.30
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-12-21 20:20:00
</td>
<td align="right">
   30.29
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-12-21 20:25:00
</td>
<td align="right">
   30.29
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-12-21 20:45:00
</td>
<td align="right">
   30.35
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2011-12-21 20:50:00
</td>
<td align="right">
   30.33
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-12-21 19:05:00
</td>
<td align="right">
   49.71
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2011-12-22 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-12-21 19:15:00
</td>
<td align="right">
   49.53
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Thu: 2011-12-22 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-12-21 19:35:00
</td>
<td align="right">
   49.61
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Thu: 2011-12-22 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-12-21 19:50:00
</td>
<td align="right">
   49.69
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Thu: 2011-12-22 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-12-21 19:55:00
</td>
<td align="right">
   49.70
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .27
</td>
<td>
Thu: 2011-12-22 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-12-21 20:15:00
</td>
<td align="right">
   49.76
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-12-21 20:20:00
</td>
<td align="right">
   49.73
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2011-12-21 19:10:00
</td>
<td align="right">
   65.97
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2011-12-22 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2011-12-21 20:30:00
</td>
<td align="right">
   66.00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-12-21 20:55:00
</td>
<td align="right">
   40.26
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RDY">RDY</a></td>
<td>
2011-12-21 19:00:00
</td>
<td align="right">
   29.68
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2011-12-22 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RDY">RDY</a></td>
<td>
2011-12-21 19:05:00
</td>
<td align="right">
   29.65
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2011-12-22 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RDY">RDY</a></td>
<td>
2011-12-21 19:25:00
</td>
<td align="right">
   29.67
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2011-12-22 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RDY">RDY</a></td>
<td>
2011-12-21 20:30:00
</td>
<td align="right">
   29.77
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RDY">RDY</a></td>
<td>
2011-12-21 20:40:00
</td>
<td align="right">
   29.79
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RDY">RDY</a></td>
<td>
2011-12-21 20:50:00
</td>
<td align="right">
   29.74
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RDY">RDY</a></td>
<td>
2011-12-21 20:55:00
</td>
<td align="right">
   29.80
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2011-12-21 19:15:00
</td>
<td align="right">
   67.22
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .36
</td>
<td>
Thu: 2011-12-22 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2011-12-21 19:25:00
</td>
<td align="right">
   67.28
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .27
</td>
<td>
Thu: 2011-12-22 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2011-12-21 19:50:00
</td>
<td align="right">
   67.24
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Thu: 2011-12-22 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2011-12-21 19:55:00
</td>
<td align="right">
   67.20
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .48
</td>
<td>
Thu: 2011-12-22 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2011-12-21 20:00:00
</td>
<td align="right">
   67.23
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-21 19:00:00
</td>
<td align="right">
    6.34
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2011-12-22 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-21 19:05:00
</td>
<td align="right">
    6.33
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2011-12-22 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-21 19:15:00
</td>
<td align="right">
    6.32
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2011-12-22 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-21 19:20:00
</td>
<td align="right">
    6.32
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2011-12-22 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-21 19:25:00
</td>
<td align="right">
    6.32
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2011-12-22 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-21 19:35:00
</td>
<td align="right">
    6.34
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2011-12-22 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-21 19:45:00
</td>
<td align="right">
    6.33
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2011-12-22 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-21 20:00:00
</td>
<td align="right">
    6.32
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-21 20:10:00
</td>
<td align="right">
    6.33
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-21 20:15:00
</td>
<td align="right">
    6.33
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-21 20:25:00
</td>
<td align="right">
    6.33
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-21 20:30:00
</td>
<td align="right">
    6.34
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-21 20:35:00
</td>
<td align="right">
    6.39
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-21 20:40:00
</td>
<td align="right">
    6.39
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-21 20:45:00
</td>
<td align="right">
    6.38
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-21 20:50:00
</td>
<td align="right">
    6.35
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SVM">SVM</a></td>
<td>
2011-12-21 20:55:00
</td>
<td align="right">
    6.40
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EBAY">EBAY</a></td>
<td>
2011-12-21 19:25:00
</td>
<td align="right">
   30.08
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Thu: 2011-12-22 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EBAY">EBAY</a></td>
<td>
2011-12-21 20:20:00
</td>
<td align="right">
   30.16
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EBAY">EBAY</a></td>
<td>
2011-12-21 20:30:00
</td>
<td align="right">
   30.31
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-21 19:45:00
</td>
<td align="right">
   10.01
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2011-12-22 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-21 19:50:00
</td>
<td align="right">
   10.01
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2011-12-22 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-21 20:00:00
</td>
<td align="right">
   10.02
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-21 20:10:00
</td>
<td align="right">
   10.04
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-21 20:25:00
</td>
<td align="right">
   10.06
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EXK">EXK</a></td>
<td>
2011-12-21 20:45:00
</td>
<td align="right">
   10.08
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-12-21 19:00:00
</td>
<td align="right">
   56.55
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2011-12-22 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-12-21 19:10:00
</td>
<td align="right">
   56.48
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2011-12-22 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-12-21 19:30:00
</td>
<td align="right">
   56.44
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Thu: 2011-12-22 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-12-21 19:45:00
</td>
<td align="right">
   56.61
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2011-12-22 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-12-21 19:50:00
</td>
<td align="right">
   56.60
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2011-12-22 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-12-21 20:10:00
</td>
<td align="right">
   56.60
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-12-21 20:40:00
</td>
<td align="right">
   56.72
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2011-12-21 19:10:00
</td>
<td align="right">
   36.68
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Thu: 2011-12-22 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-12-21 19:00:00
</td>
<td align="right">
   17.89
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2011-12-22 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-12-21 19:10:00
</td>
<td align="right">
   17.85
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2011-12-22 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-12-21 19:15:00
</td>
<td align="right">
   17.84
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2011-12-22 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-12-21 19:20:00
</td>
<td align="right">
   17.82
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2011-12-22 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-12-21 19:25:00
</td>
<td align="right">
   17.83
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2011-12-22 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-12-21 19:35:00
</td>
<td align="right">
   17.85
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Thu: 2011-12-22 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-12-21 19:50:00
</td>
<td align="right">
   17.87
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2011-12-22 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-12-21 19:55:00
</td>
<td align="right">
   17.89
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2011-12-22 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-12-21 20:00:00
</td>
<td align="right">
   17.92
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-12-21 20:05:00
</td>
<td align="right">
   17.96
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-12-21 20:10:00
</td>
<td align="right">
   17.95
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-12-21 20:15:00
</td>
<td align="right">
   17.95
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-12-21 20:20:00
</td>
<td align="right">
   17.92
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-12-21 20:25:00
</td>
<td align="right">
   17.95
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-12-21 20:30:00
</td>
<td align="right">
   18.01
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-12-21 20:35:00
</td>
<td align="right">
   18.04
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-12-21 20:40:00
</td>
<td align="right">
   18.02
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-12-21 20:45:00
</td>
<td align="right">
   17.96
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-12-21 20:50:00
</td>
<td align="right">
   17.96
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MT">MT</a></td>
<td>
2011-12-21 20:55:00
</td>
<td align="right">
   18.01
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-12-21 20:15:00
</td>
<td align="right">
   49.98
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-12-21 20:20:00
</td>
<td align="right">
   49.97
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2011-12-21 20:30:00
</td>
<td align="right">
   49.99
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-12-22 20:30
</td>
</tr>
</table>
<br />