<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 18:05:00
</td>
<td align="right">
   42.49
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-07-03 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 18:10:00
</td>
<td align="right">
   42.53
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-07-03 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 18:15:00
</td>
<td align="right">
   42.60
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2012-07-03 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 18:20:00
</td>
<td align="right">
   42.56
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-07-03 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 18:25:00
</td>
<td align="right">
   42.60
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-07-03 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 18:30:00
</td>
<td align="right">
   42.57
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2012-07-03 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 18:35:00
</td>
<td align="right">
   42.54
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Tue: 2012-07-03 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 18:40:00
</td>
<td align="right">
   42.53
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Tue: 2012-07-03 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 18:45:00
</td>
<td align="right">
   42.53
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Tue: 2012-07-03 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 18:50:00
</td>
<td align="right">
   42.51
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Tue: 2012-07-03 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 18:55:00
</td>
<td align="right">
   42.56
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Tue: 2012-07-03 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 19:00:00
</td>
<td align="right">
   42.54
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 19:05:00
</td>
<td align="right">
   42.51
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 19:10:00
</td>
<td align="right">
   42.50
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 19:15:00
</td>
<td align="right">
   42.56
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 19:20:00
</td>
<td align="right">
   42.65
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 19:25:00
</td>
<td align="right">
   42.67
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 19:35:00
</td>
<td align="right">
   42.74
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 19:40:00
</td>
<td align="right">
   42.82
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 19:45:00
</td>
<td align="right">
   42.81
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 19:50:00
</td>
<td align="right">
   42.82
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-07-02 19:55:00
</td>
<td align="right">
   42.84
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-07-02 18:00:00
</td>
<td align="right">
   86.95
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-07-03 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-07-02 18:05:00
</td>
<td align="right">
   86.99
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-07-03 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APA">APA</a></td>
<td>
2012-07-02 18:20:00
</td>
<td align="right">
   86.96
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-07-03 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-07-02 18:00:00
</td>
<td align="right">
  105.35
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .33
</td>
<td>
Tue: 2012-07-03 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-07-02 18:05:00
</td>
<td align="right">
  105.40
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Tue: 2012-07-03 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-07-02 18:10:00
</td>
<td align="right">
  105.49
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2012-07-03 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-07-02 18:15:00
</td>
<td align="right">
  105.59
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-07-03 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-07-02 18:20:00
</td>
<td align="right">
  105.64
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-07-03 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-07-02 18:30:00
</td>
<td align="right">
  105.59
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Tue: 2012-07-03 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-07-02 18:45:00
</td>
<td align="right">
  105.59
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Tue: 2012-07-03 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-07-02 18:50:00
</td>
<td align="right">
  105.59
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2012-07-03 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-07-02 19:10:00
</td>
<td align="right">
  105.64
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2012-07-02 18:05:00
</td>
<td align="right">
   90.81
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Tue: 2012-07-03 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2012-07-02 18:10:00
</td>
<td align="right">
   90.92
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-07-03 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2012-07-02 18:15:00
</td>
<td align="right">
   91.07
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-07-03 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2012-07-02 18:20:00
</td>
<td align="right">
   91.04
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-07-03 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2012-07-02 18:45:00
</td>
<td align="right">
   91.25
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2012-07-03 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2012-07-02 19:00:00
</td>
<td align="right">
   91.24
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2012-07-02 19:05:00
</td>
<td align="right">
   91.13
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2012-07-02 19:10:00
</td>
<td align="right">
   90.98
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2012-07-02 19:15:00
</td>
<td align="right">
   91.01
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2012-07-02 19:20:00
</td>
<td align="right">
   91.06
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2012-07-02 19:25:00
</td>
<td align="right">
   91.12
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2012-07-02 19:30:00
</td>
<td align="right">
   91.25
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2012-07-02 19:35:00
</td>
<td align="right">
   91.28
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2012-07-02 18:05:00
</td>
<td align="right">
  114.47
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-07-03 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2012-07-02 19:05:00
</td>
<td align="right">
  114.46
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FLS">FLS</a></td>
<td>
2012-07-02 19:10:00
</td>
<td align="right">
  114.39
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-07-02 18:00:00
</td>
<td align="right">
   43.29
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2012-07-03 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-07-02 18:05:00
</td>
<td align="right">
   43.23
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Tue: 2012-07-03 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-07-02 18:10:00
</td>
<td align="right">
   43.20
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2012-07-03 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-07-02 18:15:00
</td>
<td align="right">
   43.20
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2012-07-03 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-07-02 18:20:00
</td>
<td align="right">
   43.16
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2012-07-03 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-07-02 18:25:00
</td>
<td align="right">
   43.23
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2012-07-03 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-07-02 18:30:00
</td>
<td align="right">
   43.15
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2012-07-03 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-07-02 18:35:00
</td>
<td align="right">
   43.15
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2012-07-03 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-07-02 18:45:00
</td>
<td align="right">
   43.15
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Tue: 2012-07-03 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-07-02 18:50:00
</td>
<td align="right">
   43.18
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2012-07-03 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-07-02 18:55:00
</td>
<td align="right">
   43.16
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Tue: 2012-07-03 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-07-02 19:00:00
</td>
<td align="right">
   43.16
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-07-02 19:50:00
</td>
<td align="right">
   42.97
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-07-02 18:35:00
</td>
<td align="right">
   54.60
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2012-07-03 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-07-02 19:30:00
</td>
<td align="right">
   54.74
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-07-02 19:35:00
</td>
<td align="right">
   54.78
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-07-02 19:40:00
</td>
<td align="right">
   54.78
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2012-07-02 19:45:00
</td>
<td align="right">
   54.75
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-07-02 18:10:00
</td>
<td align="right">
   56.80
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2012-07-03 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-07-02 18:15:00
</td>
<td align="right">
   56.84
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-07-03 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-07-02 18:55:00
</td>
<td align="right">
   56.72
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-07-03 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-07-02 19:00:00
</td>
<td align="right">
   56.72
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-07-02 19:05:00
</td>
<td align="right">
   56.72
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-07-02 19:10:00
</td>
<td align="right">
   56.72
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-07-02 19:15:00
</td>
<td align="right">
   56.72
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-07-02 19:20:00
</td>
<td align="right">
   56.72
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-07-02 19:30:00
</td>
<td align="right">
   56.75
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-07-02 19:35:00
</td>
<td align="right">
   56.75
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-07-02 19:40:00
</td>
<td align="right">
   56.75
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-07-02 19:45:00
</td>
<td align="right">
   56.73
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-07-02 19:50:00
</td>
<td align="right">
   56.73
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 18:00:00
</td>
<td align="right">
   43.80
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2012-07-03 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 18:05:00
</td>
<td align="right">
   43.89
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Tue: 2012-07-03 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 18:10:00
</td>
<td align="right">
   43.87
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Tue: 2012-07-03 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 18:15:00
</td>
<td align="right">
   43.93
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Tue: 2012-07-03 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 18:20:00
</td>
<td align="right">
   43.92
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2012-07-03 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 18:25:00
</td>
<td align="right">
   43.89
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-07-03 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 18:30:00
</td>
<td align="right">
   43.87
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-07-03 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 18:35:00
</td>
<td align="right">
   43.84
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-07-03 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 18:40:00
</td>
<td align="right">
   43.85
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-07-03 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 18:45:00
</td>
<td align="right">
   43.83
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-07-03 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 18:50:00
</td>
<td align="right">
   43.82
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-07-03 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 18:55:00
</td>
<td align="right">
   43.81
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2012-07-03 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 19:00:00
</td>
<td align="right">
   43.72
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 19:05:00
</td>
<td align="right">
   43.63
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 19:10:00
</td>
<td align="right">
   43.61
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 19:15:00
</td>
<td align="right">
   43.63
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 19:20:00
</td>
<td align="right">
   43.69
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 19:25:00
</td>
<td align="right">
   43.77
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 19:30:00
</td>
<td align="right">
   43.88
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 19:35:00
</td>
<td align="right">
   43.93
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 19:40:00
</td>
<td align="right">
   43.91
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 19:45:00
</td>
<td align="right">
   43.88
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 19:50:00
</td>
<td align="right">
   43.88
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2012-07-02 19:55:00
</td>
<td align="right">
   43.98
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-02 19:15:00
</td>
<td align="right">
   76.22
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-07-02 19:25:00
</td>
<td align="right">
   76.22
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-07-02 18:15:00
</td>
<td align="right">
   64.68
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-07-03 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-07-02 19:10:00
</td>
<td align="right">
   64.70
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-07-02 19:15:00
</td>
<td align="right">
   64.73
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-07-02 19:20:00
</td>
<td align="right">
   64.75
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-07-02 19:25:00
</td>
<td align="right">
   64.74
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-07-02 19:30:00
</td>
<td align="right">
   64.70
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-07-02 19:40:00
</td>
<td align="right">
   64.70
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-07-02 19:45:00
</td>
<td align="right">
   64.83
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-07-02 19:50:00
</td>
<td align="right">
   64.82
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-07-02 19:55:00
</td>
<td align="right">
   64.96
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2012-07-02 18:15:00
</td>
<td align="right">
   42.42
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2012-07-03 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2012-07-02 19:30:00
</td>
<td align="right">
   42.41
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SOHU">SOHU</a></td>
<td>
2012-07-02 19:40:00
</td>
<td align="right">
   42.46
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 18:00:00
</td>
<td align="right">
   39.23
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-07-03 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 18:05:00
</td>
<td align="right">
   39.24
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-07-03 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 18:10:00
</td>
<td align="right">
   39.21
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-07-03 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 18:15:00
</td>
<td align="right">
   39.24
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-07-03 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 18:20:00
</td>
<td align="right">
   39.24
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-07-03 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 18:25:00
</td>
<td align="right">
   39.20
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-07-03 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 18:30:00
</td>
<td align="right">
   39.22
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-07-03 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 18:35:00
</td>
<td align="right">
   39.21
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-07-03 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 18:50:00
</td>
<td align="right">
   39.21
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-07-03 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 18:55:00
</td>
<td align="right">
   39.21
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-07-03 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 19:00:00
</td>
<td align="right">
   39.21
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 19:05:00
</td>
<td align="right">
   39.24
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 19:10:00
</td>
<td align="right">
   39.25
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 19:15:00
</td>
<td align="right">
   39.25
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 19:20:00
</td>
<td align="right">
   39.26
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 19:25:00
</td>
<td align="right">
   39.26
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 19:30:00
</td>
<td align="right">
   39.25
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 19:35:00
</td>
<td align="right">
   39.25
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 19:40:00
</td>
<td align="right">
   39.25
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 19:45:00
</td>
<td align="right">
   39.26
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 19:50:00
</td>
<td align="right">
   39.26
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TEVA">TEVA</a></td>
<td>
2012-07-02 19:55:00
</td>
<td align="right">
   39.26
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-07-02 18:20:00
</td>
<td align="right">
   56.22
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-07-03 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-07-02 18:30:00
</td>
<td align="right">
   56.21
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-07-03 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-07-02 18:35:00
</td>
<td align="right">
   56.19
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2012-07-03 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-07-02 18:40:00
</td>
<td align="right">
   56.16
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-07-03 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-07-02 18:55:00
</td>
<td align="right">
   56.14
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-07-03 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNH">UNH</a></td>
<td>
2012-07-02 19:10:00
</td>
<td align="right">
   56.19
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 18:00:00
</td>
<td align="right">
  118.47
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2012-07-03 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 18:05:00
</td>
<td align="right">
  118.64
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Tue: 2012-07-03 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 18:10:00
</td>
<td align="right">
  118.68
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Tue: 2012-07-03 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 18:15:00
</td>
<td align="right">
  118.73
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.49
</td>
<td>
Tue: 2012-07-03 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 18:20:00
</td>
<td align="right">
  118.63
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.36
</td>
<td>
Tue: 2012-07-03 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 18:25:00
</td>
<td align="right">
  118.71
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.47
</td>
<td>
Tue: 2012-07-03 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 18:35:00
</td>
<td align="right">
  118.57
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Tue: 2012-07-03 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 18:40:00
</td>
<td align="right">
  118.44
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2012-07-03 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 18:45:00
</td>
<td align="right">
  118.43
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2012-07-03 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 18:50:00
</td>
<td align="right">
  118.35
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-07-03 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 18:55:00
</td>
<td align="right">
  118.33
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2012-07-03 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 19:00:00
</td>
<td align="right">
  118.29
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 19:10:00
</td>
<td align="right">
  118.20
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 19:15:00
</td>
<td align="right">
  118.24
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 19:20:00
</td>
<td align="right">
  118.27
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 19:25:00
</td>
<td align="right">
  118.24
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 19:30:00
</td>
<td align="right">
  118.28
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 19:35:00
</td>
<td align="right">
  118.28
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 19:40:00
</td>
<td align="right">
  118.25
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 19:45:00
</td>
<td align="right">
  118.24
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 19:50:00
</td>
<td align="right">
  118.36
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UNP">UNP</a></td>
<td>
2012-07-02 19:55:00
</td>
<td align="right">
  118.50
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UPS">UPS</a></td>
<td>
2012-07-02 19:30:00
</td>
<td align="right">
   78.51
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-07-02 18:10:00
</td>
<td align="right">
   61.07
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2012-07-03 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-07-02 18:15:00
</td>
<td align="right">
   61.14
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2012-07-03 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-07-02 18:20:00
</td>
<td align="right">
   61.13
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Tue: 2012-07-03 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-07-02 18:25:00
</td>
<td align="right">
   61.25
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-07-03 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-07-02 18:30:00
</td>
<td align="right">
   61.11
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Tue: 2012-07-03 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-07-02 18:35:00
</td>
<td align="right">
   61.28
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Tue: 2012-07-03 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-07-02 18:45:00
</td>
<td align="right">
   61.34
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Tue: 2012-07-03 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-07-02 18:50:00
</td>
<td align="right">
   61.29
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Tue: 2012-07-03 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-07-02 18:55:00
</td>
<td align="right">
   61.37
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2012-07-03 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-07-02 19:00:00
</td>
<td align="right">
   61.40
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-07-02 19:05:00
</td>
<td align="right">
   61.25
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-07-02 19:10:00
</td>
<td align="right">
   61.25
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-07-02 19:15:00
</td>
<td align="right">
   61.30
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-07-02 19:20:00
</td>
<td align="right">
   61.36
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-07-02 19:25:00
</td>
<td align="right">
   61.30
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WHR">WHR</a></td>
<td>
2012-07-02 19:30:00
</td>
<td align="right">
   61.40
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-07-02 18:00:00
</td>
<td align="right">
   36.47
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2012-07-03 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-07-02 18:05:00
</td>
<td align="right">
   36.52
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Tue: 2012-07-03 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-07-02 18:10:00
</td>
<td align="right">
   36.46
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2012-07-03 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-07-02 18:15:00
</td>
<td align="right">
   36.43
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2012-07-03 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-07-02 18:20:00
</td>
<td align="right">
   36.43
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2012-07-03 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-07-02 18:25:00
</td>
<td align="right">
   36.45
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2012-07-03 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-07-02 18:30:00
</td>
<td align="right">
   36.39
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-07-03 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-07-02 18:35:00
</td>
<td align="right">
   36.41
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-07-03 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-07-02 18:40:00
</td>
<td align="right">
   36.39
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2012-07-03 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-07-02 18:45:00
</td>
<td align="right">
   36.35
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2012-07-03 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-07-02 18:50:00
</td>
<td align="right">
   36.35
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-07-03 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-07-02 18:55:00
</td>
<td align="right">
   36.41
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-07-03 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-07-02 19:00:00
</td>
<td align="right">
   36.40
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-07-02 19:15:00
</td>
<td align="right">
   36.30
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-07-02 19:20:00
</td>
<td align="right">
   36.30
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-07-02 19:25:00
</td>
<td align="right">
   36.31
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-07-02 19:30:00
</td>
<td align="right">
   36.36
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-07-02 19:35:00
</td>
<td align="right">
   36.32
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-07-02 19:45:00
</td>
<td align="right">
   36.28
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-07-02 19:50:00
</td>
<td align="right">
   36.32
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APOL">APOL</a></td>
<td>
2012-07-02 19:55:00
</td>
<td align="right">
   36.31
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2012-07-02 18:00:00
</td>
<td align="right">
  111.03
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .37
</td>
<td>
Tue: 2012-07-03 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 18:00:00
</td>
<td align="right">
  380.68
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    1.22
</td>
<td>
Tue: 2012-07-03 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 18:05:00
</td>
<td align="right">
  382.29
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.40
</td>
<td>
Tue: 2012-07-03 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 18:10:00
</td>
<td align="right">
  382.93
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   -1.59
</td>
<td>
Tue: 2012-07-03 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 18:15:00
</td>
<td align="right">
  383.00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   -1.41
</td>
<td>
Tue: 2012-07-03 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 18:20:00
</td>
<td align="right">
  382.40
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2012-07-03 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 18:25:00
</td>
<td align="right">
  382.12
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .44
</td>
<td>
Tue: 2012-07-03 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 18:30:00
</td>
<td align="right">
  382.70
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .55
</td>
<td>
Tue: 2012-07-03 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 18:35:00
</td>
<td align="right">
  382.66
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-07-03 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 18:40:00
</td>
<td align="right">
  382.49
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .58
</td>
<td>
Tue: 2012-07-03 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 18:45:00
</td>
<td align="right">
  381.97
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    1.41
</td>
<td>
Tue: 2012-07-03 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 18:50:00
</td>
<td align="right">
  381.68
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    1.13
</td>
<td>
Tue: 2012-07-03 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 18:55:00
</td>
<td align="right">
  381.97
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    1.01
</td>
<td>
Tue: 2012-07-03 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 19:00:00
</td>
<td align="right">
  381.90
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 19:05:00
</td>
<td align="right">
  381.89
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 19:10:00
</td>
<td align="right">
  381.34
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 19:15:00
</td>
<td align="right">
  381.59
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 19:20:00
</td>
<td align="right">
  382.55
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 19:25:00
</td>
<td align="right">
  382.56
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 19:30:00
</td>
<td align="right">
  383.25
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 19:35:00
</td>
<td align="right">
  382.80
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 19:40:00
</td>
<td align="right">
  383.07
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 19:50:00
</td>
<td align="right">
  382.81
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-07-02 19:55:00
</td>
<td align="right">
  382.98
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2012-07-02 18:40:00
</td>
<td align="right">
   49.17
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Tue: 2012-07-03 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-07-02 18:00:00
</td>
<td align="right">
   97.73
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.64
</td>
<td>
Tue: 2012-07-03 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-07-02 18:10:00
</td>
<td align="right">
   98.02
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   -1.09
</td>
<td>
Tue: 2012-07-03 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-07-02 18:30:00
</td>
<td align="right">
   97.72
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.49
</td>
<td>
Tue: 2012-07-03 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-07-02 18:35:00
</td>
<td align="right">
   97.53
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2012-07-03 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-07-02 19:20:00
</td>
<td align="right">
   97.21
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-07-02 19:30:00
</td>
<td align="right">
   97.23
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-07-02 19:35:00
</td>
<td align="right">
   97.32
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-07-02 19:40:00
</td>
<td align="right">
   97.20
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-07-02 19:45:00
</td>
<td align="right">
   97.44
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-02 18:00:00
</td>
<td align="right">
   49.72
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-07-03 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-02 18:05:00
</td>
<td align="right">
   49.90
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.38
</td>
<td>
Tue: 2012-07-03 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-02 18:10:00
</td>
<td align="right">
   49.85
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Tue: 2012-07-03 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-02 18:15:00
</td>
<td align="right">
   49.94
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Tue: 2012-07-03 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-02 18:20:00
</td>
<td align="right">
   49.79
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2012-07-03 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-02 18:25:00
</td>
<td align="right">
   49.83
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2012-07-03 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-02 18:30:00
</td>
<td align="right">
   49.75
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Tue: 2012-07-03 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-02 18:35:00
</td>
<td align="right">
   49.63
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Tue: 2012-07-03 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-02 18:45:00
</td>
<td align="right">
   49.64
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Tue: 2012-07-03 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-02 18:50:00
</td>
<td align="right">
   49.55
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .47
</td>
<td>
Tue: 2012-07-03 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-02 18:55:00
</td>
<td align="right">
   49.64
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .44
</td>
<td>
Tue: 2012-07-03 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-02 19:00:00
</td>
<td align="right">
   49.63
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-02 19:05:00
</td>
<td align="right">
   49.52
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-02 19:10:00
</td>
<td align="right">
   49.57
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-02 19:35:00
</td>
<td align="right">
   49.86
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-02 19:40:00
</td>
<td align="right">
   49.83
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SINA">SINA</a></td>
<td>
2012-07-02 19:45:00
</td>
<td align="right">
   49.96
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-07-03 19:45
</td>
</tr>
</table>
<br />