<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-16 19:00:00
</td>
<td align="right">
   63.06
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-11-19 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-16 19:05:00
</td>
<td align="right">
   63.09
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-11-19 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-16 19:15:00
</td>
<td align="right">
   63.01
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2012-11-19 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-16 19:20:00
</td>
<td align="right">
   62.89
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2012-11-19 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-16 19:25:00
</td>
<td align="right">
   62.88
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2012-11-19 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-16 19:30:00
</td>
<td align="right">
   62.85
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2012-11-19 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-16 19:40:00
</td>
<td align="right">
   63.00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2012-11-19 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-16 19:45:00
</td>
<td align="right">
   62.98
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-11-19 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-16 19:50:00
</td>
<td align="right">
   62.99
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2012-11-19 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-16 19:55:00
</td>
<td align="right">
   62.99
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-11-19 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-16 20:00:00
</td>
<td align="right">
   62.95
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-19 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-16 20:05:00
</td>
<td align="right">
   62.97
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-19 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-16 20:20:00
</td>
<td align="right">
   62.94
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-19 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-16 20:25:00
</td>
<td align="right">
   62.91
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-19 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-16 20:30:00
</td>
<td align="right">
   62.93
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-19 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-16 20:35:00
</td>
<td align="right">
   62.96
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-19 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-16 20:40:00
</td>
<td align="right">
   62.95
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-19 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-16 20:45:00
</td>
<td align="right">
   62.86
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-19 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-16 20:50:00
</td>
<td align="right">
   62.90
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-19 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ABT">ABT</a></td>
<td>
2012-11-16 20:55:00
</td>
<td align="right">
   62.88
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-19 20:55
</td>
</tr>
</table>
<br />