<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-12-06 19:55:00
</td>
<td align="right">
   57.96
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2011-12-07 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2011-12-06 20:50:00
</td>
<td align="right">
   58.05
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Wed: 2011-12-07 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMT">AMT</a></td>
<td>
2011-12-06 20:20:00
</td>
<td align="right">
   59.48
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.81
</td>
<td>
Wed: 2011-12-07 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-12-06 19:40:00
</td>
<td align="right">
   24.89
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2011-12-07 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-12-06 19:45:00
</td>
<td align="right">
   24.99
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-12-07 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-12-06 19:50:00
</td>
<td align="right">
   25.15
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Wed: 2011-12-07 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ANR">ANR</a></td>
<td>
2011-12-06 19:55:00
</td>
<td align="right">
   25.07
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Wed: 2011-12-07 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2011-12-06 19:00:00
</td>
<td align="right">
  100.26
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .86
</td>
<td>
Wed: 2011-12-07 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2011-12-06 19:05:00
</td>
<td align="right">
  100.34
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .77
</td>
<td>
Wed: 2011-12-07 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2011-12-06 19:10:00
</td>
<td align="right">
  100.32
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    1.03
</td>
<td>
Wed: 2011-12-07 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2011-12-06 19:15:00
</td>
<td align="right">
  100.44
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .83
</td>
<td>
Wed: 2011-12-07 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2011-12-06 19:20:00
</td>
<td align="right">
  100.22
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .98
</td>
<td>
Wed: 2011-12-07 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2011-12-06 19:25:00
</td>
<td align="right">
  100.34
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .48
</td>
<td>
Wed: 2011-12-07 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2011-12-06 19:30:00
</td>
<td align="right">
  100.56
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .50
</td>
<td>
Wed: 2011-12-07 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2011-12-06 19:45:00
</td>
<td align="right">
  101.03
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Wed: 2011-12-07 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2011-12-06 19:50:00
</td>
<td align="right">
  101.22
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.58
</td>
<td>
Wed: 2011-12-07 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2011-12-06 19:55:00
</td>
<td align="right">
  101.03
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.51
</td>
<td>
Wed: 2011-12-07 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2011-12-06 20:00:00
</td>
<td align="right">
  101.12
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   -2.10
</td>
<td>
Wed: 2011-12-07 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2011-12-06 20:05:00
</td>
<td align="right">
  101.11
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   -2.11
</td>
<td>
Wed: 2011-12-07 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2011-12-06 20:10:00
</td>
<td align="right">
  101.35
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   -2.51
</td>
<td>
Wed: 2011-12-07 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BEN">BEN</a></td>
<td>
2011-12-06 20:55:00
</td>
<td align="right">
  100.52
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   -1.70
</td>
<td>
Wed: 2011-12-07 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-12-06 19:00:00
</td>
<td align="right">
   43.71
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2011-12-07 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-12-06 19:50:00
</td>
<td align="right">
   43.92
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Wed: 2011-12-07 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-12-06 20:05:00
</td>
<td align="right">
   43.81
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.55
</td>
<td>
Wed: 2011-12-07 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2011-12-06 20:10:00
</td>
<td align="right">
   43.88
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.67
</td>
<td>
Wed: 2011-12-07 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2011-12-06 19:40:00
</td>
<td align="right">
   78.79
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Wed: 2011-12-07 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2011-12-06 19:45:00
</td>
<td align="right">
   78.77
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Wed: 2011-12-07 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2011-12-06 20:15:00
</td>
<td align="right">
   78.76
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   -1.37
</td>
<td>
Wed: 2011-12-07 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DNDN">DNDN</a></td>
<td>
2011-12-06 19:15:00
</td>
<td align="right">
    8.67
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Wed: 2011-12-07 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DNDN">DNDN</a></td>
<td>
2011-12-06 19:40:00
</td>
<td align="right">
    8.73
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2011-12-07 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DNDN">DNDN</a></td>
<td>
2011-12-06 19:45:00
</td>
<td align="right">
    8.72
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2011-12-07 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DNDN">DNDN</a></td>
<td>
2011-12-06 19:50:00
</td>
<td align="right">
    8.76
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Wed: 2011-12-07 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-12-06 19:55:00
</td>
<td align="right">
   53.45
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Wed: 2011-12-07 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MOS">MOS</a></td>
<td>
2011-12-06 20:05:00
</td>
<td align="right">
   53.58
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   -1.12
</td>
<td>
Wed: 2011-12-07 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2011-12-06 20:55:00
</td>
<td align="right">
   41.16
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.65
</td>
<td>
Wed: 2011-12-07 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-12-06 19:00:00
</td>
<td align="right">
   66.02
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Wed: 2011-12-07 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-12-06 19:05:00
</td>
<td align="right">
   65.89
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Wed: 2011-12-07 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-12-06 19:15:00
</td>
<td align="right">
   65.93
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Wed: 2011-12-07 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-12-06 19:20:00
</td>
<td align="right">
   65.97
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .27
</td>
<td>
Wed: 2011-12-07 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-12-06 19:25:00
</td>
<td align="right">
   65.98
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Wed: 2011-12-07 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-12-06 19:30:00
</td>
<td align="right">
   66.06
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Wed: 2011-12-07 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-12-06 19:35:00
</td>
<td align="right">
   66.06
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Wed: 2011-12-07 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-12-06 19:50:00
</td>
<td align="right">
   66.24
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2011-12-07 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-12-06 19:55:00
</td>
<td align="right">
   66.39
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Wed: 2011-12-07 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-12-06 19:35:00
</td>
<td align="right">
   43.62
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Wed: 2011-12-07 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-12-06 19:55:00
</td>
<td align="right">
   43.86
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.36
</td>
<td>
Wed: 2011-12-07 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-12-06 20:35:00
</td>
<td align="right">
   43.81
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Wed: 2011-12-07 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-12-06 20:40:00
</td>
<td align="right">
   43.60
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Wed: 2011-12-07 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=POT">POT</a></td>
<td>
2011-12-06 20:50:00
</td>
<td align="right">
   43.66
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Wed: 2011-12-07 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2011-12-06 20:20:00
</td>
<td align="right">
   77.24
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   -1.90
</td>
<td>
Wed: 2011-12-07 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2011-12-06 20:30:00
</td>
<td align="right">
   77.00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   -2.00
</td>
<td>
Wed: 2011-12-07 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2011-12-06 20:35:00
</td>
<td align="right">
   76.95
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   -2.13
</td>
<td>
Wed: 2011-12-07 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TKR">TKR</a></td>
<td>
2011-12-06 19:05:00
</td>
<td align="right">
   42.95
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Wed: 2011-12-07 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TKR">TKR</a></td>
<td>
2011-12-06 19:25:00
</td>
<td align="right">
   42.93
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Wed: 2011-12-07 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TKR">TKR</a></td>
<td>
2011-12-06 19:35:00
</td>
<td align="right">
   43.04
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2011-12-07 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TKR">TKR</a></td>
<td>
2011-12-06 19:40:00
</td>
<td align="right">
   43.01
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Wed: 2011-12-07 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2011-12-06 20:10:00
</td>
<td align="right">
   47.22
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.81
</td>
<td>
Wed: 2011-12-07 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AU">AU</a></td>
<td>
2011-12-06 20:25:00
</td>
<td align="right">
   46.96
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.44
</td>
<td>
Wed: 2011-12-07 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DD">DD</a></td>
<td>
2011-12-06 20:55:00
</td>
<td align="right">
   47.94
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.47
</td>
<td>
Wed: 2011-12-07 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-12-06 19:05:00
</td>
<td align="right">
   51.15
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Wed: 2011-12-07 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-12-06 19:20:00
</td>
<td align="right">
   51.16
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Wed: 2011-12-07 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-12-06 19:25:00
</td>
<td align="right">
   51.19
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2011-12-07 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-12-06 19:30:00
</td>
<td align="right">
   51.25
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Wed: 2011-12-07 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2011-12-06 20:50:00
</td>
<td align="right">
   51.18
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.43
</td>
<td>
Wed: 2011-12-07 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 19:00:00
</td>
<td align="right">
   46.25
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Wed: 2011-12-07 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 19:05:00
</td>
<td align="right">
   46.14
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Wed: 2011-12-07 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 19:10:00
</td>
<td align="right">
   46.02
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .52
</td>
<td>
Wed: 2011-12-07 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 19:15:00
</td>
<td align="right">
   46.17
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Wed: 2011-12-07 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 19:20:00
</td>
<td align="right">
   46.03
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .45
</td>
<td>
Wed: 2011-12-07 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 19:25:00
</td>
<td align="right">
   46.03
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Wed: 2011-12-07 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 19:30:00
</td>
<td align="right">
   46.12
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Wed: 2011-12-07 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 19:35:00
</td>
<td align="right">
   46.28
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2011-12-07 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 19:40:00
</td>
<td align="right">
   46.25
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2011-12-07 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 19:45:00
</td>
<td align="right">
   46.31
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2011-12-07 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 19:50:00
</td>
<td align="right">
   46.39
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Wed: 2011-12-07 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 19:55:00
</td>
<td align="right">
   46.37
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Wed: 2011-12-07 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 20:00:00
</td>
<td align="right">
   46.40
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    3.47
</td>
<td>
Wed: 2011-12-07 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 20:05:00
</td>
<td align="right">
   46.43
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    4.57
</td>
<td>
Wed: 2011-12-07 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 20:15:00
</td>
<td align="right">
   46.48
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    4.48
</td>
<td>
Wed: 2011-12-07 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 20:20:00
</td>
<td align="right">
   46.48
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
    4.98
</td>
<td>
Wed: 2011-12-07 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 20:25:00
</td>
<td align="right">
   46.26
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    5.39
</td>
<td>
Wed: 2011-12-07 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 20:30:00
</td>
<td align="right">
   46.29
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    5.43
</td>
<td>
Wed: 2011-12-07 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 20:40:00
</td>
<td align="right">
   46.25
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    4.82
</td>
<td>
Wed: 2011-12-07 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 20:45:00
</td>
<td align="right">
   46.33
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    5.05
</td>
<td>
Wed: 2011-12-07 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 20:50:00
</td>
<td align="right">
   46.17
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
    4.88
</td>
<td>
Wed: 2011-12-07 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-12-06 20:55:00
</td>
<td align="right">
   46.14
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
    4.62
</td>
<td>
Wed: 2011-12-07 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GOOG">GOOG</a></td>
<td>
2011-12-06 20:50:00
</td>
<td align="right">
  624.29
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   -4.47
</td>
<td>
Wed: 2011-12-07 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2011-12-06 19:00:00
</td>
<td align="right">
   45.24
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .47
</td>
<td>
Wed: 2011-12-07 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2011-12-06 20:45:00
</td>
<td align="right">
   57.56
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.76
</td>
<td>
Wed: 2011-12-07 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2011-12-06 20:50:00
</td>
<td align="right">
   57.45
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.71
</td>
<td>
Wed: 2011-12-07 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2011-12-06 20:55:00
</td>
<td align="right">
   57.32
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.74
</td>
<td>
Wed: 2011-12-07 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-12-06 19:50:00
</td>
<td align="right">
   96.17
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.67
</td>
<td>
Wed: 2011-12-07 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-12-06 20:05:00
</td>
<td align="right">
   96.07
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.55
</td>
<td>
Wed: 2011-12-07 20:05
</td>
</tr>
</table>
<br />