<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2012-11-23 16:00:00
</td>
<td align="right">
    6.69
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-11-26 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2012-11-23 16:05:00
</td>
<td align="right">
    6.67
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-11-26 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2012-11-23 16:10:00
</td>
<td align="right">
    6.68
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-11-26 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2012-11-23 16:20:00
</td>
<td align="right">
    6.67
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-11-26 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2012-11-23 16:25:00
</td>
<td align="right">
    6.65
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2012-11-26 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2012-11-23 17:35:00
</td>
<td align="right">
    6.64
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2012-11-23 17:40:00
</td>
<td align="right">
    6.66
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2012-11-23 17:45:00
</td>
<td align="right">
    6.66
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ACI">ACI</a></td>
<td>
2012-11-23 17:55:00
</td>
<td align="right">
    6.63
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-11-23 16:35:00
</td>
<td align="right">
  101.32
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Mon: 2012-11-26 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-11-23 16:40:00
</td>
<td align="right">
  101.32
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .42
</td>
<td>
Mon: 2012-11-26 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-11-23 16:45:00
</td>
<td align="right">
  101.34
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2012-11-26 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-11-23 16:50:00
</td>
<td align="right">
  101.32
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Mon: 2012-11-26 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-11-23 16:55:00
</td>
<td align="right">
  101.30
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .43
</td>
<td>
Mon: 2012-11-26 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2012-11-23 16:40:00
</td>
<td align="right">
   48.90
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2012-11-26 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2012-11-23 16:45:00
</td>
<td align="right">
   48.85
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Mon: 2012-11-26 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2012-11-23 16:50:00
</td>
<td align="right">
   48.86
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Mon: 2012-11-26 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2012-11-23 16:55:00
</td>
<td align="right">
   48.89
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .36
</td>
<td>
Mon: 2012-11-26 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2012-11-23 17:00:00
</td>
<td align="right">
   48.88
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2012-11-23 17:05:00
</td>
<td align="right">
   48.87
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2012-11-23 17:10:00
</td>
<td align="right">
   48.86
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2012-11-23 17:15:00
</td>
<td align="right">
   48.82
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2012-11-23 17:20:00
</td>
<td align="right">
   48.90
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DIS">DIS</a></td>
<td>
2012-11-23 17:25:00
</td>
<td align="right">
   48.90
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2012-11-23 16:00:00
</td>
<td align="right">
   51.97
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2012-11-26 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2012-11-23 16:35:00
</td>
<td align="right">
   51.97
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Mon: 2012-11-26 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2012-11-23 16:40:00
</td>
<td align="right">
   51.97
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Mon: 2012-11-26 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2012-11-23 16:55:00
</td>
<td align="right">
   51.95
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Mon: 2012-11-26 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2012-11-23 16:00:00
</td>
<td align="right">
   43.14
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-11-26 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2012-11-23 16:05:00
</td>
<td align="right">
   43.19
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2012-11-26 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2012-11-23 16:10:00
</td>
<td align="right">
   43.20
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2012-11-26 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2012-11-23 16:40:00
</td>
<td align="right">
   43.16
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-11-26 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2012-11-23 16:45:00
</td>
<td align="right">
   43.14
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-11-26 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2012-11-23 17:20:00
</td>
<td align="right">
   43.12
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2012-11-23 17:25:00
</td>
<td align="right">
   43.15
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2012-11-23 17:35:00
</td>
<td align="right">
   43.14
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2012-11-23 17:40:00
</td>
<td align="right">
   43.16
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2012-11-23 17:45:00
</td>
<td align="right">
   43.14
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2012-11-23 17:50:00
</td>
<td align="right">
   43.14
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-11-23 16:00:00
</td>
<td align="right">
   90.41
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2012-11-26 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-11-23 16:25:00
</td>
<td align="right">
   90.44
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2012-11-26 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-11-23 16:55:00
</td>
<td align="right">
   90.25
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Mon: 2012-11-26 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-11-23 17:00:00
</td>
<td align="right">
   90.24
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-11-23 17:05:00
</td>
<td align="right">
   90.23
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-11-23 17:10:00
</td>
<td align="right">
   90.19
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-11-23 17:15:00
</td>
<td align="right">
   90.21
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-11-23 17:20:00
</td>
<td align="right">
   90.19
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-11-23 17:25:00
</td>
<td align="right">
   90.22
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-11-23 17:30:00
</td>
<td align="right">
   90.36
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-11-23 17:50:00
</td>
<td align="right">
   90.49
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-11-23 16:05:00
</td>
<td align="right">
   41.04
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2012-11-26 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NUE">NUE</a></td>
<td>
2012-11-23 16:55:00
</td>
<td align="right">
   40.82
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .30
</td>
<td>
Mon: 2012-11-26 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 16:00:00
</td>
<td align="right">
   11.95
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2012-11-26 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 16:05:00
</td>
<td align="right">
   11.97
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2012-11-26 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 16:10:00
</td>
<td align="right">
   11.94
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2012-11-26 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 16:15:00
</td>
<td align="right">
   11.94
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2012-11-26 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 16:20:00
</td>
<td align="right">
   11.95
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2012-11-26 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 16:25:00
</td>
<td align="right">
   11.95
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2012-11-26 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 16:30:00
</td>
<td align="right">
   11.96
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2012-11-26 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 16:35:00
</td>
<td align="right">
   11.96
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-11-26 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 16:40:00
</td>
<td align="right">
   11.97
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2012-11-26 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 16:45:00
</td>
<td align="right">
   11.98
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-11-26 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 16:50:00
</td>
<td align="right">
   12.03
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2012-11-26 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 16:55:00
</td>
<td align="right">
   12.02
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2012-11-26 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 17:00:00
</td>
<td align="right">
   12.01
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 17:05:00
</td>
<td align="right">
   12.02
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 17:10:00
</td>
<td align="right">
   11.98
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 17:15:00
</td>
<td align="right">
   11.98
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 17:20:00
</td>
<td align="right">
   11.98
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 17:25:00
</td>
<td align="right">
   11.96
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 17:30:00
</td>
<td align="right">
   11.98
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 17:35:00
</td>
<td align="right">
   11.96
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 17:40:00
</td>
<td align="right">
   11.98
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 17:45:00
</td>
<td align="right">
   11.90
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 17:50:00
</td>
<td align="right">
   11.86
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NVDA">NVDA</a></td>
<td>
2012-11-23 17:55:00
</td>
<td align="right">
   11.89
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PBR">PBR</a></td>
<td>
2012-11-23 17:00:00
</td>
<td align="right">
   18.53
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PBR">PBR</a></td>
<td>
2012-11-23 17:35:00
</td>
<td align="right">
   18.73
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-11-23 17:45:00
</td>
<td align="right">
   46.21
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=RIG">RIG</a></td>
<td>
2012-11-23 17:50:00
</td>
<td align="right">
   46.22
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-11-23 16:00:00
</td>
<td align="right">
   85.65
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2012-11-26 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-11-23 16:40:00
</td>
<td align="right">
   85.64
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2012-11-26 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-11-23 16:45:00
</td>
<td align="right">
   85.50
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .33
</td>
<td>
Mon: 2012-11-26 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-11-23 17:05:00
</td>
<td align="right">
   85.54
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-11-23 17:10:00
</td>
<td align="right">
   85.58
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-11-23 17:15:00
</td>
<td align="right">
   85.64
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-11-23 17:20:00
</td>
<td align="right">
   85.66
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-11-23 17:25:00
</td>
<td align="right">
   85.61
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-11-23 17:30:00
</td>
<td align="right">
   85.59
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-11-23 17:35:00
</td>
<td align="right">
   85.68
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-11-23 16:00:00
</td>
<td align="right">
   70.91
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Mon: 2012-11-26 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-11-23 16:05:00
</td>
<td align="right">
   70.89
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Mon: 2012-11-26 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-11-23 16:10:00
</td>
<td align="right">
   70.85
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Mon: 2012-11-26 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-11-23 16:15:00
</td>
<td align="right">
   70.82
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2012-11-26 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-11-23 16:25:00
</td>
<td align="right">
   70.63
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2012-11-26 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-11-23 16:30:00
</td>
<td align="right">
   70.64
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2012-11-26 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-11-23 16:35:00
</td>
<td align="right">
   70.59
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .40
</td>
<td>
Mon: 2012-11-26 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-11-23 16:40:00
</td>
<td align="right">
   70.58
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .41
</td>
<td>
Mon: 2012-11-26 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-11-23 16:45:00
</td>
<td align="right">
   70.63
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Mon: 2012-11-26 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-11-23 16:50:00
</td>
<td align="right">
   70.59
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .38
</td>
<td>
Mon: 2012-11-26 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-11-23 16:55:00
</td>
<td align="right">
   70.53
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .64
</td>
<td>
Mon: 2012-11-26 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-11-23 17:00:00
</td>
<td align="right">
   70.57
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-11-23 17:05:00
</td>
<td align="right">
   70.62
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-11-23 17:10:00
</td>
<td align="right">
   70.60
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-11-23 17:15:00
</td>
<td align="right">
   70.58
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-11-23 17:20:00
</td>
<td align="right">
   70.71
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-11-23 17:25:00
</td>
<td align="right">
   70.82
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-11-23 17:30:00
</td>
<td align="right">
   70.83
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2012-11-23 16:05:00
</td>
<td align="right">
   36.97
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-11-26 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2012-11-23 16:10:00
</td>
<td align="right">
   37.00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2012-11-26 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2012-11-23 16:15:00
</td>
<td align="right">
   36.96
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2012-11-26 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2012-11-23 16:20:00
</td>
<td align="right">
   36.94
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-11-26 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2012-11-23 16:25:00
</td>
<td align="right">
   36.89
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2012-11-26 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2012-11-23 16:30:00
</td>
<td align="right">
   36.85
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2012-11-26 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2012-11-23 16:35:00
</td>
<td align="right">
   36.86
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Mon: 2012-11-26 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2012-11-23 16:40:00
</td>
<td align="right">
   36.86
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Mon: 2012-11-26 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2012-11-23 16:45:00
</td>
<td align="right">
   36.93
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2012-11-26 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2012-11-23 16:50:00
</td>
<td align="right">
   36.92
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2012-11-26 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2012-11-23 16:55:00
</td>
<td align="right">
   36.87
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2012-11-26 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2012-11-23 17:00:00
</td>
<td align="right">
   36.95
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2012-11-23 17:05:00
</td>
<td align="right">
   36.89
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2012-11-23 17:10:00
</td>
<td align="right">
   36.83
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2012-11-23 17:15:00
</td>
<td align="right">
   36.86
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2012-11-23 17:20:00
</td>
<td align="right">
   36.94
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2012-11-23 17:25:00
</td>
<td align="right">
   37.00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLW">SLW</a></td>
<td>
2012-11-23 17:35:00
</td>
<td align="right">
   37.07
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TM">TM</a></td>
<td>
2012-11-23 16:25:00
</td>
<td align="right">
   85.45
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2012-11-26 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TM">TM</a></td>
<td>
2012-11-23 16:30:00
</td>
<td align="right">
   85.52
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2012-11-26 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TM">TM</a></td>
<td>
2012-11-23 16:50:00
</td>
<td align="right">
   85.39
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2012-11-26 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TM">TM</a></td>
<td>
2012-11-23 16:55:00
</td>
<td align="right">
   85.41
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2012-11-26 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TM">TM</a></td>
<td>
2012-11-23 17:00:00
</td>
<td align="right">
   85.36
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TM">TM</a></td>
<td>
2012-11-23 17:05:00
</td>
<td align="right">
   85.31
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TM">TM</a></td>
<td>
2012-11-23 17:10:00
</td>
<td align="right">
   85.34
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TM">TM</a></td>
<td>
2012-11-23 17:15:00
</td>
<td align="right">
   85.28
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TM">TM</a></td>
<td>
2012-11-23 17:20:00
</td>
<td align="right">
   85.34
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TM">TM</a></td>
<td>
2012-11-23 17:25:00
</td>
<td align="right">
   85.41
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TM">TM</a></td>
<td>
2012-11-23 17:30:00
</td>
<td align="right">
   85.42
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-11-23 17:25:00
</td>
<td align="right">
   29.63
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-11-23 17:50:00
</td>
<td align="right">
   29.57
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2012-11-23 17:55:00
</td>
<td align="right">
   29.58
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2012-11-23 16:45:00
</td>
<td align="right">
   49.46
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2012-11-26 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2012-11-23 16:55:00
</td>
<td align="right">
   49.44
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2012-11-26 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2012-11-23 17:00:00
</td>
<td align="right">
   49.44
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2012-11-23 17:05:00
</td>
<td align="right">
   49.41
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2012-11-23 17:10:00
</td>
<td align="right">
   49.39
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2012-11-23 17:15:00
</td>
<td align="right">
   49.38
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2012-11-23 17:20:00
</td>
<td align="right">
   49.41
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-23 16:40:00
</td>
<td align="right">
   24.41
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2012-11-26 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-23 16:45:00
</td>
<td align="right">
   24.49
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-11-26 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-23 16:50:00
</td>
<td align="right">
   24.45
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2012-11-26 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-23 16:55:00
</td>
<td align="right">
   24.42
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2012-11-26 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-23 17:00:00
</td>
<td align="right">
   24.48
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-23 17:05:00
</td>
<td align="right">
   24.49
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-23 17:10:00
</td>
<td align="right">
   24.47
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-23 17:15:00
</td>
<td align="right">
   24.43
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-23 17:20:00
</td>
<td align="right">
   24.36
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-23 17:25:00
</td>
<td align="right">
   24.42
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-23 17:30:00
</td>
<td align="right">
   24.40
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-23 17:35:00
</td>
<td align="right">
   24.47
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-23 17:40:00
</td>
<td align="right">
   24.46
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-23 17:45:00
</td>
<td align="right">
   24.42
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-23 17:50:00
</td>
<td align="right">
   24.41
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-11-23 17:55:00
</td>
<td align="right">
   24.45
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-11-23 17:35:00
</td>
<td align="right">
   80.38
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MET">MET</a></td>
<td>
2012-11-23 17:10:00
</td>
<td align="right">
   32.93
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-11-23 16:50:00
</td>
<td align="right">
   85.46
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .46
</td>
<td>
Mon: 2012-11-26 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-11-23 16:55:00
</td>
<td align="right">
   85.50
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .55
</td>
<td>
Mon: 2012-11-26 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SJM">SJM</a></td>
<td>
2012-11-23 17:00:00
</td>
<td align="right">
   85.56
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 16:00:00
</td>
<td align="right">
   18.91
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-11-26 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 16:05:00
</td>
<td align="right">
   18.87
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2012-11-26 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 16:10:00
</td>
<td align="right">
   18.90
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-11-26 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 16:15:00
</td>
<td align="right">
   18.88
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-11-26 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 16:20:00
</td>
<td align="right">
   18.87
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-11-26 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 16:25:00
</td>
<td align="right">
   18.86
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2012-11-26 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 16:30:00
</td>
<td align="right">
   18.80
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2012-11-26 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 16:35:00
</td>
<td align="right">
   18.76
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2012-11-26 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 16:40:00
</td>
<td align="right">
   18.79
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-11-26 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 16:45:00
</td>
<td align="right">
   18.76
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2012-11-26 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 16:50:00
</td>
<td align="right">
   18.78
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2012-11-26 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 16:55:00
</td>
<td align="right">
   18.77
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2012-11-26 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 17:00:00
</td>
<td align="right">
   18.80
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 17:05:00
</td>
<td align="right">
   18.82
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 17:10:00
</td>
<td align="right">
   18.78
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 17:15:00
</td>
<td align="right">
   18.80
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 17:20:00
</td>
<td align="right">
   18.80
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 17:30:00
</td>
<td align="right">
   18.77
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 17:35:00
</td>
<td align="right">
   18.84
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 17:45:00
</td>
<td align="right">
   18.80
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 17:50:00
</td>
<td align="right">
   18.82
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SKX">SKX</a></td>
<td>
2012-11-23 17:55:00
</td>
<td align="right">
   18.92
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2012-11-23 16:30:00
</td>
<td align="right">
   32.79
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Mon: 2012-11-26 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2012-11-23 16:35:00
</td>
<td align="right">
   32.82
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2012-11-26 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2012-11-23 16:40:00
</td>
<td align="right">
   32.82
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Mon: 2012-11-26 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2012-11-23 16:45:00
</td>
<td align="right">
   32.80
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Mon: 2012-11-26 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2012-11-23 16:55:00
</td>
<td align="right">
   32.86
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2012-11-26 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2012-11-23 17:00:00
</td>
<td align="right">
   32.89
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2012-11-23 17:05:00
</td>
<td align="right">
   32.89
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2012-11-23 17:10:00
</td>
<td align="right">
   32.92
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2012-11-23 17:15:00
</td>
<td align="right">
   32.95
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2012-11-23 17:25:00
</td>
<td align="right">
   33.00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2012-11-23 17:30:00
</td>
<td align="right">
   33.02
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2012-11-23 17:35:00
</td>
<td align="right">
   33.01
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2012-11-23 17:45:00
</td>
<td align="right">
   33.05
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2012-11-23 17:50:00
</td>
<td align="right">
   33.03
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLV">SLV</a></td>
<td>
2012-11-23 17:55:00
</td>
<td align="right">
   32.98
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 16:00:00
</td>
<td align="right">
   27.67
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2012-11-26 16:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 16:05:00
</td>
<td align="right">
   27.67
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2012-11-26 16:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 16:10:00
</td>
<td align="right">
   27.74
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-11-26 16:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 16:15:00
</td>
<td align="right">
   27.70
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-11-26 16:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 16:20:00
</td>
<td align="right">
   27.70
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-11-26 16:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 16:25:00
</td>
<td align="right">
   27.67
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-11-26 16:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 16:30:00
</td>
<td align="right">
   27.68
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2012-11-26 16:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 16:35:00
</td>
<td align="right">
   27.67
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2012-11-26 16:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 16:40:00
</td>
<td align="right">
   27.64
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2012-11-26 16:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 16:45:00
</td>
<td align="right">
   27.64
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2012-11-26 16:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 16:50:00
</td>
<td align="right">
   27.67
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2012-11-26 16:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 16:55:00
</td>
<td align="right">
   27.68
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2012-11-26 16:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 17:00:00
</td>
<td align="right">
   27.63
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 17:05:00
</td>
<td align="right">
   27.64
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 17:10:00
</td>
<td align="right">
   27.63
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 17:15:00
</td>
<td align="right">
   27.62
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 17:20:00
</td>
<td align="right">
   27.63
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 17:25:00
</td>
<td align="right">
   27.61
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 17:30:00
</td>
<td align="right">
   27.65
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 17:35:00
</td>
<td align="right">
   27.72
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 17:40:00
</td>
<td align="right">
   27.66
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 17:45:00
</td>
<td align="right">
   27.59
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 17:50:00
</td>
<td align="right">
   27.63
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VECO">VECO</a></td>
<td>
2012-11-23 17:55:00
</td>
<td align="right">
   27.69
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-11-26 17:55
</td>
</tr>
</table>
<br />