<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2012-12-31 19:45:00
</td>
<td align="right">
   40.81
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2013-01-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2012-12-31 19:50:00
</td>
<td align="right">
   40.81
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2013-01-01 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2012-12-31 19:55:00
</td>
<td align="right">
   40.92
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2013-01-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AKAM">AKAM</a></td>
<td>
2012-12-31 20:05:00
</td>
<td align="right">
   40.91
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2012-12-31 19:45:00
</td>
<td align="right">
   26.49
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2013-01-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BTU">BTU</a></td>
<td>
2012-12-31 20:25:00
</td>
<td align="right">
   26.50
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2012-12-31 19:55:00
</td>
<td align="right">
   39.49
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2013-01-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2012-12-31 20:00:00
</td>
<td align="right">
   39.53
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2012-12-31 20:05:00
</td>
<td align="right">
   39.56
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2012-12-31 20:35:00
</td>
<td align="right">
   39.50
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2012-12-31 20:45:00
</td>
<td align="right">
   39.50
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2012-12-31 20:50:00
</td>
<td align="right">
   39.54
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=C">C</a></td>
<td>
2012-12-31 20:55:00
</td>
<td align="right">
   39.58
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FDX">FDX</a></td>
<td>
2012-12-31 19:45:00
</td>
<td align="right">
   91.32
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Tue: 2013-01-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2012-12-31 20:10:00
</td>
<td align="right">
   49.09
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2012-12-31 20:15:00
</td>
<td align="right">
   49.05
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LLY">LLY</a></td>
<td>
2012-12-31 20:20:00
</td>
<td align="right">
   49.07
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2012-12-31 20:05:00
</td>
<td align="right">
   40.88
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2012-12-31 20:10:00
</td>
<td align="right">
   40.80
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDT">MDT</a></td>
<td>
2012-12-31 20:15:00
</td>
<td align="right">
   40.79
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-12-31 19:20:00
</td>
<td align="right">
   94.17
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2013-01-01 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-12-31 19:35:00
</td>
<td align="right">
   94.19
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Tue: 2013-01-01 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-12-31 19:40:00
</td>
<td align="right">
   94.26
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2013-01-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-12-31 19:45:00
</td>
<td align="right">
   94.41
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2013-01-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-12-31 19:50:00
</td>
<td align="right">
   94.29
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Tue: 2013-01-01 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-12-31 19:55:00
</td>
<td align="right">
   94.48
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2013-01-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-12-31 20:05:00
</td>
<td align="right">
   94.52
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-12-31 20:10:00
</td>
<td align="right">
   94.23
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-12-31 20:15:00
</td>
<td align="right">
   94.25
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-12-31 20:20:00
</td>
<td align="right">
   94.23
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-12-31 20:25:00
</td>
<td align="right">
   94.17
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-12-31 20:30:00
</td>
<td align="right">
   94.23
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-12-31 20:35:00
</td>
<td align="right">
   94.38
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-12-31 20:40:00
</td>
<td align="right">
   94.36
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-12-31 20:45:00
</td>
<td align="right">
   94.54
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-12-31 20:50:00
</td>
<td align="right">
   94.55
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-12-31 20:55:00
</td>
<td align="right">
   67.92
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SLB">SLB</a></td>
<td>
2012-12-31 19:55:00
</td>
<td align="right">
   68.95
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Tue: 2013-01-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-12-31 19:40:00
</td>
<td align="right">
  141.49
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .38
</td>
<td>
Tue: 2013-01-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-12-31 19:45:00
</td>
<td align="right">
  141.70
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .50
</td>
<td>
Tue: 2013-01-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-12-31 19:50:00
</td>
<td align="right">
  141.74
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .52
</td>
<td>
Tue: 2013-01-01 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-12-31 19:55:00
</td>
<td align="right">
  142.03
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .43
</td>
<td>
Tue: 2013-01-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-12-31 20:00:00
</td>
<td align="right">
  142.11
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-12-31 20:05:00
</td>
<td align="right">
  142.06
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-12-31 20:35:00
</td>
<td align="right">
  141.98
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-12-31 20:40:00
</td>
<td align="right">
  141.87
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-12-31 20:45:00
</td>
<td align="right">
  142.20
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WAG">WAG</a></td>
<td>
2012-12-31 19:55:00
</td>
<td align="right">
   36.96
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2013-01-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WAG">WAG</a></td>
<td>
2012-12-31 20:00:00
</td>
<td align="right">
   36.98
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WAG">WAG</a></td>
<td>
2012-12-31 20:05:00
</td>
<td align="right">
   36.95
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WAG">WAG</a></td>
<td>
2012-12-31 20:35:00
</td>
<td align="right">
   36.95
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WAG">WAG</a></td>
<td>
2012-12-31 20:45:00
</td>
<td align="right">
   36.97
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WAG">WAG</a></td>
<td>
2012-12-31 20:50:00
</td>
<td align="right">
   36.99
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WAG">WAG</a></td>
<td>
2012-12-31 20:55:00
</td>
<td align="right">
   37.03
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-12-31 19:00:00
</td>
<td align="right">
   52.53
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Tue: 2013-01-01 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-12-31 19:05:00
</td>
<td align="right">
   52.52
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Tue: 2013-01-01 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-12-31 19:10:00
</td>
<td align="right">
   52.55
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2013-01-01 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-12-31 19:15:00
</td>
<td align="right">
   52.57
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2013-01-01 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-12-31 19:35:00
</td>
<td align="right">
   52.53
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .37
</td>
<td>
Tue: 2013-01-01 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-12-31 20:10:00
</td>
<td align="right">
   75.04
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BA">BA</a></td>
<td>
2012-12-31 20:25:00
</td>
<td align="right">
   74.95
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BBT">BBT</a></td>
<td>
2012-12-31 20:10:00
</td>
<td align="right">
   28.89
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BBT">BBT</a></td>
<td>
2012-12-31 20:15:00
</td>
<td align="right">
   28.90
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BBT">BBT</a></td>
<td>
2012-12-31 20:20:00
</td>
<td align="right">
   28.88
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BBT">BBT</a></td>
<td>
2012-12-31 20:25:00
</td>
<td align="right">
   28.86
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BBT">BBT</a></td>
<td>
2012-12-31 20:30:00
</td>
<td align="right">
   28.91
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BBT">BBT</a></td>
<td>
2012-12-31 20:35:00
</td>
<td align="right">
   28.97
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BBT">BBT</a></td>
<td>
2012-12-31 20:40:00
</td>
<td align="right">
   28.94
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BBT">BBT</a></td>
<td>
2012-12-31 20:45:00
</td>
<td align="right">
   29.01
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-12-31 20:20:00
</td>
<td align="right">
  295.35
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMG">CMG</a></td>
<td>
2012-12-31 20:35:00
</td>
<td align="right">
  296.00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CSCO">CSCO</a></td>
<td>
2012-12-31 19:55:00
</td>
<td align="right">
   19.71
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2013-01-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CSCO">CSCO</a></td>
<td>
2012-12-31 20:00:00
</td>
<td align="right">
   19.73
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CSCO">CSCO</a></td>
<td>
2012-12-31 20:05:00
</td>
<td align="right">
   19.69
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CSCO">CSCO</a></td>
<td>
2012-12-31 20:45:00
</td>
<td align="right">
   19.66
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVE">CVE</a></td>
<td>
2012-12-31 19:40:00
</td>
<td align="right">
   33.64
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2013-01-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVE">CVE</a></td>
<td>
2012-12-31 19:45:00
</td>
<td align="right">
   33.67
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2013-01-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVE">CVE</a></td>
<td>
2012-12-31 19:50:00
</td>
<td align="right">
   33.70
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2013-01-01 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVE">CVE</a></td>
<td>
2012-12-31 19:55:00
</td>
<td align="right">
   33.72
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2013-01-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVE">CVE</a></td>
<td>
2012-12-31 20:00:00
</td>
<td align="right">
   33.70
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVE">CVE</a></td>
<td>
2012-12-31 20:05:00
</td>
<td align="right">
   33.71
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-12-31 19:00:00
</td>
<td align="right">
   85.46
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .88
</td>
<td>
Tue: 2013-01-01 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DE">DE</a></td>
<td>
2012-12-31 19:05:00
</td>
<td align="right">
   85.52
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .73
</td>
<td>
Tue: 2013-01-01 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GD">GD</a></td>
<td>
2012-12-31 19:00:00
</td>
<td align="right">
   68.27
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .86
</td>
<td>
Tue: 2013-01-01 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GD">GD</a></td>
<td>
2012-12-31 19:05:00
</td>
<td align="right">
   68.44
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .67
</td>
<td>
Tue: 2013-01-01 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GD">GD</a></td>
<td>
2012-12-31 19:10:00
</td>
<td align="right">
   68.44
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .49
</td>
<td>
Tue: 2013-01-01 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GD">GD</a></td>
<td>
2012-12-31 19:15:00
</td>
<td align="right">
   68.51
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .37
</td>
<td>
Tue: 2013-01-01 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GD">GD</a></td>
<td>
2012-12-31 19:35:00
</td>
<td align="right">
   68.58
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .39
</td>
<td>
Tue: 2013-01-01 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2012-12-31 19:00:00
</td>
<td align="right">
   20.44
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2013-01-01 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2012-12-31 19:05:00
</td>
<td align="right">
   20.46
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Tue: 2013-01-01 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2012-12-31 19:10:00
</td>
<td align="right">
   20.45
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2013-01-01 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2012-12-31 19:15:00
</td>
<td align="right">
   20.45
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2013-01-01 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2012-12-31 19:25:00
</td>
<td align="right">
   20.48
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2013-01-01 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2012-12-31 19:30:00
</td>
<td align="right">
   20.47
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2013-01-01 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2012-12-31 19:35:00
</td>
<td align="right">
   20.46
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2013-01-01 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2012-12-31 19:40:00
</td>
<td align="right">
   20.51
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2013-01-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=INTC">INTC</a></td>
<td>
2012-12-31 19:45:00
</td>
<td align="right">
   20.55
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2013-01-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-12-31 20:00:00
</td>
<td align="right">
   83.99
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-12-31 20:05:00
</td>
<td align="right">
   84.04
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-12-31 20:10:00
</td>
<td align="right">
   83.93
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-12-31 20:30:00
</td>
<td align="right">
   83.93
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-12-31 20:35:00
</td>
<td align="right">
   84.01
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-12-31 20:40:00
</td>
<td align="right">
   83.99
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-12-31 20:45:00
</td>
<td align="right">
   84.18
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IWM">IWM</a></td>
<td>
2012-12-31 20:50:00
</td>
<td align="right">
   84.29
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-12-31 19:45:00
</td>
<td align="right">
   64.54
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2013-01-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-12-31 19:50:00
</td>
<td align="right">
   64.52
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2013-01-01 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-12-31 20:15:00
</td>
<td align="right">
   64.53
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-12-31 20:25:00
</td>
<td align="right">
   64.52
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-12-31 20:30:00
</td>
<td align="right">
   64.53
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-12-31 19:00:00
</td>
<td align="right">
   63.07
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .73
</td>
<td>
Tue: 2013-01-01 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-12-31 19:05:00
</td>
<td align="right">
   63.14
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .60
</td>
<td>
Tue: 2013-01-01 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-12-31 19:10:00
</td>
<td align="right">
   63.25
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .37
</td>
<td>
Tue: 2013-01-01 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-12-31 19:15:00
</td>
<td align="right">
   63.28
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Tue: 2013-01-01 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-12-31 19:20:00
</td>
<td align="right">
   63.41
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2013-01-01 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-12-31 19:25:00
</td>
<td align="right">
   63.45
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2013-01-01 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-12-31 19:30:00
</td>
<td align="right">
   63.47
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2013-01-01 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-12-31 19:35:00
</td>
<td align="right">
   63.34
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .34
</td>
<td>
Tue: 2013-01-01 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-12-31 19:40:00
</td>
<td align="right">
   63.30
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Tue: 2013-01-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-12-31 19:45:00
</td>
<td align="right">
   63.45
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Tue: 2013-01-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-12-31 19:50:00
</td>
<td align="right">
   63.56
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2013-01-01 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-12-31 20:20:00
</td>
<td align="right">
   63.52
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JOY">JOY</a></td>
<td>
2012-12-31 20:25:00
</td>
<td align="right">
   63.36
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-12-31 19:40:00
</td>
<td align="right">
   36.90
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Tue: 2013-01-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-12-31 19:45:00
</td>
<td align="right">
   36.95
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Tue: 2013-01-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-12-31 19:50:00
</td>
<td align="right">
   36.96
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Tue: 2013-01-01 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MCD">MCD</a></td>
<td>
2012-12-31 19:55:00
</td>
<td align="right">
   87.96
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Tue: 2013-01-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MCD">MCD</a></td>
<td>
2012-12-31 20:30:00
</td>
<td align="right">
   87.85
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MCD">MCD</a></td>
<td>
2012-12-31 20:35:00
</td>
<td align="right">
   87.96
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MCD">MCD</a></td>
<td>
2012-12-31 20:40:00
</td>
<td align="right">
   88.00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MCD">MCD</a></td>
<td>
2012-12-31 20:45:00
</td>
<td align="right">
   88.08
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-12-31 19:00:00
</td>
<td align="right">
   92.02
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .77
</td>
<td>
Tue: 2013-01-01 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-12-31 19:05:00
</td>
<td align="right">
   92.05
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .64
</td>
<td>
Tue: 2013-01-01 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-12-31 19:10:00
</td>
<td align="right">
   92.05
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .47
</td>
<td>
Tue: 2013-01-01 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-12-31 19:15:00
</td>
<td align="right">
   92.13
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .40
</td>
<td>
Tue: 2013-01-01 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-12-31 19:20:00
</td>
<td align="right">
   92.26
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Tue: 2013-01-01 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-12-31 19:25:00
</td>
<td align="right">
   92.25
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2013-01-01 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-12-31 19:30:00
</td>
<td align="right">
   92.23
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Tue: 2013-01-01 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-12-31 19:35:00
</td>
<td align="right">
   92.22
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .41
</td>
<td>
Tue: 2013-01-01 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-12-31 19:40:00
</td>
<td align="right">
   92.24
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Tue: 2013-01-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-12-31 19:45:00
</td>
<td align="right">
   92.40
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Tue: 2013-01-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-12-31 19:50:00
</td>
<td align="right">
   92.46
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Tue: 2013-01-01 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-12-31 19:55:00
</td>
<td align="right">
   92.66
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Tue: 2013-01-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-12-31 20:05:00
</td>
<td align="right">
   92.69
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-12-31 20:10:00
</td>
<td align="right">
   92.52
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-12-31 20:15:00
</td>
<td align="right">
   92.53
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-12-31 20:20:00
</td>
<td align="right">
   92.52
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-12-31 20:25:00
</td>
<td align="right">
   92.42
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-12-31 20:30:00
</td>
<td align="right">
   92.53
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-12-31 20:35:00
</td>
<td align="right">
   92.63
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-12-31 20:40:00
</td>
<td align="right">
   92.57
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRO">MRO</a></td>
<td>
2012-12-31 19:10:00
</td>
<td align="right">
   30.23
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2013-01-01 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRO">MRO</a></td>
<td>
2012-12-31 19:45:00
</td>
<td align="right">
   30.35
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Tue: 2013-01-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRO">MRO</a></td>
<td>
2012-12-31 19:55:00
</td>
<td align="right">
   30.42
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Tue: 2013-01-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRO">MRO</a></td>
<td>
2012-12-31 20:00:00
</td>
<td align="right">
   30.46
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRO">MRO</a></td>
<td>
2012-12-31 20:05:00
</td>
<td align="right">
   30.49
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRO">MRO</a></td>
<td>
2012-12-31 20:10:00
</td>
<td align="right">
   30.40
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRO">MRO</a></td>
<td>
2012-12-31 20:15:00
</td>
<td align="right">
   30.41
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRO">MRO</a></td>
<td>
2012-12-31 20:20:00
</td>
<td align="right">
   30.43
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRO">MRO</a></td>
<td>
2012-12-31 20:25:00
</td>
<td align="right">
   30.40
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRO">MRO</a></td>
<td>
2012-12-31 20:30:00
</td>
<td align="right">
   30.46
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRO">MRO</a></td>
<td>
2012-12-31 20:35:00
</td>
<td align="right">
   30.49
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRO">MRO</a></td>
<td>
2012-12-31 20:40:00
</td>
<td align="right">
   30.50
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRO">MRO</a></td>
<td>
2012-12-31 20:45:00
</td>
<td align="right">
   30.60
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRO">MRO</a></td>
<td>
2012-12-31 20:50:00
</td>
<td align="right">
   30.62
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MRO">MRO</a></td>
<td>
2012-12-31 20:55:00
</td>
<td align="right">
   30.65
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-31 19:00:00
</td>
<td align="right">
   66.66
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .91
</td>
<td>
Tue: 2013-01-01 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-31 19:05:00
</td>
<td align="right">
   66.78
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .78
</td>
<td>
Tue: 2013-01-01 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-31 19:10:00
</td>
<td align="right">
   66.77
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .67
</td>
<td>
Tue: 2013-01-01 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-31 19:15:00
</td>
<td align="right">
   66.91
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .51
</td>
<td>
Tue: 2013-01-01 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-31 19:20:00
</td>
<td align="right">
   67.07
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .41
</td>
<td>
Tue: 2013-01-01 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-31 19:35:00
</td>
<td align="right">
   67.06
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .41
</td>
<td>
Tue: 2013-01-01 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-31 19:40:00
</td>
<td align="right">
   67.19
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Tue: 2013-01-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=NOC">NOC</a></td>
<td>
2012-12-31 19:45:00
</td>
<td align="right">
   67.33
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2013-01-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2012-12-31 19:55:00
</td>
<td align="right">
   38.47
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Tue: 2013-01-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2012-12-31 20:00:00
</td>
<td align="right">
   38.54
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2012-12-31 20:05:00
</td>
<td align="right">
   38.56
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2012-12-31 20:40:00
</td>
<td align="right">
   38.51
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-31 19:40:00
</td>
<td align="right">
   67.97
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Tue: 2013-01-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-31 19:50:00
</td>
<td align="right">
   68.08
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Tue: 2013-01-01 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PEP">PEP</a></td>
<td>
2012-12-31 19:55:00
</td>
<td align="right">
   68.17
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Tue: 2013-01-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-12-31 19:45:00
</td>
<td align="right">
   67.48
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Tue: 2013-01-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-12-31 19:50:00
</td>
<td align="right">
   67.47
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .37
</td>
<td>
Tue: 2013-01-01 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-12-31 19:55:00
</td>
<td align="right">
   67.56
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Tue: 2013-01-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-12-31 20:00:00
</td>
<td align="right">
   67.64
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-12-31 20:05:00
</td>
<td align="right">
   67.66
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-12-31 20:10:00
</td>
<td align="right">
   67.47
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-12-31 20:20:00
</td>
<td align="right">
   67.48
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-12-31 20:30:00
</td>
<td align="right">
   67.55
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-12-31 20:35:00
</td>
<td align="right">
   67.60
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PG">PG</a></td>
<td>
2012-12-31 20:40:00
</td>
<td align="right">
   67.55
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2012-12-31 19:10:00
</td>
<td align="right">
   12.72
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2013-01-01 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2012-12-31 19:15:00
</td>
<td align="right">
   12.77
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2013-01-01 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2012-12-31 19:25:00
</td>
<td align="right">
   12.74
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2013-01-01 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2012-12-31 19:30:00
</td>
<td align="right">
   12.79
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2013-01-01 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2012-12-31 19:35:00
</td>
<td align="right">
   12.81
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2013-01-01 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2012-12-31 19:40:00
</td>
<td align="right">
   12.84
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2013-01-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2012-12-31 19:45:00
</td>
<td align="right">
   12.88
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2013-01-01 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2012-12-31 19:50:00
</td>
<td align="right">
   12.86
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2013-01-01 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2012-12-31 19:55:00
</td>
<td align="right">
   12.91
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2013-01-01 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2012-12-31 20:00:00
</td>
<td align="right">
   12.90
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2012-12-31 20:05:00
</td>
<td align="right">
   12.91
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2012-12-31 20:10:00
</td>
<td align="right">
   12.84
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2012-12-31 20:15:00
</td>
<td align="right">
   12.74
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2012-12-31 20:20:00
</td>
<td align="right">
   12.72
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2012-12-31 20:25:00
</td>
<td align="right">
   12.68
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2012-12-31 20:30:00
</td>
<td align="right">
   12.71
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2012-12-31 20:35:00
</td>
<td align="right">
   12.74
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2012-12-31 20:40:00
</td>
<td align="right">
   12.73
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2012-12-31 20:45:00
</td>
<td align="right">
   12.76
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2012-12-31 20:50:00
</td>
<td align="right">
   12.76
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SWC">SWC</a></td>
<td>
2012-12-31 20:55:00
</td>
<td align="right">
   12.78
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-12-31 19:00:00
</td>
<td align="right">
   58.69
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Tue: 2013-01-01 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-12-31 19:05:00
</td>
<td align="right">
   58.78
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Tue: 2013-01-01 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-12-31 19:10:00
</td>
<td align="right">
   58.66
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Tue: 2013-01-01 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-12-31 19:15:00
</td>
<td align="right">
   58.70
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Tue: 2013-01-01 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-12-31 19:20:00
</td>
<td align="right">
   58.77
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2013-01-01 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-12-31 19:25:00
</td>
<td align="right">
   58.80
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2013-01-01 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-12-31 19:30:00
</td>
<td align="right">
   58.81
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2013-01-01 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-12-31 19:35:00
</td>
<td align="right">
   58.81
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2013-01-01 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-12-31 19:40:00
</td>
<td align="right">
   58.90
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2013-01-01 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TGT">TGT</a></td>
<td>
2012-12-31 19:45:00
</td>
<td align="right">
   58.93
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2013-01-01 19:45
</td>
</tr>
</table>
<br />