<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-08-08 18:15:00
</td>
<td align="right">
   45.75
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2012-08-09 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AFL">AFL</a></td>
<td>
2012-08-08 19:05:00
</td>
<td align="right">
   45.77
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-08 18:05:00
</td>
<td align="right">
  234.06
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2012-08-09 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMZN">AMZN</a></td>
<td>
2012-08-08 18:25:00
</td>
<td align="right">
  233.99
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .39
</td>
<td>
Thu: 2012-08-09 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-08-08 18:15:00
</td>
<td align="right">
  131.50
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Thu: 2012-08-09 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-08 18:05:00
</td>
<td align="right">
   57.19
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2012-08-09 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-08 18:20:00
</td>
<td align="right">
   57.17
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Thu: 2012-08-09 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-08 18:25:00
</td>
<td align="right">
   57.23
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2012-08-09 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-08 18:30:00
</td>
<td align="right">
   57.22
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2012-08-09 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-08 18:35:00
</td>
<td align="right">
   57.17
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2012-08-09 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-08 18:40:00
</td>
<td align="right">
   57.19
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2012-08-09 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-08 18:45:00
</td>
<td align="right">
   57.19
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2012-08-09 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-08 18:50:00
</td>
<td align="right">
   57.13
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2012-08-09 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-08 19:00:00
</td>
<td align="right">
   57.19
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-08 19:05:00
</td>
<td align="right">
   57.22
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-08 19:10:00
</td>
<td align="right">
   57.25
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-08 19:35:00
</td>
<td align="right">
   57.27
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-08 19:40:00
</td>
<td align="right">
   57.24
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-08 19:45:00
</td>
<td align="right">
   57.25
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-08 19:50:00
</td>
<td align="right">
   57.22
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COP">COP</a></td>
<td>
2012-08-08 19:55:00
</td>
<td align="right">
   57.17
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LMT">LMT</a></td>
<td>
2012-08-08 18:00:00
</td>
<td align="right">
   90.66
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Thu: 2012-08-09 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LMT">LMT</a></td>
<td>
2012-08-08 18:05:00
</td>
<td align="right">
   90.67
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Thu: 2012-08-09 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LMT">LMT</a></td>
<td>
2012-08-08 18:25:00
</td>
<td align="right">
   90.74
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Thu: 2012-08-09 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LMT">LMT</a></td>
<td>
2012-08-08 18:35:00
</td>
<td align="right">
   90.75
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2012-08-09 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LMT">LMT</a></td>
<td>
2012-08-08 18:40:00
</td>
<td align="right">
   90.80
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2012-08-09 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LMT">LMT</a></td>
<td>
2012-08-08 18:50:00
</td>
<td align="right">
   90.85
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2012-08-09 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LMT">LMT</a></td>
<td>
2012-08-08 18:55:00
</td>
<td align="right">
   90.86
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2012-08-09 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LMT">LMT</a></td>
<td>
2012-08-08 19:00:00
</td>
<td align="right">
   90.92
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LMT">LMT</a></td>
<td>
2012-08-08 19:05:00
</td>
<td align="right">
   90.96
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LMT">LMT</a></td>
<td>
2012-08-08 19:10:00
</td>
<td align="right">
   90.94
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LMT">LMT</a></td>
<td>
2012-08-08 19:15:00
</td>
<td align="right">
   90.94
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LMT">LMT</a></td>
<td>
2012-08-08 19:20:00
</td>
<td align="right">
   90.90
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LMT">LMT</a></td>
<td>
2012-08-08 19:30:00
</td>
<td align="right">
   90.87
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LMT">LMT</a></td>
<td>
2012-08-08 19:55:00
</td>
<td align="right">
   90.89
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-08-08 18:40:00
</td>
<td align="right">
  424.10
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    1.18
</td>
<td>
Thu: 2012-08-09 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-08-08 18:05:00
</td>
<td align="right">
   97.14
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.54
</td>
<td>
Thu: 2012-08-09 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-08-08 18:10:00
</td>
<td align="right">
   97.13
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.47
</td>
<td>
Thu: 2012-08-09 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-08-08 18:15:00
</td>
<td align="right">
   96.98
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Thu: 2012-08-09 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-08-08 18:30:00
</td>
<td align="right">
   96.64
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
Thu: 2012-08-09 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-08-08 19:05:00
</td>
<td align="right">
   96.60
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-08-08 19:10:00
</td>
<td align="right">
   96.66
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AGU">AGU</a></td>
<td>
2012-08-08 19:40:00
</td>
<td align="right">
   96.85
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-08-08 18:10:00
</td>
<td align="right">
   82.86
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Thu: 2012-08-09 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-08-08 18:30:00
</td>
<td align="right">
   82.92
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Thu: 2012-08-09 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-08-08 18:35:00
</td>
<td align="right">
   82.96
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Thu: 2012-08-09 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-08-08 18:40:00
</td>
<td align="right">
   82.93
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Thu: 2012-08-09 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-08-08 18:45:00
</td>
<td align="right">
   82.93
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Thu: 2012-08-09 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-08-08 18:50:00
</td>
<td align="right">
   82.94
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Thu: 2012-08-09 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-08-08 18:55:00
</td>
<td align="right">
   82.90
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Thu: 2012-08-09 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-08-08 19:00:00
</td>
<td align="right">
   82.92
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-08-08 19:05:00
</td>
<td align="right">
   82.98
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-08-08 19:10:00
</td>
<td align="right">
   83.04
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-08-08 19:15:00
</td>
<td align="right">
   83.00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-08-08 19:25:00
</td>
<td align="right">
   83.10
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-08-08 19:30:00
</td>
<td align="right">
   83.15
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-08-08 19:35:00
</td>
<td align="right">
   83.12
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-08-08 19:40:00
</td>
<td align="right">
   83.12
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-08-08 19:45:00
</td>
<td align="right">
   83.29
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-08-08 19:50:00
</td>
<td align="right">
   83.13
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ARG">ARG</a></td>
<td>
2012-08-08 19:55:00
</td>
<td align="right">
   83.19
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-08-08 19:10:00
</td>
<td align="right">
  100.81
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-08-08 18:40:00
</td>
<td align="right">
   56.34
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Thu: 2012-08-09 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-08-08 19:25:00
</td>
<td align="right">
  425.12
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-08-08 19:55:00
</td>
<td align="right">
  424.44
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-08-08 18:25:00
</td>
<td align="right">
   37.37
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2012-08-09 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-08-08 18:40:00
</td>
<td align="right">
   37.15
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2012-08-09 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-08-08 18:50:00
</td>
<td align="right">
   37.09
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Thu: 2012-08-09 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-08-08 18:55:00
</td>
<td align="right">
   37.10
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Thu: 2012-08-09 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-08-08 19:00:00
</td>
<td align="right">
   37.20
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-08-08 19:05:00
</td>
<td align="right">
   37.25
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-08-08 19:20:00
</td>
<td align="right">
   37.23
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-08-08 19:25:00
</td>
<td align="right">
   37.28
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-08-08 19:30:00
</td>
<td align="right">
   37.31
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-08-08 19:35:00
</td>
<td align="right">
   37.28
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-08-08 19:40:00
</td>
<td align="right">
   37.26
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-08-08 19:45:00
</td>
<td align="right">
   37.31
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MAR">MAR</a></td>
<td>
2012-08-08 19:55:00
</td>
<td align="right">
   37.25
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-08-09 19:55
</td>
</tr>
</table>
<br />