<table class="table_us_stk_c">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-09-21 18:30:00
</td>
<td align="right">
  110.91
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2012-09-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-09-21 18:35:00
</td>
<td align="right">
  110.85
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2012-09-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-09-21 18:40:00
</td>
<td align="right">
  111.02
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2012-09-24 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-09-21 18:50:00
</td>
<td align="right">
  110.97
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2012-09-24 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-09-21 19:30:00
</td>
<td align="right">
  111.08
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BIDU">BIDU</a></td>
<td>
2012-09-21 19:40:00
</td>
<td align="right">
  111.04
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-09-21 18:35:00
</td>
<td align="right">
   96.57
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Mon: 2012-09-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-09-21 18:50:00
</td>
<td align="right">
   96.51
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.36
</td>
<td>
Mon: 2012-09-24 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-09-21 18:55:00
</td>
<td align="right">
   96.50
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Mon: 2012-09-24 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-09-21 19:05:00
</td>
<td align="right">
   96.47
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-09-21 19:10:00
</td>
<td align="right">
   96.55
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-09-21 19:15:00
</td>
<td align="right">
   96.50
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CMI">CMI</a></td>
<td>
2012-09-21 19:20:00
</td>
<td align="right">
   96.50
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-09-21 18:00:00
</td>
<td align="right">
   57.50
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-09-24 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-09-21 18:35:00
</td>
<td align="right">
   57.38
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2012-09-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-09-21 18:45:00
</td>
<td align="right">
   57.50
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-09-24 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-09-21 18:55:00
</td>
<td align="right">
   57.42
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2012-09-24 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-09-21 19:15:00
</td>
<td align="right">
   57.52
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=COF">COF</a></td>
<td>
2012-09-21 19:25:00
</td>
<td align="right">
   57.43
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EOG">EOG</a></td>
<td>
2012-09-21 19:35:00
</td>
<td align="right">
  113.73
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-09-21 18:00:00
</td>
<td align="right">
   63.39
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2012-09-24 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-09-21 18:05:00
</td>
<td align="right">
   63.37
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2012-09-24 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-09-21 18:15:00
</td>
<td align="right">
   63.34
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2012-09-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-09-21 18:30:00
</td>
<td align="right">
   63.31
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2012-09-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=ESRX">ESRX</a></td>
<td>
2012-09-21 18:45:00
</td>
<td align="right">
   63.31
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2012-09-24 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-09-21 18:05:00
</td>
<td align="right">
  108.35
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Mon: 2012-09-24 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-09-21 18:10:00
</td>
<td align="right">
  108.41
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.35
</td>
<td>
Mon: 2012-09-24 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-09-21 18:20:00
</td>
<td align="right">
  108.20
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2012-09-24 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-09-21 18:35:00
</td>
<td align="right">
  108.09
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2012-09-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-09-21 18:40:00
</td>
<td align="right">
  108.14
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.40
</td>
<td>
Mon: 2012-09-24 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-09-21 18:45:00
</td>
<td align="right">
  108.18
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.70
</td>
<td>
Mon: 2012-09-24 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-09-21 18:50:00
</td>
<td align="right">
  107.93
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Mon: 2012-09-24 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-09-21 19:00:00
</td>
<td align="right">
  107.86
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-09-21 19:05:00
</td>
<td align="right">
  107.94
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-09-21 19:10:00
</td>
<td align="right">
  108.06
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-09-21 19:15:00
</td>
<td align="right">
  107.95
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-09-21 19:20:00
</td>
<td align="right">
  107.97
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-09-21 19:25:00
</td>
<td align="right">
  107.83
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-09-21 19:35:00
</td>
<td align="right">
  107.85
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-09-21 19:45:00
</td>
<td align="right">
  107.48
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-09-21 19:50:00
</td>
<td align="right">
  107.65
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FFIV">FFIV</a></td>
<td>
2012-09-21 19:55:00
</td>
<td align="right">
  107.87
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2012-09-21 18:25:00
</td>
<td align="right">
  207.39
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.55
</td>
<td>
Mon: 2012-09-24 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IBM">IBM</a></td>
<td>
2012-09-21 19:15:00
</td>
<td align="right">
  207.05
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-09-21 18:10:00
</td>
<td align="right">
  458.43
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Mon: 2012-09-24 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-09-21 18:15:00
</td>
<td align="right">
  457.69
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2012-09-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-09-21 18:20:00
</td>
<td align="right">
  457.31
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
     .70
</td>
<td>
Mon: 2012-09-24 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-09-21 18:25:00
</td>
<td align="right">
  458.01
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-09-24 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-09-21 18:30:00
</td>
<td align="right">
  458.09
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.47
</td>
<td>
Mon: 2012-09-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-09-21 18:35:00
</td>
<td align="right">
  457.83
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.45
</td>
<td>
Mon: 2012-09-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-09-21 18:40:00
</td>
<td align="right">
  457.89
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.45
</td>
<td>
Mon: 2012-09-24 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-09-21 18:45:00
</td>
<td align="right">
  457.83
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2012-09-24 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-09-21 18:55:00
</td>
<td align="right">
  457.92
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    1.56
</td>
<td>
Mon: 2012-09-24 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-09-21 19:00:00
</td>
<td align="right">
  457.61
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-09-21 19:05:00
</td>
<td align="right">
  457.99
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-09-21 19:10:00
</td>
<td align="right">
  458.00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-09-21 19:15:00
</td>
<td align="right">
  457.84
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-09-21 19:20:00
</td>
<td align="right">
  458.01
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-09-21 19:25:00
</td>
<td align="right">
  457.95
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-09-21 19:30:00
</td>
<td align="right">
  457.62
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-09-21 19:35:00
</td>
<td align="right">
  457.38
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-09-21 19:40:00
</td>
<td align="right">
  457.44
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-09-21 19:45:00
</td>
<td align="right">
  458.00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MA">MA</a></td>
<td>
2012-09-21 19:55:00
</td>
<td align="right">
  459.48
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-09-21 18:05:00
</td>
<td align="right">
   90.97
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2012-09-24 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-09-21 18:10:00
</td>
<td align="right">
   91.03
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2012-09-24 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-09-21 18:15:00
</td>
<td align="right">
   90.98
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-09-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-09-21 18:45:00
</td>
<td align="right">
   91.02
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-09-24 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-09-21 19:00:00
</td>
<td align="right">
   91.01
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-09-21 19:20:00
</td>
<td align="right">
   91.09
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-09-21 19:25:00
</td>
<td align="right">
   90.98
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MON">MON</a></td>
<td>
2012-09-21 19:30:00
</td>
<td align="right">
   91.00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=OIH">OIH</a></td>
<td>
2012-09-21 19:40:00
</td>
<td align="right">
   41.98
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2012-09-21 18:30:00
</td>
<td align="right">
   57.06
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2012-09-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-09-21 18:05:00
</td>
<td align="right">
   47.02
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2012-09-24 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-09-21 18:10:00
</td>
<td align="right">
   47.00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2012-09-24 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-09-21 18:30:00
</td>
<td align="right">
   47.00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-09-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-09-21 18:55:00
</td>
<td align="right">
   46.99
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2012-09-24 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-09-21 19:10:00
</td>
<td align="right">
   46.99
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-09-21 19:20:00
</td>
<td align="right">
   47.11
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-09-21 19:40:00
</td>
<td align="right">
   47.03
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-09-21 19:45:00
</td>
<td align="right">
   47.03
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-09-21 19:50:00
</td>
<td align="right">
   46.99
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SUN">SUN</a></td>
<td>
2012-09-21 19:55:00
</td>
<td align="right">
   47.04
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-09-21 18:10:00
</td>
<td align="right">
   56.60
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Mon: 2012-09-24 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-09-21 18:35:00
</td>
<td align="right">
   56.70
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2012-09-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-09-21 19:35:00
</td>
<td align="right">
   56.74
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=UA">UA</a></td>
<td>
2012-09-21 19:55:00
</td>
<td align="right">
   56.52
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-09-21 18:50:00
</td>
<td align="right">
   82.10
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2012-09-24 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-09-21 18:55:00
</td>
<td align="right">
   82.14
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2012-09-24 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AMGN">AMGN</a></td>
<td>
2012-09-21 19:00:00
</td>
<td align="right">
   82.11
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-09-21 19:05:00
</td>
<td align="right">
   72.00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-09-21 19:40:00
</td>
<td align="right">
   71.91
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=APC">APC</a></td>
<td>
2012-09-21 19:55:00
</td>
<td align="right">
   71.92
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2012-09-21 18:05:00
</td>
<td align="right">
   70.16
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-09-24 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2012-09-21 18:15:00
</td>
<td align="right">
   70.08
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2012-09-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2012-09-21 18:40:00
</td>
<td align="right">
   70.04
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2012-09-24 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BHP">BHP</a></td>
<td>
2012-09-21 18:55:00
</td>
<td align="right">
   69.99
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2012-09-24 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2012-09-21 18:05:00
</td>
<td align="right">
   43.17
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2012-09-24 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2012-09-21 18:35:00
</td>
<td align="right">
   43.09
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-09-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2012-09-21 18:55:00
</td>
<td align="right">
   43.10
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2012-09-24 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2012-09-21 19:00:00
</td>
<td align="right">
   43.10
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2012-09-21 19:30:00
</td>
<td align="right">
   43.09
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=BP">BP</a></td>
<td>
2012-09-21 19:40:00
</td>
<td align="right">
   43.09
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-09-21 19:35:00
</td>
<td align="right">
  118.05
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-09-21 19:50:00
</td>
<td align="right">
  117.95
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=CVX">CVX</a></td>
<td>
2012-09-21 19:55:00
</td>
<td align="right">
  117.81
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-09-21 18:30:00
</td>
<td align="right">
   61.08
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Mon: 2012-09-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DVN">DVN</a></td>
<td>
2012-09-21 19:05:00
</td>
<td align="right">
   60.94
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EFA">EFA</a></td>
<td>
2012-09-21 19:55:00
</td>
<td align="right">
   54.55
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2012-09-21 18:15:00
</td>
<td align="right">
   40.84
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2012-09-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2012-09-21 18:45:00
</td>
<td align="right">
   40.73
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2012-09-24 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2012-09-21 18:50:00
</td>
<td align="right">
   40.73
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-09-24 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2012-09-21 19:10:00
</td>
<td align="right">
   40.76
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2012-09-21 19:40:00
</td>
<td align="right">
   40.72
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FCX">FCX</a></td>
<td>
2012-09-21 19:45:00
</td>
<td align="right">
   40.68
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-09-21 18:00:00
</td>
<td align="right">
   21.44
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-09-24 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-09-21 18:20:00
</td>
<td align="right">
   21.30
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2012-09-24 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-09-21 18:25:00
</td>
<td align="right">
   21.29
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2012-09-24 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-09-21 19:15:00
</td>
<td align="right">
   21.38
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-09-21 19:20:00
</td>
<td align="right">
   21.38
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-09-21 19:35:00
</td>
<td align="right">
   21.37
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-09-21 19:50:00
</td>
<td align="right">
   21.15
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2012-09-21 19:55:00
</td>
<td align="right">
   21.26
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GLD">GLD</a></td>
<td>
2012-09-21 19:00:00
</td>
<td align="right">
  171.96
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HES">HES</a></td>
<td>
2012-09-21 19:20:00
</td>
<td align="right">
   55.66
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HES">HES</a></td>
<td>
2012-09-21 19:25:00
</td>
<td align="right">
   55.55
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HES">HES</a></td>
<td>
2012-09-21 19:40:00
</td>
<td align="right">
   55.57
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2012-09-21 18:25:00
</td>
<td align="right">
   65.80
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2012-09-24 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=JWN">JWN</a></td>
<td>
2012-09-21 19:25:00
</td>
<td align="right">
   56.12
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-09-21 18:00:00
</td>
<td align="right">
   45.41
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2012-09-24 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-09-21 18:25:00
</td>
<td align="right">
   45.29
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2012-09-24 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-09-21 18:40:00
</td>
<td align="right">
   45.27
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2012-09-24 18:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-09-21 18:45:00
</td>
<td align="right">
   45.28
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-09-24 18:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-09-21 19:20:00
</td>
<td align="right">
   45.33
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-09-21 19:35:00
</td>
<td align="right">
   45.17
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-09-21 19:40:00
</td>
<td align="right">
   45.08
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-09-21 19:45:00
</td>
<td align="right">
   45.16
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=LVS">LVS</a></td>
<td>
2012-09-21 19:50:00
</td>
<td align="right">
   45.08
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-09-21 18:00:00
</td>
<td align="right">
   93.36
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Mon: 2012-09-24 18:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-09-21 18:10:00
</td>
<td align="right">
   93.39
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Mon: 2012-09-24 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MMM">MMM</a></td>
<td>
2012-09-21 18:15:00
</td>
<td align="right">
   93.36
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Mon: 2012-09-24 18:15
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2012-09-21 19:35:00
</td>
<td align="right">
   65.76
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-09-21 18:35:00
</td>
<td align="right">
   70.17
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-09-24 18:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-09-21 19:35:00
</td>
<td align="right">
   70.17
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:35
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=QQQ">QQQ</a></td>
<td>
2012-09-21 19:45:00
</td>
<td align="right">
   70.14
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:45
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-09-21 18:20:00
</td>
<td align="right">
  146.07
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2012-09-24 18:20
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-09-21 18:25:00
</td>
<td align="right">
  146.12
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-09-24 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-09-21 18:50:00
</td>
<td align="right">
  146.12
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2012-09-24 18:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-09-21 18:55:00
</td>
<td align="right">
  146.10
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2012-09-24 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-09-21 19:10:00
</td>
<td align="right">
  146.17
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-09-21 19:30:00
</td>
<td align="right">
  146.09
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-09-21 19:40:00
</td>
<td align="right">
  146.07
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:40
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-09-21 19:50:00
</td>
<td align="right">
  145.88
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:50
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SPY">SPY</a></td>
<td>
2012-09-21 19:55:00
</td>
<td align="right">
  145.88
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2012-09-21 18:05:00
</td>
<td align="right">
   74.84
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-09-24 18:05
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2012-09-21 18:10:00
</td>
<td align="right">
   74.82
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2012-09-24 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2012-09-21 18:25:00
</td>
<td align="right">
   74.73
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2012-09-24 18:25
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2012-09-21 18:30:00
</td>
<td align="right">
   74.77
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-09-24 18:30
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2012-09-21 18:55:00
</td>
<td align="right">
   74.76
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-09-24 18:55
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XLE">XLE</a></td>
<td>
2012-09-21 19:10:00
</td>
<td align="right">
   74.80
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-09-21 18:10:00
</td>
<td align="right">
   92.15
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-09-24 18:10
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=XOM">XOM</a></td>
<td>
2012-09-21 19:50:00
</td>
<td align="right">
   91.81
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-09-24 19:50
</td>
</tr>
</table>
<br />