/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* These declarations are mostly used in my blog to style code in screen dumps */
pre {font-weight:bold; font-family:"Courier New";}
pre.sql{background-color: #EEEEEE; color: #000088;}
pre.bash{background-color: #EEEEEE; color: #006600;}
pre.rlanguage{background-color: #EEEEEE; color: #660000;}

/* I want anchors to be close to normal but a little different */
a { color:#0000bb; }
a:visited { color:#0000bb; }
a:hover { background-color: white; color:#bb0000; }
/* rounded corners in css3 */
.round_corner15px {
-moz-border-radius: 15px;
border-radius: 15px;
} 
td>div#td_div_lhs {
  background-color: #dddddd; margin-left: 50px; padding-left:15px;
  padding-right:15px; padding-top:6px; width:222px;
}
td>div#td_div_rhs {background-color: #eeeeee; margin-left: 20px; padding-left:15px; padding-right:15px; padding-top:6px}
/* zebra stripes for tables */
div#td_div_rhs>table { border: 1px solid black; width: 100%; }
div#td_div_rhs>table>tbody>tr:nth-child(2n) { background: none repeat scroll 0 0 #F9F9F9; }

