/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require foundation
 *= require_tree . 
*/

pre {font-weight:bold; font-family:"Courier New";}
pre.sql{background-color: #EEEEEE; color: #000088;}
pre.bash{background-color: #EEEEEE; color: #006600;}
pre.rlanguage{background-color: #EEEEEE; color: #660000;}
