<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APC">APC</a></td>
<td>
2012-10-31 14:00:00
</td>
<td align="right">
   67.77
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Thu: 2012-11-01 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APC">APC</a></td>
<td>
2012-10-31 14:20:00
</td>
<td align="right">
   67.87
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .42
</td>
<td>
Thu: 2012-11-01 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-10-31 14:50:00
</td>
<td align="right">
   55.64
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2012-11-01 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-10-31 14:55:00
</td>
<td align="right">
   55.62
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2012-11-01 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-10-31 15:45:00
</td>
<td align="right">
   55.65
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2012-11-01 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-10-31 16:15:00
</td>
<td align="right">
   55.63
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2012-11-01 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CELG">CELG</a></td>
<td>
2012-10-31 14:00:00
</td>
<td align="right">
   74.44
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.77
</td>
<td>
Thu: 2012-11-01 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CLF">CLF</a></td>
<td>
2012-10-31 14:00:00
</td>
<td align="right">
   37.26
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2012-11-01 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CLF">CLF</a></td>
<td>
2012-10-31 14:20:00
</td>
<td align="right">
   37.33
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Thu: 2012-11-01 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CLF">CLF</a></td>
<td>
2012-10-31 14:25:00
</td>
<td align="right">
   37.33
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.37
</td>
<td>
Thu: 2012-11-01 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CLF">CLF</a></td>
<td>
2012-10-31 14:30:00
</td>
<td align="right">
   37.37
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.55
</td>
<td>
Thu: 2012-11-01 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CLF">CLF</a></td>
<td>
2012-10-31 14:35:00
</td>
<td align="right">
   37.57
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.84
</td>
<td>
Thu: 2012-11-01 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CLF">CLF</a></td>
<td>
2012-10-31 14:40:00
</td>
<td align="right">
   37.46
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.91
</td>
<td>
Thu: 2012-11-01 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CLF">CLF</a></td>
<td>
2012-10-31 14:45:00
</td>
<td align="right">
   37.47
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.95
</td>
<td>
Thu: 2012-11-01 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CLF">CLF</a></td>
<td>
2012-10-31 15:40:00
</td>
<td align="right">
   36.55
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Thu: 2012-11-01 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CLF">CLF</a></td>
<td>
2012-10-31 19:30:00
</td>
<td align="right">
   36.41
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JWN">JWN</a></td>
<td>
2012-10-31 17:35:00
</td>
<td align="right">
   56.38
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Thu: 2012-11-01 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JWN">JWN</a></td>
<td>
2012-10-31 17:50:00
</td>
<td align="right">
   56.40
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2012-11-01 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JWN">JWN</a></td>
<td>
2012-10-31 17:55:00
</td>
<td align="right">
   56.41
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2012-11-01 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JWN">JWN</a></td>
<td>
2012-10-31 18:00:00
</td>
<td align="right">
   56.39
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Thu: 2012-11-01 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JWN">JWN</a></td>
<td>
2012-10-31 18:05:00
</td>
<td align="right">
   56.41
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .30
</td>
<td>
Thu: 2012-11-01 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JWN">JWN</a></td>
<td>
2012-10-31 18:10:00
</td>
<td align="right">
   56.47
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .42
</td>
<td>
Thu: 2012-11-01 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 14:20:00
</td>
<td align="right">
   62.08
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Thu: 2012-11-01 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 14:40:00
</td>
<td align="right">
   61.94
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2012-11-01 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 14:45:00
</td>
<td align="right">
   61.96
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2012-11-01 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 14:50:00
</td>
<td align="right">
   61.99
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2012-11-01 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 14:55:00
</td>
<td align="right">
   61.95
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2012-11-01 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 15:10:00
</td>
<td align="right">
   62.03
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2012-11-01 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 15:15:00
</td>
<td align="right">
   61.98
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Thu: 2012-11-01 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 15:30:00
</td>
<td align="right">
   61.95
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Thu: 2012-11-01 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 16:35:00
</td>
<td align="right">
   61.89
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2012-11-01 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 17:10:00
</td>
<td align="right">
   61.80
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2012-11-01 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 17:15:00
</td>
<td align="right">
   61.94
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2012-11-01 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 17:20:00
</td>
<td align="right">
   61.85
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2012-11-01 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 17:25:00
</td>
<td align="right">
   61.89
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2012-11-01 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 17:30:00
</td>
<td align="right">
   61.86
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Thu: 2012-11-01 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 17:35:00
</td>
<td align="right">
   61.93
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Thu: 2012-11-01 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 17:40:00
</td>
<td align="right">
   61.89
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Thu: 2012-11-01 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 17:45:00
</td>
<td align="right">
   61.89
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.42
</td>
<td>
Thu: 2012-11-01 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 17:50:00
</td>
<td align="right">
   61.95
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.53
</td>
<td>
Thu: 2012-11-01 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 17:55:00
</td>
<td align="right">
   61.96
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.54
</td>
<td>
Thu: 2012-11-01 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 18:00:00
</td>
<td align="right">
   61.92
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.47
</td>
<td>
Thu: 2012-11-01 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 18:05:00
</td>
<td align="right">
   61.92
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.38
</td>
<td>
Thu: 2012-11-01 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 18:10:00
</td>
<td align="right">
   61.89
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.35
</td>
<td>
Thu: 2012-11-01 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 18:15:00
</td>
<td align="right">
   61.94
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.42
</td>
<td>
Thu: 2012-11-01 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 18:20:00
</td>
<td align="right">
   61.90
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.46
</td>
<td>
Thu: 2012-11-01 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 18:25:00
</td>
<td align="right">
   61.83
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Thu: 2012-11-01 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 19:40:00
</td>
<td align="right">
   61.49
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 19:45:00
</td>
<td align="right">
   61.65
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 19:50:00
</td>
<td align="right">
   61.68
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-10-31 19:55:00
</td>
<td align="right">
   61.67
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-10-31 14:00:00
</td>
<td align="right">
   52.97
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.45
</td>
<td>
Thu: 2012-11-01 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-10-31 14:05:00
</td>
<td align="right">
   52.94
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.42
</td>
<td>
Thu: 2012-11-01 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-10-31 14:10:00
</td>
<td align="right">
   52.96
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.45
</td>
<td>
Thu: 2012-11-01 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-10-31 14:15:00
</td>
<td align="right">
   53.09
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.53
</td>
<td>
Thu: 2012-11-01 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-10-31 14:20:00
</td>
<td align="right">
   53.11
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.55
</td>
<td>
Thu: 2012-11-01 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-10-31 14:25:00
</td>
<td align="right">
   53.05
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Thu: 2012-11-01 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-10-31 14:30:00
</td>
<td align="right">
   52.95
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Thu: 2012-11-01 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-10-31 14:35:00
</td>
<td align="right">
   52.94
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.43
</td>
<td>
Thu: 2012-11-01 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-10-31 14:40:00
</td>
<td align="right">
   52.77
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Thu: 2012-11-01 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NFLX">NFLX</a></td>
<td>
2012-10-31 19:00:00
</td>
<td align="right">
   80.00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NFLX">NFLX</a></td>
<td>
2012-10-31 19:25:00
</td>
<td align="right">
   79.42
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-10-31 14:15:00
</td>
<td align="right">
   89.02
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2012-11-01 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-10-31 14:25:00
</td>
<td align="right">
   89.11
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Thu: 2012-11-01 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-10-31 14:35:00
</td>
<td align="right">
   88.85
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Thu: 2012-11-01 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-10-31 15:15:00
</td>
<td align="right">
   88.96
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Thu: 2012-11-01 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-10-31 15:20:00
</td>
<td align="right">
   88.89
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Thu: 2012-11-01 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-10-31 16:25:00
</td>
<td align="right">
   88.37
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2012-11-01 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-10-31 16:30:00
</td>
<td align="right">
   88.31
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Thu: 2012-11-01 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-10-31 16:35:00
</td>
<td align="right">
   88.32
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Thu: 2012-11-01 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-10-31 16:40:00
</td>
<td align="right">
   88.36
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Thu: 2012-11-01 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-10-31 16:45:00
</td>
<td align="right">
   88.31
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .27
</td>
<td>
Thu: 2012-11-01 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-10-31 16:50:00
</td>
<td align="right">
   88.39
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Thu: 2012-11-01 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-10-31 16:55:00
</td>
<td align="right">
   88.38
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .28
</td>
<td>
Thu: 2012-11-01 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-10-31 17:00:00
</td>
<td align="right">
   88.36
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .40
</td>
<td>
Thu: 2012-11-01 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-10-31 17:05:00
</td>
<td align="right">
   88.35
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Thu: 2012-11-01 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-10-31 17:10:00
</td>
<td align="right">
   88.38
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .27
</td>
<td>
Thu: 2012-11-01 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-10-31 18:50:00
</td>
<td align="right">
   88.37
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Thu: 2012-11-01 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-10-31 18:55:00
</td>
<td align="right">
   88.36
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Thu: 2012-11-01 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-10-31 19:00:00
</td>
<td align="right">
   88.37
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-10-31 19:10:00
</td>
<td align="right">
   88.90
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-10-31 19:15:00
</td>
<td align="right">
   89.05
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-10-31 19:20:00
</td>
<td align="right">
   89.01
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 14:05:00
</td>
<td align="right">
   65.12
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.35
</td>
<td>
Thu: 2012-11-01 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 14:10:00
</td>
<td align="right">
   64.97
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Thu: 2012-11-01 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 14:15:00
</td>
<td align="right">
   65.00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2012-11-01 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 14:20:00
</td>
<td align="right">
   65.10
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2012-11-01 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 14:25:00
</td>
<td align="right">
   65.06
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2012-11-01 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 14:30:00
</td>
<td align="right">
   65.00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2012-11-01 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 14:35:00
</td>
<td align="right">
   65.01
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2012-11-01 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 14:45:00
</td>
<td align="right">
   64.94
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2012-11-01 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 14:50:00
</td>
<td align="right">
   64.89
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2012-11-01 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 14:55:00
</td>
<td align="right">
   64.89
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2012-11-01 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 15:15:00
</td>
<td align="right">
   64.94
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2012-11-01 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 15:20:00
</td>
<td align="right">
   64.98
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2012-11-01 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 15:25:00
</td>
<td align="right">
   64.94
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Thu: 2012-11-01 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 15:30:00
</td>
<td align="right">
   65.00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Thu: 2012-11-01 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 15:35:00
</td>
<td align="right">
   65.00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Thu: 2012-11-01 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 15:40:00
</td>
<td align="right">
   64.99
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Thu: 2012-11-01 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 15:45:00
</td>
<td align="right">
   64.91
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2012-11-01 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 15:50:00
</td>
<td align="right">
   64.95
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2012-11-01 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 15:55:00
</td>
<td align="right">
   64.89
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2012-11-01 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 16:00:00
</td>
<td align="right">
   64.90
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2012-11-01 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 16:10:00
</td>
<td align="right">
   64.87
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2012-11-01 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 16:20:00
</td>
<td align="right">
   64.88
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2012-11-01 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 16:50:00
</td>
<td align="right">
   64.88
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2012-11-01 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 16:55:00
</td>
<td align="right">
   64.93
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2012-11-01 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 17:00:00
</td>
<td align="right">
   64.87
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2012-11-01 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 17:10:00
</td>
<td align="right">
   64.86
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2012-11-01 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 17:15:00
</td>
<td align="right">
   64.85
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Thu: 2012-11-01 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 17:20:00
</td>
<td align="right">
   64.86
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Thu: 2012-11-01 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 17:25:00
</td>
<td align="right">
   64.91
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2012-11-01 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 17:30:00
</td>
<td align="right">
   64.92
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2012-11-01 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 17:35:00
</td>
<td align="right">
   64.90
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2012-11-01 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 17:40:00
</td>
<td align="right">
   64.85
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Thu: 2012-11-01 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 17:45:00
</td>
<td align="right">
   64.84
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Thu: 2012-11-01 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 17:50:00
</td>
<td align="right">
   64.87
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2012-11-01 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 17:55:00
</td>
<td align="right">
   64.90
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2012-11-01 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 18:00:00
</td>
<td align="right">
   64.95
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2012-11-01 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 18:05:00
</td>
<td align="right">
   64.98
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2012-11-01 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 18:10:00
</td>
<td align="right">
   64.97
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2012-11-01 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 18:15:00
</td>
<td align="right">
   65.06
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2012-11-01 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 18:20:00
</td>
<td align="right">
   65.04
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2012-11-01 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 18:25:00
</td>
<td align="right">
   65.02
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2012-11-01 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 18:30:00
</td>
<td align="right">
   65.04
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2012-11-01 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 18:35:00
</td>
<td align="right">
   65.02
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2012-11-01 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 18:40:00
</td>
<td align="right">
   65.03
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2012-11-01 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 18:45:00
</td>
<td align="right">
   65.04
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2012-11-01 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 18:50:00
</td>
<td align="right">
   64.98
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2012-11-01 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 18:55:00
</td>
<td align="right">
   64.94
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2012-11-01 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 19:00:00
</td>
<td align="right">
   64.92
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 19:05:00
</td>
<td align="right">
   64.98
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 19:10:00
</td>
<td align="right">
   65.05
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 19:15:00
</td>
<td align="right">
   65.03
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 19:20:00
</td>
<td align="right">
   64.97
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 19:25:00
</td>
<td align="right">
   65.03
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 19:30:00
</td>
<td align="right">
   65.00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 19:35:00
</td>
<td align="right">
   65.02
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 19:40:00
</td>
<td align="right">
   64.99
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 19:45:00
</td>
<td align="right">
   64.99
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 19:50:00
</td>
<td align="right">
   64.88
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QQQ">QQQ</a></td>
<td>
2012-10-31 19:55:00
</td>
<td align="right">
   64.93
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-31 14:20:00
</td>
<td align="right">
  106.24
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.47
</td>
<td>
Thu: 2012-11-01 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-31 14:25:00
</td>
<td align="right">
  106.16
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.48
</td>
<td>
Thu: 2012-11-01 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-31 15:00:00
</td>
<td align="right">
  105.70
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Thu: 2012-11-01 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-31 15:10:00
</td>
<td align="right">
  105.71
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2012-11-01 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-31 16:10:00
</td>
<td align="right">
  105.75
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.74
</td>
<td>
Thu: 2012-11-01 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-31 19:25:00
</td>
<td align="right">
  105.72
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-31 19:30:00
</td>
<td align="right">
  105.75
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-31 19:35:00
</td>
<td align="right">
  105.69
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BHP">BHP</a></td>
<td>
2012-10-31 14:00:00
</td>
<td align="right">
   71.25
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.52
</td>
<td>
Thu: 2012-11-01 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BHP">BHP</a></td>
<td>
2012-10-31 14:05:00
</td>
<td align="right">
   71.15
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.43
</td>
<td>
Thu: 2012-11-01 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JWN">JWN</a></td>
<td>
2012-10-31 14:25:00
</td>
<td align="right">
   56.80
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.63
</td>
<td>
Thu: 2012-11-01 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JWN">JWN</a></td>
<td>
2012-10-31 19:10:00
</td>
<td align="right">
   56.89
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JWN">JWN</a></td>
<td>
2012-10-31 19:15:00
</td>
<td align="right">
   57.03
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JWN">JWN</a></td>
<td>
2012-10-31 19:20:00
</td>
<td align="right">
   56.92
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JWN">JWN</a></td>
<td>
2012-10-31 19:25:00
</td>
<td align="right">
   56.87
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JWN">JWN</a></td>
<td>
2012-10-31 19:30:00
</td>
<td align="right">
   56.89
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JWN">JWN</a></td>
<td>
2012-10-31 19:35:00
</td>
<td align="right">
   56.84
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JWN">JWN</a></td>
<td>
2012-10-31 19:40:00
</td>
<td align="right">
   56.79
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JWN">JWN</a></td>
<td>
2012-10-31 19:55:00
</td>
<td align="right">
   56.77
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LMT">LMT</a></td>
<td>
2012-10-31 14:10:00
</td>
<td align="right">
   94.16
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.61
</td>
<td>
Thu: 2012-11-01 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LMT">LMT</a></td>
<td>
2012-10-31 14:15:00
</td>
<td align="right">
   94.22
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.67
</td>
<td>
Thu: 2012-11-01 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LMT">LMT</a></td>
<td>
2012-10-31 14:20:00
</td>
<td align="right">
   94.25
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.83
</td>
<td>
Thu: 2012-11-01 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LMT">LMT</a></td>
<td>
2012-10-31 14:25:00
</td>
<td align="right">
   94.20
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.89
</td>
<td>
Thu: 2012-11-01 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LMT">LMT</a></td>
<td>
2012-10-31 14:30:00
</td>
<td align="right">
   93.98
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.54
</td>
<td>
Thu: 2012-11-01 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LMT">LMT</a></td>
<td>
2012-10-31 14:40:00
</td>
<td align="right">
   93.83
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Thu: 2012-11-01 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LMT">LMT</a></td>
<td>
2012-10-31 14:45:00
</td>
<td align="right">
   93.89
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Thu: 2012-11-01 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LMT">LMT</a></td>
<td>
2012-10-31 14:55:00
</td>
<td align="right">
   93.85
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Thu: 2012-11-01 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LMT">LMT</a></td>
<td>
2012-10-31 19:05:00
</td>
<td align="right">
   93.80
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LMT">LMT</a></td>
<td>
2012-10-31 19:10:00
</td>
<td align="right">
   93.94
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LMT">LMT</a></td>
<td>
2012-10-31 19:15:00
</td>
<td align="right">
   93.87
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LMT">LMT</a></td>
<td>
2012-10-31 19:20:00
</td>
<td align="right">
   93.84
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LMT">LMT</a></td>
<td>
2012-10-31 19:25:00
</td>
<td align="right">
   93.94
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LMT">LMT</a></td>
<td>
2012-10-31 19:30:00
</td>
<td align="right">
   93.95
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LMT">LMT</a></td>
<td>
2012-10-31 19:35:00
</td>
<td align="right">
   93.94
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LMT">LMT</a></td>
<td>
2012-10-31 19:40:00
</td>
<td align="right">
   94.03
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LMT">LMT</a></td>
<td>
2012-10-31 19:45:00
</td>
<td align="right">
   93.84
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LMT">LMT</a></td>
<td>
2012-10-31 19:50:00
</td>
<td align="right">
   93.69
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 14:15:00
</td>
<td align="right">
   86.77
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Thu: 2012-11-01 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 15:15:00
</td>
<td align="right">
   86.43
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.52
</td>
<td>
Thu: 2012-11-01 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 15:20:00
</td>
<td align="right">
   86.41
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.53
</td>
<td>
Thu: 2012-11-01 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 15:25:00
</td>
<td align="right">
   86.40
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.50
</td>
<td>
Thu: 2012-11-01 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 15:30:00
</td>
<td align="right">
   86.35
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.45
</td>
<td>
Thu: 2012-11-01 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 15:35:00
</td>
<td align="right">
   86.24
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.42
</td>
<td>
Thu: 2012-11-01 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 15:45:00
</td>
<td align="right">
   86.21
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.35
</td>
<td>
Thu: 2012-11-01 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 15:50:00
</td>
<td align="right">
   86.24
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Thu: 2012-11-01 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 15:55:00
</td>
<td align="right">
   86.15
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Thu: 2012-11-01 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 16:00:00
</td>
<td align="right">
   86.08
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Thu: 2012-11-01 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 16:05:00
</td>
<td align="right">
   86.06
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Thu: 2012-11-01 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 16:10:00
</td>
<td align="right">
   86.08
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Thu: 2012-11-01 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 16:15:00
</td>
<td align="right">
   85.91
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2012-11-01 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 16:20:00
</td>
<td align="right">
   85.88
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2012-11-01 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 16:25:00
</td>
<td align="right">
   85.90
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2012-11-01 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 16:30:00
</td>
<td align="right">
   85.90
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2012-11-01 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 16:35:00
</td>
<td align="right">
   85.82
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Thu: 2012-11-01 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 16:40:00
</td>
<td align="right">
   85.78
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2012-11-01 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 16:45:00
</td>
<td align="right">
   85.86
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2012-11-01 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 16:50:00
</td>
<td align="right">
   85.93
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2012-11-01 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 16:55:00
</td>
<td align="right">
   85.99
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Thu: 2012-11-01 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 17:00:00
</td>
<td align="right">
   85.89
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2012-11-01 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 17:05:00
</td>
<td align="right">
   85.87
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2012-11-01 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 17:10:00
</td>
<td align="right">
   85.86
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2012-11-01 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 17:15:00
</td>
<td align="right">
   85.92
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2012-11-01 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 17:20:00
</td>
<td align="right">
   85.95
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2012-11-01 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 17:25:00
</td>
<td align="right">
   85.98
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2012-11-01 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 17:30:00
</td>
<td align="right">
   85.97
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2012-11-01 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 17:35:00
</td>
<td align="right">
   85.97
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2012-11-01 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 17:40:00
</td>
<td align="right">
   85.78
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2012-11-01 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 17:45:00
</td>
<td align="right">
   85.79
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Thu: 2012-11-01 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 17:50:00
</td>
<td align="right">
   85.94
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Thu: 2012-11-01 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 17:55:00
</td>
<td align="right">
   85.85
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Thu: 2012-11-01 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 18:00:00
</td>
<td align="right">
   85.89
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2012-11-01 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 18:05:00
</td>
<td align="right">
   85.98
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2012-11-01 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 18:10:00
</td>
<td align="right">
   85.94
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2012-11-01 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 18:15:00
</td>
<td align="right">
   86.03
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Thu: 2012-11-01 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 18:20:00
</td>
<td align="right">
   85.94
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2012-11-01 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 18:25:00
</td>
<td align="right">
   85.90
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2012-11-01 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 18:30:00
</td>
<td align="right">
   85.91
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2012-11-01 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 18:35:00
</td>
<td align="right">
   85.89
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2012-11-01 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 18:40:00
</td>
<td align="right">
   85.69
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Thu: 2012-11-01 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 18:45:00
</td>
<td align="right">
   85.62
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .46
</td>
<td>
Thu: 2012-11-01 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 18:50:00
</td>
<td align="right">
   85.60
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .43
</td>
<td>
Thu: 2012-11-01 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 18:55:00
</td>
<td align="right">
   85.65
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .40
</td>
<td>
Thu: 2012-11-01 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 19:00:00
</td>
<td align="right">
   85.78
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 19:05:00
</td>
<td align="right">
   85.87
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 19:10:00
</td>
<td align="right">
   85.87
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 19:15:00
</td>
<td align="right">
   85.81
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 19:20:00
</td>
<td align="right">
   85.96
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 19:25:00
</td>
<td align="right">
   85.93
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 19:30:00
</td>
<td align="right">
   85.96
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 19:35:00
</td>
<td align="right">
   85.99
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 19:40:00
</td>
<td align="right">
   85.91
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 19:45:00
</td>
<td align="right">
   86.08
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 19:50:00
</td>
<td align="right">
   86.03
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-10-31 19:55:00
</td>
<td align="right">
   86.05
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 14:25:00
</td>
<td align="right">
   69.69
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Thu: 2012-11-01 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 14:30:00
</td>
<td align="right">
   69.56
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2012-11-01 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 14:45:00
</td>
<td align="right">
   69.67
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Thu: 2012-11-01 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 15:00:00
</td>
<td align="right">
   69.39
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2012-11-01 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 15:05:00
</td>
<td align="right">
   69.34
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2012-11-01 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 15:10:00
</td>
<td align="right">
   69.45
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2012-11-01 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 15:20:00
</td>
<td align="right">
   69.54
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Thu: 2012-11-01 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 15:25:00
</td>
<td align="right">
   69.46
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Thu: 2012-11-01 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 15:30:00
</td>
<td align="right">
   69.60
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.52
</td>
<td>
Thu: 2012-11-01 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 15:35:00
</td>
<td align="right">
   69.55
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.46
</td>
<td>
Thu: 2012-11-01 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 15:40:00
</td>
<td align="right">
   69.56
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.47
</td>
<td>
Thu: 2012-11-01 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 15:45:00
</td>
<td align="right">
   69.43
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Thu: 2012-11-01 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 15:50:00
</td>
<td align="right">
   69.41
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Thu: 2012-11-01 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 16:10:00
</td>
<td align="right">
   69.38
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Thu: 2012-11-01 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 18:35:00
</td>
<td align="right">
   69.33
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2012-11-01 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 18:40:00
</td>
<td align="right">
   69.35
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2012-11-01 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 19:10:00
</td>
<td align="right">
   69.39
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 19:15:00
</td>
<td align="right">
   69.34
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 19:20:00
</td>
<td align="right">
   69.36
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 19:25:00
</td>
<td align="right">
   69.39
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 19:30:00
</td>
<td align="right">
   69.37
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 19:35:00
</td>
<td align="right">
   69.41
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-10-31 19:45:00
</td>
<td align="right">
   69.34
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:45
</td>
</tr>
</table>
<br /><hr />