<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-01-09 16:15:00
</td>
<td align="right">
   52.59
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-01-10 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-01-09 16:20:00
</td>
<td align="right">
   52.59
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-01-10 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-01-09 16:25:00
</td>
<td align="right">
   52.57
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-01-10 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-01-09 16:35:00
</td>
<td align="right">
   52.59
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-01-10 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PRU">PRU</a></td>
<td>
2012-01-09 18:25:00
</td>
<td align="right">
   52.31
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-01-10 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PRU">PRU</a></td>
<td>
2012-01-09 18:35:00
</td>
<td align="right">
   52.26
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-01-10 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PRU">PRU</a></td>
<td>
2012-01-09 18:40:00
</td>
<td align="right">
   52.24
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-01-10 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PRU">PRU</a></td>
<td>
2012-01-09 18:45:00
</td>
<td align="right">
   52.30
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2012-01-10 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PRU">PRU</a></td>
<td>
2012-01-09 18:50:00
</td>
<td align="right">
   52.32
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2012-01-10 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PRU">PRU</a></td>
<td>
2012-01-09 18:55:00
</td>
<td align="right">
   52.37
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2012-01-10 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PRU">PRU</a></td>
<td>
2012-01-09 19:00:00
</td>
<td align="right">
   52.32
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2012-01-10 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PRU">PRU</a></td>
<td>
2012-01-09 19:05:00
</td>
<td align="right">
   52.28
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2012-01-10 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PRU">PRU</a></td>
<td>
2012-01-09 20:45:00
</td>
<td align="right">
   52.29
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-10 20:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PRU">PRU</a></td>
<td>
2012-01-09 20:50:00
</td>
<td align="right">
   52.28
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-10 20:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SBUX">SBUX</a></td>
<td>
2012-01-09 20:40:00
</td>
<td align="right">
   46.65
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-10 20:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SBUX">SBUX</a></td>
<td>
2012-01-09 20:55:00
</td>
<td align="right">
   46.62
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-10 20:55
</td>
</tr>
</table>
<br /><hr />