<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-11-27 15:00:00
</td>
<td align="right">
   51.63
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Wed: 2012-11-28 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-11-27 15:15:00
</td>
<td align="right">
   51.58
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2012-11-28 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-11-27 15:20:00
</td>
<td align="right">
   51.55
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2012-11-28 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-11-27 15:25:00
</td>
<td align="right">
   51.51
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-11-28 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-11-27 15:30:00
</td>
<td align="right">
   51.45
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2012-11-28 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-11-27 15:35:00
</td>
<td align="right">
   51.43
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Wed: 2012-11-28 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-11-27 16:05:00
</td>
<td align="right">
   51.55
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Wed: 2012-11-28 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-11-27 16:10:00
</td>
<td align="right">
   51.59
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Wed: 2012-11-28 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-11-27 16:15:00
</td>
<td align="right">
   51.61
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Wed: 2012-11-28 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-11-27 16:30:00
</td>
<td align="right">
   51.53
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .37
</td>
<td>
Wed: 2012-11-28 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-11-27 19:25:00
</td>
<td align="right">
   51.59
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-11-28 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-11-27 16:40:00
</td>
<td align="right">
  101.05
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Wed: 2012-11-28 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-11-27 17:15:00
</td>
<td align="right">
  100.88
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Wed: 2012-11-28 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-11-27 17:55:00
</td>
<td align="right">
  101.17
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Wed: 2012-11-28 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-11-27 18:10:00
</td>
<td align="right">
  101.13
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Wed: 2012-11-28 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-11-27 18:25:00
</td>
<td align="right">
  101.08
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Wed: 2012-11-28 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-11-27 18:55:00
</td>
<td align="right">
  101.24
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.59
</td>
<td>
Wed: 2012-11-28 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-11-27 19:00:00
</td>
<td align="right">
  101.16
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.47
</td>
<td>
Wed: 2012-11-28 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-11-27 19:05:00
</td>
<td align="right">
  101.01
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Wed: 2012-11-28 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-11-27 19:20:00
</td>
<td align="right">
  100.80
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Wed: 2012-11-28 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-11-27 20:40:00
</td>
<td align="right">
  100.31
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-11-27 20:45:00
</td>
<td align="right">
  100.35
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AU">AU</a></td>
<td>
2012-11-27 18:50:00
</td>
<td align="right">
   30.47
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Wed: 2012-11-28 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AU">AU</a></td>
<td>
2012-11-27 19:00:00
</td>
<td align="right">
   30.49
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Wed: 2012-11-28 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AU">AU</a></td>
<td>
2012-11-27 19:35:00
</td>
<td align="right">
   30.46
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Wed: 2012-11-28 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BHP">BHP</a></td>
<td>
2012-11-27 15:55:00
</td>
<td align="right">
   71.05
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-11-28 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMI">CMI</a></td>
<td>
2012-11-27 16:20:00
</td>
<td align="right">
  100.86
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .51
</td>
<td>
Wed: 2012-11-28 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMI">CMI</a></td>
<td>
2012-11-27 16:30:00
</td>
<td align="right">
  100.90
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Wed: 2012-11-28 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMI">CMI</a></td>
<td>
2012-11-27 16:35:00
</td>
<td align="right">
  101.21
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2012-11-28 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMI">CMI</a></td>
<td>
2012-11-27 17:40:00
</td>
<td align="right">
  101.30
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .37
</td>
<td>
Wed: 2012-11-28 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMI">CMI</a></td>
<td>
2012-11-27 17:55:00
</td>
<td align="right">
  101.31
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-11-28 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMI">CMI</a></td>
<td>
2012-11-27 19:25:00
</td>
<td align="right">
  100.92
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   -1.01
</td>
<td>
Wed: 2012-11-28 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-11-27 17:05:00
</td>
<td align="right">
   92.41
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Wed: 2012-11-28 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GG">GG</a></td>
<td>
2012-11-27 15:00:00
</td>
<td align="right">
   40.60
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.35
</td>
<td>
Wed: 2012-11-28 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-11-27 15:05:00
</td>
<td align="right">
  481.95
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   -2.34
</td>
<td>
Wed: 2012-11-28 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-11-27 15:25:00
</td>
<td align="right">
  479.61
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    1.64
</td>
<td>
Wed: 2012-11-28 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-11-27 15:30:00
</td>
<td align="right">
  480.01
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .91
</td>
<td>
Wed: 2012-11-28 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-11-27 15:35:00
</td>
<td align="right">
  479.39
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    2.26
</td>
<td>
Wed: 2012-11-28 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-11-27 15:40:00
</td>
<td align="right">
  479.96
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    2.12
</td>
<td>
Wed: 2012-11-28 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-11-27 15:45:00
</td>
<td align="right">
  480.09
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    1.53
</td>
<td>
Wed: 2012-11-28 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-11-27 16:00:00
</td>
<td align="right">
  479.60
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    2.90
</td>
<td>
Wed: 2012-11-28 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-11-27 18:30:00
</td>
<td align="right">
  481.75
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   -2.19
</td>
<td>
Wed: 2012-11-28 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-11-27 18:55:00
</td>
<td align="right">
  481.61
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   -2.58
</td>
<td>
Wed: 2012-11-28 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-11-27 19:00:00
</td>
<td align="right">
  481.44
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   -2.45
</td>
<td>
Wed: 2012-11-28 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-11-27 19:25:00
</td>
<td align="right">
  479.96
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.83
</td>
<td>
Wed: 2012-11-28 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-11-27 20:45:00
</td>
<td align="right">
  479.44
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-11-27 16:25:00
</td>
<td align="right">
   90.50
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Wed: 2012-11-28 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-11-27 16:35:00
</td>
<td align="right">
   90.65
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2012-11-28 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-11-27 16:45:00
</td>
<td align="right">
   90.70
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2012-11-28 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-11-27 16:15:00
</td>
<td align="right">
   89.57
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Wed: 2012-11-28 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=V">V</a></td>
<td>
2012-11-27 16:50:00
</td>
<td align="right">
  147.26
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2012-11-28 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=V">V</a></td>
<td>
2012-11-27 17:00:00
</td>
<td align="right">
  147.28
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-11-28 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=V">V</a></td>
<td>
2012-11-27 17:05:00
</td>
<td align="right">
  147.24
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2012-11-28 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=V">V</a></td>
<td>
2012-11-27 17:15:00
</td>
<td align="right">
  147.10
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-11-28 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=V">V</a></td>
<td>
2012-11-27 17:30:00
</td>
<td align="right">
  147.13
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Wed: 2012-11-28 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=V">V</a></td>
<td>
2012-11-27 17:40:00
</td>
<td align="right">
  147.29
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2012-11-28 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=V">V</a></td>
<td>
2012-11-27 17:45:00
</td>
<td align="right">
  147.35
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2012-11-28 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=V">V</a></td>
<td>
2012-11-27 18:40:00
</td>
<td align="right">
  147.25
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.64
</td>
<td>
Wed: 2012-11-28 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=V">V</a></td>
<td>
2012-11-27 18:45:00
</td>
<td align="right">
  147.28
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.61
</td>
<td>
Wed: 2012-11-28 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=V">V</a></td>
<td>
2012-11-27 19:05:00
</td>
<td align="right">
  147.22
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Wed: 2012-11-28 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=V">V</a></td>
<td>
2012-11-27 19:10:00
</td>
<td align="right">
  147.29
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Wed: 2012-11-28 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=V">V</a></td>
<td>
2012-11-27 20:15:00
</td>
<td align="right">
  147.25
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=V">V</a></td>
<td>
2012-11-27 20:50:00
</td>
<td align="right">
  146.90
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-11-27 18:30:00
</td>
<td align="right">
   51.80
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Wed: 2012-11-28 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-11-27 18:35:00
</td>
<td align="right">
   51.78
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Wed: 2012-11-28 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-11-27 20:25:00
</td>
<td align="right">
   51.72
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AU">AU</a></td>
<td>
2012-11-27 15:10:00
</td>
<td align="right">
   30.74
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2012-11-28 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AU">AU</a></td>
<td>
2012-11-27 15:50:00
</td>
<td align="right">
   30.75
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2012-11-28 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AU">AU</a></td>
<td>
2012-11-27 20:30:00
</td>
<td align="right">
   30.36
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMI">CMI</a></td>
<td>
2012-11-27 19:50:00
</td>
<td align="right">
  100.18
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Wed: 2012-11-28 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMI">CMI</a></td>
<td>
2012-11-27 19:55:00
</td>
<td align="right">
  100.20
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.47
</td>
<td>
Wed: 2012-11-28 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMI">CMI</a></td>
<td>
2012-11-27 20:05:00
</td>
<td align="right">
  100.23
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMI">CMI</a></td>
<td>
2012-11-27 20:10:00
</td>
<td align="right">
  100.27
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMI">CMI</a></td>
<td>
2012-11-27 20:15:00
</td>
<td align="right">
  100.05
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMI">CMI</a></td>
<td>
2012-11-27 20:25:00
</td>
<td align="right">
   99.91
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMI">CMI</a></td>
<td>
2012-11-27 20:30:00
</td>
<td align="right">
  100.01
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMI">CMI</a></td>
<td>
2012-11-27 20:35:00
</td>
<td align="right">
   99.90
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMI">CMI</a></td>
<td>
2012-11-27 20:40:00
</td>
<td align="right">
   99.90
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMI">CMI</a></td>
<td>
2012-11-27 20:45:00
</td>
<td align="right">
   99.99
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMI">CMI</a></td>
<td>
2012-11-27 20:50:00
</td>
<td align="right">
   99.88
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2012-11-27 15:30:00
</td>
<td align="right">
   57.39
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Wed: 2012-11-28 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2012-11-27 16:50:00
</td>
<td align="right">
   57.75
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2012-11-28 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2012-11-27 19:35:00
</td>
<td align="right">
   57.86
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Wed: 2012-11-28 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-11-27 17:30:00
</td>
<td align="right">
   92.33
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .41
</td>
<td>
Wed: 2012-11-28 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-11-27 19:45:00
</td>
<td align="right">
   92.06
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Wed: 2012-11-28 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-11-27 20:00:00
</td>
<td align="right">
   92.20
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-11-27 20:10:00
</td>
<td align="right">
   92.18
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-11-27 20:30:00
</td>
<td align="right">
   92.08
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-11-27 20:45:00
</td>
<td align="right">
   92.01
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-11-27 15:15:00
</td>
<td align="right">
  139.33
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .47
</td>
<td>
Wed: 2012-11-28 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-11-27 15:35:00
</td>
<td align="right">
  138.91
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    1.57
</td>
<td>
Wed: 2012-11-28 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-11-27 15:45:00
</td>
<td align="right">
  139.02
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    1.10
</td>
<td>
Wed: 2012-11-28 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-11-27 15:50:00
</td>
<td align="right">
  139.53
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .73
</td>
<td>
Wed: 2012-11-28 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-11-27 15:55:00
</td>
<td align="right">
  139.48
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .68
</td>
<td>
Wed: 2012-11-28 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-11-27 16:00:00
</td>
<td align="right">
  139.65
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .47
</td>
<td>
Wed: 2012-11-28 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-11-27 16:05:00
</td>
<td align="right">
  139.72
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .45
</td>
<td>
Wed: 2012-11-28 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-11-27 16:45:00
</td>
<td align="right">
  140.12
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Wed: 2012-11-28 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-11-27 17:15:00
</td>
<td align="right">
  140.11
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Wed: 2012-11-28 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-11-27 18:45:00
</td>
<td align="right">
  139.64
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   -1.16
</td>
<td>
Wed: 2012-11-28 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-11-27 19:00:00
</td>
<td align="right">
  139.46
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.68
</td>
<td>
Wed: 2012-11-28 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-11-27 19:35:00
</td>
<td align="right">
  138.87
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Wed: 2012-11-28 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-11-27 20:10:00
</td>
<td align="right">
  139.15
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-11-27 20:15:00
</td>
<td align="right">
  139.10
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-11-27 20:20:00
</td>
<td align="right">
  139.31
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-11-27 20:30:00
</td>
<td align="right">
  139.22
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-11-27 20:35:00
</td>
<td align="right">
  139.10
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-11-27 20:40:00
</td>
<td align="right">
  139.00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-11-27 20:45:00
</td>
<td align="right">
  139.18
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-11-27 20:50:00
</td>
<td align="right">
  138.88
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GG">GG</a></td>
<td>
2012-11-27 20:05:00
</td>
<td align="right">
   39.54
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GG">GG</a></td>
<td>
2012-11-27 20:25:00
</td>
<td align="right">
   39.44
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JNJ">JNJ</a></td>
<td>
2012-11-27 15:20:00
</td>
<td align="right">
   68.88
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2012-11-28 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JNJ">JNJ</a></td>
<td>
2012-11-27 16:55:00
</td>
<td align="right">
   68.98
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-11-28 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JNJ">JNJ</a></td>
<td>
2012-11-27 17:05:00
</td>
<td align="right">
   69.03
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Wed: 2012-11-28 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JNJ">JNJ</a></td>
<td>
2012-11-27 17:15:00
</td>
<td align="right">
   69.00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2012-11-28 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JNJ">JNJ</a></td>
<td>
2012-11-27 18:05:00
</td>
<td align="right">
   68.95
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2012-11-28 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JNJ">JNJ</a></td>
<td>
2012-11-27 18:10:00
</td>
<td align="right">
   68.94
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2012-11-28 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JNJ">JNJ</a></td>
<td>
2012-11-27 18:35:00
</td>
<td align="right">
   68.88
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Wed: 2012-11-28 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LVS">LVS</a></td>
<td>
2012-11-27 16:20:00
</td>
<td align="right">
   46.06
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .49
</td>
<td>
Wed: 2012-11-28 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LVS">LVS</a></td>
<td>
2012-11-27 16:35:00
</td>
<td align="right">
   46.22
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .41
</td>
<td>
Wed: 2012-11-28 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDY">MDY</a></td>
<td>
2012-11-27 20:25:00
</td>
<td align="right">
  180.39
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDY">MDY</a></td>
<td>
2012-11-27 20:40:00
</td>
<td align="right">
  180.05
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDY">MDY</a></td>
<td>
2012-11-27 20:50:00
</td>
<td align="right">
  179.95
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-11-28 20:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-11-27 16:35:00
</td>
<td align="right">
   70.25
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2012-11-28 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-11-27 16:55:00
</td>
<td align="right">
   70.35
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2012-11-28 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-11-27 17:45:00
</td>
<td align="right">
   70.37
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Wed: 2012-11-28 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WFM">WFM</a></td>
<td>
2012-11-27 15:35:00
</td>
<td align="right">
   91.56
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
Wed: 2012-11-28 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WFM">WFM</a></td>
<td>
2012-11-27 15:45:00
</td>
<td align="right">
   91.63
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Wed: 2012-11-28 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WFM">WFM</a></td>
<td>
2012-11-27 16:05:00
</td>
<td align="right">
   91.56
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2012-11-28 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WFM">WFM</a></td>
<td>
2012-11-27 19:40:00
</td>
<td align="right">
   91.33
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2012-11-28 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WFM">WFM</a></td>
<td>
2012-11-27 19:50:00
</td>
<td align="right">
   91.28
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2012-11-28 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-11-27 18:15:00
</td>
<td align="right">
  100.99
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-11-28 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-11-27 18:20:00
</td>
<td align="right">
  101.01
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Wed: 2012-11-28 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-11-27 15:10:00
</td>
<td align="right">
   88.31
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.38
</td>
<td>
Wed: 2012-11-28 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-11-27 16:20:00
</td>
<td align="right">
   88.01
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Wed: 2012-11-28 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-11-27 16:40:00
</td>
<td align="right">
   88.05
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2012-11-28 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-11-27 18:15:00
</td>
<td align="right">
   87.84
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2012-11-28 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-11-27 18:35:00
</td>
<td align="right">
   87.85
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Wed: 2012-11-28 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-11-27 18:45:00
</td>
<td align="right">
   87.93
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Wed: 2012-11-28 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-11-27 18:55:00
</td>
<td align="right">
   87.86
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2012-11-28 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-11-27 19:15:00
</td>
<td align="right">
   88.04
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Wed: 2012-11-28 19:15
</td>
</tr>
</table>
<br /><hr />