<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AAPL">AAPL</a></td>
<td>
2012-01-31 17:45:00
</td>
<td align="right">
  454.00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2012-02-01 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AAPL">AAPL</a></td>
<td>
2012-01-31 17:50:00
</td>
<td align="right">
  453.84
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Wed: 2012-02-01 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ABT">ABT</a></td>
<td>
2012-01-31 17:35:00
</td>
<td align="right">
   54.19
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Wed: 2012-02-01 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ABT">ABT</a></td>
<td>
2012-01-31 17:50:00
</td>
<td align="right">
   54.13
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2012-02-01 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ABT">ABT</a></td>
<td>
2012-01-31 19:55:00
</td>
<td align="right">
   54.13
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2012-02-01 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 20:35:00
</td>
<td align="right">
   50.07
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-01-31 19:00:00
</td>
<td align="right">
   45.12
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2012-02-01 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-01-31 19:20:00
</td>
<td align="right">
   45.35
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2012-02-01 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-01-31 19:55:00
</td>
<td align="right">
   45.43
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Wed: 2012-02-01 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CLF">CLF</a></td>
<td>
2012-01-31 15:35:00
</td>
<td align="right">
   70.70
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Wed: 2012-02-01 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CLF">CLF</a></td>
<td>
2012-01-31 15:45:00
</td>
<td align="right">
   70.75
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Wed: 2012-02-01 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 15:00:00
</td>
<td align="right">
  367.50
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   -1.31
</td>
<td>
Wed: 2012-02-01 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 15:15:00
</td>
<td align="right">
  367.77
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   -1.15
</td>
<td>
Wed: 2012-02-01 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 15:20:00
</td>
<td align="right">
  368.10
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   -1.80
</td>
<td>
Wed: 2012-02-01 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 15:25:00
</td>
<td align="right">
  368.56
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   -2.07
</td>
<td>
Wed: 2012-02-01 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 16:05:00
</td>
<td align="right">
  367.07
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.74
</td>
<td>
Wed: 2012-02-01 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 18:50:00
</td>
<td align="right">
  367.57
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Wed: 2012-02-01 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 18:55:00
</td>
<td align="right">
  367.69
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Wed: 2012-02-01 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 19:05:00
</td>
<td align="right">
  367.63
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    1.19
</td>
<td>
Wed: 2012-02-01 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 19:15:00
</td>
<td align="right">
  368.78
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Wed: 2012-02-01 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 19:20:00
</td>
<td align="right">
  368.85
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.82
</td>
<td>
Wed: 2012-02-01 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 19:25:00
</td>
<td align="right">
  369.48
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
   -1.75
</td>
<td>
Wed: 2012-02-01 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 19:30:00
</td>
<td align="right">
  368.80
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
    -.89
</td>
<td>
Wed: 2012-02-01 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 19:40:00
</td>
<td align="right">
  367.98
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .46
</td>
<td>
Wed: 2012-02-01 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 19:50:00
</td>
<td align="right">
  367.48
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Wed: 2012-02-01 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 19:55:00
</td>
<td align="right">
  367.42
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Wed: 2012-02-01 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 20:00:00
</td>
<td align="right">
  367.52
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 20:05:00
</td>
<td align="right">
  368.82
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 20:10:00
</td>
<td align="right">
  368.45
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 20:20:00
</td>
<td align="right">
  368.03
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 20:25:00
</td>
<td align="right">
  367.73
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 20:35:00
</td>
<td align="right">
  368.45
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 20:40:00
</td>
<td align="right">
  368.44
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-01-31 20:50:00
</td>
<td align="right">
  367.63
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2012-01-31 16:45:00
</td>
<td align="right">
   45.37
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-02-01 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2012-01-31 16:50:00
</td>
<td align="right">
   45.33
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Wed: 2012-02-01 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 15:00:00
</td>
<td align="right">
   56.91
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.46
</td>
<td>
Wed: 2012-02-01 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 15:35:00
</td>
<td align="right">
   56.58
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.41
</td>
<td>
Wed: 2012-02-01 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 15:45:00
</td>
<td align="right">
   56.34
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.42
</td>
<td>
Wed: 2012-02-01 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 15:55:00
</td>
<td align="right">
   56.44
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.60
</td>
<td>
Wed: 2012-02-01 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 16:00:00
</td>
<td align="right">
   56.45
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.51
</td>
<td>
Wed: 2012-02-01 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 16:20:00
</td>
<td align="right">
   56.35
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Wed: 2012-02-01 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 16:25:00
</td>
<td align="right">
   56.30
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Wed: 2012-02-01 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 18:00:00
</td>
<td align="right">
   56.28
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Wed: 2012-02-01 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 18:20:00
</td>
<td align="right">
   56.47
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2012-02-01 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 19:15:00
</td>
<td align="right">
   56.44
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Wed: 2012-02-01 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 19:20:00
</td>
<td align="right">
   56.53
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-02-01 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 19:25:00
</td>
<td align="right">
   56.67
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-02-01 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 19:30:00
</td>
<td align="right">
   56.56
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2012-02-01 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 19:35:00
</td>
<td align="right">
   56.61
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Wed: 2012-02-01 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 19:40:00
</td>
<td align="right">
   56.56
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2012-02-01 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 19:50:00
</td>
<td align="right">
   56.76
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Wed: 2012-02-01 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 20:00:00
</td>
<td align="right">
   56.63
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 20:05:00
</td>
<td align="right">
   56.72
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 20:10:00
</td>
<td align="right">
   56.71
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 20:15:00
</td>
<td align="right">
   56.69
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 20:20:00
</td>
<td align="right">
   56.65
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 20:25:00
</td>
<td align="right">
   56.64
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 20:30:00
</td>
<td align="right">
   56.56
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 20:35:00
</td>
<td align="right">
   56.53
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 20:40:00
</td>
<td align="right">
   56.59
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 20:45:00
</td>
<td align="right">
   56.52
</td>
<td align="right">
 -.90
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 20:50:00
</td>
<td align="right">
   56.45
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 20:55:00
</td>
<td align="right">
   56.45
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-01-31 15:25:00
</td>
<td align="right">
  581.30
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   -3.94
</td>
<td>
Wed: 2012-02-01 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-01-31 15:30:00
</td>
<td align="right">
  580.92
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   -3.92
</td>
<td>
Wed: 2012-02-01 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-01-31 15:45:00
</td>
<td align="right">
  579.02
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   -2.52
</td>
<td>
Wed: 2012-02-01 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-01-31 16:00:00
</td>
<td align="right">
  576.57
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.49
</td>
<td>
Wed: 2012-02-01 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-01-31 19:30:00
</td>
<td align="right">
  578.60
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.57
</td>
<td>
Wed: 2012-02-01 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-01-31 20:15:00
</td>
<td align="right">
  578.84
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LLY">LLY</a></td>
<td>
2012-01-31 16:35:00
</td>
<td align="right">
   39.51
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Wed: 2012-02-01 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-01-31 17:05:00
</td>
<td align="right">
   74.92
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Wed: 2012-02-01 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-01-31 17:10:00
</td>
<td align="right">
   74.84
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Wed: 2012-02-01 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 15:10:00
</td>
<td align="right">
   79.18
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Wed: 2012-02-01 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 15:15:00
</td>
<td align="right">
   79.42
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-02-01 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 15:35:00
</td>
<td align="right">
   79.09
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .50
</td>
<td>
Wed: 2012-02-01 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 15:40:00
</td>
<td align="right">
   79.23
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .52
</td>
<td>
Wed: 2012-02-01 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 15:45:00
</td>
<td align="right">
   79.00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .67
</td>
<td>
Wed: 2012-02-01 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 15:50:00
</td>
<td align="right">
   79.04
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Wed: 2012-02-01 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 15:55:00
</td>
<td align="right">
   79.04
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Wed: 2012-02-01 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 16:00:00
</td>
<td align="right">
   79.24
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2012-02-01 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 16:10:00
</td>
<td align="right">
   79.23
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Wed: 2012-02-01 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 17:30:00
</td>
<td align="right">
   79.49
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Wed: 2012-02-01 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 17:35:00
</td>
<td align="right">
   79.32
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Wed: 2012-02-01 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 17:40:00
</td>
<td align="right">
   79.30
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Wed: 2012-02-01 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 17:45:00
</td>
<td align="right">
   79.32
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Wed: 2012-02-01 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 17:50:00
</td>
<td align="right">
   79.40
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Wed: 2012-02-01 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 17:55:00
</td>
<td align="right">
   79.35
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2012-02-01 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 18:10:00
</td>
<td align="right">
   79.49
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Wed: 2012-02-01 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 18:25:00
</td>
<td align="right">
   79.32
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .43
</td>
<td>
Wed: 2012-02-01 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 18:30:00
</td>
<td align="right">
   79.21
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .43
</td>
<td>
Wed: 2012-02-01 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 18:35:00
</td>
<td align="right">
   79.27
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .43
</td>
<td>
Wed: 2012-02-01 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 18:40:00
</td>
<td align="right">
   79.16
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .48
</td>
<td>
Wed: 2012-02-01 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 18:45:00
</td>
<td align="right">
   79.19
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .41
</td>
<td>
Wed: 2012-02-01 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 18:50:00
</td>
<td align="right">
   79.26
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .44
</td>
<td>
Wed: 2012-02-01 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 18:55:00
</td>
<td align="right">
   79.31
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Wed: 2012-02-01 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 19:00:00
</td>
<td align="right">
   79.23
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2012-02-01 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 19:05:00
</td>
<td align="right">
   79.18
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .49
</td>
<td>
Wed: 2012-02-01 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 19:10:00
</td>
<td align="right">
   79.36
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Wed: 2012-02-01 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 19:20:00
</td>
<td align="right">
   79.62
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2012-02-01 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 19:30:00
</td>
<td align="right">
   79.64
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2012-02-01 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 19:40:00
</td>
<td align="right">
   79.64
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Wed: 2012-02-01 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 19:55:00
</td>
<td align="right">
   79.63
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2012-02-01 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 20:00:00
</td>
<td align="right">
   79.33
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 20:05:00
</td>
<td align="right">
   79.67
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 20:10:00
</td>
<td align="right">
   79.68
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 20:20:00
</td>
<td align="right">
   79.62
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 20:35:00
</td>
<td align="right">
   79.68
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 20:45:00
</td>
<td align="right">
   79.65
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 20:50:00
</td>
<td align="right">
   79.58
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-01-31 20:55:00
</td>
<td align="right">
   79.64
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-01-31 16:15:00
</td>
<td align="right">
   52.38
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Wed: 2012-02-01 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-01-31 17:20:00
</td>
<td align="right">
   52.11
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Wed: 2012-02-01 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-01-31 17:45:00
</td>
<td align="right">
   52.08
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2012-02-01 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-01-31 18:00:00
</td>
<td align="right">
   52.18
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Wed: 2012-02-01 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-01-31 18:15:00
</td>
<td align="right">
   52.19
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2012-02-01 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-01-31 18:30:00
</td>
<td align="right">
   52.17
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Wed: 2012-02-01 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=V">V</a></td>
<td>
2012-01-31 15:50:00
</td>
<td align="right">
  100.42
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.47
</td>
<td>
Wed: 2012-02-01 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WMT">WMT</a></td>
<td>
2012-01-31 18:10:00
</td>
<td align="right">
   60.65
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2012-02-01 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WMT">WMT</a></td>
<td>
2012-01-31 18:15:00
</td>
<td align="right">
   60.69
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2012-02-01 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WMT">WMT</a></td>
<td>
2012-01-31 19:15:00
</td>
<td align="right">
   60.72
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Wed: 2012-02-01 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WMT">WMT</a></td>
<td>
2012-01-31 19:20:00
</td>
<td align="right">
   60.73
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Wed: 2012-02-01 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-01-31 15:25:00
</td>
<td align="right">
   48.78
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.50
</td>
<td>
Wed: 2012-02-01 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-01-31 15:55:00
</td>
<td align="right">
   48.54
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.33
</td>
<td>
Wed: 2012-02-01 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-01-31 16:05:00
</td>
<td align="right">
   48.45
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Wed: 2012-02-01 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-01-31 16:15:00
</td>
<td align="right">
   48.35
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-02-01 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-01-31 16:25:00
</td>
<td align="right">
   48.28
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Wed: 2012-02-01 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-01-31 16:45:00
</td>
<td align="right">
   48.19
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Wed: 2012-02-01 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-01-31 16:50:00
</td>
<td align="right">
   48.17
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .42
</td>
<td>
Wed: 2012-02-01 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-01-31 17:00:00
</td>
<td align="right">
   48.21
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .45
</td>
<td>
Wed: 2012-02-01 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-01-31 17:55:00
</td>
<td align="right">
   48.59
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Wed: 2012-02-01 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-01-31 19:40:00
</td>
<td align="right">
   48.32
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Wed: 2012-02-01 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-01-31 20:20:00
</td>
<td align="right">
   48.50
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-01-31 20:55:00
</td>
<td align="right">
   48.16
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-01-31 19:25:00
</td>
<td align="right">
   79.96
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Wed: 2012-02-01 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-01-31 19:40:00
</td>
<td align="right">
   79.98
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Wed: 2012-02-01 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-01-31 19:45:00
</td>
<td align="right">
   80.00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Wed: 2012-02-01 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-01-31 19:50:00
</td>
<td align="right">
   80.03
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-02-01 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-01-31 20:00:00
</td>
<td align="right">
   80.03
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-01-31 20:05:00
</td>
<td align="right">
   80.16
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-01-31 20:15:00
</td>
<td align="right">
   80.19
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-01-31 20:40:00
</td>
<td align="right">
   80.29
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMGN">AMGN</a></td>
<td>
2012-01-31 15:05:00
</td>
<td align="right">
   68.29
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2012-02-01 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AU">AU</a></td>
<td>
2012-01-31 15:55:00
</td>
<td align="right">
   45.61
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.39
</td>
<td>
Wed: 2012-02-01 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AU">AU</a></td>
<td>
2012-01-31 16:30:00
</td>
<td align="right">
   45.54
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2012-02-01 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 15:15:00
</td>
<td align="right">
   49.35
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Wed: 2012-02-01 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 15:20:00
</td>
<td align="right">
   49.42
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Wed: 2012-02-01 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 15:25:00
</td>
<td align="right">
   49.40
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Wed: 2012-02-01 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 15:30:00
</td>
<td align="right">
   49.39
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2012-02-01 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 15:35:00
</td>
<td align="right">
   49.32
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Wed: 2012-02-01 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 15:45:00
</td>
<td align="right">
   49.35
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Wed: 2012-02-01 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 15:50:00
</td>
<td align="right">
   49.38
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Wed: 2012-02-01 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 15:55:00
</td>
<td align="right">
   49.44
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-02-01 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 16:00:00
</td>
<td align="right">
   49.49
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-02-01 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 16:05:00
</td>
<td align="right">
   49.60
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2012-02-01 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 16:10:00
</td>
<td align="right">
   49.52
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-02-01 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 16:15:00
</td>
<td align="right">
   49.56
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2012-02-01 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 16:20:00
</td>
<td align="right">
   49.60
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-02-01 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 16:25:00
</td>
<td align="right">
   49.61
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-02-01 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 16:30:00
</td>
<td align="right">
   49.49
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Wed: 2012-02-01 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 16:35:00
</td>
<td align="right">
   49.57
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Wed: 2012-02-01 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 16:40:00
</td>
<td align="right">
   49.60
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Wed: 2012-02-01 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 16:45:00
</td>
<td align="right">
   49.57
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Wed: 2012-02-01 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 16:55:00
</td>
<td align="right">
   49.56
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Wed: 2012-02-01 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 17:05:00
</td>
<td align="right">
   49.61
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Wed: 2012-02-01 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 17:20:00
</td>
<td align="right">
   49.73
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Wed: 2012-02-01 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 17:25:00
</td>
<td align="right">
   49.74
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Wed: 2012-02-01 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-01-31 19:00:00
</td>
<td align="right">
   49.88
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2012-02-01 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-01-31 16:15:00
</td>
<td align="right">
   44.73
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-02-01 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-01-31 18:00:00
</td>
<td align="right">
   44.76
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Wed: 2012-02-01 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-01-31 18:20:00
</td>
<td align="right">
  125.90
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Wed: 2012-02-01 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-01-31 19:10:00
</td>
<td align="right">
  125.82
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2012-02-01 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-01-31 19:20:00
</td>
<td align="right">
  125.95
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2012-02-01 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-01-31 19:30:00
</td>
<td align="right">
  125.97
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2012-02-01 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-01-31 19:35:00
</td>
<td align="right">
  125.94
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Wed: 2012-02-01 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-01-31 19:40:00
</td>
<td align="right">
  125.88
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Wed: 2012-02-01 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-01-31 19:45:00
</td>
<td align="right">
  125.89
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Wed: 2012-02-01 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-01-31 19:50:00
</td>
<td align="right">
  125.98
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2012-02-01 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-01-31 20:00:00
</td>
<td align="right">
  125.88
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-01-31 20:10:00
</td>
<td align="right">
  126.02
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-01-31 20:30:00
</td>
<td align="right">
  126.03
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-01-31 20:50:00
</td>
<td align="right">
  125.97
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-31 16:50:00
</td>
<td align="right">
   55.76
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .50
</td>
<td>
Wed: 2012-02-01 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-01-31 16:50:00
</td>
<td align="right">
  576.15
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    1.17
</td>
<td>
Wed: 2012-02-01 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-01-31 17:20:00
</td>
<td align="right">
  576.30
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    1.80
</td>
<td>
Wed: 2012-02-01 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LVS">LVS</a></td>
<td>
2012-01-31 16:15:00
</td>
<td align="right">
   48.86
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-02-01 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LVS">LVS</a></td>
<td>
2012-01-31 16:30:00
</td>
<td align="right">
   48.90
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2012-02-01 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LVS">LVS</a></td>
<td>
2012-01-31 16:50:00
</td>
<td align="right">
   48.73
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Wed: 2012-02-01 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LVS">LVS</a></td>
<td>
2012-01-31 16:55:00
</td>
<td align="right">
   48.86
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2012-02-01 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LVS">LVS</a></td>
<td>
2012-01-31 17:10:00
</td>
<td align="right">
   48.72
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Wed: 2012-02-01 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LVS">LVS</a></td>
<td>
2012-01-31 17:40:00
</td>
<td align="right">
   48.75
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-02-01 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LVS">LVS</a></td>
<td>
2012-01-31 18:30:00
</td>
<td align="right">
   48.87
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Wed: 2012-02-01 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LVS">LVS</a></td>
<td>
2012-01-31 18:35:00
</td>
<td align="right">
   48.83
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Wed: 2012-02-01 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LVS">LVS</a></td>
<td>
2012-01-31 18:40:00
</td>
<td align="right">
   48.87
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Wed: 2012-02-01 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LVS">LVS</a></td>
<td>
2012-01-31 18:55:00
</td>
<td align="right">
   48.94
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Wed: 2012-02-01 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LVS">LVS</a></td>
<td>
2012-01-31 19:05:00
</td>
<td align="right">
   48.94
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-02-01 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NUE">NUE</a></td>
<td>
2012-01-31 15:05:00
</td>
<td align="right">
   44.17
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Wed: 2012-02-01 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NUE">NUE</a></td>
<td>
2012-01-31 15:10:00
</td>
<td align="right">
   44.18
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2012-02-01 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-01-31 15:45:00
</td>
<td align="right">
   74.68
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Wed: 2012-02-01 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-01-31 17:20:00
</td>
<td align="right">
   74.75
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Wed: 2012-02-01 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-01-31 18:00:00
</td>
<td align="right">
   74.71
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Wed: 2012-02-01 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-01-31 18:25:00
</td>
<td align="right">
   74.71
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Wed: 2012-02-01 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-01-31 18:35:00
</td>
<td align="right">
   74.67
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-02-01 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-01-31 18:40:00
</td>
<td align="right">
   74.67
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2012-02-01 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-01-31 19:00:00
</td>
<td align="right">
   74.57
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Wed: 2012-02-01 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-01-31 19:25:00
</td>
<td align="right">
   74.76
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-02-01 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-01-31 19:30:00
</td>
<td align="right">
   74.76
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2012-02-01 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=POT">POT</a></td>
<td>
2012-01-31 15:30:00
</td>
<td align="right">
   46.65
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Wed: 2012-02-01 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=POT">POT</a></td>
<td>
2012-01-31 15:35:00
</td>
<td align="right">
   46.45
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Wed: 2012-02-01 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=POT">POT</a></td>
<td>
2012-01-31 17:30:00
</td>
<td align="right">
   46.50
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2012-02-01 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=POT">POT</a></td>
<td>
2012-01-31 18:10:00
</td>
<td align="right">
   46.50
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2012-02-01 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PRU">PRU</a></td>
<td>
2012-01-31 19:40:00
</td>
<td align="right">
   57.18
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2012-02-01 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PRU">PRU</a></td>
<td>
2012-01-31 19:45:00
</td>
<td align="right">
   57.18
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2012-02-01 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLB">SLB</a></td>
<td>
2012-01-31 17:10:00
</td>
<td align="right">
   75.45
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .61
</td>
<td>
Wed: 2012-02-01 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLB">SLB</a></td>
<td>
2012-01-31 18:40:00
</td>
<td align="right">
   75.77
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Wed: 2012-02-01 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLB">SLB</a></td>
<td>
2012-01-31 18:50:00
</td>
<td align="right">
   75.71
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Wed: 2012-02-01 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SNDK">SNDK</a></td>
<td>
2012-01-31 15:00:00
</td>
<td align="right">
   46.16
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.38
</td>
<td>
Wed: 2012-02-01 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SNDK">SNDK</a></td>
<td>
2012-01-31 15:05:00
</td>
<td align="right">
   46.06
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Wed: 2012-02-01 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SNDK">SNDK</a></td>
<td>
2012-01-31 15:25:00
</td>
<td align="right">
   46.33
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.50
</td>
<td>
Wed: 2012-02-01 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SNDK">SNDK</a></td>
<td>
2012-01-31 15:30:00
</td>
<td align="right">
   46.22
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.41
</td>
<td>
Wed: 2012-02-01 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SNDK">SNDK</a></td>
<td>
2012-01-31 15:55:00
</td>
<td align="right">
   45.74
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Wed: 2012-02-01 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SNDK">SNDK</a></td>
<td>
2012-01-31 16:20:00
</td>
<td align="right">
   45.85
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2012-02-01 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SNDK">SNDK</a></td>
<td>
2012-01-31 16:45:00
</td>
<td align="right">
   45.82
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Wed: 2012-02-01 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SNDK">SNDK</a></td>
<td>
2012-01-31 16:50:00
</td>
<td align="right">
   45.77
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Wed: 2012-02-01 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SNDK">SNDK</a></td>
<td>
2012-01-31 19:40:00
</td>
<td align="right">
   45.87
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2012-02-01 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SNDK">SNDK</a></td>
<td>
2012-01-31 20:30:00
</td>
<td align="right">
   45.75
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SNDK">SNDK</a></td>
<td>
2012-01-31 20:40:00
</td>
<td align="right">
   45.86
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SNDK">SNDK</a></td>
<td>
2012-01-31 20:45:00
</td>
<td align="right">
   45.92
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-01-31 15:15:00
</td>
<td align="right">
   52.53
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Wed: 2012-02-01 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-01-31 15:50:00
</td>
<td align="right">
   52.37
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Wed: 2012-02-01 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-01-31 16:25:00
</td>
<td align="right">
   52.48
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.35
</td>
<td>
Wed: 2012-02-01 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-01-31 18:20:00
</td>
<td align="right">
   52.33
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Wed: 2012-02-01 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UPS">UPS</a></td>
<td>
2012-01-31 18:55:00
</td>
<td align="right">
   75.33
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Wed: 2012-02-01 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WFM">WFM</a></td>
<td>
2012-01-31 16:40:00
</td>
<td align="right">
   73.75
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2012-02-01 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WFM">WFM</a></td>
<td>
2012-01-31 17:15:00
</td>
<td align="right">
   73.65
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Wed: 2012-02-01 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WFM">WFM</a></td>
<td>
2012-01-31 19:20:00
</td>
<td align="right">
   74.05
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Wed: 2012-02-01 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 16:10:00
</td>
<td align="right">
   53.44
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Wed: 2012-02-01 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 16:25:00
</td>
<td align="right">
   53.53
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Wed: 2012-02-01 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 16:40:00
</td>
<td align="right">
   53.57
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2012-02-01 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 17:10:00
</td>
<td align="right">
   53.69
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-02-01 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 17:50:00
</td>
<td align="right">
   53.68
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2012-02-01 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 18:35:00
</td>
<td align="right">
   53.72
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Wed: 2012-02-01 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 18:45:00
</td>
<td align="right">
   53.72
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2012-02-01 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 18:50:00
</td>
<td align="right">
   53.69
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2012-02-01 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 18:55:00
</td>
<td align="right">
   53.61
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Wed: 2012-02-01 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 19:00:00
</td>
<td align="right">
   53.73
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Wed: 2012-02-01 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 19:05:00
</td>
<td align="right">
   53.76
</td>
<td align="right">
  .91
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Wed: 2012-02-01 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 19:10:00
</td>
<td align="right">
   53.79
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Wed: 2012-02-01 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 19:15:00
</td>
<td align="right">
   53.83
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.35
</td>
<td>
Wed: 2012-02-01 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 19:20:00
</td>
<td align="right">
   53.93
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.39
</td>
<td>
Wed: 2012-02-01 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 19:40:00
</td>
<td align="right">
   54.05
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Wed: 2012-02-01 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 19:50:00
</td>
<td align="right">
   53.72
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .61
</td>
<td>
Wed: 2012-02-01 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 19:55:00
</td>
<td align="right">
   53.70
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
     .60
</td>
<td>
Wed: 2012-02-01 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 20:00:00
</td>
<td align="right">
   53.54
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 20:05:00
</td>
<td align="right">
   53.58
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 20:10:00
</td>
<td align="right">
   53.58
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 20:15:00
</td>
<td align="right">
   53.48
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WHR">WHR</a></td>
<td>
2012-01-31 20:25:00
</td>
<td align="right">
   53.57
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WMT">WMT</a></td>
<td>
2012-01-31 15:40:00
</td>
<td align="right">
   61.04
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Wed: 2012-02-01 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WMT">WMT</a></td>
<td>
2012-01-31 16:00:00
</td>
<td align="right">
   60.92
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Wed: 2012-02-01 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=YUM">YUM</a></td>
<td>
2012-01-31 17:40:00
</td>
<td align="right">
   63.16
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Wed: 2012-02-01 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=YUM">YUM</a></td>
<td>
2012-01-31 17:45:00
</td>
<td align="right">
   63.17
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-02-01 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=YUM">YUM</a></td>
<td>
2012-01-31 17:50:00
</td>
<td align="right">
   63.14
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2012-02-01 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=YUM">YUM</a></td>
<td>
2012-01-31 18:00:00
</td>
<td align="right">
   63.18
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Wed: 2012-02-01 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=YUM">YUM</a></td>
<td>
2012-01-31 18:50:00
</td>
<td align="right">
   63.24
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2012-02-01 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=YUM">YUM</a></td>
<td>
2012-01-31 19:05:00
</td>
<td align="right">
   63.26
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Wed: 2012-02-01 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=YUM">YUM</a></td>
<td>
2012-01-31 19:35:00
</td>
<td align="right">
   63.33
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-02-01 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=YUM">YUM</a></td>
<td>
2012-01-31 20:00:00
</td>
<td align="right">
   63.24
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=YUM">YUM</a></td>
<td>
2012-01-31 20:20:00
</td>
<td align="right">
   63.25
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-01 20:20
</td>
</tr>
</table>
<br /><hr />