<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AKAM">AKAM</a></td>
<td>
2012-01-23 14:35:00
</td>
<td align="right">
   31.92
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-24 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AKAM">AKAM</a></td>
<td>
2012-01-23 14:40:00
</td>
<td align="right">
   32.00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-24 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AKAM">AKAM</a></td>
<td>
2012-01-23 15:00:00
</td>
<td align="right">
   31.88
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-24 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AKAM">AKAM</a></td>
<td>
2012-01-23 15:05:00
</td>
<td align="right">
   31.93
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-24 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GDX">GDX</a></td>
<td>
2012-01-23 14:30:00
</td>
<td align="right">
   52.54
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-24 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LVS">LVS</a></td>
<td>
2012-01-23 14:30:00
</td>
<td align="right">
   46.76
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-24 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-01-23 14:30:00
</td>
<td align="right">
  341.25
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    1.33
</td>
<td>
Tue: 2012-01-24 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-01-23 14:35:00
</td>
<td align="right">
  340.81
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-24 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-01-23 14:40:00
</td>
<td align="right">
  340.30
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-24 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-01-23 14:45:00
</td>
<td align="right">
  340.80
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-24 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-01-23 14:50:00
</td>
<td align="right">
  341.95
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-24 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-01-23 14:55:00
</td>
<td align="right">
  342.42
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-24 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-01-23 15:00:00
</td>
<td align="right">
  341.97
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-24 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MRK">MRK</a></td>
<td>
2012-01-23 14:40:00
</td>
<td align="right">
   39.00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-01-24 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MRK">MRK</a></td>
<td>
2012-01-23 14:50:00
</td>
<td align="right">
   39.01
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-24 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MRK">MRK</a></td>
<td>
2012-01-23 14:55:00
</td>
<td align="right">
   39.00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-01-24 14:55
</td>
</tr>
</table>
<br /><hr />