<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WAG">WAG</a></td>
<td>
2012-12-31 17:45:00
</td>
<td align="right">
   36.98
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Tue: 2013-01-01 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WAG">WAG</a></td>
<td>
2012-12-31 17:50:00
</td>
<td align="right">
   36.93
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Tue: 2013-01-01 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WAG">WAG</a></td>
<td>
2012-12-31 17:55:00
</td>
<td align="right">
   36.89
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2013-01-01 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WAG">WAG</a></td>
<td>
2012-12-31 18:10:00
</td>
<td align="right">
   36.92
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Tue: 2013-01-01 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WAG">WAG</a></td>
<td>
2012-12-31 18:20:00
</td>
<td align="right">
   36.91
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2013-01-01 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WAG">WAG</a></td>
<td>
2012-12-31 19:55:00
</td>
<td align="right">
   36.96
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2013-01-01 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WAG">WAG</a></td>
<td>
2012-12-31 20:00:00
</td>
<td align="right">
   36.98
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WAG">WAG</a></td>
<td>
2012-12-31 20:05:00
</td>
<td align="right">
   36.95
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WAG">WAG</a></td>
<td>
2012-12-31 20:35:00
</td>
<td align="right">
   36.95
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WAG">WAG</a></td>
<td>
2012-12-31 20:45:00
</td>
<td align="right">
   36.97
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WAG">WAG</a></td>
<td>
2012-12-31 20:50:00
</td>
<td align="right">
   36.99
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WAG">WAG</a></td>
<td>
2012-12-31 20:55:00
</td>
<td align="right">
   37.03
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ADBE">ADBE</a></td>
<td>
2012-12-31 15:00:00
</td>
<td align="right">
   36.94
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2013-01-01 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ADBE">ADBE</a></td>
<td>
2012-12-31 15:20:00
</td>
<td align="right">
   36.94
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2013-01-01 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ADBE">ADBE</a></td>
<td>
2012-12-31 17:25:00
</td>
<td align="right">
   37.00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Tue: 2013-01-01 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ADBE">ADBE</a></td>
<td>
2012-12-31 17:30:00
</td>
<td align="right">
   37.03
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2013-01-01 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ADBE">ADBE</a></td>
<td>
2012-12-31 17:40:00
</td>
<td align="right">
   37.18
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2013-01-01 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ADBE">ADBE</a></td>
<td>
2012-12-31 17:45:00
</td>
<td align="right">
   37.28
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2013-01-01 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ADBE">ADBE</a></td>
<td>
2012-12-31 17:50:00
</td>
<td align="right">
   37.29
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2013-01-01 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 15:00:00
</td>
<td align="right">
  292.80
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.62
</td>
<td>
Tue: 2013-01-01 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 15:05:00
</td>
<td align="right">
  291.64
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .66
</td>
<td>
Tue: 2013-01-01 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 15:10:00
</td>
<td align="right">
  290.99
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    1.64
</td>
<td>
Tue: 2013-01-01 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 15:15:00
</td>
<td align="right">
  291.56
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    1.01
</td>
<td>
Tue: 2013-01-01 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 15:20:00
</td>
<td align="right">
  291.71
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .42
</td>
<td>
Tue: 2013-01-01 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 15:25:00
</td>
<td align="right">
  291.77
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .48
</td>
<td>
Tue: 2013-01-01 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 15:30:00
</td>
<td align="right">
  292.71
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Tue: 2013-01-01 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 15:40:00
</td>
<td align="right">
  291.99
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2013-01-01 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 15:45:00
</td>
<td align="right">
  291.93
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
     .77
</td>
<td>
Tue: 2013-01-01 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 15:50:00
</td>
<td align="right">
  292.31
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .47
</td>
<td>
Tue: 2013-01-01 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 15:55:00
</td>
<td align="right">
  292.05
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    1.28
</td>
<td>
Tue: 2013-01-01 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 16:00:00
</td>
<td align="right">
  292.18
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    1.06
</td>
<td>
Tue: 2013-01-01 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 16:05:00
</td>
<td align="right">
  292.30
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    1.09
</td>
<td>
Tue: 2013-01-01 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 16:10:00
</td>
<td align="right">
  292.63
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    1.10
</td>
<td>
Tue: 2013-01-01 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 16:15:00
</td>
<td align="right">
  292.57
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .71
</td>
<td>
Tue: 2013-01-01 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 16:20:00
</td>
<td align="right">
  292.13
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
    1.38
</td>
<td>
Tue: 2013-01-01 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 16:25:00
</td>
<td align="right">
  292.25
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    1.59
</td>
<td>
Tue: 2013-01-01 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 16:30:00
</td>
<td align="right">
  292.40
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    1.59
</td>
<td>
Tue: 2013-01-01 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 16:35:00
</td>
<td align="right">
  292.32
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .71
</td>
<td>
Tue: 2013-01-01 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 16:40:00
</td>
<td align="right">
  291.88
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    1.32
</td>
<td>
Tue: 2013-01-01 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 16:45:00
</td>
<td align="right">
  292.70
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    1.68
</td>
<td>
Tue: 2013-01-01 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 18:05:00
</td>
<td align="right">
  293.71
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .41
</td>
<td>
Tue: 2013-01-01 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 20:20:00
</td>
<td align="right">
  295.35
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-12-31 20:35:00
</td>
<td align="right">
  296.00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2013-01-01 20:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IBM">IBM</a></td>
<td>
2012-12-31 15:00:00
</td>
<td align="right">
  190.01
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2013-01-01 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IBM">IBM</a></td>
<td>
2012-12-31 15:20:00
</td>
<td align="right">
  189.86
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Tue: 2013-01-01 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IBM">IBM</a></td>
<td>
2012-12-31 15:25:00
</td>
<td align="right">
  190.04
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.57
</td>
<td>
Tue: 2013-01-01 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IBM">IBM</a></td>
<td>
2012-12-31 15:30:00
</td>
<td align="right">
  190.11
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.53
</td>
<td>
Tue: 2013-01-01 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IBM">IBM</a></td>
<td>
2012-12-31 15:35:00
</td>
<td align="right">
  190.10
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.65
</td>
<td>
Tue: 2013-01-01 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IBM">IBM</a></td>
<td>
2012-12-31 15:45:00
</td>
<td align="right">
  189.63
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2013-01-01 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IBM">IBM</a></td>
<td>
2012-12-31 15:50:00
</td>
<td align="right">
  189.80
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.50
</td>
<td>
Tue: 2013-01-01 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IBM">IBM</a></td>
<td>
2012-12-31 15:55:00
</td>
<td align="right">
  189.65
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.35
</td>
<td>
Tue: 2013-01-01 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IBM">IBM</a></td>
<td>
2012-12-31 16:00:00
</td>
<td align="right">
  190.09
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.67
</td>
<td>
Tue: 2013-01-01 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IBM">IBM</a></td>
<td>
2012-12-31 18:55:00
</td>
<td align="right">
  189.84
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    1.31
</td>
<td>
Tue: 2013-01-01 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 15:00:00
</td>
<td align="right">
   82.84
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .61
</td>
<td>
Tue: 2013-01-01 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 15:05:00
</td>
<td align="right">
   82.97
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Tue: 2013-01-01 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 15:10:00
</td>
<td align="right">
   82.97
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .44
</td>
<td>
Tue: 2013-01-01 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 15:15:00
</td>
<td align="right">
   82.98
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Tue: 2013-01-01 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 15:20:00
</td>
<td align="right">
   83.04
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Tue: 2013-01-01 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 15:25:00
</td>
<td align="right">
   83.25
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2013-01-01 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 15:30:00
</td>
<td align="right">
   83.20
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2013-01-01 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 15:35:00
</td>
<td align="right">
   83.17
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2013-01-01 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 15:40:00
</td>
<td align="right">
   83.01
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .34
</td>
<td>
Tue: 2013-01-01 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 15:45:00
</td>
<td align="right">
   82.97
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .39
</td>
<td>
Tue: 2013-01-01 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 15:50:00
</td>
<td align="right">
   83.01
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Tue: 2013-01-01 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 15:55:00
</td>
<td align="right">
   83.00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Tue: 2013-01-01 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 16:10:00
</td>
<td align="right">
   83.41
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2013-01-01 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 16:15:00
</td>
<td align="right">
   83.29
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2013-01-01 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 16:20:00
</td>
<td align="right">
   83.30
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2013-01-01 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 16:25:00
</td>
<td align="right">
   83.31
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2013-01-01 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 16:30:00
</td>
<td align="right">
   83.37
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2013-01-01 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 16:35:00
</td>
<td align="right">
   83.31
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2013-01-01 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 16:40:00
</td>
<td align="right">
   83.35
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Tue: 2013-01-01 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 16:45:00
</td>
<td align="right">
   83.36
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Tue: 2013-01-01 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 16:50:00
</td>
<td align="right">
   83.31
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Tue: 2013-01-01 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 17:15:00
</td>
<td align="right">
   83.43
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2013-01-01 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 17:55:00
</td>
<td align="right">
   83.44
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2013-01-01 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-12-31 18:00:00
</td>
<td align="right">
   83.36
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2013-01-01 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-12-31 18:40:00
</td>
<td align="right">
   68.02
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2013-01-01 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-12-31 19:40:00
</td>
<td align="right">
   67.97
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Tue: 2013-01-01 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-12-31 19:50:00
</td>
<td align="right">
   68.08
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Tue: 2013-01-01 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-12-31 19:55:00
</td>
<td align="right">
   68.17
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Tue: 2013-01-01 19:55
</td>
</tr>
</table>
<br /><hr />