<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMZN">AMZN</a></td>
<td>
2012-12-21 15:20:00
</td>
<td align="right">
  257.47
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.92
</td>
<td>
Mon: 2012-12-24 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMZN">AMZN</a></td>
<td>
2012-12-21 15:30:00
</td>
<td align="right">
  257.22
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.82
</td>
<td>
Mon: 2012-12-24 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMZN">AMZN</a></td>
<td>
2012-12-21 16:10:00
</td>
<td align="right">
  256.71
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2012-12-24 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMZN">AMZN</a></td>
<td>
2012-12-21 16:30:00
</td>
<td align="right">
  256.40
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Mon: 2012-12-24 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMZN">AMZN</a></td>
<td>
2012-12-21 17:40:00
</td>
<td align="right">
  256.45
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .40
</td>
<td>
Mon: 2012-12-24 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMZN">AMZN</a></td>
<td>
2012-12-21 19:05:00
</td>
<td align="right">
  256.69
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2012-12-24 19:05
</td>
</tr>
</table>
<br /><hr />