<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVS">CVS</a></td>
<td>
2012-06-18 17:20:00
</td>
<td align="right">
   45.70
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2012-06-19 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVS">CVS</a></td>
<td>
2012-06-18 17:40:00
</td>
<td align="right">
   45.75
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-06-19 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVS">CVS</a></td>
<td>
2012-06-18 17:45:00
</td>
<td align="right">
   45.77
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-06-19 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVS">CVS</a></td>
<td>
2012-06-18 17:50:00
</td>
<td align="right">
   45.77
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-06-19 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVS">CVS</a></td>
<td>
2012-06-18 17:55:00
</td>
<td align="right">
   45.78
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-06-19 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVS">CVS</a></td>
<td>
2012-06-18 18:20:00
</td>
<td align="right">
   45.80
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-06-19 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVS">CVS</a></td>
<td>
2012-06-18 18:30:00
</td>
<td align="right">
   45.79
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-06-19 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVS">CVS</a></td>
<td>
2012-06-18 18:35:00
</td>
<td align="right">
   45.80
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2012-06-19 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVS">CVS</a></td>
<td>
2012-06-18 18:40:00
</td>
<td align="right">
   45.80
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2012-06-19 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVS">CVS</a></td>
<td>
2012-06-18 18:45:00
</td>
<td align="right">
   45.79
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2012-06-19 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVS">CVS</a></td>
<td>
2012-06-18 18:50:00
</td>
<td align="right">
   45.77
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2012-06-19 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVS">CVS</a></td>
<td>
2012-06-18 18:55:00
</td>
<td align="right">
   45.77
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-06-19 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVS">CVS</a></td>
<td>
2012-06-18 19:00:00
</td>
<td align="right">
   45.77
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVS">CVS</a></td>
<td>
2012-06-18 19:05:00
</td>
<td align="right">
   45.75
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVS">CVS</a></td>
<td>
2012-06-18 19:10:00
</td>
<td align="right">
   45.70
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVS">CVS</a></td>
<td>
2012-06-18 19:15:00
</td>
<td align="right">
   45.69
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVS">CVS</a></td>
<td>
2012-06-18 19:25:00
</td>
<td align="right">
   45.69
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LVS">LVS</a></td>
<td>
2012-06-18 19:40:00
</td>
<td align="right">
   45.19
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LVS">LVS</a></td>
<td>
2012-06-18 19:45:00
</td>
<td align="right">
   45.19
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-06-18 18:15:00
</td>
<td align="right">
  427.74
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   -1.92
</td>
<td>
Tue: 2012-06-19 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-06-18 18:20:00
</td>
<td align="right">
  427.86
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   -2.49
</td>
<td>
Tue: 2012-06-19 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-06-18 14:00:00
</td>
<td align="right">
   85.77
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .46
</td>
<td>
Tue: 2012-06-19 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2012-06-18 14:15:00
</td>
<td align="right">
   85.88
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .43
</td>
<td>
Tue: 2012-06-19 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 14:00:00
</td>
<td align="right">
   87.23
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-06-19 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 14:05:00
</td>
<td align="right">
   87.24
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-06-19 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 14:10:00
</td>
<td align="right">
   87.27
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-06-19 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 14:15:00
</td>
<td align="right">
   87.34
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Tue: 2012-06-19 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 14:20:00
</td>
<td align="right">
   87.36
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2012-06-19 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 14:25:00
</td>
<td align="right">
   87.37
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Tue: 2012-06-19 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 14:30:00
</td>
<td align="right">
   87.27
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-06-19 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 14:35:00
</td>
<td align="right">
   87.32
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2012-06-19 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 14:40:00
</td>
<td align="right">
   87.41
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2012-06-19 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 14:45:00
</td>
<td align="right">
   87.56
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2012-06-19 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 14:50:00
</td>
<td align="right">
   87.36
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-06-19 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 14:55:00
</td>
<td align="right">
   87.23
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2012-06-19 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 15:00:00
</td>
<td align="right">
   87.20
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-06-19 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 15:05:00
</td>
<td align="right">
   87.27
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-06-19 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 15:10:00
</td>
<td align="right">
   87.28
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-06-19 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 15:15:00
</td>
<td align="right">
   87.12
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Tue: 2012-06-19 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 15:20:00
</td>
<td align="right">
   87.09
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Tue: 2012-06-19 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 15:25:00
</td>
<td align="right">
   87.17
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-06-19 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 15:30:00
</td>
<td align="right">
   87.26
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-06-19 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 15:35:00
</td>
<td align="right">
   87.21
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-06-19 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 15:40:00
</td>
<td align="right">
   87.25
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-06-19 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 15:45:00
</td>
<td align="right">
   87.29
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-06-19 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 15:50:00
</td>
<td align="right">
   87.33
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-06-19 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 16:20:00
</td>
<td align="right">
   87.34
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-06-19 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 16:25:00
</td>
<td align="right">
   87.31
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2012-06-19 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 16:30:00
</td>
<td align="right">
   87.33
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-06-19 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 16:35:00
</td>
<td align="right">
   87.23
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Tue: 2012-06-19 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 16:40:00
</td>
<td align="right">
   87.25
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2012-06-19 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 16:45:00
</td>
<td align="right">
   87.34
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-06-19 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 16:50:00
</td>
<td align="right">
   87.30
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2012-06-19 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 16:55:00
</td>
<td align="right">
   87.26
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2012-06-19 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 17:00:00
</td>
<td align="right">
   87.28
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-06-19 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 17:05:00
</td>
<td align="right">
   87.31
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-06-19 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 17:10:00
</td>
<td align="right">
   87.35
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2012-06-19 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 17:15:00
</td>
<td align="right">
   87.36
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2012-06-19 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 17:20:00
</td>
<td align="right">
   87.34
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-06-19 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 17:25:00
</td>
<td align="right">
   87.39
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-06-19 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 17:30:00
</td>
<td align="right">
   87.40
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-06-19 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 17:35:00
</td>
<td align="right">
   87.43
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2012-06-19 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 17:40:00
</td>
<td align="right">
   87.42
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2012-06-19 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 17:45:00
</td>
<td align="right">
   87.33
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-06-19 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 17:50:00
</td>
<td align="right">
   87.38
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-06-19 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 17:55:00
</td>
<td align="right">
   87.41
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-06-19 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 18:00:00
</td>
<td align="right">
   87.35
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2012-06-19 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 18:05:00
</td>
<td align="right">
   87.34
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-06-19 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 18:10:00
</td>
<td align="right">
   87.43
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2012-06-19 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 18:15:00
</td>
<td align="right">
   87.46
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2012-06-19 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 18:20:00
</td>
<td align="right">
   87.47
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2012-06-19 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 18:25:00
</td>
<td align="right">
   87.39
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-06-19 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 18:30:00
</td>
<td align="right">
   87.47
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Tue: 2012-06-19 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 18:35:00
</td>
<td align="right">
   87.53
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2012-06-19 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 18:40:00
</td>
<td align="right">
   87.52
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-06-19 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 18:45:00
</td>
<td align="right">
   87.39
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-06-19 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 18:50:00
</td>
<td align="right">
   87.41
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-06-19 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 18:55:00
</td>
<td align="right">
   87.31
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-06-19 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 19:00:00
</td>
<td align="right">
   87.46
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 19:05:00
</td>
<td align="right">
   87.41
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 19:10:00
</td>
<td align="right">
   87.32
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 19:15:00
</td>
<td align="right">
   87.29
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 19:20:00
</td>
<td align="right">
   87.26
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 19:25:00
</td>
<td align="right">
   87.36
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 19:30:00
</td>
<td align="right">
   87.27
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 19:35:00
</td>
<td align="right">
   87.35
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 19:40:00
</td>
<td align="right">
   87.43
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 19:45:00
</td>
<td align="right">
   87.43
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 19:50:00
</td>
<td align="right">
   87.35
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-06-18 19:55:00
</td>
<td align="right">
   87.35
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 16:45:00
</td>
<td align="right">
   50.07
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2012-06-19 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 17:00:00
</td>
<td align="right">
   50.05
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2012-06-19 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 17:10:00
</td>
<td align="right">
   50.20
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2012-06-19 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 18:10:00
</td>
<td align="right">
   50.36
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.33
</td>
<td>
Tue: 2012-06-19 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 18:15:00
</td>
<td align="right">
   50.53
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.46
</td>
<td>
Tue: 2012-06-19 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 18:20:00
</td>
<td align="right">
   50.54
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.42
</td>
<td>
Tue: 2012-06-19 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 18:25:00
</td>
<td align="right">
   50.48
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.39
</td>
<td>
Tue: 2012-06-19 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 18:30:00
</td>
<td align="right">
   50.42
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.34
</td>
<td>
Tue: 2012-06-19 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 18:35:00
</td>
<td align="right">
   50.37
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2012-06-19 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 18:40:00
</td>
<td align="right">
   50.28
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-06-19 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 18:45:00
</td>
<td align="right">
   50.27
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2012-06-19 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 18:50:00
</td>
<td align="right">
   50.22
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-06-19 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 18:55:00
</td>
<td align="right">
   50.25
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-06-19 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 19:00:00
</td>
<td align="right">
   50.25
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 19:05:00
</td>
<td align="right">
   50.22
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 19:15:00
</td>
<td align="right">
   50.07
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 19:20:00
</td>
<td align="right">
   50.12
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 19:25:00
</td>
<td align="right">
   50.09
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 19:30:00
</td>
<td align="right">
   50.08
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 19:35:00
</td>
<td align="right">
   50.14
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 19:40:00
</td>
<td align="right">
   50.19
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 19:45:00
</td>
<td align="right">
   50.22
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 19:50:00
</td>
<td align="right">
   50.22
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-06-18 19:55:00
</td>
<td align="right">
   50.22
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=OXY">OXY</a></td>
<td>
2012-06-18 14:10:00
</td>
<td align="right">
   83.95
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.49
</td>
<td>
Tue: 2012-06-19 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=OXY">OXY</a></td>
<td>
2012-06-18 14:15:00
</td>
<td align="right">
   84.12
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.69
</td>
<td>
Tue: 2012-06-19 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=OXY">OXY</a></td>
<td>
2012-06-18 14:20:00
</td>
<td align="right">
   84.21
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.80
</td>
<td>
Tue: 2012-06-19 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=OXY">OXY</a></td>
<td>
2012-06-18 14:25:00
</td>
<td align="right">
   84.14
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.64
</td>
<td>
Tue: 2012-06-19 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=OXY">OXY</a></td>
<td>
2012-06-18 14:40:00
</td>
<td align="right">
   83.92
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.55
</td>
<td>
Tue: 2012-06-19 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=OXY">OXY</a></td>
<td>
2012-06-18 14:45:00
</td>
<td align="right">
   84.01
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.61
</td>
<td>
Tue: 2012-06-19 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=OXY">OXY</a></td>
<td>
2012-06-18 14:50:00
</td>
<td align="right">
   84.01
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.63
</td>
<td>
Tue: 2012-06-19 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=OXY">OXY</a></td>
<td>
2012-06-18 14:55:00
</td>
<td align="right">
   83.97
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.49
</td>
<td>
Tue: 2012-06-19 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 15:55:00
</td>
<td align="right">
   62.33
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2012-06-19 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 16:00:00
</td>
<td align="right">
   62.43
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-06-19 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 16:05:00
</td>
<td align="right">
   62.49
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-06-19 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 16:10:00
</td>
<td align="right">
   62.43
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-06-19 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 16:15:00
</td>
<td align="right">
   62.43
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-06-19 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 16:20:00
</td>
<td align="right">
   62.43
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-06-19 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 16:25:00
</td>
<td align="right">
   62.43
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-06-19 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 16:30:00
</td>
<td align="right">
   62.43
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2012-06-19 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 16:35:00
</td>
<td align="right">
   62.43
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2012-06-19 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 16:40:00
</td>
<td align="right">
   62.46
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2012-06-19 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 16:45:00
</td>
<td align="right">
   62.47
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Tue: 2012-06-19 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 16:50:00
</td>
<td align="right">
   62.48
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2012-06-19 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 16:55:00
</td>
<td align="right">
   62.48
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2012-06-19 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 17:00:00
</td>
<td align="right">
   62.40
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2012-06-19 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 17:05:00
</td>
<td align="right">
   62.43
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2012-06-19 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 17:10:00
</td>
<td align="right">
   62.40
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-06-19 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 17:15:00
</td>
<td align="right">
   62.40
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-06-19 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 17:20:00
</td>
<td align="right">
   62.40
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-06-19 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 17:25:00
</td>
<td align="right">
   62.40
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2012-06-19 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 17:50:00
</td>
<td align="right">
   62.34
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-06-19 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 17:55:00
</td>
<td align="right">
   62.34
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-06-19 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 18:20:00
</td>
<td align="right">
   62.30
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-06-19 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 18:25:00
</td>
<td align="right">
   62.33
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-06-19 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 19:10:00
</td>
<td align="right">
   62.37
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 19:15:00
</td>
<td align="right">
   62.37
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 19:20:00
</td>
<td align="right">
   62.37
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 19:25:00
</td>
<td align="right">
   62.37
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 19:30:00
</td>
<td align="right">
   62.36
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 19:40:00
</td>
<td align="right">
   62.36
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 19:45:00
</td>
<td align="right">
   62.36
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 19:50:00
</td>
<td align="right">
   62.32
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-06-18 19:55:00
</td>
<td align="right">
   62.32
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 14:30:00
</td>
<td align="right">
   69.58
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-06-19 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 14:35:00
</td>
<td align="right">
   69.60
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-06-19 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 14:55:00
</td>
<td align="right">
   69.61
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2012-06-19 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 15:05:00
</td>
<td align="right">
   69.59
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-06-19 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 15:10:00
</td>
<td align="right">
   69.61
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2012-06-19 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 15:15:00
</td>
<td align="right">
   69.56
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-06-19 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 15:25:00
</td>
<td align="right">
   69.54
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-06-19 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 15:30:00
</td>
<td align="right">
   69.56
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-06-19 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 15:40:00
</td>
<td align="right">
   69.59
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-06-19 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 15:45:00
</td>
<td align="right">
   69.56
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-06-19 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 15:50:00
</td>
<td align="right">
   69.57
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-06-19 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 15:55:00
</td>
<td align="right">
   69.57
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-06-19 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 16:00:00
</td>
<td align="right">
   69.55
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-06-19 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 16:05:00
</td>
<td align="right">
   69.53
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-06-19 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 16:10:00
</td>
<td align="right">
   69.56
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-06-19 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 16:15:00
</td>
<td align="right">
   69.58
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-06-19 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 16:20:00
</td>
<td align="right">
   69.55
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-06-19 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 16:25:00
</td>
<td align="right">
   69.54
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-06-19 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 16:30:00
</td>
<td align="right">
   69.53
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-06-19 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 16:35:00
</td>
<td align="right">
   69.53
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-06-19 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 16:40:00
</td>
<td align="right">
   69.57
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-06-19 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 16:50:00
</td>
<td align="right">
   69.56
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Tue: 2012-06-19 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 16:55:00
</td>
<td align="right">
   69.55
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2012-06-19 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 17:00:00
</td>
<td align="right">
   69.58
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-06-19 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 17:05:00
</td>
<td align="right">
   69.60
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-06-19 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 17:10:00
</td>
<td align="right">
   69.62
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-06-19 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 17:15:00
</td>
<td align="right">
   69.63
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-06-19 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 18:00:00
</td>
<td align="right">
   69.60
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-06-19 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 18:25:00
</td>
<td align="right">
   69.59
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-06-19 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 19:00:00
</td>
<td align="right">
   69.63
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 19:05:00
</td>
<td align="right">
   69.59
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 19:10:00
</td>
<td align="right">
   69.51
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 19:15:00
</td>
<td align="right">
   69.53
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 19:20:00
</td>
<td align="right">
   69.57
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 19:25:00
</td>
<td align="right">
   69.59
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 19:30:00
</td>
<td align="right">
   69.55
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 19:35:00
</td>
<td align="right">
   69.59
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 19:40:00
</td>
<td align="right">
   69.59
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 19:45:00
</td>
<td align="right">
   69.59
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 19:50:00
</td>
<td align="right">
   69.54
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PEP">PEP</a></td>
<td>
2012-06-18 19:55:00
</td>
<td align="right">
   69.59
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-06-18 14:30:00
</td>
<td align="right">
  105.60
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.37
</td>
<td>
Tue: 2012-06-19 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-06-18 14:35:00
</td>
<td align="right">
  105.56
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.49
</td>
<td>
Tue: 2012-06-19 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-06-18 14:40:00
</td>
<td align="right">
  105.76
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.71
</td>
<td>
Tue: 2012-06-19 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-06-18 15:05:00
</td>
<td align="right">
  105.47
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.58
</td>
<td>
Tue: 2012-06-19 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-06-18 15:10:00
</td>
<td align="right">
  105.65
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.70
</td>
<td>
Tue: 2012-06-19 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-06-18 17:25:00
</td>
<td align="right">
  105.60
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Tue: 2012-06-19 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ABX">ABX</a></td>
<td>
2012-06-18 14:30:00
</td>
<td align="right">
   39.25
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Tue: 2012-06-19 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-06-18 14:20:00
</td>
<td align="right">
   82.57
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.37
</td>
<td>
Tue: 2012-06-19 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-06-18 14:25:00
</td>
<td align="right">
   82.55
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2012-06-19 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-06-18 14:30:00
</td>
<td align="right">
   82.37
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-06-19 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-06-18 14:35:00
</td>
<td align="right">
   82.41
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-06-19 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-06-18 14:45:00
</td>
<td align="right">
   82.37
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Tue: 2012-06-19 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-06-18 14:50:00
</td>
<td align="right">
   82.41
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2012-06-19 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-06-18 15:00:00
</td>
<td align="right">
   82.41
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Tue: 2012-06-19 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-06-18 15:05:00
</td>
<td align="right">
   82.35
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Tue: 2012-06-19 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-06-18 15:10:00
</td>
<td align="right">
   82.44
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Tue: 2012-06-19 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-06-18 15:50:00
</td>
<td align="right">
   82.58
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .79
</td>
<td>
Tue: 2012-06-19 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AU">AU</a></td>
<td>
2012-06-18 14:10:00
</td>
<td align="right">
   36.16
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Tue: 2012-06-19 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-06-18 15:05:00
</td>
<td align="right">
   71.62
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Tue: 2012-06-19 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-06-18 15:10:00
</td>
<td align="right">
   71.61
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Tue: 2012-06-19 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-06-18 15:15:00
</td>
<td align="right">
   71.67
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Tue: 2012-06-19 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-06-18 19:10:00
</td>
<td align="right">
   71.74
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-06-18 19:15:00
</td>
<td align="right">
   71.78
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-06-18 19:20:00
</td>
<td align="right">
   71.70
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-06-18 19:25:00
</td>
<td align="right">
   71.76
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-06-18 19:30:00
</td>
<td align="right">
   71.75
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-06-18 19:35:00
</td>
<td align="right">
   71.74
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-06-18 19:50:00
</td>
<td align="right">
   71.81
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 14:00:00
</td>
<td align="right">
  120.67
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.48
</td>
<td>
Tue: 2012-06-19 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 14:05:00
</td>
<td align="right">
  120.62
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.69
</td>
<td>
Tue: 2012-06-19 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 14:20:00
</td>
<td align="right">
  120.70
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.98
</td>
<td>
Tue: 2012-06-19 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 14:25:00
</td>
<td align="right">
  120.86
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.69
</td>
<td>
Tue: 2012-06-19 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 15:50:00
</td>
<td align="right">
  120.86
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .47
</td>
<td>
Tue: 2012-06-19 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 15:55:00
</td>
<td align="right">
  120.90
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Tue: 2012-06-19 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 16:00:00
</td>
<td align="right">
  120.66
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .48
</td>
<td>
Tue: 2012-06-19 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 16:10:00
</td>
<td align="right">
  120.71
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Tue: 2012-06-19 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 16:15:00
</td>
<td align="right">
  120.93
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-06-19 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 16:20:00
</td>
<td align="right">
  120.95
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2012-06-19 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 16:25:00
</td>
<td align="right">
  120.63
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .79
</td>
<td>
Tue: 2012-06-19 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 16:40:00
</td>
<td align="right">
  120.81
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .49
</td>
<td>
Tue: 2012-06-19 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 16:45:00
</td>
<td align="right">
  121.25
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-06-19 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 16:50:00
</td>
<td align="right">
  121.33
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-06-19 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 16:55:00
</td>
<td align="right">
  121.12
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .37
</td>
<td>
Tue: 2012-06-19 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 17:00:00
</td>
<td align="right">
  121.14
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .48
</td>
<td>
Tue: 2012-06-19 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 17:05:00
</td>
<td align="right">
  121.04
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .63
</td>
<td>
Tue: 2012-06-19 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 17:10:00
</td>
<td align="right">
  121.04
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .93
</td>
<td>
Tue: 2012-06-19 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 17:15:00
</td>
<td align="right">
  120.93
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .99
</td>
<td>
Tue: 2012-06-19 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 17:20:00
</td>
<td align="right">
  121.10
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .75
</td>
<td>
Tue: 2012-06-19 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 17:25:00
</td>
<td align="right">
  121.42
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Tue: 2012-06-19 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 17:30:00
</td>
<td align="right">
  121.28
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Tue: 2012-06-19 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 17:35:00
</td>
<td align="right">
  121.33
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Tue: 2012-06-19 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 17:40:00
</td>
<td align="right">
  121.30
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2012-06-19 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 17:45:00
</td>
<td align="right">
  121.24
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-06-19 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 17:50:00
</td>
<td align="right">
  121.39
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2012-06-19 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 17:55:00
</td>
<td align="right">
  121.49
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Tue: 2012-06-19 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 18:00:00
</td>
<td align="right">
  121.62
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2012-06-19 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 18:05:00
</td>
<td align="right">
  121.67
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.38
</td>
<td>
Tue: 2012-06-19 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 18:10:00
</td>
<td align="right">
  121.97
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.94
</td>
<td>
Tue: 2012-06-19 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 18:15:00
</td>
<td align="right">
  121.92
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.67
</td>
<td>
Tue: 2012-06-19 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 18:20:00
</td>
<td align="right">
  121.85
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.50
</td>
<td>
Tue: 2012-06-19 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 18:25:00
</td>
<td align="right">
  121.66
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Tue: 2012-06-19 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 18:30:00
</td>
<td align="right">
  121.63
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-06-19 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 18:35:00
</td>
<td align="right">
  121.60
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-06-19 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 18:40:00
</td>
<td align="right">
  121.25
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-06-19 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 18:45:00
</td>
<td align="right">
  121.25
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2012-06-19 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 18:50:00
</td>
<td align="right">
  121.21
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-06-19 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 18:55:00
</td>
<td align="right">
  121.13
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Tue: 2012-06-19 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 19:00:00
</td>
<td align="right">
  121.48
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 19:05:00
</td>
<td align="right">
  121.29
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-06-18 19:10:00
</td>
<td align="right">
  121.03
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-06-19 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVS">CVS</a></td>
<td>
2012-06-18 15:40:00
</td>
<td align="right">
   45.48
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-06-19 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVS">CVS</a></td>
<td>
2012-06-18 15:50:00
</td>
<td align="right">
   45.49
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2012-06-19 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVS">CVS</a></td>
<td>
2012-06-18 16:10:00
</td>
<td align="right">
   45.49
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-06-19 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LLY">LLY</a></td>
<td>
2012-06-18 15:05:00
</td>
<td align="right">
   41.94
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-06-19 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LLY">LLY</a></td>
<td>
2012-06-18 15:15:00
</td>
<td align="right">
   41.92
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2012-06-19 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LLY">LLY</a></td>
<td>
2012-06-18 15:20:00
</td>
<td align="right">
   41.93
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-06-19 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LLY">LLY</a></td>
<td>
2012-06-18 15:35:00
</td>
<td align="right">
   41.95
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-06-19 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LLY">LLY</a></td>
<td>
2012-06-18 15:40:00
</td>
<td align="right">
   41.95
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-06-19 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LLY">LLY</a></td>
<td>
2012-06-18 15:45:00
</td>
<td align="right">
   41.94
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-06-19 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LLY">LLY</a></td>
<td>
2012-06-18 16:05:00
</td>
<td align="right">
   41.95
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-06-19 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LLY">LLY</a></td>
<td>
2012-06-18 16:25:00
</td>
<td align="right">
   41.94
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-06-19 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LLY">LLY</a></td>
<td>
2012-06-18 17:45:00
</td>
<td align="right">
   41.92
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2012-06-19 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WYNN">WYNN</a></td>
<td>
2012-06-18 14:00:00
</td>
<td align="right">
   99.31
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Tue: 2012-06-19 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WYNN">WYNN</a></td>
<td>
2012-06-18 14:05:00
</td>
<td align="right">
   99.46
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-06-19 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WYNN">WYNN</a></td>
<td>
2012-06-18 14:10:00
</td>
<td align="right">
   99.20
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Tue: 2012-06-19 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WYNN">WYNN</a></td>
<td>
2012-06-18 14:15:00
</td>
<td align="right">
   99.31
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-06-19 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WYNN">WYNN</a></td>
<td>
2012-06-18 14:20:00
</td>
<td align="right">
   99.34
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-06-19 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WYNN">WYNN</a></td>
<td>
2012-06-18 14:35:00
</td>
<td align="right">
   99.40
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-06-19 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WYNN">WYNN</a></td>
<td>
2012-06-18 15:05:00
</td>
<td align="right">
   99.44
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2012-06-19 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WYNN">WYNN</a></td>
<td>
2012-06-18 15:15:00
</td>
<td align="right">
   99.33
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
Tue: 2012-06-19 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WYNN">WYNN</a></td>
<td>
2012-06-18 15:20:00
</td>
<td align="right">
   99.35
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .39
</td>
<td>
Tue: 2012-06-19 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WYNN">WYNN</a></td>
<td>
2012-06-18 15:35:00
</td>
<td align="right">
   99.40
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Tue: 2012-06-19 15:35
</td>
</tr>
</table>
<br /><hr />