<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 14:00:00
</td>
<td align="right">
   40.47
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Fri: 2012-06-15 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 14:15:00
</td>
<td align="right">
   40.64
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2012-06-15 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 14:20:00
</td>
<td align="right">
   40.57
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .26
</td>
<td>
Fri: 2012-06-15 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 14:25:00
</td>
<td align="right">
   40.60
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .29
</td>
<td>
Fri: 2012-06-15 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 14:35:00
</td>
<td align="right">
   40.52
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Fri: 2012-06-15 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 15:05:00
</td>
<td align="right">
   40.75
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Fri: 2012-06-15 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 15:25:00
</td>
<td align="right">
   40.89
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Fri: 2012-06-15 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 15:30:00
</td>
<td align="right">
   40.81
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2012-06-15 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 15:35:00
</td>
<td align="right">
   40.86
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Fri: 2012-06-15 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 15:40:00
</td>
<td align="right">
   40.83
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Fri: 2012-06-15 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 15:50:00
</td>
<td align="right">
   40.94
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Fri: 2012-06-15 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 15:55:00
</td>
<td align="right">
   40.89
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Fri: 2012-06-15 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 16:00:00
</td>
<td align="right">
   40.89
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Fri: 2012-06-15 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 16:05:00
</td>
<td align="right">
   40.91
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Fri: 2012-06-15 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 16:15:00
</td>
<td align="right">
   40.86
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2012-06-15 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 16:20:00
</td>
<td align="right">
   40.87
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2012-06-15 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 16:25:00
</td>
<td align="right">
   40.84
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Fri: 2012-06-15 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 16:30:00
</td>
<td align="right">
   40.84
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Fri: 2012-06-15 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 16:35:00
</td>
<td align="right">
   40.86
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Fri: 2012-06-15 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 16:45:00
</td>
<td align="right">
   40.94
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Fri: 2012-06-15 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 16:50:00
</td>
<td align="right">
   40.90
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2012-06-15 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 17:00:00
</td>
<td align="right">
   40.99
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Fri: 2012-06-15 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 17:10:00
</td>
<td align="right">
   40.98
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Fri: 2012-06-15 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 17:15:00
</td>
<td align="right">
   40.98
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .19
</td>
<td>
Fri: 2012-06-15 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 17:20:00
</td>
<td align="right">
   40.93
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
Fri: 2012-06-15 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 17:25:00
</td>
<td align="right">
   40.98
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Fri: 2012-06-15 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 17:30:00
</td>
<td align="right">
   41.00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2012-06-15 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 17:35:00
</td>
<td align="right">
   41.04
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Fri: 2012-06-15 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 17:45:00
</td>
<td align="right">
   41.03
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2012-06-15 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 17:50:00
</td>
<td align="right">
   41.05
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Fri: 2012-06-15 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 17:55:00
</td>
<td align="right">
   41.07
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Fri: 2012-06-15 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 18:00:00
</td>
<td align="right">
   41.09
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2012-06-15 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 18:45:00
</td>
<td align="right">
   41.05
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .59
</td>
<td>
Fri: 2012-06-15 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 18:50:00
</td>
<td align="right">
   41.05
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
     .48
</td>
<td>
Fri: 2012-06-15 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-14 19:55:00
</td>
<td align="right">
   41.63
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-15 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APC">APC</a></td>
<td>
2012-06-14 16:35:00
</td>
<td align="right">
   63.52
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Fri: 2012-06-15 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APC">APC</a></td>
<td>
2012-06-14 16:40:00
</td>
<td align="right">
   63.57
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Fri: 2012-06-15 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-06-14 14:55:00
</td>
<td align="right">
   38.93
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Fri: 2012-06-15 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-06-14 15:25:00
</td>
<td align="right">
   38.92
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Fri: 2012-06-15 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-06-14 16:00:00
</td>
<td align="right">
   38.82
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Fri: 2012-06-15 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-06-14 16:25:00
</td>
<td align="right">
   38.89
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2012-06-15 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-06-14 16:35:00
</td>
<td align="right">
   38.96
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Fri: 2012-06-15 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-06-14 17:00:00
</td>
<td align="right">
   39.03
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Fri: 2012-06-15 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-06-14 17:55:00
</td>
<td align="right">
   39.12
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Fri: 2012-06-15 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-06-14 19:00:00
</td>
<td align="right">
   39.06
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-15 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-06-14 19:30:00
</td>
<td align="right">
   39.22
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-15 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-06-14 19:50:00
</td>
<td align="right">
   39.43
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-15 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CLF">CLF</a></td>
<td>
2012-06-14 15:25:00
</td>
<td align="right">
   47.61
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Fri: 2012-06-15 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CLF">CLF</a></td>
<td>
2012-06-14 19:10:00
</td>
<td align="right">
   47.79
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-15 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COP">COP</a></td>
<td>
2012-06-14 15:25:00
</td>
<td align="right">
   54.46
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.14
</td>
<td>
Fri: 2012-06-15 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COP">COP</a></td>
<td>
2012-06-14 15:30:00
</td>
<td align="right">
   54.54
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Fri: 2012-06-15 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COP">COP</a></td>
<td>
2012-06-14 18:35:00
</td>
<td align="right">
   54.39
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .43
</td>
<td>
Fri: 2012-06-15 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVS">CVS</a></td>
<td>
2012-06-14 15:50:00
</td>
<td align="right">
   45.71
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Fri: 2012-06-15 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-06-14 18:50:00
</td>
<td align="right">
  101.03
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .86
</td>
<td>
Fri: 2012-06-15 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2012-06-14 15:05:00
</td>
<td align="right">
   74.15
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Fri: 2012-06-15 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-06-14 16:00:00
</td>
<td align="right">
   76.04
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Fri: 2012-06-15 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-06-14 16:05:00
</td>
<td align="right">
   76.03
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Fri: 2012-06-15 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-06-14 16:10:00
</td>
<td align="right">
   76.01
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Fri: 2012-06-15 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-06-14 15:20:00
</td>
<td align="right">
   86.49
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Fri: 2012-06-15 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-06-14 16:45:00
</td>
<td align="right">
   86.88
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Fri: 2012-06-15 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-06-14 17:45:00
</td>
<td align="right">
   86.99
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Fri: 2012-06-15 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2012-06-14 19:15:00
</td>
<td align="right">
   87.31
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-15 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMGN">AMGN</a></td>
<td>
2012-06-14 14:20:00
</td>
<td align="right">
   69.77
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Fri: 2012-06-15 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMGN">AMGN</a></td>
<td>
2012-06-14 16:10:00
</td>
<td align="right">
   69.85
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .40
</td>
<td>
Fri: 2012-06-15 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMZN">AMZN</a></td>
<td>
2012-06-14 17:40:00
</td>
<td align="right">
  214.55
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   -1.10
</td>
<td>
Fri: 2012-06-15 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMZN">AMZN</a></td>
<td>
2012-06-14 18:05:00
</td>
<td align="right">
  214.24
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .39
</td>
<td>
Fri: 2012-06-15 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMZN">AMZN</a></td>
<td>
2012-06-14 18:35:00
</td>
<td align="right">
  213.24
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    1.72
</td>
<td>
Fri: 2012-06-15 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMZN">AMZN</a></td>
<td>
2012-06-14 19:55:00
</td>
<td align="right">
  214.39
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-15 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-06-14 17:50:00
</td>
<td align="right">
   54.95
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Fri: 2012-06-15 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-06-14 17:55:00
</td>
<td align="right">
   54.93
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.33
</td>
<td>
Fri: 2012-06-15 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-06-14 18:00:00
</td>
<td align="right">
   54.94
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Fri: 2012-06-15 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-06-14 18:05:00
</td>
<td align="right">
   54.96
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Fri: 2012-06-15 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-06-14 18:20:00
</td>
<td align="right">
   54.92
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Fri: 2012-06-15 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-06-14 18:40:00
</td>
<td align="right">
   54.73
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Fri: 2012-06-15 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-06-14 18:45:00
</td>
<td align="right">
   54.70
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Fri: 2012-06-15 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-06-14 18:55:00
</td>
<td align="right">
   54.60
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .45
</td>
<td>
Fri: 2012-06-15 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COP">COP</a></td>
<td>
2012-06-14 14:00:00
</td>
<td align="right">
   53.98
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Fri: 2012-06-15 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COP">COP</a></td>
<td>
2012-06-14 14:10:00
</td>
<td align="right">
   54.04
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
Fri: 2012-06-15 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2012-06-14 14:20:00
</td>
<td align="right">
   73.81
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
     .50
</td>
<td>
Fri: 2012-06-15 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2012-06-14 14:25:00
</td>
<td align="right">
   73.84
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .48
</td>
<td>
Fri: 2012-06-15 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2012-06-14 17:35:00
</td>
<td align="right">
   74.51
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Fri: 2012-06-15 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IYR">IYR</a></td>
<td>
2012-06-14 18:50:00
</td>
<td align="right">
   61.63
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .41
</td>
<td>
Fri: 2012-06-15 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-06-14 14:00:00
</td>
<td align="right">
   63.16
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Fri: 2012-06-15 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-06-14 14:10:00
</td>
<td align="right">
   63.10
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Fri: 2012-06-15 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-06-14 14:15:00
</td>
<td align="right">
   63.15
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Fri: 2012-06-15 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-06-14 14:20:00
</td>
<td align="right">
   63.00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Fri: 2012-06-15 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-06-14 14:25:00
</td>
<td align="right">
   62.90
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Fri: 2012-06-15 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-06-14 15:05:00
</td>
<td align="right">
   62.98
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Fri: 2012-06-15 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-06-14 15:30:00
</td>
<td align="right">
   62.98
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Fri: 2012-06-15 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-06-14 16:00:00
</td>
<td align="right">
   63.01
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2012-06-15 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-06-14 16:05:00
</td>
<td align="right">
   63.03
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Fri: 2012-06-15 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-06-14 16:35:00
</td>
<td align="right">
   63.02
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Fri: 2012-06-15 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-06-14 16:45:00
</td>
<td align="right">
   63.05
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Fri: 2012-06-15 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-06-14 17:00:00
</td>
<td align="right">
   63.13
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Fri: 2012-06-15 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-06-14 17:15:00
</td>
<td align="right">
   63.02
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Fri: 2012-06-15 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-06-14 17:30:00
</td>
<td align="right">
   62.96
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Fri: 2012-06-15 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-06-14 17:35:00
</td>
<td align="right">
   63.01
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Fri: 2012-06-15 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PRU">PRU</a></td>
<td>
2012-06-14 14:25:00
</td>
<td align="right">
   47.38
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Fri: 2012-06-15 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PRU">PRU</a></td>
<td>
2012-06-14 14:30:00
</td>
<td align="right">
   47.43
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Fri: 2012-06-15 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PRU">PRU</a></td>
<td>
2012-06-14 14:50:00
</td>
<td align="right">
   47.55
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Fri: 2012-06-15 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PRU">PRU</a></td>
<td>
2012-06-14 15:30:00
</td>
<td align="right">
   47.53
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Fri: 2012-06-15 15:30
</td>
</tr>
</table>
<br /><hr />