<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APOL">APOL</a></td>
<td>
2011-11-23 15:00:00
</td>
<td align="right">
   45.00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Thu: 2011-11-24 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APOL">APOL</a></td>
<td>
2011-11-23 15:10:00
</td>
<td align="right">
   44.99
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Thu: 2011-11-24 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APOL">APOL</a></td>
<td>
2011-11-23 15:15:00
</td>
<td align="right">
   45.06
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2011-11-24 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APOL">APOL</a></td>
<td>
2011-11-23 15:20:00
</td>
<td align="right">
   45.15
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2011-11-24 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APOL">APOL</a></td>
<td>
2011-11-23 15:25:00
</td>
<td align="right">
   45.05
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2011-11-24 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APOL">APOL</a></td>
<td>
2011-11-23 15:50:00
</td>
<td align="right">
   45.23
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2011-11-24 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APOL">APOL</a></td>
<td>
2011-11-23 15:55:00
</td>
<td align="right">
   45.28
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2011-11-24 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APOL">APOL</a></td>
<td>
2011-11-23 16:25:00
</td>
<td align="right">
   45.09
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2011-11-24 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APOL">APOL</a></td>
<td>
2011-11-23 16:35:00
</td>
<td align="right">
   45.26
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Thu: 2011-11-24 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APOL">APOL</a></td>
<td>
2011-11-23 18:20:00
</td>
<td align="right">
   45.09
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2011-11-24 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APOL">APOL</a></td>
<td>
2011-11-23 18:35:00
</td>
<td align="right">
   45.11
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2011-11-24 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APOL">APOL</a></td>
<td>
2011-11-23 18:40:00
</td>
<td align="right">
   45.08
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2011-11-24 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APOL">APOL</a></td>
<td>
2011-11-23 19:45:00
</td>
<td align="right">
   45.19
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2011-11-24 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 15:00:00
</td>
<td align="right">
    6.32
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2011-11-24 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 16:00:00
</td>
<td align="right">
    6.33
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2011-11-24 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 16:50:00
</td>
<td align="right">
    6.33
</td>
<td align="right">
 -.91
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2011-11-24 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 17:00:00
</td>
<td align="right">
    6.33
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2011-11-24 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 17:10:00
</td>
<td align="right">
    6.32
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2011-11-24 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 17:20:00
</td>
<td align="right">
    6.33
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2011-11-24 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 17:25:00
</td>
<td align="right">
    6.34
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2011-11-24 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 17:45:00
</td>
<td align="right">
    6.34
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2011-11-24 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 17:50:00
</td>
<td align="right">
    6.36
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2011-11-24 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 17:55:00
</td>
<td align="right">
    6.33
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2011-11-24 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 18:00:00
</td>
<td align="right">
    6.32
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2011-11-24 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 18:05:00
</td>
<td align="right">
    6.33
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2011-11-24 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 18:15:00
</td>
<td align="right">
    6.34
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2011-11-24 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 18:20:00
</td>
<td align="right">
    6.31
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2011-11-24 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 18:25:00
</td>
<td align="right">
    6.31
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2011-11-24 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 18:30:00
</td>
<td align="right">
    6.32
</td>
<td align="right">
 -.93
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2011-11-24 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 18:35:00
</td>
<td align="right">
    6.32
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2011-11-24 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 18:40:00
</td>
<td align="right">
    6.30
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2011-11-24 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 18:45:00
</td>
<td align="right">
    6.30
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2011-11-24 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 18:50:00
</td>
<td align="right">
    6.28
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2011-11-24 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 20:00:00
</td>
<td align="right">
    6.30
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 20:10:00
</td>
<td align="right">
    6.29
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 20:15:00
</td>
<td align="right">
    6.29
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 20:30:00
</td>
<td align="right">
    6.29
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 20:40:00
</td>
<td align="right">
    6.31
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-11-23 15:05:00
</td>
<td align="right">
   39.58
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2011-11-24 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-11-23 15:10:00
</td>
<td align="right">
   39.42
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2011-11-24 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-11-23 15:15:00
</td>
<td align="right">
   39.42
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2011-11-24 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-11-23 15:35:00
</td>
<td align="right">
   39.61
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2011-11-24 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2011-11-23 20:50:00
</td>
<td align="right">
   40.11
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COST">COST</a></td>
<td>
2011-11-23 18:25:00
</td>
<td align="right">
   81.35
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Thu: 2011-11-24 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-11-23 17:05:00
</td>
<td align="right">
   74.46
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Thu: 2011-11-24 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-11-23 16:15:00
</td>
<td align="right">
   33.62
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2011-11-24 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-11-23 17:50:00
</td>
<td align="right">
   33.72
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2011-11-24 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIS">DIS</a></td>
<td>
2011-11-23 18:40:00
</td>
<td align="right">
   33.61
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2011-11-24 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FSLR">FSLR</a></td>
<td>
2011-11-23 15:15:00
</td>
<td align="right">
   41.97
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2011-11-24 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FSLR">FSLR</a></td>
<td>
2011-11-23 15:25:00
</td>
<td align="right">
   41.97
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Thu: 2011-11-24 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FSLR">FSLR</a></td>
<td>
2011-11-23 15:55:00
</td>
<td align="right">
   42.03
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Thu: 2011-11-24 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FSLR">FSLR</a></td>
<td>
2011-11-23 17:00:00
</td>
<td align="right">
   42.35
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Thu: 2011-11-24 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FSLR">FSLR</a></td>
<td>
2011-11-23 17:25:00
</td>
<td align="right">
   42.50
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Thu: 2011-11-24 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FSLR">FSLR</a></td>
<td>
2011-11-23 17:30:00
</td>
<td align="right">
   42.51
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2011-11-24 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FSLR">FSLR</a></td>
<td>
2011-11-23 17:40:00
</td>
<td align="right">
   42.56
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Thu: 2011-11-24 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FSLR">FSLR</a></td>
<td>
2011-11-23 17:45:00
</td>
<td align="right">
   42.66
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Thu: 2011-11-24 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FSLR">FSLR</a></td>
<td>
2011-11-23 18:00:00
</td>
<td align="right">
   42.70
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.33
</td>
<td>
Thu: 2011-11-24 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FSLR">FSLR</a></td>
<td>
2011-11-23 18:10:00
</td>
<td align="right">
   42.55
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.45
</td>
<td>
Thu: 2011-11-24 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FSLR">FSLR</a></td>
<td>
2011-11-23 18:30:00
</td>
<td align="right">
   42.60
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Thu: 2011-11-24 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FSLR">FSLR</a></td>
<td>
2011-11-23 18:50:00
</td>
<td align="right">
   42.53
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.48
</td>
<td>
Thu: 2011-11-24 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FSLR">FSLR</a></td>
<td>
2011-11-23 18:55:00
</td>
<td align="right">
   42.43
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.36
</td>
<td>
Thu: 2011-11-24 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FSLR">FSLR</a></td>
<td>
2011-11-23 19:00:00
</td>
<td align="right">
   42.37
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Thu: 2011-11-24 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FSLR">FSLR</a></td>
<td>
2011-11-23 19:30:00
</td>
<td align="right">
   42.12
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Thu: 2011-11-24 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FSLR">FSLR</a></td>
<td>
2011-11-23 19:50:00
</td>
<td align="right">
   42.05
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.23
</td>
<td>
Thu: 2011-11-24 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GLD">GLD</a></td>
<td>
2011-11-23 16:00:00
</td>
<td align="right">
  163.61
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .80
</td>
<td>
Thu: 2011-11-24 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GLD">GLD</a></td>
<td>
2011-11-23 16:15:00
</td>
<td align="right">
  163.34
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .94
</td>
<td>
Thu: 2011-11-24 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LLY">LLY</a></td>
<td>
2011-11-23 15:15:00
</td>
<td align="right">
   35.74
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2011-11-24 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LLY">LLY</a></td>
<td>
2011-11-23 15:20:00
</td>
<td align="right">
   35.77
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2011-11-24 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LLY">LLY</a></td>
<td>
2011-11-23 15:25:00
</td>
<td align="right">
   35.74
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2011-11-24 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LLY">LLY</a></td>
<td>
2011-11-23 15:35:00
</td>
<td align="right">
   35.78
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2011-11-24 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LLY">LLY</a></td>
<td>
2011-11-23 15:45:00
</td>
<td align="right">
   35.75
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2011-11-24 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LLY">LLY</a></td>
<td>
2011-11-23 15:50:00
</td>
<td align="right">
   35.79
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2011-11-24 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LLY">LLY</a></td>
<td>
2011-11-23 16:00:00
</td>
<td align="right">
   35.69
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2011-11-24 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LLY">LLY</a></td>
<td>
2011-11-23 18:35:00
</td>
<td align="right">
   35.78
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2011-11-24 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=LLY">LLY</a></td>
<td>
2011-11-23 18:50:00
</td>
<td align="right">
   35.76
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2011-11-24 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2011-11-23 19:00:00
</td>
<td align="right">
   71.23
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2011-11-24 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2011-11-23 19:15:00
</td>
<td align="right">
   71.06
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Thu: 2011-11-24 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2011-11-23 20:10:00
</td>
<td align="right">
   71.32
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MJN">MJN</a></td>
<td>
2011-11-23 20:25:00
</td>
<td align="right">
   71.24
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NVDA">NVDA</a></td>
<td>
2011-11-23 16:20:00
</td>
<td align="right">
   14.87
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2011-11-24 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NVDA">NVDA</a></td>
<td>
2011-11-23 17:50:00
</td>
<td align="right">
   14.80
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Thu: 2011-11-24 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ORCL">ORCL</a></td>
<td>
2011-11-23 17:15:00
</td>
<td align="right">
   29.30
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2011-11-24 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SINA">SINA</a></td>
<td>
2011-11-23 16:40:00
</td>
<td align="right">
   63.00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2011-11-24 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SINA">SINA</a></td>
<td>
2011-11-23 16:50:00
</td>
<td align="right">
   62.61
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .54
</td>
<td>
Thu: 2011-11-24 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-11-23 17:00:00
</td>
<td align="right">
   31.08
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2011-11-24 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-11-23 17:25:00
</td>
<td align="right">
   30.98
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Thu: 2011-11-24 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-11-23 17:40:00
</td>
<td align="right">
   30.96
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2011-11-24 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-11-23 17:45:00
</td>
<td align="right">
   31.06
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2011-11-24 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-11-23 17:50:00
</td>
<td align="right">
   31.17
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2011-11-24 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-11-23 17:55:00
</td>
<td align="right">
   31.16
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.20
</td>
<td>
Thu: 2011-11-24 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-11-23 18:00:00
</td>
<td align="right">
   31.14
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Thu: 2011-11-24 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-11-23 18:05:00
</td>
<td align="right">
   31.18
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.26
</td>
<td>
Thu: 2011-11-24 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-11-23 18:15:00
</td>
<td align="right">
   31.08
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Thu: 2011-11-24 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-11-23 18:25:00
</td>
<td align="right">
   31.16
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.36
</td>
<td>
Thu: 2011-11-24 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-11-23 18:40:00
</td>
<td align="right">
   31.03
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2011-11-24 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-11-23 19:30:00
</td>
<td align="right">
   30.90
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2011-11-24 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-11-23 19:50:00
</td>
<td align="right">
   31.06
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2011-11-24 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-11-23 19:55:00
</td>
<td align="right">
   31.00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2011-11-24 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-11-23 20:00:00
</td>
<td align="right">
   31.07
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-11-23 20:05:00
</td>
<td align="right">
   31.03
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SLV">SLV</a></td>
<td>
2011-11-23 20:25:00
</td>
<td align="right">
   30.98
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2011-11-23 16:20:00
</td>
<td align="right">
   75.01
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    1.00
</td>
<td>
Thu: 2011-11-24 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2011-11-23 18:55:00
</td>
<td align="right">
   76.13
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .47
</td>
<td>
Thu: 2011-11-24 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VALE">VALE</a></td>
<td>
2011-11-23 19:15:00
</td>
<td align="right">
   22.62
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2011-11-24 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2011-11-23 19:35:00
</td>
<td align="right">
   74.88
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2011-11-24 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ABX">ABX</a></td>
<td>
2011-11-23 18:55:00
</td>
<td align="right">
   48.30
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.35
</td>
<td>
Thu: 2011-11-24 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMGN">AMGN</a></td>
<td>
2011-11-23 20:55:00
</td>
<td align="right">
   54.94
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 15:30:00
</td>
<td align="right">
    6.19
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2011-11-24 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 19:05:00
</td>
<td align="right">
    6.25
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2011-11-24 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXU">AXU</a></td>
<td>
2011-11-23 19:30:00
</td>
<td align="right">
    6.23
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2011-11-24 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-11-23 17:10:00
</td>
<td align="right">
   74.34
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2011-11-24 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2011-11-23 19:05:00
</td>
<td align="right">
   73.94
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .44
</td>
<td>
Thu: 2011-11-24 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-11-23 15:55:00
</td>
<td align="right">
  113.09
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Thu: 2011-11-24 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-11-23 16:40:00
</td>
<td align="right">
  112.84
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2011-11-24 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-11-23 17:05:00
</td>
<td align="right">
  113.00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Thu: 2011-11-24 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-11-23 17:20:00
</td>
<td align="right">
  112.90
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2011-11-24 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-11-23 17:50:00
</td>
<td align="right">
  113.16
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Thu: 2011-11-24 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-11-23 17:55:00
</td>
<td align="right">
  113.16
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Thu: 2011-11-24 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-11-23 18:00:00
</td>
<td align="right">
  113.09
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Thu: 2011-11-24 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-11-23 18:45:00
</td>
<td align="right">
  112.93
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2011-11-24 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-11-23 18:50:00
</td>
<td align="right">
  113.00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Thu: 2011-11-24 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-11-23 19:00:00
</td>
<td align="right">
  112.85
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2011-11-24 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-11-23 19:35:00
</td>
<td align="right">
  112.77
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Thu: 2011-11-24 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-11-23 19:50:00
</td>
<td align="right">
  112.81
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Thu: 2011-11-24 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2011-11-23 20:15:00
</td>
<td align="right">
  112.95
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 15:15:00
</td>
<td align="right">
   98.75
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2011-11-24 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 15:20:00
</td>
<td align="right">
   98.93
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Thu: 2011-11-24 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 15:30:00
</td>
<td align="right">
   98.51
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2011-11-24 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 15:45:00
</td>
<td align="right">
   98.72
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Thu: 2011-11-24 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 15:50:00
</td>
<td align="right">
   99.49
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.60
</td>
<td>
Thu: 2011-11-24 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 16:05:00
</td>
<td align="right">
   98.65
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .80
</td>
<td>
Thu: 2011-11-24 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 16:20:00
</td>
<td align="right">
   98.78
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .56
</td>
<td>
Thu: 2011-11-24 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 16:25:00
</td>
<td align="right">
   98.78
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Thu: 2011-11-24 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 16:30:00
</td>
<td align="right">
   98.60
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Thu: 2011-11-24 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 16:35:00
</td>
<td align="right">
   99.15
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Thu: 2011-11-24 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 16:40:00
</td>
<td align="right">
   98.81
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .74
</td>
<td>
Thu: 2011-11-24 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 16:45:00
</td>
<td align="right">
   98.92
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .61
</td>
<td>
Thu: 2011-11-24 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 16:50:00
</td>
<td align="right">
   98.89
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
     .98
</td>
<td>
Thu: 2011-11-24 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 17:00:00
</td>
<td align="right">
   99.40
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .46
</td>
<td>
Thu: 2011-11-24 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 17:05:00
</td>
<td align="right">
   99.45
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .70
</td>
<td>
Thu: 2011-11-24 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 17:20:00
</td>
<td align="right">
   99.34
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .62
</td>
<td>
Thu: 2011-11-24 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 17:40:00
</td>
<td align="right">
   99.55
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Thu: 2011-11-24 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 17:45:00
</td>
<td align="right">
   99.53
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Thu: 2011-11-24 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 18:00:00
</td>
<td align="right">
   99.86
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2011-11-24 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 18:05:00
</td>
<td align="right">
  100.15
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.39
</td>
<td>
Thu: 2011-11-24 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 18:30:00
</td>
<td align="right">
   99.95
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
    -.59
</td>
<td>
Thu: 2011-11-24 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 18:35:00
</td>
<td align="right">
  100.00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.50
</td>
<td>
Thu: 2011-11-24 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 18:40:00
</td>
<td align="right">
   99.82
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Thu: 2011-11-24 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 18:45:00
</td>
<td align="right">
   99.78
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Thu: 2011-11-24 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 19:15:00
</td>
<td align="right">
   99.30
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .71
</td>
<td>
Thu: 2011-11-24 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 19:20:00
</td>
<td align="right">
   99.41
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .56
</td>
<td>
Thu: 2011-11-24 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 19:30:00
</td>
<td align="right">
   99.36
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .58
</td>
<td>
Thu: 2011-11-24 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 19:35:00
</td>
<td align="right">
   99.50
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Thu: 2011-11-24 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 19:40:00
</td>
<td align="right">
   99.48
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .81
</td>
<td>
Thu: 2011-11-24 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 19:45:00
</td>
<td align="right">
   99.60
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .48
</td>
<td>
Thu: 2011-11-24 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 19:50:00
</td>
<td align="right">
   99.57
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .55
</td>
<td>
Thu: 2011-11-24 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 19:55:00
</td>
<td align="right">
   99.47
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2011-11-24 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 20:00:00
</td>
<td align="right">
   99.70
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 20:05:00
</td>
<td align="right">
   99.83
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 20:10:00
</td>
<td align="right">
  100.04
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 20:25:00
</td>
<td align="right">
   99.92
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 20:40:00
</td>
<td align="right">
  100.29
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 20:50:00
</td>
<td align="right">
  100.12
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2011-11-23 20:55:00
</td>
<td align="right">
   99.56
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 15:45:00
</td>
<td align="right">
   36.60
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2011-11-24 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 16:05:00
</td>
<td align="right">
   36.49
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Thu: 2011-11-24 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 16:10:00
</td>
<td align="right">
   36.48
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Thu: 2011-11-24 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 16:15:00
</td>
<td align="right">
   36.54
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2011-11-24 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 17:15:00
</td>
<td align="right">
   36.62
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2011-11-24 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 17:20:00
</td>
<td align="right">
   36.58
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2011-11-24 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 17:25:00
</td>
<td align="right">
   36.52
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Thu: 2011-11-24 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 17:30:00
</td>
<td align="right">
   36.49
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Thu: 2011-11-24 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 17:35:00
</td>
<td align="right">
   36.50
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Thu: 2011-11-24 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 17:40:00
</td>
<td align="right">
   36.50
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Thu: 2011-11-24 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 17:45:00
</td>
<td align="right">
   36.54
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Thu: 2011-11-24 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 18:45:00
</td>
<td align="right">
   36.77
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2011-11-24 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 18:50:00
</td>
<td align="right">
   36.79
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2011-11-24 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 19:00:00
</td>
<td align="right">
   36.72
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2011-11-24 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 19:05:00
</td>
<td align="right">
   36.71
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2011-11-24 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 19:10:00
</td>
<td align="right">
   36.64
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2011-11-24 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 19:20:00
</td>
<td align="right">
   36.64
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2011-11-24 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 19:30:00
</td>
<td align="right">
   36.65
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2011-11-24 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 19:35:00
</td>
<td align="right">
   36.63
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2011-11-24 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 19:40:00
</td>
<td align="right">
   36.61
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Thu: 2011-11-24 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 19:50:00
</td>
<td align="right">
   36.67
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2011-11-24 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 19:55:00
</td>
<td align="right">
   36.62
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2011-11-24 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 20:05:00
</td>
<td align="right">
   36.64
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 20:10:00
</td>
<td align="right">
   36.72
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 20:15:00
</td>
<td align="right">
   36.66
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 20:20:00
</td>
<td align="right">
   36.64
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 20:25:00
</td>
<td align="right">
   36.65
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 20:30:00
</td>
<td align="right">
   36.67
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 20:35:00
</td>
<td align="right">
   36.68
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 20:40:00
</td>
<td align="right">
   36.81
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 20:45:00
</td>
<td align="right">
   36.71
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HD">HD</a></td>
<td>
2011-11-23 20:50:00
</td>
<td align="right">
   36.71
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IAG">IAG</a></td>
<td>
2011-11-23 16:00:00
</td>
<td align="right">
   18.50
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Thu: 2011-11-24 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 15:05:00
</td>
<td align="right">
   34.53
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Thu: 2011-11-24 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 15:10:00
</td>
<td align="right">
   34.40
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2011-11-24 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 15:20:00
</td>
<td align="right">
   34.39
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2011-11-24 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 15:30:00
</td>
<td align="right">
   34.40
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2011-11-24 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 15:35:00
</td>
<td align="right">
   34.43
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2011-11-24 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 15:40:00
</td>
<td align="right">
   34.42
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2011-11-24 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 15:50:00
</td>
<td align="right">
   34.46
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2011-11-24 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 15:55:00
</td>
<td align="right">
   34.49
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Thu: 2011-11-24 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 16:00:00
</td>
<td align="right">
   34.45
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2011-11-24 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 16:05:00
</td>
<td align="right">
   34.39
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2011-11-24 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 16:10:00
</td>
<td align="right">
   34.36
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2011-11-24 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 16:20:00
</td>
<td align="right">
   34.35
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2011-11-24 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 16:25:00
</td>
<td align="right">
   34.29
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2011-11-24 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 16:30:00
</td>
<td align="right">
   34.29
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2011-11-24 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 16:35:00
</td>
<td align="right">
   34.37
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Thu: 2011-11-24 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 16:45:00
</td>
<td align="right">
   34.34
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2011-11-24 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 17:05:00
</td>
<td align="right">
   34.36
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2011-11-24 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 17:10:00
</td>
<td align="right">
   34.28
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2011-11-24 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 17:20:00
</td>
<td align="right">
   34.26
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2011-11-24 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 17:25:00
</td>
<td align="right">
   34.20
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2011-11-24 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 17:35:00
</td>
<td align="right">
   34.21
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2011-11-24 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 17:40:00
</td>
<td align="right">
   34.22
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2011-11-24 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 18:00:00
</td>
<td align="right">
   34.29
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Thu: 2011-11-24 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 18:05:00
</td>
<td align="right">
   34.30
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
    -.22
</td>
<td>
Thu: 2011-11-24 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 18:10:00
</td>
<td align="right">
   34.26
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Thu: 2011-11-24 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 18:20:00
</td>
<td align="right">
   34.25
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Thu: 2011-11-24 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 18:25:00
</td>
<td align="right">
   34.30
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Thu: 2011-11-24 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 18:30:00
</td>
<td align="right">
   34.29
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Thu: 2011-11-24 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 18:35:00
</td>
<td align="right">
   34.25
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Thu: 2011-11-24 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 18:40:00
</td>
<td align="right">
   34.21
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Thu: 2011-11-24 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 18:45:00
</td>
<td align="right">
   34.20
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Thu: 2011-11-24 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 18:55:00
</td>
<td align="right">
   34.11
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2011-11-24 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 19:05:00
</td>
<td align="right">
   34.08
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2011-11-24 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 19:15:00
</td>
<td align="right">
   34.02
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2011-11-24 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MDT">MDT</a></td>
<td>
2011-11-23 20:15:00
</td>
<td align="right">
   34.10
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MET">MET</a></td>
<td>
2011-11-23 19:00:00
</td>
<td align="right">
   28.15
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2011-11-24 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 15:00:00
</td>
<td align="right">
   24.59
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2011-11-24 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 15:05:00
</td>
<td align="right">
   24.59
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2011-11-24 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 15:10:00
</td>
<td align="right">
   24.54
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2011-11-24 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 15:15:00
</td>
<td align="right">
   24.52
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2011-11-24 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 15:20:00
</td>
<td align="right">
   24.54
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2011-11-24 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 15:25:00
</td>
<td align="right">
   24.55
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2011-11-24 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 15:30:00
</td>
<td align="right">
   24.54
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2011-11-24 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 15:35:00
</td>
<td align="right">
   24.57
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2011-11-24 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 15:40:00
</td>
<td align="right">
   24.56
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2011-11-24 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 15:45:00
</td>
<td align="right">
   24.55
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2011-11-24 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 15:50:00
</td>
<td align="right">
   24.61
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2011-11-24 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 15:55:00
</td>
<td align="right">
   24.62
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Thu: 2011-11-24 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 16:00:00
</td>
<td align="right">
   24.55
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2011-11-24 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 16:05:00
</td>
<td align="right">
   24.54
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2011-11-24 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 16:10:00
</td>
<td align="right">
   24.51
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2011-11-24 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 16:15:00
</td>
<td align="right">
   24.52
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2011-11-24 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 16:20:00
</td>
<td align="right">
   24.55
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2011-11-24 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 16:25:00
</td>
<td align="right">
   24.52
</td>
<td align="right">
  .94
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Thu: 2011-11-24 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 16:30:00
</td>
<td align="right">
   24.52
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2011-11-24 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 16:35:00
</td>
<td align="right">
   24.56
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2011-11-24 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 16:40:00
</td>
<td align="right">
   24.57
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2011-11-24 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 16:45:00
</td>
<td align="right">
   24.55
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2011-11-24 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 16:50:00
</td>
<td align="right">
   24.53
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2011-11-24 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 16:55:00
</td>
<td align="right">
   24.54
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2011-11-24 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 17:00:00
</td>
<td align="right">
   24.60
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2011-11-24 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 17:05:00
</td>
<td align="right">
   24.55
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Thu: 2011-11-24 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 17:10:00
</td>
<td align="right">
   24.53
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2011-11-24 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 17:20:00
</td>
<td align="right">
   24.52
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Thu: 2011-11-24 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 17:25:00
</td>
<td align="right">
   24.52
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Thu: 2011-11-24 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 17:30:00
</td>
<td align="right">
   24.50
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Thu: 2011-11-24 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 17:35:00
</td>
<td align="right">
   24.52
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2011-11-24 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 17:40:00
</td>
<td align="right">
   24.53
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2011-11-24 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 17:45:00
</td>
<td align="right">
   24.54
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2011-11-24 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 17:50:00
</td>
<td align="right">
   24.59
</td>
<td align="right">
  .92
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2011-11-24 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 17:55:00
</td>
<td align="right">
   24.62
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Thu: 2011-11-24 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 18:00:00
</td>
<td align="right">
   24.62
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2011-11-24 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 18:05:00
</td>
<td align="right">
   24.69
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Thu: 2011-11-24 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 18:10:00
</td>
<td align="right">
   24.62
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2011-11-24 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 18:25:00
</td>
<td align="right">
   24.67
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Thu: 2011-11-24 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 18:30:00
</td>
<td align="right">
   24.62
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2011-11-24 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 18:35:00
</td>
<td align="right">
   24.60
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2011-11-24 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 18:40:00
</td>
<td align="right">
   24.57
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2011-11-24 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 18:45:00
</td>
<td align="right">
   24.58
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2011-11-24 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 18:50:00
</td>
<td align="right">
   24.58
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2011-11-24 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 18:55:00
</td>
<td align="right">
   24.53
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2011-11-24 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 19:05:00
</td>
<td align="right">
   24.52
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2011-11-24 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 19:10:00
</td>
<td align="right">
   24.50
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Thu: 2011-11-24 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 19:15:00
</td>
<td align="right">
   24.56
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Thu: 2011-11-24 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 19:20:00
</td>
<td align="right">
   24.56
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2011-11-24 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 19:30:00
</td>
<td align="right">
   24.51
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2011-11-24 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 19:35:00
</td>
<td align="right">
   24.54
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2011-11-24 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 19:40:00
</td>
<td align="right">
   24.52
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Thu: 2011-11-24 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 19:45:00
</td>
<td align="right">
   24.54
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2011-11-24 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 19:50:00
</td>
<td align="right">
   24.53
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2011-11-24 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 19:55:00
</td>
<td align="right">
   24.52
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2011-11-24 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 20:00:00
</td>
<td align="right">
   24.55
</td>
<td align="right">
  .91
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 20:05:00
</td>
<td align="right">
   24.58
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 20:10:00
</td>
<td align="right">
   24.63
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 20:15:00
</td>
<td align="right">
   24.59
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 20:20:00
</td>
<td align="right">
   24.55
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MSFT">MSFT</a></td>
<td>
2011-11-23 20:25:00
</td>
<td align="right">
   24.57
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MVG">MVG</a></td>
<td>
2011-11-23 15:20:00
</td>
<td align="right">
    7.60
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2011-11-24 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MVG">MVG</a></td>
<td>
2011-11-23 16:30:00
</td>
<td align="right">
    7.65
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2011-11-24 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MVG">MVG</a></td>
<td>
2011-11-23 19:05:00
</td>
<td align="right">
    7.65
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2011-11-24 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MVG">MVG</a></td>
<td>
2011-11-23 19:10:00
</td>
<td align="right">
    7.66
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2011-11-24 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 15:40:00
</td>
<td align="right">
   71.03
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2011-11-24 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 15:45:00
</td>
<td align="right">
   71.03
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2011-11-24 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 15:50:00
</td>
<td align="right">
   71.06
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Thu: 2011-11-24 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 16:00:00
</td>
<td align="right">
   71.02
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Thu: 2011-11-24 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 16:15:00
</td>
<td align="right">
   71.03
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Thu: 2011-11-24 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 16:20:00
</td>
<td align="right">
   71.02
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2011-11-24 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 16:25:00
</td>
<td align="right">
   70.86
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Thu: 2011-11-24 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 16:45:00
</td>
<td align="right">
   71.11
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2011-11-24 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 16:50:00
</td>
<td align="right">
   71.20
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2011-11-24 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 16:55:00
</td>
<td align="right">
   71.16
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2011-11-24 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 17:00:00
</td>
<td align="right">
   71.28
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Thu: 2011-11-24 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 17:05:00
</td>
<td align="right">
   71.23
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2011-11-24 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 17:15:00
</td>
<td align="right">
   71.16
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Thu: 2011-11-24 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 17:20:00
</td>
<td align="right">
   71.11
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2011-11-24 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 17:30:00
</td>
<td align="right">
   71.05
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2011-11-24 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 17:40:00
</td>
<td align="right">
   71.13
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2011-11-24 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 17:50:00
</td>
<td align="right">
   71.25
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2011-11-24 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 18:05:00
</td>
<td align="right">
   71.19
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Thu: 2011-11-24 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 18:10:00
</td>
<td align="right">
   71.16
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Thu: 2011-11-24 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 18:20:00
</td>
<td align="right">
   71.16
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Thu: 2011-11-24 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 18:25:00
</td>
<td align="right">
   71.24
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Thu: 2011-11-24 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 18:35:00
</td>
<td align="right">
   71.12
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Thu: 2011-11-24 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 18:45:00
</td>
<td align="right">
   71.13
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Thu: 2011-11-24 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 19:30:00
</td>
<td align="right">
   70.93
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .41
</td>
<td>
Thu: 2011-11-24 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 19:40:00
</td>
<td align="right">
   71.06
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .55
</td>
<td>
Thu: 2011-11-24 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 20:20:00
</td>
<td align="right">
   71.26
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PM">PM</a></td>
<td>
2011-11-23 20:55:00
</td>
<td align="right">
   71.06
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PNC">PNC</a></td>
<td>
2011-11-23 15:05:00
</td>
<td align="right">
   49.51
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Thu: 2011-11-24 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PNC">PNC</a></td>
<td>
2011-11-23 17:10:00
</td>
<td align="right">
   49.49
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2011-11-24 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PNC">PNC</a></td>
<td>
2011-11-23 18:00:00
</td>
<td align="right">
   49.56
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Thu: 2011-11-24 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RDY">RDY</a></td>
<td>
2011-11-23 15:20:00
</td>
<td align="right">
   29.13
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2011-11-24 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 15:55:00
</td>
<td align="right">
    7.03
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2011-11-24 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 16:00:00
</td>
<td align="right">
    7.02
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Thu: 2011-11-24 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 16:15:00
</td>
<td align="right">
    7.04
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2011-11-24 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 16:20:00
</td>
<td align="right">
    7.00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2011-11-24 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 16:30:00
</td>
<td align="right">
    7.05
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2011-11-24 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 16:35:00
</td>
<td align="right">
    7.03
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2011-11-24 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 16:40:00
</td>
<td align="right">
    7.06
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2011-11-24 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 16:45:00
</td>
<td align="right">
    7.05
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2011-11-24 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 16:55:00
</td>
<td align="right">
    7.11
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2011-11-24 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 17:00:00
</td>
<td align="right">
    7.17
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2011-11-24 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 17:05:00
</td>
<td align="right">
    7.13
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Thu: 2011-11-24 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 17:10:00
</td>
<td align="right">
    7.11
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2011-11-24 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 17:15:00
</td>
<td align="right">
    7.11
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Thu: 2011-11-24 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 17:20:00
</td>
<td align="right">
    7.11
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Thu: 2011-11-24 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 17:35:00
</td>
<td align="right">
    7.10
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Thu: 2011-11-24 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 17:40:00
</td>
<td align="right">
    7.10
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Thu: 2011-11-24 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 17:45:00
</td>
<td align="right">
    7.10
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Thu: 2011-11-24 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 17:50:00
</td>
<td align="right">
    7.13
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Thu: 2011-11-24 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 17:55:00
</td>
<td align="right">
    7.12
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2011-11-24 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 18:05:00
</td>
<td align="right">
    7.14
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2011-11-24 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 18:10:00
</td>
<td align="right">
    7.16
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Thu: 2011-11-24 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 18:20:00
</td>
<td align="right">
    7.17
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Thu: 2011-11-24 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 18:55:00
</td>
<td align="right">
    7.14
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2011-11-24 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 19:05:00
</td>
<td align="right">
    7.12
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Thu: 2011-11-24 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 19:15:00
</td>
<td align="right">
    7.10
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Thu: 2011-11-24 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 19:20:00
</td>
<td align="right">
    7.10
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Thu: 2011-11-24 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 19:40:00
</td>
<td align="right">
    7.07
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Thu: 2011-11-24 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SVM">SVM</a></td>
<td>
2011-11-23 20:15:00
</td>
<td align="right">
    7.08
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2011-11-23 16:40:00
</td>
<td align="right">
   51.86
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Thu: 2011-11-24 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2011-11-23 20:05:00
</td>
<td align="right">
   51.74
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2011-11-23 20:15:00
</td>
<td align="right">
   51.79
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2011-11-23 20:20:00
</td>
<td align="right">
   51.81
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2011-11-23 20:30:00
</td>
<td align="right">
   51.78
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2011-11-23 20:35:00
</td>
<td align="right">
   51.79
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2011-11-23 20:45:00
</td>
<td align="right">
   51.77
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2011-11-24 20:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2011-11-23 15:25:00
</td>
<td align="right">
   74.27
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .83
</td>
<td>
Thu: 2011-11-24 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UPS">UPS</a></td>
<td>
2011-11-23 15:15:00
</td>
<td align="right">
   67.15
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Thu: 2011-11-24 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UPS">UPS</a></td>
<td>
2011-11-23 15:55:00
</td>
<td align="right">
   67.22
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2011-11-24 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UPS">UPS</a></td>
<td>
2011-11-23 16:15:00
</td>
<td align="right">
   67.12
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Thu: 2011-11-24 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UPS">UPS</a></td>
<td>
2011-11-23 17:30:00
</td>
<td align="right">
   67.19
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Thu: 2011-11-24 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UPS">UPS</a></td>
<td>
2011-11-23 17:35:00
</td>
<td align="right">
   67.26
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Thu: 2011-11-24 17:35
</td>
</tr>
</table>
<br /><hr />