<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ABX">ABX</a></td>
<td>
2012-10-12 17:05:00
</td>
<td align="right">
   39.14
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2012-10-15 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-10-12 14:30:00
</td>
<td align="right">
   71.84
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2012-10-15 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-10-12 14:40:00
</td>
<td align="right">
   71.84
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Mon: 2012-10-15 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-10-12 14:55:00
</td>
<td align="right">
   71.81
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.21
</td>
<td>
Mon: 2012-10-15 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-10-12 18:05:00
</td>
<td align="right">
   71.61
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2012-10-15 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-10-12 18:15:00
</td>
<td align="right">
   71.63
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .25
</td>
<td>
Mon: 2012-10-15 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-10-12 18:50:00
</td>
<td align="right">
   71.66
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Mon: 2012-10-15 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2012-10-12 14:20:00
</td>
<td align="right">
   59.05
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.65
</td>
<td>
Mon: 2012-10-15 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2012-10-12 17:00:00
</td>
<td align="right">
   57.84
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-10-15 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2012-10-12 17:50:00
</td>
<td align="right">
   57.81
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2012-10-15 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2012-10-12 18:00:00
</td>
<td align="right">
   57.84
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2012-10-15 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2012-10-12 18:05:00
</td>
<td align="right">
   57.84
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2012-10-15 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2012-10-12 18:10:00
</td>
<td align="right">
   57.83
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Mon: 2012-10-15 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-10-12 18:20:00
</td>
<td align="right">
  133.02
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2012-10-15 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DVN">DVN</a></td>
<td>
2012-10-12 14:40:00
</td>
<td align="right">
   61.22
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Mon: 2012-10-15 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EOG">EOG</a></td>
<td>
2012-10-12 14:10:00
</td>
<td align="right">
  109.49
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.88
</td>
<td>
Mon: 2012-10-15 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EOG">EOG</a></td>
<td>
2012-10-12 14:15:00
</td>
<td align="right">
  109.36
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.88
</td>
<td>
Mon: 2012-10-15 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EOG">EOG</a></td>
<td>
2012-10-12 14:20:00
</td>
<td align="right">
  109.06
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.62
</td>
<td>
Mon: 2012-10-15 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EOG">EOG</a></td>
<td>
2012-10-12 14:25:00
</td>
<td align="right">
  108.90
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    -.44
</td>
<td>
Mon: 2012-10-15 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EOG">EOG</a></td>
<td>
2012-10-12 15:10:00
</td>
<td align="right">
  108.61
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.55
</td>
<td>
Mon: 2012-10-15 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EOG">EOG</a></td>
<td>
2012-10-12 16:45:00
</td>
<td align="right">
  108.19
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
Mon: 2012-10-15 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EOG">EOG</a></td>
<td>
2012-10-12 18:20:00
</td>
<td align="right">
  108.69
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Mon: 2012-10-15 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EOG">EOG</a></td>
<td>
2012-10-12 18:35:00
</td>
<td align="right">
  108.93
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-10-15 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EOG">EOG</a></td>
<td>
2012-10-12 18:45:00
</td>
<td align="right">
  108.92
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Mon: 2012-10-15 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EOG">EOG</a></td>
<td>
2012-10-12 19:00:00
</td>
<td align="right">
  108.92
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EOG">EOG</a></td>
<td>
2012-10-12 19:05:00
</td>
<td align="right">
  108.93
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EOG">EOG</a></td>
<td>
2012-10-12 19:15:00
</td>
<td align="right">
  109.10
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EOG">EOG</a></td>
<td>
2012-10-12 19:55:00
</td>
<td align="right">
  108.79
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FDX">FDX</a></td>
<td>
2012-10-12 15:00:00
</td>
<td align="right">
   90.81
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    -.35
</td>
<td>
Mon: 2012-10-15 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GG">GG</a></td>
<td>
2012-10-12 16:55:00
</td>
<td align="right">
   43.66
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2012-10-15 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GG">GG</a></td>
<td>
2012-10-12 17:10:00
</td>
<td align="right">
   43.54
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2012-10-15 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GG">GG</a></td>
<td>
2012-10-12 18:10:00
</td>
<td align="right">
   43.53
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2012-10-15 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GG">GG</a></td>
<td>
2012-10-12 18:25:00
</td>
<td align="right">
   43.60
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-10-15 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GG">GG</a></td>
<td>
2012-10-12 18:30:00
</td>
<td align="right">
   43.70
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-10-15 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GG">GG</a></td>
<td>
2012-10-12 19:20:00
</td>
<td align="right">
   43.63
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GG">GG</a></td>
<td>
2012-10-12 19:25:00
</td>
<td align="right">
   43.60
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GG">GG</a></td>
<td>
2012-10-12 19:30:00
</td>
<td align="right">
   43.63
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GG">GG</a></td>
<td>
2012-10-12 19:35:00
</td>
<td align="right">
   43.55
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GG">GG</a></td>
<td>
2012-10-12 19:55:00
</td>
<td align="right">
   43.47
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-12 14:05:00
</td>
<td align="right">
   82.86
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.32
</td>
<td>
Mon: 2012-10-15 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-12 14:25:00
</td>
<td align="right">
   82.70
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.37
</td>
<td>
Mon: 2012-10-15 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IYR">IYR</a></td>
<td>
2012-10-12 14:25:00
</td>
<td align="right">
   64.28
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2012-10-15 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IYR">IYR</a></td>
<td>
2012-10-12 14:40:00
</td>
<td align="right">
   64.27
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Mon: 2012-10-15 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IYR">IYR</a></td>
<td>
2012-10-12 16:15:00
</td>
<td align="right">
   64.08
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2012-10-15 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IYR">IYR</a></td>
<td>
2012-10-12 18:20:00
</td>
<td align="right">
   63.94
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2012-10-15 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IYR">IYR</a></td>
<td>
2012-10-12 18:25:00
</td>
<td align="right">
   63.96
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2012-10-15 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IYR">IYR</a></td>
<td>
2012-10-12 18:45:00
</td>
<td align="right">
   63.91
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2012-10-15 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JOY">JOY</a></td>
<td>
2012-10-12 15:35:00
</td>
<td align="right">
   58.30
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-10-15 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-10-12 16:30:00
</td>
<td align="right">
   61.91
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-10-15 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-10-12 16:45:00
</td>
<td align="right">
   61.87
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2012-10-15 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-10-12 17:25:00
</td>
<td align="right">
   61.84
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2012-10-15 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-12 14:25:00
</td>
<td align="right">
  103.47
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Mon: 2012-10-15 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-12 14:30:00
</td>
<td align="right">
  103.32
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Mon: 2012-10-15 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-12 14:35:00
</td>
<td align="right">
  103.37
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.37
</td>
<td>
Mon: 2012-10-15 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-12 14:40:00
</td>
<td align="right">
  103.39
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.39
</td>
<td>
Mon: 2012-10-15 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-12 14:50:00
</td>
<td align="right">
  103.42
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.37
</td>
<td>
Mon: 2012-10-15 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-12 14:55:00
</td>
<td align="right">
  103.41
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Mon: 2012-10-15 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-12 15:00:00
</td>
<td align="right">
  103.47
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.47
</td>
<td>
Mon: 2012-10-15 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-12 15:05:00
</td>
<td align="right">
  103.40
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.35
</td>
<td>
Mon: 2012-10-15 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-12 15:25:00
</td>
<td align="right">
  103.13
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2012-10-15 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-12 15:30:00
</td>
<td align="right">
  103.00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2012-10-15 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-12 15:35:00
</td>
<td align="right">
  103.00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2012-10-15 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-12 16:30:00
</td>
<td align="right">
  103.15
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-10-15 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-12 18:10:00
</td>
<td align="right">
  102.98
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2012-10-15 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-12 18:20:00
</td>
<td align="right">
  102.99
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2012-10-15 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-12 18:50:00
</td>
<td align="right">
  103.08
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2012-10-15 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-12 19:00:00
</td>
<td align="right">
  103.01
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-12 19:45:00
</td>
<td align="right">
  102.96
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-12 19:55:00
</td>
<td align="right">
  103.32
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-10-12 15:35:00
</td>
<td align="right">
   41.62
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2012-10-15 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-10-12 15:50:00
</td>
<td align="right">
   41.60
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2012-10-15 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-10-12 16:00:00
</td>
<td align="right">
   41.61
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2012-10-15 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-10-12 16:15:00
</td>
<td align="right">
   41.61
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Mon: 2012-10-15 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-10-12 16:25:00
</td>
<td align="right">
   41.63
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2012-10-15 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-10-12 16:50:00
</td>
<td align="right">
   41.65
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2012-10-15 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-10-12 17:00:00
</td>
<td align="right">
   41.67
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Mon: 2012-10-15 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BP">BP</a></td>
<td>
2012-10-12 17:10:00
</td>
<td align="right">
   41.65
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2012-10-15 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-12 14:25:00
</td>
<td align="right">
  290.66
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   -1.16
</td>
<td>
Mon: 2012-10-15 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-12 15:35:00
</td>
<td align="right">
  288.88
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   -1.25
</td>
<td>
Mon: 2012-10-15 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-12 15:50:00
</td>
<td align="right">
  288.35
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.64
</td>
<td>
Mon: 2012-10-15 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-12 15:55:00
</td>
<td align="right">
  288.72
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.78
</td>
<td>
Mon: 2012-10-15 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-12 16:00:00
</td>
<td align="right">
  288.38
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
    -.46
</td>
<td>
Mon: 2012-10-15 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-12 16:05:00
</td>
<td align="right">
  287.75
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Mon: 2012-10-15 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-12 16:10:00
</td>
<td align="right">
  287.63
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Mon: 2012-10-15 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-12 16:20:00
</td>
<td align="right">
  287.52
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-10-15 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-12 16:35:00
</td>
<td align="right">
  287.63
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2012-10-15 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-12 16:50:00
</td>
<td align="right">
  287.71
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
    -.56
</td>
<td>
Mon: 2012-10-15 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-12 17:45:00
</td>
<td align="right">
  287.16
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    1.09
</td>
<td>
Mon: 2012-10-15 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-12 17:55:00
</td>
<td align="right">
  287.48
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    1.52
</td>
<td>
Mon: 2012-10-15 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2012-10-12 17:10:00
</td>
<td align="right">
   57.89
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Mon: 2012-10-15 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2012-10-12 19:35:00
</td>
<td align="right">
   58.17
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2012-10-12 19:40:00
</td>
<td align="right">
   58.15
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=COF">COF</a></td>
<td>
2012-10-12 19:55:00
</td>
<td align="right">
   58.19
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 14:05:00
</td>
<td align="right">
  112.84
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.37
</td>
<td>
Mon: 2012-10-15 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 14:10:00
</td>
<td align="right">
  112.92
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.66
</td>
<td>
Mon: 2012-10-15 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 14:15:00
</td>
<td align="right">
  112.86
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.69
</td>
<td>
Mon: 2012-10-15 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 15:30:00
</td>
<td align="right">
  112.08
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2012-10-15 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 15:55:00
</td>
<td align="right">
  111.95
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2012-10-15 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 16:10:00
</td>
<td align="right">
  111.98
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Mon: 2012-10-15 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 16:20:00
</td>
<td align="right">
  111.99
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.37
</td>
<td>
Mon: 2012-10-15 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 16:35:00
</td>
<td align="right">
  111.90
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2012-10-15 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 16:55:00
</td>
<td align="right">
  111.97
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2012-10-15 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 17:25:00
</td>
<td align="right">
  111.79
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .59
</td>
<td>
Mon: 2012-10-15 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 17:55:00
</td>
<td align="right">
  111.84
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .39
</td>
<td>
Mon: 2012-10-15 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 18:05:00
</td>
<td align="right">
  112.05
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2012-10-15 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 18:20:00
</td>
<td align="right">
  112.24
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-10-15 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 18:30:00
</td>
<td align="right">
  112.29
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2012-10-15 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 18:35:00
</td>
<td align="right">
  112.17
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-10-15 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 18:40:00
</td>
<td align="right">
  112.09
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Mon: 2012-10-15 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 18:50:00
</td>
<td align="right">
  112.20
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2012-10-15 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 19:05:00
</td>
<td align="right">
  112.25
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 19:10:00
</td>
<td align="right">
  112.27
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 19:15:00
</td>
<td align="right">
  112.26
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 19:45:00
</td>
<td align="right">
  112.10
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-12 19:50:00
</td>
<td align="right">
  112.17
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-10-12 14:05:00
</td>
<td align="right">
  133.66
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Mon: 2012-10-15 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-10-12 14:10:00
</td>
<td align="right">
  133.73
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.56
</td>
<td>
Mon: 2012-10-15 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-10-12 14:20:00
</td>
<td align="right">
  133.63
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.46
</td>
<td>
Mon: 2012-10-15 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-10-12 14:25:00
</td>
<td align="right">
  133.50
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.37
</td>
<td>
Mon: 2012-10-15 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-10-12 14:30:00
</td>
<td align="right">
  133.49
</td>
<td align="right">
  .89
</td>
<td>
Buy
</td>
<td align="right">
    -.50
</td>
<td>
Mon: 2012-10-15 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-10-12 14:40:00
</td>
<td align="right">
  133.52
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.65
</td>
<td>
Mon: 2012-10-15 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-10-12 14:45:00
</td>
<td align="right">
  133.43
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.50
</td>
<td>
Mon: 2012-10-15 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-10-12 14:55:00
</td>
<td align="right">
  133.45
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    -.46
</td>
<td>
Mon: 2012-10-15 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-10-12 15:00:00
</td>
<td align="right">
  133.41
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
    -.39
</td>
<td>
Mon: 2012-10-15 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-10-12 15:05:00
</td>
<td align="right">
  133.41
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.37
</td>
<td>
Mon: 2012-10-15 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DVN">DVN</a></td>
<td>
2012-10-12 15:25:00
</td>
<td align="right">
   61.09
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-10-15 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DVN">DVN</a></td>
<td>
2012-10-12 16:05:00
</td>
<td align="right">
   61.03
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2012-10-15 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DVN">DVN</a></td>
<td>
2012-10-12 16:10:00
</td>
<td align="right">
   61.03
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2012-10-15 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DVN">DVN</a></td>
<td>
2012-10-12 17:40:00
</td>
<td align="right">
   61.12
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Mon: 2012-10-15 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ESRX">ESRX</a></td>
<td>
2012-10-12 16:20:00
</td>
<td align="right">
   63.51
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2012-10-15 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ESRX">ESRX</a></td>
<td>
2012-10-12 16:30:00
</td>
<td align="right">
   63.56
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Mon: 2012-10-15 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FDX">FDX</a></td>
<td>
2012-10-12 16:45:00
</td>
<td align="right">
   90.71
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-10-15 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FDX">FDX</a></td>
<td>
2012-10-12 19:45:00
</td>
<td align="right">
   90.35
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FDX">FDX</a></td>
<td>
2012-10-12 19:55:00
</td>
<td align="right">
   90.40
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-10-12 14:50:00
</td>
<td align="right">
   97.78
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.46
</td>
<td>
Mon: 2012-10-15 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-10-12 15:25:00
</td>
<td align="right">
   97.53
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2012-10-15 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-10-12 16:40:00
</td>
<td align="right">
   97.76
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.38
</td>
<td>
Mon: 2012-10-15 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-10-12 16:50:00
</td>
<td align="right">
   97.56
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2012-10-15 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-10-12 17:10:00
</td>
<td align="right">
   97.29
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .44
</td>
<td>
Mon: 2012-10-15 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-10-12 17:55:00
</td>
<td align="right">
   97.59
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-10-15 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-10-12 18:35:00
</td>
<td align="right">
   97.58
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2012-10-15 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-10-12 18:50:00
</td>
<td align="right">
   97.60
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Mon: 2012-10-15 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-10-12 19:10:00
</td>
<td align="right">
   97.45
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-10-12 19:25:00
</td>
<td align="right">
   97.31
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-10-12 19:40:00
</td>
<td align="right">
   97.33
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-10-12 19:45:00
</td>
<td align="right">
   97.16
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-10-12 19:55:00
</td>
<td align="right">
   97.26
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-10-12 14:20:00
</td>
<td align="right">
  129.51
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.57
</td>
<td>
Mon: 2012-10-15 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-10-12 14:30:00
</td>
<td align="right">
  129.34
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.45
</td>
<td>
Mon: 2012-10-15 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-10-12 14:35:00
</td>
<td align="right">
  129.27
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Mon: 2012-10-15 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-10-12 14:55:00
</td>
<td align="right">
  129.39
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.72
</td>
<td>
Mon: 2012-10-15 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-10-12 15:00:00
</td>
<td align="right">
  129.28
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.78
</td>
<td>
Mon: 2012-10-15 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-10-12 15:45:00
</td>
<td align="right">
  128.90
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.53
</td>
<td>
Mon: 2012-10-15 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-10-12 16:25:00
</td>
<td align="right">
  128.25
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Mon: 2012-10-15 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FLS">FLS</a></td>
<td>
2012-10-12 19:05:00
</td>
<td align="right">
  128.36
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 14:00:00
</td>
<td align="right">
  121.80
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.77
</td>
<td>
Mon: 2012-10-15 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 14:10:00
</td>
<td align="right">
  122.15
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   -1.39
</td>
<td>
Mon: 2012-10-15 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 14:20:00
</td>
<td align="right">
  122.05
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   -1.40
</td>
<td>
Mon: 2012-10-15 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 14:50:00
</td>
<td align="right">
  121.21
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   -1.12
</td>
<td>
Mon: 2012-10-15 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 14:55:00
</td>
<td align="right">
  121.15
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   -1.19
</td>
<td>
Mon: 2012-10-15 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 15:00:00
</td>
<td align="right">
  121.03
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.99
</td>
<td>
Mon: 2012-10-15 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 15:05:00
</td>
<td align="right">
  121.03
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.87
</td>
<td>
Mon: 2012-10-15 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 15:10:00
</td>
<td align="right">
  120.76
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.62
</td>
<td>
Mon: 2012-10-15 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 15:20:00
</td>
<td align="right">
  120.65
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.38
</td>
<td>
Mon: 2012-10-15 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 16:30:00
</td>
<td align="right">
  120.27
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2012-10-15 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 16:35:00
</td>
<td align="right">
  120.27
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2012-10-15 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 16:55:00
</td>
<td align="right">
  120.40
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2012-10-15 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 17:00:00
</td>
<td align="right">
  120.47
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Mon: 2012-10-15 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 17:15:00
</td>
<td align="right">
  120.22
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-10-15 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 17:25:00
</td>
<td align="right">
  120.15
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Mon: 2012-10-15 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 18:40:00
</td>
<td align="right">
  120.72
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.49
</td>
<td>
Mon: 2012-10-15 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 18:55:00
</td>
<td align="right">
  120.86
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.51
</td>
<td>
Mon: 2012-10-15 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 19:00:00
</td>
<td align="right">
  120.70
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 19:10:00
</td>
<td align="right">
  120.64
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 19:15:00
</td>
<td align="right">
  120.63
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 19:20:00
</td>
<td align="right">
  120.53
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 19:25:00
</td>
<td align="right">
  120.46
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 19:30:00
</td>
<td align="right">
  120.56
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 19:45:00
</td>
<td align="right">
  120.13
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-12 19:50:00
</td>
<td align="right">
  120.31
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HES">HES</a></td>
<td>
2012-10-12 14:20:00
</td>
<td align="right">
   52.95
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2012-10-15 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-12 15:35:00
</td>
<td align="right">
   82.16
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2012-10-15 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-12 16:05:00
</td>
<td align="right">
   82.22
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2012-10-15 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-12 17:30:00
</td>
<td align="right">
   82.01
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2012-10-15 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-12 17:35:00
</td>
<td align="right">
   81.99
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2012-10-15 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-12 17:40:00
</td>
<td align="right">
   81.95
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Mon: 2012-10-15 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-12 17:45:00
</td>
<td align="right">
   81.96
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Mon: 2012-10-15 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-12 17:50:00
</td>
<td align="right">
   81.98
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Mon: 2012-10-15 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-12 19:50:00
</td>
<td align="right">
   82.12
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JNJ">JNJ</a></td>
<td>
2012-10-12 15:15:00
</td>
<td align="right">
   68.16
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Mon: 2012-10-15 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JNJ">JNJ</a></td>
<td>
2012-10-12 15:35:00
</td>
<td align="right">
   68.11
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-10-15 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JNJ">JNJ</a></td>
<td>
2012-10-12 15:40:00
</td>
<td align="right">
   68.04
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2012-10-15 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JNJ">JNJ</a></td>
<td>
2012-10-12 15:50:00
</td>
<td align="right">
   68.03
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2012-10-15 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JNJ">JNJ</a></td>
<td>
2012-10-12 16:30:00
</td>
<td align="right">
   67.97
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Mon: 2012-10-15 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JNJ">JNJ</a></td>
<td>
2012-10-12 16:35:00
</td>
<td align="right">
   67.99
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Mon: 2012-10-15 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JOY">JOY</a></td>
<td>
2012-10-12 14:15:00
</td>
<td align="right">
   58.75
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    -.48
</td>
<td>
Mon: 2012-10-15 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JOY">JOY</a></td>
<td>
2012-10-12 14:25:00
</td>
<td align="right">
   58.61
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Mon: 2012-10-15 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JOY">JOY</a></td>
<td>
2012-10-12 14:30:00
</td>
<td align="right">
   58.63
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Mon: 2012-10-15 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JOY">JOY</a></td>
<td>
2012-10-12 14:35:00
</td>
<td align="right">
   58.64
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Mon: 2012-10-15 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JOY">JOY</a></td>
<td>
2012-10-12 14:45:00
</td>
<td align="right">
   58.69
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Mon: 2012-10-15 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JOY">JOY</a></td>
<td>
2012-10-12 15:00:00
</td>
<td align="right">
   58.79
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    -.47
</td>
<td>
Mon: 2012-10-15 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JOY">JOY</a></td>
<td>
2012-10-12 15:05:00
</td>
<td align="right">
   58.71
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.41
</td>
<td>
Mon: 2012-10-15 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JOY">JOY</a></td>
<td>
2012-10-12 15:10:00
</td>
<td align="right">
   58.48
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Mon: 2012-10-15 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JOY">JOY</a></td>
<td>
2012-10-12 17:30:00
</td>
<td align="right">
   58.49
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Mon: 2012-10-15 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JOY">JOY</a></td>
<td>
2012-10-12 17:50:00
</td>
<td align="right">
   58.40
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Mon: 2012-10-15 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JOY">JOY</a></td>
<td>
2012-10-12 17:55:00
</td>
<td align="right">
   58.52
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2012-10-15 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JOY">JOY</a></td>
<td>
2012-10-12 18:20:00
</td>
<td align="right">
   58.52
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2012-10-15 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JOY">JOY</a></td>
<td>
2012-10-12 18:35:00
</td>
<td align="right">
   58.60
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2012-10-15 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JOY">JOY</a></td>
<td>
2012-10-12 19:15:00
</td>
<td align="right">
   58.62
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JOY">JOY</a></td>
<td>
2012-10-12 19:35:00
</td>
<td align="right">
   58.46
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 14:30:00
</td>
<td align="right">
   68.98
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2012-10-15 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 14:35:00
</td>
<td align="right">
   69.02
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Mon: 2012-10-15 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 14:40:00
</td>
<td align="right">
   69.12
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.55
</td>
<td>
Mon: 2012-10-15 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 16:45:00
</td>
<td align="right">
   68.93
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-10-15 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 16:50:00
</td>
<td align="right">
   68.95
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-10-15 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 16:55:00
</td>
<td align="right">
   68.97
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2012-10-15 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 17:00:00
</td>
<td align="right">
   68.95
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2012-10-15 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 17:05:00
</td>
<td align="right">
   68.94
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2012-10-15 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 17:10:00
</td>
<td align="right">
   68.90
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2012-10-15 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 17:30:00
</td>
<td align="right">
   68.87
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Mon: 2012-10-15 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 17:40:00
</td>
<td align="right">
   68.79
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2012-10-15 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 17:50:00
</td>
<td align="right">
   68.83
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2012-10-15 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 18:00:00
</td>
<td align="right">
   68.93
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2012-10-15 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 18:10:00
</td>
<td align="right">
   68.92
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2012-10-15 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 18:15:00
</td>
<td align="right">
   68.96
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2012-10-15 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 18:20:00
</td>
<td align="right">
   68.98
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2012-10-15 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 18:25:00
</td>
<td align="right">
   69.00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Mon: 2012-10-15 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 18:30:00
</td>
<td align="right">
   68.97
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Mon: 2012-10-15 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 18:35:00
</td>
<td align="right">
   68.96
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2012-10-15 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 18:40:00
</td>
<td align="right">
   68.93
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-10-15 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 18:45:00
</td>
<td align="right">
   68.88
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.13
</td>
<td>
Mon: 2012-10-15 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 19:20:00
</td>
<td align="right">
   68.80
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-10-12 19:45:00
</td>
<td align="right">
   68.75
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NUE">NUE</a></td>
<td>
2012-10-12 14:00:00
</td>
<td align="right">
   39.01
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Mon: 2012-10-15 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NUE">NUE</a></td>
<td>
2012-10-12 14:10:00
</td>
<td align="right">
   38.93
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Mon: 2012-10-15 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NUE">NUE</a></td>
<td>
2012-10-12 14:15:00
</td>
<td align="right">
   38.87
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Mon: 2012-10-15 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NUE">NUE</a></td>
<td>
2012-10-12 14:25:00
</td>
<td align="right">
   38.75
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Mon: 2012-10-15 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NUE">NUE</a></td>
<td>
2012-10-12 14:40:00
</td>
<td align="right">
   38.74
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2012-10-15 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NUE">NUE</a></td>
<td>
2012-10-12 14:50:00
</td>
<td align="right">
   38.70
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Mon: 2012-10-15 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NUE">NUE</a></td>
<td>
2012-10-12 15:10:00
</td>
<td align="right">
   38.70
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Mon: 2012-10-15 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NUE">NUE</a></td>
<td>
2012-10-12 17:10:00
</td>
<td align="right">
   38.51
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Mon: 2012-10-15 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NUE">NUE</a></td>
<td>
2012-10-12 18:30:00
</td>
<td align="right">
   38.72
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Mon: 2012-10-15 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NUE">NUE</a></td>
<td>
2012-10-12 19:55:00
</td>
<td align="right">
   38.59
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-10-12 15:35:00
</td>
<td align="right">
   61.83
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Mon: 2012-10-15 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-10-12 15:45:00
</td>
<td align="right">
   61.86
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Mon: 2012-10-15 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-10-12 15:55:00
</td>
<td align="right">
   61.78
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2012-10-15 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-10-12 18:00:00
</td>
<td align="right">
   61.71
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-10-15 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-10-12 18:55:00
</td>
<td align="right">
   61.62
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Mon: 2012-10-15 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TLT">TLT</a></td>
<td>
2012-10-12 16:10:00
</td>
<td align="right">
  124.48
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2012-10-15 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TLT">TLT</a></td>
<td>
2012-10-12 16:20:00
</td>
<td align="right">
  124.47
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2012-10-15 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TLT">TLT</a></td>
<td>
2012-10-12 16:25:00
</td>
<td align="right">
  124.43
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Mon: 2012-10-15 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TLT">TLT</a></td>
<td>
2012-10-12 16:50:00
</td>
<td align="right">
  124.56
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Mon: 2012-10-15 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TLT">TLT</a></td>
<td>
2012-10-12 17:15:00
</td>
<td align="right">
  124.63
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.49
</td>
<td>
Mon: 2012-10-15 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TLT">TLT</a></td>
<td>
2012-10-12 17:20:00
</td>
<td align="right">
  124.59
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.57
</td>
<td>
Mon: 2012-10-15 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TLT">TLT</a></td>
<td>
2012-10-12 17:40:00
</td>
<td align="right">
  124.50
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.54
</td>
<td>
Mon: 2012-10-15 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XLE">XLE</a></td>
<td>
2012-10-12 17:50:00
</td>
<td align="right">
   72.28
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .40
</td>
<td>
Mon: 2012-10-15 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XLE">XLE</a></td>
<td>
2012-10-12 18:25:00
</td>
<td align="right">
   72.67
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2012-10-15 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-10-12 14:10:00
</td>
<td align="right">
   91.55
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.59
</td>
<td>
Mon: 2012-10-15 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-10-12 14:20:00
</td>
<td align="right">
   91.53
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.71
</td>
<td>
Mon: 2012-10-15 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-10-12 15:20:00
</td>
<td align="right">
   90.82
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Mon: 2012-10-15 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-10-12 15:25:00
</td>
<td align="right">
   90.84
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Mon: 2012-10-15 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-10-12 16:20:00
</td>
<td align="right">
   90.74
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Mon: 2012-10-15 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-10-12 17:00:00
</td>
<td align="right">
   90.65
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
Mon: 2012-10-15 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-10-12 17:20:00
</td>
<td align="right">
   90.72
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Mon: 2012-10-15 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-10-12 17:35:00
</td>
<td align="right">
   90.85
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Mon: 2012-10-15 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-10-12 17:40:00
</td>
<td align="right">
   90.77
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Mon: 2012-10-15 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-10-12 17:50:00
</td>
<td align="right">
   90.80
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Mon: 2012-10-15 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-10-12 17:55:00
</td>
<td align="right">
   90.99
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2012-10-15 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-10-12 18:05:00
</td>
<td align="right">
   90.97
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Mon: 2012-10-15 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-10-12 18:10:00
</td>
<td align="right">
   90.97
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Mon: 2012-10-15 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-10-12 18:15:00
</td>
<td align="right">
   90.97
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Mon: 2012-10-15 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-10-12 18:20:00
</td>
<td align="right">
   90.98
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Mon: 2012-10-15 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-10-12 18:35:00
</td>
<td align="right">
   91.01
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Mon: 2012-10-15 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-10-12 18:40:00
</td>
<td align="right">
   90.96
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2012-10-15 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-10-12 18:50:00
</td>
<td align="right">
   91.10
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-10-15 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-10-12 19:35:00
</td>
<td align="right">
   90.97
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-10-15 19:35
</td>
</tr>
</table>
<br /><hr />