<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-05-31 18:40:00
</td>
<td align="right">
   39.96
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Fri: 2012-06-01 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMZN">AMZN</a></td>
<td>
2012-05-31 15:40:00
</td>
<td align="right">
  211.10
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .71
</td>
<td>
Fri: 2012-06-01 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMZN">AMZN</a></td>
<td>
2012-05-31 16:30:00
</td>
<td align="right">
  212.28
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2012-06-01 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMZN">AMZN</a></td>
<td>
2012-05-31 17:30:00
</td>
<td align="right">
  212.30
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .52
</td>
<td>
Fri: 2012-06-01 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMZN">AMZN</a></td>
<td>
2012-05-31 17:35:00
</td>
<td align="right">
  211.80
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .87
</td>
<td>
Fri: 2012-06-01 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AU">AU</a></td>
<td>
2012-05-31 16:35:00
</td>
<td align="right">
   36.07
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Fri: 2012-06-01 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-05-31 15:35:00
</td>
<td align="right">
   84.25
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Fri: 2012-06-01 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-05-31 15:40:00
</td>
<td align="right">
   84.14
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .31
</td>
<td>
Fri: 2012-06-01 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-05-31 16:25:00
</td>
<td align="right">
   84.53
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Fri: 2012-06-01 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-05-31 19:55:00
</td>
<td align="right">
   84.42
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-01 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-05-31 14:00:00
</td>
<td align="right">
   47.13
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Fri: 2012-06-01 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-05-31 14:25:00
</td>
<td align="right">
   47.39
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.53
</td>
<td>
Fri: 2012-06-01 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-05-31 16:40:00
</td>
<td align="right">
   47.42
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2012-06-01 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-05-31 17:25:00
</td>
<td align="right">
   47.63
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Fri: 2012-06-01 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-05-31 17:50:00
</td>
<td align="right">
   47.44
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    -.01
</td>
<td>
Fri: 2012-06-01 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-05-31 18:00:00
</td>
<td align="right">
   47.47
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Fri: 2012-06-01 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-05-31 18:35:00
</td>
<td align="right">
   47.53
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .48
</td>
<td>
Fri: 2012-06-01 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-05-31 19:00:00
</td>
<td align="right">
   47.42
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-01 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-05-31 19:35:00
</td>
<td align="right">
   48.01
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-01 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-05-31 19:55:00
</td>
<td align="right">
   47.70
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-01 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-05-31 18:40:00
</td>
<td align="right">
   58.98
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Fri: 2012-06-01 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=OIH">OIH</a></td>
<td>
2012-05-31 19:30:00
</td>
<td align="right">
   35.47
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-01 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=OIH">OIH</a></td>
<td>
2012-05-31 19:40:00
</td>
<td align="right">
   35.45
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-01 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-05-31 16:40:00
</td>
<td align="right">
   60.32
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Fri: 2012-06-01 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PALL">PALL</a></td>
<td>
2012-05-31 16:45:00
</td>
<td align="right">
   60.42
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.25
</td>
<td>
Fri: 2012-06-01 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-05-31 14:15:00
</td>
<td align="right">
   39.44
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Fri: 2012-06-01 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-05-31 15:00:00
</td>
<td align="right">
   39.39
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Fri: 2012-06-01 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-05-31 15:40:00
</td>
<td align="right">
   39.59
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Fri: 2012-06-01 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-05-31 15:55:00
</td>
<td align="right">
   39.49
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Fri: 2012-06-01 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-05-31 19:20:00
</td>
<td align="right">
   84.70
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-01 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-05-31 16:00:00
</td>
<td align="right">
   46.80
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .86
</td>
<td>
Fri: 2012-06-01 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-05-31 14:10:00
</td>
<td align="right">
   58.85
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Fri: 2012-06-01 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-05-31 14:30:00
</td>
<td align="right">
   58.87
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Fri: 2012-06-01 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-05-31 14:35:00
</td>
<td align="right">
   58.87
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Fri: 2012-06-01 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-05-31 15:10:00
</td>
<td align="right">
   58.80
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Fri: 2012-06-01 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NOC">NOC</a></td>
<td>
2012-05-31 15:20:00
</td>
<td align="right">
   58.87
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Fri: 2012-06-01 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NUE">NUE</a></td>
<td>
2012-05-31 16:45:00
</td>
<td align="right">
   35.54
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Fri: 2012-06-01 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NUE">NUE</a></td>
<td>
2012-05-31 16:50:00
</td>
<td align="right">
   35.51
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Fri: 2012-06-01 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NUE">NUE</a></td>
<td>
2012-05-31 16:55:00
</td>
<td align="right">
   35.45
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Fri: 2012-06-01 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NUE">NUE</a></td>
<td>
2012-05-31 17:35:00
</td>
<td align="right">
   35.53
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Fri: 2012-06-01 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WYNN">WYNN</a></td>
<td>
2012-05-31 14:20:00
</td>
<td align="right">
  101.02
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .95
</td>
<td>
Fri: 2012-06-01 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WYNN">WYNN</a></td>
<td>
2012-05-31 14:30:00
</td>
<td align="right">
  102.19
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Fri: 2012-06-01 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WYNN">WYNN</a></td>
<td>
2012-05-31 15:25:00
</td>
<td align="right">
  102.00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    1.06
</td>
<td>
Fri: 2012-06-01 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WYNN">WYNN</a></td>
<td>
2012-05-31 15:35:00
</td>
<td align="right">
  102.03
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .74
</td>
<td>
Fri: 2012-06-01 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=WYNN">WYNN</a></td>
<td>
2012-05-31 19:10:00
</td>
<td align="right">
  102.90
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-01 19:10
</td>
</tr>
</table>
<br /><hr />