<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-31 14:20:00
</td>
<td align="right">
  106.24
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.47
</td>
<td>
Thu: 2012-11-01 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-31 14:25:00
</td>
<td align="right">
  106.16
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.48
</td>
<td>
Thu: 2012-11-01 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-31 15:00:00
</td>
<td align="right">
  105.70
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Thu: 2012-11-01 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-31 15:10:00
</td>
<td align="right">
  105.71
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Thu: 2012-11-01 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-31 16:10:00
</td>
<td align="right">
  105.75
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.74
</td>
<td>
Thu: 2012-11-01 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-31 19:25:00
</td>
<td align="right">
  105.72
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-31 19:30:00
</td>
<td align="right">
  105.75
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AGU">AGU</a></td>
<td>
2012-10-31 19:35:00
</td>
<td align="right">
  105.69
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Thu: 2012-11-01 19:35
</td>
</tr>
</table>
<br /><hr />