<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ARG">ARG</a></td>
<td>
2012-02-13 15:00:00
</td>
<td align="right">
   79.45
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Tue: 2012-02-14 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ARG">ARG</a></td>
<td>
2012-02-13 16:45:00
</td>
<td align="right">
   79.50
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Tue: 2012-02-14 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BHP">BHP</a></td>
<td>
2012-02-13 20:00:00
</td>
<td align="right">
   78.28
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BHP">BHP</a></td>
<td>
2012-02-13 20:40:00
</td>
<td align="right">
   78.33
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BHP">BHP</a></td>
<td>
2012-02-13 20:50:00
</td>
<td align="right">
   78.31
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 15:25:00
</td>
<td align="right">
  224.41
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-02-14 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 16:10:00
</td>
<td align="right">
  224.60
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .44
</td>
<td>
Tue: 2012-02-14 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 16:15:00
</td>
<td align="right">
  224.40
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .79
</td>
<td>
Tue: 2012-02-14 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 16:20:00
</td>
<td align="right">
  224.38
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .88
</td>
<td>
Tue: 2012-02-14 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 16:25:00
</td>
<td align="right">
  224.45
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .72
</td>
<td>
Tue: 2012-02-14 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 16:30:00
</td>
<td align="right">
  224.60
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .63
</td>
<td>
Tue: 2012-02-14 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 16:35:00
</td>
<td align="right">
  224.65
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
     .49
</td>
<td>
Tue: 2012-02-14 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 16:40:00
</td>
<td align="right">
  224.56
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .58
</td>
<td>
Tue: 2012-02-14 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 16:45:00
</td>
<td align="right">
  225.05
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-02-14 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 16:50:00
</td>
<td align="right">
  224.87
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Tue: 2012-02-14 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 16:55:00
</td>
<td align="right">
  224.88
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Tue: 2012-02-14 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 17:35:00
</td>
<td align="right">
  225.14
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-02-14 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 17:40:00
</td>
<td align="right">
  225.14
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-02-14 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 17:45:00
</td>
<td align="right">
  225.12
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-02-14 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 17:55:00
</td>
<td align="right">
  225.22
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2012-02-14 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 18:10:00
</td>
<td align="right">
  225.24
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
Tue: 2012-02-14 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 18:15:00
</td>
<td align="right">
  225.13
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .42
</td>
<td>
Tue: 2012-02-14 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 18:20:00
</td>
<td align="right">
  225.11
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .44
</td>
<td>
Tue: 2012-02-14 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 18:25:00
</td>
<td align="right">
  225.11
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .38
</td>
<td>
Tue: 2012-02-14 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 18:35:00
</td>
<td align="right">
  225.28
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
Tue: 2012-02-14 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 18:45:00
</td>
<td align="right">
  225.12
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .58
</td>
<td>
Tue: 2012-02-14 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 18:50:00
</td>
<td align="right">
  225.07
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
Tue: 2012-02-14 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 18:55:00
</td>
<td align="right">
  225.06
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .48
</td>
<td>
Tue: 2012-02-14 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 19:00:00
</td>
<td align="right">
  225.10
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .35
</td>
<td>
Tue: 2012-02-14 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 19:30:00
</td>
<td align="right">
  225.42
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .53
</td>
<td>
Tue: 2012-02-14 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CEO">CEO</a></td>
<td>
2012-02-13 20:55:00
</td>
<td align="right">
  226.50
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NFLX">NFLX</a></td>
<td>
2012-02-13 18:00:00
</td>
<td align="right">
  119.81
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-02-14 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NFLX">NFLX</a></td>
<td>
2012-02-13 18:05:00
</td>
<td align="right">
  119.68
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-02-14 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NFLX">NFLX</a></td>
<td>
2012-02-13 18:10:00
</td>
<td align="right">
  119.56
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .34
</td>
<td>
Tue: 2012-02-14 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NFLX">NFLX</a></td>
<td>
2012-02-13 18:20:00
</td>
<td align="right">
  119.27
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .49
</td>
<td>
Tue: 2012-02-14 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NFLX">NFLX</a></td>
<td>
2012-02-13 18:35:00
</td>
<td align="right">
  119.10
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .94
</td>
<td>
Tue: 2012-02-14 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NFLX">NFLX</a></td>
<td>
2012-02-13 18:40:00
</td>
<td align="right">
  119.54
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .66
</td>
<td>
Tue: 2012-02-14 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NFLX">NFLX</a></td>
<td>
2012-02-13 18:45:00
</td>
<td align="right">
  119.62
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .39
</td>
<td>
Tue: 2012-02-14 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NFLX">NFLX</a></td>
<td>
2012-02-13 18:50:00
</td>
<td align="right">
  119.95
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2012-02-14 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NFLX">NFLX</a></td>
<td>
2012-02-13 18:55:00
</td>
<td align="right">
  119.50
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Tue: 2012-02-14 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NFLX">NFLX</a></td>
<td>
2012-02-13 19:00:00
</td>
<td align="right">
  119.85
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2012-02-14 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NFLX">NFLX</a></td>
<td>
2012-02-13 19:05:00
</td>
<td align="right">
  119.80
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    -.63
</td>
<td>
Tue: 2012-02-14 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NFLX">NFLX</a></td>
<td>
2012-02-13 19:10:00
</td>
<td align="right">
  119.90
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    -.92
</td>
<td>
Tue: 2012-02-14 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NFLX">NFLX</a></td>
<td>
2012-02-13 19:15:00
</td>
<td align="right">
  119.90
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.86
</td>
<td>
Tue: 2012-02-14 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=NFLX">NFLX</a></td>
<td>
2012-02-13 19:20:00
</td>
<td align="right">
  119.76
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.66
</td>
<td>
Tue: 2012-02-14 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ADBE">ADBE</a></td>
<td>
2012-02-13 15:00:00
</td>
<td align="right">
   32.40
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2012-02-14 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ADBE">ADBE</a></td>
<td>
2012-02-13 15:05:00
</td>
<td align="right">
   32.42
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Tue: 2012-02-14 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ADBE">ADBE</a></td>
<td>
2012-02-13 15:10:00
</td>
<td align="right">
   32.45
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Tue: 2012-02-14 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AKAM">AKAM</a></td>
<td>
2012-02-13 15:05:00
</td>
<td align="right">
   38.28
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-02-14 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AKAM">AKAM</a></td>
<td>
2012-02-13 15:10:00
</td>
<td align="right">
   38.29
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-02-14 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AKAM">AKAM</a></td>
<td>
2012-02-13 15:20:00
</td>
<td align="right">
   38.27
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-02-14 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AKAM">AKAM</a></td>
<td>
2012-02-13 15:25:00
</td>
<td align="right">
   38.30
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-02-14 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AKAM">AKAM</a></td>
<td>
2012-02-13 15:30:00
</td>
<td align="right">
   38.22
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Tue: 2012-02-14 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AKAM">AKAM</a></td>
<td>
2012-02-13 15:35:00
</td>
<td align="right">
   38.29
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Tue: 2012-02-14 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AKAM">AKAM</a></td>
<td>
2012-02-13 15:45:00
</td>
<td align="right">
   38.29
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Tue: 2012-02-14 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-02-13 15:10:00
</td>
<td align="right">
   52.03
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2012-02-14 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-02-13 17:50:00
</td>
<td align="right">
   52.02
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-02-14 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AXP">AXP</a></td>
<td>
2012-02-13 18:55:00
</td>
<td align="right">
   52.03
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-02-14 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-02-13 15:10:00
</td>
<td align="right">
  376.04
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    1.82
</td>
<td>
Tue: 2012-02-14 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-02-13 15:15:00
</td>
<td align="right">
  375.59
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    2.04
</td>
<td>
Tue: 2012-02-14 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-02-13 15:20:00
</td>
<td align="right">
  375.62
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    2.05
</td>
<td>
Tue: 2012-02-14 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-02-13 15:25:00
</td>
<td align="right">
  375.73
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    1.75
</td>
<td>
Tue: 2012-02-14 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-02-13 15:30:00
</td>
<td align="right">
  375.52
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    2.19
</td>
<td>
Tue: 2012-02-14 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-02-13 15:35:00
</td>
<td align="right">
  376.08
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    1.81
</td>
<td>
Tue: 2012-02-14 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-02-13 15:00:00
</td>
<td align="right">
  128.44
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2012-02-14 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-02-13 15:05:00
</td>
<td align="right">
  128.46
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-02-14 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-02-13 15:10:00
</td>
<td align="right">
  128.39
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-02-14 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-02-13 15:15:00
</td>
<td align="right">
  128.30
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-02-14 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-02-13 15:20:00
</td>
<td align="right">
  128.29
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-02-14 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-02-13 15:25:00
</td>
<td align="right">
  128.32
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-02-14 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-02-13 15:30:00
</td>
<td align="right">
  128.24
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2012-02-14 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-02-13 15:35:00
</td>
<td align="right">
  128.23
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2012-02-14 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-02-13 15:40:00
</td>
<td align="right">
  128.21
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Tue: 2012-02-14 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-02-13 19:25:00
</td>
<td align="right">
  128.69
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-02-14 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-02-13 19:30:00
</td>
<td align="right">
  128.69
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-02-14 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-02-13 19:35:00
</td>
<td align="right">
  128.69
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-02-14 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-02-13 19:45:00
</td>
<td align="right">
  128.70
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2012-02-14 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-02-13 19:50:00
</td>
<td align="right">
  128.71
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2012-02-14 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-02-13 19:55:00
</td>
<td align="right">
  128.72
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2012-02-14 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-02-13 20:30:00
</td>
<td align="right">
  128.69
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EBAY">EBAY</a></td>
<td>
2012-02-13 15:35:00
</td>
<td align="right">
   33.03
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-02-14 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-02-13 17:20:00
</td>
<td align="right">
  613.01
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.81
</td>
<td>
Tue: 2012-02-14 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-02-13 17:55:00
</td>
<td align="right">
  612.99
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2012-02-14 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-02-13 18:00:00
</td>
<td align="right">
  612.78
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2012-02-14 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SPY">SPY</a></td>
<td>
2012-02-13 15:10:00
</td>
<td align="right">
  135.07
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-02-14 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SPY">SPY</a></td>
<td>
2012-02-13 15:15:00
</td>
<td align="right">
  134.98
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-02-14 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SPY">SPY</a></td>
<td>
2012-02-13 17:25:00
</td>
<td align="right">
  135.08
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Tue: 2012-02-14 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SPY">SPY</a></td>
<td>
2012-02-13 17:30:00
</td>
<td align="right">
  135.05
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Tue: 2012-02-14 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SPY">SPY</a></td>
<td>
2012-02-13 17:35:00
</td>
<td align="right">
  134.99
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .34
</td>
<td>
Tue: 2012-02-14 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SPY">SPY</a></td>
<td>
2012-02-13 17:40:00
</td>
<td align="right">
  135.00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Tue: 2012-02-14 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SPY">SPY</a></td>
<td>
2012-02-13 17:45:00
</td>
<td align="right">
  135.04
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Tue: 2012-02-14 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 16:05:00
</td>
<td align="right">
   52.37
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2012-02-14 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 18:40:00
</td>
<td align="right">
   52.37
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-02-14 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 18:45:00
</td>
<td align="right">
   52.36
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-02-14 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 19:05:00
</td>
<td align="right">
   52.36
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-02-14 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 19:20:00
</td>
<td align="right">
   52.37
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-02-14 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 19:25:00
</td>
<td align="right">
   52.41
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-02-14 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 19:30:00
</td>
<td align="right">
   52.40
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-02-14 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 19:40:00
</td>
<td align="right">
   52.41
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-02-14 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 19:45:00
</td>
<td align="right">
   52.34
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-02-14 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 19:50:00
</td>
<td align="right">
   52.37
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2012-02-14 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 19:55:00
</td>
<td align="right">
   52.38
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2012-02-14 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 20:00:00
</td>
<td align="right">
   52.40
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 20:05:00
</td>
<td align="right">
   52.40
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 20:10:00
</td>
<td align="right">
   52.41
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 20:15:00
</td>
<td align="right">
   52.43
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 20:20:00
</td>
<td align="right">
   52.41
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 20:25:00
</td>
<td align="right">
   52.41
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 20:30:00
</td>
<td align="right">
   52.41
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 20:35:00
</td>
<td align="right">
   52.38
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 20:40:00
</td>
<td align="right">
   52.35
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 20:45:00
</td>
<td align="right">
   52.31
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 20:50:00
</td>
<td align="right">
   52.32
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=TGT">TGT</a></td>
<td>
2012-02-13 20:55:00
</td>
<td align="right">
   52.33
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-02-14 20:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 15:55:00
</td>
<td align="right">
   53.74
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-02-14 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 16:10:00
</td>
<td align="right">
   53.77
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-02-14 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 16:15:00
</td>
<td align="right">
   53.82
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-02-14 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 16:20:00
</td>
<td align="right">
   53.84
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2012-02-14 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 16:25:00
</td>
<td align="right">
   53.81
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-02-14 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 16:35:00
</td>
<td align="right">
   53.77
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-02-14 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 16:40:00
</td>
<td align="right">
   53.77
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-02-14 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 16:45:00
</td>
<td align="right">
   53.76
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-02-14 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 16:50:00
</td>
<td align="right">
   53.81
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-02-14 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 17:35:00
</td>
<td align="right">
   53.76
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Tue: 2012-02-14 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 17:40:00
</td>
<td align="right">
   53.79
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .29
</td>
<td>
Tue: 2012-02-14 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 17:45:00
</td>
<td align="right">
   53.80
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .34
</td>
<td>
Tue: 2012-02-14 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 17:50:00
</td>
<td align="right">
   53.83
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Tue: 2012-02-14 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 17:55:00
</td>
<td align="right">
   53.83
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Tue: 2012-02-14 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 18:00:00
</td>
<td align="right">
   53.85
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Tue: 2012-02-14 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 18:05:00
</td>
<td align="right">
   53.87
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Tue: 2012-02-14 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 18:10:00
</td>
<td align="right">
   53.98
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Tue: 2012-02-14 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 18:15:00
</td>
<td align="right">
   53.98
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Tue: 2012-02-14 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 18:20:00
</td>
<td align="right">
   53.97
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Tue: 2012-02-14 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 18:25:00
</td>
<td align="right">
   54.02
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2012-02-14 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 18:30:00
</td>
<td align="right">
   54.16
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-02-14 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 18:35:00
</td>
<td align="right">
   54.05
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2012-02-14 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 18:40:00
</td>
<td align="right">
   54.08
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-02-14 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 18:45:00
</td>
<td align="right">
   54.14
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-02-14 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 18:50:00
</td>
<td align="right">
   54.04
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-02-14 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 18:55:00
</td>
<td align="right">
   54.04
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-02-14 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 19:00:00
</td>
<td align="right">
   54.13
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2012-02-14 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 19:05:00
</td>
<td align="right">
   54.17
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2012-02-14 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 19:10:00
</td>
<td align="right">
   54.20
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Tue: 2012-02-14 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 19:15:00
</td>
<td align="right">
   54.20
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2012-02-14 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 19:20:00
</td>
<td align="right">
   54.21
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Tue: 2012-02-14 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 19:25:00
</td>
<td align="right">
   54.20
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Tue: 2012-02-14 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 19:30:00
</td>
<td align="right">
   54.21
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Tue: 2012-02-14 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 19:35:00
</td>
<td align="right">
   54.21
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.33
</td>
<td>
Tue: 2012-02-14 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 19:40:00
</td>
<td align="right">
   54.20
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Tue: 2012-02-14 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 19:45:00
</td>
<td align="right">
   54.12
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2012-02-14 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 19:50:00
</td>
<td align="right">
   54.08
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2012-02-14 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNH">UNH</a></td>
<td>
2012-02-13 19:55:00
</td>
<td align="right">
   53.98
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Tue: 2012-02-14 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=YUM">YUM</a></td>
<td>
2012-02-13 15:05:00
</td>
<td align="right">
   64.64
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2012-02-14 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=YUM">YUM</a></td>
<td>
2012-02-13 15:10:00
</td>
<td align="right">
   64.69
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2012-02-14 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=YUM">YUM</a></td>
<td>
2012-02-13 15:20:00
</td>
<td align="right">
   64.70
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-02-14 15:20
</td>
</tr>
</table>
<br /><hr />