<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-10-22 14:05:00
</td>
<td align="right">
  114.75
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2012-10-23 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-10-22 14:10:00
</td>
<td align="right">
  114.70
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-10-23 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-10-22 14:25:00
</td>
<td align="right">
  114.91
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.69
</td>
<td>
Tue: 2012-10-23 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-10-22 14:30:00
</td>
<td align="right">
  114.76
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.54
</td>
<td>
Tue: 2012-10-23 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-10-22 15:00:00
</td>
<td align="right">
  114.86
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.92
</td>
<td>
Tue: 2012-10-23 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-10-22 15:05:00
</td>
<td align="right">
  114.71
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.55
</td>
<td>
Tue: 2012-10-23 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 14:00:00
</td>
<td align="right">
  240.90
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   -1.86
</td>
<td>
Tue: 2012-10-23 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 14:05:00
</td>
<td align="right">
  241.39
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   -2.28
</td>
<td>
Tue: 2012-10-23 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 14:10:00
</td>
<td align="right">
  241.38
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   -3.10
</td>
<td>
Tue: 2012-10-23 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 14:15:00
</td>
<td align="right">
  241.11
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   -2.72
</td>
<td>
Tue: 2012-10-23 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 14:20:00
</td>
<td align="right">
  241.62
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -3.45
</td>
<td>
Tue: 2012-10-23 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 14:25:00
</td>
<td align="right">
  241.36
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -3.08
</td>
<td>
Tue: 2012-10-23 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 14:30:00
</td>
<td align="right">
  241.33
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   -3.32
</td>
<td>
Tue: 2012-10-23 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 14:35:00
</td>
<td align="right">
  240.81
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -2.71
</td>
<td>
Tue: 2012-10-23 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 14:40:00
</td>
<td align="right">
  240.45
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -1.97
</td>
<td>
Tue: 2012-10-23 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 14:45:00
</td>
<td align="right">
  239.52
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.95
</td>
<td>
Tue: 2012-10-23 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 14:50:00
</td>
<td align="right">
  238.19
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .52
</td>
<td>
Tue: 2012-10-23 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 14:55:00
</td>
<td align="right">
  238.33
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-10-23 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 15:00:00
</td>
<td align="right">
  239.04
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.77
</td>
<td>
Tue: 2012-10-23 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 15:05:00
</td>
<td align="right">
  239.11
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.70
</td>
<td>
Tue: 2012-10-23 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 15:10:00
</td>
<td align="right">
  238.28
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
     .22
</td>
<td>
Tue: 2012-10-23 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 15:15:00
</td>
<td align="right">
  238.39
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
     .65
</td>
<td>
Tue: 2012-10-23 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 15:20:00
</td>
<td align="right">
  238.17
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .88
</td>
<td>
Tue: 2012-10-23 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 15:25:00
</td>
<td align="right">
  238.28
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
     .54
</td>
<td>
Tue: 2012-10-23 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 15:30:00
</td>
<td align="right">
  238.01
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
     .71
</td>
<td>
Tue: 2012-10-23 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 15:35:00
</td>
<td align="right">
  238.10
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
     .30
</td>
<td>
Tue: 2012-10-23 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 15:40:00
</td>
<td align="right">
  238.48
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2012-10-23 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 15:45:00
</td>
<td align="right">
  238.57
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.29
</td>
<td>
Tue: 2012-10-23 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 15:50:00
</td>
<td align="right">
  238.71
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.52
</td>
<td>
Tue: 2012-10-23 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 15:55:00
</td>
<td align="right">
  238.36
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.35
</td>
<td>
Tue: 2012-10-23 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 16:00:00
</td>
<td align="right">
  238.27
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2012-10-23 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 16:05:00
</td>
<td align="right">
  238.41
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    -.40
</td>
<td>
Tue: 2012-10-23 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 16:10:00
</td>
<td align="right">
  238.50
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   -1.10
</td>
<td>
Tue: 2012-10-23 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 16:15:00
</td>
<td align="right">
  239.04
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   -2.03
</td>
<td>
Tue: 2012-10-23 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 16:20:00
</td>
<td align="right">
  239.05
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   -2.89
</td>
<td>
Tue: 2012-10-23 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 16:25:00
</td>
<td align="right">
  238.82
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   -2.95
</td>
<td>
Tue: 2012-10-23 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 16:30:00
</td>
<td align="right">
  238.72
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   -3.27
</td>
<td>
Tue: 2012-10-23 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 16:35:00
</td>
<td align="right">
  238.40
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   -2.99
</td>
<td>
Tue: 2012-10-23 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 16:40:00
</td>
<td align="right">
  238.30
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   -3.76
</td>
<td>
Tue: 2012-10-23 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 16:45:00
</td>
<td align="right">
  238.28
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   -3.09
</td>
<td>
Tue: 2012-10-23 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 16:50:00
</td>
<td align="right">
  238.19
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   -3.19
</td>
<td>
Tue: 2012-10-23 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 16:55:00
</td>
<td align="right">
  238.01
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   -3.00
</td>
<td>
Tue: 2012-10-23 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 17:00:00
</td>
<td align="right">
  238.10
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   -3.09
</td>
<td>
Tue: 2012-10-23 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 17:05:00
</td>
<td align="right">
  238.01
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   -2.79
</td>
<td>
Tue: 2012-10-23 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 17:10:00
</td>
<td align="right">
  237.40
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   -2.16
</td>
<td>
Tue: 2012-10-23 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 17:15:00
</td>
<td align="right">
  237.01
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    -.71
</td>
<td>
Tue: 2012-10-23 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 17:20:00
</td>
<td align="right">
  236.16
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
     .79
</td>
<td>
Tue: 2012-10-23 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 17:25:00
</td>
<td align="right">
  235.87
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
     .78
</td>
<td>
Tue: 2012-10-23 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 17:30:00
</td>
<td align="right">
  235.45
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    1.80
</td>
<td>
Tue: 2012-10-23 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 17:35:00
</td>
<td align="right">
  235.41
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    1.71
</td>
<td>
Tue: 2012-10-23 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 17:40:00
</td>
<td align="right">
  234.54
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    2.46
</td>
<td>
Tue: 2012-10-23 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 17:45:00
</td>
<td align="right">
  235.19
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    1.86
</td>
<td>
Tue: 2012-10-23 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 17:50:00
</td>
<td align="right">
  235.00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    1.89
</td>
<td>
Tue: 2012-10-23 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 17:55:00
</td>
<td align="right">
  235.01
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
    1.98
</td>
<td>
Tue: 2012-10-23 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 18:00:00
</td>
<td align="right">
  235.01
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    2.18
</td>
<td>
Tue: 2012-10-23 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 18:05:00
</td>
<td align="right">
  235.22
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    1.85
</td>
<td>
Tue: 2012-10-23 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 18:10:00
</td>
<td align="right">
  235.24
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    1.72
</td>
<td>
Tue: 2012-10-23 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 18:15:00
</td>
<td align="right">
  236.30
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
     .53
</td>
<td>
Tue: 2012-10-23 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 18:20:00
</td>
<td align="right">
  236.95
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2012-10-23 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 18:25:00
</td>
<td align="right">
  236.65
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
     .43
</td>
<td>
Tue: 2012-10-23 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 18:30:00
</td>
<td align="right">
  237.25
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
    -.31
</td>
<td>
Tue: 2012-10-23 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 18:35:00
</td>
<td align="right">
  237.12
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-10-23 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 18:40:00
</td>
<td align="right">
  237.00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2012-10-23 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 18:45:00
</td>
<td align="right">
  237.05
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-10-23 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 18:50:00
</td>
<td align="right">
  236.89
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .61
</td>
<td>
Tue: 2012-10-23 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 18:55:00
</td>
<td align="right">
  236.99
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
     .40
</td>
<td>
Tue: 2012-10-23 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 19:00:00
</td>
<td align="right">
  237.19
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 19:05:00
</td>
<td align="right">
  237.07
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 19:10:00
</td>
<td align="right">
  236.96
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 19:15:00
</td>
<td align="right">
  236.83
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 19:20:00
</td>
<td align="right">
  236.90
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 19:25:00
</td>
<td align="right">
  237.08
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 19:30:00
</td>
<td align="right">
  236.94
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 19:35:00
</td>
<td align="right">
  237.02
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 19:40:00
</td>
<td align="right">
  236.85
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 19:45:00
</td>
<td align="right">
  237.19
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 19:50:00
</td>
<td align="right">
  237.50
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CMG">CMG</a></td>
<td>
2012-10-22 19:55:00
</td>
<td align="right">
  237.39
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EOG">EOG</a></td>
<td>
2012-10-22 14:00:00
</td>
<td align="right">
  112.81
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.94
</td>
<td>
Tue: 2012-10-23 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EOG">EOG</a></td>
<td>
2012-10-22 14:05:00
</td>
<td align="right">
  112.85
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   -1.20
</td>
<td>
Tue: 2012-10-23 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EOG">EOG</a></td>
<td>
2012-10-22 14:15:00
</td>
<td align="right">
  112.13
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.61
</td>
<td>
Tue: 2012-10-23 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EOG">EOG</a></td>
<td>
2012-10-22 14:20:00
</td>
<td align="right">
  112.26
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   -1.11
</td>
<td>
Tue: 2012-10-23 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EOG">EOG</a></td>
<td>
2012-10-22 14:25:00
</td>
<td align="right">
  112.10
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.93
</td>
<td>
Tue: 2012-10-23 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EOG">EOG</a></td>
<td>
2012-10-22 19:50:00
</td>
<td align="right">
  111.97
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EOG">EOG</a></td>
<td>
2012-10-22 19:55:00
</td>
<td align="right">
  112.10
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EWZ">EWZ</a></td>
<td>
2012-10-22 19:55:00
</td>
<td align="right">
   54.73
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=POT">POT</a></td>
<td>
2012-10-22 19:35:00
</td>
<td align="right">
   40.90
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=POT">POT</a></td>
<td>
2012-10-22 19:50:00
</td>
<td align="right">
   40.95
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=POT">POT</a></td>
<td>
2012-10-22 19:55:00
</td>
<td align="right">
   41.00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-10-22 18:35:00
</td>
<td align="right">
  112.95
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .58
</td>
<td>
Tue: 2012-10-23 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-10-22 18:45:00
</td>
<td align="right">
  112.96
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .54
</td>
<td>
Tue: 2012-10-23 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-10-22 18:50:00
</td>
<td align="right">
  112.99
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .59
</td>
<td>
Tue: 2012-10-23 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-10-22 19:00:00
</td>
<td align="right">
  112.94
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BIDU">BIDU</a></td>
<td>
2012-10-22 19:05:00
</td>
<td align="right">
  113.05
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-22 17:30:00
</td>
<td align="right">
  112.07
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-10-23 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-22 17:35:00
</td>
<td align="right">
  112.00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2012-10-23 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-22 17:40:00
</td>
<td align="right">
  111.98
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-10-23 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-22 18:20:00
</td>
<td align="right">
  112.03
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-10-23 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-22 18:25:00
</td>
<td align="right">
  112.00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .20
</td>
<td>
Tue: 2012-10-23 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-22 18:30:00
</td>
<td align="right">
  111.97
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2012-10-23 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-22 18:35:00
</td>
<td align="right">
  111.83
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .46
</td>
<td>
Tue: 2012-10-23 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-22 18:40:00
</td>
<td align="right">
  111.92
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Tue: 2012-10-23 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-22 18:50:00
</td>
<td align="right">
  111.88
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .59
</td>
<td>
Tue: 2012-10-23 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-22 19:00:00
</td>
<td align="right">
  111.83
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-22 19:05:00
</td>
<td align="right">
  111.91
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-22 19:10:00
</td>
<td align="right">
  112.03
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CVX">CVX</a></td>
<td>
2012-10-22 19:15:00
</td>
<td align="right">
  112.08
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2012-10-22 17:45:00
</td>
<td align="right">
   85.22
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2012-10-23 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2012-10-22 17:50:00
</td>
<td align="right">
   85.24
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2012-10-23 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2012-10-22 17:55:00
</td>
<td align="right">
   85.22
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-10-23 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2012-10-22 18:00:00
</td>
<td align="right">
   85.26
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-10-23 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2012-10-22 18:05:00
</td>
<td align="right">
   85.28
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-10-23 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2012-10-22 18:10:00
</td>
<td align="right">
   85.32
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-10-23 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2012-10-22 18:25:00
</td>
<td align="right">
   85.36
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Tue: 2012-10-23 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2012-10-22 18:30:00
</td>
<td align="right">
   85.37
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-10-23 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2012-10-22 18:45:00
</td>
<td align="right">
   85.32
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Tue: 2012-10-23 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2012-10-22 18:50:00
</td>
<td align="right">
   85.32
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .41
</td>
<td>
Tue: 2012-10-23 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2012-10-22 18:55:00
</td>
<td align="right">
   85.27
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .59
</td>
<td>
Tue: 2012-10-23 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2012-10-22 19:00:00
</td>
<td align="right">
   85.20
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2012-10-22 19:05:00
</td>
<td align="right">
   85.27
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EWZ">EWZ</a></td>
<td>
2012-10-22 17:25:00
</td>
<td align="right">
   54.25
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-10-23 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EWZ">EWZ</a></td>
<td>
2012-10-22 17:35:00
</td>
<td align="right">
   54.26
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-10-23 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EWZ">EWZ</a></td>
<td>
2012-10-22 17:40:00
</td>
<td align="right">
   54.20
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-10-23 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EWZ">EWZ</a></td>
<td>
2012-10-22 17:55:00
</td>
<td align="right">
   54.26
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Tue: 2012-10-23 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=EWZ">EWZ</a></td>
<td>
2012-10-22 18:35:00
</td>
<td align="right">
   54.24
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Tue: 2012-10-23 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 14:15:00
</td>
<td align="right">
  123.71
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-10-23 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 14:25:00
</td>
<td align="right">
  123.83
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2012-10-23 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 14:30:00
</td>
<td align="right">
  123.89
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Tue: 2012-10-23 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 14:35:00
</td>
<td align="right">
  123.74
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2012-10-23 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 14:40:00
</td>
<td align="right">
  123.75
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-10-23 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 14:45:00
</td>
<td align="right">
  123.78
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-10-23 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 14:50:00
</td>
<td align="right">
  123.90
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-10-23 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 14:55:00
</td>
<td align="right">
  123.93
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Tue: 2012-10-23 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 15:10:00
</td>
<td align="right">
  123.86
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-10-23 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 15:15:00
</td>
<td align="right">
  123.70
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2012-10-23 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 15:20:00
</td>
<td align="right">
  123.61
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Tue: 2012-10-23 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 15:30:00
</td>
<td align="right">
  123.53
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2012-10-23 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 15:35:00
</td>
<td align="right">
  123.60
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-10-23 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 15:40:00
</td>
<td align="right">
  123.80
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Tue: 2012-10-23 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 15:45:00
</td>
<td align="right">
  123.81
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Tue: 2012-10-23 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 15:50:00
</td>
<td align="right">
  123.81
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.39
</td>
<td>
Tue: 2012-10-23 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 15:55:00
</td>
<td align="right">
  123.75
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.35
</td>
<td>
Tue: 2012-10-23 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 16:00:00
</td>
<td align="right">
  123.74
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.54
</td>
<td>
Tue: 2012-10-23 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 16:05:00
</td>
<td align="right">
  123.99
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.83
</td>
<td>
Tue: 2012-10-23 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 16:10:00
</td>
<td align="right">
  123.83
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.80
</td>
<td>
Tue: 2012-10-23 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 16:15:00
</td>
<td align="right">
  123.87
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   -1.04
</td>
<td>
Tue: 2012-10-23 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 16:20:00
</td>
<td align="right">
  123.91
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   -1.17
</td>
<td>
Tue: 2012-10-23 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 16:25:00
</td>
<td align="right">
  123.83
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   -1.46
</td>
<td>
Tue: 2012-10-23 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 16:30:00
</td>
<td align="right">
  123.70
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   -1.46
</td>
<td>
Tue: 2012-10-23 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 16:35:00
</td>
<td align="right">
  123.74
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   -1.51
</td>
<td>
Tue: 2012-10-23 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 16:45:00
</td>
<td align="right">
  123.57
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   -1.27
</td>
<td>
Tue: 2012-10-23 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 17:30:00
</td>
<td align="right">
  122.24
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-10-23 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 17:35:00
</td>
<td align="right">
  122.23
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2012-10-23 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 17:40:00
</td>
<td align="right">
  122.05
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2012-10-23 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 18:00:00
</td>
<td align="right">
  122.17
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2012-10-23 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 18:05:00
</td>
<td align="right">
  122.19
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2012-10-23 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 18:10:00
</td>
<td align="right">
  122.13
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-10-23 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 18:20:00
</td>
<td align="right">
  122.25
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-10-23 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 18:25:00
</td>
<td align="right">
  122.18
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Tue: 2012-10-23 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 18:35:00
</td>
<td align="right">
  122.07
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
Tue: 2012-10-23 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 18:45:00
</td>
<td align="right">
  121.97
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
     .51
</td>
<td>
Tue: 2012-10-23 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 18:50:00
</td>
<td align="right">
  122.06
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .46
</td>
<td>
Tue: 2012-10-23 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 18:55:00
</td>
<td align="right">
  122.12
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .55
</td>
<td>
Tue: 2012-10-23 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 19:00:00
</td>
<td align="right">
  121.94
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 19:05:00
</td>
<td align="right">
  122.03
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 19:10:00
</td>
<td align="right">
  122.19
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 19:15:00
</td>
<td align="right">
  122.26
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GS">GS</a></td>
<td>
2012-10-22 19:20:00
</td>
<td align="right">
  122.23
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HON">HON</a></td>
<td>
2012-10-22 17:40:00
</td>
<td align="right">
   61.69
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-10-23 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HON">HON</a></td>
<td>
2012-10-22 18:00:00
</td>
<td align="right">
   61.74
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-10-23 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HON">HON</a></td>
<td>
2012-10-22 18:05:00
</td>
<td align="right">
   61.71
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-10-23 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HON">HON</a></td>
<td>
2012-10-22 18:25:00
</td>
<td align="right">
   61.70
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Tue: 2012-10-23 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HON">HON</a></td>
<td>
2012-10-22 18:30:00
</td>
<td align="right">
   61.73
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2012-10-23 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HON">HON</a></td>
<td>
2012-10-22 18:40:00
</td>
<td align="right">
   61.75
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .25
</td>
<td>
Tue: 2012-10-23 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HON">HON</a></td>
<td>
2012-10-22 18:45:00
</td>
<td align="right">
   61.74
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Tue: 2012-10-23 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HON">HON</a></td>
<td>
2012-10-22 18:55:00
</td>
<td align="right">
   61.71
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .57
</td>
<td>
Tue: 2012-10-23 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HON">HON</a></td>
<td>
2012-10-22 19:00:00
</td>
<td align="right">
   61.75
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=HON">HON</a></td>
<td>
2012-10-22 19:55:00
</td>
<td align="right">
   62.28
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-22 14:35:00
</td>
<td align="right">
   81.72
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Tue: 2012-10-23 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-22 14:40:00
</td>
<td align="right">
   81.71
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2012-10-23 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-22 14:45:00
</td>
<td align="right">
   81.68
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-10-23 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-22 14:50:00
</td>
<td align="right">
   81.75
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-10-23 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-22 14:55:00
</td>
<td align="right">
   81.75
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-10-23 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-22 15:35:00
</td>
<td align="right">
   81.66
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-10-23 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-22 15:55:00
</td>
<td align="right">
   81.77
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2012-10-23 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-22 16:00:00
</td>
<td align="right">
   81.75
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-10-23 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-22 16:15:00
</td>
<td align="right">
   81.76
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2012-10-23 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-22 16:50:00
</td>
<td align="right">
   81.74
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2012-10-23 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-22 16:55:00
</td>
<td align="right">
   81.73
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Tue: 2012-10-23 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-22 17:00:00
</td>
<td align="right">
   81.77
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Tue: 2012-10-23 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-22 17:05:00
</td>
<td align="right">
   81.73
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2012-10-23 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-22 17:10:00
</td>
<td align="right">
   81.65
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2012-10-23 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=IWM">IWM</a></td>
<td>
2012-10-22 17:20:00
</td>
<td align="right">
   81.60
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2012-10-23 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 14:00:00
</td>
<td align="right">
   58.58
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2012-10-23 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 14:05:00
</td>
<td align="right">
   58.56
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2012-10-23 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 14:10:00
</td>
<td align="right">
   58.51
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2012-10-23 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 14:15:00
</td>
<td align="right">
   58.39
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2012-10-23 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 14:20:00
</td>
<td align="right">
   58.38
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2012-10-23 14:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 14:25:00
</td>
<td align="right">
   58.44
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Tue: 2012-10-23 14:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 14:30:00
</td>
<td align="right">
   58.40
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-10-23 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 14:35:00
</td>
<td align="right">
   58.40
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-10-23 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 14:40:00
</td>
<td align="right">
   58.34
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-10-23 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 14:45:00
</td>
<td align="right">
   58.39
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-10-23 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 14:50:00
</td>
<td align="right">
   58.43
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-10-23 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 14:55:00
</td>
<td align="right">
   58.45
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Tue: 2012-10-23 14:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 15:00:00
</td>
<td align="right">
   58.53
</td>
<td align="right">
  .88
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-10-23 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 15:05:00
</td>
<td align="right">
   58.48
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Tue: 2012-10-23 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 15:10:00
</td>
<td align="right">
   58.36
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-10-23 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 15:15:00
</td>
<td align="right">
   58.20
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Tue: 2012-10-23 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 15:20:00
</td>
<td align="right">
   58.21
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .34
</td>
<td>
Tue: 2012-10-23 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 15:25:00
</td>
<td align="right">
   58.24
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Tue: 2012-10-23 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 15:30:00
</td>
<td align="right">
   58.30
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2012-10-23 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 15:35:00
</td>
<td align="right">
   58.40
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-10-23 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 15:40:00
</td>
<td align="right">
   58.46
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-10-23 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 15:45:00
</td>
<td align="right">
   58.52
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
    -.16
</td>
<td>
Tue: 2012-10-23 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 15:50:00
</td>
<td align="right">
   58.48
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Tue: 2012-10-23 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 15:55:00
</td>
<td align="right">
   58.48
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2012-10-23 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 16:00:00
</td>
<td align="right">
   58.53
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Tue: 2012-10-23 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 16:05:00
</td>
<td align="right">
   58.50
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Tue: 2012-10-23 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 16:10:00
</td>
<td align="right">
   58.49
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
    -.27
</td>
<td>
Tue: 2012-10-23 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 16:15:00
</td>
<td align="right">
   58.50
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Tue: 2012-10-23 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 16:20:00
</td>
<td align="right">
   58.55
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
    -.31
</td>
<td>
Tue: 2012-10-23 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 16:25:00
</td>
<td align="right">
   58.50
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
    -.35
</td>
<td>
Tue: 2012-10-23 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 16:30:00
</td>
<td align="right">
   58.40
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2012-10-23 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 16:35:00
</td>
<td align="right">
   58.39
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Tue: 2012-10-23 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 16:40:00
</td>
<td align="right">
   58.37
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.32
</td>
<td>
Tue: 2012-10-23 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 16:45:00
</td>
<td align="right">
   58.36
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Tue: 2012-10-23 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 16:50:00
</td>
<td align="right">
   58.23
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2012-10-23 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 16:55:00
</td>
<td align="right">
   58.25
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-10-23 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 17:00:00
</td>
<td align="right">
   58.23
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-10-23 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 17:05:00
</td>
<td align="right">
   58.18
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-10-23 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 17:10:00
</td>
<td align="right">
   58.22
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Tue: 2012-10-23 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 17:15:00
</td>
<td align="right">
   58.24
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-10-23 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 17:20:00
</td>
<td align="right">
   58.24
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-10-23 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 17:25:00
</td>
<td align="right">
   58.15
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-10-23 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 17:55:00
</td>
<td align="right">
   58.16
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Tue: 2012-10-23 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 18:00:00
</td>
<td align="right">
   58.24
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2012-10-23 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 18:05:00
</td>
<td align="right">
   58.23
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-10-23 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 18:10:00
</td>
<td align="right">
   58.18
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Tue: 2012-10-23 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 18:15:00
</td>
<td align="right">
   58.29
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-10-23 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 18:20:00
</td>
<td align="right">
   58.25
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-10-23 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 18:25:00
</td>
<td align="right">
   58.28
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Tue: 2012-10-23 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 18:30:00
</td>
<td align="right">
   58.31
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2012-10-23 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 18:35:00
</td>
<td align="right">
   58.23
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Tue: 2012-10-23 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 18:40:00
</td>
<td align="right">
   58.23
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Tue: 2012-10-23 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 18:45:00
</td>
<td align="right">
   58.23
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .32
</td>
<td>
Tue: 2012-10-23 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 18:50:00
</td>
<td align="right">
   58.23
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .41
</td>
<td>
Tue: 2012-10-23 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 18:55:00
</td>
<td align="right">
   58.20
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .47
</td>
<td>
Tue: 2012-10-23 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 19:00:00
</td>
<td align="right">
   58.19
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 19:05:00
</td>
<td align="right">
   58.22
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 19:10:00
</td>
<td align="right">
   58.36
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 19:15:00
</td>
<td align="right">
   58.34
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 19:20:00
</td>
<td align="right">
   58.37
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 19:25:00
</td>
<td align="right">
   58.52
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 19:30:00
</td>
<td align="right">
   58.48
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 19:35:00
</td>
<td align="right">
   58.54
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 19:40:00
</td>
<td align="right">
   58.53
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 19:45:00
</td>
<td align="right">
   58.55
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 19:50:00
</td>
<td align="right">
   58.64
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=QCOM">QCOM</a></td>
<td>
2012-10-22 19:55:00
</td>
<td align="right">
   58.67
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 14:00:00
</td>
<td align="right">
   55.52
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Tue: 2012-10-23 14:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 14:05:00
</td>
<td align="right">
   55.68
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-10-23 14:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 14:10:00
</td>
<td align="right">
   55.54
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Tue: 2012-10-23 14:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 14:15:00
</td>
<td align="right">
   55.37
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2012-10-23 14:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 14:30:00
</td>
<td align="right">
   55.48
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-10-23 14:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 14:35:00
</td>
<td align="right">
   55.49
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Tue: 2012-10-23 14:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 14:40:00
</td>
<td align="right">
   55.53
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Tue: 2012-10-23 14:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 14:45:00
</td>
<td align="right">
   55.55
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2012-10-23 14:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 14:50:00
</td>
<td align="right">
   55.64
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Tue: 2012-10-23 14:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 15:05:00
</td>
<td align="right">
   55.68
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
Tue: 2012-10-23 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 15:10:00
</td>
<td align="right">
   55.61
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Tue: 2012-10-23 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 15:15:00
</td>
<td align="right">
   55.54
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Tue: 2012-10-23 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 15:20:00
</td>
<td align="right">
   55.51
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2012-10-23 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 15:25:00
</td>
<td align="right">
   55.56
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-10-23 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 15:30:00
</td>
<td align="right">
   55.54
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Tue: 2012-10-23 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 15:35:00
</td>
<td align="right">
   55.55
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2012-10-23 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 15:40:00
</td>
<td align="right">
   55.65
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Tue: 2012-10-23 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 15:50:00
</td>
<td align="right">
   55.62
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
Tue: 2012-10-23 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 15:55:00
</td>
<td align="right">
   55.59
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
Tue: 2012-10-23 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 16:00:00
</td>
<td align="right">
   55.52
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Tue: 2012-10-23 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 16:05:00
</td>
<td align="right">
   55.57
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.14
</td>
<td>
Tue: 2012-10-23 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 16:10:00
</td>
<td align="right">
   55.54
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Tue: 2012-10-23 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 16:15:00
</td>
<td align="right">
   55.59
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Tue: 2012-10-23 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 16:20:00
</td>
<td align="right">
   55.62
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Tue: 2012-10-23 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 16:25:00
</td>
<td align="right">
   55.56
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Tue: 2012-10-23 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 16:30:00
</td>
<td align="right">
   55.55
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Tue: 2012-10-23 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 16:35:00
</td>
<td align="right">
   55.50
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2012-10-23 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 16:40:00
</td>
<td align="right">
   55.50
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
Tue: 2012-10-23 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 16:45:00
</td>
<td align="right">
   55.54
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Tue: 2012-10-23 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 16:50:00
</td>
<td align="right">
   55.54
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Tue: 2012-10-23 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 16:55:00
</td>
<td align="right">
   55.54
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.26
</td>
<td>
Tue: 2012-10-23 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 17:00:00
</td>
<td align="right">
   55.51
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
Tue: 2012-10-23 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 17:05:00
</td>
<td align="right">
   55.43
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Tue: 2012-10-23 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 17:10:00
</td>
<td align="right">
   55.37
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Tue: 2012-10-23 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 17:15:00
</td>
<td align="right">
   55.33
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Tue: 2012-10-23 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 17:20:00
</td>
<td align="right">
   55.36
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Tue: 2012-10-23 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 17:25:00
</td>
<td align="right">
   55.26
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Tue: 2012-10-23 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 17:30:00
</td>
<td align="right">
   55.31
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-10-23 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 17:35:00
</td>
<td align="right">
   55.27
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Tue: 2012-10-23 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 17:40:00
</td>
<td align="right">
   55.22
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-10-23 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 17:45:00
</td>
<td align="right">
   55.28
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2012-10-23 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 17:50:00
</td>
<td align="right">
   55.31
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Tue: 2012-10-23 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 17:55:00
</td>
<td align="right">
   55.28
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Tue: 2012-10-23 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 18:00:00
</td>
<td align="right">
   55.26
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Tue: 2012-10-23 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 18:05:00
</td>
<td align="right">
   55.24
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2012-10-23 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 18:10:00
</td>
<td align="right">
   55.16
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .30
</td>
<td>
Tue: 2012-10-23 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 18:15:00
</td>
<td align="right">
   55.23
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .19
</td>
<td>
Tue: 2012-10-23 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 18:20:00
</td>
<td align="right">
   55.27
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-10-23 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 18:25:00
</td>
<td align="right">
   55.23
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Tue: 2012-10-23 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 18:30:00
</td>
<td align="right">
   55.31
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Tue: 2012-10-23 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 18:35:00
</td>
<td align="right">
   55.27
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Tue: 2012-10-23 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 18:40:00
</td>
<td align="right">
   55.36
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2012-10-23 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 18:45:00
</td>
<td align="right">
   55.38
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .17
</td>
<td>
Tue: 2012-10-23 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 18:50:00
</td>
<td align="right">
   55.41
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Tue: 2012-10-23 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 18:55:00
</td>
<td align="right">
   55.39
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .27
</td>
<td>
Tue: 2012-10-23 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 19:00:00
</td>
<td align="right">
   55.39
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 19:05:00
</td>
<td align="right">
   55.40
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 19:15:00
</td>
<td align="right">
   55.42
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 19:20:00
</td>
<td align="right">
   55.41
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=RTN">RTN</a></td>
<td>
2012-10-22 19:55:00
</td>
<td align="right">
   55.66
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Tue: 2012-10-23 19:55
</td>
</tr>
</table>
<br /><hr />