<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-02-28 15:10:00
</td>
<td align="right">
   59.30
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2012-02-29 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-02-28 15:15:00
</td>
<td align="right">
   59.43
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2012-02-29 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-02-28 15:20:00
</td>
<td align="right">
   59.35
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .24
</td>
<td>
Wed: 2012-02-29 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-02-28 15:25:00
</td>
<td align="right">
   59.39
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-02-29 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-02-28 15:30:00
</td>
<td align="right">
   59.57
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
Wed: 2012-02-29 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-02-28 15:45:00
</td>
<td align="right">
   59.42
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
     .18
</td>
<td>
Wed: 2012-02-29 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-02-28 16:10:00
</td>
<td align="right">
   59.40
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-02-29 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-02-28 16:15:00
</td>
<td align="right">
   59.51
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-02-29 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-02-28 16:20:00
</td>
<td align="right">
   59.59
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
Wed: 2012-02-29 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-02-28 16:25:00
</td>
<td align="right">
   59.51
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2012-02-29 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-02-28 16:35:00
</td>
<td align="right">
   59.73
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.22
</td>
<td>
Wed: 2012-02-29 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-02-28 16:40:00
</td>
<td align="right">
   59.58
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Wed: 2012-02-29 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-02-28 16:45:00
</td>
<td align="right">
   59.60
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
    -.18
</td>
<td>
Wed: 2012-02-29 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-02-28 17:00:00
</td>
<td align="right">
   59.63
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    -.28
</td>
<td>
Wed: 2012-02-29 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-02-28 17:35:00
</td>
<td align="right">
   59.51
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.16
</td>
<td>
Wed: 2012-02-29 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-02-28 17:45:00
</td>
<td align="right">
   59.42
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.33
</td>
<td>
Wed: 2012-02-29 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XLB">XLB</a></td>
<td>
2012-02-28 15:00:00
</td>
<td align="right">
   37.75
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-02-29 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XLB">XLB</a></td>
<td>
2012-02-28 15:20:00
</td>
<td align="right">
   37.70
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2012-02-29 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XLB">XLB</a></td>
<td>
2012-02-28 15:30:00
</td>
<td align="right">
   37.78
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2012-02-29 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XLB">XLB</a></td>
<td>
2012-02-28 15:50:00
</td>
<td align="right">
   37.69
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2012-02-29 15:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XLB">XLB</a></td>
<td>
2012-02-28 15:55:00
</td>
<td align="right">
   37.76
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2012-02-29 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XLB">XLB</a></td>
<td>
2012-02-28 16:05:00
</td>
<td align="right">
   37.75
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-02-29 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XLB">XLB</a></td>
<td>
2012-02-28 16:10:00
</td>
<td align="right">
   37.73
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2012-02-29 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XLB">XLB</a></td>
<td>
2012-02-28 16:30:00
</td>
<td align="right">
   37.79
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.08
</td>
<td>
Wed: 2012-02-29 16:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XLB">XLB</a></td>
<td>
2012-02-28 16:55:00
</td>
<td align="right">
   37.72
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2012-02-29 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XLB">XLB</a></td>
<td>
2012-02-28 17:15:00
</td>
<td align="right">
   37.71
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2012-02-29 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XLB">XLB</a></td>
<td>
2012-02-28 17:25:00
</td>
<td align="right">
   37.72
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2012-02-29 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XLB">XLB</a></td>
<td>
2012-02-28 17:35:00
</td>
<td align="right">
   37.69
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2012-02-29 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XLB">XLB</a></td>
<td>
2012-02-28 18:20:00
</td>
<td align="right">
   37.69
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.10
</td>
<td>
Wed: 2012-02-29 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ADBE">ADBE</a></td>
<td>
2012-02-28 18:15:00
</td>
<td align="right">
   33.39
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.23
</td>
<td>
Wed: 2012-02-29 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ADBE">ADBE</a></td>
<td>
2012-02-28 18:20:00
</td>
<td align="right">
   33.40
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Wed: 2012-02-29 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ADBE">ADBE</a></td>
<td>
2012-02-28 18:30:00
</td>
<td align="right">
   33.35
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Wed: 2012-02-29 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ADBE">ADBE</a></td>
<td>
2012-02-28 19:45:00
</td>
<td align="right">
   33.14
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
Wed: 2012-02-29 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=ADBE">ADBE</a></td>
<td>
2012-02-28 19:50:00
</td>
<td align="right">
   33.14
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-02-29 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AKAM">AKAM</a></td>
<td>
2012-02-28 15:10:00
</td>
<td align="right">
   36.93
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
Wed: 2012-02-29 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AKAM">AKAM</a></td>
<td>
2012-02-28 17:40:00
</td>
<td align="right">
   36.91
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
Wed: 2012-02-29 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AKAM">AKAM</a></td>
<td>
2012-02-28 18:30:00
</td>
<td align="right">
   36.93
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.39
</td>
<td>
Wed: 2012-02-29 18:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AKAM">AKAM</a></td>
<td>
2012-02-28 20:30:00
</td>
<td align="right">
   36.70
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APA">APA</a></td>
<td>
2012-02-28 15:00:00
</td>
<td align="right">
  109.93
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .80
</td>
<td>
Wed: 2012-02-29 15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APA">APA</a></td>
<td>
2012-02-28 15:10:00
</td>
<td align="right">
  109.41
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    1.63
</td>
<td>
Wed: 2012-02-29 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APA">APA</a></td>
<td>
2012-02-28 15:20:00
</td>
<td align="right">
  109.72
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    1.50
</td>
<td>
Wed: 2012-02-29 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APA">APA</a></td>
<td>
2012-02-28 15:30:00
</td>
<td align="right">
  109.93
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    1.30
</td>
<td>
Wed: 2012-02-29 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APA">APA</a></td>
<td>
2012-02-28 18:00:00
</td>
<td align="right">
  110.43
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   -1.16
</td>
<td>
Wed: 2012-02-29 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APA">APA</a></td>
<td>
2012-02-28 18:05:00
</td>
<td align="right">
  110.05
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    -.66
</td>
<td>
Wed: 2012-02-29 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APA">APA</a></td>
<td>
2012-02-28 18:10:00
</td>
<td align="right">
  110.08
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    -.90
</td>
<td>
Wed: 2012-02-29 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APA">APA</a></td>
<td>
2012-02-28 18:15:00
</td>
<td align="right">
  110.05
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    -.76
</td>
<td>
Wed: 2012-02-29 18:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APA">APA</a></td>
<td>
2012-02-28 18:20:00
</td>
<td align="right">
  110.08
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.84
</td>
<td>
Wed: 2012-02-29 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=APA">APA</a></td>
<td>
2012-02-28 20:45:00
</td>
<td align="right">
  109.51
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-02-28 18:05:00
</td>
<td align="right">
   74.97
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-02-29 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-02-28 18:10:00
</td>
<td align="right">
   74.97
</td>
<td align="right">
  .85
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Wed: 2012-02-29 18:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-02-28 20:35:00
</td>
<td align="right">
   75.19
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-02-28 20:40:00
</td>
<td align="right">
   75.20
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-02-28 20:45:00
</td>
<td align="right">
   75.20
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-02-28 20:50:00
</td>
<td align="right">
   75.27
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=BA">BA</a></td>
<td>
2012-02-28 20:55:00
</td>
<td align="right">
   75.17
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CLF">CLF</a></td>
<td>
2012-02-28 19:00:00
</td>
<td align="right">
   65.82
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.18
</td>
<td>
Wed: 2012-02-29 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=CLF">CLF</a></td>
<td>
2012-02-28 20:15:00
</td>
<td align="right">
   65.62
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2012-02-28 15:05:00
</td>
<td align="right">
   83.47
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .51
</td>
<td>
Wed: 2012-02-29 15:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2012-02-28 17:15:00
</td>
<td align="right">
   83.59
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2012-02-29 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DE">DE</a></td>
<td>
2012-02-28 18:05:00
</td>
<td align="right">
   83.52
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Wed: 2012-02-29 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-02-28 15:10:00
</td>
<td align="right">
  129.59
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
Wed: 2012-02-29 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=DIA">DIA</a></td>
<td>
2012-02-28 15:15:00
</td>
<td align="right">
  129.67
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Wed: 2012-02-29 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-02-28 15:10:00
</td>
<td align="right">
  127.85
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Wed: 2012-02-29 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-02-28 15:45:00
</td>
<td align="right">
  127.77
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.68
</td>
<td>
Wed: 2012-02-29 15:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-02-28 15:55:00
</td>
<td align="right">
  127.80
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.92
</td>
<td>
Wed: 2012-02-29 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-02-28 16:45:00
</td>
<td align="right">
  127.09
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Wed: 2012-02-29 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-02-28 16:50:00
</td>
<td align="right">
  126.85
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
Wed: 2012-02-29 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=FFIV">FFIV</a></td>
<td>
2012-02-28 18:20:00
</td>
<td align="right">
  126.93
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.81
</td>
<td>
Wed: 2012-02-29 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-02-28 15:20:00
</td>
<td align="right">
  618.91
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
Wed: 2012-02-29 15:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-02-28 15:25:00
</td>
<td align="right">
  619.14
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Wed: 2012-02-29 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-02-28 17:05:00
</td>
<td align="right">
  618.31
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   -1.30
</td>
<td>
Wed: 2012-02-29 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-02-28 17:10:00
</td>
<td align="right">
  618.31
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
Wed: 2012-02-29 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-02-28 17:30:00
</td>
<td align="right">
  618.00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .23
</td>
<td>
Wed: 2012-02-29 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-02-28 17:35:00
</td>
<td align="right">
  618.18
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
Wed: 2012-02-29 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-02-28 18:20:00
</td>
<td align="right">
  618.10
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   -3.01
</td>
<td>
Wed: 2012-02-29 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-02-28 18:25:00
</td>
<td align="right">
  618.56
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   -3.89
</td>
<td>
Wed: 2012-02-29 18:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-02-28 18:35:00
</td>
<td align="right">
  617.99
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   -3.05
</td>
<td>
Wed: 2012-02-29 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-02-28 18:50:00
</td>
<td align="right">
  615.74
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Wed: 2012-02-29 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-02-28 19:00:00
</td>
<td align="right">
  615.00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .92
</td>
<td>
Wed: 2012-02-29 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-02-28 19:45:00
</td>
<td align="right">
  615.69
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    2.06
</td>
<td>
Wed: 2012-02-29 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=GOOG">GOOG</a></td>
<td>
2012-02-28 20:00:00
</td>
<td align="right">
  615.92
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JWN">JWN</a></td>
<td>
2012-02-28 15:35:00
</td>
<td align="right">
   53.76
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2012-02-29 15:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JWN">JWN</a></td>
<td>
2012-02-28 17:05:00
</td>
<td align="right">
   53.65
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
Wed: 2012-02-29 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JWN">JWN</a></td>
<td>
2012-02-28 17:10:00
</td>
<td align="right">
   53.65
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
Wed: 2012-02-29 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=JWN">JWN</a></td>
<td>
2012-02-28 17:25:00
</td>
<td align="right">
   53.68
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
Wed: 2012-02-29 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 15:25:00
</td>
<td align="right">
  423.00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .59
</td>
<td>
Wed: 2012-02-29 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 16:00:00
</td>
<td align="right">
  423.89
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   -1.71
</td>
<td>
Wed: 2012-02-29 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 16:05:00
</td>
<td align="right">
  423.62
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   -1.68
</td>
<td>
Wed: 2012-02-29 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 16:15:00
</td>
<td align="right">
  423.27
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   -2.32
</td>
<td>
Wed: 2012-02-29 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 16:25:00
</td>
<td align="right">
  423.59
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   -1.91
</td>
<td>
Wed: 2012-02-29 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 16:35:00
</td>
<td align="right">
  423.89
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
   -1.30
</td>
<td>
Wed: 2012-02-29 16:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 16:50:00
</td>
<td align="right">
  422.69
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    -.12
</td>
<td>
Wed: 2012-02-29 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 17:25:00
</td>
<td align="right">
  421.68
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    1.15
</td>
<td>
Wed: 2012-02-29 17:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 17:35:00
</td>
<td align="right">
  422.59
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
     .53
</td>
<td>
Wed: 2012-02-29 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 17:45:00
</td>
<td align="right">
  422.50
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .61
</td>
<td>
Wed: 2012-02-29 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 17:50:00
</td>
<td align="right">
  422.57
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .26
</td>
<td>
Wed: 2012-02-29 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 17:55:00
</td>
<td align="right">
  422.52
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .36
</td>
<td>
Wed: 2012-02-29 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 18:00:00
</td>
<td align="right">
  422.34
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Wed: 2012-02-29 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 19:05:00
</td>
<td align="right">
  422.69
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    1.10
</td>
<td>
Wed: 2012-02-29 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 19:20:00
</td>
<td align="right">
  422.72
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    2.10
</td>
<td>
Wed: 2012-02-29 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 19:30:00
</td>
<td align="right">
  423.08
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    2.10
</td>
<td>
Wed: 2012-02-29 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 19:35:00
</td>
<td align="right">
  422.78
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    2.05
</td>
<td>
Wed: 2012-02-29 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 19:40:00
</td>
<td align="right">
  422.97
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    1.86
</td>
<td>
Wed: 2012-02-29 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 19:45:00
</td>
<td align="right">
  423.10
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Wed: 2012-02-29 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 20:00:00
</td>
<td align="right">
  424.08
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 20:05:00
</td>
<td align="right">
  423.79
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 20:10:00
</td>
<td align="right">
  424.50
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 20:15:00
</td>
<td align="right">
  424.31
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MA">MA</a></td>
<td>
2012-02-28 20:45:00
</td>
<td align="right">
  422.93
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MMM">MMM</a></td>
<td>
2012-02-28 16:55:00
</td>
<td align="right">
   87.96
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .00
</td>
<td>
Wed: 2012-02-29 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-02-28 18:05:00
</td>
<td align="right">
   78.89
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
Wed: 2012-02-29 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-02-28 18:20:00
</td>
<td align="right">
   78.94
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Wed: 2012-02-29 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-02-28 18:35:00
</td>
<td align="right">
   78.80
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2012-02-29 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MON">MON</a></td>
<td>
2012-02-28 18:45:00
</td>
<td align="right">
   78.75
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
Wed: 2012-02-29 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=MOS">MOS</a></td>
<td>
2012-02-28 19:40:00
</td>
<td align="right">
   58.98
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Wed: 2012-02-29 19:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=SPY">SPY</a></td>
<td>
2012-02-28 19:10:00
</td>
<td align="right">
  137.21
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
Wed: 2012-02-29 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-02-28 15:10:00
</td>
<td align="right">
   88.03
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.88
</td>
<td>
Wed: 2012-02-29 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-02-28 19:35:00
</td>
<td align="right">
   87.15
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .45
</td>
<td>
Wed: 2012-02-29 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-02-28 19:45:00
</td>
<td align="right">
   87.21
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .55
</td>
<td>
Wed: 2012-02-29 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UA">UA</a></td>
<td>
2012-02-28 19:55:00
</td>
<td align="right">
   87.34
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
Wed: 2012-02-29 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNP">UNP</a></td>
<td>
2012-02-28 15:10:00
</td>
<td align="right">
  112.05
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.33
</td>
<td>
Wed: 2012-02-29 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNP">UNP</a></td>
<td>
2012-02-28 15:15:00
</td>
<td align="right">
  112.12
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.49
</td>
<td>
Wed: 2012-02-29 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNP">UNP</a></td>
<td>
2012-02-28 15:55:00
</td>
<td align="right">
  111.97
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.30
</td>
<td>
Wed: 2012-02-29 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNP">UNP</a></td>
<td>
2012-02-28 16:25:00
</td>
<td align="right">
  111.67
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
Wed: 2012-02-29 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNP">UNP</a></td>
<td>
2012-02-28 17:55:00
</td>
<td align="right">
  111.67
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .04
</td>
<td>
Wed: 2012-02-29 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNP">UNP</a></td>
<td>
2012-02-28 20:05:00
</td>
<td align="right">
  111.94
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNP">UNP</a></td>
<td>
2012-02-28 20:10:00
</td>
<td align="right">
  112.05
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=UNP">UNP</a></td>
<td>
2012-02-28 20:15:00
</td>
<td align="right">
  112.17
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=V">V</a></td>
<td>
2012-02-28 15:10:00
</td>
<td align="right">
  117.98
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .66
</td>
<td>
Wed: 2012-02-29 15:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=V">V</a></td>
<td>
2012-02-28 15:15:00
</td>
<td align="right">
  118.30
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .21
</td>
<td>
Wed: 2012-02-29 15:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=V">V</a></td>
<td>
2012-02-28 15:25:00
</td>
<td align="right">
  118.40
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
Wed: 2012-02-29 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=V">V</a></td>
<td>
2012-02-28 16:20:00
</td>
<td align="right">
  118.52
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.71
</td>
<td>
Wed: 2012-02-29 16:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=V">V</a></td>
<td>
2012-02-28 16:25:00
</td>
<td align="right">
  118.56
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.75
</td>
<td>
Wed: 2012-02-29 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=V">V</a></td>
<td>
2012-02-28 18:00:00
</td>
<td align="right">
  117.81
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
     .65
</td>
<td>
Wed: 2012-02-29 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 15:25:00
</td>
<td align="right">
  100.71
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Wed: 2012-02-29 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 15:30:00
</td>
<td align="right">
  100.87
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Wed: 2012-02-29 15:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 15:55:00
</td>
<td align="right">
  100.57
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.46
</td>
<td>
Wed: 2012-02-29 15:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 16:05:00
</td>
<td align="right">
  100.52
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    -.53
</td>
<td>
Wed: 2012-02-29 16:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 16:10:00
</td>
<td align="right">
  100.51
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.43
</td>
<td>
Wed: 2012-02-29 16:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 16:15:00
</td>
<td align="right">
  100.54
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.59
</td>
<td>
Wed: 2012-02-29 16:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 16:25:00
</td>
<td align="right">
  100.51
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.76
</td>
<td>
Wed: 2012-02-29 16:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 16:40:00
</td>
<td align="right">
  100.18
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.55
</td>
<td>
Wed: 2012-02-29 16:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 16:45:00
</td>
<td align="right">
  100.22
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    -.50
</td>
<td>
Wed: 2012-02-29 16:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 16:50:00
</td>
<td align="right">
  100.04
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    -.33
</td>
<td>
Wed: 2012-02-29 16:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 16:55:00
</td>
<td align="right">
  100.11
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.44
</td>
<td>
Wed: 2012-02-29 16:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 17:00:00
</td>
<td align="right">
  100.09
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    -.36
</td>
<td>
Wed: 2012-02-29 17:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 17:05:00
</td>
<td align="right">
   99.99
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    -.15
</td>
<td>
Wed: 2012-02-29 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 17:15:00
</td>
<td align="right">
   99.95
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
Wed: 2012-02-29 17:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 17:20:00
</td>
<td align="right">
   99.90
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
Wed: 2012-02-29 17:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 17:30:00
</td>
<td align="right">
   99.69
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
Wed: 2012-02-29 17:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 17:35:00
</td>
<td align="right">
   99.71
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Wed: 2012-02-29 17:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 17:40:00
</td>
<td align="right">
   99.63
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .15
</td>
<td>
Wed: 2012-02-29 17:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 17:45:00
</td>
<td align="right">
   99.72
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    -.03
</td>
<td>
Wed: 2012-02-29 17:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 17:50:00
</td>
<td align="right">
   99.71
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.35
</td>
<td>
Wed: 2012-02-29 17:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 17:55:00
</td>
<td align="right">
   99.67
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.17
</td>
<td>
Wed: 2012-02-29 17:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 18:00:00
</td>
<td align="right">
   99.73
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Wed: 2012-02-29 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 18:05:00
</td>
<td align="right">
   99.84
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    -.24
</td>
<td>
Wed: 2012-02-29 18:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 18:20:00
</td>
<td align="right">
   99.95
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.34
</td>
<td>
Wed: 2012-02-29 18:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 18:35:00
</td>
<td align="right">
   99.86
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    -.20
</td>
<td>
Wed: 2012-02-29 18:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 18:40:00
</td>
<td align="right">
   99.78
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.10
</td>
<td>
Wed: 2012-02-29 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 18:45:00
</td>
<td align="right">
   99.69
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .08
</td>
<td>
Wed: 2012-02-29 18:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 18:50:00
</td>
<td align="right">
   99.36
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .44
</td>
<td>
Wed: 2012-02-29 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 18:55:00
</td>
<td align="right">
   99.50
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .35
</td>
<td>
Wed: 2012-02-29 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 19:00:00
</td>
<td align="right">
   99.66
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .22
</td>
<td>
Wed: 2012-02-29 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 19:05:00
</td>
<td align="right">
   99.60
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
     .28
</td>
<td>
Wed: 2012-02-29 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 19:10:00
</td>
<td align="right">
   99.53
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
     .42
</td>
<td>
Wed: 2012-02-29 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 19:15:00
</td>
<td align="right">
   99.57
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .46
</td>
<td>
Wed: 2012-02-29 19:15
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 19:20:00
</td>
<td align="right">
   99.61
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .45
</td>
<td>
Wed: 2012-02-29 19:20
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 19:25:00
</td>
<td align="right">
   99.60
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
     .69
</td>
<td>
Wed: 2012-02-29 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 19:30:00
</td>
<td align="right">
   99.70
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .51
</td>
<td>
Wed: 2012-02-29 19:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 19:35:00
</td>
<td align="right">
   99.66
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .58
</td>
<td>
Wed: 2012-02-29 19:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 19:45:00
</td>
<td align="right">
   99.77
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .52
</td>
<td>
Wed: 2012-02-29 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 19:55:00
</td>
<td align="right">
   99.85
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .44
</td>
<td>
Wed: 2012-02-29 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 20:00:00
</td>
<td align="right">
   99.88
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 20:10:00
</td>
<td align="right">
   99.95
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 20:25:00
</td>
<td align="right">
  100.29
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 20:30:00
</td>
<td align="right">
  100.21
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 20:35:00
</td>
<td align="right">
  100.24
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:35
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 20:40:00
</td>
<td align="right">
  100.32
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 20:45:00
</td>
<td align="right">
  100.29
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 20:50:00
</td>
<td align="right">
  100.30
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=VMW">VMW</a></td>
<td>
2012-02-28 20:55:00
</td>
<td align="right">
  100.29
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XLE">XLE</a></td>
<td>
2012-02-28 20:30:00
</td>
<td align="right">
   75.68
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Wed: 2012-02-29 20:30
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-02-28 18:40:00
</td>
<td align="right">
   86.81
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
Wed: 2012-02-29 18:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=XOM">XOM</a></td>
<td>
2012-02-28 19:45:00
</td>
<td align="right">
   86.86
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .39
</td>
<td>
Wed: 2012-02-29 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=YUM">YUM</a></td>
<td>
2012-02-28 15:10:00
</td>
<td align="right">
   65.74
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .01
</td>
<td>
Wed: 2012-02-29 15:10
</td>
</tr>
</table>
<br /><hr />