<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-07 15:40:00
</td>
<td align="right">
   40.98
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
Fri: 2012-06-08 15:40
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-07 17:05:00
</td>
<td align="right">
   40.93
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
Fri: 2012-06-08 17:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-07 17:10:00
</td>
<td align="right">
   40.97
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
Fri: 2012-06-08 17:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-07 18:50:00
</td>
<td align="right">
   41.20
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    -.44
</td>
<td>
Fri: 2012-06-08 18:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-07 18:55:00
</td>
<td align="right">
   41.19
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    -.30
</td>
<td>
Fri: 2012-06-08 18:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-07 19:00:00
</td>
<td align="right">
   41.10
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-08 19:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-07 19:05:00
</td>
<td align="right">
   41.11
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-08 19:05
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-07 19:10:00
</td>
<td align="right">
   41.15
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-08 19:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-07 19:25:00
</td>
<td align="right">
   40.98
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-08 19:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-07 19:45:00
</td>
<td align="right">
   40.85
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-08 19:45
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-07 19:50:00
</td>
<td align="right">
   40.76
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-08 19:50
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AFL">AFL</a></td>
<td>
2012-06-07 19:55:00
</td>
<td align="right">
   40.89
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-08 19:55
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=AMGN">AMGN</a></td>
<td>
2012-06-07 19:00:00
</td>
<td align="right">
   69.50
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
Fri: 2012-06-08 19:00
</td>
</tr>
</table>
<br /><hr />