<table class="table_a1_us_stk_new">
<tr>
<th scope="col">
Stock
<br>
Ticker
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
Price
<br>
at
<br>
Hour 0
</th>
<th scope="col">
DanBot
<br>
Score at
<br>
Hour 0
</th>
<th scope="col">
Score
<br>
Type
</th>
<th scope="col">
Gain
<br>
at
<br>
Hour 1
</th>
<th scope="col">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-01-13 15:25:00
</td>
<td align="right">
   65.56
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .02
</td>
<td>
Mon: 2012-01-16 15:25
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-01-13 18:00:00
</td>
<td align="right">
   65.72
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
Mon: 2012-01-16 18:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PG">PG</a></td>
<td>
2012-01-13 20:10:00
</td>
<td align="right">
   65.81
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
Mon: 2012-01-16 20:10
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PNC">PNC</a></td>
<td>
2012-01-13 16:00:00
</td>
<td align="right">
   61.30
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .18
</td>
<td>
Mon: 2012-01-16 16:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=PNC">PNC</a></td>
<td>
2012-01-13 16:20:00
</td>
<td align="right">
   61.47
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
Mon: 2012-01-16 16:20
</td>
</tr>
</table>
<br /><hr />