<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_05_06<h4>Week of: 2012_05_06 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.13
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0006
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0034
</td>
<td align="right">
  -.0061
</td>
<td align="right">
   .0053
</td>
<td align="right">
   .0045
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.35
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0006
</td>
<td align="right">
    9
</td>
<td align="right">
  -.0057
</td>
<td align="right">
  -.0036
</td>
<td align="right">
   .0021
</td>
<td align="right">
   .0018
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.56
</td>
<td align="right">
     .44
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0007
</td>
<td align="right">
    2
</td>
<td align="right">
   .0014
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0018
</td>
<td align="right">
   .0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.11
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   31
</td>
<td align="right">
  -.0089
</td>
<td align="right">
  -.0060
</td>
<td align="right">
   .0035
</td>
<td align="right">
   .0026
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.90
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0009
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0038
</td>
<td align="right">
  -.0023
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0011
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.58
</td>
<td align="right">
    -.93
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0011
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0033
</td>
<td align="right">
  -.0020
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0012
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .25
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0002
</td>
<td align="right">
    2
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0009
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.67
</td>
<td align="right">
  -13.46
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0008
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0001
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   59
</td>
<td align="right">
  -.0247
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.24
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0020
</td>
<td align="right">
    6
</td>
<td align="right">
   .0122
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0039
</td>
<td align="right">
   .0016
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .62
</td>
<td align="right">
    2.84
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0032
</td>
<td align="right">
   11
</td>
<td align="right">
   .0352
</td>
<td align="right">
   .0015
</td>
<td align="right">
   .0048
</td>
<td align="right">
   .0011
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .68
</td>
<td align="right">
     .65
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0011
</td>
<td align="right">
    5
</td>
<td align="right">
   .0056
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0032
</td>
<td align="right">
   .0017
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .60
</td>
<td align="right">
   18.91
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0021
</td>
<td align="right">
    2
</td>
<td align="right">
   .0041
</td>
<td align="right">
   .0020
</td>
<td align="right">
   .0022
</td>
<td align="right">
   .0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .64
</td>
<td align="right">
    1.13
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0015
</td>
<td align="right">
   57
</td>
<td align="right">
   .0872
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0048
</td>
<td align="right">
   .0014
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.86
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0006
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0023
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   85
</td>
<td align="right">
   .1420
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-05-09
07:15:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  80.3272
</td>
<td align="right">
  80.3987
</td>
<td align="right">
  79.9085
</td>
<td align="right">
   .0715
</td>
<td align="right">
  -.4902
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0061
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-05-09
09:00:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  80.1434
</td>
<td align="right">
  80.1945
</td>
<td align="right">
  79.8718
</td>
<td align="right">
   .0510
</td>
<td align="right">
  -.3227
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0040
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-05-09
09:10:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  80.1414
</td>
<td align="right">
  80.1745
</td>
<td align="right">
  79.9873
</td>
<td align="right">
   .0331
</td>
<td align="right">
  -.1872
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-05-09
09:40:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
  80.1365
</td>
<td align="right">
  80.1460
</td>
<td align="right">
  80.1431
</td>
<td align="right">
   .0095
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-05-09
12:10:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  79.9322
</td>
<td align="right">
  79.9065
</td>
<td align="right">
  80.3280
</td>
<td align="right">
  -.0256
</td>
<td align="right">
   .4215
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0053
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-05-09
12:15:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  79.8983
</td>
<td align="right">
  79.9085
</td>
<td align="right">
  80.2131
</td>
<td align="right">
   .0101
</td>
<td align="right">
   .3046
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0038
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-05-08
08:25:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.2829
</td>
<td align="right">
   1.2838
</td>
<td align="right">
   1.2865
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0027
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-05-08
17:15:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.2865
</td>
<td align="right">
   1.2866
</td>
<td align="right">
   1.2863
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-05-08
17:35:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.2861
</td>
<td align="right">
   1.2867
</td>
<td align="right">
   1.2865
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-05-08
18:00:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.2866
</td>
<td align="right">
   1.2871
</td>
<td align="right">
   1.2855
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-05-08
18:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.2868
</td>
<td align="right">
   1.2869
</td>
<td align="right">
   1.2871
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-05-08
19:00:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.2871
</td>
<td align="right">
   1.2868
</td>
<td align="right">
   1.2888
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0020
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-05-09
20:45:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.2871
</td>
<td align="right">
   1.2878
</td>
<td align="right">
   1.2832
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0047
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0036
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-05-10
08:20:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.2835
</td>
<td align="right">
   1.2831
</td>
<td align="right">
   1.2803
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0028
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-05-10
08:25:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.2835
</td>
<td align="right">
   1.2831
</td>
<td align="right">
   1.2804
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0026
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-05-10
17:50:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .8018
</td>
<td align="right">
    .8018
</td>
<td align="right">
    .8015
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-05-11
02:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .8009
</td>
<td align="right">
    .8013
</td>
<td align="right">
    .8027
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
06:05:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 103.7123
</td>
<td align="right">
 103.8207
</td>
<td align="right">
 104.1850
</td>
<td align="right">
   .1084
</td>
<td align="right">
   .3642
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0035
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
08:35:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
 103.7891
</td>
<td align="right">
 103.8302
</td>
<td align="right">
 104.1838
</td>
<td align="right">
   .0411
</td>
<td align="right">
   .3536
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0034
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
08:40:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
 103.7616
</td>
<td align="right">
 103.8574
</td>
<td align="right">
 104.1918
</td>
<td align="right">
   .0957
</td>
<td align="right">
   .3344
</td>
<td align="right">
  .0009
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
08:45:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 103.7775
</td>
<td align="right">
 103.9031
</td>
<td align="right">
 104.2265
</td>
<td align="right">
   .1255
</td>
<td align="right">
   .3234
</td>
<td align="right">
  .0012
</td>
<td align="right">
  .0031
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
08:50:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 103.7975
</td>
<td align="right">
 103.9623
</td>
<td align="right">
 104.2732
</td>
<td align="right">
   .1648
</td>
<td align="right">
   .3109
</td>
<td align="right">
  .0016
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
10:55:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 104.0277
</td>
<td align="right">
 104.1753
</td>
<td align="right">
 104.3978
</td>
<td align="right">
   .1476
</td>
<td align="right">
   .2225
</td>
<td align="right">
  .0014
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-09
05:10:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 103.4938
</td>
<td align="right">
 103.6038
</td>
<td align="right">
 103.1434
</td>
<td align="right">
   .1100
</td>
<td align="right">
  -.4604
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0044
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-09
06:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 103.5479
</td>
<td align="right">
 103.6715
</td>
<td align="right">
 103.1340
</td>
<td align="right">
   .1236
</td>
<td align="right">
  -.5375
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0052
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-09
06:10:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 103.6038
</td>
<td align="right">
 103.6266
</td>
<td align="right">
 103.0045
</td>
<td align="right">
   .0227
</td>
<td align="right">
  -.6220
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0060
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-09
09:00:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 103.3297
</td>
<td align="right">
 103.3741
</td>
<td align="right">
 102.8818
</td>
<td align="right">
   .0444
</td>
<td align="right">
  -.4923
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0048
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-09
09:10:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 103.3576
</td>
<td align="right">
 103.3462
</td>
<td align="right">
 103.0111
</td>
<td align="right">
  -.0114
</td>
<td align="right">
  -.3351
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-09
09:15:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
 103.3620
</td>
<td align="right">
 103.3871
</td>
<td align="right">
 103.0524
</td>
<td align="right">
   .0250
</td>
<td align="right">
  -.3347
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-09
09:50:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 103.3616
</td>
<td align="right">
 103.3312
</td>
<td align="right">
 103.1534
</td>
<td align="right">
  -.0304
</td>
<td align="right">
  -.1778
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-10
00:40:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
 103.1637
</td>
<td align="right">
 103.1502
</td>
<td align="right">
 103.2680
</td>
<td align="right">
  -.0134
</td>
<td align="right">
   .1178
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-10
00:50:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
 103.1505
</td>
<td align="right">
 103.1580
</td>
<td align="right">
 103.2982
</td>
<td align="right">
   .0075
</td>
<td align="right">
   .1402
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-10
01:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 103.0788
</td>
<td align="right">
 103.2145
</td>
<td align="right">
 103.2421
</td>
<td align="right">
   .1357
</td>
<td align="right">
   .0276
</td>
<td align="right">
  .0013
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-10
01:30:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
 103.1712
</td>
<td align="right">
 103.3047
</td>
<td align="right">
 103.3248
</td>
<td align="right">
   .1335
</td>
<td align="right">
   .0202
</td>
<td align="right">
  .0013
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-10
01:35:00
</td>
<td align="right">
 -.85
</td>
<td align="right">
 103.0970
</td>
<td align="right">
 103.2620
</td>
<td align="right">
 103.3505
</td>
<td align="right">
   .1651
</td>
<td align="right">
   .0885
</td>
<td align="right">
  .0016
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-10
01:40:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
 103.1502
</td>
<td align="right">
 103.2279
</td>
<td align="right">
 103.3627
</td>
<td align="right">
   .0777
</td>
<td align="right">
   .1348
</td>
<td align="right">
  .0008
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-10
01:45:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
 103.1998
</td>
<td align="right">
 103.2334
</td>
<td align="right">
 103.3752
</td>
<td align="right">
   .0336
</td>
<td align="right">
   .1418
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-10
01:50:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
 103.1580
</td>
<td align="right">
 103.2341
</td>
<td align="right">
 103.3313
</td>
<td align="right">
   .0762
</td>
<td align="right">
   .0972
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-10
03:20:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 103.1196
</td>
<td align="right">
 103.1293
</td>
<td align="right">
 103.0554
</td>
<td align="right">
   .0097
</td>
<td align="right">
  -.0739
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-10
03:30:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 103.1047
</td>
<td align="right">
 103.0997
</td>
<td align="right">
 103.0863
</td>
<td align="right">
  -.0050
</td>
<td align="right">
  -.0135
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-10
03:35:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
 103.1005
</td>
<td align="right">
 103.0828
</td>
<td align="right">
 103.1092
</td>
<td align="right">
  -.0177
</td>
<td align="right">
   .0264
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-10
03:45:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
 103.0820
</td>
<td align="right">
 103.1575
</td>
<td align="right">
 103.0444
</td>
<td align="right">
   .0754
</td>
<td align="right">
  -.1130
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-10
03:55:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
 103.0240
</td>
<td align="right">
 103.2068
</td>
<td align="right">
 103.0188
</td>
<td align="right">
   .1827
</td>
<td align="right">
  -.1880
</td>
<td align="right">
  .0018
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-10
04:25:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
 103.0917
</td>
<td align="right">
 103.1385
</td>
<td align="right">
 103.0748
</td>
<td align="right">
   .0468
</td>
<td align="right">
  -.0637
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-10
04:45:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 103.1575
</td>
<td align="right">
 103.1515
</td>
<td align="right">
 103.1226
</td>
<td align="right">
  -.0060
</td>
<td align="right">
  -.0289
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-10
05:20:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 103.1562
</td>
<td align="right">
 103.1926
</td>
<td align="right">
 103.0654
</td>
<td align="right">
   .0364
</td>
<td align="right">
  -.1272
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-10
05:40:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 103.1443
</td>
<td align="right">
 103.2680
</td>
<td align="right">
 103.1985
</td>
<td align="right">
   .1238
</td>
<td align="right">
  -.0695
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-10
06:50:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 103.2982
</td>
<td align="right">
 103.3313
</td>
<td align="right">
 103.3522
</td>
<td align="right">
   .0331
</td>
<td align="right">
   .0209
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-05-08
18:05:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.3027
</td>
<td align="right">
   1.3030
</td>
<td align="right">
   1.3000
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-05-10
11:50:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.2955
</td>
<td align="right">
   1.2954
</td>
<td align="right">
   1.2957
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-05-10
12:15:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
   1.2962
</td>
<td align="right">
   1.2971
</td>
<td align="right">
   1.2957
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-05-10
12:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.2956
</td>
<td align="right">
   1.2961
</td>
<td align="right">
   1.2953
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-05-09
04:25:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.6136
</td>
<td align="right">
   1.6144
</td>
<td align="right">
   1.6119
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-05-10
00:30:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.6135
</td>
<td align="right">
   1.6140
</td>
<td align="right">
   1.6144
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-05-10
03:10:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.6131
</td>
<td align="right">
   1.6135
</td>
<td align="right">
   1.6103
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0032
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-05-07
01:55:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9978
</td>
<td align="right">
    .9975
</td>
<td align="right">
    .9971
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0004
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-05-08
07:30:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .9956
</td>
<td align="right">
    .9970
</td>
<td align="right">
    .9979
</td>
<td align="right">
   .0014
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0014
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
13:50:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
    .9282
</td>
<td align="right">
    .9285
</td>
<td align="right">
    .9278
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
14:00:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9280
</td>
<td align="right">
    .9288
</td>
<td align="right">
    .9281
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-05-10
19:30:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  80.0050
</td>
<td align="right">
  79.9950
</td>
<td align="right">
  79.9050
</td>
<td align="right">
  -.0100
</td>
<td align="right">
  -.0900
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0011
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-05-08
05:25:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.2793
</td>
<td align="right">
   1.2792
</td>
<td align="right">
   1.2842
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0050
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0039
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-05-08
05:35:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.2790
</td>
<td align="right">
   1.2793
</td>
<td align="right">
   1.2840
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0047
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0037
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-05-08
06:05:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.2792
</td>
<td align="right">
   1.2796
</td>
<td align="right">
   1.2833
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0037
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0029
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-05-09
06:00:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.2883
</td>
<td align="right">
   1.2882
</td>
<td align="right">
   1.2887
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-05-09
06:05:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.2881
</td>
<td align="right">
   1.2886
</td>
<td align="right">
   1.2895
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-05-09
07:05:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2886
</td>
<td align="right">
   1.2884
</td>
<td align="right">
   1.2891
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
00:40:00
</td>
<td align="right">
  .56
</td>
<td align="right">
 103.7541
</td>
<td align="right">
 103.5162
</td>
<td align="right">
 103.8256
</td>
<td align="right">
  -.2379
</td>
<td align="right">
   .3094
</td>
<td align="right">
 -.0023
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
01:20:00
</td>
<td align="right">
  .68
</td>
<td align="right">
 103.5951
</td>
<td align="right">
 103.5991
</td>
<td align="right">
 103.8635
</td>
<td align="right">
   .0040
</td>
<td align="right">
   .2643
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
01:35:00
</td>
<td align="right">
  .66
</td>
<td align="right">
 103.5807
</td>
<td align="right">
 103.6109
</td>
<td align="right">
 103.9381
</td>
<td align="right">
   .0302
</td>
<td align="right">
   .3272
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
01:50:00
</td>
<td align="right">
  .59
</td>
<td align="right">
 103.6316
</td>
<td align="right">
 103.6129
</td>
<td align="right">
 103.9460
</td>
<td align="right">
  -.0187
</td>
<td align="right">
   .3331
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
01:55:00
</td>
<td align="right">
  .63
</td>
<td align="right">
 103.6208
</td>
<td align="right">
 103.6391
</td>
<td align="right">
 103.9300
</td>
<td align="right">
   .0182
</td>
<td align="right">
   .2910
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
02:30:00
</td>
<td align="right">
  .55
</td>
<td align="right">
 103.6044
</td>
<td align="right">
 103.6386
</td>
<td align="right">
 103.8441
</td>
<td align="right">
   .0342
</td>
<td align="right">
   .2056
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
02:35:00
</td>
<td align="right">
  .60
</td>
<td align="right">
 103.6109
</td>
<td align="right">
 103.6380
</td>
<td align="right">
 103.7891
</td>
<td align="right">
   .0272
</td>
<td align="right">
   .1511
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
03:25:00
</td>
<td align="right">
  .56
</td>
<td align="right">
 103.6438
</td>
<td align="right">
 103.5313
</td>
<td align="right">
 103.8129
</td>
<td align="right">
  -.1125
</td>
<td align="right">
   .2816
</td>
<td align="right">
 -.0011
</td>
<td align="right">
  .0027
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
04:15:00
</td>
<td align="right">
  .58
</td>
<td align="right">
 103.5250
</td>
<td align="right">
 103.5547
</td>
<td align="right">
 104.0521
</td>
<td align="right">
   .0297
</td>
<td align="right">
   .4974
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0048
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
04:20:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 103.5193
</td>
<td align="right">
 103.5445
</td>
<td align="right">
 104.0332
</td>
<td align="right">
   .0252
</td>
<td align="right">
   .4887
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0047
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
04:25:00
</td>
<td align="right">
  .73
</td>
<td align="right">
 103.5313
</td>
<td align="right">
 103.5577
</td>
<td align="right">
 104.0497
</td>
<td align="right">
   .0264
</td>
<td align="right">
   .4920
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0048
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-05-08
15:55:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.6158
</td>
<td align="right">
   1.6156
</td>
<td align="right">
   1.6157
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-05-09
13:40:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.6097
</td>
<td align="right">
   1.6100
</td>
<td align="right">
   1.6144
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0045
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-05-09
13:45:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.6091
</td>
<td align="right">
   1.6095
</td>
<td align="right">
   1.6147
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0052
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-05-09
15:45:00
</td>
<td align="right">
  .84
</td>
<td align="right">
   1.6129
</td>
<td align="right">
   1.6127
</td>
<td align="right">
   1.6132
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-05-10
14:50:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.6159
</td>
<td align="right">
   1.6159
</td>
<td align="right">
   1.6147
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-05-10
12:50:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .9990
</td>
<td align="right">
    .9990
</td>
<td align="right">
   1.0012
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0022
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-05-10
15:35:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.0015
</td>
<td align="right">
   1.0014
</td>
<td align="right">
   1.0034
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0020
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
08:10:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9226
</td>
<td align="right">
    .9223
</td>
<td align="right">
    .9245
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0022
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
09:10:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9223
</td>
<td align="right">
    .9225
</td>
<td align="right">
    .9250
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0024
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
09:15:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .9224
</td>
<td align="right">
    .9225
</td>
<td align="right">
    .9249
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0025
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0027
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
09:55:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .9230
</td>
<td align="right">
    .9224
</td>
<td align="right">
    .9228
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
10:00:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .9227
</td>
<td align="right">
    .9220
</td>
<td align="right">
    .9230
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
10:15:00
</td>
<td align="right">
  .67
</td>
<td align="right">
    .9225
</td>
<td align="right">
    .9217
</td>
<td align="right">
    .9224
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
10:20:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .9226
</td>
<td align="right">
    .9217
</td>
<td align="right">
    .9230
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0012
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
10:40:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .9222
</td>
<td align="right">
    .9223
</td>
<td align="right">
    .9235
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0013
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
10:45:00
</td>
<td align="right">
  .83
</td>
<td align="right">
    .9222
</td>
<td align="right">
    .9223
</td>
<td align="right">
    .9235
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
10:50:00
</td>
<td align="right">
  .72
</td>
<td align="right">
    .9222
</td>
<td align="right">
    .9217
</td>
<td align="right">
    .9234
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0017
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
10:55:00
</td>
<td align="right">
  .66
</td>
<td align="right">
    .9224
</td>
<td align="right">
    .9218
</td>
<td align="right">
    .9233
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0016
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
11:00:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .9220
</td>
<td align="right">
    .9222
</td>
<td align="right">
    .9235
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0013
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
16:05:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .9229
</td>
<td align="right">
    .9230
</td>
<td align="right">
    .9238
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
16:20:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .9230
</td>
<td align="right">
    .9227
</td>
<td align="right">
    .9243
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0016
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
16:30:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .9234
</td>
<td align="right">
    .9226
</td>
<td align="right">
    .9245
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
16:40:00
</td>
<td align="right">
  .68
</td>
<td align="right">
    .9235
</td>
<td align="right">
    .9223
</td>
<td align="right">
    .9245
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   .0022
</td>
<td align="right">
 -.0014
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
17:05:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .9230
</td>
<td align="right">
    .9222
</td>
<td align="right">
    .9244
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0022
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
17:10:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .9228
</td>
<td align="right">
    .9226
</td>
<td align="right">
    .9244
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0018
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
17:30:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9226
</td>
<td align="right">
    .9221
</td>
<td align="right">
    .9246
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0025
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0027
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
17:40:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .9223
</td>
<td align="right">
    .9221
</td>
<td align="right">
    .9245
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0024
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
18:05:00
</td>
<td align="right">
  .66
</td>
<td align="right">
    .9222
</td>
<td align="right">
    .9219
</td>
<td align="right">
    .9241
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0022
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-08
22:40:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .9244
</td>
<td align="right">
    .9245
</td>
<td align="right">
    .9258
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0013
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
00:00:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .9242
</td>
<td align="right">
    .9245
</td>
<td align="right">
    .9256
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0011
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
04:40:00
</td>
<td align="right">
  .70
</td>
<td align="right">
    .9258
</td>
<td align="right">
    .9256
</td>
<td align="right">
    .9260
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
05:25:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9256
</td>
<td align="right">
    .9247
</td>
<td align="right">
    .9258
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
05:30:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .9256
</td>
<td align="right">
    .9248
</td>
<td align="right">
    .9259
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
05:50:00
</td>
<td align="right">
  .55
</td>
<td align="right">
    .9258
</td>
<td align="right">
    .9251
</td>
<td align="right">
    .9258
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
05:55:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9256
</td>
<td align="right">
    .9252
</td>
<td align="right">
    .9261
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
06:00:00
</td>
<td align="right">
  .68
</td>
<td align="right">
    .9256
</td>
<td align="right">
    .9254
</td>
<td align="right">
    .9260
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
06:05:00
</td>
<td align="right">
  .77
</td>
<td align="right">
    .9252
</td>
<td align="right">
    .9249
</td>
<td align="right">
    .9261
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0013
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
06:10:00
</td>
<td align="right">
  .61
</td>
<td align="right">
    .9251
</td>
<td align="right">
    .9251
</td>
<td align="right">
    .9273
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0022
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
06:15:00
</td>
<td align="right">
  .66
</td>
<td align="right">
    .9254
</td>
<td align="right">
    .9254
</td>
<td align="right">
    .9277
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0023
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
06:30:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .9248
</td>
<td align="right">
    .9249
</td>
<td align="right">
    .9281
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0032
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0035
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
06:35:00
</td>
<td align="right">
  .61
</td>
<td align="right">
    .9250
</td>
<td align="right">
    .9250
</td>
<td align="right">
    .9278
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0028
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0031
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
06:45:00
</td>
<td align="right">
  .77
</td>
<td align="right">
    .9249
</td>
<td align="right">
    .9253
</td>
<td align="right">
    .9286
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0034
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0036
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
06:50:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .9251
</td>
<td align="right">
    .9248
</td>
<td align="right">
    .9283
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0035
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0038
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
06:55:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9252
</td>
<td align="right">
    .9245
</td>
<td align="right">
    .9282
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0038
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0041
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
07:00:00
</td>
<td align="right">
  .74
</td>
<td align="right">
    .9254
</td>
<td align="right">
    .9242
</td>
<td align="right">
    .9286
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0044
</td>
<td align="right">
 -.0013
</td>
<td align="right">
  .0048
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
07:05:00
</td>
<td align="right">
  .67
</td>
<td align="right">
    .9249
</td>
<td align="right">
    .9242
</td>
<td align="right">
    .9280
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0039
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0042
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
07:10:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .9251
</td>
<td align="right">
    .9248
</td>
<td align="right">
    .9280
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0032
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0034
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
15:10:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .9279
</td>
<td align="right">
    .9274
</td>
<td align="right">
    .9288
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0015
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
15:20:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .9278
</td>
<td align="right">
    .9275
</td>
<td align="right">
    .9289
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0014
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
15:25:00
</td>
<td align="right">
  .78
</td>
<td align="right">
    .9278
</td>
<td align="right">
    .9275
</td>
<td align="right">
    .9289
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0014
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
15:30:00
</td>
<td align="right">
  .80
</td>
<td align="right">
    .9279
</td>
<td align="right">
    .9278
</td>
<td align="right">
    .9288
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
15:40:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .9279
</td>
<td align="right">
    .9280
</td>
<td align="right">
    .9286
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
15:55:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .9272
</td>
<td align="right">
    .9275
</td>
<td align="right">
    .9287
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0011
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
17:20:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .9270
</td>
<td align="right">
    .9266
</td>
<td align="right">
    .9290
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0024
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
19:25:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .9284
</td>
<td align="right">
    .9283
</td>
<td align="right">
    .9279
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
19:30:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .9281
</td>
<td align="right">
    .9283
</td>
<td align="right">
    .9279
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
20:50:00
</td>
<td align="right">
  .55
</td>
<td align="right">
    .9287
</td>
<td align="right">
    .9286
</td>
<td align="right">
    .9285
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
20:55:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .9289
</td>
<td align="right">
    .9287
</td>
<td align="right">
    .9283
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0004
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
21:15:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .9287
</td>
<td align="right">
    .9289
</td>
<td align="right">
    .9284
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
21:40:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .9289
</td>
<td align="right">
    .9287
</td>
<td align="right">
    .9280
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
21:45:00
</td>
<td align="right">
  .70
</td>
<td align="right">
    .9288
</td>
<td align="right">
    .9287
</td>
<td align="right">
    .9280
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
21:55:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .9286
</td>
<td align="right">
    .9284
</td>
<td align="right">
    .9281
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
22:10:00
</td>
<td align="right">
  .71
</td>
<td align="right">
    .9287
</td>
<td align="right">
    .9285
</td>
<td align="right">
    .9278
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-05-09
22:15:00
</td>
<td align="right">
  .74
</td>
<td align="right">
    .9289
</td>
<td align="right">
    .9285
</td>
<td align="right">
    .9280
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0005
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-05-08
12:15:00
</td>
<td align="right">
  .58
</td>
<td align="right">
  79.8375
</td>
<td align="right">
  79.8475
</td>
<td align="right">
  79.8100
</td>
<td align="right">
   .0100
</td>
<td align="right">
  -.0375
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-05-08
12:30:00
</td>
<td align="right">
  .58
</td>
<td align="right">
  79.8725
</td>
<td align="right">
  79.8375
</td>
<td align="right">
  79.8000
</td>
<td align="right">
  -.0350
</td>
<td align="right">
  -.0375
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-05-08
12:35:00
</td>
<td align="right">
  .60
</td>
<td align="right">
  79.8925
</td>
<td align="right">
  79.8025
</td>
<td align="right">
  79.8125
</td>
<td align="right">
  -.0900
</td>
<td align="right">
   .0100
</td>
<td align="right">
 -.0011
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-05-09
03:30:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  79.7850
</td>
<td align="right">
  79.7675
</td>
<td align="right">
  79.6475
</td>
<td align="right">
  -.0175
</td>
<td align="right">
  -.1200
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0015
</td>
</tr>
</table>
<br />
