<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_03_18<h4>Week of: 2012_03_18 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .09
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0002
</td>
<td align="right">
   12
</td>
<td align="right">
   .0024
</td>
<td align="right">
  -.0041
</td>
<td align="right">
   .0024
</td>
<td align="right">
   .0023
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -1.40
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0040
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0323
</td>
<td align="right">
  -.0058
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0029
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.70
</td>
<td align="right">
    -.04
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   51
</td>
<td align="right">
  -.0033
</td>
<td align="right">
  -.0064
</td>
<td align="right">
   .0012
</td>
<td align="right">
   .0019
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.57
</td>
<td align="right">
    -.71
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0007
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0021
</td>
<td align="right">
  -.0014
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0010
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   74
</td>
<td align="right">
  -.0353
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.64
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  -.0028
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0055
</td>
<td align="right">
  -.0058
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0043
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .73
</td>
<td align="right">
    1.68
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0002
</td>
<td align="right">
    2
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.50
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   47
</td>
<td align="right">
  -.0135
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0006
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .66
</td>
<td align="right">
    2.26
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0008
</td>
<td align="right">
    5
</td>
<td align="right">
   .0041
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0013
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .62
</td>
<td align="right">
     .85
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0026
</td>
<td align="right">
    7
</td>
<td align="right">
   .0181
</td>
<td align="right">
  -.0042
</td>
<td align="right">
   .0043
</td>
<td align="right">
   .0030
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   63
</td>
<td align="right">
   .0037
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-03-19
00:20:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.0594
</td>
<td align="right">
   1.0600
</td>
<td align="right">
   1.0606
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-03-19
00:25:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.0595
</td>
<td align="right">
   1.0592
</td>
<td align="right">
   1.0609
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0017
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-03-19
00:40:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.0596
</td>
<td align="right">
   1.0601
</td>
<td align="right">
   1.0617
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0016
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-03-19
00:45:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.0596
</td>
<td align="right">
   1.0593
</td>
<td align="right">
   1.0618
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0025
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-03-19
00:50:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.0595
</td>
<td align="right">
   1.0592
</td>
<td align="right">
   1.0616
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0024
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-03-19
00:55:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.0595
</td>
<td align="right">
   1.0591
</td>
<td align="right">
   1.0612
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0021
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-03-19
02:30:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.0592
</td>
<td align="right">
   1.0597
</td>
<td align="right">
   1.0579
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-03-19
10:35:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.0584
</td>
<td align="right">
   1.0588
</td>
<td align="right">
   1.0607
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0019
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-03-19
14:45:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.0591
</td>
<td align="right">
   1.0609
</td>
<td align="right">
   1.0610
</td>
<td align="right">
   .0018
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0017
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-03-19
15:10:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
   1.0593
</td>
<td align="right">
   1.0611
</td>
<td align="right">
   1.0610
</td>
<td align="right">
   .0018
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0017
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-03-19
23:30:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.0606
</td>
<td align="right">
   1.0607
</td>
<td align="right">
   1.0565
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0042
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0040
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-03-20
00:15:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.0605
</td>
<td align="right">
   1.0624
</td>
<td align="right">
   1.0581
</td>
<td align="right">
   .0018
</td>
<td align="right">
  -.0043
</td>
<td align="right">
  .0017
</td>
<td align="right">
 -.0041
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-03-19
02:05:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9910
</td>
<td align="right">
    .9914
</td>
<td align="right">
    .9919
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-03-19
02:10:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
    .9911
</td>
<td align="right">
    .9914
</td>
<td align="right">
    .9921
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-03-19
10:20:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9920
</td>
<td align="right">
    .9920
</td>
<td align="right">
    .9867
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0052
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0053
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-03-19
10:45:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
    .9921
</td>
<td align="right">
    .9920
</td>
<td align="right">
    .9865
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0054
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0055
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-03-19
10:50:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9921
</td>
<td align="right">
    .9921
</td>
<td align="right">
    .9865
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0056
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0056
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-03-19
10:55:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9920
</td>
<td align="right">
    .9921
</td>
<td align="right">
    .9864
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0058
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0058
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-03-19
11:00:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .9923
</td>
<td align="right">
    .9921
</td>
<td align="right">
    .9864
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0056
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0057
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-03-19
11:05:00
</td>
<td align="right">
 -.85
</td>
<td align="right">
    .9923
</td>
<td align="right">
    .9922
</td>
<td align="right">
    .9865
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0057
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0057
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-18
21:15:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
    .9158
</td>
<td align="right">
    .9156
</td>
<td align="right">
    .9166
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-18
21:35:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .9158
</td>
<td align="right">
    .9154
</td>
<td align="right">
    .9164
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-18
21:45:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9155
</td>
<td align="right">
    .9153
</td>
<td align="right">
    .9164
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-18
21:50:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9156
</td>
<td align="right">
    .9154
</td>
<td align="right">
    .9164
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
00:45:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .9165
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9158
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
01:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9165
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
01:50:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9165
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
02:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9166
</td>
<td align="right">
    .9170
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
02:10:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9167
</td>
<td align="right">
    .9176
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
02:20:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9166
</td>
<td align="right">
    .9165
</td>
<td align="right">
    .9175
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
02:25:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9166
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9175
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
02:30:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9165
</td>
<td align="right">
    .9165
</td>
<td align="right">
    .9175
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0011
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
02:35:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9174
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
02:40:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9172
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
02:50:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9173
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
03:25:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9162
</td>
<td align="right">
    .9169
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
03:35:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9163
</td>
<td align="right">
    .9167
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
03:40:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9169
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
03:45:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9170
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
03:50:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9166
</td>
<td align="right">
    .9169
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
03:55:00
</td>
<td align="right">
 -.86
</td>
<td align="right">
    .9163
</td>
<td align="right">
    .9165
</td>
<td align="right">
    .9165
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
04:00:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .9160
</td>
<td align="right">
    .9165
</td>
<td align="right">
    .9166
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
04:05:00
</td>
<td align="right">
 -.90
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9168
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
04:10:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9171
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
04:15:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9163
</td>
<td align="right">
    .9172
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
04:20:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9170
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
04:25:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
    .9162
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9170
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
04:35:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9163
</td>
<td align="right">
    .9165
</td>
<td align="right">
    .9170
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
04:40:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9165
</td>
<td align="right">
    .9165
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
04:45:00
</td>
<td align="right">
 -.86
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9165
</td>
<td align="right">
    .9162
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
04:55:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
    .9165
</td>
<td align="right">
    .9163
</td>
<td align="right">
    .9162
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
05:00:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
    .9165
</td>
<td align="right">
    .9166
</td>
<td align="right">
    .9164
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
05:05:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9166
</td>
<td align="right">
    .9166
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
05:10:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9164
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
05:15:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .9163
</td>
<td align="right">
    .9165
</td>
<td align="right">
    .9164
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
05:20:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9164
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
05:25:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9162
</td>
<td align="right">
    .9163
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
05:30:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9162
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
05:35:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .9165
</td>
<td align="right">
    .9162
</td>
<td align="right">
    .9164
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
05:55:00
</td>
<td align="right">
 -.83
</td>
<td align="right">
    .9163
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9170
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
06:00:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9166
</td>
<td align="right">
    .9168
</td>
<td align="right">
    .9167
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
06:05:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .9166
</td>
<td align="right">
    .9165
</td>
<td align="right">
    .9169
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
06:10:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9169
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
06:15:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9165
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9167
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
06:20:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9165
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
06:25:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9162
</td>
<td align="right">
    .9163
</td>
<td align="right">
    .9162
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
06:30:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9166
</td>
<td align="right">
    .9168
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
09:20:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
    .9170
</td>
<td align="right">
    .9170
</td>
<td align="right">
    .9115
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0055
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0060
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
09:25:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9169
</td>
<td align="right">
    .9170
</td>
<td align="right">
    .9114
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0056
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0061
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
09:30:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9169
</td>
<td align="right">
    .9168
</td>
<td align="right">
    .9111
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0056
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0061
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-03-19
11:10:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9169
</td>
<td align="right">
    .9110
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0058
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0064
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-03-18
23:45:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  83.4675
</td>
<td align="right">
  83.5275
</td>
<td align="right">
  83.4075
</td>
<td align="right">
   .0600
</td>
<td align="right">
  -.1200
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-03-18
23:55:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  83.4625
</td>
<td align="right">
  83.4925
</td>
<td align="right">
  83.4025
</td>
<td align="right">
   .0300
</td>
<td align="right">
  -.0900
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-03-19
21:45:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  83.3775
</td>
<td align="right">
  83.3900
</td>
<td align="right">
  83.4250
</td>
<td align="right">
   .0125
</td>
<td align="right">
   .0350
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0004
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-03-19
01:30:00
</td>
<td align="right">
  .58
</td>
<td align="right">
  88.4561
</td>
<td align="right">
  88.3664
</td>
<td align="right">
  88.4046
</td>
<td align="right">
  -.0897
</td>
<td align="right">
   .0382
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-03-18
22:45:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.0608
</td>
<td align="right">
   1.0603
</td>
<td align="right">
   1.0606
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-03-20
04:20:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.0576
</td>
<td align="right">
   1.0562
</td>
<td align="right">
   1.0500
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  -.0061
</td>
<td align="right">
 -.0014
</td>
<td align="right">
 -.0058
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-03-20
05:10:00
</td>
<td align="right">
  .85
</td>
<td align="right">
 110.3448
</td>
<td align="right">
 110.3745
</td>
<td align="right">
 110.3904
</td>
<td align="right">
   .0297
</td>
<td align="right">
   .0159
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-03-20
05:15:00
</td>
<td align="right">
  .61
</td>
<td align="right">
 110.3688
</td>
<td align="right">
 110.3771
</td>
<td align="right">
 110.4161
</td>
<td align="right">
   .0083
</td>
<td align="right">
   .0390
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-18
21:15:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.3174
</td>
<td align="right">
   1.3178
</td>
<td align="right">
   1.3165
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-18
21:20:00
</td>
<td align="right">
  .82
</td>
<td align="right">
   1.3174
</td>
<td align="right">
   1.3180
</td>
<td align="right">
   1.3167
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-18
21:25:00
</td>
<td align="right">
  .77
</td>
<td align="right">
   1.3175
</td>
<td align="right">
   1.3179
</td>
<td align="right">
   1.3168
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-18
21:30:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.3176
</td>
<td align="right">
   1.3180
</td>
<td align="right">
   1.3167
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-18
21:45:00
</td>
<td align="right">
  .81
</td>
<td align="right">
   1.3180
</td>
<td align="right">
   1.3184
</td>
<td align="right">
   1.3169
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-18
21:50:00
</td>
<td align="right">
  .84
</td>
<td align="right">
   1.3178
</td>
<td align="right">
   1.3181
</td>
<td align="right">
   1.3168
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
00:25:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.3171
</td>
<td align="right">
   1.3170
</td>
<td align="right">
   1.3169
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
00:35:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3171
</td>
<td align="right">
   1.3173
</td>
<td align="right">
   1.3168
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
00:40:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.3171
</td>
<td align="right">
   1.3172
</td>
<td align="right">
   1.3174
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
00:45:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.3167
</td>
<td align="right">
   1.3168
</td>
<td align="right">
   1.3177
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
00:50:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.3166
</td>
<td align="right">
   1.3169
</td>
<td align="right">
   1.3174
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
00:55:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.3168
</td>
<td align="right">
   1.3169
</td>
<td align="right">
   1.3168
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
01:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.3172
</td>
<td align="right">
   1.3167
</td>
<td align="right">
   1.3167
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
01:10:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.3174
</td>
<td align="right">
   1.3167
</td>
<td align="right">
   1.3172
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
01:15:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3173
</td>
<td align="right">
   1.3164
</td>
<td align="right">
   1.3167
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
01:45:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.3168
</td>
<td align="right">
   1.3165
</td>
<td align="right">
   1.3167
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
02:05:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.3167
</td>
<td align="right">
   1.3166
</td>
<td align="right">
   1.3154
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0012
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
03:55:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.3172
</td>
<td align="right">
   1.3169
</td>
<td align="right">
   1.3164
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0005
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
04:00:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.3175
</td>
<td align="right">
   1.3169
</td>
<td align="right">
   1.3161
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0008
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
04:05:00
</td>
<td align="right">
  .78
</td>
<td align="right">
   1.3175
</td>
<td align="right">
   1.3170
</td>
<td align="right">
   1.3159
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
04:10:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.3174
</td>
<td align="right">
   1.3170
</td>
<td align="right">
   1.3157
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
04:15:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.3174
</td>
<td align="right">
   1.3170
</td>
<td align="right">
   1.3155
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0015
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
04:20:00
</td>
<td align="right">
  .80
</td>
<td align="right">
   1.3175
</td>
<td align="right">
   1.3169
</td>
<td align="right">
   1.3157
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0012
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
04:25:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.3173
</td>
<td align="right">
   1.3168
</td>
<td align="right">
   1.3157
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
04:30:00
</td>
<td align="right">
  .80
</td>
<td align="right">
   1.3174
</td>
<td align="right">
   1.3168
</td>
<td align="right">
   1.3160
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  -.0008
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
04:35:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.3173
</td>
<td align="right">
   1.3165
</td>
<td align="right">
   1.3157
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  -.0008
</td>
<td align="right">
 -.0006
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
04:40:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.3170
</td>
<td align="right">
   1.3165
</td>
<td align="right">
   1.3162
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
04:50:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.3168
</td>
<td align="right">
   1.3168
</td>
<td align="right">
   1.3164
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
04:55:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.3169
</td>
<td align="right">
   1.3168
</td>
<td align="right">
   1.3166
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
05:00:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.3169
</td>
<td align="right">
   1.3163
</td>
<td align="right">
   1.3164
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
05:10:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.3170
</td>
<td align="right">
   1.3167
</td>
<td align="right">
   1.3165
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
05:20:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.3169
</td>
<td align="right">
   1.3167
</td>
<td align="right">
   1.3165
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
05:25:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.3168
</td>
<td align="right">
   1.3169
</td>
<td align="right">
   1.3168
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
05:30:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.3168
</td>
<td align="right">
   1.3169
</td>
<td align="right">
   1.3170
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
05:35:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.3165
</td>
<td align="right">
   1.3168
</td>
<td align="right">
   1.3166
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
05:55:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.3168
</td>
<td align="right">
   1.3168
</td>
<td align="right">
   1.3157
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
06:00:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.3163
</td>
<td align="right">
   1.3164
</td>
<td align="right">
   1.3162
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
06:05:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.3164
</td>
<td align="right">
   1.3167
</td>
<td align="right">
   1.3158
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
06:10:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.3167
</td>
<td align="right">
   1.3172
</td>
<td align="right">
   1.3159
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
06:15:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.3166
</td>
<td align="right">
   1.3167
</td>
<td align="right">
   1.3162
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
06:30:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.3169
</td>
<td align="right">
   1.3164
</td>
<td align="right">
   1.3159
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0005
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
07:00:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.3164
</td>
<td align="right">
   1.3155
</td>
<td align="right">
   1.3153
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
07:05:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.3167
</td>
<td align="right">
   1.3154
</td>
<td align="right">
   1.3152
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0010
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
07:20:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3172
</td>
<td align="right">
   1.3146
</td>
<td align="right">
   1.3155
</td>
<td align="right">
  -.0025
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0019
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
07:45:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.3167
</td>
<td align="right">
   1.3150
</td>
<td align="right">
   1.3161
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0013
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
07:55:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3160
</td>
<td align="right">
   1.3146
</td>
<td align="right">
   1.3155
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0011
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-03-19
08:00:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.3155
</td>
<td align="right">
   1.3148
</td>
<td align="right">
   1.3162
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0014
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-03-19
08:45:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.5837
</td>
<td align="right">
   1.5838
</td>
<td align="right">
   1.5886
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0048
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-03-19
17:50:00
</td>
<td align="right">
  .79
</td>
<td align="right">
    .9865
</td>
<td align="right">
    .9869
</td>
<td align="right">
    .9878
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-03-19
17:55:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .9867
</td>
<td align="right">
    .9866
</td>
<td align="right">
    .9878
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0012
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-03-19
18:00:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .9867
</td>
<td align="right">
    .9868
</td>
<td align="right">
    .9878
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0010
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-03-19
18:05:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .9867
</td>
<td align="right">
    .9871
</td>
<td align="right">
    .9878
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-03-19
18:15:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .9869
</td>
<td align="right">
    .9872
</td>
<td align="right">
    .9875
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-03-19
03:20:00
</td>
<td align="right">
  .58
</td>
<td align="right">
  83.4275
</td>
<td align="right">
  83.4200
</td>
<td align="right">
  83.0675
</td>
<td align="right">
  -.0075
</td>
<td align="right">
  -.3525
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0042
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-03-19
07:30:00
</td>
<td align="right">
  .66
</td>
<td align="right">
  83.3475
</td>
<td align="right">
  83.1075
</td>
<td align="right">
  83.4475
</td>
<td align="right">
  -.2400
</td>
<td align="right">
   .3400
</td>
<td align="right">
 -.0029
</td>
<td align="right">
  .0041
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-03-19
08:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
  83.1275
</td>
<td align="right">
  83.1225
</td>
<td align="right">
  83.4825
</td>
<td align="right">
  -.0050
</td>
<td align="right">
   .3600
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0043
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-03-19
08:55:00
</td>
<td align="right">
  .71
</td>
<td align="right">
  83.1575
</td>
<td align="right">
  83.0275
</td>
<td align="right">
  83.3425
</td>
<td align="right">
  -.1300
</td>
<td align="right">
   .3150
</td>
<td align="right">
 -.0016
</td>
<td align="right">
  .0038
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-03-19
09:00:00
</td>
<td align="right">
  .60
</td>
<td align="right">
  83.1325
</td>
<td align="right">
  83.0513
</td>
<td align="right">
  83.3575
</td>
<td align="right">
  -.0813
</td>
<td align="right">
   .3063
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0037
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-03-19
09:05:00
</td>
<td align="right">
  .55
</td>
<td align="right">
  83.1225
</td>
<td align="right">
  83.1025
</td>
<td align="right">
  83.3575
</td>
<td align="right">
  -.0200
</td>
<td align="right">
   .2550
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0031
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-03-19
10:00:00
</td>
<td align="right">
  .61
</td>
<td align="right">
  83.0513
</td>
<td align="right">
  83.0625
</td>
<td align="right">
  83.3425
</td>
<td align="right">
   .0113
</td>
<td align="right">
   .2800
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0034
</td>
</tr>
</table>
<br />
