<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_04_15<h4>Week of: 2012_04_15 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.55
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   43
</td>
<td align="right">
  -.0374
</td>
<td align="right">
  -.0033
</td>
<td align="right">
   .0029
</td>
<td align="right">
   .0016
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.64
</td>
<td align="right">
    2.32
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0024
</td>
<td align="right">
    6
</td>
<td align="right">
   .0146
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0038
</td>
<td align="right">
   .0010
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -3.33
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   12
</td>
<td align="right">
  -.0145
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .09
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0001
</td>
<td align="right">
   30
</td>
<td align="right">
   .0041
</td>
<td align="right">
  -.0022
</td>
<td align="right">
   .0048
</td>
<td align="right">
   .0015
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.73
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0012
</td>
<td align="right">
    5
</td>
<td align="right">
   .0060
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0020
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .06
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0001
</td>
<td align="right">
    2
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   .0018
</td>
<td align="right">
   .0024
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -8.82
</td>
<td align="right">
   .0014
</td>
<td align="right">
  -.0030
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0119
</td>
<td align="right">
  -.0033
</td>
<td align="right">
  -.0025
</td>
<td align="right">
   .0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -1.39
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0025
</td>
<td align="right">
   56
</td>
<td align="right">
  -.1421
</td>
<td align="right">
  -.0058
</td>
<td align="right">
   .0031
</td>
<td align="right">
   .0018
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  158
</td>
<td align="right">
  -.1809
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .70
</td>
<td align="right">
    3.13
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0013
</td>
<td align="right">
    2
</td>
<td align="right">
   .0025
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0015
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .62
</td>
<td align="right">
    3.99
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0015
</td>
<td align="right">
    6
</td>
<td align="right">
   .0089
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0019
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .62
</td>
<td align="right">
     .74
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0013
</td>
<td align="right">
    6
</td>
<td align="right">
   .0075
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0046
</td>
<td align="right">
   .0017
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .61
</td>
<td align="right">
   -1.99
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0009
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0053
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .66
</td>
<td align="right">
    2.11
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0031
</td>
<td align="right">
   11
</td>
<td align="right">
   .0336
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0054
</td>
<td align="right">
   .0014
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.91
</td>
<td align="right">
  -.0014
</td>
<td align="right">
   .0027
</td>
<td align="right">
    5
</td>
<td align="right">
   .0135
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0036
</td>
<td align="right">
   .0014
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .63
</td>
<td align="right">
     .19
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0001
</td>
<td align="right">
   20
</td>
<td align="right">
   .0028
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0014
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.31
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   27
</td>
<td align="right">
  -.0253
</td>
<td align="right">
  -.0040
</td>
<td align="right">
   .0042
</td>
<td align="right">
   .0030
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .63
</td>
<td align="right">
     .22
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0002
</td>
<td align="right">
   11
</td>
<td align="right">
   .0027
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0035
</td>
<td align="right">
   .0011
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   94
</td>
<td align="right">
   .0409
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-16
20:30:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  83.2571
</td>
<td align="right">
  83.2528
</td>
<td align="right">
  83.1916
</td>
<td align="right">
  -.0043
</td>
<td align="right">
  -.0612
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-16
21:15:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  83.2959
</td>
<td align="right">
  83.2947
</td>
<td align="right">
  83.1755
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  -.1193
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-16
21:20:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  83.3103
</td>
<td align="right">
  83.3014
</td>
<td align="right">
  83.1565
</td>
<td align="right">
  -.0089
</td>
<td align="right">
  -.1448
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-16
21:25:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
  83.3057
</td>
<td align="right">
  83.3059
</td>
<td align="right">
  83.1508
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.1551
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-16
21:35:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  83.2709
</td>
<td align="right">
  83.2778
</td>
<td align="right">
  83.1207
</td>
<td align="right">
   .0069
</td>
<td align="right">
  -.1571
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-16
21:45:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
  83.2528
</td>
<td align="right">
  83.3148
</td>
<td align="right">
  83.1287
</td>
<td align="right">
   .0620
</td>
<td align="right">
  -.1861
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-16
22:50:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
  83.2969
</td>
<td align="right">
  83.2652
</td>
<td align="right">
  83.0971
</td>
<td align="right">
  -.0318
</td>
<td align="right">
  -.1680
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-16
23:00:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  83.2627
</td>
<td align="right">
  83.2600
</td>
<td align="right">
  82.9886
</td>
<td align="right">
  -.0027
</td>
<td align="right">
  -.2714
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0033
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
17:55:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  84.1521
</td>
<td align="right">
  84.1288
</td>
<td align="right">
  84.3743
</td>
<td align="right">
  -.0234
</td>
<td align="right">
   .2455
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0029
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
18:15:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
  84.1773
</td>
<td align="right">
  84.2092
</td>
<td align="right">
  84.3499
</td>
<td align="right">
   .0319
</td>
<td align="right">
   .1407
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
18:35:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  84.1000
</td>
<td align="right">
  84.2554
</td>
<td align="right">
  84.3792
</td>
<td align="right">
   .1554
</td>
<td align="right">
   .1237
</td>
<td align="right">
  .0018
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
19:10:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  84.2174
</td>
<td align="right">
  84.2919
</td>
<td align="right">
  84.2714
</td>
<td align="right">
   .0745
</td>
<td align="right">
  -.0205
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
19:15:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  84.2092
</td>
<td align="right">
  84.2811
</td>
<td align="right">
  84.2390
</td>
<td align="right">
   .0719
</td>
<td align="right">
  -.0422
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
19:20:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  84.1809
</td>
<td align="right">
  84.3082
</td>
<td align="right">
  84.2139
</td>
<td align="right">
   .1272
</td>
<td align="right">
  -.0943
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
19:35:00
</td>
<td align="right">
 -.88
</td>
<td align="right">
  84.2554
</td>
<td align="right">
  84.3528
</td>
<td align="right">
  84.2193
</td>
<td align="right">
   .0974
</td>
<td align="right">
  -.1335
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
19:40:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
  84.2759
</td>
<td align="right">
  84.3409
</td>
<td align="right">
  84.1664
</td>
<td align="right">
   .0650
</td>
<td align="right">
  -.1745
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
19:45:00
</td>
<td align="right">
 -.85
</td>
<td align="right">
  84.3116
</td>
<td align="right">
  84.3513
</td>
<td align="right">
  84.1925
</td>
<td align="right">
   .0397
</td>
<td align="right">
  -.1587
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
20:00:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
  84.3248
</td>
<td align="right">
  84.3615
</td>
<td align="right">
  84.2198
</td>
<td align="right">
   .0367
</td>
<td align="right">
  -.1417
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
20:05:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
  84.3196
</td>
<td align="right">
  84.3748
</td>
<td align="right">
  84.2450
</td>
<td align="right">
   .0552
</td>
<td align="right">
  -.1298
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
20:10:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
  84.2919
</td>
<td align="right">
  84.3441
</td>
<td align="right">
  84.2373
</td>
<td align="right">
   .0522
</td>
<td align="right">
  -.1068
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
20:15:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  84.2811
</td>
<td align="right">
  84.3600
</td>
<td align="right">
  84.2180
</td>
<td align="right">
   .0789
</td>
<td align="right">
  -.1420
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
20:20:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
  84.3082
</td>
<td align="right">
  84.3718
</td>
<td align="right">
  84.2650
</td>
<td align="right">
   .0636
</td>
<td align="right">
  -.1068
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
20:25:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
  84.3180
</td>
<td align="right">
  84.3683
</td>
<td align="right">
  84.2179
</td>
<td align="right">
   .0503
</td>
<td align="right">
  -.1504
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
20:30:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  84.3456
</td>
<td align="right">
  84.3620
</td>
<td align="right">
  84.2323
</td>
<td align="right">
   .0165
</td>
<td align="right">
  -.1298
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
20:35:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  84.3528
</td>
<td align="right">
  84.3537
</td>
<td align="right">
  84.2029
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.1508
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
20:50:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
  84.3209
</td>
<td align="right">
  84.3430
</td>
<td align="right">
  84.2471
</td>
<td align="right">
   .0220
</td>
<td align="right">
  -.0959
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
20:55:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  84.2995
</td>
<td align="right">
  84.3246
</td>
<td align="right">
  84.2615
</td>
<td align="right">
   .0252
</td>
<td align="right">
  -.0631
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
22:00:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  84.3151
</td>
<td align="right">
  84.4959
</td>
<td align="right">
  84.2271
</td>
<td align="right">
   .1808
</td>
<td align="right">
  -.2688
</td>
<td align="right">
  .0021
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
22:10:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  84.3246
</td>
<td align="right">
  84.4446
</td>
<td align="right">
  84.1831
</td>
<td align="right">
   .1200
</td>
<td align="right">
  -.2615
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
22:30:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  84.3732
</td>
<td align="right">
  84.4130
</td>
<td align="right">
  84.2560
</td>
<td align="right">
   .0399
</td>
<td align="right">
  -.1571
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
22:50:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  84.4812
</td>
<td align="right">
  84.4555
</td>
<td align="right">
  84.1933
</td>
<td align="right">
  -.0257
</td>
<td align="right">
  -.2622
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-20
01:55:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  84.1664
</td>
<td align="right">
  84.2080
</td>
<td align="right">
  84.3578
</td>
<td align="right">
   .0415
</td>
<td align="right">
   .1498
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-20
07:35:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
  84.4091
</td>
<td align="right">
  84.3921
</td>
<td align="right">
  84.6262
</td>
<td align="right">
  -.0170
</td>
<td align="right">
   .2341
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-20
10:20:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  84.5251
</td>
<td align="right">
  84.5102
</td>
<td align="right">
  84.6724
</td>
<td align="right">
  -.0149
</td>
<td align="right">
   .1622
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-20
10:30:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
  84.5030
</td>
<td align="right">
  84.5115
</td>
<td align="right">
  84.6871
</td>
<td align="right">
   .0085
</td>
<td align="right">
   .1755
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-20
11:00:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  84.5667
</td>
<td align="right">
  84.6544
</td>
<td align="right">
  84.6641
</td>
<td align="right">
   .0877
</td>
<td align="right">
   .0097
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-20
11:05:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  84.5740
</td>
<td align="right">
  84.6595
</td>
<td align="right">
  84.7091
</td>
<td align="right">
   .0854
</td>
<td align="right">
   .0497
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-20
11:25:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
  84.5217
</td>
<td align="right">
  84.6388
</td>
<td align="right">
  84.6776
</td>
<td align="right">
   .1170
</td>
<td align="right">
   .0389
</td>
<td align="right">
  .0014
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-20
13:00:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  84.4831
</td>
<td align="right">
  84.6293
</td>
<td align="right">
  84.5825
</td>
<td align="right">
   .1463
</td>
<td align="right">
  -.0468
</td>
<td align="right">
  .0017
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-20
13:20:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  84.6142
</td>
<td align="right">
  84.6931
</td>
<td align="right">
  84.5621
</td>
<td align="right">
   .0789
</td>
<td align="right">
  -.1310
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-20
13:40:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  84.5697
</td>
<td align="right">
  84.6900
</td>
<td align="right">
  84.6033
</td>
<td align="right">
   .1203
</td>
<td align="right">
  -.0867
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-20
13:45:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  84.5945
</td>
<td align="right">
  84.6802
</td>
<td align="right">
  84.5792
</td>
<td align="right">
   .0857
</td>
<td align="right">
  -.1010
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-20
14:05:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
  84.6523
</td>
<td align="right">
  84.6385
</td>
<td align="right">
  84.5907
</td>
<td align="right">
  -.0138
</td>
<td align="right">
  -.0477
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-16
01:40:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.0325
</td>
<td align="right">
   1.0322
</td>
<td align="right">
   1.0331
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-16
02:35:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
   1.0323
</td>
<td align="right">
   1.0322
</td>
<td align="right">
   1.0342
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-16
04:25:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.0317
</td>
<td align="right">
   1.0322
</td>
<td align="right">
   1.0361
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0040
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0038
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-16
04:30:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.0319
</td>
<td align="right">
   1.0329
</td>
<td align="right">
   1.0357
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0029
</td>
<td align="right">
  .0009
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-16
04:40:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.0317
</td>
<td align="right">
   1.0323
</td>
<td align="right">
   1.0355
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0033
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-16
04:55:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.0315
</td>
<td align="right">
   1.0331
</td>
<td align="right">
   1.0352
</td>
<td align="right">
   .0016
</td>
<td align="right">
   .0021
</td>
<td align="right">
  .0016
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-20
08:45:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
   1.2741
</td>
<td align="right">
   1.2752
</td>
<td align="right">
   1.2737
</td>
<td align="right">
   .0011
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-20
08:50:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.2742
</td>
<td align="right">
   1.2746
</td>
<td align="right">
   1.2734
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-20
08:55:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.2744
</td>
<td align="right">
   1.2745
</td>
<td align="right">
   1.2733
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-20
09:00:00
</td>
<td align="right">
 -.83
</td>
<td align="right">
   1.2743
</td>
<td align="right">
   1.2745
</td>
<td align="right">
   1.2737
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-20
09:10:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.2740
</td>
<td align="right">
   1.2746
</td>
<td align="right">
   1.2739
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-20
09:15:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.2739
</td>
<td align="right">
   1.2754
</td>
<td align="right">
   1.2736
</td>
<td align="right">
   .0015
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-20
09:20:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.2739
</td>
<td align="right">
   1.2755
</td>
<td align="right">
   1.2737
</td>
<td align="right">
   .0016
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-20
09:25:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.2741
</td>
<td align="right">
   1.2756
</td>
<td align="right">
   1.2737
</td>
<td align="right">
   .0016
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-20
09:30:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.2752
</td>
<td align="right">
   1.2756
</td>
<td align="right">
   1.2737
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-20
09:40:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
   1.2753
</td>
<td align="right">
   1.2760
</td>
<td align="right">
   1.2740
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0020
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-20
10:10:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.2746
</td>
<td align="right">
   1.2752
</td>
<td align="right">
   1.2733
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-20
10:15:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.2754
</td>
<td align="right">
   1.2751
</td>
<td align="right">
   1.2733
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0018
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-04-19
08:15:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .8185
</td>
<td align="right">
    .8185
</td>
<td align="right">
    .8182
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-17
05:00:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 105.4094
</td>
<td align="right">
 105.4097
</td>
<td align="right">
 105.9113
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .5016
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0048
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-17
07:15:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 105.6287
</td>
<td align="right">
 105.7140
</td>
<td align="right">
 105.8911
</td>
<td align="right">
   .0853
</td>
<td align="right">
   .1771
</td>
<td align="right">
  .0008
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-17
08:30:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
 105.8522
</td>
<td align="right">
 106.1059
</td>
<td align="right">
 106.0046
</td>
<td align="right">
   .2537
</td>
<td align="right">
  -.1013
</td>
<td align="right">
  .0024
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-17
10:10:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 105.9525
</td>
<td align="right">
 105.9800
</td>
<td align="right">
 105.9004
</td>
<td align="right">
   .0275
</td>
<td align="right">
  -.0796
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-17
10:15:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 105.9667
</td>
<td align="right">
 106.0315
</td>
<td align="right">
 105.9362
</td>
<td align="right">
   .0648
</td>
<td align="right">
  -.0953
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-17
12:20:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
 105.9194
</td>
<td align="right">
 105.9653
</td>
<td align="right">
 106.1022
</td>
<td align="right">
   .0460
</td>
<td align="right">
   .1369
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-17
23:40:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
 106.4022
</td>
<td align="right">
 106.5402
</td>
<td align="right">
 106.7613
</td>
<td align="right">
   .1381
</td>
<td align="right">
   .2211
</td>
<td align="right">
  .0013
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-17
23:55:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
 106.4796
</td>
<td align="right">
 106.6562
</td>
<td align="right">
 106.7103
</td>
<td align="right">
   .1766
</td>
<td align="right">
   .0541
</td>
<td align="right">
  .0017
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-18
00:10:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 106.4524
</td>
<td align="right">
 106.6151
</td>
<td align="right">
 106.7257
</td>
<td align="right">
   .1627
</td>
<td align="right">
   .1106
</td>
<td align="right">
  .0015
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-18
00:15:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
 106.4494
</td>
<td align="right">
 106.6112
</td>
<td align="right">
 106.7112
</td>
<td align="right">
   .1619
</td>
<td align="right">
   .1000
</td>
<td align="right">
  .0015
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-18
00:20:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 106.4059
</td>
<td align="right">
 106.6251
</td>
<td align="right">
 106.7240
</td>
<td align="right">
   .2192
</td>
<td align="right">
   .0989
</td>
<td align="right">
  .0021
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-18
00:25:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
 106.4668
</td>
<td align="right">
 106.6648
</td>
<td align="right">
 106.7313
</td>
<td align="right">
   .1980
</td>
<td align="right">
   .0664
</td>
<td align="right">
  .0019
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-18
01:10:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 106.6151
</td>
<td align="right">
 106.5795
</td>
<td align="right">
 106.4324
</td>
<td align="right">
  -.0356
</td>
<td align="right">
  -.1471
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-18
01:40:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 106.5433
</td>
<td align="right">
 106.7293
</td>
<td align="right">
 106.5090
</td>
<td align="right">
   .1860
</td>
<td align="right">
  -.2203
</td>
<td align="right">
  .0017
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-18
01:55:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 106.4609
</td>
<td align="right">
 106.6748
</td>
<td align="right">
 106.6423
</td>
<td align="right">
   .2140
</td>
<td align="right">
  -.0326
</td>
<td align="right">
  .0020
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-18
02:25:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
 106.6741
</td>
<td align="right">
 106.8042
</td>
<td align="right">
 106.6805
</td>
<td align="right">
   .1301
</td>
<td align="right">
  -.1238
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-18
02:35:00
</td>
<td align="right">
 -.86
</td>
<td align="right">
 106.6625
</td>
<td align="right">
 106.8846
</td>
<td align="right">
 106.7616
</td>
<td align="right">
   .2221
</td>
<td align="right">
  -.1229
</td>
<td align="right">
  .0021
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-18
03:05:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 106.7425
</td>
<td align="right">
 106.7528
</td>
<td align="right">
 106.6897
</td>
<td align="right">
   .0103
</td>
<td align="right">
  -.0631
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-18
07:10:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
 106.4324
</td>
<td align="right">
 106.6143
</td>
<td align="right">
 106.3844
</td>
<td align="right">
   .1818
</td>
<td align="right">
  -.2299
</td>
<td align="right">
  .0017
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-18
07:55:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 106.6423
</td>
<td align="right">
 106.6669
</td>
<td align="right">
 106.5315
</td>
<td align="right">
   .0247
</td>
<td align="right">
  -.1354
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-19
00:10:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 106.8128
</td>
<td align="right">
 106.9623
</td>
<td align="right">
 106.8517
</td>
<td align="right">
   .1495
</td>
<td align="right">
  -.1106
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-19
00:55:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
 106.8381
</td>
<td align="right">
 106.9010
</td>
<td align="right">
 106.8826
</td>
<td align="right">
   .0629
</td>
<td align="right">
  -.0183
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-19
01:35:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
 106.8718
</td>
<td align="right">
 106.9398
</td>
<td align="right">
 106.9308
</td>
<td align="right">
   .0680
</td>
<td align="right">
  -.0089
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-19
01:40:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
 106.9470
</td>
<td align="right">
 106.9504
</td>
<td align="right">
 106.9757
</td>
<td align="right">
   .0034
</td>
<td align="right">
   .0252
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-19
01:45:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 106.9416
</td>
<td align="right">
 106.9349
</td>
<td align="right">
 107.0043
</td>
<td align="right">
  -.0067
</td>
<td align="right">
   .0694
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-19
09:40:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
 107.1384
</td>
<td align="right">
 107.1253
</td>
<td align="right">
 107.1048
</td>
<td align="right">
  -.0130
</td>
<td align="right">
  -.0205
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-19
09:50:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
 107.1047
</td>
<td align="right">
 107.1377
</td>
<td align="right">
 107.1679
</td>
<td align="right">
   .0330
</td>
<td align="right">
   .0302
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-19
20:55:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 107.2032
</td>
<td align="right">
 107.2135
</td>
<td align="right">
 107.2447
</td>
<td align="right">
   .0103
</td>
<td align="right">
   .0312
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-19
23:30:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 107.2769
</td>
<td align="right">
 107.2428
</td>
<td align="right">
 107.1627
</td>
<td align="right">
  -.0341
</td>
<td align="right">
  -.0801
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-20
02:25:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
 107.2180
</td>
<td align="right">
 107.2144
</td>
<td align="right">
 107.6106
</td>
<td align="right">
  -.0036
</td>
<td align="right">
   .3962
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0037
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-19
14:15:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.3138
</td>
<td align="right">
   1.3133
</td>
<td align="right">
   1.3136
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-19
16:00:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.3121
</td>
<td align="right">
   1.3125
</td>
<td align="right">
   1.3138
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0013
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-19
16:05:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.3121
</td>
<td align="right">
   1.3125
</td>
<td align="right">
   1.3139
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0013
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-20
10:10:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.3171
</td>
<td align="right">
   1.3190
</td>
<td align="right">
   1.3213
</td>
<td align="right">
   .0019
</td>
<td align="right">
   .0022
</td>
<td align="right">
  .0015
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-20
10:15:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.3187
</td>
<td align="right">
   1.3187
</td>
<td align="right">
   1.3214
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0027
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-16
10:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.5847
</td>
<td align="right">
   1.5842
</td>
<td align="right">
   1.5871
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0029
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-17
10:30:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.5950
</td>
<td align="right">
   1.5957
</td>
<td align="right">
   1.5932
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-16
14:45:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.0010
</td>
<td align="right">
   1.0023
</td>
<td align="right">
    .9994
</td>
<td align="right">
   .0013
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  .0013
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-16
15:05:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.0014
</td>
<td align="right">
   1.0023
</td>
<td align="right">
    .9998
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-16
15:15:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
   1.0013
</td>
<td align="right">
   1.0033
</td>
<td align="right">
    .9999
</td>
<td align="right">
   .0020
</td>
<td align="right">
  -.0033
</td>
<td align="right">
  .0019
</td>
<td align="right">
 -.0033
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-16
15:20:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.0016
</td>
<td align="right">
   1.0030
</td>
<td align="right">
    .9999
</td>
<td align="right">
   .0015
</td>
<td align="right">
  -.0031
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-16
09:55:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9228
</td>
<td align="right">
    .9231
</td>
<td align="right">
    .9199
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0032
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-16
10:05:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9226
</td>
<td align="right">
    .9232
</td>
<td align="right">
    .9195
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0037
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0040
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-16
10:10:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
    .9225
</td>
<td align="right">
    .9232
</td>
<td align="right">
    .9197
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0035
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-16
10:15:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .9228
</td>
<td align="right">
    .9232
</td>
<td align="right">
    .9199
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0034
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0036
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-16
10:20:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .9224
</td>
<td align="right">
    .9232
</td>
<td align="right">
    .9197
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0035
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-16
10:25:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
    .9222
</td>
<td align="right">
    .9229
</td>
<td align="right">
    .9197
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0032
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-16
10:30:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9224
</td>
<td align="right">
    .9228
</td>
<td align="right">
    .9196
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0032
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-16
10:35:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .9226
</td>
<td align="right">
    .9229
</td>
<td align="right">
    .9197
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0032
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-16
10:40:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
    .9227
</td>
<td align="right">
    .9231
</td>
<td align="right">
    .9198
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0033
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0036
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-16
10:45:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
    .9228
</td>
<td align="right">
    .9232
</td>
<td align="right">
    .9194
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0038
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0041
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-16
10:50:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
    .9227
</td>
<td align="right">
    .9235
</td>
<td align="right">
    .9194
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0041
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0044
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-16
10:55:00
</td>
<td align="right">
 -.85
</td>
<td align="right">
    .9231
</td>
<td align="right">
    .9235
</td>
<td align="right">
    .9182
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0053
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0058
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-16
11:00:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
    .9230
</td>
<td align="right">
    .9235
</td>
<td align="right">
    .9185
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0050
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0054
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-17
00:10:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
    .9160
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9170
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-17
00:20:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .9160
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9173
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-17
01:20:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9170
</td>
<td align="right">
    .9156
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
07:05:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
    .9172
</td>
<td align="right">
    .9174
</td>
<td align="right">
    .9202
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0028
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0031
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
08:45:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
    .9187
</td>
<td align="right">
    .9188
</td>
<td align="right">
    .9159
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
08:55:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
    .9189
</td>
<td align="right">
    .9186
</td>
<td align="right">
    .9161
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0024
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
09:00:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .9189
</td>
<td align="right">
    .9191
</td>
<td align="right">
    .9156
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0035
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
09:05:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9185
</td>
<td align="right">
    .9195
</td>
<td align="right">
    .9164
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0031
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0033
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
09:10:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9184
</td>
<td align="right">
    .9191
</td>
<td align="right">
    .9165
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0027
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
09:15:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9182
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9164
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0027
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0030
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
09:20:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9185
</td>
<td align="right">
    .9188
</td>
<td align="right">
    .9168
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0021
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
09:30:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9194
</td>
<td align="right">
    .9169
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0024
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
10:10:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
    .9191
</td>
<td align="right">
    .9197
</td>
<td align="right">
    .9160
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0037
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0040
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
10:15:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9161
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0031
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0033
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
10:35:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .9196
</td>
<td align="right">
    .9198
</td>
<td align="right">
    .9163
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0035
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
10:45:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9199
</td>
<td align="right">
    .9165
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0035
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
10:50:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9193
</td>
<td align="right">
    .9194
</td>
<td align="right">
    .9164
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
10:55:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9194
</td>
<td align="right">
    .9195
</td>
<td align="right">
    .9165
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
11:40:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9195
</td>
<td align="right">
    .9195
</td>
<td align="right">
    .9169
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0026
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
11:50:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9194
</td>
<td align="right">
    .9208
</td>
<td align="right">
    .9168
</td>
<td align="right">
   .0014
</td>
<td align="right">
  -.0040
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0044
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
12:10:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .9189
</td>
<td align="right">
    .9197
</td>
<td align="right">
    .9166
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0032
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
12:15:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
    .9191
</td>
<td align="right">
    .9203
</td>
<td align="right">
    .9166
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0037
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0041
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
12:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9196
</td>
<td align="right">
    .9160
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0036
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0039
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
20:50:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9160
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9164
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
20:55:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .9159
</td>
<td align="right">
    .9162
</td>
<td align="right">
    .9165
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
21:25:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .9162
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9164
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-19
02:55:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9165
</td>
<td align="right">
    .9149
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-19
04:45:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9168
</td>
<td align="right">
    .9173
</td>
<td align="right">
    .9164
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-19
04:50:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9167
</td>
<td align="right">
    .9173
</td>
<td align="right">
    .9163
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-19
04:55:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
    .9167
</td>
<td align="right">
    .9170
</td>
<td align="right">
    .9164
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-19
05:05:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9163
</td>
<td align="right">
    .9170
</td>
<td align="right">
    .9160
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-19
05:25:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .9167
</td>
<td align="right">
    .9166
</td>
<td align="right">
    .9182
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0016
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-19
10:30:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9163
</td>
<td align="right">
    .9189
</td>
<td align="right">
    .9161
</td>
<td align="right">
   .0026
</td>
<td align="right">
  -.0028
</td>
<td align="right">
  .0028
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-19
11:25:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
    .9182
</td>
<td align="right">
    .9185
</td>
<td align="right">
    .9157
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0028
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0030
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-19
11:30:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9189
</td>
<td align="right">
    .9187
</td>
<td align="right">
    .9154
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0033
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0036
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-19
11:35:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .9190
</td>
<td align="right">
    .9189
</td>
<td align="right">
    .9154
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0035
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-19
11:40:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9189
</td>
<td align="right">
    .9188
</td>
<td align="right">
    .9155
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0033
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0035
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-19
11:45:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9190
</td>
<td align="right">
    .9189
</td>
<td align="right">
    .9155
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0034
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-19
11:50:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
    .9186
</td>
<td align="right">
    .9185
</td>
<td align="right">
    .9162
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0023
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-19
14:30:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9144
</td>
<td align="right">
    .9154
</td>
<td align="right">
    .9150
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-19
15:40:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9152
</td>
<td align="right">
    .9163
</td>
<td align="right">
    .9152
</td>
<td align="right">
   .0011
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-19
15:50:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
    .9151
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9152
</td>
<td align="right">
   .0013
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-19
16:55:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9163
</td>
<td align="right">
    .9149
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-04-19
10:40:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  81.6675
</td>
<td align="right">
  81.6575
</td>
<td align="right">
  81.4975
</td>
<td align="right">
  -.0100
</td>
<td align="right">
  -.1600
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0020
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-19
15:55:00
</td>
<td align="right">
  .75
</td>
<td align="right">
  84.3139
</td>
<td align="right">
  84.1940
</td>
<td align="right">
  84.3246
</td>
<td align="right">
  -.1199
</td>
<td align="right">
   .1306
</td>
<td align="right">
 -.0014
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-20
03:35:00
</td>
<td align="right">
  .66
</td>
<td align="right">
  84.2668
</td>
<td align="right">
  84.2327
</td>
<td align="right">
  84.3151
</td>
<td align="right">
  -.0341
</td>
<td align="right">
   .0824
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-19
16:40:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.0329
</td>
<td align="right">
   1.0328
</td>
<td align="right">
   1.0341
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0013
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-19
17:00:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.0332
</td>
<td align="right">
   1.0329
</td>
<td align="right">
   1.0341
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0012
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-19
17:15:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.0329
</td>
<td align="right">
   1.0324
</td>
<td align="right">
   1.0341
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0018
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-19
17:45:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.0330
</td>
<td align="right">
   1.0324
</td>
<td align="right">
   1.0344
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0020
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-19
17:50:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.0327
</td>
<td align="right">
   1.0323
</td>
<td align="right">
   1.0342
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-19
18:20:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.0325
</td>
<td align="right">
   1.0323
</td>
<td align="right">
   1.0334
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-19
11:25:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2647
</td>
<td align="right">
   1.2650
</td>
<td align="right">
   1.2707
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0058
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0046
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-19
19:15:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.2718
</td>
<td align="right">
   1.2713
</td>
<td align="right">
   1.2733
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0020
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-20
13:35:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.2741
</td>
<td align="right">
   1.2736
</td>
<td align="right">
   1.2740
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-20
13:55:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.2733
</td>
<td align="right">
   1.2733
</td>
<td align="right">
   1.2740
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-20
14:20:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.2735
</td>
<td align="right">
   1.2737
</td>
<td align="right">
   1.2742
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-20
14:25:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2732
</td>
<td align="right">
   1.2737
</td>
<td align="right">
   1.2739
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-04-16
00:35:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .8224
</td>
<td align="right">
    .8223
</td>
<td align="right">
    .8210
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0012
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-04-16
00:45:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .8224
</td>
<td align="right">
    .8225
</td>
<td align="right">
    .8217
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-04-16
00:50:00
</td>
<td align="right">
  .55
</td>
<td align="right">
    .8225
</td>
<td align="right">
    .8226
</td>
<td align="right">
    .8221
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-04-16
01:45:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .8225
</td>
<td align="right">
    .8228
</td>
<td align="right">
    .8218
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-04-16
01:50:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .8226
</td>
<td align="right">
    .8227
</td>
<td align="right">
    .8223
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-04-19
00:05:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .8188
</td>
<td align="right">
    .8188
</td>
<td align="right">
    .8184
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-17
03:25:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 105.5228
</td>
<td align="right">
 105.4989
</td>
<td align="right">
 106.0675
</td>
<td align="right">
  -.0240
</td>
<td align="right">
   .5686
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0054
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-17
03:40:00
</td>
<td align="right">
  .55
</td>
<td align="right">
 105.5389
</td>
<td align="right">
 105.5002
</td>
<td align="right">
 106.0146
</td>
<td align="right">
  -.0386
</td>
<td align="right">
   .5144
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0049
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-17
04:15:00
</td>
<td align="right">
  .78
</td>
<td align="right">
 105.5196
</td>
<td align="right">
 105.4238
</td>
<td align="right">
 105.9667
</td>
<td align="right">
  -.0958
</td>
<td align="right">
   .5429
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0051
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-17
15:45:00
</td>
<td align="right">
  .68
</td>
<td align="right">
 105.9498
</td>
<td align="right">
 105.9564
</td>
<td align="right">
 106.1823
</td>
<td align="right">
   .0066
</td>
<td align="right">
   .2259
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-17
15:55:00
</td>
<td align="right">
  .79
</td>
<td align="right">
 105.9326
</td>
<td align="right">
 105.9579
</td>
<td align="right">
 106.2063
</td>
<td align="right">
   .0252
</td>
<td align="right">
   .2484
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-18
09:55:00
</td>
<td align="right">
  .58
</td>
<td align="right">
 106.6014
</td>
<td align="right">
 106.4365
</td>
<td align="right">
 106.6725
</td>
<td align="right">
  -.1649
</td>
<td align="right">
   .2359
</td>
<td align="right">
 -.0015
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-18
10:10:00
</td>
<td align="right">
  .56
</td>
<td align="right">
 106.5926
</td>
<td align="right">
 106.4121
</td>
<td align="right">
 106.6994
</td>
<td align="right">
  -.1805
</td>
<td align="right">
   .2872
</td>
<td align="right">
 -.0017
</td>
<td align="right">
  .0027
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-18
11:40:00
</td>
<td align="right">
  .63
</td>
<td align="right">
 106.4381
</td>
<td align="right">
 106.4323
</td>
<td align="right">
 106.5297
</td>
<td align="right">
  -.0058
</td>
<td align="right">
   .0974
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-18
11:55:00
</td>
<td align="right">
  .60
</td>
<td align="right">
 106.4822
</td>
<td align="right">
 106.2792
</td>
<td align="right">
 106.5275
</td>
<td align="right">
  -.2030
</td>
<td align="right">
   .2483
</td>
<td align="right">
 -.0019
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-18
12:00:00
</td>
<td align="right">
  .83
</td>
<td align="right">
 106.5075
</td>
<td align="right">
 106.3078
</td>
<td align="right">
 106.5657
</td>
<td align="right">
  -.1997
</td>
<td align="right">
   .2579
</td>
<td align="right">
 -.0019
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-18
12:25:00
</td>
<td align="right">
  .64
</td>
<td align="right">
 106.5694
</td>
<td align="right">
 106.2686
</td>
<td align="right">
 106.5998
</td>
<td align="right">
  -.3008
</td>
<td align="right">
   .3312
</td>
<td align="right">
 -.0028
</td>
<td align="right">
  .0031
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-18
12:30:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.3084
</td>
<td align="right">
   1.3076
</td>
<td align="right">
   1.3123
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0047
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0036
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-19
07:50:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.3137
</td>
<td align="right">
   1.3131
</td>
<td align="right">
   1.3134
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-19
10:30:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.3115
</td>
<td align="right">
   1.3080
</td>
<td align="right">
   1.3123
</td>
<td align="right">
  -.0035
</td>
<td align="right">
   .0043
</td>
<td align="right">
 -.0027
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-19
10:35:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.3120
</td>
<td align="right">
   1.3078
</td>
<td align="right">
   1.3122
</td>
<td align="right">
  -.0041
</td>
<td align="right">
   .0043
</td>
<td align="right">
 -.0032
</td>
<td align="right">
  .0033
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-19
11:25:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.3088
</td>
<td align="right">
   1.3088
</td>
<td align="right">
   1.3129
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0041
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-15
22:35:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.5852
</td>
<td align="right">
   1.5851
</td>
<td align="right">
   1.5827
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0024
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-15
22:40:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.5852
</td>
<td align="right">
   1.5850
</td>
<td align="right">
   1.5828
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0022
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-16
01:35:00
</td>
<td align="right">
  .75
</td>
<td align="right">
   1.5825
</td>
<td align="right">
   1.5829
</td>
<td align="right">
   1.5835
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-16
02:20:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.5827
</td>
<td align="right">
   1.5832
</td>
<td align="right">
   1.5835
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-16
02:25:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.5826
</td>
<td align="right">
   1.5831
</td>
<td align="right">
   1.5832
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-16
02:30:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.5826
</td>
<td align="right">
   1.5830
</td>
<td align="right">
   1.5832
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-16
02:40:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.5831
</td>
<td align="right">
   1.5826
</td>
<td align="right">
   1.5837
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-16
04:45:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.5829
</td>
<td align="right">
   1.5828
</td>
<td align="right">
   1.5844
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0016
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-16
05:20:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.5832
</td>
<td align="right">
   1.5828
</td>
<td align="right">
   1.5834
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-16
05:35:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.5828
</td>
<td align="right">
   1.5830
</td>
<td align="right">
   1.5840
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0011
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-16
06:45:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.5835
</td>
<td align="right">
   1.5830
</td>
<td align="right">
   1.5840
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-17
14:40:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.5939
</td>
<td align="right">
   1.5934
</td>
<td align="right">
   1.5934
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-17
14:45:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.5941
</td>
<td align="right">
   1.5936
</td>
<td align="right">
   1.5928
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0008
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-17
14:55:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.5925
</td>
<td align="right">
   1.5930
</td>
<td align="right">
   1.5924
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-17
15:10:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.5932
</td>
<td align="right">
   1.5931
</td>
<td align="right">
   1.5923
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-19
15:45:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.6058
</td>
<td align="right">
   1.6053
</td>
<td align="right">
   1.6053
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-19
16:05:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.6053
</td>
<td align="right">
   1.6054
</td>
<td align="right">
   1.6055
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-19
17:00:00
</td>
<td align="right">
  .80
</td>
<td align="right">
   1.6052
</td>
<td align="right">
   1.6054
</td>
<td align="right">
   1.6060
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-20
00:50:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.6053
</td>
<td align="right">
   1.6046
</td>
<td align="right">
   1.6062
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0016
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-20
00:55:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.6048
</td>
<td align="right">
   1.6043
</td>
<td align="right">
   1.6066
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0023
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-16
09:00:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.0000
</td>
<td align="right">
    .9984
</td>
<td align="right">
   1.0016
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   .0033
</td>
<td align="right">
 -.0016
</td>
<td align="right">
  .0033
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-16
09:05:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .9998
</td>
<td align="right">
    .9984
</td>
<td align="right">
   1.0014
</td>
<td align="right">
  -.0014
</td>
<td align="right">
   .0030
</td>
<td align="right">
 -.0014
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-16
09:15:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.0002
</td>
<td align="right">
    .9985
</td>
<td align="right">
   1.0013
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   .0028
</td>
<td align="right">
 -.0017
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-16
09:35:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .9993
</td>
<td align="right">
    .9988
</td>
<td align="right">
   1.0022
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0034
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0034
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-16
09:50:00
</td>
<td align="right">
  .72
</td>
<td align="right">
    .9992
</td>
<td align="right">
    .9988
</td>
<td align="right">
   1.0025
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0037
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0037
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-16
10:30:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .9986
</td>
<td align="right">
    .9988
</td>
<td align="right">
   1.0030
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0042
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0042
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-16
10:35:00
</td>
<td align="right">
  .73
</td>
<td align="right">
    .9988
</td>
<td align="right">
    .9989
</td>
<td align="right">
   1.0028
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0039
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0039
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-16
10:40:00
</td>
<td align="right">
  .61
</td>
<td align="right">
    .9987
</td>
<td align="right">
    .9988
</td>
<td align="right">
   1.0027
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0039
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0039
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-16
14:10:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.0013
</td>
<td align="right">
   1.0012
</td>
<td align="right">
   1.0000
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-17
01:50:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.0001
</td>
<td align="right">
   1.0000
</td>
<td align="right">
    .9986
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-17
03:10:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.0002
</td>
<td align="right">
    .9996
</td>
<td align="right">
    .9974
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0022
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-17
03:20:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.0002
</td>
<td align="right">
    .9996
</td>
<td align="right">
    .9974
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  -.0021
</td>
<td align="right">
 -.0006
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-17
03:30:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.0002
</td>
<td align="right">
    .9995
</td>
<td align="right">
    .9973
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  -.0021
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-17
03:35:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.0002
</td>
<td align="right">
    .9996
</td>
<td align="right">
    .9974
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0022
</td>
<td align="right">
 -.0006
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-17
03:50:00
</td>
<td align="right">
  .72
</td>
<td align="right">
    .9999
</td>
<td align="right">
    .9998
</td>
<td align="right">
    .9973
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0025
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-17
03:55:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9999
</td>
<td align="right">
    .9997
</td>
<td align="right">
    .9977
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0020
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-17
04:00:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .9998
</td>
<td align="right">
   1.0001
</td>
<td align="right">
    .9977
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0023
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-17
05:00:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.0001
</td>
<td align="right">
   1.0001
</td>
<td align="right">
    .9968
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0033
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0033
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-17
05:10:00
</td>
<td align="right">
  .77
</td>
<td align="right">
   1.0005
</td>
<td align="right">
   1.0002
</td>
<td align="right">
    .9970
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0032
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-17
05:20:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.0004
</td>
<td align="right">
   1.0004
</td>
<td align="right">
    .9964
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0040
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0040
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-17
05:50:00
</td>
<td align="right">
  .77
</td>
<td align="right">
   1.0004
</td>
<td align="right">
   1.0007
</td>
<td align="right">
    .9968
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0038
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-17
06:00:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.0001
</td>
<td align="right">
   1.0003
</td>
<td align="right">
    .9964
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0039
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0039
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-17
06:05:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.0002
</td>
<td align="right">
   1.0000
</td>
<td align="right">
    .9964
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0036
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0036
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-17
06:10:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.0002
</td>
<td align="right">
   1.0000
</td>
<td align="right">
    .9963
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0037
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-17
06:15:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.0003
</td>
<td align="right">
    .9993
</td>
<td align="right">
    .9963
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  -.0031
</td>
<td align="right">
 -.0009
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-17
06:20:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.0004
</td>
<td align="right">
    .9993
</td>
<td align="right">
    .9955
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  -.0038
</td>
<td align="right">
 -.0011
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-17
06:25:00
</td>
<td align="right">
  .77
</td>
<td align="right">
   1.0007
</td>
<td align="right">
    .9993
</td>
<td align="right">
    .9961
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  -.0032
</td>
<td align="right">
 -.0014
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
14:55:00
</td>
<td align="right">
  .75
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9163
</td>
<td align="right">
    .9159
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
15:50:00
</td>
<td align="right">
  .74
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9161
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
15:55:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .9163
</td>
<td align="right">
    .9165
</td>
<td align="right">
    .9162
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
16:25:00
</td>
<td align="right">
  .67
</td>
<td align="right">
    .9162
</td>
<td align="right">
    .9165
</td>
<td align="right">
    .9164
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
16:30:00
</td>
<td align="right">
  .61
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9167
</td>
<td align="right">
    .9165
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
17:20:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .9166
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9160
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0004
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
18:30:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .9160
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9166
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
18:45:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9162
</td>
<td align="right">
    .9164
</td>
<td align="right">
    .9162
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
23:05:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9160
</td>
<td align="right">
    .9163
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-18
23:15:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9166
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-19
06:50:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .9163
</td>
<td align="right">
    .9152
</td>
<td align="right">
    .9185
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0032
</td>
<td align="right">
 -.0012
</td>
<td align="right">
  .0035
</td>
</tr>
</table>
<br />
