<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_11_11<h4>Week of: 2012_11_11 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.07
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0010
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0052
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.73
</td>
<td align="right">
   -1.51
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   58
</td>
<td align="right">
  -.0778
</td>
<td align="right">
  -.0027
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0009
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   63
</td>
<td align="right">
  -.0830
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .62
</td>
<td align="right">
     .95
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0007
</td>
<td align="right">
    5
</td>
<td align="right">
   .0034
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0018
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.29
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  -.0002
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0008
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .73
</td>
<td align="right">
   -1.56
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0007
</td>
<td align="right">
    9
</td>
<td align="right">
  -.0064
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0005
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   19
</td>
<td align="right">
  -.0042
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-12
02:55:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.2214
</td>
<td align="right">
   1.2216
</td>
<td align="right">
   1.2200
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-12
03:10:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2213
</td>
<td align="right">
   1.2214
</td>
<td align="right">
   1.2201
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-12
04:55:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.2217
</td>
<td align="right">
   1.2221
</td>
<td align="right">
   1.2191
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0031
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-12
13:15:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.2196
</td>
<td align="right">
   1.2193
</td>
<td align="right">
   1.2192
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-12
13:20:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.2194
</td>
<td align="right">
   1.2192
</td>
<td align="right">
   1.2190
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
00:30:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
 101.0795
</td>
<td align="right">
 101.2071
</td>
<td align="right">
 101.2269
</td>
<td align="right">
   .1276
</td>
<td align="right">
   .0199
</td>
<td align="right">
  .0013
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
00:35:00
</td>
<td align="right">
 -.84
</td>
<td align="right">
 101.0938
</td>
<td align="right">
 101.1948
</td>
<td align="right">
 101.2755
</td>
<td align="right">
   .1010
</td>
<td align="right">
   .0807
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
00:40:00
</td>
<td align="right">
 -.86
</td>
<td align="right">
 101.0966
</td>
<td align="right">
 101.1888
</td>
<td align="right">
 101.2428
</td>
<td align="right">
   .0922
</td>
<td align="right">
   .0540
</td>
<td align="right">
  .0009
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
00:45:00
</td>
<td align="right">
 -.87
</td>
<td align="right">
 101.1228
</td>
<td align="right">
 101.1570
</td>
<td align="right">
 101.2285
</td>
<td align="right">
   .0342
</td>
<td align="right">
   .0715
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
00:50:00
</td>
<td align="right">
 -.85
</td>
<td align="right">
 101.1379
</td>
<td align="right">
 101.1145
</td>
<td align="right">
 101.2107
</td>
<td align="right">
  -.0235
</td>
<td align="right">
   .0962
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
00:55:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
 101.1614
</td>
<td align="right">
 101.1220
</td>
<td align="right">
 101.1737
</td>
<td align="right">
  -.0394
</td>
<td align="right">
   .0517
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
01:25:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
 101.1952
</td>
<td align="right">
 101.1649
</td>
<td align="right">
 100.9833
</td>
<td align="right">
  -.0302
</td>
<td align="right">
  -.1817
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
01:45:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
 101.1570
</td>
<td align="right">
 101.1240
</td>
<td align="right">
 100.9059
</td>
<td align="right">
  -.0330
</td>
<td align="right">
  -.2181
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
01:50:00
</td>
<td align="right">
 -.85
</td>
<td align="right">
 101.1145
</td>
<td align="right">
 101.1280
</td>
<td align="right">
 100.9821
</td>
<td align="right">
   .0135
</td>
<td align="right">
  -.1458
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
01:55:00
</td>
<td align="right">
 -.83
</td>
<td align="right">
 101.1220
</td>
<td align="right">
 101.1323
</td>
<td align="right">
 100.9774
</td>
<td align="right">
   .0103
</td>
<td align="right">
  -.1549
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:00:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
 101.0870
</td>
<td align="right">
 101.1280
</td>
<td align="right">
 100.9655
</td>
<td align="right">
   .0409
</td>
<td align="right">
  -.1625
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:05:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
 101.1037
</td>
<td align="right">
 101.1502
</td>
<td align="right">
 100.9067
</td>
<td align="right">
   .0465
</td>
<td align="right">
  -.2436
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:10:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
 101.0998
</td>
<td align="right">
 101.1482
</td>
<td align="right">
 100.9528
</td>
<td align="right">
   .0485
</td>
<td align="right">
  -.1955
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:15:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
 101.0870
</td>
<td align="right">
 101.1546
</td>
<td align="right">
 100.9829
</td>
<td align="right">
   .0676
</td>
<td align="right">
  -.1717
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:20:00
</td>
<td align="right">
 -.83
</td>
<td align="right">
 101.1323
</td>
<td align="right">
 101.1506
</td>
<td align="right">
 101.0862
</td>
<td align="right">
   .0183
</td>
<td align="right">
  -.0644
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:25:00
</td>
<td align="right">
 -.83
</td>
<td align="right">
 101.1649
</td>
<td align="right">
 101.1749
</td>
<td align="right">
 101.1220
</td>
<td align="right">
   .0099
</td>
<td align="right">
  -.0529
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:30:00
</td>
<td align="right">
 -.83
</td>
<td align="right">
 101.1514
</td>
<td align="right">
 101.1538
</td>
<td align="right">
 101.0775
</td>
<td align="right">
   .0024
</td>
<td align="right">
  -.0764
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:35:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
 101.1208
</td>
<td align="right">
 101.1300
</td>
<td align="right">
 101.0966
</td>
<td align="right">
   .0092
</td>
<td align="right">
  -.0334
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:40:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
 101.1045
</td>
<td align="right">
 101.1657
</td>
<td align="right">
 101.0672
</td>
<td align="right">
   .0612
</td>
<td align="right">
  -.0986
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:45:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
 101.1240
</td>
<td align="right">
 101.1427
</td>
<td align="right">
 100.9551
</td>
<td align="right">
   .0187
</td>
<td align="right">
  -.1875
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:50:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
 101.1280
</td>
<td align="right">
 101.1530
</td>
<td align="right">
 100.9631
</td>
<td align="right">
   .0250
</td>
<td align="right">
  -.1899
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:55:00
</td>
<td align="right">
 -.87
</td>
<td align="right">
 101.1323
</td>
<td align="right">
 101.1530
</td>
<td align="right">
 101.0361
</td>
<td align="right">
   .0207
</td>
<td align="right">
  -.1169
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:00:00
</td>
<td align="right">
 -.86
</td>
<td align="right">
 101.1280
</td>
<td align="right">
 101.1379
</td>
<td align="right">
 100.9849
</td>
<td align="right">
   .0099
</td>
<td align="right">
  -.1530
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:05:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
 101.1502
</td>
<td align="right">
 101.1419
</td>
<td align="right">
 100.9901
</td>
<td align="right">
  -.0084
</td>
<td align="right">
  -.1518
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:10:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
 101.1482
</td>
<td align="right">
 101.1335
</td>
<td align="right">
 101.0385
</td>
<td align="right">
  -.0147
</td>
<td align="right">
  -.0950
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:15:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
 101.1546
</td>
<td align="right">
 101.1458
</td>
<td align="right">
 101.0362
</td>
<td align="right">
  -.0088
</td>
<td align="right">
  -.1097
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:20:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
 101.1506
</td>
<td align="right">
 101.1570
</td>
<td align="right">
 101.0886
</td>
<td align="right">
   .0063
</td>
<td align="right">
  -.0683
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:25:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
 101.1749
</td>
<td align="right">
 101.1848
</td>
<td align="right">
 101.0894
</td>
<td align="right">
   .0099
</td>
<td align="right">
  -.0954
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:30:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
 101.1538
</td>
<td align="right">
 101.1546
</td>
<td align="right">
 101.0664
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0882
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:35:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
 101.1300
</td>
<td align="right">
 101.1506
</td>
<td align="right">
 101.0449
</td>
<td align="right">
   .0206
</td>
<td align="right">
  -.1057
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:40:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 101.1657
</td>
<td align="right">
 101.1347
</td>
<td align="right">
 101.0370
</td>
<td align="right">
  -.0310
</td>
<td align="right">
  -.0978
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:45:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 101.1427
</td>
<td align="right">
 101.1633
</td>
<td align="right">
 101.0584
</td>
<td align="right">
   .0207
</td>
<td align="right">
  -.1049
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:50:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
 101.1530
</td>
<td align="right">
 101.1777
</td>
<td align="right">
 100.9933
</td>
<td align="right">
   .0247
</td>
<td align="right">
  -.1843
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:55:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
 101.1530
</td>
<td align="right">
 101.1665
</td>
<td align="right">
 100.9535
</td>
<td align="right">
   .0135
</td>
<td align="right">
  -.2130
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:00:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 101.1379
</td>
<td align="right">
 101.1658
</td>
<td align="right">
 100.9353
</td>
<td align="right">
   .0278
</td>
<td align="right">
  -.2305
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:05:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
 101.1419
</td>
<td align="right">
 101.1761
</td>
<td align="right">
 100.9806
</td>
<td align="right">
   .0342
</td>
<td align="right">
  -.1955
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:10:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
 101.1335
</td>
<td align="right">
 101.1689
</td>
<td align="right">
 100.9615
</td>
<td align="right">
   .0354
</td>
<td align="right">
  -.2074
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:15:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
 101.1458
</td>
<td align="right">
 101.1808
</td>
<td align="right">
 100.9631
</td>
<td align="right">
   .0350
</td>
<td align="right">
  -.2178
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:20:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
 101.1570
</td>
<td align="right">
 101.1836
</td>
<td align="right">
 100.9591
</td>
<td align="right">
   .0267
</td>
<td align="right">
  -.2245
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:25:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 101.1848
</td>
<td align="right">
 101.1924
</td>
<td align="right">
 100.9829
</td>
<td align="right">
   .0076
</td>
<td align="right">
  -.2094
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:30:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
 101.1546
</td>
<td align="right">
 101.1682
</td>
<td align="right">
 100.9821
</td>
<td align="right">
   .0136
</td>
<td align="right">
  -.1860
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:35:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 101.1506
</td>
<td align="right">
 101.1733
</td>
<td align="right">
 100.9734
</td>
<td align="right">
   .0227
</td>
<td align="right">
  -.1999
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:40:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
 101.1347
</td>
<td align="right">
 101.2015
</td>
<td align="right">
 100.9623
</td>
<td align="right">
   .0668
</td>
<td align="right">
  -.2392
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:45:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
 101.1633
</td>
<td align="right">
 101.1816
</td>
<td align="right">
 100.9782
</td>
<td align="right">
   .0183
</td>
<td align="right">
  -.2035
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:50:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 101.1777
</td>
<td align="right">
 101.1713
</td>
<td align="right">
 100.9718
</td>
<td align="right">
  -.0064
</td>
<td align="right">
  -.1995
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:55:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 101.1665
</td>
<td align="right">
 101.1979
</td>
<td align="right">
 100.9925
</td>
<td align="right">
   .0314
</td>
<td align="right">
  -.2054
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:00:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 101.1658
</td>
<td align="right">
 101.1808
</td>
<td align="right">
 101.0663
</td>
<td align="right">
   .0151
</td>
<td align="right">
  -.1145
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:05:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 101.1761
</td>
<td align="right">
 101.1836
</td>
<td align="right">
 101.0365
</td>
<td align="right">
   .0076
</td>
<td align="right">
  -.1471
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:10:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
 101.1689
</td>
<td align="right">
 101.1784
</td>
<td align="right">
 101.0846
</td>
<td align="right">
   .0095
</td>
<td align="right">
  -.0939
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:15:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
 101.1808
</td>
<td align="right">
 101.1753
</td>
<td align="right">
 101.0838
</td>
<td align="right">
  -.0056
</td>
<td align="right">
  -.0914
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:20:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
 101.1836
</td>
<td align="right">
 101.1578
</td>
<td align="right">
 101.0799
</td>
<td align="right">
  -.0258
</td>
<td align="right">
  -.0779
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:25:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
 101.1924
</td>
<td align="right">
 101.1880
</td>
<td align="right">
 101.1044
</td>
<td align="right">
  -.0044
</td>
<td align="right">
  -.0835
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:30:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
 101.1682
</td>
<td align="right">
 101.2269
</td>
<td align="right">
 101.0854
</td>
<td align="right">
   .0588
</td>
<td align="right">
  -.1415
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:35:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
 101.1733
</td>
<td align="right">
 101.2755
</td>
<td align="right">
 101.0656
</td>
<td align="right">
   .1022
</td>
<td align="right">
  -.2099
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:40:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
 101.2015
</td>
<td align="right">
 101.2428
</td>
<td align="right">
 100.9734
</td>
<td align="right">
   .0413
</td>
<td align="right">
  -.2694
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:45:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 101.1816
</td>
<td align="right">
 101.2285
</td>
<td align="right">
 100.9535
</td>
<td align="right">
   .0469
</td>
<td align="right">
  -.2750
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:50:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
 101.1713
</td>
<td align="right">
 101.2107
</td>
<td align="right">
 100.9583
</td>
<td align="right">
   .0394
</td>
<td align="right">
  -.2524
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:55:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
 101.1979
</td>
<td align="right">
 101.1737
</td>
<td align="right">
 100.9678
</td>
<td align="right">
  -.0242
</td>
<td align="right">
  -.2059
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0020
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
07:05:00
</td>
<td align="right">
  .65
</td>
<td align="right">
 101.0052
</td>
<td align="right">
 100.9067
</td>
<td align="right">
 100.9989
</td>
<td align="right">
  -.0985
</td>
<td align="right">
   .0922
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
07:10:00
</td>
<td align="right">
  .57
</td>
<td align="right">
 100.9833
</td>
<td align="right">
 100.9528
</td>
<td align="right">
 101.1362
</td>
<td align="right">
  -.0306
</td>
<td align="right">
   .1835
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
08:55:00
</td>
<td align="right">
  .68
</td>
<td align="right">
 101.0361
</td>
<td align="right">
 100.9535
</td>
<td align="right">
 100.9916
</td>
<td align="right">
  -.0825
</td>
<td align="right">
   .0381
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
09:30:00
</td>
<td align="right">
  .56
</td>
<td align="right">
 101.0664
</td>
<td align="right">
 100.9821
</td>
<td align="right">
 100.9996
</td>
<td align="right">
  -.0842
</td>
<td align="right">
   .0174
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
10:55:00
</td>
<td align="right">
  .65
</td>
<td align="right">
 100.9925
</td>
<td align="right">
 100.9678
</td>
<td align="right">
 100.9786
</td>
<td align="right">
  -.0247
</td>
<td align="right">
   .0108
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-12
05:50:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.2729
</td>
<td align="right">
   1.2731
</td>
<td align="right">
   1.2711
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0020
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-12
06:15:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.2729
</td>
<td align="right">
   1.2713
</td>
<td align="right">
   1.2710
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0013
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-12
06:20:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.2726
</td>
<td align="right">
   1.2712
</td>
<td align="right">
   1.2709
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0012
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-12
06:25:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.2729
</td>
<td align="right">
   1.2711
</td>
<td align="right">
   1.2712
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0014
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-12
06:35:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.2738
</td>
<td align="right">
   1.2709
</td>
<td align="right">
   1.2718
</td>
<td align="right">
  -.0029
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0023
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-12
07:00:00
</td>
<td align="right">
  .67
</td>
<td align="right">
  79.4725
</td>
<td align="right">
  79.4425
</td>
<td align="right">
  79.4375
</td>
<td align="right">
  -.0300
</td>
<td align="right">
  -.0050
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-12
07:10:00
</td>
<td align="right">
  .63
</td>
<td align="right">
  79.4175
</td>
<td align="right">
  79.4325
</td>
<td align="right">
  79.4175
</td>
<td align="right">
   .0150
</td>
<td align="right">
  -.0150
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-12
07:15:00
</td>
<td align="right">
  .68
</td>
<td align="right">
  79.4200
</td>
<td align="right">
  79.4375
</td>
<td align="right">
  79.4075
</td>
<td align="right">
   .0175
</td>
<td align="right">
  -.0300
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-12
07:45:00
</td>
<td align="right">
  .87
</td>
<td align="right">
  79.4425
</td>
<td align="right">
  79.4625
</td>
<td align="right">
  79.4125
</td>
<td align="right">
   .0200
</td>
<td align="right">
  -.0500
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-12
07:50:00
</td>
<td align="right">
  .67
</td>
<td align="right">
  79.4525
</td>
<td align="right">
  79.4750
</td>
<td align="right">
  79.3975
</td>
<td align="right">
   .0225
</td>
<td align="right">
  -.0775
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-12
08:20:00
</td>
<td align="right">
  .66
</td>
<td align="right">
  79.4875
</td>
<td align="right">
  79.4925
</td>
<td align="right">
  79.4075
</td>
<td align="right">
   .0050
</td>
<td align="right">
  -.0850
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-12
08:35:00
</td>
<td align="right">
  .81
</td>
<td align="right">
  79.4925
</td>
<td align="right">
  79.4925
</td>
<td align="right">
  79.3825
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.1100
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-12
08:50:00
</td>
<td align="right">
  .93
</td>
<td align="right">
  79.4750
</td>
<td align="right">
  79.4675
</td>
<td align="right">
  79.3775
</td>
<td align="right">
  -.0075
</td>
<td align="right">
  -.0900
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-12
09:00:00
</td>
<td align="right">
  .67
</td>
<td align="right">
  79.4750
</td>
<td align="right">
  79.4375
</td>
<td align="right">
  79.3925
</td>
<td align="right">
  -.0375
</td>
<td align="right">
  -.0450
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0006
</td>
</tr>
</table>
<br />
