<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_01_02<h4>Week of: 2012_01_02 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
 -.65
</td>
<td align="right">
   -1.28
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   16
</td>
<td align="right">
  -.0179
</td>
<td align="right">
  -.0021
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0009
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.58
</td>
<td align="right">
   -7.22
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0023
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0046
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  -.0021
</td>
<td align="right">
   .0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.70
</td>
<td align="right">
  -10.80
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0022
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0090
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  -.0021
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.67
</td>
<td align="right">
    1.45
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0019
</td>
<td align="right">
   21
</td>
<td align="right">
   .0405
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0044
</td>
<td align="right">
   .0013
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.98
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0005
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0036
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   51
</td>
<td align="right">
   .0054
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.97
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0002
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .56
</td>
<td align="right">
    7.80
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0004
</td>
<td align="right">
    2
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0001
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    4
</td>
<td align="right">
   .0004
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2012-01-02
10:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.2174
</td>
<td align="right">
   1.2169
</td>
<td align="right">
   1.2152
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0017
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2012-01-03
01:35:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.2168
</td>
<td align="right">
   1.2187
</td>
<td align="right">
   1.2187
</td>
<td align="right">
   .0018
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0015
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2012-01-03
02:05:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.2180
</td>
<td align="right">
   1.2181
</td>
<td align="right">
   1.2183
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2012-01-03
02:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.2185
</td>
<td align="right">
   1.2181
</td>
<td align="right">
   1.2183
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2012-01-03
02:25:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.2186
</td>
<td align="right">
   1.2182
</td>
<td align="right">
   1.2183
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2012-01-03
02:35:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
   1.2187
</td>
<td align="right">
   1.2184
</td>
<td align="right">
   1.2167
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0017
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2012-01-03
02:45:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.2186
</td>
<td align="right">
   1.2185
</td>
<td align="right">
   1.2173
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0012
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2012-01-03
03:15:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.2179
</td>
<td align="right">
   1.2182
</td>
<td align="right">
   1.2174
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2012-01-03
03:20:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
   1.2179
</td>
<td align="right">
   1.2181
</td>
<td align="right">
   1.2173
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2012-01-03
04:10:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
   1.2183
</td>
<td align="right">
   1.2185
</td>
<td align="right">
   1.2161
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0024
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2012-01-03
04:25:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.2180
</td>
<td align="right">
   1.2193
</td>
<td align="right">
   1.2168
</td>
<td align="right">
   .0013
</td>
<td align="right">
  -.0026
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2012-01-03
04:35:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.2181
</td>
<td align="right">
   1.2189
</td>
<td align="right">
   1.2168
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0021
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2012-01-03
04:50:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.2180
</td>
<td align="right">
   1.2186
</td>
<td align="right">
   1.2161
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2012-01-03
04:55:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.2183
</td>
<td align="right">
   1.2187
</td>
<td align="right">
   1.2161
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0026
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2012-01-03
05:00:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.2185
</td>
<td align="right">
   1.2186
</td>
<td align="right">
   1.2166
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0020
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2012-01-03
05:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.2182
</td>
<td align="right">
   1.2187
</td>
<td align="right">
   1.2166
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0021
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-01-03
02:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .8356
</td>
<td align="right">
    .8356
</td>
<td align="right">
    .8339
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-01-03
03:20:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .8356
</td>
<td align="right">
    .8355
</td>
<td align="right">
    .8334
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0021
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-01-02
00:20:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
  99.7463
</td>
<td align="right">
  99.7432
</td>
<td align="right">
  99.5171
</td>
<td align="right">
  -.0031
</td>
<td align="right">
  -.2262
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-01-02
00:25:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
  99.7605
</td>
<td align="right">
  99.7381
</td>
<td align="right">
  99.5274
</td>
<td align="right">
  -.0224
</td>
<td align="right">
  -.2107
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-01-02
00:30:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
  99.7663
</td>
<td align="right">
  99.7400
</td>
<td align="right">
  99.5338
</td>
<td align="right">
  -.0264
</td>
<td align="right">
  -.2062
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-01-02
00:45:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  99.8033
</td>
<td align="right">
  99.7840
</td>
<td align="right">
  99.5318
</td>
<td align="right">
  -.0193
</td>
<td align="right">
  -.2522
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-03
01:00:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.2953
</td>
<td align="right">
   1.2972
</td>
<td align="right">
   1.2989
</td>
<td align="right">
   .0019
</td>
<td align="right">
   .0017
</td>
<td align="right">
  .0015
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-03
01:10:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.2958
</td>
<td align="right">
   1.2984
</td>
<td align="right">
   1.2997
</td>
<td align="right">
   .0026
</td>
<td align="right">
   .0013
</td>
<td align="right">
  .0020
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-03
01:35:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.2970
</td>
<td align="right">
   1.2981
</td>
<td align="right">
   1.3000
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0020
</td>
<td align="right">
  .0008
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-03
02:25:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.2979
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2983
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-03
02:30:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.2978
</td>
<td align="right">
   1.2979
</td>
<td align="right">
   1.2984
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-03
02:35:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.2981
</td>
<td align="right">
   1.2979
</td>
<td align="right">
   1.2977
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-03
02:45:00
</td>
<td align="right">
 -.87
</td>
<td align="right">
   1.2980
</td>
<td align="right">
   1.2978
</td>
<td align="right">
   1.2986
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-03
03:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.2978
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2987
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0012
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-03
03:15:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.2977
</td>
<td align="right">
   1.2978
</td>
<td align="right">
   1.2990
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0013
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-03
03:25:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2987
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-03
03:30:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.2979
</td>
<td align="right">
   1.2977
</td>
<td align="right">
   1.2997
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0021
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-03
03:35:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.2979
</td>
<td align="right">
   1.2982
</td>
<td align="right">
   1.3004
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0022
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-03
03:40:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
   1.2977
</td>
<td align="right">
   1.2978
</td>
<td align="right">
   1.3005
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0027
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-03
03:50:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2979
</td>
<td align="right">
   1.3014
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0036
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-03
03:55:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
   1.2973
</td>
<td align="right">
   1.2979
</td>
<td align="right">
   1.3009
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0030
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-03
04:00:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2980
</td>
<td align="right">
   1.3027
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0047
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0036
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-03
04:10:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2984
</td>
<td align="right">
   1.3036
</td>
<td align="right">
   .0008
</td>
<td align="right">
   .0053
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0040
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-03
04:20:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2984
</td>
<td align="right">
   1.3019
</td>
<td align="right">
   .0008
</td>
<td align="right">
   .0035
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0027
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-03
04:25:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2982
</td>
<td align="right">
   1.3025
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0044
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0034
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-03
04:35:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.2982
</td>
<td align="right">
   1.2981
</td>
<td align="right">
   1.3031
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0051
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0039
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-03
04:40:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.2978
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.3032
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0057
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0044
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-01-02
03:00:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  77.0000
</td>
<td align="right">
  76.9800
</td>
<td align="right">
  76.9100
</td>
<td align="right">
  -.0200
</td>
<td align="right">
  -.0700
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-01-02
03:20:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
  76.9800
</td>
<td align="right">
  76.9650
</td>
<td align="right">
  76.9150
</td>
<td align="right">
  -.0150
</td>
<td align="right">
  -.0500
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-01-02
03:25:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
  76.9425
</td>
<td align="right">
  76.9525
</td>
<td align="right">
  76.9175
</td>
<td align="right">
   .0100
</td>
<td align="right">
  -.0350
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-01-02
03:30:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  76.9600
</td>
<td align="right">
  76.9525
</td>
<td align="right">
  76.9175
</td>
<td align="right">
  -.0075
</td>
<td align="right">
  -.0350
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-01-02
03:40:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  76.9350
</td>
<td align="right">
  76.9525
</td>
<td align="right">
  76.9250
</td>
<td align="right">
   .0175
</td>
<td align="right">
  -.0275
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-01-02
03:45:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
  76.9550
</td>
<td align="right">
  76.9550
</td>
<td align="right">
  76.9275
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0275
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-01-02
03:50:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
  76.9550
</td>
<td align="right">
  76.9550
</td>
<td align="right">
  76.9350
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0200
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-01-02
03:55:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
  76.9525
</td>
<td align="right">
  76.9450
</td>
<td align="right">
  76.9300
</td>
<td align="right">
  -.0075
</td>
<td align="right">
  -.0150
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0002
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-01-02
03:45:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  78.6807
</td>
<td align="right">
  78.6615
</td>
<td align="right">
  78.6295
</td>
<td align="right">
  -.0192
</td>
<td align="right">
  -.0320
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-01-02
03:50:00
</td>
<td align="right">
  .68
</td>
<td align="right">
  78.6788
</td>
<td align="right">
  78.6576
</td>
<td align="right">
  78.6526
</td>
<td align="right">
  -.0212
</td>
<td align="right">
  -.0051
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-02
15:25:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2927
</td>
<td align="right">
   1.2926
</td>
<td align="right">
   1.2932
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-02
15:30:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.2921
</td>
<td align="right">
   1.2926
</td>
<td align="right">
   1.2931
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0004
</td>
</tr>
</table>
<br />
