<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_09_30<h4>Week of: 2012_09_30 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .24
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0006
</td>
<td align="right">
   16
</td>
<td align="right">
   .0092
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   .0055
</td>
<td align="right">
   .0024
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -2.91
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0015
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0060
</td>
<td align="right">
  -.0022
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.48
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   11
</td>
<td align="right">
  -.0046
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0012
</td>
<td align="right">
   .0009
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   31
</td>
<td align="right">
  -.0014
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .59
</td>
<td align="right">
    1.03
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0013
</td>
<td align="right">
    6
</td>
<td align="right">
   .0079
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0026
</td>
<td align="right">
   .0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .61
</td>
<td align="right">
     .07
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0001
</td>
<td align="right">
    3
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0014
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0013
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.40
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0006
</td>
<td align="right">
   22
</td>
<td align="right">
   .0139
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0013
</td>
<td align="right">
   .0005
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   31
</td>
<td align="right">
   .0221
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-01
03:20:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  80.5350
</td>
<td align="right">
  80.5202
</td>
<td align="right">
  80.9595
</td>
<td align="right">
  -.0148
</td>
<td align="right">
   .4393
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0055
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-03
09:10:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
  79.9419
</td>
<td align="right">
  79.9798
</td>
<td align="right">
  80.2653
</td>
<td align="right">
   .0379
</td>
<td align="right">
   .2855
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0036
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-03
09:15:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
  79.9422
</td>
<td align="right">
  79.9571
</td>
<td align="right">
  80.2722
</td>
<td align="right">
   .0149
</td>
<td align="right">
   .3151
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0039
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-03
10:20:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  79.9598
</td>
<td align="right">
  79.9934
</td>
<td align="right">
  80.2579
</td>
<td align="right">
   .0336
</td>
<td align="right">
   .2645
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0033
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-03
10:30:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
  79.9529
</td>
<td align="right">
  80.0281
</td>
<td align="right">
  80.2909
</td>
<td align="right">
   .0752
</td>
<td align="right">
   .2628
</td>
<td align="right">
  .0009
</td>
<td align="right">
  .0033
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-03
14:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  80.1711
</td>
<td align="right">
  80.2657
</td>
<td align="right">
  80.1825
</td>
<td align="right">
   .0947
</td>
<td align="right">
  -.0833
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-03
15:00:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
  80.2170
</td>
<td align="right">
  80.2913
</td>
<td align="right">
  80.1866
</td>
<td align="right">
   .0742
</td>
<td align="right">
  -.1047
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-03
15:05:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
  80.2492
</td>
<td align="right">
  80.2626
</td>
<td align="right">
  80.1899
</td>
<td align="right">
   .0134
</td>
<td align="right">
  -.0727
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-03
15:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  80.2653
</td>
<td align="right">
  80.2596
</td>
<td align="right">
  80.2059
</td>
<td align="right">
  -.0057
</td>
<td align="right">
  -.0537
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-03
15:35:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  80.2486
</td>
<td align="right">
  80.2752
</td>
<td align="right">
  80.2091
</td>
<td align="right">
   .0265
</td>
<td align="right">
  -.0660
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-03
15:40:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
  80.2657
</td>
<td align="right">
  80.2539
</td>
<td align="right">
  80.2264
</td>
<td align="right">
  -.0118
</td>
<td align="right">
  -.0275
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-03
15:45:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
  80.3003
</td>
<td align="right">
  80.2750
</td>
<td align="right">
  80.2184
</td>
<td align="right">
  -.0253
</td>
<td align="right">
  -.0566
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-03
15:50:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
  80.2754
</td>
<td align="right">
  80.2995
</td>
<td align="right">
  80.2078
</td>
<td align="right">
   .0242
</td>
<td align="right">
  -.0917
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-03
15:55:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
  80.2775
</td>
<td align="right">
  80.3062
</td>
<td align="right">
  80.1825
</td>
<td align="right">
   .0287
</td>
<td align="right">
  -.1237
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-03
16:00:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  80.2913
</td>
<td align="right">
  80.3019
</td>
<td align="right">
  80.1772
</td>
<td align="right">
   .0106
</td>
<td align="right">
  -.1247
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-03
16:20:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
  80.2579
</td>
<td align="right">
  80.2830
</td>
<td align="right">
  80.2533
</td>
<td align="right">
   .0251
</td>
<td align="right">
  -.0297
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-09-30
21:15:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.0365
</td>
<td align="right">
   1.0363
</td>
<td align="right">
   1.0340
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0023
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-09-30
22:35:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.0353
</td>
<td align="right">
   1.0351
</td>
<td align="right">
   1.0341
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0010
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-09-30
22:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.0355
</td>
<td align="right">
   1.0352
</td>
<td align="right">
   1.0337
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0015
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-09-30
23:10:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.0348
</td>
<td align="right">
   1.0353
</td>
<td align="right">
   1.0339
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-02
13:25:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .8015
</td>
<td align="right">
    .8014
</td>
<td align="right">
    .8003
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-02
13:40:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .8011
</td>
<td align="right">
    .8017
</td>
<td align="right">
    .8004
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-02
13:50:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .8011
</td>
<td align="right">
    .8013
</td>
<td align="right">
    .8004
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-02
13:55:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .8010
</td>
<td align="right">
    .8015
</td>
<td align="right">
    .8005
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-02
14:00:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .8011
</td>
<td align="right">
    .8015
</td>
<td align="right">
    .8006
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-02
15:30:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .8008
</td>
<td align="right">
    .8005
</td>
<td align="right">
    .8008
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-02
15:35:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .8007
</td>
<td align="right">
    .8008
</td>
<td align="right">
    .8008
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-02
16:40:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .8008
</td>
<td align="right">
    .8007
</td>
<td align="right">
    .8008
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-02
16:45:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .8009
</td>
<td align="right">
    .8006
</td>
<td align="right">
    .8007
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-02
16:50:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .8009
</td>
<td align="right">
    .8006
</td>
<td align="right">
    .8007
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-03
08:40:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .8020
</td>
<td align="right">
    .8018
</td>
<td align="right">
    .8028
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-30
21:25:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 100.1757
</td>
<td align="right">
 100.1784
</td>
<td align="right">
  99.8710
</td>
<td align="right">
   .0026
</td>
<td align="right">
  -.3074
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
00:45:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
  77.9425
</td>
<td align="right">
  77.9225
</td>
<td align="right">
  77.8225
</td>
<td align="right">
  -.0200
</td>
<td align="right">
  -.1000
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0013
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-03
06:15:00
</td>
<td align="right">
  .57
</td>
<td align="right">
  79.8772
</td>
<td align="right">
  79.8526
</td>
<td align="right">
  80.1708
</td>
<td align="right">
  -.0246
</td>
<td align="right">
   .3182
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0040
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-02
08:20:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .7990
</td>
<td align="right">
    .7991
</td>
<td align="right">
    .8012
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0021
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-03
00:20:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .8006
</td>
<td align="right">
    .8001
</td>
<td align="right">
    .8000
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0006
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-03
00:30:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .8005
</td>
<td align="right">
    .8004
</td>
<td align="right">
    .8003
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-03
01:35:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .8004
</td>
<td align="right">
    .8002
</td>
<td align="right">
    .8010
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-03
02:40:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .8002
</td>
<td align="right">
    .7999
</td>
<td align="right">
    .8020
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0021
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-03
02:55:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .8002
</td>
<td align="right">
    .8000
</td>
<td align="right">
    .8016
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0016
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-02
18:10:00
</td>
<td align="right">
  .56
</td>
<td align="right">
 100.9859
</td>
<td align="right">
 100.9311
</td>
<td align="right">
 101.0273
</td>
<td align="right">
  -.0548
</td>
<td align="right">
   .0962
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-02
18:45:00
</td>
<td align="right">
  .59
</td>
<td align="right">
 100.9002
</td>
<td align="right">
 100.9140
</td>
<td align="right">
 100.9921
</td>
<td align="right">
   .0138
</td>
<td align="right">
   .0781
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-02
21:40:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 100.9819
</td>
<td align="right">
 100.9961
</td>
<td align="right">
 100.8516
</td>
<td align="right">
   .0142
</td>
<td align="right">
  -.1445
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-10-03
17:45:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.2902
</td>
<td align="right">
   1.2898
</td>
<td align="right">
   1.2920
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0022
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
04:20:00
</td>
<td align="right">
  .60
</td>
<td align="right">
  77.8725
</td>
<td align="right">
  77.8875
</td>
<td align="right">
  77.9825
</td>
<td align="right">
   .0150
</td>
<td align="right">
   .0950
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
09:00:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  77.9950
</td>
<td align="right">
  77.9975
</td>
<td align="right">
  78.0625
</td>
<td align="right">
   .0025
</td>
<td align="right">
   .0650
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
09:05:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  78.0100
</td>
<td align="right">
  77.9925
</td>
<td align="right">
  78.0625
</td>
<td align="right">
  -.0175
</td>
<td align="right">
   .0700
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
09:40:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  78.0000
</td>
<td align="right">
  77.9625
</td>
<td align="right">
  78.0550
</td>
<td align="right">
  -.0375
</td>
<td align="right">
   .0925
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
10:05:00
</td>
<td align="right">
  .64
</td>
<td align="right">
  77.9925
</td>
<td align="right">
  77.9775
</td>
<td align="right">
  78.0325
</td>
<td align="right">
  -.0150
</td>
<td align="right">
   .0550
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
10:10:00
</td>
<td align="right">
  .74
</td>
<td align="right">
  77.9875
</td>
<td align="right">
  77.9725
</td>
<td align="right">
  78.0375
</td>
<td align="right">
  -.0150
</td>
<td align="right">
   .0650
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
11:00:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  77.9825
</td>
<td align="right">
  77.9825
</td>
<td align="right">
  78.0025
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0200
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
11:05:00
</td>
<td align="right">
  .55
</td>
<td align="right">
  77.9775
</td>
<td align="right">
  77.9825
</td>
<td align="right">
  77.9875
</td>
<td align="right">
   .0050
</td>
<td align="right">
   .0050
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
12:15:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  77.9925
</td>
<td align="right">
  77.9275
</td>
<td align="right">
  78.0250
</td>
<td align="right">
  -.0650
</td>
<td align="right">
   .0975
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
12:25:00
</td>
<td align="right">
  .67
</td>
<td align="right">
  77.9925
</td>
<td align="right">
  77.9625
</td>
<td align="right">
  78.0275
</td>
<td align="right">
  -.0300
</td>
<td align="right">
   .0650
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
12:30:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  78.0225
</td>
<td align="right">
  77.9825
</td>
<td align="right">
  78.0375
</td>
<td align="right">
  -.0400
</td>
<td align="right">
   .0550
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
12:40:00
</td>
<td align="right">
  .63
</td>
<td align="right">
  77.9925
</td>
<td align="right">
  77.9575
</td>
<td align="right">
  78.0275
</td>
<td align="right">
  -.0350
</td>
<td align="right">
   .0700
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
12:50:00
</td>
<td align="right">
  .61
</td>
<td align="right">
  78.0075
</td>
<td align="right">
  77.9375
</td>
<td align="right">
  78.0225
</td>
<td align="right">
  -.0700
</td>
<td align="right">
   .0850
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
12:55:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  77.9575
</td>
<td align="right">
  77.9150
</td>
<td align="right">
  78.0175
</td>
<td align="right">
  -.0425
</td>
<td align="right">
   .1025
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
15:00:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  78.0625
</td>
<td align="right">
  78.0175
</td>
<td align="right">
  78.0125
</td>
<td align="right">
  -.0450
</td>
<td align="right">
  -.0050
</td>
<td align="right">
 -.0006
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
15:45:00
</td>
<td align="right">
  .59
</td>
<td align="right">
  78.0025
</td>
<td align="right">
  78.0025
</td>
<td align="right">
  78.0113
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0088
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
15:50:00
</td>
<td align="right">
  .64
</td>
<td align="right">
  78.0175
</td>
<td align="right">
  77.9950
</td>
<td align="right">
  78.0075
</td>
<td align="right">
  -.0225
</td>
<td align="right">
   .0125
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
15:55:00
</td>
<td align="right">
  .58
</td>
<td align="right">
  78.0025
</td>
<td align="right">
  78.0150
</td>
<td align="right">
  78.0025
</td>
<td align="right">
   .0125
</td>
<td align="right">
  -.0125
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
16:05:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  78.0325
</td>
<td align="right">
  77.9875
</td>
<td align="right">
  78.0175
</td>
<td align="right">
  -.0450
</td>
<td align="right">
   .0300
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
16:10:00
</td>
<td align="right">
  .60
</td>
<td align="right">
  78.0375
</td>
<td align="right">
  77.9800
</td>
<td align="right">
  78.0175
</td>
<td align="right">
  -.0575
</td>
<td align="right">
   .0375
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
16:15:00
</td>
<td align="right">
  .60
</td>
<td align="right">
  78.0375
</td>
<td align="right">
  77.9975
</td>
<td align="right">
  78.0200
</td>
<td align="right">
  -.0400
</td>
<td align="right">
   .0225
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
18:30:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  78.0375
</td>
<td align="right">
  78.0025
</td>
<td align="right">
  78.0475
</td>
<td align="right">
  -.0350
</td>
<td align="right">
   .0450
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0006
</td>
</tr>
</table>
<br />
