<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_08_05<h4>Week of: 2012_08_05 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.57
</td>
<td align="right">
    6.18
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0019
</td>
<td align="right">
    3
</td>
<td align="right">
   .0058
</td>
<td align="right">
   .0016
</td>
<td align="right">
   .0022
</td>
<td align="right">
   .0003
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.31
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0004
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0012
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -1.54
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0024
</td>
<td align="right">
   19
</td>
<td align="right">
  -.0447
</td>
<td align="right">
  -.0046
</td>
<td align="right">
   .0024
</td>
<td align="right">
   .0015
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.15
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0022
</td>
<td align="right">
   10
</td>
<td align="right">
  -.0218
</td>
<td align="right">
  -.0062
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0019
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.66
</td>
<td align="right">
    7.88
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0013
</td>
<td align="right">
    2
</td>
<td align="right">
   .0027
</td>
<td align="right">
   .0012
</td>
<td align="right">
   .0015
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.34
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0004
</td>
<td align="right">
    4
</td>
<td align="right">
   .0017
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0003
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.57
</td>
<td align="right">
    9.20
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
    2
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0000
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -2.38
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0012
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0035
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.71
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   14
</td>
<td align="right">
  -.0116
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0005
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   61
</td>
<td align="right">
  -.0722
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .62
</td>
<td align="right">
     .75
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0008
</td>
<td align="right">
   14
</td>
<td align="right">
   .0115
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0020
</td>
<td align="right">
   .0011
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.33
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   11
</td>
<td align="right">
  -.0039
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   .0017
</td>
<td align="right">
   .0011
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.32
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   17
</td>
<td align="right">
  -.0042
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0018
</td>
<td align="right">
   .0008
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.36
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   12
</td>
<td align="right">
  -.0051
</td>
<td align="right">
  -.0027
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0012
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .62
</td>
<td align="right">
   -3.02
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0011
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0053
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0003
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   59
</td>
<td align="right">
  -.0070
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-06
20:20:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
  82.6857
</td>
<td align="right">
  82.6572
</td>
<td align="right">
  82.8364
</td>
<td align="right">
  -.0284
</td>
<td align="right">
   .1791
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-07
01:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  82.6945
</td>
<td align="right">
  82.7826
</td>
<td align="right">
  82.9541
</td>
<td align="right">
   .0881
</td>
<td align="right">
   .1715
</td>
<td align="right">
  .0011
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-07
01:35:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  82.7353
</td>
<td align="right">
  82.8364
</td>
<td align="right">
  82.9672
</td>
<td align="right">
   .1011
</td>
<td align="right">
   .1309
</td>
<td align="right">
  .0012
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-07
10:00:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.0582
</td>
<td align="right">
   1.0587
</td>
<td align="right">
   1.0570
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-07
21:15:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.0558
</td>
<td align="right">
   1.0555
</td>
<td align="right">
   1.0543
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0012
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-08
03:25:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.0547
</td>
<td align="right">
   1.0546
</td>
<td align="right">
   1.0550
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-08
03:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.0547
</td>
<td align="right">
   1.0544
</td>
<td align="right">
   1.0554
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-06
23:15:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.1733
</td>
<td align="right">
   1.1733
</td>
<td align="right">
   1.1710
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0023
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-06
23:20:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.1732
</td>
<td align="right">
   1.1734
</td>
<td align="right">
   1.1708
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0026
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-06
23:25:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
   1.1731
</td>
<td align="right">
   1.1736
</td>
<td align="right">
   1.1711
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0026
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-06
23:35:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.1731
</td>
<td align="right">
   1.1733
</td>
<td align="right">
   1.1710
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0022
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-06
23:45:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
   1.1731
</td>
<td align="right">
   1.1734
</td>
<td align="right">
   1.1712
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0022
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-06
23:50:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
   1.1731
</td>
<td align="right">
   1.1736
</td>
<td align="right">
   1.1711
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-06
23:55:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.1730
</td>
<td align="right">
   1.1737
</td>
<td align="right">
   1.1709
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0028
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
00:00:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.1733
</td>
<td align="right">
   1.1736
</td>
<td align="right">
   1.1715
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0021
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
00:05:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.1733
</td>
<td align="right">
   1.1734
</td>
<td align="right">
   1.1715
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
00:10:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.1733
</td>
<td align="right">
   1.1734
</td>
<td align="right">
   1.1712
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0022
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
00:15:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.1733
</td>
<td align="right">
   1.1733
</td>
<td align="right">
   1.1712
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0021
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
00:20:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
   1.1734
</td>
<td align="right">
   1.1733
</td>
<td align="right">
   1.1712
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0021
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-08
03:55:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.1753
</td>
<td align="right">
   1.1756
</td>
<td align="right">
   1.1713
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0044
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-08
04:15:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.1753
</td>
<td align="right">
   1.1756
</td>
<td align="right">
   1.1706
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0050
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0042
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-08
04:35:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.1754
</td>
<td align="right">
   1.1753
</td>
<td align="right">
   1.1698
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0054
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0046
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-08
04:40:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.1753
</td>
<td align="right">
   1.1754
</td>
<td align="right">
   1.1700
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0054
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0046
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-08
17:40:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.1696
</td>
<td align="right">
   1.1694
</td>
<td align="right">
   1.1722
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0028
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-08
22:35:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.1695
</td>
<td align="right">
   1.1715
</td>
<td align="right">
   1.1680
</td>
<td align="right">
   .0020
</td>
<td align="right">
  -.0035
</td>
<td align="right">
  .0017
</td>
<td align="right">
 -.0030
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-08
22:45:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
   1.1702
</td>
<td align="right">
   1.1721
</td>
<td align="right">
   1.1679
</td>
<td align="right">
   .0018
</td>
<td align="right">
  -.0042
</td>
<td align="right">
  .0016
</td>
<td align="right">
 -.0036
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-06
13:25:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .7956
</td>
<td align="right">
    .7962
</td>
<td align="right">
    .7945
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-06
13:35:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .7957
</td>
<td align="right">
    .7958
</td>
<td align="right">
    .7947
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-06
13:50:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .7959
</td>
<td align="right">
    .7958
</td>
<td align="right">
    .7947
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-08
08:25:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .7936
</td>
<td align="right">
    .7943
</td>
<td align="right">
    .7894
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0049
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0062
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-08
21:45:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
    .7897
</td>
<td align="right">
    .7897
</td>
<td align="right">
    .7896
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-08
22:00:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .7898
</td>
<td align="right">
    .7898
</td>
<td align="right">
    .7895
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-08
22:35:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .7897
</td>
<td align="right">
    .7899
</td>
<td align="right">
    .7897
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-09
04:20:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .7896
</td>
<td align="right">
    .7900
</td>
<td align="right">
    .7871
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-09
05:50:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .7895
</td>
<td align="right">
    .7900
</td>
<td align="right">
    .7873
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0027
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-09
05:55:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .7898
</td>
<td align="right">
    .7898
</td>
<td align="right">
    .7875
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0022
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-08
22:50:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  97.0039
</td>
<td align="right">
  97.0007
</td>
<td align="right">
  97.1425
</td>
<td align="right">
  -.0032
</td>
<td align="right">
   .1418
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-08
22:55:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
  97.0288
</td>
<td align="right">
  97.0201
</td>
<td align="right">
  97.1385
</td>
<td align="right">
  -.0088
</td>
<td align="right">
   .1184
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-07
03:00:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2400
</td>
<td align="right">
   1.2404
</td>
<td align="right">
   1.2410
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-07
03:15:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.2400
</td>
<td align="right">
   1.2401
</td>
<td align="right">
   1.2403
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-07
03:40:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.2399
</td>
<td align="right">
   1.2397
</td>
<td align="right">
   1.2400
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-07
03:45:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.2399
</td>
<td align="right">
   1.2396
</td>
<td align="right">
   1.2407
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-08-08
15:35:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9942
</td>
<td align="right">
    .9941
</td>
<td align="right">
    .9945
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-08-08
16:35:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .9941
</td>
<td align="right">
    .9943
</td>
<td align="right">
    .9946
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-08
11:00:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9721
</td>
<td align="right">
    .9729
</td>
<td align="right">
    .9714
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-08
11:50:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9722
</td>
<td align="right">
    .9734
</td>
<td align="right">
    .9720
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-08
12:30:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .9734
</td>
<td align="right">
    .9733
</td>
<td align="right">
    .9727
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-06
01:45:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
  78.4375
</td>
<td align="right">
  78.4225
</td>
<td align="right">
  78.3575
</td>
<td align="right">
  -.0150
</td>
<td align="right">
  -.0650
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-06
01:50:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  78.4375
</td>
<td align="right">
  78.4225
</td>
<td align="right">
  78.3675
</td>
<td align="right">
  -.0150
</td>
<td align="right">
  -.0550
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-06
03:15:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  78.4675
</td>
<td align="right">
  78.4600
</td>
<td align="right">
  78.4175
</td>
<td align="right">
  -.0075
</td>
<td align="right">
  -.0425
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-06
03:30:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  78.4725
</td>
<td align="right">
  78.4575
</td>
<td align="right">
  78.4175
</td>
<td align="right">
  -.0150
</td>
<td align="right">
  -.0400
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-06
04:10:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
  78.4600
</td>
<td align="right">
  78.4400
</td>
<td align="right">
  78.3175
</td>
<td align="right">
  -.0200
</td>
<td align="right">
  -.1225
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-06
04:15:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  78.4600
</td>
<td align="right">
  78.4425
</td>
<td align="right">
  78.3275
</td>
<td align="right">
  -.0175
</td>
<td align="right">
  -.1150
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-06
07:05:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  78.3875
</td>
<td align="right">
  78.3575
</td>
<td align="right">
  78.3000
</td>
<td align="right">
  -.0300
</td>
<td align="right">
  -.0575
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-07
22:35:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  78.6200
</td>
<td align="right">
  78.6225
</td>
<td align="right">
  78.5475
</td>
<td align="right">
   .0025
</td>
<td align="right">
  -.0750
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-07
22:45:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  78.6325
</td>
<td align="right">
  78.6300
</td>
<td align="right">
  78.5525
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  -.0775
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-07
23:15:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
  78.6225
</td>
<td align="right">
  78.6125
</td>
<td align="right">
  78.5725
</td>
<td align="right">
  -.0100
</td>
<td align="right">
  -.0400
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-07
23:20:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  78.6325
</td>
<td align="right">
  78.6175
</td>
<td align="right">
  78.5375
</td>
<td align="right">
  -.0150
</td>
<td align="right">
  -.0800
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-07
23:25:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  78.6325
</td>
<td align="right">
  78.6275
</td>
<td align="right">
  78.5475
</td>
<td align="right">
  -.0050
</td>
<td align="right">
  -.0800
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-07
23:30:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  78.6325
</td>
<td align="right">
  78.6175
</td>
<td align="right">
  78.5250
</td>
<td align="right">
  -.0150
</td>
<td align="right">
  -.0925
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-09
01:05:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  78.4675
</td>
<td align="right">
  78.4875
</td>
<td align="right">
  78.5200
</td>
<td align="right">
   .0200
</td>
<td align="right">
   .0325
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0004
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-06
11:05:00
</td>
<td align="right">
  .65
</td>
<td align="right">
  82.6249
</td>
<td align="right">
  82.6465
</td>
<td align="right">
  82.7559
</td>
<td align="right">
   .0216
</td>
<td align="right">
   .1094
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-06
11:25:00
</td>
<td align="right">
  .71
</td>
<td align="right">
  82.6359
</td>
<td align="right">
  82.6008
</td>
<td align="right">
  82.7177
</td>
<td align="right">
  -.0352
</td>
<td align="right">
   .1169
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-06
11:40:00
</td>
<td align="right">
  .55
</td>
<td align="right">
  82.6886
</td>
<td align="right">
  82.6145
</td>
<td align="right">
  82.7151
</td>
<td align="right">
  -.0741
</td>
<td align="right">
   .1006
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-06
12:25:00
</td>
<td align="right">
  .74
</td>
<td align="right">
  82.6008
</td>
<td align="right">
  82.5882
</td>
<td align="right">
  82.7409
</td>
<td align="right">
  -.0126
</td>
<td align="right">
   .1527
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-06
12:30:00
</td>
<td align="right">
  .69
</td>
<td align="right">
  82.6135
</td>
<td align="right">
  82.6179
</td>
<td align="right">
  82.7298
</td>
<td align="right">
   .0044
</td>
<td align="right">
   .1120
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-06
13:45:00
</td>
<td align="right">
  .58
</td>
<td align="right">
  82.7642
</td>
<td align="right">
  82.7657
</td>
<td align="right">
  82.7409
</td>
<td align="right">
   .0016
</td>
<td align="right">
  -.0249
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-06
13:50:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  82.7510
</td>
<td align="right">
  82.7839
</td>
<td align="right">
  82.7365
</td>
<td align="right">
   .0329
</td>
<td align="right">
  -.0474
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-06
14:25:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  82.7473
</td>
<td align="right">
  82.7561
</td>
<td align="right">
  82.6772
</td>
<td align="right">
   .0087
</td>
<td align="right">
  -.0789
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-06
18:55:00
</td>
<td align="right">
  .59
</td>
<td align="right">
  82.7594
</td>
<td align="right">
  82.6731
</td>
<td align="right">
  82.5805
</td>
<td align="right">
  -.0863
</td>
<td align="right">
  -.0927
</td>
<td align="right">
 -.0010
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-06
19:25:00
</td>
<td align="right">
  .61
</td>
<td align="right">
  82.7887
</td>
<td align="right">
  82.6772
</td>
<td align="right">
  82.7686
</td>
<td align="right">
  -.1116
</td>
<td align="right">
   .0914
</td>
<td align="right">
 -.0013
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-06
19:30:00
</td>
<td align="right">
  .65
</td>
<td align="right">
  82.7983
</td>
<td align="right">
  82.6610
</td>
<td align="right">
  82.8219
</td>
<td align="right">
  -.1372
</td>
<td align="right">
   .1608
</td>
<td align="right">
 -.0017
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-06
19:35:00
</td>
<td align="right">
  .59
</td>
<td align="right">
  82.7773
</td>
<td align="right">
  82.6623
</td>
<td align="right">
  82.8009
</td>
<td align="right">
  -.1150
</td>
<td align="right">
   .1386
</td>
<td align="right">
 -.0014
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-08
14:10:00
</td>
<td align="right">
  .67
</td>
<td align="right">
  82.8796
</td>
<td align="right">
  82.8860
</td>
<td align="right">
  82.9344
</td>
<td align="right">
   .0064
</td>
<td align="right">
   .0484
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-08
21:20:00
</td>
<td align="right">
  .57
</td>
<td align="right">
  82.9367
</td>
<td align="right">
  82.9303
</td>
<td align="right">
  83.0938
</td>
<td align="right">
  -.0064
</td>
<td align="right">
   .1636
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-06
00:00:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.0560
</td>
<td align="right">
   1.0558
</td>
<td align="right">
   1.0568
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-06
00:15:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.0562
</td>
<td align="right">
   1.0565
</td>
<td align="right">
   1.0568
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-06
01:20:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.0559
</td>
<td align="right">
   1.0561
</td>
<td align="right">
   1.0556
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-06
01:25:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.0561
</td>
<td align="right">
   1.0563
</td>
<td align="right">
   1.0556
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-06
01:40:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.0563
</td>
<td align="right">
   1.0562
</td>
<td align="right">
   1.0547
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-06
05:15:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.0569
</td>
<td align="right">
   1.0568
</td>
<td align="right">
   1.0550
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0018
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-06
05:20:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.0570
</td>
<td align="right">
   1.0566
</td>
<td align="right">
   1.0549
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0017
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-06
05:35:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.0568
</td>
<td align="right">
   1.0566
</td>
<td align="right">
   1.0555
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-08
01:25:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.0547
</td>
<td align="right">
   1.0548
</td>
<td align="right">
   1.0545
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-08
01:35:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.0549
</td>
<td align="right">
   1.0547
</td>
<td align="right">
   1.0551
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-08
02:05:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.0551
</td>
<td align="right">
   1.0543
</td>
<td align="right">
   1.0561
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0018
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
12:05:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.1740
</td>
<td align="right">
   1.1740
</td>
<td align="right">
   1.1762
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0022
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
12:40:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.1744
</td>
<td align="right">
   1.1747
</td>
<td align="right">
   1.1763
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0016
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
13:30:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.1753
</td>
<td align="right">
   1.1751
</td>
<td align="right">
   1.1754
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
14:50:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.1755
</td>
<td align="right">
   1.1753
</td>
<td align="right">
   1.1748
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
14:55:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.1760
</td>
<td align="right">
   1.1752
</td>
<td align="right">
   1.1748
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  -.0004
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
15:00:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.1764
</td>
<td align="right">
   1.1754
</td>
<td align="right">
   1.1743
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0008
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
15:10:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.1767
</td>
<td align="right">
   1.1755
</td>
<td align="right">
   1.1743
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  -.0012
</td>
<td align="right">
 -.0010
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
15:15:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.1763
</td>
<td align="right">
   1.1757
</td>
<td align="right">
   1.1743
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0006
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
15:35:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.1754
</td>
<td align="right">
   1.1750
</td>
<td align="right">
   1.1743
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
17:40:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.1760
</td>
<td align="right">
   1.1763
</td>
<td align="right">
   1.1757
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
17:55:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.1760
</td>
<td align="right">
   1.1759
</td>
<td align="right">
   1.1753
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
18:00:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.1762
</td>
<td align="right">
   1.1759
</td>
<td align="right">
   1.1753
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
18:05:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.1762
</td>
<td align="right">
   1.1758
</td>
<td align="right">
   1.1753
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0005
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
18:10:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.1762
</td>
<td align="right">
   1.1760
</td>
<td align="right">
   1.1752
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
18:15:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.1762
</td>
<td align="right">
   1.1757
</td>
<td align="right">
   1.1753
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0004
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
18:20:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.1760
</td>
<td align="right">
   1.1757
</td>
<td align="right">
   1.1755
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-07
18:30:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.1759
</td>
<td align="right">
   1.1754
</td>
<td align="right">
   1.1755
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-06
20:25:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .7946
</td>
<td align="right">
    .7947
</td>
<td align="right">
    .7955
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-07
07:10:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .7955
</td>
<td align="right">
    .7953
</td>
<td align="right">
    .7931
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0022
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-07
07:30:00
</td>
<td align="right">
  .72
</td>
<td align="right">
    .7952
</td>
<td align="right">
    .7945
</td>
<td align="right">
    .7938
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0010
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-07
07:45:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .7955
</td>
<td align="right">
    .7949
</td>
<td align="right">
    .7935
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-07
07:50:00
</td>
<td align="right">
  .71
</td>
<td align="right">
    .7953
</td>
<td align="right">
    .7949
</td>
<td align="right">
    .7939
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0010
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-07
08:00:00
</td>
<td align="right">
  .73
</td>
<td align="right">
    .7955
</td>
<td align="right">
    .7946
</td>
<td align="right">
    .7933
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  -.0013
</td>
<td align="right">
 -.0011
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-07
10:40:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .7931
</td>
<td align="right">
    .7933
</td>
<td align="right">
    .7938
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-08
10:15:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .7900
</td>
<td align="right">
    .7896
</td>
<td align="right">
    .7896
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-08
10:30:00
</td>
<td align="right">
  .68
</td>
<td align="right">
    .7893
</td>
<td align="right">
    .7894
</td>
<td align="right">
    .7896
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-08
12:20:00
</td>
<td align="right">
  .72
</td>
<td align="right">
    .7886
</td>
<td align="right">
    .7888
</td>
<td align="right">
    .7888
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-08
12:40:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .7886
</td>
<td align="right">
    .7888
</td>
<td align="right">
    .7892
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-08
12:45:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .7887
</td>
<td align="right">
    .7886
</td>
<td align="right">
    .7892
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-07
14:35:00
</td>
<td align="right">
  .58
</td>
<td align="right">
  78.6775
</td>
<td align="right">
  78.6925
</td>
<td align="right">
  78.6325
</td>
<td align="right">
   .0150
</td>
<td align="right">
  -.0600
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-07
14:40:00
</td>
<td align="right">
  .77
</td>
<td align="right">
  78.6925
</td>
<td align="right">
  78.6925
</td>
<td align="right">
  78.6050
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0875
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-07
15:00:00
</td>
<td align="right">
  .59
</td>
<td align="right">
  78.6875
</td>
<td align="right">
  78.7075
</td>
<td align="right">
  78.5925
</td>
<td align="right">
   .0200
</td>
<td align="right">
  -.1150
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-07
15:05:00
</td>
<td align="right">
  .58
</td>
<td align="right">
  78.6725
</td>
<td align="right">
  78.6925
</td>
<td align="right">
  78.5900
</td>
<td align="right">
   .0200
</td>
<td align="right">
  -.1025
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-08
16:30:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  78.4625
</td>
<td align="right">
  78.4925
</td>
<td align="right">
  78.4425
</td>
<td align="right">
   .0300
</td>
<td align="right">
  -.0500
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0006
</td>
</tr>
</table>
<br />
