<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_05_06<h4>Week of: 2012_05_06 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .62
</td>
<td align="right">
    2.85
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0032
</td>
<td align="right">
   11
</td>
<td align="right">
   .0352
</td>
<td align="right">
   .0015
</td>
<td align="right">
   .0048
</td>
<td align="right">
   .0011
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   11
</td>
<td align="right">
   .0352
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
06:05:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 103.7123
</td>
<td align="right">
 103.8207
</td>
<td align="right">
 104.1850
</td>
<td align="right">
   .1084
</td>
<td align="right">
   .3642
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0035
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-05-07
01:55:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9978
</td>
<td align="right">
    .9975
</td>
<td align="right">
    .9971
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0004
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0004
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
00:40:00
</td>
<td align="right">
  .56
</td>
<td align="right">
 103.7541
</td>
<td align="right">
 103.5162
</td>
<td align="right">
 103.8266
</td>
<td align="right">
  -.2379
</td>
<td align="right">
   .3103
</td>
<td align="right">
 -.0023
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
01:20:00
</td>
<td align="right">
  .68
</td>
<td align="right">
 103.5951
</td>
<td align="right">
 103.5991
</td>
<td align="right">
 103.8635
</td>
<td align="right">
   .0040
</td>
<td align="right">
   .2643
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
01:35:00
</td>
<td align="right">
  .66
</td>
<td align="right">
 103.5807
</td>
<td align="right">
 103.6109
</td>
<td align="right">
 103.9381
</td>
<td align="right">
   .0302
</td>
<td align="right">
   .3272
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
01:50:00
</td>
<td align="right">
  .59
</td>
<td align="right">
 103.6316
</td>
<td align="right">
 103.6129
</td>
<td align="right">
 103.9460
</td>
<td align="right">
  -.0187
</td>
<td align="right">
   .3331
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
01:55:00
</td>
<td align="right">
  .63
</td>
<td align="right">
 103.6208
</td>
<td align="right">
 103.6391
</td>
<td align="right">
 103.9300
</td>
<td align="right">
   .0182
</td>
<td align="right">
   .2910
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
02:30:00
</td>
<td align="right">
  .55
</td>
<td align="right">
 103.6044
</td>
<td align="right">
 103.6386
</td>
<td align="right">
 103.8456
</td>
<td align="right">
   .0342
</td>
<td align="right">
   .2070
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
02:35:00
</td>
<td align="right">
  .60
</td>
<td align="right">
 103.6109
</td>
<td align="right">
 103.6380
</td>
<td align="right">
 103.7891
</td>
<td align="right">
   .0272
</td>
<td align="right">
   .1511
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
03:25:00
</td>
<td align="right">
  .56
</td>
<td align="right">
 103.6438
</td>
<td align="right">
 103.5313
</td>
<td align="right">
 103.8129
</td>
<td align="right">
  -.1125
</td>
<td align="right">
   .2816
</td>
<td align="right">
 -.0011
</td>
<td align="right">
  .0027
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
04:15:00
</td>
<td align="right">
  .58
</td>
<td align="right">
 103.5250
</td>
<td align="right">
 103.5547
</td>
<td align="right">
 104.0521
</td>
<td align="right">
   .0297
</td>
<td align="right">
   .4974
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0048
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
04:20:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 103.5193
</td>
<td align="right">
 103.5445
</td>
<td align="right">
 104.0332
</td>
<td align="right">
   .0252
</td>
<td align="right">
   .4887
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0047
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-05-07
04:25:00
</td>
<td align="right">
  .73
</td>
<td align="right">
 103.5313
</td>
<td align="right">
 103.5577
</td>
<td align="right">
 104.0497
</td>
<td align="right">
   .0264
</td>
<td align="right">
   .4920
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0048
</td>
</tr>
</table>
<br />
