<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_10_28<h4>Week of: 2012_10_28 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.54
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0010
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0059
</td>
<td align="right">
  -.0038
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0018
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.56
</td>
<td align="right">
   -1.10
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0015
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0014
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .54
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0003
</td>
<td align="right">
    5
</td>
<td align="right">
   .0017
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.81
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0019
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0116
</td>
<td align="right">
  -.0043
</td>
<td align="right">
   .0025
</td>
<td align="right">
   .0024
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .16
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0008
</td>
<td align="right">
    2
</td>
<td align="right">
   .0015
</td>
<td align="right">
  -.0025
</td>
<td align="right">
   .0040
</td>
<td align="right">
   .0046
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   21
</td>
<td align="right">
  -.0173
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .70
</td>
<td align="right">
    7.88
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0004
</td>
<td align="right">
    2
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.08
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0002
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  -.0041
</td>
<td align="right">
   .0023
</td>
<td align="right">
   .0027
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .66
</td>
<td align="right">
     .54
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0015
</td>
<td align="right">
   53
</td>
<td align="right">
   .0780
</td>
<td align="right">
  -.0026
</td>
<td align="right">
   .0071
</td>
<td align="right">
   .0027
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   60
</td>
<td align="right">
   .0778
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-29
11:05:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  82.3496
</td>
<td align="right">
  82.3679
</td>
<td align="right">
  82.4448
</td>
<td align="right">
   .0183
</td>
<td align="right">
   .0769
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-29
13:45:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  82.4774
</td>
<td align="right">
  82.4475
</td>
<td align="right">
  82.4808
</td>
<td align="right">
  -.0299
</td>
<td align="right">
   .0333
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-29
21:40:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  82.4482
</td>
<td align="right">
  82.4627
</td>
<td align="right">
  82.4860
</td>
<td align="right">
   .0146
</td>
<td align="right">
   .0233
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-31
08:30:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  82.9036
</td>
<td align="right">
  82.9079
</td>
<td align="right">
  82.7847
</td>
<td align="right">
   .0043
</td>
<td align="right">
  -.1233
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-31
08:50:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  82.9008
</td>
<td align="right">
  82.9051
</td>
<td align="right">
  82.7181
</td>
<td align="right">
   .0043
</td>
<td align="right">
  -.1871
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-31
09:00:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  82.9076
</td>
<td align="right">
  82.9331
</td>
<td align="right">
  82.6183
</td>
<td align="right">
   .0255
</td>
<td align="right">
  -.3148
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-11-01
05:25:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.0367
</td>
<td align="right">
   1.0369
</td>
<td align="right">
   1.0380
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0011
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-10-29
00:20:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.2480
</td>
<td align="right">
   1.2482
</td>
<td align="right">
   1.2475
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-10-31
14:10:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2521
</td>
<td align="right">
   1.2523
</td>
<td align="right">
   1.2492
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0031
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-29
15:00:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .8047
</td>
<td align="right">
    .8052
</td>
<td align="right">
    .8048
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-29
17:20:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .8050
</td>
<td align="right">
    .8050
</td>
<td align="right">
    .8049
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-29
17:50:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .8049
</td>
<td align="right">
    .8049
</td>
<td align="right">
    .8052
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-29
17:55:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .8048
</td>
<td align="right">
    .8045
</td>
<td align="right">
    .8053
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-29
18:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .8050
</td>
<td align="right">
    .8051
</td>
<td align="right">
    .8057
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-30
07:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 102.8151
</td>
<td align="right">
 102.8846
</td>
<td align="right">
 103.1416
</td>
<td align="right">
   .0695
</td>
<td align="right">
   .2570
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
09:20:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
 103.7411
</td>
<td align="right">
 103.7837
</td>
<td align="right">
 103.6141
</td>
<td align="right">
   .0426
</td>
<td align="right">
  -.1696
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
10:30:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 103.7403
</td>
<td align="right">
 103.9065
</td>
<td align="right">
 103.4619
</td>
<td align="right">
   .1662
</td>
<td align="right">
  -.4446
</td>
<td align="right">
  .0016
</td>
<td align="right">
 -.0043
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
10:55:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
 103.8372
</td>
<td align="right">
 103.8137
</td>
<td align="right">
 103.6208
</td>
<td align="right">
  -.0235
</td>
<td align="right">
  -.1928
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
12:30:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 103.7478
</td>
<td align="right">
 103.7584
</td>
<td align="right">
 103.4732
</td>
<td align="right">
   .0106
</td>
<td align="right">
  -.2852
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
13:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 103.7853
</td>
<td align="right">
 103.7943
</td>
<td align="right">
 103.4258
</td>
<td align="right">
   .0091
</td>
<td align="right">
  -.3685
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0036
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-10-30
05:15:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.2901
</td>
<td align="right">
   1.2899
</td>
<td align="right">
   1.2951
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0052
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0040
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-01
03:30:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.2967
</td>
<td align="right">
   1.2965
</td>
<td align="right">
   1.2932
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0033
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-10-29
07:45:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.6073
</td>
<td align="right">
   1.6067
</td>
<td align="right">
   1.6034
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0033
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0021
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-29
07:40:00
</td>
<td align="right">
  .71
</td>
<td align="right">
  82.4407
</td>
<td align="right">
  82.4403
</td>
<td align="right">
  82.4726
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0323
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-29
08:40:00
</td>
<td align="right">
  .69
</td>
<td align="right">
  82.4403
</td>
<td align="right">
  82.4507
</td>
<td align="right">
  82.4893
</td>
<td align="right">
   .0104
</td>
<td align="right">
   .0386
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-30
04:50:00
</td>
<td align="right">
  .66
</td>
<td align="right">
    .8047
</td>
<td align="right">
    .8047
</td>
<td align="right">
    .8065
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0018
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-30
05:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .8047
</td>
<td align="right">
    .8043
</td>
<td align="right">
    .8061
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0018
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-30
18:55:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .8062
</td>
<td align="right">
    .8061
</td>
<td align="right">
    .8062
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-01
01:05:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .8038
</td>
<td align="right">
    .8037
</td>
<td align="right">
    .8025
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0013
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-01
03:20:00
</td>
<td align="right">
  .68
</td>
<td align="right">
    .8041
</td>
<td align="right">
    .8038
</td>
<td align="right">
    .8005
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0033
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0041
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
02:15:00
</td>
<td align="right">
  .66
</td>
<td align="right">
 103.1488
</td>
<td align="right">
 103.1015
</td>
<td align="right">
 103.6514
</td>
<td align="right">
  -.0473
</td>
<td align="right">
   .5499
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0053
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
02:35:00
</td>
<td align="right">
  .63
</td>
<td align="right">
 103.1014
</td>
<td align="right">
 103.1290
</td>
<td align="right">
 103.7572
</td>
<td align="right">
   .0275
</td>
<td align="right">
   .6282
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0061
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
02:40:00
</td>
<td align="right">
  .56
</td>
<td align="right">
 103.1321
</td>
<td align="right">
 103.1307
</td>
<td align="right">
 103.7083
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   .5776
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0056
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
04:25:00
</td>
<td align="right">
  .61
</td>
<td align="right">
 103.1467
</td>
<td align="right">
 103.1815
</td>
<td align="right">
 103.7842
</td>
<td align="right">
   .0349
</td>
<td align="right">
   .6027
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0058
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
04:40:00
</td>
<td align="right">
  .60
</td>
<td align="right">
 103.1564
</td>
<td align="right">
 103.1738
</td>
<td align="right">
 103.8836
</td>
<td align="right">
   .0174
</td>
<td align="right">
   .7098
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0069
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
04:45:00
</td>
<td align="right">
  .62
</td>
<td align="right">
 103.1549
</td>
<td align="right">
 103.1454
</td>
<td align="right">
 103.8756
</td>
<td align="right">
  -.0095
</td>
<td align="right">
   .7302
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0071
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
05:15:00
</td>
<td align="right">
  .57
</td>
<td align="right">
 103.1664
</td>
<td align="right">
 103.1748
</td>
<td align="right">
 103.8970
</td>
<td align="right">
   .0084
</td>
<td align="right">
   .7223
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0070
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
05:50:00
</td>
<td align="right">
  .58
</td>
<td align="right">
 103.1330
</td>
<td align="right">
 103.1469
</td>
<td align="right">
 103.8311
</td>
<td align="right">
   .0140
</td>
<td align="right">
   .6842
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0066
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
14:35:00
</td>
<td align="right">
  .69
</td>
<td align="right">
 103.6820
</td>
<td align="right">
 103.7099
</td>
<td align="right">
 103.4445
</td>
<td align="right">
   .0279
</td>
<td align="right">
  -.2654
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
14:45:00
</td>
<td align="right">
  .74
</td>
<td align="right">
 103.6006
</td>
<td align="right">
 103.6345
</td>
<td align="right">
 103.4407
</td>
<td align="right">
   .0339
</td>
<td align="right">
  -.1938
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
15:10:00
</td>
<td align="right">
  .59
</td>
<td align="right">
 103.5348
</td>
<td align="right">
 103.5258
</td>
<td align="right">
 103.3911
</td>
<td align="right">
  -.0090
</td>
<td align="right">
  -.1346
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
15:15:00
</td>
<td align="right">
  .76
</td>
<td align="right">
 103.5897
</td>
<td align="right">
 103.5120
</td>
<td align="right">
 103.3847
</td>
<td align="right">
  -.0776
</td>
<td align="right">
  -.1274
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
15:20:00
</td>
<td align="right">
  .73
</td>
<td align="right">
 103.6141
</td>
<td align="right">
 103.5088
</td>
<td align="right">
 103.3886
</td>
<td align="right">
  -.1053
</td>
<td align="right">
  -.1201
</td>
<td align="right">
 -.0010
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
15:40:00
</td>
<td align="right">
  .73
</td>
<td align="right">
 103.6954
</td>
<td align="right">
 103.5263
</td>
<td align="right">
 103.4013
</td>
<td align="right">
  -.1692
</td>
<td align="right">
  -.1249
</td>
<td align="right">
 -.0016
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
15:50:00
</td>
<td align="right">
  .69
</td>
<td align="right">
 103.6277
</td>
<td align="right">
 103.5742
</td>
<td align="right">
 103.3944
</td>
<td align="right">
  -.0536
</td>
<td align="right">
  -.1798
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
16:05:00
</td>
<td align="right">
  .60
</td>
<td align="right">
 103.5627
</td>
<td align="right">
 103.5694
</td>
<td align="right">
 103.3819
</td>
<td align="right">
   .0068
</td>
<td align="right">
  -.1875
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
16:10:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 103.5258
</td>
<td align="right">
 103.5632
</td>
<td align="right">
 103.3799
</td>
<td align="right">
   .0374
</td>
<td align="right">
  -.1833
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
16:40:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 103.5263
</td>
<td align="right">
 103.5452
</td>
<td align="right">
 103.4355
</td>
<td align="right">
   .0190
</td>
<td align="right">
  -.1097
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
16:45:00
</td>
<td align="right">
  .63
</td>
<td align="right">
 103.5477
</td>
<td align="right">
 103.5450
</td>
<td align="right">
 103.4280
</td>
<td align="right">
  -.0027
</td>
<td align="right">
  -.1170
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
16:50:00
</td>
<td align="right">
  .56
</td>
<td align="right">
 103.5742
</td>
<td align="right">
 103.5555
</td>
<td align="right">
 103.4395
</td>
<td align="right">
  -.0187
</td>
<td align="right">
  -.1160
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
16:55:00
</td>
<td align="right">
  .59
</td>
<td align="right">
 103.6208
</td>
<td align="right">
 103.5667
</td>
<td align="right">
 103.4415
</td>
<td align="right">
  -.0541
</td>
<td align="right">
  -.1252
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
17:00:00
</td>
<td align="right">
  .77
</td>
<td align="right">
 103.5984
</td>
<td align="right">
 103.6046
</td>
<td align="right">
 103.4445
</td>
<td align="right">
   .0062
</td>
<td align="right">
  -.1602
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
17:05:00
</td>
<td align="right">
  .77
</td>
<td align="right">
 103.5694
</td>
<td align="right">
 103.5869
</td>
<td align="right">
 103.4480
</td>
<td align="right">
   .0175
</td>
<td align="right">
  -.1389
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
17:10:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 103.5632
</td>
<td align="right">
 103.5694
</td>
<td align="right">
 103.4303
</td>
<td align="right">
   .0063
</td>
<td align="right">
  -.1392
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
17:20:00
</td>
<td align="right">
  .57
</td>
<td align="right">
 103.5889
</td>
<td align="right">
 103.5532
</td>
<td align="right">
 103.4639
</td>
<td align="right">
  -.0357
</td>
<td align="right">
  -.0893
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
17:30:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 103.5662
</td>
<td align="right">
 103.4732
</td>
<td align="right">
 103.5066
</td>
<td align="right">
  -.0930
</td>
<td align="right">
   .0334
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
17:35:00
</td>
<td align="right">
  .77
</td>
<td align="right">
 103.5420
</td>
<td align="right">
 103.4335
</td>
<td align="right">
 103.5248
</td>
<td align="right">
  -.1085
</td>
<td align="right">
   .0913
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
17:40:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 103.5452
</td>
<td align="right">
 103.3697
</td>
<td align="right">
 103.5410
</td>
<td align="right">
  -.1755
</td>
<td align="right">
   .1713
</td>
<td align="right">
 -.0017
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
17:45:00
</td>
<td align="right">
  .62
</td>
<td align="right">
 103.5450
</td>
<td align="right">
 103.3737
</td>
<td align="right">
 103.5502
</td>
<td align="right">
  -.1713
</td>
<td align="right">
   .1765
</td>
<td align="right">
 -.0017
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
17:50:00
</td>
<td align="right">
  .73
</td>
<td align="right">
 103.5555
</td>
<td align="right">
 103.3503
</td>
<td align="right">
 103.5542
</td>
<td align="right">
  -.2052
</td>
<td align="right">
   .2039
</td>
<td align="right">
 -.0020
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
17:55:00
</td>
<td align="right">
  .76
</td>
<td align="right">
 103.5667
</td>
<td align="right">
 103.4208
</td>
<td align="right">
 103.5470
</td>
<td align="right">
  -.1459
</td>
<td align="right">
   .1262
</td>
<td align="right">
 -.0014
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
18:00:00
</td>
<td align="right">
  .63
</td>
<td align="right">
 103.6046
</td>
<td align="right">
 103.4258
</td>
<td align="right">
 103.5767
</td>
<td align="right">
  -.1788
</td>
<td align="right">
   .1509
</td>
<td align="right">
 -.0017
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
18:05:00
</td>
<td align="right">
  .69
</td>
<td align="right">
 103.5869
</td>
<td align="right">
 103.4410
</td>
<td align="right">
 103.5712
</td>
<td align="right">
  -.1459
</td>
<td align="right">
   .1302
</td>
<td align="right">
 -.0014
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
18:10:00
</td>
<td align="right">
  .73
</td>
<td align="right">
 103.5694
</td>
<td align="right">
 103.4555
</td>
<td align="right">
 103.5796
</td>
<td align="right">
  -.1140
</td>
<td align="right">
   .1242
</td>
<td align="right">
 -.0011
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
18:15:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 103.5767
</td>
<td align="right">
 103.4994
</td>
<td align="right">
 103.5667
</td>
<td align="right">
  -.0773
</td>
<td align="right">
   .0673
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
18:20:00
</td>
<td align="right">
  .75
</td>
<td align="right">
 103.5532
</td>
<td align="right">
 103.5123
</td>
<td align="right">
 103.5550
</td>
<td align="right">
  -.0409
</td>
<td align="right">
   .0426
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
18:25:00
</td>
<td align="right">
  .58
</td>
<td align="right">
 103.5452
</td>
<td align="right">
 103.5038
</td>
<td align="right">
 103.5213
</td>
<td align="right">
  -.0414
</td>
<td align="right">
   .0174
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
18:30:00
</td>
<td align="right">
  .60
</td>
<td align="right">
 103.4732
</td>
<td align="right">
 103.4983
</td>
<td align="right">
 103.5447
</td>
<td align="right">
   .0252
</td>
<td align="right">
   .0464
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
19:05:00
</td>
<td align="right">
  .69
</td>
<td align="right">
 103.4410
</td>
<td align="right">
 103.4258
</td>
<td align="right">
 103.5501
</td>
<td align="right">
  -.0152
</td>
<td align="right">
   .1244
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
19:10:00
</td>
<td align="right">
  .66
</td>
<td align="right">
 103.4555
</td>
<td align="right">
 103.4375
</td>
<td align="right">
 103.5311
</td>
<td align="right">
  -.0180
</td>
<td align="right">
   .0936
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
19:25:00
</td>
<td align="right">
  .58
</td>
<td align="right">
 103.5038
</td>
<td align="right">
 103.4400
</td>
<td align="right">
 103.5069
</td>
<td align="right">
  -.0639
</td>
<td align="right">
   .0670
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
19:30:00
</td>
<td align="right">
  .70
</td>
<td align="right">
 103.4983
</td>
<td align="right">
 103.4392
</td>
<td align="right">
 103.6055
</td>
<td align="right">
  -.0591
</td>
<td align="right">
   .1663
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
19:35:00
</td>
<td align="right">
  .83
</td>
<td align="right">
 103.4983
</td>
<td align="right">
 103.4445
</td>
<td align="right">
 103.6684
</td>
<td align="right">
  -.0539
</td>
<td align="right">
   .2239
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
19:40:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 103.4889
</td>
<td align="right">
 103.4375
</td>
<td align="right">
 103.6629
</td>
<td align="right">
  -.0514
</td>
<td align="right">
   .2254
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
19:45:00
</td>
<td align="right">
  .69
</td>
<td align="right">
 103.4809
</td>
<td align="right">
 103.4407
</td>
<td align="right">
 103.6644
</td>
<td align="right">
  -.0401
</td>
<td align="right">
   .2237
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
19:50:00
</td>
<td align="right">
  .70
</td>
<td align="right">
 103.4769
</td>
<td align="right">
 103.3966
</td>
<td align="right">
 103.6452
</td>
<td align="right">
  -.0803
</td>
<td align="right">
   .2486
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
20:00:00
</td>
<td align="right">
  .63
</td>
<td align="right">
 103.4113
</td>
<td align="right">
 103.3886
</td>
<td align="right">
 103.6947
</td>
<td align="right">
  -.0227
</td>
<td align="right">
   .3061
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
20:05:00
</td>
<td align="right">
  .66
</td>
<td align="right">
 103.4258
</td>
<td align="right">
 103.3834
</td>
<td align="right">
 103.6743
</td>
<td align="right">
  -.0424
</td>
<td align="right">
   .2909
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
20:10:00
</td>
<td align="right">
  .62
</td>
<td align="right">
 103.4375
</td>
<td align="right">
 103.3911
</td>
<td align="right">
 103.6933
</td>
<td align="right">
  -.0464
</td>
<td align="right">
   .3022
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0029
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
20:25:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 103.4400
</td>
<td align="right">
 103.3886
</td>
<td align="right">
 103.7558
</td>
<td align="right">
  -.0513
</td>
<td align="right">
   .3672
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0035
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
21:20:00
</td>
<td align="right">
  .62
</td>
<td align="right">
 103.3834
</td>
<td align="right">
 103.3819
</td>
<td align="right">
 103.8505
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .4686
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0045
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
21:25:00
</td>
<td align="right">
  .63
</td>
<td align="right">
 103.3911
</td>
<td align="right">
 103.3799
</td>
<td align="right">
 103.8196
</td>
<td align="right">
  -.0112
</td>
<td align="right">
   .4397
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0043
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-31
21:30:00
</td>
<td align="right">
  .61
</td>
<td align="right">
 103.3847
</td>
<td align="right">
 103.3869
</td>
<td align="right">
 103.8118
</td>
<td align="right">
   .0022
</td>
<td align="right">
   .4249
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0041
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-10-29
00:50:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.6079
</td>
<td align="right">
   1.6085
</td>
<td align="right">
   1.6085
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-01
06:40:00
</td>
<td align="right">
  .60
</td>
<td align="right">
  80.0050
</td>
<td align="right">
  79.9675
</td>
<td align="right">
  80.0325
</td>
<td align="right">
  -.0375
</td>
<td align="right">
   .0650
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0008
</td>
</tr>
</table>
<br />
