<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_11_11<h4>Week of: 2012_11_11 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.64
</td>
<td align="right">
    -.52
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   31
</td>
<td align="right">
  -.0134
</td>
<td align="right">
  -.0025
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.84
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   84
</td>
<td align="right">
  -.1516
</td>
<td align="right">
  -.0066
</td>
<td align="right">
   .0058
</td>
<td align="right">
   .0022
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.42
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0003
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0008
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.61
</td>
<td align="right">
    1.65
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0004
</td>
<td align="right">
    2
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.59
</td>
<td align="right">
     .25
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0006
</td>
<td align="right">
    5
</td>
<td align="right">
   .0028
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0045
</td>
<td align="right">
   .0022
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  124
</td>
<td align="right">
  -.1622
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .66
</td>
<td align="right">
     .68
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0021
</td>
<td align="right">
   11
</td>
<td align="right">
   .0235
</td>
<td align="right">
  -.0039
</td>
<td align="right">
   .0050
</td>
<td align="right">
   .0031
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .62
</td>
<td align="right">
   -1.81
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   12
</td>
<td align="right">
  -.0079
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .62
</td>
<td align="right">
    1.11
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0010
</td>
<td align="right">
    7
</td>
<td align="right">
   .0071
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0026
</td>
<td align="right">
   .0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .62
</td>
<td align="right">
     .20
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0002
</td>
<td align="right">
    8
</td>
<td align="right">
   .0014
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   .0013
</td>
<td align="right">
   .0009
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .70
</td>
<td align="right">
    -.40
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   11
</td>
<td align="right">
  -.0039
</td>
<td align="right">
  -.0014
</td>
<td align="right">
   .0014
</td>
<td align="right">
   .0009
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   49
</td>
<td align="right">
   .0202
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-13
09:45:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  82.6203
</td>
<td align="right">
  82.7467
</td>
<td align="right">
  82.8916
</td>
<td align="right">
   .1264
</td>
<td align="right">
   .1449
</td>
<td align="right">
  .0015
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-12
02:55:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.2214
</td>
<td align="right">
   1.2216
</td>
<td align="right">
   1.2200
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-12
03:10:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2213
</td>
<td align="right">
   1.2214
</td>
<td align="right">
   1.2201
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-12
04:55:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.2217
</td>
<td align="right">
   1.2221
</td>
<td align="right">
   1.2191
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0031
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-12
13:15:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.2196
</td>
<td align="right">
   1.2193
</td>
<td align="right">
   1.2192
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-12
13:20:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.2194
</td>
<td align="right">
   1.2192
</td>
<td align="right">
   1.2190
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-12
14:40:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.2191
</td>
<td align="right">
   1.2187
</td>
<td align="right">
   1.2191
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-12
19:15:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.2192
</td>
<td align="right">
   1.2193
</td>
<td align="right">
   1.2189
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-12
19:50:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.2189
</td>
<td align="right">
   1.2190
</td>
<td align="right">
   1.2187
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-12
19:55:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2190
</td>
<td align="right">
   1.2190
</td>
<td align="right">
   1.2187
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-12
22:30:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.2186
</td>
<td align="right">
   1.2186
</td>
<td align="right">
   1.2191
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-12
22:35:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.2187
</td>
<td align="right">
   1.2189
</td>
<td align="right">
   1.2191
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-12
23:00:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
   1.2188
</td>
<td align="right">
   1.2189
</td>
<td align="right">
   1.2186
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-12
23:05:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.2188
</td>
<td align="right">
   1.2188
</td>
<td align="right">
   1.2188
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-12
23:10:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.2187
</td>
<td align="right">
   1.2189
</td>
<td align="right">
   1.2193
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-12
23:25:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.2187
</td>
<td align="right">
   1.2185
</td>
<td align="right">
   1.2191
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-13
00:05:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.2188
</td>
<td align="right">
   1.2193
</td>
<td align="right">
   1.2187
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-13
02:15:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
   1.2184
</td>
<td align="right">
   1.2180
</td>
<td align="right">
   1.2180
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-13
02:35:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.2185
</td>
<td align="right">
   1.2185
</td>
<td align="right">
   1.2184
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-13
02:45:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.2184
</td>
<td align="right">
   1.2189
</td>
<td align="right">
   1.2182
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-13
02:50:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.2183
</td>
<td align="right">
   1.2187
</td>
<td align="right">
   1.2181
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-13
02:55:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.2181
</td>
<td align="right">
   1.2187
</td>
<td align="right">
   1.2182
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-13
03:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.2182
</td>
<td align="right">
   1.2189
</td>
<td align="right">
   1.2178
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-13
03:15:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2180
</td>
<td align="right">
   1.2187
</td>
<td align="right">
   1.2177
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-13
03:45:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
   1.2189
</td>
<td align="right">
   1.2185
</td>
<td align="right">
   1.2170
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0015
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-13
04:05:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.2187
</td>
<td align="right">
   1.2188
</td>
<td align="right">
   1.2168
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0020
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-13
04:25:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.2188
</td>
<td align="right">
   1.2191
</td>
<td align="right">
   1.2165
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0026
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-13
04:30:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.2191
</td>
<td align="right">
   1.2187
</td>
<td align="right">
   1.2167
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0020
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-13
04:55:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.2186
</td>
<td align="right">
   1.2185
</td>
<td align="right">
   1.2177
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0008
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-13
05:55:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.2185
</td>
<td align="right">
   1.2186
</td>
<td align="right">
   1.2199
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-13
06:20:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.2189
</td>
<td align="right">
   1.2187
</td>
<td align="right">
   1.2195
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-13
09:20:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.2175
</td>
<td align="right">
   1.2172
</td>
<td align="right">
   1.2178
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
00:30:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
 101.0795
</td>
<td align="right">
 101.2071
</td>
<td align="right">
 101.2269
</td>
<td align="right">
   .1276
</td>
<td align="right">
   .0199
</td>
<td align="right">
  .0013
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
00:35:00
</td>
<td align="right">
 -.84
</td>
<td align="right">
 101.0938
</td>
<td align="right">
 101.1948
</td>
<td align="right">
 101.2755
</td>
<td align="right">
   .1010
</td>
<td align="right">
   .0807
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
00:40:00
</td>
<td align="right">
 -.86
</td>
<td align="right">
 101.0966
</td>
<td align="right">
 101.1888
</td>
<td align="right">
 101.2428
</td>
<td align="right">
   .0922
</td>
<td align="right">
   .0540
</td>
<td align="right">
  .0009
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
00:45:00
</td>
<td align="right">
 -.87
</td>
<td align="right">
 101.1228
</td>
<td align="right">
 101.1570
</td>
<td align="right">
 101.2285
</td>
<td align="right">
   .0342
</td>
<td align="right">
   .0715
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
00:50:00
</td>
<td align="right">
 -.85
</td>
<td align="right">
 101.1379
</td>
<td align="right">
 101.1145
</td>
<td align="right">
 101.2107
</td>
<td align="right">
  -.0235
</td>
<td align="right">
   .0962
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
00:55:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
 101.1614
</td>
<td align="right">
 101.1220
</td>
<td align="right">
 101.1737
</td>
<td align="right">
  -.0394
</td>
<td align="right">
   .0517
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
01:25:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
 101.1952
</td>
<td align="right">
 101.1649
</td>
<td align="right">
 100.9833
</td>
<td align="right">
  -.0302
</td>
<td align="right">
  -.1816
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
01:45:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
 101.1570
</td>
<td align="right">
 101.1240
</td>
<td align="right">
 100.9059
</td>
<td align="right">
  -.0330
</td>
<td align="right">
  -.2181
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
01:50:00
</td>
<td align="right">
 -.85
</td>
<td align="right">
 101.1145
</td>
<td align="right">
 101.1280
</td>
<td align="right">
 100.9821
</td>
<td align="right">
   .0135
</td>
<td align="right">
  -.1458
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
01:55:00
</td>
<td align="right">
 -.83
</td>
<td align="right">
 101.1220
</td>
<td align="right">
 101.1323
</td>
<td align="right">
 100.9774
</td>
<td align="right">
   .0103
</td>
<td align="right">
  -.1550
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:00:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
 101.0870
</td>
<td align="right">
 101.1280
</td>
<td align="right">
 100.9655
</td>
<td align="right">
   .0409
</td>
<td align="right">
  -.1625
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:05:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
 101.1037
</td>
<td align="right">
 101.1502
</td>
<td align="right">
 100.9067
</td>
<td align="right">
   .0465
</td>
<td align="right">
  -.2436
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:10:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
 101.0998
</td>
<td align="right">
 101.1482
</td>
<td align="right">
 100.9528
</td>
<td align="right">
   .0485
</td>
<td align="right">
  -.1955
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:15:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
 101.0870
</td>
<td align="right">
 101.1546
</td>
<td align="right">
 100.9829
</td>
<td align="right">
   .0676
</td>
<td align="right">
  -.1717
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:20:00
</td>
<td align="right">
 -.83
</td>
<td align="right">
 101.1323
</td>
<td align="right">
 101.1506
</td>
<td align="right">
 101.0862
</td>
<td align="right">
   .0183
</td>
<td align="right">
  -.0644
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:25:00
</td>
<td align="right">
 -.83
</td>
<td align="right">
 101.1649
</td>
<td align="right">
 101.1749
</td>
<td align="right">
 101.1220
</td>
<td align="right">
   .0099
</td>
<td align="right">
  -.0529
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:30:00
</td>
<td align="right">
 -.83
</td>
<td align="right">
 101.1514
</td>
<td align="right">
 101.1538
</td>
<td align="right">
 101.0775
</td>
<td align="right">
   .0024
</td>
<td align="right">
  -.0763
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:35:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
 101.1208
</td>
<td align="right">
 101.1300
</td>
<td align="right">
 101.0966
</td>
<td align="right">
   .0092
</td>
<td align="right">
  -.0334
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:40:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
 101.1045
</td>
<td align="right">
 101.1657
</td>
<td align="right">
 101.0672
</td>
<td align="right">
   .0612
</td>
<td align="right">
  -.0986
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:45:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
 101.1240
</td>
<td align="right">
 101.1427
</td>
<td align="right">
 100.9551
</td>
<td align="right">
   .0187
</td>
<td align="right">
  -.1875
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:50:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
 101.1280
</td>
<td align="right">
 101.1530
</td>
<td align="right">
 100.9631
</td>
<td align="right">
   .0250
</td>
<td align="right">
  -.1899
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
02:55:00
</td>
<td align="right">
 -.87
</td>
<td align="right">
 101.1323
</td>
<td align="right">
 101.1530
</td>
<td align="right">
 101.0361
</td>
<td align="right">
   .0207
</td>
<td align="right">
  -.1169
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:00:00
</td>
<td align="right">
 -.86
</td>
<td align="right">
 101.1280
</td>
<td align="right">
 101.1379
</td>
<td align="right">
 100.9849
</td>
<td align="right">
   .0099
</td>
<td align="right">
  -.1530
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:05:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
 101.1502
</td>
<td align="right">
 101.1419
</td>
<td align="right">
 100.9901
</td>
<td align="right">
  -.0084
</td>
<td align="right">
  -.1518
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:10:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
 101.1482
</td>
<td align="right">
 101.1335
</td>
<td align="right">
 101.0385
</td>
<td align="right">
  -.0147
</td>
<td align="right">
  -.0950
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:15:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
 101.1546
</td>
<td align="right">
 101.1458
</td>
<td align="right">
 101.0362
</td>
<td align="right">
  -.0088
</td>
<td align="right">
  -.1097
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:20:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
 101.1506
</td>
<td align="right">
 101.1570
</td>
<td align="right">
 101.0886
</td>
<td align="right">
   .0063
</td>
<td align="right">
  -.0683
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:25:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
 101.1749
</td>
<td align="right">
 101.1848
</td>
<td align="right">
 101.0894
</td>
<td align="right">
   .0099
</td>
<td align="right">
  -.0954
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:30:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
 101.1538
</td>
<td align="right">
 101.1546
</td>
<td align="right">
 101.0664
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0882
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:35:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
 101.1300
</td>
<td align="right">
 101.1506
</td>
<td align="right">
 101.0449
</td>
<td align="right">
   .0207
</td>
<td align="right">
  -.1057
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:40:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 101.1657
</td>
<td align="right">
 101.1347
</td>
<td align="right">
 101.0370
</td>
<td align="right">
  -.0310
</td>
<td align="right">
  -.0977
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:45:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 101.1427
</td>
<td align="right">
 101.1633
</td>
<td align="right">
 101.0584
</td>
<td align="right">
   .0207
</td>
<td align="right">
  -.1049
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:50:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
 101.1530
</td>
<td align="right">
 101.1777
</td>
<td align="right">
 100.9933
</td>
<td align="right">
   .0247
</td>
<td align="right">
  -.1844
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
03:55:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
 101.1530
</td>
<td align="right">
 101.1665
</td>
<td align="right">
 100.9535
</td>
<td align="right">
   .0135
</td>
<td align="right">
  -.2130
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:00:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 101.1379
</td>
<td align="right">
 101.1657
</td>
<td align="right">
 100.9353
</td>
<td align="right">
   .0278
</td>
<td align="right">
  -.2305
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:05:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
 101.1419
</td>
<td align="right">
 101.1761
</td>
<td align="right">
 100.9806
</td>
<td align="right">
   .0342
</td>
<td align="right">
  -.1955
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:10:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
 101.1335
</td>
<td align="right">
 101.1689
</td>
<td align="right">
 100.9615
</td>
<td align="right">
   .0354
</td>
<td align="right">
  -.2074
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:15:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
 101.1458
</td>
<td align="right">
 101.1808
</td>
<td align="right">
 100.9631
</td>
<td align="right">
   .0350
</td>
<td align="right">
  -.2177
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:20:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
 101.1570
</td>
<td align="right">
 101.1836
</td>
<td align="right">
 100.9591
</td>
<td align="right">
   .0267
</td>
<td align="right">
  -.2245
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:25:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 101.1848
</td>
<td align="right">
 101.1924
</td>
<td align="right">
 100.9829
</td>
<td align="right">
   .0076
</td>
<td align="right">
  -.2094
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:30:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
 101.1546
</td>
<td align="right">
 101.1681
</td>
<td align="right">
 100.9821
</td>
<td align="right">
   .0135
</td>
<td align="right">
  -.1860
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:35:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 101.1506
</td>
<td align="right">
 101.1733
</td>
<td align="right">
 100.9734
</td>
<td align="right">
   .0227
</td>
<td align="right">
  -.1999
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:40:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
 101.1347
</td>
<td align="right">
 101.2015
</td>
<td align="right">
 100.9623
</td>
<td align="right">
   .0668
</td>
<td align="right">
  -.2392
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:45:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
 101.1633
</td>
<td align="right">
 101.1816
</td>
<td align="right">
 100.9782
</td>
<td align="right">
   .0183
</td>
<td align="right">
  -.2035
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:50:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 101.1777
</td>
<td align="right">
 101.1713
</td>
<td align="right">
 100.9718
</td>
<td align="right">
  -.0064
</td>
<td align="right">
  -.1995
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
04:55:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 101.1665
</td>
<td align="right">
 101.1979
</td>
<td align="right">
 100.9925
</td>
<td align="right">
   .0314
</td>
<td align="right">
  -.2055
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:00:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 101.1657
</td>
<td align="right">
 101.1808
</td>
<td align="right">
 101.0663
</td>
<td align="right">
   .0151
</td>
<td align="right">
  -.1145
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:05:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 101.1761
</td>
<td align="right">
 101.1836
</td>
<td align="right">
 101.0365
</td>
<td align="right">
   .0076
</td>
<td align="right">
  -.1471
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:10:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
 101.1689
</td>
<td align="right">
 101.1784
</td>
<td align="right">
 101.0846
</td>
<td align="right">
   .0095
</td>
<td align="right">
  -.0939
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:15:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
 101.1808
</td>
<td align="right">
 101.1753
</td>
<td align="right">
 101.0838
</td>
<td align="right">
  -.0056
</td>
<td align="right">
  -.0914
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:20:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
 101.1836
</td>
<td align="right">
 101.1578
</td>
<td align="right">
 101.0799
</td>
<td align="right">
  -.0258
</td>
<td align="right">
  -.0779
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:25:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
 101.1924
</td>
<td align="right">
 101.1880
</td>
<td align="right">
 101.1045
</td>
<td align="right">
  -.0044
</td>
<td align="right">
  -.0835
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:30:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
 101.1681
</td>
<td align="right">
 101.2269
</td>
<td align="right">
 101.0854
</td>
<td align="right">
   .0588
</td>
<td align="right">
  -.1415
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:35:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
 101.1733
</td>
<td align="right">
 101.2755
</td>
<td align="right">
 101.0656
</td>
<td align="right">
   .1022
</td>
<td align="right">
  -.2099
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:40:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
 101.2015
</td>
<td align="right">
 101.2428
</td>
<td align="right">
 100.9734
</td>
<td align="right">
   .0413
</td>
<td align="right">
  -.2694
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:45:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 101.1816
</td>
<td align="right">
 101.2285
</td>
<td align="right">
 100.9535
</td>
<td align="right">
   .0469
</td>
<td align="right">
  -.2750
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:50:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
 101.1713
</td>
<td align="right">
 101.2107
</td>
<td align="right">
 100.9583
</td>
<td align="right">
   .0394
</td>
<td align="right">
  -.2523
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
05:55:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
 101.1979
</td>
<td align="right">
 101.1737
</td>
<td align="right">
 100.9678
</td>
<td align="right">
  -.0242
</td>
<td align="right">
  -.2058
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
18:00:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
 101.0036
</td>
<td align="right">
 100.9766
</td>
<td align="right">
 101.1616
</td>
<td align="right">
  -.0270
</td>
<td align="right">
   .1850
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
18:15:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 101.0235
</td>
<td align="right">
 101.0076
</td>
<td align="right">
 101.1338
</td>
<td align="right">
  -.0159
</td>
<td align="right">
   .1262
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
19:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 100.9766
</td>
<td align="right">
 101.0107
</td>
<td align="right">
 101.0499
</td>
<td align="right">
   .0342
</td>
<td align="right">
   .0391
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
19:40:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 100.9853
</td>
<td align="right">
 101.0258
</td>
<td align="right">
 100.7843
</td>
<td align="right">
   .0405
</td>
<td align="right">
  -.2416
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
20:40:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
 101.0258
</td>
<td align="right">
 101.0250
</td>
<td align="right">
 100.7335
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  -.2915
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
21:25:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 101.0084
</td>
<td align="right">
 101.0794
</td>
<td align="right">
 100.6634
</td>
<td align="right">
   .0711
</td>
<td align="right">
  -.4160
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0041
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
21:30:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
 101.0036
</td>
<td align="right">
 101.0985
</td>
<td align="right">
 100.6702
</td>
<td align="right">
   .0949
</td>
<td align="right">
  -.4283
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0042
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
21:40:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 101.0250
</td>
<td align="right">
 101.0913
</td>
<td align="right">
 100.5948
</td>
<td align="right">
   .0663
</td>
<td align="right">
  -.4965
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0049
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
21:45:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
 101.0199
</td>
<td align="right">
 101.0925
</td>
<td align="right">
 100.5889
</td>
<td align="right">
   .0727
</td>
<td align="right">
  -.5036
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0050
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
21:50:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 101.0230
</td>
<td align="right">
 101.0790
</td>
<td align="right">
 100.5663
</td>
<td align="right">
   .0560
</td>
<td align="right">
  -.5127
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0051
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
21:55:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 101.0278
</td>
<td align="right">
 101.0584
</td>
<td align="right">
 100.5710
</td>
<td align="right">
   .0305
</td>
<td align="right">
  -.4873
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0048
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
22:15:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 101.0489
</td>
<td align="right">
 101.0611
</td>
<td align="right">
 100.5806
</td>
<td align="right">
   .0123
</td>
<td align="right">
  -.4806
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0048
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
22:30:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
 101.0568
</td>
<td align="right">
 101.0822
</td>
<td align="right">
 100.4585
</td>
<td align="right">
   .0254
</td>
<td align="right">
  -.6237
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0062
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
22:35:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 101.0719
</td>
<td align="right">
 101.1076
</td>
<td align="right">
 100.4783
</td>
<td align="right">
   .0357
</td>
<td align="right">
  -.6293
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0062
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
22:40:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 101.0794
</td>
<td align="right">
 101.0981
</td>
<td align="right">
 100.4858
</td>
<td align="right">
   .0186
</td>
<td align="right">
  -.6123
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0061
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
22:50:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
 101.0882
</td>
<td align="right">
 101.1736
</td>
<td align="right">
 100.5068
</td>
<td align="right">
   .0854
</td>
<td align="right">
  -.6667
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0066
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
23:20:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
 101.0496
</td>
<td align="right">
 101.1274
</td>
<td align="right">
 100.5655
</td>
<td align="right">
   .0778
</td>
<td align="right">
  -.5619
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0056
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
23:25:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
 101.0759
</td>
<td align="right">
 101.1449
</td>
<td align="right">
 100.6020
</td>
<td align="right">
   .0690
</td>
<td align="right">
  -.5429
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0054
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
23:30:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 101.0822
</td>
<td align="right">
 101.1338
</td>
<td align="right">
 100.6186
</td>
<td align="right">
   .0516
</td>
<td align="right">
  -.5152
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0051
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
23:40:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
 101.0981
</td>
<td align="right">
 101.1377
</td>
<td align="right">
 100.5691
</td>
<td align="right">
   .0397
</td>
<td align="right">
  -.5687
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0056
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-13
04:00:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
 100.5889
</td>
<td align="right">
 100.5742
</td>
<td align="right">
 100.4616
</td>
<td align="right">
  -.0147
</td>
<td align="right">
  -.1126
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-13
14:45:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
 100.8534
</td>
<td align="right">
 100.9511
</td>
<td align="right">
 100.8598
</td>
<td align="right">
   .0977
</td>
<td align="right">
  -.0913
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-13
15:40:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
 100.8892
</td>
<td align="right">
 101.0195
</td>
<td align="right">
 100.8555
</td>
<td align="right">
   .1303
</td>
<td align="right">
  -.1640
</td>
<td align="right">
  .0013
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-13
23:35:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
 101.0227
</td>
<td align="right">
 101.0771
</td>
<td align="right">
 101.1769
</td>
<td align="right">
   .0544
</td>
<td align="right">
   .0998
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-14
01:10:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
 100.9619
</td>
<td align="right">
 101.0763
</td>
<td align="right">
 101.5250
</td>
<td align="right">
   .1144
</td>
<td align="right">
   .4487
</td>
<td align="right">
  .0011
</td>
<td align="right">
  .0044
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-14
01:45:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
 100.9551
</td>
<td align="right">
 101.1657
</td>
<td align="right">
 101.7513
</td>
<td align="right">
   .2106
</td>
<td align="right">
   .5856
</td>
<td align="right">
  .0021
</td>
<td align="right">
  .0058
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-13
16:30:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.2718
</td>
<td align="right">
   1.2714
</td>
<td align="right">
   1.2702
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0012
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-13
18:40:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
   1.2706
</td>
<td align="right">
   1.2708
</td>
<td align="right">
   1.2711
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-11-12
23:30:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9999
</td>
<td align="right">
   1.0000
</td>
<td align="right">
   1.0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-11-12
23:50:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.0000
</td>
<td align="right">
   1.0002
</td>
<td align="right">
   1.0007
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-14
07:05:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9466
</td>
<td align="right">
    .9464
</td>
<td align="right">
    .9461
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-13
10:25:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  79.4175
</td>
<td align="right">
  79.4875
</td>
<td align="right">
  79.4450
</td>
<td align="right">
   .0700
</td>
<td align="right">
  -.0425
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-13
10:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  79.3975
</td>
<td align="right">
  79.5225
</td>
<td align="right">
  79.4425
</td>
<td align="right">
   .1250
</td>
<td align="right">
  -.0800
</td>
<td align="right">
  .0016
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-13
13:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  79.4575
</td>
<td align="right">
  79.4475
</td>
<td align="right">
  79.4050
</td>
<td align="right">
  -.0100
</td>
<td align="right">
  -.0425
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-13
23:05:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  79.4475
</td>
<td align="right">
  79.4625
</td>
<td align="right">
  79.4975
</td>
<td align="right">
   .0150
</td>
<td align="right">
   .0350
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-14
01:25:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  79.4225
</td>
<td align="right">
  79.4875
</td>
<td align="right">
  79.8425
</td>
<td align="right">
   .0650
</td>
<td align="right">
   .3550
</td>
<td align="right">
  .0008
</td>
<td align="right">
  .0045
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-13
00:45:00
</td>
<td align="right">
  .57
</td>
<td align="right">
  82.9216
</td>
<td align="right">
  82.8631
</td>
<td align="right">
  82.5408
</td>
<td align="right">
  -.0585
</td>
<td align="right">
  -.3223
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0039
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-13
01:15:00
</td>
<td align="right">
  .63
</td>
<td align="right">
  82.8911
</td>
<td align="right">
  82.6642
</td>
<td align="right">
  82.4768
</td>
<td align="right">
  -.2270
</td>
<td align="right">
  -.1873
</td>
<td align="right">
 -.0027
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-13
01:25:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  82.9064
</td>
<td align="right">
  82.6731
</td>
<td align="right">
  82.5567
</td>
<td align="right">
  -.2333
</td>
<td align="right">
  -.1164
</td>
<td align="right">
 -.0028
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-13
04:55:00
</td>
<td align="right">
  .80
</td>
<td align="right">
  82.4959
</td>
<td align="right">
  82.5040
</td>
<td align="right">
  82.7666
</td>
<td align="right">
   .0081
</td>
<td align="right">
   .2627
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-13
05:00:00
</td>
<td align="right">
  .71
</td>
<td align="right">
  82.5306
</td>
<td align="right">
  82.4818
</td>
<td align="right">
  82.7321
</td>
<td align="right">
  -.0488
</td>
<td align="right">
   .2503
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-13
05:25:00
</td>
<td align="right">
  .68
</td>
<td align="right">
  82.5187
</td>
<td align="right">
  82.5051
</td>
<td align="right">
  82.7187
</td>
<td align="right">
  -.0136
</td>
<td align="right">
   .2136
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-13
05:45:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  82.5138
</td>
<td align="right">
  82.5408
</td>
<td align="right">
  82.8225
</td>
<td align="right">
   .0270
</td>
<td align="right">
   .2818
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0034
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-13
06:10:00
</td>
<td align="right">
  .58
</td>
<td align="right">
  82.5304
</td>
<td align="right">
  82.5209
</td>
<td align="right">
  82.8764
</td>
<td align="right">
  -.0094
</td>
<td align="right">
   .3554
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0043
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-13
06:15:00
</td>
<td align="right">
  .69
</td>
<td align="right">
  82.5209
</td>
<td align="right">
  82.4768
</td>
<td align="right">
  82.8785
</td>
<td align="right">
  -.0441
</td>
<td align="right">
   .4016
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0049
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-13
07:05:00
</td>
<td align="right">
  .75
</td>
<td align="right">
  82.5155
</td>
<td align="right">
  82.4439
</td>
<td align="right">
  82.8235
</td>
<td align="right">
  -.0716
</td>
<td align="right">
   .3796
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0046
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-13
07:20:00
</td>
<td align="right">
  .64
</td>
<td align="right">
  82.4860
</td>
<td align="right">
  82.3981
</td>
<td align="right">
  82.8117
</td>
<td align="right">
  -.0879
</td>
<td align="right">
   .4136
</td>
<td align="right">
 -.0011
</td>
<td align="right">
  .0050
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-12
17:40:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .8010
</td>
<td align="right">
    .8007
</td>
<td align="right">
    .8004
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-12
18:45:00
</td>
<td align="right">
  .61
</td>
<td align="right">
    .8008
</td>
<td align="right">
    .8006
</td>
<td align="right">
    .8001
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0005
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-12
19:05:00
</td>
<td align="right">
  .81
</td>
<td align="right">
    .8007
</td>
<td align="right">
    .8005
</td>
<td align="right">
    .8001
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0004
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-12
19:20:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .8007
</td>
<td align="right">
    .8005
</td>
<td align="right">
    .8000
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0005
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-12
19:35:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .8007
</td>
<td align="right">
    .8003
</td>
<td align="right">
    .7997
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-12
19:40:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .8007
</td>
<td align="right">
    .8003
</td>
<td align="right">
    .7995
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0008
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-12
20:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
    .8005
</td>
<td align="right">
    .8003
</td>
<td align="right">
    .7993
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0010
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-12
20:35:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .8003
</td>
<td align="right">
    .8003
</td>
<td align="right">
    .7995
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-12
21:25:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .8004
</td>
<td align="right">
    .8005
</td>
<td align="right">
    .7996
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-13
01:45:00
</td>
<td align="right">
  .68
</td>
<td align="right">
    .7999
</td>
<td align="right">
    .7996
</td>
<td align="right">
    .7995
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-13
01:50:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .7997
</td>
<td align="right">
    .7995
</td>
<td align="right">
    .7992
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-13
01:55:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .7995
</td>
<td align="right">
    .7995
</td>
<td align="right">
    .7993
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
07:05:00
</td>
<td align="right">
  .65
</td>
<td align="right">
 101.0052
</td>
<td align="right">
 100.9067
</td>
<td align="right">
 100.9988
</td>
<td align="right">
  -.0985
</td>
<td align="right">
   .0921
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
07:10:00
</td>
<td align="right">
  .57
</td>
<td align="right">
 100.9833
</td>
<td align="right">
 100.9528
</td>
<td align="right">
 101.1362
</td>
<td align="right">
  -.0306
</td>
<td align="right">
   .1835
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
08:55:00
</td>
<td align="right">
  .68
</td>
<td align="right">
 101.0361
</td>
<td align="right">
 100.9535
</td>
<td align="right">
 100.9916
</td>
<td align="right">
  -.0826
</td>
<td align="right">
   .0381
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
09:30:00
</td>
<td align="right">
  .56
</td>
<td align="right">
 101.0664
</td>
<td align="right">
 100.9821
</td>
<td align="right">
 100.9996
</td>
<td align="right">
  -.0842
</td>
<td align="right">
   .0174
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-12
10:55:00
</td>
<td align="right">
  .65
</td>
<td align="right">
 100.9925
</td>
<td align="right">
 100.9678
</td>
<td align="right">
 100.9786
</td>
<td align="right">
  -.0246
</td>
<td align="right">
   .0107
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-13
05:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
 100.5742
</td>
<td align="right">
 100.5211
</td>
<td align="right">
 100.7795
</td>
<td align="right">
  -.0531
</td>
<td align="right">
   .2584
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-13
18:50:00
</td>
<td align="right">
  .62
</td>
<td align="right">
 100.9059
</td>
<td align="right">
 100.8995
</td>
<td align="right">
 101.0187
</td>
<td align="right">
  -.0063
</td>
<td align="right">
   .1191
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-12
05:50:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.2729
</td>
<td align="right">
   1.2731
</td>
<td align="right">
   1.2711
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0020
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-12
06:15:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.2729
</td>
<td align="right">
   1.2713
</td>
<td align="right">
   1.2710
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0013
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-12
06:20:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.2726
</td>
<td align="right">
   1.2712
</td>
<td align="right">
   1.2709
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0012
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-12
06:25:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.2729
</td>
<td align="right">
   1.2711
</td>
<td align="right">
   1.2712
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0014
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-12
06:35:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.2738
</td>
<td align="right">
   1.2709
</td>
<td align="right">
   1.2718
</td>
<td align="right">
  -.0029
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0023
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-14
00:35:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2713
</td>
<td align="right">
   1.2708
</td>
<td align="right">
   1.2718
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-14
00:45:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.2709
</td>
<td align="right">
   1.2709
</td>
<td align="right">
   1.2725
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0016
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-14
01:00:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2709
</td>
<td align="right">
   1.2711
</td>
<td align="right">
   1.2718
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-12
07:00:00
</td>
<td align="right">
  .67
</td>
<td align="right">
  79.4725
</td>
<td align="right">
  79.4425
</td>
<td align="right">
  79.4375
</td>
<td align="right">
  -.0300
</td>
<td align="right">
  -.0050
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-12
07:10:00
</td>
<td align="right">
  .63
</td>
<td align="right">
  79.4175
</td>
<td align="right">
  79.4325
</td>
<td align="right">
  79.4175
</td>
<td align="right">
   .0150
</td>
<td align="right">
  -.0150
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-12
07:15:00
</td>
<td align="right">
  .68
</td>
<td align="right">
  79.4200
</td>
<td align="right">
  79.4375
</td>
<td align="right">
  79.4075
</td>
<td align="right">
   .0175
</td>
<td align="right">
  -.0300
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-12
07:45:00
</td>
<td align="right">
  .87
</td>
<td align="right">
  79.4425
</td>
<td align="right">
  79.4625
</td>
<td align="right">
  79.4125
</td>
<td align="right">
   .0200
</td>
<td align="right">
  -.0500
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-12
07:50:00
</td>
<td align="right">
  .67
</td>
<td align="right">
  79.4525
</td>
<td align="right">
  79.4750
</td>
<td align="right">
  79.3975
</td>
<td align="right">
   .0225
</td>
<td align="right">
  -.0775
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-12
08:20:00
</td>
<td align="right">
  .66
</td>
<td align="right">
  79.4875
</td>
<td align="right">
  79.4925
</td>
<td align="right">
  79.4075
</td>
<td align="right">
   .0050
</td>
<td align="right">
  -.0850
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-12
08:35:00
</td>
<td align="right">
  .81
</td>
<td align="right">
  79.4925
</td>
<td align="right">
  79.4925
</td>
<td align="right">
  79.3825
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.1100
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-12
08:50:00
</td>
<td align="right">
  .93
</td>
<td align="right">
  79.4750
</td>
<td align="right">
  79.4675
</td>
<td align="right">
  79.3775
</td>
<td align="right">
  -.0075
</td>
<td align="right">
  -.0900
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-12
09:00:00
</td>
<td align="right">
  .67
</td>
<td align="right">
  79.4750
</td>
<td align="right">
  79.4375
</td>
<td align="right">
  79.3925
</td>
<td align="right">
  -.0375
</td>
<td align="right">
  -.0450
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-13
18:45:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  79.3825
</td>
<td align="right">
  79.4025
</td>
<td align="right">
  79.5125
</td>
<td align="right">
   .0200
</td>
<td align="right">
   .1100
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-13
18:50:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  79.3925
</td>
<td align="right">
  79.4000
</td>
<td align="right">
  79.4875
</td>
<td align="right">
   .0075
</td>
<td align="right">
   .0875
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0011
</td>
</tr>
</table>
<br />
