<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_08_12<h4>Week of: 2012_08_12 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.04
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0000
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0003
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0001
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .59
</td>
<td align="right">
   -9.03
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0034
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0103
</td>
<td align="right">
  -.0037
</td>
<td align="right">
  -.0030
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0103
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-12
22:10:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
  82.6212
</td>
<td align="right">
  82.6623
</td>
<td align="right">
  82.6618
</td>
<td align="right">
   .0411
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-12
22:15:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  82.6232
</td>
<td align="right">
  82.6446
</td>
<td align="right">
  82.6710
</td>
<td align="right">
   .0214
</td>
<td align="right">
   .0264
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-12
22:20:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
  82.6285
</td>
<td align="right">
  82.6329
</td>
<td align="right">
  82.6402
</td>
<td align="right">
   .0044
</td>
<td align="right">
   .0073
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-13
00:55:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  82.5407
</td>
<td align="right">
  82.6386
</td>
<td align="right">
  82.5917
</td>
<td align="right">
   .0978
</td>
<td align="right">
  -.0468
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-13
06:15:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  82.5522
</td>
<td align="right">
  82.6414
</td>
<td align="right">
  82.6495
</td>
<td align="right">
   .0892
</td>
<td align="right">
   .0081
</td>
<td align="right">
  .0011
</td>
<td align="right">
  .0001
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-13
02:40:00
</td>
<td align="right">
  .57
</td>
<td align="right">
  82.7270
</td>
<td align="right">
  82.7085
</td>
<td align="right">
  82.4602
</td>
<td align="right">
  -.0186
</td>
<td align="right">
  -.2483
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0030
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-13
02:45:00
</td>
<td align="right">
  .58
</td>
<td align="right">
  82.7409
</td>
<td align="right">
  82.7471
</td>
<td align="right">
  82.4378
</td>
<td align="right">
   .0062
</td>
<td align="right">
  -.3094
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-13
02:55:00
</td>
<td align="right">
  .63
</td>
<td align="right">
  82.7459
</td>
<td align="right">
  82.7038
</td>
<td align="right">
  82.4127
</td>
<td align="right">
  -.0421
</td>
<td align="right">
  -.2911
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0035
</td>
</tr>
</table>
<br />
