<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_07_15<h4>Week of: 2012_07_15 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.61
</td>
<td align="right">
    1.03
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0004
</td>
<td align="right">
    2
</td>
<td align="right">
   .0008
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.73
</td>
<td align="right">
    -.09
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   25
</td>
<td align="right">
  -.0059
</td>
<td align="right">
  -.0033
</td>
<td align="right">
   .0046
</td>
<td align="right">
   .0025
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.05
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   16
</td>
<td align="right">
  -.0235
</td>
<td align="right">
  -.0037
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.40
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0015
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0090
</td>
<td align="right">
  -.0058
</td>
<td align="right">
   .0029
</td>
<td align="right">
   .0037
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.57
</td>
<td align="right">
   -5.46
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0021
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0084
</td>
<td align="right">
  -.0024
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.65
</td>
<td align="right">
    1.94
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0008
</td>
<td align="right">
    2
</td>
<td align="right">
   .0016
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   55
</td>
<td align="right">
  -.0444
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .66
</td>
<td align="right">
    4.94
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0021
</td>
<td align="right">
    7
</td>
<td align="right">
   .0144
</td>
<td align="right">
   .0016
</td>
<td align="right">
   .0028
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.88
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0042
</td>
<td align="right">
    8
</td>
<td align="right">
   .0335
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0057
</td>
<td align="right">
   .0022
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .62
</td>
<td align="right">
    3.61
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0007
</td>
<td align="right">
    7
</td>
<td align="right">
   .0048
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .57
</td>
<td align="right">
    -.64
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0009
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0028
</td>
<td align="right">
  -.0027
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0015
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .68
</td>
<td align="right">
     .03
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0001
</td>
<td align="right">
   10
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0036
</td>
<td align="right">
   .0052
</td>
<td align="right">
   .0036
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   35
</td>
<td align="right">
   .0511
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-17
10:00:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.0284
</td>
<td align="right">
   1.0285
</td>
<td align="right">
   1.0286
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-17
18:50:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
   1.0313
</td>
<td align="right">
   1.0310
</td>
<td align="right">
   1.0317
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-15
23:40:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.1971
</td>
<td align="right">
   1.1971
</td>
<td align="right">
   1.1968
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
01:35:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.1972
</td>
<td align="right">
   1.1979
</td>
<td align="right">
   1.1967
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
04:05:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.1973
</td>
<td align="right">
   1.1971
</td>
<td align="right">
   1.1931
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0039
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0033
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
05:50:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.1964
</td>
<td align="right">
   1.1961
</td>
<td align="right">
   1.1930
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0032
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:00:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
   1.1963
</td>
<td align="right">
   1.1963
</td>
<td align="right">
   1.1932
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0031
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.1962
</td>
<td align="right">
   1.1963
</td>
<td align="right">
   1.1934
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:10:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
   1.1962
</td>
<td align="right">
   1.1964
</td>
<td align="right">
   1.1934
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:15:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.1961
</td>
<td align="right">
   1.1961
</td>
<td align="right">
   1.1933
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0028
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:20:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
   1.1958
</td>
<td align="right">
   1.1963
</td>
<td align="right">
   1.1926
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0037
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:25:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.1959
</td>
<td align="right">
   1.1964
</td>
<td align="right">
   1.1930
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0034
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:30:00
</td>
<td align="right">
 -.90
</td>
<td align="right">
   1.1958
</td>
<td align="right">
   1.1966
</td>
<td align="right">
   1.1936
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0031
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:35:00
</td>
<td align="right">
 -.84
</td>
<td align="right">
   1.1957
</td>
<td align="right">
   1.1967
</td>
<td align="right">
   1.1949
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:40:00
</td>
<td align="right">
 -.84
</td>
<td align="right">
   1.1957
</td>
<td align="right">
   1.1962
</td>
<td align="right">
   1.1954
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:45:00
</td>
<td align="right">
 -.86
</td>
<td align="right">
   1.1958
</td>
<td align="right">
   1.1961
</td>
<td align="right">
   1.1958
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:50:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
   1.1961
</td>
<td align="right">
   1.1960
</td>
<td align="right">
   1.1958
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:55:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
   1.1959
</td>
<td align="right">
   1.1958
</td>
<td align="right">
   1.1963
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
07:00:00
</td>
<td align="right">
 -.85
</td>
<td align="right">
   1.1963
</td>
<td align="right">
   1.1961
</td>
<td align="right">
   1.1964
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
07:05:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.1963
</td>
<td align="right">
   1.1960
</td>
<td align="right">
   1.1963
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
07:10:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
   1.1964
</td>
<td align="right">
   1.1961
</td>
<td align="right">
   1.1967
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
07:15:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
   1.1961
</td>
<td align="right">
   1.1957
</td>
<td align="right">
   1.1963
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
09:25:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.1935
</td>
<td align="right">
   1.1933
</td>
<td align="right">
   1.1976
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0043
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0036
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
09:30:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
   1.1934
</td>
<td align="right">
   1.1931
</td>
<td align="right">
   1.1986
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0055
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0046
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
09:35:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.1933
</td>
<td align="right">
   1.1932
</td>
<td align="right">
   1.1980
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0048
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0040
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
09:50:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.1939
</td>
<td align="right">
   1.1935
</td>
<td align="right">
   1.1982
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0047
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0039
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
09:55:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.1937
</td>
<td align="right">
   1.1935
</td>
<td align="right">
   1.1984
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0050
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0042
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
05:45:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .7861
</td>
<td align="right">
    .7859
</td>
<td align="right">
    .7845
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
06:35:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .7857
</td>
<td align="right">
    .7864
</td>
<td align="right">
    .7852
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
06:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .7860
</td>
<td align="right">
    .7864
</td>
<td align="right">
    .7855
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
06:45:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .7859
</td>
<td align="right">
    .7865
</td>
<td align="right">
    .7851
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
07:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .7862
</td>
<td align="right">
    .7866
</td>
<td align="right">
    .7850
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
07:30:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .7862
</td>
<td align="right">
    .7865
</td>
<td align="right">
    .7840
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
07:35:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .7864
</td>
<td align="right">
    .7865
</td>
<td align="right">
    .7837
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0028
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0035
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
07:40:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .7864
</td>
<td align="right">
    .7865
</td>
<td align="right">
    .7836
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0036
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
09:45:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .7848
</td>
<td align="right">
    .7846
</td>
<td align="right">
    .7844
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
09:50:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
    .7848
</td>
<td align="right">
    .7845
</td>
<td align="right">
    .7846
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
09:55:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
    .7847
</td>
<td align="right">
    .7846
</td>
<td align="right">
    .7846
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
10:15:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .7848
</td>
<td align="right">
    .7846
</td>
<td align="right">
    .7843
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
10:20:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .7847
</td>
<td align="right">
    .7846
</td>
<td align="right">
    .7844
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
10:30:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
    .7845
</td>
<td align="right">
    .7843
</td>
<td align="right">
    .7843
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
10:35:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .7847
</td>
<td align="right">
    .7845
</td>
<td align="right">
    .7843
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-17
08:20:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .7868
</td>
<td align="right">
    .7868
</td>
<td align="right">
    .7838
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-16
03:00:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  96.8216
</td>
<td align="right">
  96.8128
</td>
<td align="right">
  96.5428
</td>
<td align="right">
  -.0089
</td>
<td align="right">
  -.2700
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-16
05:00:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  96.7896
</td>
<td align="right">
  96.8447
</td>
<td align="right">
  96.2861
</td>
<td align="right">
   .0550
</td>
<td align="right">
  -.5586
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0058
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-16
05:10:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  96.7734
</td>
<td align="right">
  96.7898
</td>
<td align="right">
  96.2802
</td>
<td align="right">
   .0164
</td>
<td align="right">
  -.5096
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0053
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-16
20:20:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  96.7583
</td>
<td align="right">
  96.7831
</td>
<td align="right">
  97.0619
</td>
<td align="right">
   .0248
</td>
<td align="right">
   .2788
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0029
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-16
21:15:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  96.7853
</td>
<td align="right">
  96.7772
</td>
<td align="right">
  97.0038
</td>
<td align="right">
  -.0081
</td>
<td align="right">
   .2266
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-17
07:10:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
  97.0412
</td>
<td align="right">
  97.1830
</td>
<td align="right">
  97.1454
</td>
<td align="right">
   .1418
</td>
<td align="right">
  -.0376
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
03:00:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.5665
</td>
<td align="right">
   1.5663
</td>
<td align="right">
   1.5625
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0038
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
03:05:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.5663
</td>
<td align="right">
   1.5665
</td>
<td align="right">
   1.5629
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0037
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
03:15:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.5663
</td>
<td align="right">
   1.5665
</td>
<td align="right">
   1.5633
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0032
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
04:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.5663
</td>
<td align="right">
   1.5660
</td>
<td align="right">
   1.5636
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0025
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-07-16
01:30:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9818
</td>
<td align="right">
    .9815
</td>
<td align="right">
    .9820
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-07-16
01:45:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .9816
</td>
<td align="right">
    .9812
</td>
<td align="right">
    .9823
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0011
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-16
15:00:00
</td>
<td align="right">
  .64
</td>
<td align="right">
  80.6205
</td>
<td align="right">
  80.6240
</td>
<td align="right">
  80.8181
</td>
<td align="right">
   .0035
</td>
<td align="right">
   .1941
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-16
15:15:00
</td>
<td align="right">
  .55
</td>
<td align="right">
  80.6847
</td>
<td align="right">
  80.5988
</td>
<td align="right">
  80.8209
</td>
<td align="right">
  -.0859
</td>
<td align="right">
   .2221
</td>
<td align="right">
 -.0011
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-16
16:00:00
</td>
<td align="right">
  .68
</td>
<td align="right">
  80.6240
</td>
<td align="right">
  80.6205
</td>
<td align="right">
  80.7893
</td>
<td align="right">
  -.0036
</td>
<td align="right">
   .1689
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-16
16:05:00
</td>
<td align="right">
  .76
</td>
<td align="right">
  80.6413
</td>
<td align="right">
  80.6407
</td>
<td align="right">
  80.7686
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .1279
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-16
16:10:00
</td>
<td align="right">
  .64
</td>
<td align="right">
  80.6354
</td>
<td align="right">
  80.6334
</td>
<td align="right">
  80.7666
</td>
<td align="right">
  -.0020
</td>
<td align="right">
   .1332
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-16
16:15:00
</td>
<td align="right">
  .73
</td>
<td align="right">
  80.5988
</td>
<td align="right">
  80.6208
</td>
<td align="right">
  80.7714
</td>
<td align="right">
   .0221
</td>
<td align="right">
   .1506
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-16
16:20:00
</td>
<td align="right">
  .65
</td>
<td align="right">
  80.6011
</td>
<td align="right">
  80.6116
</td>
<td align="right">
  80.7720
</td>
<td align="right">
   .0104
</td>
<td align="right">
   .1604
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-17
05:10:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.0299
</td>
<td align="right">
   1.0286
</td>
<td align="right">
   1.0286
</td>
<td align="right">
  -.0014
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0013
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-17
13:00:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.0282
</td>
<td align="right">
   1.0260
</td>
<td align="right">
   1.0310
</td>
<td align="right">
  -.0022
</td>
<td align="right">
   .0050
</td>
<td align="right">
 -.0022
</td>
<td align="right">
  .0048
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-17
13:05:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.0283
</td>
<td align="right">
   1.0258
</td>
<td align="right">
   1.0308
</td>
<td align="right">
  -.0025
</td>
<td align="right">
   .0051
</td>
<td align="right">
 -.0025
</td>
<td align="right">
  .0049
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-17
13:50:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.0278
</td>
<td align="right">
   1.0252
</td>
<td align="right">
   1.0310
</td>
<td align="right">
  -.0027
</td>
<td align="right">
   .0059
</td>
<td align="right">
 -.0026
</td>
<td align="right">
  .0057
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-17
14:10:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.0266
</td>
<td align="right">
   1.0260
</td>
<td align="right">
   1.0317
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0058
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0056
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-17
14:20:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.0264
</td>
<td align="right">
   1.0261
</td>
<td align="right">
   1.0317
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0056
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0054
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-17
14:25:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.0257
</td>
<td align="right">
   1.0259
</td>
<td align="right">
   1.0317
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0059
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0057
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-17
16:10:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.0283
</td>
<td align="right">
   1.0285
</td>
<td align="right">
   1.0299
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-17
17:05:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.1911
</td>
<td align="right">
   1.1911
</td>
<td align="right">
   1.1917
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-17
17:10:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.1910
</td>
<td align="right">
   1.1911
</td>
<td align="right">
   1.1917
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-17
17:15:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.1912
</td>
<td align="right">
   1.1910
</td>
<td align="right">
   1.1918
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-17
17:20:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.1916
</td>
<td align="right">
   1.1912
</td>
<td align="right">
   1.1919
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-17
17:30:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.1917
</td>
<td align="right">
   1.1911
</td>
<td align="right">
   1.1921
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-17
17:40:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.1913
</td>
<td align="right">
   1.1909
</td>
<td align="right">
   1.1919
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-17
17:45:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.1915
</td>
<td align="right">
   1.1907
</td>
<td align="right">
   1.1918
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-17
01:00:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .7848
</td>
<td align="right">
    .7851
</td>
<td align="right">
    .7850
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-17
01:25:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .7853
</td>
<td align="right">
    .7854
</td>
<td align="right">
    .7854
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-17
09:45:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .7860
</td>
<td align="right">
    .7857
</td>
<td align="right">
    .7836
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0021
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-16
12:35:00
</td>
<td align="right">
  .68
</td>
<td align="right">
  96.3634
</td>
<td align="right">
  96.3106
</td>
<td align="right">
  96.7566
</td>
<td align="right">
  -.0529
</td>
<td align="right">
   .4460
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0046
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
06:55:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.5643
</td>
<td align="right">
   1.5639
</td>
<td align="right">
   1.5617
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0022
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
08:00:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.5635
</td>
<td align="right">
   1.5625
</td>
<td align="right">
   1.5593
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  -.0032
</td>
<td align="right">
 -.0006
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
08:05:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.5640
</td>
<td align="right">
   1.5629
</td>
<td align="right">
   1.5583
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  -.0046
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
08:15:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.5636
</td>
<td align="right">
   1.5633
</td>
<td align="right">
   1.5578
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0056
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0036
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
08:25:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.5634
</td>
<td align="right">
   1.5634
</td>
<td align="right">
   1.5590
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0043
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
08:30:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.5627
</td>
<td align="right">
   1.5633
</td>
<td align="right">
   1.5584
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0049
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
13:25:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.5620
</td>
<td align="right">
   1.5590
</td>
<td align="right">
   1.5639
</td>
<td align="right">
  -.0029
</td>
<td align="right">
   .0048
</td>
<td align="right">
 -.0019
</td>
<td align="right">
  .0031
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
13:40:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.5619
</td>
<td align="right">
   1.5561
</td>
<td align="right">
   1.5643
</td>
<td align="right">
  -.0058
</td>
<td align="right">
   .0082
</td>
<td align="right">
 -.0037
</td>
<td align="right">
  .0052
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
14:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.5583
</td>
<td align="right">
   1.5585
</td>
<td align="right">
   1.5656
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0070
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0045
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
14:10:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.5587
</td>
<td align="right">
   1.5590
</td>
<td align="right">
   1.5655
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0065
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0042
</td>
</tr>
</table>
<br />
