<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_09_16<h4>Week of: 2012_09_16 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.69
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0011
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0065
</td>
<td align="right">
  -.0030
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0016
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.59
</td>
<td align="right">
########
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0003
</td>
<td align="right">
    2
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0000
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -3.32
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0013
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0104
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   16
</td>
<td align="right">
  -.0164
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .70
</td>
<td align="right">
     .02
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0000
</td>
<td align="right">
   22
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   .0024
</td>
<td align="right">
   .0014
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.14
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0002
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   .0008
</td>
<td align="right">
   .0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .63
</td>
<td align="right">
  -14.56
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  -.0018
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0035
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   .0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .70
</td>
<td align="right">
    -.46
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   46
</td>
<td align="right">
  -.0240
</td>
<td align="right">
  -.0034
</td>
<td align="right">
   .0008
</td>
<td align="right">
   .0011
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .73
</td>
<td align="right">
    6.12
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0030
</td>
<td align="right">
   14
</td>
<td align="right">
   .0425
</td>
<td align="right">
   .0019
</td>
<td align="right">
   .0035
</td>
<td align="right">
   .0005
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   92
</td>
<td align="right">
   .0142
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-09-17
13:25:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  82.8214
</td>
<td align="right">
  82.8444
</td>
<td align="right">
  82.5937
</td>
<td align="right">
   .0230
</td>
<td align="right">
  -.2507
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0030
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-09-17
13:25:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  82.8214
</td>
<td align="right">
  82.8444
</td>
<td align="right">
  82.5937
</td>
<td align="right">
   .0230
</td>
<td align="right">
  -.2507
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0030
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-09-17
19:10:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  82.3896
</td>
<td align="right">
  82.4257
</td>
<td align="right">
  82.3785
</td>
<td align="right">
   .0361
</td>
<td align="right">
  -.0471
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-09-17
19:10:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  82.3896
</td>
<td align="right">
  82.4257
</td>
<td align="right">
  82.3785
</td>
<td align="right">
   .0361
</td>
<td align="right">
  -.0471
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-09-17
20:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  82.4703
</td>
<td align="right">
  82.4529
</td>
<td align="right">
  82.4822
</td>
<td align="right">
  -.0174
</td>
<td align="right">
   .0292
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-09-17
20:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  82.4703
</td>
<td align="right">
  82.4529
</td>
<td align="right">
  82.4822
</td>
<td align="right">
  -.0174
</td>
<td align="right">
   .0292
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-17
11:30:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9721
</td>
<td align="right">
    .9728
</td>
<td align="right">
    .9730
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-17
11:30:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9721
</td>
<td align="right">
    .9728
</td>
<td align="right">
    .9730
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-17
09:50:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9274
</td>
<td align="right">
    .9280
</td>
<td align="right">
    .9270
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-17
09:50:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9274
</td>
<td align="right">
    .9280
</td>
<td align="right">
    .9270
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-17
09:55:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
    .9280
</td>
<td align="right">
    .9280
</td>
<td align="right">
    .9272
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-17
09:55:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
    .9280
</td>
<td align="right">
    .9280
</td>
<td align="right">
    .9272
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-17
10:45:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .9274
</td>
<td align="right">
    .9275
</td>
<td align="right">
    .9259
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-17
10:45:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .9274
</td>
<td align="right">
    .9275
</td>
<td align="right">
    .9259
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-17
11:00:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9273
</td>
<td align="right">
    .9279
</td>
<td align="right">
    .9264
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-17
11:00:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9273
</td>
<td align="right">
    .9279
</td>
<td align="right">
    .9264
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0016
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-09-16
22:45:00
</td>
<td align="right">
  .55
</td>
<td align="right">
  82.5378
</td>
<td align="right">
  82.5441
</td>
<td align="right">
  82.4428
</td>
<td align="right">
   .0063
</td>
<td align="right">
  -.1013
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-09-16
22:45:00
</td>
<td align="right">
  .55
</td>
<td align="right">
  82.5378
</td>
<td align="right">
  82.5441
</td>
<td align="right">
  82.4428
</td>
<td align="right">
   .0063
</td>
<td align="right">
  -.1013
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-17
02:25:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.2481
</td>
<td align="right">
   1.2480
</td>
<td align="right">
   1.2464
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0016
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-17
02:25:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.2481
</td>
<td align="right">
   1.2480
</td>
<td align="right">
   1.2464
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0016
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-17
02:30:00
</td>
<td align="right">
  .79
</td>
<td align="right">
   1.2481
</td>
<td align="right">
   1.2479
</td>
<td align="right">
   1.2462
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0017
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-17
02:30:00
</td>
<td align="right">
  .79
</td>
<td align="right">
   1.2481
</td>
<td align="right">
   1.2479
</td>
<td align="right">
   1.2462
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0017
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-17
02:40:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.2477
</td>
<td align="right">
   1.2479
</td>
<td align="right">
   1.2457
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0022
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-17
02:40:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.2477
</td>
<td align="right">
   1.2479
</td>
<td align="right">
   1.2457
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0022
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-17
02:45:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.2480
</td>
<td align="right">
   1.2477
</td>
<td align="right">
   1.2462
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0016
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-17
02:45:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.2480
</td>
<td align="right">
   1.2477
</td>
<td align="right">
   1.2462
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0016
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-17
03:30:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.2473
</td>
<td align="right">
   1.2465
</td>
<td align="right">
   1.2462
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-17
03:30:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.2473
</td>
<td align="right">
   1.2465
</td>
<td align="right">
   1.2462
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-17
03:45:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.2466
</td>
<td align="right">
   1.2467
</td>
<td align="right">
   1.2467
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-17
03:45:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.2466
</td>
<td align="right">
   1.2467
</td>
<td align="right">
   1.2467
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-18
02:55:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.2515
</td>
<td align="right">
   1.2519
</td>
<td align="right">
   1.2533
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-18
03:00:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.2517
</td>
<td align="right">
   1.2518
</td>
<td align="right">
   1.2535
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0017
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-18
03:30:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.2509
</td>
<td align="right">
   1.2514
</td>
<td align="right">
   1.2539
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0025
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-18
03:35:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.2514
</td>
<td align="right">
   1.2511
</td>
<td align="right">
   1.2540
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0029
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-18
03:40:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.2515
</td>
<td align="right">
   1.2514
</td>
<td align="right">
   1.2538
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0024
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-18
03:50:00
</td>
<td align="right">
  .75
</td>
<td align="right">
   1.2517
</td>
<td align="right">
   1.2518
</td>
<td align="right">
   1.2542
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0024
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-18
03:55:00
</td>
<td align="right">
  .85
</td>
<td align="right">
   1.2519
</td>
<td align="right">
   1.2523
</td>
<td align="right">
   1.2540
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0017
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-18
04:10:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.2518
</td>
<td align="right">
   1.2522
</td>
<td align="right">
   1.2533
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0011
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-18
04:55:00
</td>
<td align="right">
  .85
</td>
<td align="right">
   1.2523
</td>
<td align="right">
   1.2527
</td>
<td align="right">
   1.2533
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-18
06:40:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.2528
</td>
<td align="right">
   1.2532
</td>
<td align="right">
   1.2518
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-09-17
03:10:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .8091
</td>
<td align="right">
    .8090
</td>
<td align="right">
    .8095
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-09-17
03:10:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .8091
</td>
<td align="right">
    .8090
</td>
<td align="right">
    .8095
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-09-17
03:20:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .8092
</td>
<td align="right">
    .8090
</td>
<td align="right">
    .8096
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-09-17
03:20:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .8092
</td>
<td align="right">
    .8090
</td>
<td align="right">
    .8096
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-09-17
05:00:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .8095
</td>
<td align="right">
    .8096
</td>
<td align="right">
    .8081
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-09-17
05:00:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .8095
</td>
<td align="right">
    .8096
</td>
<td align="right">
    .8081
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-09-18
00:25:00
</td>
<td align="right">
  .81
</td>
<td align="right">
    .8069
</td>
<td align="right">
    .8066
</td>
<td align="right">
    .8063
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-09-18
00:25:00
</td>
<td align="right">
  .81
</td>
<td align="right">
    .8069
</td>
<td align="right">
    .8066
</td>
<td align="right">
    .8063
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-18
06:50:00
</td>
<td align="right">
  .60
</td>
<td align="right">
 103.0400
</td>
<td align="right">
 102.9984
</td>
<td align="right">
 102.8074
</td>
<td align="right">
  -.0416
</td>
<td align="right">
  -.1911
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-18
06:55:00
</td>
<td align="right">
  .66
</td>
<td align="right">
 103.0643
</td>
<td align="right">
 102.9703
</td>
<td align="right">
 102.7969
</td>
<td align="right">
  -.0940
</td>
<td align="right">
  -.1734
</td>
<td align="right">
 -.0009
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
01:20:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.3126
</td>
<td align="right">
   1.3126
</td>
<td align="right">
   1.3131
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
01:20:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.3126
</td>
<td align="right">
   1.3126
</td>
<td align="right">
   1.3131
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
01:55:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.3128
</td>
<td align="right">
   1.3131
</td>
<td align="right">
   1.3131
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
01:55:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.3128
</td>
<td align="right">
   1.3131
</td>
<td align="right">
   1.3131
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
02:40:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.3134
</td>
<td align="right">
   1.3124
</td>
<td align="right">
   1.3132
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
02:40:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.3134
</td>
<td align="right">
   1.3124
</td>
<td align="right">
   1.3132
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
02:50:00
</td>
<td align="right">
  .77
</td>
<td align="right">
   1.3129
</td>
<td align="right">
   1.3126
</td>
<td align="right">
   1.3131
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
02:50:00
</td>
<td align="right">
  .77
</td>
<td align="right">
   1.3129
</td>
<td align="right">
   1.3126
</td>
<td align="right">
   1.3131
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
02:55:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.3125
</td>
<td align="right">
   1.3126
</td>
<td align="right">
   1.3131
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
02:55:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.3125
</td>
<td align="right">
   1.3126
</td>
<td align="right">
   1.3131
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
03:00:00
</td>
<td align="right">
  .80
</td>
<td align="right">
   1.3124
</td>
<td align="right">
   1.3125
</td>
<td align="right">
   1.3132
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
03:00:00
</td>
<td align="right">
  .80
</td>
<td align="right">
   1.3124
</td>
<td align="right">
   1.3125
</td>
<td align="right">
   1.3132
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
03:05:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.3125
</td>
<td align="right">
   1.3127
</td>
<td align="right">
   1.3133
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
03:05:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.3125
</td>
<td align="right">
   1.3127
</td>
<td align="right">
   1.3133
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
03:10:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.3124
</td>
<td align="right">
   1.3127
</td>
<td align="right">
   1.3130
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
03:10:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.3124
</td>
<td align="right">
   1.3127
</td>
<td align="right">
   1.3130
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
03:15:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.3127
</td>
<td align="right">
   1.3126
</td>
<td align="right">
   1.3134
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
03:15:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.3127
</td>
<td align="right">
   1.3126
</td>
<td align="right">
   1.3134
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
03:20:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.3126
</td>
<td align="right">
   1.3126
</td>
<td align="right">
   1.3136
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0010
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
03:20:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.3126
</td>
<td align="right">
   1.3126
</td>
<td align="right">
   1.3136
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0010
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
03:25:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.3126
</td>
<td align="right">
   1.3127
</td>
<td align="right">
   1.3132
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
03:25:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.3126
</td>
<td align="right">
   1.3127
</td>
<td align="right">
   1.3132
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
03:50:00
</td>
<td align="right">
  .77
</td>
<td align="right">
   1.3126
</td>
<td align="right">
   1.3131
</td>
<td align="right">
   1.3116
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
03:50:00
</td>
<td align="right">
  .77
</td>
<td align="right">
   1.3126
</td>
<td align="right">
   1.3131
</td>
<td align="right">
   1.3116
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
03:55:00
</td>
<td align="right">
  .85
</td>
<td align="right">
   1.3127
</td>
<td align="right">
   1.3128
</td>
<td align="right">
   1.3121
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
03:55:00
</td>
<td align="right">
  .85
</td>
<td align="right">
   1.3127
</td>
<td align="right">
   1.3128
</td>
<td align="right">
   1.3121
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
04:00:00
</td>
<td align="right">
  .82
</td>
<td align="right">
   1.3128
</td>
<td align="right">
   1.3128
</td>
<td align="right">
   1.3120
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
04:00:00
</td>
<td align="right">
  .82
</td>
<td align="right">
   1.3128
</td>
<td align="right">
   1.3128
</td>
<td align="right">
   1.3120
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
04:05:00
</td>
<td align="right">
  .82
</td>
<td align="right">
   1.3129
</td>
<td align="right">
   1.3128
</td>
<td align="right">
   1.3118
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
04:05:00
</td>
<td align="right">
  .82
</td>
<td align="right">
   1.3129
</td>
<td align="right">
   1.3128
</td>
<td align="right">
   1.3118
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
04:20:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.3131
</td>
<td align="right">
   1.3129
</td>
<td align="right">
   1.3122
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
04:20:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.3131
</td>
<td align="right">
   1.3129
</td>
<td align="right">
   1.3122
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
04:25:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.3128
</td>
<td align="right">
   1.3131
</td>
<td align="right">
   1.3117
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-17
04:25:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.3128
</td>
<td align="right">
   1.3131
</td>
<td align="right">
   1.3117
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-18
02:35:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.3106
</td>
<td align="right">
   1.3104
</td>
<td align="right">
   1.3086
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0017
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-18
02:50:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.3101
</td>
<td align="right">
   1.3099
</td>
<td align="right">
   1.3088
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-18
02:55:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.3104
</td>
<td align="right">
   1.3100
</td>
<td align="right">
   1.3079
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0020
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-18
03:05:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.3098
</td>
<td align="right">
   1.3102
</td>
<td align="right">
   1.3072
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-18
03:35:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.3104
</td>
<td align="right">
   1.3098
</td>
<td align="right">
   1.3065
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0033
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-18
03:45:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.3102
</td>
<td align="right">
   1.3100
</td>
<td align="right">
   1.3055
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0044
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-18
04:05:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.3102
</td>
<td align="right">
   1.3098
</td>
<td align="right">
   1.3062
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0036
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-18
04:10:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.3098
</td>
<td align="right">
   1.3097
</td>
<td align="right">
   1.3057
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0040
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-18
05:15:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.3097
</td>
<td align="right">
   1.3091
</td>
<td align="right">
   1.3071
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0020
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-18
05:35:00
</td>
<td align="right">
  .77
</td>
<td align="right">
   1.3096
</td>
<td align="right">
   1.3092
</td>
<td align="right">
   1.3066
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0026
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-18
05:40:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.3096
</td>
<td align="right">
   1.3097
</td>
<td align="right">
   1.3068
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-18
06:35:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3092
</td>
<td align="right">
   1.3074
</td>
<td align="right">
   1.3062
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  -.0012
</td>
<td align="right">
 -.0014
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-17
15:35:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .9725
</td>
<td align="right">
    .9723
</td>
<td align="right">
    .9754
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0031
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-17
15:35:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .9725
</td>
<td align="right">
    .9723
</td>
<td align="right">
    .9754
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0031
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-17
15:40:00
</td>
<td align="right">
  .75
</td>
<td align="right">
    .9724
</td>
<td align="right">
    .9723
</td>
<td align="right">
    .9754
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0032
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0033
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-17
15:40:00
</td>
<td align="right">
  .75
</td>
<td align="right">
    .9724
</td>
<td align="right">
    .9723
</td>
<td align="right">
    .9754
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0032
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0033
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-17
16:05:00
</td>
<td align="right">
  .79
</td>
<td align="right">
    .9723
</td>
<td align="right">
    .9726
</td>
<td align="right">
    .9753
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0027
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-17
16:05:00
</td>
<td align="right">
  .79
</td>
<td align="right">
    .9723
</td>
<td align="right">
    .9726
</td>
<td align="right">
    .9753
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0027
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-17
16:10:00
</td>
<td align="right">
  .80
</td>
<td align="right">
    .9723
</td>
<td align="right">
    .9725
</td>
<td align="right">
    .9756
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0031
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-17
16:10:00
</td>
<td align="right">
  .80
</td>
<td align="right">
    .9723
</td>
<td align="right">
    .9725
</td>
<td align="right">
    .9756
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0031
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-17
16:15:00
</td>
<td align="right">
  .81
</td>
<td align="right">
    .9723
</td>
<td align="right">
    .9725
</td>
<td align="right">
    .9759
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0034
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0035
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-17
16:15:00
</td>
<td align="right">
  .81
</td>
<td align="right">
    .9723
</td>
<td align="right">
    .9725
</td>
<td align="right">
    .9759
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0034
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0035
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-17
16:20:00
</td>
<td align="right">
  .79
</td>
<td align="right">
    .9722
</td>
<td align="right">
    .9726
</td>
<td align="right">
    .9758
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0032
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0033
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-17
16:20:00
</td>
<td align="right">
  .79
</td>
<td align="right">
    .9722
</td>
<td align="right">
    .9726
</td>
<td align="right">
    .9758
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0032
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0033
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-18
02:15:00
</td>
<td align="right">
  .61
</td>
<td align="right">
    .9735
</td>
<td align="right">
    .9738
</td>
<td align="right">
    .9758
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0020
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-18
02:20:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .9739
</td>
<td align="right">
    .9737
</td>
<td align="right">
    .9755
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-18
03:30:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .9266
</td>
<td align="right">
    .9269
</td>
<td align="right">
    .9274
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0005
</td>
</tr>
</table>
<br />
