<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_09_30<h4>Week of: 2012_09_30 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -2.95
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0015
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0061
</td>
<td align="right">
  -.0022
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0005
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0061
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-01
03:20:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  80.5347
</td>
<td align="right">
  80.5202
</td>
<td align="right">
  80.9595
</td>
<td align="right">
  -.0145
</td>
<td align="right">
   .4393
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0055
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-09-30
21:15:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.0365
</td>
<td align="right">
   1.0363
</td>
<td align="right">
   1.0340
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0023
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-09-30
22:35:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.0353
</td>
<td align="right">
   1.0351
</td>
<td align="right">
   1.0341
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0010
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-09-30
22:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.0355
</td>
<td align="right">
   1.0352
</td>
<td align="right">
   1.0337
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0015
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-09-30
23:10:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.0348
</td>
<td align="right">
   1.0353
</td>
<td align="right">
   1.0338
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-30
21:25:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 100.1757
</td>
<td align="right">
 100.1784
</td>
<td align="right">
  99.8710
</td>
<td align="right">
   .0026
</td>
<td align="right">
  -.3074
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
00:45:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
  77.9363
</td>
<td align="right">
  77.9225
</td>
<td align="right">
  77.8225
</td>
<td align="right">
  -.0138
</td>
<td align="right">
  -.1000
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0013
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-10-01
04:20:00
</td>
<td align="right">
  .60
</td>
<td align="right">
  77.8725
</td>
<td align="right">
  77.8875
</td>
<td align="right">
  77.9825
</td>
<td align="right">
   .0150
</td>
<td align="right">
   .0950
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0012
</td>
</tr>
</table>
<br />
