<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_08_19<h4>Week of: 2012_08_19 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.47
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0015
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0122
</td>
<td align="right">
  -.0045
</td>
<td align="right">
   .0034
</td>
<td align="right">
   .0033
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.62
</td>
<td align="right">
     .39
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0015
</td>
<td align="right">
    3
</td>
<td align="right">
   .0046
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   .0061
</td>
<td align="right">
   .0040
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.27
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   20
</td>
<td align="right">
  -.0154
</td>
<td align="right">
  -.0037
</td>
<td align="right">
   .0050
</td>
<td align="right">
   .0028
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.35
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0006
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0046
</td>
<td align="right">
  -.0034
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0017
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.59
</td>
<td align="right">
    -.56
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0020
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0099
</td>
<td align="right">
  -.0081
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0035
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   44
</td>
<td align="right">
  -.0375
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.55
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  -.0013
</td>
<td align="right">
    7
</td>
<td align="right">
  -.0088
</td>
<td align="right">
  -.0045
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0023
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .67
</td>
<td align="right">
     .16
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0002
</td>
<td align="right">
    5
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0028
</td>
<td align="right">
   .0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .68
</td>
<td align="right">
    1.06
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0022
</td>
<td align="right">
   21
</td>
<td align="right">
   .0470
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   .0053
</td>
<td align="right">
   .0021
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .59
</td>
<td align="right">
     .50
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0004
</td>
<td align="right">
    8
</td>
<td align="right">
   .0034
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0016
</td>
<td align="right">
   .0009
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.85
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   33
</td>
<td align="right">
  -.0580
</td>
<td align="right">
  -.0053
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0021
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   74
</td>
<td align="right">
  -.0152
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-22
14:55:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  82.7582
</td>
<td align="right">
  82.7277
</td>
<td align="right">
  82.5483
</td>
<td align="right">
  -.0304
</td>
<td align="right">
  -.1794
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-22
07:35:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.1927
</td>
<td align="right">
   1.1933
</td>
<td align="right">
   1.1939
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-20
06:05:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .7865
</td>
<td align="right">
    .7870
</td>
<td align="right">
    .7841
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-20
06:10:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
    .7864
</td>
<td align="right">
    .7870
</td>
<td align="right">
    .7834
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0036
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0045
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-20
06:20:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .7864
</td>
<td align="right">
    .7868
</td>
<td align="right">
    .7837
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0032
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0040
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-20
06:30:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .7864
</td>
<td align="right">
    .7868
</td>
<td align="right">
    .7842
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0026
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0033
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-20
06:50:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .7865
</td>
<td align="right">
    .7865
</td>
<td align="right">
    .7841
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0025
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-20
16:00:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .7859
</td>
<td align="right">
    .7859
</td>
<td align="right">
    .7860
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-21
05:05:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .7858
</td>
<td align="right">
    .7859
</td>
<td align="right">
    .7883
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0025
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0031
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-21
06:05:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .7859
</td>
<td align="right">
    .7861
</td>
<td align="right">
    .7887
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0026
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0034
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-21
04:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  98.0261
</td>
<td align="right">
  98.0142
</td>
<td align="right">
  98.6149
</td>
<td align="right">
  -.0120
</td>
<td align="right">
   .6007
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0061
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-23
10:30:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  98.7259
</td>
<td align="right">
  98.7054
</td>
<td align="right">
  98.6835
</td>
<td align="right">
  -.0205
</td>
<td align="right">
  -.0219
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-24
14:55:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
  98.4505
</td>
<td align="right">
  98.5720
</td>
<td align="right">
  98.4462
</td>
<td align="right">
   .1215
</td>
<td align="right">
  -.1258
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-20
06:55:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2357
</td>
<td align="right">
   1.2354
</td>
<td align="right">
   1.2308
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0046
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-20
07:35:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.2353
</td>
<td align="right">
   1.2352
</td>
<td align="right">
   1.2313
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0038
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-20
07:50:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.2355
</td>
<td align="right">
   1.2354
</td>
<td align="right">
   1.2322
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0032
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-20
07:55:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.2354
</td>
<td align="right">
   1.2351
</td>
<td align="right">
   1.2315
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0036
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-20
08:00:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.2358
</td>
<td align="right">
   1.2356
</td>
<td align="right">
   1.2324
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0032
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-20
08:05:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.2354
</td>
<td align="right">
   1.2351
</td>
<td align="right">
   1.2323
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0028
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-20
08:10:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
   1.2351
</td>
<td align="right">
   1.2356
</td>
<td align="right">
   1.2326
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-20
08:15:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.2354
</td>
<td align="right">
   1.2361
</td>
<td align="right">
   1.2323
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0038
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-20
08:20:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
   1.2355
</td>
<td align="right">
   1.2363
</td>
<td align="right">
   1.2323
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0040
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-20
08:25:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
   1.2353
</td>
<td align="right">
   1.2358
</td>
<td align="right">
   1.2328
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-20
08:30:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
   1.2352
</td>
<td align="right">
   1.2360
</td>
<td align="right">
   1.2325
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0035
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-20
08:35:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
   1.2352
</td>
<td align="right">
   1.2354
</td>
<td align="right">
   1.2326
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0028
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-20
21:15:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.2347
</td>
<td align="right">
   1.2349
</td>
<td align="right">
   1.2356
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-21
06:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.2377
</td>
<td align="right">
   1.2414
</td>
<td align="right">
   1.2457
</td>
<td align="right">
   .0037
</td>
<td align="right">
   .0043
</td>
<td align="right">
  .0030
</td>
<td align="right">
  .0034
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-21
07:30:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.2400
</td>
<td align="right">
   1.2407
</td>
<td align="right">
   1.2470
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0063
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0050
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-21
07:35:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2406
</td>
<td align="right">
   1.2412
</td>
<td align="right">
   1.2469
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0057
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0046
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-21
19:15:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.2460
</td>
<td align="right">
   1.2464
</td>
<td align="right">
   1.2465
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-22
18:25:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.2521
</td>
<td align="right">
   1.2517
</td>
<td align="right">
   1.2529
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0012
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-22
19:15:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.2517
</td>
<td align="right">
   1.2516
</td>
<td align="right">
   1.2545
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0029
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-08-23
02:10:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
   1.2544
</td>
<td align="right">
   1.2543
</td>
<td align="right">
   1.2556
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0014
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-08-21
11:30:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9859
</td>
<td align="right">
    .9860
</td>
<td align="right">
    .9875
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0015
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-20
11:15:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .9761
</td>
<td align="right">
    .9763
</td>
<td align="right">
    .9730
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0033
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-23
20:00:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .9560
</td>
<td align="right">
    .9558
</td>
<td align="right">
    .9559
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-23
20:25:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .9561
</td>
<td align="right">
    .9558
</td>
<td align="right">
    .9563
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-23
20:30:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9561
</td>
<td align="right">
    .9558
</td>
<td align="right">
    .9562
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-23
20:35:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9561
</td>
<td align="right">
    .9557
</td>
<td align="right">
    .9561
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-23
21:20:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .9558
</td>
<td align="right">
    .9558
</td>
<td align="right">
    .9559
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-23
21:40:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
    .9558
</td>
<td align="right">
    .9560
</td>
<td align="right">
    .9562
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-24
09:15:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9576
</td>
<td align="right">
    .9592
</td>
<td align="right">
    .9562
</td>
<td align="right">
   .0016
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  .0017
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-22
16:10:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  79.1925
</td>
<td align="right">
  79.1925
</td>
<td align="right">
  78.5475
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.6450
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0081
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-22
19:25:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  78.4975
</td>
<td align="right">
  78.5325
</td>
<td align="right">
  78.5700
</td>
<td align="right">
   .0350
</td>
<td align="right">
   .0375
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-22
20:50:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  78.5700
</td>
<td align="right">
  78.5775
</td>
<td align="right">
  78.4725
</td>
<td align="right">
   .0075
</td>
<td align="right">
  -.1050
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-22
21:45:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  78.5900
</td>
<td align="right">
  78.5900
</td>
<td align="right">
  78.5375
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0525
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-08-22
23:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  78.5875
</td>
<td align="right">
  78.5675
</td>
<td align="right">
  78.5525
</td>
<td align="right">
  -.0200
</td>
<td align="right">
  -.0150
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0002
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-22
00:40:00
</td>
<td align="right">
  .55
</td>
<td align="right">
  82.8725
</td>
<td align="right">
  82.7755
</td>
<td align="right">
  82.8270
</td>
<td align="right">
  -.0971
</td>
<td align="right">
   .0515
</td>
<td align="right">
 -.0012
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-22
02:50:00
</td>
<td align="right">
  .58
</td>
<td align="right">
  82.8587
</td>
<td align="right">
  82.8506
</td>
<td align="right">
  82.9427
</td>
<td align="right">
  -.0081
</td>
<td align="right">
   .0921
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-22
05:15:00
</td>
<td align="right">
  .63
</td>
<td align="right">
  82.7793
</td>
<td align="right">
  82.8093
</td>
<td align="right">
  82.7332
</td>
<td align="right">
   .0300
</td>
<td align="right">
  -.0761
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-22
08:45:00
</td>
<td align="right">
  .72
</td>
<td align="right">
  82.9770
</td>
<td align="right">
  82.8044
</td>
<td align="right">
  82.6235
</td>
<td align="right">
  -.1726
</td>
<td align="right">
  -.1809
</td>
<td align="right">
 -.0021
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-24
00:00:00
</td>
<td align="right">
  .61
</td>
<td align="right">
  81.9963
</td>
<td align="right">
  81.8983
</td>
<td align="right">
  81.9648
</td>
<td align="right">
  -.0980
</td>
<td align="right">
   .0665
</td>
<td align="right">
 -.0012
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-24
03:05:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  82.0524
</td>
<td align="right">
  82.0118
</td>
<td align="right">
  81.7103
</td>
<td align="right">
  -.0406
</td>
<td align="right">
  -.3015
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-24
04:10:00
</td>
<td align="right">
  .60
</td>
<td align="right">
  81.9961
</td>
<td align="right">
  81.9786
</td>
<td align="right">
  81.6069
</td>
<td align="right">
  -.0175
</td>
<td align="right">
  -.3717
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0045
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-20
03:50:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .7861
</td>
<td align="right">
    .7857
</td>
<td align="right">
    .7862
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-20
04:10:00
</td>
<td align="right">
  .79
</td>
<td align="right">
    .7858
</td>
<td align="right">
    .7858
</td>
<td align="right">
    .7851
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-20
04:15:00
</td>
<td align="right">
  .66
</td>
<td align="right">
    .7859
</td>
<td align="right">
    .7858
</td>
<td align="right">
    .7852
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-20
04:20:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .7859
</td>
<td align="right">
    .7857
</td>
<td align="right">
    .7853
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0005
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-20
11:40:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .7840
</td>
<td align="right">
    .7838
</td>
<td align="right">
    .7859
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0022
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-20
12:30:00
</td>
<td align="right">
  .57
</td>
<td align="right">
  97.8967
</td>
<td align="right">
  97.8988
</td>
<td align="right">
  98.0233
</td>
<td align="right">
   .0020
</td>
<td align="right">
   .1245
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-20
12:45:00
</td>
<td align="right">
  .65
</td>
<td align="right">
  97.8660
</td>
<td align="right">
  97.8541
</td>
<td align="right">
  98.0418
</td>
<td align="right">
  -.0119
</td>
<td align="right">
   .1877
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-20
13:20:00
</td>
<td align="right">
  .69
</td>
<td align="right">
  97.8590
</td>
<td align="right">
  97.7757
</td>
<td align="right">
  98.0323
</td>
<td align="right">
  -.0833
</td>
<td align="right">
   .2566
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-20
13:30:00
</td>
<td align="right">
  .58
</td>
<td align="right">
  97.8988
</td>
<td align="right">
  97.8000
</td>
<td align="right">
  98.0142
</td>
<td align="right">
  -.0988
</td>
<td align="right">
   .2143
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-20
13:40:00
</td>
<td align="right">
  .72
</td>
<td align="right">
  97.9063
</td>
<td align="right">
  97.8238
</td>
<td align="right">
  98.0204
</td>
<td align="right">
  -.0826
</td>
<td align="right">
   .1966
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-20
13:50:00
</td>
<td align="right">
  .77
</td>
<td align="right">
  97.8602
</td>
<td align="right">
  97.8903
</td>
<td align="right">
  98.0301
</td>
<td align="right">
   .0301
</td>
<td align="right">
   .1398
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-20
15:05:00
</td>
<td align="right">
  .71
</td>
<td align="right">
  97.9644
</td>
<td align="right">
  98.0028
</td>
<td align="right">
  98.0905
</td>
<td align="right">
   .0384
</td>
<td align="right">
   .0877
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-22
18:25:00
</td>
<td align="right">
  .57
</td>
<td align="right">
  98.5144
</td>
<td align="right">
  98.2573
</td>
<td align="right">
  98.4353
</td>
<td align="right">
  -.2571
</td>
<td align="right">
   .1780
</td>
<td align="right">
 -.0026
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-23
23:50:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  98.7094
</td>
<td align="right">
  98.6317
</td>
<td align="right">
  98.7377
</td>
<td align="right">
  -.0777
</td>
<td align="right">
   .1060
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-23
23:55:00
</td>
<td align="right">
  .57
</td>
<td align="right">
  98.7102
</td>
<td align="right">
  98.5925
</td>
<td align="right">
  98.7338
</td>
<td align="right">
  -.1178
</td>
<td align="right">
   .1413
</td>
<td align="right">
 -.0012
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-24
02:25:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  98.8115
</td>
<td align="right">
  98.7652
</td>
<td align="right">
  98.6346
</td>
<td align="right">
  -.0463
</td>
<td align="right">
  -.1306
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-24
02:35:00
</td>
<td align="right">
  .67
</td>
<td align="right">
  98.7927
</td>
<td align="right">
  98.7432
</td>
<td align="right">
  98.5774
</td>
<td align="right">
  -.0495
</td>
<td align="right">
  -.1658
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-24
02:40:00
</td>
<td align="right">
  .75
</td>
<td align="right">
  98.7899
</td>
<td align="right">
  98.7393
</td>
<td align="right">
  98.5734
</td>
<td align="right">
  -.0506
</td>
<td align="right">
  -.1659
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-24
11:55:00
</td>
<td align="right">
  .79
</td>
<td align="right">
  98.1842
</td>
<td align="right">
  98.0932
</td>
<td align="right">
  98.6074
</td>
<td align="right">
  -.0910
</td>
<td align="right">
   .5141
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0052
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-24
12:00:00
</td>
<td align="right">
  .79
</td>
<td align="right">
  98.2126
</td>
<td align="right">
  98.0759
</td>
<td align="right">
  98.5980
</td>
<td align="right">
  -.1367
</td>
<td align="right">
   .5221
</td>
<td align="right">
 -.0014
</td>
<td align="right">
  .0053
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-24
12:05:00
</td>
<td align="right">
  .79
</td>
<td align="right">
  98.1855
</td>
<td align="right">
  98.1778
</td>
<td align="right">
  98.6109
</td>
<td align="right">
  -.0078
</td>
<td align="right">
   .4332
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0044
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-24
12:10:00
</td>
<td align="right">
  .74
</td>
<td align="right">
  98.1741
</td>
<td align="right">
  98.1840
</td>
<td align="right">
  98.6047
</td>
<td align="right">
   .0099
</td>
<td align="right">
   .4207
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0043
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-24
12:15:00
</td>
<td align="right">
  .60
</td>
<td align="right">
  98.1953
</td>
<td align="right">
  98.1872
</td>
<td align="right">
  98.5952
</td>
<td align="right">
  -.0081
</td>
<td align="right">
   .4080
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0042
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-24
12:20:00
</td>
<td align="right">
  .70
</td>
<td align="right">
  98.2588
</td>
<td align="right">
  98.1387
</td>
<td align="right">
  98.5932
</td>
<td align="right">
  -.1200
</td>
<td align="right">
   .4545
</td>
<td align="right">
 -.0012
</td>
<td align="right">
  .0046
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-24
12:35:00
</td>
<td align="right">
  .73
</td>
<td align="right">
  98.2486
</td>
<td align="right">
  98.1707
</td>
<td align="right">
  98.5133
</td>
<td align="right">
  -.0779
</td>
<td align="right">
   .3426
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0035
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-24
12:40:00
</td>
<td align="right">
  .74
</td>
<td align="right">
  98.1732
</td>
<td align="right">
  98.1911
</td>
<td align="right">
  98.5393
</td>
<td align="right">
   .0179
</td>
<td align="right">
   .3482
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0035
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-08-21
09:40:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.5761
</td>
<td align="right">
   1.5763
</td>
<td align="right">
   1.5787
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0025
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-08-21
09:45:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.5760
</td>
<td align="right">
   1.5764
</td>
<td align="right">
   1.5787
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0024
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-08-21
11:30:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.5761
</td>
<td align="right">
   1.5766
</td>
<td align="right">
   1.5785
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0020
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-08-21
13:10:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.5771
</td>
<td align="right">
   1.5773
</td>
<td align="right">
   1.5776
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-08-23
12:40:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.5869
</td>
<td align="right">
   1.5871
</td>
<td align="right">
   1.5866
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-08-23
12:45:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.5869
</td>
<td align="right">
   1.5871
</td>
<td align="right">
   1.5866
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-08-23
12:50:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.5869
</td>
<td align="right">
   1.5869
</td>
<td align="right">
   1.5865
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-08-23
12:55:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.5871
</td>
<td align="right">
   1.5867
</td>
<td align="right">
   1.5862
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0005
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-20
17:20:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9729
</td>
<td align="right">
    .9730
</td>
<td align="right">
    .9722
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-20
17:25:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9729
</td>
<td align="right">
    .9729
</td>
<td align="right">
    .9722
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-20
19:40:00
</td>
<td align="right">
  .67
</td>
<td align="right">
    .9730
</td>
<td align="right">
    .9729
</td>
<td align="right">
    .9720
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-20
19:45:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .9729
</td>
<td align="right">
    .9730
</td>
<td align="right">
    .9722
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-20
19:55:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .9727
</td>
<td align="right">
    .9730
</td>
<td align="right">
    .9721
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-20
20:00:00
</td>
<td align="right">
  .77
</td>
<td align="right">
    .9726
</td>
<td align="right">
    .9728
</td>
<td align="right">
    .9721
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-20
20:05:00
</td>
<td align="right">
  .70
</td>
<td align="right">
    .9727
</td>
<td align="right">
    .9729
</td>
<td align="right">
    .9721
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-20
20:10:00
</td>
<td align="right">
  .67
</td>
<td align="right">
    .9729
</td>
<td align="right">
    .9730
</td>
<td align="right">
    .9721
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-20
21:15:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .9728
</td>
<td align="right">
    .9726
</td>
<td align="right">
    .9722
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0005
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-20
22:25:00
</td>
<td align="right">
  .61
</td>
<td align="right">
    .9727
</td>
<td align="right">
    .9724
</td>
<td align="right">
    .9723
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-20
22:35:00
</td>
<td align="right">
  .68
</td>
<td align="right">
    .9726
</td>
<td align="right">
    .9722
</td>
<td align="right">
    .9725
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-20
22:45:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9725
</td>
<td align="right">
    .9722
</td>
<td align="right">
    .9724
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-20
22:50:00
</td>
<td align="right">
  .77
</td>
<td align="right">
    .9725
</td>
<td align="right">
    .9723
</td>
<td align="right">
    .9718
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0005
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-20
23:00:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .9725
</td>
<td align="right">
    .9722
</td>
<td align="right">
    .9719
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-20
23:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
    .9723
</td>
<td align="right">
    .9724
</td>
<td align="right">
    .9719
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-20
23:10:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .9724
</td>
<td align="right">
    .9723
</td>
<td align="right">
    .9719
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0004
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-20
23:30:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .9723
</td>
<td align="right">
    .9723
</td>
<td align="right">
    .9721
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-20
23:40:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .9722
</td>
<td align="right">
    .9723
</td>
<td align="right">
    .9719
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-21
00:15:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9723
</td>
<td align="right">
    .9726
</td>
<td align="right">
    .9713
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-21
01:55:00
</td>
<td align="right">
  .70
</td>
<td align="right">
    .9720
</td>
<td align="right">
    .9721
</td>
<td align="right">
    .9684
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0037
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-21
02:10:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9721
</td>
<td align="right">
    .9722
</td>
<td align="right">
    .9675
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0047
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0048
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-21
02:45:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .9721
</td>
<td align="right">
    .9723
</td>
<td align="right">
    .9677
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0047
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0048
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-21
04:05:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9723
</td>
<td align="right">
    .9719
</td>
<td align="right">
    .9668
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0051
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0053
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-21
04:15:00
</td>
<td align="right">
  .68
</td>
<td align="right">
    .9723
</td>
<td align="right">
    .9719
</td>
<td align="right">
    .9668
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0052
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0053
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-21
07:00:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9709
</td>
<td align="right">
    .9680
</td>
<td align="right">
    .9642
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  -.0039
</td>
<td align="right">
 -.0030
</td>
<td align="right">
 -.0040
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-21
07:15:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .9708
</td>
<td align="right">
    .9673
</td>
<td align="right">
    .9640
</td>
<td align="right">
  -.0035
</td>
<td align="right">
  -.0033
</td>
<td align="right">
 -.0036
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-21
08:10:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9675
</td>
<td align="right">
    .9678
</td>
<td align="right">
    .9637
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0041
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0042
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-21
08:30:00
</td>
<td align="right">
  .68
</td>
<td align="right">
    .9680
</td>
<td align="right">
    .9680
</td>
<td align="right">
    .9633
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0047
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0049
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-21
09:05:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9676
</td>
<td align="right">
    .9668
</td>
<td align="right">
    .9621
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  -.0047
</td>
<td align="right">
 -.0008
</td>
<td align="right">
 -.0048
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-21
09:10:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .9678
</td>
<td align="right">
    .9668
</td>
<td align="right">
    .9624
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  -.0043
</td>
<td align="right">
 -.0011
</td>
<td align="right">
 -.0045
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-23
17:25:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .9559
</td>
<td align="right">
    .9558
</td>
<td align="right">
    .9564
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-23
18:00:00
</td>
<td align="right">
  .71
</td>
<td align="right">
    .9557
</td>
<td align="right">
    .9559
</td>
<td align="right">
    .9564
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-08-23
18:10:00
</td>
<td align="right">
  .70
</td>
<td align="right">
    .9556
</td>
<td align="right">
    .9558
</td>
<td align="right">
    .9567
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0010
</td>
</tr>
</table>
<br />
