<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_09_23<h4>Week of: 2012_09_23 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.67
</td>
<td align="right">
    2.30
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0009
</td>
<td align="right">
    2
</td>
<td align="right">
   .0019
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0012
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .19
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0003
</td>
<td align="right">
   22
</td>
<td align="right">
   .0058
</td>
<td align="right">
  -.0031
</td>
<td align="right">
   .0016
</td>
<td align="right">
   .0014
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.60
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0028
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0112
</td>
<td align="right">
  -.0040
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0018
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   28
</td>
<td align="right">
  -.0035
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .64
</td>
<td align="right">
     .53
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0004
</td>
<td align="right">
   17
</td>
<td align="right">
   .0070
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0012
</td>
<td align="right">
   .0008
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .65
</td>
<td align="right">
   -3.82
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0014
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0083
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .61
</td>
<td align="right">
     .90
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0017
</td>
<td align="right">
    4
</td>
<td align="right">
   .0066
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0036
</td>
<td align="right">
   .0018
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   27
</td>
<td align="right">
   .0053
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-09-24
19:30:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
  81.1541
</td>
<td align="right">
  81.1410
</td>
<td align="right">
  81.1943
</td>
<td align="right">
  -.0131
</td>
<td align="right">
   .0533
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-09-24
20:40:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
  81.1489
</td>
<td align="right">
  81.1833
</td>
<td align="right">
  81.2838
</td>
<td align="right">
   .0344
</td>
<td align="right">
   .1005
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
18:45:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
 100.6470
</td>
<td align="right">
 100.6522
</td>
<td align="right">
 100.7289
</td>
<td align="right">
   .0052
</td>
<td align="right">
   .0766
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
19:05:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
 100.6717
</td>
<td align="right">
 100.6380
</td>
<td align="right">
 100.7473
</td>
<td align="right">
  -.0336
</td>
<td align="right">
   .1093
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
19:25:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 100.6645
</td>
<td align="right">
 100.6484
</td>
<td align="right">
 100.7457
</td>
<td align="right">
  -.0161
</td>
<td align="right">
   .0973
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
19:35:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 100.6639
</td>
<td align="right">
 100.6406
</td>
<td align="right">
 100.7281
</td>
<td align="right">
  -.0233
</td>
<td align="right">
   .0875
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
19:40:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
 100.6386
</td>
<td align="right">
 100.6406
</td>
<td align="right">
 100.7353
</td>
<td align="right">
   .0020
</td>
<td align="right">
   .0947
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
19:45:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
 100.6522
</td>
<td align="right">
 100.6335
</td>
<td align="right">
 100.7587
</td>
<td align="right">
  -.0187
</td>
<td align="right">
   .1252
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
19:55:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
 100.6267
</td>
<td align="right">
 100.6639
</td>
<td align="right">
 100.7895
</td>
<td align="right">
   .0373
</td>
<td align="right">
   .1256
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
20:00:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
 100.6471
</td>
<td align="right">
 100.6523
</td>
<td align="right">
 100.8177
</td>
<td align="right">
   .0052
</td>
<td align="right">
   .1654
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
20:15:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 100.6484
</td>
<td align="right">
 100.6426
</td>
<td align="right">
 100.7775
</td>
<td align="right">
  -.0058
</td>
<td align="right">
   .1349
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
20:20:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
 100.6523
</td>
<td align="right">
 100.6439
</td>
<td align="right">
 100.7794
</td>
<td align="right">
  -.0084
</td>
<td align="right">
   .1355
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
20:35:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 100.6406
</td>
<td align="right">
 100.6682
</td>
<td align="right">
 100.7976
</td>
<td align="right">
   .0275
</td>
<td align="right">
   .1294
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
20:45:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
 100.6335
</td>
<td align="right">
 100.6626
</td>
<td align="right">
 100.7895
</td>
<td align="right">
   .0291
</td>
<td align="right">
   .1268
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
21:30:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 100.6426
</td>
<td align="right">
 100.6739
</td>
<td align="right">
 100.7217
</td>
<td align="right">
   .0313
</td>
<td align="right">
   .0477
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
21:35:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
 100.6439
</td>
<td align="right">
 100.6769
</td>
<td align="right">
 100.7294
</td>
<td align="right">
   .0330
</td>
<td align="right">
   .0525
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
21:50:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 100.6682
</td>
<td align="right">
 100.6957
</td>
<td align="right">
 100.7152
</td>
<td align="right">
   .0275
</td>
<td align="right">
   .0195
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
21:55:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
 100.6743
</td>
<td align="right">
 100.6730
</td>
<td align="right">
 100.7145
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   .0415
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
22:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 100.6665
</td>
<td align="right">
 100.6795
</td>
<td align="right">
 100.6854
</td>
<td align="right">
   .0130
</td>
<td align="right">
   .0058
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
22:45:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 100.6814
</td>
<td align="right">
 100.7463
</td>
<td align="right">
 100.6259
</td>
<td align="right">
   .0648
</td>
<td align="right">
  -.1203
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
23:00:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
 100.6665
</td>
<td align="right">
 100.7615
</td>
<td align="right">
 100.6670
</td>
<td align="right">
   .0950
</td>
<td align="right">
  -.0945
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
23:10:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
 100.6750
</td>
<td align="right">
 100.8130
</td>
<td align="right">
 100.6136
</td>
<td align="right">
   .1380
</td>
<td align="right">
  -.1994
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
23:25:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
 100.6956
</td>
<td align="right">
 100.7651
</td>
<td align="right">
 100.4516
</td>
<td align="right">
   .0694
</td>
<td align="right">
  -.3135
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
23:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 100.6911
</td>
<td align="right">
 100.7414
</td>
<td align="right">
 100.4801
</td>
<td align="right">
   .0503
</td>
<td align="right">
  -.2613
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-24
22:50:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.2932
</td>
<td align="right">
   1.2941
</td>
<td align="right">
   1.2938
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-25
13:20:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.2947
</td>
<td align="right">
   1.2959
</td>
<td align="right">
   1.2910
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0049
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-25
15:40:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2948
</td>
<td align="right">
   1.2946
</td>
<td align="right">
   1.2905
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0041
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-25
16:25:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.2948
</td>
<td align="right">
   1.2954
</td>
<td align="right">
   1.2902
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0052
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0040
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-24
18:30:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .9791
</td>
<td align="right">
    .9788
</td>
<td align="right">
    .9788
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0000
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
08:55:00
</td>
<td align="right">
  .58
</td>
<td align="right">
 100.6757
</td>
<td align="right">
 100.7020
</td>
<td align="right">
 100.5814
</td>
<td align="right">
   .0262
</td>
<td align="right">
  -.1206
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
09:15:00
</td>
<td align="right">
  .65
</td>
<td align="right">
 100.6850
</td>
<td align="right">
 100.7003
</td>
<td align="right">
 100.5973
</td>
<td align="right">
   .0153
</td>
<td align="right">
  -.1030
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
12:15:00
</td>
<td align="right">
  .56
</td>
<td align="right">
 100.8160
</td>
<td align="right">
 100.6915
</td>
<td align="right">
 100.6502
</td>
<td align="right">
  -.1246
</td>
<td align="right">
  -.0413
</td>
<td align="right">
 -.0012
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
12:20:00
</td>
<td align="right">
  .62
</td>
<td align="right">
 100.7862
</td>
<td align="right">
 100.7577
</td>
<td align="right">
 100.6670
</td>
<td align="right">
  -.0285
</td>
<td align="right">
  -.0907
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
14:25:00
</td>
<td align="right">
  .59
</td>
<td align="right">
 100.5715
</td>
<td align="right">
 100.5572
</td>
<td align="right">
 100.6484
</td>
<td align="right">
  -.0144
</td>
<td align="right">
   .0912
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
14:30:00
</td>
<td align="right">
  .70
</td>
<td align="right">
 100.5792
</td>
<td align="right">
 100.5781
</td>
<td align="right">
 100.6465
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0684
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
14:50:00
</td>
<td align="right">
  .62
</td>
<td align="right">
 100.5561
</td>
<td align="right">
 100.5463
</td>
<td align="right">
 100.6474
</td>
<td align="right">
  -.0099
</td>
<td align="right">
   .1012
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
14:55:00
</td>
<td align="right">
  .79
</td>
<td align="right">
 100.5814
</td>
<td align="right">
 100.5688
</td>
<td align="right">
 100.6639
</td>
<td align="right">
  -.0126
</td>
<td align="right">
   .0951
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
15:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
 100.5793
</td>
<td align="right">
 100.5895
</td>
<td align="right">
 100.6523
</td>
<td align="right">
   .0102
</td>
<td align="right">
   .0628
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
15:20:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 100.5597
</td>
<td align="right">
 100.5780
</td>
<td align="right">
 100.6439
</td>
<td align="right">
   .0183
</td>
<td align="right">
   .0659
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
15:25:00
</td>
<td align="right">
  .64
</td>
<td align="right">
 100.5572
</td>
<td align="right">
 100.5967
</td>
<td align="right">
 100.6536
</td>
<td align="right">
   .0396
</td>
<td align="right">
   .0569
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
15:30:00
</td>
<td align="right">
  .59
</td>
<td align="right">
 100.5781
</td>
<td align="right">
 100.5961
</td>
<td align="right">
 100.6801
</td>
<td align="right">
   .0180
</td>
<td align="right">
   .0840
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
15:35:00
</td>
<td align="right">
  .68
</td>
<td align="right">
 100.5728
</td>
<td align="right">
 100.5910
</td>
<td align="right">
 100.6682
</td>
<td align="right">
   .0181
</td>
<td align="right">
   .0772
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
15:40:00
</td>
<td align="right">
  .66
</td>
<td align="right">
 100.5728
</td>
<td align="right">
 100.5949
</td>
<td align="right">
 100.6743
</td>
<td align="right">
   .0220
</td>
<td align="right">
   .0794
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
16:20:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 100.5780
</td>
<td align="right">
 100.6172
</td>
<td align="right">
 100.6769
</td>
<td align="right">
   .0392
</td>
<td align="right">
   .0597
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
17:05:00
</td>
<td align="right">
  .65
</td>
<td align="right">
 100.5899
</td>
<td align="right">
 100.5809
</td>
<td align="right">
 100.7028
</td>
<td align="right">
  -.0090
</td>
<td align="right">
   .1219
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
17:10:00
</td>
<td align="right">
  .58
</td>
<td align="right">
 100.5795
</td>
<td align="right">
 100.5991
</td>
<td align="right">
 100.6956
</td>
<td align="right">
   .0196
</td>
<td align="right">
   .0966
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-24
13:05:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .9806
</td>
<td align="right">
    .9805
</td>
<td align="right">
    .9788
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0017
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-24
13:10:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .9805
</td>
<td align="right">
    .9807
</td>
<td align="right">
    .9789
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-24
13:20:00
</td>
<td align="right">
  .72
</td>
<td align="right">
    .9805
</td>
<td align="right">
    .9801
</td>
<td align="right">
    .9788
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0013
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-24
13:25:00
</td>
<td align="right">
  .70
</td>
<td align="right">
    .9800
</td>
<td align="right">
    .9798
</td>
<td align="right">
    .9787
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-24
14:05:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9805
</td>
<td align="right">
    .9793
</td>
<td align="right">
    .9785
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0012
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-24
14:10:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .9807
</td>
<td align="right">
    .9798
</td>
<td align="right">
    .9784
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0009
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
10:50:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .9364
</td>
<td align="right">
    .9352
</td>
<td align="right">
    .9354
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0012
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
11:15:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .9351
</td>
<td align="right">
    .9349
</td>
<td align="right">
    .9349
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
14:30:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9343
</td>
<td align="right">
    .9344
</td>
<td align="right">
    .9378
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0034
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0036
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
16:15:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .9348
</td>
<td align="right">
    .9349
</td>
<td align="right">
    .9375
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0027
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0028
</td>
</tr>
</table>
<br />
