<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_04_08<h4>Week of: 2012_04_08 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.71
</td>
<td align="right">
   -4.25
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0037
</td>
<td align="right">
   21
</td>
<td align="right">
  -.0769
</td>
<td align="right">
  -.0052
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   .0009
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .63
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0002
</td>
<td align="right">
   11
</td>
<td align="right">
   .0027
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.15
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0001
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.70
</td>
<td align="right">
     .15
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0002
</td>
<td align="right">
   27
</td>
<td align="right">
   .0059
</td>
<td align="right">
  -.0033
</td>
<td align="right">
   .0020
</td>
<td align="right">
   .0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.43
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   18
</td>
<td align="right">
  -.0123
</td>
<td align="right">
  -.0044
</td>
<td align="right">
   .0034
</td>
<td align="right">
   .0016
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   79
</td>
<td align="right">
  -.0807
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .62
</td>
<td align="right">
     .85
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0032
</td>
<td align="right">
    8
</td>
<td align="right">
   .0254
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0081
</td>
<td align="right">
   .0037
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .64
</td>
<td align="right">
     .41
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0011
</td>
<td align="right">
   24
</td>
<td align="right">
   .0261
</td>
<td align="right">
  -.0043
</td>
<td align="right">
   .0049
</td>
<td align="right">
   .0026
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .60
</td>
<td align="right">
    -.28
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0012
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  -.0044
</td>
<td align="right">
   .0019
</td>
<td align="right">
   .0045
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .60
</td>
<td align="right">
     .26
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0005
</td>
<td align="right">
    8
</td>
<td align="right">
   .0043
</td>
<td align="right">
  -.0044
</td>
<td align="right">
   .0018
</td>
<td align="right">
   .0020
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .56
</td>
<td align="right">
    -.32
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0003
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0009
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .69
</td>
<td align="right">
     .39
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0002
</td>
<td align="right">
    3
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0005
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.60
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0031
</td>
<td align="right">
    6
</td>
<td align="right">
   .0186
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0051
</td>
<td align="right">
   .0019
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .66
</td>
<td align="right">
     .40
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0011
</td>
<td align="right">
   29
</td>
<td align="right">
   .0317
</td>
<td align="right">
  -.0044
</td>
<td align="right">
   .0050
</td>
<td align="right">
   .0027
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.30
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0002
</td>
<td align="right">
    9
</td>
<td align="right">
  -.0022
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0008
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   91
</td>
<td align="right">
   .1014
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-12
11:25:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  84.2160
</td>
<td align="right">
  84.2833
</td>
<td align="right">
  84.3869
</td>
<td align="right">
   .0673
</td>
<td align="right">
   .1036
</td>
<td align="right">
  .0008
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
10:00:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.0389
</td>
<td align="right">
   1.0411
</td>
<td align="right">
   1.0369
</td>
<td align="right">
   .0022
</td>
<td align="right">
  -.0041
</td>
<td align="right">
  .0021
</td>
<td align="right">
 -.0040
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
10:05:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
   1.0392
</td>
<td align="right">
   1.0410
</td>
<td align="right">
   1.0367
</td>
<td align="right">
   .0018
</td>
<td align="right">
  -.0043
</td>
<td align="right">
  .0017
</td>
<td align="right">
 -.0041
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
10:10:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.0398
</td>
<td align="right">
   1.0409
</td>
<td align="right">
   1.0365
</td>
<td align="right">
   .0011
</td>
<td align="right">
  -.0045
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0043
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
10:20:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
   1.0404
</td>
<td align="right">
   1.0420
</td>
<td align="right">
   1.0366
</td>
<td align="right">
   .0016
</td>
<td align="right">
  -.0054
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0052
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
10:25:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
   1.0400
</td>
<td align="right">
   1.0416
</td>
<td align="right">
   1.0367
</td>
<td align="right">
   .0016
</td>
<td align="right">
  -.0048
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0046
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
10:30:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
   1.0404
</td>
<td align="right">
   1.0416
</td>
<td align="right">
   1.0368
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0048
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0046
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
10:35:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.0403
</td>
<td align="right">
   1.0414
</td>
<td align="right">
   1.0370
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0044
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0043
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
10:40:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
   1.0407
</td>
<td align="right">
   1.0411
</td>
<td align="right">
   1.0372
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0039
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
10:45:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.0405
</td>
<td align="right">
   1.0409
</td>
<td align="right">
   1.0375
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0034
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
10:50:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.0406
</td>
<td align="right">
   1.0407
</td>
<td align="right">
   1.0374
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0033
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
11:00:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.0411
</td>
<td align="right">
   1.0407
</td>
<td align="right">
   1.0372
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0034
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0033
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
11:50:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.0407
</td>
<td align="right">
   1.0406
</td>
<td align="right">
   1.0374
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0033
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
11:55:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.0407
</td>
<td align="right">
   1.0411
</td>
<td align="right">
   1.0370
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0042
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0040
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
12:00:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
   1.0407
</td>
<td align="right">
   1.0414
</td>
<td align="right">
   1.0367
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0047
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0045
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
12:05:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.0399
</td>
<td align="right">
   1.0412
</td>
<td align="right">
   1.0368
</td>
<td align="right">
   .0013
</td>
<td align="right">
  -.0044
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0043
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
12:15:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.0406
</td>
<td align="right">
   1.0409
</td>
<td align="right">
   1.0372
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0037
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0036
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
12:20:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
   1.0406
</td>
<td align="right">
   1.0409
</td>
<td align="right">
   1.0379
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
12:25:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.0404
</td>
<td align="right">
   1.0409
</td>
<td align="right">
   1.0374
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0036
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
12:30:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
   1.0399
</td>
<td align="right">
   1.0402
</td>
<td align="right">
   1.0377
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0026
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
12:35:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.0400
</td>
<td align="right">
   1.0398
</td>
<td align="right">
   1.0379
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0019
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
12:40:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
   1.0404
</td>
<td align="right">
   1.0400
</td>
<td align="right">
   1.0377
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0024
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-12
10:35:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.2633
</td>
<td align="right">
   1.2653
</td>
<td align="right">
   1.2631
</td>
<td align="right">
   .0020
</td>
<td align="right">
  -.0022
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-04-09
10:55:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .8240
</td>
<td align="right">
    .8244
</td>
<td align="right">
    .8250
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-04-12
05:35:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .8250
</td>
<td align="right">
    .8247
</td>
<td align="right">
    .8249
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-04-12
12:30:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .8251
</td>
<td align="right">
    .8252
</td>
<td align="right">
    .8260
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-04-12
13:20:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .8249
</td>
<td align="right">
    .8257
</td>
<td align="right">
    .8260
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0011
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-04-12
14:15:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .8262
</td>
<td align="right">
    .8262
</td>
<td align="right">
    .8264
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-04-12
14:30:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .8260
</td>
<td align="right">
    .8265
</td>
<td align="right">
    .8265
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-04-12
16:50:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .8259
</td>
<td align="right">
    .8265
</td>
<td align="right">
    .8262
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-04-12
17:00:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .8260
</td>
<td align="right">
    .8264
</td>
<td align="right">
    .8263
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-04-12
18:20:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .8262
</td>
<td align="right">
    .8260
</td>
<td align="right">
    .8264
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-04-12
18:40:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .8261
</td>
<td align="right">
    .8262
</td>
<td align="right">
    .8261
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-04-12
19:00:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .8262
</td>
<td align="right">
    .8262
</td>
<td align="right">
    .8265
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-09
04:40:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 106.4139
</td>
<td align="right">
 106.3969
</td>
<td align="right">
 106.3622
</td>
<td align="right">
  -.0170
</td>
<td align="right">
  -.0346
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-09
04:45:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 106.3670
</td>
<td align="right">
 106.3487
</td>
<td align="right">
 106.3712
</td>
<td align="right">
  -.0183
</td>
<td align="right">
   .0225
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-11
22:20:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.3110
</td>
<td align="right">
   1.3124
</td>
<td align="right">
   1.3127
</td>
<td align="right">
   .0014
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-09
10:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9983
</td>
<td align="right">
    .9985
</td>
<td align="right">
    .9964
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0021
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-09
10:55:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9981
</td>
<td align="right">
    .9989
</td>
<td align="right">
    .9966
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0022
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-09
11:20:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9982
</td>
<td align="right">
    .9997
</td>
<td align="right">
    .9970
</td>
<td align="right">
   .0014
</td>
<td align="right">
  -.0027
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-09
12:35:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9993
</td>
<td align="right">
    .9996
</td>
<td align="right">
    .9964
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0033
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0033
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
08:00:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .9959
</td>
<td align="right">
    .9970
</td>
<td align="right">
    .9963
</td>
<td align="right">
   .0011
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
08:05:00
</td>
<td align="right">
 -.85
</td>
<td align="right">
    .9960
</td>
<td align="right">
    .9967
</td>
<td align="right">
    .9961
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
08:10:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
    .9960
</td>
<td align="right">
    .9969
</td>
<td align="right">
    .9959
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
13:50:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
    .9953
</td>
<td align="right">
    .9969
</td>
<td align="right">
    .9984
</td>
<td align="right">
   .0016
</td>
<td align="right">
   .0015
</td>
<td align="right">
  .0016
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
14:05:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9961
</td>
<td align="right">
    .9979
</td>
<td align="right">
    .9984
</td>
<td align="right">
   .0018
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0018
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
14:10:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
    .9959
</td>
<td align="right">
    .9984
</td>
<td align="right">
    .9986
</td>
<td align="right">
   .0025
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0025
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
14:15:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
    .9969
</td>
<td align="right">
    .9984
</td>
<td align="right">
    .9984
</td>
<td align="right">
   .0015
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0015
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
14:20:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
    .9973
</td>
<td align="right">
    .9979
</td>
<td align="right">
    .9979
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
14:25:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
    .9970
</td>
<td align="right">
    .9979
</td>
<td align="right">
    .9979
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0009
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
14:30:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9976
</td>
<td align="right">
    .9978
</td>
<td align="right">
    .9981
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
14:35:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
    .9973
</td>
<td align="right">
    .9976
</td>
<td align="right">
    .9983
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
14:50:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .9969
</td>
<td align="right">
    .9975
</td>
<td align="right">
    .9994
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0020
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
14:55:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
    .9975
</td>
<td align="right">
    .9979
</td>
<td align="right">
    .9996
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0018
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
15:00:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9973
</td>
<td align="right">
    .9978
</td>
<td align="right">
    .9985
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
15:20:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
    .9979
</td>
<td align="right">
    .9980
</td>
<td align="right">
    .9987
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
15:30:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
    .9978
</td>
<td align="right">
    .9980
</td>
<td align="right">
    .9992
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
15:35:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
    .9976
</td>
<td align="right">
    .9979
</td>
<td align="right">
    .9993
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
15:50:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9975
</td>
<td align="right">
    .9976
</td>
<td align="right">
    .9996
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0020
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
16:05:00
</td>
<td align="right">
 -.89
</td>
<td align="right">
    .9977
</td>
<td align="right">
    .9980
</td>
<td align="right">
    .9995
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0015
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
16:10:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
    .9979
</td>
<td align="right">
    .9980
</td>
<td align="right">
    .9994
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
16:15:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9980
</td>
<td align="right">
    .9983
</td>
<td align="right">
    .9991
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0008
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
16:40:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
    .9978
</td>
<td align="right">
    .9982
</td>
<td align="right">
    .9994
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
16:55:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9975
</td>
<td align="right">
    .9986
</td>
<td align="right">
    .9993
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0011
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-09
23:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9169
</td>
<td align="right">
    .9173
</td>
<td align="right">
    .9152
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0021
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-10
06:15:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
    .9168
</td>
<td align="right">
    .9180
</td>
<td align="right">
    .9176
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0013
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-10
09:25:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .9188
</td>
<td align="right">
    .9204
</td>
<td align="right">
    .9191
</td>
<td align="right">
   .0016
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0017
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-10
10:00:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9205
</td>
<td align="right">
    .9204
</td>
<td align="right">
    .9197
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-10
10:05:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9205
</td>
<td align="right">
    .9203
</td>
<td align="right">
    .9195
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0008
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-10
21:15:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .9186
</td>
<td align="right">
    .9185
</td>
<td align="right">
    .9181
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0004
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-10
21:25:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9184
</td>
<td align="right">
    .9185
</td>
<td align="right">
    .9181
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-10
21:30:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
    .9186
</td>
<td align="right">
    .9185
</td>
<td align="right">
    .9181
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0004
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-10
21:35:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9186
</td>
<td align="right">
    .9186
</td>
<td align="right">
    .9180
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-10
21:45:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9185
</td>
<td align="right">
    .9185
</td>
<td align="right">
    .9177
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-10
22:50:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9187
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9176
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-10
23:10:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .9185
</td>
<td align="right">
    .9190
</td>
<td align="right">
    .9177
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-12
09:05:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9169
</td>
<td align="right">
    .9167
</td>
<td align="right">
    .9126
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0041
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0044
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-12
13:55:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9121
</td>
<td align="right">
    .9126
</td>
<td align="right">
    .9111
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-12
17:10:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9099
</td>
<td align="right">
    .9108
</td>
<td align="right">
    .9114
</td>
<td align="right">
   .0008
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0009
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-12
17:25:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
    .9101
</td>
<td align="right">
    .9107
</td>
<td align="right">
    .9115
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0008
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-12
17:30:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9103
</td>
<td align="right">
    .9110
</td>
<td align="right">
    .9116
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0008
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-13
12:55:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9150
</td>
<td align="right">
    .9168
</td>
<td align="right">
    .9198
</td>
<td align="right">
   .0018
</td>
<td align="right">
   .0031
</td>
<td align="right">
  .0020
</td>
<td align="right">
  .0034
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-11
20:45:00
</td>
<td align="right">
  .60
</td>
<td align="right">
  83.3103
</td>
<td align="right">
  83.3132
</td>
<td align="right">
  83.9447
</td>
<td align="right">
   .0029
</td>
<td align="right">
   .6316
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0076
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-11
21:20:00
</td>
<td align="right">
  .57
</td>
<td align="right">
  83.3485
</td>
<td align="right">
  83.3303
</td>
<td align="right">
  83.8670
</td>
<td align="right">
  -.0182
</td>
<td align="right">
   .5367
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0064
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-12
00:10:00
</td>
<td align="right">
  .58
</td>
<td align="right">
  83.4517
</td>
<td align="right">
  83.4607
</td>
<td align="right">
  84.1397
</td>
<td align="right">
   .0091
</td>
<td align="right">
   .6789
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0081
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-12
04:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
  83.9029
</td>
<td align="right">
  83.8941
</td>
<td align="right">
  84.1861
</td>
<td align="right">
  -.0088
</td>
<td align="right">
   .2919
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0035
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-12
14:50:00
</td>
<td align="right">
  .71
</td>
<td align="right">
  84.4296
</td>
<td align="right">
  84.3901
</td>
<td align="right">
  84.4509
</td>
<td align="right">
  -.0396
</td>
<td align="right">
   .0608
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-12
15:55:00
</td>
<td align="right">
  .70
</td>
<td align="right">
  84.4335
</td>
<td align="right">
  84.4316
</td>
<td align="right">
  84.3864
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  -.0452
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-12
16:00:00
</td>
<td align="right">
  .58
</td>
<td align="right">
  84.4578
</td>
<td align="right">
  84.4014
</td>
<td align="right">
  84.3870
</td>
<td align="right">
  -.0564
</td>
<td align="right">
  -.0144
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-04-12
16:05:00
</td>
<td align="right">
  .59
</td>
<td align="right">
  84.4401
</td>
<td align="right">
  84.4120
</td>
<td align="right">
  84.3931
</td>
<td align="right">
  -.0280
</td>
<td align="right">
  -.0190
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-12
10:10:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.0388
</td>
<td align="right">
   1.0392
</td>
<td align="right">
   1.0442
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0050
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0048
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-12
10:15:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.0388
</td>
<td align="right">
   1.0390
</td>
<td align="right">
   1.0442
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0051
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0049
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-12
11:25:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.0396
</td>
<td align="right">
   1.0397
</td>
<td align="right">
   1.0444
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0047
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0045
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-12
11:30:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.0400
</td>
<td align="right">
   1.0391
</td>
<td align="right">
   1.0438
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0047
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0045
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-12
12:20:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.0398
</td>
<td align="right">
   1.0396
</td>
<td align="right">
   1.0433
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0037
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0036
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
02:25:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.0400
</td>
<td align="right">
   1.0396
</td>
<td align="right">
   1.0373
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0023
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
04:00:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.0386
</td>
<td align="right">
   1.0387
</td>
<td align="right">
   1.0389
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
04:05:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.0387
</td>
<td align="right">
   1.0388
</td>
<td align="right">
   1.0392
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
04:25:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.0389
</td>
<td align="right">
   1.0390
</td>
<td align="right">
   1.0400
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
04:30:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.0391
</td>
<td align="right">
   1.0391
</td>
<td align="right">
   1.0404
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
04:45:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.0396
</td>
<td align="right">
   1.0399
</td>
<td align="right">
   1.0405
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
04:50:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.0396
</td>
<td align="right">
   1.0395
</td>
<td align="right">
   1.0406
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0011
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
05:05:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.0388
</td>
<td align="right">
   1.0388
</td>
<td align="right">
   1.0410
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0022
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
05:25:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.0390
</td>
<td align="right">
   1.0382
</td>
<td align="right">
   1.0416
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0034
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0033
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
05:35:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.0399
</td>
<td align="right">
   1.0384
</td>
<td align="right">
   1.0414
</td>
<td align="right">
  -.0014
</td>
<td align="right">
   .0030
</td>
<td align="right">
 -.0013
</td>
<td align="right">
  .0029
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
05:45:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.0399
</td>
<td align="right">
   1.0391
</td>
<td align="right">
   1.0409
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0018
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
06:45:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.0391
</td>
<td align="right">
   1.0392
</td>
<td align="right">
   1.0401
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
07:25:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.0386
</td>
<td align="right">
   1.0373
</td>
<td align="right">
   1.0409
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   .0037
</td>
<td align="right">
 -.0013
</td>
<td align="right">
  .0035
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
15:30:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.0367
</td>
<td align="right">
   1.0368
</td>
<td align="right">
   1.0369
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
16:05:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.0367
</td>
<td align="right">
   1.0370
</td>
<td align="right">
   1.0357
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
17:10:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.0373
</td>
<td align="right">
   1.0371
</td>
<td align="right">
   1.0357
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
17:25:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.0371
</td>
<td align="right">
   1.0374
</td>
<td align="right">
   1.0351
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0023
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
17:40:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.0375
</td>
<td align="right">
   1.0377
</td>
<td align="right">
   1.0340
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0037
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0036
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-13
18:55:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.0383
</td>
<td align="right">
   1.0368
</td>
<td align="right">
   1.0324
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  -.0045
</td>
<td align="right">
 -.0014
</td>
<td align="right">
 -.0043
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-10
12:00:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.2731
</td>
<td align="right">
   1.2733
</td>
<td align="right">
   1.2757
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0024
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-11
21:25:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.2719
</td>
<td align="right">
   1.2719
</td>
<td align="right">
   1.2663
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0056
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0044
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-08
23:15:00
</td>
<td align="right">
  .70
</td>
<td align="right">
 106.4624
</td>
<td align="right">
 106.2894
</td>
<td align="right">
 106.4254
</td>
<td align="right">
  -.1730
</td>
<td align="right">
   .1360
</td>
<td align="right">
 -.0016
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-08
23:55:00
</td>
<td align="right">
  .58
</td>
<td align="right">
 106.3826
</td>
<td align="right">
 106.3090
</td>
<td align="right">
 106.3765
</td>
<td align="right">
  -.0736
</td>
<td align="right">
   .0675
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-09
00:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
 106.3776
</td>
<td align="right">
 106.2438
</td>
<td align="right">
 106.4385
</td>
<td align="right">
  -.1338
</td>
<td align="right">
   .1947
</td>
<td align="right">
 -.0013
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-09
00:10:00
</td>
<td align="right">
  .59
</td>
<td align="right">
 106.3733
</td>
<td align="right">
 106.2825
</td>
<td align="right">
 106.4466
</td>
<td align="right">
  -.0907
</td>
<td align="right">
   .1641
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-09
00:15:00
</td>
<td align="right">
  .57
</td>
<td align="right">
 106.2894
</td>
<td align="right">
 106.3139
</td>
<td align="right">
 106.4629
</td>
<td align="right">
   .0245
</td>
<td align="right">
   .1490
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-09
00:20:00
</td>
<td align="right">
  .56
</td>
<td align="right">
 106.3087
</td>
<td align="right">
 106.3143
</td>
<td align="right">
 106.4483
</td>
<td align="right">
   .0055
</td>
<td align="right">
   .1341
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-09
00:35:00
</td>
<td align="right">
  .64
</td>
<td align="right">
 106.3944
</td>
<td align="right">
 106.3310
</td>
<td align="right">
 106.4116
</td>
<td align="right">
  -.0635
</td>
<td align="right">
   .0806
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-13
11:35:00
</td>
<td align="right">
  .56
</td>
<td align="right">
 106.7112
</td>
<td align="right">
 106.4181
</td>
<td align="right">
 105.9449
</td>
<td align="right">
  -.2931
</td>
<td align="right">
  -.4732
</td>
<td align="right">
 -.0027
</td>
<td align="right">
 -.0044
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-10
20:40:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.3080
</td>
<td align="right">
   1.3083
</td>
<td align="right">
   1.3088
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-12
21:15:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.3187
</td>
<td align="right">
   1.3184
</td>
<td align="right">
   1.3172
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0013
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-13
15:10:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.5859
</td>
<td align="right">
   1.5856
</td>
<td align="right">
   1.5860
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-13
15:15:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.5854
</td>
<td align="right">
   1.5849
</td>
<td align="right">
   1.5860
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-04-13
15:25:00
</td>
<td align="right">
  .77
</td>
<td align="right">
   1.5853
</td>
<td align="right">
   1.5857
</td>
<td align="right">
   1.5852
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-09
02:15:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9971
</td>
<td align="right">
    .9966
</td>
<td align="right">
    .9979
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0013
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-09
16:15:00
</td>
<td align="right">
  .67
</td>
<td align="right">
    .9969
</td>
<td align="right">
    .9969
</td>
<td align="right">
    .9974
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-10
01:30:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9961
</td>
<td align="right">
    .9955
</td>
<td align="right">
    .9981
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0026
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
10:20:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9939
</td>
<td align="right">
    .9929
</td>
<td align="right">
    .9980
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0051
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0051
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
10:35:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9939
</td>
<td align="right">
    .9935
</td>
<td align="right">
    .9979
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0045
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0045
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-13
11:15:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .9934
</td>
<td align="right">
    .9936
</td>
<td align="right">
    .9983
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0047
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0047
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-10
03:55:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .9153
</td>
<td align="right">
    .9153
</td>
<td align="right">
    .9199
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0046
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0050
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-11
02:20:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9180
</td>
<td align="right">
    .9182
</td>
<td align="right">
    .9163
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-11
02:35:00
</td>
<td align="right">
  .55
</td>
<td align="right">
    .9181
</td>
<td align="right">
    .9180
</td>
<td align="right">
    .9155
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0025
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-11
02:40:00
</td>
<td align="right">
  .66
</td>
<td align="right">
    .9180
</td>
<td align="right">
    .9180
</td>
<td align="right">
    .9157
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0024
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-11
02:50:00
</td>
<td align="right">
  .72
</td>
<td align="right">
    .9179
</td>
<td align="right">
    .9177
</td>
<td align="right">
    .9158
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0019
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-11
03:05:00
</td>
<td align="right">
  .72
</td>
<td align="right">
    .9179
</td>
<td align="right">
    .9179
</td>
<td align="right">
    .9161
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-11
03:35:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .9180
</td>
<td align="right">
    .9178
</td>
<td align="right">
    .9167
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0012
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-11
03:55:00
</td>
<td align="right">
  .74
</td>
<td align="right">
    .9178
</td>
<td align="right">
    .9175
</td>
<td align="right">
    .9145
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0030
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0033
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-11
04:00:00
</td>
<td align="right">
  .79
</td>
<td align="right">
    .9178
</td>
<td align="right">
    .9177
</td>
<td align="right">
    .9137
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0040
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0044
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-13
15:25:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .9196
</td>
<td align="right">
    .9193
</td>
<td align="right">
    .9202
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-13
15:35:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .9190
</td>
<td align="right">
    .9193
</td>
<td align="right">
    .9203
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-13
15:40:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9205
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-13
15:50:00
</td>
<td align="right">
  .73
</td>
<td align="right">
    .9190
</td>
<td align="right">
    .9193
</td>
<td align="right">
    .9207
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-13
16:00:00
</td>
<td align="right">
  .76
</td>
<td align="right">
    .9190
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9207
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0016
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-13
16:10:00
</td>
<td align="right">
  .77
</td>
<td align="right">
    .9193
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9204
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0012
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-13
16:15:00
</td>
<td align="right">
  .74
</td>
<td align="right">
    .9196
</td>
<td align="right">
    .9197
</td>
<td align="right">
    .9200
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-13
16:20:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .9195
</td>
<td align="right">
    .9197
</td>
<td align="right">
    .9201
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-13
16:25:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .9193
</td>
<td align="right">
    .9195
</td>
<td align="right">
    .9201
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-13
16:35:00
</td>
<td align="right">
  .66
</td>
<td align="right">
    .9193
</td>
<td align="right">
    .9194
</td>
<td align="right">
    .9205
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-13
16:40:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9195
</td>
<td align="right">
    .9204
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-13
18:05:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .9199
</td>
<td align="right">
    .9197
</td>
<td align="right">
    .9219
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0022
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-13
18:30:00
</td>
<td align="right">
  .66
</td>
<td align="right">
    .9197
</td>
<td align="right">
    .9195
</td>
<td align="right">
    .9239
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0044
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0048
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-13
18:45:00
</td>
<td align="right">
  .75
</td>
<td align="right">
    .9198
</td>
<td align="right">
    .9201
</td>
<td align="right">
    .9238
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0038
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0041
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-13
19:00:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .9200
</td>
<td align="right">
    .9198
</td>
<td align="right">
    .9233
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0035
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0038
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-13
19:05:00
</td>
<td align="right">
  .55
</td>
<td align="right">
    .9197
</td>
<td align="right">
    .9198
</td>
<td align="right">
    .9232
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0034
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0037
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-13
19:10:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .9198
</td>
<td align="right">
    .9195
</td>
<td align="right">
    .9233
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0039
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0042
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-13
19:35:00
</td>
<td align="right">
  .83
</td>
<td align="right">
    .9200
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9232
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0040
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0044
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-13
19:40:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9201
</td>
<td align="right">
    .9196
</td>
<td align="right">
    .9234
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0038
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0041
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-13
19:50:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .9200
</td>
<td align="right">
    .9194
</td>
<td align="right">
    .9231
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0037
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0040
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-04-10
21:40:00
</td>
<td align="right">
  .57
</td>
<td align="right">
  80.6800
</td>
<td align="right">
  80.7050
</td>
<td align="right">
  80.7775
</td>
<td align="right">
   .0250
</td>
<td align="right">
   .0725
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-04-10
21:50:00
</td>
<td align="right">
  .66
</td>
<td align="right">
  80.7200
</td>
<td align="right">
  80.6825
</td>
<td align="right">
  80.7675
</td>
<td align="right">
  -.0375
</td>
<td align="right">
   .0850
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-04-10
22:05:00
</td>
<td align="right">
  .66
</td>
<td align="right">
  80.7400
</td>
<td align="right">
  80.7200
</td>
<td align="right">
  80.7625
</td>
<td align="right">
  -.0200
</td>
<td align="right">
   .0425
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-04-13
14:20:00
</td>
<td align="right">
  .60
</td>
<td align="right">
  80.9375
</td>
<td align="right">
  80.9375
</td>
<td align="right">
  80.8750
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0625
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-04-13
14:55:00
</td>
<td align="right">
  .61
</td>
<td align="right">
  80.9725
</td>
<td align="right">
  80.9975
</td>
<td align="right">
  80.9175
</td>
<td align="right">
   .0250
</td>
<td align="right">
  -.0800
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-04-13
15:00:00
</td>
<td align="right">
  .69
</td>
<td align="right">
  80.9625
</td>
<td align="right">
  80.9775
</td>
<td align="right">
  80.9225
</td>
<td align="right">
   .0150
</td>
<td align="right">
  -.0550
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-04-13
15:05:00
</td>
<td align="right">
  .84
</td>
<td align="right">
  80.9625
</td>
<td align="right">
  80.9625
</td>
<td align="right">
  80.9200
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0425
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-04-13
15:35:00
</td>
<td align="right">
  .64
</td>
<td align="right">
  80.9875
</td>
<td align="right">
  80.9850
</td>
<td align="right">
  80.9125
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  -.0725
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-04-13
16:05:00
</td>
<td align="right">
  .66
</td>
<td align="right">
  80.9625
</td>
<td align="right">
  80.9775
</td>
<td align="right">
  80.9100
</td>
<td align="right">
   .0150
</td>
<td align="right">
  -.0675
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0008
</td>
</tr>
</table>
<br />
