<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2013_01_15<h4>Week of: 2013_01_15 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.65
</td>
<td align="right">
  -44.47
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0087
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0349
</td>
<td align="right">
  -.0090
</td>
<td align="right">
  -.0086
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -4.44
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0029
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0087
</td>
<td align="right">
  -.0034
</td>
<td align="right">
  -.0022
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    7
</td>
<td align="right">
  -.0436
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .73
</td>
<td align="right">
   -1.69
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  -.0031
</td>
<td align="right">
    7
</td>
<td align="right">
  -.0216
</td>
<td align="right">
  -.0052
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0018
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .63
</td>
<td align="right">
    1.25
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0006
</td>
<td align="right">
   14
</td>
<td align="right">
   .0077
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .70
</td>
<td align="right">
   -1.60
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  -.0033
</td>
<td align="right">
   24
</td>
<td align="right">
  -.0792
</td>
<td align="right">
  -.0071
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0021
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   45
</td>
<td align="right">
  -.0931
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
00:05:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
 119.7276
</td>
<td align="right">
 119.9340
</td>
<td align="right">
 118.8561
</td>
<td align="right">
   .2064
</td>
<td align="right">
 -1.0778
</td>
<td align="right">
  .0017
</td>
<td align="right">
 -.0090
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
00:15:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 119.7409
</td>
<td align="right">
 119.9061
</td>
<td align="right">
 118.8689
</td>
<td align="right">
   .1652
</td>
<td align="right">
 -1.0372
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0087
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
00:20:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 119.8146
</td>
<td align="right">
 119.8704
</td>
<td align="right">
 118.8450
</td>
<td align="right">
   .0558
</td>
<td align="right">
 -1.0254
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0086
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
00:25:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 119.8057
</td>
<td align="right">
 119.8682
</td>
<td align="right">
 118.8328
</td>
<td align="right">
   .0625
</td>
<td align="right">
 -1.0354
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0086
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2013-01-15
00:45:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.3382
</td>
<td align="right">
   1.3388
</td>
<td align="right">
   1.3359
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2013-01-15
01:10:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.3383
</td>
<td align="right">
   1.3390
</td>
<td align="right">
   1.3344
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0046
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2013-01-15
01:25:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.3382
</td>
<td align="right">
   1.3390
</td>
<td align="right">
   1.3349
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0042
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0031
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-15
02:30:00
</td>
<td align="right">
  .61
</td>
<td align="right">
  94.3965
</td>
<td align="right">
  93.9599
</td>
<td align="right">
  93.9031
</td>
<td align="right">
  -.4367
</td>
<td align="right">
  -.0568
</td>
<td align="right">
 -.0046
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-15
03:00:00
</td>
<td align="right">
  .70
</td>
<td align="right">
  93.8599
</td>
<td align="right">
  93.8589
</td>
<td align="right">
  93.7418
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  -.1172
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-15
05:45:00
</td>
<td align="right">
  .58
</td>
<td align="right">
  93.8370
</td>
<td align="right">
  93.6162
</td>
<td align="right">
  93.4020
</td>
<td align="right">
  -.2208
</td>
<td align="right">
  -.2142
</td>
<td align="right">
 -.0024
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-15
05:50:00
</td>
<td align="right">
  .67
</td>
<td align="right">
  93.8356
</td>
<td align="right">
  93.5154
</td>
<td align="right">
  93.2343
</td>
<td align="right">
  -.3201
</td>
<td align="right">
  -.2811
</td>
<td align="right">
 -.0034
</td>
<td align="right">
 -.0030
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-15
06:35:00
</td>
<td align="right">
  .91
</td>
<td align="right">
  93.7298
</td>
<td align="right">
  93.6880
</td>
<td align="right">
  93.1991
</td>
<td align="right">
  -.0418
</td>
<td align="right">
  -.4889
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0052
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-15
06:40:00
</td>
<td align="right">
  .75
</td>
<td align="right">
  93.7347
</td>
<td align="right">
  93.5842
</td>
<td align="right">
  93.1876
</td>
<td align="right">
  -.1504
</td>
<td align="right">
  -.3967
</td>
<td align="right">
 -.0016
</td>
<td align="right">
 -.0042
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-15
06:45:00
</td>
<td align="right">
  .87
</td>
<td align="right">
  93.6162
</td>
<td align="right">
  93.6481
</td>
<td align="right">
  93.1735
</td>
<td align="right">
   .0319
</td>
<td align="right">
  -.4745
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0051
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2013-01-15
03:25:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .8312
</td>
<td align="right">
    .8307
</td>
<td align="right">
    .8305
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0006
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2013-01-15
03:30:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .8313
</td>
<td align="right">
    .8307
</td>
<td align="right">
    .8314
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2013-01-15
04:30:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .8307
</td>
<td align="right">
    .8308
</td>
<td align="right">
    .8317
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0008
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2013-01-15
04:35:00
</td>
<td align="right">
  .61
</td>
<td align="right">
    .8309
</td>
<td align="right">
    .8309
</td>
<td align="right">
    .8315
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2013-01-15
04:40:00
</td>
<td align="right">
  .68
</td>
<td align="right">
    .8308
</td>
<td align="right">
    .8308
</td>
<td align="right">
    .8312
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2013-01-15
04:45:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .8309
</td>
<td align="right">
    .8311
</td>
<td align="right">
    .8309
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2013-01-15
04:50:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .8309
</td>
<td align="right">
    .8310
</td>
<td align="right">
    .8310
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2013-01-15
05:00:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .8310
</td>
<td align="right">
    .8307
</td>
<td align="right">
    .8314
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2013-01-15
05:30:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .8308
</td>
<td align="right">
    .8309
</td>
<td align="right">
    .8315
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2013-01-15
05:35:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .8309
</td>
<td align="right">
    .8310
</td>
<td align="right">
    .8317
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2013-01-15
05:40:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .8308
</td>
<td align="right">
    .8310
</td>
<td align="right">
    .8318
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0008
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2013-01-15
06:00:00
</td>
<td align="right">
  .67
</td>
<td align="right">
    .8307
</td>
<td align="right">
    .8306
</td>
<td align="right">
    .8310
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2013-01-15
06:15:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .8308
</td>
<td align="right">
    .8301
</td>
<td align="right">
    .8306
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2013-01-15
06:25:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .8309
</td>
<td align="right">
    .8299
</td>
<td align="right">
    .8307
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0012
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
02:35:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 119.5917
</td>
<td align="right">
 119.1713
</td>
<td align="right">
 118.7591
</td>
<td align="right">
  -.4204
</td>
<td align="right">
  -.4121
</td>
<td align="right">
 -.0035
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
03:10:00
</td>
<td align="right">
  .86
</td>
<td align="right">
 118.9573
</td>
<td align="right">
 118.8239
</td>
<td align="right">
 118.5516
</td>
<td align="right">
  -.1334
</td>
<td align="right">
  -.2722
</td>
<td align="right">
 -.0011
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
03:15:00
</td>
<td align="right">
  .72
</td>
<td align="right">
 119.0464
</td>
<td align="right">
 118.7938
</td>
<td align="right">
 118.6076
</td>
<td align="right">
  -.2525
</td>
<td align="right">
  -.1862
</td>
<td align="right">
 -.0021
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
03:40:00
</td>
<td align="right">
  .66
</td>
<td align="right">
 119.0855
</td>
<td align="right">
 118.8690
</td>
<td align="right">
 118.7897
</td>
<td align="right">
  -.2165
</td>
<td align="right">
  -.0792
</td>
<td align="right">
 -.0018
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
03:50:00
</td>
<td align="right">
  .66
</td>
<td align="right">
 119.0933
</td>
<td align="right">
 118.9630
</td>
<td align="right">
 118.7643
</td>
<td align="right">
  -.1303
</td>
<td align="right">
  -.1987
</td>
<td align="right">
 -.0011
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
04:00:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 118.9363
</td>
<td align="right">
 118.9151
</td>
<td align="right">
 118.9319
</td>
<td align="right">
  -.0211
</td>
<td align="right">
   .0167
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
04:05:00
</td>
<td align="right">
  .81
</td>
<td align="right">
 118.9446
</td>
<td align="right">
 118.9402
</td>
<td align="right">
 118.8925
</td>
<td align="right">
  -.0044
</td>
<td align="right">
  -.0477
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
04:30:00
</td>
<td align="right">
  .73
</td>
<td align="right">
 118.8806
</td>
<td align="right">
 118.8528
</td>
<td align="right">
 118.7023
</td>
<td align="right">
  -.0278
</td>
<td align="right">
  -.1505
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
04:35:00
</td>
<td align="right">
  .83
</td>
<td align="right">
 118.9330
</td>
<td align="right">
 118.8550
</td>
<td align="right">
 118.7269
</td>
<td align="right">
  -.0779
</td>
<td align="right">
  -.1282
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
04:40:00
</td>
<td align="right">
  .56
</td>
<td align="right">
 118.8690
</td>
<td align="right">
 118.8161
</td>
<td align="right">
 118.5879
</td>
<td align="right">
  -.0528
</td>
<td align="right">
  -.2282
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
04:50:00
</td>
<td align="right">
  .74
</td>
<td align="right">
 118.9630
</td>
<td align="right">
 118.7760
</td>
<td align="right">
 118.4896
</td>
<td align="right">
  -.1870
</td>
<td align="right">
  -.2864
</td>
<td align="right">
 -.0016
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
05:05:00
</td>
<td align="right">
  .71
</td>
<td align="right">
 118.9402
</td>
<td align="right">
 118.8561
</td>
<td align="right">
 118.4846
</td>
<td align="right">
  -.0840
</td>
<td align="right">
  -.3716
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
05:10:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 118.9474
</td>
<td align="right">
 118.8439
</td>
<td align="right">
 118.4741
</td>
<td align="right">
  -.1035
</td>
<td align="right">
  -.3698
</td>
<td align="right">
 -.0009
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
05:15:00
</td>
<td align="right">
  .82
</td>
<td align="right">
 118.9920
</td>
<td align="right">
 118.8689
</td>
<td align="right">
 118.4513
</td>
<td align="right">
  -.1230
</td>
<td align="right">
  -.4176
</td>
<td align="right">
 -.0010
</td>
<td align="right">
 -.0035
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
05:30:00
</td>
<td align="right">
  .66
</td>
<td align="right">
 118.8528
</td>
<td align="right">
 118.8216
</td>
<td align="right">
 118.3733
</td>
<td align="right">
  -.0312
</td>
<td align="right">
  -.4483
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
05:35:00
</td>
<td align="right">
  .75
</td>
<td align="right">
 118.8550
</td>
<td align="right">
 118.7170
</td>
<td align="right">
 118.2478
</td>
<td align="right">
  -.1380
</td>
<td align="right">
  -.4692
</td>
<td align="right">
 -.0012
</td>
<td align="right">
 -.0039
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
05:45:00
</td>
<td align="right">
  .61
</td>
<td align="right">
 118.7972
</td>
<td align="right">
 118.6201
</td>
<td align="right">
 118.0845
</td>
<td align="right">
  -.1770
</td>
<td align="right">
  -.5356
</td>
<td align="right">
 -.0015
</td>
<td align="right">
 -.0045
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
05:50:00
</td>
<td align="right">
  .66
</td>
<td align="right">
 118.7760
</td>
<td align="right">
 118.3802
</td>
<td align="right">
 117.8575
</td>
<td align="right">
  -.3959
</td>
<td align="right">
  -.5226
</td>
<td align="right">
 -.0033
</td>
<td align="right">
 -.0044
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
06:00:00
</td>
<td align="right">
  .75
</td>
<td align="right">
 118.8183
</td>
<td align="right">
 118.4935
</td>
<td align="right">
 117.8861
</td>
<td align="right">
  -.3248
</td>
<td align="right">
  -.6074
</td>
<td align="right">
 -.0027
</td>
<td align="right">
 -.0051
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
06:10:00
</td>
<td align="right">
  .80
</td>
<td align="right">
 118.8439
</td>
<td align="right">
 118.4269
</td>
<td align="right">
 117.8295
</td>
<td align="right">
  -.4170
</td>
<td align="right">
  -.5973
</td>
<td align="right">
 -.0035
</td>
<td align="right">
 -.0050
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
06:25:00
</td>
<td align="right">
  .57
</td>
<td align="right">
 118.8328
</td>
<td align="right">
 118.5580
</td>
<td align="right">
 117.8064
</td>
<td align="right">
  -.2747
</td>
<td align="right">
  -.7517
</td>
<td align="right">
 -.0023
</td>
<td align="right">
 -.0063
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
06:30:00
</td>
<td align="right">
  .62
</td>
<td align="right">
 118.8216
</td>
<td align="right">
 118.6303
</td>
<td align="right">
 117.7877
</td>
<td align="right">
  -.1914
</td>
<td align="right">
  -.8425
</td>
<td align="right">
 -.0016
</td>
<td align="right">
 -.0071
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
06:35:00
</td>
<td align="right">
  .57
</td>
<td align="right">
 118.7170
</td>
<td align="right">
 118.5735
</td>
<td align="right">
 117.7384
</td>
<td align="right">
  -.1435
</td>
<td align="right">
  -.8351
</td>
<td align="right">
 -.0012
</td>
<td align="right">
 -.0070
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-15
06:45:00
</td>
<td align="right">
  .72
</td>
<td align="right">
 118.6201
</td>
<td align="right">
 118.4536
</td>
<td align="right">
 117.7845
</td>
<td align="right">
  -.1665
</td>
<td align="right">
  -.6691
</td>
<td align="right">
 -.0014
</td>
<td align="right">
 -.0056
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2013-01-15
01:40:00
</td>
<td align="right">
  .66
</td>
<td align="right">
    .9834
</td>
<td align="right">
    .9836
</td>
<td align="right">
    .9848
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0013
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2013-01-15
03:30:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  89.0425
</td>
<td align="right">
  89.0275
</td>
<td align="right">
  88.7563
</td>
<td align="right">
  -.0150
</td>
<td align="right">
  -.2713
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0030
</td>
</tr>
</table>
<br />
