<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2013_01_02<h4>Week of: 2013_01_02 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.73
</td>
<td align="right">
    -.68
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0014
</td>
<td align="right">
   17
</td>
<td align="right">
  -.0234
</td>
<td align="right">
  -.0045
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0020
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.68
</td>
<td align="right">
    -.79
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   10
</td>
<td align="right">
  -.0059
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   27
</td>
<td align="right">
  -.0293
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .68
</td>
<td align="right">
    -.55
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   18
</td>
<td align="right">
  -.0223
</td>
<td align="right">
  -.0049
</td>
<td align="right">
   .0018
</td>
<td align="right">
   .0022
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .62
</td>
<td align="right">
    2.86
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0020
</td>
<td align="right">
    4
</td>
<td align="right">
   .0078
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0026
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .60
</td>
<td align="right">
    4.43
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0011
</td>
<td align="right">
    3
</td>
<td align="right">
   .0033
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0014
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .70
</td>
<td align="right">
     .38
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0010
</td>
<td align="right">
    7
</td>
<td align="right">
   .0068
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   .0037
</td>
<td align="right">
   .0026
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .64
</td>
<td align="right">
    2.24
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0027
</td>
<td align="right">
   16
</td>
<td align="right">
   .0435
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0064
</td>
<td align="right">
   .0012
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   48
</td>
<td align="right">
   .0391
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2013-01-02
14:20:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
   1.2602
</td>
<td align="right">
   1.2598
</td>
<td align="right">
   1.2556
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0042
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2013-01-02
14:40:00
</td>
<td align="right">
 -.85
</td>
<td align="right">
   1.2603
</td>
<td align="right">
   1.2609
</td>
<td align="right">
   1.2553
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0056
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0045
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2013-01-02
14:45:00
</td>
<td align="right">
 -.86
</td>
<td align="right">
   1.2602
</td>
<td align="right">
   1.2608
</td>
<td align="right">
   1.2555
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0052
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0041
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2013-01-02
14:55:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.2605
</td>
<td align="right">
   1.2612
</td>
<td align="right">
   1.2557
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0055
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0043
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2013-01-02
15:00:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
   1.2601
</td>
<td align="right">
   1.2602
</td>
<td align="right">
   1.2560
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0042
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0033
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2013-01-02
18:10:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
   1.2555
</td>
<td align="right">
   1.2553
</td>
<td align="right">
   1.2564
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2013-01-02
18:20:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
   1.2558
</td>
<td align="right">
   1.2554
</td>
<td align="right">
   1.2563
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2013-01-02
18:50:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.2555
</td>
<td align="right">
   1.2556
</td>
<td align="right">
   1.2561
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2013-01-02
19:00:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
   1.2553
</td>
<td align="right">
   1.2564
</td>
<td align="right">
   1.2558
</td>
<td align="right">
   .0011
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2013-01-02
19:20:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
   1.2554
</td>
<td align="right">
   1.2556
</td>
<td align="right">
   1.2557
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2013-01-02
19:25:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.2554
</td>
<td align="right">
   1.2557
</td>
<td align="right">
   1.2558
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2013-01-02
19:30:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.2553
</td>
<td align="right">
   1.2557
</td>
<td align="right">
   1.2562
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2013-01-02
19:35:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.2555
</td>
<td align="right">
   1.2552
</td>
<td align="right">
   1.2559
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2013-01-02
19:40:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.2553
</td>
<td align="right">
   1.2553
</td>
<td align="right">
   1.2560
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2013-01-02
20:45:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
   1.2555
</td>
<td align="right">
   1.2556
</td>
<td align="right">
   1.2526
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0031
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2013-01-02
20:50:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
   1.2553
</td>
<td align="right">
   1.2555
</td>
<td align="right">
   1.2525
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2013-01-02
20:55:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
   1.2557
</td>
<td align="right">
   1.2553
</td>
<td align="right">
   1.2525
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0028
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2013-01-02
01:30:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.3224
</td>
<td align="right">
   1.3280
</td>
<td align="right">
   1.3288
</td>
<td align="right">
   .0056
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0042
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2013-01-02
01:40:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.3253
</td>
<td align="right">
   1.3297
</td>
<td align="right">
   1.3280
</td>
<td align="right">
   .0044
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0033
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2013-01-02
02:00:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.3285
</td>
<td align="right">
   1.3295
</td>
<td align="right">
   1.3273
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0022
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2013-01-02
02:05:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.3280
</td>
<td align="right">
   1.3294
</td>
<td align="right">
   1.3277
</td>
<td align="right">
   .0014
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2013-01-02
02:15:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
   1.3284
</td>
<td align="right">
   1.3290
</td>
<td align="right">
   1.3274
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2013-01-02
02:25:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
   1.3281
</td>
<td align="right">
   1.3280
</td>
<td align="right">
   1.3280
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2013-01-02
02:30:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.3280
</td>
<td align="right">
   1.3285
</td>
<td align="right">
   1.3287
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2013-01-02
02:35:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
   1.3286
</td>
<td align="right">
   1.3282
</td>
<td align="right">
   1.3280
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2013-01-02
02:45:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.3289
</td>
<td align="right">
   1.3287
</td>
<td align="right">
   1.3282
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2013-01-02
02:50:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
   1.3293
</td>
<td align="right">
   1.3289
</td>
<td align="right">
   1.3279
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0010
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0008
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-03
02:15:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  91.5291
</td>
<td align="right">
  91.4847
</td>
<td align="right">
  91.5693
</td>
<td align="right">
  -.0444
</td>
<td align="right">
   .0846
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-03
02:25:00
</td>
<td align="right">
  .59
</td>
<td align="right">
  91.4920
</td>
<td align="right">
  91.4376
</td>
<td align="right">
  91.5979
</td>
<td align="right">
  -.0545
</td>
<td align="right">
   .1603
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-03
02:45:00
</td>
<td align="right">
  .69
</td>
<td align="right">
  91.4771
</td>
<td align="right">
  91.4384
</td>
<td align="right">
  91.5244
</td>
<td align="right">
  -.0387
</td>
<td align="right">
   .0859
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-03
02:50:00
</td>
<td align="right">
  .79
</td>
<td align="right">
  91.4462
</td>
<td align="right">
  91.4428
</td>
<td align="right">
  91.5567
</td>
<td align="right">
  -.0034
</td>
<td align="right">
   .1139
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-03
03:00:00
</td>
<td align="right">
  .81
</td>
<td align="right">
  91.5349
</td>
<td align="right">
  91.4554
</td>
<td align="right">
  91.5934
</td>
<td align="right">
  -.0795
</td>
<td align="right">
   .1379
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-03
03:10:00
</td>
<td align="right">
  .57
</td>
<td align="right">
  91.4851
</td>
<td align="right">
  91.4746
</td>
<td align="right">
  91.5367
</td>
<td align="right">
  -.0105
</td>
<td align="right">
   .0621
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-03
03:25:00
</td>
<td align="right">
  .75
</td>
<td align="right">
  91.4376
</td>
<td align="right">
  91.4645
</td>
<td align="right">
  91.5841
</td>
<td align="right">
   .0269
</td>
<td align="right">
   .1195
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-03
04:55:00
</td>
<td align="right">
  .72
</td>
<td align="right">
  91.5213
</td>
<td align="right">
  91.4690
</td>
<td align="right">
  91.2982
</td>
<td align="right">
  -.0523
</td>
<td align="right">
  -.1708
</td>
<td align="right">
 -.0006
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-03
06:35:00
</td>
<td align="right">
  .75
</td>
<td align="right">
  91.6059
</td>
<td align="right">
  91.5870
</td>
<td align="right">
  91.1380
</td>
<td align="right">
  -.0189
</td>
<td align="right">
  -.4490
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0049
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-03
06:40:00
</td>
<td align="right">
  .79
</td>
<td align="right">
  91.6279
</td>
<td align="right">
  91.5776
</td>
<td align="right">
  91.1857
</td>
<td align="right">
  -.0503
</td>
<td align="right">
  -.3919
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0043
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-03
06:45:00
</td>
<td align="right">
  .57
</td>
<td align="right">
  91.6096
</td>
<td align="right">
  91.5718
</td>
<td align="right">
  91.1569
</td>
<td align="right">
  -.0378
</td>
<td align="right">
  -.4148
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0045
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-03
06:50:00
</td>
<td align="right">
  .59
</td>
<td align="right">
  91.5934
</td>
<td align="right">
  91.5207
</td>
<td align="right">
  91.2205
</td>
<td align="right">
  -.0727
</td>
<td align="right">
  -.3002
</td>
<td align="right">
 -.0008
</td>
<td align="right">
 -.0033
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-03
06:55:00
</td>
<td align="right">
  .81
</td>
<td align="right">
  91.5545
</td>
<td align="right">
  91.4918
</td>
<td align="right">
  91.2139
</td>
<td align="right">
  -.0627
</td>
<td align="right">
  -.2779
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0030
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-03
07:00:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  91.5436
</td>
<td align="right">
  91.4949
</td>
<td align="right">
  91.2570
</td>
<td align="right">
  -.0487
</td>
<td align="right">
  -.2378
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-03
07:20:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  91.6145
</td>
<td align="right">
  91.5996
</td>
<td align="right">
  91.4950
</td>
<td align="right">
  -.0150
</td>
<td align="right">
  -.1046
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-03
07:30:00
</td>
<td align="right">
  .59
</td>
<td align="right">
  91.5848
</td>
<td align="right">
  91.5747
</td>
<td align="right">
  91.4265
</td>
<td align="right">
  -.0101
</td>
<td align="right">
  -.1482
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-03
07:40:00
</td>
<td align="right">
  .68
</td>
<td align="right">
  91.5776
</td>
<td align="right">
  91.4934
</td>
<td align="right">
  91.3294
</td>
<td align="right">
  -.0843
</td>
<td align="right">
  -.1640
</td>
<td align="right">
 -.0009
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-03
07:45:00
</td>
<td align="right">
  .68
</td>
<td align="right">
  91.5718
</td>
<td align="right">
  91.5244
</td>
<td align="right">
  91.3795
</td>
<td align="right">
  -.0474
</td>
<td align="right">
  -.1449
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2013-01-03
01:50:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.0486
</td>
<td align="right">
   1.0487
</td>
<td align="right">
   1.0499
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0011
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2013-01-03
02:50:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.0487
</td>
<td align="right">
   1.0480
</td>
<td align="right">
   1.0508
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0028
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2013-01-03
02:55:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.0483
</td>
<td align="right">
   1.0483
</td>
<td align="right">
   1.0508
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0025
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2013-01-03
04:25:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.0489
</td>
<td align="right">
   1.0486
</td>
<td align="right">
   1.0505
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-03
03:00:00
</td>
<td align="right">
  .63
</td>
<td align="right">
 114.6555
</td>
<td align="right">
 114.6323
</td>
<td align="right">
 114.7559
</td>
<td align="right">
  -.0232
</td>
<td align="right">
   .1236
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-03
03:05:00
</td>
<td align="right">
  .58
</td>
<td align="right">
 114.5789
</td>
<td align="right">
 114.5600
</td>
<td align="right">
 114.7166
</td>
<td align="right">
  -.0189
</td>
<td align="right">
   .1565
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-03
03:10:00
</td>
<td align="right">
  .60
</td>
<td align="right">
 114.5844
</td>
<td align="right">
 114.6082
</td>
<td align="right">
 114.7079
</td>
<td align="right">
   .0238
</td>
<td align="right">
   .0997
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2013-01-02
00:05:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.6257
</td>
<td align="right">
   1.6259
</td>
<td align="right">
   1.6319
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0061
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0037
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2013-01-02
00:10:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.6262
</td>
<td align="right">
   1.6260
</td>
<td align="right">
   1.6320
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0060
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0037
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2013-01-02
00:15:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.6262
</td>
<td align="right">
   1.6264
</td>
<td align="right">
   1.6324
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0061
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0037
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2013-01-02
22:45:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.6253
</td>
<td align="right">
   1.6237
</td>
<td align="right">
   1.6223
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0010
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2013-01-02
22:50:00
</td>
<td align="right">
  .79
</td>
<td align="right">
   1.6254
</td>
<td align="right">
   1.6239
</td>
<td align="right">
   1.6222
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  -.0018
</td>
<td align="right">
 -.0009
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2013-01-02
23:55:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.6251
</td>
<td align="right">
   1.6250
</td>
<td align="right">
   1.6223
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0027
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2013-01-03
00:10:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.6249
</td>
<td align="right">
   1.6238
</td>
<td align="right">
   1.6226
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  -.0012
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2013-01-02
02:35:00
</td>
<td align="right">
  .75
</td>
<td align="right">
    .9090
</td>
<td align="right">
    .9093
</td>
<td align="right">
    .9103
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0010
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2013-01-02
03:20:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .9097
</td>
<td align="right">
    .9098
</td>
<td align="right">
    .9107
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0010
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2013-01-02
14:45:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .9125
</td>
<td align="right">
    .9128
</td>
<td align="right">
    .9186
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0058
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0064
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2013-01-02
20:25:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .9185
</td>
<td align="right">
    .9178
</td>
<td align="right">
    .9190
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0012
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2013-01-02
20:45:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .9186
</td>
<td align="right">
    .9180
</td>
<td align="right">
    .9209
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0029
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0031
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2013-01-02
20:55:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9182
</td>
<td align="right">
    .9179
</td>
<td align="right">
    .9207
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0029
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0031
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2013-01-02
21:05:00
</td>
<td align="right">
  .71
</td>
<td align="right">
    .9178
</td>
<td align="right">
    .9181
</td>
<td align="right">
    .9205
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0024
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2013-01-02
21:10:00
</td>
<td align="right">
  .73
</td>
<td align="right">
    .9180
</td>
<td align="right">
    .9177
</td>
<td align="right">
    .9208
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0031
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0033
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2013-01-02
21:20:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9181
</td>
<td align="right">
    .9179
</td>
<td align="right">
    .9207
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0029
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0031
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2013-01-02
21:25:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .9178
</td>
<td align="right">
    .9179
</td>
<td align="right">
    .9205
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0026
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0029
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2013-01-02
21:30:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .9178
</td>
<td align="right">
    .9179
</td>
<td align="right">
    .9204
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0025
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2013-01-02
21:40:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .9181
</td>
<td align="right">
    .9176
</td>
<td align="right">
    .9203
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0027
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2013-01-02
21:55:00
</td>
<td align="right">
  .66
</td>
<td align="right">
    .9179
</td>
<td align="right">
    .9178
</td>
<td align="right">
    .9202
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0023
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2013-01-02
22:15:00
</td>
<td align="right">
  .75
</td>
<td align="right">
    .9182
</td>
<td align="right">
    .9179
</td>
<td align="right">
    .9202
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0023
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2013-01-02
22:20:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .9181
</td>
<td align="right">
    .9182
</td>
<td align="right">
    .9202
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0020
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2013-01-02
23:10:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .9178
</td>
<td align="right">
    .9180
</td>
<td align="right">
    .9204
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0024
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0026
</td>
</tr>
</table>
<br />
