<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_11_18<h4>Week of: 2012_11_18 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.72
</td>
<td align="right">
     .28
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0007
</td>
<td align="right">
   33
</td>
<td align="right">
   .0228
</td>
<td align="right">
  -.0029
</td>
<td align="right">
   .0038
</td>
<td align="right">
   .0024
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.64
</td>
<td align="right">
    2.90
</td>
<td align="right">
   .0022
</td>
<td align="right">
   .0006
</td>
<td align="right">
    3
</td>
<td align="right">
   .0018
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0008
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   36
</td>
<td align="right">
   .0246
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .63
</td>
<td align="right">
    2.51
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0037
</td>
<td align="right">
    5
</td>
<td align="right">
   .0184
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0046
</td>
<td align="right">
   .0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .66
</td>
<td align="right">
    6.73
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0028
</td>
<td align="right">
    6
</td>
<td align="right">
   .0170
</td>
<td align="right">
   .0022
</td>
<td align="right">
   .0034
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .60
</td>
<td align="right">
     .21
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0002
</td>
<td align="right">
    6
</td>
<td align="right">
   .0011
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0009
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.07
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0001
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   .0008
</td>
<td align="right">
   .0011
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   21
</td>
<td align="right">
   .0362
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-21
08:50:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
  85.1669
</td>
<td align="right">
  85.2201
</td>
<td align="right">
  85.2777
</td>
<td align="right">
   .0533
</td>
<td align="right">
   .0575
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-18
22:40:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.2309
</td>
<td align="right">
   1.2308
</td>
<td align="right">
   1.2301
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-19
07:50:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.2312
</td>
<td align="right">
   1.2311
</td>
<td align="right">
   1.2278
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0033
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-19
08:00:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.2308
</td>
<td align="right">
   1.2311
</td>
<td align="right">
   1.2276
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0035
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-19
08:05:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.2308
</td>
<td align="right">
   1.2310
</td>
<td align="right">
   1.2278
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0032
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-19
08:10:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.2305
</td>
<td align="right">
   1.2315
</td>
<td align="right">
   1.2279
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0036
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-19
08:55:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.2312
</td>
<td align="right">
   1.2307
</td>
<td align="right">
   1.2278
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0029
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-19
15:50:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.2305
</td>
<td align="right">
   1.2308
</td>
<td align="right">
   1.2304
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-19
16:15:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.2304
</td>
<td align="right">
   1.2311
</td>
<td align="right">
   1.2282
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-19
19:20:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
   1.2305
</td>
<td align="right">
   1.2306
</td>
<td align="right">
   1.2289
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-19
19:35:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2308
</td>
<td align="right">
   1.2309
</td>
<td align="right">
   1.2287
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0022
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-19
19:40:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.2308
</td>
<td align="right">
   1.2309
</td>
<td align="right">
   1.2286
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0023
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-19
19:45:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
   1.2305
</td>
<td align="right">
   1.2308
</td>
<td align="right">
   1.2290
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-19
19:50:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
   1.2305
</td>
<td align="right">
   1.2306
</td>
<td align="right">
   1.2287
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-19
19:55:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.2305
</td>
<td align="right">
   1.2308
</td>
<td align="right">
   1.2290
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-19
20:15:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.2305
</td>
<td align="right">
   1.2309
</td>
<td align="right">
   1.2292
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-20
04:20:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
   1.2297
</td>
<td align="right">
   1.2293
</td>
<td align="right">
   1.2320
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0027
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-20
04:25:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
   1.2297
</td>
<td align="right">
   1.2294
</td>
<td align="right">
   1.2318
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0025
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-20
04:40:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.2290
</td>
<td align="right">
   1.2288
</td>
<td align="right">
   1.2318
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0030
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-20
04:45:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
   1.2292
</td>
<td align="right">
   1.2291
</td>
<td align="right">
   1.2316
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0026
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-20
04:50:00
</td>
<td align="right">
 -.85
</td>
<td align="right">
   1.2290
</td>
<td align="right">
   1.2291
</td>
<td align="right">
   1.2316
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0025
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-20
05:30:00
</td>
<td align="right">
 -.91
</td>
<td align="right">
   1.2292
</td>
<td align="right">
   1.2288
</td>
<td align="right">
   1.2318
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0030
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-20
05:35:00
</td>
<td align="right">
 -.89
</td>
<td align="right">
   1.2290
</td>
<td align="right">
   1.2286
</td>
<td align="right">
   1.2321
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0035
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-20
05:55:00
</td>
<td align="right">
 -.89
</td>
<td align="right">
   1.2285
</td>
<td align="right">
   1.2288
</td>
<td align="right">
   1.2325
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0037
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-20
06:00:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.2282
</td>
<td align="right">
   1.2283
</td>
<td align="right">
   1.2329
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0047
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0038
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-20
06:05:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.2282
</td>
<td align="right">
   1.2287
</td>
<td align="right">
   1.2329
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0043
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0035
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-20
06:10:00
</td>
<td align="right">
 -.87
</td>
<td align="right">
   1.2285
</td>
<td align="right">
   1.2293
</td>
<td align="right">
   1.2329
</td>
<td align="right">
   .0008
</td>
<td align="right">
   .0037
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-20
06:15:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
   1.2285
</td>
<td align="right">
   1.2297
</td>
<td align="right">
   1.2331
</td>
<td align="right">
   .0012
</td>
<td align="right">
   .0034
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-20
06:20:00
</td>
<td align="right">
 -.87
</td>
<td align="right">
   1.2286
</td>
<td align="right">
   1.2297
</td>
<td align="right">
   1.2329
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0033
</td>
<td align="right">
  .0009
</td>
<td align="right">
  .0027
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-20
06:25:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
   1.2287
</td>
<td align="right">
   1.2295
</td>
<td align="right">
   1.2329
</td>
<td align="right">
   .0008
</td>
<td align="right">
   .0034
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-20
06:30:00
</td>
<td align="right">
 -.89
</td>
<td align="right">
   1.2288
</td>
<td align="right">
   1.2294
</td>
<td align="right">
   1.2334
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0040
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0033
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-20
06:35:00
</td>
<td align="right">
 -.84
</td>
<td align="right">
   1.2286
</td>
<td align="right">
   1.2296
</td>
<td align="right">
   1.2337
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0041
</td>
<td align="right">
  .0008
</td>
<td align="right">
  .0033
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-20
06:40:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.2283
</td>
<td align="right">
   1.2295
</td>
<td align="right">
   1.2334
</td>
<td align="right">
   .0012
</td>
<td align="right">
   .0039
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-20
06:45:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.2283
</td>
<td align="right">
   1.2292
</td>
<td align="right">
   1.2330
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0037
</td>
<td align="right">
  .0008
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-21
12:20:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 105.3936
</td>
<td align="right">
 105.5899
</td>
<td align="right">
 105.7405
</td>
<td align="right">
   .1962
</td>
<td align="right">
   .1507
</td>
<td align="right">
  .0019
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-20
11:10:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.2808
</td>
<td align="right">
   1.2815
</td>
<td align="right">
   1.2819
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-20
13:05:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  81.5200
</td>
<td align="right">
  81.6700
</td>
<td align="right">
  81.7075
</td>
<td align="right">
   .1500
</td>
<td align="right">
   .0375
</td>
<td align="right">
  .0018
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-20
13:10:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  81.4825
</td>
<td align="right">
  81.6825
</td>
<td align="right">
  81.7225
</td>
<td align="right">
   .2000
</td>
<td align="right">
   .0400
</td>
<td align="right">
  .0025
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-20
13:15:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  81.4900
</td>
<td align="right">
  81.6675
</td>
<td align="right">
  81.7350
</td>
<td align="right">
   .1775
</td>
<td align="right">
   .0675
</td>
<td align="right">
  .0022
</td>
<td align="right">
  .0008
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-20
01:00:00
</td>
<td align="right">
  .60
</td>
<td align="right">
  84.5749
</td>
<td align="right">
  84.5437
</td>
<td align="right">
  84.6362
</td>
<td align="right">
  -.0312
</td>
<td align="right">
   .0925
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-21
15:15:00
</td>
<td align="right">
  .64
</td>
<td align="right">
  85.1923
</td>
<td align="right">
  85.2253
</td>
<td align="right">
  85.5636
</td>
<td align="right">
   .0330
</td>
<td align="right">
   .3383
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0040
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-21
15:35:00
</td>
<td align="right">
  .59
</td>
<td align="right">
  85.2132
</td>
<td align="right">
  85.1679
</td>
<td align="right">
  85.5355
</td>
<td align="right">
  -.0453
</td>
<td align="right">
   .3676
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0043
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-21
15:45:00
</td>
<td align="right">
  .60
</td>
<td align="right">
  85.1957
</td>
<td align="right">
  85.1525
</td>
<td align="right">
  85.5469
</td>
<td align="right">
  -.0431
</td>
<td align="right">
   .3944
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0046
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-21
15:55:00
</td>
<td align="right">
  .69
</td>
<td align="right">
  85.2443
</td>
<td align="right">
  85.1948
</td>
<td align="right">
  85.5722
</td>
<td align="right">
  -.0495
</td>
<td align="right">
   .3775
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0044
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-21
15:50:00
</td>
<td align="right">
  .61
</td>
<td align="right">
 105.5491
</td>
<td align="right">
 105.5535
</td>
<td align="right">
 105.8759
</td>
<td align="right">
   .0043
</td>
<td align="right">
   .3224
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0031
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-21
16:05:00
</td>
<td align="right">
  .57
</td>
<td align="right">
 105.6228
</td>
<td align="right">
 105.6102
</td>
<td align="right">
 105.8461
</td>
<td align="right">
  -.0126
</td>
<td align="right">
   .2359
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-21
17:55:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 105.7744
</td>
<td align="right">
 105.7918
</td>
<td align="right">
 106.0971
</td>
<td align="right">
   .0174
</td>
<td align="right">
   .3053
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0029
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-21
18:00:00
</td>
<td align="right">
  .69
</td>
<td align="right">
 105.7195
</td>
<td align="right">
 105.7311
</td>
<td align="right">
 106.0939
</td>
<td align="right">
   .0117
</td>
<td align="right">
   .3628
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0034
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-21
18:50:00
</td>
<td align="right">
  .72
</td>
<td align="right">
 105.7918
</td>
<td align="right">
 105.7923
</td>
<td align="right">
 106.0570
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .2647
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-21
18:55:00
</td>
<td align="right">
  .71
</td>
<td align="right">
 105.7918
</td>
<td align="right">
 105.7904
</td>
<td align="right">
 106.1012
</td>
<td align="right">
  -.0014
</td>
<td align="right">
   .3108
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0029
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-20
05:30:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.2796
</td>
<td align="right">
   1.2790
</td>
<td align="right">
   1.2804
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0014
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-20
13:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2805
</td>
<td align="right">
   1.2796
</td>
<td align="right">
   1.2804
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-20
13:05:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.2802
</td>
<td align="right">
   1.2800
</td>
<td align="right">
   1.2803
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-20
16:30:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.2810
</td>
<td align="right">
   1.2805
</td>
<td align="right">
   1.2817
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0012
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-20
20:05:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.2815
</td>
<td align="right">
   1.2816
</td>
<td align="right">
   1.2810
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-20
21:05:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.2816
</td>
<td align="right">
   1.2815
</td>
<td align="right">
   1.2798
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0017
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-19
04:20:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  81.1425
</td>
<td align="right">
  81.1700
</td>
<td align="right">
  81.2350
</td>
<td align="right">
   .0275
</td>
<td align="right">
   .0650
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-19
04:25:00
</td>
<td align="right">
  .61
</td>
<td align="right">
  81.1700
</td>
<td align="right">
  81.1775
</td>
<td align="right">
  81.1875
</td>
<td align="right">
   .0075
</td>
<td align="right">
   .0100
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-19
06:15:00
</td>
<td align="right">
  .73
</td>
<td align="right">
  81.3075
</td>
<td align="right">
  81.2850
</td>
<td align="right">
  81.1425
</td>
<td align="right">
  -.0225
</td>
<td align="right">
  -.1425
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-20
14:20:00
</td>
<td align="right">
  .68
</td>
<td align="right">
  81.6425
</td>
<td align="right">
  81.6675
</td>
<td align="right">
  81.7075
</td>
<td align="right">
   .0250
</td>
<td align="right">
   .0400
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0005
</td>
</tr>
</table>
<br />
