<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_10_28<h4>Week of: 2012_10_28 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.56
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0005
</td>
<td align="right">
    3
</td>
<td align="right">
   .0016
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0003
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.63
</td>
<td align="right">
     .54
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0003
</td>
<td align="right">
    5
</td>
<td align="right">
   .0017
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0006
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    8
</td>
<td align="right">
   .0033
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .70
</td>
<td align="right">
    7.88
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0004
</td>
<td align="right">
    2
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .60
</td>
<td align="right">
    1.27
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0015
</td>
<td align="right">
    3
</td>
<td align="right">
   .0046
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0023
</td>
<td align="right">
   .0012
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    5
</td>
<td align="right">
   .0055
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-29
11:05:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  82.3496
</td>
<td align="right">
  82.3679
</td>
<td align="right">
  82.4448
</td>
<td align="right">
   .0183
</td>
<td align="right">
   .0769
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-29
13:45:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  82.4774
</td>
<td align="right">
  82.4475
</td>
<td align="right">
  82.4808
</td>
<td align="right">
  -.0299
</td>
<td align="right">
   .0333
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-29
21:40:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  82.4482
</td>
<td align="right">
  82.4627
</td>
<td align="right">
  82.4860
</td>
<td align="right">
   .0146
</td>
<td align="right">
   .0233
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-10-29
00:20:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.2480
</td>
<td align="right">
   1.2482
</td>
<td align="right">
   1.2475
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-29
15:00:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .8047
</td>
<td align="right">
    .8052
</td>
<td align="right">
    .8048
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-29
17:20:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .8050
</td>
<td align="right">
    .8050
</td>
<td align="right">
    .8049
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-29
17:50:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .8049
</td>
<td align="right">
    .8049
</td>
<td align="right">
    .8052
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-29
17:55:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .8048
</td>
<td align="right">
    .8045
</td>
<td align="right">
    .8053
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-29
18:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .8050
</td>
<td align="right">
    .8051
</td>
<td align="right">
    .8057
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-10-30
07:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 102.8151
</td>
<td align="right">
 102.8846
</td>
<td align="right">
 103.1416
</td>
<td align="right">
   .0695
</td>
<td align="right">
   .2570
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-10-30
05:15:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.2901
</td>
<td align="right">
   1.2898
</td>
<td align="right">
   1.2951
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0053
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0041
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-10-29
07:45:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.6073
</td>
<td align="right">
   1.6067
</td>
<td align="right">
   1.6034
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0033
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0021
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-29
07:40:00
</td>
<td align="right">
  .71
</td>
<td align="right">
  82.4407
</td>
<td align="right">
  82.4403
</td>
<td align="right">
  82.4726
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0323
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-29
08:40:00
</td>
<td align="right">
  .69
</td>
<td align="right">
  82.4403
</td>
<td align="right">
  82.4507
</td>
<td align="right">
  82.4893
</td>
<td align="right">
   .0104
</td>
<td align="right">
   .0386
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-30
04:50:00
</td>
<td align="right">
  .66
</td>
<td align="right">
    .8047
</td>
<td align="right">
    .8047
</td>
<td align="right">
    .8065
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0018
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-30
05:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .8047
</td>
<td align="right">
    .8043
</td>
<td align="right">
    .8061
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0018
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-10-30
18:55:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .8062
</td>
<td align="right">
    .8061
</td>
<td align="right">
    .8062
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-10-29
00:50:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.6079
</td>
<td align="right">
   1.6085
</td>
<td align="right">
   1.6085
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0000
</td>
</tr>
</table>
<br />
