<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_09_23<h4>Week of: 2012_09_23 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.18
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0004
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  -.0032
</td>
<td align="right">
   .0012
</td>
<td align="right">
   .0024
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -2.43
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0027
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0107
</td>
<td align="right">
  -.0041
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0011
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.56
</td>
<td align="right">
   -1.61
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0011
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0032
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.61
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0011
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0044
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .07
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0001
</td>
<td align="right">
   25
</td>
<td align="right">
   .0028
</td>
<td align="right">
  -.0046
</td>
<td align="right">
   .0016
</td>
<td align="right">
   .0016
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.33
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   14
</td>
<td align="right">
  -.0087
</td>
<td align="right">
  -.0040
</td>
<td align="right">
   .0018
</td>
<td align="right">
   .0019
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.60
</td>
<td align="right">
   -1.46
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0012
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0074
</td>
<td align="right">
  -.0020
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .91
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0007
</td>
<td align="right">
   14
</td>
<td align="right">
   .0102
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0021
</td>
<td align="right">
   .0008
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   73
</td>
<td align="right">
  -.0227
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .65
</td>
<td align="right">
     .16
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0002
</td>
<td align="right">
   27
</td>
<td align="right">
   .0053
</td>
<td align="right">
  -.0022
</td>
<td align="right">
   .0020
</td>
<td align="right">
   .0012
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.68
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0008
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0065
</td>
<td align="right">
  -.0023
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0012
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.42
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   11
</td>
<td align="right">
  -.0057
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   .0023
</td>
<td align="right">
   .0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.14
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   18
</td>
<td align="right">
  -.0043
</td>
<td align="right">
  -.0022
</td>
<td align="right">
   .0035
</td>
<td align="right">
   .0017
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   64
</td>
<td align="right">
  -.0112
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-09-24
19:30:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
  81.1541
</td>
<td align="right">
  81.1410
</td>
<td align="right">
  81.1943
</td>
<td align="right">
  -.0131
</td>
<td align="right">
   .0533
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-09-24
20:40:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
  81.1489
</td>
<td align="right">
  81.1833
</td>
<td align="right">
  81.2838
</td>
<td align="right">
   .0344
</td>
<td align="right">
   .1005
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-09-28
19:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  80.8777
</td>
<td align="right">
  80.9555
</td>
<td align="right">
  80.6945
</td>
<td align="right">
   .0778
</td>
<td align="right">
  -.2609
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-09-28
17:00:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.0387
</td>
<td align="right">
   1.0392
</td>
<td align="right">
   1.0349
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0043
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0041
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-09-28
18:50:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.0377
</td>
<td align="right">
   1.0373
</td>
<td align="right">
   1.0358
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0016
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-09-28
19:05:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.0375
</td>
<td align="right">
   1.0372
</td>
<td align="right">
   1.0348
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0025
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-09-28
19:10:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.0377
</td>
<td align="right">
   1.0375
</td>
<td align="right">
   1.0347
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0028
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-27
06:25:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.2387
</td>
<td align="right">
   1.2383
</td>
<td align="right">
   1.2361
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0022
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-27
10:10:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2355
</td>
<td align="right">
   1.2357
</td>
<td align="right">
   1.2345
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-09-27
10:20:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.2347
</td>
<td align="right">
   1.2355
</td>
<td align="right">
   1.2348
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-09-28
08:50:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .7973
</td>
<td align="right">
    .7978
</td>
<td align="right">
    .7970
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-09-28
09:35:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .7982
</td>
<td align="right">
    .7980
</td>
<td align="right">
    .7968
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0013
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-09-28
10:15:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .7975
</td>
<td align="right">
    .7979
</td>
<td align="right">
    .7977
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-09-28
10:55:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .7981
</td>
<td align="right">
    .7984
</td>
<td align="right">
    .7971
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
18:45:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
 100.6470
</td>
<td align="right">
 100.6522
</td>
<td align="right">
 100.7289
</td>
<td align="right">
   .0052
</td>
<td align="right">
   .0766
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
19:05:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
 100.6717
</td>
<td align="right">
 100.6380
</td>
<td align="right">
 100.7548
</td>
<td align="right">
  -.0336
</td>
<td align="right">
   .1167
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
19:25:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 100.6645
</td>
<td align="right">
 100.6484
</td>
<td align="right">
 100.7457
</td>
<td align="right">
  -.0161
</td>
<td align="right">
   .0973
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
19:35:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 100.6639
</td>
<td align="right">
 100.6406
</td>
<td align="right">
 100.7281
</td>
<td align="right">
  -.0233
</td>
<td align="right">
   .0875
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
19:40:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
 100.6386
</td>
<td align="right">
 100.6406
</td>
<td align="right">
 100.7353
</td>
<td align="right">
   .0020
</td>
<td align="right">
   .0947
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
19:45:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
 100.6522
</td>
<td align="right">
 100.6335
</td>
<td align="right">
 100.7587
</td>
<td align="right">
  -.0187
</td>
<td align="right">
   .1252
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
19:55:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
 100.6267
</td>
<td align="right">
 100.6639
</td>
<td align="right">
 100.7924
</td>
<td align="right">
   .0373
</td>
<td align="right">
   .1285
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
20:00:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
 100.6471
</td>
<td align="right">
 100.6523
</td>
<td align="right">
 100.8177
</td>
<td align="right">
   .0052
</td>
<td align="right">
   .1654
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
20:15:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 100.6484
</td>
<td align="right">
 100.6426
</td>
<td align="right">
 100.7775
</td>
<td align="right">
  -.0058
</td>
<td align="right">
   .1349
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
20:20:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
 100.6523
</td>
<td align="right">
 100.6419
</td>
<td align="right">
 100.7794
</td>
<td align="right">
  -.0104
</td>
<td align="right">
   .1375
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
20:35:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 100.6406
</td>
<td align="right">
 100.6646
</td>
<td align="right">
 100.7976
</td>
<td align="right">
   .0240
</td>
<td align="right">
   .1330
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
20:45:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
 100.6335
</td>
<td align="right">
 100.6626
</td>
<td align="right">
 100.7885
</td>
<td align="right">
   .0291
</td>
<td align="right">
   .1259
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
21:30:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 100.6426
</td>
<td align="right">
 100.6743
</td>
<td align="right">
 100.7217
</td>
<td align="right">
   .0317
</td>
<td align="right">
   .0474
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
21:35:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
 100.6419
</td>
<td align="right">
 100.6769
</td>
<td align="right">
 100.7294
</td>
<td align="right">
   .0350
</td>
<td align="right">
   .0525
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
21:50:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 100.6646
</td>
<td align="right">
 100.6944
</td>
<td align="right">
 100.7184
</td>
<td align="right">
   .0298
</td>
<td align="right">
   .0240
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
21:55:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
 100.6743
</td>
<td align="right">
 100.6730
</td>
<td align="right">
 100.7145
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   .0415
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
22:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 100.6665
</td>
<td align="right">
 100.6795
</td>
<td align="right">
 100.6860
</td>
<td align="right">
   .0130
</td>
<td align="right">
   .0065
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
22:45:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 100.6814
</td>
<td align="right">
 100.7463
</td>
<td align="right">
 100.6259
</td>
<td align="right">
   .0648
</td>
<td align="right">
  -.1203
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
23:00:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
 100.6665
</td>
<td align="right">
 100.7670
</td>
<td align="right">
 100.6719
</td>
<td align="right">
   .1005
</td>
<td align="right">
  -.0952
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
23:10:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
 100.6782
</td>
<td align="right">
 100.8130
</td>
<td align="right">
 100.6136
</td>
<td align="right">
   .1348
</td>
<td align="right">
  -.1994
</td>
<td align="right">
  .0013
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
23:25:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
 100.6956
</td>
<td align="right">
 100.7651
</td>
<td align="right">
 100.4516
</td>
<td align="right">
   .0694
</td>
<td align="right">
  -.3135
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
23:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 100.6911
</td>
<td align="right">
 100.7339
</td>
<td align="right">
 100.4801
</td>
<td align="right">
   .0428
</td>
<td align="right">
  -.2538
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-26
02:45:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
 100.3492
</td>
<td align="right">
 100.3091
</td>
<td align="right">
  99.8492
</td>
<td align="right">
  -.0401
</td>
<td align="right">
  -.4599
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0046
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-26
14:15:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 100.0141
</td>
<td align="right">
  99.9939
</td>
<td align="right">
 100.0293
</td>
<td align="right">
  -.0202
</td>
<td align="right">
   .0354
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-26
14:40:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
  99.9633
</td>
<td align="right">
  99.9744
</td>
<td align="right">
 100.0644
</td>
<td align="right">
   .0112
</td>
<td align="right">
   .0899
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-24
22:50:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.2932
</td>
<td align="right">
   1.2941
</td>
<td align="right">
   1.2938
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-25
13:20:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.2947
</td>
<td align="right">
   1.2959
</td>
<td align="right">
   1.2910
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0049
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-25
15:40:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2948
</td>
<td align="right">
   1.2946
</td>
<td align="right">
   1.2905
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0041
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-25
16:25:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.2948
</td>
<td align="right">
   1.2954
</td>
<td align="right">
   1.2902
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0052
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0040
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-27
02:25:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.2881
</td>
<td align="right">
   1.2878
</td>
<td align="right">
   1.2872
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-27
02:40:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.2877
</td>
<td align="right">
   1.2876
</td>
<td align="right">
   1.2867
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-27
03:15:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.2878
</td>
<td align="right">
   1.2880
</td>
<td align="right">
   1.2866
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-27
06:55:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.2889
</td>
<td align="right">
   1.2885
</td>
<td align="right">
   1.2878
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-27
18:35:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.2920
</td>
<td align="right">
   1.2915
</td>
<td align="right">
   1.2913
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-27
18:45:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.2918
</td>
<td align="right">
   1.2915
</td>
<td align="right">
   1.2919
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-27
18:55:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.2916
</td>
<td align="right">
   1.2912
</td>
<td align="right">
   1.2916
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-27
20:20:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.2913
</td>
<td align="right">
   1.2916
</td>
<td align="right">
   1.2935
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0020
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-27
20:25:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.2912
</td>
<td align="right">
   1.2913
</td>
<td align="right">
   1.2936
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0023
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-27
23:25:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2914
</td>
<td align="right">
   1.2911
</td>
<td align="right">
   1.2931
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0020
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-24
18:30:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .9791
</td>
<td align="right">
    .9788
</td>
<td align="right">
    .9788
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-25
20:25:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .9810
</td>
<td align="right">
    .9807
</td>
<td align="right">
    .9802
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0004
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-26
05:15:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .9811
</td>
<td align="right">
    .9824
</td>
<td align="right">
    .9811
</td>
<td align="right">
   .0013
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-26
19:20:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9852
</td>
<td align="right">
    .9854
</td>
<td align="right">
    .9837
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-28
00:30:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9810
</td>
<td align="right">
    .9810
</td>
<td align="right">
    .9790
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0020
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-28
00:35:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9811
</td>
<td align="right">
    .9808
</td>
<td align="right">
    .9789
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0019
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
20:15:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .9379
</td>
<td align="right">
    .9375
</td>
<td align="right">
    .9376
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
20:20:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9378
</td>
<td align="right">
    .9375
</td>
<td align="right">
    .9375
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
20:30:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9376
</td>
<td align="right">
    .9375
</td>
<td align="right">
    .9376
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
20:35:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9376
</td>
<td align="right">
    .9373
</td>
<td align="right">
    .9376
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
20:40:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
    .9377
</td>
<td align="right">
    .9373
</td>
<td align="right">
    .9377
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
21:25:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
    .9375
</td>
<td align="right">
    .9376
</td>
<td align="right">
    .9379
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
21:45:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .9375
</td>
<td align="right">
    .9378
</td>
<td align="right">
    .9378
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
21:50:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .9373
</td>
<td align="right">
    .9377
</td>
<td align="right">
    .9378
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
22:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9373
</td>
<td align="right">
    .9377
</td>
<td align="right">
    .9380
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
22:05:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
    .9374
</td>
<td align="right">
    .9378
</td>
<td align="right">
    .9388
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0010
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
22:10:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .9373
</td>
<td align="right">
    .9378
</td>
<td align="right">
    .9397
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0019
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
22:15:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .9373
</td>
<td align="right">
    .9376
</td>
<td align="right">
    .9395
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0018
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
22:45:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9378
</td>
<td align="right">
    .9379
</td>
<td align="right">
    .9394
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0015
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
23:00:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .9377
</td>
<td align="right">
    .9374
</td>
<td align="right">
    .9392
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0018
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0019
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-09-28
04:40:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .7955
</td>
<td align="right">
    .7954
</td>
<td align="right">
    .7983
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0030
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0037
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
08:55:00
</td>
<td align="right">
  .58
</td>
<td align="right">
 100.6757
</td>
<td align="right">
 100.7020
</td>
<td align="right">
 100.5814
</td>
<td align="right">
   .0262
</td>
<td align="right">
  -.1206
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
09:15:00
</td>
<td align="right">
  .65
</td>
<td align="right">
 100.6850
</td>
<td align="right">
 100.7003
</td>
<td align="right">
 100.5973
</td>
<td align="right">
   .0153
</td>
<td align="right">
  -.1030
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
12:15:00
</td>
<td align="right">
  .56
</td>
<td align="right">
 100.8160
</td>
<td align="right">
 100.6915
</td>
<td align="right">
 100.6502
</td>
<td align="right">
  -.1246
</td>
<td align="right">
  -.0413
</td>
<td align="right">
 -.0012
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
12:20:00
</td>
<td align="right">
  .62
</td>
<td align="right">
 100.7862
</td>
<td align="right">
 100.7577
</td>
<td align="right">
 100.6670
</td>
<td align="right">
  -.0285
</td>
<td align="right">
  -.0907
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
14:25:00
</td>
<td align="right">
  .59
</td>
<td align="right">
 100.5715
</td>
<td align="right">
 100.5572
</td>
<td align="right">
 100.6484
</td>
<td align="right">
  -.0144
</td>
<td align="right">
   .0912
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
14:30:00
</td>
<td align="right">
  .70
</td>
<td align="right">
 100.5792
</td>
<td align="right">
 100.5781
</td>
<td align="right">
 100.6465
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0684
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
14:50:00
</td>
<td align="right">
  .62
</td>
<td align="right">
 100.5561
</td>
<td align="right">
 100.5463
</td>
<td align="right">
 100.6474
</td>
<td align="right">
  -.0099
</td>
<td align="right">
   .1012
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
14:55:00
</td>
<td align="right">
  .79
</td>
<td align="right">
 100.5814
</td>
<td align="right">
 100.5688
</td>
<td align="right">
 100.6639
</td>
<td align="right">
  -.0126
</td>
<td align="right">
   .0951
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
15:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
 100.5793
</td>
<td align="right">
 100.5895
</td>
<td align="right">
 100.6523
</td>
<td align="right">
   .0102
</td>
<td align="right">
   .0628
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
15:20:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 100.5597
</td>
<td align="right">
 100.5780
</td>
<td align="right">
 100.6419
</td>
<td align="right">
   .0183
</td>
<td align="right">
   .0640
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
15:25:00
</td>
<td align="right">
  .64
</td>
<td align="right">
 100.5572
</td>
<td align="right">
 100.5967
</td>
<td align="right">
 100.6536
</td>
<td align="right">
   .0396
</td>
<td align="right">
   .0569
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
15:30:00
</td>
<td align="right">
  .59
</td>
<td align="right">
 100.5781
</td>
<td align="right">
 100.5961
</td>
<td align="right">
 100.6801
</td>
<td align="right">
   .0180
</td>
<td align="right">
   .0840
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
15:35:00
</td>
<td align="right">
  .68
</td>
<td align="right">
 100.5728
</td>
<td align="right">
 100.5910
</td>
<td align="right">
 100.6646
</td>
<td align="right">
   .0181
</td>
<td align="right">
   .0736
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
15:40:00
</td>
<td align="right">
  .66
</td>
<td align="right">
 100.5728
</td>
<td align="right">
 100.5949
</td>
<td align="right">
 100.6743
</td>
<td align="right">
   .0220
</td>
<td align="right">
   .0794
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
16:20:00
</td>
<td align="right">
  .67
</td>
<td align="right">
 100.5780
</td>
<td align="right">
 100.6172
</td>
<td align="right">
 100.6769
</td>
<td align="right">
   .0392
</td>
<td align="right">
   .0597
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
17:05:00
</td>
<td align="right">
  .65
</td>
<td align="right">
 100.5899
</td>
<td align="right">
 100.5809
</td>
<td align="right">
 100.7028
</td>
<td align="right">
  -.0090
</td>
<td align="right">
   .1219
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-24
17:10:00
</td>
<td align="right">
  .58
</td>
<td align="right">
 100.5795
</td>
<td align="right">
 100.5991
</td>
<td align="right">
 100.6956
</td>
<td align="right">
   .0196
</td>
<td align="right">
   .0966
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-25
22:25:00
</td>
<td align="right">
  .64
</td>
<td align="right">
 100.3738
</td>
<td align="right">
 100.3265
</td>
<td align="right">
 100.1032
</td>
<td align="right">
  -.0473
</td>
<td align="right">
  -.2233
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-25
23:05:00
</td>
<td align="right">
  .64
</td>
<td align="right">
 100.3264
</td>
<td align="right">
 100.2710
</td>
<td align="right">
 100.0631
</td>
<td align="right">
  -.0554
</td>
<td align="right">
  -.2079
</td>
<td align="right">
 -.0006
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-28
14:00:00
</td>
<td align="right">
  .66
</td>
<td align="right">
 100.3283
</td>
<td align="right">
 100.1214
</td>
<td align="right">
 100.2691
</td>
<td align="right">
  -.2068
</td>
<td align="right">
   .1477
</td>
<td align="right">
 -.0021
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-28
14:20:00
</td>
<td align="right">
  .56
</td>
<td align="right">
 100.1206
</td>
<td align="right">
 100.0582
</td>
<td align="right">
 100.2612
</td>
<td align="right">
  -.0624
</td>
<td align="right">
   .2030
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-28
14:30:00
</td>
<td align="right">
  .75
</td>
<td align="right">
 100.0668
</td>
<td align="right">
 100.0627
</td>
<td align="right">
 100.2220
</td>
<td align="right">
  -.0041
</td>
<td align="right">
   .1593
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-28
14:35:00
</td>
<td align="right">
  .63
</td>
<td align="right">
 100.0412
</td>
<td align="right">
 100.0741
</td>
<td align="right">
 100.1941
</td>
<td align="right">
   .0329
</td>
<td align="right">
   .1200
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-28
14:40:00
</td>
<td align="right">
  .72
</td>
<td align="right">
 100.0541
</td>
<td align="right">
 100.0918
</td>
<td align="right">
 100.1793
</td>
<td align="right">
   .0377
</td>
<td align="right">
   .0875
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-28
16:15:00
</td>
<td align="right">
  .62
</td>
<td align="right">
 100.3455
</td>
<td align="right">
 100.2402
</td>
<td align="right">
 100.1729
</td>
<td align="right">
  -.1053
</td>
<td align="right">
  -.0673
</td>
<td align="right">
 -.0010
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-28
16:25:00
</td>
<td align="right">
  .72
</td>
<td align="right">
 100.3429
</td>
<td align="right">
 100.2931
</td>
<td align="right">
 100.1269
</td>
<td align="right">
  -.0498
</td>
<td align="right">
  -.1662
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-09-28
16:30:00
</td>
<td align="right">
  .69
</td>
<td align="right">
 100.3312
</td>
<td align="right">
 100.3713
</td>
<td align="right">
 100.1530
</td>
<td align="right">
   .0400
</td>
<td align="right">
  -.2182
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-25
20:15:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2903
</td>
<td align="right">
   1.2903
</td>
<td align="right">
   1.2906
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-25
20:50:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.2902
</td>
<td align="right">
   1.2904
</td>
<td align="right">
   1.2903
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-25
20:55:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.2902
</td>
<td align="right">
   1.2905
</td>
<td align="right">
   1.2902
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-25
21:45:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.2904
</td>
<td align="right">
   1.2898
</td>
<td align="right">
   1.2900
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-25
21:50:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.2907
</td>
<td align="right">
   1.2899
</td>
<td align="right">
   1.2900
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-25
22:10:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.2905
</td>
<td align="right">
   1.2898
</td>
<td align="right">
   1.2868
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  -.0030
</td>
<td align="right">
 -.0006
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-25
22:15:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2905
</td>
<td align="right">
   1.2900
</td>
<td align="right">
   1.2871
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0030
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-09-25
22:35:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2902
</td>
<td align="right">
   1.2897
</td>
<td align="right">
   1.2870
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0027
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-24
13:05:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .9806
</td>
<td align="right">
    .9805
</td>
<td align="right">
    .9788
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0017
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-24
13:10:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .9805
</td>
<td align="right">
    .9807
</td>
<td align="right">
    .9789
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-24
13:20:00
</td>
<td align="right">
  .72
</td>
<td align="right">
    .9805
</td>
<td align="right">
    .9801
</td>
<td align="right">
    .9788
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0013
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-24
13:25:00
</td>
<td align="right">
  .70
</td>
<td align="right">
    .9800
</td>
<td align="right">
    .9798
</td>
<td align="right">
    .9787
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-24
14:05:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9805
</td>
<td align="right">
    .9793
</td>
<td align="right">
    .9785
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0012
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-24
14:10:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .9807
</td>
<td align="right">
    .9798
</td>
<td align="right">
    .9784
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0009
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-26
13:05:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9830
</td>
<td align="right">
    .9828
</td>
<td align="right">
    .9850
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0022
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-26
16:15:00
</td>
<td align="right">
  .55
</td>
<td align="right">
    .9841
</td>
<td align="right">
    .9842
</td>
<td align="right">
    .9846
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-27
17:35:00
</td>
<td align="right">
  .55
</td>
<td align="right">
    .9799
</td>
<td align="right">
    .9801
</td>
<td align="right">
    .9810
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0008
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-28
02:30:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .9793
</td>
<td align="right">
    .9793
</td>
<td align="right">
    .9788
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-09-28
02:40:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9793
</td>
<td align="right">
    .9794
</td>
<td align="right">
    .9789
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
10:50:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .9364
</td>
<td align="right">
    .9354
</td>
<td align="right">
    .9354
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0011
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
11:15:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .9351
</td>
<td align="right">
    .9349
</td>
<td align="right">
    .9349
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
14:30:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9343
</td>
<td align="right">
    .9343
</td>
<td align="right">
    .9376
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0033
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0035
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
15:10:00
</td>
<td align="right">
  .67
</td>
<td align="right">
    .9343
</td>
<td align="right">
    .9345
</td>
<td align="right">
    .9375
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0030
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-25
16:15:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .9348
</td>
<td align="right">
    .9349
</td>
<td align="right">
    .9375
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0027
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-27
10:35:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .9393
</td>
<td align="right">
    .9392
</td>
<td align="right">
    .9383
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-27
12:25:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .9387
</td>
<td align="right">
    .9389
</td>
<td align="right">
    .9370
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-27
12:30:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .9387
</td>
<td align="right">
    .9388
</td>
<td align="right">
    .9370
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-27
13:20:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .9391
</td>
<td align="right">
    .9393
</td>
<td align="right">
    .9373
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0020
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-27
18:55:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .9372
</td>
<td align="right">
    .9374
</td>
<td align="right">
    .9370
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-27
19:00:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9372
</td>
<td align="right">
    .9372
</td>
<td align="right">
    .9369
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-27
19:10:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9374
</td>
<td align="right">
    .9375
</td>
<td align="right">
    .9373
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-27
19:15:00
</td>
<td align="right">
  .71
</td>
<td align="right">
    .9374
</td>
<td align="right">
    .9375
</td>
<td align="right">
    .9370
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-27
19:25:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .9372
</td>
<td align="right">
    .9375
</td>
<td align="right">
    .9368
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-27
19:40:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .9372
</td>
<td align="right">
    .9373
</td>
<td align="right">
    .9367
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-27
19:50:00
</td>
<td align="right">
  .72
</td>
<td align="right">
    .9375
</td>
<td align="right">
    .9374
</td>
<td align="right">
    .9360
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-27
19:55:00
</td>
<td align="right">
  .66
</td>
<td align="right">
    .9374
</td>
<td align="right">
    .9373
</td>
<td align="right">
    .9361
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0012
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-09-27
20:00:00
</td>
<td align="right">
  .68
</td>
<td align="right">
    .9372
</td>
<td align="right">
    .9373
</td>
<td align="right">
    .9362
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0012
</td>
</tr>
</table>
<br />
