<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_11_25<h4>Week of: 2012_11_25 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -2.17
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0005
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0040
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.22
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0005
</td>
<td align="right">
    4
</td>
<td align="right">
   .0021
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.57
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   27
</td>
<td align="right">
  -.0300
</td>
<td align="right">
  -.0058
</td>
<td align="right">
   .0025
</td>
<td align="right">
   .0020
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.57
</td>
<td align="right">
    -.29
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0002
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -1.65
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   39
</td>
<td align="right">
  -.0653
</td>
<td align="right">
  -.0030
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0010
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .20
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0002
</td>
<td align="right">
   13
</td>
<td align="right">
   .0023
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0031
</td>
<td align="right">
   .0009
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   97
</td>
<td align="right">
  -.0962
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.49
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   13
</td>
<td align="right">
  -.0065
</td>
<td align="right">
  -.0019
</td>
<td align="right">
   .0012
</td>
<td align="right">
   .0010
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .61
</td>
<td align="right">
     .16
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0002
</td>
<td align="right">
   32
</td>
<td align="right">
   .0052
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0027
</td>
<td align="right">
   .0010
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .65
</td>
<td align="right">
   -3.84
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0002
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .70
</td>
<td align="right">
     .47
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0003
</td>
<td align="right">
   64
</td>
<td align="right">
   .0194
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0020
</td>
<td align="right">
   .0006
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .63
</td>
<td align="right">
     .51
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
   16
</td>
<td align="right">
   .0047
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0012
</td>
<td align="right">
   .0006
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .64
</td>
<td align="right">
     .02
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0000
</td>
<td align="right">
   36
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0013
</td>
<td align="right">
   .0005
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  165
</td>
<td align="right">
   .0223
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-30
17:50:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
  86.0281
</td>
<td align="right">
  86.0843
</td>
<td align="right">
  86.0439
</td>
<td align="right">
   .0562
</td>
<td align="right">
  -.0404
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-30
17:50:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
  86.0281
</td>
<td align="right">
  86.0843
</td>
<td align="right">
  86.0439
</td>
<td align="right">
   .0562
</td>
<td align="right">
  -.0404
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-30
18:10:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  86.0358
</td>
<td align="right">
  86.0461
</td>
<td align="right">
  86.0277
</td>
<td align="right">
   .0103
</td>
<td align="right">
  -.0184
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-30
18:10:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  86.0358
</td>
<td align="right">
  86.0461
</td>
<td align="right">
  86.0277
</td>
<td align="right">
   .0103
</td>
<td align="right">
  -.0184
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-30
18:35:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
  86.0501
</td>
<td align="right">
  86.0305
</td>
<td align="right">
  85.9871
</td>
<td align="right">
  -.0197
</td>
<td align="right">
  -.0434
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-30
18:35:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
  86.0501
</td>
<td align="right">
  86.0305
</td>
<td align="right">
  85.9871
</td>
<td align="right">
  -.0197
</td>
<td align="right">
  -.0434
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-30
20:50:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  86.0439
</td>
<td align="right">
  86.0356
</td>
<td align="right">
  85.9644
</td>
<td align="right">
  -.0083
</td>
<td align="right">
  -.0712
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-30
20:50:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  86.0439
</td>
<td align="right">
  86.0356
</td>
<td align="right">
  85.9644
</td>
<td align="right">
  -.0083
</td>
<td align="right">
  -.0712
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-29
06:30:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.2382
</td>
<td align="right">
   1.2382
</td>
<td align="right">
   1.2402
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0021
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-29
06:30:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.2382
</td>
<td align="right">
   1.2382
</td>
<td align="right">
   1.2402
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0021
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-26
09:50:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .8098
</td>
<td align="right">
    .8095
</td>
<td align="right">
    .8096
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-26
09:50:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .8098
</td>
<td align="right">
    .8095
</td>
<td align="right">
    .8096
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-26
12:05:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .8099
</td>
<td align="right">
    .8096
</td>
<td align="right">
    .8104
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-26
12:05:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .8099
</td>
<td align="right">
    .8096
</td>
<td align="right">
    .8104
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-27
07:35:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 106.8797
</td>
<td align="right">
 106.8691
</td>
<td align="right">
 106.2477
</td>
<td align="right">
  -.0106
</td>
<td align="right">
  -.6213
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0058
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-27
07:35:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 106.8797
</td>
<td align="right">
 106.8691
</td>
<td align="right">
 106.2477
</td>
<td align="right">
  -.0106
</td>
<td align="right">
  -.6213
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0058
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-27
10:25:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 106.2207
</td>
<td align="right">
 106.2926
</td>
<td align="right">
 106.4182
</td>
<td align="right">
   .0718
</td>
<td align="right">
   .1256
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-27
10:25:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 106.2207
</td>
<td align="right">
 106.2926
</td>
<td align="right">
 106.4182
</td>
<td align="right">
   .0718
</td>
<td align="right">
   .1256
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-27
10:45:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 106.1944
</td>
<td align="right">
 106.1979
</td>
<td align="right">
 106.4643
</td>
<td align="right">
   .0035
</td>
<td align="right">
   .2664
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-27
10:45:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 106.1944
</td>
<td align="right">
 106.1979
</td>
<td align="right">
 106.4643
</td>
<td align="right">
   .0035
</td>
<td align="right">
   .2664
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
01:45:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 105.8526
</td>
<td align="right">
 105.9252
</td>
<td align="right">
 105.9035
</td>
<td align="right">
   .0726
</td>
<td align="right">
  -.0218
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
01:45:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 105.8526
</td>
<td align="right">
 105.9252
</td>
<td align="right">
 105.9035
</td>
<td align="right">
   .0726
</td>
<td align="right">
  -.0218
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
01:55:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
 105.8796
</td>
<td align="right">
 105.9447
</td>
<td align="right">
 105.9205
</td>
<td align="right">
   .0651
</td>
<td align="right">
  -.0242
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
01:55:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
 105.8796
</td>
<td align="right">
 105.9447
</td>
<td align="right">
 105.9205
</td>
<td align="right">
   .0651
</td>
<td align="right">
  -.0242
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
02:00:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 105.8652
</td>
<td align="right">
 105.9380
</td>
<td align="right">
 105.9018
</td>
<td align="right">
   .0727
</td>
<td align="right">
  -.0362
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
02:00:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 105.8652
</td>
<td align="right">
 105.9380
</td>
<td align="right">
 105.9018
</td>
<td align="right">
   .0727
</td>
<td align="right">
  -.0362
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
02:05:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
 105.8972
</td>
<td align="right">
 105.9218
</td>
<td align="right">
 105.8457
</td>
<td align="right">
   .0246
</td>
<td align="right">
  -.0761
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
02:05:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
 105.8972
</td>
<td align="right">
 105.9218
</td>
<td align="right">
 105.8457
</td>
<td align="right">
   .0246
</td>
<td align="right">
  -.0761
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
02:15:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
 105.9252
</td>
<td align="right">
 105.9075
</td>
<td align="right">
 105.7861
</td>
<td align="right">
  -.0178
</td>
<td align="right">
  -.1214
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
02:15:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
 105.9252
</td>
<td align="right">
 105.9075
</td>
<td align="right">
 105.7861
</td>
<td align="right">
  -.0178
</td>
<td align="right">
  -.1214
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
03:00:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
 105.7669
</td>
<td align="right">
 105.8326
</td>
<td align="right">
 105.7290
</td>
<td align="right">
   .0657
</td>
<td align="right">
  -.1036
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
03:00:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
 105.7669
</td>
<td align="right">
 105.8326
</td>
<td align="right">
 105.7290
</td>
<td align="right">
   .0657
</td>
<td align="right">
  -.1036
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
03:25:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
 105.7757
</td>
<td align="right">
 105.8639
</td>
<td align="right">
 105.5344
</td>
<td align="right">
   .0882
</td>
<td align="right">
  -.3295
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
03:25:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
 105.7757
</td>
<td align="right">
 105.8639
</td>
<td align="right">
 105.5344
</td>
<td align="right">
   .0882
</td>
<td align="right">
  -.3295
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
03:35:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 105.8619
</td>
<td align="right">
 105.8959
</td>
<td align="right">
 105.6691
</td>
<td align="right">
   .0341
</td>
<td align="right">
  -.2268
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
03:35:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 105.8619
</td>
<td align="right">
 105.8959
</td>
<td align="right">
 105.6691
</td>
<td align="right">
   .0341
</td>
<td align="right">
  -.2268
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
03:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
 105.8493
</td>
<td align="right">
 105.9215
</td>
<td align="right">
 105.6793
</td>
<td align="right">
   .0722
</td>
<td align="right">
  -.2422
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
03:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
 105.8493
</td>
<td align="right">
 105.9215
</td>
<td align="right">
 105.6793
</td>
<td align="right">
   .0722
</td>
<td align="right">
  -.2422
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
04:30:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
 105.8595
</td>
<td align="right">
 105.9018
</td>
<td align="right">
 105.7010
</td>
<td align="right">
   .0422
</td>
<td align="right">
  -.2008
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
04:35:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 105.8474
</td>
<td align="right">
 105.8457
</td>
<td align="right">
 105.7637
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  -.0821
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
04:35:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 105.8474
</td>
<td align="right">
 105.8457
</td>
<td align="right">
 105.7637
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  -.0821
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
11:20:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.2986
</td>
<td align="right">
   1.2989
</td>
<td align="right">
   1.2994
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
11:20:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.2986
</td>
<td align="right">
   1.2989
</td>
<td align="right">
   1.2994
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-30
07:55:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.3020
</td>
<td align="right">
   1.3015
</td>
<td align="right">
   1.3000
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0016
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-30
07:55:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.3020
</td>
<td align="right">
   1.3015
</td>
<td align="right">
   1.3000
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0016
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-30
08:35:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.3013
</td>
<td align="right">
   1.3012
</td>
<td align="right">
   1.3014
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-30
08:35:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.3013
</td>
<td align="right">
   1.3012
</td>
<td align="right">
   1.3014
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-11-26
15:55:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9951
</td>
<td align="right">
    .9952
</td>
<td align="right">
    .9943
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-26
18:05:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9287
</td>
<td align="right">
    .9287
</td>
<td align="right">
    .9281
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-27
17:40:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9308
</td>
<td align="right">
    .9311
</td>
<td align="right">
    .9309
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-27
17:40:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9308
</td>
<td align="right">
    .9311
</td>
<td align="right">
    .9309
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-29
06:00:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9297
</td>
<td align="right">
    .9299
</td>
<td align="right">
    .9281
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-29
06:00:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9297
</td>
<td align="right">
    .9299
</td>
<td align="right">
    .9281
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-29
06:50:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
    .9299
</td>
<td align="right">
    .9297
</td>
<td align="right">
    .9271
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0027
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-29
06:50:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
    .9299
</td>
<td align="right">
    .9297
</td>
<td align="right">
    .9271
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0027
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-29
07:05:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9298
</td>
<td align="right">
    .9298
</td>
<td align="right">
    .9275
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0023
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-29
07:05:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9298
</td>
<td align="right">
    .9298
</td>
<td align="right">
    .9275
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0023
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-29
15:25:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9276
</td>
<td align="right">
    .9277
</td>
<td align="right">
    .9278
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-29
15:25:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9276
</td>
<td align="right">
    .9277
</td>
<td align="right">
    .9278
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-29
18:25:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9278
</td>
<td align="right">
    .9279
</td>
<td align="right">
    .9279
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-29
18:25:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9278
</td>
<td align="right">
    .9279
</td>
<td align="right">
    .9279
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-29
18:45:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9278
</td>
<td align="right">
    .9280
</td>
<td align="right">
    .9278
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-29
18:45:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9278
</td>
<td align="right">
    .9280
</td>
<td align="right">
    .9278
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
12:45:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .9281
</td>
<td align="right">
    .9281
</td>
<td align="right">
    .9269
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
12:45:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .9281
</td>
<td align="right">
    .9281
</td>
<td align="right">
    .9269
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
12:50:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9279
</td>
<td align="right">
    .9281
</td>
<td align="right">
    .9269
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
12:50:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9279
</td>
<td align="right">
    .9281
</td>
<td align="right">
    .9269
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
12:55:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .9280
</td>
<td align="right">
    .9278
</td>
<td align="right">
    .9265
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0013
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
12:55:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .9280
</td>
<td align="right">
    .9278
</td>
<td align="right">
    .9265
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0013
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
13:00:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
    .9281
</td>
<td align="right">
    .9290
</td>
<td align="right">
    .9262
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0028
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0030
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
13:00:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
    .9281
</td>
<td align="right">
    .9290
</td>
<td align="right">
    .9262
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0028
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0030
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
13:05:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9278
</td>
<td align="right">
    .9290
</td>
<td align="right">
    .9264
</td>
<td align="right">
   .0013
</td>
<td align="right">
  -.0026
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
13:05:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9278
</td>
<td align="right">
    .9290
</td>
<td align="right">
    .9264
</td>
<td align="right">
   .0013
</td>
<td align="right">
  -.0026
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
13:10:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9282
</td>
<td align="right">
    .9287
</td>
<td align="right">
    .9262
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
13:10:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9282
</td>
<td align="right">
    .9287
</td>
<td align="right">
    .9262
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
13:15:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .9281
</td>
<td align="right">
    .9287
</td>
<td align="right">
    .9262
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
13:15:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .9281
</td>
<td align="right">
    .9287
</td>
<td align="right">
    .9262
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
13:20:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9281
</td>
<td align="right">
    .9286
</td>
<td align="right">
    .9262
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
13:20:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9281
</td>
<td align="right">
    .9286
</td>
<td align="right">
    .9262
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
13:30:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9290
</td>
<td align="right">
    .9287
</td>
<td align="right">
    .9266
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0021
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
13:30:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9290
</td>
<td align="right">
    .9287
</td>
<td align="right">
    .9266
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0021
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
13:55:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .9285
</td>
<td align="right">
    .9283
</td>
<td align="right">
    .9265
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0018
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
13:55:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .9285
</td>
<td align="right">
    .9283
</td>
<td align="right">
    .9265
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0018
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
14:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .9282
</td>
<td align="right">
    .9280
</td>
<td align="right">
    .9269
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
14:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .9282
</td>
<td align="right">
    .9280
</td>
<td align="right">
    .9269
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
14:20:00
</td>
<td align="right">
 -.84
</td>
<td align="right">
    .9282
</td>
<td align="right">
    .9278
</td>
<td align="right">
    .9266
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0013
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
14:20:00
</td>
<td align="right">
 -.84
</td>
<td align="right">
    .9282
</td>
<td align="right">
    .9278
</td>
<td align="right">
    .9266
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0013
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-27
01:25:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  82.0075
</td>
<td align="right">
  82.0275
</td>
<td align="right">
  82.0025
</td>
<td align="right">
   .0200
</td>
<td align="right">
  -.0250
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-27
01:25:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  82.0075
</td>
<td align="right">
  82.0275
</td>
<td align="right">
  82.0025
</td>
<td align="right">
   .0200
</td>
<td align="right">
  -.0250
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-27
01:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  82.0175
</td>
<td align="right">
  81.9925
</td>
<td align="right">
  81.9925
</td>
<td align="right">
  -.0250
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-27
01:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  82.0175
</td>
<td align="right">
  81.9925
</td>
<td align="right">
  81.9925
</td>
<td align="right">
  -.0250
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-27
02:10:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  82.0000
</td>
<td align="right">
  82.0200
</td>
<td align="right">
  82.2725
</td>
<td align="right">
   .0200
</td>
<td align="right">
   .2525
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0031
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
20:50:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
  82.0925
</td>
<td align="right">
  82.0875
</td>
<td align="right">
  82.1150
</td>
<td align="right">
  -.0050
</td>
<td align="right">
   .0275
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
20:50:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
  82.0925
</td>
<td align="right">
  82.0875
</td>
<td align="right">
  82.1150
</td>
<td align="right">
  -.0050
</td>
<td align="right">
   .0275
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
21:40:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
  82.1125
</td>
<td align="right">
  82.1075
</td>
<td align="right">
  82.1325
</td>
<td align="right">
  -.0050
</td>
<td align="right">
   .0250
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
21:40:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
  82.1125
</td>
<td align="right">
  82.1075
</td>
<td align="right">
  82.1325
</td>
<td align="right">
  -.0050
</td>
<td align="right">
   .0250
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
21:50:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
  82.1250
</td>
<td align="right">
  82.1350
</td>
<td align="right">
  82.0975
</td>
<td align="right">
   .0100
</td>
<td align="right">
  -.0375
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
21:50:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
  82.1250
</td>
<td align="right">
  82.1350
</td>
<td align="right">
  82.0975
</td>
<td align="right">
   .0100
</td>
<td align="right">
  -.0375
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
21:55:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  82.1175
</td>
<td align="right">
  82.1325
</td>
<td align="right">
  82.1125
</td>
<td align="right">
   .0150
</td>
<td align="right">
  -.0200
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
21:55:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  82.1175
</td>
<td align="right">
  82.1325
</td>
<td align="right">
  82.1125
</td>
<td align="right">
   .0150
</td>
<td align="right">
  -.0200
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0002
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-26
01:30:00
</td>
<td align="right">
  .76
</td>
<td align="right">
  86.1770
</td>
<td align="right">
  86.0078
</td>
<td align="right">
  86.0365
</td>
<td align="right">
  -.1692
</td>
<td align="right">
   .0287
</td>
<td align="right">
 -.0020
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-26
01:30:00
</td>
<td align="right">
  .76
</td>
<td align="right">
  86.1770
</td>
<td align="right">
  86.0078
</td>
<td align="right">
  86.0365
</td>
<td align="right">
  -.1692
</td>
<td align="right">
   .0287
</td>
<td align="right">
 -.0020
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-26
01:35:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  86.1684
</td>
<td align="right">
  85.9520
</td>
<td align="right">
  86.0525
</td>
<td align="right">
  -.2165
</td>
<td align="right">
   .1006
</td>
<td align="right">
 -.0025
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-26
01:35:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  86.1684
</td>
<td align="right">
  85.9520
</td>
<td align="right">
  86.0525
</td>
<td align="right">
  -.2165
</td>
<td align="right">
   .1006
</td>
<td align="right">
 -.0025
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-26
03:05:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  86.0500
</td>
<td align="right">
  86.0000
</td>
<td align="right">
  85.9673
</td>
<td align="right">
  -.0499
</td>
<td align="right">
  -.0327
</td>
<td align="right">
 -.0006
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-26
03:05:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  86.0500
</td>
<td align="right">
  86.0000
</td>
<td align="right">
  85.9673
</td>
<td align="right">
  -.0499
</td>
<td align="right">
  -.0327
</td>
<td align="right">
 -.0006
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-26
03:10:00
</td>
<td align="right">
  .60
</td>
<td align="right">
  86.0364
</td>
<td align="right">
  86.0294
</td>
<td align="right">
  85.9599
</td>
<td align="right">
  -.0070
</td>
<td align="right">
  -.0695
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-26
03:10:00
</td>
<td align="right">
  .60
</td>
<td align="right">
  86.0364
</td>
<td align="right">
  86.0294
</td>
<td align="right">
  85.9599
</td>
<td align="right">
  -.0070
</td>
<td align="right">
  -.0695
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-26
04:25:00
</td>
<td align="right">
  .67
</td>
<td align="right">
  86.0501
</td>
<td align="right">
  86.0807
</td>
<td align="right">
  86.0120
</td>
<td align="right">
   .0306
</td>
<td align="right">
  -.0687
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-26
04:25:00
</td>
<td align="right">
  .67
</td>
<td align="right">
  86.0501
</td>
<td align="right">
  86.0807
</td>
<td align="right">
  86.0120
</td>
<td align="right">
   .0306
</td>
<td align="right">
  -.0687
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-26
05:00:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  86.0889
</td>
<td align="right">
  86.0476
</td>
<td align="right">
  85.8833
</td>
<td align="right">
  -.0413
</td>
<td align="right">
  -.1643
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-26
05:00:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  86.0889
</td>
<td align="right">
  86.0476
</td>
<td align="right">
  85.8833
</td>
<td align="right">
  -.0413
</td>
<td align="right">
  -.1643
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-26
05:10:00
</td>
<td align="right">
  .74
</td>
<td align="right">
  86.0876
</td>
<td align="right">
  86.0224
</td>
<td align="right">
  85.8727
</td>
<td align="right">
  -.0652
</td>
<td align="right">
  -.1497
</td>
<td align="right">
 -.0008
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-26
08:10:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.2401
</td>
<td align="right">
   1.2401
</td>
<td align="right">
   1.2406
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-26
08:10:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.2401
</td>
<td align="right">
   1.2401
</td>
<td align="right">
   1.2406
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-26
20:20:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.2392
</td>
<td align="right">
   1.2394
</td>
<td align="right">
   1.2395
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-26
20:20:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.2392
</td>
<td align="right">
   1.2394
</td>
<td align="right">
   1.2395
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-26
20:30:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.2397
</td>
<td align="right">
   1.2392
</td>
<td align="right">
   1.2403
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0012
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-26
20:30:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.2397
</td>
<td align="right">
   1.2392
</td>
<td align="right">
   1.2403
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0012
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-26
20:35:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.2395
</td>
<td align="right">
   1.2392
</td>
<td align="right">
   1.2401
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-26
20:35:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.2395
</td>
<td align="right">
   1.2392
</td>
<td align="right">
   1.2401
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-26
23:25:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.2401
</td>
<td align="right">
   1.2404
</td>
<td align="right">
   1.2385
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-26
23:25:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.2401
</td>
<td align="right">
   1.2404
</td>
<td align="right">
   1.2385
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-27
10:35:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2365
</td>
<td align="right">
   1.2355
</td>
<td align="right">
   1.2360
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-27
10:35:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2365
</td>
<td align="right">
   1.2355
</td>
<td align="right">
   1.2360
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
07:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.2361
</td>
<td align="right">
   1.2357
</td>
<td align="right">
   1.2363
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
07:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.2361
</td>
<td align="right">
   1.2357
</td>
<td align="right">
   1.2363
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
07:10:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2362
</td>
<td align="right">
   1.2360
</td>
<td align="right">
   1.2361
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
07:10:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2362
</td>
<td align="right">
   1.2360
</td>
<td align="right">
   1.2361
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
08:05:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.2364
</td>
<td align="right">
   1.2363
</td>
<td align="right">
   1.2356
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
08:05:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.2364
</td>
<td align="right">
   1.2363
</td>
<td align="right">
   1.2356
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
08:20:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.2363
</td>
<td align="right">
   1.2364
</td>
<td align="right">
   1.2349
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
08:20:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.2363
</td>
<td align="right">
   1.2364
</td>
<td align="right">
   1.2349
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
09:25:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2361
</td>
<td align="right">
   1.2364
</td>
<td align="right">
   1.2354
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
09:25:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2361
</td>
<td align="right">
   1.2364
</td>
<td align="right">
   1.2354
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
12:00:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.2350
</td>
<td align="right">
   1.2354
</td>
<td align="right">
   1.2351
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
12:00:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.2350
</td>
<td align="right">
   1.2354
</td>
<td align="right">
   1.2351
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
16:15:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.2342
</td>
<td align="right">
   1.2346
</td>
<td align="right">
   1.2339
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
16:15:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.2342
</td>
<td align="right">
   1.2346
</td>
<td align="right">
   1.2339
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-29
10:40:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2415
</td>
<td align="right">
   1.2408
</td>
<td align="right">
   1.2442
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0033
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0027
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-29
10:40:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2415
</td>
<td align="right">
   1.2408
</td>
<td align="right">
   1.2442
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0033
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0027
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-29
18:30:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.2438
</td>
<td align="right">
   1.2436
</td>
<td align="right">
   1.2435
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-29
18:30:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.2438
</td>
<td align="right">
   1.2436
</td>
<td align="right">
   1.2435
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-30
00:25:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2441
</td>
<td align="right">
   1.2446
</td>
<td align="right">
   1.2466
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0020
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-30
00:25:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2441
</td>
<td align="right">
   1.2446
</td>
<td align="right">
   1.2466
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0020
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-25
22:50:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .8094
</td>
<td align="right">
    .8087
</td>
<td align="right">
    .8085
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0008
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-25
22:50:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .8094
</td>
<td align="right">
    .8087
</td>
<td align="right">
    .8085
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0008
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-27
05:05:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .8100
</td>
<td align="right">
    .8098
</td>
<td align="right">
    .8096
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-27
05:05:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .8100
</td>
<td align="right">
    .8098
</td>
<td align="right">
    .8096
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-27
09:35:00
</td>
<td align="right">
  .62
</td>
<td align="right">
 106.4390
</td>
<td align="right">
 106.4064
</td>
<td align="right">
 106.5287
</td>
<td align="right">
  -.0325
</td>
<td align="right">
   .1223
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-27
09:35:00
</td>
<td align="right">
  .62
</td>
<td align="right">
 106.4390
</td>
<td align="right">
 106.4064
</td>
<td align="right">
 106.5287
</td>
<td align="right">
  -.0325
</td>
<td align="right">
   .1223
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-27
11:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2943
</td>
<td align="right">
   1.2946
</td>
<td align="right">
   1.2942
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-27
11:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2943
</td>
<td align="right">
   1.2946
</td>
<td align="right">
   1.2942
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
17:25:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.2970
</td>
<td align="right">
   1.2972
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
17:25:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.2970
</td>
<td align="right">
   1.2972
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
17:40:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.2969
</td>
<td align="right">
   1.2970
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
17:40:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.2969
</td>
<td align="right">
   1.2970
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
17:45:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.2971
</td>
<td align="right">
   1.2973
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
17:45:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.2971
</td>
<td align="right">
   1.2973
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:15:00
</td>
<td align="right">
  .80
</td>
<td align="right">
   1.2973
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:15:00
</td>
<td align="right">
  .80
</td>
<td align="right">
   1.2973
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:20:00
</td>
<td align="right">
  .83
</td>
<td align="right">
   1.2973
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:20:00
</td>
<td align="right">
  .83
</td>
<td align="right">
   1.2973
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:25:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:25:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:30:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:30:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:35:00
</td>
<td align="right">
  .86
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2973
</td>
<td align="right">
   1.2976
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:35:00
</td>
<td align="right">
  .86
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2973
</td>
<td align="right">
   1.2976
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:40:00
</td>
<td align="right">
  .91
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2972
</td>
<td align="right">
   1.2976
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:40:00
</td>
<td align="right">
  .91
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2972
</td>
<td align="right">
   1.2976
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:45:00
</td>
<td align="right">
  .84
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2972
</td>
<td align="right">
   1.2976
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:45:00
</td>
<td align="right">
  .84
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2972
</td>
<td align="right">
   1.2976
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:50:00
</td>
<td align="right">
  .75
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2972
</td>
<td align="right">
   1.2978
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:50:00
</td>
<td align="right">
  .75
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2972
</td>
<td align="right">
   1.2978
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
19:00:00
</td>
<td align="right">
  .86
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2968
</td>
<td align="right">
   1.2978
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
19:00:00
</td>
<td align="right">
  .86
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2968
</td>
<td align="right">
   1.2978
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
19:15:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.2972
</td>
<td align="right">
   1.2971
</td>
<td align="right">
   1.2978
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
19:15:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.2972
</td>
<td align="right">
   1.2971
</td>
<td align="right">
   1.2978
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
19:20:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.2972
</td>
<td align="right">
   1.2971
</td>
<td align="right">
   1.2978
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
19:20:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.2972
</td>
<td align="right">
   1.2971
</td>
<td align="right">
   1.2978
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
20:00:00
</td>
<td align="right">
  .78
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2971
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
20:00:00
</td>
<td align="right">
  .78
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2971
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
20:15:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
20:15:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
20:20:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.2973
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
20:20:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.2973
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
20:25:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
20:25:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
20:40:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2972
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
20:40:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2972
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
20:45:00
</td>
<td align="right">
  .79
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2970
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
20:45:00
</td>
<td align="right">
  .79
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2970
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
20:55:00
</td>
<td align="right">
  .80
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2972
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
20:55:00
</td>
<td align="right">
  .80
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2972
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
21:15:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2973
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
21:15:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2973
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
21:20:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2978
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
21:20:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2978
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
22:45:00
</td>
<td align="right">
  .80
</td>
<td align="right">
   1.2978
</td>
<td align="right">
   1.2971
</td>
<td align="right">
   1.2989
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0018
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
22:45:00
</td>
<td align="right">
  .80
</td>
<td align="right">
   1.2978
</td>
<td align="right">
   1.2971
</td>
<td align="right">
   1.2989
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0018
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
23:15:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.2971
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2998
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0024
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
23:15:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.2971
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2998
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0024
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-30
09:55:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.3001
</td>
<td align="right">
   1.2995
</td>
<td align="right">
   1.2988
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-30
09:55:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.3001
</td>
<td align="right">
   1.2995
</td>
<td align="right">
   1.2988
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-30
13:40:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.2978
</td>
<td align="right">
   1.2983
</td>
<td align="right">
   1.3006
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0022
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-30
13:40:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.2978
</td>
<td align="right">
   1.2983
</td>
<td align="right">
   1.3006
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0022
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-30
13:45:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.2978
</td>
<td align="right">
   1.2981
</td>
<td align="right">
   1.3007
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0026
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-30
13:45:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.2978
</td>
<td align="right">
   1.2981
</td>
<td align="right">
   1.3007
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0026
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-30
17:45:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.3001
</td>
<td align="right">
   1.3005
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-30
17:45:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.3001
</td>
<td align="right">
   1.3005
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-30
21:30:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.3004
</td>
<td align="right">
   1.2992
</td>
<td align="right">
   1.2998
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-30
21:30:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.3004
</td>
<td align="right">
   1.2992
</td>
<td align="right">
   1.2998
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-30
21:40:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.2989
</td>
<td align="right">
   1.2993
</td>
<td align="right">
   1.3003
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0010
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-30
21:40:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.2989
</td>
<td align="right">
   1.2993
</td>
<td align="right">
   1.3003
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0010
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-26
00:25:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.6033
</td>
<td align="right">
   1.6029
</td>
<td align="right">
   1.6027
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-26
00:25:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.6033
</td>
<td align="right">
   1.6029
</td>
<td align="right">
   1.6027
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-29
11:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.6013
</td>
<td align="right">
   1.6019
</td>
<td align="right">
   1.6039
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0019
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-29
11:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.6013
</td>
<td align="right">
   1.6019
</td>
<td align="right">
   1.6039
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0019
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-29
11:50:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.6015
</td>
<td align="right">
   1.6020
</td>
<td align="right">
   1.6037
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0017
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-29
11:50:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.6015
</td>
<td align="right">
   1.6020
</td>
<td align="right">
   1.6037
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0017
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-30
08:15:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.6048
</td>
<td align="right">
   1.6045
</td>
<td align="right">
   1.6048
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-30
08:15:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.6048
</td>
<td align="right">
   1.6045
</td>
<td align="right">
   1.6048
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-30
08:45:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.6045
</td>
<td align="right">
   1.6051
</td>
<td align="right">
   1.6053
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-30
08:45:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.6045
</td>
<td align="right">
   1.6051
</td>
<td align="right">
   1.6053
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-30
09:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.6046
</td>
<td align="right">
   1.6049
</td>
<td align="right">
   1.6057
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0008
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-30
09:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.6046
</td>
<td align="right">
   1.6049
</td>
<td align="right">
   1.6057
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0008
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-30
09:45:00
</td>
<td align="right">
  .75
</td>
<td align="right">
   1.6044
</td>
<td align="right">
   1.6033
</td>
<td align="right">
   1.6030
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-30
09:45:00
</td>
<td align="right">
  .75
</td>
<td align="right">
   1.6044
</td>
<td align="right">
   1.6033
</td>
<td align="right">
   1.6030
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-30
09:55:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.6027
</td>
<td align="right">
   1.6033
</td>
<td align="right">
   1.6026
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-30
09:55:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.6027
</td>
<td align="right">
   1.6033
</td>
<td align="right">
   1.6026
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-26
07:55:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  82.1800
</td>
<td align="right">
  82.0850
</td>
<td align="right">
  82.0475
</td>
<td align="right">
  -.0950
</td>
<td align="right">
  -.0375
</td>
<td align="right">
 -.0012
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-26
07:55:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  82.1800
</td>
<td align="right">
  82.0850
</td>
<td align="right">
  82.0475
</td>
<td align="right">
  -.0950
</td>
<td align="right">
  -.0375
</td>
<td align="right">
 -.0012
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-27
19:35:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  82.1700
</td>
<td align="right">
  82.1450
</td>
<td align="right">
  82.1175
</td>
<td align="right">
  -.0250
</td>
<td align="right">
  -.0275
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-27
19:35:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  82.1700
</td>
<td align="right">
  82.1450
</td>
<td align="right">
  82.1175
</td>
<td align="right">
  -.0250
</td>
<td align="right">
  -.0275
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-28
10:10:00
</td>
<td align="right">
  .70
</td>
<td align="right">
  81.8475
</td>
<td align="right">
  81.8475
</td>
<td align="right">
  81.7875
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0600
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-28
10:10:00
</td>
<td align="right">
  .70
</td>
<td align="right">
  81.8475
</td>
<td align="right">
  81.8475
</td>
<td align="right">
  81.7875
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0600
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-28
10:20:00
</td>
<td align="right">
  .70
</td>
<td align="right">
  81.8625
</td>
<td align="right">
  81.8700
</td>
<td align="right">
  81.8500
</td>
<td align="right">
   .0075
</td>
<td align="right">
  -.0200
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-28
10:20:00
</td>
<td align="right">
  .70
</td>
<td align="right">
  81.8625
</td>
<td align="right">
  81.8700
</td>
<td align="right">
  81.8500
</td>
<td align="right">
   .0075
</td>
<td align="right">
  -.0200
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
15:45:00
</td>
<td align="right">
  .77
</td>
<td align="right">
  82.0850
</td>
<td align="right">
  82.1175
</td>
<td align="right">
  82.1225
</td>
<td align="right">
   .0325
</td>
<td align="right">
   .0050
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
15:45:00
</td>
<td align="right">
  .77
</td>
<td align="right">
  82.0850
</td>
<td align="right">
  82.1175
</td>
<td align="right">
  82.1225
</td>
<td align="right">
   .0325
</td>
<td align="right">
   .0050
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
15:50:00
</td>
<td align="right">
  .67
</td>
<td align="right">
  82.1175
</td>
<td align="right">
  82.1100
</td>
<td align="right">
  82.1200
</td>
<td align="right">
  -.0075
</td>
<td align="right">
   .0100
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
15:50:00
</td>
<td align="right">
  .67
</td>
<td align="right">
  82.1175
</td>
<td align="right">
  82.1100
</td>
<td align="right">
  82.1200
</td>
<td align="right">
  -.0075
</td>
<td align="right">
   .0100
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
16:00:00
</td>
<td align="right">
  .63
</td>
<td align="right">
  82.1375
</td>
<td align="right">
  82.1225
</td>
<td align="right">
  82.1125
</td>
<td align="right">
  -.0150
</td>
<td align="right">
  -.0100
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
16:00:00
</td>
<td align="right">
  .63
</td>
<td align="right">
  82.1375
</td>
<td align="right">
  82.1225
</td>
<td align="right">
  82.1125
</td>
<td align="right">
  -.0150
</td>
<td align="right">
  -.0100
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
16:10:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  82.1275
</td>
<td align="right">
  82.0450
</td>
<td align="right">
  82.1525
</td>
<td align="right">
  -.0825
</td>
<td align="right">
   .1075
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
16:10:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  82.1275
</td>
<td align="right">
  82.0450
</td>
<td align="right">
  82.1525
</td>
<td align="right">
  -.0825
</td>
<td align="right">
   .1075
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
16:55:00
</td>
<td align="right">
  .59
</td>
<td align="right">
  82.0675
</td>
<td align="right">
  82.0775
</td>
<td align="right">
  82.1225
</td>
<td align="right">
   .0100
</td>
<td align="right">
   .0450
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
16:55:00
</td>
<td align="right">
  .59
</td>
<td align="right">
  82.0675
</td>
<td align="right">
  82.0775
</td>
<td align="right">
  82.1225
</td>
<td align="right">
   .0100
</td>
<td align="right">
   .0450
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
17:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
  82.0525
</td>
<td align="right">
  82.0825
</td>
<td align="right">
  82.1175
</td>
<td align="right">
   .0300
</td>
<td align="right">
   .0350
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
17:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
  82.0525
</td>
<td align="right">
  82.0825
</td>
<td align="right">
  82.1175
</td>
<td align="right">
   .0300
</td>
<td align="right">
   .0350
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
17:40:00
</td>
<td align="right">
  .59
</td>
<td align="right">
  82.0900
</td>
<td align="right">
  82.0825
</td>
<td align="right">
  82.0925
</td>
<td align="right">
  -.0075
</td>
<td align="right">
   .0100
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
17:40:00
</td>
<td align="right">
  .59
</td>
<td align="right">
  82.0900
</td>
<td align="right">
  82.0825
</td>
<td align="right">
  82.0925
</td>
<td align="right">
  -.0075
</td>
<td align="right">
   .0100
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
17:50:00
</td>
<td align="right">
  .57
</td>
<td align="right">
  82.0825
</td>
<td align="right">
  82.0875
</td>
<td align="right">
  82.0925
</td>
<td align="right">
   .0050
</td>
<td align="right">
   .0050
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
17:50:00
</td>
<td align="right">
  .57
</td>
<td align="right">
  82.0825
</td>
<td align="right">
  82.0875
</td>
<td align="right">
  82.0925
</td>
<td align="right">
   .0050
</td>
<td align="right">
   .0050
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
17:55:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  82.0725
</td>
<td align="right">
  82.0775
</td>
<td align="right">
  82.1000
</td>
<td align="right">
   .0050
</td>
<td align="right">
   .0225
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
17:55:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  82.0725
</td>
<td align="right">
  82.0775
</td>
<td align="right">
  82.1000
</td>
<td align="right">
   .0050
</td>
<td align="right">
   .0225
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
18:05:00
</td>
<td align="right">
  .68
</td>
<td align="right">
  82.0775
</td>
<td align="right">
  82.1075
</td>
<td align="right">
  82.0875
</td>
<td align="right">
   .0300
</td>
<td align="right">
  -.0200
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
18:05:00
</td>
<td align="right">
  .68
</td>
<td align="right">
  82.0775
</td>
<td align="right">
  82.1075
</td>
<td align="right">
  82.0875
</td>
<td align="right">
   .0300
</td>
<td align="right">
  -.0200
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
18:20:00
</td>
<td align="right">
  .64
</td>
<td align="right">
  82.0875
</td>
<td align="right">
  82.1200
</td>
<td align="right">
  82.0875
</td>
<td align="right">
   .0325
</td>
<td align="right">
  -.0325
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
18:20:00
</td>
<td align="right">
  .64
</td>
<td align="right">
  82.0875
</td>
<td align="right">
  82.1200
</td>
<td align="right">
  82.0875
</td>
<td align="right">
   .0325
</td>
<td align="right">
  -.0325
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
18:30:00
</td>
<td align="right">
  .75
</td>
<td align="right">
  82.1025
</td>
<td align="right">
  82.1125
</td>
<td align="right">
  82.1075
</td>
<td align="right">
   .0100
</td>
<td align="right">
  -.0050
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
18:30:00
</td>
<td align="right">
  .75
</td>
<td align="right">
  82.1025
</td>
<td align="right">
  82.1125
</td>
<td align="right">
  82.1075
</td>
<td align="right">
   .0100
</td>
<td align="right">
  -.0050
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
18:45:00
</td>
<td align="right">
  .60
</td>
<td align="right">
  82.1225
</td>
<td align="right">
  82.1400
</td>
<td align="right">
  82.1175
</td>
<td align="right">
   .0175
</td>
<td align="right">
  -.0225
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
18:45:00
</td>
<td align="right">
  .60
</td>
<td align="right">
  82.1225
</td>
<td align="right">
  82.1400
</td>
<td align="right">
  82.1175
</td>
<td align="right">
   .0175
</td>
<td align="right">
  -.0225
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
19:25:00
</td>
<td align="right">
  .67
</td>
<td align="right">
  82.1275
</td>
<td align="right">
  82.1225
</td>
<td align="right">
  82.1325
</td>
<td align="right">
  -.0050
</td>
<td align="right">
   .0100
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
19:25:00
</td>
<td align="right">
  .67
</td>
<td align="right">
  82.1275
</td>
<td align="right">
  82.1225
</td>
<td align="right">
  82.1325
</td>
<td align="right">
  -.0050
</td>
<td align="right">
   .0100
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0001
</td>
</tr>
</table>
<br />
