<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2013_01_22<h4>Week of: 2013_01_22 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -5.83
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0026
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0103
</td>
<td align="right">
  -.0032
</td>
<td align="right">
  -.0023
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -2.31
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0015
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0062
</td>
<td align="right">
  -.0022
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0165
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .63
</td>
<td align="right">
     .05
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   .0001
</td>
<td align="right">
    2
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0015
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .57
</td>
<td align="right">
   11.63
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0037
</td>
<td align="right">
    2
</td>
<td align="right">
   .0074
</td>
<td align="right">
   .0035
</td>
<td align="right">
   .0039
</td>
<td align="right">
   .0003
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    4
</td>
<td align="right">
   .0076
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-22
04:35:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
  94.0103
</td>
<td align="right">
  94.0737
</td>
<td align="right">
  93.8446
</td>
<td align="right">
   .0634
</td>
<td align="right">
  -.2291
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-22
04:55:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  94.0246
</td>
<td align="right">
  94.0098
</td>
<td align="right">
  93.7925
</td>
<td align="right">
  -.0149
</td>
<td align="right">
  -.2173
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-22
05:00:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  94.0322
</td>
<td align="right">
  94.0915
</td>
<td align="right">
  93.8759
</td>
<td align="right">
   .0594
</td>
<td align="right">
  -.2157
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2013-01-22
05:10:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  94.0453
</td>
<td align="right">
  94.1431
</td>
<td align="right">
  93.8405
</td>
<td align="right">
   .0978
</td>
<td align="right">
  -.3026
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-22
04:15:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
 119.0718
</td>
<td align="right">
 119.1198
</td>
<td align="right">
 118.4279
</td>
<td align="right">
   .0480
</td>
<td align="right">
  -.6919
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0058
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2013-01-22
07:20:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.3360
</td>
<td align="right">
   1.3356
</td>
<td align="right">
   1.3309
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0047
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0035
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2013-01-22
06:25:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .9309
</td>
<td align="right">
    .9312
</td>
<td align="right">
    .9292
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0020
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2013-01-22
06:50:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .9306
</td>
<td align="right">
    .9306
</td>
<td align="right">
    .9294
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0012
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2013-01-22
07:05:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .9307
</td>
<td align="right">
    .9314
</td>
<td align="right">
    .9295
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2013-01-22
07:20:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .9309
</td>
<td align="right">
    .9314
</td>
<td align="right">
    .9307
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2013-01-22
00:15:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  89.5875
</td>
<td align="right">
  89.6800
</td>
<td align="right">
  89.2075
</td>
<td align="right">
   .0925
</td>
<td align="right">
  -.4725
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0053
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2013-01-22
06:25:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.0552
</td>
<td align="right">
   1.0555
</td>
<td align="right">
   1.0568
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0013
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-22
00:45:00
</td>
<td align="right">
  .66
</td>
<td align="right">
 119.3916
</td>
<td align="right">
 119.3074
</td>
<td align="right">
 119.1889
</td>
<td align="right">
  -.0842
</td>
<td align="right">
  -.1185
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2013-01-22
01:25:00
</td>
<td align="right">
  .60
</td>
<td align="right">
 119.3706
</td>
<td align="right">
 119.0470
</td>
<td align="right">
 119.1835
</td>
<td align="right">
  -.3236
</td>
<td align="right">
   .1365
</td>
<td align="right">
 -.0027
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2013-01-22
00:50:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.3304
</td>
<td align="right">
   1.3310
</td>
<td align="right">
   1.3356
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0046
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0035
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2013-01-22
00:55:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.3307
</td>
<td align="right">
   1.3309
</td>
<td align="right">
   1.3361
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0052
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0039
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2013-01-22
06:20:00
</td>
<td align="right">
  .63
</td>
<td align="right">
  89.1775
</td>
<td align="right">
  89.1450
</td>
<td align="right">
  88.6125
</td>
<td align="right">
  -.0325
</td>
<td align="right">
  -.5325
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0060
</td>
</tr>
</table>
<br />
