<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2011_12_11<h4>Week of: 2011_12_11 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -1.67
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0038
</td>
<td align="right">
   38
</td>
<td align="right">
  -.1430
</td>
<td align="right">
  -.0104
</td>
<td align="right">
   .0028
</td>
<td align="right">
   .0023
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.67
</td>
<td align="right">
   -2.73
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0036
</td>
<td align="right">
   17
</td>
<td align="right">
  -.0620
</td>
<td align="right">
  -.0059
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   .0013
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.05
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   39
</td>
<td align="right">
  -.0042
</td>
<td align="right">
  -.0035
</td>
<td align="right">
   .0062
</td>
<td align="right">
   .0022
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.66
</td>
<td align="right">
   -1.52
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0040
</td>
<td align="right">
   14
</td>
<td align="right">
  -.0559
</td>
<td align="right">
  -.0067
</td>
<td align="right">
   .0012
</td>
<td align="right">
   .0026
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.03
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0000
</td>
<td align="right">
   30
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -1.63
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0073
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0580
</td>
<td align="right">
  -.0102
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0044
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.68
</td>
<td align="right">
    1.65
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0019
</td>
<td align="right">
   11
</td>
<td align="right">
   .0213
</td>
<td align="right">
   .0012
</td>
<td align="right">
   .0054
</td>
<td align="right">
   .0012
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .24
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0000
</td>
<td align="right">
    2
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0001
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  159
</td>
<td align="right">
  -.3021
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .62
</td>
<td align="right">
     .07
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   .0001
</td>
<td align="right">
    2
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0013
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .65
</td>
<td align="right">
   -1.02
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  -.0038
</td>
<td align="right">
   17
</td>
<td align="right">
  -.0640
</td>
<td align="right">
  -.0081
</td>
<td align="right">
   .0017
</td>
<td align="right">
   .0037
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .67
</td>
<td align="right">
     .11
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0002
</td>
<td align="right">
   24
</td>
<td align="right">
   .0041
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0045
</td>
<td align="right">
   .0016
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .60
</td>
<td align="right">
    1.45
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0005
</td>
<td align="right">
    7
</td>
<td align="right">
   .0034
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .69
</td>
<td align="right">
     .09
</td>
<td align="right">
  -.0021
</td>
<td align="right">
   .0002
</td>
<td align="right">
    5
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0036
</td>
<td align="right">
   .0020
</td>
<td align="right">
   .0022
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .70
</td>
<td align="right">
    2.21
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0047
</td>
<td align="right">
    8
</td>
<td align="right">
   .0377
</td>
<td align="right">
   .0025
</td>
<td align="right">
   .0079
</td>
<td align="right">
   .0021
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .62
</td>
<td align="right">
     .99
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0009
</td>
<td align="right">
    8
</td>
<td align="right">
   .0071
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0030
</td>
<td align="right">
   .0009
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   71
</td>
<td align="right">
  -.0105
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
00:30:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  79.0619
</td>
<td align="right">
  79.0398
</td>
<td align="right">
  79.0231
</td>
<td align="right">
  -.0221
</td>
<td align="right">
  -.0167
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
01:30:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  79.0398
</td>
<td align="right">
  79.0273
</td>
<td align="right">
  78.9051
</td>
<td align="right">
  -.0125
</td>
<td align="right">
  -.1223
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
01:35:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  78.9935
</td>
<td align="right">
  79.0850
</td>
<td align="right">
  78.8773
</td>
<td align="right">
   .0915
</td>
<td align="right">
  -.2077
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
01:40:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
  78.9780
</td>
<td align="right">
  79.0882
</td>
<td align="right">
  78.8422
</td>
<td align="right">
   .1103
</td>
<td align="right">
  -.2460
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
01:45:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
  79.0699
</td>
<td align="right">
  79.0540
</td>
<td align="right">
  78.7468
</td>
<td align="right">
  -.0159
</td>
<td align="right">
  -.3072
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0039
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
04:30:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
  79.0450
</td>
<td align="right">
  79.0205
</td>
<td align="right">
  78.7311
</td>
<td align="right">
  -.0245
</td>
<td align="right">
  -.2895
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
04:35:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
  79.0244
</td>
<td align="right">
  79.0154
</td>
<td align="right">
  78.7474
</td>
<td align="right">
  -.0090
</td>
<td align="right">
  -.2680
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
04:40:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  79.0166
</td>
<td align="right">
  78.9981
</td>
<td align="right">
  78.7198
</td>
<td align="right">
  -.0185
</td>
<td align="right">
  -.2783
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0035
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
08:05:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  78.6369
</td>
<td align="right">
  78.8402
</td>
<td align="right">
  78.6217
</td>
<td align="right">
   .2033
</td>
<td align="right">
  -.2184
</td>
<td align="right">
  .0026
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
08:25:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
  78.7682
</td>
<td align="right">
  78.8259
</td>
<td align="right">
  78.6192
</td>
<td align="right">
   .0577
</td>
<td align="right">
  -.2067
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
08:35:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  78.7044
</td>
<td align="right">
  78.7376
</td>
<td align="right">
  78.5255
</td>
<td align="right">
   .0332
</td>
<td align="right">
  -.2122
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
09:30:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
  78.7175
</td>
<td align="right">
  78.7311
</td>
<td align="right">
  78.3430
</td>
<td align="right">
   .0136
</td>
<td align="right">
  -.3881
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0049
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
09:35:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
  78.7376
</td>
<td align="right">
  78.7474
</td>
<td align="right">
  78.3544
</td>
<td align="right">
   .0098
</td>
<td align="right">
  -.3930
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0050
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
09:40:00
</td>
<td align="right">
 -.83
</td>
<td align="right">
  78.6848
</td>
<td align="right">
  78.7198
</td>
<td align="right">
  78.4145
</td>
<td align="right">
   .0350
</td>
<td align="right">
  -.3053
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0039
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
09:45:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  78.6406
</td>
<td align="right">
  78.7159
</td>
<td align="right">
  78.4148
</td>
<td align="right">
   .0753
</td>
<td align="right">
  -.3011
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
09:50:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
  78.6536
</td>
<td align="right">
  78.6819
</td>
<td align="right">
  78.3928
</td>
<td align="right">
   .0283
</td>
<td align="right">
  -.2891
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
09:55:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
  78.6427
</td>
<td align="right">
  78.6620
</td>
<td align="right">
  78.4743
</td>
<td align="right">
   .0193
</td>
<td align="right">
  -.1877
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
10:00:00
</td>
<td align="right">
 -.84
</td>
<td align="right">
  78.6932
</td>
<td align="right">
  78.7196
</td>
<td align="right">
  78.4237
</td>
<td align="right">
   .0264
</td>
<td align="right">
  -.2959
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
10:05:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
  78.6664
</td>
<td align="right">
  78.6955
</td>
<td align="right">
  78.3968
</td>
<td align="right">
   .0290
</td>
<td align="right">
  -.2986
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
10:15:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  78.7182
</td>
<td align="right">
  78.7344
</td>
<td align="right">
  78.3979
</td>
<td align="right">
   .0162
</td>
<td align="right">
  -.3365
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0043
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
10:20:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
  78.6480
</td>
<td align="right">
  78.7461
</td>
<td align="right">
  78.4379
</td>
<td align="right">
   .0980
</td>
<td align="right">
  -.3082
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0039
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
10:25:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
  78.6594
</td>
<td align="right">
  78.7081
</td>
<td align="right">
  78.4530
</td>
<td align="right">
   .0487
</td>
<td align="right">
  -.2551
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
10:45:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
  78.7159
</td>
<td align="right">
  78.7186
</td>
<td align="right">
  78.3004
</td>
<td align="right">
   .0027
</td>
<td align="right">
  -.4182
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0053
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
10:50:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  78.6819
</td>
<td align="right">
  78.6999
</td>
<td align="right">
  78.3113
</td>
<td align="right">
   .0181
</td>
<td align="right">
  -.3886
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0049
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
10:55:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  78.6620
</td>
<td align="right">
  78.6787
</td>
<td align="right">
  78.3242
</td>
<td align="right">
   .0167
</td>
<td align="right">
  -.3546
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0045
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
11:00:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
  78.7196
</td>
<td align="right">
  78.7373
</td>
<td align="right">
  78.3350
</td>
<td align="right">
   .0177
</td>
<td align="right">
  -.4023
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0051
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-13
07:15:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
  78.6625
</td>
<td align="right">
  78.6344
</td>
<td align="right">
  78.8560
</td>
<td align="right">
  -.0281
</td>
<td align="right">
   .2216
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-13
12:20:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  78.7741
</td>
<td align="right">
  78.9074
</td>
<td align="right">
  78.4894
</td>
<td align="right">
   .1333
</td>
<td align="right">
  -.4180
</td>
<td align="right">
  .0017
</td>
<td align="right">
 -.0053
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-13
12:40:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  78.8105
</td>
<td align="right">
  78.7996
</td>
<td align="right">
  78.4257
</td>
<td align="right">
  -.0109
</td>
<td align="right">
  -.3738
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0047
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-14
08:20:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
  78.1042
</td>
<td align="right">
  78.1323
</td>
<td align="right">
  77.5028
</td>
<td align="right">
   .0282
</td>
<td align="right">
  -.6296
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0081
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-14
08:35:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
  78.1449
</td>
<td align="right">
  78.1154
</td>
<td align="right">
  77.6132
</td>
<td align="right">
  -.0295
</td>
<td align="right">
  -.5021
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0064
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-14
09:05:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  78.1229
</td>
<td align="right">
  78.2470
</td>
<td align="right">
  77.4377
</td>
<td align="right">
   .1242
</td>
<td align="right">
  -.8094
</td>
<td align="right">
  .0016
</td>
<td align="right">
 -.0104
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-14
09:15:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  78.0725
</td>
<td align="right">
  78.1465
</td>
<td align="right">
  77.5006
</td>
<td align="right">
   .0741
</td>
<td align="right">
  -.6459
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0083
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-14
22:30:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  77.2650
</td>
<td align="right">
  77.3408
</td>
<td align="right">
  77.2402
</td>
<td align="right">
   .0758
</td>
<td align="right">
  -.1006
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-14
22:35:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
  77.3189
</td>
<td align="right">
  77.3694
</td>
<td align="right">
  77.2281
</td>
<td align="right">
   .0505
</td>
<td align="right">
  -.1412
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-14
22:55:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
  77.2958
</td>
<td align="right">
  77.3555
</td>
<td align="right">
  77.2503
</td>
<td align="right">
   .0596
</td>
<td align="right">
  -.1052
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-14
23:20:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
  77.2996
</td>
<td align="right">
  77.4149
</td>
<td align="right">
  77.2069
</td>
<td align="right">
   .1153
</td>
<td align="right">
  -.2080
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-14
23:25:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
  77.3360
</td>
<td align="right">
  77.3904
</td>
<td align="right">
  77.1683
</td>
<td align="right">
   .0544
</td>
<td align="right">
  -.2221
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-11
22:25:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.0196
</td>
<td align="right">
   1.0204
</td>
<td align="right">
   1.0175
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-11
22:35:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.0198
</td>
<td align="right">
   1.0204
</td>
<td align="right">
   1.0177
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0027
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-11
22:40:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.0198
</td>
<td align="right">
   1.0206
</td>
<td align="right">
   1.0176
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-11
22:45:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.0197
</td>
<td align="right">
   1.0207
</td>
<td align="right">
   1.0175
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0032
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-11
22:50:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.0196
</td>
<td align="right">
   1.0205
</td>
<td align="right">
   1.0166
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0040
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0039
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-11
22:55:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
   1.0190
</td>
<td align="right">
   1.0206
</td>
<td align="right">
   1.0167
</td>
<td align="right">
   .0016
</td>
<td align="right">
  -.0039
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-11
23:00:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.0197
</td>
<td align="right">
   1.0206
</td>
<td align="right">
   1.0169
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0037
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-11
23:05:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
   1.0208
</td>
<td align="right">
   1.0206
</td>
<td align="right">
   1.0170
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0037
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0036
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-12
01:00:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.0176
</td>
<td align="right">
   1.0188
</td>
<td align="right">
   1.0174
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-12
01:20:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
   1.0180
</td>
<td align="right">
   1.0189
</td>
<td align="right">
   1.0162
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0027
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-13
11:00:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.0118
</td>
<td align="right">
   1.0126
</td>
<td align="right">
   1.0090
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0036
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0035
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-13
12:00:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
   1.0126
</td>
<td align="right">
   1.0131
</td>
<td align="right">
   1.0072
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0059
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0059
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-13
12:10:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
   1.0125
</td>
<td align="right">
   1.0128
</td>
<td align="right">
   1.0072
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0056
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0055
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-13
12:50:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
   1.0133
</td>
<td align="right">
   1.0131
</td>
<td align="right">
   1.0072
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0059
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0058
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-13
13:00:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.0131
</td>
<td align="right">
   1.0127
</td>
<td align="right">
   1.0078
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0049
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0048
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-14
12:25:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9977
</td>
<td align="right">
    .9977
</td>
<td align="right">
    .9933
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0045
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0045
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-14
19:40:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9900
</td>
<td align="right">
    .9907
</td>
<td align="right">
    .9892
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
05:15:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.3081
</td>
<td align="right">
   1.3082
</td>
<td align="right">
   1.3049
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0033
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
05:25:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
   1.3089
</td>
<td align="right">
   1.3083
</td>
<td align="right">
   1.3049
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0034
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
07:05:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.3064
</td>
<td align="right">
   1.3070
</td>
<td align="right">
   1.3024
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0046
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0035
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
08:15:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
   1.3055
</td>
<td align="right">
   1.3053
</td>
<td align="right">
   1.3031
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0022
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
09:25:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.3049
</td>
<td align="right">
   1.3053
</td>
<td align="right">
   1.3008
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0044
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
09:30:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.3052
</td>
<td align="right">
   1.3054
</td>
<td align="right">
   1.3011
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0044
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0033
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
09:35:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.3055
</td>
<td align="right">
   1.3056
</td>
<td align="right">
   1.3012
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0044
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
19:40:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.3011
</td>
<td align="right">
   1.3026
</td>
<td align="right">
   1.3017
</td>
<td align="right">
   .0016
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
20:00:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.3008
</td>
<td align="right">
   1.3027
</td>
<td align="right">
   1.3022
</td>
<td align="right">
   .0019
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
20:15:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.3013
</td>
<td align="right">
   1.3019
</td>
<td align="right">
   1.3018
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
21:30:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.3012
</td>
<td align="right">
   1.3022
</td>
<td align="right">
   1.3010
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
22:15:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
   1.3023
</td>
<td align="right">
   1.3019
</td>
<td align="right">
   1.3014
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
22:40:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.3019
</td>
<td align="right">
   1.3028
</td>
<td align="right">
   1.3016
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
22:45:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.3022
</td>
<td align="right">
   1.3031
</td>
<td align="right">
   1.3011
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0020
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
22:50:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.3023
</td>
<td align="right">
   1.3034
</td>
<td align="right">
   1.3011
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0022
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
23:40:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.3028
</td>
<td align="right">
   1.3030
</td>
<td align="right">
   1.3015
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
23:45:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.3031
</td>
<td align="right">
   1.3026
</td>
<td align="right">
   1.3014
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
00:45:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.3026
</td>
<td align="right">
   1.3032
</td>
<td align="right">
   1.3013
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
00:50:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.3025
</td>
<td align="right">
   1.3028
</td>
<td align="right">
   1.3014
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
01:55:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.3017
</td>
<td align="right">
   1.3020
</td>
<td align="right">
   1.3011
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
02:00:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.3017
</td>
<td align="right">
   1.3014
</td>
<td align="right">
   1.3012
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
02:10:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.3020
</td>
<td align="right">
   1.3017
</td>
<td align="right">
   1.3006
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0010
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
05:20:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.3010
</td>
<td align="right">
   1.3012
</td>
<td align="right">
   1.3020
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0008
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
07:10:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.3007
</td>
<td align="right">
   1.3006
</td>
<td align="right">
   1.3026
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
08:15:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
   1.3006
</td>
<td align="right">
   1.3022
</td>
<td align="right">
   1.3054
</td>
<td align="right">
   .0016
</td>
<td align="right">
   .0032
</td>
<td align="right">
  .0013
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
08:20:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
   1.3009
</td>
<td align="right">
   1.3017
</td>
<td align="right">
   1.3061
</td>
<td align="right">
   .0008
</td>
<td align="right">
   .0044
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0034
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
08:35:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.3013
</td>
<td align="right">
   1.3018
</td>
<td align="right">
   1.3055
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0037
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0029
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
09:40:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.3017
</td>
<td align="right">
   1.3013
</td>
<td align="right">
   1.3069
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0055
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0042
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
09:45:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.3012
</td>
<td align="right">
   1.3014
</td>
<td align="right">
   1.3070
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0056
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0043
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
10:05:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.3008
</td>
<td align="right">
   1.3015
</td>
<td align="right">
   1.3095
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0081
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0062
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
14:45:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.3065
</td>
<td align="right">
   1.3070
</td>
<td align="right">
   1.3097
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0027
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
14:50:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.3064
</td>
<td align="right">
   1.3080
</td>
<td align="right">
   1.3100
</td>
<td align="right">
   .0016
</td>
<td align="right">
   .0020
</td>
<td align="right">
  .0012
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
14:55:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.3066
</td>
<td align="right">
   1.3087
</td>
<td align="right">
   1.3102
</td>
<td align="right">
   .0021
</td>
<td align="right">
   .0015
</td>
<td align="right">
  .0016
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
15:10:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.3072
</td>
<td align="right">
   1.3102
</td>
<td align="right">
   1.3100
</td>
<td align="right">
   .0030
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0023
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
15:15:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.3070
</td>
<td align="right">
   1.3101
</td>
<td align="right">
   1.3098
</td>
<td align="right">
   .0031
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0024
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
15:20:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.3071
</td>
<td align="right">
   1.3103
</td>
<td align="right">
   1.3100
</td>
<td align="right">
   .0032
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0025
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
15:25:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.3067
</td>
<td align="right">
   1.3098
</td>
<td align="right">
   1.3100
</td>
<td align="right">
   .0031
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0024
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
15:30:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.3073
</td>
<td align="right">
   1.3109
</td>
<td align="right">
   1.3101
</td>
<td align="right">
   .0037
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0028
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-14
15:50:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.3080
</td>
<td align="right">
   1.3097
</td>
<td align="right">
   1.3095
</td>
<td align="right">
   .0017
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0013
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-13
08:10:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .8454
</td>
<td align="right">
    .8453
</td>
<td align="right">
    .8463
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-13
09:15:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
    .8460
</td>
<td align="right">
    .8458
</td>
<td align="right">
    .8455
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-13
09:25:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
    .8458
</td>
<td align="right">
    .8466
</td>
<td align="right">
    .8443
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0023
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-13
09:50:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
    .8458
</td>
<td align="right">
    .8471
</td>
<td align="right">
    .8425
</td>
<td align="right">
   .0013
</td>
<td align="right">
  -.0045
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0053
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-13
09:55:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .8457
</td>
<td align="right">
    .8470
</td>
<td align="right">
    .8424
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0046
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0054
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-13
10:05:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .8458
</td>
<td align="right">
    .8478
</td>
<td align="right">
    .8426
</td>
<td align="right">
   .0020
</td>
<td align="right">
  -.0052
</td>
<td align="right">
  .0023
</td>
<td align="right">
 -.0062
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-13
10:15:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .8458
</td>
<td align="right">
    .8477
</td>
<td align="right">
    .8420
</td>
<td align="right">
   .0019
</td>
<td align="right">
  -.0056
</td>
<td align="right">
  .0022
</td>
<td align="right">
 -.0067
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-13
10:20:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .8462
</td>
<td align="right">
    .8476
</td>
<td align="right">
    .8421
</td>
<td align="right">
   .0015
</td>
<td align="right">
  -.0055
</td>
<td align="right">
  .0017
</td>
<td align="right">
 -.0065
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-13
10:25:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .8466
</td>
<td align="right">
    .8474
</td>
<td align="right">
    .8422
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0052
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0062
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-13
10:30:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .8466
</td>
<td align="right">
    .8471
</td>
<td align="right">
    .8422
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0049
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0058
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-13
10:35:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
    .8464
</td>
<td align="right">
    .8467
</td>
<td align="right">
    .8426
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0041
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0048
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-13
10:50:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
    .8471
</td>
<td align="right">
    .8469
</td>
<td align="right">
    .8430
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0039
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0047
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-13
16:35:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .8426
</td>
<td align="right">
    .8427
</td>
<td align="right">
    .8419
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-13
17:35:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .8427
</td>
<td align="right">
    .8427
</td>
<td align="right">
    .8416
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
17:30:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
 101.4793
</td>
<td align="right">
 101.4455
</td>
<td align="right">
 101.4330
</td>
<td align="right">
  -.0338
</td>
<td align="right">
  -.0125
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
17:35:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 101.4221
</td>
<td align="right">
 101.4552
</td>
<td align="right">
 101.4684
</td>
<td align="right">
   .0332
</td>
<td align="right">
   .0132
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
19:10:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
 101.2867
</td>
<td align="right">
 101.3551
</td>
<td align="right">
 101.3817
</td>
<td align="right">
   .0683
</td>
<td align="right">
   .0267
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
19:15:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 101.3135
</td>
<td align="right">
 101.3440
</td>
<td align="right">
 101.3869
</td>
<td align="right">
   .0305
</td>
<td align="right">
   .0429
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
19:20:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
 101.3148
</td>
<td align="right">
 101.3024
</td>
<td align="right">
 101.3606
</td>
<td align="right">
  -.0124
</td>
<td align="right">
   .0582
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
19:25:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 101.3317
</td>
<td align="right">
 101.3128
</td>
<td align="right">
 101.3798
</td>
<td align="right">
  -.0189
</td>
<td align="right">
   .0670
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
19:35:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 101.3023
</td>
<td align="right">
 101.3518
</td>
<td align="right">
 101.3734
</td>
<td align="right">
   .0494
</td>
<td align="right">
   .0217
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
19:55:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 101.3036
</td>
<td align="right">
 101.3005
</td>
<td align="right">
 101.3841
</td>
<td align="right">
  -.0031
</td>
<td align="right">
   .0836
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
20:45:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
 101.3499
</td>
<td align="right">
 101.3278
</td>
<td align="right">
 101.4160
</td>
<td align="right">
  -.0221
</td>
<td align="right">
   .0882
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
21:00:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 101.3174
</td>
<td align="right">
 101.3778
</td>
<td align="right">
 101.4084
</td>
<td align="right">
   .0604
</td>
<td align="right">
   .0306
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
22:15:00
</td>
<td align="right">
 -.83
</td>
<td align="right">
 101.3778
</td>
<td align="right">
 101.4135
</td>
<td align="right">
 101.4000
</td>
<td align="right">
   .0357
</td>
<td align="right">
  -.0136
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
22:20:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
 101.3856
</td>
<td align="right">
 101.4102
</td>
<td align="right">
 101.4149
</td>
<td align="right">
   .0246
</td>
<td align="right">
   .0047
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
22:25:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
 101.3817
</td>
<td align="right">
 101.4174
</td>
<td align="right">
 101.3973
</td>
<td align="right">
   .0357
</td>
<td align="right">
  -.0201
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
22:30:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 101.3550
</td>
<td align="right">
 101.4151
</td>
<td align="right">
 101.3944
</td>
<td align="right">
   .0601
</td>
<td align="right">
  -.0207
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
22:35:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
 101.3745
</td>
<td align="right">
 101.4382
</td>
<td align="right">
 101.3869
</td>
<td align="right">
   .0637
</td>
<td align="right">
  -.0513
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
22:40:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
 101.4096
</td>
<td align="right">
 101.4460
</td>
<td align="right">
 101.3856
</td>
<td align="right">
   .0364
</td>
<td align="right">
  -.0604
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
22:45:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
 101.3875
</td>
<td align="right">
 101.4330
</td>
<td align="right">
 101.3962
</td>
<td align="right">
   .0454
</td>
<td align="right">
  -.0368
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
22:50:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 101.3752
</td>
<td align="right">
 101.4684
</td>
<td align="right">
 101.3921
</td>
<td align="right">
   .0932
</td>
<td align="right">
  -.0763
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
22:55:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
 101.3804
</td>
<td align="right">
 101.4453
</td>
<td align="right">
 101.4012
</td>
<td align="right">
   .0649
</td>
<td align="right">
  -.0441
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
23:00:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 101.3914
</td>
<td align="right">
 101.4688
</td>
<td align="right">
 101.3986
</td>
<td align="right">
   .0774
</td>
<td align="right">
  -.0702
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
23:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
 101.3979
</td>
<td align="right">
 101.4227
</td>
<td align="right">
 101.4051
</td>
<td align="right">
   .0247
</td>
<td align="right">
  -.0175
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
23:15:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 101.4135
</td>
<td align="right">
 101.4552
</td>
<td align="right">
 101.3785
</td>
<td align="right">
   .0417
</td>
<td align="right">
  -.0767
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
23:20:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 101.4102
</td>
<td align="right">
 101.4409
</td>
<td align="right">
 101.3959
</td>
<td align="right">
   .0307
</td>
<td align="right">
  -.0450
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
23:25:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
 101.4174
</td>
<td align="right">
 101.4399
</td>
<td align="right">
 101.4090
</td>
<td align="right">
   .0225
</td>
<td align="right">
  -.0309
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
23:30:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
 101.4151
</td>
<td align="right">
 101.4214
</td>
<td align="right">
 101.4013
</td>
<td align="right">
   .0062
</td>
<td align="right">
  -.0201
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-15
00:50:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
 101.3726
</td>
<td align="right">
 101.3734
</td>
<td align="right">
 101.4208
</td>
<td align="right">
   .0008
</td>
<td align="right">
   .0473
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-15
01:10:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 101.3525
</td>
<td align="right">
 101.3841
</td>
<td align="right">
 101.3915
</td>
<td align="right">
   .0317
</td>
<td align="right">
   .0074
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-15
01:35:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
 101.3606
</td>
<td align="right">
 101.3778
</td>
<td align="right">
 101.4904
</td>
<td align="right">
   .0172
</td>
<td align="right">
   .1126
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-15
02:05:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 101.3856
</td>
<td align="right">
 101.4162
</td>
<td align="right">
 101.4091
</td>
<td align="right">
   .0306
</td>
<td align="right">
  -.0071
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-15
03:10:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
 101.3986
</td>
<td align="right">
 101.3946
</td>
<td align="right">
 101.3512
</td>
<td align="right">
  -.0040
</td>
<td align="right">
  -.0434
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-12-13
10:25:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
   1.3192
</td>
<td align="right">
   1.3222
</td>
<td align="right">
   1.3088
</td>
<td align="right">
   .0030
</td>
<td align="right">
  -.0134
</td>
<td align="right">
  .0023
</td>
<td align="right">
 -.0101
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-12-13
10:30:00
</td>
<td align="right">
 -.86
</td>
<td align="right">
   1.3192
</td>
<td align="right">
   1.3220
</td>
<td align="right">
   1.3086
</td>
<td align="right">
   .0028
</td>
<td align="right">
  -.0134
</td>
<td align="right">
  .0021
</td>
<td align="right">
 -.0102
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-12-13
10:35:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.3189
</td>
<td align="right">
   1.3214
</td>
<td align="right">
   1.3091
</td>
<td align="right">
   .0025
</td>
<td align="right">
  -.0123
</td>
<td align="right">
  .0019
</td>
<td align="right">
 -.0093
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-12-13
10:45:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
   1.3199
</td>
<td align="right">
   1.3221
</td>
<td align="right">
   1.3087
</td>
<td align="right">
   .0022
</td>
<td align="right">
  -.0134
</td>
<td align="right">
  .0017
</td>
<td align="right">
 -.0102
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-12-13
10:50:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.3198
</td>
<td align="right">
   1.3218
</td>
<td align="right">
   1.3091
</td>
<td align="right">
   .0020
</td>
<td align="right">
  -.0127
</td>
<td align="right">
  .0016
</td>
<td align="right">
 -.0097
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-12-13
13:10:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.3182
</td>
<td align="right">
   1.3177
</td>
<td align="right">
   1.3067
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0110
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0083
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-12-14
01:50:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.3032
</td>
<td align="right">
   1.3032
</td>
<td align="right">
   1.3024
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-12-14
04:15:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.3033
</td>
<td align="right">
   1.3037
</td>
<td align="right">
   1.3041
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-11
22:20:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .9261
</td>
<td align="right">
    .9257
</td>
<td align="right">
    .9275
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0018
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-11
22:40:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
    .9260
</td>
<td align="right">
    .9261
</td>
<td align="right">
    .9273
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-11
22:45:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9261
</td>
<td align="right">
    .9260
</td>
<td align="right">
    .9276
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0016
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-11
22:50:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9259
</td>
<td align="right">
    .9262
</td>
<td align="right">
    .9277
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0015
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-11
22:55:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9261
</td>
<td align="right">
    .9258
</td>
<td align="right">
    .9275
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0017
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-11
23:20:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9257
</td>
<td align="right">
    .9255
</td>
<td align="right">
    .9271
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0015
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-11
23:25:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
    .9258
</td>
<td align="right">
    .9257
</td>
<td align="right">
    .9271
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-11
23:30:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9259
</td>
<td align="right">
    .9258
</td>
<td align="right">
    .9271
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0013
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-11
23:35:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
    .9262
</td>
<td align="right">
    .9261
</td>
<td align="right">
    .9272
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-12
00:00:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9252
</td>
<td align="right">
    .9259
</td>
<td align="right">
    .9276
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0017
</td>
<td align="right">
  .0008
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-12
07:20:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9284
</td>
<td align="right">
    .9280
</td>
<td align="right">
    .9330
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0050
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0054
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-12-12
00:30:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  77.6125
</td>
<td align="right">
  77.6575
</td>
<td align="right">
  77.6525
</td>
<td align="right">
   .0450
</td>
<td align="right">
  -.0050
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-12-12
01:05:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  77.6525
</td>
<td align="right">
  77.6225
</td>
<td align="right">
  77.6325
</td>
<td align="right">
  -.0300
</td>
<td align="right">
   .0100
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0001
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-14
15:10:00
</td>
<td align="right">
  .58
</td>
<td align="right">
  77.4627
</td>
<td align="right">
  77.2504
</td>
<td align="right">
  77.3283
</td>
<td align="right">
  -.2123
</td>
<td align="right">
   .0779
</td>
<td align="right">
 -.0027
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-14
19:15:00
</td>
<td align="right">
  .65
</td>
<td align="right">
  77.3376
</td>
<td align="right">
  77.3530
</td>
<td align="right">
  77.2886
</td>
<td align="right">
   .0154
</td>
<td align="right">
  -.0644
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-12
04:15:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.0170
</td>
<td align="right">
   1.0169
</td>
<td align="right">
   1.0119
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0050
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0049
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-12
04:20:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.0172
</td>
<td align="right">
   1.0175
</td>
<td align="right">
   1.0109
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0066
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0064
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-12
04:25:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.0175
</td>
<td align="right">
   1.0175
</td>
<td align="right">
   1.0103
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0072
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0071
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-12
04:35:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.0177
</td>
<td align="right">
   1.0177
</td>
<td align="right">
   1.0116
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0060
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0059
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-12
04:40:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.0176
</td>
<td align="right">
   1.0175
</td>
<td align="right">
   1.0121
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0055
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0054
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-12
04:55:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.0167
</td>
<td align="right">
   1.0168
</td>
<td align="right">
   1.0110
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0059
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0058
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-12
05:30:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.0177
</td>
<td align="right">
   1.0177
</td>
<td align="right">
   1.0106
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0071
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0070
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-12
05:35:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.0177
</td>
<td align="right">
   1.0178
</td>
<td align="right">
   1.0109
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0070
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0068
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-14
10:50:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.0007
</td>
<td align="right">
    .9989
</td>
<td align="right">
    .9908
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  -.0082
</td>
<td align="right">
 -.0017
</td>
<td align="right">
 -.0081
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-14
12:00:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .9987
</td>
<td align="right">
    .9977
</td>
<td align="right">
    .9915
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  -.0062
</td>
<td align="right">
 -.0010
</td>
<td align="right">
 -.0062
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-14
12:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
    .9988
</td>
<td align="right">
    .9984
</td>
<td align="right">
    .9923
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0061
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0061
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-14
14:50:00
</td>
<td align="right">
  .86
</td>
<td align="right">
    .9939
</td>
<td align="right">
    .9911
</td>
<td align="right">
    .9910
</td>
<td align="right">
  -.0027
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0027
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-14
15:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .9928
</td>
<td align="right">
    .9904
</td>
<td align="right">
    .9908
</td>
<td align="right">
  -.0024
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0024
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-14
15:10:00
</td>
<td align="right">
  .75
</td>
<td align="right">
    .9928
</td>
<td align="right">
    .9899
</td>
<td align="right">
    .9910
</td>
<td align="right">
  -.0030
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0030
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-14
15:15:00
</td>
<td align="right">
  .75
</td>
<td align="right">
    .9934
</td>
<td align="right">
    .9897
</td>
<td align="right">
    .9911
</td>
<td align="right">
  -.0037
</td>
<td align="right">
   .0014
</td>
<td align="right">
 -.0037
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-14
15:20:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .9926
</td>
<td align="right">
    .9893
</td>
<td align="right">
    .9907
</td>
<td align="right">
  -.0033
</td>
<td align="right">
   .0014
</td>
<td align="right">
 -.0033
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-14
15:35:00
</td>
<td align="right">
  .70
</td>
<td align="right">
    .9941
</td>
<td align="right">
    .9896
</td>
<td align="right">
    .9913
</td>
<td align="right">
  -.0044
</td>
<td align="right">
   .0017
</td>
<td align="right">
 -.0045
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
16:00:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.3101
</td>
<td align="right">
   1.3106
</td>
<td align="right">
   1.3098
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
16:05:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.3105
</td>
<td align="right">
   1.3102
</td>
<td align="right">
   1.3095
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
16:20:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.3113
</td>
<td align="right">
   1.3108
</td>
<td align="right">
   1.3099
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
16:45:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3110
</td>
<td align="right">
   1.3109
</td>
<td align="right">
   1.3090
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0019
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
16:50:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.3111
</td>
<td align="right">
   1.3104
</td>
<td align="right">
   1.3093
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
16:55:00
</td>
<td align="right">
  .84
</td>
<td align="right">
   1.3111
</td>
<td align="right">
   1.3104
</td>
<td align="right">
   1.3092
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  -.0013
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
17:00:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.3106
</td>
<td align="right">
   1.3109
</td>
<td align="right">
   1.3089
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0020
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
17:15:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.3106
</td>
<td align="right">
   1.3110
</td>
<td align="right">
   1.3093
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
17:20:00
</td>
<td align="right">
  .80
</td>
<td align="right">
   1.3108
</td>
<td align="right">
   1.3103
</td>
<td align="right">
   1.3091
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
17:25:00
</td>
<td align="right">
  .78
</td>
<td align="right">
   1.3109
</td>
<td align="right">
   1.3095
</td>
<td align="right">
   1.3095
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0011
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
17:30:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.3110
</td>
<td align="right">
   1.3098
</td>
<td align="right">
   1.3089
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0009
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
17:35:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.3110
</td>
<td align="right">
   1.3100
</td>
<td align="right">
   1.3092
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  -.0008
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
17:40:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.3109
</td>
<td align="right">
   1.3097
</td>
<td align="right">
   1.3113
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0016
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
17:45:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.3109
</td>
<td align="right">
   1.3088
</td>
<td align="right">
   1.3114
</td>
<td align="right">
  -.0021
</td>
<td align="right">
   .0026
</td>
<td align="right">
 -.0016
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
17:50:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.3104
</td>
<td align="right">
   1.3086
</td>
<td align="right">
   1.3114
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   .0028
</td>
<td align="right">
 -.0014
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
17:55:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.3104
</td>
<td align="right">
   1.3085
</td>
<td align="right">
   1.3113
</td>
<td align="right">
  -.0020
</td>
<td align="right">
   .0028
</td>
<td align="right">
 -.0015
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
18:00:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.3109
</td>
<td align="right">
   1.3085
</td>
<td align="right">
   1.3110
</td>
<td align="right">
  -.0024
</td>
<td align="right">
   .0025
</td>
<td align="right">
 -.0018
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
19:35:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.3100
</td>
<td align="right">
   1.3091
</td>
<td align="right">
   1.3095
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
19:40:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.3100
</td>
<td align="right">
   1.3089
</td>
<td align="right">
   1.3092
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
19:45:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.3103
</td>
<td align="right">
   1.3086
</td>
<td align="right">
   1.3100
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   .0014
</td>
<td align="right">
 -.0013
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
20:10:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.3092
</td>
<td align="right">
   1.3089
</td>
<td align="right">
   1.3111
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0022
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
21:30:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3097
</td>
<td align="right">
   1.3097
</td>
<td align="right">
   1.3078
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
21:35:00
</td>
<td align="right">
  .75
</td>
<td align="right">
   1.3100
</td>
<td align="right">
   1.3095
</td>
<td align="right">
   1.3076
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0019
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
15:00:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.3004
</td>
<td align="right">
   1.2968
</td>
<td align="right">
   1.3027
</td>
<td align="right">
  -.0036
</td>
<td align="right">
   .0059
</td>
<td align="right">
 -.0028
</td>
<td align="right">
  .0045
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-12
04:00:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .8536
</td>
<td align="right">
    .8532
</td>
<td align="right">
    .8537
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-13
21:50:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .8419
</td>
<td align="right">
    .8418
</td>
<td align="right">
    .8417
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-13
22:50:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .8419
</td>
<td align="right">
    .8416
</td>
<td align="right">
    .8417
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-14
00:10:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .8419
</td>
<td align="right">
    .8416
</td>
<td align="right">
    .8424
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-14
00:15:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .8418
</td>
<td align="right">
    .8417
</td>
<td align="right">
    .8423
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-14
00:25:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .8417
</td>
<td align="right">
    .8418
</td>
<td align="right">
    .8423
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-14
01:25:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .8418
</td>
<td align="right">
    .8416
</td>
<td align="right">
    .8421
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-12-14
20:20:00
</td>
<td align="right">
  .57
</td>
<td align="right">
 101.3024
</td>
<td align="right">
 101.2829
</td>
<td align="right">
 101.3778
</td>
<td align="right">
  -.0195
</td>
<td align="right">
   .0949
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-12-13
05:55:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.3191
</td>
<td align="right">
   1.3195
</td>
<td align="right">
   1.3209
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-12-13
06:20:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.3192
</td>
<td align="right">
   1.3191
</td>
<td align="right">
   1.3193
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-12-13
06:35:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.3194
</td>
<td align="right">
   1.3176
</td>
<td align="right">
   1.3201
</td>
<td align="right">
  -.0019
</td>
<td align="right">
   .0026
</td>
<td align="right">
 -.0014
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-12-13
06:40:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.3200
</td>
<td align="right">
   1.3182
</td>
<td align="right">
   1.3202
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   .0020
</td>
<td align="right">
 -.0014
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-12-13
15:15:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3183
</td>
<td align="right">
   1.3081
</td>
<td align="right">
   1.3033
</td>
<td align="right">
  -.0101
</td>
<td align="right">
  -.0048
</td>
<td align="right">
 -.0077
</td>
<td align="right">
 -.0036
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-12-11
22:55:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.0204
</td>
<td align="right">
   1.0186
</td>
<td align="right">
   1.0212
</td>
<td align="right">
  -.0019
</td>
<td align="right">
   .0026
</td>
<td align="right">
 -.0018
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-12-12
01:30:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.0201
</td>
<td align="right">
   1.0199
</td>
<td align="right">
   1.0225
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0026
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-12-12
02:00:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.0202
</td>
<td align="right">
   1.0198
</td>
<td align="right">
   1.0240
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0043
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0042
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-12-12
02:10:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.0197
</td>
<td align="right">
   1.0201
</td>
<td align="right">
   1.0230
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0030
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0029
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-12-13
14:05:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.0268
</td>
<td align="right">
   1.0248
</td>
<td align="right">
   1.0327
</td>
<td align="right">
  -.0019
</td>
<td align="right">
   .0078
</td>
<td align="right">
 -.0019
</td>
<td align="right">
  .0076
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-12-13
14:10:00
</td>
<td align="right">
  .79
</td>
<td align="right">
   1.0271
</td>
<td align="right">
   1.0247
</td>
<td align="right">
   1.0328
</td>
<td align="right">
  -.0023
</td>
<td align="right">
   .0081
</td>
<td align="right">
 -.0023
</td>
<td align="right">
  .0079
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-12-13
17:40:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.0300
</td>
<td align="right">
   1.0290
</td>
<td align="right">
   1.0345
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0055
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0053
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-12-13
17:45:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.0294
</td>
<td align="right">
   1.0290
</td>
<td align="right">
   1.0339
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0049
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0047
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-12
16:30:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .9348
</td>
<td align="right">
    .9350
</td>
<td align="right">
    .9379
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0028
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-12
19:55:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9369
</td>
<td align="right">
    .9371
</td>
<td align="right">
    .9380
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-14
19:10:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9532
</td>
<td align="right">
    .9529
</td>
<td align="right">
    .9536
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-14
19:45:00
</td>
<td align="right">
  .72
</td>
<td align="right">
    .9525
</td>
<td align="right">
    .9528
</td>
<td align="right">
    .9534
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-14
19:50:00
</td>
<td align="right">
  .55
</td>
<td align="right">
    .9529
</td>
<td align="right">
    .9532
</td>
<td align="right">
    .9534
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-14
19:55:00
</td>
<td align="right">
  .73
</td>
<td align="right">
    .9534
</td>
<td align="right">
    .9532
</td>
<td align="right">
    .9535
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-14
20:00:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9534
</td>
<td align="right">
    .9530
</td>
<td align="right">
    .9536
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-14
20:05:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .9534
</td>
<td align="right">
    .9531
</td>
<td align="right">
    .9536
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0006
</td>
</tr>
</table>
<br />
