<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_02_26<h4>Week of: 2012_02_26 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.67
</td>
<td align="right">
    1.29
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0023
</td>
<td align="right">
    4
</td>
<td align="right">
   .0092
</td>
<td align="right">
   .0013
</td>
<td align="right">
   .0050
</td>
<td align="right">
   .0018
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .75
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0003
</td>
<td align="right">
    5
</td>
<td align="right">
   .0015
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0008
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    9
</td>
<td align="right">
   .0107
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .71
</td>
<td align="right">
     .80
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0004
</td>
<td align="right">
    6
</td>
<td align="right">
   .0024
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0005
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .66
</td>
<td align="right">
    -.30
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  -.0003
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0009
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .58
</td>
<td align="right">
  -51.07
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0036
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0071
</td>
<td align="right">
  -.0036
</td>
<td align="right">
  -.0035
</td>
<td align="right">
   .0001
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.99
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   26
</td>
<td align="right">
  -.0116
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   39
</td>
<td align="right">
  -.0177
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-02-28
16:40:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
  86.5830
</td>
<td align="right">
  86.5770
</td>
<td align="right">
  86.6992
</td>
<td align="right">
  -.0060
</td>
<td align="right">
   .1222
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-02-28
16:50:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  86.5964
</td>
<td align="right">
  86.6227
</td>
<td align="right">
  86.7368
</td>
<td align="right">
   .0263
</td>
<td align="right">
   .1141
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-02-28
16:55:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
  86.5910
</td>
<td align="right">
  86.5986
</td>
<td align="right">
  86.7280
</td>
<td align="right">
   .0076
</td>
<td align="right">
   .1294
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-02-28
19:45:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
  86.5536
</td>
<td align="right">
  86.7414
</td>
<td align="right">
  87.1727
</td>
<td align="right">
   .1878
</td>
<td align="right">
   .4313
</td>
<td align="right">
  .0022
</td>
<td align="right">
  .0050
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-02-27
10:10:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.0035
</td>
<td align="right">
   1.0041
</td>
<td align="right">
    .9990
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0051
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0051
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-02-27
16:40:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .8988
</td>
<td align="right">
    .8993
</td>
<td align="right">
    .8997
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-02-27
16:45:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .8989
</td>
<td align="right">
    .8993
</td>
<td align="right">
    .8995
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-02-27
16:50:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .8985
</td>
<td align="right">
    .8987
</td>
<td align="right">
    .8994
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-02-27
17:05:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .8985
</td>
<td align="right">
    .8989
</td>
<td align="right">
    .8990
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-02-27
17:10:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .8986
</td>
<td align="right">
    .8992
</td>
<td align="right">
    .8989
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0003
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-02-28
15:15:00
</td>
<td align="right">
  .86
</td>
<td align="right">
  86.6430
</td>
<td align="right">
  86.6717
</td>
<td align="right">
  86.7016
</td>
<td align="right">
   .0287
</td>
<td align="right">
   .0299
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-02-28
15:45:00
</td>
<td align="right">
  .58
</td>
<td align="right">
  86.7203
</td>
<td align="right">
  86.5843
</td>
<td align="right">
  86.6608
</td>
<td align="right">
  -.1360
</td>
<td align="right">
   .0765
</td>
<td align="right">
 -.0016
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-02-28
15:50:00
</td>
<td align="right">
  .72
</td>
<td align="right">
  86.6846
</td>
<td align="right">
  86.5964
</td>
<td align="right">
  86.6447
</td>
<td align="right">
  -.0883
</td>
<td align="right">
   .0483
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-02-28
15:55:00
</td>
<td align="right">
  .61
</td>
<td align="right">
  86.6214
</td>
<td align="right">
  86.5910
</td>
<td align="right">
  86.6320
</td>
<td align="right">
  -.0304
</td>
<td align="right">
   .0410
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-02-28
16:00:00
</td>
<td align="right">
  .60
</td>
<td align="right">
  86.6309
</td>
<td align="right">
  86.6649
</td>
<td align="right">
  86.6172
</td>
<td align="right">
   .0340
</td>
<td align="right">
  -.0477
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-02-28
16:10:00
</td>
<td align="right">
  .88
</td>
<td align="right">
  86.6422
</td>
<td align="right">
  86.6004
</td>
<td align="right">
  86.6615
</td>
<td align="right">
  -.0418
</td>
<td align="right">
   .0611
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-02-27
04:10:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.0694
</td>
<td align="right">
   1.0687
</td>
<td align="right">
   1.0669
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  -.0017
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-02-27
06:15:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.0683
</td>
<td align="right">
   1.0668
</td>
<td align="right">
   1.0675
</td>
<td align="right">
  -.0014
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0013
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-02-27
06:20:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.0685
</td>
<td align="right">
   1.0673
</td>
<td align="right">
   1.0670
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0011
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-02-27
06:25:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.0681
</td>
<td align="right">
   1.0671
</td>
<td align="right">
   1.0665
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0009
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-02-27
06:40:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.0674
</td>
<td align="right">
   1.0668
</td>
<td align="right">
   1.0673
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-02-27
06:10:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .8475
</td>
<td align="right">
    .8477
</td>
<td align="right">
    .8447
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0035
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-02-27
06:15:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .8473
</td>
<td align="right">
    .8476
</td>
<td align="right">
    .8446
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0031
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0036
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
00:20:00
</td>
<td align="right">
  .83
</td>
<td align="right">
   1.5874
</td>
<td align="right">
   1.5877
</td>
<td align="right">
   1.5862
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
00:25:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.5871
</td>
<td align="right">
   1.5875
</td>
<td align="right">
   1.5861
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
00:40:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.5876
</td>
<td align="right">
   1.5877
</td>
<td align="right">
   1.5861
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
00:45:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.5877
</td>
<td align="right">
   1.5872
</td>
<td align="right">
   1.5860
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0012
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
00:50:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.5872
</td>
<td align="right">
   1.5872
</td>
<td align="right">
   1.5855
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
00:55:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.5873
</td>
<td align="right">
   1.5869
</td>
<td align="right">
   1.5861
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0008
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
01:00:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.5871
</td>
<td align="right">
   1.5873
</td>
<td align="right">
   1.5862
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
01:10:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.5869
</td>
<td align="right">
   1.5874
</td>
<td align="right">
   1.5857
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
01:15:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.5874
</td>
<td align="right">
   1.5874
</td>
<td align="right">
   1.5861
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
01:20:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.5877
</td>
<td align="right">
   1.5875
</td>
<td align="right">
   1.5865
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0010
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
01:25:00
</td>
<td align="right">
  .79
</td>
<td align="right">
   1.5875
</td>
<td align="right">
   1.5871
</td>
<td align="right">
   1.5865
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
01:30:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.5876
</td>
<td align="right">
   1.5872
</td>
<td align="right">
   1.5859
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0013
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
01:35:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.5876
</td>
<td align="right">
   1.5871
</td>
<td align="right">
   1.5859
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0012
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
01:55:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.5869
</td>
<td align="right">
   1.5868
</td>
<td align="right">
   1.5867
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
02:05:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.5871
</td>
<td align="right">
   1.5870
</td>
<td align="right">
   1.5866
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0004
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
02:15:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.5874
</td>
<td align="right">
   1.5865
</td>
<td align="right">
   1.5860
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  -.0004
</td>
<td align="right">
 -.0006
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
02:20:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.5875
</td>
<td align="right">
   1.5864
</td>
<td align="right">
   1.5863
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
02:25:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.5871
</td>
<td align="right">
   1.5864
</td>
<td align="right">
   1.5865
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
02:30:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.5872
</td>
<td align="right">
   1.5865
</td>
<td align="right">
   1.5857
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  -.0008
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
02:35:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.5871
</td>
<td align="right">
   1.5864
</td>
<td align="right">
   1.5870
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
02:40:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.5867
</td>
<td align="right">
   1.5864
</td>
<td align="right">
   1.5872
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
02:45:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.5870
</td>
<td align="right">
   1.5864
</td>
<td align="right">
   1.5864
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
02:50:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.5868
</td>
<td align="right">
   1.5864
</td>
<td align="right">
   1.5861
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
03:00:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.5870
</td>
<td align="right">
   1.5868
</td>
<td align="right">
   1.5871
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
03:05:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.5870
</td>
<td align="right">
   1.5870
</td>
<td align="right">
   1.5866
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-02-27
03:10:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.5868
</td>
<td align="right">
   1.5872
</td>
<td align="right">
   1.5860
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-02-27
01:15:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.0004
</td>
<td align="right">
   1.0006
</td>
<td align="right">
   1.0017
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0011
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0011
</td>
</tr>
</table>
<br />
