<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_04_22<h4>Week of: 2012_04_22 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.63
</td>
<td align="right">
    -.08
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   21
</td>
<td align="right">
  -.0032
</td>
<td align="right">
  -.0043
</td>
<td align="right">
   .0020
</td>
<td align="right">
   .0019
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.64
</td>
<td align="right">
     .31
</td>
<td align="right">
   .0013
</td>
<td align="right">
   .0008
</td>
<td align="right">
    2
</td>
<td align="right">
   .0017
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0028
</td>
<td align="right">
   .0027
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.60
</td>
<td align="right">
    5.86
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0013
</td>
<td align="right">
    7
</td>
<td align="right">
   .0092
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0018
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.68
</td>
<td align="right">
     .56
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0008
</td>
<td align="right">
   33
</td>
<td align="right">
   .0249
</td>
<td align="right">
  -.0014
</td>
<td align="right">
   .0033
</td>
<td align="right">
   .0013
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.60
</td>
<td align="right">
    2.83
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0007
</td>
<td align="right">
    2
</td>
<td align="right">
   .0015
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0003
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   65
</td>
<td align="right">
   .0341
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .71
</td>
<td align="right">
   10.79
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0043
</td>
<td align="right">
   12
</td>
<td align="right">
   .0514
</td>
<td align="right">
   .0034
</td>
<td align="right">
   .0047
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .64
</td>
<td align="right">
    2.49
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0041
</td>
<td align="right">
   11
</td>
<td align="right">
   .0449
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0061
</td>
<td align="right">
   .0016
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .60
</td>
<td align="right">
     .35
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0013
</td>
<td align="right">
    4
</td>
<td align="right">
   .0051
</td>
<td align="right">
  -.0022
</td>
<td align="right">
   .0045
</td>
<td align="right">
   .0036
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .65
</td>
<td align="right">
    1.22
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0008
</td>
<td align="right">
   27
</td>
<td align="right">
   .0226
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0026
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .64
</td>
<td align="right">
   -1.96
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   10
</td>
<td align="right">
  -.0107
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0005
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   64
</td>
<td align="right">
   .1133
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
03:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.2752
</td>
<td align="right">
   1.2754
</td>
<td align="right">
   1.2778
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0023
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
03:35:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.2751
</td>
<td align="right">
   1.2754
</td>
<td align="right">
   1.2777
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0023
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
03:40:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.2750
</td>
<td align="right">
   1.2753
</td>
<td align="right">
   1.2777
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0024
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
03:45:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.2751
</td>
<td align="right">
   1.2752
</td>
<td align="right">
   1.2778
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0026
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
03:50:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2750
</td>
<td align="right">
   1.2753
</td>
<td align="right">
   1.2775
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0022
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
05:15:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.2759
</td>
<td align="right">
   1.2761
</td>
<td align="right">
   1.2764
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
06:05:00
</td>
<td align="right">
 -.85
</td>
<td align="right">
   1.2760
</td>
<td align="right">
   1.2759
</td>
<td align="right">
   1.2773
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0013
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
06:10:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.2762
</td>
<td align="right">
   1.2759
</td>
<td align="right">
   1.2768
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
06:15:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.2761
</td>
<td align="right">
   1.2757
</td>
<td align="right">
   1.2767
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
06:20:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.2758
</td>
<td align="right">
   1.2755
</td>
<td align="right">
   1.2766
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
06:50:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.2751
</td>
<td align="right">
   1.2747
</td>
<td align="right">
   1.2760
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0013
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
07:25:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.2748
</td>
<td align="right">
   1.2751
</td>
<td align="right">
   1.2772
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0021
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
08:45:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.2770
</td>
<td align="right">
   1.2778
</td>
<td align="right">
   1.2760
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
09:00:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.2766
</td>
<td align="right">
   1.2770
</td>
<td align="right">
   1.2753
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
09:05:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
   1.2774
</td>
<td align="right">
   1.2769
</td>
<td align="right">
   1.2751
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0018
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
10:05:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.2769
</td>
<td align="right">
   1.2764
</td>
<td align="right">
   1.2750
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0015
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
10:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.2769
</td>
<td align="right">
   1.2767
</td>
<td align="right">
   1.2747
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0019
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-24
03:30:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.2823
</td>
<td align="right">
   1.2823
</td>
<td align="right">
   1.2799
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0024
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-24
04:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.2822
</td>
<td align="right">
   1.2819
</td>
<td align="right">
   1.2797
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0022
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-24
16:55:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.2832
</td>
<td align="right">
   1.2833
</td>
<td align="right">
   1.2778
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0056
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0043
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-24
17:50:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.2831
</td>
<td align="right">
   1.2826
</td>
<td align="right">
   1.2776
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0051
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0040
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-04-24
14:55:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .8176
</td>
<td align="right">
    .8185
</td>
<td align="right">
    .8174
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-24
00:15:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 106.6601
</td>
<td align="right">
 106.7313
</td>
<td align="right">
 106.6152
</td>
<td align="right">
   .0711
</td>
<td align="right">
  -.1161
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-24
05:25:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 106.4024
</td>
<td align="right">
 106.6033
</td>
<td align="right">
 106.8966
</td>
<td align="right">
   .2009
</td>
<td align="right">
   .2933
</td>
<td align="right">
  .0019
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-24
01:15:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.3153
</td>
<td align="right">
   1.3153
</td>
<td align="right">
   1.3167
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-24
01:20:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.3152
</td>
<td align="right">
   1.3152
</td>
<td align="right">
   1.3169
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0017
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-24
01:25:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.3152
</td>
<td align="right">
   1.3156
</td>
<td align="right">
   1.3172
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0016
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-24
01:35:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.3150
</td>
<td align="right">
   1.3156
</td>
<td align="right">
   1.3173
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0017
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-24
01:45:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.3150
</td>
<td align="right">
   1.3154
</td>
<td align="right">
   1.3171
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0017
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-24
02:05:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.3154
</td>
<td align="right">
   1.3153
</td>
<td align="right">
   1.3176
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0024
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-24
02:40:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.3155
</td>
<td align="right">
   1.3151
</td>
<td align="right">
   1.3167
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0016
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
07:10:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
    .9132
</td>
<td align="right">
    .9139
</td>
<td align="right">
    .9155
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0016
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
07:15:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .9129
</td>
<td align="right">
    .9138
</td>
<td align="right">
    .9153
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0015
</td>
<td align="right">
  .0009
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
08:20:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9138
</td>
<td align="right">
    .9138
</td>
<td align="right">
    .9168
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0030
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0033
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
08:30:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
    .9135
</td>
<td align="right">
    .9141
</td>
<td align="right">
    .9167
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0026
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
08:35:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9134
</td>
<td align="right">
    .9140
</td>
<td align="right">
    .9163
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0023
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
08:40:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9134
</td>
<td align="right">
    .9141
</td>
<td align="right">
    .9163
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0022
</td>
<td align="right">
  .0008
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
08:45:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9139
</td>
<td align="right">
    .9140
</td>
<td align="right">
    .9160
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0020
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
08:50:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9139
</td>
<td align="right">
    .9137
</td>
<td align="right">
    .9159
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0022
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
08:55:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .9140
</td>
<td align="right">
    .9138
</td>
<td align="right">
    .9159
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0021
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
09:00:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9140
</td>
<td align="right">
    .9141
</td>
<td align="right">
    .9159
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0017
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
09:05:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
    .9139
</td>
<td align="right">
    .9139
</td>
<td align="right">
    .9161
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0022
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
09:10:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9132
</td>
<td align="right">
    .9138
</td>
<td align="right">
    .9160
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0022
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
09:40:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .9141
</td>
<td align="right">
    .9140
</td>
<td align="right">
    .9151
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
09:50:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9137
</td>
<td align="right">
    .9148
</td>
<td align="right">
    .9154
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0012
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
09:55:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
    .9138
</td>
<td align="right">
    .9150
</td>
<td align="right">
    .9153
</td>
<td align="right">
   .0012
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0013
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
10:05:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
    .9139
</td>
<td align="right">
    .9150
</td>
<td align="right">
    .9150
</td>
<td align="right">
   .0012
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0013
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
10:10:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
    .9138
</td>
<td align="right">
    .9149
</td>
<td align="right">
    .9154
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0012
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
10:15:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
    .9138
</td>
<td align="right">
    .9147
</td>
<td align="right">
    .9154
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
10:30:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .9140
</td>
<td align="right">
    .9152
</td>
<td align="right">
    .9150
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0013
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
10:35:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
    .9141
</td>
<td align="right">
    .9153
</td>
<td align="right">
    .9150
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0013
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
10:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9140
</td>
<td align="right">
    .9151
</td>
<td align="right">
    .9150
</td>
<td align="right">
   .0011
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
10:45:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
    .9141
</td>
<td align="right">
    .9151
</td>
<td align="right">
    .9151
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
11:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9149
</td>
<td align="right">
    .9152
</td>
<td align="right">
    .9149
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
11:15:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .9147
</td>
<td align="right">
    .9154
</td>
<td align="right">
    .9150
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
16:35:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9150
</td>
<td align="right">
    .9150
</td>
<td align="right">
    .9137
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
16:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9150
</td>
<td align="right">
    .9149
</td>
<td align="right">
    .9136
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0013
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
18:20:00
</td>
<td align="right">
 -.91
</td>
<td align="right">
    .9144
</td>
<td align="right">
    .9145
</td>
<td align="right">
    .9139
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
18:25:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9146
</td>
<td align="right">
    .9144
</td>
<td align="right">
    .9137
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
18:30:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9143
</td>
<td align="right">
    .9142
</td>
<td align="right">
    .9135
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
18:35:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
    .9142
</td>
<td align="right">
    .9139
</td>
<td align="right">
    .9138
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
18:45:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .9143
</td>
<td align="right">
    .9139
</td>
<td align="right">
    .9135
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0004
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
19:35:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .9139
</td>
<td align="right">
    .9136
</td>
<td align="right">
    .9138
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-04-23
19:50:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9138
</td>
<td align="right">
    .9135
</td>
<td align="right">
    .9136
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-04-23
07:55:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  81.0575
</td>
<td align="right">
  81.0675
</td>
<td align="right">
  81.1125
</td>
<td align="right">
   .0100
</td>
<td align="right">
   .0450
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-04-23
08:05:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  81.0275
</td>
<td align="right">
  81.0475
</td>
<td align="right">
  81.1225
</td>
<td align="right">
   .0200
</td>
<td align="right">
   .0750
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0009
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-24
17:00:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.0288
</td>
<td align="right">
   1.0279
</td>
<td align="right">
   1.0325
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0045
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0044
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-24
17:05:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.0290
</td>
<td align="right">
   1.0281
</td>
<td align="right">
   1.0328
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0046
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0045
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-24
17:10:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.0289
</td>
<td align="right">
   1.0283
</td>
<td align="right">
   1.0327
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0045
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0043
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-24
17:50:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.0285
</td>
<td align="right">
   1.0286
</td>
<td align="right">
   1.0334
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0049
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0047
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-24
18:00:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.0279
</td>
<td align="right">
   1.0283
</td>
<td align="right">
   1.0330
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0047
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0045
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-24
18:05:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.0281
</td>
<td align="right">
   1.0285
</td>
<td align="right">
   1.0327
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0042
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0041
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-24
18:10:00
</td>
<td align="right">
  .81
</td>
<td align="right">
   1.0283
</td>
<td align="right">
   1.0283
</td>
<td align="right">
   1.0328
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0045
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0044
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-24
18:15:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.0282
</td>
<td align="right">
   1.0280
</td>
<td align="right">
   1.0327
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0048
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0046
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-24
18:20:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.0282
</td>
<td align="right">
   1.0284
</td>
<td align="right">
   1.0329
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0045
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0044
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-24
18:25:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.0281
</td>
<td align="right">
   1.0281
</td>
<td align="right">
   1.0326
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0046
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0045
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-24
18:30:00
</td>
<td align="right">
  .77
</td>
<td align="right">
   1.0283
</td>
<td align="right">
   1.0285
</td>
<td align="right">
   1.0322
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0037
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0036
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-04-24
18:40:00
</td>
<td align="right">
  .82
</td>
<td align="right">
   1.0284
</td>
<td align="right">
   1.0285
</td>
<td align="right">
   1.0321
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0035
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0034
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-22
22:20:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.2729
</td>
<td align="right">
   1.2729
</td>
<td align="right">
   1.2755
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0026
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
19:30:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2754
</td>
<td align="right">
   1.2752
</td>
<td align="right">
   1.2800
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0048
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0037
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
19:55:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.2749
</td>
<td align="right">
   1.2750
</td>
<td align="right">
   1.2800
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0049
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0039
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
20:05:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.2756
</td>
<td align="right">
   1.2752
</td>
<td align="right">
   1.2800
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0047
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0037
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
20:10:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.2753
</td>
<td align="right">
   1.2751
</td>
<td align="right">
   1.2795
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0044
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0035
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
20:35:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.2750
</td>
<td align="right">
   1.2751
</td>
<td align="right">
   1.2805
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0054
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0042
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
20:50:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.2748
</td>
<td align="right">
   1.2751
</td>
<td align="right">
   1.2816
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0065
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0051
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
21:40:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.2752
</td>
<td align="right">
   1.2748
</td>
<td align="right">
   1.2824
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0076
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0060
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-23
23:40:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.2753
</td>
<td align="right">
   1.2748
</td>
<td align="right">
   1.2823
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0075
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0059
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-24
00:25:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.2743
</td>
<td align="right">
   1.2744
</td>
<td align="right">
   1.2821
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0077
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0061
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-04-24
13:30:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2803
</td>
<td align="right">
   1.2807
</td>
<td align="right">
   1.2818
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0011
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-23
22:55:00
</td>
<td align="right">
  .56
</td>
<td align="right">
 106.7521
</td>
<td align="right">
 106.6306
</td>
<td align="right">
 106.4748
</td>
<td align="right">
  -.1215
</td>
<td align="right">
  -.1558
</td>
<td align="right">
 -.0011
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-23
23:10:00
</td>
<td align="right">
  .60
</td>
<td align="right">
 106.7533
</td>
<td align="right">
 106.6315
</td>
<td align="right">
 106.3938
</td>
<td align="right">
  -.1218
</td>
<td align="right">
  -.2377
</td>
<td align="right">
 -.0011
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-24
02:45:00
</td>
<td align="right">
  .59
</td>
<td align="right">
 106.6481
</td>
<td align="right">
 106.3698
</td>
<td align="right">
 106.8244
</td>
<td align="right">
  -.2782
</td>
<td align="right">
   .4545
</td>
<td align="right">
 -.0026
</td>
<td align="right">
  .0043
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-04-24
03:20:00
</td>
<td align="right">
  .65
</td>
<td align="right">
 106.4232
</td>
<td align="right">
 106.4240
</td>
<td align="right">
 106.9047
</td>
<td align="right">
   .0008
</td>
<td align="right">
   .4807
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0045
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
10:50:00
</td>
<td align="right">
  .75
</td>
<td align="right">
   1.3136
</td>
<td align="right">
   1.3140
</td>
<td align="right">
   1.3132
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
11:00:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.3130
</td>
<td align="right">
   1.3131
</td>
<td align="right">
   1.3135
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
11:10:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.3137
</td>
<td align="right">
   1.3132
</td>
<td align="right">
   1.3137
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
11:15:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.3139
</td>
<td align="right">
   1.3129
</td>
<td align="right">
   1.3138
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
11:20:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.3137
</td>
<td align="right">
   1.3128
</td>
<td align="right">
   1.3139
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0012
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
11:40:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.3134
</td>
<td align="right">
   1.3133
</td>
<td align="right">
   1.3136
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
11:50:00
</td>
<td align="right">
  .75
</td>
<td align="right">
   1.3140
</td>
<td align="right">
   1.3129
</td>
<td align="right">
   1.3136
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
11:55:00
</td>
<td align="right">
  .77
</td>
<td align="right">
   1.3140
</td>
<td align="right">
   1.3130
</td>
<td align="right">
   1.3135
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
12:00:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.3131
</td>
<td align="right">
   1.3126
</td>
<td align="right">
   1.3136
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
12:15:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.3129
</td>
<td align="right">
   1.3132
</td>
<td align="right">
   1.3138
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
12:30:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.3130
</td>
<td align="right">
   1.3132
</td>
<td align="right">
   1.3146
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
12:45:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.3134
</td>
<td align="right">
   1.3137
</td>
<td align="right">
   1.3146
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
13:15:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.3132
</td>
<td align="right">
   1.3118
</td>
<td align="right">
   1.3147
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   .0028
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
13:20:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3133
</td>
<td align="right">
   1.3110
</td>
<td align="right">
   1.3144
</td>
<td align="right">
  -.0023
</td>
<td align="right">
   .0034
</td>
<td align="right">
 -.0017
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
16:30:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.3134
</td>
<td align="right">
   1.3139
</td>
<td align="right">
   1.3154
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0015
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
16:35:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.3134
</td>
<td align="right">
   1.3138
</td>
<td align="right">
   1.3154
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0016
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
16:40:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.3135
</td>
<td align="right">
   1.3136
</td>
<td align="right">
   1.3155
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0019
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
16:45:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.3134
</td>
<td align="right">
   1.3133
</td>
<td align="right">
   1.3154
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0021
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
16:50:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.3132
</td>
<td align="right">
   1.3136
</td>
<td align="right">
   1.3154
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0018
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
16:55:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.3136
</td>
<td align="right">
   1.3135
</td>
<td align="right">
   1.3154
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
17:15:00
</td>
<td align="right">
  .79
</td>
<td align="right">
   1.3138
</td>
<td align="right">
   1.3138
</td>
<td align="right">
   1.3154
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0016
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
17:20:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.3139
</td>
<td align="right">
   1.3144
</td>
<td align="right">
   1.3154
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0010
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
17:25:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.3138
</td>
<td align="right">
   1.3140
</td>
<td align="right">
   1.3153
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0013
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
18:20:00
</td>
<td align="right">
  .80
</td>
<td align="right">
   1.3144
</td>
<td align="right">
   1.3144
</td>
<td align="right">
   1.3150
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
18:25:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.3140
</td>
<td align="right">
   1.3145
</td>
<td align="right">
   1.3152
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0008
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
18:30:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.3146
</td>
<td align="right">
   1.3150
</td>
<td align="right">
   1.3156
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-04-23
19:35:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.3153
</td>
<td align="right">
   1.3156
</td>
<td align="right">
   1.3151
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-24
05:20:00
</td>
<td align="right">
  .55
</td>
<td align="right">
    .9903
</td>
<td align="right">
    .9901
</td>
<td align="right">
    .9893
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-24
05:35:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .9905
</td>
<td align="right">
    .9904
</td>
<td align="right">
    .9891
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-24
05:40:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .9905
</td>
<td align="right">
    .9902
</td>
<td align="right">
    .9890
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0013
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-24
06:00:00
</td>
<td align="right">
  .76
</td>
<td align="right">
    .9903
</td>
<td align="right">
    .9902
</td>
<td align="right">
    .9889
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0013
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-24
06:05:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9903
</td>
<td align="right">
    .9906
</td>
<td align="right">
    .9892
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-24
06:15:00
</td>
<td align="right">
  .75
</td>
<td align="right">
    .9901
</td>
<td align="right">
    .9904
</td>
<td align="right">
    .9893
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-24
07:20:00
</td>
<td align="right">
  .70
</td>
<td align="right">
    .9906
</td>
<td align="right">
    .9901
</td>
<td align="right">
    .9905
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-24
07:30:00
</td>
<td align="right">
  .61
</td>
<td align="right">
    .9904
</td>
<td align="right">
    .9905
</td>
<td align="right">
    .9894
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-24
07:35:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .9901
</td>
<td align="right">
    .9904
</td>
<td align="right">
    .9893
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-04-24
09:00:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9904
</td>
<td align="right">
    .9903
</td>
<td align="right">
    .9888
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0015
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0015
</td>
</tr>
</table>
<br />
