<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_12_02<h4>Week of: 2012_12_02 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.67
</td>
<td align="right">
    -.49
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0003
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0005
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.61
</td>
<td align="right">
########
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0011
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0023
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0000
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.81
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0014
</td>
<td align="right">
   31
</td>
<td align="right">
  -.0420
</td>
<td align="right">
  -.0035
</td>
<td align="right">
   .0029
</td>
<td align="right">
   .0017
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -2.19
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0010
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0050
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0005
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   40
</td>
<td align="right">
  -.0498
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .60
</td>
<td align="right">
   -8.15
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0014
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0027
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .68
</td>
<td align="right">
    1.11
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0013
</td>
<td align="right">
   32
</td>
<td align="right">
   .0416
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   .0024
</td>
<td align="right">
   .0012
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .69
</td>
<td align="right">
    -.59
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   11
</td>
<td align="right">
  -.0089
</td>
<td align="right">
  -.0045
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .63
</td>
<td align="right">
   -1.25
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  -.0046
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0231
</td>
<td align="right">
  -.0074
</td>
<td align="right">
   .0008
</td>
<td align="right">
   .0037
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .64
</td>
<td align="right">
    -.14
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   11
</td>
<td align="right">
  -.0043
</td>
<td align="right">
  -.0076
</td>
<td align="right">
   .0018
</td>
<td align="right">
   .0027
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .62
</td>
<td align="right">
    -.25
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0002
</td>
<td align="right">
    7
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0008
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   68
</td>
<td align="right">
   .0015
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-12-04
02:55:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  85.5227
</td>
<td align="right">
  85.7977
</td>
<td align="right">
  85.7864
</td>
<td align="right">
   .2750
</td>
<td align="right">
  -.0113
</td>
<td align="right">
  .0032
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
16:20:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
   1.2531
</td>
<td align="right">
   1.2526
</td>
<td align="right">
   1.2527
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-03
03:15:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
   1.3038
</td>
<td align="right">
   1.3041
</td>
<td align="right">
   1.3032
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-03
03:45:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.3039
</td>
<td align="right">
   1.3038
</td>
<td align="right">
   1.3040
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-12-06
03:25:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9926
</td>
<td align="right">
    .9924
</td>
<td align="right">
    .9912
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-12-06
03:40:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9927
</td>
<td align="right">
    .9924
</td>
<td align="right">
    .9913
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-03
11:40:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .9252
</td>
<td align="right">
    .9262
</td>
<td align="right">
    .9253
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-03
12:30:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9255
</td>
<td align="right">
    .9261
</td>
<td align="right">
    .9250
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-03
12:55:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9259
</td>
<td align="right">
    .9262
</td>
<td align="right">
    .9256
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-03
13:00:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .9255
</td>
<td align="right">
    .9262
</td>
<td align="right">
    .9255
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-03
13:05:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9257
</td>
<td align="right">
    .9266
</td>
<td align="right">
    .9257
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-04
21:20:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9264
</td>
<td align="right">
    .9268
</td>
<td align="right">
    .9272
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-05
01:05:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9267
</td>
<td align="right">
    .9264
</td>
<td align="right">
    .9258
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-05
10:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9277
</td>
<td align="right">
    .9290
</td>
<td align="right">
    .9274
</td>
<td align="right">
   .0013
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-05
10:15:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
    .9277
</td>
<td align="right">
    .9298
</td>
<td align="right">
    .9271
</td>
<td align="right">
   .0021
</td>
<td align="right">
  -.0027
</td>
<td align="right">
  .0023
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-05
10:20:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9279
</td>
<td align="right">
    .9298
</td>
<td align="right">
    .9266
</td>
<td align="right">
   .0020
</td>
<td align="right">
  -.0032
</td>
<td align="right">
  .0021
</td>
<td align="right">
 -.0035
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-05
10:25:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
    .9279
</td>
<td align="right">
    .9297
</td>
<td align="right">
    .9265
</td>
<td align="right">
   .0018
</td>
<td align="right">
  -.0031
</td>
<td align="right">
  .0019
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-05
10:35:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
    .9279
</td>
<td align="right">
    .9285
</td>
<td align="right">
    .9265
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0020
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-05
10:40:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9282
</td>
<td align="right">
    .9284
</td>
<td align="right">
    .9265
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-05
10:45:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .9289
</td>
<td align="right">
    .9286
</td>
<td align="right">
    .9264
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0022
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-05
10:50:00
</td>
<td align="right">
 -.85
</td>
<td align="right">
    .9285
</td>
<td align="right">
    .9283
</td>
<td align="right">
    .9263
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0020
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-05
11:05:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
    .9290
</td>
<td align="right">
    .9289
</td>
<td align="right">
    .9258
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0031
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-05
11:25:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
    .9297
</td>
<td align="right">
    .9293
</td>
<td align="right">
    .9260
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0033
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0035
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-05
11:30:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9291
</td>
<td align="right">
    .9290
</td>
<td align="right">
    .9261
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0030
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-05
11:35:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .9285
</td>
<td align="right">
    .9289
</td>
<td align="right">
    .9261
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0028
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0030
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-05
11:40:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
    .9284
</td>
<td align="right">
    .9286
</td>
<td align="right">
    .9262
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0024
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-05
11:45:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
    .9286
</td>
<td align="right">
    .9289
</td>
<td align="right">
    .9264
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-05
11:50:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
    .9283
</td>
<td align="right">
    .9283
</td>
<td align="right">
    .9263
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0020
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-05
13:10:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .9282
</td>
<td align="right">
    .9281
</td>
<td align="right">
    .9262
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0019
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-05
22:55:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9263
</td>
<td align="right">
    .9266
</td>
<td align="right">
    .9270
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-05
23:25:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .9265
</td>
<td align="right">
    .9263
</td>
<td align="right">
    .9269
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-06
02:15:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9269
</td>
<td align="right">
    .9274
</td>
<td align="right">
    .9280
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-06
02:35:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9269
</td>
<td align="right">
    .9276
</td>
<td align="right">
    .9269
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-06
14:05:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9287
</td>
<td align="right">
    .9305
</td>
<td align="right">
    .9331
</td>
<td align="right">
   .0018
</td>
<td align="right">
   .0027
</td>
<td align="right">
  .0019
</td>
<td align="right">
  .0029
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-06
14:30:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9291
</td>
<td align="right">
    .9308
</td>
<td align="right">
    .9331
</td>
<td align="right">
   .0017
</td>
<td align="right">
   .0023
</td>
<td align="right">
  .0018
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-06
15:40:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9315
</td>
<td align="right">
    .9326
</td>
<td align="right">
    .9324
</td>
<td align="right">
   .0011
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-06
15:50:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .9313
</td>
<td align="right">
    .9328
</td>
<td align="right">
    .9323
</td>
<td align="right">
   .0015
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0016
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-03
17:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  82.2525
</td>
<td align="right">
  82.2275
</td>
<td align="right">
  82.1875
</td>
<td align="right">
  -.0250
</td>
<td align="right">
  -.0400
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-03
22:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  82.1875
</td>
<td align="right">
  82.1850
</td>
<td align="right">
  82.1275
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  -.0575
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-03
23:25:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  82.1825
</td>
<td align="right">
  82.1775
</td>
<td align="right">
  82.0775
</td>
<td align="right">
  -.0050
</td>
<td align="right">
  -.1000
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-04
04:05:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  82.1125
</td>
<td align="right">
  82.1125
</td>
<td align="right">
  82.0375
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0750
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-04
04:45:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  82.1100
</td>
<td align="right">
  82.1125
</td>
<td align="right">
  81.9775
</td>
<td align="right">
   .0025
</td>
<td align="right">
  -.1350
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0016
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-12-05
04:20:00
</td>
<td align="right">
  .64
</td>
<td align="right">
  86.2141
</td>
<td align="right">
  86.1236
</td>
<td align="right">
  86.0167
</td>
<td align="right">
  -.0905
</td>
<td align="right">
  -.1069
</td>
<td align="right">
 -.0011
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-12-05
04:40:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  86.1557
</td>
<td align="right">
  86.1466
</td>
<td align="right">
  86.0195
</td>
<td align="right">
  -.0091
</td>
<td align="right">
  -.1271
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
09:30:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2528
</td>
<td align="right">
   1.2510
</td>
<td align="right">
   1.2529
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   .0018
</td>
<td align="right">
 -.0014
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
10:05:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2514
</td>
<td align="right">
   1.2515
</td>
<td align="right">
   1.2534
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0019
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
10:15:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2514
</td>
<td align="right">
   1.2506
</td>
<td align="right">
   1.2533
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0026
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
10:25:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.2507
</td>
<td align="right">
   1.2504
</td>
<td align="right">
   1.2534
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0031
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
11:10:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.2506
</td>
<td align="right">
   1.2504
</td>
<td align="right">
   1.2527
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0023
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
11:15:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.2506
</td>
<td align="right">
   1.2506
</td>
<td align="right">
   1.2527
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0021
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
11:20:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2504
</td>
<td align="right">
   1.2506
</td>
<td align="right">
   1.2526
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0020
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
11:25:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.2504
</td>
<td align="right">
   1.2509
</td>
<td align="right">
   1.2527
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0018
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
11:35:00
</td>
<td align="right">
  .87
</td>
<td align="right">
   1.2501
</td>
<td align="right">
   1.2505
</td>
<td align="right">
   1.2524
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0019
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
11:40:00
</td>
<td align="right">
  .84
</td>
<td align="right">
   1.2502
</td>
<td align="right">
   1.2498
</td>
<td align="right">
   1.2525
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0027
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
11:45:00
</td>
<td align="right">
  .83
</td>
<td align="right">
   1.2501
</td>
<td align="right">
   1.2500
</td>
<td align="right">
   1.2526
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0026
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
13:05:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.2514
</td>
<td align="right">
   1.2503
</td>
<td align="right">
   1.2529
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0026
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
13:10:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2517
</td>
<td align="right">
   1.2507
</td>
<td align="right">
   1.2531
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0024
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
13:15:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.2516
</td>
<td align="right">
   1.2503
</td>
<td align="right">
   1.2530
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   .0027
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
13:20:00
</td>
<td align="right">
  .78
</td>
<td align="right">
   1.2514
</td>
<td align="right">
   1.2504
</td>
<td align="right">
   1.2530
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0026
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
13:25:00
</td>
<td align="right">
  .80
</td>
<td align="right">
   1.2516
</td>
<td align="right">
   1.2500
</td>
<td align="right">
   1.2531
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   .0031
</td>
<td align="right">
 -.0012
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
13:30:00
</td>
<td align="right">
  .78
</td>
<td align="right">
   1.2514
</td>
<td align="right">
   1.2505
</td>
<td align="right">
   1.2533
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0028
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
13:35:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.2512
</td>
<td align="right">
   1.2506
</td>
<td align="right">
   1.2534
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0028
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
13:40:00
</td>
<td align="right">
  .82
</td>
<td align="right">
   1.2514
</td>
<td align="right">
   1.2506
</td>
<td align="right">
   1.2535
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0029
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
13:45:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.2516
</td>
<td align="right">
   1.2508
</td>
<td align="right">
   1.2533
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0025
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
13:50:00
</td>
<td align="right">
  .82
</td>
<td align="right">
   1.2514
</td>
<td align="right">
   1.2507
</td>
<td align="right">
   1.2530
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0023
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
13:55:00
</td>
<td align="right">
  .75
</td>
<td align="right">
   1.2509
</td>
<td align="right">
   1.2510
</td>
<td align="right">
   1.2535
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0025
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-03
23:25:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.2522
</td>
<td align="right">
   1.2515
</td>
<td align="right">
   1.2504
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  -.0010
</td>
<td align="right">
 -.0006
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-04
04:35:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.2505
</td>
<td align="right">
   1.2503
</td>
<td align="right">
   1.2482
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0021
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-04
04:40:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.2507
</td>
<td align="right">
   1.2504
</td>
<td align="right">
   1.2485
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0018
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-04
05:10:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.2503
</td>
<td align="right">
   1.2507
</td>
<td align="right">
   1.2493
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-06
03:45:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.2474
</td>
<td align="right">
   1.2475
</td>
<td align="right">
   1.2478
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-06
15:50:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2362
</td>
<td align="right">
   1.2361
</td>
<td align="right">
   1.2368
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-06
16:00:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.2358
</td>
<td align="right">
   1.2363
</td>
<td align="right">
   1.2367
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-06
17:10:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.2366
</td>
<td align="right">
   1.2364
</td>
<td align="right">
   1.2379
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0015
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-06
17:40:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2368
</td>
<td align="right">
   1.2367
</td>
<td align="right">
   1.2376
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-06
17:55:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.2367
</td>
<td align="right">
   1.2369
</td>
<td align="right">
   1.2376
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-03
08:00:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .8124
</td>
<td align="right">
    .8118
</td>
<td align="right">
    .8116
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-03
08:05:00
</td>
<td align="right">
  .66
</td>
<td align="right">
    .8124
</td>
<td align="right">
    .8120
</td>
<td align="right">
    .8114
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0006
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-03
08:10:00
</td>
<td align="right">
  .68
</td>
<td align="right">
    .8125
</td>
<td align="right">
    .8120
</td>
<td align="right">
    .8112
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-03
08:15:00
</td>
<td align="right">
  .67
</td>
<td align="right">
    .8124
</td>
<td align="right">
    .8121
</td>
<td align="right">
    .8112
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-03
08:20:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .8124
</td>
<td align="right">
    .8122
</td>
<td align="right">
    .8114
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0008
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-03
08:25:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .8123
</td>
<td align="right">
    .8122
</td>
<td align="right">
    .8112
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0010
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-04
01:05:00
</td>
<td align="right">
  .85
</td>
<td align="right">
    .8112
</td>
<td align="right">
    .8109
</td>
<td align="right">
    .8115
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-04
01:30:00
</td>
<td align="right">
  .82
</td>
<td align="right">
    .8113
</td>
<td align="right">
    .8110
</td>
<td align="right">
    .8112
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-04
02:45:00
</td>
<td align="right">
  .72
</td>
<td align="right">
    .8112
</td>
<td align="right">
    .8112
</td>
<td align="right">
    .8112
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-04
02:50:00
</td>
<td align="right">
  .72
</td>
<td align="right">
    .8111
</td>
<td align="right">
    .8113
</td>
<td align="right">
    .8112
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-06
11:25:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .8112
</td>
<td align="right">
    .8109
</td>
<td align="right">
    .8072
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0036
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0045
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-04
09:20:00
</td>
<td align="right">
  .57
</td>
<td align="right">
 107.2669
</td>
<td align="right">
 107.1884
</td>
<td align="right">
 107.2697
</td>
<td align="right">
  -.0784
</td>
<td align="right">
   .0813
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-04
11:00:00
</td>
<td align="right">
  .66
</td>
<td align="right">
 107.2228
</td>
<td align="right">
 107.2392
</td>
<td align="right">
 106.9997
</td>
<td align="right">
   .0165
</td>
<td align="right">
  -.2395
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-06
09:40:00
</td>
<td align="right">
  .72
</td>
<td align="right">
 107.8422
</td>
<td align="right">
 107.7244
</td>
<td align="right">
 106.9241
</td>
<td align="right">
  -.1178
</td>
<td align="right">
  -.8003
</td>
<td align="right">
 -.0011
</td>
<td align="right">
 -.0074
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-06
09:45:00
</td>
<td align="right">
  .63
</td>
<td align="right">
 107.8316
</td>
<td align="right">
 107.7040
</td>
<td align="right">
 106.9305
</td>
<td align="right">
  -.1276
</td>
<td align="right">
  -.7734
</td>
<td align="right">
 -.0012
</td>
<td align="right">
 -.0072
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-06
09:55:00
</td>
<td align="right">
  .58
</td>
<td align="right">
 107.8073
</td>
<td align="right">
 107.6893
</td>
<td align="right">
 106.9262
</td>
<td align="right">
  -.1180
</td>
<td align="right">
  -.7632
</td>
<td align="right">
 -.0011
</td>
<td align="right">
 -.0071
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-03
15:40:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3057
</td>
<td align="right">
   1.3061
</td>
<td align="right">
   1.3051
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-03
21:30:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.3053
</td>
<td align="right">
   1.3056
</td>
<td align="right">
   1.3060
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-04
02:15:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.3048
</td>
<td align="right">
   1.3051
</td>
<td align="right">
   1.3063
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-04
03:50:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.3062
</td>
<td align="right">
   1.3056
</td>
<td align="right">
   1.3070
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0014
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-04
07:55:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.3071
</td>
<td align="right">
   1.3074
</td>
<td align="right">
   1.3097
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0023
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-04
08:40:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.3080
</td>
<td align="right">
   1.3075
</td>
<td align="right">
   1.3095
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0020
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-04
22:50:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.3095
</td>
<td align="right">
   1.3096
</td>
<td align="right">
   1.3115
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0020
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-05
00:20:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.3111
</td>
<td align="right">
   1.3099
</td>
<td align="right">
   1.3110
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-05
19:35:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.3076
</td>
<td align="right">
   1.3078
</td>
<td align="right">
   1.3049
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-06
11:05:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.3079
</td>
<td align="right">
   1.3070
</td>
<td align="right">
   1.2970
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  -.0100
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0076
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-06
14:35:00
</td>
<td align="right">
  .75
</td>
<td align="right">
   1.3027
</td>
<td align="right">
   1.2990
</td>
<td align="right">
   1.2968
</td>
<td align="right">
  -.0037
</td>
<td align="right">
  -.0022
</td>
<td align="right">
 -.0028
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-04
00:00:00
</td>
<td align="right">
  .65
</td>
<td align="right">
  82.1375
</td>
<td align="right">
  82.1525
</td>
<td align="right">
  82.1125
</td>
<td align="right">
   .0150
</td>
<td align="right">
  -.0400
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-04
00:35:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  82.1325
</td>
<td align="right">
  82.1075
</td>
<td align="right">
  82.0775
</td>
<td align="right">
  -.0250
</td>
<td align="right">
  -.0300
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-04
00:40:00
</td>
<td align="right">
  .59
</td>
<td align="right">
  82.1375
</td>
<td align="right">
  82.1125
</td>
<td align="right">
  82.0800
</td>
<td align="right">
  -.0250
</td>
<td align="right">
  -.0325
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-04
08:45:00
</td>
<td align="right">
  .72
</td>
<td align="right">
  82.0300
</td>
<td align="right">
  82.0075
</td>
<td align="right">
  81.9425
</td>
<td align="right">
  -.0225
</td>
<td align="right">
  -.0650
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-04
17:25:00
</td>
<td align="right">
  .68
</td>
<td align="right">
  81.8000
</td>
<td align="right">
  81.8025
</td>
<td align="right">
  81.8700
</td>
<td align="right">
   .0025
</td>
<td align="right">
   .0675
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-04
18:30:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  81.8100
</td>
<td align="right">
  81.8325
</td>
<td align="right">
  81.8925
</td>
<td align="right">
   .0225
</td>
<td align="right">
   .0600
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-06
09:35:00
</td>
<td align="right">
  .59
</td>
<td align="right">
  82.4600
</td>
<td align="right">
  82.3950
</td>
<td align="right">
  82.3400
</td>
<td align="right">
  -.0650
</td>
<td align="right">
  -.0550
</td>
<td align="right">
 -.0008
</td>
<td align="right">
 -.0007
</td>
</tr>
</table>
<br />
