<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_08_26<h4>Week of: 2012_08_26 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.82
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   19
</td>
<td align="right">
  -.0114
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.21
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0004
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  -.0020
</td>
<td align="right">
   .0016
</td>
<td align="right">
   .0017
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   24
</td>
<td align="right">
  -.0132
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.46
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0005
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  -.0021
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0011
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .61
</td>
<td align="right">
    1.94
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0013
</td>
<td align="right">
    4
</td>
<td align="right">
   .0052
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0019
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   10
</td>
<td align="right">
   .0023
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-27
11:05:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  81.8669
</td>
<td align="right">
  81.8416
</td>
<td align="right">
  81.7667
</td>
<td align="right">
  -.0253
</td>
<td align="right">
  -.0749
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-27
11:15:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
  81.8474
</td>
<td align="right">
  81.8506
</td>
<td align="right">
  81.7758
</td>
<td align="right">
   .0032
</td>
<td align="right">
  -.0748
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-28
12:55:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  81.4414
</td>
<td align="right">
  81.4498
</td>
<td align="right">
  81.4749
</td>
<td align="right">
   .0084
</td>
<td align="right">
   .0251
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-28
21:35:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
  81.4160
</td>
<td align="right">
  81.4499
</td>
<td align="right">
  81.4577
</td>
<td align="right">
   .0339
</td>
<td align="right">
   .0078
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-28
22:15:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  81.4256
</td>
<td align="right">
  81.4758
</td>
<td align="right">
  81.4919
</td>
<td align="right">
   .0502
</td>
<td align="right">
   .0161
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-28
22:25:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
  81.4380
</td>
<td align="right">
  81.5052
</td>
<td align="right">
  81.4624
</td>
<td align="right">
   .0672
</td>
<td align="right">
  -.0428
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-28
23:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  81.4717
</td>
<td align="right">
  81.5286
</td>
<td align="right">
  81.4520
</td>
<td align="right">
   .0569
</td>
<td align="right">
  -.0765
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-28
23:15:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  81.4758
</td>
<td align="right">
  81.5034
</td>
<td align="right">
  81.4750
</td>
<td align="right">
   .0276
</td>
<td align="right">
  -.0283
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-28
23:25:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  81.5052
</td>
<td align="right">
  81.4838
</td>
<td align="right">
  81.4834
</td>
<td align="right">
  -.0214
</td>
<td align="right">
  -.0004
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-28
23:35:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  81.4830
</td>
<td align="right">
  81.5232
</td>
<td align="right">
  81.5385
</td>
<td align="right">
   .0402
</td>
<td align="right">
   .0152
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-28
23:40:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  81.4927
</td>
<td align="right">
  81.4886
</td>
<td align="right">
  81.5286
</td>
<td align="right">
  -.0041
</td>
<td align="right">
   .0400
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-28
23:45:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  81.4966
</td>
<td align="right">
  81.4781
</td>
<td align="right">
  81.5111
</td>
<td align="right">
  -.0185
</td>
<td align="right">
   .0330
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-29
02:40:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  81.4617
</td>
<td align="right">
  81.4649
</td>
<td align="right">
  81.3768
</td>
<td align="right">
   .0032
</td>
<td align="right">
  -.0881
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-29
02:45:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
  81.4831
</td>
<td align="right">
  81.4676
</td>
<td align="right">
  81.3632
</td>
<td align="right">
  -.0155
</td>
<td align="right">
  -.1044
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-29
03:00:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
  81.4434
</td>
<td align="right">
  81.4577
</td>
<td align="right">
  81.3429
</td>
<td align="right">
   .0143
</td>
<td align="right">
  -.1149
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-29
03:05:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  81.4383
</td>
<td align="right">
  81.4570
</td>
<td align="right">
  81.3339
</td>
<td align="right">
   .0188
</td>
<td align="right">
  -.1231
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-29
03:15:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  81.4199
</td>
<td align="right">
  81.4919
</td>
<td align="right">
  81.3675
</td>
<td align="right">
   .0720
</td>
<td align="right">
  -.1243
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-29
03:20:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  81.4329
</td>
<td align="right">
  81.4742
</td>
<td align="right">
  81.3689
</td>
<td align="right">
   .0413
</td>
<td align="right">
  -.1052
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-08-29
04:40:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  81.4461
</td>
<td align="right">
  81.5286
</td>
<td align="right">
  81.4189
</td>
<td align="right">
   .0825
</td>
<td align="right">
  -.1098
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-27
11:45:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.0393
</td>
<td align="right">
   1.0392
</td>
<td align="right">
   1.0383
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-28
00:35:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.0354
</td>
<td align="right">
   1.0354
</td>
<td align="right">
   1.0368
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0013
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-28
00:40:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.0353
</td>
<td align="right">
   1.0354
</td>
<td align="right">
   1.0371
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0017
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-29
12:25:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.0381
</td>
<td align="right">
   1.0387
</td>
<td align="right">
   1.0367
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0020
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-29
12:30:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.0381
</td>
<td align="right">
   1.0387
</td>
<td align="right">
   1.0366
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0021
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-29
18:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .7913
</td>
<td align="right">
    .7912
</td>
<td align="right">
    .7915
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0004
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-27
05:45:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.0380
</td>
<td align="right">
   1.0383
</td>
<td align="right">
   1.0393
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0010
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-29
08:45:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.0364
</td>
<td align="right">
   1.0364
</td>
<td align="right">
   1.0367
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-29
14:05:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.0376
</td>
<td align="right">
   1.0364
</td>
<td align="right">
   1.0357
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0012
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-29
14:15:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.0372
</td>
<td align="right">
   1.0363
</td>
<td align="right">
   1.0354
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0009
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-29
14:20:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.0372
</td>
<td align="right">
   1.0358
</td>
<td align="right">
   1.0353
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  -.0005
</td>
<td align="right">
 -.0013
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-08-29
17:15:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.0368
</td>
<td align="right">
   1.0367
</td>
<td align="right">
   1.0345
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0022
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-29
12:35:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.2083
</td>
<td align="right">
   1.2078
</td>
<td align="right">
   1.2082
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-29
13:15:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2079
</td>
<td align="right">
   1.2074
</td>
<td align="right">
   1.2096
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0022
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-29
13:30:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.2076
</td>
<td align="right">
   1.2080
</td>
<td align="right">
   1.2097
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0017
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-08-29
13:45:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.2079
</td>
<td align="right">
   1.2080
</td>
<td align="right">
   1.2100
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0019
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-08-29
14:10:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .7916
</td>
<td align="right">
    .7916
</td>
<td align="right">
    .7914
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-08-30
01:55:00
</td>
<td align="right">
  .59
</td>
<td align="right">
  98.6195
</td>
<td align="right">
  98.5874
</td>
<td align="right">
  98.6889
</td>
<td align="right">
  -.0321
</td>
<td align="right">
   .1015
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0010
</td>
</tr>
</table>
<br />
