<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_12_16<h4>Week of: 2012_12_16 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -1.61
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   17
</td>
<td align="right">
  -.0127
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.71
</td>
<td align="right">
 -133.68
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0056
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0112
</td>
<td align="right">
  -.0056
</td>
<td align="right">
  -.0056
</td>
<td align="right">
   .0000
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   19
</td>
<td align="right">
  -.0239
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .66
</td>
<td align="right">
   -2.07
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   22
</td>
<td align="right">
  -.0335
</td>
<td align="right">
  -.0028
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .69
</td>
<td align="right">
    -.91
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  -.0005
</td>
<td align="right">
    6
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0006
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   28
</td>
<td align="right">
  -.0365
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-17
00:00:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9186
</td>
<td align="right">
    .9188
</td>
<td align="right">
    .9186
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-17
00:25:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .9187
</td>
<td align="right">
    .9191
</td>
<td align="right">
    .9188
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-17
00:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9189
</td>
<td align="right">
    .9191
</td>
<td align="right">
    .9187
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-17
01:00:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9188
</td>
<td align="right">
    .9191
</td>
<td align="right">
    .9189
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-17
01:10:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9189
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9187
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-17
01:30:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9191
</td>
<td align="right">
    .9191
</td>
<td align="right">
    .9185
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-17
01:35:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9193
</td>
<td align="right">
    .9185
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-17
01:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9191
</td>
<td align="right">
    .9193
</td>
<td align="right">
    .9183
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-17
01:50:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9191
</td>
<td align="right">
    .9194
</td>
<td align="right">
    .9186
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-17
01:55:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9185
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-17
02:00:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9191
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9183
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-17
02:05:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9176
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-17
02:10:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9176
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-17
03:05:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9189
</td>
<td align="right">
    .9183
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-17
03:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9192
</td>
<td align="right">
    .9189
</td>
<td align="right">
    .9182
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-17
04:40:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9185
</td>
<td align="right">
    .9184
</td>
<td align="right">
    .9181
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0004
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-17
04:45:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9184
</td>
<td align="right">
    .9184
</td>
<td align="right">
    .9181
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-17
04:20:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
  84.0575
</td>
<td align="right">
  84.1200
</td>
<td align="right">
  83.6525
</td>
<td align="right">
   .0625
</td>
<td align="right">
  -.4675
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0056
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-17
04:25:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
  84.0625
</td>
<td align="right">
  84.1075
</td>
<td align="right">
  83.6350
</td>
<td align="right">
   .0450
</td>
<td align="right">
  -.4725
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0056
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-16
23:25:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .8140
</td>
<td align="right">
    .8142
</td>
<td align="right">
    .8138
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-16
23:30:00
</td>
<td align="right">
  .73
</td>
<td align="right">
    .8142
</td>
<td align="right">
    .8141
</td>
<td align="right">
    .8138
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-16
23:40:00
</td>
<td align="right">
  .72
</td>
<td align="right">
    .8139
</td>
<td align="right">
    .8142
</td>
<td align="right">
    .8136
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-16
23:45:00
</td>
<td align="right">
  .76
</td>
<td align="right">
    .8140
</td>
<td align="right">
    .8141
</td>
<td align="right">
    .8137
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-17
00:35:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .8139
</td>
<td align="right">
    .8137
</td>
<td align="right">
    .8129
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0008
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-17
02:20:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .8137
</td>
<td align="right">
    .8139
</td>
<td align="right">
    .8133
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-17
02:40:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .8137
</td>
<td align="right">
    .8140
</td>
<td align="right">
    .8131
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-17
02:45:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .8137
</td>
<td align="right">
    .8139
</td>
<td align="right">
    .8131
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-17
03:00:00
</td>
<td align="right">
  .79
</td>
<td align="right">
    .8140
</td>
<td align="right">
    .8138
</td>
<td align="right">
    .8128
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0010
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-17
03:15:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .8139
</td>
<td align="right">
    .8139
</td>
<td align="right">
    .8131
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-17
03:20:00
</td>
<td align="right">
  .55
</td>
<td align="right">
    .8139
</td>
<td align="right">
    .8139
</td>
<td align="right">
    .8127
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-17
03:25:00
</td>
<td align="right">
  .70
</td>
<td align="right">
    .8139
</td>
<td align="right">
    .8140
</td>
<td align="right">
    .8125
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-17
03:35:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .8141
</td>
<td align="right">
    .8140
</td>
<td align="right">
    .8124
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0016
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-17
03:40:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .8140
</td>
<td align="right">
    .8139
</td>
<td align="right">
    .8122
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0017
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-17
03:55:00
</td>
<td align="right">
  .67
</td>
<td align="right">
    .8140
</td>
<td align="right">
    .8140
</td>
<td align="right">
    .8126
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-17
04:00:00
</td>
<td align="right">
  .67
</td>
<td align="right">
    .8138
</td>
<td align="right">
    .8140
</td>
<td align="right">
    .8126
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-17
04:05:00
</td>
<td align="right">
  .68
</td>
<td align="right">
    .8139
</td>
<td align="right">
    .8139
</td>
<td align="right">
    .8121
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-17
04:10:00
</td>
<td align="right">
  .74
</td>
<td align="right">
    .8139
</td>
<td align="right">
    .8139
</td>
<td align="right">
    .8120
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-17
04:15:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .8139
</td>
<td align="right">
    .8138
</td>
<td align="right">
    .8120
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0019
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-17
04:20:00
</td>
<td align="right">
  .75
</td>
<td align="right">
    .8139
</td>
<td align="right">
    .8138
</td>
<td align="right">
    .8119
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0019
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-17
04:25:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .8140
</td>
<td align="right">
    .8138
</td>
<td align="right">
    .8116
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0022
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-17
04:30:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .8140
</td>
<td align="right">
    .8138
</td>
<td align="right">
    .8117
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0020
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-16
22:15:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.3164
</td>
<td align="right">
   1.3167
</td>
<td align="right">
   1.3154
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-16
22:30:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.3185
</td>
<td align="right">
   1.3173
</td>
<td align="right">
   1.3159
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0009
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-16
22:40:00
</td>
<td align="right">
  .82
</td>
<td align="right">
   1.3179
</td>
<td align="right">
   1.3168
</td>
<td align="right">
   1.3160
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0008
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-16
22:45:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.3180
</td>
<td align="right">
   1.3167
</td>
<td align="right">
   1.3160
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0009
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-16
23:00:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.3184
</td>
<td align="right">
   1.3160
</td>
<td align="right">
   1.3165
</td>
<td align="right">
  -.0024
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0018
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-16
23:10:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.3177
</td>
<td align="right">
   1.3161
</td>
<td align="right">
   1.3160
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0013
</td>
<td align="right">
  .0000
</td>
</tr>
</table>
<br />
