<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_06_24<h4>Week of: 2012_06_24 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .64
</td>
<td align="right">
   -6.07
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  -.0029
</td>
<td align="right">
   11
</td>
<td align="right">
  -.0317
</td>
<td align="right">
  -.0039
</td>
<td align="right">
  -.0022
</td>
<td align="right">
   .0005
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   11
</td>
<td align="right">
  -.0317
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-06-25
04:30:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.2496
</td>
<td align="right">
   1.2492
</td>
<td align="right">
   1.2490
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0002
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-06-24
21:30:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.0051
</td>
<td align="right">
   1.0039
</td>
<td align="right">
   1.0031
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0012
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-24
22:05:00
</td>
<td align="right">
  .60
</td>
<td align="right">
  80.4900
</td>
<td align="right">
  80.5025
</td>
<td align="right">
  80.3275
</td>
<td align="right">
   .0125
</td>
<td align="right">
  -.1750
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-24
22:10:00
</td>
<td align="right">
  .75
</td>
<td align="right">
  80.5025
</td>
<td align="right">
  80.5125
</td>
<td align="right">
  80.3300
</td>
<td align="right">
   .0100
</td>
<td align="right">
  -.1825
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-25
00:15:00
</td>
<td align="right">
  .63
</td>
<td align="right">
  80.4725
</td>
<td align="right">
  80.4300
</td>
<td align="right">
  80.1125
</td>
<td align="right">
  -.0425
</td>
<td align="right">
  -.3175
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0039
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-25
00:30:00
</td>
<td align="right">
  .67
</td>
<td align="right">
  80.4250
</td>
<td align="right">
  80.3550
</td>
<td align="right">
  80.1300
</td>
<td align="right">
  -.0700
</td>
<td align="right">
  -.2250
</td>
<td align="right">
 -.0009
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-25
00:35:00
</td>
<td align="right">
  .74
</td>
<td align="right">
  80.4425
</td>
<td align="right">
  80.3775
</td>
<td align="right">
  80.1375
</td>
<td align="right">
  -.0650
</td>
<td align="right">
  -.2400
</td>
<td align="right">
 -.0008
</td>
<td align="right">
 -.0030
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-25
00:50:00
</td>
<td align="right">
  .64
</td>
<td align="right">
  80.3925
</td>
<td align="right">
  80.3125
</td>
<td align="right">
  80.0575
</td>
<td align="right">
  -.0800
</td>
<td align="right">
  -.2550
</td>
<td align="right">
 -.0010
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-25
00:55:00
</td>
<td align="right">
  .57
</td>
<td align="right">
  80.4100
</td>
<td align="right">
  80.3325
</td>
<td align="right">
  80.0825
</td>
<td align="right">
  -.0775
</td>
<td align="right">
  -.2500
</td>
<td align="right">
 -.0010
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-25
01:05:00
</td>
<td align="right">
  .59
</td>
<td align="right">
  80.4175
</td>
<td align="right">
  80.2575
</td>
<td align="right">
  80.0475
</td>
<td align="right">
  -.1600
</td>
<td align="right">
  -.2100
</td>
<td align="right">
 -.0020
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-25
01:30:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  80.3550
</td>
<td align="right">
  80.2925
</td>
<td align="right">
  80.0575
</td>
<td align="right">
  -.0625
</td>
<td align="right">
  -.2350
</td>
<td align="right">
 -.0008
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-25
01:35:00
</td>
<td align="right">
  .64
</td>
<td align="right">
  80.3775
</td>
<td align="right">
  80.2975
</td>
<td align="right">
  80.0625
</td>
<td align="right">
  -.0800
</td>
<td align="right">
  -.2350
</td>
<td align="right">
 -.0010
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-25
01:50:00
</td>
<td align="right">
  .61
</td>
<td align="right">
  80.3125
</td>
<td align="right">
  80.2875
</td>
<td align="right">
  80.0650
</td>
<td align="right">
  -.0250
</td>
<td align="right">
  -.2225
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0028
</td>
</tr>
</table>
<br />
