<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_11_25<h4>Week of: 2012_11_25 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.67
</td>
<td align="right">
     .51
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0010
</td>
<td align="right">
   23
</td>
<td align="right">
   .0234
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0051
</td>
<td align="right">
   .0020
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.35
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0005
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0015
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.59
</td>
<td align="right">
   -5.40
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0012
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0036
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.42
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   16
</td>
<td align="right">
  -.0213
</td>
<td align="right">
  -.0029
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0009
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   45
</td>
<td align="right">
  -.0030
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.59
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  -.0015
</td>
<td align="right">
    3
</td>
<td align="right">
  -.0044
</td>
<td align="right">
  -.0043
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0025
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .61
</td>
<td align="right">
    -.24
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   18
</td>
<td align="right">
  -.0042
</td>
<td align="right">
  -.0022
</td>
<td align="right">
   .0016
</td>
<td align="right">
   .0010
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .65
</td>
<td align="right">
    -.75
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0015
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0020
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .70
</td>
<td align="right">
    1.07
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0011
</td>
<td align="right">
   30
</td>
<td align="right">
   .0317
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0040
</td>
<td align="right">
   .0010
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .63
</td>
<td align="right">
    -.75
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0008
</td>
<td align="right">
    9
</td>
<td align="right">
  -.0072
</td>
<td align="right">
  -.0029
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0011
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .57
</td>
<td align="right">
    8.17
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   .0023
</td>
<td align="right">
    2
</td>
<td align="right">
   .0046
</td>
<td align="right">
   .0021
</td>
<td align="right">
   .0025
</td>
<td align="right">
   .0003
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   64
</td>
<td align="right">
   .0176
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-26
17:05:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
 106.5149
</td>
<td align="right">
 106.4728
</td>
<td align="right">
 106.4912
</td>
<td align="right">
  -.0421
</td>
<td align="right">
   .0184
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-26
17:15:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 106.4914
</td>
<td align="right">
 106.5128
</td>
<td align="right">
 106.4088
</td>
<td align="right">
   .0214
</td>
<td align="right">
  -.1039
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
01:55:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
 105.8796
</td>
<td align="right">
 105.8783
</td>
<td align="right">
 105.8030
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  -.0753
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
02:55:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 105.8783
</td>
<td align="right">
 105.8639
</td>
<td align="right">
 105.7692
</td>
<td align="right">
  -.0143
</td>
<td align="right">
  -.0947
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
03:00:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
 105.7669
</td>
<td align="right">
 105.8680
</td>
<td align="right">
 105.7119
</td>
<td align="right">
   .1012
</td>
<td align="right">
  -.1561
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
20:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 105.9090
</td>
<td align="right">
 106.0680
</td>
<td align="right">
 106.4182
</td>
<td align="right">
   .1590
</td>
<td align="right">
   .3502
</td>
<td align="right">
  .0015
</td>
<td align="right">
  .0033
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
20:10:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
 105.9136
</td>
<td align="right">
 106.0634
</td>
<td align="right">
 106.3276
</td>
<td align="right">
   .1497
</td>
<td align="right">
   .2643
</td>
<td align="right">
  .0014
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
20:45:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
 106.0292
</td>
<td align="right">
 106.2088
</td>
<td align="right">
 106.2434
</td>
<td align="right">
   .1797
</td>
<td align="right">
   .0346
</td>
<td align="right">
  .0017
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
20:50:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
 106.0462
</td>
<td align="right">
 106.2256
</td>
<td align="right">
 106.2734
</td>
<td align="right">
   .1794
</td>
<td align="right">
   .0479
</td>
<td align="right">
  .0017
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
21:20:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
 106.0616
</td>
<td align="right">
 106.2934
</td>
<td align="right">
 106.3226
</td>
<td align="right">
   .2318
</td>
<td align="right">
   .0292
</td>
<td align="right">
  .0022
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
21:25:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
 106.1178
</td>
<td align="right">
 106.2729
</td>
<td align="right">
 106.3368
</td>
<td align="right">
   .1551
</td>
<td align="right">
   .0639
</td>
<td align="right">
  .0015
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
21:30:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
 106.1460
</td>
<td align="right">
 106.3003
</td>
<td align="right">
 106.3497
</td>
<td align="right">
   .1543
</td>
<td align="right">
   .0494
</td>
<td align="right">
  .0015
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
21:35:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
 106.1609
</td>
<td align="right">
 106.2680
</td>
<td align="right">
 106.3298
</td>
<td align="right">
   .1071
</td>
<td align="right">
   .0617
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
21:45:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
 106.2088
</td>
<td align="right">
 106.2833
</td>
<td align="right">
 106.3300
</td>
<td align="right">
   .0745
</td>
<td align="right">
   .0467
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
22:40:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
 106.2729
</td>
<td align="right">
 106.4304
</td>
<td align="right">
 106.3276
</td>
<td align="right">
   .1576
</td>
<td align="right">
  -.1028
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
22:55:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
 106.3042
</td>
<td align="right">
 106.4001
</td>
<td align="right">
 106.3410
</td>
<td align="right">
   .0959
</td>
<td align="right">
  -.0591
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
23:00:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
 106.2833
</td>
<td align="right">
 106.3652
</td>
<td align="right">
 106.3745
</td>
<td align="right">
   .0819
</td>
<td align="right">
   .0093
</td>
<td align="right">
  .0008
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-28
23:05:00
</td>
<td align="right">
 -.83
</td>
<td align="right">
 106.2886
</td>
<td align="right">
 106.4155
</td>
<td align="right">
 106.4197
</td>
<td align="right">
   .1269
</td>
<td align="right">
   .0042
</td>
<td align="right">
  .0012
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-29
23:55:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 106.5564
</td>
<td align="right">
 106.5813
</td>
<td align="right">
 107.1243
</td>
<td align="right">
   .0249
</td>
<td align="right">
   .5431
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0051
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-30
00:05:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 106.5052
</td>
<td align="right">
 106.5318
</td>
<td align="right">
 107.0592
</td>
<td align="right">
   .0266
</td>
<td align="right">
   .5274
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0050
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-30
00:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
 106.5337
</td>
<td align="right">
 106.5759
</td>
<td align="right">
 107.0793
</td>
<td align="right">
   .0421
</td>
<td align="right">
   .5034
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0047
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-30
00:35:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 106.5177
</td>
<td align="right">
 106.8223
</td>
<td align="right">
 107.1514
</td>
<td align="right">
   .3046
</td>
<td align="right">
   .3292
</td>
<td align="right">
  .0029
</td>
<td align="right">
  .0031
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-30
00:40:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 106.5150
</td>
<td align="right">
 106.9512
</td>
<td align="right">
 107.1545
</td>
<td align="right">
   .4362
</td>
<td align="right">
   .2033
</td>
<td align="right">
  .0041
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
11:20:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.2986
</td>
<td align="right">
   1.2982
</td>
<td align="right">
   1.2971
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
11:45:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.2993
</td>
<td align="right">
   1.2994
</td>
<td align="right">
   1.2971
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0024
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-30
03:30:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2991
</td>
<td align="right">
   1.2997
</td>
<td align="right">
   1.3011
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-28
05:55:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.6000
</td>
<td align="right">
   1.6003
</td>
<td align="right">
   1.5984
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-28
06:10:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.6001
</td>
<td align="right">
   1.6005
</td>
<td align="right">
   1.5989
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-28
06:25:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.6001
</td>
<td align="right">
   1.6007
</td>
<td align="right">
   1.5984
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0023
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-27
17:40:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9308
</td>
<td align="right">
    .9310
</td>
<td align="right">
    .9306
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-29
04:20:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .9293
</td>
<td align="right">
    .9292
</td>
<td align="right">
    .9273
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0019
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-29
04:55:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .9296
</td>
<td align="right">
    .9296
</td>
<td align="right">
    .9272
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0024
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-29
06:00:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9297
</td>
<td align="right">
    .9300
</td>
<td align="right">
    .9273
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0027
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-29
10:20:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9273
</td>
<td align="right">
    .9273
</td>
<td align="right">
    .9274
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-29
15:25:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9276
</td>
<td align="right">
    .9276
</td>
<td align="right">
    .9279
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-29
18:25:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9278
</td>
<td align="right">
    .9282
</td>
<td align="right">
    .9279
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-29
18:45:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9278
</td>
<td align="right">
    .9281
</td>
<td align="right">
    .9277
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
12:45:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .9281
</td>
<td align="right">
    .9287
</td>
<td align="right">
    .9269
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
12:50:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9279
</td>
<td align="right">
    .9286
</td>
<td align="right">
    .9269
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
12:55:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .9279
</td>
<td align="right">
    .9285
</td>
<td align="right">
    .9268
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
13:00:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
    .9281
</td>
<td align="right">
    .9287
</td>
<td align="right">
    .9269
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
13:05:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9278
</td>
<td align="right">
    .9282
</td>
<td align="right">
    .9268
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
13:10:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9282
</td>
<td align="right">
    .9281
</td>
<td align="right">
    .9269
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
13:15:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .9281
</td>
<td align="right">
    .9284
</td>
<td align="right">
    .9271
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-30
13:20:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9281
</td>
<td align="right">
    .9282
</td>
<td align="right">
    .9269
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-29
09:35:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  82.1450
</td>
<td align="right">
  82.1225
</td>
<td align="right">
  82.0325
</td>
<td align="right">
  -.0225
</td>
<td align="right">
  -.0900
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0011
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-26
01:30:00
</td>
<td align="right">
  .76
</td>
<td align="right">
  86.1770
</td>
<td align="right">
  86.0435
</td>
<td align="right">
  86.0358
</td>
<td align="right">
  -.1335
</td>
<td align="right">
  -.0077
</td>
<td align="right">
 -.0015
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-26
01:35:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  86.1684
</td>
<td align="right">
  86.0360
</td>
<td align="right">
  86.0378
</td>
<td align="right">
  -.1325
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0015
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-11-26
03:05:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  86.0500
</td>
<td align="right">
  86.0284
</td>
<td align="right">
  85.6574
</td>
<td align="right">
  -.0216
</td>
<td align="right">
  -.3710
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0043
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-26
08:10:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.2401
</td>
<td align="right">
   1.2395
</td>
<td align="right">
   1.2408
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0013
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-26
09:40:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2411
</td>
<td align="right">
   1.2413
</td>
<td align="right">
   1.2402
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-26
09:50:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.2416
</td>
<td align="right">
   1.2410
</td>
<td align="right">
   1.2400
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0010
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-26
10:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2413
</td>
<td align="right">
   1.2408
</td>
<td align="right">
   1.2408
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-26
10:10:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.2408
</td>
<td align="right">
   1.2406
</td>
<td align="right">
   1.2411
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-26
20:20:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.2392
</td>
<td align="right">
   1.2393
</td>
<td align="right">
   1.2387
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-26
20:30:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.2397
</td>
<td align="right">
   1.2396
</td>
<td align="right">
   1.2387
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-26
20:35:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.2395
</td>
<td align="right">
   1.2395
</td>
<td align="right">
   1.2386
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-27
10:35:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2365
</td>
<td align="right">
   1.2357
</td>
<td align="right">
   1.2374
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0017
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-27
12:05:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2365
</td>
<td align="right">
   1.2366
</td>
<td align="right">
   1.2367
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
07:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.2361
</td>
<td align="right">
   1.2364
</td>
<td align="right">
   1.2345
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
07:10:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2362
</td>
<td align="right">
   1.2367
</td>
<td align="right">
   1.2340
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0027
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
07:55:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.2356
</td>
<td align="right">
   1.2359
</td>
<td align="right">
   1.2359
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
08:05:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.2364
</td>
<td align="right">
   1.2360
</td>
<td align="right">
   1.2356
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0005
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
08:20:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.2363
</td>
<td align="right">
   1.2358
</td>
<td align="right">
   1.2353
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0005
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
09:25:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2361
</td>
<td align="right">
   1.2361
</td>
<td align="right">
   1.2348
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
12:00:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.2350
</td>
<td align="right">
   1.2346
</td>
<td align="right">
   1.2351
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-11-28
16:15:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.2342
</td>
<td align="right">
   1.2345
</td>
<td align="right">
   1.2364
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0019
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-25
22:50:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .8094
</td>
<td align="right">
    .8090
</td>
<td align="right">
    .8089
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-11-27
05:05:00
</td>
<td align="right">
  .69
</td>
<td align="right">
    .8100
</td>
<td align="right">
    .8100
</td>
<td align="right">
    .8077
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0023
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-11-29
02:35:00
</td>
<td align="right">
  .60
</td>
<td align="right">
 106.3573
</td>
<td align="right">
 106.3226
</td>
<td align="right">
 106.6332
</td>
<td align="right">
  -.0347
</td>
<td align="right">
   .3106
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0029
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
05:45:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2953
</td>
<td align="right">
   1.2942
</td>
<td align="right">
   1.2993
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0052
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0040
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
17:25:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.2970
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
17:30:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2969
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
17:45:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.2971
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2970
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:15:00
</td>
<td align="right">
  .80
</td>
<td align="right">
   1.2973
</td>
<td align="right">
   1.2972
</td>
<td align="right">
   1.2973
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:20:00
</td>
<td align="right">
  .83
</td>
<td align="right">
   1.2973
</td>
<td align="right">
   1.2972
</td>
<td align="right">
   1.2974
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:25:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2968
</td>
<td align="right">
   1.2975
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:30:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2968
</td>
<td align="right">
   1.2978
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:35:00
</td>
<td align="right">
  .86
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2969
</td>
<td align="right">
   1.2976
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:40:00
</td>
<td align="right">
  .91
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2971
</td>
<td align="right">
   1.2977
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:45:00
</td>
<td align="right">
  .84
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2971
</td>
<td align="right">
   1.2977
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
18:50:00
</td>
<td align="right">
  .75
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2971
</td>
<td align="right">
   1.2976
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
19:00:00
</td>
<td align="right">
  .86
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2982
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
19:15:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.2972
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2985
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0011
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
19:20:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.2972
</td>
<td align="right">
   1.2973
</td>
<td align="right">
   1.2985
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
20:00:00
</td>
<td align="right">
  .78
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2998
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0024
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
20:15:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.3000
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0024
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
20:20:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.2973
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2997
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0021
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
20:25:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0026
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
20:40:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2974
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2996
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0020
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
20:45:00
</td>
<td align="right">
  .79
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2992
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0016
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
20:55:00
</td>
<td align="right">
  .80
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2979
</td>
<td align="right">
   1.2994
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0015
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
21:15:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2978
</td>
<td align="right">
   1.2991
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
21:20:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.2976
</td>
<td align="right">
   1.2978
</td>
<td align="right">
   1.2993
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0015
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
22:45:00
</td>
<td align="right">
  .80
</td>
<td align="right">
   1.2978
</td>
<td align="right">
   1.2975
</td>
<td align="right">
   1.2999
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0024
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-29
23:15:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.2971
</td>
<td align="right">
   1.2972
</td>
<td align="right">
   1.2994
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0022
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-30
09:55:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.3001
</td>
<td align="right">
   1.3000
</td>
<td align="right">
   1.3005
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-30
12:40:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.2996
</td>
<td align="right">
   1.2978
</td>
<td align="right">
   1.2997
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0014
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-30
17:45:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.3000
</td>
<td align="right">
   1.2999
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-11-30
21:30:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.3004
</td>
<td align="right">
   1.2993
</td>
<td align="right">
   1.3039
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0046
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0036
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-26
00:25:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.6033
</td>
<td align="right">
   1.6027
</td>
<td align="right">
   1.6018
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-26
00:35:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.6030
</td>
<td align="right">
   1.6027
</td>
<td align="right">
   1.6018
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-26
00:55:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.6029
</td>
<td align="right">
   1.6023
</td>
<td align="right">
   1.6021
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-26
01:00:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.6029
</td>
<td align="right">
   1.6025
</td>
<td align="right">
   1.6021
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-26
01:20:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.6027
</td>
<td align="right">
   1.6025
</td>
<td align="right">
   1.6025
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-26
01:30:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.6027
</td>
<td align="right">
   1.6027
</td>
<td align="right">
   1.6033
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-30
08:15:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.6048
</td>
<td align="right">
   1.6051
</td>
<td align="right">
   1.6004
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0047
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-30
08:45:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.6045
</td>
<td align="right">
   1.6044
</td>
<td align="right">
   1.6009
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0035
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-11-30
09:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.6046
</td>
<td align="right">
   1.6028
</td>
<td align="right">
   1.6012
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  -.0017
</td>
<td align="right">
 -.0011
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-11-29
11:40:00
</td>
<td align="right">
  .61
</td>
<td align="right">
    .9268
</td>
<td align="right">
    .9266
</td>
<td align="right">
    .9283
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0017
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-26
07:55:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  82.1800
</td>
<td align="right">
  81.9500
</td>
<td align="right">
  82.1225
</td>
<td align="right">
  -.2300
</td>
<td align="right">
   .1725
</td>
<td align="right">
 -.0028
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-11-27
10:50:00
</td>
<td align="right">
  .57
</td>
<td align="right">
  82.0975
</td>
<td align="right">
  82.0625
</td>
<td align="right">
  82.2675
</td>
<td align="right">
  -.0350
</td>
<td align="right">
   .2050
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0025
</td>
</tr>
</table>
<br />
