<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_07_15<h4>Week of: 2012_07_15 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -2.05
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0013
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0066
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0006
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.75
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0006
</td>
<td align="right">
    4
</td>
<td align="right">
   .0024
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.56
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   45
</td>
<td align="right">
  -.0654
</td>
<td align="right">
  -.0050
</td>
<td align="right">
   .0046
</td>
<td align="right">
   .0026
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.62
</td>
<td align="right">
   -1.14
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   21
</td>
<td align="right">
  -.0332
</td>
<td align="right">
  -.0037
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.10
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0026
</td>
<td align="right">
   22
</td>
<td align="right">
  -.0564
</td>
<td align="right">
  -.0058
</td>
<td align="right">
   .0029
</td>
<td align="right">
   .0023
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.60
</td>
<td align="right">
    -.56
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0007
</td>
<td align="right">
    9
</td>
<td align="right">
  -.0067
</td>
<td align="right">
  -.0024
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0013
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.05
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0019
</td>
<td align="right">
    9
</td>
<td align="right">
  -.0168
</td>
<td align="right">
  -.0036
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0018
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  115
</td>
<td align="right">
  -.1827
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .67
</td>
<td align="right">
    2.62
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0020
</td>
<td align="right">
   10
</td>
<td align="right">
   .0202
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0037
</td>
<td align="right">
   .0008
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .66
</td>
<td align="right">
    2.04
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0043
</td>
<td align="right">
    9
</td>
<td align="right">
   .0384
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0057
</td>
<td align="right">
   .0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .62
</td>
<td align="right">
     .33
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0003
</td>
<td align="right">
   27
</td>
<td align="right">
   .0069
</td>
<td align="right">
  -.0019
</td>
<td align="right">
   .0013
</td>
<td align="right">
   .0008
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .59
</td>
<td align="right">
    -.30
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0004
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  -.0027
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
  .61
</td>
<td align="right">
     .03
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0001
</td>
<td align="right">
    7
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0051
</td>
<td align="right">
   .0046
</td>
<td align="right">
   .0031
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .59
</td>
<td align="right">
    2.91
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0012
</td>
<td align="right">
    7
</td>
<td align="right">
   .0085
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0018
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .68
</td>
<td align="right">
     .03
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0001
</td>
<td align="right">
   10
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0036
</td>
<td align="right">
   .0052
</td>
<td align="right">
   .0036
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .65
</td>
<td align="right">
    2.67
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0030
</td>
<td align="right">
    8
</td>
<td align="right">
   .0238
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0045
</td>
<td align="right">
   .0011
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   83
</td>
<td align="right">
   .0977
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-17
21:55:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  81.4789
</td>
<td align="right">
  81.5134
</td>
<td align="right">
  81.3920
</td>
<td align="right">
   .0345
</td>
<td align="right">
  -.1213
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-17
22:00:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  81.4662
</td>
<td align="right">
  81.5482
</td>
<td align="right">
  81.4272
</td>
<td align="right">
   .0820
</td>
<td align="right">
  -.1210
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-17
22:25:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
  81.4477
</td>
<td align="right">
  81.5661
</td>
<td align="right">
  81.4249
</td>
<td align="right">
   .1185
</td>
<td align="right">
  -.1413
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-18
03:30:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  81.4595
</td>
<td align="right">
  81.4288
</td>
<td align="right">
  81.4134
</td>
<td align="right">
  -.0307
</td>
<td align="right">
  -.0155
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-18
06:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  81.4401
</td>
<td align="right">
  81.5352
</td>
<td align="right">
  81.3951
</td>
<td align="right">
   .0951
</td>
<td align="right">
  -.1400
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-17
10:00:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.0284
</td>
<td align="right">
   1.0285
</td>
<td align="right">
   1.0286
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-17
18:50:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
   1.0313
</td>
<td align="right">
   1.0310
</td>
<td align="right">
   1.0317
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-18
15:35:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.0348
</td>
<td align="right">
   1.0359
</td>
<td align="right">
   1.0366
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0011
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-18
18:35:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.0353
</td>
<td align="right">
   1.0363
</td>
<td align="right">
   1.0373
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0010
</td>
<td align="right">
  .0010
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-15
23:40:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.1971
</td>
<td align="right">
   1.1971
</td>
<td align="right">
   1.1968
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
01:35:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.1972
</td>
<td align="right">
   1.1979
</td>
<td align="right">
   1.1967
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
04:05:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.1973
</td>
<td align="right">
   1.1971
</td>
<td align="right">
   1.1931
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0039
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0033
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
05:50:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.1964
</td>
<td align="right">
   1.1961
</td>
<td align="right">
   1.1930
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0032
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:00:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
   1.1963
</td>
<td align="right">
   1.1963
</td>
<td align="right">
   1.1932
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0031
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.1962
</td>
<td align="right">
   1.1963
</td>
<td align="right">
   1.1934
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:10:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
   1.1962
</td>
<td align="right">
   1.1964
</td>
<td align="right">
   1.1934
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0030
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:15:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.1961
</td>
<td align="right">
   1.1961
</td>
<td align="right">
   1.1933
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0028
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:20:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
   1.1958
</td>
<td align="right">
   1.1963
</td>
<td align="right">
   1.1926
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0037
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:25:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.1959
</td>
<td align="right">
   1.1964
</td>
<td align="right">
   1.1930
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0034
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:30:00
</td>
<td align="right">
 -.90
</td>
<td align="right">
   1.1958
</td>
<td align="right">
   1.1966
</td>
<td align="right">
   1.1936
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0031
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:35:00
</td>
<td align="right">
 -.84
</td>
<td align="right">
   1.1957
</td>
<td align="right">
   1.1967
</td>
<td align="right">
   1.1949
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:40:00
</td>
<td align="right">
 -.84
</td>
<td align="right">
   1.1957
</td>
<td align="right">
   1.1962
</td>
<td align="right">
   1.1954
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:45:00
</td>
<td align="right">
 -.86
</td>
<td align="right">
   1.1958
</td>
<td align="right">
   1.1961
</td>
<td align="right">
   1.1958
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:50:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
   1.1961
</td>
<td align="right">
   1.1960
</td>
<td align="right">
   1.1958
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
06:55:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
   1.1959
</td>
<td align="right">
   1.1958
</td>
<td align="right">
   1.1963
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
07:00:00
</td>
<td align="right">
 -.85
</td>
<td align="right">
   1.1963
</td>
<td align="right">
   1.1961
</td>
<td align="right">
   1.1964
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
07:05:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.1963
</td>
<td align="right">
   1.1960
</td>
<td align="right">
   1.1963
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
07:10:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
   1.1964
</td>
<td align="right">
   1.1961
</td>
<td align="right">
   1.1967
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
07:15:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
   1.1961
</td>
<td align="right">
   1.1957
</td>
<td align="right">
   1.1963
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
09:25:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.1935
</td>
<td align="right">
   1.1933
</td>
<td align="right">
   1.1976
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0043
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0036
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
09:30:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
   1.1934
</td>
<td align="right">
   1.1931
</td>
<td align="right">
   1.1986
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0055
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0046
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
09:35:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.1933
</td>
<td align="right">
   1.1932
</td>
<td align="right">
   1.1980
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0048
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0040
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
09:50:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.1939
</td>
<td align="right">
   1.1935
</td>
<td align="right">
   1.1982
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0047
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0039
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-16
09:55:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.1937
</td>
<td align="right">
   1.1935
</td>
<td align="right">
   1.1984
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0050
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0042
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-17
23:30:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.1918
</td>
<td align="right">
   1.1917
</td>
<td align="right">
   1.1920
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-17
23:45:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.1921
</td>
<td align="right">
   1.1919
</td>
<td align="right">
   1.1922
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-17
23:50:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.1919
</td>
<td align="right">
   1.1915
</td>
<td align="right">
   1.1919
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
01:10:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.1920
</td>
<td align="right">
   1.1932
</td>
<td align="right">
   1.1920
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
01:20:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.1921
</td>
<td align="right">
   1.1934
</td>
<td align="right">
   1.1920
</td>
<td align="right">
   .0013
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
01:45:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.1926
</td>
<td align="right">
   1.1932
</td>
<td align="right">
   1.1921
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
04:30:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.1919
</td>
<td align="right">
   1.1920
</td>
<td align="right">
   1.1875
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0045
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
04:40:00
</td>
<td align="right">
 -.86
</td>
<td align="right">
   1.1917
</td>
<td align="right">
   1.1919
</td>
<td align="right">
   1.1875
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0043
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0036
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
04:50:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.1916
</td>
<td align="right">
   1.1919
</td>
<td align="right">
   1.1872
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0048
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0040
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
04:55:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.1918
</td>
<td align="right">
   1.1918
</td>
<td align="right">
   1.1868
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0050
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0042
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
05:15:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.1917
</td>
<td align="right">
   1.1921
</td>
<td align="right">
   1.1861
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0060
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0050
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
05:20:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.1918
</td>
<td align="right">
   1.1919
</td>
<td align="right">
   1.1867
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0052
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0043
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
05:25:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
   1.1918
</td>
<td align="right">
   1.1916
</td>
<td align="right">
   1.1867
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0049
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0041
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
05:50:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.1919
</td>
<td align="right">
   1.1918
</td>
<td align="right">
   1.1872
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0047
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0039
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
05:55:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.1918
</td>
<td align="right">
   1.1918
</td>
<td align="right">
   1.1873
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0045
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
06:05:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
   1.1918
</td>
<td align="right">
   1.1916
</td>
<td align="right">
   1.1865
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0051
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0043
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
06:15:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.1921
</td>
<td align="right">
   1.1921
</td>
<td align="right">
   1.1872
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0048
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0041
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
06:35:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.1917
</td>
<td align="right">
   1.1919
</td>
<td align="right">
   1.1874
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0046
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
06:40:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.1914
</td>
<td align="right">
   1.1918
</td>
<td align="right">
   1.1873
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0044
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
08:00:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.1916
</td>
<td align="right">
   1.1914
</td>
<td align="right">
   1.1859
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0056
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0047
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
05:45:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .7861
</td>
<td align="right">
    .7859
</td>
<td align="right">
    .7845
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
06:35:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .7857
</td>
<td align="right">
    .7864
</td>
<td align="right">
    .7852
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
06:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .7860
</td>
<td align="right">
    .7864
</td>
<td align="right">
    .7855
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
06:45:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .7859
</td>
<td align="right">
    .7865
</td>
<td align="right">
    .7851
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
07:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .7862
</td>
<td align="right">
    .7866
</td>
<td align="right">
    .7850
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0016
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
07:30:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .7862
</td>
<td align="right">
    .7865
</td>
<td align="right">
    .7840
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
07:35:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .7864
</td>
<td align="right">
    .7865
</td>
<td align="right">
    .7837
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0028
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0035
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
07:40:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .7864
</td>
<td align="right">
    .7865
</td>
<td align="right">
    .7836
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0036
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
09:45:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .7848
</td>
<td align="right">
    .7846
</td>
<td align="right">
    .7844
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
09:50:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
    .7848
</td>
<td align="right">
    .7845
</td>
<td align="right">
    .7846
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
09:55:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
    .7847
</td>
<td align="right">
    .7846
</td>
<td align="right">
    .7846
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
10:15:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .7848
</td>
<td align="right">
    .7846
</td>
<td align="right">
    .7843
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
10:20:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .7847
</td>
<td align="right">
    .7846
</td>
<td align="right">
    .7844
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
10:30:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
    .7845
</td>
<td align="right">
    .7843
</td>
<td align="right">
    .7843
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-16
10:35:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .7847
</td>
<td align="right">
    .7845
</td>
<td align="right">
    .7843
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0002
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-17
08:20:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .7868
</td>
<td align="right">
    .7868
</td>
<td align="right">
    .7838
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-18
06:40:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
    .7850
</td>
<td align="right">
    .7851
</td>
<td align="right">
    .7834
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-18
07:15:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .7851
</td>
<td align="right">
    .7852
</td>
<td align="right">
    .7831
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0021
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-18
08:00:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .7851
</td>
<td align="right">
    .7860
</td>
<td align="right">
    .7841
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-18
08:05:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .7852
</td>
<td align="right">
    .7859
</td>
<td align="right">
    .7836
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0023
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-18
17:30:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .7840
</td>
<td align="right">
    .7842
</td>
<td align="right">
    .7846
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-16
03:00:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  96.8216
</td>
<td align="right">
  96.8128
</td>
<td align="right">
  96.5428
</td>
<td align="right">
  -.0089
</td>
<td align="right">
  -.2700
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-16
05:00:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  96.7896
</td>
<td align="right">
  96.8447
</td>
<td align="right">
  96.2861
</td>
<td align="right">
   .0550
</td>
<td align="right">
  -.5586
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0058
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-16
05:10:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  96.7734
</td>
<td align="right">
  96.7898
</td>
<td align="right">
  96.2802
</td>
<td align="right">
   .0164
</td>
<td align="right">
  -.5096
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0053
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-16
20:20:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  96.7583
</td>
<td align="right">
  96.7831
</td>
<td align="right">
  97.0619
</td>
<td align="right">
   .0248
</td>
<td align="right">
   .2788
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0029
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-16
21:15:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  96.7853
</td>
<td align="right">
  96.7772
</td>
<td align="right">
  97.0038
</td>
<td align="right">
  -.0081
</td>
<td align="right">
   .2266
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-17
07:10:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
  97.0412
</td>
<td align="right">
  97.1830
</td>
<td align="right">
  97.1454
</td>
<td align="right">
   .1418
</td>
<td align="right">
  -.0376
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-17
21:30:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
  97.1977
</td>
<td align="right">
  97.1950
</td>
<td align="right">
  97.1746
</td>
<td align="right">
  -.0026
</td>
<td align="right">
  -.0204
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-17
22:35:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  97.2251
</td>
<td align="right">
  97.2383
</td>
<td align="right">
  97.0815
</td>
<td align="right">
   .0132
</td>
<td align="right">
  -.1568
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-17
22:40:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
  97.2290
</td>
<td align="right">
  97.2025
</td>
<td align="right">
  97.0892
</td>
<td align="right">
  -.0265
</td>
<td align="right">
  -.1133
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-17
22:45:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  97.2270
</td>
<td align="right">
  97.2563
</td>
<td align="right">
  97.0982
</td>
<td align="right">
   .0293
</td>
<td align="right">
  -.1581
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-17
22:50:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  97.2119
</td>
<td align="right">
  97.2242
</td>
<td align="right">
  97.0837
</td>
<td align="right">
   .0124
</td>
<td align="right">
  -.1405
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-18
01:00:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  97.2605
</td>
<td align="right">
  97.2467
</td>
<td align="right">
  97.0956
</td>
<td align="right">
  -.0138
</td>
<td align="right">
  -.1510
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-18
01:35:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  97.2469
</td>
<td align="right">
  97.2598
</td>
<td align="right">
  97.0802
</td>
<td align="right">
   .0129
</td>
<td align="right">
  -.1796
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-18
05:15:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
  96.9574
</td>
<td align="right">
  96.9732
</td>
<td align="right">
  96.5476
</td>
<td align="right">
   .0158
</td>
<td align="right">
  -.4255
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0044
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-18
05:20:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
  96.9328
</td>
<td align="right">
  96.9890
</td>
<td align="right">
  96.5950
</td>
<td align="right">
   .0561
</td>
<td align="right">
  -.3939
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0041
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-18
05:25:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  96.9302
</td>
<td align="right">
  97.0285
</td>
<td align="right">
  96.6209
</td>
<td align="right">
   .0983
</td>
<td align="right">
  -.4076
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0042
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-18
05:30:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
  96.9162
</td>
<td align="right">
  97.0263
</td>
<td align="right">
  96.5625
</td>
<td align="right">
   .1101
</td>
<td align="right">
  -.4637
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0048
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-18
05:35:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  96.9175
</td>
<td align="right">
  96.9885
</td>
<td align="right">
  96.5717
</td>
<td align="right">
   .0711
</td>
<td align="right">
  -.4168
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0043
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-18
05:40:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
  96.8909
</td>
<td align="right">
  97.0091
</td>
<td align="right">
  96.5620
</td>
<td align="right">
   .1182
</td>
<td align="right">
  -.4471
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0046
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-18
05:45:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
  96.9177
</td>
<td align="right">
  97.0188
</td>
<td align="right">
  96.6186
</td>
<td align="right">
   .1011
</td>
<td align="right">
  -.4002
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0041
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-18
05:50:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  96.9048
</td>
<td align="right">
  96.9863
</td>
<td align="right">
  96.6762
</td>
<td align="right">
   .0816
</td>
<td align="right">
  -.3102
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-18
06:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  96.9407
</td>
<td align="right">
  97.0956
</td>
<td align="right">
  96.6866
</td>
<td align="right">
   .1549
</td>
<td align="right">
  -.4090
</td>
<td align="right">
  .0016
</td>
<td align="right">
 -.0042
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
03:00:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.5665
</td>
<td align="right">
   1.5663
</td>
<td align="right">
   1.5625
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0038
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
03:05:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.5663
</td>
<td align="right">
   1.5665
</td>
<td align="right">
   1.5629
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0037
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
03:15:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.5663
</td>
<td align="right">
   1.5665
</td>
<td align="right">
   1.5633
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0032
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
04:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.5663
</td>
<td align="right">
   1.5660
</td>
<td align="right">
   1.5636
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0025
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-18
13:25:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.5624
</td>
<td align="right">
   1.5643
</td>
<td align="right">
   1.5653
</td>
<td align="right">
   .0020
</td>
<td align="right">
   .0010
</td>
<td align="right">
  .0013
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-18
16:45:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.5647
</td>
<td align="right">
   1.5648
</td>
<td align="right">
   1.5646
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-18
17:50:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.5646
</td>
<td align="right">
   1.5642
</td>
<td align="right">
   1.5653
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-18
18:30:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
   1.5646
</td>
<td align="right">
   1.5653
</td>
<td align="right">
   1.5658
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-18
18:35:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.5644
</td>
<td align="right">
   1.5654
</td>
<td align="right">
   1.5658
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-07-16
01:30:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9818
</td>
<td align="right">
    .9815
</td>
<td align="right">
    .9820
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-07-16
01:45:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .9816
</td>
<td align="right">
    .9812
</td>
<td align="right">
    .9823
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-07-18
10:25:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9814
</td>
<td align="right">
    .9816
</td>
<td align="right">
    .9787
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0030
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-07-18
10:30:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9815
</td>
<td align="right">
    .9822
</td>
<td align="right">
    .9786
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0035
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0036
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-07-18
10:45:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9810
</td>
<td align="right">
    .9818
</td>
<td align="right">
    .9793
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0025
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-07-18
10:50:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9812
</td>
<td align="right">
    .9811
</td>
<td align="right">
    .9792
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0019
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-07-18
11:45:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9818
</td>
<td align="right">
    .9826
</td>
<td align="right">
    .9791
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0035
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0036
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-07-18
12:15:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9820
</td>
<td align="right">
    .9823
</td>
<td align="right">
    .9792
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0031
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-07-18
16:30:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9786
</td>
<td align="right">
    .9790
</td>
<td align="right">
    .9784
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-07-18
00:15:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  79.1050
</td>
<td align="right">
  79.0775
</td>
<td align="right">
  78.9925
</td>
<td align="right">
  -.0275
</td>
<td align="right">
  -.0850
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0011
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-16
15:00:00
</td>
<td align="right">
  .64
</td>
<td align="right">
  80.6205
</td>
<td align="right">
  80.6240
</td>
<td align="right">
  80.8181
</td>
<td align="right">
   .0035
</td>
<td align="right">
   .1941
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-16
15:15:00
</td>
<td align="right">
  .55
</td>
<td align="right">
  80.6847
</td>
<td align="right">
  80.5988
</td>
<td align="right">
  80.8209
</td>
<td align="right">
  -.0859
</td>
<td align="right">
   .2221
</td>
<td align="right">
 -.0011
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-16
16:00:00
</td>
<td align="right">
  .68
</td>
<td align="right">
  80.6240
</td>
<td align="right">
  80.6205
</td>
<td align="right">
  80.7893
</td>
<td align="right">
  -.0036
</td>
<td align="right">
   .1689
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-16
16:05:00
</td>
<td align="right">
  .76
</td>
<td align="right">
  80.6413
</td>
<td align="right">
  80.6407
</td>
<td align="right">
  80.7686
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .1279
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-16
16:10:00
</td>
<td align="right">
  .64
</td>
<td align="right">
  80.6354
</td>
<td align="right">
  80.6334
</td>
<td align="right">
  80.7666
</td>
<td align="right">
  -.0020
</td>
<td align="right">
   .1332
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-16
16:15:00
</td>
<td align="right">
  .73
</td>
<td align="right">
  80.5988
</td>
<td align="right">
  80.6208
</td>
<td align="right">
  80.7714
</td>
<td align="right">
   .0221
</td>
<td align="right">
   .1506
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-16
16:20:00
</td>
<td align="right">
  .65
</td>
<td align="right">
  80.6011
</td>
<td align="right">
  80.6116
</td>
<td align="right">
  80.7720
</td>
<td align="right">
   .0104
</td>
<td align="right">
   .1604
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-18
10:55:00
</td>
<td align="right">
  .74
</td>
<td align="right">
  81.3965
</td>
<td align="right">
  81.4067
</td>
<td align="right">
  81.7045
</td>
<td align="right">
   .0101
</td>
<td align="right">
   .2978
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0037
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-18
13:55:00
</td>
<td align="right">
  .72
</td>
<td align="right">
  81.5664
</td>
<td align="right">
  81.5719
</td>
<td align="right">
  81.6631
</td>
<td align="right">
   .0055
</td>
<td align="right">
   .0912
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-07-18
18:15:00
</td>
<td align="right">
  .58
</td>
<td align="right">
  81.6000
</td>
<td align="right">
  81.6265
</td>
<td align="right">
  81.7171
</td>
<td align="right">
   .0266
</td>
<td align="right">
   .0906
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-17
05:10:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.0299
</td>
<td align="right">
   1.0286
</td>
<td align="right">
   1.0286
</td>
<td align="right">
  -.0014
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0013
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-17
13:00:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.0282
</td>
<td align="right">
   1.0260
</td>
<td align="right">
   1.0310
</td>
<td align="right">
  -.0022
</td>
<td align="right">
   .0050
</td>
<td align="right">
 -.0022
</td>
<td align="right">
  .0048
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-17
13:05:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.0283
</td>
<td align="right">
   1.0258
</td>
<td align="right">
   1.0308
</td>
<td align="right">
  -.0025
</td>
<td align="right">
   .0051
</td>
<td align="right">
 -.0025
</td>
<td align="right">
  .0049
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-17
13:50:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.0278
</td>
<td align="right">
   1.0252
</td>
<td align="right">
   1.0310
</td>
<td align="right">
  -.0027
</td>
<td align="right">
   .0059
</td>
<td align="right">
 -.0026
</td>
<td align="right">
  .0057
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-17
14:10:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.0266
</td>
<td align="right">
   1.0260
</td>
<td align="right">
   1.0317
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0058
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0056
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-17
14:20:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.0264
</td>
<td align="right">
   1.0261
</td>
<td align="right">
   1.0317
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0056
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0054
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-17
14:25:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.0257
</td>
<td align="right">
   1.0259
</td>
<td align="right">
   1.0317
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0059
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0057
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-17
16:10:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.0283
</td>
<td align="right">
   1.0285
</td>
<td align="right">
   1.0299
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-07-18
11:05:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.0307
</td>
<td align="right">
   1.0310
</td>
<td align="right">
   1.0360
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0050
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0049
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-17
17:05:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.1911
</td>
<td align="right">
   1.1911
</td>
<td align="right">
   1.1917
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-17
17:10:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.1910
</td>
<td align="right">
   1.1911
</td>
<td align="right">
   1.1917
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-17
17:15:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.1912
</td>
<td align="right">
   1.1910
</td>
<td align="right">
   1.1918
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-17
17:20:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.1916
</td>
<td align="right">
   1.1912
</td>
<td align="right">
   1.1919
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-17
17:30:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.1917
</td>
<td align="right">
   1.1911
</td>
<td align="right">
   1.1921
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-17
17:40:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.1913
</td>
<td align="right">
   1.1909
</td>
<td align="right">
   1.1919
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-17
17:45:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.1915
</td>
<td align="right">
   1.1907
</td>
<td align="right">
   1.1918
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-17
19:10:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.1918
</td>
<td align="right">
   1.1918
</td>
<td align="right">
   1.1922
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-17
19:35:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.1914
</td>
<td align="right">
   1.1918
</td>
<td align="right">
   1.1929
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0011
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-17
19:55:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.1916
</td>
<td align="right">
   1.1917
</td>
<td align="right">
   1.1932
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0015
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
11:05:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.1861
</td>
<td align="right">
   1.1865
</td>
<td align="right">
   1.1842
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0023
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
13:00:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.1870
</td>
<td align="right">
   1.1859
</td>
<td align="right">
   1.1848
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0010
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
13:10:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.1872
</td>
<td align="right">
   1.1854
</td>
<td align="right">
   1.1847
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0015
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
14:05:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.1858
</td>
<td align="right">
   1.1854
</td>
<td align="right">
   1.1846
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
14:15:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.1855
</td>
<td align="right">
   1.1854
</td>
<td align="right">
   1.1842
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0013
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
14:40:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.1851
</td>
<td align="right">
   1.1850
</td>
<td align="right">
   1.1846
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0005
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
15:10:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.1854
</td>
<td align="right">
   1.1844
</td>
<td align="right">
   1.1847
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
15:30:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.1846
</td>
<td align="right">
   1.1842
</td>
<td align="right">
   1.1848
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
15:40:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.1850
</td>
<td align="right">
   1.1841
</td>
<td align="right">
   1.1850
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
16:00:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.1850
</td>
<td align="right">
   1.1839
</td>
<td align="right">
   1.1853
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0014
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
16:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.1848
</td>
<td align="right">
   1.1842
</td>
<td align="right">
   1.1851
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
16:15:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.1844
</td>
<td align="right">
   1.1843
</td>
<td align="right">
   1.1846
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
16:20:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.1845
</td>
<td align="right">
   1.1841
</td>
<td align="right">
   1.1845
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
17:05:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.1842
</td>
<td align="right">
   1.1843
</td>
<td align="right">
   1.1852
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0010
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
17:10:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.1842
</td>
<td align="right">
   1.1843
</td>
<td align="right">
   1.1849
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
17:40:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.1844
</td>
<td align="right">
   1.1846
</td>
<td align="right">
   1.1850
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-07-18
17:55:00
</td>
<td align="right">
  .80
</td>
<td align="right">
   1.1843
</td>
<td align="right">
   1.1846
</td>
<td align="right">
   1.1839
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-17
01:00:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .7848
</td>
<td align="right">
    .7851
</td>
<td align="right">
    .7850
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-17
01:25:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .7853
</td>
<td align="right">
    .7854
</td>
<td align="right">
    .7854
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-17
09:45:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .7860
</td>
<td align="right">
    .7857
</td>
<td align="right">
    .7836
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0021
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-18
12:45:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .7834
</td>
<td align="right">
    .7836
</td>
<td align="right">
    .7840
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-07-18
13:20:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .7836
</td>
<td align="right">
    .7839
</td>
<td align="right">
    .7842
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-16
12:35:00
</td>
<td align="right">
  .68
</td>
<td align="right">
  96.3634
</td>
<td align="right">
  96.3106
</td>
<td align="right">
  96.7566
</td>
<td align="right">
  -.0529
</td>
<td align="right">
   .4460
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0046
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-18
04:40:00
</td>
<td align="right">
  .71
</td>
<td align="right">
  97.0892
</td>
<td align="right">
  96.8909
</td>
<td align="right">
  96.6501
</td>
<td align="right">
  -.1983
</td>
<td align="right">
  -.2408
</td>
<td align="right">
 -.0020
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-18
07:10:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  97.1241
</td>
<td align="right">
  97.0304
</td>
<td align="right">
  96.5358
</td>
<td align="right">
  -.0938
</td>
<td align="right">
  -.4946
</td>
<td align="right">
 -.0010
</td>
<td align="right">
 -.0051
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-18
14:50:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  96.7173
</td>
<td align="right">
  96.6681
</td>
<td align="right">
  96.7614
</td>
<td align="right">
  -.0492
</td>
<td align="right">
   .0932
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-18
15:10:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  96.6580
</td>
<td align="right">
  96.6896
</td>
<td align="right">
  96.7868
</td>
<td align="right">
   .0316
</td>
<td align="right">
   .0972
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-18
15:35:00
</td>
<td align="right">
  .64
</td>
<td align="right">
  96.6716
</td>
<td align="right">
  96.6854
</td>
<td align="right">
  96.7927
</td>
<td align="right">
   .0138
</td>
<td align="right">
   .1073
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-07-18
16:25:00
</td>
<td align="right">
  .58
</td>
<td align="right">
  96.7049
</td>
<td align="right">
  96.7031
</td>
<td align="right">
  96.7495
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   .0464
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-07-18
15:45:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.2267
</td>
<td align="right">
   1.2264
</td>
<td align="right">
   1.2282
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0018
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-07-18
16:35:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.2267
</td>
<td align="right">
   1.2268
</td>
<td align="right">
   1.2277
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-07-18
16:55:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.2266
</td>
<td align="right">
   1.2263
</td>
<td align="right">
   1.2277
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0015
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-07-18
17:30:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.2268
</td>
<td align="right">
   1.2269
</td>
<td align="right">
   1.2276
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0008
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-07-18
17:45:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.2267
</td>
<td align="right">
   1.2262
</td>
<td align="right">
   1.2281
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-07-18
17:55:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.2263
</td>
<td align="right">
   1.2264
</td>
<td align="right">
   1.2286
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0022
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-07-18
18:00:00
</td>
<td align="right">
  .55
</td>
<td align="right">
   1.2266
</td>
<td align="right">
   1.2270
</td>
<td align="right">
   1.2285
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0015
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
06:55:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.5643
</td>
<td align="right">
   1.5639
</td>
<td align="right">
   1.5617
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0022
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
08:00:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.5635
</td>
<td align="right">
   1.5625
</td>
<td align="right">
   1.5593
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  -.0032
</td>
<td align="right">
 -.0006
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
08:05:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.5640
</td>
<td align="right">
   1.5629
</td>
<td align="right">
   1.5583
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  -.0046
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
08:15:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.5636
</td>
<td align="right">
   1.5633
</td>
<td align="right">
   1.5578
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0056
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0036
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
08:25:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.5634
</td>
<td align="right">
   1.5634
</td>
<td align="right">
   1.5590
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0043
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
08:30:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.5627
</td>
<td align="right">
   1.5633
</td>
<td align="right">
   1.5584
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0049
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
13:25:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.5620
</td>
<td align="right">
   1.5590
</td>
<td align="right">
   1.5639
</td>
<td align="right">
  -.0029
</td>
<td align="right">
   .0048
</td>
<td align="right">
 -.0019
</td>
<td align="right">
  .0031
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
13:40:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.5619
</td>
<td align="right">
   1.5561
</td>
<td align="right">
   1.5643
</td>
<td align="right">
  -.0058
</td>
<td align="right">
   .0082
</td>
<td align="right">
 -.0037
</td>
<td align="right">
  .0052
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
14:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.5583
</td>
<td align="right">
   1.5585
</td>
<td align="right">
   1.5656
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0070
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0045
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-07-17
14:10:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.5587
</td>
<td align="right">
   1.5590
</td>
<td align="right">
   1.5655
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0065
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0042
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-07-18
02:25:00
</td>
<td align="right">
  .73
</td>
<td align="right">
    .9771
</td>
<td align="right">
    .9772
</td>
<td align="right">
    .9782
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0011
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-07-18
03:55:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .9778
</td>
<td align="right">
    .9774
</td>
<td align="right">
    .9814
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0040
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0041
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-07-18
06:35:00
</td>
<td align="right">
  .71
</td>
<td align="right">
    .9780
</td>
<td align="right">
    .9781
</td>
<td align="right">
    .9817
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0036
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0036
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-07-18
06:40:00
</td>
<td align="right">
  .55
</td>
<td align="right">
    .9781
</td>
<td align="right">
    .9781
</td>
<td align="right">
    .9824
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0044
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0045
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-07-18
07:40:00
</td>
<td align="right">
  .71
</td>
<td align="right">
    .9781
</td>
<td align="right">
    .9776
</td>
<td align="right">
    .9805
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0029
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0029
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-07-18
07:45:00
</td>
<td align="right">
  .61
</td>
<td align="right">
    .9778
</td>
<td align="right">
    .9778
</td>
<td align="right">
    .9805
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0027
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0027
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-07-18
07:50:00
</td>
<td align="right">
  .71
</td>
<td align="right">
    .9780
</td>
<td align="right">
    .9775
</td>
<td align="right">
    .9804
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0028
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0029
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-07-18
08:05:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .9786
</td>
<td align="right">
    .9785
</td>
<td align="right">
    .9805
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0019
</td>
</tr>
</table>
<br />
