<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_01_22<h4>Week of: 2012_01_22 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.70
</td>
<td align="right">
   11.96
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0016
</td>
<td align="right">
    3
</td>
<td align="right">
   .0048
</td>
<td align="right">
   .0015
</td>
<td align="right">
   .0017
</td>
<td align="right">
   .0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.61
</td>
<td align="right">
   -3.29
</td>
<td align="right">
   .0022
</td>
<td align="right">
  -.0060
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0238
</td>
<td align="right">
  -.0071
</td>
<td align="right">
  -.0032
</td>
<td align="right">
   .0018
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.61
</td>
<td align="right">
   11.56
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0009
</td>
<td align="right">
    2
</td>
<td align="right">
   .0019
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0001
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -2.57
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0024
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0122
</td>
<td align="right">
  -.0041
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   .0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.65
</td>
<td align="right">
    -.16
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0005
</td>
<td align="right">
    7
</td>
<td align="right">
  -.0037
</td>
<td align="right">
  -.0081
</td>
<td align="right">
   .0013
</td>
<td align="right">
   .0034
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   21
</td>
<td align="right">
  -.0330
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .68
</td>
<td align="right">
     .19
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0007
</td>
<td align="right">
    4
</td>
<td align="right">
   .0030
</td>
<td align="right">
  -.0026
</td>
<td align="right">
   .0063
</td>
<td align="right">
   .0038
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .78
</td>
<td align="right">
     .11
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0002
</td>
<td align="right">
   15
</td>
<td align="right">
   .0029
</td>
<td align="right">
  -.0027
</td>
<td align="right">
   .0022
</td>
<td align="right">
   .0018
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
  .62
</td>
<td align="right">
     .26
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0004
</td>
<td align="right">
   12
</td>
<td align="right">
   .0052
</td>
<td align="right">
  -.0019
</td>
<td align="right">
   .0040
</td>
<td align="right">
   .0017
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .62
</td>
<td align="right">
     .66
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0010
</td>
<td align="right">
    9
</td>
<td align="right">
   .0092
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0033
</td>
<td align="right">
   .0016
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .59
</td>
<td align="right">
   -1.37
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0006
</td>
<td align="right">
    5
</td>
<td align="right">
  -.0032
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .59
</td>
<td align="right">
   15.46
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0013
</td>
<td align="right">
    2
</td>
<td align="right">
   .0027
</td>
<td align="right">
   .0013
</td>
<td align="right">
   .0014
</td>
<td align="right">
   .0001
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   47
</td>
<td align="right">
   .0198
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-01-23
04:10:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  80.7880
</td>
<td align="right">
  80.8363
</td>
<td align="right">
  80.9053
</td>
<td align="right">
   .0483
</td>
<td align="right">
   .0690
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-01-23
04:40:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.2298
</td>
<td align="right">
   1.2297
</td>
<td align="right">
   1.2318
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0022
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-01-23
04:45:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.2297
</td>
<td align="right">
   1.2299
</td>
<td align="right">
   1.2318
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0018
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-01-23
04:55:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.2293
</td>
<td align="right">
   1.2296
</td>
<td align="right">
   1.2316
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0019
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-01-25
06:55:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .8350
</td>
<td align="right">
    .8348
</td>
<td align="right">
    .8321
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0027
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-01-25
08:05:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .8351
</td>
<td align="right">
    .8378
</td>
<td align="right">
    .8322
</td>
<td align="right">
   .0027
</td>
<td align="right">
  -.0056
</td>
<td align="right">
  .0033
</td>
<td align="right">
 -.0067
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-01-25
08:10:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .8352
</td>
<td align="right">
    .8380
</td>
<td align="right">
    .8321
</td>
<td align="right">
   .0028
</td>
<td align="right">
  -.0059
</td>
<td align="right">
  .0033
</td>
<td align="right">
 -.0071
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-01-25
08:25:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .8354
</td>
<td align="right">
    .8374
</td>
<td align="right">
    .8317
</td>
<td align="right">
   .0020
</td>
<td align="right">
  -.0057
</td>
<td align="right">
  .0023
</td>
<td align="right">
 -.0068
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-24
17:55:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.3022
</td>
<td align="right">
   1.3021
</td>
<td align="right">
   1.3033
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0012
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-24
18:05:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.3023
</td>
<td align="right">
   1.3025
</td>
<td align="right">
   1.3038
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0013
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-01-22
22:25:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.0156
</td>
<td align="right">
   1.0155
</td>
<td align="right">
   1.0135
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0020
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-01-22
22:45:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.0153
</td>
<td align="right">
   1.0152
</td>
<td align="right">
   1.0134
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0018
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-01-22
22:55:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.0154
</td>
<td align="right">
   1.0152
</td>
<td align="right">
   1.0133
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0019
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-01-22
23:20:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.0153
</td>
<td align="right">
   1.0158
</td>
<td align="right">
   1.0132
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0026
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2012-01-23
06:35:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.0130
</td>
<td align="right">
   1.0130
</td>
<td align="right">
   1.0089
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0041
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0041
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-01-23
01:10:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9367
</td>
<td align="right">
    .9365
</td>
<td align="right">
    .9369
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-01-23
06:10:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9367
</td>
<td align="right">
    .9369
</td>
<td align="right">
    .9293
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0076
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0081
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-01-23
14:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9270
</td>
<td align="right">
    .9269
</td>
<td align="right">
    .9275
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-01-23
15:00:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
    .9263
</td>
<td align="right">
    .9260
</td>
<td align="right">
    .9267
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-01-23
15:15:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9260
</td>
<td align="right">
    .9257
</td>
<td align="right">
    .9269
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0012
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-01-23
15:25:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
    .9262
</td>
<td align="right">
    .9259
</td>
<td align="right">
    .9271
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0012
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-01-24
12:00:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9276
</td>
<td align="right">
    .9282
</td>
<td align="right">
    .9282
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0001
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-01-23
06:45:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.0490
</td>
<td align="right">
   1.0491
</td>
<td align="right">
   1.0557
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0066
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0063
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-01-23
15:50:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.0545
</td>
<td align="right">
   1.0535
</td>
<td align="right">
   1.0536
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-01-23
16:25:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.0546
</td>
<td align="right">
   1.0528
</td>
<td align="right">
   1.0520
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0017
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-01-23
22:25:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.0523
</td>
<td align="right">
   1.0520
</td>
<td align="right">
   1.0493
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0027
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-01-24
12:35:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.2421
</td>
<td align="right">
   1.2426
</td>
<td align="right">
   1.2423
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-01-24
17:15:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.2425
</td>
<td align="right">
   1.2429
</td>
<td align="right">
   1.2437
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0008
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-01-24
17:20:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.2425
</td>
<td align="right">
   1.2427
</td>
<td align="right">
   1.2441
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0013
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-01-24
17:30:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.2428
</td>
<td align="right">
   1.2425
</td>
<td align="right">
   1.2448
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0024
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-01-24
17:35:00
</td>
<td align="right">
  .84
</td>
<td align="right">
   1.2432
</td>
<td align="right">
   1.2423
</td>
<td align="right">
   1.2445
</td>
<td align="right">
  -.0009
</td>
<td align="right">
   .0021
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-01-24
17:40:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.2434
</td>
<td align="right">
   1.2424
</td>
<td align="right">
   1.2439
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0015
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-01-24
17:50:00
</td>
<td align="right">
  .82
</td>
<td align="right">
   1.2431
</td>
<td align="right">
   1.2423
</td>
<td align="right">
   1.2433
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-01-24
17:55:00
</td>
<td align="right">
  .87
</td>
<td align="right">
   1.2429
</td>
<td align="right">
   1.2423
</td>
<td align="right">
   1.2443
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-01-24
18:00:00
</td>
<td align="right">
  .86
</td>
<td align="right">
   1.2425
</td>
<td align="right">
   1.2423
</td>
<td align="right">
   1.2447
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0025
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-01-24
18:10:00
</td>
<td align="right">
  .86
</td>
<td align="right">
   1.2428
</td>
<td align="right">
   1.2427
</td>
<td align="right">
   1.2454
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0028
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-01-24
18:15:00
</td>
<td align="right">
  .88
</td>
<td align="right">
   1.2429
</td>
<td align="right">
   1.2428
</td>
<td align="right">
   1.2415
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0013
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-01-24
18:20:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.2427
</td>
<td align="right">
   1.2428
</td>
<td align="right">
   1.2409
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-01-24
18:30:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.2425
</td>
<td align="right">
   1.2429
</td>
<td align="right">
   1.2398
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0031
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-01-24
18:35:00
</td>
<td align="right">
  .83
</td>
<td align="right">
   1.2423
</td>
<td align="right">
   1.2428
</td>
<td align="right">
   1.2395
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0034
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-01-24
19:35:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.2428
</td>
<td align="right">
   1.2428
</td>
<td align="right">
   1.2400
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0028
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-01-24
10:50:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .8358
</td>
<td align="right">
    .8353
</td>
<td align="right">
    .8337
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0016
</td>
<td align="right">
 -.0006
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-01-24
11:00:00
</td>
<td align="right">
  .57
</td>
<td align="right">
    .8358
</td>
<td align="right">
    .8353
</td>
<td align="right">
    .8339
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-01-24
11:25:00
</td>
<td align="right">
  .70
</td>
<td align="right">
    .8356
</td>
<td align="right">
    .8350
</td>
<td align="right">
    .8340
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0010
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-01-24
11:45:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .8356
</td>
<td align="right">
    .8343
</td>
<td align="right">
    .8343
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0016
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-01-24
11:55:00
</td>
<td align="right">
  .66
</td>
<td align="right">
    .8352
</td>
<td align="right">
    .8342
</td>
<td align="right">
    .8346
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0012
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-01-24
12:00:00
</td>
<td align="right">
  .64
</td>
<td align="right">
    .8353
</td>
<td align="right">
    .8341
</td>
<td align="right">
    .8346
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0015
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-01-24
12:05:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .8350
</td>
<td align="right">
    .8343
</td>
<td align="right">
    .8346
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-01-24
12:10:00
</td>
<td align="right">
  .55
</td>
<td align="right">
    .8353
</td>
<td align="right">
    .8345
</td>
<td align="right">
    .8342
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0009
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-01-24
12:30:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .8348
</td>
<td align="right">
    .8331
</td>
<td align="right">
    .8341
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0020
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-01-25
02:30:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .8344
</td>
<td align="right">
    .8337
</td>
<td align="right">
    .8357
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0021
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-01-25
03:25:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .8338
</td>
<td align="right">
    .8340
</td>
<td align="right">
    .8374
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0033
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0040
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-01-25
03:45:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .8338
</td>
<td align="right">
    .8340
</td>
<td align="right">
    .8349
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-01-24
19:50:00
</td>
<td align="right">
  .57
</td>
<td align="right">
 101.2278
</td>
<td align="right">
 101.2576
</td>
<td align="right">
 101.3715
</td>
<td align="right">
   .0297
</td>
<td align="right">
   .1139
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-22
23:25:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.2893
</td>
<td align="right">
   1.2886
</td>
<td align="right">
   1.2900
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0014
</td>
<td align="right">
 -.0006
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-23
00:00:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.2893
</td>
<td align="right">
   1.2890
</td>
<td align="right">
   1.2898
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-23
01:00:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.2890
</td>
<td align="right">
   1.2895
</td>
<td align="right">
   1.2891
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-23
01:20:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.2894
</td>
<td align="right">
   1.2898
</td>
<td align="right">
   1.2892
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-23
01:35:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.2896
</td>
<td align="right">
   1.2899
</td>
<td align="right">
   1.2894
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-23
01:45:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.2894
</td>
<td align="right">
   1.2891
</td>
<td align="right">
   1.2891
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-23
02:05:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.2897
</td>
<td align="right">
   1.2886
</td>
<td align="right">
   1.2916
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0029
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-23
02:45:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.2891
</td>
<td align="right">
   1.2891
</td>
<td align="right">
   1.2933
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0042
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-01-23
02:50:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.2891
</td>
<td align="right">
   1.2890
</td>
<td align="right">
   1.2933
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0043
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0033
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-01-23
17:05:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.5578
</td>
<td align="right">
   1.5575
</td>
<td align="right">
   1.5566
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0010
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-01-23
19:20:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.5562
</td>
<td align="right">
   1.5567
</td>
<td align="right">
   1.5563
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-01-23
19:30:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.5564
</td>
<td align="right">
   1.5567
</td>
<td align="right">
   1.5565
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-01-23
20:25:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.5567
</td>
<td align="right">
   1.5569
</td>
<td align="right">
   1.5551
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-01-23
20:55:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.5574
</td>
<td align="right">
   1.5568
</td>
<td align="right">
   1.5550
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0018
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-01-24
23:25:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9277
</td>
<td align="right">
    .9274
</td>
<td align="right">
    .9287
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0013
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-01-24
23:30:00
</td>
<td align="right">
  .58
</td>
<td align="right">
    .9278
</td>
<td align="right">
    .9273
</td>
<td align="right">
    .9285
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0012
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0013
</td>
</tr>
</table>
<br />
