<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2011_12_11<h4>Week of: 2011_12_11 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.69
</td>
<td align="right">
   -1.99
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0033
</td>
<td align="right">
   27
</td>
<td align="right">
  -.0898
</td>
<td align="right">
  -.0053
</td>
<td align="right">
   .0028
</td>
<td align="right">
   .0017
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.68
</td>
<td align="right">
   -3.91
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0030
</td>
<td align="right">
   10
</td>
<td align="right">
  -.0304
</td>
<td align="right">
  -.0039
</td>
<td align="right">
  -.0013
</td>
<td align="right">
   .0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.64
</td>
<td align="right">
   -3.45
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0025
</td>
<td align="right">
    4
</td>
<td align="right">
  -.0102
</td>
<td align="right">
  -.0035
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.68
</td>
<td align="right">
    1.65
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0019
</td>
<td align="right">
   11
</td>
<td align="right">
   .0213
</td>
<td align="right">
   .0012
</td>
<td align="right">
   .0054
</td>
<td align="right">
   .0012
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.58
</td>
<td align="right">
     .24
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0000
</td>
<td align="right">
    2
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0001
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   54
</td>
<td align="right">
  -.1090
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .62
</td>
<td align="right">
   -7.86
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0062
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0493
</td>
<td align="right">
  -.0071
</td>
<td align="right">
  -.0049
</td>
<td align="right">
   .0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
  .68
</td>
<td align="right">
    -.01
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0000
</td>
<td align="right">
   23
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0021
</td>
<td align="right">
   .0013
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .70
</td>
<td align="right">
    1.63
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0012
</td>
<td align="right">
    4
</td>
<td align="right">
   .0048
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0020
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td align="right">
  .66
</td>
<td align="right">
    3.97
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0030
</td>
<td align="right">
    4
</td>
<td align="right">
   .0122
</td>
<td align="right">
   .0025
</td>
<td align="right">
   .0042
</td>
<td align="right">
   .0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .60
</td>
<td align="right">
    1.37
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0020
</td>
<td align="right">
    2
</td>
<td align="right">
   .0040
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0030
</td>
<td align="right">
   .0015
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   41
</td>
<td align="right">
  -.0287
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
00:30:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  79.0619
</td>
<td align="right">
  79.0398
</td>
<td align="right">
  79.0231
</td>
<td align="right">
  -.0221
</td>
<td align="right">
  -.0167
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
01:30:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  79.0398
</td>
<td align="right">
  79.0273
</td>
<td align="right">
  78.9051
</td>
<td align="right">
  -.0125
</td>
<td align="right">
  -.1223
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
01:35:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  78.9935
</td>
<td align="right">
  79.0850
</td>
<td align="right">
  78.8773
</td>
<td align="right">
   .0915
</td>
<td align="right">
  -.2077
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
01:40:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
  78.9780
</td>
<td align="right">
  79.0882
</td>
<td align="right">
  78.8422
</td>
<td align="right">
   .1103
</td>
<td align="right">
  -.2460
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0031
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
01:45:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
  79.0699
</td>
<td align="right">
  79.0540
</td>
<td align="right">
  78.7468
</td>
<td align="right">
  -.0159
</td>
<td align="right">
  -.3072
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0039
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
04:30:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
  79.0450
</td>
<td align="right">
  79.0205
</td>
<td align="right">
  78.7311
</td>
<td align="right">
  -.0245
</td>
<td align="right">
  -.2895
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
04:35:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
  79.0244
</td>
<td align="right">
  79.0154
</td>
<td align="right">
  78.7474
</td>
<td align="right">
  -.0090
</td>
<td align="right">
  -.2680
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0034
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
04:40:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  79.0166
</td>
<td align="right">
  78.9981
</td>
<td align="right">
  78.7198
</td>
<td align="right">
  -.0185
</td>
<td align="right">
  -.2783
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0035
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
08:05:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  78.6369
</td>
<td align="right">
  78.8402
</td>
<td align="right">
  78.6217
</td>
<td align="right">
   .2033
</td>
<td align="right">
  -.2184
</td>
<td align="right">
  .0026
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
08:25:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
  78.7682
</td>
<td align="right">
  78.8259
</td>
<td align="right">
  78.6192
</td>
<td align="right">
   .0577
</td>
<td align="right">
  -.2067
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
08:35:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  78.7044
</td>
<td align="right">
  78.7376
</td>
<td align="right">
  78.5255
</td>
<td align="right">
   .0332
</td>
<td align="right">
  -.2122
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
09:30:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
  78.7175
</td>
<td align="right">
  78.7311
</td>
<td align="right">
  78.3430
</td>
<td align="right">
   .0136
</td>
<td align="right">
  -.3881
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0049
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
09:35:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
  78.7376
</td>
<td align="right">
  78.7474
</td>
<td align="right">
  78.3544
</td>
<td align="right">
   .0098
</td>
<td align="right">
  -.3930
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0050
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
09:40:00
</td>
<td align="right">
 -.83
</td>
<td align="right">
  78.6848
</td>
<td align="right">
  78.7198
</td>
<td align="right">
  78.4145
</td>
<td align="right">
   .0350
</td>
<td align="right">
  -.3053
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0039
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
09:45:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  78.6406
</td>
<td align="right">
  78.7159
</td>
<td align="right">
  78.4148
</td>
<td align="right">
   .0753
</td>
<td align="right">
  -.3011
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
09:50:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
  78.6536
</td>
<td align="right">
  78.6819
</td>
<td align="right">
  78.3928
</td>
<td align="right">
   .0283
</td>
<td align="right">
  -.2891
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
09:55:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
  78.6427
</td>
<td align="right">
  78.6620
</td>
<td align="right">
  78.4743
</td>
<td align="right">
   .0193
</td>
<td align="right">
  -.1877
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
10:00:00
</td>
<td align="right">
 -.84
</td>
<td align="right">
  78.6932
</td>
<td align="right">
  78.7196
</td>
<td align="right">
  78.4237
</td>
<td align="right">
   .0264
</td>
<td align="right">
  -.2959
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
10:05:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
  78.6664
</td>
<td align="right">
  78.6955
</td>
<td align="right">
  78.3968
</td>
<td align="right">
   .0290
</td>
<td align="right">
  -.2986
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
10:15:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  78.7182
</td>
<td align="right">
  78.7344
</td>
<td align="right">
  78.3979
</td>
<td align="right">
   .0162
</td>
<td align="right">
  -.3365
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0043
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
10:20:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
  78.6480
</td>
<td align="right">
  78.7461
</td>
<td align="right">
  78.4379
</td>
<td align="right">
   .0980
</td>
<td align="right">
  -.3082
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0039
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
10:25:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
  78.6594
</td>
<td align="right">
  78.7081
</td>
<td align="right">
  78.4530
</td>
<td align="right">
   .0487
</td>
<td align="right">
  -.2551
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
10:45:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
  78.7159
</td>
<td align="right">
  78.7186
</td>
<td align="right">
  78.3004
</td>
<td align="right">
   .0027
</td>
<td align="right">
  -.4182
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0053
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
10:50:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  78.6819
</td>
<td align="right">
  78.6999
</td>
<td align="right">
  78.3113
</td>
<td align="right">
   .0181
</td>
<td align="right">
  -.3886
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0049
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
10:55:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  78.6620
</td>
<td align="right">
  78.6787
</td>
<td align="right">
  78.3242
</td>
<td align="right">
   .0167
</td>
<td align="right">
  -.3546
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0045
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-12
11:00:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
  78.7196
</td>
<td align="right">
  78.7373
</td>
<td align="right">
  78.3350
</td>
<td align="right">
   .0177
</td>
<td align="right">
  -.4023
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0051
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-12-13
07:15:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
  78.6625
</td>
<td align="right">
  78.6344
</td>
<td align="right">
  78.8560
</td>
<td align="right">
  -.0281
</td>
<td align="right">
   .2216
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-11
22:25:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.0196
</td>
<td align="right">
   1.0204
</td>
<td align="right">
   1.0175
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-11
22:35:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.0198
</td>
<td align="right">
   1.0204
</td>
<td align="right">
   1.0177
</td>
<td align="right">
   .0006
</td>
<td align="right">
  -.0027
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-11
22:40:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.0198
</td>
<td align="right">
   1.0206
</td>
<td align="right">
   1.0176
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0029
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-11
22:45:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.0197
</td>
<td align="right">
   1.0207
</td>
<td align="right">
   1.0175
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0032
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0032
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-11
22:50:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.0196
</td>
<td align="right">
   1.0205
</td>
<td align="right">
   1.0166
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0040
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0039
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-11
22:55:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
   1.0190
</td>
<td align="right">
   1.0206
</td>
<td align="right">
   1.0167
</td>
<td align="right">
   .0016
</td>
<td align="right">
  -.0039
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0038
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-11
23:00:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.0197
</td>
<td align="right">
   1.0206
</td>
<td align="right">
   1.0169
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0037
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-11
23:05:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
   1.0208
</td>
<td align="right">
   1.0206
</td>
<td align="right">
   1.0170
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0037
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0036
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-12
01:00:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.0176
</td>
<td align="right">
   1.0188
</td>
<td align="right">
   1.0174
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-12
01:20:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
   1.0180
</td>
<td align="right">
   1.0189
</td>
<td align="right">
   1.0161
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0027
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
05:15:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.3081
</td>
<td align="right">
   1.3082
</td>
<td align="right">
   1.3049
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0033
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
05:25:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
   1.3089
</td>
<td align="right">
   1.3083
</td>
<td align="right">
   1.3051
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0033
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
07:05:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.3067
</td>
<td align="right">
   1.3070
</td>
<td align="right">
   1.3024
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0046
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0035
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-13
08:15:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
   1.3055
</td>
<td align="right">
   1.3053
</td>
<td align="right">
   1.3031
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0022
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-13
08:10:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .8454
</td>
<td align="right">
    .8453
</td>
<td align="right">
    .8463
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-11
22:20:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .9261
</td>
<td align="right">
    .9257
</td>
<td align="right">
    .9275
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0018
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-11
22:40:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
    .9260
</td>
<td align="right">
    .9261
</td>
<td align="right">
    .9272
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0011
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-11
22:45:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9261
</td>
<td align="right">
    .9260
</td>
<td align="right">
    .9276
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0016
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-11
22:50:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9259
</td>
<td align="right">
    .9262
</td>
<td align="right">
    .9277
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0015
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-11
22:55:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9261
</td>
<td align="right">
    .9258
</td>
<td align="right">
    .9275
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0017
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-11
23:20:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9257
</td>
<td align="right">
    .9255
</td>
<td align="right">
    .9271
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0015
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-11
23:25:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
    .9258
</td>
<td align="right">
    .9257
</td>
<td align="right">
    .9271
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-11
23:30:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9259
</td>
<td align="right">
    .9258
</td>
<td align="right">
    .9271
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0013
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-11
23:35:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
    .9262
</td>
<td align="right">
    .9261
</td>
<td align="right">
    .9272
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0011
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-12
00:00:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9252
</td>
<td align="right">
    .9259
</td>
<td align="right">
    .9276
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0017
</td>
<td align="right">
  .0008
</td>
<td align="right">
  .0018
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-12
07:20:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9284
</td>
<td align="right">
    .9280
</td>
<td align="right">
    .9330
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0050
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0054
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-12-12
00:30:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  77.6125
</td>
<td align="right">
  77.6575
</td>
<td align="right">
  77.6525
</td>
<td align="right">
   .0450
</td>
<td align="right">
  -.0050
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-12-12
01:05:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  77.6525
</td>
<td align="right">
  77.6225
</td>
<td align="right">
  77.6325
</td>
<td align="right">
  -.0300
</td>
<td align="right">
   .0100
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0001
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-12
04:15:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.0170
</td>
<td align="right">
   1.0169
</td>
<td align="right">
   1.0119
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0050
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0049
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-12
04:20:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.0172
</td>
<td align="right">
   1.0175
</td>
<td align="right">
   1.0109
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0066
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0064
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-12
04:25:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.0175
</td>
<td align="right">
   1.0175
</td>
<td align="right">
   1.0103
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0072
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0071
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-12
04:35:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.0177
</td>
<td align="right">
   1.0176
</td>
<td align="right">
   1.0116
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0060
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0059
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-12
04:40:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.0176
</td>
<td align="right">
   1.0175
</td>
<td align="right">
   1.0121
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0055
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0054
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-12
04:55:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.0167
</td>
<td align="right">
   1.0168
</td>
<td align="right">
   1.0110
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0059
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0058
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-12
05:30:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.0177
</td>
<td align="right">
   1.0177
</td>
<td align="right">
   1.0106
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0071
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0070
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-12-12
05:35:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.0176
</td>
<td align="right">
   1.0178
</td>
<td align="right">
   1.0109
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0070
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0068
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
16:00:00
</td>
<td align="right">
  .60
</td>
<td align="right">
   1.3101
</td>
<td align="right">
   1.3106
</td>
<td align="right">
   1.3098
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
16:05:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.3105
</td>
<td align="right">
   1.3102
</td>
<td align="right">
   1.3095
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0007
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
16:20:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.3113
</td>
<td align="right">
   1.3108
</td>
<td align="right">
   1.3099
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
16:45:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3110
</td>
<td align="right">
   1.3109
</td>
<td align="right">
   1.3090
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0019
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
16:50:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.3111
</td>
<td align="right">
   1.3104
</td>
<td align="right">
   1.3093
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
16:55:00
</td>
<td align="right">
  .84
</td>
<td align="right">
   1.3111
</td>
<td align="right">
   1.3104
</td>
<td align="right">
   1.3092
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  -.0013
</td>
<td align="right">
 -.0005
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
17:00:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.3106
</td>
<td align="right">
   1.3109
</td>
<td align="right">
   1.3089
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0020
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
17:15:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.3106
</td>
<td align="right">
   1.3110
</td>
<td align="right">
   1.3093
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0017
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
17:20:00
</td>
<td align="right">
  .80
</td>
<td align="right">
   1.3108
</td>
<td align="right">
   1.3103
</td>
<td align="right">
   1.3091
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
17:25:00
</td>
<td align="right">
  .78
</td>
<td align="right">
   1.3109
</td>
<td align="right">
   1.3095
</td>
<td align="right">
   1.3095
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0011
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
17:30:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.3110
</td>
<td align="right">
   1.3098
</td>
<td align="right">
   1.3089
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0009
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
17:35:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.3110
</td>
<td align="right">
   1.3100
</td>
<td align="right">
   1.3092
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  -.0008
</td>
<td align="right">
 -.0007
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
17:40:00
</td>
<td align="right">
  .65
</td>
<td align="right">
   1.3109
</td>
<td align="right">
   1.3097
</td>
<td align="right">
   1.3113
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0016
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
17:45:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.3109
</td>
<td align="right">
   1.3088
</td>
<td align="right">
   1.3114
</td>
<td align="right">
  -.0021
</td>
<td align="right">
   .0026
</td>
<td align="right">
 -.0016
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
17:50:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.3104
</td>
<td align="right">
   1.3086
</td>
<td align="right">
   1.3114
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   .0028
</td>
<td align="right">
 -.0014
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
17:55:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.3104
</td>
<td align="right">
   1.3085
</td>
<td align="right">
   1.3113
</td>
<td align="right">
  -.0020
</td>
<td align="right">
   .0028
</td>
<td align="right">
 -.0015
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
18:00:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.3109
</td>
<td align="right">
   1.3085
</td>
<td align="right">
   1.3110
</td>
<td align="right">
  -.0024
</td>
<td align="right">
   .0025
</td>
<td align="right">
 -.0018
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
19:35:00
</td>
<td align="right">
  .70
</td>
<td align="right">
   1.3100
</td>
<td align="right">
   1.3091
</td>
<td align="right">
   1.3095
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
19:40:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.3100
</td>
<td align="right">
   1.3089
</td>
<td align="right">
   1.3092
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
19:45:00
</td>
<td align="right">
  .64
</td>
<td align="right">
   1.3103
</td>
<td align="right">
   1.3086
</td>
<td align="right">
   1.3100
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   .0014
</td>
<td align="right">
 -.0013
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
20:10:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.3092
</td>
<td align="right">
   1.3089
</td>
<td align="right">
   1.3111
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0022
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
21:30:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3097
</td>
<td align="right">
   1.3097
</td>
<td align="right">
   1.3078
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0019
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-12-12
21:35:00
</td>
<td align="right">
  .75
</td>
<td align="right">
   1.3100
</td>
<td align="right">
   1.3095
</td>
<td align="right">
   1.3076
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0019
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2011-12-12
04:00:00
</td>
<td align="right">
  .59
</td>
<td align="right">
    .8536
</td>
<td align="right">
    .8532
</td>
<td align="right">
    .8537
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-12-13
05:55:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.3191
</td>
<td align="right">
   1.3195
</td>
<td align="right">
   1.3209
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-12-13
06:20:00
</td>
<td align="right">
  .69
</td>
<td align="right">
   1.3192
</td>
<td align="right">
   1.3191
</td>
<td align="right">
   1.3194
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-12-13
06:35:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.3194
</td>
<td align="right">
   1.3176
</td>
<td align="right">
   1.3202
</td>
<td align="right">
  -.0019
</td>
<td align="right">
   .0026
</td>
<td align="right">
 -.0014
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-12-13
06:40:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.3200
</td>
<td align="right">
   1.3182
</td>
<td align="right">
   1.3202
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   .0020
</td>
<td align="right">
 -.0014
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-12-11
22:55:00
</td>
<td align="right">
  .71
</td>
<td align="right">
   1.0204
</td>
<td align="right">
   1.0186
</td>
<td align="right">
   1.0212
</td>
<td align="right">
  -.0019
</td>
<td align="right">
   .0026
</td>
<td align="right">
 -.0018
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-12-12
01:30:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.0201
</td>
<td align="right">
   1.0199
</td>
<td align="right">
   1.0225
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0026
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-12-12
02:00:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.0202
</td>
<td align="right">
   1.0198
</td>
<td align="right">
   1.0240
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0043
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0042
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-12-12
02:10:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.0197
</td>
<td align="right">
   1.0201
</td>
<td align="right">
   1.0230
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0030
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0029
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-12
16:30:00
</td>
<td align="right">
  .65
</td>
<td align="right">
    .9347
</td>
<td align="right">
    .9350
</td>
<td align="right">
    .9378
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0028
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-12-12
19:55:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9369
</td>
<td align="right">
    .9371
</td>
<td align="right">
    .9380
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0010
</td>
</tr>
</table>
<br />
