<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_10_21<h4>Week of: 2012_10_21 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.71
</td>
<td align="right">
     .25
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0006
</td>
<td align="right">
    2
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0011
</td>
<td align="right">
   .0023
</td>
<td align="right">
   .0023
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.60
</td>
<td align="right">
    1.13
</td>
<td align="right">
   .0008
</td>
<td align="right">
   .0015
</td>
<td align="right">
    3
</td>
<td align="right">
   .0045
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0024
</td>
<td align="right">
   .0013
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    5
</td>
<td align="right">
   .0057
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .67
</td>
<td align="right">
    -.56
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0023
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0180
</td>
<td align="right">
  -.0059
</td>
<td align="right">
   .0037
</td>
<td align="right">
   .0040
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
  .69
</td>
<td align="right">
    -.50
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0003
</td>
<td align="right">
    2
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0006
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   10
</td>
<td align="right">
  -.0186
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-22
09:25:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  82.4016
</td>
<td align="right">
  82.3869
</td>
<td align="right">
  82.2995
</td>
<td align="right">
  -.0147
</td>
<td align="right">
  -.0874
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-23
15:05:00
</td>
<td align="right">
 -.85
</td>
<td align="right">
  81.8178
</td>
<td align="right">
  81.7927
</td>
<td align="right">
  81.9774
</td>
<td align="right">
  -.0251
</td>
<td align="right">
   .1847
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-10-22
18:10:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.0304
</td>
<td align="right">
   1.0307
</td>
<td align="right">
   1.0332
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0025
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-10-22
18:15:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.0308
</td>
<td align="right">
   1.0308
</td>
<td align="right">
   1.0330
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0022
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-10-22
19:00:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.0299
</td>
<td align="right">
   1.0319
</td>
<td align="right">
   1.0319
</td>
<td align="right">
   .0020
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0020
</td>
<td align="right">
  .0000
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-21
22:30:00
</td>
<td align="right">
  .64
</td>
<td align="right">
  81.7335
</td>
<td align="right">
  81.7070
</td>
<td align="right">
  82.0061
</td>
<td align="right">
  -.0265
</td>
<td align="right">
   .2992
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0037
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-22
06:45:00
</td>
<td align="right">
  .67
</td>
<td align="right">
  82.1140
</td>
<td align="right">
  82.1047
</td>
<td align="right">
  82.3720
</td>
<td align="right">
  -.0092
</td>
<td align="right">
   .2673
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0033
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-22
10:40:00
</td>
<td align="right">
  .61
</td>
<td align="right">
  82.4204
</td>
<td align="right">
  82.4419
</td>
<td align="right">
  82.3592
</td>
<td align="right">
   .0215
</td>
<td align="right">
  -.0827
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-23
07:20:00
</td>
<td align="right">
  .76
</td>
<td align="right">
  82.2671
</td>
<td align="right">
  82.1406
</td>
<td align="right">
  82.0288
</td>
<td align="right">
  -.1265
</td>
<td align="right">
  -.1118
</td>
<td align="right">
 -.0015
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-23
08:35:00
</td>
<td align="right">
  .60
</td>
<td align="right">
  82.1659
</td>
<td align="right">
  82.1865
</td>
<td align="right">
  81.6993
</td>
<td align="right">
   .0205
</td>
<td align="right">
  -.4871
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0059
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-23
08:50:00
</td>
<td align="right">
  .72
</td>
<td align="right">
  82.1962
</td>
<td align="right">
  82.2119
</td>
<td align="right">
  81.7651
</td>
<td align="right">
   .0157
</td>
<td align="right">
  -.4468
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0054
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-23
09:20:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  82.2348
</td>
<td align="right">
  82.2305
</td>
<td align="right">
  81.7634
</td>
<td align="right">
  -.0043
</td>
<td align="right">
  -.4672
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0057
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-10-23
09:35:00
</td>
<td align="right">
  .73
</td>
<td align="right">
  82.1865
</td>
<td align="right">
  82.1580
</td>
<td align="right">
  81.7033
</td>
<td align="right">
  -.0284
</td>
<td align="right">
  -.4548
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0055
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-10-22
15:25:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.0312
</td>
<td align="right">
   1.0315
</td>
<td align="right">
   1.0327
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-10-23
14:50:00
</td>
<td align="right">
  .79
</td>
<td align="right">
    .9332
</td>
<td align="right">
    .9332
</td>
<td align="right">
    .9325
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-10-23
15:20:00
</td>
<td align="right">
  .60
</td>
<td align="right">
    .9334
</td>
<td align="right">
    .9326
</td>
<td align="right">
    .9327
</td>
<td align="right">
  -.0008
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0001
</td>
</tr>
</table>
<br />
