<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_06_03<h4>Week of: 2012_06_03 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
 -.71
</td>
<td align="right">
    1.04
</td>
<td align="right">
   .0015
</td>
<td align="right">
   .0019
</td>
<td align="right">
    2
</td>
<td align="right">
   .0039
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0032
</td>
<td align="right">
   .0019
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.06
</td>
<td align="right">
   .0012
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   14
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  -.0022
</td>
<td align="right">
   .0037
</td>
<td align="right">
   .0017
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .05
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0001
</td>
<td align="right">
    5
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0012
</td>
<td align="right">
   .0016
</td>
<td align="right">
   .0011
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.31
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   11
</td>
<td align="right">
  -.0034
</td>
<td align="right">
  -.0021
</td>
<td align="right">
   .0015
</td>
<td align="right">
   .0010
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.61
</td>
<td align="right">
    -.32
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   20
</td>
<td align="right">
  -.0067
</td>
<td align="right">
  -.0020
</td>
<td align="right">
   .0012
</td>
<td align="right">
   .0010
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   52
</td>
<td align="right">
  -.0074
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .65
</td>
<td align="right">
    4.81
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0009
</td>
<td align="right">
    2
</td>
<td align="right">
   .0017
</td>
<td align="right">
   .0007
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .68
</td>
<td align="right">
    3.79
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0002
</td>
<td align="right">
    2
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0001
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
    4
</td>
<td align="right">
   .0022
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-06-04
03:20:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
  75.3978
</td>
<td align="right">
  75.4539
</td>
<td align="right">
  75.5002
</td>
<td align="right">
   .0561
</td>
<td align="right">
   .0463
</td>
<td align="right">
  .0007
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-06-04
04:45:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
  75.4145
</td>
<td align="right">
  75.5860
</td>
<td align="right">
  75.8306
</td>
<td align="right">
   .1715
</td>
<td align="right">
   .2445
</td>
<td align="right">
  .0023
</td>
<td align="right">
  .0032
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-06-04
06:45:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9657
</td>
<td align="right">
    .9672
</td>
<td align="right">
    .9708
</td>
<td align="right">
   .0015
</td>
<td align="right">
   .0036
</td>
<td align="right">
  .0016
</td>
<td align="right">
  .0037
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-06-04
09:50:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
    .9689
</td>
<td align="right">
    .9707
</td>
<td align="right">
    .9717
</td>
<td align="right">
   .0018
</td>
<td align="right">
   .0010
</td>
<td align="right">
  .0018
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-06-04
09:55:00
</td>
<td align="right">
 -.86
</td>
<td align="right">
    .9691
</td>
<td align="right">
    .9704
</td>
<td align="right">
    .9718
</td>
<td align="right">
   .0014
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0014
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-06-04
10:00:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
    .9691
</td>
<td align="right">
    .9706
</td>
<td align="right">
    .9719
</td>
<td align="right">
   .0015
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0016
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-06-04
10:05:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9693
</td>
<td align="right">
    .9706
</td>
<td align="right">
    .9718
</td>
<td align="right">
   .0013
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0013
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-06-04
10:15:00
</td>
<td align="right">
 -.86
</td>
<td align="right">
    .9692
</td>
<td align="right">
    .9706
</td>
<td align="right">
    .9713
</td>
<td align="right">
   .0014
</td>
<td align="right">
   .0008
</td>
<td align="right">
  .0014
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-06-04
10:50:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9707
</td>
<td align="right">
    .9717
</td>
<td align="right">
    .9705
</td>
<td align="right">
   .0010
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-06-04
11:00:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9706
</td>
<td align="right">
    .9717
</td>
<td align="right">
    .9708
</td>
<td align="right">
   .0011
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-06-04
11:15:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .9706
</td>
<td align="right">
    .9719
</td>
<td align="right">
    .9697
</td>
<td align="right">
   .0013
</td>
<td align="right">
  -.0022
</td>
<td align="right">
  .0013
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-06-04
12:10:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9719
</td>
<td align="right">
    .9728
</td>
<td align="right">
    .9715
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-06-04
12:25:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .9716
</td>
<td align="right">
    .9733
</td>
<td align="right">
    .9728
</td>
<td align="right">
   .0018
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0018
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-06-04
13:10:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .9728
</td>
<td align="right">
    .9736
</td>
<td align="right">
    .9718
</td>
<td align="right">
   .0008
</td>
<td align="right">
  -.0018
</td>
<td align="right">
  .0009
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-06-04
13:20:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9736
</td>
<td align="right">
    .9733
</td>
<td align="right">
    .9717
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0016
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-06-04
13:25:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .9733
</td>
<td align="right">
    .9737
</td>
<td align="right">
    .9724
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-06-04
00:40:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  96.8495
</td>
<td align="right">
  96.8671
</td>
<td align="right">
  97.0248
</td>
<td align="right">
   .0176
</td>
<td align="right">
   .1577
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-06-04
02:30:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  96.8653
</td>
<td align="right">
  96.9425
</td>
<td align="right">
  96.9247
</td>
<td align="right">
   .0772
</td>
<td align="right">
  -.0178
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-06-04
02:40:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  96.9433
</td>
<td align="right">
  97.0195
</td>
<td align="right">
  96.9020
</td>
<td align="right">
   .0762
</td>
<td align="right">
  -.1176
</td>
<td align="right">
  .0008
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-06-04
03:20:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  96.9038
</td>
<td align="right">
  96.9678
</td>
<td align="right">
  96.9002
</td>
<td align="right">
   .0640
</td>
<td align="right">
  -.0676
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-06-04
04:55:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  96.9570
</td>
<td align="right">
  97.0766
</td>
<td align="right">
  97.1503
</td>
<td align="right">
   .1196
</td>
<td align="right">
   .0737
</td>
<td align="right">
  .0012
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-06-04
05:40:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.5372
</td>
<td align="right">
   1.5368
</td>
<td align="right">
   1.5371
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-06-04
07:10:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.5367
</td>
<td align="right">
   1.5376
</td>
<td align="right">
   1.5399
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0023
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-06-04
09:35:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.5375
</td>
<td align="right">
   1.5381
</td>
<td align="right">
   1.5388
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-06-04
09:40:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.5378
</td>
<td align="right">
   1.5387
</td>
<td align="right">
   1.5381
</td>
<td align="right">
   .0009
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-06-04
09:55:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.5384
</td>
<td align="right">
   1.5380
</td>
<td align="right">
   1.5381
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-06-04
10:00:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.5385
</td>
<td align="right">
   1.5381
</td>
<td align="right">
   1.5381
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-06-04
10:05:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.5383
</td>
<td align="right">
   1.5381
</td>
<td align="right">
   1.5381
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0000
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-06-04
12:00:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.5382
</td>
<td align="right">
   1.5399
</td>
<td align="right">
   1.5377
</td>
<td align="right">
   .0017
</td>
<td align="right">
  -.0023
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-06-04
12:15:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.5383
</td>
<td align="right">
   1.5405
</td>
<td align="right">
   1.5373
</td>
<td align="right">
   .0022
</td>
<td align="right">
  -.0032
</td>
<td align="right">
  .0014
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-06-04
12:40:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.5386
</td>
<td align="right">
   1.5402
</td>
<td align="right">
   1.5391
</td>
<td align="right">
   .0017
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  .0011
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-06-04
13:00:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.5399
</td>
<td align="right">
   1.5399
</td>
<td align="right">
   1.5384
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-03
22:00:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
  78.1025
</td>
<td align="right">
  78.1750
</td>
<td align="right">
  78.1850
</td>
<td align="right">
   .0725
</td>
<td align="right">
   .0100
</td>
<td align="right">
  .0009
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-03
22:05:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  78.1825
</td>
<td align="right">
  78.1700
</td>
<td align="right">
  78.2050
</td>
<td align="right">
  -.0125
</td>
<td align="right">
   .0350
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-03
22:15:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  78.1825
</td>
<td align="right">
  78.1775
</td>
<td align="right">
  78.1850
</td>
<td align="right">
  -.0050
</td>
<td align="right">
   .0075
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-03
23:15:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
  78.1775
</td>
<td align="right">
  78.1900
</td>
<td align="right">
  78.1500
</td>
<td align="right">
   .0125
</td>
<td align="right">
  -.0400
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-03
23:25:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  78.1575
</td>
<td align="right">
  78.1525
</td>
<td align="right">
  78.1625
</td>
<td align="right">
  -.0050
</td>
<td align="right">
   .0100
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-03
23:30:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  78.1525
</td>
<td align="right">
  78.1500
</td>
<td align="right">
  78.1800
</td>
<td align="right">
  -.0025
</td>
<td align="right">
   .0300
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-03
23:35:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  78.1525
</td>
<td align="right">
  78.1450
</td>
<td align="right">
  78.1750
</td>
<td align="right">
  -.0075
</td>
<td align="right">
   .0300
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-03
23:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  78.1375
</td>
<td align="right">
  78.1375
</td>
<td align="right">
  78.1825
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0450
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-04
00:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  78.1500
</td>
<td align="right">
  78.1300
</td>
<td align="right">
  78.1975
</td>
<td align="right">
  -.0200
</td>
<td align="right">
   .0675
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-04
02:55:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
  78.1725
</td>
<td align="right">
  78.1750
</td>
<td align="right">
  78.0475
</td>
<td align="right">
   .0025
</td>
<td align="right">
  -.1275
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-04
03:05:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  78.1775
</td>
<td align="right">
  78.2050
</td>
<td align="right">
  78.0475
</td>
<td align="right">
   .0275
</td>
<td align="right">
  -.1575
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-04
03:20:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
  78.1750
</td>
<td align="right">
  78.1825
</td>
<td align="right">
  78.0525
</td>
<td align="right">
   .0075
</td>
<td align="right">
  -.1300
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-04
03:35:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  78.1650
</td>
<td align="right">
  78.1725
</td>
<td align="right">
  78.0525
</td>
<td align="right">
   .0075
</td>
<td align="right">
  -.1200
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-04
03:55:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
  78.1750
</td>
<td align="right">
  78.1675
</td>
<td align="right">
  78.0750
</td>
<td align="right">
  -.0075
</td>
<td align="right">
  -.0925
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-04
05:35:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
  78.1750
</td>
<td align="right">
  78.1900
</td>
<td align="right">
  78.0725
</td>
<td align="right">
   .0150
</td>
<td align="right">
  -.1175
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-04
05:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  78.1825
</td>
<td align="right">
  78.1875
</td>
<td align="right">
  78.0800
</td>
<td align="right">
   .0050
</td>
<td align="right">
  -.1075
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-04
05:45:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  78.1675
</td>
<td align="right">
  78.1850
</td>
<td align="right">
  78.1000
</td>
<td align="right">
   .0175
</td>
<td align="right">
  -.0850
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-04
13:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  78.1775
</td>
<td align="right">
  78.2925
</td>
<td align="right">
  78.3825
</td>
<td align="right">
   .1150
</td>
<td align="right">
   .0900
</td>
<td align="right">
  .0015
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-04
13:45:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
  78.1550
</td>
<td align="right">
  78.3150
</td>
<td align="right">
  78.3925
</td>
<td align="right">
   .1600
</td>
<td align="right">
   .0775
</td>
<td align="right">
  .0020
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-06-04
17:00:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  78.3675
</td>
<td align="right">
  78.3400
</td>
<td align="right">
  78.3875
</td>
<td align="right">
  -.0275
</td>
<td align="right">
   .0475
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0006
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-06-04
14:50:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9721
</td>
<td align="right">
    .9717
</td>
<td align="right">
    .9727
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0010
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2012-06-04
15:05:00
</td>
<td align="right">
  .74
</td>
<td align="right">
    .9719
</td>
<td align="right">
    .9718
</td>
<td align="right">
    .9725
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-06-04
16:25:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.5375
</td>
<td align="right">
   1.5374
</td>
<td align="right">
   1.5378
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-06-04
16:30:00
</td>
<td align="right">
  .74
</td>
<td align="right">
   1.5375
</td>
<td align="right">
   1.5377
</td>
<td align="right">
   1.5380
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0002
</td>
</tr>
</table>
<br />
