<a href="/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2012_12_09<h4>Week of: 2012_12_09 (Bearish Predictions 1st, Then Bullish Predictions)</h4>A description of the data in this page is here > <a href='#' class='data_description'> Data Description</a><br /><br /><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
eur_aud
</td>
<td align="right">
 -.66
</td>
<td align="right">
     .03
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0000
</td>
<td align="right">
   16
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0018
</td>
<td align="right">
   .0017
</td>
<td align="right">
   .0008
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td align="right">
 -.63
</td>
<td align="right">
   -1.37
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0010
</td>
<td align="right">
   10
</td>
<td align="right">
  -.0097
</td>
<td align="right">
  -.0017
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td align="right">
 -.65
</td>
<td align="right">
     .12
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0001
</td>
<td align="right">
   19
</td>
<td align="right">
   .0022
</td>
<td align="right">
  -.0021
</td>
<td align="right">
   .0015
</td>
<td align="right">
   .0010
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
 -.61
</td>
<td align="right">
     .83
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0009
</td>
<td align="right">
    9
</td>
<td align="right">
   .0081
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0026
</td>
<td align="right">
   .0011
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
 -.62
</td>
<td align="right">
    -.05
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0001
</td>
<td align="right">
    8
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0015
</td>
<td align="right">
   .0014
</td>
<td align="right">
   .0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td align="right">
 -.69
</td>
<td align="right">
    -.46
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   30
</td>
<td align="right">
  -.0110
</td>
<td align="right">
  -.0016
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0008
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
 -.66
</td>
<td align="right">
    -.59
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0007
</td>
<td align="right">
   14
</td>
<td align="right">
  -.0091
</td>
<td align="right">
  -.0024
</td>
<td align="right">
   .0014
</td>
<td align="right">
   .0011
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  106
</td>
<td align="right">
  -.0194
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
When I sell, I want the gain to be negative, and when I buy I want it be positive.
</td>
</tr>
<tr>
<td>
The table above displays negative DanBot scores which were signals to sell.
</td>
</tr>
<tr>
<td>
Below, are positive DanBot scores which were signals to buy.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td align="right">
  .60
</td>
<td align="right">
    1.37
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0022
</td>
<td align="right">
    5
</td>
<td align="right">
   .0109
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0048
</td>
<td align="right">
   .0016
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td align="right">
  .66
</td>
<td align="right">
    2.64
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0021
</td>
<td align="right">
   23
</td>
<td align="right">
   .0487
</td>
<td align="right">
   .0011
</td>
<td align="right">
   .0038
</td>
<td align="right">
   .0008
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td align="right">
  .60
</td>
<td align="right">
    7.70
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0017
</td>
<td align="right">
    3
</td>
<td align="right">
   .0052
</td>
<td align="right">
   .0016
</td>
<td align="right">
   .0020
</td>
<td align="right">
   .0002
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td align="right">
  .65
</td>
<td align="right">
    5.12
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0023
</td>
<td align="right">
   10
</td>
<td align="right">
   .0226
</td>
<td align="right">
   .0015
</td>
<td align="right">
   .0029
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   41
</td>
<td align="right">
   .0874
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions.
</td>
</tr>
<tr>
<td>
Individual high-confidence-predictions are displayed below should you want to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-10
01:45:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.2318
</td>
<td align="right">
   1.2321
</td>
<td align="right">
   1.2301
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0020
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-10
01:50:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.2320
</td>
<td align="right">
   1.2324
</td>
<td align="right">
   1.2301
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0022
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-10
03:05:00
</td>
<td align="right">
 -.83
</td>
<td align="right">
   1.2319
</td>
<td align="right">
   1.2315
</td>
<td align="right">
   1.2319
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-10
03:10:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.2316
</td>
<td align="right">
   1.2315
</td>
<td align="right">
   1.2319
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-10
03:20:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.2316
</td>
<td align="right">
   1.2315
</td>
<td align="right">
   1.2323
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-10
03:35:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.2315
</td>
<td align="right">
   1.2312
</td>
<td align="right">
   1.2319
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0007
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-10
04:25:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
   1.2314
</td>
<td align="right">
   1.2315
</td>
<td align="right">
   1.2315
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-10
04:30:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
   1.2313
</td>
<td align="right">
   1.2315
</td>
<td align="right">
   1.2316
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-10
04:40:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.2310
</td>
<td align="right">
   1.2315
</td>
<td align="right">
   1.2317
</td>
<td align="right">
   .0005
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-10
04:55:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2316
</td>
<td align="right">
   1.2317
</td>
<td align="right">
   1.2315
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-10
05:10:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.2309
</td>
<td align="right">
   1.2317
</td>
<td align="right">
   1.2318
</td>
<td align="right">
   .0008
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-10
05:25:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
   1.2315
</td>
<td align="right">
   1.2316
</td>
<td align="right">
   1.2316
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-10
08:45:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
   1.2317
</td>
<td align="right">
   1.2320
</td>
<td align="right">
   1.2318
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-10
08:50:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.2321
</td>
<td align="right">
   1.2319
</td>
<td align="right">
   1.2324
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-10
09:10:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2319
</td>
<td align="right">
   1.2317
</td>
<td align="right">
   1.2316
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2012-12-10
14:35:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2316
</td>
<td align="right">
   1.2316
</td>
<td align="right">
   1.2337
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0021
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-10
04:50:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .8049
</td>
<td align="right">
    .8053
</td>
<td align="right">
    .8047
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0006
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-10
05:45:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
    .8053
</td>
<td align="right">
    .8056
</td>
<td align="right">
    .8045
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0011
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-10
05:50:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .8053
</td>
<td align="right">
    .8054
</td>
<td align="right">
    .8042
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-10
05:55:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .8053
</td>
<td align="right">
    .8054
</td>
<td align="right">
    .8041
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0012
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-10
06:00:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .8054
</td>
<td align="right">
    .8053
</td>
<td align="right">
    .8040
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-10
06:10:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .8055
</td>
<td align="right">
    .8052
</td>
<td align="right">
    .8038
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-10
09:55:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .8045
</td>
<td align="right">
    .8047
</td>
<td align="right">
    .8041
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-10
19:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .8049
</td>
<td align="right">
    .8050
</td>
<td align="right">
    .8050
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0000
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-10
19:45:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .8050
</td>
<td align="right">
    .8052
</td>
<td align="right">
    .8048
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_gbp
</td>
<td>
2012-12-10
23:45:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .8049
</td>
<td align="right">
    .8053
</td>
<td align="right">
    .8055
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-10
00:35:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 106.5448
</td>
<td align="right">
 106.5185
</td>
<td align="right">
 106.4471
</td>
<td align="right">
  -.0263
</td>
<td align="right">
  -.0714
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-10
06:10:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 106.3816
</td>
<td align="right">
 106.4188
</td>
<td align="right">
 106.1935
</td>
<td align="right">
   .0373
</td>
<td align="right">
  -.2253
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-11
10:50:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 106.9671
</td>
<td align="right">
 107.1822
</td>
<td align="right">
 107.0748
</td>
<td align="right">
   .2151
</td>
<td align="right">
  -.1074
</td>
<td align="right">
  .0020
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-11
11:00:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 106.9754
</td>
<td align="right">
 107.1315
</td>
<td align="right">
 107.0078
</td>
<td align="right">
   .1561
</td>
<td align="right">
  -.1237
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-11
11:05:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
 106.9860
</td>
<td align="right">
 107.1206
</td>
<td align="right">
 107.0518
</td>
<td align="right">
   .1346
</td>
<td align="right">
  -.0688
</td>
<td align="right">
  .0013
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-11
11:15:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
 106.9135
</td>
<td align="right">
 107.1243
</td>
<td align="right">
 107.0877
</td>
<td align="right">
   .2108
</td>
<td align="right">
  -.0366
</td>
<td align="right">
  .0020
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-11
11:20:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 106.9377
</td>
<td align="right">
 107.1232
</td>
<td align="right">
 107.0795
</td>
<td align="right">
   .1856
</td>
<td align="right">
  -.0437
</td>
<td align="right">
  .0017
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-11
11:25:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
 106.9763
</td>
<td align="right">
 107.1330
</td>
<td align="right">
 107.0806
</td>
<td align="right">
   .1567
</td>
<td align="right">
  -.0523
</td>
<td align="right">
  .0015
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-11
11:30:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
 107.0184
</td>
<td align="right">
 107.0979
</td>
<td align="right">
 107.0588
</td>
<td align="right">
   .0795
</td>
<td align="right">
  -.0391
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-11
12:10:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
 107.1297
</td>
<td align="right">
 107.1001
</td>
<td align="right">
 107.2348
</td>
<td align="right">
  -.0296
</td>
<td align="right">
   .1347
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-11
12:15:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
 107.1243
</td>
<td align="right">
 107.0871
</td>
<td align="right">
 107.2472
</td>
<td align="right">
  -.0372
</td>
<td align="right">
   .1600
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-11
12:20:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
 107.1232
</td>
<td align="right">
 107.1079
</td>
<td align="right">
 107.2463
</td>
<td align="right">
  -.0154
</td>
<td align="right">
   .1384
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-11
18:35:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
 107.2684
</td>
<td align="right">
 107.3347
</td>
<td align="right">
 107.3468
</td>
<td align="right">
   .0663
</td>
<td align="right">
   .0121
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-11
19:40:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 107.3282
</td>
<td align="right">
 107.3465
</td>
<td align="right">
 107.4289
</td>
<td align="right">
   .0183
</td>
<td align="right">
   .0824
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-11
20:50:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
 107.3371
</td>
<td align="right">
 107.3128
</td>
<td align="right">
 107.3929
</td>
<td align="right">
  -.0243
</td>
<td align="right">
   .0800
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-11
20:55:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
 107.3330
</td>
<td align="right">
 107.3193
</td>
<td align="right">
 107.3961
</td>
<td align="right">
  -.0136
</td>
<td align="right">
   .0768
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-11
21:00:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
 107.3430
</td>
<td align="right">
 107.3261
</td>
<td align="right">
 107.3864
</td>
<td align="right">
  -.0168
</td>
<td align="right">
   .0602
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-11
21:25:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 107.3306
</td>
<td align="right">
 107.3225
</td>
<td align="right">
 107.4733
</td>
<td align="right">
  -.0081
</td>
<td align="right">
   .1508
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-11
21:45:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 107.3583
</td>
<td align="right">
 107.3672
</td>
<td align="right">
 107.4834
</td>
<td align="right">
   .0088
</td>
<td align="right">
   .1162
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-10
08:45:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
   1.2905
</td>
<td align="right">
   1.2904
</td>
<td align="right">
   1.2937
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0033
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-10
09:25:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.2908
</td>
<td align="right">
   1.2904
</td>
<td align="right">
   1.2932
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0028
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-10
09:30:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.2906
</td>
<td align="right">
   1.2905
</td>
<td align="right">
   1.2933
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0028
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-11
13:55:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2994
</td>
<td align="right">
   1.3000
</td>
<td align="right">
   1.3004
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-11
17:50:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.2999
</td>
<td align="right">
   1.3012
</td>
<td align="right">
   1.3009
</td>
<td align="right">
   .0013
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  .0010
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-11
20:15:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.3003
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.3011
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0009
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-11
20:30:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.3003
</td>
<td align="right">
   1.3004
</td>
<td align="right">
   1.3010
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-11
21:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.3006
</td>
<td align="right">
   1.3006
</td>
<td align="right">
   1.3009
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-11
22:35:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
   1.3012
</td>
<td align="right">
   1.3007
</td>
<td align="right">
   1.3004
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  -.0003
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-12-09
23:25:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.6035
</td>
<td align="right">
   1.6032
</td>
<td align="right">
   1.6022
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0010
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0006
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-12-09
23:30:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.6035
</td>
<td align="right">
   1.6031
</td>
<td align="right">
   1.6022
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-12-09
23:55:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.6035
</td>
<td align="right">
   1.6029
</td>
<td align="right">
   1.6023
</td>
<td align="right">
  -.0006
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-12-10
10:25:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.6037
</td>
<td align="right">
   1.6050
</td>
<td align="right">
   1.6068
</td>
<td align="right">
   .0013
</td>
<td align="right">
   .0018
</td>
<td align="right">
  .0008
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-12-10
10:30:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.6038
</td>
<td align="right">
   1.6047
</td>
<td align="right">
   1.6069
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0022
</td>
<td align="right">
  .0005
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-12-10
12:05:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.6056
</td>
<td align="right">
   1.6075
</td>
<td align="right">
   1.6070
</td>
<td align="right">
   .0020
</td>
<td align="right">
  -.0005
</td>
<td align="right">
  .0012
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-12-10
13:00:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.6067
</td>
<td align="right">
   1.6094
</td>
<td align="right">
   1.6070
</td>
<td align="right">
   .0027
</td>
<td align="right">
  -.0024
</td>
<td align="right">
  .0017
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-12-11
16:05:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.6107
</td>
<td align="right">
   1.6103
</td>
<td align="right">
   1.6111
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0008
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-09
23:15:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .9358
</td>
<td align="right">
    .9356
</td>
<td align="right">
    .9362
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0006
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-09
23:20:00
</td>
<td align="right">
 -.88
</td>
<td align="right">
    .9360
</td>
<td align="right">
    .9357
</td>
<td align="right">
    .9359
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0002
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-09
23:25:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
    .9358
</td>
<td align="right">
    .9358
</td>
<td align="right">
    .9359
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0001
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-09
23:30:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9358
</td>
<td align="right">
    .9355
</td>
<td align="right">
    .9359
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0005
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-09
23:35:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
    .9358
</td>
<td align="right">
    .9359
</td>
<td align="right">
    .9360
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-09
23:40:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
    .9358
</td>
<td align="right">
    .9358
</td>
<td align="right">
    .9359
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
00:50:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9354
</td>
<td align="right">
    .9351
</td>
<td align="right">
    .9354
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
01:45:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9351
</td>
<td align="right">
    .9357
</td>
<td align="right">
    .9366
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
01:50:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9351
</td>
<td align="right">
    .9356
</td>
<td align="right">
    .9362
</td>
<td align="right">
   .0006
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0006
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
02:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9356
</td>
<td align="right">
    .9360
</td>
<td align="right">
    .9350
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0010
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
02:20:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9354
</td>
<td align="right">
    .9361
</td>
<td align="right">
    .9352
</td>
<td align="right">
   .0007
</td>
<td align="right">
  -.0009
</td>
<td align="right">
  .0007
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
02:25:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
    .9356
</td>
<td align="right">
    .9359
</td>
<td align="right">
    .9351
</td>
<td align="right">
   .0003
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
02:30:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
    .9360
</td>
<td align="right">
    .9358
</td>
<td align="right">
    .9353
</td>
<td align="right">
  -.0002
</td>
<td align="right">
  -.0005
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
02:40:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .9359
</td>
<td align="right">
    .9360
</td>
<td align="right">
    .9353
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0007
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
03:20:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
    .9361
</td>
<td align="right">
    .9363
</td>
<td align="right">
    .9350
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
03:45:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
    .9360
</td>
<td align="right">
    .9365
</td>
<td align="right">
    .9350
</td>
<td align="right">
   .0005
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
03:50:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
    .9361
</td>
<td align="right">
    .9365
</td>
<td align="right">
    .9350
</td>
<td align="right">
   .0004
</td>
<td align="right">
  -.0015
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
03:55:00
</td>
<td align="right">
 -.88
</td>
<td align="right">
    .9362
</td>
<td align="right">
    .9362
</td>
<td align="right">
    .9354
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0008
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
04:00:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
    .9362
</td>
<td align="right">
    .9361
</td>
<td align="right">
    .9353
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0008
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
04:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .9362
</td>
<td align="right">
    .9363
</td>
<td align="right">
    .9350
</td>
<td align="right">
   .0001
</td>
<td align="right">
  -.0013
</td>
<td align="right">
  .0001
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
04:10:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9362
</td>
<td align="right">
    .9364
</td>
<td align="right">
    .9350
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0014
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
04:15:00
</td>
<td align="right">
 -.80
</td>
<td align="right">
    .9363
</td>
<td align="right">
    .9362
</td>
<td align="right">
    .9349
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
04:20:00
</td>
<td align="right">
 -.83
</td>
<td align="right">
    .9363
</td>
<td align="right">
    .9359
</td>
<td align="right">
    .9348
</td>
<td align="right">
  -.0003
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
17:55:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9334
</td>
<td align="right">
    .9336
</td>
<td align="right">
    .9332
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0004
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
18:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9336
</td>
<td align="right">
    .9336
</td>
<td align="right">
    .9335
</td>
<td align="right">
   .0000
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0000
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
20:05:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9333
</td>
<td align="right">
    .9333
</td>
<td align="right">
    .9336
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
20:10:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9333
</td>
<td align="right">
    .9332
</td>
<td align="right">
    .9337
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
20:15:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9333
</td>
<td align="right">
    .9332
</td>
<td align="right">
    .9336
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0004
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
20:20:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9334
</td>
<td align="right">
    .9333
</td>
<td align="right">
    .9336
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0003
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-11
11:50:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .9320
</td>
<td align="right">
    .9329
</td>
<td align="right">
    .9330
</td>
<td align="right">
   .0009
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0009
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-09
22:20:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  82.5650
</td>
<td align="right">
  82.5375
</td>
<td align="right">
  82.4825
</td>
<td align="right">
  -.0275
</td>
<td align="right">
  -.0550
</td>
<td align="right">
 -.0003
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-09
22:30:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
  82.5725
</td>
<td align="right">
  82.5400
</td>
<td align="right">
  82.4575
</td>
<td align="right">
  -.0325
</td>
<td align="right">
  -.0825
</td>
<td align="right">
 -.0004
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-09
22:35:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
  82.5750
</td>
<td align="right">
  82.6025
</td>
<td align="right">
  82.4475
</td>
<td align="right">
   .0275
</td>
<td align="right">
  -.1550
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-09
22:40:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
  82.6200
</td>
<td align="right">
  82.6050
</td>
<td align="right">
  82.4325
</td>
<td align="right">
  -.0150
</td>
<td align="right">
  -.1725
</td>
<td align="right">
 -.0002
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-09
22:45:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
  82.5925
</td>
<td align="right">
  82.6350
</td>
<td align="right">
  82.4350
</td>
<td align="right">
   .0425
</td>
<td align="right">
  -.2000
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-09
23:30:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
  82.5400
</td>
<td align="right">
  82.5525
</td>
<td align="right">
  82.4075
</td>
<td align="right">
   .0125
</td>
<td align="right">
  -.1450
</td>
<td align="right">
  .0002
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-10
19:50:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
  82.3475
</td>
<td align="right">
  82.3650
</td>
<td align="right">
  82.3725
</td>
<td align="right">
   .0175
</td>
<td align="right">
   .0075
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-10
19:55:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  82.3325
</td>
<td align="right">
  82.3675
</td>
<td align="right">
  82.3625
</td>
<td align="right">
   .0350
</td>
<td align="right">
  -.0050
</td>
<td align="right">
  .0004
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-10
20:00:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  82.3675
</td>
<td align="right">
  82.3650
</td>
<td align="right">
  82.3850
</td>
<td align="right">
  -.0025
</td>
<td align="right">
   .0200
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-10
20:05:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  82.3650
</td>
<td align="right">
  82.3575
</td>
<td align="right">
  82.3975
</td>
<td align="right">
  -.0075
</td>
<td align="right">
   .0400
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-10
22:20:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
  82.3450
</td>
<td align="right">
  82.3850
</td>
<td align="right">
  82.3600
</td>
<td align="right">
   .0400
</td>
<td align="right">
  -.0250
</td>
<td align="right">
  .0005
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-10
22:25:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
  82.3600
</td>
<td align="right">
  82.3600
</td>
<td align="right">
  82.3675
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0075
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-11
00:05:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  82.4375
</td>
<td align="right">
  82.4275
</td>
<td align="right">
  82.3250
</td>
<td align="right">
  -.0100
</td>
<td align="right">
  -.1025
</td>
<td align="right">
 -.0001
</td>
<td align="right">
 -.0012
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-11
21:40:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
  82.5650
</td>
<td align="right">
  82.5400
</td>
<td align="right">
  82.6525
</td>
<td align="right">
  -.0250
</td>
<td align="right">
   .1125
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0014
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-12-10
08:20:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  86.3286
</td>
<td align="right">
  86.1780
</td>
<td align="right">
  86.3074
</td>
<td align="right">
  -.1506
</td>
<td align="right">
   .1294
</td>
<td align="right">
 -.0017
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-12-10
08:30:00
</td>
<td align="right">
  .62
</td>
<td align="right">
  86.2772
</td>
<td align="right">
  86.2192
</td>
<td align="right">
  86.3551
</td>
<td align="right">
  -.0580
</td>
<td align="right">
   .1359
</td>
<td align="right">
 -.0007
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-12-10
09:15:00
</td>
<td align="right">
  .56
</td>
<td align="right">
  86.2079
</td>
<td align="right">
  86.1273
</td>
<td align="right">
  86.3375
</td>
<td align="right">
  -.0807
</td>
<td align="right">
   .2102
</td>
<td align="right">
 -.0009
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-12-11
01:40:00
</td>
<td align="right">
  .59
</td>
<td align="right">
  86.2255
</td>
<td align="right">
  86.2564
</td>
<td align="right">
  86.3105
</td>
<td align="right">
   .0309
</td>
<td align="right">
   .0541
</td>
<td align="right">
  .0004
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2012-12-12
04:10:00
</td>
<td align="right">
  .64
</td>
<td align="right">
  86.9889
</td>
<td align="right">
  86.9726
</td>
<td align="right">
  87.3904
</td>
<td align="right">
  -.0164
</td>
<td align="right">
   .4178
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0048
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2012-12-11
15:55:00
</td>
<td align="right">
  .59
</td>
<td align="right">
 107.0787
</td>
<td align="right">
 107.0813
</td>
<td align="right">
 107.3193
</td>
<td align="right">
   .0025
</td>
<td align="right">
   .2381
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-11
05:35:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.2958
</td>
<td align="right">
   1.2952
</td>
<td align="right">
   1.2980
</td>
<td align="right">
  -.0006
</td>
<td align="right">
   .0027
</td>
<td align="right">
 -.0005
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-11
06:00:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.2960
</td>
<td align="right">
   1.2955
</td>
<td align="right">
   1.2991
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0036
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0027
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-11
07:35:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.2946
</td>
<td align="right">
   1.2949
</td>
<td align="right">
   1.2985
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0036
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-11
08:15:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.2945
</td>
<td align="right">
   1.2949
</td>
<td align="right">
   1.2988
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0039
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0030
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-12
03:35:00
</td>
<td align="right">
  .73
</td>
<td align="right">
   1.3003
</td>
<td align="right">
   1.3004
</td>
<td align="right">
   1.3018
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-12
03:40:00
</td>
<td align="right">
  .76
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.3003
</td>
<td align="right">
   1.3017
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-12
03:45:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.3003
</td>
<td align="right">
   1.3018
</td>
<td align="right">
   .0001
</td>
<td align="right">
   .0015
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-12
03:50:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.3000
</td>
<td align="right">
   1.3014
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0014
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-12
03:55:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.2997
</td>
<td align="right">
   1.3013
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0016
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-12
04:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.3003
</td>
<td align="right">
   1.3000
</td>
<td align="right">
   1.3019
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0019
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-12
04:25:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.3003
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.3017
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0015
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-12
05:10:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.3001
</td>
<td align="right">
   1.2998
</td>
<td align="right">
   1.3027
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0029
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-12
05:15:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.2997
</td>
<td align="right">
   1.3026
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0029
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-12
05:20:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.3003
</td>
<td align="right">
   1.2998
</td>
<td align="right">
   1.3028
</td>
<td align="right">
  -.0005
</td>
<td align="right">
   .0030
</td>
<td align="right">
 -.0004
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-12
05:25:00
</td>
<td align="right">
  .80
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.2999
</td>
<td align="right">
   1.3028
</td>
<td align="right">
  -.0004
</td>
<td align="right">
   .0029
</td>
<td align="right">
 -.0003
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-12
05:30:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.2999
</td>
<td align="right">
   1.3026
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0027
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-12
05:35:00
</td>
<td align="right">
  .67
</td>
<td align="right">
   1.3003
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.3027
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0025
</td>
<td align="right">
 -.0001
</td>
<td align="right">
  .0019
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-12
05:40:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.3029
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0027
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-12
05:45:00
</td>
<td align="right">
  .90
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.3005
</td>
<td align="right">
   1.3027
</td>
<td align="right">
   .0003
</td>
<td align="right">
   .0023
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-12
06:30:00
</td>
<td align="right">
  .58
</td>
<td align="right">
   1.2999
</td>
<td align="right">
   1.2999
</td>
<td align="right">
   1.3046
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .0047
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0036
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-12
06:35:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.2999
</td>
<td align="right">
   1.3049
</td>
<td align="right">
  -.0003
</td>
<td align="right">
   .0050
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0038
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-12
07:20:00
</td>
<td align="right">
  .56
</td>
<td align="right">
   1.3004
</td>
<td align="right">
   1.3002
</td>
<td align="right">
   1.3039
</td>
<td align="right">
  -.0002
</td>
<td align="right">
   .0037
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2012-12-12
07:40:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.2999
</td>
<td align="right">
   1.3003
</td>
<td align="right">
   1.3039
</td>
<td align="right">
   .0004
</td>
<td align="right">
   .0036
</td>
<td align="right">
  .0003
</td>
<td align="right">
  .0027
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-12-12
05:00:00
</td>
<td align="right">
  .62
</td>
<td align="right">
   1.6112
</td>
<td align="right">
   1.6113
</td>
<td align="right">
   1.6140
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0026
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-12-12
05:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.6111
</td>
<td align="right">
   1.6113
</td>
<td align="right">
   1.6138
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0025
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0016
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2012-12-12
07:10:00
</td>
<td align="right">
  .57
</td>
<td align="right">
   1.6110
</td>
<td align="right">
   1.6112
</td>
<td align="right">
   1.6144
</td>
<td align="right">
   .0002
</td>
<td align="right">
   .0032
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2012-12-10
08:55:00
</td>
<td align="right">
  .66
</td>
<td align="right">
    .9352
</td>
<td align="right">
    .9354
</td>
<td align="right">
    .9330
</td>
<td align="right">
   .0002
</td>
<td align="right">
  -.0024
</td>
<td align="right">
  .0003
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-10
10:00:00
</td>
<td align="right">
  .69
</td>
<td align="right">
  82.2575
</td>
<td align="right">
  82.1750
</td>
<td align="right">
  82.3125
</td>
<td align="right">
  -.0825
</td>
<td align="right">
   .1375
</td>
<td align="right">
 -.0010
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-10
10:05:00
</td>
<td align="right">
  .67
</td>
<td align="right">
  82.2600
</td>
<td align="right">
  82.1925
</td>
<td align="right">
  82.3200
</td>
<td align="right">
  -.0675
</td>
<td align="right">
   .1275
</td>
<td align="right">
 -.0008
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-10
10:10:00
</td>
<td align="right">
  .64
</td>
<td align="right">
  82.1875
</td>
<td align="right">
  82.1850
</td>
<td align="right">
  82.4025
</td>
<td align="right">
  -.0025
</td>
<td align="right">
   .2175
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-10
10:15:00
</td>
<td align="right">
  .66
</td>
<td align="right">
  82.1825
</td>
<td align="right">
  82.1825
</td>
<td align="right">
  82.3775
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .1950
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-10
10:25:00
</td>
<td align="right">
  .63
</td>
<td align="right">
  82.1625
</td>
<td align="right">
  82.1775
</td>
<td align="right">
  82.4075
</td>
<td align="right">
   .0150
</td>
<td align="right">
   .2300
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0028
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-10
10:30:00
</td>
<td align="right">
  .64
</td>
<td align="right">
  82.1825
</td>
<td align="right">
  82.2000
</td>
<td align="right">
  82.3725
</td>
<td align="right">
   .0175
</td>
<td align="right">
   .1725
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-10
10:35:00
</td>
<td align="right">
  .67
</td>
<td align="right">
  82.1875
</td>
<td align="right">
  82.1875
</td>
<td align="right">
  82.3825
</td>
<td align="right">
   .0000
</td>
<td align="right">
   .1950
</td>
<td align="right">
  .0000
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-10
10:40:00
</td>
<td align="right">
  .68
</td>
<td align="right">
  82.1925
</td>
<td align="right">
  82.2075
</td>
<td align="right">
  82.3875
</td>
<td align="right">
   .0150
</td>
<td align="right">
   .1800
</td>
<td align="right">
  .0002
</td>
<td align="right">
  .0022
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-10
11:40:00
</td>
<td align="right">
  .57
</td>
<td align="right">
  82.2075
</td>
<td align="right">
  82.2125
</td>
<td align="right">
  82.3825
</td>
<td align="right">
   .0050
</td>
<td align="right">
   .1700
</td>
<td align="right">
  .0001
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2012-12-12
01:55:00
</td>
<td align="right">
  .70
</td>
<td align="right">
  82.5725
</td>
<td align="right">
  82.5525
</td>
<td align="right">
  82.7900
</td>
<td align="right">
  -.0200
</td>
<td align="right">
   .2375
</td>
<td align="right">
 -.0002
</td>
<td align="right">
  .0029
</td>
</tr>
</table>
<br />
