<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-04-30
07:45:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.3249
</td>
<td align="right">
   1.3240
</td>
<td align="right">
 -.0007
</td>
<td>
2012-04-30 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-04-30
07:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3249
</td>
<td align="right">
   1.3240
</td>
<td align="right">
 -.0007
</td>
<td>
2012-04-30 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-04-30
07:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3238
</td>
<td align="right">
   1.3240
</td>
<td align="right">
  .0002
</td>
<td>
2012-04-30 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-04-30
11:10:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9091
</td>
<td align="right">
    .9095
</td>
<td align="right">
  .0005
</td>
<td>
2012-04-30 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
06:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  83.7392
</td>
<td align="right">
  83.7064
</td>
<td align="right">
 -.0004
</td>
<td>
2012-04-30 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
07:15:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  83.7032
</td>
<td align="right">
  83.7695
</td>
<td align="right">
  .0008
</td>
<td>
2012-04-30 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
07:20:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  83.6681
</td>
<td align="right">
  83.7889
</td>
<td align="right">
  .0014
</td>
<td>
2012-04-30 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
07:25:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  83.7088
</td>
<td align="right">
  83.7453
</td>
<td align="right">
  .0004
</td>
<td>
2012-04-30 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
07:30:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  83.6984
</td>
<td align="right">
  83.6992
</td>
<td align="right">
  .0000
</td>
<td>
2012-04-30 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
07:35:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  83.6898
</td>
<td align="right">
  83.7295
</td>
<td align="right">
  .0005
</td>
<td>
2012-04-30 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
08:20:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  83.7889
</td>
<td align="right">
  83.6758
</td>
<td align="right">
 -.0013
</td>
<td>
2012-04-30 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
08:45:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  83.6996
</td>
<td align="right">
  83.6556
</td>
<td align="right">
 -.0005
</td>
<td>
2012-04-30 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
08:50:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  83.7060
</td>
<td align="right">
  83.6620
</td>
<td align="right">
 -.0005
</td>
<td>
2012-04-30 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
09:05:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  83.6957
</td>
<td align="right">
  83.5911
</td>
<td align="right">
 -.0012
</td>
<td>
2012-04-30 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
09:10:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
  83.6836
</td>
<td align="right">
  83.5850
</td>
<td align="right">
 -.0012
</td>
<td>
2012-04-30 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
09:15:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  83.6864
</td>
<td align="right">
  83.5716
</td>
<td align="right">
 -.0014
</td>
<td>
2012-04-30 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
09:45:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  83.6556
</td>
<td align="right">
  83.5995
</td>
<td align="right">
 -.0007
</td>
<td>
2012-04-30 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
09:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  83.6620
</td>
<td align="right">
  83.6219
</td>
<td align="right">
 -.0005
</td>
<td>
2012-04-30 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
09:55:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  83.6460
</td>
<td align="right">
  83.6139
</td>
<td align="right">
 -.0004
</td>
<td>
2012-04-30 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
10:00:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  83.6047
</td>
<td align="right">
  83.6167
</td>
<td align="right">
  .0001
</td>
<td>
2012-04-30 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
10:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  83.5911
</td>
<td align="right">
  83.5997
</td>
<td align="right">
  .0001
</td>
<td>
2012-04-30 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
10:10:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
  83.5850
</td>
<td align="right">
  83.6099
</td>
<td align="right">
  .0003
</td>
<td>
2012-04-30 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
10:15:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  83.5716
</td>
<td align="right">
  83.5935
</td>
<td align="right">
  .0003
</td>
<td>
2012-04-30 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
10:20:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
  83.5846
</td>
<td align="right">
  83.5850
</td>
<td align="right">
  .0000
</td>
<td>
2012-04-30 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
10:30:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
  83.5858
</td>
<td align="right">
  83.5838
</td>
<td align="right">
  .0000
</td>
<td>
2012-04-30 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
11:05:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  83.5997
</td>
<td align="right">
  83.4810
</td>
<td align="right">
 -.0014
</td>
<td>
2012-04-30 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
11:30:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  83.5838
</td>
<td align="right">
  83.3487
</td>
<td align="right">
 -.0028
</td>
<td>
2012-04-30 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
11:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  83.5315
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-04-30 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
11:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  83.5081
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-04-30 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
12:15:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
  83.4754
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-04-30 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-30
12:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  83.4886
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-04-30 18:25:00
</td>
</tr>
</table>
<br />