<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-29
20:00:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.2694
</td>
<td align="right">
   1.2695
</td>
<td align="right">
  .0001
</td>
<td>
2012-05-30 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-29
21:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.2692
</td>
<td align="right">
   1.2693
</td>
<td align="right">
  .0001
</td>
<td>
2012-05-30 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-29
22:00:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
   1.2693
</td>
<td align="right">
   1.2691
</td>
<td align="right">
 -.0002
</td>
<td>
2012-05-30 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-29
22:05:00
</td>
<td align="right">
 -.88
</td>
<td>
Sell
</td>
<td align="right">
   1.2690
</td>
<td align="right">
   1.2692
</td>
<td align="right">
  .0002
</td>
<td>
2012-05-30 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-29
22:10:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.2689
</td>
<td align="right">
   1.2692
</td>
<td align="right">
  .0002
</td>
<td>
2012-05-30 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-29
22:20:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.2693
</td>
<td align="right">
   1.2690
</td>
<td align="right">
 -.0002
</td>
<td>
2012-05-30 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-29
22:30:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.2696
</td>
<td align="right">
   1.2689
</td>
<td align="right">
 -.0005
</td>
<td>
2012-05-30 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-29
22:45:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.2696
</td>
<td align="right">
   1.2692
</td>
<td align="right">
 -.0004
</td>
<td>
2012-05-30 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-29
23:00:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.2691
</td>
<td align="right">
   1.2699
</td>
<td align="right">
  .0007
</td>
<td>
2012-05-30 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-29
23:05:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.2692
</td>
<td align="right">
   1.2697
</td>
<td align="right">
  .0004
</td>
<td>
2012-05-30 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-29
23:10:00
</td>
<td align="right">
 -.83
</td>
<td>
Sell
</td>
<td align="right">
   1.2692
</td>
<td align="right">
   1.2697
</td>
<td align="right">
  .0004
</td>
<td>
2012-05-30 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-29
23:15:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.2691
</td>
<td align="right">
   1.2698
</td>
<td align="right">
  .0005
</td>
<td>
2012-05-30 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-29
23:25:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.2690
</td>
<td align="right">
   1.2693
</td>
<td align="right">
  .0002
</td>
<td>
2012-05-30 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-29
23:30:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
   1.2689
</td>
<td align="right">
   1.2693
</td>
<td align="right">
  .0003
</td>
<td>
2012-05-30 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-29
23:35:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.2691
</td>
<td align="right">
   1.2703
</td>
<td align="right">
  .0009
</td>
<td>
2012-05-30 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-29
23:40:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.2691
</td>
<td align="right">
   1.2703
</td>
<td align="right">
  .0010
</td>
<td>
2012-05-30 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-29
23:55:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.2697
</td>
<td align="right">
   1.2699
</td>
<td align="right">
  .0002
</td>
<td>
2012-05-30 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-30
00:10:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.2697
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-05-30 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-30
00:20:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.2694
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-05-30 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-30
00:30:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.2693
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-05-30 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-30
00:35:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
   1.2703
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-05-30 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-30
00:40:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.2703
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-05-30 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-30
00:45:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.2704
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-05-30 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-30
00:50:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.2700
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-05-30 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-30
00:55:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
   1.2699
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-05-30 06:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-05-29
21:20:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.2492
</td>
<td align="right">
   1.2479
</td>
<td align="right">
 -.0011
</td>
<td>
2012-05-30 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-05-29
22:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.2483
</td>
<td align="right">
   1.2481
</td>
<td align="right">
 -.0002
</td>
<td>
2012-05-30 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-05-29
22:45:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.2481
</td>
<td align="right">
   1.2482
</td>
<td align="right">
  .0001
</td>
<td>
2012-05-30 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-05-29
21:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.0227
</td>
<td align="right">
   1.0230
</td>
<td align="right">
  .0002
</td>
<td>
2012-05-30 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-05-29
23:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0239
</td>
<td align="right">
   1.0239
</td>
<td align="right">
  .0000
</td>
<td>
2012-05-30 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-05-30
00:35:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0238
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-05-30 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-05-29
18:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.0245
</td>
<td align="right">
   1.0229
</td>
<td align="right">
 -.0015
</td>
<td>
2012-05-30 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-05-29
18:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0244
</td>
<td align="right">
   1.0226
</td>
<td align="right">
 -.0018
</td>
<td>
2012-05-30 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-05-29
19:10:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0240
</td>
<td align="right">
   1.0227
</td>
<td align="right">
 -.0013
</td>
<td>
2012-05-30 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-05-29
19:20:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.0241
</td>
<td align="right">
   1.0225
</td>
<td align="right">
 -.0016
</td>
<td>
2012-05-30 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-05-29
19:25:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.0242
</td>
<td align="right">
   1.0225
</td>
<td align="right">
 -.0017
</td>
<td>
2012-05-30 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-05-29
20:45:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.0230
</td>
<td align="right">
   1.0225
</td>
<td align="right">
 -.0005
</td>
<td>
2012-05-30 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-05-29
20:50:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.0226
</td>
<td align="right">
   1.0228
</td>
<td align="right">
  .0002
</td>
<td>
2012-05-30 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-05-29
21:15:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0224
</td>
<td align="right">
   1.0228
</td>
<td align="right">
  .0004
</td>
<td>
2012-05-30 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-05-29
21:20:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.0228
</td>
<td align="right">
   1.0231
</td>
<td align="right">
  .0003
</td>
<td>
2012-05-30 03:20:00
</td>
</tr>
</table>
<br />