<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-04-02
21:45:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .9906
</td>
<td align="right">
    .9904
</td>
<td align="right">
 -.0002
</td>
<td>
2012-04-03 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-04-02
23:30:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    .9905
</td>
<td align="right">
    .9902
</td>
<td align="right">
 -.0003
</td>
<td>
2012-04-03 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-04-02
23:35:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    .9905
</td>
<td align="right">
    .9902
</td>
<td align="right">
 -.0003
</td>
<td>
2012-04-03 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-04-02
23:40:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    .9905
</td>
<td align="right">
    .9901
</td>
<td align="right">
 -.0003
</td>
<td>
2012-04-03 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-04-02
23:45:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    .9905
</td>
<td align="right">
    .9902
</td>
<td align="right">
 -.0003
</td>
<td>
2012-04-03 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-04-03
00:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9901
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-04-03 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-04-03
00:20:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .9902
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-04-03 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-04-03
00:35:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9902
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-04-03 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-02
18:55:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  85.8025
</td>
<td align="right">
  85.5507
</td>
<td align="right">
 -.0029
</td>
<td>
2012-04-03 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-02
19:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  85.8204
</td>
<td align="right">
  85.5499
</td>
<td align="right">
 -.0032
</td>
<td>
2012-04-03 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-02
19:05:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
  85.8017
</td>
<td align="right">
  85.5159
</td>
<td align="right">
 -.0033
</td>
<td>
2012-04-03 01:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-02
19:10:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  85.7770
</td>
<td align="right">
  85.5194
</td>
<td align="right">
 -.0030
</td>
<td>
2012-04-03 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-02
19:30:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  85.6768
</td>
<td align="right">
  85.5535
</td>
<td align="right">
 -.0014
</td>
<td>
2012-04-03 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-02
19:45:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
  85.5078
</td>
<td align="right">
  85.5278
</td>
<td align="right">
  .0002
</td>
<td>
2012-04-03 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-02
19:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  85.5507
</td>
<td align="right">
  85.5119
</td>
<td align="right">
 -.0005
</td>
<td>
2012-04-03 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-02
20:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  85.5278
</td>
<td align="right">
  85.4829
</td>
<td align="right">
 -.0005
</td>
<td>
2012-04-03 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-02
20:50:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  85.5304
</td>
<td align="right">
  85.4959
</td>
<td align="right">
 -.0004
</td>
<td>
2012-04-03 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-02
20:55:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  85.5119
</td>
<td align="right">
  85.5393
</td>
<td align="right">
  .0003
</td>
<td>
2012-04-03 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-02
21:20:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
  85.5148
</td>
<td align="right">
  85.5632
</td>
<td align="right">
  .0006
</td>
<td>
2012-04-03 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-02
21:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  85.4700
</td>
<td align="right">
  85.5618
</td>
<td align="right">
  .0011
</td>
<td>
2012-04-03 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-02
22:10:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  85.5393
</td>
<td align="right">
  85.6343
</td>
<td align="right">
  .0011
</td>
<td>
2012-04-03 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-02
22:15:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  85.5366
</td>
<td align="right">
  85.6355
</td>
<td align="right">
  .0012
</td>
<td>
2012-04-03 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-02
22:20:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  85.5632
</td>
<td align="right">
  85.6413
</td>
<td align="right">
  .0009
</td>
<td>
2012-04-03 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-02
23:40:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  85.5215
</td>
<td align="right">
  85.2602
</td>
<td align="right">
 -.0031
</td>
<td>
2012-04-03 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-03
00:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  85.2836
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-04-03 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-03
00:30:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  85.2411
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-04-03 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-03
00:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  85.2556
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-04-03 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-04-02
20:25:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.0427
</td>
<td align="right">
   1.0414
</td>
<td align="right">
 -.0012
</td>
<td>
2012-04-03 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-04-02
20:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.0424
</td>
<td align="right">
   1.0416
</td>
<td align="right">
 -.0008
</td>
<td>
2012-04-03 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-04-02
20:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0425
</td>
<td align="right">
   1.0414
</td>
<td align="right">
 -.0010
</td>
<td>
2012-04-03 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-04-02
20:40:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.0424
</td>
<td align="right">
   1.0409
</td>
<td align="right">
 -.0014
</td>
<td>
2012-04-03 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-04-02
20:50:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.0421
</td>
<td align="right">
   1.0413
</td>
<td align="right">
 -.0008
</td>
<td>
2012-04-03 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-04-02
20:55:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.0419
</td>
<td align="right">
   1.0416
</td>
<td align="right">
 -.0003
</td>
<td>
2012-04-03 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-04-02
21:15:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0419
</td>
<td align="right">
   1.0417
</td>
<td align="right">
 -.0002
</td>
<td>
2012-04-03 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-04-02
21:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0419
</td>
<td align="right">
   1.0417
</td>
<td align="right">
 -.0002
</td>
<td>
2012-04-03 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-04-02
21:25:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
   1.0418
</td>
<td align="right">
   1.0417
</td>
<td align="right">
 -.0001
</td>
<td>
2012-04-03 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-04-02
18:50:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.2765
</td>
<td align="right">
   1.2787
</td>
<td align="right">
  .0017
</td>
<td>
2012-04-03 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-04-02
18:55:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
   1.2769
</td>
<td align="right">
   1.2785
</td>
<td align="right">
  .0012
</td>
<td>
2012-04-03 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-04-02
19:00:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
   1.2770
</td>
<td align="right">
   1.2780
</td>
<td align="right">
  .0007
</td>
<td>
2012-04-03 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-04-02
19:05:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.2771
</td>
<td align="right">
   1.2783
</td>
<td align="right">
  .0010
</td>
<td>
2012-04-03 01:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-04-02
19:10:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.2772
</td>
<td align="right">
   1.2781
</td>
<td align="right">
  .0007
</td>
<td>
2012-04-03 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-04-02
19:15:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
   1.2774
</td>
<td align="right">
   1.2782
</td>
<td align="right">
  .0006
</td>
<td>
2012-04-03 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-04-02
19:20:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.2775
</td>
<td align="right">
   1.2782
</td>
<td align="right">
  .0005
</td>
<td>
2012-04-03 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-04-02
19:25:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.2775
</td>
<td align="right">
   1.2781
</td>
<td align="right">
  .0005
</td>
<td>
2012-04-03 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-04-02
19:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2780
</td>
<td align="right">
   1.2783
</td>
<td align="right">
  .0002
</td>
<td>
2012-04-03 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-04-02
19:35:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.2782
</td>
<td align="right">
   1.2784
</td>
<td align="right">
  .0002
</td>
<td>
2012-04-03 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-04-02
19:40:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.2782
</td>
<td align="right">
   1.2783
</td>
<td align="right">
  .0000
</td>
<td>
2012-04-03 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-04-02
19:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2788
</td>
<td align="right">
   1.2785
</td>
<td align="right">
 -.0003
</td>
<td>
2012-04-03 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-04-02
19:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.2787
</td>
<td align="right">
   1.2785
</td>
<td align="right">
 -.0002
</td>
<td>
2012-04-03 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-04-02
20:05:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.2783
</td>
<td align="right">
   1.2789
</td>
<td align="right">
  .0005
</td>
<td>
2012-04-03 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-04-03
00:30:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.2791
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-04-03 06:30:00
</td>
</tr>
</table>
<br />