<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
15:00:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .9864
</td>
<td align="right">
    .9825
</td>
<td align="right">
 -.0040
</td>
<td>
2012-05-20 21:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
15:15:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9843
</td>
<td align="right">
    .9828
</td>
<td align="right">
 -.0015
</td>
<td>
2012-05-20 21:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-18
19:25:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 100.8683
</td>
<td align="right">
 100.9739
</td>
<td align="right">
  .0010
</td>
<td>
2012-05-21 01:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-18
20:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 100.9593
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-05-21 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-05-18
17:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.0214
</td>
<td align="right">
   1.0220
</td>
<td align="right">
  .0006
</td>
<td>
2012-05-20 23:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-05-18
15:30:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  77.7554
</td>
<td align="right">
  77.8645
</td>
<td align="right">
  .0014
</td>
<td>
2012-05-20 21:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-05-18
15:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  77.7071
</td>
<td align="right">
  77.8169
</td>
<td align="right">
  .0014
</td>
<td>
2012-05-20 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-05-18
16:05:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  77.7118
</td>
<td align="right">
  77.8209
</td>
<td align="right">
  .0014
</td>
<td>
2012-05-20 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-05-18
16:25:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  77.8916
</td>
<td align="right">
  77.8086
</td>
<td align="right">
 -.0011
</td>
<td>
2012-05-20 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-05-18
16:30:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  77.8645
</td>
<td align="right">
  77.7878
</td>
<td align="right">
 -.0010
</td>
<td>
2012-05-20 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-05-18
16:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  77.8219
</td>
<td align="right">
  77.7170
</td>
<td align="right">
 -.0013
</td>
<td>
2012-05-20 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-05-18
17:00:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  77.8170
</td>
<td align="right">
  77.6774
</td>
<td align="right">
 -.0018
</td>
<td>
2012-05-20 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-05-18
17:40:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  77.7591
</td>
<td align="right">
  77.5779
</td>
<td align="right">
 -.0023
</td>
<td>
2012-05-20 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-05-18
17:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  77.7437
</td>
<td align="right">
  77.6204
</td>
<td align="right">
 -.0016
</td>
<td>
2012-05-20 23:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-05-18
17:55:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  77.6932
</td>
<td align="right">
  77.6161
</td>
<td align="right">
 -.0010
</td>
<td>
2012-05-20 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-05-18
18:15:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
  77.6647
</td>
<td align="right">
  77.8173
</td>
<td align="right">
  .0020
</td>
<td>
2012-05-21 00:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-05-18
18:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  77.6667
</td>
<td align="right">
  77.6933
</td>
<td align="right">
  .0003
</td>
<td>
2012-05-21 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-05-18
19:15:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  77.8173
</td>
<td align="right">
  77.6260
</td>
<td align="right">
 -.0025
</td>
<td>
2012-05-21 01:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
15:30:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .9831
</td>
<td align="right">
    .9842
</td>
<td align="right">
  .0011
</td>
<td>
2012-05-20 21:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
15:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .9819
</td>
<td align="right">
    .9834
</td>
<td align="right">
  .0015
</td>
<td>
2012-05-20 21:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
16:10:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .9831
</td>
<td align="right">
    .9835
</td>
<td align="right">
  .0005
</td>
<td>
2012-05-20 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
16:15:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .9828
</td>
<td align="right">
    .9837
</td>
<td align="right">
  .0009
</td>
<td>
2012-05-20 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
16:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .9832
</td>
<td align="right">
    .9834
</td>
<td align="right">
  .0002
</td>
<td>
2012-05-20 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
16:30:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .9842
</td>
<td align="right">
    .9831
</td>
<td align="right">
 -.0011
</td>
<td>
2012-05-20 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
16:35:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9840
</td>
<td align="right">
    .9828
</td>
<td align="right">
 -.0012
</td>
<td>
2012-05-20 22:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
16:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9834
</td>
<td align="right">
    .9818
</td>
<td align="right">
 -.0017
</td>
<td>
2012-05-20 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
17:20:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .9834
</td>
<td align="right">
    .9817
</td>
<td align="right">
 -.0017
</td>
<td>
2012-05-20 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
17:30:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    .9831
</td>
<td align="right">
    .9813
</td>
<td align="right">
 -.0019
</td>
<td>
2012-05-20 23:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
17:40:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .9827
</td>
<td align="right">
    .9809
</td>
<td align="right">
 -.0019
</td>
<td>
2012-05-20 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
17:50:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .9821
</td>
<td align="right">
    .9821
</td>
<td align="right">
  .0000
</td>
<td>
2012-05-20 23:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
17:55:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .9818
</td>
<td align="right">
    .9816
</td>
<td align="right">
 -.0002
</td>
<td>
2012-05-20 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
18:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .9816
</td>
<td align="right">
    .9827
</td>
<td align="right">
  .0011
</td>
<td>
2012-05-21 00:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
18:25:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .9817
</td>
<td align="right">
    .9828
</td>
<td align="right">
  .0011
</td>
<td>
2012-05-21 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
18:30:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .9813
</td>
<td align="right">
    .9824
</td>
<td align="right">
  .0011
</td>
<td>
2012-05-21 00:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
18:40:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .9809
</td>
<td align="right">
    .9817
</td>
<td align="right">
  .0008
</td>
<td>
2012-05-21 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
19:35:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .9826
</td>
<td align="right">
    .9832
</td>
<td align="right">
  .0006
</td>
<td>
2012-05-21 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
19:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .9815
</td>
<td align="right">
    .9846
</td>
<td align="right">
  .0031
</td>
<td>
2012-05-21 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
20:20:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .9827
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-05-21 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
20:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .9828
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-05-21 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-18
20:55:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .9846
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-05-21 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-05-18
15:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0189
</td>
<td align="right">
   1.0206
</td>
<td align="right">
  .0017
</td>
<td>
2012-05-20 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-05-18
15:25:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.0190
</td>
<td align="right">
   1.0203
</td>
<td align="right">
  .0012
</td>
<td>
2012-05-20 21:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-05-18
19:15:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0193
</td>
<td align="right">
   1.0208
</td>
<td align="right">
  .0015
</td>
<td>
2012-05-21 01:15:00
</td>
</tr>
</table>
<br />