<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-12
23:20:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  87.7177
</td>
<td align="right">
  87.9019
</td>
<td align="right">
  .0021
</td>
<td>
2012-12-13 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-12
23:35:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  87.7444
</td>
<td align="right">
  87.9132
</td>
<td align="right">
  .0019
</td>
<td>
2012-12-13 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-12
23:40:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  87.7527
</td>
<td align="right">
  87.9306
</td>
<td align="right">
  .0020
</td>
<td>
2012-12-13 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-12
23:55:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  87.7660
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-13 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-13
00:15:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  87.8512
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-13 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-13
00:25:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  87.8895
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-13 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-13
00:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  87.9132
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-13 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-12
18:40:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
 108.8387
</td>
<td align="right">
 108.7840
</td>
<td align="right">
 -.0005
</td>
<td>
2012-12-13 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-12
18:45:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 108.8268
</td>
<td align="right">
 108.8250
</td>
<td align="right">
  .0000
</td>
<td>
2012-12-13 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-12
19:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
 108.8699
</td>
<td align="right">
 108.6996
</td>
<td align="right">
 -.0016
</td>
<td>
2012-12-13 01:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-12
19:10:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 108.8934
</td>
<td align="right">
 108.6931
</td>
<td align="right">
 -.0018
</td>
<td>
2012-12-13 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-12
19:20:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 108.8797
</td>
<td align="right">
 108.6943
</td>
<td align="right">
 -.0017
</td>
<td>
2012-12-13 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-12
19:35:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
 108.7423
</td>
<td align="right">
 108.6577
</td>
<td align="right">
 -.0008
</td>
<td>
2012-12-13 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-12
19:40:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
 108.7840
</td>
<td align="right">
 108.6687
</td>
<td align="right">
 -.0011
</td>
<td>
2012-12-13 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-12
19:45:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
 108.8250
</td>
<td align="right">
 108.6471
</td>
<td align="right">
 -.0016
</td>
<td>
2012-12-13 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-12
19:50:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
 108.8033
</td>
<td align="right">
 108.6557
</td>
<td align="right">
 -.0014
</td>
<td>
2012-12-13 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-12
19:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 108.8066
</td>
<td align="right">
 108.6708
</td>
<td align="right">
 -.0012
</td>
<td>
2012-12-13 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-12
20:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 108.6776
</td>
<td align="right">
 108.8134
</td>
<td align="right">
  .0012
</td>
<td>
2012-12-13 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-12
20:45:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 108.6471
</td>
<td align="right">
 108.8396
</td>
<td align="right">
  .0018
</td>
<td>
2012-12-13 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-12
20:55:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
 108.6708
</td>
<td align="right">
 108.8488
</td>
<td align="right">
  .0016
</td>
<td>
2012-12-13 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-12
21:20:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
 108.6830
</td>
<td align="right">
 108.6782
</td>
<td align="right">
  .0000
</td>
<td>
2012-12-13 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-12
21:30:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
 108.8134
</td>
<td align="right">
 108.7344
</td>
<td align="right">
 -.0007
</td>
<td>
2012-12-13 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-12
21:40:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
 108.8113
</td>
<td align="right">
 108.7376
</td>
<td align="right">
 -.0007
</td>
<td>
2012-12-13 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-12
21:45:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
 108.8396
</td>
<td align="right">
 108.7371
</td>
<td align="right">
 -.0009
</td>
<td>
2012-12-13 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-12
22:15:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 108.7635
</td>
<td align="right">
 108.7050
</td>
<td align="right">
 -.0005
</td>
<td>
2012-12-13 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-12
22:20:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 108.7472
</td>
<td align="right">
 108.6812
</td>
<td align="right">
 -.0006
</td>
<td>
2012-12-13 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-12
23:10:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
 108.7133
</td>
<td align="right">
 108.8250
</td>
<td align="right">
  .0010
</td>
<td>
2012-12-13 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-12
23:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 108.7387
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-13 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-12-13
00:05:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
 108.8012
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-13 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-12-12
20:30:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.3066
</td>
<td align="right">
   1.3072
</td>
<td align="right">
  .0005
</td>
<td>
2012-12-13 02:30:00
</td>
</tr>
</table>
<br />