<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-04
19:20:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  80.3643
</td>
<td align="right">
  80.3597
</td>
<td align="right">
 -.0001
</td>
<td>
2012-10-05 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-04
19:30:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  80.3551
</td>
<td align="right">
  80.3720
</td>
<td align="right">
  .0002
</td>
<td>
2012-10-05 01:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-04
19:35:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  80.3526
</td>
<td align="right">
  80.3900
</td>
<td align="right">
  .0005
</td>
<td>
2012-10-05 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-04
19:55:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  80.3493
</td>
<td align="right">
  80.3720
</td>
<td align="right">
  .0003
</td>
<td>
2012-10-05 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-04
20:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  80.3648
</td>
<td align="right">
  80.4032
</td>
<td align="right">
  .0005
</td>
<td>
2012-10-05 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-04
20:05:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  80.3768
</td>
<td align="right">
  80.3857
</td>
<td align="right">
  .0001
</td>
<td>
2012-10-05 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-04
20:10:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  80.3732
</td>
<td align="right">
  80.3889
</td>
<td align="right">
  .0002
</td>
<td>
2012-10-05 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-04
20:15:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  80.3616
</td>
<td align="right">
  80.4006
</td>
<td align="right">
  .0005
</td>
<td>
2012-10-05 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-04
20:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  80.3649
</td>
<td align="right">
  80.4163
</td>
<td align="right">
  .0006
</td>
<td>
2012-10-05 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-04
20:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  80.3720
</td>
<td align="right">
  80.4197
</td>
<td align="right">
  .0006
</td>
<td>
2012-10-05 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-04
20:45:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  80.3979
</td>
<td align="right">
  80.4024
</td>
<td align="right">
  .0001
</td>
<td>
2012-10-05 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-04
21:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  80.3889
</td>
<td align="right">
  80.4125
</td>
<td align="right">
  .0003
</td>
<td>
2012-10-05 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-04
21:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  80.4091
</td>
<td align="right">
  80.4119
</td>
<td align="right">
  .0000
</td>
<td>
2012-10-05 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-04
21:40:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  80.4163
</td>
<td align="right">
  80.3946
</td>
<td align="right">
 -.0003
</td>
<td>
2012-10-05 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-04
22:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  80.4056
</td>
<td align="right">
  80.4408
</td>
<td align="right">
  .0004
</td>
<td>
2012-10-05 04:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-04
22:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  80.3997
</td>
<td align="right">
  80.4446
</td>
<td align="right">
  .0006
</td>
<td>
2012-10-05 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-04
22:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  80.4160
</td>
<td align="right">
  80.4460
</td>
<td align="right">
  .0004
</td>
<td>
2012-10-05 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-04
22:20:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  80.4151
</td>
<td align="right">
  80.4498
</td>
<td align="right">
  .0004
</td>
<td>
2012-10-05 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-04
22:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  80.4074
</td>
<td align="right">
  80.4508
</td>
<td align="right">
  .0005
</td>
<td>
2012-10-05 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-10-04
22:50:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  80.3947
</td>
<td align="right">
  80.4188
</td>
<td align="right">
  .0003
</td>
<td>
2012-10-05 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-10-04
21:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 102.1950
</td>
<td align="right">
 102.2063
</td>
<td align="right">
  .0001
</td>
<td>
2012-10-05 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-10-04
21:40:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 102.1927
</td>
<td align="right">
 102.1868
</td>
<td align="right">
 -.0001
</td>
<td>
2012-10-05 03:40:00
</td>
</tr>
</table>
<br />