<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-06
21:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.2369
</td>
<td align="right">
   1.2376
</td>
<td align="right">
  .0005
</td>
<td>
2012-12-07 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-06
21:50:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.2368
</td>
<td align="right">
   1.2377
</td>
<td align="right">
  .0007
</td>
<td>
2012-12-07 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-06
21:55:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.2366
</td>
<td align="right">
   1.2379
</td>
<td align="right">
  .0011
</td>
<td>
2012-12-07 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-06
22:15:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.2367
</td>
<td align="right">
   1.2379
</td>
<td align="right">
  .0010
</td>
<td>
2012-12-07 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-06
22:30:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.2375
</td>
<td align="right">
   1.2378
</td>
<td align="right">
  .0002
</td>
<td>
2012-12-07 04:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-06
22:35:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.2375
</td>
<td align="right">
   1.2379
</td>
<td align="right">
  .0003
</td>
<td>
2012-12-07 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-06
22:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.2375
</td>
<td align="right">
   1.2378
</td>
<td align="right">
  .0002
</td>
<td>
2012-12-07 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-06
22:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.2375
</td>
<td align="right">
   1.2376
</td>
<td align="right">
  .0001
</td>
<td>
2012-12-07 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-06
23:00:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.2376
</td>
<td align="right">
   1.2376
</td>
<td align="right">
  .0000
</td>
<td>
2012-12-07 05:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-06
23:05:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.2377
</td>
<td align="right">
   1.2376
</td>
<td align="right">
 -.0001
</td>
<td>
2012-12-07 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-06
23:10:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.2379
</td>
<td align="right">
   1.2376
</td>
<td align="right">
 -.0003
</td>
<td>
2012-12-07 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-06
23:15:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.2379
</td>
<td align="right">
   1.2374
</td>
<td align="right">
 -.0004
</td>
<td>
2012-12-07 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-06
23:25:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.2379
</td>
<td align="right">
   1.2368
</td>
<td align="right">
 -.0009
</td>
<td>
2012-12-07 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-06
23:30:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.2378
</td>
<td align="right">
   1.2370
</td>
<td align="right">
 -.0006
</td>
<td>
2012-12-07 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-06
23:40:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.2377
</td>
<td align="right">
   1.2370
</td>
<td align="right">
 -.0006
</td>
<td>
2012-12-07 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-06
23:45:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.2378
</td>
<td align="right">
   1.2369
</td>
<td align="right">
 -.0007
</td>
<td>
2012-12-07 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-06
23:50:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
   1.2378
</td>
<td align="right">
   1.2374
</td>
<td align="right">
 -.0003
</td>
<td>
2012-12-07 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-06
23:55:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.2376
</td>
<td align="right">
   1.2373
</td>
<td align="right">
 -.0002
</td>
<td>
2012-12-07 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-07
00:00:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
   1.2376
</td>
<td align="right">
   1.2377
</td>
<td align="right">
  .0001
</td>
<td>
2012-12-07 06:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-07
00:05:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.2376
</td>
<td align="right">
   1.2379
</td>
<td align="right">
  .0003
</td>
<td>
2012-12-07 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-07
00:15:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.2374
</td>
<td align="right">
   1.2378
</td>
<td align="right">
  .0003
</td>
<td>
2012-12-07 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-07
00:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.2370
</td>
<td align="right">
   1.2377
</td>
<td align="right">
  .0005
</td>
<td>
2012-12-07 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-07
00:25:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.2368
</td>
<td align="right">
   1.2378
</td>
<td align="right">
  .0008
</td>
<td>
2012-12-07 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-07
00:30:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.2370
</td>
<td align="right">
   1.2379
</td>
<td align="right">
  .0007
</td>
<td>
2012-12-07 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-07
00:35:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.2370
</td>
<td align="right">
   1.2379
</td>
<td align="right">
  .0007
</td>
<td>
2012-12-07 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-07
00:40:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.2370
</td>
<td align="right">
   1.2380
</td>
<td align="right">
  .0008
</td>
<td>
2012-12-07 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-07
00:45:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.2369
</td>
<td align="right">
   1.2380
</td>
<td align="right">
  .0008
</td>
<td>
2012-12-07 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-12-06
20:35:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.2968
</td>
<td align="right">
   1.2970
</td>
<td align="right">
  .0002
</td>
<td>
2012-12-07 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-06
21:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.2369
</td>
<td align="right">
   1.2378
</td>
<td align="right">
  .0008
</td>
<td>
2012-12-07 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-12-06
21:35:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.2369
</td>
<td align="right">
   1.2375
</td>
<td align="right">
  .0005
</td>
<td>
2012-12-07 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-12-06
20:45:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .9331
</td>
<td align="right">
    .9324
</td>
<td align="right">
 -.0008
</td>
<td>
2012-12-07 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-12-06
22:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9332
</td>
<td align="right">
    .9328
</td>
<td align="right">
 -.0004
</td>
<td>
2012-12-07 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-12-06
23:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .9327
</td>
<td align="right">
    .9324
</td>
<td align="right">
 -.0003
</td>
<td>
2012-12-07 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-12-06
23:25:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .9326
</td>
<td align="right">
    .9325
</td>
<td align="right">
 -.0001
</td>
<td>
2012-12-07 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-12-06
23:30:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .9324
</td>
<td align="right">
    .9325
</td>
<td align="right">
  .0001
</td>
<td>
2012-12-07 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-12-06
23:35:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .9324
</td>
<td align="right">
    .9324
</td>
<td align="right">
  .0001
</td>
<td>
2012-12-07 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-12-06
23:40:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    .9326
</td>
<td align="right">
    .9322
</td>
<td align="right">
 -.0004
</td>
<td>
2012-12-07 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-12-06
23:50:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .9325
</td>
<td align="right">
    .9322
</td>
<td align="right">
 -.0003
</td>
<td>
2012-12-07 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-12-07
00:15:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .9324
</td>
<td align="right">
    .9326
</td>
<td align="right">
  .0002
</td>
<td>
2012-12-07 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-12-07
00:20:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .9324
</td>
<td align="right">
    .9325
</td>
<td align="right">
  .0000
</td>
<td>
2012-12-07 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-12-07
00:25:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .9325
</td>
<td align="right">
    .9323
</td>
<td align="right">
 -.0002
</td>
<td>
2012-12-07 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-12-07
00:30:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .9325
</td>
<td align="right">
    .9322
</td>
<td align="right">
 -.0003
</td>
<td>
2012-12-07 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-12-07
00:35:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .9324
</td>
<td align="right">
    .9323
</td>
<td align="right">
 -.0002
</td>
<td>
2012-12-07 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-12-07
00:40:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9322
</td>
<td align="right">
    .9324
</td>
<td align="right">
  .0002
</td>
<td>
2012-12-07 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-12-07
01:00:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    .9322
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-07 07:00:00
</td>
</tr>
</table>
<br />