<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-08-09
07:25:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .7892
</td>
<td align="right">
    .7882
</td>
<td align="right">
 -.0012
</td>
<td>
2012-08-09 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-08-09
07:30:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .7889
</td>
<td align="right">
    .7884
</td>
<td align="right">
 -.0007
</td>
<td>
2012-08-09 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-08-09
07:35:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .7890
</td>
<td align="right">
    .7883
</td>
<td align="right">
 -.0009
</td>
<td>
2012-08-09 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-08-09
07:55:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .7889
</td>
<td align="right">
    .7885
</td>
<td align="right">
 -.0005
</td>
<td>
2012-08-09 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-08-09
08:05:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .7889
</td>
<td align="right">
    .7886
</td>
<td align="right">
 -.0003
</td>
<td>
2012-08-09 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-09
07:10:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .9718
</td>
<td align="right">
    .9725
</td>
<td align="right">
  .0007
</td>
<td>
2012-08-09 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-09
10:15:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .9759
</td>
<td align="right">
    .9759
</td>
<td align="right">
  .0001
</td>
<td>
2012-08-09 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-09
10:20:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9756
</td>
<td align="right">
    .9765
</td>
<td align="right">
  .0009
</td>
<td>
2012-08-09 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-09
10:25:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .9756
</td>
<td align="right">
    .9759
</td>
<td align="right">
  .0003
</td>
<td>
2012-08-09 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-09
10:30:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9758
</td>
<td align="right">
    .9760
</td>
<td align="right">
  .0002
</td>
<td>
2012-08-09 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-09
10:35:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .9757
</td>
<td align="right">
    .9762
</td>
<td align="right">
  .0004
</td>
<td>
2012-08-09 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-09
11:05:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .9752
</td>
<td align="right">
    .9760
</td>
<td align="right">
  .0007
</td>
<td>
2012-08-09 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-09
11:35:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9762
</td>
<td align="right">
    .9759
</td>
<td align="right">
 -.0002
</td>
<td>
2012-08-09 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-09
11:40:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    .9762
</td>
<td align="right">
    .9759
</td>
<td align="right">
 -.0003
</td>
<td>
2012-08-09 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-09
11:45:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9761
</td>
<td align="right">
    .9758
</td>
<td align="right">
 -.0003
</td>
<td>
2012-08-09 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-09
11:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9760
</td>
<td align="right">
    .9760
</td>
<td align="right">
  .0000
</td>
<td>
2012-08-09 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-08-09
12:15:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .9763
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-08-09 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-08-09
09:50:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  96.9209
</td>
<td align="right">
  96.4768
</td>
<td align="right">
 -.0046
</td>
<td>
2012-08-09 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-08-09
09:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  96.8996
</td>
<td align="right">
  96.4903
</td>
<td align="right">
 -.0042
</td>
<td>
2012-08-09 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-08-09
10:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  96.8073
</td>
<td align="right">
  96.5230
</td>
<td align="right">
 -.0029
</td>
<td>
2012-08-09 16:00:00
</td>
</tr>
</table>
<br />