<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-14
01:05:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 119.5846
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-14 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-14
01:10:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 119.6092
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-14 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-14
01:15:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 119.6472
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-14 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-14
01:20:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 119.6907
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-14 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-14
01:30:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
 119.6917
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-14 07:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-14
01:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
 119.6236
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-14 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-14
01:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 119.6382
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-14 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-14
01:50:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 119.6315
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-14 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-13
22:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9138
</td>
<td align="right">
    .9141
</td>
<td align="right">
  .0003
</td>
<td>
2013-01-14 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-01-14
00:45:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
    .9136
</td>
<td align="right">
    .9137
</td>
<td align="right">
  .0002
</td>
<td>
2013-01-14 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-14
00:15:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  89.4213
</td>
<td align="right">
  89.4575
</td>
<td align="right">
  .0004
</td>
<td>
2013-01-14 06:15:00
</td>
</tr>
</table>
<br />