<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-14
19:00:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9969
</td>
<td align="right">
    .9967
</td>
<td align="right">
 -.0002
</td>
<td>
2012-05-15 01:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-14
19:10:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9971
</td>
<td align="right">
    .9966
</td>
<td align="right">
 -.0004
</td>
<td>
2012-05-15 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-14
19:20:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9971
</td>
<td align="right">
    .9970
</td>
<td align="right">
 -.0001
</td>
<td>
2012-05-15 01:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-14
19:35:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .9969
</td>
<td align="right">
    .9960
</td>
<td align="right">
 -.0009
</td>
<td>
2012-05-15 01:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-14
19:40:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .9967
</td>
<td align="right">
    .9959
</td>
<td align="right">
 -.0009
</td>
<td>
2012-05-15 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-14
19:45:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9968
</td>
<td align="right">
    .9959
</td>
<td align="right">
 -.0009
</td>
<td>
2012-05-15 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-05-14
23:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.0026
</td>
<td align="right">
   1.0021
</td>
<td align="right">
 -.0005
</td>
<td>
2012-05-15 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-05-14
23:25:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.0025
</td>
<td align="right">
   1.0023
</td>
<td align="right">
 -.0002
</td>
<td>
2012-05-15 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-05-14
19:45:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.2836
</td>
<td align="right">
   1.2826
</td>
<td align="right">
 -.0008
</td>
<td>
2012-05-15 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-05-14
19:50:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
   1.2836
</td>
<td align="right">
   1.2826
</td>
<td align="right">
 -.0008
</td>
<td>
2012-05-15 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-05-14
19:55:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.2836
</td>
<td align="right">
   1.2823
</td>
<td align="right">
 -.0011
</td>
<td>
2012-05-15 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-05-14
20:10:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.2836
</td>
<td align="right">
   1.2824
</td>
<td align="right">
 -.0010
</td>
<td>
2012-05-15 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-05-14
20:20:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.2838
</td>
<td align="right">
   1.2824
</td>
<td align="right">
 -.0011
</td>
<td>
2012-05-15 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-05-14
20:30:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.2832
</td>
<td align="right">
   1.2825
</td>
<td align="right">
 -.0006
</td>
<td>
2012-05-15 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2012-05-14
21:45:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0034
</td>
<td align="right">
   1.0026
</td>
<td align="right">
 -.0008
</td>
<td>
2012-05-15 03:45:00
</td>
</tr>
</table>
<br />