<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-02-07
01:00:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  82.0708
</td>
<td align="right">
  82.2169
</td>
<td align="right">
  .0018
</td>
<td>
2012-02-07 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-02-07
04:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  82.6792
</td>
<td align="right">
  82.7398
</td>
<td align="right">
  .0007
</td>
<td>
2012-02-07 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-02-06
23:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  82.0850
</td>
<td align="right">
  82.0601
</td>
<td align="right">
 -.0003
</td>
<td>
2012-02-07 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-07
01:50:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.0722
</td>
<td align="right">
   1.0713
</td>
<td align="right">
 -.0009
</td>
<td>
2012-02-07 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-07
03:00:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.0714
</td>
<td align="right">
   1.0787
</td>
<td align="right">
  .0069
</td>
<td>
2012-02-07 09:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-07
03:05:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
   1.0714
</td>
<td align="right">
   1.0779
</td>
<td align="right">
  .0061
</td>
<td>
2012-02-07 09:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-07
03:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0709
</td>
<td align="right">
   1.0775
</td>
<td align="right">
  .0061
</td>
<td>
2012-02-07 09:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-07
04:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0798
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-02-07 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-02-07
05:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0782
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-02-07 11:00:00
</td>
</tr>
</table>
<br />