<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-03-12
06:50:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  86.6449
</td>
<td align="right">
  86.6707
</td>
<td align="right">
  .0003
</td>
<td>
2012-03-12 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-03-12
06:55:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
  86.6821
</td>
<td align="right">
  86.6328
</td>
<td align="right">
 -.0006
</td>
<td>
2012-03-12 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-03-12
07:00:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
  86.6557
</td>
<td align="right">
  86.5956
</td>
<td align="right">
 -.0007
</td>
<td>
2012-03-12 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-03-12
07:05:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  86.6020
</td>
<td align="right">
  86.5842
</td>
<td align="right">
 -.0002
</td>
<td>
2012-03-12 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-03-12
07:15:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  86.6393
</td>
<td align="right">
  86.4913
</td>
<td align="right">
 -.0017
</td>
<td>
2012-03-12 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-03-12
08:00:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  86.5956
</td>
<td align="right">
  86.5442
</td>
<td align="right">
 -.0006
</td>
<td>
2012-03-12 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-03-12
08:15:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  86.4913
</td>
<td align="right">
  86.6693
</td>
<td align="right">
  .0021
</td>
<td>
2012-03-12 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-03-12
08:35:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
  86.3966
</td>
<td align="right">
  86.6259
</td>
<td align="right">
  .0027
</td>
<td>
2012-03-12 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-03-12
08:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  86.4921
</td>
<td align="right">
  86.6526
</td>
<td align="right">
  .0019
</td>
<td>
2012-03-12 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-03-12
08:55:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  86.5223
</td>
<td align="right">
  86.5981
</td>
<td align="right">
  .0009
</td>
<td>
2012-03-12 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-03-12
09:25:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  86.7091
</td>
<td align="right">
  86.5728
</td>
<td align="right">
 -.0016
</td>
<td>
2012-03-12 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-03-12
09:35:00
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
  86.6259
</td>
<td align="right">
  86.5616
</td>
<td align="right">
 -.0007
</td>
<td>
2012-03-12 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-03-12
09:40:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
  86.6711
</td>
<td align="right">
  86.5047
</td>
<td align="right">
 -.0019
</td>
<td>
2012-03-12 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-03-12
11:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  86.4293
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-03-12 17:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-03-12
12:30:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
  86.1036
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-03-12 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-03-12
12:35:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  86.1750
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-03-12 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-03-12
07:00:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.0537
</td>
<td align="right">
   1.0533
</td>
<td align="right">
 -.0005
</td>
<td>
2012-03-12 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-03-12
07:05:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0532
</td>
<td align="right">
   1.0537
</td>
<td align="right">
  .0005
</td>
<td>
2012-03-12 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-03-12
07:10:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.0535
</td>
<td align="right">
   1.0534
</td>
<td align="right">
 -.0001
</td>
<td>
2012-03-12 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-03-12
10:30:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 107.8761
</td>
<td align="right">
 107.8150
</td>
<td align="right">
 -.0006
</td>
<td>
2012-03-12 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-03-12
10:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 107.8487
</td>
<td align="right">
 107.8007
</td>
<td align="right">
 -.0004
</td>
<td>
2012-03-12 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-03-12
10:45:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
 107.8762
</td>
<td align="right">
 107.7634
</td>
<td align="right">
 -.0010
</td>
<td>
2012-03-12 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-03-12
11:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 107.8150
</td>
<td align="right">
 107.6531
</td>
<td align="right">
 -.0015
</td>
<td>
2012-03-12 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-03-12
11:55:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
 107.8640
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-03-12 17:55:00
</td>
</tr>
</table>
<br />