<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-06
16:15:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
  78.9071
</td>
<td align="right">
  78.8715
</td>
<td align="right">
 -.0005
</td>
<td>
2012-01-08 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-06
16:30:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  78.8977
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-08 22:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-06
16:40:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  78.9396
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-08 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-06
11:50:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.2485
</td>
<td align="right">
   1.2481
</td>
<td align="right">
 -.0003
</td>
<td>
2012-01-06 17:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-06
12:05:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.2490
</td>
<td align="right">
   1.2474
</td>
<td align="right">
 -.0012
</td>
<td>
2012-01-06 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-06
13:45:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.2440
</td>
<td align="right">
   1.2449
</td>
<td align="right">
  .0008
</td>
<td>
2012-01-06 19:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-01-06
12:00:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .8259
</td>
<td align="right">
    .8260
</td>
<td align="right">
  .0002
</td>
<td>
2012-01-06 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-01-06
12:05:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .8263
</td>
<td align="right">
    .8258
</td>
<td align="right">
 -.0006
</td>
<td>
2012-01-06 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-01-06
12:10:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .8262
</td>
<td align="right">
    .8264
</td>
<td align="right">
  .0001
</td>
<td>
2012-01-06 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-01-06
12:15:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .8263
</td>
<td align="right">
    .8262
</td>
<td align="right">
  .0000
</td>
<td>
2012-01-06 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-01-06
12:20:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .8263
</td>
<td align="right">
    .8264
</td>
<td align="right">
  .0001
</td>
<td>
2012-01-06 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-01-06
12:25:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .8262
</td>
<td align="right">
    .8260
</td>
<td align="right">
 -.0002
</td>
<td>
2012-01-06 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-01-06
12:30:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8264
</td>
<td align="right">
    .8255
</td>
<td align="right">
 -.0010
</td>
<td>
2012-01-06 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-01-06
12:35:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .8261
</td>
<td align="right">
    .8250
</td>
<td align="right">
 -.0013
</td>
<td>
2012-01-06 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-01-06
12:40:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .8262
</td>
<td align="right">
    .8256
</td>
<td align="right">
 -.0008
</td>
<td>
2012-01-06 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-01-06
12:45:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .8263
</td>
<td align="right">
    .8254
</td>
<td align="right">
 -.0011
</td>
<td>
2012-01-06 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-01-06
12:50:00
</td>
<td align="right">
 -.73
</td>
<td>
Sell
</td>
<td align="right">
    .8262
</td>
<td align="right">
    .8251
</td>
<td align="right">
 -.0014
</td>
<td>
2012-01-06 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-01-06
12:55:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8257
</td>
<td align="right">
    .8252
</td>
<td align="right">
 -.0006
</td>
<td>
2012-01-06 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-01-06
13:00:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8260
</td>
<td align="right">
    .8254
</td>
<td align="right">
 -.0008
</td>
<td>
2012-01-06 19:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-01-06
13:05:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8258
</td>
<td align="right">
    .8257
</td>
<td align="right">
 -.0001
</td>
<td>
2012-01-06 19:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-01-06
13:10:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    .8264
</td>
<td align="right">
    .8255
</td>
<td align="right">
 -.0011
</td>
<td>
2012-01-06 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-01-06
13:15:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    .8262
</td>
<td align="right">
    .8257
</td>
<td align="right">
 -.0007
</td>
<td>
2012-01-06 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-01-06
13:20:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
    .8264
</td>
<td align="right">
    .8258
</td>
<td align="right">
 -.0007
</td>
<td>
2012-01-06 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-01-06
13:25:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    .8260
</td>
<td align="right">
    .8260
</td>
<td align="right">
  .0000
</td>
<td>
2012-01-06 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-01-06
15:05:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
    .8260
</td>
<td align="right">
    .8251
</td>
<td align="right">
 -.0011
</td>
<td>
2012-01-08 21:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-01-06
15:20:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8260
</td>
<td align="right">
    .8248
</td>
<td align="right">
 -.0014
</td>
<td>
2012-01-08 21:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-01-06
15:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8258
</td>
<td align="right">
    .8254
</td>
<td align="right">
 -.0005
</td>
<td>
2012-01-08 21:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-01-06
11:25:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  98.6401
</td>
<td align="right">
  98.6976
</td>
<td align="right">
  .0006
</td>
<td>
2012-01-06 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-01-06
12:30:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  98.7153
</td>
<td align="right">
  98.5844
</td>
<td align="right">
 -.0013
</td>
<td>
2012-01-06 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-01-06
12:35:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  98.6675
</td>
<td align="right">
  98.4844
</td>
<td align="right">
 -.0019
</td>
<td>
2012-01-06 18:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-01-06
12:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  98.6107
</td>
<td align="right">
  98.3728
</td>
<td align="right">
 -.0024
</td>
<td>
2012-01-06 18:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-01-06
13:15:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  98.6503
</td>
<td align="right">
  98.3249
</td>
<td align="right">
 -.0033
</td>
<td>
2012-01-06 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-01-06
13:25:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  98.6066
</td>
<td align="right">
  98.3351
</td>
<td align="right">
 -.0028
</td>
<td>
2012-01-06 19:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-01-06
14:05:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0245
</td>
<td align="right">
   1.0219
</td>
<td align="right">
 -.0025
</td>
<td>
2012-01-06 20:05:00
</td>
</tr>
</table>
<br />