<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-09-12
08:15:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  81.5848
</td>
<td align="right">
  81.7501
</td>
<td align="right">
  .0020
</td>
<td>
2012-09-12 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-09-12
08:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  81.6694
</td>
<td align="right">
  81.7405
</td>
<td align="right">
  .0009
</td>
<td>
2012-09-12 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-09-12
10:25:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  81.6281
</td>
<td align="right">
  81.5497
</td>
<td align="right">
 -.0010
</td>
<td>
2012-09-12 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-09-12
07:00:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.2296
</td>
<td align="right">
   1.2291
</td>
<td align="right">
 -.0004
</td>
<td>
2012-09-12 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-09-12
11:05:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  81.5291
</td>
<td align="right">
  81.4499
</td>
<td align="right">
 -.0010
</td>
<td>
2012-09-12 17:05:00
</td>
</tr>
</table>
<br />