<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-08
07:35:00
</td>
<td align="right">
 -.76
</td>
<td>
Sell
</td>
<td align="right">
    .8095
</td>
<td align="right">
    .8078
</td>
<td align="right">
 -.0021
</td>
<td>
2012-06-08 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-06-08
07:55:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .8087
</td>
<td align="right">
    .8084
</td>
<td align="right">
 -.0004
</td>
<td>
2012-06-08 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-06-08
11:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9640
</td>
<td align="right">
    .9640
</td>
<td align="right">
  .0001
</td>
<td>
2012-06-08 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-06-08
07:30:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  79.3150
</td>
<td align="right">
  79.1825
</td>
<td align="right">
 -.0017
</td>
<td>
2012-06-08 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-06-08
07:35:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  79.3025
</td>
<td align="right">
  79.1675
</td>
<td align="right">
 -.0017
</td>
<td>
2012-06-08 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-06-08
07:40:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  79.2875
</td>
<td align="right">
  79.2113
</td>
<td align="right">
 -.0010
</td>
<td>
2012-06-08 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-06-08
07:55:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  79.2475
</td>
<td align="right">
  79.1950
</td>
<td align="right">
 -.0007
</td>
<td>
2012-06-08 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-06-08
08:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  79.1475
</td>
<td align="right">
  79.2025
</td>
<td align="right">
  .0007
</td>
<td>
2012-06-08 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-06-08
08:05:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  79.2300
</td>
<td align="right">
  79.1988
</td>
<td align="right">
 -.0004
</td>
<td>
2012-06-08 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-06-08
08:25:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  79.1663
</td>
<td align="right">
  79.2375
</td>
<td align="right">
  .0009
</td>
<td>
2012-06-08 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-06-08
08:30:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  79.1825
</td>
<td align="right">
  79.2975
</td>
<td align="right">
  .0015
</td>
<td>
2012-06-08 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-06-08
08:35:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  79.1675
</td>
<td align="right">
  79.3275
</td>
<td align="right">
  .0020
</td>
<td>
2012-06-08 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-06-08
08:40:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  79.2113
</td>
<td align="right">
  79.3400
</td>
<td align="right">
  .0016
</td>
<td>
2012-06-08 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-06-08
08:45:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  79.1775
</td>
<td align="right">
  79.3425
</td>
<td align="right">
  .0021
</td>
<td>
2012-06-08 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-06-08
08:50:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  79.2000
</td>
<td align="right">
  79.4225
</td>
<td align="right">
  .0028
</td>
<td>
2012-06-08 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-06-08
09:15:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  79.2300
</td>
<td align="right">
  79.3375
</td>
<td align="right">
  .0014
</td>
<td>
2012-06-08 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-06-08
09:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  79.2388
</td>
<td align="right">
  79.3263
</td>
<td align="right">
  .0011
</td>
<td>
2012-06-08 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-06-08
09:30:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
  79.2975
</td>
<td align="right">
  79.2625
</td>
<td align="right">
 -.0004
</td>
<td>
2012-06-08 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-06-08
09:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  79.3275
</td>
<td align="right">
  79.2825
</td>
<td align="right">
 -.0006
</td>
<td>
2012-06-08 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-06-08
10:45:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  79.2775
</td>
<td align="right">
  79.3713
</td>
<td align="right">
  .0012
</td>
<td>
2012-06-08 16:45:00
</td>
</tr>
</table>
<br />