<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-13
12:20:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  78.7832
</td>
<td align="right">
  78.9074
</td>
<td align="right">
  .0016
</td>
<td>
2011-12-13 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-13
12:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  78.8105
</td>
<td align="right">
  78.7996
</td>
<td align="right">
 -.0001
</td>
<td>
2011-12-13 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-13
12:45:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  78.8350
</td>
<td align="right">
  78.7940
</td>
<td align="right">
 -.0005
</td>
<td>
2011-12-13 18:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-12-13
08:25:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3064
</td>
<td align="right">
   1.3049
</td>
<td align="right">
 -.0011
</td>
<td>
2011-12-13 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-12-13
08:40:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.3065
</td>
<td align="right">
   1.3053
</td>
<td align="right">
 -.0010
</td>
<td>
2011-12-13 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-12-13
09:05:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.3070
</td>
<td align="right">
   1.3049
</td>
<td align="right">
 -.0016
</td>
<td>
2011-12-13 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-12-13
09:25:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.3049
</td>
<td align="right">
   1.3053
</td>
<td align="right">
  .0003
</td>
<td>
2011-12-13 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-12-13
09:30:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3052
</td>
<td align="right">
   1.3054
</td>
<td align="right">
  .0002
</td>
<td>
2011-12-13 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-12-13
09:35:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.3055
</td>
<td align="right">
   1.3056
</td>
<td align="right">
  .0000
</td>
<td>
2011-12-13 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-12-13
08:35:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8460
</td>
<td align="right">
    .8454
</td>
<td align="right">
 -.0007
</td>
<td>
2011-12-13 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-12-13
08:55:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8463
</td>
<td align="right">
    .8457
</td>
<td align="right">
 -.0006
</td>
<td>
2011-12-13 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-12-13
09:15:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8460
</td>
<td align="right">
    .8458
</td>
<td align="right">
 -.0002
</td>
<td>
2011-12-13 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-12-13
09:25:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
    .8458
</td>
<td align="right">
    .8466
</td>
<td align="right">
  .0010
</td>
<td>
2011-12-13 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-12-13
09:50:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .8458
</td>
<td align="right">
    .8471
</td>
<td align="right">
  .0015
</td>
<td>
2011-12-13 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-12-13
09:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8457
</td>
<td align="right">
    .8470
</td>
<td align="right">
  .0014
</td>
<td>
2011-12-13 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-12-13
10:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .8458
</td>
<td align="right">
    .8478
</td>
<td align="right">
  .0023
</td>
<td>
2011-12-13 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-12-13
10:15:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .8458
</td>
<td align="right">
    .8477
</td>
<td align="right">
  .0022
</td>
<td>
2011-12-13 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-12-13
10:20:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .8462
</td>
<td align="right">
    .8476
</td>
<td align="right">
  .0017
</td>
<td>
2011-12-13 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-12-13
10:25:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8466
</td>
<td align="right">
    .8475
</td>
<td align="right">
  .0010
</td>
<td>
2011-12-13 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-12-13
10:30:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8466
</td>
<td align="right">
    .8471
</td>
<td align="right">
  .0006
</td>
<td>
2011-12-13 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-12-13
10:35:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8464
</td>
<td align="right">
    .8467
</td>
<td align="right">
  .0004
</td>
<td>
2011-12-13 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-12-13
10:50:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
    .8471
</td>
<td align="right">
    .8469
</td>
<td align="right">
 -.0002
</td>
<td>
2011-12-13 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-12-13
10:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8470
</td>
<td align="right">
    .8460
</td>
<td align="right">
 -.0011
</td>
<td>
2011-12-13 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-12-13
11:15:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8477
</td>
<td align="right">
    .8463
</td>
<td align="right">
 -.0016
</td>
<td>
2011-12-13 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2011-12-13
11:25:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
    .8475
</td>
<td align="right">
    .8462
</td>
<td align="right">
 -.0015
</td>
<td>
2011-12-13 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-12-13
08:55:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.3187
</td>
<td align="right">
   1.3183
</td>
<td align="right">
 -.0003
</td>
<td>
2011-12-13 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-12-13
09:05:00
</td>
<td align="right">
 -.89
</td>
<td>
Sell
</td>
<td align="right">
   1.3179
</td>
<td align="right">
   1.3191
</td>
<td align="right">
  .0009
</td>
<td>
2011-12-13 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-12-13
09:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.3175
</td>
<td align="right">
   1.3187
</td>
<td align="right">
  .0009
</td>
<td>
2011-12-13 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-12-13
09:20:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.3176
</td>
<td align="right">
   1.3193
</td>
<td align="right">
  .0013
</td>
<td>
2011-12-13 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-12-13
09:25:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3177
</td>
<td align="right">
   1.3192
</td>
<td align="right">
  .0011
</td>
<td>
2011-12-13 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-12-13
09:30:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.3174
</td>
<td align="right">
   1.3192
</td>
<td align="right">
  .0013
</td>
<td>
2011-12-13 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-12-13
09:35:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
   1.3176
</td>
<td align="right">
   1.3189
</td>
<td align="right">
  .0010
</td>
<td>
2011-12-13 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-12-13
09:40:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.3181
</td>
<td align="right">
   1.3192
</td>
<td align="right">
  .0008
</td>
<td>
2011-12-13 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-12-13
09:45:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3189
</td>
<td align="right">
   1.3199
</td>
<td align="right">
  .0007
</td>
<td>
2011-12-13 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-12-13
09:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3192
</td>
<td align="right">
   1.3198
</td>
<td align="right">
  .0005
</td>
<td>
2011-12-13 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-12-13
10:05:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.3191
</td>
<td align="right">
   1.3222
</td>
<td align="right">
  .0024
</td>
<td>
2011-12-13 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-12-13
10:10:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.3188
</td>
<td align="right">
   1.3227
</td>
<td align="right">
  .0030
</td>
<td>
2011-12-13 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-12-13
10:15:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
   1.3187
</td>
<td align="right">
   1.3227
</td>
<td align="right">
  .0030
</td>
<td>
2011-12-13 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-12-13
10:20:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.3193
</td>
<td align="right">
   1.3223
</td>
<td align="right">
  .0023
</td>
<td>
2011-12-13 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-12-13
10:25:00
</td>
<td align="right">
 -.81
</td>
<td>
Sell
</td>
<td align="right">
   1.3192
</td>
<td align="right">
   1.3222
</td>
<td align="right">
  .0023
</td>
<td>
2011-12-13 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-12-13
10:30:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
   1.3192
</td>
<td align="right">
   1.3220
</td>
<td align="right">
  .0021
</td>
<td>
2011-12-13 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-12-13
10:35:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.3189
</td>
<td align="right">
   1.3214
</td>
<td align="right">
  .0019
</td>
<td>
2011-12-13 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-12-13
10:45:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
   1.3199
</td>
<td align="right">
   1.3220
</td>
<td align="right">
  .0016
</td>
<td>
2011-12-13 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-12-13
10:50:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3198
</td>
<td align="right">
   1.3218
</td>
<td align="right">
  .0015
</td>
<td>
2011-12-13 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-12-13
11:10:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
   1.3227
</td>
<td align="right">
   1.3199
</td>
<td align="right">
 -.0021
</td>
<td>
2011-12-13 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2011-12-13
11:30:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.3220
</td>
<td align="right">
   1.3205
</td>
<td align="right">
 -.0012
</td>
<td>
2011-12-13 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-12-13
13:20:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.2348
</td>
<td align="right">
   1.2355
</td>
<td align="right">
  .0006
</td>
<td>
2011-12-13 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurchf">eur_chf</a></td>
<td>
2011-12-13
13:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.2344
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-12-13 19:50:00
</td>
</tr>
</table>
<br />