<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
04:15:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  77.2447
</td>
<td align="right">
  77.2091
</td>
<td align="right">
 -.0005
</td>
<td>
2011-12-15 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
04:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  77.2233
</td>
<td align="right">
  77.0444
</td>
<td align="right">
 -.0023
</td>
<td>
2011-12-15 10:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
04:55:00
</td>
<td align="right">
 -.75
</td>
<td>
Sell
</td>
<td align="right">
  77.2503
</td>
<td align="right">
  77.1152
</td>
<td align="right">
 -.0017
</td>
<td>
2011-12-15 10:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
05:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  77.2454
</td>
<td align="right">
  77.0975
</td>
<td align="right">
 -.0019
</td>
<td>
2011-12-15 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
07:15:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  77.2624
</td>
<td align="right">
  77.2854
</td>
<td align="right">
  .0003
</td>
<td>
2011-12-15 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
07:20:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
  77.2877
</td>
<td align="right">
  77.3207
</td>
<td align="right">
  .0004
</td>
<td>
2011-12-15 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
07:25:00
</td>
<td align="right">
 -.79
</td>
<td>
Sell
</td>
<td align="right">
  77.2554
</td>
<td align="right">
  77.3987
</td>
<td align="right">
  .0019
</td>
<td>
2011-12-15 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
07:30:00
</td>
<td align="right">
 -.94
</td>
<td>
Sell
</td>
<td align="right">
  77.2940
</td>
<td align="right">
  77.4231
</td>
<td align="right">
  .0017
</td>
<td>
2011-12-15 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
07:35:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
  77.2993
</td>
<td align="right">
  77.4348
</td>
<td align="right">
  .0018
</td>
<td>
2011-12-15 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
07:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  77.2733
</td>
<td align="right">
  77.3498
</td>
<td align="right">
  .0010
</td>
<td>
2011-12-15 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
07:45:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  77.3524
</td>
<td align="right">
  77.3147
</td>
<td align="right">
 -.0005
</td>
<td>
2011-12-15 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
07:50:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
  77.3298
</td>
<td align="right">
  77.3535
</td>
<td align="right">
  .0003
</td>
<td>
2011-12-15 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
07:55:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
  77.3268
</td>
<td align="right">
  77.3649
</td>
<td align="right">
  .0005
</td>
<td>
2011-12-15 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
08:05:00
</td>
<td align="right">
 -.80
</td>
<td>
Sell
</td>
<td align="right">
  77.2383
</td>
<td align="right">
  77.2380
</td>
<td align="right">
  .0000
</td>
<td>
2011-12-15 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
08:10:00
</td>
<td align="right">
 -.86
</td>
<td>
Sell
</td>
<td align="right">
  77.2998
</td>
<td align="right">
  77.2919
</td>
<td align="right">
 -.0001
</td>
<td>
2011-12-15 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
08:15:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
  77.2854
</td>
<td align="right">
  77.2650
</td>
<td align="right">
 -.0003
</td>
<td>
2011-12-15 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
08:20:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
  77.3207
</td>
<td align="right">
  77.2579
</td>
<td align="right">
 -.0008
</td>
<td>
2011-12-15 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
08:25:00
</td>
<td align="right">
 -.85
</td>
<td>
Sell
</td>
<td align="right">
  77.3987
</td>
<td align="right">
  77.2272
</td>
<td align="right">
 -.0022
</td>
<td>
2011-12-15 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
08:30:00
</td>
<td align="right">
 -.91
</td>
<td>
Sell
</td>
<td align="right">
  77.4231
</td>
<td align="right">
  77.2201
</td>
<td align="right">
 -.0026
</td>
<td>
2011-12-15 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
08:35:00
</td>
<td align="right">
 -.84
</td>
<td>
Sell
</td>
<td align="right">
  77.4348
</td>
<td align="right">
  77.1833
</td>
<td align="right">
 -.0032
</td>
<td>
2011-12-15 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
08:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  77.3498
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-12-15 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-12-15
08:45:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  77.3147
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-12-15 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-12-15
07:10:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9902
</td>
<td align="right">
    .9915
</td>
<td align="right">
  .0014
</td>
<td>
2011-12-15 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-12-15
07:20:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9906
</td>
<td align="right">
    .9916
</td>
<td align="right">
  .0011
</td>
<td>
2011-12-15 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-12-15
07:55:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9921
</td>
<td align="right">
    .9917
</td>
<td align="right">
 -.0004
</td>
<td>
2011-12-15 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-12-15
03:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 101.4409
</td>
<td align="right">
 101.3921
</td>
<td align="right">
 -.0005
</td>
<td>
2011-12-15 09:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-12-15
05:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 101.3787
</td>
<td align="right">
 101.4012
</td>
<td align="right">
  .0002
</td>
<td>
2011-12-15 11:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-12-15
06:05:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
 101.3824
</td>
<td align="right">
 101.4774
</td>
<td align="right">
  .0009
</td>
<td>
2011-12-15 12:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-12-15
06:10:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 101.3720
</td>
<td align="right">
 101.3915
</td>
<td align="right">
  .0002
</td>
<td>
2011-12-15 12:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-12-15
06:30:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 101.4188
</td>
<td align="right">
 101.4611
</td>
<td align="right">
  .0004
</td>
<td>
2011-12-15 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-12-15
07:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 101.4611
</td>
<td align="right">
 101.5818
</td>
<td align="right">
  .0012
</td>
<td>
2011-12-15 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-12-15
07:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
 101.5235
</td>
<td align="right">
 101.4780
</td>
<td align="right">
 -.0004
</td>
<td>
2011-12-15 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-12-15
08:10:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 101.4896
</td>
<td align="right">
 101.3512
</td>
<td align="right">
 -.0014
</td>
<td>
2011-12-15 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-12-15
08:25:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
 101.5819
</td>
<td align="right">
 101.2655
</td>
<td align="right">
 -.0031
</td>
<td>
2011-12-15 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-12-15
08:55:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
 101.4294
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-12-15 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-12-15
09:10:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 101.3512
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-12-15 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2011-12-15
09:15:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
 101.3197
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-12-15 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-12-15
05:05:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9894
</td>
<td align="right">
    .9876
</td>
<td align="right">
 -.0019
</td>
<td>
2011-12-15 11:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-12-15
05:10:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    .9892
</td>
<td align="right">
    .9882
</td>
<td align="right">
 -.0010
</td>
<td>
2011-12-15 11:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-12-15
07:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9890
</td>
<td align="right">
    .9912
</td>
<td align="right">
  .0022
</td>
<td>
2011-12-15 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-12-15
07:05:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    .9900
</td>
<td align="right">
    .9908
</td>
<td align="right">
  .0008
</td>
<td>
2011-12-15 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
06:15:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    .9532
</td>
<td align="right">
    .9506
</td>
<td align="right">
 -.0027
</td>
<td>
2011-12-15 12:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
06:20:00
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    .9532
</td>
<td align="right">
    .9509
</td>
<td align="right">
 -.0025
</td>
<td>
2011-12-15 12:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
06:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9533
</td>
<td align="right">
    .9511
</td>
<td align="right">
 -.0023
</td>
<td>
2011-12-15 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
06:30:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    .9532
</td>
<td align="right">
    .9506
</td>
<td align="right">
 -.0028
</td>
<td>
2011-12-15 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
06:35:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .9532
</td>
<td align="right">
    .9499
</td>
<td align="right">
 -.0035
</td>
<td>
2011-12-15 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
07:00:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .9512
</td>
<td align="right">
    .9485
</td>
<td align="right">
 -.0029
</td>
<td>
2011-12-15 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
07:05:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
    .9509
</td>
<td align="right">
    .9493
</td>
<td align="right">
 -.0017
</td>
<td>
2011-12-15 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
07:10:00
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
    .9508
</td>
<td align="right">
    .9473
</td>
<td align="right">
 -.0036
</td>
<td>
2011-12-15 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
07:15:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
    .9506
</td>
<td align="right">
    .9487
</td>
<td align="right">
 -.0020
</td>
<td>
2011-12-15 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
07:20:00
</td>
<td align="right">
  .83
</td>
<td>
Buy
</td>
<td align="right">
    .9509
</td>
<td align="right">
    .9482
</td>
<td align="right">
 -.0028
</td>
<td>
2011-12-15 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
07:25:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    .9511
</td>
<td align="right">
    .9443
</td>
<td align="right">
 -.0071
</td>
<td>
2011-12-15 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
07:30:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
    .9506
</td>
<td align="right">
    .9435
</td>
<td align="right">
 -.0074
</td>
<td>
2011-12-15 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
07:35:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    .9499
</td>
<td align="right">
    .9414
</td>
<td align="right">
 -.0089
</td>
<td>
2011-12-15 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
07:40:00
</td>
<td align="right">
  .90
</td>
<td>
Buy
</td>
<td align="right">
    .9492
</td>
<td align="right">
    .9434
</td>
<td align="right">
 -.0061
</td>
<td>
2011-12-15 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
07:45:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .9479
</td>
<td align="right">
    .9444
</td>
<td align="right">
 -.0037
</td>
<td>
2011-12-15 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
07:50:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .9484
</td>
<td align="right">
    .9443
</td>
<td align="right">
 -.0043
</td>
<td>
2011-12-15 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
08:05:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
    .9493
</td>
<td align="right">
    .9446
</td>
<td align="right">
 -.0050
</td>
<td>
2011-12-15 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
08:10:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
    .9473
</td>
<td align="right">
    .9448
</td>
<td align="right">
 -.0027
</td>
<td>
2011-12-15 14:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
08:15:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .9487
</td>
<td align="right">
    .9457
</td>
<td align="right">
 -.0032
</td>
<td>
2011-12-15 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
08:20:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .9482
</td>
<td align="right">
    .9450
</td>
<td align="right">
 -.0034
</td>
<td>
2011-12-15 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
08:30:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
    .9435
</td>
<td align="right">
    .9448
</td>
<td align="right">
  .0014
</td>
<td>
2011-12-15 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
08:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9414
</td>
<td align="right">
    .9452
</td>
<td align="right">
  .0040
</td>
<td>
2011-12-15 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
08:40:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    .9434
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-12-15 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
08:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9444
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-12-15 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
08:50:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
    .9443
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-12-15 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
08:55:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
    .9429
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-12-15 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
09:00:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
    .9436
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-12-15 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
09:05:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
    .9446
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-12-15 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2011-12-15
09:15:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
    .9457
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-12-15 15:15:00
</td>
</tr>
</table>
<br />