<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
00:35:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .9209
</td>
<td align="right">
    .9207
</td>
<td align="right">
 -.0002
</td>
<td>
2013-02-12 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
00:40:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .9207
</td>
<td align="right">
    .9207
</td>
<td align="right">
  .0001
</td>
<td>
2013-02-12 06:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
00:50:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9203
</td>
<td align="right">
    .9206
</td>
<td align="right">
  .0004
</td>
<td>
2013-02-12 06:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
01:05:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .9208
</td>
<td align="right">
    .9206
</td>
<td align="right">
 -.0002
</td>
<td>
2013-02-12 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
01:10:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .9206
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-02-12 07:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2013-02-12
01:15:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .9207
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-02-12 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-02-11
21:25:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  96.6299
</td>
<td align="right">
  96.7037
</td>
<td align="right">
  .0008
</td>
<td>
2013-02-12 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-02-11
21:45:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  96.7074
</td>
<td align="right">
  96.6945
</td>
<td align="right">
 -.0001
</td>
<td>
2013-02-12 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-02-11
22:25:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  96.6550
</td>
<td align="right">
  96.6975
</td>
<td align="right">
  .0004
</td>
<td>
2013-02-12 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-02-11
22:45:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  96.6689
</td>
<td align="right">
  96.7204
</td>
<td align="right">
  .0005
</td>
<td>
2013-02-12 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-02-11
23:10:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  96.6910
</td>
<td align="right">
  96.6180
</td>
<td align="right">
 -.0008
</td>
<td>
2013-02-12 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-02-11
23:40:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  96.6923
</td>
<td align="right">
  96.6132
</td>
<td align="right">
 -.0008
</td>
<td>
2013-02-12 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-02-11
23:55:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  96.6368
</td>
<td align="right">
  96.7535
</td>
<td align="right">
  .0012
</td>
<td>
2013-02-12 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-02-12
00:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  96.6171
</td>
<td align="right">
  96.8317
</td>
<td align="right">
  .0022
</td>
<td>
2013-02-12 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-02-12
00:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  96.6226
</td>
<td align="right">
  96.7763
</td>
<td align="right">
  .0016
</td>
<td>
2013-02-12 06:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-02-12
00:30:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  96.6498
</td>
<td align="right">
  96.8802
</td>
<td align="right">
  .0024
</td>
<td>
2013-02-12 06:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-02-12
00:35:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  96.6563
</td>
<td align="right">
  96.8376
</td>
<td align="right">
  .0019
</td>
<td>
2013-02-12 06:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-02-12
00:45:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  96.6778
</td>
<td align="right">
  96.7717
</td>
<td align="right">
  .0010
</td>
<td>
2013-02-12 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-02-12
01:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  96.7987
</td>
<td align="right">
  96.7838
</td>
<td align="right">
 -.0002
</td>
<td>
2013-02-12 07:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-02-12
01:40:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  96.7712
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-02-12 07:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-02-11
20:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 125.7690
</td>
<td align="right">
 126.5355
</td>
<td align="right">
  .0061
</td>
<td>
2013-02-12 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-02-11
20:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 125.8571
</td>
<td align="right">
 126.4206
</td>
<td align="right">
  .0045
</td>
<td>
2013-02-12 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-02-11
20:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 125.8183
</td>
<td align="right">
 126.4442
</td>
<td align="right">
  .0050
</td>
<td>
2013-02-12 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-02-11
21:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 125.8873
</td>
<td align="right">
 126.4466
</td>
<td align="right">
  .0044
</td>
<td>
2013-02-12 03:00:00
</td>
</tr>
</table>
<br />