<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-04-18
23:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 106.6596
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-04-19 05:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-04-19
00:10:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 106.7955
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-04-19 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-04-18
20:50:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .9160
</td>
<td align="right">
    .9161
</td>
<td align="right">
  .0001
</td>
<td>
2012-04-19 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-04-18
20:55:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
    .9159
</td>
<td align="right">
    .9162
</td>
<td align="right">
  .0003
</td>
<td>
2012-04-19 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-04-18
21:25:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .9162
</td>
<td align="right">
    .9161
</td>
<td align="right">
 -.0001
</td>
<td>
2012-04-19 03:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-04-19
00:05:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .8188
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-04-19 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-04-18
18:45:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .9162
</td>
<td align="right">
    .9164
</td>
<td align="right">
  .0002
</td>
<td>
2012-04-19 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-04-18
23:05:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9160
</td>
<td align="right">
 -.0001
</td>
<td>
2012-04-19 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-04-18
23:15:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9161
</td>
<td align="right">
    .9161
</td>
<td align="right">
  .0000
</td>
<td>
2012-04-19 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-04-18
23:40:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
    .9157
</td>
<td align="right">
    .9166
</td>
<td align="right">
  .0010
</td>
<td>
2012-04-19 05:40:00
</td>
</tr>
</table>
<br />