<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
07:50:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
  86.3327
</td>
<td align="right">
  86.2807
</td>
<td align="right">
 -.0006
</td>
<td>
2012-12-07 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
08:20:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  86.1926
</td>
<td align="right">
  86.2461
</td>
<td align="right">
  .0006
</td>
<td>
2012-12-07 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
08:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  86.2519
</td>
<td align="right">
  86.2781
</td>
<td align="right">
  .0003
</td>
<td>
2012-12-07 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
08:50:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  86.2807
</td>
<td align="right">
  86.2983
</td>
<td align="right">
  .0002
</td>
<td>
2012-12-07 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
09:00:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
  86.3005
</td>
<td align="right">
  86.2756
</td>
<td align="right">
 -.0003
</td>
<td>
2012-12-07 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
09:05:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  86.2775
</td>
<td align="right">
  86.2736
</td>
<td align="right">
  .0000
</td>
<td>
2012-12-07 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
09:10:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  86.3011
</td>
<td align="right">
  86.2782
</td>
<td align="right">
 -.0003
</td>
<td>
2012-12-07 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
09:20:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  86.2461
</td>
<td align="right">
  86.2332
</td>
<td align="right">
 -.0001
</td>
<td>
2012-12-07 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
09:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  86.2328
</td>
<td align="right">
  86.2354
</td>
<td align="right">
  .0000
</td>
<td>
2012-12-07 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
09:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  86.2781
</td>
<td align="right">
  86.2627
</td>
<td align="right">
 -.0002
</td>
<td>
2012-12-07 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
09:50:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  86.2983
</td>
<td align="right">
  86.2575
</td>
<td align="right">
 -.0005
</td>
<td>
2012-12-07 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
10:00:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  86.2756
</td>
<td align="right">
  86.2302
</td>
<td align="right">
 -.0005
</td>
<td>
2012-12-07 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
10:05:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  86.2736
</td>
<td align="right">
  86.1833
</td>
<td align="right">
 -.0010
</td>
<td>
2012-12-07 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
10:10:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  86.2782
</td>
<td align="right">
  86.2020
</td>
<td align="right">
 -.0009
</td>
<td>
2012-12-07 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
10:20:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  86.2332
</td>
<td align="right">
  86.1704
</td>
<td align="right">
 -.0007
</td>
<td>
2012-12-07 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
10:35:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  86.2638
</td>
<td align="right">
  86.1537
</td>
<td align="right">
 -.0013
</td>
<td>
2012-12-07 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
10:40:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
  86.2627
</td>
<td align="right">
  86.1892
</td>
<td align="right">
 -.0009
</td>
<td>
2012-12-07 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
10:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  86.2588
</td>
<td align="right">
  86.2015
</td>
<td align="right">
 -.0007
</td>
<td>
2012-12-07 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
10:50:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
  86.2575
</td>
<td align="right">
  86.2233
</td>
<td align="right">
 -.0004
</td>
<td>
2012-12-07 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
10:55:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
  86.2440
</td>
<td align="right">
  86.1791
</td>
<td align="right">
 -.0008
</td>
<td>
2012-12-07 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
11:00:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  86.2302
</td>
<td align="right">
  86.1744
</td>
<td align="right">
 -.0006
</td>
<td>
2012-12-07 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
11:10:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
  86.2020
</td>
<td align="right">
  86.1806
</td>
<td align="right">
 -.0002
</td>
<td>
2012-12-07 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
11:15:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  86.1637
</td>
<td align="right">
  86.1443
</td>
<td align="right">
 -.0002
</td>
<td>
2012-12-07 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
11:20:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  86.1704
</td>
<td align="right">
  86.1688
</td>
<td align="right">
  .0000
</td>
<td>
2012-12-07 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
11:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  86.1781
</td>
<td align="right">
  86.1797
</td>
<td align="right">
  .0000
</td>
<td>
2012-12-07 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
11:30:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  86.1535
</td>
<td align="right">
  86.1535
</td>
<td align="right">
  .0000
</td>
<td>
2012-12-07 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
11:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  86.1892
</td>
<td align="right">
  86.1429
</td>
<td align="right">
 -.0005
</td>
<td>
2012-12-07 17:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
12:00:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  86.1744
</td>
<td align="right">
  86.1860
</td>
<td align="right">
  .0001
</td>
<td>
2012-12-07 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
12:05:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
  86.1758
</td>
<td align="right">
  86.1687
</td>
<td align="right">
 -.0001
</td>
<td>
2012-12-07 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
12:10:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  86.1806
</td>
<td align="right">
  86.2053
</td>
<td align="right">
  .0003
</td>
<td>
2012-12-07 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
12:15:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  86.1443
</td>
<td align="right">
  86.2098
</td>
<td align="right">
  .0008
</td>
<td>
2012-12-07 18:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
12:25:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  86.1797
</td>
<td align="right">
  86.2326
</td>
<td align="right">
  .0006
</td>
<td>
2012-12-07 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
12:30:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
  86.1535
</td>
<td align="right">
  86.6092
</td>
<td align="right">
  .0053
</td>
<td>
2012-12-07 18:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
12:40:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  86.1429
</td>
<td align="right">
  86.5713
</td>
<td align="right">
  .0050
</td>
<td>
2012-12-07 18:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
12:50:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
  86.1733
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-07 18:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
13:15:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  86.2098
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-07 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
13:20:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  86.2061
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-07 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-12-07
13:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  86.2326
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-12-07 19:25:00
</td>
</tr>
</table>
<br />