<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-27
19:05:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  84.1697
</td>
<td align="right">
  84.0692
</td>
<td align="right">
 -.0012
</td>
<td>
2012-04-30 01:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-27
15:10:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  84.0230
</td>
<td align="right">
  84.0435
</td>
<td align="right">
  .0002
</td>
<td>
2012-04-29 21:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-27
16:05:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
  84.0350
</td>
<td align="right">
  84.1907
</td>
<td align="right">
  .0019
</td>
<td>
2012-04-29 22:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-27
16:10:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  84.0435
</td>
<td align="right">
  84.1851
</td>
<td align="right">
  .0017
</td>
<td>
2012-04-29 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-27
16:20:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  84.1501
</td>
<td align="right">
  84.2225
</td>
<td align="right">
  .0009
</td>
<td>
2012-04-29 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-27
16:55:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  84.1875
</td>
<td align="right">
  84.2378
</td>
<td align="right">
  .0006
</td>
<td>
2012-04-29 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-27
17:00:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  84.2086
</td>
<td align="right">
  84.2267
</td>
<td align="right">
  .0002
</td>
<td>
2012-04-29 23:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-27
17:05:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  84.1907
</td>
<td align="right">
  84.2211
</td>
<td align="right">
  .0004
</td>
<td>
2012-04-29 23:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-27
19:55:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  84.0797
</td>
<td align="right">
  84.0469
</td>
<td align="right">
 -.0004
</td>
<td>
2012-04-30 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-27
20:10:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
  84.0660
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-04-30 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-04-27
20:25:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  84.1012
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-04-30 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-04-27
16:00:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .9066
</td>
<td align="right">
    .9059
</td>
<td align="right">
 -.0007
</td>
<td>
2012-04-29 22:00:00
</td>
</tr>
</table>
<br />