<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-07-05
09:35:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  81.9046
</td>
<td align="right">
  81.9360
</td>
<td align="right">
  .0004
</td>
<td>
2012-07-05 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-07-05
09:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  81.8966
</td>
<td align="right">
  81.9045
</td>
<td align="right">
  .0001
</td>
<td>
2012-07-05 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-07-05
09:55:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  81.9109
</td>
<td align="right">
  82.1481
</td>
<td align="right">
  .0029
</td>
<td>
2012-07-05 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-07-05
10:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  81.9205
</td>
<td align="right">
  82.1224
</td>
<td align="right">
  .0025
</td>
<td>
2012-07-05 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-07-05
11:00:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  82.1607
</td>
<td align="right">
  82.0751
</td>
<td align="right">
 -.0010
</td>
<td>
2012-07-05 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-07-05
11:45:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  82.2098
</td>
<td align="right">
  82.1991
</td>
<td align="right">
 -.0001
</td>
<td>
2012-07-05 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-07-05
12:00:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  82.0751
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-07-05 18:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-07-05
12:05:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  82.0328
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-07-05 18:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-07-05
12:25:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  82.1917
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-07-05 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-05
07:00:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .8029
</td>
<td align="right">
    .8033
</td>
<td align="right">
  .0005
</td>
<td>
2012-07-05 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-05
07:05:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .8029
</td>
<td align="right">
    .8038
</td>
<td align="right">
  .0011
</td>
<td>
2012-07-05 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-05
07:10:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .8030
</td>
<td align="right">
    .8037
</td>
<td align="right">
  .0009
</td>
<td>
2012-07-05 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-05
07:20:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .8031
</td>
<td align="right">
    .8039
</td>
<td align="right">
  .0010
</td>
<td>
2012-07-05 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-05
09:40:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8027
</td>
<td align="right">
    .8038
</td>
<td align="right">
  .0013
</td>
<td>
2012-07-05 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-05
09:45:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8028
</td>
<td align="right">
    .8036
</td>
<td align="right">
  .0010
</td>
<td>
2012-07-05 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-05
10:20:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
    .8030
</td>
<td align="right">
    .8025
</td>
<td align="right">
 -.0007
</td>
<td>
2012-07-05 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-05
10:25:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .8030
</td>
<td align="right">
    .8026
</td>
<td align="right">
 -.0006
</td>
<td>
2012-07-05 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-05
11:15:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .8027
</td>
<td align="right">
    .7984
</td>
<td align="right">
 -.0054
</td>
<td>
2012-07-05 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-05
11:25:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
    .8026
</td>
<td align="right">
    .7978
</td>
<td align="right">
 -.0060
</td>
<td>
2012-07-05 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-05
07:15:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
   1.2521
</td>
<td align="right">
   1.2525
</td>
<td align="right">
  .0003
</td>
<td>
2012-07-05 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-05
07:30:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.2521
</td>
<td align="right">
   1.2523
</td>
<td align="right">
  .0002
</td>
<td>
2012-07-05 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-05
07:55:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.2523
</td>
<td align="right">
   1.2511
</td>
<td align="right">
 -.0009
</td>
<td>
2012-07-05 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-05
08:15:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.2525
</td>
<td align="right">
   1.2503
</td>
<td align="right">
 -.0017
</td>
<td>
2012-07-05 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-05
08:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.2522
</td>
<td align="right">
   1.2502
</td>
<td align="right">
 -.0016
</td>
<td>
2012-07-05 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-05
08:30:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.2523
</td>
<td align="right">
   1.2504
</td>
<td align="right">
 -.0015
</td>
<td>
2012-07-05 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-07-05
08:45:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
   1.2521
</td>
<td align="right">
   1.2506
</td>
<td align="right">
 -.0012
</td>
<td>
2012-07-05 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-05
11:15:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.2141
</td>
<td align="right">
   1.2062
</td>
<td align="right">
 -.0065
</td>
<td>
2012-07-05 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-07-05
12:25:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.2066
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-07-05 18:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-05
07:20:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
    .9594
</td>
<td align="right">
    .9594
</td>
<td align="right">
  .0000
</td>
<td>
2012-07-05 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-05
07:45:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .9593
</td>
<td align="right">
    .9596
</td>
<td align="right">
  .0003
</td>
<td>
2012-07-05 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-07-05
08:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .9591
</td>
<td align="right">
    .9610
</td>
<td align="right">
  .0020
</td>
<td>
2012-07-05 14:05:00
</td>
</tr>
</table>
<br />