<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-07
23:15:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.2428
</td>
<td align="right">
   1.2426
</td>
<td align="right">
 -.0002
</td>
<td>
2012-03-08 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
01:20:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.2451
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-03-08 07:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-03-07
20:05:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
 106.6901
</td>
<td align="right">
 106.6851
</td>
<td align="right">
  .0000
</td>
<td>
2012-03-08 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-03-07
20:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 106.7398
</td>
<td align="right">
 106.6232
</td>
<td align="right">
 -.0011
</td>
<td>
2012-03-08 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-03-07
20:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 106.7190
</td>
<td align="right">
 106.6334
</td>
<td align="right">
 -.0008
</td>
<td>
2012-03-08 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-03-07
21:20:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
 106.7353
</td>
<td align="right">
 106.7244
</td>
<td align="right">
 -.0001
</td>
<td>
2012-03-08 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-03-07
21:35:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 106.6890
</td>
<td align="right">
 106.7090
</td>
<td align="right">
  .0002
</td>
<td>
2012-03-08 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-03-07
23:25:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
 106.7016
</td>
<td align="right">
 106.7385
</td>
<td align="right">
  .0003
</td>
<td>
2012-03-08 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-03-07
21:20:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.3153
</td>
<td align="right">
   1.3152
</td>
<td align="right">
 -.0001
</td>
<td>
2012-03-08 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-03-07
22:25:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.3148
</td>
<td align="right">
   1.3150
</td>
<td align="right">
  .0001
</td>
<td>
2012-03-08 04:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-03-08
01:25:00
</td>
<td align="right">
 -.74
</td>
<td>
Sell
</td>
<td align="right">
   1.3142
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-03-08 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-07
20:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.2420
</td>
<td align="right">
   1.2421
</td>
<td align="right">
  .0001
</td>
<td>
2012-03-08 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-07
21:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2421
</td>
<td align="right">
   1.2420
</td>
<td align="right">
  .0000
</td>
<td>
2012-03-08 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-07
21:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.2426
</td>
<td align="right">
   1.2425
</td>
<td align="right">
 -.0001
</td>
<td>
2012-03-08 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-07
22:15:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.2426
</td>
<td align="right">
   1.2428
</td>
<td align="right">
  .0002
</td>
<td>
2012-03-08 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-07
22:20:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2424
</td>
<td align="right">
   1.2427
</td>
<td align="right">
  .0002
</td>
<td>
2012-03-08 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-07
22:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.2431
</td>
<td align="right">
   1.2436
</td>
<td align="right">
  .0004
</td>
<td>
2012-03-08 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-07
23:05:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.2427
</td>
<td align="right">
   1.2427
</td>
<td align="right">
  .0000
</td>
<td>
2012-03-08 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-07
23:10:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.2429
</td>
<td align="right">
   1.2426
</td>
<td align="right">
 -.0002
</td>
<td>
2012-03-08 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-07
23:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2422
</td>
<td align="right">
   1.2452
</td>
<td align="right">
  .0024
</td>
<td>
2012-03-08 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-03-08
00:10:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.2426
</td>
<td align="right">
   1.2446
</td>
<td align="right">
  .0016
</td>
<td>
2012-03-08 06:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-03-08
01:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
 106.7756
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-03-08 07:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-03-08
01:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 106.7547
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-03-08 07:15:00
</td>
</tr>
</table>
<br />