<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-03
12:20:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .9866
</td>
<td align="right">
    .9850
</td>
<td align="right">
 -.0016
</td>
<td>
2013-01-03 18:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
08:05:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  91.5734
</td>
<td align="right">
  91.5301
</td>
<td align="right">
 -.0005
</td>
<td>
2013-01-03 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
08:15:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  91.5693
</td>
<td align="right">
  91.5575
</td>
<td align="right">
 -.0001
</td>
<td>
2013-01-03 14:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
08:20:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  91.5996
</td>
<td align="right">
  91.5799
</td>
<td align="right">
 -.0002
</td>
<td>
2013-01-03 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
08:25:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
  91.5979
</td>
<td align="right">
  91.5841
</td>
<td align="right">
 -.0002
</td>
<td>
2013-01-03 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
08:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  91.5747
</td>
<td align="right">
  91.5666
</td>
<td align="right">
 -.0001
</td>
<td>
2013-01-03 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
08:35:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  91.5470
</td>
<td align="right">
  91.5991
</td>
<td align="right">
  .0006
</td>
<td>
2013-01-03 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
08:50:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
  91.5567
</td>
<td align="right">
  91.6086
</td>
<td align="right">
  .0006
</td>
<td>
2013-01-03 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
08:55:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  91.5619
</td>
<td align="right">
  91.5602
</td>
<td align="right">
  .0000
</td>
<td>
2013-01-03 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
09:00:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  91.5934
</td>
<td align="right">
  91.5200
</td>
<td align="right">
 -.0008
</td>
<td>
2013-01-03 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
09:05:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  91.5301
</td>
<td align="right">
  91.4946
</td>
<td align="right">
 -.0004
</td>
<td>
2013-01-03 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
09:15:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
  91.5575
</td>
<td align="right">
  91.4229
</td>
<td align="right">
 -.0015
</td>
<td>
2013-01-03 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
09:20:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  91.5799
</td>
<td align="right">
  91.4474
</td>
<td align="right">
 -.0014
</td>
<td>
2013-01-03 15:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
09:25:00
</td>
<td align="right">
  .84
</td>
<td>
Buy
</td>
<td align="right">
  91.5841
</td>
<td align="right">
  91.4574
</td>
<td align="right">
 -.0014
</td>
<td>
2013-01-03 15:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
09:30:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  91.5666
</td>
<td align="right">
  91.4407
</td>
<td align="right">
 -.0014
</td>
<td>
2013-01-03 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
09:35:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  91.5991
</td>
<td align="right">
  91.4740
</td>
<td align="right">
 -.0014
</td>
<td>
2013-01-03 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
09:40:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
  91.5790
</td>
<td align="right">
  91.4114
</td>
<td align="right">
 -.0018
</td>
<td>
2013-01-03 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
09:50:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  91.6086
</td>
<td align="right">
  91.3282
</td>
<td align="right">
 -.0031
</td>
<td>
2013-01-03 15:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
09:55:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  91.5602
</td>
<td align="right">
  91.2982
</td>
<td align="right">
 -.0029
</td>
<td>
2013-01-03 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
10:45:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  91.3922
</td>
<td align="right">
  91.3876
</td>
<td align="right">
 -.0001
</td>
<td>
2013-01-03 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
10:50:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  91.3282
</td>
<td align="right">
  91.3867
</td>
<td align="right">
  .0006
</td>
<td>
2013-01-03 16:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
11:00:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  91.3000
</td>
<td align="right">
  91.2753
</td>
<td align="right">
 -.0003
</td>
<td>
2013-01-03 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
11:05:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  91.3494
</td>
<td align="right">
  91.2703
</td>
<td align="right">
 -.0009
</td>
<td>
2013-01-03 17:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
11:25:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  91.3768
</td>
<td align="right">
  91.1571
</td>
<td align="right">
 -.0024
</td>
<td>
2013-01-03 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-03
11:35:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  91.3393
</td>
<td align="right">
  91.1380
</td>
<td align="right">
 -.0022
</td>
<td>
2013-01-03 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-03
08:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 114.6961
</td>
<td align="right">
 114.6514
</td>
<td align="right">
 -.0004
</td>
<td>
2013-01-03 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-03
10:55:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
 113.8549
</td>
<td align="right">
 113.9279
</td>
<td align="right">
  .0006
</td>
<td>
2013-01-03 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-03
11:10:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 114.0232
</td>
<td align="right">
 113.8792
</td>
<td align="right">
 -.0013
</td>
<td>
2013-01-03 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-03
11:15:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 114.0495
</td>
<td align="right">
 113.6989
</td>
<td align="right">
 -.0031
</td>
<td>
2013-01-03 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2013-01-03
11:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 113.9501
</td>
<td align="right">
 113.7256
</td>
<td align="right">
 -.0020
</td>
<td>
2013-01-03 17:35:00
</td>
</tr>
</table>
<br />