<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-05-15
09:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .9997
</td>
<td align="right">
   1.0001
</td>
<td align="right">
  .0004
</td>
<td>
2012-05-15 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-15
11:00:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.2861
</td>
<td align="right">
   1.2841
</td>
<td align="right">
 -.0016
</td>
<td>
2012-05-15 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-15
11:25:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.2851
</td>
<td align="right">
   1.2835
</td>
<td align="right">
 -.0012
</td>
<td>
2012-05-15 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-05-15
08:20:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
   1.2855
</td>
<td align="right">
   1.2844
</td>
<td align="right">
 -.0009
</td>
<td>
2012-05-15 14:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-05-15
07:00:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9343
</td>
<td align="right">
    .9339
</td>
<td align="right">
 -.0004
</td>
<td>
2012-05-15 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-05-15
07:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .9338
</td>
<td align="right">
    .9346
</td>
<td align="right">
  .0008
</td>
<td>
2012-05-15 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-05-15
07:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .9337
</td>
<td align="right">
    .9346
</td>
<td align="right">
  .0010
</td>
<td>
2012-05-15 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-05-15
08:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .9350
</td>
<td align="right">
    .9353
</td>
<td align="right">
  .0003
</td>
<td>
2012-05-15 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-05-15
09:10:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
    .9350
</td>
<td align="right">
    .9345
</td>
<td align="right">
 -.0006
</td>
<td>
2012-05-15 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-05-15
10:00:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .9345
</td>
<td align="right">
    .9345
</td>
<td align="right">
  .0000
</td>
<td>
2012-05-15 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
07:15:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  79.9025
</td>
<td align="right">
  79.8775
</td>
<td align="right">
 -.0003
</td>
<td>
2012-05-15 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
07:20:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
  79.9000
</td>
<td align="right">
  79.8725
</td>
<td align="right">
 -.0003
</td>
<td>
2012-05-15 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
07:25:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  79.9025
</td>
<td align="right">
  79.8925
</td>
<td align="right">
 -.0001
</td>
<td>
2012-05-15 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
07:30:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  79.8838
</td>
<td align="right">
  79.8825
</td>
<td align="right">
  .0000
</td>
<td>
2012-05-15 13:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
07:35:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  79.9225
</td>
<td align="right">
  79.8838
</td>
<td align="right">
 -.0005
</td>
<td>
2012-05-15 13:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
07:40:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  79.9425
</td>
<td align="right">
  79.8925
</td>
<td align="right">
 -.0006
</td>
<td>
2012-05-15 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
07:50:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  79.9338
</td>
<td align="right">
  79.9225
</td>
<td align="right">
 -.0001
</td>
<td>
2012-05-15 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
08:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  79.8925
</td>
<td align="right">
  79.9225
</td>
<td align="right">
  .0004
</td>
<td>
2012-05-15 14:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
08:30:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  79.8825
</td>
<td align="right">
  79.9125
</td>
<td align="right">
  .0004
</td>
<td>
2012-05-15 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
08:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  79.8838
</td>
<td align="right">
  79.8950
</td>
<td align="right">
  .0001
</td>
<td>
2012-05-15 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
09:40:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  79.8875
</td>
<td align="right">
  79.9125
</td>
<td align="right">
  .0003
</td>
<td>
2012-05-15 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
10:55:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  79.9225
</td>
<td align="right">
  79.9225
</td>
<td align="right">
  .0000
</td>
<td>
2012-05-15 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
11:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  79.9225
</td>
<td align="right">
  79.9188
</td>
<td align="right">
  .0000
</td>
<td>
2012-05-15 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
11:15:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  79.9225
</td>
<td align="right">
  79.8925
</td>
<td align="right">
 -.0004
</td>
<td>
2012-05-15 17:15:00
</td>
</tr>
</table>
<br />