<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-20
16:10:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
  80.6572
</td>
<td align="right">
  80.5787
</td>
<td align="right">
 -.0010
</td>
<td>
2012-01-22 22:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-20
16:15:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  80.6843
</td>
<td align="right">
  80.5328
</td>
<td align="right">
 -.0019
</td>
<td>
2012-01-22 22:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-01-20
16:20:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
  80.6630
</td>
<td align="right">
  80.5756
</td>
<td align="right">
 -.0011
</td>
<td>
2012-01-22 22:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-20
20:20:00
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
   1.2336
</td>
<td align="right">
   1.2334
</td>
<td align="right">
 -.0001
</td>
<td>
2012-01-23 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-20
20:30:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.2338
</td>
<td align="right">
   1.2334
</td>
<td align="right">
 -.0003
</td>
<td>
2012-01-23 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-20
20:35:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.2337
</td>
<td align="right">
   1.2335
</td>
<td align="right">
 -.0001
</td>
<td>
2012-01-23 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-20
20:45:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.2333
</td>
<td align="right">
   1.2338
</td>
<td align="right">
  .0004
</td>
<td>
2012-01-23 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-20
21:00:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.2335
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-23 03:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-20
21:05:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.2335
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-23 03:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-20
21:20:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.2334
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-23 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-20
21:35:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.2335
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-23 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-20
21:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.2338
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-23 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-01-20
21:55:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.2333
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-01-23 03:55:00
</td>
</tr>
</table>
<br />