<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-23
00:45:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
 105.9813
</td>
<td align="right">
 105.9837
</td>
<td align="right">
  .0000
</td>
<td>
2012-11-23 06:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdchf">usd_chf</a></td>
<td>
2012-11-22
21:20:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .9351
</td>
<td align="right">
    .9353
</td>
<td align="right">
  .0003
</td>
<td>
2012-11-23 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-22
19:40:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
  85.6040
</td>
<td align="right">
  85.5700
</td>
<td align="right">
 -.0004
</td>
<td>
2012-11-23 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-22
19:50:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  85.6201
</td>
<td align="right">
  85.5607
</td>
<td align="right">
 -.0007
</td>
<td>
2012-11-23 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-22
19:55:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  85.6185
</td>
<td align="right">
  85.5942
</td>
<td align="right">
 -.0003
</td>
<td>
2012-11-23 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-22
20:00:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  85.6409
</td>
<td align="right">
  85.6257
</td>
<td align="right">
 -.0002
</td>
<td>
2012-11-23 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-22
21:20:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
  85.6155
</td>
<td align="right">
  85.6382
</td>
<td align="right">
  .0003
</td>
<td>
2012-11-23 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-22
21:30:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  85.6066
</td>
<td align="right">
  85.6304
</td>
<td align="right">
  .0003
</td>
<td>
2012-11-23 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-22
21:50:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  85.6707
</td>
<td align="right">
  85.6425
</td>
<td align="right">
 -.0003
</td>
<td>
2012-11-23 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-22
22:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  85.6588
</td>
<td align="right">
  85.6186
</td>
<td align="right">
 -.0005
</td>
<td>
2012-11-23 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-22
22:40:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  85.6470
</td>
<td align="right">
  85.6051
</td>
<td align="right">
 -.0005
</td>
<td>
2012-11-23 04:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-22
22:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  85.6304
</td>
<td align="right">
  85.5513
</td>
<td align="right">
 -.0009
</td>
<td>
2012-11-23 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-22
23:05:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  85.6425
</td>
<td align="right">
  85.4690
</td>
<td align="right">
 -.0020
</td>
<td>
2012-11-23 05:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-22
23:20:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  85.6101
</td>
<td align="right">
  85.4447
</td>
<td align="right">
 -.0019
</td>
<td>
2012-11-23 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-23
00:05:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  85.4690
</td>
<td align="right">
  85.5634
</td>
<td align="right">
  .0011
</td>
<td>
2012-11-23 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-23
00:15:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  85.4302
</td>
<td align="right">
  85.5324
</td>
<td align="right">
  .0012
</td>
<td>
2012-11-23 06:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-23
00:20:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  85.4447
</td>
<td align="right">
  85.5188
</td>
<td align="right">
  .0009
</td>
<td>
2012-11-23 06:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-23
01:15:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
  85.5324
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-11-23 07:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-23
01:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  85.5547
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-11-23 07:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2012-11-23
01:45:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  85.4411
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-11-23 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-22
20:15:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .8078
</td>
<td align="right">
    .8081
</td>
<td align="right">
  .0005
</td>
<td>
2012-11-23 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-22
20:20:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    .8078
</td>
<td align="right">
    .8081
</td>
<td align="right">
  .0003
</td>
<td>
2012-11-23 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-23
01:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8078
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-11-23 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-22
20:05:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 106.2019
</td>
<td align="right">
 106.2002
</td>
<td align="right">
  .0000
</td>
<td>
2012-11-23 02:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-22
20:20:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 106.1564
</td>
<td align="right">
 106.2063
</td>
<td align="right">
  .0005
</td>
<td>
2012-11-23 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-22
20:25:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 106.1777
</td>
<td align="right">
 106.1848
</td>
<td align="right">
  .0001
</td>
<td>
2012-11-23 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-22
21:55:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
 106.2629
</td>
<td align="right">
 106.1772
</td>
<td align="right">
 -.0008
</td>
<td>
2012-11-23 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-22
22:50:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 106.2393
</td>
<td align="right">
 106.0434
</td>
<td align="right">
 -.0018
</td>
<td>
2012-11-23 04:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-11-22
20:05:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.2877
</td>
<td align="right">
   1.2885
</td>
<td align="right">
  .0006
</td>
<td>
2012-11-23 02:05:00
</td>
</tr>
</table>
<br />