<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-15
20:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.2820
</td>
<td align="right">
   1.2814
</td>
<td align="right">
 -.0005
</td>
<td>
2012-05-16 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-15
21:30:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.2810
</td>
<td align="right">
   1.2816
</td>
<td align="right">
  .0004
</td>
<td>
2012-05-16 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-05-15
21:35:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.2811
</td>
<td align="right">
   1.2817
</td>
<td align="right">
  .0005
</td>
<td>
2012-05-16 03:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-05-15
21:30:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.2732
</td>
<td align="right">
   1.2734
</td>
<td align="right">
  .0002
</td>
<td>
2012-05-16 03:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-05-16
00:05:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
   1.2733
</td>
<td align="right">
   1.2730
</td>
<td align="right">
 -.0002
</td>
<td>
2012-05-16 06:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
20:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
  80.1975
</td>
<td align="right">
  80.2150
</td>
<td align="right">
  .0002
</td>
<td>
2012-05-16 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
20:55:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
  80.1850
</td>
<td align="right">
  80.2150
</td>
<td align="right">
  .0004
</td>
<td>
2012-05-16 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
21:15:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
  80.1825
</td>
<td align="right">
  80.2225
</td>
<td align="right">
  .0005
</td>
<td>
2012-05-16 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
21:20:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  80.1850
</td>
<td align="right">
  80.2300
</td>
<td align="right">
  .0006
</td>
<td>
2012-05-16 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
21:40:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
  80.1750
</td>
<td align="right">
  80.2363
</td>
<td align="right">
  .0008
</td>
<td>
2012-05-16 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
21:45:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  80.2000
</td>
<td align="right">
  80.2250
</td>
<td align="right">
  .0003
</td>
<td>
2012-05-16 03:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
22:00:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  80.2150
</td>
<td align="right">
  80.2450
</td>
<td align="right">
  .0004
</td>
<td>
2012-05-16 04:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
22:10:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  80.2150
</td>
<td align="right">
  80.2300
</td>
<td align="right">
  .0002
</td>
<td>
2012-05-16 04:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
22:15:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  80.2225
</td>
<td align="right">
  80.2425
</td>
<td align="right">
  .0002
</td>
<td>
2012-05-16 04:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
22:20:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
  80.2300
</td>
<td align="right">
  80.2488
</td>
<td align="right">
  .0002
</td>
<td>
2012-05-16 04:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
22:45:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
  80.2250
</td>
<td align="right">
  80.3050
</td>
<td align="right">
  .0010
</td>
<td>
2012-05-16 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
23:15:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  80.2425
</td>
<td align="right">
  80.2975
</td>
<td align="right">
  .0007
</td>
<td>
2012-05-16 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-05-15
23:40:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  80.2525
</td>
<td align="right">
  80.3625
</td>
<td align="right">
  .0014
</td>
<td>
2012-05-16 05:40:00
</td>
</tr>
</table>
<br />