<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-07
08:35:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
 103.7891
</td>
<td align="right">
 103.8302
</td>
<td align="right">
  .0004
</td>
<td>
2012-05-07 14:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-07
08:40:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
 103.7616
</td>
<td align="right">
 103.8572
</td>
<td align="right">
  .0009
</td>
<td>
2012-05-07 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-07
08:45:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
 103.7775
</td>
<td align="right">
 103.9031
</td>
<td align="right">
  .0012
</td>
<td>
2012-05-07 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-07
08:50:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
 103.7975
</td>
<td align="right">
 103.9623
</td>
<td align="right">
  .0016
</td>
<td>
2012-05-07 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-05-07
10:55:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
 104.0277
</td>
<td align="right">
 104.1753
</td>
<td align="right">
  .0014
</td>
<td>
2012-05-07 16:55:00
</td>
</tr>
</table>
<br />