<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
20:30:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
  90.0700
</td>
<td align="right">
  90.0675
</td>
<td align="right">
  .0000
</td>
<td>
2013-01-21 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
20:40:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  90.0675
</td>
<td align="right">
  90.0275
</td>
<td align="right">
 -.0004
</td>
<td>
2013-01-21 02:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
20:45:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
  90.0850
</td>
<td align="right">
  90.0325
</td>
<td align="right">
 -.0006
</td>
<td>
2013-01-21 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
20:50:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  90.1050
</td>
<td align="right">
  90.0750
</td>
<td align="right">
 -.0003
</td>
<td>
2013-01-21 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
20:55:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
  90.0475
</td>
<td align="right">
  90.0825
</td>
<td align="right">
  .0004
</td>
<td>
2013-01-21 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
21:10:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  90.0900
</td>
<td align="right">
  90.2150
</td>
<td align="right">
  .0014
</td>
<td>
2013-01-21 03:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
21:15:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  90.0900
</td>
<td align="right">
  90.2125
</td>
<td align="right">
  .0014
</td>
<td>
2013-01-21 03:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
21:20:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  90.0800
</td>
<td align="right">
  90.1800
</td>
<td align="right">
  .0011
</td>
<td>
2013-01-21 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
21:40:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  90.0275
</td>
<td align="right">
  90.1575
</td>
<td align="right">
  .0014
</td>
<td>
2013-01-21 03:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
21:50:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
  90.0750
</td>
<td align="right">
  90.1500
</td>
<td align="right">
  .0008
</td>
<td>
2013-01-21 03:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-18
21:55:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  90.0825
</td>
<td align="right">
  90.2275
</td>
<td align="right">
  .0016
</td>
<td>
2013-01-21 03:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-20
22:35:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  90.1800
</td>
<td align="right">
  90.2075
</td>
<td align="right">
  .0003
</td>
<td>
2013-01-21 04:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-20
22:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  90.1625
</td>
<td align="right">
  90.2050
</td>
<td align="right">
  .0005
</td>
<td>
2013-01-21 04:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-20
22:55:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
  90.1575
</td>
<td align="right">
  90.1825
</td>
<td align="right">
  .0003
</td>
<td>
2013-01-21 04:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-20
23:10:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  90.2275
</td>
<td align="right">
  90.0875
</td>
<td align="right">
 -.0016
</td>
<td>
2013-01-21 05:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-20
23:15:00
</td>
<td align="right">
 -.72
</td>
<td>
Sell
</td>
<td align="right">
  90.1950
</td>
<td align="right">
  89.9575
</td>
<td align="right">
 -.0026
</td>
<td>
2013-01-21 05:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-20
23:20:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  90.1900
</td>
<td align="right">
  89.8275
</td>
<td align="right">
 -.0040
</td>
<td>
2013-01-21 05:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-20
23:25:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  90.1825
</td>
<td align="right">
  89.8775
</td>
<td align="right">
 -.0034
</td>
<td>
2013-01-21 05:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-20
23:30:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
  90.1875
</td>
<td align="right">
  89.7700
</td>
<td align="right">
 -.0046
</td>
<td>
2013-01-21 05:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-20
23:35:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
  90.2075
</td>
<td align="right">
  89.8075
</td>
<td align="right">
 -.0044
</td>
<td>
2013-01-21 05:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-20
23:40:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  90.2150
</td>
<td align="right">
  89.8575
</td>
<td align="right">
 -.0040
</td>
<td>
2013-01-21 05:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-20
23:45:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
  90.2050
</td>
<td align="right">
  89.9075
</td>
<td align="right">
 -.0033
</td>
<td>
2013-01-21 05:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-20
23:50:00
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
  90.2200
</td>
<td align="right">
  89.8513
</td>
<td align="right">
 -.0041
</td>
<td>
2013-01-21 05:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2013-01-20
23:55:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  90.1825
</td>
<td align="right">
  89.8375
</td>
<td align="right">
 -.0038
</td>
<td>
2013-01-21 05:55:00
</td>
</tr>
</table>
<br />