<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-11-12
11:10:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
   1.2201
</td>
<td align="right">
   1.2183
</td>
<td align="right">
 -.0015
</td>
<td>
2012-11-12 17:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-11-12
13:10:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
   1.2200
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-11-12 19:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-11-12
13:15:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
   1.2196
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-11-12 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-11-12
13:20:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
   1.2194
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-11-12 19:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-12
13:15:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
 101.0560
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-11-12 19:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-12
07:50:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
    .7994
</td>
<td align="right">
    .7999
</td>
<td align="right">
  .0005
</td>
<td>
2012-11-12 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-12
07:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    .7995
</td>
<td align="right">
    .8000
</td>
<td align="right">
  .0006
</td>
<td>
2012-11-12 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-12
08:00:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    .7997
</td>
<td align="right">
    .7999
</td>
<td align="right">
  .0003
</td>
<td>
2012-11-12 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-12
08:05:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    .7996
</td>
<td align="right">
    .8000
</td>
<td align="right">
  .0005
</td>
<td>
2012-11-12 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-12
08:50:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    .7999
</td>
<td align="right">
    .7999
</td>
<td align="right">
  .0000
</td>
<td>
2012-11-12 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-12
08:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    .8000
</td>
<td align="right">
    .7998
</td>
<td align="right">
 -.0002
</td>
<td>
2012-11-12 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-12
09:45:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .8000
</td>
<td align="right">
    .7996
</td>
<td align="right">
 -.0004
</td>
<td>
2012-11-12 15:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-12
10:00:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    .7995
</td>
<td align="right">
    .8001
</td>
<td align="right">
  .0008
</td>
<td>
2012-11-12 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-12
10:10:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .7990
</td>
<td align="right">
    .8009
</td>
<td align="right">
  .0023
</td>
<td>
2012-11-12 16:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-12
10:20:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
    .7993
</td>
<td align="right">
    .8010
</td>
<td align="right">
  .0021
</td>
<td>
2012-11-12 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-11-12
10:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    .7994
</td>
<td align="right">
    .8010
</td>
<td align="right">
  .0020
</td>
<td>
2012-11-12 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-12
07:55:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 100.9849
</td>
<td align="right">
 101.0183
</td>
<td align="right">
  .0003
</td>
<td>
2012-11-12 13:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-12
08:55:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
 101.0183
</td>
<td align="right">
 100.9535
</td>
<td align="right">
 -.0006
</td>
<td>
2012-11-12 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-12
09:30:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 101.0664
</td>
<td align="right">
 100.9821
</td>
<td align="right">
 -.0008
</td>
<td>
2012-11-12 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-12
10:05:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 100.9806
</td>
<td align="right">
 101.0417
</td>
<td align="right">
  .0006
</td>
<td>
2012-11-12 16:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-12
10:15:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
 100.9591
</td>
<td align="right">
 101.0838
</td>
<td align="right">
  .0012
</td>
<td>
2012-11-12 16:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-12
10:20:00
</td>
<td align="right">
  .76
</td>
<td>
Buy
</td>
<td align="right">
 100.9591
</td>
<td align="right">
 101.0799
</td>
<td align="right">
  .0012
</td>
<td>
2012-11-12 16:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-12
10:25:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
 100.9829
</td>
<td align="right">
 101.0882
</td>
<td align="right">
  .0010
</td>
<td>
2012-11-12 16:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-12
10:30:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
 100.9821
</td>
<td align="right">
 101.0854
</td>
<td align="right">
  .0010
</td>
<td>
2012-11-12 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-12
10:35:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
 100.9734
</td>
<td align="right">
 101.0656
</td>
<td align="right">
  .0009
</td>
<td>
2012-11-12 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-12
10:55:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
 100.9925
</td>
<td align="right">
 100.9559
</td>
<td align="right">
 -.0004
</td>
<td>
2012-11-12 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-12
11:45:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
 100.9535
</td>
<td align="right">
 101.0465
</td>
<td align="right">
  .0009
</td>
<td>
2012-11-12 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-11-12
11:50:00
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
 100.9583
</td>
<td align="right">
 101.0600
</td>
<td align="right">
  .0010
</td>
<td>
2012-11-12 17:50:00
</td>
</tr>
</table>
<br />