<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-11-14
01:45:00
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
   1.0303
</td>
<td align="right">
   1.0303
</td>
<td align="right">
  .0000
</td>
<td>
2011-11-14 07:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-11-14
01:50:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
   1.0298
</td>
<td align="right">
   1.0304
</td>
<td align="right">
  .0006
</td>
<td>
2011-11-14 07:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-11-14
02:50:00
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
   1.0304
</td>
<td align="right">
   1.0306
</td>
<td align="right">
  .0002
</td>
<td>
2011-11-14 08:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-11-14
02:55:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
   1.0305
</td>
<td align="right">
   1.0304
</td>
<td align="right">
 -.0001
</td>
<td>
2011-11-14 08:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-11-14
03:10:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.0310
</td>
<td align="right">
   1.0298
</td>
<td align="right">
 -.0012
</td>
<td>
2011-11-14 09:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2011-11-14
03:20:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.0303
</td>
<td align="right">
   1.0297
</td>
<td align="right">
 -.0006
</td>
<td>
2011-11-14 09:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-14
06:45:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
   1.3374
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-14 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-14
06:50:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.3375
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-14 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-14
07:00:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
   1.3368
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-14 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2011-11-14
07:10:00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
   1.3368
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-14 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-14
02:10:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
  79.4427
</td>
<td align="right">
  79.5494
</td>
<td align="right">
  .0013
</td>
<td>
2011-11-14 08:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-14
04:05:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
  79.4960
</td>
<td align="right">
  79.4229
</td>
<td align="right">
 -.0009
</td>
<td>
2011-11-14 10:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-14
04:15:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  79.4336
</td>
<td align="right">
  79.3411
</td>
<td align="right">
 -.0012
</td>
<td>
2011-11-14 10:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-14
05:40:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
  79.3240
</td>
<td align="right">
  79.3584
</td>
<td align="right">
  .0004
</td>
<td>
2011-11-14 11:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-14
06:20:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
  79.3179
</td>
<td align="right">
  79.4233
</td>
<td align="right">
  .0013
</td>
<td>
2011-11-14 12:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-14
06:25:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
  79.2858
</td>
<td align="right">
  79.3950
</td>
<td align="right">
  .0014
</td>
<td>
2011-11-14 12:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-14
06:30:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  79.3181
</td>
<td align="right">
  79.3757
</td>
<td align="right">
  .0007
</td>
<td>
2011-11-14 12:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-14
06:35:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  79.3378
</td>
<td align="right">
  79.3834
</td>
<td align="right">
  .0006
</td>
<td>
2011-11-14 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-14
06:40:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
  79.3584
</td>
<td align="right">
  79.3802
</td>
<td align="right">
  .0003
</td>
<td>
2011-11-14 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-14
06:45:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
  79.3423
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-14 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-14
06:50:00
</td>
<td align="right">
  .68
</td>
<td>
Buy
</td>
<td align="right">
  79.3157
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-14 12:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-14
06:55:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  79.3076
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-14 12:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-14
07:00:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
  79.4040
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-14 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-14
07:05:00
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
  79.3950
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-14 13:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-14
07:10:00
</td>
<td align="right">
  .75
</td>
<td>
Buy
</td>
<td align="right">
  79.3828
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-14 13:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-14
07:15:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
  79.3449
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-14 13:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2011-11-14
07:25:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
  79.3950
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-14 13:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-11-14
05:35:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.6060
</td>
<td align="right">
   1.6052
</td>
<td align="right">
 -.0005
</td>
<td>
2011-11-14 11:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-11-14
05:40:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.6061
</td>
<td align="right">
   1.6051
</td>
<td align="right">
 -.0006
</td>
<td>
2011-11-14 11:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-11-14
05:55:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.6059
</td>
<td align="right">
   1.6063
</td>
<td align="right">
  .0002
</td>
<td>
2011-11-14 11:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-11-14
06:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.6056
</td>
<td align="right">
   1.6071
</td>
<td align="right">
  .0010
</td>
<td>
2011-11-14 12:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-11-14
06:35:00
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
   1.6052
</td>
<td align="right">
   1.6064
</td>
<td align="right">
  .0007
</td>
<td>
2011-11-14 12:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-11-14
06:40:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.6051
</td>
<td align="right">
   1.6056
</td>
<td align="right">
  .0003
</td>
<td>
2011-11-14 12:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-11-14
06:45:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.6056
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-14 12:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=gbpusd">gbp_usd</a></td>
<td>
2011-11-14
07:30:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.6064
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-11-14 13:30:00
</td>
</tr>
</table>
<br />