<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-11-19
10:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  81.1725
</td>
<td align="right">
  81.1525
</td>
<td align="right">
 -.0002
</td>
<td>
2012-11-19 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-11-19
11:45:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
  81.1550
</td>
<td align="right">
  81.1600
</td>
<td align="right">
  .0001
</td>
<td>
2012-11-19 17:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdjpy">usd_jpy</a></td>
<td>
2012-11-19
11:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  81.1525
</td>
<td align="right">
  81.1825
</td>
<td align="right">
  .0004
</td>
<td>
2012-11-19 17:55:00
</td>
</tr>
</table>
<br />