<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-02-01
20:35:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
  96.6115
</td>
<td align="right">
  96.4335
</td>
<td align="right">
 -.0018
</td>
<td>
2013-02-04 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-02-01
21:20:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
  96.4842
</td>
<td align="right">
  96.7457
</td>
<td align="right">
  .0027
</td>
<td>
2013-02-04 03:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-02-03
23:10:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
  96.7193
</td>
<td align="right">
  96.6542
</td>
<td align="right">
 -.0007
</td>
<td>
2013-02-04 05:10:00
</td>
</tr>
</table>
<br />