<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-09-18
09:40:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
   1.2538
</td>
<td align="right">
   1.2535
</td>
<td align="right">
 -.0002
</td>
<td>
2012-09-18 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-09-18
10:30:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
   1.2537
</td>
<td align="right">
   1.2539
</td>
<td align="right">
  .0002
</td>
<td>
2012-09-18 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=euraud">eur_aud</a></td>
<td>
2012-09-18
12:10:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.2526
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-09-18 18:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-09-18
07:00:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
 103.0197
</td>
<td align="right">
 102.9061
</td>
<td align="right">
 -.0011
</td>
<td>
2012-09-18 13:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-09-18
07:50:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
 102.9984
</td>
<td align="right">
 102.9515
</td>
<td align="right">
 -.0005
</td>
<td>
2012-09-18 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurjpy">eur_jpy</a></td>
<td>
2012-09-18
09:55:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
 102.5830
</td>
<td align="right">
 102.7222
</td>
<td align="right">
  .0014
</td>
<td>
2012-09-18 15:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-18
08:30:00
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
   1.3085
</td>
<td align="right">
   1.3062
</td>
<td align="right">
 -.0018
</td>
<td>
2012-09-18 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-18
10:35:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.3064
</td>
<td align="right">
   1.3066
</td>
<td align="right">
  .0001
</td>
<td>
2012-09-18 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-18
10:45:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.3064
</td>
<td align="right">
   1.3067
</td>
<td align="right">
  .0002
</td>
<td>
2012-09-18 16:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurusd">eur_usd</a></td>
<td>
2012-09-18
12:00:00
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
   1.3056
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-09-18 18:00:00
</td>
</tr>
</table>
<br />