<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-25
16:40:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
  94.8419
</td>
<td align="right">
  94.7535
</td>
<td align="right">
 -.0009
</td>
<td>
2013-01-27 22:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-25
16:50:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  94.8367
</td>
<td align="right">
  94.7489
</td>
<td align="right">
 -.0009
</td>
<td>
2013-01-27 22:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-25
18:45:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
  94.8349
</td>
<td align="right">
  94.8374
</td>
<td align="right">
  .0000
</td>
<td>
2013-01-28 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-25
18:50:00
</td>
<td align="right">
 -.78
</td>
<td>
Sell
</td>
<td align="right">
  94.8384
</td>
<td align="right">
  94.8207
</td>
<td align="right">
 -.0002
</td>
<td>
2013-01-28 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-25
19:10:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  94.8715
</td>
<td align="right">
  94.7599
</td>
<td align="right">
 -.0012
</td>
<td>
2013-01-28 01:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-25
19:50:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
  94.8207
</td>
<td align="right">
  94.7727
</td>
<td align="right">
 -.0005
</td>
<td>
2013-01-28 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-25
21:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
  94.8215
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-28 03:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audjpy">aud_jpy</a></td>
<td>
2013-01-25
16:25:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
  94.8048
</td>
<td align="right">
  94.7518
</td>
<td align="right">
 -.0006
</td>
<td>
2013-01-27 22:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
16:00:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.0087
</td>
<td align="right">
   1.0082
</td>
<td align="right">
 -.0005
</td>
<td>
2013-01-27 22:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
16:55:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.0079
</td>
<td align="right">
   1.0088
</td>
<td align="right">
  .0009
</td>
<td>
2013-01-27 22:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
17:10:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.0085
</td>
<td align="right">
   1.0085
</td>
<td align="right">
  .0000
</td>
<td>
2013-01-27 23:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
17:20:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0087
</td>
<td align="right">
   1.0082
</td>
<td align="right">
 -.0005
</td>
<td>
2013-01-27 23:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
17:35:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0089
</td>
<td align="right">
   1.0079
</td>
<td align="right">
 -.0010
</td>
<td>
2013-01-27 23:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
17:40:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0090
</td>
<td align="right">
   1.0077
</td>
<td align="right">
 -.0013
</td>
<td>
2013-01-27 23:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
17:50:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.0088
</td>
<td align="right">
   1.0080
</td>
<td align="right">
 -.0007
</td>
<td>
2013-01-27 23:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
17:55:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0088
</td>
<td align="right">
   1.0080
</td>
<td align="right">
 -.0008
</td>
<td>
2013-01-27 23:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
18:15:00
</td>
<td align="right">
  .69
</td>
<td>
Buy
</td>
<td align="right">
   1.0085
</td>
<td align="right">
   1.0075
</td>
<td align="right">
 -.0009
</td>
<td>
2013-01-28 00:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
18:20:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.0082
</td>
<td align="right">
   1.0075
</td>
<td align="right">
 -.0006
</td>
<td>
2013-01-28 00:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
18:25:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.0080
</td>
<td align="right">
   1.0076
</td>
<td align="right">
 -.0004
</td>
<td>
2013-01-28 00:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
18:30:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.0081
</td>
<td align="right">
   1.0077
</td>
<td align="right">
 -.0004
</td>
<td>
2013-01-28 00:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
18:35:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0079
</td>
<td align="right">
   1.0077
</td>
<td align="right">
 -.0002
</td>
<td>
2013-01-28 00:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
18:40:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0077
</td>
<td align="right">
   1.0077
</td>
<td align="right">
  .0000
</td>
<td>
2013-01-28 00:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
18:45:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.0078
</td>
<td align="right">
   1.0076
</td>
<td align="right">
 -.0002
</td>
<td>
2013-01-28 00:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
18:50:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.0080
</td>
<td align="right">
   1.0076
</td>
<td align="right">
 -.0004
</td>
<td>
2013-01-28 00:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
18:55:00
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
   1.0080
</td>
<td align="right">
   1.0078
</td>
<td align="right">
 -.0002
</td>
<td>
2013-01-28 00:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
19:05:00
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
   1.0076
</td>
<td align="right">
   1.0075
</td>
<td align="right">
 -.0001
</td>
<td>
2013-01-28 01:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
19:40:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0077
</td>
<td align="right">
   1.0070
</td>
<td align="right">
 -.0007
</td>
<td>
2013-01-28 01:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
19:45:00
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
   1.0076
</td>
<td align="right">
   1.0069
</td>
<td align="right">
 -.0007
</td>
<td>
2013-01-28 01:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
19:50:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0076
</td>
<td align="right">
   1.0065
</td>
<td align="right">
 -.0011
</td>
<td>
2013-01-28 01:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
19:55:00
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
   1.0078
</td>
<td align="right">
   1.0065
</td>
<td align="right">
 -.0013
</td>
<td>
2013-01-28 01:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
20:00:00
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
   1.0077
</td>
<td align="right">
   1.0064
</td>
<td align="right">
 -.0012
</td>
<td>
2013-01-28 02:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
20:10:00
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
   1.0072
</td>
<td align="right">
   1.0062
</td>
<td align="right">
 -.0010
</td>
<td>
2013-01-28 02:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
20:15:00
</td>
<td align="right">
  .80
</td>
<td>
Buy
</td>
<td align="right">
   1.0071
</td>
<td align="right">
   1.0065
</td>
<td align="right">
 -.0006
</td>
<td>
2013-01-28 02:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
20:20:00
</td>
<td align="right">
  .87
</td>
<td>
Buy
</td>
<td align="right">
   1.0071
</td>
<td align="right">
   1.0062
</td>
<td align="right">
 -.0009
</td>
<td>
2013-01-28 02:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
20:25:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.0070
</td>
<td align="right">
   1.0062
</td>
<td align="right">
 -.0007
</td>
<td>
2013-01-28 02:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
20:30:00
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
   1.0068
</td>
<td align="right">
   1.0064
</td>
<td align="right">
 -.0004
</td>
<td>
2013-01-28 02:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
20:35:00
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
   1.0068
</td>
<td align="right">
   1.0064
</td>
<td align="right">
 -.0003
</td>
<td>
2013-01-28 02:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
20:45:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0069
</td>
<td align="right">
   1.0061
</td>
<td align="right">
 -.0007
</td>
<td>
2013-01-28 02:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
20:50:00
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
   1.0065
</td>
<td align="right">
   1.0059
</td>
<td align="right">
 -.0005
</td>
<td>
2013-01-28 02:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
20:55:00
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
   1.0065
</td>
<td align="right">
   1.0058
</td>
<td align="right">
 -.0007
</td>
<td>
2013-01-28 02:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
21:00:00
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
   1.0064
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-28 03:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=usdcad">usd_cad</a></td>
<td>
2013-01-25
21:05:00
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
   1.0066
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2013-01-28 03:05:00
</td>
</tr>
</table>
<br />