<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="gmttimeathour6timetocloseposition">
GMT Time
<br>
at hour 6
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
07:40:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .7817
</td>
<td align="right">
    .7817
</td>
<td align="right">
  .0000
</td>
<td>
2012-07-30 13:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
07:45:00
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
    .7818
</td>
<td align="right">
    .7818
</td>
<td align="right">
  .0000
</td>
<td>
2012-07-30 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
07:50:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .7819
</td>
<td align="right">
    .7817
</td>
<td align="right">
 -.0002
</td>
<td>
2012-07-30 13:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
08:00:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .7824
</td>
<td align="right">
    .7818
</td>
<td align="right">
 -.0008
</td>
<td>
2012-07-30 14:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
08:05:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .7824
</td>
<td align="right">
    .7817
</td>
<td align="right">
 -.0008
</td>
<td>
2012-07-30 14:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
08:30:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .7819
</td>
<td align="right">
    .7812
</td>
<td align="right">
 -.0009
</td>
<td>
2012-07-30 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
08:40:00
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
    .7817
</td>
<td align="right">
    .7817
</td>
<td align="right">
  .0000
</td>
<td>
2012-07-30 14:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
08:45:00
</td>
<td align="right">
 -.87
</td>
<td>
Sell
</td>
<td align="right">
    .7818
</td>
<td align="right">
    .7821
</td>
<td align="right">
  .0003
</td>
<td>
2012-07-30 14:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
08:50:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .7817
</td>
<td align="right">
    .7823
</td>
<td align="right">
  .0008
</td>
<td>
2012-07-30 14:50:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
08:55:00
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    .7818
</td>
<td align="right">
    .7821
</td>
<td align="right">
  .0003
</td>
<td>
2012-07-30 14:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
09:00:00
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
    .7818
</td>
<td align="right">
    .7823
</td>
<td align="right">
  .0006
</td>
<td>
2012-07-30 15:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
09:05:00
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
    .7817
</td>
<td align="right">
    .7824
</td>
<td align="right">
  .0009
</td>
<td>
2012-07-30 15:05:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
09:10:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .7814
</td>
<td align="right">
    .7822
</td>
<td align="right">
  .0010
</td>
<td>
2012-07-30 15:10:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
09:15:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .7814
</td>
<td align="right">
    .7817
</td>
<td align="right">
  .0003
</td>
<td>
2012-07-30 15:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
09:30:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .7812
</td>
<td align="right">
    .7819
</td>
<td align="right">
  .0009
</td>
<td>
2012-07-30 15:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
09:35:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .7814
</td>
<td align="right">
    .7815
</td>
<td align="right">
  .0001
</td>
<td>
2012-07-30 15:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
09:40:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .7817
</td>
<td align="right">
    .7819
</td>
<td align="right">
  .0002
</td>
<td>
2012-07-30 15:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
10:00:00
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
    .7823
</td>
<td align="right">
    .7810
</td>
<td align="right">
 -.0016
</td>
<td>
2012-07-30 16:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
10:30:00
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
    .7819
</td>
<td align="right">
    .7810
</td>
<td align="right">
 -.0012
</td>
<td>
2012-07-30 16:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
10:35:00
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    .7815
</td>
<td align="right">
    .7808
</td>
<td align="right">
 -.0009
</td>
<td>
2012-07-30 16:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
10:40:00
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
    .7819
</td>
<td align="right">
    .7805
</td>
<td align="right">
 -.0018
</td>
<td>
2012-07-30 16:40:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
10:55:00
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
    .7808
</td>
<td align="right">
    .7803
</td>
<td align="right">
 -.0007
</td>
<td>
2012-07-30 16:55:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
11:00:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .7810
</td>
<td align="right">
    .7801
</td>
<td align="right">
 -.0012
</td>
<td>
2012-07-30 17:00:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
11:15:00
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
    .7810
</td>
<td align="right">
    .7797
</td>
<td align="right">
 -.0017
</td>
<td>
2012-07-30 17:15:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
11:20:00
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    .7811
</td>
<td align="right">
    .7794
</td>
<td align="right">
 -.0022
</td>
<td>
2012-07-30 17:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
11:25:00
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
    .7812
</td>
<td align="right">
    .7794
</td>
<td align="right">
 -.0023
</td>
<td>
2012-07-30 17:25:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
11:30:00
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    .7810
</td>
<td align="right">
    .7796
</td>
<td align="right">
 -.0018
</td>
<td>
2012-07-30 17:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=eurgbp">eur_gbp</a></td>
<td>
2012-07-30
11:35:00
</td>
<td align="right">
 -.67
</td>
<td>
Sell
</td>
<td align="right">
    .7808
</td>
<td align="right">
    .7801
</td>
<td align="right">
 -.0009
</td>
<td>
2012-07-30 17:35:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-07-30
07:20:00
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
   1.0474
</td>
<td align="right">
   1.0464
</td>
<td align="right">
 -.0010
</td>
<td>
2012-07-30 13:20:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-07-30
07:45:00
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
   1.0469
</td>
<td align="right">
   1.0462
</td>
<td align="right">
 -.0006
</td>
<td>
2012-07-30 13:45:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-07-30
08:30:00
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
   1.0462
</td>
<td align="right">
   1.0482
</td>
<td align="right">
  .0019
</td>
<td>
2012-07-30 14:30:00
</td>
</tr>
<tr>
<td><a target="g" href="http://www.google.com/finance?q=audusd">aud_usd</a></td>
<td>
2012-07-30
11:55:00
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
   1.0494
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td>
2012-07-30 17:55:00
</td>
</tr>
</table>
<br />